{
  "baseUrl": "https://recaptchaenterprise.googleapis.com/",
  "revision": "20260719",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "recaptchaenterprise",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "servicePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "basePath": "",
  "description": "Help protect your website from fraudulent activity, spam, and abuse without creating friction.",
  "title": "reCAPTCHA Enterprise API",
  "kind": "discovery#restDescription",
  "id": "recaptchaenterprise:v1",
  "documentationLink": "https://cloud.google.com/recaptcha-enterprise/",
  "mtlsRootUrl": "https://recaptchaenterprise.mtls.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GoogleCloudRecaptchaenterpriseV1IpOverrideData": {
      "id": "GoogleCloudRecaptchaenterpriseV1IpOverrideData",
      "properties": {
        "ip": {
          "description": "Required. The IP address to override (can be IPv4, IPv6 or CIDR). The IP override must be a valid IPv4 or IPv6 address, or a CIDR range. The IP override must be a public IP address. Example of IPv4: 168.192.5.6 Example of IPv6: 2001:0000:130F:0000:0000:09C0:876A:130B Example of IPv4 with CIDR: 168.192.5.0/24 Example of IPv6 with CIDR: 2001:0DB8:1234::/48",
          "type": "string"
        },
        "overrideType": {
          "enum": [
            "OVERRIDE_TYPE_UNSPECIFIED",
            "ALLOW"
          ],
          "description": "Required. Describes the type of IP override.",
          "enumDescriptions": [
            "Default override type that indicates this enum hasn't been specified.",
            "Allowlist the IP address; i.e. give a `risk_analysis.score` of 0.9 for all valid assessments."
          ],
          "type": "string"
        }
      },
      "description": "Information about the IP or IP range override.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup": {
      "type": "object",
      "description": "Configuration for API endpoints to protect with reCAPTCHA.",
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpointGroup",
      "properties": {
        "protectedEndpoints": {
          "description": "Optional. List of API endpoints to automatically protect with reCAPTCHA. If any of these endpoints is invoked from a page where a key bound to this policy is installed, a reCAPTCHA token is automatically generated and attached to the request. If multiple protected endpoints match a given API endpoint, the first one in the list is used.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionData": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionData",
      "properties": {
        "cardBin": {
          "description": "Optional. The Bank Identification Number - generally the first 6 or 8 digits of the card.",
          "type": "string"
        },
        "shippingValue": {
          "format": "double",
          "type": "number",
          "description": "Optional. The value of shipping in the specified currency. 0 for free or no shipping."
        },
        "user": {
          "description": "Optional. Information about the user paying/initiating the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
        },
        "transactionId": {
          "type": "string",
          "description": "Unique identifier for the transaction. This custom identifier can be used to reference this transaction in the future, for example, labeling a refund or chargeback event. Two attempts at the same transaction should use the same transaction id."
        },
        "paymentMethod": {
          "type": "string",
          "description": "Optional. The payment method for the transaction. The allowed values are: * credit-card * debit-card * gift-card * processor-{name} (If a third-party is used, for example, processor-paypal) * custom-{name} (If an alternative method is used, for example, custom-crypto)"
        },
        "shippingAddress": {
          "description": "Optional. Destination address if this transaction involves shipping a physical item.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "billingAddress": {
          "description": "Optional. Address associated with the payment method when applicable.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency code in ISO-4217 format."
        },
        "merchants": {
          "description": "Optional. Information about the user or users fulfilling the transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataUser"
          },
          "type": "array"
        },
        "cardLastFour": {
          "description": "Optional. The last four digits of the card.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "description": "Optional. The decimal value of the transaction in the specified currency.",
          "type": "number"
        },
        "gatewayInfo": {
          "description": "Optional. Information about the payment gateway's response to the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo"
        },
        "items": {
          "type": "array",
          "description": "Optional. Items purchased in this transaction.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem"
          }
        }
      },
      "type": "object",
      "description": "Transaction data associated with a payment protected by reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment": {
      "type": "object",
      "description": "Assessment for Phone Fraud",
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment",
      "properties": {
        "smsTollFraudVerdict": {
          "readOnly": true,
          "description": "Output only. Assessment of this phone event for risk of SMS toll fraud.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse": {
      "description": "The response to a `ListRelatedAccountGroupMemberships` call.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ListRelatedAccountGroupMembershipsResponse",
      "properties": {
        "relatedAccountGroupMemberships": {
          "description": "The memberships listed by the query.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup": {
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroup",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for the related account group in the format `projects/{project}/relatedaccountgroups/{related_account_group}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse": {
      "type": "object",
      "description": "Response for ListIpOverrides.",
      "id": "GoogleCloudRecaptchaenterpriseV1ListIpOverridesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. If this field is empty, no keys remain in the results."
        },
        "ipOverrides": {
          "type": "array",
          "description": "IP Overrides details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction",
      "properties": {},
      "description": "A redirect action returns a 307 (temporary redirect) response, pointing the user to a reCAPTCHA interstitial page to attach a token.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment": {
      "type": "object",
      "description": "Assessment for Fraud Prevention.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
      "properties": {
        "stolenInstrumentVerdict": {
          "readOnly": true,
          "description": "Output only. Assessment of this transaction for risk of a stolen instrument.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict"
        },
        "riskReasons": {
          "description": "Output only. Reasons why the transaction is probably fraudulent and received a high transaction risk score.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason"
          },
          "readOnly": true,
          "type": "array"
        },
        "cardTestingVerdict": {
          "description": "Output only. Assessment of this transaction for risk of being part of a card testing attack.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
          "readOnly": true
        },
        "transactionRisk": {
          "description": "Output only. Probability of this transaction being fraudulent. Summarizes the combined risk of attack vectors below. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "behavioralTrustVerdict": {
          "description": "Output only. Assessment of this transaction for behavioral trust.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataItem": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataItem",
      "properties": {
        "value": {
          "description": "Optional. The value per item that the user is paying, in the transaction currency, after discounts.",
          "type": "number",
          "format": "double"
        },
        "merchantAccountId": {
          "description": "Optional. When a merchant is specified, its corresponding account_id. Necessary to populate marketplace-style transactions.",
          "type": "string"
        },
        "quantity": {
          "description": "Optional. The quantity of this item that is being purchased.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Optional. The full name of the item.",
          "type": "string"
        }
      },
      "description": "Line items being purchased in this transaction.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction",
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. The address to redirect to. The target is a relative path in the current host. Example: \"/blog/404.html\"."
        }
      },
      "description": "A substitute action transparently serves a different page than the one requested.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Policy": {
      "type": "object",
      "description": "A complete configuration set containing multiple grouped rules defining the behavior of reCAPTCHA for fraud detection and prevention.",
      "id": "GoogleCloudRecaptchaenterpriseV1Policy",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this policy. Format: \"projects/{project}/keys/{key}/policy\" for a policy under a key.",
          "type": "string"
        },
        "clientSettings": {
          "description": "Required. Configuration for clients protected by this policy.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ClientSettings"
        },
        "challengeRuleGroups": {
          "type": "array",
          "description": "Optional. Rules to configure the behavior of reCAPTCHA for showing a challenge. Rule groups are evaluated in order. Evaluation stops when the first matching rule group is found.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals": {
      "description": "Signals describing the payment card used in this transaction.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals",
      "properties": {
        "cardLabels": {
          "description": "Output only. The labels for the payment card in this transaction.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No label specified.",
              "This card has been detected as prepaid.",
              "This card has been detected as virtual, such as a card number generated for a single transaction or merchant.",
              "This card has been detected as being used in an unexpected geographic location."
            ],
            "enum": [
              "CARD_LABEL_UNSPECIFIED",
              "PREPAID",
              "VIRTUAL",
              "UNEXPECTED_LOCATION"
            ]
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings": {
      "description": "Settings for POLICY_BASED_CHALLENGE keys to control when a challenge is triggered.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings",
      "properties": {
        "defaultSettings": {
          "description": "Required. Defines when a challenge is triggered (unless the default threshold is overridden for the given action, see `action_settings`).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
        },
        "actionSettings": {
          "type": "object",
          "description": "Optional. The action to score threshold map. The action name should be the same as the action name passed in the `data-action` attribute (see https://cloud.google.com/recaptcha/docs/actions-website). Action names are case-insensitive. There is a maximum of 100 action settings. An action name has a maximum length of 100.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest": {
      "description": "The RemoveIpOverride request message.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideRequest",
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override to be removed from the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup": {
      "description": "A collection of challenge rules that applies to one or more actions.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleGroup",
      "properties": {
        "actions": {
          "description": "Required. Action name provided at token generation. The action name is not case-sensitive and can only contain alphanumeric characters, slashes, and underscores. If \"*\" is provided, the rule group applies to all actions. If multiple actions are provided, the rule group is applied to all of them. This field is required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "challengeRules": {
          "description": "Required. A list of rules that configure when and how reCAPTCHA presents a challenge. reCAPTCHA evaluates these rules in order and applies the first one that matches.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TestingOptions": {
      "id": "GoogleCloudRecaptchaenterpriseV1TestingOptions",
      "properties": {
        "testingScore": {
          "type": "number",
          "description": "Optional. All assessments for this Key return this score. Must be between 0 (likely not legitimate) and 1 (likely legitimate) inclusive.",
          "format": "float"
        },
        "testingChallenge": {
          "description": "Optional. For challenge-based keys only (CHECKBOX, INVISIBLE), all challenge requests for this site return nocaptcha if NOCAPTCHA, or an unsolvable challenge if CHALLENGE.",
          "enumDescriptions": [
            "Perform the normal risk analysis and return either nocaptcha or a challenge depending on risk and trust factors.",
            "Challenge requests for this key always return a nocaptcha, which does not require a solution.",
            "Challenge requests for this key always return an unsolvable challenge."
          ],
          "type": "string",
          "enum": [
            "TESTING_CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "UNSOLVABLE_CHALLENGE"
          ]
        }
      },
      "type": "object",
      "description": "Options for user acceptance testing."
    },
    "GoogleCloudRecaptchaenterpriseV1Event": {
      "id": "GoogleCloudRecaptchaenterpriseV1Event",
      "properties": {
        "requestedUri": {
          "description": "Optional. The URI resource the user requested that triggered an assessment.",
          "type": "string"
        },
        "ja3": {
          "description": "Optional. JA3 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/salesforce/ja3.",
          "type": "string"
        },
        "firewallPolicyEvaluation": {
          "description": "Optional. Flag for enabling firewall policy config assessment. If this flag is enabled, the firewall policy is evaluated and a suggested firewall action is returned in the response.",
          "type": "boolean"
        },
        "fraudPrevention": {
          "enum": [
            "FRAUD_PREVENTION_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Optional. The Fraud Prevention setting for this assessment.",
          "enumDescriptions": [
            "Default, unspecified setting. `fraud_prevention_assessment` is returned if `transaction_data` is present in `Event` and Fraud Prevention is enabled in the Google Cloud console.",
            "Enable Fraud Prevention for this assessment, if Fraud Prevention is enabled in the Google Cloud console.",
            "Disable Fraud Prevention for this assessment, regardless of the Google Cloud console settings."
          ],
          "type": "string"
        },
        "userInfo": {
          "description": "Optional. Information about the user that generates this event, when they can be identified. They are often identified through the use of an account for logged-in requests or login/registration requests, or by providing user identifiers for guest actions like checkout.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UserInfo"
        },
        "headers": {
          "description": "Optional. HTTP header information about the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "wafTokenAssessment": {
          "description": "Optional. Flag for running Web Application Firewall (WAF) token assessment. If enabled, the token must be specified, and have been created by a WAF-enabled key.",
          "type": "boolean"
        },
        "transactionData": {
          "description": "Optional. Data describing a payment transaction to be assessed. Sending this data enables reCAPTCHA Enterprise Fraud Prevention and the FraudPreventionAssessment component in the response.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionData"
        },
        "express": {
          "type": "boolean",
          "description": "Optional. Flag for a reCAPTCHA express request for an assessment without a token. If enabled, `site_key` must reference an Express site key."
        },
        "userAgent": {
          "description": "Optional. The user agent present in the request from the user's device related to this event.",
          "type": "string"
        },
        "hashedAccountId": {
          "description": "Optional. Deprecated: use `user_info.account_id` instead. Unique stable hashed user identifier for the request. The identifier must be hashed using hmac-sha256 with stable secret.",
          "type": "string",
          "format": "byte",
          "deprecated": true
        },
        "token": {
          "type": "string",
          "description": "Optional. The user response token provided by the reCAPTCHA Enterprise client-side integration on your site."
        },
        "expectedAction": {
          "type": "string",
          "description": "Optional. The expected action for this type of event. This should be the same action provided at token generation time on client-side platforms already integrated with recaptcha enterprise. Required for Universal keys."
        },
        "userIpAddress": {
          "type": "string",
          "description": "Optional. The IP address in the request from the user's device related to this event."
        },
        "siteKey": {
          "type": "string",
          "description": "Optional. The site key that was used to invoke reCAPTCHA Enterprise on your site and generate the token."
        },
        "ja4": {
          "type": "string",
          "description": "Optional. JA4 fingerprint for SSL clients. To learn how to compute this fingerprint, please refer to https://github.com/FoxIO-LLC/ja4."
        }
      },
      "description": "The event being assessed.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1Bot": {
      "description": "Bot information and metadata.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Bot",
      "properties": {
        "botType": {
          "type": "string",
          "description": "Optional. Enumerated field representing the type of bot.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Software program that interacts with a site and performs tasks autonomously.",
            "Software that extracts specific data from sites for use.",
            "Software that crawls sites and stores content for the purpose of efficient retrieval, likely as part of a search engine."
          ],
          "enum": [
            "BOT_TYPE_UNSPECIFIED",
            "AI_AGENT",
            "CONTENT_SCRAPER",
            "SEARCH_INDEXER"
          ]
        },
        "name": {
          "description": "Optional. Enumerated string value that indicates the identity of the bot, formatted in kebab-case. Current example values include the following: * google-agent - AI_AGENT * browser-base - AI_AGENT * chat-gpt - AI_AGENT * aws-bedrock - AI_AGENT * cybaa-bot - AI_AGENT * cloudflare - AI_AGENT * payhawk - AI_AGENT * duck-duck-go - SEARCH_INDEXER * mediaboard - CONTENT_SCRAPER * marker-io - AI_AGENT * broadcom - AI_AGENT * anchor-browser - AI_AGENT * shopify - AI_AGENT * stackscope - CONTENT_SCRAPER * manus - AI_AGENT * kernel-sh - AI_AGENT * zvelo - SEARCH_INDEXER Ensure that your applications can handle identifier values not explicitly listed here. Deprecated values might take some time to stop showing up in responses. New values can be pushed so this list should be taken as non exhaustive.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
      "properties": {
        "activeDaysLowerBound": {
          "format": "int32",
          "description": "Output only. This user (based on email, phone, and other identifiers) has been seen on the internet for at least this number of days.",
          "readOnly": true,
          "type": "integer"
        },
        "syntheticRisk": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Likelihood (from 0.0 to 1.0) this user includes synthetic components in their identity, such as a randomly generated email address, temporary phone number, or fake shipping address."
        }
      },
      "type": "object",
      "description": "Signals describing the user involved in this transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings": {
      "type": "object",
      "description": "Per-action challenge settings.",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsActionSettings",
      "properties": {
        "scoreThreshold": {
          "description": "Required. A challenge is triggered if the end-user score is below that threshold. Value must be between 0 and 1 (inclusive).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1UserInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserInfo",
      "properties": {
        "createAccountTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Creation time for this account associated with this user. Leave blank for non logged-in actions, guest checkout, or when there is no account associated with the current user."
        },
        "accountId": {
          "description": "Optional. For logged-in requests or login/registration requests, the unique account identifier associated with this user. You can use the username if it is stable (meaning it is the same for every request associated with the same user), or any stable user ID of your choice. Leave blank for non logged-in actions or guest checkout.",
          "type": "string"
        },
        "userIds": {
          "type": "array",
          "description": "Optional. Identifiers associated with this user or request.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1UserId"
          }
        }
      },
      "type": "object",
      "description": "User information associated with a request protected by reCAPTCHA Enterprise."
    },
    "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings": {
      "description": "Settings for keys that are configured through their Policy.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings",
      "properties": {}
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1IOSKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings",
      "properties": {
        "allowedBundleIds": {
          "description": "Optional. iOS bundle IDs of apps allowed to use the key. Example: 'com.companyname.productname.appname' Each key supports a maximum of 250 bundle IDs. To use a key on more apps, set `allow_all_bundle_ids` to true. When this is set, you are responsible for validating the bundle id by checking the `token_properties.ios_bundle_id` field in each assessment response against your list of allowed bundle IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appleDeveloperId": {
          "description": "Optional. Apple Developer account details for the app that is protected by the reCAPTCHA Key. reCAPTCHA leverages platform-specific checks like Apple App Attest and Apple DeviceCheck to protect your app from abuse. Providing these fields allows reCAPTCHA to get a better assessment of the integrity of your app.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AppleDeveloperId"
        },
        "allowAllBundleIds": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_bundle_ids are not enforced."
        }
      },
      "type": "object",
      "description": "Settings specific to keys that can be used by iOS apps."
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict": {
      "type": "object",
      "description": "Information about stolen instrument fraud, where the user is not the legitimate owner of the instrument being used for the purchase.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentStolenInstrumentVerdict",
      "properties": {
        "risk": {
          "description": "Output only. Probability of this transaction being executed with a stolen instrument. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreMetrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics",
      "properties": {
        "overallMetrics": {
          "description": "Aggregated score metrics for all traffic.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
        },
        "actionMetrics": {
          "description": "Action-based metrics. The map key is the action name which specified by the site owners at time of the \"execute\" client-side call.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution"
          },
          "type": "object"
        }
      },
      "description": "Metrics related to scoring.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesResponse",
      "properties": {},
      "type": "object",
      "description": "The reorder firewall policies response message."
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTrustReason",
      "properties": {
        "reason": {
          "description": "Output only. A trust reason associated with this request.",
          "enumDescriptions": [
            "Default unspecified type.",
            "The request matches a trusted profile associated with this account. Equivalent to `AccountDefenderLabel.PROFILE_MATCH`.",
            "The account's historical activity is reputable. It is unlikely that the account has been compromised in the past.",
            "The identity shows a global pattern of reputable activity based on `userInfo` and associated identifiers.",
            "The identity shows a long-standing history of reputable activity based on `userInfo` and associated identifiers."
          ],
          "readOnly": true,
          "enum": [
            "TRUST_REASON_UNSPECIFIED",
            "PROFILE_MATCH",
            "ACCOUNT_HISTORY_REPUTABLE",
            "IDENTITY_GLOBAL_ACTIVITY_REPUTABLE",
            "IDENTITY_HISTORY_REPUTABLE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Trust explainability reasons for Account defense."
    },
    "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings": {
      "id": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings",
      "properties": {
        "supportNonGoogleAppStoreDistribution": {
          "description": "Optional. Set to true for keys that are used in an Android application that is available for download in app stores in addition to the Google Play Store.",
          "type": "boolean"
        },
        "allowAllPackageNames": {
          "type": "boolean",
          "description": "Optional. If set to true, allowed_package_names are not enforced."
        },
        "allowedPackageNames": {
          "type": "array",
          "description": "Optional. Android package names of apps allowed to use the key. Example: 'com.companyname.appname' Each key supports a maximum of 250 package names. To use a key on more apps, set `allow_all_package_names` to true. When this is set, you are responsible for validating the package name by checking the `token_properties.android_package_name` field in each assessment response against your list of allowed package names.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Settings specific to keys that can be used by Android apps."
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics",
      "properties": {
        "pageloadCount": {
          "format": "int64",
          "description": "Count of reCAPTCHA checkboxes or badges rendered. This is mostly equivalent to a count of pageloads for pages that include reCAPTCHA.",
          "type": "string"
        },
        "failedCount": {
          "description": "Count of submitted challenge solutions that were incorrect or otherwise deemed suspicious such that a subsequent challenge was triggered.",
          "type": "string",
          "format": "int64"
        },
        "passedCount": {
          "description": "Count of nocaptchas (successful verification without a challenge) plus submitted challenge solutions that were correct and resulted in verification.",
          "type": "string",
          "format": "int64"
        },
        "nocaptchaCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of nocaptchas (successful verification without a challenge) issued."
        }
      },
      "type": "object",
      "description": "Metrics related to challenges."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallAction",
      "properties": {
        "redirect": {
          "description": "This action redirects the request to a reCAPTCHA interstitial to attach a token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionRedirectAction"
        },
        "setHeader": {
          "description": "This action sets a custom header but allow the request to continue to the customer backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSetHeaderAction"
        },
        "includeRecaptchaScript": {
          "description": "This action injects reCAPTCHA JavaScript code into the HTML page returned by the site backend.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction"
        },
        "allow": {
          "description": "The user request did not match any policy and should be allowed access to the requested resource.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionAllowAction"
        },
        "block": {
          "description": "This action denies access to a given page. The user gets an HTTP error code.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction"
        },
        "substitute": {
          "description": "This action transparently serves a different page to an offending user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallActionSubstituteAction"
        }
      },
      "description": "An individual action. Each action represents what to do if a policy matches.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentBehavioralTrustVerdict",
      "properties": {
        "trust": {
          "description": "Output only. Probability of this transaction attempt being executed in a behaviorally trustworthy way. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "description": "Information about behavioral trust of the transaction.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings": {
      "type": "object",
      "description": "Settings specific to keys that can be used for reCAPTCHA Express.",
      "id": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideResponse",
      "properties": {},
      "type": "object",
      "description": "Response for AddIpOverride."
    },
    "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent": {
      "id": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent",
      "properties": {
        "phoneNumber": {
          "description": "Required. Phone number in E.164 format for which a multi-factor authentication challenge was initiated, succeeded, or failed.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The time at which the multi-factor authentication event (challenge or verification) occurred."
        }
      },
      "type": "object",
      "description": "Details on a phone authentication event"
    },
    "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse": {
      "description": "Response for RemoveIpOverride.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1RemoveIpOverrideResponse",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountRiskReason",
      "properties": {
        "reason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A risk reason associated with this request.",
          "enumDescriptions": [
            "Default unspecified type.",
            "The client has been observed sending bot-like traffic to this site in the past. This reason incorporates historical reputation and indicates that the client is known to use bots, even if the current request is being made by a human.",
            "The account is part of a large group of related accounts, indicating that it may be part of a fraudulent network. Related accounts are identified based on having similar traffic patterns and request characteristics.",
            "The client has been observed accessing many accounts on this site.",
            "This email domain is a suspected provider of disposable email addresses."
          ],
          "enum": [
            "RISK_REASON_UNSPECIFIED",
            "CLIENT_HISTORICAL_BOT_ACTIVITY",
            "ACCOUNT_IN_LARGE_RELATED_GROUP",
            "CLIENT_ACCESSED_MANY_ACCOUNTS",
            "DISPOSABLE_EMAIL_DOMAIN"
          ]
        }
      },
      "description": "Risk explainability reasons for Account defense.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership": {
      "id": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership",
      "properties": {
        "name": {
          "description": "Required. Identifier. The resource name for this membership in the format `projects/{project}/relatedaccountgroups/{relatedaccountgroup}/memberships/{membership}`.",
          "type": "string"
        },
        "accountId": {
          "description": "The unique stable account identifier of the member. The identifier corresponds to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "type": "string"
        },
        "hashedAccountId": {
          "description": "Deprecated: use `account_id` instead. The unique stable hashed account identifier of the member. The identifier corresponds to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call.",
          "type": "string",
          "format": "byte",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "A membership in a group of related accounts."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction": {
      "type": "object",
      "description": "An include reCAPTCHA script action involves injecting reCAPTCHA JavaScript code into the HTML returned by the site backend. This reCAPTCHA script is tasked with collecting user signals on the requested web page, issuing tokens as a cookie within the site domain, and enabling their utilization in subsequent page requests.",
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionIncludeRecaptchaScriptAction",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1UserId": {
      "id": "GoogleCloudRecaptchaenterpriseV1UserId",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. A unique username, if different from all the other identifiers and `account_id` that are provided. Can be a unique login handle or display name for a user."
        },
        "email": {
          "type": "string",
          "description": "Optional. An email address."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. A phone number. Should use the E.164 format."
        }
      },
      "type": "object",
      "description": "An identifier associated with a user."
    },
    "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse": {
      "type": "object",
      "description": "Secret key is used only in legacy reCAPTCHA. It must be used in a 3rd party integration with legacy reCAPTCHA.",
      "id": "GoogleCloudRecaptchaenterpriseV1RetrieveLegacySecretKeyResponse",
      "properties": {
        "legacySecretKey": {
          "description": "The secret key (also known as shared secret) authorizes communication between your application backend and the reCAPTCHA Enterprise server to create an assessment. The secret key needs to be kept safe for security purposes.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AnnotateAssessmentRequest",
      "properties": {
        "transactionEvent": {
          "description": "Optional. If the assessment is part of a payment transaction, provide details on payment lifecycle events that occur in the transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TransactionEvent"
        },
        "accountId": {
          "description": "Optional. A stable account identifier to apply to the assessment. This is an alternative to setting `account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string"
        },
        "phoneAuthenticationEvent": {
          "description": "Optional. If using an external multi-factor authentication provider, provide phone authentication details for fraud detection purposes.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneAuthenticationEvent"
        },
        "annotation": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true
          ],
          "description": "Optional. The annotation that is assigned to the Event. This field can be left empty to provide reasons that apply to an event without concluding whether the event is legitimate or fraudulent.",
          "enumDescriptions": [
            "Default unspecified type.",
            "Provides information that the event turned out to be legitimate.",
            "Provides information that the event turned out to be fraudulent.",
            "Provides information that the event was related to a login event in which the user typed the correct password. Deprecated, prefer indicating CORRECT_PASSWORD through the reasons field instead.",
            "Provides information that the event was related to a login event in which the user typed the incorrect password. Deprecated, prefer indicating INCORRECT_PASSWORD through the reasons field instead."
          ],
          "enum": [
            "ANNOTATION_UNSPECIFIED",
            "LEGITIMATE",
            "FRAUDULENT",
            "PASSWORD_CORRECT",
            "PASSWORD_INCORRECT"
          ]
        },
        "reasons": {
          "type": "array",
          "description": "Optional. Reasons for the annotation that are assigned to the event.",
          "items": {
            "enum": [
              "REASON_UNSPECIFIED",
              "CHARGEBACK",
              "CHARGEBACK_FRAUD",
              "CHARGEBACK_DISPUTE",
              "REFUND",
              "REFUND_FRAUD",
              "TRANSACTION_ACCEPTED",
              "TRANSACTION_DECLINED",
              "PAYMENT_HEURISTICS",
              "INITIATED_TWO_FACTOR",
              "PASSED_TWO_FACTOR",
              "FAILED_TWO_FACTOR",
              "CORRECT_PASSWORD",
              "INCORRECT_PASSWORD",
              "SOCIAL_SPAM"
            ],
            "enumDescriptions": [
              "Unspecified reason. Do not use.",
              "Indicates that the transaction had a chargeback issued with no other details. When possible, specify the type by using CHARGEBACK_FRAUD or CHARGEBACK_DISPUTE instead.",
              "Indicates that the transaction had a chargeback issued related to an alleged unauthorized transaction from the cardholder's perspective (for example, the card number was stolen).",
              "Indicates that the transaction had a chargeback issued related to the cardholder having provided their card details but allegedly not being satisfied with the purchase (for example, misrepresentation, attempted cancellation).",
              "Indicates that the completed payment transaction was refunded by the seller.",
              "Indicates that the completed payment transaction was determined to be fraudulent by the seller, and was cancelled and refunded as a result.",
              "Indicates that the payment transaction was accepted, and the user was charged.",
              "Indicates that the payment transaction was declined, for example due to invalid card details.",
              "Indicates the transaction associated with the assessment is suspected of being fraudulent based on the payment method, billing details, shipping address or other transaction information.",
              "Indicates that the user was served a 2FA challenge. An old assessment with `ENUM_VALUES.INITIATED_TWO_FACTOR` reason that has not been overwritten with `PASSED_TWO_FACTOR` is treated as an abandoned 2FA flow. This is equivalent to `FAILED_TWO_FACTOR`.",
              "Indicates that the user passed a 2FA challenge.",
              "Indicates that the user failed a 2FA challenge.",
              "Indicates the user provided the correct password.",
              "Indicates the user provided an incorrect password.",
              "Indicates that the user sent unwanted and abusive messages to other users of the platform, such as spam, scams, phishing, or social engineering."
            ],
            "type": "string"
          }
        },
        "hashedAccountId": {
          "description": "Optional. A stable hashed account identifier to apply to the assessment. This is an alternative to setting `hashed_account_id` in `CreateAssessment`, for example when a stable account identifier is not yet known in the initial request.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "The request message to annotate an Assessment.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict": {
      "description": "Information about card testing fraud, where an adversary is testing fraudulently obtained cards or brute forcing their details.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentCardTestingVerdict",
      "properties": {
        "risk": {
          "description": "Output only. Probability of this transaction attempt being part of a card testing attack. Values are from 0.0 (lowest) to 1.0 (highest).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation": {
      "type": "object",
      "description": "Information about the evaluation of a `ChallengeRule`.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
      "properties": {}
    },
    "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListFirewallPoliciesResponse",
      "properties": {
        "firewallPolicies": {
          "description": "Policy details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no policies remain in results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response to request to list firewall policies belonging to a project."
    },
    "GoogleCloudRecaptchaenterpriseV1Assessment": {
      "description": "A reCAPTCHA Enterprise assessment resource.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Assessment",
      "properties": {
        "firewallPolicyAssessment": {
          "description": "Output only. Assessment returned when firewall policies belonging to the project are evaluated using the field firewall_policy_evaluation.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallPolicyAssessment",
          "readOnly": true
        },
        "accountDefenderAssessment": {
          "description": "Output only. Assessment returned by Account defense when an account identifier is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
          "readOnly": true
        },
        "riskAnalysis": {
          "readOnly": true,
          "description": "Output only. The risk analysis result for the event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis"
        },
        "name": {
          "description": "Output only. Identifier. The resource name for the Assessment in the format `projects/{project}/assessments/{assessment}`.",
          "readOnly": true,
          "type": "string"
        },
        "fraudPreventionAssessment": {
          "description": "Output only. Assessment returned by Fraud Prevention when TransactionData is provided.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessment",
          "readOnly": true
        },
        "assessmentEnvironment": {
          "description": "Optional. The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment"
        },
        "fraudSignals": {
          "description": "Output only. Fraud Signals specific to the users involved in a payment transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
          "readOnly": true
        },
        "accountVerification": {
          "description": "Optional. Account verification information for identity verification. The assessment event must include a token and site key to use this feature.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountVerificationInfo"
        },
        "privatePasswordLeakVerification": {
          "description": "Optional. The private password leak verification field contains the parameters that are used to to check for leaks privately without sharing user credentials.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification"
        },
        "event": {
          "description": "Optional. The event being assessed.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1Event"
        },
        "policyEvaluation": {
          "readOnly": true,
          "description": "Output only. Provides information about the policy evaluation for this assessment.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation"
        },
        "tokenProperties": {
          "readOnly": true,
          "description": "Output only. Properties of the provided event token.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TokenProperties"
        },
        "phoneFraudAssessment": {
          "readOnly": true,
          "description": "Output only. Assessment returned when a site key, a token, and a phone number as `user_id` are provided. SMS defense needs to be enabled.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1PhoneFraudAssessment"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataAddress",
      "properties": {
        "address": {
          "description": "Optional. The first lines of the address. The first line generally contains the street name and number, and further lines may include information such as an apartment number.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "locality": {
          "description": "Optional. The town/city of the address.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. The state, province, or otherwise administrative area of the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The CLDR country/region of the address.",
          "type": "string"
        },
        "recipient": {
          "type": "string",
          "description": "Optional. The recipient name, potentially including information such as \"care of\"."
        },
        "postalCode": {
          "description": "Optional. The postal or ZIP code of the address.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Structured address format for billing and shipping addresses."
    },
    "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification": {
      "id": "GoogleCloudRecaptchaenterpriseV1PrivatePasswordLeakVerification",
      "properties": {
        "lookupHashPrefix": {
          "format": "byte",
          "description": "Required. Exactly 26-bit prefix of the SHA-256 hash of the canonicalized username. It is used to look up password leaks associated with that hash prefix.",
          "type": "string"
        },
        "encryptedUserCredentialsHash": {
          "description": "Optional. Encrypted Scrypt hash of the canonicalized username+password. It is re-encrypted by the server and returned through `reencrypted_user_credentials_hash`.",
          "type": "string",
          "format": "byte"
        },
        "reencryptedUserCredentialsHash": {
          "description": "Output only. Corresponds to the re-encryption of the `encrypted_user_credentials_hash` field. It is used to match potential password leaks within `encrypted_leak_match_prefixes`.",
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "encryptedLeakMatchPrefixes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of prefixes of the encrypted potential password leaks that matched the given parameters. They must be compared with the client-side decryption prefix of `reencrypted_user_credentials_hash`",
          "items": {
            "type": "string",
            "format": "byte"
          }
        }
      },
      "description": "Private password leak verification info.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionEvent": {
      "type": "object",
      "description": "Describes an event in the lifecycle of a payment transaction.",
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionEvent",
      "properties": {
        "reason": {
          "description": "Optional. The reason or standardized code that corresponds with this transaction event, if one exists. For example, a CHARGEBACK event with code 6005.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when this transaction event occurred; otherwise assumed to be the time of the API call."
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Optional. The value that corresponds with this transaction event, if one exists. For example, a refund event where $5.00 was refunded. Currency is obtained from the original transaction data."
        },
        "eventType": {
          "enum": [
            "TRANSACTION_EVENT_TYPE_UNSPECIFIED",
            "MERCHANT_APPROVE",
            "MERCHANT_DENY",
            "MANUAL_REVIEW",
            "AUTHORIZATION",
            "AUTHORIZATION_DECLINE",
            "PAYMENT_CAPTURE",
            "PAYMENT_CAPTURE_DECLINE",
            "CANCEL",
            "CHARGEBACK_INQUIRY",
            "CHARGEBACK_ALERT",
            "FRAUD_NOTIFICATION",
            "CHARGEBACK",
            "CHARGEBACK_REPRESENTMENT",
            "CHARGEBACK_REVERSE",
            "REFUND_REQUEST",
            "REFUND_DECLINE",
            "REFUND",
            "REFUND_REVERSE"
          ],
          "type": "string",
          "description": "Optional. The type of this transaction event.",
          "enumDescriptions": [
            "Default, unspecified event type.",
            "Indicates that the transaction is approved by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is denied and concluded due to risks detected by the merchant. The accompanying reasons can include terms such as 'INHOUSE', 'ACCERTIFY', 'CYBERSOURCE', or 'MANUAL_REVIEW'.",
            "Indicates that the transaction is being evaluated by a human, due to suspicion or risk.",
            "Indicates that the authorization attempt with the card issuer succeeded.",
            "Indicates that the authorization attempt with the card issuer failed. The accompanying reasons can include Visa's '54' indicating that the card is expired, or '82' indicating that the CVV is incorrect.",
            "Indicates that the transaction is completed because the funds were settled.",
            "Indicates that the transaction could not be completed because the funds were not settled.",
            "Indicates that the transaction has been canceled. Specify the reason for the cancellation. For example, 'INSUFFICIENT_INVENTORY'.",
            "Indicates that the merchant has received a chargeback inquiry due to fraud for the transaction, requesting additional information before a fraud chargeback is officially issued and a formal chargeback notification is sent.",
            "Indicates that the merchant has received a chargeback alert due to fraud for the transaction. The process of resolving the dispute without involving the payment network is started.",
            "Indicates that a fraud notification is issued for the transaction, sent by the payment instrument's issuing bank because the transaction appears to be fraudulent. We recommend including TC40 or SAFE data in the `reason` field for this event type. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant is informed by the payment network that the transaction has entered the chargeback process due to fraud. Reason code examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has entered the chargeback process due to fraud, and that the merchant has chosen to enter representment. Reason examples include Discover's '6005' and '6041'. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the transaction has had a fraud chargeback which was illegitimate and was reversed as a result. For partial chargebacks, we recommend that you include an amount in the `value` field.",
            "Indicates that the merchant has received a refund for a completed transaction. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the merchant has received a refund request for this transaction, but that they have declined it. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant. For partial refunds, we recommend that you include an amount in the `value` field. Reason example: 'TAX_EXEMPT' (partial refund of exempt tax)",
            "Indicates that the completed transaction was refunded by the merchant, and that this refund was reversed. For partial refunds, we recommend that you include an amount in the `value` field."
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint": {
      "id": "GoogleCloudRecaptchaenterpriseV1ProtectedEndpoint",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. URI path of the API endpoint to protect. Must start with '/'. Supports glob characters '*' to match a single path segment and '**' to match multiple path segments. Standalone root catch-alls ('/*' and '/**') are invalid because it can negatively impact performance to trigger reCAPTCHA on every single request to your backend. Matching is evaluated against the URL path only (domain, scheme, and query parameters are ignored). Examples: - `/login` matches `/login`, `https://example.com/login`, and `/login?query=1`, but not `/login/step1`. - `/products/*` matches `/products/123`, but not `/products/123/456`. - `/content/**` matches `/content/articles/2024/01/01`."
        },
        "action": {
          "type": "string",
          "description": "Required. Action name to be used for token generation for this endpoint. The action name can only contain alphanumeric characters, slashes, and underscores."
        }
      },
      "description": "Configuration for an API endpoint to protect with reCAPTCHA.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1WafSettings": {
      "description": "Settings specific to keys that can be used for WAF (Web Application Firewall).",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WafSettings",
      "properties": {
        "wafService": {
          "enum": [
            "WAF_SERVICE_UNSPECIFIED",
            "CA",
            "FASTLY",
            "CLOUDFLARE",
            "AKAMAI"
          ],
          "description": "Required. The Web Application Firewall (WAF) service that uses this key.",
          "enumDescriptions": [
            "Undefined WAF",
            "Cloud Armor",
            "Fastly",
            "Cloudflare",
            "Akamai"
          ],
          "type": "string"
        },
        "wafFeature": {
          "enum": [
            "WAF_FEATURE_UNSPECIFIED",
            "CHALLENGE_PAGE",
            "SESSION_TOKEN",
            "ACTION_TOKEN",
            "EXPRESS"
          ],
          "description": "Required. The Web Application Firewall (WAF) feature for which this key is enabled.",
          "enumDescriptions": [
            "Undefined feature.",
            "Redirects suspicious traffic to reCAPTCHA.",
            "Use reCAPTCHA session-tokens to protect the whole user session on the site's domain.",
            "Use reCAPTCHA action-tokens to protect user actions.",
            "Deprecated: Use `express_settings` instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TokenProperties": {
      "id": "GoogleCloudRecaptchaenterpriseV1TokenProperties",
      "properties": {
        "hostname": {
          "description": "Output only. The hostname of the page on which the token was generated (Web keys only).",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp corresponding to the generation of the token.",
          "format": "google-datetime"
        },
        "androidPackageName": {
          "description": "Output only. The name of the Android package with which the token was generated (Android keys only).",
          "readOnly": true,
          "type": "string"
        },
        "iosBundleId": {
          "description": "Output only. The ID of the iOS bundle with which the token was generated (iOS keys only).",
          "readOnly": true,
          "type": "string"
        },
        "valid": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the provided user response token is valid. If `false`, the token is invalid, either because the user failed the challenge or for a reason provided in the `invalid_reason` field."
        },
        "invalidReason": {
          "enum": [
            "INVALID_REASON_UNSPECIFIED",
            "UNKNOWN_INVALID_REASON",
            "MALFORMED",
            "EXPIRED",
            "DUPE",
            "MISSING",
            "BROWSER_ERROR",
            "UNEXPECTED_ACTION",
            "KEY_MISMATCH",
            "DOMAIN_MISMATCH"
          ],
          "readOnly": true,
          "description": "Output only. Reason associated with the response when valid = false.",
          "enumDescriptions": [
            "Default unspecified type.",
            "If the failure reason was not accounted for.",
            "The provided user verification token was malformed.",
            "The user verification token had expired.",
            "The user verification had already been seen.",
            "The user verification token was not present.",
            "A retriable error (such as network failure) occurred on the browser. Could easily be simulated by an attacker.",
            "The action provided at token generation was different than the `expected_action` in the assessment request. The comparison is case-insensitive. This reason can only be returned if all of the following are true: - your `site_key` has the POLICY_BASED_CHALLENGE integration type - you set an action score threshold higher than 0.0 - you provided a non-empty `expected_action`",
            "The key used to generate the token does not match the `site_key`.",
            "The domain of the page on which the token was generated does not match the `allowed_domains` configured in the `site_key`."
          ],
          "type": "string"
        },
        "action": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Action name provided at token generation."
        }
      },
      "type": "object",
      "description": "Properties of the provided event token."
    },
    "GoogleCloudRecaptchaenterpriseV1RiskAnalysis": {
      "type": "object",
      "description": "Risk analysis result for an event.",
      "id": "GoogleCloudRecaptchaenterpriseV1RiskAnalysis",
      "properties": {
        "score": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Legitimate event score from 0.0 to 1.0. (1.0 means very likely legitimate traffic while 0.0 means very likely non-legitimate traffic)."
        },
        "lastChallengeType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the last challenge presented to the user for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys. The field is only set when a challenge was presented to the user.",
          "enumDescriptions": [
            "Default unspecified type.",
            "A visual challenge.",
            "An audio challenge."
          ],
          "enum": [
            "CHALLENGE_TYPE_UNSPECIFIED",
            "CHALLENGE_TYPE_VISUAL",
            "CHALLENGE_TYPE_AUDIO"
          ]
        },
        "verifiedBots": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Bots with identities that have been verified by reCAPTCHA and detected in the event.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Bot"
          }
        },
        "challenge": {
          "type": "string",
          "description": "Output only. Challenge information for Universal, `POLICY_BASED_CHALLENGE` and `INVISIBLE` keys.",
          "enumDescriptions": [
            "Default unspecified type.",
            "No challenge was presented for solving.",
            "A solution was submitted that was correct.",
            "A solution was submitted that was incorrect or otherwise deemed suspicious."
          ],
          "readOnly": true,
          "enum": [
            "CHALLENGE_UNSPECIFIED",
            "NOCAPTCHA",
            "PASSED",
            "FAILED"
          ]
        },
        "reasons": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Reasons contributing to the risk analysis verdict.",
          "items": {
            "enumDescriptions": [
              "Default unspecified type.",
              "Interactions matched the behavior of an automated agent.",
              "The event originated from an illegitimate environment.",
              "Traffic volume from the event source is higher than normal.",
              "Interactions with the site were significantly different than expected patterns.",
              "Too little traffic has been received from this site thus far to generate quality risk analysis.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.EXCESSIVE_ENUMERATION_PATTERN instead.",
              "Deprecated: Use FraudPreventionAssessment.transaction_risk and FraudPreventionAssessment.RiskReason.Reason.ASSOCIATED_WITH_FRAUD_CLUSTER instead."
            ],
            "type": "string",
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              true
            ],
            "enum": [
              "CLASSIFICATION_REASON_UNSPECIFIED",
              "AUTOMATION",
              "UNEXPECTED_ENVIRONMENT",
              "TOO_MUCH_TRAFFIC",
              "UNEXPECTED_USAGE_PATTERNS",
              "LOW_CONFIDENCE_SCORE",
              "SUSPECTED_CARDING",
              "SUSPECTED_CHARGEBACK"
            ]
          }
        },
        "extendedVerdictReasons": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Additional reasons contributing to the risk analysis verdict. These reasons are available to Enterprise tier projects only. Contact sales for more information. The set of reasons is subject to change.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1FraudSignals": {
      "id": "GoogleCloudRecaptchaenterpriseV1FraudSignals",
      "properties": {
        "cardSignals": {
          "readOnly": true,
          "description": "Output only. Signals describing the payment card or cards used in this transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsCardSignals"
        },
        "userSignals": {
          "description": "Output only. Signals describing the end user in this transaction.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1FraudSignalsUserSignals",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Fraud signals describing users and cards involved in the transaction."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallActionBlockAction",
      "properties": {},
      "description": "A block action serves an HTTP error code a prevents the request from hitting the backend.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason": {
      "type": "object",
      "description": "Risk reasons applicable to the Fraud Prevention assessment.",
      "id": "GoogleCloudRecaptchaenterpriseV1FraudPreventionAssessmentRiskReason",
      "properties": {
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "HIGH_TRANSACTION_VELOCITY",
            "EXCESSIVE_ENUMERATION_PATTERN",
            "SHORT_IDENTITY_HISTORY",
            "GEOLOCATION_DISCREPANCY",
            "ASSOCIATED_WITH_FRAUD_CLUSTER"
          ],
          "description": "Output only. Risk reasons applicable to the Fraud Prevention assessment.",
          "enumDescriptions": [
            "Default unspecified type.",
            "A suspiciously high number of recent transactions have used identifiers present in this transaction.",
            "User is cycling through a suspiciously large number of identifiers, suggesting enumeration or validation attacks within a potential fraud network.",
            "User has a short history or no history in the reCAPTCHA network, suggesting the possibility of synthetic identity generation.",
            "Identifiers used in this transaction originate from an unusual or conflicting set of geolocations.",
            "This transaction is linked to a cluster of known fraudulent activity."
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome",
      "properties": {},
      "type": "object",
      "description": "An outcome that indicates that no challenge should be presented to the user."
    },
    "GoogleCloudRecaptchaenterpriseV1Key": {
      "description": "A key used to identify and configure applications (web and/or mobile) that use reCAPTCHA Enterprise.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1Key",
      "properties": {
        "androidSettings": {
          "description": "Settings for keys that can be used by Android apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AndroidKeySettings"
        },
        "universalSettings": {
          "description": "Settings for keys that are configured through their Policy.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1UniversalKeySettings"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp corresponding to the creation of this key.",
          "format": "google-datetime"
        },
        "wafSettings": {
          "description": "Optional. Settings for Web Application Firewall (WAF).",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WafSettings"
        },
        "expressSettings": {
          "description": "Settings for keys that can be used by reCAPTCHA Express.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ExpressKeySettings"
        },
        "iosSettings": {
          "description": "Settings for keys that can be used by iOS apps.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IOSKeySettings"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of this key. Modifiable by user."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the Key in the format `projects/{project}/keys/{key}`."
        },
        "webSettings": {
          "description": "Settings for keys that can be used by websites.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettings"
        },
        "testingOptions": {
          "description": "Optional. Options for user acceptance testing.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1TestingOptions"
        },
        "labels": {
          "description": "Optional. See [Creating and managing labels] (https://cloud.google.com/recaptcha/docs/labels).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1WebKeySettings": {
      "description": "Settings specific to keys that can be used by websites.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1WebKeySettings",
      "properties": {
        "allowAllDomains": {
          "type": "boolean",
          "description": "Optional. If set to true, it means allowed_domains are not enforced."
        },
        "allowedDomains": {
          "type": "array",
          "description": "Optional. Domains or subdomains of websites allowed to use the key. All subdomains of an allowed domain are automatically allowed. A valid domain requires a host and must not include any path, port, query or fragment. Examples: 'example.com' or 'subdomain.example.com' Each key supports a maximum of 250 domains. To use a key on more domains, set `allow_all_domains` to true. When this is set, you are responsible for validating the hostname by checking the `token_properties.hostname` field in each assessment response against your list of allowed domains.",
          "items": {
            "type": "string"
          }
        },
        "integrationType": {
          "enum": [
            "INTEGRATION_TYPE_UNSPECIFIED",
            "SCORE",
            "CHECKBOX",
            "INVISIBLE",
            "POLICY_BASED_CHALLENGE"
          ],
          "type": "string",
          "description": "Required. Describes how this key is integrated with the website.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified. This is not a valid IntegrationType, one of the other types must be specified instead.",
            "Only used to produce scores. It doesn't display the \"I'm not a robot\" checkbox and never shows captcha challenges.",
            "Displays the \"I'm not a robot\" checkbox and may show captcha challenges after it is checked.",
            "Doesn't display the \"I'm not a robot\" checkbox, but may show captcha challenges after risk analysis.",
            "Displays a visual challenge or not depending on the user risk analysis score."
          ]
        },
        "allowAmpTraffic": {
          "type": "boolean",
          "description": "Optional. If set to true, the key can be used on AMP (Accelerated Mobile Pages) websites. This is supported only for the SCORE integration type."
        },
        "challengeSettings": {
          "description": "Optional. Challenge settings.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1WebKeySettingsChallengeSettings"
        },
        "challengeSecurityPreference": {
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "type": "string",
          "description": "Optional. Settings for the frequency and difficulty at which this key triggers captcha challenges. This should only be specified for `IntegrationType` CHECKBOX, INVISIBLE or POLICY_BASED_CHALLENGE.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ]
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment": {
      "id": "GoogleCloudRecaptchaenterpriseV1AssessmentEnvironment",
      "properties": {
        "client": {
          "description": "Optional. Identifies the client module initiating the CreateAssessment request. This can be the link to the client module's project. Examples include: - \"github.com/GoogleCloudPlatform/recaptcha-enterprise-google-tag-manager\" - \"wordpress.org/plugins/recaptcha-something\"",
          "type": "string"
        },
        "version": {
          "description": "Optional. The version of the client module. For example, \"1.0.0\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The environment creating the assessment. This describes your environment (the system invoking CreateAssessment), NOT the environment of your user."
    },
    "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest": {
      "type": "object",
      "description": "The reorder firewall policies request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1ReorderFirewallPoliciesRequest",
      "properties": {
        "names": {
          "description": "Required. A list containing all policy names, in the new order. Each name is in the format `projects/{project}/firewallpolicies/{firewallpolicy}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment": {
      "id": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessment",
      "properties": {
        "accountTakeoverVerdict": {
          "description": "Output only. Account takeover risk assessment for this request.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1AccountDefenderAssessmentAccountTakeoverVerdict",
          "readOnly": true
        },
        "labels": {
          "description": "Output only. Labels for this request.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified type.",
              "The request matches a trusted profile associated with this account.",
              "The request is potentially a suspicious login event and must be further verified either through multi-factor authentication or another system.",
              "The request matched a profile that previously had suspicious account creation behavior. This can mean that this is a fake account.",
              "The account in the request has a high number of related accounts. It does not necessarily imply that the account is bad but can require further investigation."
            ],
            "enum": [
              "ACCOUNT_DEFENDER_LABEL_UNSPECIFIED",
              "PROFILE_MATCH",
              "SUSPICIOUS_LOGIN_ACTIVITY",
              "SUSPICIOUS_ACCOUNT_CREATION",
              "RELATED_ACCOUNTS_NUMBER_HIGH"
            ]
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Account defense risk assessment.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict": {
      "description": "Information about SMS toll fraud.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1SmsTollFraudVerdict",
      "properties": {
        "reasons": {
          "description": "Output only. Reasons contributing to the SMS toll fraud verdict.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified reason",
              "The provided phone number was invalid"
            ],
            "enum": [
              "SMS_TOLL_FRAUD_REASON_UNSPECIFIED",
              "INVALID_PHONE_NUMBER"
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "risk": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Probability of an SMS event being fraudulent. Values are from 0.0 (lowest) to 1.0 (highest).",
          "format": "float"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ScoreDistribution": {
      "type": "object",
      "description": "Score distribution.",
      "id": "GoogleCloudRecaptchaenterpriseV1ScoreDistribution",
      "properties": {
        "scoreBuckets": {
          "description": "Map key is score value multiplied by 100. The scores are discrete values between [0, 1]. The maximum number of buckets is on order of a few dozen, but typically much lower (ie. 10).",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome": {
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome",
      "properties": {
        "difficulty": {
          "enum": [
            "CHALLENGE_SECURITY_PREFERENCE_UNSPECIFIED",
            "USABILITY",
            "BALANCE",
            "SECURITY"
          ],
          "type": "string",
          "description": "Optional. The difficulty of the challenge to present to the user. If unspecified, `BALANCE` is used.",
          "enumDescriptions": [
            "Default type that indicates this enum hasn't been specified.",
            "Key tends to show fewer and easier challenges.",
            "Key tends to show balanced (in amount and difficulty) challenges.",
            "Key tends to show more and harder challenges."
          ]
        }
      },
      "description": "An outcome that indicates that a challenge of a specified difficulty should be presented to the user.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1AddIpOverrideRequest",
      "properties": {
        "ipOverrideData": {
          "description": "Required. IP override added to the key.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1IpOverrideData"
        }
      },
      "type": "object",
      "description": "The AddIpOverride request message."
    },
    "GoogleCloudRecaptchaenterpriseV1Metrics": {
      "type": "object",
      "description": "Metrics for a single Key.",
      "id": "GoogleCloudRecaptchaenterpriseV1Metrics",
      "properties": {
        "challengeMetrics": {
          "type": "array",
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. Only challenge-based keys (CHECKBOX, INVISIBLE) have challenge-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeMetrics"
          }
        },
        "startTime": {
          "description": "Inclusive start time aligned to a day in the America/Los_Angeles (Pacific) timezone.",
          "type": "string",
          "format": "google-datetime"
        },
        "scoreMetrics": {
          "description": "Metrics are continuous and in order by dates, and in the granularity of day. All Key types should have score-based data.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1ScoreMetrics"
          },
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The name of the metrics, in the format `projects/{project}/keys/{key}/metrics`."
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse": {
      "type": "object",
      "description": "The response to a `SearchRelatedAccountGroupMemberships` call.",
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "relatedAccountGroupMemberships": {
          "type": "array",
          "description": "The queried memberships.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1RelatedAccountGroupMembership"
          }
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest": {
      "type": "object",
      "description": "The migrate key request message.",
      "id": "GoogleCloudRecaptchaenterpriseV1MigrateKeyRequest",
      "properties": {
        "skipBillingCheck": {
          "description": "Optional. If true, skips the billing check. A reCAPTCHA Enterprise key or migrated key behaves differently than a reCAPTCHA (non-Enterprise version) key when you reach a quota limit (see https://docs.cloud.google.com/recaptcha/quotas#quota_limit). To avoid any disruption of your usage, we check that a billing account is present. If your usage of reCAPTCHA is under the free quota, you can safely skip the billing check and proceed with the migration. See https://cloud.google.com/recaptcha/docs/billing-information.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest": {
      "id": "GoogleCloudRecaptchaenterpriseV1SearchRelatedAccountGroupMembershipsRequest",
      "properties": {
        "accountId": {
          "description": "Optional. The unique stable account identifier used to search connections. The identifier should correspond to an `account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 50 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
          "type": "integer"
        },
        "hashedAccountId": {
          "type": "string",
          "description": "Optional. Deprecated: use `account_id` instead. The unique stable hashed account identifier used to search connections. The identifier should correspond to a `hashed_account_id` provided in a previous `CreateAssessment` or `AnnotateAssessment` call. Either hashed_account_id or account_id must be set, but not both.",
          "deprecated": true,
          "format": "byte"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchRelatedAccountGroupMemberships` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchRelatedAccountGroupMemberships` must match the call that provided the page token."
        }
      },
      "type": "object",
      "description": "The request message to search related account group memberships."
    },
    "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation": {
      "description": "Information about the policy evaluation.",
      "type": "object",
      "id": "GoogleCloudRecaptchaenterpriseV1PolicyEvaluation",
      "properties": {
        "challengeRuleEvaluation": {
          "description": "Output only. Populated if one or more Challenge rules were matched. Its presence in the assessment indicates that at least one challenge rule was matched and determined whether a challenge was presented to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleEvaluation",
          "readOnly": true
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1ChallengeRule": {
      "type": "object",
      "description": "A rule to configure the behavior of reCAPTCHA for conditionally presenting a challenge.",
      "id": "GoogleCloudRecaptchaenterpriseV1ChallengeRule",
      "properties": {
        "noChallenge": {
          "description": "Do not present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleNoChallengeOutcome"
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL condition that must be met for this rule to apply. If unspecified, the rule applies unconditionally. The following fields can be referenced in the condition: * `score` * `user_ip_address` * `user_asn` * `user_agent` * `verified_bots.name` * `verified_bots.bot_type` Examples: * `score < 0.5` * `user_ip_address == \"123.45.67.89\"` * `user_agent.contains(\"Chrome\")` * `score < 0.5 && user_ip_address == \"123.45.67.89\"`"
        },
        "challenge": {
          "description": "Present a challenge to the user.",
          "$ref": "GoogleCloudRecaptchaenterpriseV1ChallengeRuleChallengeOutcome"
        }
      }
    },
    "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo": {
      "id": "GoogleCloudRecaptchaenterpriseV1TransactionDataGatewayInfo",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the gateway service (for example, stripe, square, paypal)."
        },
        "gatewayResponseCode": {
          "description": "Optional. Gateway response code describing the state of the transaction.",
          "type": "string"
        },
        "cvvResponseCode": {
          "description": "Optional. CVV response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization).",
          "type": "string"
        },
        "avsResponseCode": {
          "type": "string",
          "description": "Optional. AVS response code from the gateway (available only when reCAPTCHA Enterprise is called after authorization)."
        }
      },
      "description": "Details about the transaction from the gateway.",
      "type": "object"
    },
    "GoogleCloudRecaptchaenterpriseV1ListKeysResponse": {
      "id": "GoogleCloudRecaptchaenterpriseV1ListKeysResponse",
      "properties": {
        "keys": {
          "description": "Key details.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1Key"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no keys remain in results."
        }
      },
      "type": "object",
      "description": "Response to request to list keys in a project."
    },
    "GoogleCloudRecaptchaenterpriseV1FirewallPolicy": {
      "id": "GoogleCloudRecaptchaenterpriseV1FirewallPolicy",
      "properties": {
        "description": {
          "description": "Optional. A description of what this policy aims to achieve, for convenience purposes. The description can at most include 256 UTF-8 characters.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Optional. A CEL (Common Expression Language) conditional expression that specifies if this policy applies to an incoming user request. If this condition evaluates to true and the requested path matched the path pattern, the associated actions should be executed by the caller. The condition string is checked for CEL syntax correctness on creation. For more information, see the [CEL spec](https://github.com/google/cel-spec) and its [language definition](https://github.com/google/cel-spec/blob/master/doc/langdef.md). A condition has a max length of 500 characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for the FirewallPolicy in the format `projects/{project}/firewallpolicies/{firewallpolicy}`."
        },
        "path": {
          "description": "Optional. The path for which this policy applies, specified as a glob pattern. For more information on glob, see the [manual page](https://man7.org/linux/man-pages/man7/glob.7.html). A path has a max length of 200 characters.",
          "type": "string"
        },
        "actions": {
          "description": "Optional. The actions that the caller should take regarding user access. There should be at most one terminal action. A terminal action is any action that forces a response, such as `AllowAction`, `BlockAction` or `SubstituteAction`. Zero or more non-terminal actions such as `SetHeader` might be specified. A single policy can contain up to 16 actions.",
          "items": {
            "$ref": "GoogleCloudRecaptchaenterpriseV1FirewallAction"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A FirewallPolicy represents a single matching pattern and resulting actions to take."
    },
[...]
