{
  "ownerDomain": "google.com",
  "title": "Recommender API",
  "baseUrl": "https://recommender.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://recommender.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/recommender/docs/",
  "revision": "20260710",
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Recommender",
  "schemas": {
    "GoogleCloudRecommenderV1CostProjection": {
      "properties": {
        "cost": {
          "description": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices.",
          "$ref": "GoogleTypeMoney"
        },
        "duration": {
          "type": "string",
          "description": "Duration for which this cost applies.",
          "format": "google-duration"
        },
        "costInLocalCurrency": {
          "description": "The approximate cost savings in the billing account's local currency.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "description": "Contains metadata about how much money a recommendation can save or incur.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1CostProjection"
    },
    "GoogleCloudRecommenderV1ListInsightsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Insight"
          },
          "description": "The set of insights for the `parent` resource."
        }
      },
      "description": "Response to the `ListInsights` method.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1ListInsightsResponse"
    },
    "GoogleCloudRecommenderV1RecommendationStateInfo": {
      "properties": {
        "stateMetadata": {
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "description": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED.",
          "enumDescriptions": [
            "Default state. Don't use directly.",
            "Recommendation is active and can be applied. Recommendations content can be updated by Google. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ]
        }
      },
      "description": "Information for state. Contains state and metadata.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1RecommendationStateInfo"
    },
    "GoogleCloudRecommenderV1ReliabilityProjection": {
      "id": "GoogleCloudRecommenderV1ReliabilityProjection",
      "type": "object",
      "description": "Contains information on the impact of a reliability recommendation.",
      "properties": {
        "risks": {
          "description": "Reliability risks mitigated by this recommendation.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ],
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ]
          }
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Per-recommender projection."
        }
      }
    },
    "GoogleCloudRecommenderV1ListRecommendationsResponse": {
      "description": "Response to the `ListRecommendations` method.",
      "properties": {
        "recommendations": {
          "description": "The set of recommendations for the `parent` resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Recommendation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        }
      },
      "id": "GoogleCloudRecommenderV1ListRecommendationsResponse",
      "type": "object"
    },
    "GoogleCloudRecommenderV1Impact": {
      "properties": {
        "costProjection": {
          "description": "Use with CategoryType.COST",
          "$ref": "GoogleCloudRecommenderV1CostProjection"
        },
        "service": {
          "description": "The service that this impact is associated with.",
          "type": "string"
        },
        "securityProjection": {
          "description": "Use with CategoryType.SECURITY",
          "$ref": "GoogleCloudRecommenderV1SecurityProjection"
        },
        "sustainabilityProjection": {
          "description": "Use with CategoryType.SUSTAINABILITY",
          "$ref": "GoogleCloudRecommenderV1SustainabilityProjection"
        },
        "reliabilityProjection": {
          "description": "Use with CategoryType.RELIABILITY",
          "$ref": "GoogleCloudRecommenderV1ReliabilityProjection"
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified category. Don't use directly.",
            "Indicates a potential increase or decrease in cost.",
            "Indicates a potential increase or decrease in security.",
            "Indicates a potential increase or decrease in performance.",
            "Indicates a potential increase or decrease in manageability.",
            "Indicates a potential increase or decrease in sustainability.",
            "Indicates a potential increase or decrease in reliability."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "description": "Category that is being targeted."
        }
      },
      "description": "Contains the impact a recommendation can have for a given category.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1Impact"
    },
    "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest": {
      "description": "Request for the `MarkRecommendationClaimed` Method.",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`."
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest",
      "type": "object"
    },
    "GoogleCloudRecommenderV1RecommenderGenerationConfig": {
      "properties": {
        "params": {
          "description": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1RecommenderGenerationConfig"
    },
    "GoogleCloudRecommenderV1InsightRecommendationReference": {
      "id": "GoogleCloudRecommenderV1InsightRecommendationReference",
      "type": "object",
      "description": "Reference to an associated recommendation.",
      "properties": {
        "recommendation": {
          "description": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1RecommenderConfig": {
      "id": "GoogleCloudRecommenderV1RecommenderConfig",
      "type": "object",
      "description": "Configuration for a Recommender.",
      "properties": {
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        },
        "recommenderGenerationConfig": {
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender.",
          "$ref": "GoogleCloudRecommenderV1RecommenderGenerationConfig"
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        }
      }
    },
    "GoogleCloudRecommenderV1Recommendation": {
      "description": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc",
      "properties": {
        "associatedInsights": {
          "description": "Insights that led to this recommendation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1RecommendationInsightReference"
          }
        },
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "Recommendation has unspecified priority.",
            "Recommendation has P4 priority (lowest priority).",
            "Recommendation has P3 priority (second lowest priority).",
            "Recommendation has P2 priority (second highest priority).",
            "Recommendation has P1 priority (highest priority)."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P4",
            "P3",
            "P2",
            "P1"
          ],
          "description": "Recommendation's priority."
        },
        "recommenderSubtype": {
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\"",
          "type": "string"
        },
        "additionalImpact": {
          "description": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Impact"
          }
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "stateInfo": {
          "description": "Information for state. Contains state and metadata.",
          "$ref": "GoogleCloudRecommenderV1RecommendationStateInfo"
        },
        "primaryImpact": {
          "description": "The primary impact that this recommendation can have while trying to optimize for one category.",
          "$ref": "GoogleCloudRecommenderV1Impact"
        },
        "etag": {
          "description": "Fingerprint of the Recommendation. Provides optimistic locking when updating states.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommendation."
        },
        "content": {
          "description": "Content of the recommendation describing recommended changes to resources.",
          "$ref": "GoogleCloudRecommenderV1RecommendationContent"
        },
        "xorGroupId": {
          "type": "string",
          "description": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied."
        },
        "lastRefreshTime": {
          "type": "string",
          "description": "Last time this recommendation was refreshed by the system that created it in the first place.",
          "format": "google-datetime"
        },
        "targetResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Fully qualified resource names that this recommendation is targeting."
        }
      },
      "id": "GoogleCloudRecommenderV1Recommendation",
      "type": "object"
    },
    "GoogleCloudRecommenderV1SustainabilityProjection": {
      "id": "GoogleCloudRecommenderV1SustainabilityProjection",
      "type": "object",
      "description": "Contains metadata about how much sustainability a recommendation can save or incur.",
      "properties": {
        "kgCO2e": {
          "type": "number",
          "description": "Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e so that the name renders correctly in camelCase (kgCO2e).",
          "format": "double"
        },
        "duration": {
          "type": "string",
          "description": "Duration for which this sustainability applies.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudRecommenderV1ValueMatcher": {
      "id": "GoogleCloudRecommenderV1ValueMatcher",
      "type": "object",
      "description": "Contains various matching options for values for a GCP resource field.",
      "properties": {
        "matchesPattern": {
          "type": "string",
          "description": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch"
        }
      }
    },
    "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "description": "Request for the `MarkRecommendationDismissed` Method.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
    },
    "GoogleCloudRecommenderV1InsightTypeConfig": {
      "description": "Configuration for an InsightType.",
      "properties": {
        "updateTime": {
          "description": "Last time when the config was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config"
        },
        "insightTypeGenerationConfig": {
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type.",
          "$ref": "GoogleCloudRecommenderV1InsightTypeGenerationConfig"
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1InsightTypeConfig",
      "type": "object"
    },
    "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest": {
      "description": "Request for the `MarkRecommendationSucceeded` Method.",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "id": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest",
      "type": "object"
    },
    "GoogleCloudRecommenderV1RecommendationContent": {
      "description": "Contains what resources are changing and how they are changing.",
      "properties": {
        "operationGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1OperationGroup"
          },
          "description": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order."
        },
        "overview": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Condensed overview information about the recommendation."
        }
      },
      "id": "GoogleCloudRecommenderV1RecommendationContent",
      "type": "object"
    },
    "GoogleCloudRecommenderV1OperationGroup": {
      "id": "GoogleCloudRecommenderV1OperationGroup",
      "type": "object",
      "description": "Group of operations that need to be performed atomically.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Operation"
          },
          "description": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear."
        }
      }
    },
    "GoogleCloudRecommenderV1Insight": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Free-form human readable summary in English. The maximum length is 500 characters."
        },
        "targetResources": {
          "description": "Fully qualified resource names that this insight is targeting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stateInfo": {
          "description": "Information state and metadata.",
          "$ref": "GoogleCloudRecommenderV1InsightStateInfo"
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Insight. Provides optimistic locking when updating states."
        },
        "lastRefreshTime": {
          "description": "Timestamp of the latest data used to generate the insight.",
          "format": "google-datetime",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Insight has unspecified severity.",
            "Insight has low severity.",
            "Insight has medium severity.",
            "Insight has high severity.",
            "Insight has critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Insight's severity.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the insight.",
          "type": "string"
        },
        "content": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\""
        },
        "associatedRecommendations": {
          "description": "Recommendations derived from this insight.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1InsightRecommendationReference"
          }
        },
        "insightSubtype": {
          "type": "string",
          "description": "Insight subtype. Insight content schema will be stable for a given subtype."
        },
        "observationPeriod": {
          "description": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period).",
          "format": "google-duration",
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "Unspecified category.",
            "The insight is related to cost.",
            "The insight is related to security.",
            "The insight is related to performance.",
            "This insight is related to manageability.",
            "The insight is related to sustainability.",
            "This insight is related to reliability."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "description": "Category being targeted by the insight.",
          "type": "string"
        }
      },
      "description": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1Insight"
    },
    "GoogleCloudRecommenderV1MarkInsightAcceptedRequest": {
      "description": "Request for the `MarkInsightAccepted` method.",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata."
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Insight. Provides optimistic locking."
        }
      },
      "id": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudRecommenderV1MarkRecommendationFailedRequest": {
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "description": "Request for the `MarkRecommendationFailed` Method.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
    },
    "GoogleCloudRecommenderV1SecurityProjection": {
      "description": "Contains various ways of describing the impact on Security.",
      "properties": {
        "details": {
          "description": "Additional security impact details that is provided by the recommender.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudRecommenderV1SecurityProjection",
      "type": "object"
    },
    "GoogleCloudRecommenderV1InsightStateInfo": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1InsightStateInfo",
      "properties": {
        "stateMetadata": {
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "description": "Insight state.",
          "enumDescriptions": [
            "Unspecified state.",
            "Insight is active. Content for ACTIVE insights can be updated by Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.",
            "Some action has been taken based on this insight. Insights become accepted when a recommendation derived from the insight has been marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked ACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED insights can only be marked ACCEPTED (which may update state metadata).",
            "Insight is dismissed. Content for DISMISSED insights can be updated by Google. DISMISSED insights can be marked as ACTIVE."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ACCEPTED",
            "DISMISSED"
          ]
        }
      },
      "description": "Information related to insight state."
    },
    "GoogleCloudRecommenderV1InsightTypeGenerationConfig": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
      "properties": {
        "params": {
          "description": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight."
    },
    "GoogleCloudRecommenderV1Operation": {
      "properties": {
        "resource": {
          "description": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo.",
          "type": "string"
        },
        "value": {
          "type": "any",
          "description": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed."
        },
        "sourcePath": {
          "type": "string",
          "description": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types."
        },
        "action": {
          "type": "string",
          "description": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and custom operations. This field is case-insensitive and always populated."
        },
        "sourceResource": {
          "description": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`.",
          "type": "string"
        },
        "pathFilters": {
          "description": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "valueMatcher": {
          "description": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation.",
          "$ref": "GoogleCloudRecommenderV1ValueMatcher"
        },
        "resourceType": {
          "description": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated."
        },
        "pathValueMatchers": {
          "description": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommenderV1ValueMatcher"
          }
        }
      },
      "description": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1Operation"
    },
    "GoogleCloudRecommenderV1RecommendationInsightReference": {
      "id": "GoogleCloudRecommenderV1RecommendationInsightReference",
      "type": "object",
      "description": "Reference to an associated insight.",
      "properties": {
        "insight": {
          "type": "string",
          "description": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]"
        }
      }
    }
  },
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "insightTypes": {
              "resources": {
                "insights": {
                  "methods": {
                    "markAccepted": {
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight."
                        }
                      },
                      "id": "recommender.folders.locations.insightTypes.insights.markAccepted",
                      "path": "v1/{+name}:markAccepted",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types."
                        }
                      },
                      "id": "recommender.folders.locations.insightTypes.insights.list",
                      "path": "v1/{+parent}/insights",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "id": "recommender.folders.locations.insightTypes.insights.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "list": {
                      "id": "recommender.folders.locations.recommenders.recommendations.list",
                      "path": "v1/{+parent}/recommendations",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markFailed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.folders.locations.recommenders.recommendations.markFailed",
                      "path": "v1/{+name}:markFailed",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                      },
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed"
                    },
                    "get": {
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markClaimed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.markClaimed",
                      "path": "v1/{+name}:markClaimed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED, SUCCEEDED, FAILED, or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed"
                    },
                    "markSucceeded": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "id": "recommender.folders.locations.recommenders.recommendations.markSucceeded",
                      "path": "v1/{+name}:markSucceeded",
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "markDismissed": {
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.markDismissed",
                      "path": "v1/{+name}:markDismissed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "insightTypes": {
              "methods": {
                "updateConfig": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "id": "recommender.projects.locations.insightTypes.updateConfig",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getConfig": {
                  "id": "recommender.projects.locations.insightTypes.getConfig",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "insights": {
                  "methods": {
                    "markAccepted": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the insight.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "recommender.projects.locations.insightTypes.insights.markAccepted",
                      "path": "v1/{+name}:markAccepted"
                    },
                    "list": {
                      "id": "recommender.projects.locations.insightTypes.insights.list",
                      "path": "v1/{+parent}/insights",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the insight.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$"
                        }
                      },
                      "id": "recommender.projects.locations.insightTypes.insights.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type."
                    }
                  }
                }
              }
            },
            "recommenders": {
              "methods": {
                "updateConfig": {
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "recommender.projects.locations.recommenders.updateConfig",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getConfig": {
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`"
                    }
                  },
                  "id": "recommender.projects.locations.recommenders.getConfig",
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "recommendations": {
                  "methods": {
                    "markFailed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                      },
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "id": "recommender.projects.locations.recommenders.recommendations.markFailed",
                      "path": "v1/{+name}:markFailed",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "recommender.projects.locations.recommenders.recommendations.list",
                      "path": "v1/{+parent}/recommendations",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markSucceeded": {
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "id": "recommender.projects.locations.recommenders.recommendations.markSucceeded",
                      "path": "v1/{+name}:markSucceeded",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "markDismissed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "id": "recommender.projects.locations.recommenders.recommendations.markDismissed",
                      "path": "v1/{+name}:markDismissed",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation."
                        }
                      },
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}"
                    },
                    "markClaimed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED, SUCCEEDED, FAILED, or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "id": "recommender.projects.locations.recommenders.recommendations.markClaimed",
                      "path": "v1/{+name}:markClaimed",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "locations": {
          "resources": {
            "recommenders": {
              "methods": {
                "updateConfig": {
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query"
                    }
                  },
                  "id": "recommender.billingAccounts.locations.recommenders.updateConfig",
                  "path": "v1/{+name}"
                },
                "getConfig": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "recommender.billingAccounts.locations.recommenders.getConfig",
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "recommendations": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.list",
                      "path": "v1/{+parent}/recommendations",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders."
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markFailed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation."
                        }
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markFailed",
                      "path": "v1/{+name}:markFailed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                      },
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed"
                    },
                    "markClaimed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED, SUCCEEDED, FAILED, or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markClaimed",
                      "path": "v1/{+name}:markClaimed"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markDismissed": {
                      "parameters": {
                        "name": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markDismissed",
                      "path": "v1/{+name}:markDismissed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "markSucceeded": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
[...]
