{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://recommender.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/recommender/docs/",
  "name": "recommender",
  "discoveryVersion": "v1",
  "canonicalName": "Recommender",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://recommender.googleapis.com/",
  "schemas": {
    "GoogleCloudRecommenderV1InsightTypeConfig": {
      "type": "object",
      "description": "Configuration for an InsightType.",
      "properties": {
        "insightTypeGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type."
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last time when the config was updated.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces."
        }
      },
      "id": "GoogleCloudRecommenderV1InsightTypeConfig"
    },
    "GoogleCloudRecommenderV1Operation": {
      "type": "object",
      "description": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC.",
      "properties": {
        "sourceResource": {
          "type": "string",
          "description": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`."
        },
        "resourceType": {
          "description": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance",
          "type": "string"
        },
        "sourcePath": {
          "type": "string",
          "description": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types."
        },
        "resource": {
          "description": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo.",
          "type": "string"
        },
        "path": {
          "description": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and custom operations. This field is case-insensitive and always populated."
        },
        "value": {
          "description": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed.",
          "type": "any"
        },
        "valueMatcher": {
          "$ref": "GoogleCloudRecommenderV1ValueMatcher",
          "description": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation."
        },
        "pathFilters": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "type": "object"
        },
        "pathValueMatchers": {
          "type": "object",
          "description": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommenderV1ValueMatcher"
          }
        }
      },
      "id": "GoogleCloudRecommenderV1Operation"
    },
    "GoogleCloudRecommenderV1MarkInsightAcceptedRequest": {
      "id": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest",
      "description": "Request for the `MarkInsightAccepted` method.",
      "properties": {
        "stateMetadata": {
          "type": "object",
          "description": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Insight. Provides optimistic locking.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1OperationGroup": {
      "description": "Group of operations that need to be performed atomically.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Operation"
          },
          "description": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommenderV1OperationGroup"
    },
    "GoogleCloudRecommenderV1ReliabilityProjection": {
      "id": "GoogleCloudRecommenderV1ReliabilityProjection",
      "type": "object",
      "description": "Contains information on the impact of a reliability recommendation.",
      "properties": {
        "details": {
          "type": "object",
          "description": "Per-recommender projection.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "risks": {
          "type": "array",
          "items": {
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ],
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ],
            "type": "string"
          },
          "description": "Reliability risks mitigated by this recommendation."
        }
      }
    },
    "GoogleTypeMoney": {
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "id": "GoogleTypeMoney"
    },
    "GoogleCloudRecommenderV1Impact": {
      "id": "GoogleCloudRecommenderV1Impact",
      "description": "Contains the impact a recommendation can have for a given category.",
      "properties": {
        "reliabilityProjection": {
          "description": "Use with CategoryType.RELIABILITY",
          "$ref": "GoogleCloudRecommenderV1ReliabilityProjection"
        },
        "securityProjection": {
          "description": "Use with CategoryType.SECURITY",
          "$ref": "GoogleCloudRecommenderV1SecurityProjection"
        },
        "category": {
          "type": "string",
          "description": "Category that is being targeted.",
          "enumDescriptions": [
            "Default unspecified category. Don't use directly.",
            "Indicates a potential increase or decrease in cost.",
            "Indicates a potential increase or decrease in security.",
            "Indicates a potential increase or decrease in performance.",
            "Indicates a potential increase or decrease in manageability.",
            "Indicates a potential increase or decrease in sustainability.",
            "Indicates a potential increase or decrease in reliability."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ]
        },
        "service": {
          "description": "The service that this impact is associated with.",
          "type": "string"
        },
        "sustainabilityProjection": {
          "description": "Use with CategoryType.SUSTAINABILITY",
          "$ref": "GoogleCloudRecommenderV1SustainabilityProjection"
        },
        "costProjection": {
          "$ref": "GoogleCloudRecommenderV1CostProjection",
          "description": "Use with CategoryType.COST"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1Insight": {
      "id": "GoogleCloudRecommenderV1Insight",
      "type": "object",
      "description": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the insight.",
          "type": "string"
        },
        "associatedRecommendations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1InsightRecommendationReference"
          },
          "description": "Recommendations derived from this insight."
        },
        "severity": {
          "type": "string",
          "description": "Insight's severity.",
          "enumDescriptions": [
            "Insight has unspecified severity.",
            "Insight has low severity.",
            "Insight has medium severity.",
            "Insight has high severity.",
            "Insight has critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "targetResources": {
          "description": "Fully qualified resource names that this insight is targeting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Insight. Provides optimistic locking when updating states."
        },
        "insightSubtype": {
          "type": "string",
          "description": "Insight subtype. Insight content schema will be stable for a given subtype."
        },
        "content": {
          "type": "object",
          "description": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\"",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "lastRefreshTime": {
          "type": "string",
          "description": "Timestamp of the latest data used to generate the insight.",
          "format": "google-datetime"
        },
        "stateInfo": {
          "$ref": "GoogleCloudRecommenderV1InsightStateInfo",
          "description": "Information state and metadata."
        },
        "observationPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period)."
        },
        "category": {
          "enumDescriptions": [
            "Unspecified category.",
            "The insight is related to cost.",
            "The insight is related to security.",
            "The insight is related to performance.",
            "This insight is related to manageability.",
            "The insight is related to sustainability.",
            "This insight is related to reliability."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "type": "string",
          "description": "Category being targeted by the insight."
        }
      }
    },
    "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest": {
      "id": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest",
      "type": "object",
      "description": "Request for the `MarkRecommendationClaimed` Method.",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object"
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest": {
      "id": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest",
      "description": "Request for the `MarkRecommendationSucceeded` Method.",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`."
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1RecommendationContent": {
      "id": "GoogleCloudRecommenderV1RecommendationContent",
      "type": "object",
      "description": "Contains what resources are changing and how they are changing.",
      "properties": {
        "operationGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1OperationGroup"
          },
          "description": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order."
        },
        "overview": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Condensed overview information about the recommendation."
        }
      }
    },
    "GoogleCloudRecommenderV1ListInsightsResponse": {
      "description": "Response to the `ListInsights` method.",
      "properties": {
        "insights": {
          "description": "The set of insights for the `parent` resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Insight"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommenderV1ListInsightsResponse"
    },
    "GoogleCloudRecommenderV1MarkRecommendationFailedRequest": {
      "type": "object",
      "description": "Request for the `MarkRecommendationFailed` Method.",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "id": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
    },
    "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest": {
      "id": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest",
      "description": "Request for the `MarkRecommendationDismissed` Method.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1SecurityProjection": {
      "id": "GoogleCloudRecommenderV1SecurityProjection",
      "type": "object",
      "description": "Contains various ways of describing the impact on Security.",
      "properties": {
        "details": {
          "description": "Additional security impact details that is provided by the recommender.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudRecommenderV1RecommenderGenerationConfig": {
      "type": "object",
      "description": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation.",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1RecommenderGenerationConfig"
    },
    "GoogleCloudRecommenderV1RecommendationStateInfo": {
      "id": "GoogleCloudRecommenderV1RecommendationStateInfo",
      "description": "Information for state. Contains state and metadata.",
      "properties": {
        "stateMetadata": {
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "Default state. Don't use directly.",
            "Recommendation is active and can be applied. Recommendations content can be updated by Google. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "type": "string",
          "description": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1ListRecommendationsResponse": {
      "id": "GoogleCloudRecommenderV1ListRecommendationsResponse",
      "type": "object",
      "description": "Response to the `ListRecommendations` method.",
      "properties": {
        "recommendations": {
          "description": "The set of recommendations for the `parent` resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Recommendation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
        }
      }
    },
    "GoogleCloudRecommenderV1InsightTypeGenerationConfig": {
      "type": "object",
      "description": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight.",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1InsightTypeGenerationConfig"
    },
    "GoogleCloudRecommenderV1CostProjection": {
      "id": "GoogleCloudRecommenderV1CostProjection",
      "type": "object",
      "description": "Contains metadata about how much money a recommendation can save or incur.",
      "properties": {
        "costInLocalCurrency": {
          "description": "The approximate cost savings in the billing account's local currency.",
          "$ref": "GoogleTypeMoney"
        },
        "duration": {
          "description": "Duration for which this cost applies.",
          "type": "string",
          "format": "google-duration"
        },
        "cost": {
          "$ref": "GoogleTypeMoney",
          "description": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices."
        }
      }
    },
    "GoogleCloudRecommenderV1InsightStateInfo": {
      "type": "object",
      "description": "Information related to insight state.",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "type": "object"
        },
        "state": {
          "description": "Insight state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ACCEPTED",
            "DISMISSED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Insight is active. Content for ACTIVE insights can be updated by Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.",
            "Some action has been taken based on this insight. Insights become accepted when a recommendation derived from the insight has been marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked ACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED insights can only be marked ACCEPTED (which may update state metadata).",
            "Insight is dismissed. Content for DISMISSED insights can be updated by Google. DISMISSED insights can be marked as ACTIVE."
          ]
        }
      },
      "id": "GoogleCloudRecommenderV1InsightStateInfo"
    },
    "GoogleCloudRecommenderV1ValueMatcher": {
      "description": "Contains various matching options for values for a GCP resource field.",
      "properties": {
        "matchesPattern": {
          "type": "string",
          "description": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommenderV1ValueMatcher"
    },
    "GoogleCloudRecommenderV1RecommenderConfig": {
      "type": "object",
      "description": "Configuration for a Recommender.",
      "properties": {
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "recommenderGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1RecommenderGenerationConfig",
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender."
        },
        "etag": {
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
          "type": "string"
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1RecommenderConfig"
    },
    "GoogleCloudRecommenderV1InsightRecommendationReference": {
      "type": "object",
      "description": "Reference to an associated recommendation.",
      "properties": {
        "recommendation": {
          "type": "string",
          "description": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]"
        }
      },
      "id": "GoogleCloudRecommenderV1InsightRecommendationReference"
    },
    "GoogleCloudRecommenderV1SustainabilityProjection": {
      "id": "GoogleCloudRecommenderV1SustainabilityProjection",
      "type": "object",
      "description": "Contains metadata about how much sustainability a recommendation can save or incur.",
      "properties": {
        "duration": {
          "type": "string",
          "description": "Duration for which this sustainability applies.",
          "format": "google-duration"
        },
        "kgCO2e": {
          "type": "number",
          "description": "Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e so that the name renders correctly in camelCase (kgCO2e).",
          "format": "double"
        }
      }
    },
    "GoogleCloudRecommenderV1Recommendation": {
      "id": "GoogleCloudRecommenderV1Recommendation",
      "description": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking when updating states."
        },
        "stateInfo": {
          "description": "Information for state. Contains state and metadata.",
          "$ref": "GoogleCloudRecommenderV1RecommendationStateInfo"
        },
        "lastRefreshTime": {
          "description": "Last time this recommendation was refreshed by the system that created it in the first place.",
          "type": "string",
          "format": "google-datetime"
        },
        "additionalImpact": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Impact"
          },
          "description": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative."
        },
        "xorGroupId": {
          "type": "string",
          "description": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommendation."
        },
        "targetResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Fully qualified resource names that this recommendation is targeting."
        },
        "description": {
          "type": "string",
          "description": "Free-form human readable summary in English. The maximum length is 500 characters."
        },
        "primaryImpact": {
          "description": "The primary impact that this recommendation can have while trying to optimize for one category.",
          "$ref": "GoogleCloudRecommenderV1Impact"
        },
        "priority": {
          "description": "Recommendation's priority.",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P4",
            "P3",
            "P2",
            "P1"
          ],
          "enumDescriptions": [
            "Recommendation has unspecified priority.",
            "Recommendation has P4 priority (lowest priority).",
            "Recommendation has P3 priority (second lowest priority).",
            "Recommendation has P2 priority (second highest priority).",
            "Recommendation has P1 priority (highest priority)."
          ]
        },
        "content": {
          "description": "Content of the recommendation describing recommended changes to resources.",
          "$ref": "GoogleCloudRecommenderV1RecommendationContent"
        },
        "associatedInsights": {
          "description": "Insights that led to this recommendation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1RecommendationInsightReference"
          }
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\""
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommenderV1RecommendationInsightReference": {
      "id": "GoogleCloudRecommenderV1RecommendationInsightReference",
      "description": "Reference to an associated insight.",
      "properties": {
        "insight": {
          "type": "string",
          "description": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]"
        }
      },
      "type": "object"
    }
  },
  "title": "Recommender API",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "recommenders": {
              "methods": {
                "getConfig": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommender.projects.locations.recommenders.getConfig",
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/config$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateConfig": {
                  "id": "recommender.projects.locations.recommenders.updateConfig",
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "required": true,
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/config"
                }
              },
              "resources": {
                "recommendations": {
                  "methods": {
                    "markSucceeded": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.markSucceeded",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the recommendation."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "path": "v1/{+name}:markSucceeded",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.get",
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender."
                    },
                    "markClaimed": {
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED, SUCCEEDED, FAILED, or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "id": "recommender.projects.locations.recommenders.recommendations.markClaimed",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:markClaimed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "path": "v1/{+parent}/recommendations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "id": "recommender.projects.locations.recommenders.recommendations.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "markDismissed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "path": "v1/{+name}:markDismissed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "recommender.projects.locations.recommenders.recommendations.markDismissed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "markFailed": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the recommendation."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "path": "v1/{+name}:markFailed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.markFailed",
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                      }
                    }
                  }
                }
              }
            },
            "insightTypes": {
              "methods": {
                "updateConfig": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "required": true
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "id": "recommender.projects.locations.insightTypes.updateConfig"
                },
                "getConfig": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommender.projects.locations.insightTypes.getConfig",
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "insights": {
                  "methods": {
                    "list": {
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "id": "recommender.projects.locations.insightTypes.insights.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the insight.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "recommender.projects.locations.insightTypes.insights.get",
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "markAccepted": {
                      "path": "v1/{+name}:markAccepted",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the insight.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "id": "recommender.projects.locations.insightTypes.insights.markAccepted",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "locations": {
          "resources": {
            "recommenders": {
              "methods": {
                "getConfig": {
                  "httpMethod": "GET",
                  "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "required": true,
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommender.billingAccounts.locations.recommenders.getConfig",
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender."
                },
                "updateConfig": {
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "location": "path",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "id": "recommender.billingAccounts.locations.recommenders.updateConfig",
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1RecommenderConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "recommendations": {
                  "methods": {
                    "markSucceeded": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "path": "v1/{+name}:markSucceeded",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "required": true
                        }
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markSucceeded",
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "required": true
                        }
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/recommendations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListRecommendationsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "httpMethod": "GET"
                    },
                    "markDismissed": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "required": true,
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:markDismissed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markDismissed"
                    },
                    "markClaimed": {
                      "path": "v1/{+name}:markClaimed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED, SUCCEEDED, FAILED, or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markClaimed",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "markFailed": {
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markFailed",
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "path": "v1/{+name}:markFailed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the recommendation.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed"
                    }
                  }
                }
              }
            },
            "insightTypes": {
              "resources": {
                "insights": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "id": "recommender.billingAccounts.locations.insightTypes.insights.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+$"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      }
                    },
                    "markAccepted": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "id": "recommender.billingAccounts.locations.insightTypes.insights.markAccepted",
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "parameters": {
                        "name": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the insight.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:markAccepted",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "id": "recommender.billingAccounts.locations.insightTypes.insights.get",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "updateConfig": {
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "id": "recommender.billingAccounts.locations.insightTypes.updateConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "required": true
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH"
                },
                "getConfig": {
                  "httpMethod": "GET",
                  "flatPath": "v1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1InsightTypeConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommender.billingAccounts.locations.insightTypes.getConfig",
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType."
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "insightTypes": {
              "resources": {
                "insights": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "required": true
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1ListInsightsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "id": "recommender.folders.locations.insightTypes.insights.list"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the insight.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.folders.locations.insightTypes.insights.get",
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type."
                    },
                    "markAccepted": {
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "id": "recommender.folders.locations.insightTypes.insights.markAccepted",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:markAccepted",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Insight"
                      },
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            },
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.folders.locations.recommenders.recommendations.get",
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender."
                    },
                    "markSucceeded": {
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1MarkRecommendationSucceededRequest"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "id": "recommender.folders.locations.recommenders.recommendations.markSucceeded",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:markSucceeded",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1Recommendation"
                      },
[...]
