{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://recommender.googleapis.com/",
  "rootUrl": "https://recommender.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "recommender",
  "documentationLink": "https://cloud.google.com/recommender/docs/",
  "endpoints": [
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-southwest1.rep.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-west5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us.rep.googleapis.com/"
    },
    {
      "location": "sa",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.sa.rep.googleapis.com/"
    },
    {
      "location": "in",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.in.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.ch.rep.googleapis.com/",
      "location": "ch",
      "description": "Regional Endpoint"
    },
    {
      "location": "ca",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.ca.rep.googleapis.com/"
    }
  ],
  "version": "v1beta1",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "servicePath": "",
  "mtlsRootUrl": "https://recommender.mtls.googleapis.com/",
  "resources": {
    "billingAccounts": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "recommender.billingAccounts.locations.list",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^billingAccounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations",
              "description": "Lists locations with recommendations or insights.",
              "path": "v1beta1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true,
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.get",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markDismissed": {
                      "path": "v1beta1/{+name}:markDismissed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest"
                      },
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markDismissed"
                    },
                    "markClaimed": {
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markClaimed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markClaimed",
                      "parameters": {
                        "name": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
                      }
                    },
                    "markSucceeded": {
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest"
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markSucceeded",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markSucceeded",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markFailed": {
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markFailed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markFailed",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest"
                      }
                    },
                    "list": {
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "path": "v1beta1/{+parent}/recommendations",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "parameters": {
                        "parent": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "required": true,
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "getConfig": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender.",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "id": "recommender.billingAccounts.locations.recommenders.getConfig",
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "required": true,
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config"
                },
                "updateConfig": {
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "recommender.billingAccounts.locations.recommenders.updateConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "insightTypes": {
              "methods": {
                "getConfig": {
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recommender.billingAccounts.locations.insightTypes.getConfig",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config"
                },
                "updateConfig": {
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "required": true,
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "recommender.billingAccounts.locations.insightTypes.updateConfig",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config."
                }
              },
              "resources": {
                "insights": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListInsightsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "required": true,
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "recommender.billingAccounts.locations.insightTypes.insights.list",
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "path": "v1beta1/{+parent}/insights",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type."
                    },
                    "get": {
                      "id": "recommender.billingAccounts.locations.insightTypes.insights.get",
                      "parameters": {
                        "name": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markAccepted": {
                      "path": "v1beta1/{+name}:markAccepted",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "id": "recommender.billingAccounts.locations.insightTypes.insights.markAccepted",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest"
                      },
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "recommender.organizations.locations.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/locations",
              "path": "v1beta1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists locations with recommendations or insights."
            }
          },
          "resources": {
            "recommenders": {
              "methods": {
                "getConfig": {
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "recommender.organizations.locations.recommenders.getConfig",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/config"
                },
                "updateConfig": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "recommender.organizations.locations.recommenders.updateConfig",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/config"
                }
              },
              "resources": {
                "recommendations": {
                  "methods": {
                    "list": {
                      "path": "v1beta1/{+parent}/recommendations",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
                      },
                      "id": "recommender.organizations.locations.recommenders.recommendations.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations"
                    },
                    "markFailed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "id": "recommender.organizations.locations.recommenders.recommendations.markFailed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "path": "v1beta1/{+name}:markFailed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender."
                    },
                    "get": {
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "id": "recommender.organizations.locations.recommenders.recommendations.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markDismissed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path"
                        }
                      },
                      "id": "recommender.organizations.locations.recommenders.recommendations.markDismissed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "path": "v1beta1/{+name}:markDismissed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
                    },
                    "markClaimed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path"
                        }
                      },
                      "id": "recommender.organizations.locations.recommenders.recommendations.markClaimed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "path": "v1beta1/{+name}:markClaimed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
                    },
                    "markSucceeded": {
                      "path": "v1beta1/{+name}:markSucceeded",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "id": "recommender.organizations.locations.recommenders.recommendations.markSucceeded",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded"
                    }
                  }
                }
              }
            },
            "insightTypes": {
              "resources": {
                "insights": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$"
                        }
                      },
                      "id": "recommender.organizations.locations.insightTypes.insights.get",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type."
                    },
                    "markAccepted": {
                      "path": "v1beta1/{+name}:markAccepted",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "recommender.organizations.locations.insightTypes.insights.markAccepted"
                    },
                    "list": {
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "path": "v1beta1/{+parent}/insights",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "id": "recommender.organizations.locations.insightTypes.insights.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "required": true,
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListInsightsResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "getConfig": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "id": "recommender.organizations.locations.insightTypes.getConfig",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "type": "string"
                    }
                  }
                },
                "updateConfig": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "id": "recommender.organizations.locations.insightTypes.updateConfig",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config"
                }
              }
            }
          }
        }
      }
    },
    "recommenders": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GoogleCloudRecommenderV1beta1ListRecommendersResponse"
          },
          "id": "recommender.recommenders.list",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The number of RecommenderTypes to return per page. The service may return fewer than this value.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListRecommenders` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/recommenders",
          "path": "v1beta1/recommenders",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists all available Recommenders. No IAM permissions are required."
        }
      }
    },
    "insightTypes": {
      "methods": {
        "list": {
          "path": "v1beta1/insightTypes",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists available InsightTypes. No IAM permissions are required.",
          "flatPath": "v1beta1/insightTypes",
          "response": {
            "$ref": "GoogleCloudRecommenderV1beta1ListInsightTypesResponse"
          },
          "id": "recommender.insightTypes.list",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListRecommenders` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The number of InsightTypes to return per page. The service may return fewer than this value.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/folders/{foldersId}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "id": "recommender.folders.locations.list",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists locations with recommendations or insights."
            }
          },
          "resources": {
            "insightTypes": {
              "resources": {
                "insights": {
                  "methods": {
                    "get": {
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the insight.",
                          "location": "path"
                        }
                      },
                      "id": "recommender.folders.locations.insightTypes.insights.get",
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}"
                    },
                    "markAccepted": {
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "path": "v1beta1/{+name}:markAccepted",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest"
                      },
                      "id": "recommender.folders.locations.insightTypes.insights.markAccepted",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListInsightsResponse"
                      },
                      "id": "recommender.folders.locations.insightTypes.insights.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "location": "path",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/[^/]+/insightTypes/[^/]+$"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "path": "v1beta1/{+parent}/insights",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type."
                    }
                  }
                }
              }
            },
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "get": {
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "markDismissed": {
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.markDismissed",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest"
                      },
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "path": "v1beta1/{+name}:markDismissed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
                    },
                    "markClaimed": {
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.markClaimed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markClaimed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markSucceeded": {
                      "id": "recommender.folders.locations.recommenders.recommendations.markSucceeded",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the recommendation.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markSucceeded",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markFailed": {
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markFailed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.folders.locations.recommenders.recommendations.markFailed",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest"
                      }
                    },
                    "list": {
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "path": "v1beta1/{+parent}/recommendations",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "recommender.folders.locations.recommenders.recommendations.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "list": {
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "path": "v1beta1/{+parent}/recommendations",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "recommender.projects.locations.recommenders.recommendations.list",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations"
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "id": "recommender.projects.locations.recommenders.recommendations.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender."
                    },
                    "markDismissed": {
                      "path": "v1beta1/{+name}:markDismissed",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "id": "recommender.projects.locations.recommenders.recommendations.markDismissed",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
[...]
