{
  "documentationLink": "https://cloud.google.com/recommender/docs/",
  "canonicalName": "Recommender",
  "discoveryVersion": "v1",
  "baseUrl": "https://recommender.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "recommender",
  "title": "Recommender API",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudRecommenderV1beta1RecommendationInsightReference": {
      "description": "Reference to an associated insight.",
      "type": "object",
      "properties": {
        "insight": {
          "description": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1RecommendationInsightReference"
    },
    "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest": {
      "id": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest",
      "description": "Request for the `MarkRecommendationFailed` Method.",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1CostProjection": {
      "id": "GoogleCloudRecommenderV1beta1CostProjection",
      "description": "Contains metadata about how much money a recommendation can save or incur.",
      "type": "object",
      "properties": {
        "costInLocalCurrency": {
          "$ref": "GoogleTypeMoney",
          "description": "The approximate cost savings in the billing account's local currency."
        },
        "cost": {
          "$ref": "GoogleTypeMoney",
          "description": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices."
        },
        "duration": {
          "description": "Duration for which this cost applies.",
          "type": "string",
          "format": "google-duration"
        },
        "pricingType": {
          "description": "How the cost is calculated.",
          "type": "string",
          "enumDescriptions": [
            "Default pricing type.",
            "The price listed by GCP for all customers.",
            "A price derived from past usage and billing."
          ],
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "LIST_PRICE",
            "CUSTOM_PRICE"
          ]
        }
      }
    },
    "GoogleCloudRecommenderV1beta1InsightTypeConfig": {
      "id": "GoogleCloudRecommenderV1beta1InsightTypeConfig",
      "description": "Configuration for an InsightType.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        },
        "insightTypeGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig",
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type."
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1ListInsightTypesResponse": {
      "id": "GoogleCloudRecommenderV1beta1ListInsightTypesResponse",
      "description": "Response for the `ListInsightTypes` method. Next ID: 3",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "insightTypes": {
          "description": "The set of recommenders available",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1InsightType"
          }
        }
      }
    },
    "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest": {
      "id": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest",
      "description": "Request for the `MarkRecommendationSucceeded` Method.",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1RecommenderGenerationConfig": {
      "id": "GoogleCloudRecommenderV1beta1RecommenderGenerationConfig",
      "description": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation.",
      "type": "object",
      "properties": {
        "params": {
          "description": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudRecommenderV1beta1Insight": {
      "id": "GoogleCloudRecommenderV1beta1Insight",
      "description": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Name of the insight.",
          "type": "string"
        },
        "category": {
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "description": "Category being targeted by the insight.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified category.",
            "The insight is related to cost.",
            "The insight is related to security.",
            "The insight is related to performance.",
            "This insight is related to manageability.",
            "The insight is related to sustainability.",
            "The insight is related to reliability."
          ]
        },
        "severity": {
          "description": "Insight's severity.",
          "type": "string",
          "enumDescriptions": [
            "Insight has unspecified severity.",
            "Insight has low severity.",
            "Insight has medium severity.",
            "Insight has high severity.",
            "Insight has critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "targetResources": {
          "description": "Fully qualified resource names that this insight is targeting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "lastRefreshTime": {
          "description": "Timestamp of the latest data used to generate the insight.",
          "type": "string",
          "format": "google-datetime"
        },
        "stateInfo": {
          "$ref": "GoogleCloudRecommenderV1beta1InsightStateInfo",
          "description": "Information state and metadata."
        },
        "etag": {
          "description": "Fingerprint of the Insight. Provides optimistic locking when updating states.",
          "type": "string"
        },
        "insightSubtype": {
          "description": "Insight subtype. Insight content schema will be stable for a given subtype.",
          "type": "string"
        },
        "observationPeriod": {
          "description": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period).",
          "type": "string",
          "format": "google-duration"
        },
        "associatedRecommendations": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1InsightRecommendationReference"
          },
          "description": "Recommendations derived from this insight.",
          "type": "array"
        },
        "content": {
          "description": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\"",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig": {
      "description": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight.",
      "type": "object",
      "properties": {
        "params": {
          "description": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig"
    },
    "GoogleCloudRecommenderV1beta1ValueMatcher": {
      "id": "GoogleCloudRecommenderV1beta1ValueMatcher",
      "description": "Contains various matching options for values for a GCP resource field.",
      "type": "object",
      "properties": {
        "matchesPattern": {
          "description": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1Operation": {
      "id": "GoogleCloudRecommenderV1beta1Operation",
      "description": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC.",
      "type": "object",
      "properties": {
        "pathFilters": {
          "description": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "sourcePath": {
          "description": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types.",
          "type": "string"
        },
        "pathValueMatchers": {
          "description": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommenderV1beta1ValueMatcher"
          }
        },
        "sourceResource": {
          "description": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`.",
          "type": "string"
        },
        "action": {
          "description": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and 'custom' operations. This field is case-insensitive and always populated.",
          "type": "string"
        },
        "path": {
          "description": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated.",
          "type": "string"
        },
        "value": {
          "description": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed.",
          "type": "any"
        },
        "resourceType": {
          "description": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance",
          "type": "string"
        },
        "resource": {
          "description": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo.",
          "type": "string"
        },
        "valueMatcher": {
          "description": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation.",
          "$ref": "GoogleCloudRecommenderV1beta1ValueMatcher"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1SustainabilityProjection": {
      "id": "GoogleCloudRecommenderV1beta1SustainabilityProjection",
      "description": "Contains metadata about how much sustainability a recommendation can save or incur.",
      "type": "object",
      "properties": {
        "duration": {
          "description": "Duration for which this sustanability applies.",
          "type": "string",
          "format": "google-duration"
        },
        "kgCO2e": {
          "description": "Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e so that the name renders correctly in camelCase (kgCO2e).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1InsightStateInfo": {
      "description": "Information related to insight state.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ACCEPTED",
            "DISMISSED"
          ],
          "description": "Insight state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Insight is active. Content for ACTIVE insights can be updated by Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.",
            "Some action has been taken based on this insight. Insights become accepted when a recommendation derived from the insight has been marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked ACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED insights can only be marked ACCEPTED (which may update state metadata).",
            "Insight is dismissed. Content for DISMISSED insights can be updated by Google. DISMISSED insights can be marked as ACTIVE."
          ]
        },
        "stateMetadata": {
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRecommenderV1beta1InsightStateInfo"
    },
    "GoogleCloudRecommenderV1beta1RecommendationContent": {
      "description": "Contains what resources are changing and how they are changing.",
      "type": "object",
      "properties": {
        "operationGroups": {
          "description": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1OperationGroup"
          }
        },
        "overview": {
          "description": "Condensed overview information about the recommendation.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudRecommenderV1beta1RecommendationContent"
    },
    "GoogleCloudRecommenderV1beta1OperationGroup": {
      "id": "GoogleCloudRecommenderV1beta1OperationGroup",
      "description": "Group of operations that need to be performed atomically.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1Operation"
          }
        }
      }
    },
    "GoogleCloudRecommenderV1beta1ListRecommendersResponse": {
      "id": "GoogleCloudRecommenderV1beta1ListRecommendersResponse",
      "description": "Response for the `ListRecommender` method. Next ID: 3",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "recommenders": {
          "description": "The set of recommenders available",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1RecommenderType"
          }
        }
      }
    },
    "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest": {
      "description": "Request for the `MarkInsightAccepted` method.",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Insight. Provides optimistic locking.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest"
    },
    "GoogleCloudRecommenderV1beta1RecommendationStateInfo": {
      "description": "Information for state. Contains state and metadata.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "description": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED.",
          "type": "string",
          "enumDescriptions": [
            "Default state. Don't use directly.",
            "Recommendation is active and can be applied. Recommendations content can be updated by Google. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ]
        },
        "stateMetadata": {
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudRecommenderV1beta1RecommendationStateInfo"
    },
    "GoogleCloudRecommenderV1beta1Recommendation": {
      "description": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Name of recommendation.",
          "type": "string"
        },
        "xorGroupId": {
          "description": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied.",
          "type": "string"
        },
        "targetResources": {
          "items": {
            "type": "string"
          },
          "description": "Fully qualified resource names that this recommendation is targeting.",
          "type": "array"
        },
        "additionalImpact": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1Impact"
          },
          "description": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative.",
          "type": "array"
        },
        "content": {
          "description": "Content of the recommendation describing recommended changes to resources.",
          "$ref": "GoogleCloudRecommenderV1beta1RecommendationContent"
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "lastRefreshTime": {
          "description": "Last time this recommendation was refreshed by the system that created it in the first place.",
          "type": "string",
          "format": "google-datetime"
        },
        "stateInfo": {
          "$ref": "GoogleCloudRecommenderV1beta1RecommendationStateInfo",
          "description": "Information for state. Contains state and metadata."
        },
        "etag": {
          "description": "Fingerprint of the Recommendation. Provides optimistic locking when updating states.",
          "type": "string"
        },
        "recommenderSubtype": {
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\"",
          "type": "string"
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P4",
            "P3",
            "P2",
            "P1"
          ],
          "description": "Recommendation's priority.",
          "type": "string",
          "enumDescriptions": [
            "Recommendation has unspecified priority.",
            "Recommendation has P4 priority (lowest priority).",
            "Recommendation has P3 priority (second lowest priority).",
            "Recommendation has P2 priority (second highest priority).",
            "Recommendation has P1 priority (highest priority)."
          ]
        },
        "primaryImpact": {
          "$ref": "GoogleCloudRecommenderV1beta1Impact",
          "description": "The primary impact that this recommendation can have while trying to optimize for one category."
        },
        "associatedInsights": {
          "description": "Insights that led to this recommendation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1RecommendationInsightReference"
          }
        }
      },
      "id": "GoogleCloudRecommenderV1beta1Recommendation"
    },
    "GoogleCloudRecommenderV1beta1Impact": {
      "description": "Contains the impact a recommendation can have for a given category.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Category that is being targeted.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified category. Don't use directly.",
            "Indicates a potential increase or decrease in cost.",
            "Indicates a potential increase or decrease in security.",
            "Indicates a potential increase or decrease in performance.",
            "Indicates a potential increase or decrease in manageability.",
            "Indicates a potential increase or decrease in sustainability.",
            "Indicates a potential increase or decrease in reliability."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ]
        },
        "costProjection": {
          "$ref": "GoogleCloudRecommenderV1beta1CostProjection",
          "description": "Use with CategoryType.COST"
        },
        "sustainabilityProjection": {
          "$ref": "GoogleCloudRecommenderV1beta1SustainabilityProjection",
          "description": "Use with CategoryType.SUSTAINABILITY"
        },
        "service": {
          "description": "The service that this impact is associated with.",
          "type": "string"
        },
        "securityProjection": {
          "description": "Use with CategoryType.SECURITY",
          "$ref": "GoogleCloudRecommenderV1beta1SecurityProjection"
        },
        "reliabilityProjection": {
          "$ref": "GoogleCloudRecommenderV1beta1ReliabilityProjection",
          "description": "Use with CategoryType.RELIABILITY"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1Impact"
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "GoogleCloudRecommenderV1beta1ListInsightsResponse": {
      "id": "GoogleCloudRecommenderV1beta1ListInsightsResponse",
      "description": "Response to the `ListInsights` method.",
      "type": "object",
      "properties": {
        "insights": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1Insight"
          },
          "description": "The set of insights for the `parent` resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest": {
      "id": "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest",
      "description": "Request for the `MarkRecommendationDismissed` Method.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1RecommenderType": {
      "description": "The type of a recommender.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The recommender's name in format RecommenderTypes/{recommender_type} eg: recommenderTypes/google.iam.policy.Recommender",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1RecommenderType"
    },
    "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest": {
      "description": "Request for the `MarkRecommendationClaimed` Method.",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
    },
    "GoogleCloudRecommenderV1beta1ListRecommendationsResponse": {
      "description": "Response to the `ListRecommendations` method.",
      "type": "object",
      "properties": {
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
          },
          "description": "The set of recommendations for the `parent` resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
    },
    "GoogleCloudRecommenderV1beta1InsightType": {
      "id": "GoogleCloudRecommenderV1beta1InsightType",
      "description": "The type of insight.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The insight_type's name in format insightTypes/{insight_type} eg: insightTypes/google.iam.policy.Insight",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1ReliabilityProjection": {
      "description": "Contains information on the impact of a reliability recommendation.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Per-recommender projection.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "risks": {
          "items": {
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ]
          },
          "description": "Reliability risks mitigated by this recommendation.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRecommenderV1beta1ReliabilityProjection"
    },
    "GoogleCloudRecommenderV1beta1InsightRecommendationReference": {
      "id": "GoogleCloudRecommenderV1beta1InsightRecommendationReference",
      "description": "Reference to an associated recommendation.",
      "type": "object",
      "properties": {
        "recommendation": {
          "description": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1beta1SecurityProjection": {
      "id": "GoogleCloudRecommenderV1beta1SecurityProjection",
      "description": "Contains various ways of describing the impact on Security.",
      "type": "object",
      "properties": {
        "details": {
          "description": "This field can be used by the recommender to define details specific to security impact.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudRecommenderV1beta1RecommenderConfig": {
      "id": "GoogleCloudRecommenderV1beta1RecommenderConfig",
      "description": "Configuration for a Recommender.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "recommenderGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1beta1RecommenderGenerationConfig",
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "description": "",
  "mtlsRootUrl": "https://recommender.mtls.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://recommender.googleapis.com/",
  "basePath": "",
  "resources": {
    "insightTypes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v1beta1/insightTypes",
          "response": {
            "$ref": "GoogleCloudRecommenderV1beta1ListInsightTypesResponse"
          },
          "description": "Lists available InsightTypes. No IAM permissions are required.",
          "parameters": {
            "pageSize": {
              "description": "Optional. The number of InsightTypes to return per page. The service may return fewer than this value.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListRecommenders` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1beta1/insightTypes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "recommender.insightTypes.list"
        }
      }
    },
    "recommenders": {
      "methods": {
        "list": {
          "id": "recommender.recommenders.list",
          "flatPath": "v1beta1/recommenders",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageSize": {
              "description": "Optional. The number of RecommenderTypes to return per page. The service may return fewer than this value.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListRecommenders` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "description": "Lists all available Recommenders. No IAM permissions are required.",
          "path": "v1beta1/recommenders",
          "response": {
            "$ref": "GoogleCloudRecommenderV1beta1ListRecommendersResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1beta1/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "description": "Lists locations with recommendations or insights.",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "recommender.projects.locations.list"
            }
          },
          "resources": {
            "recommenders": {
              "resources": {
                "recommendations": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/recommendations",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
                      },
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.list"
                    },
                    "markClaimed": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.markClaimed",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+name}:markClaimed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
                    },
                    "markFailed": {
                      "path": "v1beta1/{+name}:markFailed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest"
                      },
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "httpMethod": "POST",
                      "id": "recommender.projects.locations.recommenders.recommendations.markFailed",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "markSucceeded": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markSucceeded",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.markSucceeded"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.get",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      }
                    },
                    "markDismissed": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.projects.locations.recommenders.recommendations.markDismissed",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markDismissed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      }
                    }
                  }
                }
              },
              "methods": {
                "getConfig": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommender.projects.locations.recommenders.getConfig",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender."
                },
                "updateConfig": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recommender.projects.locations.recommenders.updateConfig",
                  "parameters": {
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/recommenders/[^/]+/config$"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "description": "Updates a Recommender Config. This will create a new revision of the config.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "httpMethod": "PATCH"
                }
              }
            },
            "insightTypes": {
              "methods": {
                "getConfig": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recommender.projects.locations.insightTypes.getConfig",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType."
                },
                "updateConfig": {
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recommender.projects.locations.insightTypes.updateConfig",
                  "parameters": {
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "insights": {
                  "methods": {
                    "markAccepted": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.projects.locations.insightTypes.insights.markAccepted",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest"
                      },
                      "description": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight.",
                      "path": "v1beta1/{+name}:markAccepted",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "httpMethod": "POST"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.projects.locations.insightTypes.insights.get",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type."
                    },
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.projects.locations.insightTypes.insights.list",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightTypes/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
                      "path": "v1beta1/{+parent}/insights",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListInsightsResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "billingAccounts": {
      "resources": {
        "locations": {
          "resources": {
            "recommenders": {
              "methods": {
                "getConfig": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recommender.billingAccounts.locations.recommenders.getConfig",
                  "httpMethod": "GET",
                  "description": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  }
                },
                "updateConfig": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/config$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommender.billingAccounts.locations.recommenders.updateConfig",
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1RecommenderConfig"
                  },
                  "description": "Updates a Recommender Config. This will create a new revision of the config."
                }
              },
              "resources": {
                "recommendations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.get",
                      "httpMethod": "GET",
                      "description": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      }
                    },
                    "markSucceeded": {
                      "path": "v1beta1/{+name}:markSucceeded",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest"
                      },
                      "description": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "httpMethod": "POST",
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markSucceeded",
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "markDismissed": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markDismissed",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest"
                      },
                      "description": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markDismissed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.list",
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
                      "path": "v1beta1/{+parent}/recommendations",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
                      }
                    },
                    "markClaimed": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest"
                      },
                      "description": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markClaimed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markClaimed",
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "markFailed": {
                      "request": {
                        "$ref": "GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest"
                      },
                      "description": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender.",
                      "path": "v1beta1/{+name}:markFailed",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Recommendation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.billingAccounts.locations.recommenders.recommendations.markFailed",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the recommendation.",
                          "location": "path",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/recommenders/[^/]+/recommendations/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "insightTypes": {
              "methods": {
                "getConfig": {
                  "description": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "recommender.billingAccounts.locations.insightTypes.getConfig",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateConfig": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "description": "Updates an InsightTypeConfig change. This will create a new revision of the config.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRecommenderV1beta1InsightTypeConfig"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
                      "location": "path",
                      "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/config$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "If true, validate the request and preview the change, but do not actually update it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommender.billingAccounts.locations.insightTypes.updateConfig",
                  "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "insights": {
                  "methods": {
                    "get": {
                      "description": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type.",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudRecommenderV1beta1Insight"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommender.billingAccounts.locations.insightTypes.insights.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+/insights/[^/]+$",
                          "description": "Required. Name of the insight.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^billingAccounts/[^/]+/locations/[^/]+/insightTypes/[^/]+$",
                          "description": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
[...]
