{
  "batchPath": "batch",
  "mtlsRootUrl": "https://recommender.mtls.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260920",
  "ownerDomain": "google.com",
  "description": "",
  "title": "Recommender API",
  "name": "recommender",
  "discoveryVersion": "v1",
  "canonicalName": "Recommender",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "documentationLink": "https://cloud.google.com/recommender/docs/",
  "rootUrl": "https://recommender.googleapis.com/",
  "basePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://recommender.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://recommender.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://recommender.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://recommender.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://recommender.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://recommender.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://recommender.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://recommender.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://recommender.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://recommender.europe-west5.rep.googleapis.com/",
      "location": "europe-west5",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://recommender.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://recommender.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://recommender.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://recommender.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://recommender.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "endpointUrl": "https://recommender.sa.rep.googleapis.com/",
      "location": "sa",
      "description": "Regional Endpoint"
    },
    {
      "location": "in",
      "endpointUrl": "https://recommender.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.eu.rep.googleapis.com/"
    },
    {
      "location": "ch",
      "description": "Regional Endpoint",
      "endpointUrl": "https://recommender.ch.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://recommender.ca.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "ca"
    }
  ],
  "schemas": {
    "GoogleCloudRecommenderV1ListInsightsResponse": {
      "type": "object",
      "properties": {
        "insights": {
          "type": "array",
          "description": "The set of insights for the `parent` resource.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Insight"
          }
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommenderV1ListInsightsResponse",
      "description": "Response to the `ListInsights` method."
    },
    "GoogleCloudRecommenderV1ReliabilityProjection": {
      "id": "GoogleCloudRecommenderV1ReliabilityProjection",
      "properties": {
        "details": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Per-recommender projection.",
          "type": "object"
        },
        "risks": {
          "description": "Reliability risks mitigated by this recommendation.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RISK_TYPE_UNSPECIFIED",
              "SERVICE_DISRUPTION",
              "DATA_LOSS",
              "ACCESS_DENY"
            ],
            "enumDescriptions": [
              "Default unspecified risk. Don't use directly.",
              "Potential service downtime.",
              "Potential data loss.",
              "Potential access denial. The service is still up but some or all clients can't access it."
            ]
          }
        }
      },
      "type": "object",
      "description": "Contains information on the impact of a reliability recommendation."
    },
    "GoogleCloudRecommenderV1RecommenderGenerationConfig": {
      "description": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation.",
      "properties": {
        "params": {
          "description": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1RecommenderGenerationConfig",
      "type": "object"
    },
    "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest": {
      "id": "GoogleCloudRecommenderV1MarkRecommendationClaimedRequest",
      "description": "Request for the `MarkRecommendationClaimed` Method.",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "etag": {
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommenderV1Impact": {
      "description": "Contains the impact a recommendation can have for a given category.",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "The service that this impact is associated with."
        },
        "category": {
          "description": "Category that is being targeted.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified category. Don't use directly.",
            "Indicates a potential increase or decrease in cost.",
            "Indicates a potential increase or decrease in security.",
            "Indicates a potential increase or decrease in performance.",
            "Indicates a potential increase or decrease in manageability.",
            "Indicates a potential increase or decrease in sustainability.",
            "Indicates a potential increase or decrease in reliability."
          ]
        },
        "costProjection": {
          "description": "Use with CategoryType.COST",
          "$ref": "GoogleCloudRecommenderV1CostProjection"
        },
        "sustainabilityProjection": {
          "description": "Use with CategoryType.SUSTAINABILITY",
          "$ref": "GoogleCloudRecommenderV1SustainabilityProjection"
        },
        "securityProjection": {
          "description": "Use with CategoryType.SECURITY",
          "$ref": "GoogleCloudRecommenderV1SecurityProjection"
        },
        "reliabilityProjection": {
          "$ref": "GoogleCloudRecommenderV1ReliabilityProjection",
          "description": "Use with CategoryType.RELIABILITY"
        }
      },
      "id": "GoogleCloudRecommenderV1Impact"
    },
    "GoogleCloudRecommenderV1SecurityProjection": {
      "description": "Contains various ways of describing the impact on Security.",
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Additional security impact details that is provided by the recommender.",
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1SecurityProjection",
      "type": "object"
    },
    "GoogleCloudRecommenderV1OperationGroup": {
      "properties": {
        "operations": {
          "description": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1Operation"
          },
          "type": "array"
        }
      },
      "description": "Group of operations that need to be performed atomically.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1OperationGroup"
    },
    "GoogleCloudRecommenderV1Recommendation": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Free-form human readable summary in English. The maximum length is 500 characters."
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking when updating states."
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\""
        },
        "xorGroupId": {
          "description": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied.",
          "type": "string"
        },
        "targetResources": {
          "items": {
            "type": "string"
          },
          "description": "Fully qualified resource names that this recommendation is targeting.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommendation."
        },
        "stateInfo": {
          "description": "Information for state. Contains state and metadata.",
          "$ref": "GoogleCloudRecommenderV1RecommendationStateInfo"
        },
        "primaryImpact": {
          "description": "The primary impact that this recommendation can have while trying to optimize for one category.",
          "$ref": "GoogleCloudRecommenderV1Impact"
        },
        "priority": {
          "enumDescriptions": [
            "Recommendation has unspecified priority.",
            "Recommendation has P4 priority (lowest priority).",
            "Recommendation has P3 priority (second lowest priority).",
            "Recommendation has P2 priority (second highest priority).",
            "Recommendation has P1 priority (highest priority)."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P4",
            "P3",
            "P2",
            "P1"
          ],
          "description": "Recommendation's priority.",
          "type": "string"
        },
        "lastRefreshTime": {
          "description": "Last time this recommendation was refreshed by the system that created it in the first place.",
          "type": "string",
          "format": "google-datetime"
        },
        "content": {
          "$ref": "GoogleCloudRecommenderV1RecommendationContent",
          "description": "Content of the recommendation describing recommended changes to resources."
        },
        "associatedInsights": {
          "description": "Insights that led to this recommendation.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1RecommendationInsightReference"
          },
          "type": "array"
        },
        "additionalImpact": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1Impact"
          },
          "description": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative.",
          "type": "array"
        }
      },
      "id": "GoogleCloudRecommenderV1Recommendation",
      "description": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc"
    },
    "GoogleCloudRecommenderV1RecommenderConfig": {
      "properties": {
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating."
        },
        "displayName": {
          "type": "string",
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces."
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string."
        },
        "updateTime": {
          "type": "string",
          "description": "Last time when the config was updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
        },
        "recommenderGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1RecommenderGenerationConfig",
          "description": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender."
        }
      },
      "id": "GoogleCloudRecommenderV1RecommenderConfig",
      "type": "object",
      "description": "Configuration for a Recommender."
    },
    "GoogleCloudRecommenderV1InsightTypeConfig": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string."
        },
        "updateTime": {
          "description": "Last time when the config was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "insightTypeGenerationConfig": {
          "$ref": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
          "description": "InsightTypeGenerationConfig which configures the generation of insights for this insight type."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config"
        },
        "annotations": {
          "description": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "A user-settable field to provide a human-readable name to be used in user interfaces.",
          "type": "string"
        }
      },
      "description": "Configuration for an InsightType.",
      "id": "GoogleCloudRecommenderV1InsightTypeConfig"
    },
    "GoogleCloudRecommenderV1ListRecommendationsResponse": {
      "type": "object",
      "id": "GoogleCloudRecommenderV1ListRecommendationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be used to request the next page of results. This field is empty if there are no additional results.",
          "type": "string"
        },
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudRecommenderV1Recommendation"
          },
          "description": "The set of recommendations for the `parent` resource.",
          "type": "array"
        }
      },
      "description": "Response to the `ListRecommendations` method."
    },
    "CloudRecommendationsRecommendersDatabasesV1Description": {
      "id": "CloudRecommendationsRecommendersDatabasesV1Description",
      "type": "object",
      "properties": {
        "descriptionEnum": {
          "type": "string",
          "enumDescriptions": [
            ""
          ],
          "description": "Enum used to map to the html template to be shown in the UI.",
          "enum": [
            "DESC_ENUM_UNSPECIFIED"
          ]
        }
      }
    },
    "GoogleCloudRecommenderV1RecommendationContent": {
      "type": "object",
      "properties": {
        "operationGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommenderV1OperationGroup"
          },
          "description": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order."
        },
        "overview": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Condensed overview information about the recommendation."
        }
      },
      "id": "GoogleCloudRecommenderV1RecommendationContent",
      "description": "Contains what resources are changing and how they are changing."
    },
    "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "description": "Request for the `MarkRecommendationDismissed` Method.",
      "type": "object",
      "id": "GoogleCloudRecommenderV1MarkRecommendationDismissedRequest"
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "properties": {
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1PlaybookLink": {
      "id": "CloudRecommendationsRecommendersDatabasesV1PlaybookLink",
      "type": "object",
      "properties": {
        "link": {
          "type": "string"
        },
        "label": {
          "description": "Enum used to map to the string to be shown in the UI for the link.",
          "type": "string",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudRecommenderV1Insight": {
      "id": "GoogleCloudRecommenderV1Insight",
      "type": "object",
      "properties": {
        "associatedRecommendations": {
          "type": "array",
          "description": "Recommendations derived from this insight.",
          "items": {
            "$ref": "GoogleCloudRecommenderV1InsightRecommendationReference"
          }
        },
        "lastRefreshTime": {
          "description": "Timestamp of the latest data used to generate the insight.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Free-form human readable summary in English. The maximum length is 500 characters.",
          "type": "string"
        },
        "content": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\"",
          "type": "object"
        },
        "targetResources": {
          "description": "Fully qualified resource names that this insight is targeting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "insightSubtype": {
          "description": "Insight subtype. Insight content schema will be stable for a given subtype.",
          "type": "string"
        },
        "etag": {
          "description": "Fingerprint of the Insight. Provides optimistic locking when updating states.",
          "type": "string"
        },
        "stateInfo": {
          "$ref": "GoogleCloudRecommenderV1InsightStateInfo",
          "description": "Information state and metadata."
        },
        "category": {
          "enumDescriptions": [
            "Unspecified category.",
            "The insight is related to cost.",
            "The insight is related to security.",
            "The insight is related to performance.",
            "This insight is related to manageability.",
            "The insight is related to sustainability.",
            "This insight is related to reliability."
          ],
          "type": "string",
          "description": "Category being targeted by the insight.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "COST",
            "SECURITY",
            "PERFORMANCE",
            "MANAGEABILITY",
            "SUSTAINABILITY",
            "RELIABILITY"
          ]
        },
        "observationPeriod": {
          "description": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period).",
          "type": "string",
          "format": "google-duration"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Insight has unspecified severity.",
            "Insight has low severity.",
            "Insight has medium severity.",
            "Insight has high severity.",
            "Insight has critical severity."
          ],
          "description": "Insight's severity.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "name": {
          "description": "Identifier. Name of the insight.",
          "type": "string"
        }
      },
      "description": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well."
    },
    "GoogleCloudRecommenderV1ValueMatcher": {
      "id": "GoogleCloudRecommenderV1ValueMatcher",
      "description": "Contains various matching options for values for a GCP resource field.",
      "type": "object",
      "properties": {
        "matchesPattern": {
          "type": "string",
          "description": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch"
        }
      }
    },
    "GoogleCloudRecommenderV1MarkRecommendationFailedRequest": {
      "type": "object",
      "properties": {
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
        }
      },
      "id": "GoogleCloudRecommenderV1MarkRecommendationFailedRequest",
      "description": "Request for the `MarkRecommendationFailed` Method."
    },
    "GoogleCloudRecommenderV1RecommendationStateInfo": {
      "type": "object",
      "description": "Information for state. Contains state and metadata.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "description": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED.",
          "type": "string",
          "enumDescriptions": [
            "Default state. Don't use directly.",
            "Recommendation is active and can be applied. Recommendations content can be updated by Google. ACTIVE recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in claimed state. Recommendations content is immutable and cannot be updated by Google. CLAIMED recommendations can be marked as CLAIMED, SUCCEEDED, or FAILED.",
            "Recommendation is in succeeded state. Recommendations content is immutable and cannot be updated by Google. SUCCEEDED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in failed state. Recommendations content is immutable and cannot be updated by Google. FAILED recommendations can be marked as SUCCEEDED, or FAILED.",
            "Recommendation is in dismissed state. Recommendation content can be updated by Google. DISMISSED recommendations can be marked as ACTIVE."
          ]
        },
        "stateMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of metadata for the state, provided by user or automations systems."
        }
      },
      "id": "GoogleCloudRecommenderV1RecommendationStateInfo"
    },
    "GoogleCloudRecommenderV1Operation": {
      "id": "GoogleCloudRecommenderV1Operation",
      "properties": {
        "sourcePath": {
          "description": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types.",
          "type": "string"
        },
        "pathValueMatchers": {
          "type": "object",
          "description": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed.",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommenderV1ValueMatcher"
          }
        },
        "path": {
          "type": "string",
          "description": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated."
        },
        "pathFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed."
        },
        "resourceType": {
          "type": "string",
          "description": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance"
        },
        "value": {
          "type": "any",
          "description": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed."
        },
        "resource": {
          "description": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo.",
          "type": "string"
        },
        "valueMatcher": {
          "description": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation.",
          "$ref": "GoogleCloudRecommenderV1ValueMatcher"
        },
        "sourceResource": {
          "description": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and custom operations. This field is case-insensitive and always populated."
        }
      },
      "type": "object",
      "description": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC."
    },
    "GoogleCloudRecommenderV1InsightTypeGenerationConfig": {
      "type": "object",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes.",
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1InsightTypeGenerationConfig",
      "description": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight."
    },
    "CloudRecommendationsRecommendersDatabasesV1TableRow": {
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "CloudRecommendationsRecommendersDatabasesV1SimpleValue"
          },
          "description": "Table cells for the table row."
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1TableRow",
      "type": "object",
      "description": "Table row for a table"
    },
    "GoogleCloudRecommenderV1CostProjection": {
      "id": "GoogleCloudRecommenderV1CostProjection",
      "type": "object",
      "properties": {
        "costInLocalCurrency": {
          "$ref": "GoogleTypeMoney",
          "description": "The approximate cost savings in the billing account's local currency."
        },
        "duration": {
          "description": "Duration for which this cost applies.",
          "type": "string",
          "format": "google-duration"
        },
        "cost": {
          "$ref": "GoogleTypeMoney",
          "description": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices."
        }
      },
      "description": "Contains metadata about how much money a recommendation can save or incur."
    },
    "GoogleCloudRecommenderV1MarkInsightAcceptedRequest": {
      "id": "GoogleCloudRecommenderV1MarkInsightAcceptedRequest",
      "type": "object",
      "properties": {
        "stateMetadata": {
          "description": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Required. Fingerprint of the Insight. Provides optimistic locking.",
          "type": "string"
        }
      },
      "description": "Request for the `MarkInsightAccepted` method."
    },
    "CloudRecommendationsRecommendersDatabasesV1Link": {
      "type": "object",
      "properties": {
        "redirectPage": {
          "type": "string",
          "enum": [
            "REDIRECT_PAGE_UNSPECIFIED",
            "REDIRECT_PAGE_CUSTOM_URL",
            "REDIRECT_PAGE_RESOURCE_OVERVIEW",
            "REDIRECT_PAGE_EDIT_RESOURCE",
            "REDIRECT_PAGE_BACKUPS",
            "REDIRECT_PAGE_USERS",
            "REDIRECT_PAGE_SECURITY_RULES",
            "REDIRECT_PAGE_KEY_VISUALIZER",
            "REDIRECT_PAGE_SYSTEM_INSIGHTS",
            "REDIRECT_PAGE_CONNECTIONS",
            "REDIRECT_PAGE_CONNECTIONS_SECURITY"
          ],
          "enumDescriptions": [
            "",
            "Use this option to provide a custom URL for the CTA button. For issues using this option, the custom URL specific to the issue is to be defined in the UI.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Enum used to map to the redirect page for the link."
        },
        "label": {
          "description": "String label for the link. This value is not translated",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name for the table cell. This is used to construct the link."
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1Link"
    },
    "CloudRecommendationsRecommendersDatabasesV1TableField": {
      "id": "CloudRecommendationsRecommendersDatabasesV1TableField",
      "properties": {
        "timestampValue": {
          "type": "string",
          "description": "Timestamp value for the table field. Timestamp will be shown in the user's timezone with the format: \"Feb 27, 2009 3:22:54 PM\".",
          "format": "google-datetime"
        },
        "stringValue": {
          "description": "String value for the table field. Note that this string won't be translated. It is advised to provide values that don't require translation.",
          "type": "string"
        },
        "numberValue": {
          "type": "number",
          "description": "Number value for the table field.",
          "format": "double"
        },
        "key": {
          "description": "Enum used to map to the string to be shown in the UI for the field.",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1SimpleValue": {
      "properties": {
        "timestampValue": {
          "type": "string",
          "description": "Timestamp value for the table cell.",
          "format": "google-datetime"
        },
        "numberValue": {
          "type": "number",
          "description": "Number value for the table cell.",
          "format": "double"
        },
        "stringValue": {
          "description": "String value for the table cell. This should be used when value doesn't need to be translated.",
          "type": "string"
        },
        "linkValue": {
          "description": "Link value for the table cell.",
          "$ref": "CloudRecommendationsRecommendersDatabasesV1Link"
        },
        "enumValue": {
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ],
          "description": "Enum value for the table cell. This should be used when value MUST be translated and represents common status/field like Enabled, Disabled, Success, Failure, etc.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "CloudRecommendationsRecommendersDatabasesV1SimpleValue",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1CtaConfig": {
      "id": "CloudRecommendationsRecommendersDatabasesV1CtaConfig",
      "type": "object",
      "properties": {
        "redirectPage": {
          "enumDescriptions": [
            "",
            "Use this option to provide a custom URL for the CTA button. For issues using this option, the custom URL specific to the issue is to be defined in the UI.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "REDIRECT_PAGE_UNSPECIFIED",
            "REDIRECT_PAGE_CUSTOM_URL",
            "REDIRECT_PAGE_RESOURCE_OVERVIEW",
            "REDIRECT_PAGE_EDIT_RESOURCE",
            "REDIRECT_PAGE_BACKUPS",
            "REDIRECT_PAGE_USERS",
            "REDIRECT_PAGE_SECURITY_RULES",
            "REDIRECT_PAGE_KEY_VISUALIZER",
            "REDIRECT_PAGE_SYSTEM_INSIGHTS",
            "REDIRECT_PAGE_CONNECTIONS",
            "REDIRECT_PAGE_CONNECTIONS_SECURITY"
          ],
          "type": "string"
        },
        "label": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Enum used to map to the string to be shown in the UI for the button.",
          "enum": [
            "STRING_KEY_UNSPECIFIED",
            "STRING_KEY_VIEW_INSTANCE_CTA",
            "STRING_KEY_EDIT_INSTANCE",
            "STRING_KEY_EDIT_USERS",
            "STRING_KEY_MYSQL_FLAG_DEFAULT_AUTHENTICATION_PLUGIN",
            "STRING_KEY_PG_FLAG_PASSWORD_ENCRYPTION",
            "STRING_KEY_ENABLE_USER_PASSWORD_POLICIES",
            "STRING_KEY_CONFIGURE_AUTHENTICATION",
            "STRING_KEY_CONFIGURE_DATABASE_FLAGS",
            "STRING_KEY_AVERAGE_CPU_USAGE",
            "STRING_KEY_OBSERVATION_TIME",
            "STRING_KEY_CONFIGURE_AUTOSCALING",
            "STRING_KEY_VIEW_CLUSTER_CTA",
            "STRING_KEY_EDIT_DISASTER_RECOVERY_SETTINGS",
            "STRING_KEY_ENABLE_SCHEDULED_BACKUPS",
            "STRING_KEY_ENABLE_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_SCHEDULED_BACKUPS_ENABLEMENT",
            "STRING_KEY_PITR_ENABLEMENT",
            "STRING_KEY_INSECURE_RULES_DETECTED",
            "STRING_KEY_EXPIRING_RULES_DETECTED",
            "STRING_KEY_FIX_INSECURE_AND_EXPIRING_RULES",
            "STRING_KEY_EDIT_FIREBASE_RULES",
            "STRING_KEY_MAXIMUM_OF_PREDICTED_DISK_USAGE_FOR_THE_NEXT_7_DAYS",
            "STRING_KEY_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_PER_NODE_STORAGE_CAPACITY_OF_THE_CLUSTER",
            "STRING_KEY_CURRENT_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_CURRENT_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_ABOUT_MAINTENANCE",
            "STRING_KEY_ABOUT_SCALING_UP",
            "STRING_KEY_CURRENT_MEMORY_SIZE_GB",
            "STRING_KEY_RECOMMENDED_MEMORY_SIZE_GB",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MIN_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_MAX_NODE_COUNT",
            "STRING_KEY_CURRENT_STORAGE_USED_BYTES_OF_THE_CLUSTER",
            "STRING_KEY_ABOUT_SCALING_OUT",
            "STRING_KEY_PEAK_MEMORY_USAGE_RATIO_ACROSS_SHARDS",
            "STRING_KEY_CURRENT_NUMBER_OF_SHARDS",
            "STRING_KEY_RECOMMENDED_NUMBER_OF_SHARDS",
            "STRING_KEY_ABOUT_AVOIDING_EXPENSIVE_COMMANDS",
            "STRING_KEY_EXPENSIVE_COMMANDS",
            "STRING_KEY_UPGRADE_TO_ENTERPRISE_PLUS_EDITION",
            "STRING_KEY_ENABLE_DATA_CACHE",
            "STRING_KEY_OBSERVATION_PERIOD",
            "STRING_KEY_LAST_DEFERRED_MAINTENANCE_OPERATION_TIME",
            "STRING_KEY_LAST_INSTANCE_MAINTENANCE_EVENT",
            "STRING_KEY_USE_AUTO_MSM",
            "STRING_KEY_CURRENT_MAX_SERVER_MEMORY_MB",
            "STRING_KEY_AUTOSCALING_CONFIGURATION",
            "STRING_KEY_SCALING_DOCS",
            "STRING_KEY_MODIFY_INSTANCE",
            "STRING_KEY_HOTSPOTS_AFFECTED_TABLES",
            "STRING_KEY_HOT_TABLETS_DOCS",
            "STRING_KEY_KEY_VISUALIZER_DOCS",
            "STRING_KEY_BIGTABLE_PERFORMANCE_DOCS",
            "STRING_KEY_VIEW_USERS",
            "STRING_KEY_SPANNER_PREVENT_ACCIDENTAL_DELETION_DOCS",
            "STRING_KEY_SPANNER_ENABLE_DATABASE_DELETION_PROTECTION_DOCS",
            "STRING_KEY_SPANNER_BACKUPS_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_DOCS",
            "STRING_KEY_SPANNER_CREATE_BACKUP_SCHEDULES_DOCS",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE",
            "STRING_KEY_SPANNER_PANTHEON_INSTANCE_BACKUPS",
            "STRING_KEY_SPANNER_AFFECTED_DATABASES",
            "STRING_KEY_SPANNER_PANTHEON_BACKUP_SETTINGS",
            "STRING_KEY_CLOUD_SQL_EDITIONS",
            "STRING_KEY_ALLOYDB_ENABLE_HA_DOCS",
            "STRING_KEY_ALLOYDB_CONFIGURE_BACKUP_POLICY_DOCS",
            "STRING_KEY_VIEW_BACKUP_POLICY_CTA",
            "STRING_KEY_ALLOYDB_BACKUP_COUNT",
            "STRING_KEY_ALLOYDB_BACKUP_POLICY_TYPE",
            "STRING_KEY_DATA_CACHE",
            "STRING_KEY_BACKUP_AND_RESTORE_DATA",
            "STRING_KEY_POINT_IN_TIME_RECOVERY",
            "STRING_KEY_EDIT_BACKUP_SETTINGS",
            "STRING_KEY_GO_TO_RESOURCE",
            "STRING_KEY_OBSERVATION_START",
            "STRING_KEY_OBSERVATION_END",
            "STRING_KEY_STORAGE_UTILIZATION_RATIO",
            "STRING_KEY_CURRENT_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_AUTOSCALING_NODE_COUNT",
            "STRING_KEY_RECOMMENDED_MAINTENANCE_WINDOW",
            "STRING_KEY_FIND_AND_SET_MAINTENANCE_WINDOWS",
            "STRING_KEY_MAXMEMORY_POLICY",
            "STRING_KEY_SYSTEM_MEMORY_USAGE_RATIO",
            "STRING_KEY_FAILED_SNAPSHOTS",
            "STRING_KEY_EXPIRABLE_KEYS_PERCENTAGE",
            "STRING_KEY_OOM_COUNT",
            "STRING_KEY_EDIT_RESOURCE_CTA",
            "STRING_KEY_MEMORYSTORE_MEMORY_MANAGEMENT_BEST_PRACTICES",
            "STRING_KEY_MEMORYSTORE_REDIS_CRASHES",
            "STRING_KEY_BIGTABLE_MIN_NUMBER_OF_NODES_FOR_CUD",
            "STRING_KEY_BIGTABLE_AVERAGE_CLUSTER_NODE_COUNT",
            "STRING_KEY_BIGTABLE_CUD_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_CMEK_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_SPANNER_MITIGATE_DRZ_ORG_POLICY_VIOLATION_DOCS",
            "STRING_KEY_ALLOYDB_RECOMMENDED_BACKUP_COUNT",
            "STRING_KEY_SQLSERVER_BEST_PRACTICES_GLOBAL",
            "STRING_KEY_SQLSERVER_SERVER_MEMORY_CONFIGURATION",
            "STRING_KEY_INSECURE_RULES_AUTHENTICATION",
            "STRING_KEY_KEY_VISUALIZER_CTA",
            "STRING_KEY_SPANNER_SCHEMA",
            "STRING_KEY_SPANNER_SCHEMA_BEST_PRACTICES",
            "STRING_KEY_SPANNER_MANAGE_DATA_USING_CONSOLE",
            "STRING_KEY_SPANNER_MIGRATE_YOUR_DATA",
            "STRING_KEY_SPANNER_MAKE_SCHEMA_UPDATE",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_TABLES",
            "STRING_KEY_SPANNER_PROTOCOL_BUFFER_LIMITATIONS",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS",
            "STRING_KEY_SPANNER_USE_INDEX_ADVISOR",
            "STRING_KEY_SPANNER_SEARCH_INDEXES",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_INDEXES",
            "STRING_KEY_SPANNER_FOREIGN_KEYS",
            "STRING_KEY_SPANNER_CREATE_MANAGE_FOREIGN_KEY_RELATIONSHIPS",
            "STRING_KEY_SPANNER_IMPLEMENT_MULTI_TENANCY",
            "STRING_KEY_SPANNER_DATABASE_SPLITS",
            "STRING_KEY_SPANNER_CREATE_ALERTS_FOR_SPANNER_METRICS",
            "STRING_KEY_SPANNER_QUOTA_AND_LIMITS_SCHEMAS",
            "STRING_KEY_SPANNER_VIEW_OBJECT_CTA",
            "STRING_KEY_SPANNER_QUERY_INSIGHTS_CTA",
            "STRING_KEY_SPANNER_MONITORING_CTA",
            "STRING_KEY_BIGTABLE_CURRENT_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_LATEST_CLIENT_LIBRARY_VERSION",
            "STRING_KEY_BIGTABLE_APP_PROFILE_IDS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARY_LANGUAGE",
            "STRING_KEY_BIGTABLE_UPGRADING_CLIENTS",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_TABLES",
            "STRING_KEY_BIGTABLE_REPLICATION_DELAY_DOCS",
            "STRING_KEY_BIGTABLE_CLIENT_LIBRARIES",
            "STRING_KEY_BIGTABLE_DATABOOST_DOCS",
            "STRING_KEY_INSTANCE_NAME",
            "STRING_KEY_APP_PROFILE_ID",
            "STRING_KEY_CREATE_APP_PROFILE_CTA",
            "STRING_KEY_BIGTABLE_DATABOOST_OVERVIEW_DOCS",
            "STRING_KEY_BIGTABLE_APP_PROFILES_DOCS",
            "STRING_KEY_THREAD_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_THREAD_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_ENABLE_DATABASE_AUDITING",
            "STRING_KEY_JOIN_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_JOIN_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_CURRENT_VALUE",
            "STRING_KEY_TABLE_OPEN_CACHE_RECOMMENDED_VALUE",
            "STRING_KEY_NUMBER_OF_TABLES",
            "STRING_KEY_MYSQL_HIGH_NUMBER_OF_TABLES_PLAYBOOK",
            "STRING_KEY_TMP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_TMP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_CURRENT_VALUE",
            "STRING_KEY_MAX_HEAP_TABLE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_CURRENT_VALUE",
            "STRING_KEY_BINLOG_STMT_CACHE_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_CURRENT_VALUE",
            "STRING_KEY_INNODB_LOG_BUFFER_SIZE_RECOMMENDED_VALUE",
            "STRING_KEY_TRANSACTION_ID_UTILIZATION_PERCENTAGE",
            "STRING_KEY_DAYS_TO_WRAPAROUND",
            "STRING_KEY_PG_TRANSACTION_ID_UTILIZATION_PLAYBOOK",
            "STRING_KEY_MAX_CPU_UTILIZATION",
            "STRING_KEY_MAX_MEMORY_UTILIZATION",
            "STRING_KEY_DISK_USAGE_BYTES_CHANGE",
            "STRING_KEY_MAX_DISK_READ_OPS_COUNT",
            "STRING_KEY_MAX_DISK_WRITE_OPS_COUNT",
            "STRING_KEY_SQL_IDLE_PLAYBOOK",
            "STRING_KEY_CURRENT_STORAGE_USAGE",
            "STRING_KEY_CURRENT_STORAGE_LIMIT",
            "STRING_KEY_ESTIMATED_STORAGE_RUN_OUT_PERIOD",
            "STRING_KEY_CURRENT_MACHINE_TYPE",
            "STRING_KEY_RECOMMENDED_MACHINE_TYPE",
            "STRING_KEY_CURRENT_CORES",
            "STRING_KEY_RECOMMENDED_CORES",
            "STRING_KEY_REVIEW_ORG_POLICY",
            "STRING_KEY_USE_AUTH_PROXY_OR_CONNECTORS",
            "STRING_KEY_REMOVE_AUTHORIZED_NETWORKS",
            "STRING_KEY_ROTATE_SERVER_CERTIFICATE",
            "STRING_KEY_MANAGE_SERVER_CERTIFICATES",
            "STRING_KEY_PUBLIC_IP_ENABLED",
            "STRING_KEY_PRIVATE_IP_ENABLED",
            "STRING_KEY_CONFIGURE_PRIVATE_IP",
            "STRING_KEY_DISABLE_PUBLIC_IP",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_CPU_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA",
            "STRING_KEY_MEMORY_UTILIZATION_OUT_OF_SLA_LATEST_TIMESTAMP",
            "STRING_KEY_ESTIMATED_OOM_PROBABILITY",
            "STRING_KEY_MAX_CONNECTIONS_CURRENT_VALUE",
            "STRING_KEY_MAX_CONNECTIONS_RECOMMENDED_VALUE"
          ]
        },
        "isPrimary": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudRecommenderV1InsightStateInfo": {
      "description": "Information related to insight state.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ACCEPTED",
            "DISMISSED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Insight is active. Content for ACTIVE insights can be updated by Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.",
            "Some action has been taken based on this insight. Insights become accepted when a recommendation derived from the insight has been marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be marked ACCEPTED explicitly. Content for ACCEPTED insights is immutable. ACCEPTED insights can only be marked ACCEPTED (which may update state metadata).",
            "Insight is dismissed. Content for DISMISSED insights can be updated by Google. DISMISSED insights can be marked as ACTIVE."
          ],
          "type": "string",
          "description": "Insight state."
        },
        "stateMetadata": {
          "description": "A map of metadata for the state, provided by user or automations systems.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudRecommenderV1InsightStateInfo",
      "type": "object"
    },
    "CloudRecommendationsRecommendersDatabasesV1Table": {
      "description": "Field for adding custom complex table",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Headers for the table. IMPORTANT: Each header defines a column and its title. All Headers must be unique and shouldn't be used more than once within the same list.",
[...]
