{
  "name": "redis",
  "ownerName": "Google",
  "revision": "20260914",
  "baseUrl": "https://redis.googleapis.com/",
  "version_module": true,
  "canonicalName": "Cloud Redis",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Location": {
      "properties": {
        "name": {
          "description": "Full resource name for the region. For example: \"projects/example-project/locations/us-east1\".",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by Compute Engine. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "Resource ID for the region. For example: \"us-east1\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "InternalResourceMetadata": {
      "id": "InternalResourceMetadata",
      "type": "object",
      "properties": {
        "isDeletionProtectionEnabled": {
          "type": "boolean",
          "description": "Whether deletion protection is enabled for this internal resource."
        },
        "backupRun": {
          "description": "Information about the last backup attempt for this database",
          "$ref": "BackupRun"
        },
        "backupConfiguration": {
          "$ref": "BackupConfiguration",
          "description": "Backup configuration for this database"
        },
        "resourceId": {
          "$ref": "DatabaseResourceId"
        },
        "resourceName": {
          "description": "Required. internal resource name for spanner this will be database name e.g.\"spanner.googleapis.com/projects/123/abc/instances/inst1/databases/db1\"",
          "type": "string"
        },
        "product": {
          "description": "The product this resource represents.",
          "$ref": "Product"
        }
      },
      "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration settings. Similarly bigtable can have multiple clusters within same bigtable instance."
    },
    "AclPolicyRevisionStatus": {
      "description": "AclPolicyRevisionStatus stores the per-revision status for an attached cluster.",
      "id": "AclPolicyRevisionStatus",
      "properties": {
        "errorMessage": {
          "description": "Output only. Human-readable error message providing more details for FAILED states.",
          "type": "string",
          "readOnly": true
        },
        "aclPolicyRevision": {
          "readOnly": true,
          "description": "Output only. The resource name of the ACL policy revision this status refers to. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\"",
          "type": "string"
        },
        "aclPolicyRevisionNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The revision number of the ACL policy revision this status refers to.",
          "format": "int64"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "APPLYING",
            "APPLIED",
            "FAILED"
          ],
          "description": "Output only. AclPolicyRevision state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The cluster is attempting to apply this revision.",
            "The cluster has successfully applied this revision.",
            "The cluster failed to apply this revision."
          ]
        }
      },
      "type": "object"
    },
    "ListAclPolicyRevisionsResponse": {
      "type": "object",
      "id": "ListAclPolicyRevisionsResponse",
      "description": "Response for `ListAclPolicyRevisions`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "aclPolicyRevisions": {
          "type": "array",
          "items": {
            "$ref": "AclPolicyRevision"
          },
          "description": "A list of ACL policy revisions."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "Compliance": {
      "properties": {
        "standard": {
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
          "type": "string"
        },
        "version": {
          "description": "Version of the standard or benchmark, for example, 1.1",
          "type": "string"
        }
      },
      "id": "Compliance",
      "type": "object",
      "description": "Contains compliance information about a security standard indicating unmet recommendations."
    },
    "ListAuthTokensResponse": {
      "type": "object",
      "description": "Response message for ListAuthTokens.",
      "id": "ListAuthTokensResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Auth tokens that could not be reached."
        },
        "authTokens": {
          "type": "array",
          "description": "A list of auth tokens in the project.",
          "items": {
            "$ref": "AuthToken"
          }
        }
      }
    },
    "InstanceAuthString": {
      "description": "Instance AUTH string details.",
      "type": "object",
      "id": "InstanceAuthString",
      "properties": {
        "authString": {
          "type": "string",
          "description": "AUTH string set on the instance."
        }
      }
    },
    "AclPolicyInfo": {
      "description": "Details of the applied ACL policy.",
      "properties": {
        "appliedAclPolicyRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the applied ACL policy revision. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}/revisions/{revision}\""
        },
        "appliedAclPolicyRevisionNumber": {
          "description": "Output only. The revision number of the applied ACL policy revision.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "aclPolicyRevisionStatuses": {
          "description": "Output only. A list of status for various revisions of this ACL policy on the cluster.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AclPolicyRevisionStatus"
          }
        },
        "appliedAclPolicy": {
          "type": "string",
          "description": "Output only. The resource name of the applied ACL policy. Format: \"projects/{project}/locations/{location}/aclPolicies/{acl_policy}\"",
          "readOnly": true
        }
      },
      "id": "AclPolicyInfo",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "MaintenancePolicy": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the policy was last updated."
        },
        "weeklyMaintenanceWindow": {
          "description": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_window is expected to be one.",
          "items": {
            "$ref": "WeeklyMaintenanceWindow"
          },
          "type": "array"
        },
        "description": {
          "description": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the policy was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Maintenance policy for an instance.",
      "id": "MaintenancePolicy"
    },
    "ConnectionDetail": {
      "id": "ConnectionDetail",
      "type": "object",
      "properties": {
        "pscAutoConnection": {
          "description": "Detailed information of a PSC connection that is created through service connectivity automation.",
          "$ref": "PscAutoConnection"
        },
        "pscConnection": {
          "$ref": "PscConnection",
          "description": "Detailed information of a PSC connection that is created by the customer who owns the cluster."
        }
      },
      "description": "Detailed information of each PSC connection."
    },
    "DatabaseResourceHealthSignalData": {
      "type": "object",
      "id": "DatabaseResourceHealthSignalData",
      "description": "Common model for database resource health signal data.",
      "properties": {
        "location": {
          "type": "string",
          "description": "This is used to identify the location of the resource. Example: \"us-central1\""
        },
        "additionalMetadata": {
          "description": "Any other additional metadata",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "description": "Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged",
          "type": "string",
          "enumDescriptions": [
            "Unspecified provider.",
            "Google cloud platform provider",
            "Amazon web service",
            "Azure web service",
            "On-prem database resources.",
            "Self-managed database provider. These are resources on a cloud platform, e.g., database resource installed in a GCE VM, but not a managed database service.",
            "For the rest of the other categories. Other refers to the rest of other database service providers, this could be smaller cloud provider. This needs to be provided when the provider is known, but it is not present in the existing set of enum values."
          ]
        },
        "description": {
          "description": "Description associated with signal",
          "type": "string"
        },
        "resourceContainer": {
          "description": "Closest parent container of this resource. In GCP, 'container' refers to a Cloud Resource Manager project. It must be resource name of a Cloud Resource Manager project with the format of \"provider//\", such as \"projects/123\". For GCP provided resources, number should be project number.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the signal, ex: PUBLIC_SQL_INSTANCE, SQL_LOG_ERROR_VERBOSITY etc.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOLVED",
            "MUTED"
          ],
          "description": "Required. The state of the signal, such as if it's ACTIVE or RESOLVED.",
          "enumDescriptions": [
            "Unspecified state.",
            "The signal requires attention and has not been addressed yet.",
            "The signal has been fixed, triaged as a non-issue or otherwise addressed and is no longer active.",
            "The signal has been muted."
          ]
        },
        "signalId": {
          "type": "string",
          "description": "Required. Unique identifier for the signal. This is an unique id which would be mainatined by partner to identify a signal."
        },
        "signalClass": {
          "enum": [
            "CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "ERROR"
          ],
          "description": "Required. The class of the signal, such as if it's a THREAT or VULNERABILITY.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified signal class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ]
        },
        "signalType": {
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. Type of signal, for example, `AVAILABLE_IN_MULTIPLE_ZONES`, `LOGGING_MOST_ERRORS`, etc."
        },
        "signalSeverity": {
          "description": "The severity of the signal, such as if it's a HIGH or LOW severity.",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable.",
            "A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities.",
            "A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually gain access and the ability to execute arbitrary code or exfiltrate data.",
            "A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment."
          ],
          "type": "string",
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "compliance": {
          "description": "Industry standards associated with this signal; if this signal is an issue, that could be a violation of the associated industry standard(s). For example, AUTO_BACKUP_DISABLED signal is associated with CIS GCP 1.1, CIS GCP 1.2, CIS GCP 1.3, NIST 800-53 and ISO-27001 compliance standards. If a database resource does not have automated backup enable, it will violate these following industry standards.",
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The last time at which the event described by this signal took place"
        },
        "externalUri": {
          "type": "string",
          "description": "The external-uri of the signal, using which more information about this signal can be obtained. In GCP, this will take user to SCC page to get more details about signals."
        }
      }
    },
    "Backup": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of the backup.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "The default value, not set.",
            "The backup is being created.",
            "The backup is active to be used.",
            "The backup is being deleted.",
            "The backup is currently suspended due to reasons like project deletion, billing account closure, etc."
          ],
          "type": "string"
        },
        "shardCount": {
          "format": "int32",
          "description": "Output only. Number of shards for the cluster.",
          "type": "integer",
          "readOnly": true
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. Encryption information of the backup."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "type": "string"
        },
        "clusterUid": {
          "description": "Output only. Cluster uid of this backup.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System assigned unique identifier of the backup."
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup will expire.",
          "format": "google-datetime"
        },
        "engineVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. redis-7.2, valkey-7.5"
        },
        "nodeType": {
          "description": "Output only. Node type of the cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Node type unspecified",
            "Redis shared core nano node_type.",
            "Redis highmem medium node_type.",
            "Redis highmem xlarge node_type.",
            "Redis standard small node_type.",
            "Redis highcpu medium node_type.",
            "Redis standard large node_type.",
            "Redis highmem 2xlarge node_type."
          ],
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "REDIS_SHARED_CORE_NANO",
            "REDIS_HIGHMEM_MEDIUM",
            "REDIS_HIGHMEM_XLARGE",
            "REDIS_STANDARD_SMALL",
            "REDIS_HIGHCPU_MEDIUM",
            "REDIS_STANDARD_LARGE",
            "REDIS_HIGHMEM_2XLARGE"
          ]
        },
        "backupType": {
          "enumDescriptions": [
            "The default value, not set.",
            "On-demand backup.",
            "Automated backup."
          ],
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED"
          ],
          "type": "string",
          "description": "Output only. Type of the backup.",
          "readOnly": true
        },
        "replicaCount": {
          "readOnly": true,
          "description": "Output only. Number of replicas for the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "cluster": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cluster resource path of this backup."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full resource path of the backup. the last part of the name is the backup id with the following format: [YYYYMMDDHHMMSS]_[Shorted Cluster UID] OR customer specified while backup cluster. Example: 20240515123000_1234"
        },
        "totalSizeBytes": {
          "format": "int64",
          "description": "Output only. Total size of the backup in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "backupFiles": {
          "type": "array",
          "description": "Output only. List of backup files of the backup.",
          "readOnly": true,
          "items": {
            "$ref": "BackupFile"
          }
        }
      },
      "description": "Backup of a cluster.",
      "id": "Backup"
    },
    "ClusterPersistenceConfig": {
      "type": "object",
      "description": "Configuration of the persistence functionality.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Not set.",
            "Persistence is disabled, and any snapshot data is deleted.",
            "RDB based persistence is enabled.",
            "AOF based persistence is enabled."
          ],
          "description": "Optional. The mode of persistence.",
          "type": "string",
          "enum": [
            "PERSISTENCE_MODE_UNSPECIFIED",
            "DISABLED",
            "RDB",
            "AOF"
          ]
        },
        "rdbConfig": {
          "$ref": "RDBConfig",
          "description": "Optional. RDB configuration. This field will be ignored if mode is not RDB."
        },
        "aofConfig": {
          "description": "Optional. AOF configuration. This field will be ignored if mode is not AOF.",
          "$ref": "AOFConfig"
        }
      },
      "id": "ClusterPersistenceConfig"
    },
    "AclRule": {
      "id": "AclRule",
      "properties": {
        "rule": {
          "type": "string",
          "description": "Required. The rule to be applied to the username. Ex: \"on >password123 ~* +@all\" The format of the rule is defined by Redis OSS: https://redis.io/docs/latest/operate/oss_and_stack/management/security/acl/"
        },
        "username": {
          "type": "string",
          "description": "Required. Specifies the IAM user or service account to be added to the ACL policy. This username will be directly set on the Redis OSS."
        }
      },
      "description": "A single ACL rule which defines the policy for a user.",
      "type": "object"
    },
    "AutomatedBackupConfig": {
      "description": "The automated backup config for a cluster.",
      "properties": {
        "automatedBackupMode": {
          "enumDescriptions": [
            "Default value. Automated backup config is not specified.",
            "Automated backup config disabled.",
            "Automated backup config enabled."
          ],
          "enum": [
            "AUTOMATED_BACKUP_MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. The automated backup mode. If the mode is disabled, the other fields will be ignored.",
          "type": "string"
        },
        "fixedFrequencySchedule": {
          "description": "Optional. Trigger automated backups at a fixed frequency.",
          "$ref": "FixedFrequencySchedule"
        },
        "retention": {
          "format": "google-duration",
          "description": "Optional. How long to keep automated backups before the backups are deleted. The value should be between 1 day and 365 days. If not specified, the default value is 35 days.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AutomatedBackupConfig"
    },
    "ReconciliationOperationMetadata": {
      "properties": {
        "exclusiveAction": {
          "type": "string",
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "description": "Excluisive action returned by the CLH.",
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ]
        },
        "deleteResource": {
          "description": "DEPRECATED. Use exclusive_action instead.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "id": "ReconciliationOperationMetadata",
      "type": "object"
    },
    "AuthToken": {
      "properties": {
        "token": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service generated authentication token used to connect to the Redis cluster."
        },
        "name": {
          "description": "Identifier. Name of the auth token. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}/authTokens/{auth_token}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the auth token.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The auth token is active.",
            "The auth token is being created.",
            "The auth token is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "description": "Output only. State of the auth token.",
          "readOnly": true
        }
      },
      "id": "AuthToken",
      "type": "object",
      "description": "Auth token for the cluster."
    },
    "Entitlement": {
      "properties": {
        "type": {
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "enumDescriptions": [
            "The entitlement type is unspecified.",
            "The root entitlement representing Gemini package ownership.This will no longer be supported in the future.",
            "The entitlement representing Native Tier, This will be the default Entitlement going forward with GCA Enablement.",
            "The entitlement representing GCA-Standard Tier."
          ],
          "type": "string",
          "description": "An enum that represents the type of this entitlement.",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        },
        "entitlementState": {
          "description": "The current state of user's accessibility to a feature/benefit.",
          "enumDescriptions": [
            "",
            "User is entitled to a feature/benefit, but whether it has been successfully provisioned is decided by provisioning state.",
            "User is entitled to a feature/benefit, but it was requested to be revoked. Whether the revoke has been successful is decided by provisioning state."
          ],
          "type": "string",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ]
        }
      },
      "type": "object",
      "id": "Entitlement",
      "description": "Proto representing the access that a user has to a specific feature/service. NextId: 3."
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "properties": {
        "kmsKeyVersions": {
          "type": "array",
          "description": "Output only. KMS key versions that are being used to protect the data at-rest.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "kmsKeyPrimaryState": {
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The KMS key is enabled and correctly configured.",
            "Permission denied on the KMS key.",
            "The KMS key is disabled.",
            "The KMS key is destroyed.",
            "The KMS key is scheduled to be destroyed.",
            "The EKM key is unreachable.",
            "Billing is disabled for the project.",
            "All other unknown failures."
          ],
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "ENABLED",
            "PERMISSION_DENIED",
            "DISABLED",
            "DESTROYED",
            "DESTROY_SCHEDULED",
            "EKM_KEY_UNREACHABLE_DETECTED",
            "BILLING_DISABLED",
            "UNKNOWN_FAILURE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the primary version of the KMS key perceived by the system. This field is not populated in backups."
        },
        "encryptionType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Output only. Type of encryption."
        },
        "lastUpdateTime": {
          "description": "Output only. The most recent time when the encryption info was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup."
    },
    "DatabaseResourceSignalData": {
      "description": "Database resource signal data. This is used to send signals to Condor which are based on the DB/Instance/Fleet level configurations. These will be used to send signals for all inventory types. Next ID: 10",
      "properties": {
        "location": {
          "description": "Required. Resource location.",
          "type": "string"
        },
        "signalState": {
          "description": "Required. Output only. Signal state of the signal",
          "enumDescriptions": [
            "Unspecified signal state.",
            "Signal is active and requires attention.",
            "Signal is inactive and does not require attention.",
            "Signal is dismissed by the user and should not be shown to the user again."
          ],
          "enum": [
            "SIGNAL_STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DISMISSED"
          ],
          "type": "string",
          "readOnly": true
        },
        "resourceId": {
          "description": "Database resource id.",
          "$ref": "DatabaseResourceId"
        },
        "signalType": {
          "type": "string",
          "description": "Required. Signal type of the signal",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "enumDescriptions": [
            "Unspecified signal type.",
            "Outdated Minor Version",
            "Represents database auditing is disabled.",
            "Represents if a database has a password configured for the root account or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a resource version is in extended support.",
            "Represents if a resource has no automated backup policy.",
            "Represents if a resource version is nearing end of life.",
            "Represents if the last backup of a resource is older than 24 hours.",
            "Represents if a resource is not protected by automatic failover."
          ]
        },
        "lastRefreshTime": {
          "description": "Required. Last time signal was refreshed",
          "format": "google-datetime",
          "type": "string"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Full Resource name of the source resource."
        },
        "signalMetadataList": {
          "type": "array",
          "description": "This will support array of OneOf signal metadata information for a given signal type.",
          "items": {
            "$ref": "SignalMetadata"
          }
        },
        "signalBoolValue": {
          "description": "Deprecated: Use signal_metadata_list instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "backupRun": {
          "deprecated": true,
          "$ref": "BackupRun",
          "description": "Deprecated: Use signal_metadata_list instead."
        }
      },
      "type": "object",
      "id": "DatabaseResourceSignalData"
    },
    "OutputConfig": {
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Google Cloud Storage destination for output content."
        }
      },
      "description": "The output content",
      "id": "OutputConfig"
    },
    "ConfigBasedSignalData": {
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Signal data for boolean signals."
        },
        "fullResourceName": {
          "description": "Required. Full Resource name of the source resource.",
          "type": "string"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Last time signal was refreshed"
        },
        "resourceId": {
          "description": "Database resource id.",
          "$ref": "DatabaseResourceId"
        },
        "signalType": {
          "type": "string",
          "description": "Required. Signal type of the signal",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "enumDescriptions": [
            "Unspecified signal type.",
            "Outdated Minor Version",
            "Represents database auditing is disabled.",
            "Represents if a database has a password configured for the root account or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a resource version is in extended support.",
            "Represents if a resource has no automated backup policy.",
            "Represents if a resource version is nearing end of life.",
            "Represents if the last backup of a resource is older than 24 hours.",
            "Represents if a resource is not protected by automatic failover."
          ]
        }
      },
      "id": "ConfigBasedSignalData",
      "type": "object",
      "description": "Config based signal data. This is used to send signals to Condor which are based on the DB level configurations. These will be used to send signals for self managed databases."
    },
    "BackupClusterRequest": {
      "description": "Request for `BackupCluster`.",
      "id": "BackupClusterRequest",
      "type": "object",
      "properties": {
        "backupId": {
          "description": "Optional. The id of the backup to be created. If not specified, the default value ([YYYYMMDDHHMMSS]_[Shortened Cluster UID] is used.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. TTL for the backup to expire. Value range is 1 day to 100 years. If not specified, the default value is 100 years."
        }
      }
    },
    "ZoneDistributionConfig": {
      "id": "ZoneDistributionConfig",
      "type": "object",
      "description": "Zone distribution config for allocation of cluster resources.",
      "properties": {
        "mode": {
          "enum": [
            "ZONE_DISTRIBUTION_MODE_UNSPECIFIED",
            "MULTI_ZONE",
            "SINGLE_ZONE"
          ],
          "enumDescriptions": [
            "Not Set. Default: MULTI_ZONE",
            "Distribute all resources across 3 zones picked at random, within the region.",
            "Distribute all resources in a single zone. The zone field must be specified, when this mode is selected."
          ],
          "type": "string",
          "description": "Optional. The mode of zone distribution. Defaults to MULTI_ZONE, when not specified."
        },
        "zone": {
          "type": "string",
          "description": "Optional. When SINGLE ZONE distribution is selected, zone field would be used to allocate all resources in that zone. This is not applicable to MULTI_ZONE, and would be ignored for MULTI_ZONE clusters."
        },
        "zones": {
          "description": "Optional. Specify the zones of a multi-zone cluster where Redis Cluster allocates resources. This flag isn't applicable for single-zone clusters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TypedValue": {
      "id": "TypedValue",
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "For double value",
          "type": "number"
        },
        "int64Value": {
          "type": "string",
          "description": "For integer value",
          "format": "int64"
        },
        "boolValue": {
          "type": "boolean",
          "description": "For boolean value"
        },
        "stringValue": {
          "description": "For string value",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RescheduleMaintenanceRequest": {
      "type": "object",
      "id": "RescheduleMaintenanceRequest",
      "description": "Request for RescheduleMaintenance.",
      "properties": {
        "rescheduleType": {
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to use the existing maintenance policy to find the next available window.",
            "If the user wants to reschedule the maintenance to a specific time."
          ],
          "description": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well."
        },
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TlsCertificate": {
      "properties": {
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint of the certificate."
        },
        "expireTime": {
          "description": "Output only. The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "cert": {
          "type": "string",
          "description": "PEM representation."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2020-05-18T00:00:00.094Z`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "TlsCertificate",
      "type": "object",
      "description": "TlsCertificate Resource"
    },
    "ExportInstanceRequest": {
      "properties": {
        "outputConfig": {
          "description": "Required. Specify data to be exported.",
          "$ref": "OutputConfig"
        }
      },
      "type": "object",
      "id": "ExportInstanceRequest",
      "description": "Request for Export."
    },
    "GoogleCloudRedisV1OperationMetadata": {
      "properties": {
        "statusDetail": {
          "type": "string",
          "description": "Operation status details."
        },
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "verb": {
          "description": "Operation verb.",
          "type": "string"
        },
        "target": {
          "description": "Operation target.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End timestamp."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation timestamp."
        }
      },
      "type": "object",
      "id": "GoogleCloudRedisV1OperationMetadata",
      "description": "Represents the v1 metadata of the long-running operation."
    },
    "ResourceMaintenanceInfo": {
      "description": "MaintenanceInfo to capture the maintenance details of database resource.",
      "id": "ResourceMaintenanceInfo",
      "type": "object",
      "properties": {
        "maintenanceState": {
          "enumDescriptions": [
            "Unspecified state.",
            "Database resource is being created.",
            "Database resource has been created and is ready to use.",
            "Database resource is being updated.",
            "Database resource is unheathy and under repair.",
            "Database resource is being deleted.",
            "Database resource encountered an error and is in indeterministic state."
          ],
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. Current state of maintenance on the database resource.",
          "readOnly": true,
          "type": "string"
        },
        "denyMaintenanceSchedules": {
          "items": {
            "$ref": "ResourceMaintenanceDenySchedule"
          },
          "type": "array",
          "description": "Optional. List of Deny maintenance period for the database resource."
        },
        "maintenanceSchedule": {
          "$ref": "ResourceMaintenanceSchedule",
          "description": "Optional. Maintenance window for the database resource."
        },
        "upcomingMaintenance": {
          "$ref": "UpcomingMaintenance",
          "description": "Optional. Upcoming maintenance for the database resource. This field is populated once SLM generates and publishes upcoming maintenance window."
        },
        "maintenanceVersion": {
          "description": "Optional. Current Maintenance version of the database resource. Example: \"MYSQL_8_0_41.R20250531.01_15\"",
          "type": "string"
        },
        "isInstanceStopped": {
          "description": "Optional. Whether the instance is in stopped state. This information is temporarily being captured in maintenanceInfo, till STOPPED state is supported by DB Center.",
          "type": "boolean"
        },
        "currentVersionReleaseDate": {
          "description": "Optional. The date when the current maintenance version was released.",
          "$ref": "Date"
        },
        "nextAvailableMaintenanceVersions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of next available maintenance versions.",
          "type": "array"
        }
      }
    },
    "ClusterWeeklyMaintenanceWindow": {
      "description": "Time window specified for weekly operations.",
      "type": "object",
      "properties": {
        "day": {
          "description": "Optional. Allows to define schedule that runs specified day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Optional. Start time of the window in UTC."
        }
      },
      "id": "ClusterWeeklyMaintenanceWindow"
    },
    "BackupDRConfiguration": {
      "description": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource.",
      "id": "BackupDRConfiguration",
      "properties": {
        "backupdrManaged": {
          "description": "Indicates if the resource is managed by BackupDR.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DatabaseResourceMetadata": {
      "type": "object",
      "properties": {
        "backupConfiguration": {
          "description": "Backup configuration for this instance",
          "$ref": "BackupConfiguration"
        },
        "ipAddress": {
          "$ref": "IpAddress",
          "description": "Optional. Private and public IP address of the resource."
        },
        "suspensionReason": {
          "description": "Optional. Suspension reason for the resource.",
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "type": "string"
        },
        "primaryResourceId": {
          "$ref": "DatabaseResourceId",
          "description": "Identifier for this resource's immediate parent/primary resource if the current resource is a replica or derived form of another Database resource. Else it would be NULL. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional."
        },
        "userLabelSet": {
          "description": "User-provided labels associated with the resource",
          "$ref": "UserLabels"
        },
        "instanceType": {
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "description": "The type of the instance. Specified at creation time.",
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "backupdrConfiguration": {
          "$ref": "BackupDRConfiguration",
          "description": "Optional. BackupDR Configuration for the resource."
        },
        "gcbdrConfiguration": {
          "deprecated": true,
          "description": "GCBDR configuration for the resource.",
          "$ref": "GCBDRConfiguration"
        },
        "resourceContainer": {
          "description": "Closest parent Cloud Resource Manager container of this resource. It must be resource name of a Cloud Resource Manager project with the format of \"/\", such as \"projects/123\". For GCP provided resources, number should be project number.",
          "type": "string"
        },
        "zone": {
          "description": "The resource zone. This is only applicable for zonal resources and will be empty for regional and multi-regional resources.",
          "type": "string"
        },
        "backupRun": {
          "description": "Latest backup run information for this instance",
          "$ref": "BackupRun"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the resource, i.e. the time when resource is created and recorded in partner service."
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Whether deletion protection is enabled for this resource.",
          "type": "boolean"
        },
        "expectedState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ],
          "description": "The state that the instance is expected to be in. For example, an instance state can transition to UNHEALTHY due to wrong patch update, while the expected state will remain at the HEALTHY."
        },
        "resourceFlags": {
          "items": {
            "$ref": "ResourceFlags"
          },
          "type": "array",
          "description": "Optional. List of resource flags for the database resource."
        },
        "currentState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "description": "Current state of the instance.",
          "enumDescriptions": [
            "",
            "The instance is running.",
            "Instance being created, updated, deleted or under maintenance",
            "When instance is suspended",
            "Instance is deleted.",
            "For rest of the other category",
            "Instance is in STOPPED state."
          ]
        },
        "additionalMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Field to ingest additional metadata whichd does not support proto format."
        },
        "availabilityConfiguration": {
          "description": "Availability configuration for this instance",
          "$ref": "AvailabilityConfiguration"
        },
        "primaryResourceLocation": {
          "type": "string",
          "description": "Primary resource location. REQUIRED if the immediate parent exists when first time resource is getting ingested, otherwise optional."
        },
        "location": {
          "description": "The resource location. REQUIRED",
          "type": "string"
        },
        "edition": {
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "description": "Optional. Edition represents whether the instance is ENTERPRISE or ENTERPRISE_PLUS. This information is core to Cloud SQL only and is used to identify the edition of the instance.",
          "enumDescriptions": [
            "Default, to make it consistent with instance edition enum.",
            "Represents the enterprise edition.",
            "Represents the enterprise plus edition.",
            "Represents the standard edition."
          ]
        },
        "maintenanceInfo": {
          "description": "Optional. Maintenance info for the resource.",
          "$ref": "ResourceMaintenanceInfo"
        },
        "resourceName": {
          "description": "Required. Different from DatabaseResourceId.unique_id, a resource name can be reused over time. That is, after a resource named \"ABC\" is deleted, the name \"ABC\" can be used to to create a new resource within the same source. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "Entitlement"
          },
          "description": "Entitlements associated with the resource"
        },
        "updationTime": {
          "description": "The time at which the resource was updated and recorded at partner service.",
          "type": "string",
          "format": "google-datetime"
        },
        "machineConfiguration": {
          "description": "Machine configuration for this resource.",
          "$ref": "MachineConfiguration"
        },
        "modes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "enumDescriptions": [
              "Default mode.",
              "Native mode.",
              "MongoDB compatible mode.",
              "Datastore mode.",
              "Memorystore/ValKey: Cluster enabled mode.",
              "Memorystore/ValKey: Cluster disabled mode."
            ]
          },
          "description": "Optional. The modes of the database resource."
        },
        "tagsSet": {
          "description": "Optional. Tags associated with this resources.",
          "$ref": "Tags"
        },
        "id": {
          "$ref": "DatabaseResourceId",
          "description": "Required. Unique identifier for a Database resource"
        },
        "customMetadata": {
          "description": "Any custom metadata associated with the resource",
          "$ref": "CustomMetadataData"
        },
        "internalAdditionalMetadata": {
          "type": "object",
          "description": "Field to ingest additional metadata which support proto format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "product": {
          "$ref": "Product",
          "description": "The product this resource represents."
        }
      },
      "description": "Common model for database resource instance metadata. Next ID: 35",
      "id": "DatabaseResourceMetadata"
    },
    "CertChain": {
      "type": "object",
      "id": "CertChain",
      "properties": {
        "certificates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The certificates that form the CA chain, from leaf to root order."
        }
      }
    },
    "RescheduleClusterMaintenanceRequest": {
      "id": "RescheduleClusterMaintenanceRequest",
      "properties": {
        "rescheduleType": {
          "enumDescriptions": [
            "Not set.",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to reschedule the maintenance to a specific time."
          ],
          "type": "string",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "SPECIFIC_TIME"
          ],
          "description": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well."
        },
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Request for rescheduling a cluster maintenance."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "AvailabilityConfiguration": {
      "id": "AvailabilityConfiguration",
      "properties": {
        "crossRegionReplicaConfigured": {
          "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions",
          "type": "boolean"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources.",
          "type": "boolean"
        },
        "availabilityType": {
          "enumDescriptions": [
            "Unspecified availability type.",
            "Zonal available instance.",
            "Regional available instance.",
            "Multi regional instance",
            "For rest of the other category"
          ],
          "type": "string",
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ]
        },
        "promotableReplicaConfigured": {
          "type": "boolean"
        },
        "externalReplicaConfigured": {
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for availability of database instance"
    },
    "StateInfo": {
      "description": "Represents additional information about the state of the cluster.",
      "id": "StateInfo",
      "properties": {
        "updateInfo": {
          "description": "Describes ongoing update on the cluster when cluster state is UPDATING.",
          "$ref": "UpdateInfo"
        }
      },
      "type": "object"
    },
    "RetentionSettings": {
      "id": "RetentionSettings",
      "type": "object",
      "properties": {
        "durationBasedRetention": {
          "format": "google-duration",
          "description": "Duration based retention period i.e. 172800 seconds (2 days)",
          "type": "string"
        },
        "timestampBasedRetentionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp based retention period i.e. 2024-05-01T00:00:00Z"
        },
        "retentionUnit": {
          "deprecated": true,
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\".",
            "Retention will be by Time, eg. \"retain backups till a specific time\" i.e. till 2024-05-01T00:00:00Z.",
            "Retention will be by duration, eg. \"retain the backups for 172800 seconds (2 days)\".",
            "For rest of the other category"
          ],
          "type": "string",
          "description": "The unit that 'retained_backups' represents."
        },
        "timeBasedRetention": {
          "description": "Duration based retention period i.e. 172800 seconds (2 days)",
          "type": "string",
          "format": "google-duration",
          "deprecated": true
        },
        "quantityBasedRetention": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity based retention period i.e. 7 backups"
        }
      }
    },
    "ListBackupsResponse": {
      "properties": {
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "A list of backups in the project."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Backups that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response for `ListBackups`.",
      "id": "ListBackupsResponse"
    },
    "ClusterMaintenanceSchedule": {
      "description": "Upcoming maintenance schedule.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ClusterMaintenanceSchedule"
    },
    "ManagedBackupSource": {
      "id": "ManagedBackupSource",
      "type": "object",
      "description": "Backups that generated and managed by memorystore.",
      "properties": {
        "backup": {
          "description": "Optional. Example: //redis.googleapis.com/projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup} A shorter version (without the prefix) of the backup name is also supported, like projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup_id} In this case, it assumes the backup is under redis.googleapis.com.",
          "type": "string"
        }
      }
    },
    "RDBConfig": {
      "description": "Configuration of the RDB based persistence.",
      "type": "object",
      "id": "RDBConfig",
      "properties": {
        "rdbSnapshotPeriod": {
          "enum": [
            "SNAPSHOT_PERIOD_UNSPECIFIED",
            "ONE_HOUR",
            "SIX_HOURS",
            "TWELVE_HOURS",
            "TWENTY_FOUR_HOURS"
          ],
          "enumDescriptions": [
            "Not set.",
            "One hour.",
            "Six hours.",
            "Twelve hours.",
            "Twenty four hours."
          ],
          "type": "string",
          "description": "Optional. Period between RDB snapshots."
        },
        "rdbSnapshotStartTime": {
          "type": "string",
          "description": "Optional. The time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used.",
          "format": "google-datetime"
        }
      }
    },
    "PscConnection": {
      "type": "object",
      "id": "PscConnection",
      "description": "Details of consumer resources in a PSC connection.",
      "properties": {
        "address": {
          "description": "Required. The IP allocated on the consumer network for the PSC forwarding rule.",
          "type": "string"
        },
        "network": {
          "description": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}.",
          "type": "string"
        },
        "pscConnectionId": {
          "type": "string",
          "description": "Required. The PSC connection id of the forwarding rule connected to the service attachment."
        },
        "connectionType": {
          "description": "Output only. Type of the PSC connection.",
          "enumDescriptions": [
            "Cluster endpoint Type is not set",
            "Cluster endpoint that will be used as for cluster topology discovery.",
            "Cluster endpoint that will be used as primary endpoint to access primary.",
            "Cluster endpoint that will be used as reader endpoint to access replicas."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CONNECTION_TYPE_DISCOVERY",
            "CONNECTION_TYPE_PRIMARY",
            "CONNECTION_TYPE_READER"
          ]
        },
        "projectId": {
          "type": "string",
          "description": "Optional. Project ID of the consumer project where the forwarding rule is created in."
        },
        "pscConnectionStatus": {
          "description": "Output only. The status of the PSC connection. Please note that this value is updated periodically. To get the latest status of a PSC connection, follow https://cloud.google.com/vpc/docs/configure-private-service-connect-services#endpoint-details.",
          "enumDescriptions": [
            "PSC connection status is not specified.",
            "The connection is active",
            "Connection not found"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "PSC_CONNECTION_STATUS_UNSPECIFIED",
            "PSC_CONNECTION_STATUS_ACTIVE",
            "PSC_CONNECTION_STATUS_NOT_FOUND"
          ]
        },
        "port": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. port will only be set for Primary/Reader or Discovery endpoint."
        },
        "serviceAttachment": {
          "type": "string",
          "description": "Required. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}."
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}."
        }
      }
    },
    "NodeInfo": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. Node identifying string. e.g. 'node-0', 'node-1'",
          "readOnly": true
        },
        "zone": {
          "type": "string",
          "description": "Output only. Location of the node.",
          "readOnly": true
        }
      },
      "description": "Node specific properties.",
      "type": "object",
      "id": "NodeInfo"
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response for `ListClusters`.",
      "properties": {
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "A list of Redis clusters in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder Redis entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/clusters/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListClusters\"."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "AddAuthTokenRequest": {
      "type": "object",
      "properties": {
        "authToken": {
          "$ref": "AuthToken",
          "description": "Required. The auth token to add."
        }
      },
      "description": "Request message for AddAuthToken.",
      "id": "AddAuthTokenRequest"
    },
    "SignalMetadata": {
      "type": "object",
      "properties": {
        "backupRun": {
          "description": "Signal data for backup runs.",
          "$ref": "BackupRun"
        },
        "signalBoolValue": {
          "description": "Signal data for boolean signals.",
          "type": "boolean"
        }
      },
      "id": "SignalMetadata",
      "description": "SignalMetadata contains one of the signal metadata proto messages associated with a SignalType. This proto will be mapped to SignalMetadata message in storage.proto. Next ID: 3"
    },
    "GCBDRConfiguration": {
      "properties": {
        "gcbdrManaged": {
          "type": "boolean",
          "description": "Whether the resource is managed by GCBDR."
        }
      },
      "type": "object",
      "id": "GCBDRConfiguration",
      "description": "GCBDR Configuration for the resource."
    },
    "RegionalManagedCertificateAuthority": {
      "type": "object",
      "description": "CA certificate chains for redis managed server authentication.",
      "id": "RegionalManagedCertificateAuthority",
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "RegionalCertChain"
          },
          "type": "array",
          "description": "The PEM encoded CA certificate chains for redis managed server authentication"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "{ `createTime`: The time the operation was created. `endTime`: The time the operation finished running. `target`: Server-defined resource path for the target of the operation. `verb`: Name of the verb executed by the operation. `statusDetail`: Human-readable status of the operation, if any. `cancelRequested`: Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`. `apiVersion`: API version used to start the operation. }"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "BackupCollection": {
      "properties": {
        "lastBackupTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time a backup was created in the backup collection.",
          "type": "string"
        },
        "cluster": {
          "readOnly": true,
          "description": "Output only. The full resource path of the cluster the backup collection belongs to. Example: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full resource path of the backup collection."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System assigned unique identifier of the backup collection."
        },
        "clusterUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cluster uid of the backup collection."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup collection was created.",
          "readOnly": true,
          "type": "string"
        },
        "totalBackupCount": {
          "description": "Output only. Total number of backups in the backup collection.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "totalBackupSizeBytes": {
          "description": "Output only. Total size of all backups in the backup collection.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "kmsKey": {
          "type": "string",
          "description": "Output only. The KMS key used to encrypt the backups under this backup collection.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "BackupCollection",
      "description": "BackupCollection of a cluster."
    },
    "BackupDRMetadata": {
      "description": "BackupDRMetadata contains information about the backup and disaster recovery metadata of a database resource.",
      "type": "object",
      "properties": {
        "backupRun": {
          "$ref": "BackupRun",
          "description": "Latest backup run information for this instance."
        },
        "resourceId": {
          "description": "Required. Database resource id.",
          "$ref": "DatabaseResourceId"
        },
        "fullResourceName": {
          "description": "Required. Full resource name of this instance.",
[...]
