{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "id": "run:v2",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/run/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/run": {
          "description": "See, edit, configure, and delete your Google Cloud Run data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/run.readonly": {
          "description": "See your Google Cloud Run data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-run.googleapis.com/",
      "location": "africa-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "location": "asia-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://asia-south2-run.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://europe-central2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://europe-north1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north2-run.googleapis.com/",
      "location": "europe-north2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://europe-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://europe-west10-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://europe-west12-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://europe-west2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-run.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west6-run.googleapis.com/",
      "location": "europe-west6",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://europe-west8-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://europe-west9-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://me-central1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://me-central2-run.googleapis.com/"
    },
    {
      "endpointUrl": "https://me-west1-run.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://us-central1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://us-east1-run.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://us-east5-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://us-east7-run.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-run.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://us-west4-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://us-west8-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "baseUrl": "https://run.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Run",
  "basePath": "",
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260612",
  "servicePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "name": "run",
  "schemas": {
    "GoogleDevtoolsCloudbuildV1TimeSpan": {
      "id": "GoogleDevtoolsCloudbuildV1TimeSpan",
      "description": "Start and end times for a build execution phase.",
      "properties": {
        "endTime": {
          "description": "End of time span.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Start of time span.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GoogleCloudRunV2NetworkInterface": {
      "type": "object",
      "description": "Direct VPC egress settings.",
      "properties": {
        "network": {
          "description": "Optional. The VPC network that the Cloud Run resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The VPC subnetwork that the Cloud Run resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Network tags applied to this Cloud Run resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRunV2NetworkInterface"
    },
    "GoogleCloudRunV2TaskAttemptResult": {
      "description": "Result of a task attempt.",
      "properties": {
        "status": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. The status of this attempt. If the status code is OK, then the attempt succeeded."
        },
        "exitCode": {
          "description": "Output only. The exit code of this attempt. This may be unset if the container was unable to exit cleanly with a code due to some other failure. See status field for possible failure details. At most one of exit_code or term_signal will be set.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "termSignal": {
          "description": "Output only. Termination signal of the container. This is set to non-zero if the container is terminated by the system. At most one of exit_code or term_signal will be set.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudRunV2TaskAttemptResult",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "type": "object",
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "properties": {
        "approvalRequired": {
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start.",
          "type": "boolean"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1ApprovalConfig"
    },
    "GoogleCloudRunV2ServiceScaling": {
      "type": "object",
      "id": "GoogleCloudRunV2ServiceScaling",
      "description": "Scaling settings applied at the service level rather than at the revision level.",
      "properties": {
        "scalingMode": {
          "description": "Optional. The scaling mode for the service.",
          "enum": [
            "SCALING_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Scale based on traffic between min and max instances.",
            "Scale to exactly min instances and ignore max instances."
          ]
        },
        "minInstanceCount": {
          "type": "integer",
          "description": "Optional. total min instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving.",
          "format": "int32"
        },
        "manualInstanceCount": {
          "description": "Optional. total instance count for the service in manual scaling mode. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving.",
          "format": "int32",
          "type": "integer"
        },
        "maxInstanceCount": {
          "description": "Optional. total max instances for the service. This number of instances is divided among all revisions with specified traffic based on the percent of traffic they are receiving.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GitSourceRepository": {
      "description": "A repository for a git source.",
      "properties": {
        "developerConnect": {
          "type": "string",
          "description": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
        },
        "url": {
          "type": "string",
          "description": "Location of the Git repository."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1GitSourceRepository",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Oci": {
      "type": "object",
      "description": "OCI image to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "registryPath": {
          "description": "Required. Registry path to upload the container to. e.g. us-east1-docker.pkg.dev/my-project/my-repo/my-image",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Tags to apply to the uploaded image. e.g. latest, 1.0.0",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "file": {
          "description": "Required. Path on the local file system where to find the container to upload. e.g. /workspace/my-image.tar",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1Oci"
    },
    "GoogleCloudRunV2ContainerStatus": {
      "description": "ContainerStatus holds the information of container name and image digest value.",
      "properties": {
        "imageDigest": {
          "description": "ImageDigest holds the resolved digest for the image specified and resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object.",
          "type": "string"
        },
        "name": {
          "description": "The name of the container, if specified.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2ContainerStatus",
      "type": "object"
    },
    "GoogleCloudRunV2InstanceSplitStatus": {
      "id": "GoogleCloudRunV2InstanceSplitStatus",
      "description": "Represents the observed state of a single `InstanceSplit` entry.",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Revision to which this instance split is assigned."
        },
        "percent": {
          "type": "integer",
          "description": "Specifies percent of the instance split to this Revision.",
          "format": "int32"
        },
        "type": {
          "description": "The allocation type for this instance split.",
          "enum": [
            "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ]
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1PoolOption": {
      "id": "GoogleDevtoolsCloudbuildV1PoolOption",
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        }
      },
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudRunV2RevisionScaling": {
      "type": "object",
      "id": "GoogleCloudRunV2RevisionScaling",
      "description": "Settings for revision-level scaling settings.",
      "properties": {
        "minInstanceCount": {
          "description": "Optional. Minimum number of serving instances that this resource should have.",
          "format": "int32",
          "type": "integer"
        },
        "concurrencyUtilization": {
          "description": "Optional. Determines a threshold for concurrency utilization before scaling begins. Accepted values are between `0.1` and `0.95` (inclusive) or `0.0` to disable concurrency utilization as threshold for scaling. CPU and concurrency scaling cannot both be disabled.",
          "format": "float",
          "type": "number"
        },
        "maxInstanceCount": {
          "description": "Optional. Maximum number of serving instances that this resource should have. When unspecified, the field is set to the server default value of 100. For more information see https://cloud.google.com/run/docs/configuring/max-instances",
          "format": "int32",
          "type": "integer"
        },
        "cpuUtilization": {
          "description": "Optional. Determines a threshold for CPU utilization before scaling begins. Accepted values are between `0.1` and `0.95` (inclusive) or `0.0` to disable CPU utilization as threshold for scaling. CPU and concurrency scaling cannot both be disabled.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1StorageSource": {
      "id": "GoogleDevtoolsCloudbuildV1StorageSource",
      "description": "Location of the source in an archive file in Cloud Storage.",
      "properties": {
        "generation": {
          "type": "string",
          "description": "Optional. Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64"
        },
        "bucket": {
          "description": "Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "object": {
          "type": "string",
          "description": "Required. Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
        },
        "sourceFetcher": {
          "description": "Optional. Option to specify the tool to fetch the source file for the build.",
          "enum": [
            "SOURCE_FETCHER_UNSPECIFIED",
            "GSUTIL",
            "GCS_FETCHER"
          ],
          "enumDescriptions": [
            "Unspecified defaults to GSUTIL.",
            "Use the \"gsutil\" tool to download the source file.",
            "Use the Cloud Storage Fetcher tool to download the source file."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2Volume": {
      "id": "GoogleCloudRunV2Volume",
      "description": "Volume represents a named volume in a container.",
      "properties": {
        "cloudSqlInstance": {
          "$ref": "GoogleCloudRunV2CloudSqlInstance",
          "description": "For Cloud SQL volumes, contains the specific instances that should be mounted. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run."
        },
        "emptyDir": {
          "description": "Ephemeral storage used as a shared volume.",
          "$ref": "GoogleCloudRunV2EmptyDirVolumeSource"
        },
        "name": {
          "description": "Required. Volume's name.",
          "type": "string"
        },
        "nfs": {
          "description": "For NFS Voumes, contains the path to the nfs Volume",
          "$ref": "GoogleCloudRunV2NFSVolumeSource"
        },
        "secret": {
          "description": "Secret represents a secret that should populate this volume.",
          "$ref": "GoogleCloudRunV2SecretVolumeSource"
        },
        "gcs": {
          "description": "Persistent storage backed by a Google Cloud Storage bucket.",
          "$ref": "GoogleCloudRunV2GCSVolumeSource"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Secrets": {
      "id": "GoogleDevtoolsCloudbuildV1Secrets",
      "description": "Secrets and secret environment variables.",
      "properties": {
        "secretManager": {
          "type": "array",
          "description": "Secrets in Secret Manager and associated secret environment variable.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1SecretManagerSecret"
          }
        },
        "inline": {
          "description": "Secrets encrypted with KMS key and the associated secret environment variable.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1InlineSecret"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2BuildInfo": {
      "type": "object",
      "id": "GoogleCloudRunV2BuildInfo",
      "description": "Build information of the image.",
      "properties": {
        "functionTarget": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Entry point of the function when the image is a Cloud Run function."
        },
        "sourceLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source code location of the image."
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1GitSourceDependency": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1GitSourceDependency",
      "description": "Represents a git repository as a build dependency.",
      "properties": {
        "repository": {
          "description": "Required. The kind of repo (url or dev connect).",
          "$ref": "GoogleDevtoolsCloudbuildV1GitSourceRepository"
        },
        "destPath": {
          "description": "Required. Where should the files be placed on the worker.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Required. The revision that we will fetch the repo at."
        },
        "recurseSubmodules": {
          "type": "boolean",
          "description": "Optional. True if submodules should be fetched too (default false)."
        },
        "depth": {
          "description": "Optional. How much history should be fetched for the build (default 1, -1 for all history).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudRunV2HTTPHeader": {
      "type": "object",
      "id": "GoogleCloudRunV2HTTPHeader",
      "description": "HTTPHeader describes a custom header to be used in HTTP probes",
      "properties": {
        "name": {
          "description": "Required. The header field name",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The header field value"
        }
      }
    },
    "GoogleCloudRunV2TrafficTarget": {
      "type": "object",
      "id": "GoogleCloudRunV2TrafficTarget",
      "description": "Holds a single traffic routing entry for the Service. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "properties": {
        "revision": {
          "description": "Revision to which to send this portion of traffic, if traffic allocation is by revision.",
          "type": "string"
        },
        "percent": {
          "description": "Specifies percent of the traffic to this Revision. This defaults to zero if unspecified.",
          "format": "int32",
          "type": "integer"
        },
        "tag": {
          "type": "string",
          "description": "Indicates a string to be part of the URI to exclusively reference this target."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ],
          "type": "string",
          "description": "The allocation type for this traffic target.",
          "enum": [
            "TRAFFIC_TARGET_ALLOCATION_TYPE_UNSPECIFIED",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
            "TRAFFIC_TARGET_ALLOCATION_TYPE_REVISION"
          ]
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Volume": {
      "id": "GoogleDevtoolsCloudbuildV1Volume",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        },
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1ArtifactObjects": {
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
        },
        "paths": {
          "type": "array",
          "description": "Path globs used to match files in the build's workspace.",
          "items": {
            "type": "string"
          }
        },
        "timing": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1ArtifactObjects",
      "type": "object"
    },
    "GoogleCloudRunV2VersionToPath": {
      "id": "GoogleCloudRunV2VersionToPath",
      "description": "VersionToPath maps a specific version of a secret to a relative file to mount to, relative to VolumeMount's mount_path.",
      "properties": {
        "version": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest value, or an integer or a secret alias for a specific version.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Required. The relative path of the secret in the container."
        },
        "mode": {
          "type": "integer",
          "description": "Integer octal mode bits to use on this file, must be a value between 01 and 0777 (octal). If 0 or not set, the Volume's default mode will be used. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2InlinedSource": {
      "type": "object",
      "description": "Inlined source.",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2SourceFile"
          },
          "description": "Required. Input only. The source code."
        }
      },
      "id": "GoogleCloudRunV2InlinedSource"
    },
    "GoogleCloudRunV2SecretKeySelector": {
      "description": "SecretEnvVarSource represents a source for the value of an EnvVar.",
      "properties": {
        "secret": {
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name} if the secret is in the same project. projects/{project}/secrets/{secret_name} if the secret is in a different project.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest version, an integer for a specific version, or a version alias."
        }
      },
      "id": "GoogleCloudRunV2SecretKeySelector",
      "type": "object"
    },
    "GoogleCloudRunV2TaskTemplate": {
      "description": "TaskTemplate describes the data a task should have when created from a template.",
      "properties": {
        "timeout": {
          "description": "Optional. Max allowed time duration the Task may be active before the system will actively try to mark it failed and kill associated containers. This applies per attempt of a task, meaning each retry can run for the full timeout. Defaults to 600 seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "vpcAccess": {
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "Optional. VPC Access configuration to use for this Task. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "Optional. A list of Volumes to make available to containers."
        },
        "executionEnvironment": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "description": "Optional. The execution environment being used to host this Task.",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ]
        },
        "serviceAccount": {
          "description": "Optional. Email address of the IAM service account associated with the Task of a Job. The service account represents the identity of the running task, and determines what permissions the task has. If not provided, the task will use the project's default service account.",
          "type": "string"
        },
        "maxRetries": {
          "description": "Number of retries allowed per Task, before marking this Task failed. Defaults to 3.",
          "format": "int32",
          "type": "integer"
        },
        "containers": {
          "type": "array",
          "description": "Holds the single container that defines the unit of execution for this task.",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          }
        },
        "nodeSelector": {
          "$ref": "GoogleCloudRunV2NodeSelector",
          "description": "Optional. The node selector for the task template."
        },
        "gpuZonalRedundancyDisabled": {
          "description": "Optional. True if GPU zonal redundancy is disabled on this task template.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudRunV2TaskTemplate",
      "type": "object"
    },
    "GoogleCloudRunV2GRPCAction": {
      "id": "GoogleCloudRunV2GRPCAction",
      "description": "GRPCAction describes an action involving a GRPC port.",
      "properties": {
        "port": {
          "description": "Optional. Port number of the gRPC service. Number must be in the range 1 to 65535. If not specified, defaults to the exposed port of the container, which is the value of container.ports[0].containerPort.",
          "format": "int32",
          "type": "integer"
        },
        "service": {
          "description": "Optional. Service is the name of the service to place in the gRPC HealthCheckRequest (see https://github.com/grpc/grpc/blob/master/doc/health-checking.md ). If this is not specified, the default behavior is defined by gRPC.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2Container": {
      "type": "object",
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments can be supplied by the system to the container at runtime.",
      "properties": {
        "sandboxLauncher": {
          "description": "Optional. Indicates that this container can act as a sandbox supervisor and launch sandboxes.",
          "type": "boolean"
        },
        "env": {
          "type": "array",
          "description": "List of environment variables to set in the container.",
          "items": {
            "$ref": "GoogleCloudRunV2EnvVar"
          }
        },
        "resources": {
          "$ref": "GoogleCloudRunV2ResourceRequirements",
          "description": "Compute Resource requirements by this container."
        },
        "ports": {
          "description": "List of ports to expose from the container. Only a single port can be specified. The specified ports must be listening on all interfaces (0.0.0.0) within the container to be accessible. If omitted, a port number will be chosen and passed to the container through the PORT environment variable for the container to listen on.",
          "items": {
            "$ref": "GoogleCloudRunV2ContainerPort"
          },
          "type": "array"
        },
        "livenessProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails."
        },
        "dependsOn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of the containers that must start before this container."
        },
        "command": {
          "type": "array",
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided.",
          "items": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "description": "Required. Name of the container image in Dockerhub, Google Artifact Registry, or Google Container Registry. If the host is not provided, Dockerhub is assumed."
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL (RFC 1123).",
          "type": "string"
        },
        "startupProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Startup probe of application within the container. All other probes are disabled if a startup probe is provided, until it succeeds. Container will not be added to service endpoints if the probe fails."
        },
        "volumeMounts": {
          "type": "array",
          "description": "Volume to mount into the container's filesystem.",
          "items": {
            "$ref": "GoogleCloudRunV2VolumeMount"
          }
        },
        "baseImageUri": {
          "type": "string",
          "description": "Base image for this container. Only supported for services. If set, it indicates that the service is enrolled into automatic base image update."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided.",
          "type": "array"
        },
        "sourceCode": {
          "description": "Optional. Location of the source.",
          "$ref": "GoogleCloudRunV2SourceCode"
        },
        "buildInfo": {
          "description": "Output only. The build info of the container image.",
          "readOnly": true,
          "$ref": "GoogleCloudRunV2BuildInfo"
        },
        "workingDir": {
          "type": "string",
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image."
        },
        "readinessProbe": {
          "$ref": "GoogleCloudRunV2Probe",
          "description": "Readiness probe to be used for health checks."
        }
      },
      "id": "GoogleCloudRunV2Container"
    },
    "GoogleCloudRunV2ServiceMesh": {
      "description": "Settings for Cloud Service Mesh. For more information see https://cloud.google.com/service-mesh/docs/overview.",
      "properties": {
        "mesh": {
          "type": "string",
          "description": "The Mesh resource name. Format: `projects/{project}/locations/global/meshes/{mesh}`, where `{project}` can be project id or number."
        }
      },
      "id": "GoogleCloudRunV2ServiceMesh",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1GitSource": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1GitSource",
      "description": "Location of the source in any accessible Git repository.",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
        },
        "url": {
          "type": "string",
          "description": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
        },
        "dir": {
          "type": "string",
          "description": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        }
      }
    },
    "GoogleCloudRunV2InstanceSplit": {
      "type": "object",
      "description": "Holds a single instance split entry for the Worker. Allocations can be done to a specific Revision name, or pointing to the latest Ready Revision.",
      "properties": {
        "percent": {
          "description": "Specifies percent of the instance split to this Revision. This defaults to zero if unspecified.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "The allocation type for this instance split.",
          "enum": [
            "INSTANCE_SPLIT_ALLOCATION_TYPE_UNSPECIFIED",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_LATEST",
            "INSTANCE_SPLIT_ALLOCATION_TYPE_REVISION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance allocation type.",
            "Allocates instances to the Service's latest ready Revision.",
            "Allocates instances to a Revision by name."
          ]
        },
        "revision": {
          "type": "string",
          "description": "Revision to which to assign this portion of instances, if split allocation is by revision."
        }
      },
      "id": "GoogleCloudRunV2InstanceSplit"
    },
    "GoogleCloudRunV2StartInstanceRequest": {
      "type": "object",
      "id": "GoogleCloudRunV2StartInstanceRequest",
      "description": "Request message for starting an Instance.",
      "properties": {
        "validateOnly": {
          "description": "Optional. Indicates that the request should be validated without actually stopping any resources.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1FileHashes": {
      "description": "Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.",
      "properties": {
        "fileHash": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Hash"
          },
          "description": "Collection of file hashes."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1FileHashes",
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "GoogleCloudRunV2ListWorkerPoolsResponse": {
      "description": "Response message containing a list of WorkerPools.",
      "properties": {
        "workerPools": {
          "description": "The resulting list of WorkerPools.",
          "items": {
            "$ref": "GoogleCloudRunV2WorkerPool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token indicating there are more items than page_size. Use it in the next ListWorkerPools request to continue."
        }
      },
      "id": "GoogleCloudRunV2ListWorkerPoolsResponse",
      "type": "object"
    },
    "GoogleCloudRunV2Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "properties": {
        "timeoutSeconds": {
          "type": "integer",
          "description": "Optional. Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Maximum value is 3600. Must be smaller than period_seconds.",
          "format": "int32"
        },
        "httpGet": {
          "$ref": "GoogleCloudRunV2HTTPGetAction",
          "description": "Optional. HTTPGet specifies the http request to perform. Exactly one of httpGet, tcpSocket, or grpc must be specified."
        },
        "failureThreshold": {
          "type": "integer",
          "description": "Optional. Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
          "format": "int32"
        },
        "periodSeconds": {
          "description": "Optional. How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240. Must be greater or equal than timeout_seconds.",
          "format": "int32",
          "type": "integer"
        },
        "initialDelaySeconds": {
          "type": "integer",
          "description": "Optional. Number of seconds after the container has started before the probe is initiated. Defaults to 0 seconds. Minimum value is 0. Maximum value for liveness probe is 3600. Maximum value for startup probe is 240.",
          "format": "int32"
        },
        "grpc": {
          "description": "Optional. GRPC specifies an action involving a gRPC port. Exactly one of httpGet, tcpSocket, or grpc must be specified.",
          "$ref": "GoogleCloudRunV2GRPCAction"
        },
        "tcpSocket": {
          "$ref": "GoogleCloudRunV2TCPSocketAction",
          "description": "Optional. TCPSocket specifies an action involving a TCP port. Exactly one of httpGet, tcpSocket, or grpc must be specified."
        }
      },
      "id": "GoogleCloudRunV2Probe",
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1Build": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1Build",
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "properties": {
        "projectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the project."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the request to create the build was received.",
          "format": "google-datetime"
        },
        "status": {
          "description": "Output only. Status of the build.",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ]
        },
        "buildTriggerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
        },
        "secrets": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Secret"
          },
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets",
          "type": "array"
        },
        "statusDetail": {
          "description": "Output only. Customer-readable message about the current status.",
          "readOnly": true,
          "type": "string"
        },
        "images": {
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "options": {
          "description": "Special options for this build.",
          "$ref": "GoogleDevtoolsCloudbuildV1BuildOptions"
        },
        "results": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1Results",
          "description": "Output only. Results of the build."
        },
        "logsBucket": {
          "type": "string",
          "description": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. ",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the build."
        },
        "steps": {
          "type": "array",
          "description": "Required. The operations to be performed on the workspace.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1BuildStep"
          }
        },
        "dependencies": {
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Dependency"
          },
          "description": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps.",
          "type": "array"
        },
        "timing": {
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
          }
        },
        "timeout": {
          "type": "string",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes.",
          "format": "google-duration"
        },
        "queueTtl": {
          "type": "string",
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "format": "google-duration"
        },
        "failureInfo": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1FailureInfo",
          "description": "Output only. Contains information about the build when status=FAILURE."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which execution of the build was started.",
          "format": "google-datetime"
        },
        "logUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URL to logs for this build in Google Cloud Console."
        },
        "sourceProvenance": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1SourceProvenance",
          "description": "Output only. A permanent fixed identifier for source."
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "finishTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "format": "google-datetime"
        },
        "approval": {
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1BuildApproval",
          "description": "Output only. Describes this build's approval configuration, status, and result."
        },
        "availableSecrets": {
          "$ref": "GoogleDevtoolsCloudbuildV1Secrets",
          "description": "Secrets and secret environment variables."
        },
        "source": {
          "description": "Optional. The location of the source files to build.",
          "$ref": "GoogleDevtoolsCloudbuildV1Source"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for annotation of a `Build`. These are not docker tags."
        },
        "artifacts": {
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps.",
          "$ref": "GoogleDevtoolsCloudbuildV1Artifacts"
        },
        "name": {
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service.",
          "readOnly": true,
          "type": "string"
        },
        "gitConfig": {
          "$ref": "GoogleDevtoolsCloudbuildV1GitConfig",
          "description": "Optional. Configuration for git operations."
        },
        "warnings": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "items": {
            "$ref": "GoogleDevtoolsCloudbuildV1Warning"
          }
        }
      }
    },
    "GoogleDevtoolsCloudbuildV1Hash": {
      "id": "GoogleDevtoolsCloudbuildV1Hash",
      "description": "Container message for hash values.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Dirhash of a Go module's source code which is then hex-encoded.",
            "Use a sha512 hash.",
            "Use a dirsum_sha256 hash."
          ],
          "description": "The type of hash that was performed.",
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "GO_MODULE_H1",
            "SHA512",
            "DIRSUM_SHA256"
          ]
        },
        "value": {
          "description": "The hash value.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRunV2CancelExecutionRequest": {
      "description": "Request message for deleting an Execution.",
      "properties": {
        "etag": {
          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Indicates that the request should be validated without actually cancelling any resources."
        }
      },
      "id": "GoogleCloudRunV2CancelExecutionRequest",
      "type": "object"
    },
    "GoogleCloudRunV2Revision": {
      "type": "object",
      "description": "A Revision is an immutable snapshot of code and configuration. A Revision references a container image. Revisions are only created by updates to its parent Service.",
      "properties": {
        "sessionAffinity": {
          "description": "Enable session affinity.",
          "type": "boolean"
        },
        "labels": {
          "description": "Output only. Unstructured key value map that can be used to organize and categorize objects. User-provided labels are shared with Google's billing system, so they can be used to filter, or break down billing charges by team, component, environment, state, etc. For more information, visit https://cloud.google.com/resource-manager/docs/creating-managing-labels or https://cloud.google.com/run/docs/configuring/labels.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
        },
        "maxInstanceRequestConcurrency": {
          "type": "integer",
          "description": "Sets the maximum number of requests that each serving instance can receive.",
          "format": "int32"
        },
        "sandboxes": {
          "readOnly": true,
          "$ref": "GoogleCloudRunV2SandboxConfiguration",
          "description": "Output only. Configuration for sandboxes."
        },
        "observedGeneration": {
          "description": "Output only. The generation of this Revision currently serving traffic. See comments in `reconciling` for additional information on reconciliation process in Cloud Run.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "executionEnvironment": {
          "description": "The execution environment being used to host this Revision.",
          "enum": [
            "EXECUTION_ENVIRONMENT_UNSPECIFIED",
            "EXECUTION_ENVIRONMENT_GEN1",
            "EXECUTION_ENVIRONMENT_GEN2"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Uses the First Generation environment.",
            "Uses Second Generation environment."
          ],
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has."
        },
        "logUri": {
          "description": "Output only. The Google Console URI to obtain logs for the Revision.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. For a deleted resource, the time after which it will be permamently deleted. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "encryptionKey": {
          "description": "A reference to a customer managed encryption key (CMEK) to use to encrypt this container image. For more information, go to https://cloud.google.com/run/docs/securing/using-cmek",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server assigned unique identifier for the Revision. The value is a UUID4 string and guaranteed to remain unchanged until the resource is deleted."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time.",
          "format": "google-datetime"
        },
        "client": {
          "description": "Output only. Arbitrary identifier for the API client.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionKeyShutdownDuration": {
          "description": "If encryption_key_revocation_action is SHUTDOWN, the duration before shutting down all instances. The minimum increment is 1 hour.",
          "format": "google-duration",
          "type": "string"
        },
        "service": {
          "description": "Output only. The name of the parent service.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether the resource's reconciliation is still in progress. See comments in `Service.reconciling` for additional information on reconciliation process in Cloud Run.",
          "readOnly": true,
          "type": "boolean"
        },
        "nodeSelector": {
          "$ref": "GoogleCloudRunV2NodeSelector",
          "description": "The node selector for the revision."
        },
        "serviceMesh": {
          "description": "Enables service mesh connectivity.",
          "$ref": "GoogleCloudRunV2ServiceMesh"
        },
        "name": {
          "description": "Output only. The unique name of this Revision.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionKeyRevocationAction": {
          "description": "The action to take if the encryption key is revoked.",
          "enum": [
            "ENCRYPTION_KEY_REVOCATION_ACTION_UNSPECIFIED",
            "PREVENT_NEW",
            "SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Prevents the creation of new instances.",
            "Shuts down existing instances, and prevents creation of new ones."
          ],
          "type": "string"
        },
        "annotations": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRunV2Volume"
          },
          "description": "A list of Volumes to make available to containers."
        },
        "generation": {
          "description": "Output only. A number that monotonically increases every time the user modifies the desired state.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "conditions": {
          "description": "Output only. The Condition of this Revision, containing its readiness status, and detailed error information in case it did not reach a serving state.",
          "items": {
            "$ref": "GoogleCloudRunV2Condition"
          },
          "readOnly": true,
          "type": "array"
        },
        "scalingStatus": {
          "description": "Output only. The current effective scaling settings for the revision.",
          "readOnly": true,
          "$ref": "GoogleCloudRunV2RevisionScalingStatus"
        },
        "containers": {
          "type": "array",
          "description": "Holds the list which define the units of execution for this Revision.",
          "items": {
            "$ref": "GoogleCloudRunV2Container"
          }
        },
        "deleteTime": {
          "description": "Output only. For a deleted resource, the deletion time. It is only populated as a response to a Delete request.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "gpuZonalRedundancyDisabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. True if GPU zonal redundancy is disabled on this revision."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "timeout": {
          "type": "string",
          "description": "Max allowed time for an instance to respond to a request.",
          "format": "google-duration"
        },
        "vpcAccess": {
          "$ref": "GoogleCloudRunV2VpcAccess",
          "description": "VPC Access configuration for this Revision. For more information, visit https://cloud.google.com/run/docs/configuring/connecting-vpc."
        },
        "clientVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Arbitrary version identifier for the API client."
        },
        "scaling": {
          "$ref": "GoogleCloudRunV2RevisionScaling",
          "description": "Scaling settings for this revision."
        },
        "launchStage": {
          "description": "The least stable launch stage needed to create this resource, as defined by [Google Cloud Platform Launch Stages](https://cloud.google.com/terms/launch-stages). Cloud Run supports `ALPHA`, `BETA`, and `GA`. Note that this value might not be what was used as input. For example, if ALPHA was provided as input in the parent resource, but only BETA and GA-level features are used, this field will be BETA.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the authenticated creator."
        }
      },
      "id": "GoogleCloudRunV2Revision"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "UtilStatusProto": {
      "id": "UtilStatusProto",
      "description": "Wire-format for a Status object",
      "properties": {
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "messageSet": {
          "$ref": "Proto2BridgeMessageSet",
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
        },
        "code": {
          "type": "integer",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "format": "int32"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1UploadedNpmPackage": {
      "type": "object",
      "description": "An npm package uploaded to Artifact Registry using the NpmPackage directive.",
      "properties": {
        "artifactRegistryPackage": {
          "description": "Output only. Path to the artifact in Artifact Registry.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI of the uploaded npm package."
        },
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "GoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "fileHashes": {
          "$ref": "GoogleDevtoolsCloudbuildV1FileHashes",
          "description": "Hash types and values of the npm package."
        }
      },
      "id": "GoogleDevtoolsCloudbuildV1UploadedNpmPackage"
    },
    "GoogleCloudRunV2CloudSqlInstance": {
      "id": "GoogleCloudRunV2CloudSqlInstance",
      "description": "Represents a set of Cloud SQL instances. Each one will be available under /cloudsql/[instance]. Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
      "properties": {
        "instances": {
          "items": {
            "type": "string"
          },
          "description": "A list of Cloud SQL instance connection names. Cloud Run uses these to establish connections to the specified Cloud SQL instances. While the SQL instance name itself is unique within a project, the full connection name requires the location for proper routing. Format: `{project}:{location}:{instance}` Example: `my-project:us-central1:my-instance` You can find this value on the instance's **Overview** page in the Google Cloud console or by using the following `gcloud` command: ```sh gcloud sql instances describe INSTANCE_NAME \\ --format='value(connectionName)' ``` Visit https://cloud.google.com/sql/docs/mysql/connect-run for more information on how to connect Cloud SQL and Cloud Run.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsCloudbuildV1ConnectedRepository": {
      "type": "object",
      "id": "GoogleDevtoolsCloudbuildV1ConnectedRepository",
      "description": "Location of the source in a 2nd-gen Google Cloud Build repository resource.",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
        },
        "repository": {
          "type": "string",
          "description": "Required. Name of the Google Cloud Build repository, formatted as `projects/*/locations/*/connections/*/repositories/*`."
        },
        "dir": {
          "description": "Optional. Directory, relative to the source root, in which to run the build.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudRunV2ExportImageResponse": {
      "description": "ExportImageResponse contains an operation Id to track the image export operation.",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "An operation ID used to track the status of image exports tied to the original pod ID in the request."
        }
      },
      "id": "GoogleCloudRunV2ExportImageResponse",
      "type": "object"
    },
    "GoogleCloudRunV2EnvVar": {
      "type": "object",
      "description": "EnvVar represents an environment variable present in a Container.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Literal value of the environment variable. Defaults to \"\", and the maximum length is 32768 bytes. Variable references are not supported in Cloud Run."
        },
        "valueSource": {
          "$ref": "GoogleCloudRunV2EnvVarSource",
          "description": "Source for the environment variable's value."
        },
        "name": {
          "description": "Required. Name of the environment variable. Must not exceed 32768 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRunV2EnvVar"
    },
    "GoogleCloudRunV2EnvVarSource": {
      "description": "EnvVarSource represents a source for the value of an EnvVar.",
      "properties": {
        "secretKeyRef": {
          "$ref": "GoogleCloudRunV2SecretKeySelector",
          "description": "Selects a secret and a specific version from Cloud Secret Manager."
        }
      },
      "id": "GoogleCloudRunV2EnvVarSource",
      "type": "object"
    },
    "GoogleCloudRunV2ResourceRequirements": {
      "id": "GoogleCloudRunV2ResourceRequirements",
      "description": "ResourceRequirements describes the compute resource requirements.",
      "properties": {
        "limits": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Only `memory`, `cpu` and `nvidia.com/gpu` keys in the map are supported. Notes: * The only supported values for CPU are '1', '2', '4', and '8'. Setting 4 CPU requires at least 2Gi of memory. For more information, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits * The only supported 'nvidia.com/gpu' value is '1'."
        },
        "startupCpuBoost": {
          "type": "boolean",
          "description": "Determines whether CPU should be boosted on startup of a new container instance above the requested CPU threshold, this can help reduce cold-start latency."
        },
[...]
