{
  "servicePath": "",
  "canonicalName": "Cloud Run",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/run/",
  "id": "run:v2",
  "kind": "discovery#restDescription",
  "version": "v2",
  "rootUrl": "https://run.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-run.googleapis.com/",
      "location": "africa-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east1-run.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-run.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://asia-south2-run.googleapis.com/",
      "location": "asia-south2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast4-run.googleapis.com/",
      "location": "asia-southeast4"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-central2-run.googleapis.com/",
      "location": "europe-central2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north1-run.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north2-run.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://europe-west1-run.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west10-run.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west12-run.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west15-run.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-run.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-run.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west4-run.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://europe-west6-run.googleapis.com/",
      "location": "europe-west6",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-run.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://europe-west9-run.googleapis.com/",
      "location": "europe-west9",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-run.googleapis.com/",
      "location": "me-central1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-run.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-west1-run.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://us-central1-run.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east1-run.googleapis.com/",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east5-run.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east7-run.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "location": "us-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-run.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://us-west4-run.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west8-run.googleapis.com/",
      "location": "us-west8",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.asia-southeast4.rep.googleapis.com/",
      "location": "asia-southeast4"
    },
    {
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "title": "Cloud Run Admin API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "exportMetadata": {
              "path": "v2/{+name}:exportMetadata",
              "parameterOrder": [
                "name"
              ],
              "description": "Export generated customer metadata for a given resource.",
              "id": "run.projects.locations.exportMetadata",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the resource of which metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}` for Service `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution {project_id_or_number} may contains domain-scoped project IDs",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportMetadata",
              "httpMethod": "GET"
            },
            "exportProjectMetadata": {
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the project of which metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}` for Project in a given location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:exportProjectMetadata",
              "httpMethod": "GET",
              "path": "v2/{+name}:exportProjectMetadata",
              "parameterOrder": [
                "name"
              ],
              "description": "Export generated customer metadata for a given project.",
              "id": "run.projects.locations.exportProjectMetadata",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "exportImageMetadata": {
              "path": "v2/{+name}:exportImageMetadata",
              "id": "run.projects.locations.exportImageMetadata",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Export image metadata for a given resource.",
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the resource of which image metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportImageMetadata",
              "httpMethod": "GET"
            },
            "exportImage": {
              "response": {
                "$ref": "GoogleCloudRunV2ExportImageResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the resource of which image metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportImage",
              "httpMethod": "POST",
              "path": "v2/{+name}:exportImage",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudRunV2ExportImageRequest"
              },
              "description": "Export image for a given resource.",
              "id": "run.projects.locations.exportImage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            }
          },
          "resources": {
            "services": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a Service. This will cause the Service to stop serving traffic and will delete all revisions.",
                  "id": "run.projects.locations.services.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "etag": {
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Indicates that the request should be validated without actually deleting any resources.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "httpMethod": "GET",
                  "path": "v2/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run Service. This result does not include any inherited policies.",
                  "id": "run.projects.locations.services.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ]
                },
                "create": {
                  "id": "run.projects.locations.services.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "description": "Creates a new Service in a given project and location.",
                  "path": "v2/{+parent}/services",
                  "parameters": {
                    "serviceId": {
                      "description": "Optional. The unique identifier for the Service. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the service becomes {parent}/services/{service_id}. If not provided, the server will generate a unique `service_id`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The location and project in which this service should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number. Only lowercase characters, digits, and hyphens.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "POST"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and if the Service does not exist, it will create a new one. The caller must have 'run.services.create' permissions if this is set to true and the Service does not exist."
                    },
                    "forceNewRevision": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, a new revision will be created from the template even if the system doesn't detect any changes from the previously deployed revision. This may be useful for cases where the underlying resources need to be recreated or reinitialized. For example if the image is specified by label, but the underlying image digest has changed) or if the container performs deployment initialization work that needs to be performed again."
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "id": "run.projects.locations.services.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "description": "Updates a Service."
                },
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "path": "v2/{+resource}:setIamPolicy"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "id": "run.projects.locations.services.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about a Service.",
                  "path": "v2/{+name}"
                },
                "list": {
                  "id": "run.projects.locations.services.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Services. Results are sorted by creation time, descending.",
                  "path": "v2/{+parent}/services",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The location and project to list resources on. Location must be a valid Google Cloud region, and cannot be the \"-\" wildcard. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If true, returns deleted (but unexpired) resources along with active ones."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of Services to return in this call."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token received from a previous call to ListServices. All other parameters must match."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2ListServicesResponse"
                  }
                },
                "testIamPermissions": {
                  "path": "v2/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "id": "run.projects.locations.services.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "revisions": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "validateOnly": {
                          "description": "Indicates that the request should be validated without actually deleting any resources.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the Revision to delete. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "etag": {
                          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}",
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "id": "run.projects.locations.services.revisions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a Revision."
                    },
                    "exportStatus": {
                      "path": "v2/{+name}/{+operationId}:exportStatus",
                      "id": "run.projects.locations.services.revisions.exportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "parameterOrder": [
                        "name",
                        "operationId"
                      ],
                      "description": "Read the status of an image export operation.",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}/{revisionsId1}:exportStatus",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudRunV2ExportStatusResponse"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the resource of which image export operation status has to be fetched. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "required": true
                        },
                        "operationId": {
                          "type": "string",
                          "description": "Required. The operation id returned from ExportImage.",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "id": "run.projects.locations.services.revisions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets information about a Revision.",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The full name of the Revision. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2Revision"
                      }
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "A page token received from a previous call to ListRevisions. All other parameters must match.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum number of revisions to return in this call.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The Service from which the Revisions should be listed. To list all Revisions across Services, use \"-\" instead of Service name. Format: projects/{project}/locations/{location}/services/{service}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "showDeleted": {
                          "description": "If true, returns deleted (but unexpired) resources along with active ones.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2ListRevisionsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Revisions from a given Service, or from a given location. Results are sorted by creation time, descending.",
                      "id": "run.projects.locations.services.revisions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "path": "v2/{+parent}/revisions"
                    }
                  }
                }
              }
            },
            "workerPools": {
              "methods": {
                "delete": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a WorkerPool.",
                  "id": "run.projects.locations.workerPools.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Indicates that the request should be validated without actually deleting any resources."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The full name of the WorkerPool. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`, where `{project}` can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
                    }
                  }
                },
                "getIamPolicy": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}:getIamPolicy",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v2/{+resource}:getIamPolicy",
                  "id": "run.projects.locations.workerPools.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run WorkerPool. This result does not include any inherited policies."
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2WorkerPool"
                  },
                  "description": "Creates a new WorkerPool in a given project and location.",
                  "id": "run.projects.locations.workerPools.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+parent}/workerPools",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The location and project in which this worker pool should be created. Format: `projects/{project}/locations/{location}`, where `{project}` can be project id or number. Only lowercase characters, digits, and hyphens.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    },
                    "workerPoolId": {
                      "description": "Optional. The unique identifier for the WorkerPool. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the worker pool becomes `{parent}/workerPools/{worker_pool_id}`. If not provided, the server will generate a unique `worker_pool_id`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "The fully qualified name of this WorkerPool. In CreateWorkerPoolRequest, this field is ignored, and instead composed from CreateWorkerPoolRequest.parent and CreateWorkerPoolRequest.worker_id. Format: `projects/{project}/locations/{location}/workerPools/{worker_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or updating any resources."
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and if the WorkerPool does not exist, it will create a new one. The caller must have 'run.workerpools.create' permissions if this is set to true and the WorkerPool does not exist.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "forceNewRevision": {
                      "description": "Optional. If set to true, a new revision will be created from the template even if the system doesn't detect any changes from the previously deployed revision. This may be useful for cases where the underlying resources need to be recreated or reinitialized. For example if the image is specified by label, but the underlying image digest has changed) or if the container performs deployment initialization work that needs to be performed again.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2WorkerPool"
                  },
                  "description": "Updates a WorkerPool.",
                  "id": "run.projects.locations.workerPools.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}"
                },
                "setIamPolicy": {
                  "path": "v2/{+resource}:setIamPolicy",
                  "id": "run.projects.locations.workerPools.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "description": "Sets the IAM Access control policy for the specified WorkerPool. Overwrites any existing policy.",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}:setIamPolicy",
                  "httpMethod": "POST"
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about a WorkerPool.",
                  "id": "run.projects.locations.workerPools.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "response": {
                    "$ref": "GoogleCloudRunV2WorkerPool"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The full name of the WorkerPool. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`, where `{project}` can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "httpMethod": "GET"
                },
                "list": {
                  "path": "v2/{+parent}/workerPools",
                  "id": "run.projects.locations.workerPools.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists WorkerPools. Results are sorted by creation time, descending.",
                  "response": {
                    "$ref": "GoogleCloudRunV2ListWorkerPoolsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of WorkerPools to return in this call.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The location and project to list resources on. Location must be a valid Google Cloud region, and cannot be the \"-\" wildcard. Format: `projects/{project}/locations/{location}`, where `{project}` can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "showDeleted": {
                      "description": "If true, returns deleted (but unexpired) resources along with active ones.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "A page token received from a previous call to ListWorkerPools. All other parameters must match.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "httpMethod": "GET"
                },
                "testIamPermissions": {
                  "path": "v2/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "id": "run.projects.locations.workerPools.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}:testIamPermissions",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "revisions": {
                  "methods": {
                    "delete": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}/revisions/{revisionsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Indicates that the request should be validated without actually deleting any resources."
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the Revision to delete. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+/revisions/[^/]+$",
                          "required": true
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a Revision.",
                      "id": "run.projects.locations.workerPools.revisions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "path": "v2/{+name}"
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}/revisions",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudRunV2ListRevisionsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "A page token received from a previous call to ListRevisions. All other parameters must match.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum number of revisions to return in this call.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The Service from which the Revisions should be listed. To list all Revisions across Services, use \"-\" instead of Service name. Format: projects/{project}/locations/{location}/services/{service}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "showDeleted": {
                          "description": "If true, returns deleted (but unexpired) resources along with active ones.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+parent}/revisions",
                      "id": "run.projects.locations.workerPools.revisions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Revisions from a given Service, or from a given location. Results are sorted by creation time, descending."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The full name of the Revision. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2Revision"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}/revisions/{revisionsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets information about a Revision.",
                      "id": "run.projects.locations.workerPools.revisions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "path": "v2/{+name}"
                    }
                  }
                }
              }
            },
            "jobs": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Jobs. Results are sorted by creation time, descending.",
                  "id": "run.projects.locations.jobs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudRunV2ListJobsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of Jobs to return in this call.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The location and project to list resources on. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If true, returns deleted (but unexpired) resources along with active ones."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token received from a previous call to ListJobs. All other parameters must match."
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about a Job.",
                  "id": "run.projects.locations.jobs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2Job"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The location and project in which this Job should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    },
                    "jobId": {
                      "description": "Optional. The unique identifier for the Job. The name of the job becomes {parent}/jobs/{job_id}. If not provided, the server will generate a unique `job_id`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2Job"
                  },
                  "description": "Creates a Job.",
                  "id": "run.projects.locations.jobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+parent}/jobs"
                },
                "run": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:run",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2RunJobRequest"
                  },
                  "description": "Triggers creation of a new Execution of this Job.",
                  "id": "run.projects.locations.jobs.run",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}:run"
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:testIamPermissions",
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:testIamPermissions",
                  "id": "run.projects.locations.jobs.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call."
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and if the Job does not exist, it will create a new one. Caller must have both create and update permissions for this call if this is set to true.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2Job"
                  },
                  "description": "Updates a Job.",
                  "id": "run.projects.locations.jobs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}"
                },
                "setIamPolicy": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v2/{+resource}:setIamPolicy",
                  "id": "run.projects.locations.jobs.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "description": "Sets the IAM Access control policy for the specified Job. Overwrites any existing policy."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a Job.",
                  "id": "run.projects.locations.jobs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Indicates that the request should be validated without actually deleting any resources."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "DELETE"
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the IAM Access Control policy currently in effect for the given Job. This result does not include any inherited policies.",
                  "id": "run.projects.locations.jobs.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v2/{+resource}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:getIamPolicy",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "executions": {
                  "methods": {
                    "exportStatus": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the resource of which image export operation status has to be fetched. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                          "required": true
                        },
                        "operationId": {
                          "type": "string",
                          "description": "Required. The operation id returned from ExportImage.",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2ExportStatusResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}/{executionsId1}:exportStatus",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name",
                        "operationId"
                      ],
                      "description": "Read the status of an image export operation.",
                      "id": "run.projects.locations.jobs.executions.exportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "path": "v2/{+name}/{+operationId}:exportStatus"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Executions from a Job. Results are sorted by creation time, descending.",
                      "id": "run.projects.locations.jobs.executions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "path": "v2/{+parent}/executions",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token received from a previous call to ListExecutions. All other parameters must match.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The Execution from which the Executions should be listed. To list all Executions across Jobs, use \"-\" instead of Job name. Format: `projects/{project}/locations/{location}/jobs/{job}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "showDeleted": {
                          "description": "If true, returns deleted (but unexpired) resources along with active ones.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Maximum number of Executions to return in this call.",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2ListExecutionsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions",
                      "httpMethod": "GET"
                    },
                    "cancel": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the Execution to cancel. Format: `projects/{project}/locations/{location}/jobs/{job}/executions/{execution}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}:cancel",
                      "httpMethod": "POST",
                      "path": "v2/{+name}:cancel",
                      "id": "run.projects.locations.jobs.executions.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRunV2CancelExecutionRequest"
                      },
                      "description": "Cancels an Execution."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudRunV2Execution"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The full name of the Execution. Format: `projects/{project}/locations/{location}/jobs/{job}/executions/{execution}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}",
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "id": "run.projects.locations.jobs.executions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets information about an Execution."
                    },
                    "delete": {
                      "path": "v2/{+name}",
                      "id": "run.projects.locations.jobs.executions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an Execution.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Execution to delete. Format: `projects/{project}/locations/{location}/jobs/{job}/executions/{execution}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "etag": {
                          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Indicates that the request should be validated without actually deleting any resources."
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}",
                      "httpMethod": "DELETE"
                    }
                  },
                  "resources": {
                    "tasks": {
                      "methods": {
                        "list": {
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}/tasks",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "A page token received from a previous call to ListTasks. All other parameters must match.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "Maximum number of Tasks to return in this call."
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The Execution from which the Tasks should be listed. To list all Tasks across Executions of a Job, use \"-\" instead of Execution name. To list all Tasks across Jobs, use \"-\" instead of Job name. Format: projects/{project}/locations/{location}/jobs/{job}/executions/{execution}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                              "required": true,
                              "location": "path"
                            },
                            "showDeleted": {
                              "location": "query",
                              "type": "boolean",
                              "description": "If true, returns deleted (but unexpired) resources along with active ones."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudRunV2ListTasksResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists Tasks from an Execution of a Job.",
                          "id": "run.projects.locations.jobs.executions.tasks.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/run",
                            "https://www.googleapis.com/auth/run.readonly"
                          ],
                          "path": "v2/{+parent}/tasks"
                        },
                        "get": {
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}/tasks/{tasksId}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudRunV2Task"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. The full name of the Task. Format: projects/{project}/locations/{location}/jobs/{job}/executions/{execution}/tasks/{task}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+/tasks/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v2/{+name}",
                          "id": "run.projects.locations.jobs.executions.tasks.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/run",
                            "https://www.googleapis.com/auth/run.readonly"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets information about a Task."
                        }
                      }
                    }
                  }
                }
              }
            },
            "builds": {
              "methods": {
                "submit": {
                  "id": "run.projects.locations.builds.submit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2SubmitBuildRequest"
                  },
                  "description": "Submits a build in a given project.",
                  "path": "v2/{+parent}/builds:submit",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/builds:submit",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project and location to build in. Location must be a region, e.g., 'us-central1' or 'global' if the global builder is to be used. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2SubmitBuildResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
[...]
