{
  "rootUrl": "https://run.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260619",
  "title": "Cloud Run Admin API",
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "endpoints": [
    {
      "description": "Locational Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://africa-south1-run.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast1-run.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://asia-northeast2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://asia-south1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://asia-south2-run.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-run.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://asia-southeast3-run.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-run.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://europe-central2-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-run.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://europe-north2-run.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://europe-southwest1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://europe-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://europe-west10-run.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://europe-west12-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west15-run.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://europe-west2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-run.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://europe-west6-run.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://europe-west8-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://europe-west9-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://me-central1-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-run.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://me-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-run.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-run.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-south1-run.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://southamerica-east1-run.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-run.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-run.googleapis.com/",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://us-east1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east4-run.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east5-run.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://us-east7-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://us-south1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://us-west1-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west2-run.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-run.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://us-west4-run.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west8-run.googleapis.com/",
      "location": "us-west8",
      "description": "Locational Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://run.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://run.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://run.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://run.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://run.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://run.asia-southeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://run.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://run.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://run.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://run.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://run.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://run.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://run.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://run.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://run.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://run.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://run.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://run.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://run.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://run.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://run.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://run.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://run.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://run.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://run.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://run.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://run.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://run.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://run.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://run.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://run.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://run.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "id": "run:v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/run/",
  "canonicalName": "Cloud Run",
  "name": "run",
  "servicePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version_module": true,
  "version": "v2",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "exportProjectMetadata": {
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:exportProjectMetadata",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project of which metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}` for Project in a given location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Export generated customer metadata for a given project.",
              "id": "run.projects.locations.exportProjectMetadata",
              "path": "v2/{+name}:exportProjectMetadata",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "exportMetadata": {
              "description": "Export generated customer metadata for a given resource.",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:exportMetadata",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.projects.locations.exportMetadata",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportMetadata",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the resource of which metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}` for Service `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution {project_id_or_number} may contains domain-scoped project IDs",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              }
            },
            "exportImageMetadata": {
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportImageMetadata",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the resource of which image metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "description": "Export image metadata for a given resource.",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:exportImageMetadata",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.projects.locations.exportImageMetadata"
            },
            "exportImage": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the resource of which image metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$"
                }
              },
              "response": {
                "$ref": "GoogleCloudRunV2ExportImageResponse"
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportImage",
              "path": "v2/{+name}:exportImage",
              "request": {
                "$ref": "GoogleCloudRunV2ExportImageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "id": "run.projects.locations.exportImage",
              "description": "Export image for a given resource.",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "run.projects.locations.operations.list",
                  "path": "v2/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. A filter for matching the completed or in-progress operations. The supported formats of *filter* are: To query for only completed operations: done:true To query for only ongoing operations: done:false Must be empty to query for all of the latest operations for the given parent project.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned. Requested page size cannot exceed 100. If not set or set to less than or equal to 0, the default page size is 100. ."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. To query for all of the operations for a project.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token identifying which result to start with, which is returned by a previous list call."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "id": "run.projects.locations.operations.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "wait": {
                  "path": "v2/{+name}:wait",
                  "request": {
                    "$ref": "GoogleLongrunningWaitOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "id": "run.projects.locations.operations.wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait"
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.operations.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            },
            "jobs": {
              "methods": {
                "delete": {
                  "id": "run.projects.locations.jobs.delete",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a Job.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "validateOnly": {
                      "description": "Indicates that the request should be validated without actually deleting any resources.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of Jobs to return in this call."
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If true, returns deleted (but unexpired) resources along with active ones."
                    },
                    "parent": {
                      "description": "Required. The location and project to list resources on. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token received from a previous call to ListJobs. All other parameters must match."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2ListJobsResponse"
                  },
                  "description": "Lists Jobs. Results are sorted by creation time, descending.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "id": "run.projects.locations.jobs.list"
                },
                "getIamPolicy": {
                  "id": "run.projects.locations.jobs.getIamPolicy",
                  "path": "v2/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the IAM Access Control policy currently in effect for the given Job. This result does not include any inherited policies.",
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:getIamPolicy"
                },
                "create": {
                  "id": "run.projects.locations.jobs.create",
                  "path": "v2/{+parent}/jobs",
                  "request": {
                    "$ref": "GoogleCloudRunV2Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a Job.",
                  "httpMethod": "POST",
                  "parameters": {
                    "validateOnly": {
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The location and project in which this Job should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "jobId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The unique identifier for the Job. The name of the job becomes {parent}/jobs/{job_id}. If not provided, the server will generate a unique `job_id`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:testIamPermissions",
                  "id": "run.projects.locations.jobs.testIamPermissions",
                  "path": "v2/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about a Job.",
                  "id": "run.projects.locations.jobs.get",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2Job"
                  }
                },
                "patch": {
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudRunV2Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.jobs.patch",
                  "description": "Updates a Job.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources."
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and if the Job does not exist, it will create a new one. Caller must have both create and update permissions for this call if this is set to true.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}"
                },
                "run": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:run",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Triggers creation of a new Execution of this Job.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:run",
                  "request": {
                    "$ref": "GoogleCloudRunV2RunJobRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.jobs.run"
                },
                "setIamPolicy": {
                  "path": "v2/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.jobs.setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Job. Overwrites any existing policy.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:setIamPolicy"
                }
              },
              "resources": {
                "executions": {
                  "resources": {
                    "tasks": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. The full name of the Task. Format: projects/{project}/locations/{location}/jobs/{job}/executions/{execution}/tasks/{task}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+/tasks/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudRunV2Task"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}/tasks/{tasksId}",
                          "id": "run.projects.locations.jobs.executions.tasks.get",
                          "path": "v2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/run",
                            "https://www.googleapis.com/auth/run.readonly"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets information about a Task."
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists Tasks from an Execution of a Job.",
                          "id": "run.projects.locations.jobs.executions.tasks.list",
                          "path": "v2/{+parent}/tasks",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/run",
                            "https://www.googleapis.com/auth/run.readonly"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}/tasks",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "description": "Maximum number of Tasks to return in this call.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "showDeleted": {
                              "location": "query",
                              "type": "boolean",
                              "description": "If true, returns deleted (but unexpired) resources along with active ones."
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The Execution from which the Tasks should be listed. To list all Tasks across Executions of a Job, use \"-\" instead of Execution name. To list all Tasks across Jobs, use \"-\" instead of Job name. Format: projects/{project}/locations/{location}/jobs/{job}/executions/{execution}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$"
                            },
                            "pageToken": {
                              "description": "A page token received from a previous call to ListTasks. All other parameters must match.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudRunV2ListTasksResponse"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "cancel": {
                      "path": "v2/{+name}:cancel",
                      "request": {
                        "$ref": "GoogleCloudRunV2CancelExecutionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "id": "run.projects.locations.jobs.executions.cancel",
                      "description": "Cancels an Execution.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the Execution to cancel. Format: `projects/{project}/locations/{location}/jobs/{job}/executions/{execution}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}:cancel"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The Execution from which the Executions should be listed. To list all Executions across Jobs, use \"-\" instead of Job name. Format: `projects/{project}/locations/{location}/jobs/{job}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "A page token received from a previous call to ListExecutions. All other parameters must match.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum number of Executions to return in this call.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If true, returns deleted (but unexpired) resources along with active ones."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2ListExecutionsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions",
                      "id": "run.projects.locations.jobs.executions.list",
                      "path": "v2/{+parent}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Executions from a Job. Results are sorted by creation time, descending."
                    },
                    "delete": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the Execution to delete. Format: `projects/{project}/locations/{location}/jobs/{job}/executions/{execution}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Indicates that the request should be validated without actually deleting any resources.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Deletes an Execution.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "id": "run.projects.locations.jobs.executions.delete"
                    },
                    "exportStatus": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}/{executionsId1}:exportStatus",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the resource of which image export operation status has to be fetched. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "operationId": {
                          "location": "path",
                          "description": "Required. The operation id returned from ExportImage.",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2ExportStatusResponse"
                      },
                      "description": "Read the status of an image export operation.",
                      "parameterOrder": [
                        "name",
                        "operationId"
                      ],
                      "path": "v2/{+name}/{+operationId}:exportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "id": "run.projects.locations.jobs.executions.exportStatus"
                    },
                    "get": {
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "id": "run.projects.locations.jobs.executions.get",
                      "description": "Gets information about an Execution.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The full name of the Execution. Format: `projects/{project}/locations/{location}/jobs/{job}/executions/{execution}`, where `{project}` can be project id or number.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/executions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2Execution"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/executions/{executionsId}"
                    }
                  }
                }
              }
            },
            "services": {
              "resources": {
                "revisions": {
                  "methods": {
                    "get": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The full name of the Revision. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2Revision"
                      },
                      "description": "Gets information about a Revision.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "id": "run.projects.locations.services.revisions.get"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum number of revisions to return in this call."
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If true, returns deleted (but unexpired) resources along with active ones."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The Service from which the Revisions should be listed. To list all Revisions across Services, use \"-\" instead of Service name. Format: projects/{project}/locations/{location}/services/{service}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token received from a previous call to ListRevisions. All other parameters must match."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2ListRevisionsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions",
                      "path": "v2/{+parent}/revisions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "id": "run.projects.locations.services.revisions.list",
                      "description": "Lists Revisions from a given Service, or from a given location. Results are sorted by creation time, descending.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "etag": {
                          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the Revision to delete. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$"
                        },
                        "validateOnly": {
                          "description": "Indicates that the request should be validated without actually deleting any resources.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}",
                      "id": "run.projects.locations.services.revisions.delete",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a Revision."
                    },
                    "exportStatus": {
                      "id": "run.projects.locations.services.revisions.exportStatus",
                      "path": "v2/{+name}/{+operationId}:exportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "parameterOrder": [
                        "name",
                        "operationId"
                      ],
                      "description": "Read the status of an image export operation.",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the resource of which image export operation status has to be fetched. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "location": "path"
                        },
                        "operationId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The operation id returned from ExportImage.",
                          "pattern": "^[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudRunV2ExportStatusResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}/{revisionsId1}:exportStatus"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "description": "Creates a new Service in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/services",
                  "request": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.services.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The location and project in which this service should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number. Only lowercase characters, digits, and hyphens.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "serviceId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The unique identifier for the Service. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the service becomes {parent}/services/{service_id}. If not provided, the server will generate a unique `service_id`."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "getIamPolicy": {
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run Service. This result does not include any inherited policies.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v2/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "id": "run.projects.locations.services.getIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The location and project to list resources on. Location must be a valid Google Cloud region, and cannot be the \"-\" wildcard. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token received from a previous call to ListServices. All other parameters must match."
                    },
                    "pageSize": {
                      "description": "Maximum number of Services to return in this call.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "showDeleted": {
                      "description": "If true, returns deleted (but unexpired) resources along with active ones.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2ListServicesResponse"
                  },
                  "description": "Lists Services. Results are sorted by creation time, descending.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/services",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "id": "run.projects.locations.services.list"
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "path": "v2/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, and if the Service does not exist, it will create a new one. The caller must have 'run.services.create' permissions if this is set to true and the Service does not exist."
                    },
                    "forceNewRevision": {
                      "description": "Optional. If set to true, a new revision will be created from the template even if the system doesn't detect any changes from the previously deployed revision. This may be useful for cases where the underlying resources need to be recreated or reinitialized. For example if the image is specified by label, but the underlying image digest has changed) or if the container performs deployment initialization work that needs to be performed again.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.services.patch",
                  "description": "Updates a Service.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.services.delete",
                  "description": "Deletes a Service. This will cause the Service to stop serving traffic and will delete all revisions.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Indicates that the request should be validated without actually deleting any resources."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about a Service.",
                  "id": "run.projects.locations.services.get",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2Service"
                  }
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "id": "run.projects.locations.services.testIamPermissions",
                  "path": "v2/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call."
                }
              }
            },
            "instances": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an Instance",
                  "id": "run.projects.locations.instances.delete",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Instance to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated without actually deleting any resources."
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "stop": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the Instance to stop.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:stop",
                  "id": "run.projects.locations.instances.stop",
                  "path": "v2/{+name}:stop",
                  "request": {
                    "$ref": "GoogleCloudRunV2StopInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Stops an Instance."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Instances. Results are sorted by creation time, descending.",
                  "id": "run.projects.locations.instances.list",
                  "path": "v2/{+parent}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The location and project to list resources on.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token received from a previous call to ListInstances. All other parameters must match."
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of Instances to return in this call.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If true, returns deleted (but unexpired) resources along with active ones."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2ListInstancesResponse"
                  }
                },
                "start": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:start",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Instance to start.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts an Instance.",
                  "id": "run.projects.locations.instances.start",
                  "path": "v2/{+name}:start",
                  "request": {
                    "$ref": "GoogleCloudRunV2StartInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ]
                },
                "getIamPolicy": {
                  "id": "run.projects.locations.instances.getIamPolicy",
                  "path": "v2/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the IAM Access Control policy currently in effect for the given Instance. This result does not include any inherited policies.",
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy"
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "POST",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The location and project in which this Instance should be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "instanceId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The unique identifier for the Instance. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the instance becomes {parent}/instances/{instance_id}. If not provided, the server will generate a unique `instance_id`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an Instance.",
                  "id": "run.projects.locations.instances.create",
                  "path": "v2/{+parent}/instances",
                  "request": {
                    "$ref": "GoogleCloudRunV2Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ]
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:testIamPermissions",
                  "id": "run.projects.locations.instances.testIamPermissions",
                  "path": "v2/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the Instance to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRunV2Instance"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "id": "run.projects.locations.instances.get",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an Instance"
                },
                "patch": {
                  "description": "Updates an Instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudRunV2Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
[...]
