{
  "title": "Cloud Run Admin API",
  "revision": "20260814",
  "documentationLink": "https://cloud.google.com/run/",
  "batchPath": "batch",
  "version_module": true,
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/run": {
          "description": "See, edit, configure, and delete your Google Cloud Run data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/run.readonly": {
          "description": "See your Google Cloud Run data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "canonicalName": "Cloud Run",
  "discoveryVersion": "v1",
  "description": "Deploy and manage user provided container images that scale automatically based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving API specification, while v2 is aligned with Google Cloud AIP-based API standards, as described in https://google.aip.dev/.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "name": "run",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "exportMetadata": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the resource of which metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}` for Service `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution {project_id_or_number} may contains domain-scoped project IDs",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+name}:exportMetadata",
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportMetadata",
              "description": "Export generated customer metadata for a given resource.",
              "id": "run.projects.locations.exportMetadata"
            },
            "exportProjectMetadata": {
              "id": "run.projects.locations.exportProjectMetadata",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:exportProjectMetadata",
              "description": "Export generated customer metadata for a given project.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The name of the project of which metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}` for Project in a given location."
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}:exportProjectMetadata",
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ]
            },
            "exportImageMetadata": {
              "id": "run.projects.locations.exportImageMetadata",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportImageMetadata",
              "description": "Export image metadata for a given resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}:exportImageMetadata",
              "response": {
                "$ref": "GoogleCloudRunV2Metadata"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the resource of which image metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "exportImage": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the resource of which image metadata should be exported. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution",
                  "pattern": "^projects/[^/]+/locations/[^/]+/.*$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/run"
              ],
              "httpMethod": "POST",
              "path": "v2/{+name}:exportImage",
              "response": {
                "$ref": "GoogleCloudRunV2ExportImageResponse"
              },
              "request": {
                "$ref": "GoogleCloudRunV2ExportImageRequest"
              },
              "id": "run.projects.locations.exportImage",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/{locationsId1}:exportImage",
              "description": "Export image for a given resource."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "path": "v2/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "run.projects.locations.operations.wait",
                  "request": {
                    "$ref": "GoogleLongrunningWaitOperationRequest"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v2/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. To query for all of the operations for a project."
                    },
                    "pageToken": {
                      "description": "Token identifying which result to start with, which is returned by a previous list call.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter for matching the completed or in-progress operations. The supported formats of *filter* are: To query for only completed operations: done:true To query for only ongoing operations: done:false Must be empty to query for all of the latest operations for the given parent project."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of records that should be returned. Requested page size cannot exceed 100. If not set or set to less than or equal to 0, the default page size is 100. .",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "run.projects.locations.operations.list"
                },
                "get": {
                  "id": "run.projects.locations.operations.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "run.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "instances": {
              "methods": {
                "create": {
                  "id": "run.projects.locations.instances.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances",
                  "description": "Creates an Instance.",
                  "request": {
                    "$ref": "GoogleCloudRunV2Instance"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/instances",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location and project in which this Instance should be created.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "instanceId": {
                      "location": "query",
                      "description": "Optional. The unique identifier for the Instance. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the instance becomes {parent}/instances/{instance_id}. If not provided, the server will generate a unique `instance_id`.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    }
                  }
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.instances.setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Instance. Overwrites any existing policy.",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  }
                },
                "stop": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Instance to stop.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:stop",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "id": "run.projects.locations.instances.stop",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:stop",
                  "description": "Stops an Instance.",
                  "request": {
                    "$ref": "GoogleCloudRunV2StopInstanceRequest"
                  }
                },
                "getIamPolicy": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy",
                  "description": "Gets the IAM Access Control policy currently in effect for the given Instance. This result does not include any inherited policies.",
                  "id": "run.projects.locations.instances.getIamPolicy",
                  "path": "v2/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer"
                    }
                  }
                },
                "testIamPermissions": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "id": "run.projects.locations.instances.testIamPermissions",
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "path": "v2/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ]
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "description": "Deletes an Instance",
                  "id": "run.projects.locations.instances.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. The name of the Instance to delete.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated without actually deleting any resources.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to be updated."
                    },
                    "allowMissing": {
                      "description": "Optional. If set to `true`, and if the Instance does not exist, it will create a new one. The caller must have `run.instances.create` permissions if this is set to `true` and the Instance does not exist.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or updating any resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "The fully qualified name of this Instance. In `CreateInstanceRequest`, this field is ignored, and instead composed from `CreateInstanceRequest.parent` and `CreateInstanceRequest.instance_id`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2Instance"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "description": "Updates an Instance.",
                  "id": "run.projects.locations.instances.patch"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "description": "Gets an Instance",
                  "id": "run.projects.locations.instances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRunV2Instance"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Instance to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/instances",
                  "response": {
                    "$ref": "GoogleCloudRunV2ListInstancesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The location and project to list resources on.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token received from a previous call to ListInstances. All other parameters must match."
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If true, returns deleted (but unexpired) resources along with active ones."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of Instances to return in this call.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "run.projects.locations.instances.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances",
                  "description": "Lists Instances. Results are sorted by creation time, descending."
                },
                "start": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:start",
                  "description": "Starts an Instance.",
                  "id": "run.projects.locations.instances.start",
                  "request": {
                    "$ref": "GoogleCloudRunV2StartInstanceRequest"
                  },
                  "path": "v2/{+name}:start",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Instance to start.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "workerPools": {
              "methods": {
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "description": "Gets information about a WorkerPool.",
                  "id": "run.projects.locations.workerPools.get",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRunV2WorkerPool"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the WorkerPool. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`, where `{project}` can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "getIamPolicy": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}:getIamPolicy",
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run WorkerPool. This result does not include any inherited policies.",
                  "id": "run.projects.locations.workerPools.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v2/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudRunV2WorkerPool"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "description": "Creates a new WorkerPool in a given project and location.",
                  "id": "run.projects.locations.workerPools.create",
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location and project in which this worker pool should be created. Format: `projects/{project}/locations/{location}`, where `{project}` can be project id or number. Only lowercase characters, digits, and hyphens.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "workerPoolId": {
                      "type": "string",
                      "description": "Optional. The unique identifier for the WorkerPool. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the worker pool becomes `{parent}/workerPools/{worker_pool_id}`. If not provided, the server will generate a unique `worker_pool_id`.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+parent}/workerPools",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST"
                },
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "id": "run.projects.locations.workerPools.setIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified WorkerPool. Overwrites any existing policy."
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "description": "Deletes a WorkerPool.",
                  "id": "run.projects.locations.workerPools.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The full name of the WorkerPool. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`, where `{project}` can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$"
                    },
                    "etag": {
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. Indicates that the request should be validated without actually deleting any resources.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "run.projects.locations.workerPools.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools",
                  "description": "Lists WorkerPools. Results are sorted by creation time, descending.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/workerPools",
                  "response": {
                    "$ref": "GoogleCloudRunV2ListWorkerPoolsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location and project to list resources on. Location must be a valid Google Cloud region, and cannot be the \"-\" wildcard. Format: `projects/{project}/locations/{location}`, where `{project}` can be project id or number.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token received from a previous call to ListWorkerPools. All other parameters must match.",
                      "type": "string"
                    },
                    "showDeleted": {
                      "location": "query",
                      "description": "If true, returns deleted (but unexpired) resources along with active ones.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of WorkerPools to return in this call.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, and if the WorkerPool does not exist, it will create a new one. The caller must have 'run.workerpools.create' permissions if this is set to true and the WorkerPool does not exist."
                    },
                    "name": {
                      "description": "The fully qualified name of this WorkerPool. In CreateWorkerPoolRequest, this field is ignored, and instead composed from CreateWorkerPoolRequest.parent and CreateWorkerPoolRequest.worker_id. Format: `projects/{project}/locations/{location}/workerPools/{worker_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or updating any resources."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to be updated."
                    },
                    "forceNewRevision": {
                      "location": "query",
                      "description": "Optional. If set to true, a new revision will be created from the template even if the system doesn't detect any changes from the previously deployed revision. This may be useful for cases where the underlying resources need to be recreated or reinitialized. For example if the image is specified by label, but the underlying image digest has changed) or if the container performs deployment initialization work that needs to be performed again.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2WorkerPool"
                  },
                  "id": "run.projects.locations.workerPools.patch",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}",
                  "description": "Updates a WorkerPool."
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "id": "run.projects.locations.workerPools.testIamPermissions",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  }
                }
              },
              "resources": {
                "revisions": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The full name of the Revision. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+/revisions/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleCloudRunV2Revision"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "id": "run.projects.locations.workerPools.revisions.get",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}/revisions/{revisionsId}",
                      "description": "Gets information about a Revision."
                    },
                    "delete": {
                      "id": "run.projects.locations.workerPools.revisions.delete",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}/revisions/{revisionsId}",
                      "description": "Deletes a Revision.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Revision to delete. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "etag": {
                          "location": "query",
                          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Indicates that the request should be validated without actually deleting any resources.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The Service from which the Revisions should be listed. To list all Revisions across Services, use \"-\" instead of Service name. Format: projects/{project}/locations/{location}/services/{service}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workerPools/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token received from a previous call to ListRevisions. All other parameters must match."
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If true, returns deleted (but unexpired) resources along with active ones."
                        },
                        "pageSize": {
                          "description": "Maximum number of revisions to return in this call.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "path": "v2/{+parent}/revisions",
                      "response": {
                        "$ref": "GoogleCloudRunV2ListRevisionsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/workerPools/{workerPoolsId}/revisions",
                      "description": "Lists Revisions from a given Service, or from a given location. Results are sorted by creation time, descending.",
                      "id": "run.projects.locations.workerPools.revisions.list"
                    }
                  }
                }
              }
            },
            "services": {
              "resources": {
                "revisions": {
                  "methods": {
                    "exportStatus": {
                      "id": "run.projects.locations.services.revisions.exportStatus",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}/{revisionsId1}:exportStatus",
                      "description": "Read the status of an image export operation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "httpMethod": "GET",
                      "path": "v2/{+name}/{+operationId}:exportStatus",
                      "response": {
                        "$ref": "GoogleCloudRunV2ExportStatusResponse"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "description": "Required. The name of the resource of which image export operation status has to be fetched. Format: `projects/{project_id_or_number}/locations/{location}/services/{service}/revisions/{revision}` for Revision `projects/{project_id_or_number}/locations/{location}/jobs/{job}/executions/{execution}` for Execution"
                        },
                        "operationId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^[^/]+$",
                          "description": "Required. The operation id returned from ExportImage."
                        }
                      },
                      "parameterOrder": [
                        "name",
                        "operationId"
                      ]
                    },
                    "get": {
                      "id": "run.projects.locations.services.revisions.get",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}",
                      "description": "Gets information about a Revision.",
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleCloudRunV2Revision"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "description": "Required. The full name of the Revision. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "id": "run.projects.locations.services.revisions.delete",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions/{revisionsId}",
                      "description": "Deletes a Revision.",
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "description": "Indicates that the request should be validated without actually deleting any resources.",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Required. The name of the Revision to delete. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "etag": {
                          "description": "A system-generated fingerprint for this version of the resource. This may be used to detect modification conflict during updates.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "list": {
                      "path": "v2/{+parent}/revisions",
                      "response": {
                        "$ref": "GoogleCloudRunV2ListRevisionsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/run",
                        "https://www.googleapis.com/auth/run.readonly"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Maximum number of revisions to return in this call."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "description": "Required. The Service from which the Revisions should be listed. To list all Revisions across Services, use \"-\" instead of Service name. Format: projects/{project}/locations/{location}/services/{service}"
                        },
                        "pageToken": {
                          "description": "A page token received from a previous call to ListRevisions. All other parameters must match.",
                          "type": "string",
                          "location": "query"
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If true, returns deleted (but unexpired) resources along with active ones."
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/revisions",
                      "description": "Lists Revisions from a given Service, or from a given location. Results are sorted by creation time, descending.",
                      "id": "run.projects.locations.services.revisions.list"
                    }
                  }
                }
              },
              "methods": {
                "testIamPermissions": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "id": "run.projects.locations.services.testIamPermissions",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/services",
                  "response": {
                    "$ref": "GoogleCloudRunV2ListServicesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of Services to return in this call.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location and project to list resources on. Location must be a valid Google Cloud region, and cannot be the \"-\" wildcard. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token received from a previous call to ListServices. All other parameters must match.",
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "If true, returns deleted (but unexpired) resources along with active ones.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.services.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services",
                  "description": "Lists Services. Results are sorted by creation time, descending."
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "description": "Updates a Service.",
                  "id": "run.projects.locations.services.patch",
                  "request": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Identifier. The fully qualified name of this Service. In CreateServiceRequest, this field is ignored, and instead composed from CreateServiceRequest.parent and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true, and if the Service does not exist, it will create a new one. The caller must have 'run.services.create' permissions if this is set to true and the Service does not exist.",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "forceNewRevision": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, a new revision will be created from the template even if the system doesn't detect any changes from the previously deployed revision. This may be useful for cases where the underlying resources need to be recreated or reinitialized. For example if the image is specified by label, but the underlying image digest has changed) or if the container performs deployment initialization work that needs to be performed again."
                    },
                    "validateOnly": {
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
                    },
                    "validateOnly": {
                      "description": "Indicates that the request should be validated without actually deleting any resources.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "description": "Deletes a Service. This will cause the Service to stop serving traffic and will delete all revisions.",
                  "id": "run.projects.locations.services.delete"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+parent}/services",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "serviceId": {
                      "description": "Optional. The unique identifier for the Service. It must begin with letter, and cannot end with hyphen; must contain fewer than 50 characters. The name of the service becomes {parent}/services/{service_id}. If not provided, the server will generate a unique `service_id`.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location and project in which this service should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number. Only lowercase characters, digits, and hyphens.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services",
                  "description": "Creates a new Service in a given project and location.",
                  "id": "run.projects.locations.services.create"
                },
                "setIamPolicy": {
                  "path": "v2/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  }
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v2/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "description": "Gets the IAM Access Control policy currently in effect for the given Cloud Run Service. This result does not include any inherited policies.",
                  "id": "run.projects.locations.services.getIamPolicy"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the Service. Format: projects/{project}/locations/{location}/services/{service}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRunV2Service"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "description": "Gets information about a Service.",
                  "id": "run.projects.locations.services.get"
                }
              }
            },
            "builds": {
              "methods": {
                "submit": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/builds:submit",
                  "description": "Submits a build in a given project.",
                  "id": "run.projects.locations.builds.submit",
                  "request": {
                    "$ref": "GoogleCloudRunV2SubmitBuildRequest"
                  },
                  "path": "v2/{+parent}/builds:submit",
                  "response": {
                    "$ref": "GoogleCloudRunV2SubmitBuildResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location to build in. Location must be a region, e.g., 'us-central1' or 'global' if the global builder is to be used. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "sourceUploads": {
              "methods": {
                "upload": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "path": "v2/{+parent}:uploadSource",
                  "response": {
                    "$ref": "GoogleCloudRunV2UploadSourceResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location in which the source archive should be uploaded to, specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "supportsMediaUpload": true,
                  "mediaUpload": {
                    "accept": [
                      "*/*"
                    ],
                    "protocols": {
                      "resumable": {
                        "multipart": true,
                        "path": "/resumable/upload/v2/{+parent}:uploadSource"
                      },
                      "simple": {
                        "multipart": true,
                        "path": "/upload/v2/{+parent}:uploadSource"
                      }
                    },
                    "maxSize": "262144000"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudRunV2UploadSourceRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:uploadSource",
                  "description": "Uploads a source archive to a Google Cloud Storage bucket through Cloud Run. The uploaded source object should be used for Cloud Run resource deployments. User is responsible for managing the lifecycle of the uploaded object. If uploading through the Cloud Run API to Cloud Storage is not desired, you can use the IAM Deny Policy to deny the `run.locations.uploadSource` permission for all principals.",
                  "id": "run.projects.locations.sourceUploads.upload"
                }
              }
            },
            "jobs": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The location and project in which this Job should be created. Format: projects/{project}/locations/{location}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "jobId": {
                      "location": "query",
                      "description": "Optional. The unique identifier for the Job. The name of the job becomes {parent}/jobs/{job_id}. If not provided, the server will generate a unique `job_id`.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                      "type": "boolean"
                    }
                  },
                  "path": "v2/{+parent}/jobs",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs",
                  "description": "Creates a Job.",
                  "id": "run.projects.locations.jobs.create",
                  "request": {
                    "$ref": "GoogleCloudRunV2Job"
                  }
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:setIamPolicy",
                  "description": "Sets the IAM Access control policy for the specified Job. Overwrites any existing policy.",
                  "id": "run.projects.locations.jobs.setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  }
                },
                "getIamPolicy": {
                  "id": "run.projects.locations.jobs.getIamPolicy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:getIamPolicy",
                  "description": "Gets the IAM Access Control policy currently in effect for the given Job. This result does not include any inherited policies.",
                  "httpMethod": "GET",
                  "path": "v2/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  }
                },
                "run": {
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+name}:run",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudRunV2RunJobRequest"
                  },
                  "id": "run.projects.locations.jobs.run",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:run",
                  "description": "Triggers creation of a new Execution of this Job."
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "id": "run.projects.locations.jobs.testIamPermissions",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Indicates that the request should be validated without actually deleting any resources.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "A system-generated fingerprint for this version of the resource. May be used to detect modification conflict during updates."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.jobs.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Deletes a Job."
                },
                "patch": {
                  "id": "run.projects.locations.jobs.patch",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Updates a Job.",
                  "request": {
                    "$ref": "GoogleCloudRunV2Job"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Indicates that the request should be validated and default values populated, without persisting the request or updating any resources."
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and if the Job does not exist, it will create a new one. Caller must have both create and update permissions for this call if this is set to true.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "The fully qualified name of this Job. Format: projects/{project}/locations/{location}/jobs/{job}",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run"
                  ]
                },
                "get": {
                  "id": "run.projects.locations.jobs.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Gets information about a Job.",
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job}, where {project} can be project id or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudRunV2Job"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/run",
                    "https://www.googleapis.com/auth/run.readonly"
                  ],
                  "path": "v2/{+parent}/jobs",
                  "response": {
                    "$ref": "GoogleCloudRunV2ListJobsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
[...]
