{
  "servicePath": "",
  "name": "saasservicemgmt",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://saasservicemgmt.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1beta1",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://saasservicemgmt.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/saasservicemgmt.readonly": {
          "description": "See your Google Cloud App Lifecycle Management data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/saasservicemgmt.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud App Lifecycle Management data and see the email address for your Google Account"
        }
      }
    }
  },
  "schemas": {
    "SaasRelease": {
      "id": "SaasRelease",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saasReleases/{saasRelease}\"",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        }
      },
      "type": "object",
      "description": "SaasRelease is a collection of Releases that are assigned to a UnitGroup. It allows provisioning and updates of UnitGroup, which contains multiple Units of different UnitKinds."
    },
    "CompositeRef": {
      "properties": {
        "applicationTemplate": {
          "description": "Required. Reference to the ApplicationTemplate resource.",
          "type": "string"
        },
        "revision": {
          "description": "Optional. Revision of the ApplicationTemplate to use. Changes to revision will trigger manual resynchronization. If empty, ApplicationTemplate will be ignored.",
          "type": "string"
        },
        "syncOperation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reference to on-going AppTemplate import and replication operation (i.e. the operation_id for the long-running operation). This field is opaque for external usage."
        }
      },
      "type": "object",
      "description": "CompositeRef represents a reference to a composite resource.",
      "id": "CompositeRef"
    },
    "ListUnitKindsResponse": {
      "properties": {
        "unitKinds": {
          "type": "array",
          "description": "The resulting unit kinds.",
          "items": {
            "$ref": "UnitKind"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response structure for the ListUnitKinds method.",
      "id": "ListUnitKindsResponse"
    },
    "UnitOperationCondition": {
      "id": "UnitOperationCondition",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_SCHEDULED",
            "TYPE_RUNNING",
            "TYPE_SUCCEEDED",
            "TYPE_CANCELLED",
            "TYPE_APP_CREATED",
            "TYPE_APP_COMPONENTS_REGISTERED",
            "TYPE_WORKLOAD_SUCCEEDED"
          ],
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is scheduled.",
            "Condition type is running.",
            "Condition type is succeeded.",
            "Condition type is cancelled.",
            "Indicates if AppHub app has been created.",
            "Indicates if services and workloads have been registered with AppHub.",
            "Indicates if the UnitOperation's core workload execution completed successfully. The workload is the core execution operation performed for a UnitOperation (e.g., provisioning, updating, or deprovisioning resources) excluding post-operation checks."
          ],
          "description": "Required. Type of the condition."
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "description": "Required. Status of the condition.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        }
      },
      "type": "object",
      "description": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state."
    },
    "ToMapping": {
      "id": "ToMapping",
      "description": "Input variables whose values will be passed on to dependencies",
      "type": "object",
      "properties": {
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the inputVariable will pass its value to"
        },
        "inputVariable": {
          "description": "Required. Name of the inputVariable on the dependency",
          "type": "string"
        },
        "ignoreForLookup": {
          "type": "boolean",
          "description": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not"
        }
      }
    },
    "UnitDependency": {
      "id": "UnitDependency",
      "description": "Set of dependencies for this unit. Maximum 10.",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Alias for the name of the dependency."
        },
        "unit": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A reference to the Unit object."
        }
      }
    },
    "MaintenanceSettings": {
      "type": "object",
      "id": "MaintenanceSettings",
      "description": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
      "properties": {
        "pinnedUntilTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place."
        }
      }
    },
    "FlagUpdate": {
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units.",
      "type": "object",
      "id": "FlagUpdate",
      "properties": {
        "flagRelease": {
          "type": "string",
          "description": "Required. Flag release being applied by UnitOperation."
        }
      }
    },
    "ListRolloutKindsResponse": {
      "properties": {
        "rolloutKinds": {
          "items": {
            "$ref": "RolloutKind"
          },
          "description": "The resulting rollout kinds.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListRolloutKindsResponse",
      "description": "The response structure for the ListRolloutKinds method."
    },
    "Decimal": {
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "RolloutKind": {
      "description": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies.",
      "type": "object",
      "properties": {
        "unitFilter": {
          "type": "string",
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout."
        },
        "rolloutOrchestrationStrategy": {
          "type": "string",
          "description": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "unitUpdatePacing": {
          "$ref": "UnitUpdatePacing",
          "description": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region."
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "errorBudget": {
          "description": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered.",
          "$ref": "ErrorBudget"
        },
        "updateUnitKindStrategy": {
          "enum": [
            "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED",
            "UPDATE_UNIT_KIND_STRATEGY_ON_START",
            "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          ],
          "description": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start.",
          "type": "string",
          "enumDescriptions": [
            "Strategy unspecified.",
            "Update the unit kind strategy on the rollout start.",
            "Never update the unit kind."
          ]
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\"",
          "type": "string"
        }
      },
      "id": "RolloutKind"
    },
    "UnitKind": {
      "id": "UnitKind",
      "description": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together.",
      "properties": {
        "inputVariableMappings": {
          "items": {
            "$ref": "VariableMapping"
          },
          "description": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100.",
          "type": "array"
        },
        "dependencies": {
          "items": {
            "$ref": "Dependency"
          },
          "description": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10.",
          "type": "array"
        },
        "boundaryType": {
          "enum": [
            "BOUNDARY_TYPE_UNSPECIFIED",
            "BOUNDARY_TYPE_TENANT_PROJECT",
            "BOUNDARY_TYPE_MANAGED_PROJECT"
          ],
          "description": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified boundary type.",
            "Tenant project boundary.",
            "Managed project boundary."
          ],
          "readOnly": true
        },
        "appParams": {
          "description": "Optional. AppParams contains the parameters for creating an AppHub Application.",
          "$ref": "AppParams"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\"",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "readOnly": true
        },
        "applicationTemplateComponent": {
          "description": "Optional. Reference to component and revision in a composite ApplicationTemplate.",
          "$ref": "ComponentRef"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "defaultFlagRevisions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation."
        },
        "outputVariableMappings": {
          "description": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100.",
          "type": "array",
          "items": {
            "$ref": "VariableMapping"
          }
        },
        "defaultRelease": {
          "type": "string",
          "description": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
        }
      },
      "type": "object"
    },
    "Saas": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "State type is unspecified. Deprecated: Use STATE_UNSPECIFIED instead.",
            "The Saas is ready",
            "In the process of importing, synchronizing or replicating ApplicationTemplates",
            "Failure during process of importing, synchronizing or replicating ApplicationTemplate processing"
          ],
          "type": "string",
          "description": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TYPE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_RUNNING",
            "STATE_FAILED"
          ]
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
          "type": "string"
        },
        "applicationTemplate": {
          "description": "Reference to composite ApplicationTemplate. When specified, the template components will be imported into their equivalent UnitKind, Release and Blueprint resources. Deleted references will not delete imported resources. Should only be specified on source regions, and be unspecified on replica regions.",
          "$ref": "CompositeRef"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "blueprintRepo": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of repository in Artifact Registry for system-generated Blueprints, eg. Blueprints of imported ApplicationTemplates."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "conditions": {
          "readOnly": true,
          "description": "Output only. A set of conditions which indicate the various conditions this resource can have.",
          "type": "array",
          "items": {
            "$ref": "SaasCondition"
          }
        },
        "locations": {
          "type": "array",
          "description": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan.",
          "items": {
            "$ref": "Location"
          }
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Saas",
      "description": "Saas is a representation of a SaaS service managed by the Producer."
    },
    "FromMapping": {
      "description": "Output variables whose values will be passed on to dependencies",
      "type": "object",
      "properties": {
        "outputVariable": {
          "type": "string",
          "description": "Required. Name of the outputVariable on the dependency"
        },
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to"
        }
      },
      "id": "FromMapping"
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)",
          "type": "string"
        }
      },
      "description": "A time specification to schedule the maintenance.",
      "id": "Schedule"
    },
    "VariableMapping": {
      "properties": {
        "variable": {
          "description": "Required. name of the variable",
          "type": "string"
        },
        "to": {
          "description": "Optional. Input variables whose values will be passed on to dependencies.",
          "$ref": "ToMapping"
        },
        "from": {
          "description": "Optional. Output variables which will get their values from dependencies",
          "$ref": "FromMapping"
        }
      },
      "description": "Mapping of input variables to their respective output variable for depedenencies",
      "type": "object",
      "id": "VariableMapping"
    },
    "FlagRelease": {
      "properties": {
        "flagRevisions": {
          "description": "Optional. Immutable. DEPRECATED: Use flag_revisions_release instead. FlagRevisions to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set. It used to be the ultimate source to truth and has been moved to effective_flag_revisions.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flagRevisionsRelease": {
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag revisions.",
          "$ref": "FlagRevisionList"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagReleases/{flag_release_id}\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "allFlags": {
          "type": "boolean",
          "description": "Optional. Immutable. DEPRECATED: Use all_flags_release instead. Rollout all flags in the provided UnitKind. Only one of flag_revisions, all_flags, or flag_sets can be set.",
          "deprecated": true
        },
        "flagSetsRelease": {
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag sets.",
          "$ref": "FlagSetList"
        },
        "allFlagsRelease": {
          "description": "Optional. Immutable. Specifies the release includes all flags.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "flagSets": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. DEPRECATED: Use flag_sets_release instead. Flag sets to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set.",
          "type": "array",
          "deprecated": true
        },
        "obsoleteFlags": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Deprecated: Use the 'state' field in the 'Flag' resource to manage the cleanup of flag lifecycles including removal from UnitKind and Units. Flags to be removed from given UnitKind and all related Units. If Flag is provided here, its FlagRevisions will be removed from UnitKind and Units."
        },
        "unitKind": {
          "description": "Required. Immutable. The UnitKind this FlagRelease applies to.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "effectiveFlagRevisions": {
          "description": "Output only. An OUTPUT_ONLY field that contains FlagRevisions to be rolled out. This is the ultimate source of truth of what a Rollout or a UnitOperation carries.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "flagNamesRelease": {
          "$ref": "FlagNameList",
          "description": "Optional. Immutable. Specifies the release consisting of a list of flags."
        }
      },
      "type": "object",
      "description": "A collection of FlagRevisions.",
      "id": "FlagRelease"
    },
    "Location": {
      "id": "Location",
      "description": "Location information that the service is available in.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of location."
        }
      },
      "type": "object"
    },
    "Rollout": {
      "id": "Rollout",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "rootRollout": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
        },
        "control": {
          "description": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state.",
          "$ref": "RolloutControl"
        },
        "flagRelease": {
          "type": "string",
          "description": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted."
        },
        "unitFilter": {
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout. If not provided, the unit_filter from the RolloutKind will be used.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Rollout is in progress.",
            "Rollout has been paused.",
            "Rollout completed successfully.",
            "Rollout has failed.",
            "Rollout has been canceled.",
            "Rollout is waiting for some condition to be met before starting.",
            "Rollout is being canceled.",
            "Rollout is being resumed.",
            "Rollout is being paused."
          ],
          "description": "Output only. Current state of the rollout.",
          "readOnly": true,
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "ROLLOUT_STATE_RUNNING",
            "ROLLOUT_STATE_PAUSED",
            "ROLLOUT_STATE_SUCCEEDED",
            "ROLLOUT_STATE_FAILED",
            "ROLLOUT_STATE_CANCELLED",
            "ROLLOUT_STATE_WAITING",
            "ROLLOUT_STATE_CANCELLING",
            "ROLLOUT_STATE_RESUMING",
            "ROLLOUT_STATE_PAUSING"
          ]
        },
        "stateTransitionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The time when the rollout transitioned into its current state."
        },
        "effectiveUnitFilter": {
          "readOnly": true,
          "description": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here.",
          "type": "string"
        },
        "parentRollout": {
          "description": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rolloutKind": {
          "type": "string",
          "description": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The time when the rollout started executing. Will be empty if the rollout hasn't started yet."
        },
        "rolloutOrchestrationStrategy": {
          "type": "string",
          "description": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations."
        },
        "release": {
          "description": "Optional. Immutable. Name of the Release that gets rolled out to target Units. Required if no other type of release is specified.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\""
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human readable message indicating details about the last state transition."
        },
        "stats": {
          "description": "Optional. Output only. Details about the progress of the rollout.",
          "$ref": "RolloutStats",
          "readOnly": true
        }
      },
      "description": "Represents a single rollout execution and its results"
    },
    "Upgrade": {
      "properties": {
        "release": {
          "description": "Optional. Reference to the Release object to use for the Unit. (optional).",
          "type": "string"
        },
        "inputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array",
          "description": "Optional. Set of input variables. Maximum 100. (optional)"
        }
      },
      "id": "Upgrade",
      "type": "object",
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
    },
    "ListTenantsResponse": {
      "id": "ListTenantsResponse",
      "description": "The response structure for the ListTenants method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "tenants": {
          "items": {
            "$ref": "Tenant"
          },
          "description": "The resulting tenants.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages."
        }
      }
    },
    "ListFlagRevisionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlagRevisions call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "flagRevisions": {
          "items": {
            "$ref": "FlagRevision"
          },
          "description": "The resulting flag revisions.",
          "type": "array"
        }
      },
      "id": "ListFlagRevisionsResponse",
      "description": "The response structure for the ListFlagRevisions method."
    },
    "EvaluationRule": {
      "type": "object",
      "description": "EvaluationRule defines a single rule for evaluating a feature flag. A rule consists of a condition that, if met, assigns a specific variant or allocation to the user.",
      "id": "EvaluationRule",
      "properties": {
        "variantId": {
          "description": "Optional. The name of a variant to target.",
          "type": "string"
        },
        "allocationId": {
          "description": "Optional. The ID of an allocation to target.",
          "type": "string"
        },
        "target": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `rule_target` instead. The target variant or allocation to apply if the condition is met. This should match the name of a defined variant or allocation's ID."
        },
        "condition": {
          "description": "Required. A Common Expression Language (CEL) expression that evaluates to a boolean. The expression is evaluated against the provided context. If it returns true, the rule's target is applied.",
          "type": "string"
        },
        "id": {
          "description": "Required. Evaluation rule ID. Max length: 128 bytes.",
          "type": "string"
        }
      }
    },
    "RolloutControl": {
      "type": "object",
      "id": "RolloutControl",
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it.",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ],
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ],
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state.",
          "type": "string"
        },
        "runParams": {
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed.",
          "$ref": "RunRolloutActionParams"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Tenant": {
      "type": "object",
      "id": "Tenant",
      "properties": {
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\"",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "consumerResource": {
          "type": "string",
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API)."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\""
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Flag": {
      "description": "Represents a single Flag.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flags/{flag_id}\"",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "items": {
            "$ref": "FlagVariant"
          },
          "description": "Optional. A list of variants."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the flag. Max length: 500 bytes."
        },
        "flagValueType": {
          "enumDescriptions": [
            "Unspecified flag value type.",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag value type."
          ],
          "description": "Optional. Immutable. Flag value type.",
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOLEAN",
            "FLAG_VALUE_TYPE_INTEGER",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Flag state is unspecified.",
            "Flag is in development state.",
            "Flag is in active state.",
            "Flag is in deprecated state.",
            "Flag is in cleanup state."
          ],
          "enum": [
            "FLAG_STATE_UNSPECIFIED",
            "FLAG_STATE_IN_DEVELOPMENT",
            "FLAG_STATE_ACTIVE",
            "FLAG_STATE_SUNSETTING",
            "FLAG_STATE_CLEANUP"
          ],
          "description": "Optional. Current state of the flag."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "key": {
          "type": "string",
          "description": "Required. Immutable. Flag key used in runtime evaluation APIs (OpenFeature). Max length: 256 bytes."
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "flagSet": {
          "description": "Optional. Flag set this flag belongs to.",
          "type": "string"
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. UnitKind that can consume this flag."
        },
        "valueType": {
          "enumDescriptions": [
            "",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag type."
          ],
          "deprecated": true,
          "type": "string",
          "description": "Optional. Immutable. Deprecated: Use `flag_value_type` instead. Flag value type.",
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOL",
            "FLAG_VALUE_TYPE_INT",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ]
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "evaluationSpec": {
          "description": "Optional. Specification of how the flag value should be evaluated. If a bool flag is created without an evaluation_spec specified, two default variants, \"Enabled\" (with bool_value = true) and \"Disabled\" (with bool_value = false), are created by default, and \"Disabled\" is set as the default_target.",
          "$ref": "EvaluationSpec"
        }
      },
      "id": "Flag",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "The response structure for the ListRollouts method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages."
        },
        "rollouts": {
          "description": "The resulting rollouts.",
          "items": {
            "$ref": "Rollout"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AppParams": {
      "type": "object",
      "id": "AppParams",
      "properties": {
        "group": {
          "description": "Optional. Grouping used to construct the name of the AppHub Application. Multiple UnitKinds can specify the same group to use the same Application across their respective units. Corresponds to the app_boundary_id in the ADC composite ApplicationTemplate. Defaults to UnitKind.name",
          "type": "string"
        },
        "scope": {
          "$ref": "Scope",
          "description": "Optional. Corresponds to the scope in the ADC composite ApplicationTemplate. Defaults to TYPE_REGIONAL."
        }
      },
      "description": "AppParams contains the parameters for creating an AppHub Application."
    },
    "RolloutStats": {
      "id": "RolloutStats",
      "type": "object",
      "properties": {
        "operationsByState": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Aggregate"
          },
          "description": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\""
        },
        "estimatedTotalUnitCount": {
          "readOnly": true,
          "description": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "RolloutStats contains information about the progress of a rollout."
    },
    "Unit": {
      "id": "Unit",
      "type": "object",
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant.",
      "properties": {
        "release": {
          "readOnly": true,
          "description": "Optional. Output only. The current Release object for this Unit.",
          "type": "string"
        },
        "unitGroup": {
          "description": "Optional. Output only. Reference to the UnitGroup this unit belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "inputVariables": {
          "type": "array",
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit",
          "readOnly": true,
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "conditions": {
          "items": {
            "$ref": "UnitCondition"
          },
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have.",
          "readOnly": true,
          "type": "array"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "type": "string",
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ]
        },
        "flagConfigName": {
          "type": "string",
          "description": "Output only. This field stores the unique identifier for the flag configuration to be used by this Unit.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "scheduledOperations": {
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "systemManagedState": {
          "enum": [
            "SYSTEM_MANAGED_STATE_UNSPECIFIED",
            "SYSTEM_MANAGED_STATE_ACTIVE",
            "SYSTEM_MANAGED_STATE_INACTIVE",
            "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          ],
          "description": "Optional. Output only. Indicates the system managed state of the unit.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified system managed state.",
            "Unit has dependents attached.",
            "Unit has no dependencies attached, but attachment is allowed.",
            "Unit has no dependencies attached, and attachment is not allowed."
          ]
        },
        "outputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution."
        },
        "managementMode": {
          "type": "string",
          "description": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created.",
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "MANAGEMENT_MODE_USER",
            "MANAGEMENT_MODE_SYSTEM"
          ],
          "enumDescriptions": [
            "Unspecified management mode.",
            "Unit's lifecycle is managed by the user.",
            "The system will decide when to deprovision and delete the unit. User still can deprovision or delete the unit manually."
          ]
        },
        "dependents": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000.",
          "items": {
            "$ref": "UnitDependency"
          }
        },
        "tenant": {
          "type": "string",
          "description": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "application": {
          "type": "string",
          "description": "Optional. Reference to the AppHub Application this unit belongs to. All resources deployed in this Unit will be associated with the specified Application."
        },
        "satisfiesPzs": {
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "pendingOperations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit."
        },
        "maintenance": {
          "$ref": "MaintenanceSettings",
          "description": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string"
        },
        "dependencies": {
          "type": "array",
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10.",
          "readOnly": true,
          "items": {
            "$ref": "UnitDependency"
          }
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\"",
          "type": "string"
        },
        "systemCleanupAt": {
          "readOnly": true,
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "unitKind": {
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set.",
          "type": "string"
        },
        "ongoingOperations": {
          "description": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "flagRevisions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Output only. Flag revisions used by this Unit.",
          "readOnly": true
        }
      }
    },
    "ListFlagReleasesResponse": {
      "id": "ListFlagReleasesResponse",
      "type": "object",
      "properties": {
        "flagReleases": {
          "type": "array",
          "items": {
            "$ref": "FlagRelease"
          },
          "description": "The resulting flag releases."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagReleases call to list the next page. If empty, there are no more pages."
        }
      },
      "description": "The response structure for the ListFlagReleases method."
    },
    "Aggregate": {
      "id": "Aggregate",
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Group by which to aggregate."
        },
        "count": {
          "description": "Required. Number of records in the group.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state."
    },
    "UnitVariable": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Variable type is unspecified.",
            "Variable type is string.",
            "Variable type is int.",
            "Variable type is bool.",
            "Variable type is struct.",
            "Variable type is list."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "STRUCT",
            "LIST"
          ],
          "description": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool."
        },
        "value": {
          "type": "string",
          "description": "Optional. String encoded value for the variable."
        },
        "variable": {
          "type": "string",
          "description": "Required. Immutable. Name of the variable from actuation configs."
        }
      },
      "id": "UnitVariable",
      "description": "UnitVariable describes a parameter for a Unit.",
      "type": "object"
    },
    "ListUnitOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unitOperations": {
          "type": "array",
          "items": {
            "$ref": "UnitOperation"
          },
          "description": "The resulting unit operations."
        }
      },
      "description": "The response structure for the ListUnitOperations method.",
      "type": "object",
      "id": "ListUnitOperationsResponse"
    },
    "FlagRevision": {
      "id": "FlagRevision",
      "properties": {
        "flag": {
          "description": "Required. Immutable. Name of the Flag this is a revision of.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "snapshot": {
          "$ref": "Flag",
          "readOnly": true,
          "description": "Output only. Immutable. Snapshot of the Flag."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagRevisions/{flag_revision_id}\""
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "evaluationSpec": {
          "$ref": "EvaluationSpec",
          "readOnly": true,
          "description": "Output only. Immutable. Snapshot of the EvaluationSpec for the flag. DEPRECATED: Use snapshot instead.",
          "deprecated": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        }
      },
      "description": "A snapshot of the EvaluationSpec for the Flag.",
      "type": "object"
    },
    "ReleaseRequirements": {
      "properties": {
        "upgradeableFromReleases": {
          "description": "Optional. A list of releases from which a unit can be upgraded to this one (optional). If left empty no constraints will be applied. When provided, unit upgrade requests to this release will check and enforce this constraint.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Set of requirements to be fulfilled on the Unit when using this Release.",
      "id": "ReleaseRequirements"
    },
    "ListFlagsResponse": {
      "properties": {
        "flags": {
          "type": "array",
          "items": {
            "$ref": "Flag"
          },
          "description": "The resulting flags."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlags call to list the next page. If empty, there are no more pages."
        }
      },
      "id": "ListFlagsResponse",
      "description": "The response structure for the ListFlags method.",
      "type": "object"
    },
    "ListSaasReleasesResponse": {
      "id": "ListSaasReleasesResponse",
      "description": "The response structure for the ListSaasReleases method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "saasReleases": {
          "items": {
            "$ref": "SaasRelease"
          },
          "description": "The resulting saas releases.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListSaasReleases call to list the next page. If empty, there are no more pages."
        }
      }
    },
    "ComponentRef": {
      "type": "object",
      "properties": {
        "component": {
          "description": "Optional. Name of the component in composite.Components",
          "type": "string"
        },
        "compositeRef": {
          "$ref": "CompositeRef",
          "description": "Reference to the Composite ApplicationTemplate."
        },
        "revision": {
          "description": "Optional. Revision of the component. If the component does not have a revision, this field will be explicitly set to the revision of the composite ApplicationTemplate.",
          "type": "string"
        }
      },
      "description": "ComponentRef represents a reference to a component resource.",
      "id": "ComponentRef"
    },
    "Allocation": {
      "description": "Allocation defines a set of weighted flag variants, specifying how traffic is split based on the randomization unit.",
      "id": "Allocation",
      "properties": {
        "slots": {
          "items": {
            "$ref": "AllocationSlot"
          },
          "description": "Required. Slots defines the weighted distribution of variants.",
          "type": "array"
        },
        "description": {
          "description": "Optional. Description of the allocation. Max length: 500 bytes.",
          "type": "string"
        },
        "randomizedOn": {
          "type": "string",
          "description": "Required. Key of the context attribute that is used for traffic splitting."
        },
        "id": {
          "type": "string",
          "description": "Required. Allocation ID. Max length: 128 bytes."
        }
      },
      "type": "object"
    },
    "UnitGroup": {
      "type": "object",
      "description": "UnitGroup represents a set of Units to be used by a Tenant. In pooling scenarios, the UnitGroup may be created and provisioned before the Tenant is created.",
      "id": "UnitGroup",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitGroups/{unitGroup}\"",
          "type": "string"
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        }
      }
    },
    "ListSaasResponse": {
      "id": "ListSaasResponse",
      "description": "The response structure for the ListSaas method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "saas": {
          "description": "The resulting saas.",
          "items": {
            "$ref": "Saas"
          },
          "type": "array"
        }
      }
    },
    "AllocationSlot": {
      "properties": {
        "weight": {
          "description": "Required. Weight defines the proportion of traffic to allocate to the variant, relative to other slots in the same allocation.",
          "type": "integer",
          "format": "int32"
        },
        "variant": {
          "description": "Required. Variant of the allocation slot.",
          "type": "string"
        }
      },
      "description": "AllocationSlot specifies a variant and the proportion of traffic allocated to it.",
      "id": "AllocationSlot",
      "type": "object"
    },
    "UnitUpdatePacing": {
      "description": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region.",
      "properties": {
        "maxConcurrentOperationsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        },
        "maxConcurrentOperationsPercent": {
          "description": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive).",
          "$ref": "Decimal"
        }
      },
      "type": "object",
      "id": "UnitUpdatePacing"
    },
    "Provision": {
      "id": "Provision",
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned.",
      "properties": {
        "release": {
          "description": "Optional. Reference to the Release object to use for the Unit. (optional).",
          "type": "string"
        },
        "inputVariables": {
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          }
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "Dependency": {
      "properties": {
        "unitKind": {
          "description": "Required. Immutable. The unit kind of the dependency.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "Required. An alias for the dependency. Used for input variable mapping."
        }
      },
      "type": "object",
      "description": "Dependency represent a single dependency with another unit kind by alias.",
      "id": "Dependency"
    },
    "FlagSetList": {
      "id": "FlagSetList",
      "type": "object",
      "properties": {
        "sets": {
          "items": {
            "type": "string"
          },
          "description": "Required. Flag sets to be rolled out.",
          "type": "array"
        }
      },
      "description": "Wrapper for a list of flag sets."
    },
    "ListUnitsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "units": {
          "type": "array",
          "items": {
            "$ref": "Unit"
          },
          "description": "The resulting units."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListUnitsResponse",
      "type": "object",
      "description": "The response structure for the ListUnits method."
    },
    "RunRolloutActionParams": {
      "properties": {
        "retryFailedOperations": {
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state.",
      "id": "RunRolloutActionParams"
    },
    "FlagAttribute": {
      "type": "object",
      "description": "FlagAttribute defines a custom property in the evaluation context.",
      "id": "FlagAttribute",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagAttributes/{flag_attribute_id}\"",
          "type": "string"
        },
        "attributeValueType": {
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "FLAG_ATTRIBUTE_VALUE_TYPE_BOOLEAN",
            "FLAG_ATTRIBUTE_VALUE_TYPE_INTEGER",
            "FLAG_ATTRIBUTE_VALUE_TYPE_STRING",
            "FLAG_ATTRIBUTE_VALUE_TYPE_DOUBLE"
          ],
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "description": "Optional. Immutable. Type of the attribute.",
          "type": "string"
        },
        "key": {
          "description": "Required. Immutable. The identifier for the attribute, used as the key in the evaluation context. The attribute key is referenced in the evaluation rules and used in the OpenFeature evaluation API to specify the attribute context.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "valueType": {
          "type": "string",
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "INTEGER",
            "STRING",
            "DOUBLE"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "description": "Optional. Immutable. Deprecated: Use `attribute_value_type` instead. Type of the attribute."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
[...]
