{
  "title": "App Lifecycle Manager API",
  "documentationLink": "https://cloud.google.com/saas-runtime/docs",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "canonicalName": "SaaS Service Management",
  "batchPath": "batch",
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "baseUrl": "https://saasservicemgmt.googleapis.com/",
  "name": "saasservicemgmt",
  "mtlsRootUrl": "https://saasservicemgmt.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "saasservicemgmt:v1beta1",
  "discoveryVersion": "v1",
  "description": "Model, deploy, and operate your SaaS at scale. ",
  "basePath": "",
  "schemas": {
    "ListTenantsResponse": {
      "id": "ListTenantsResponse",
      "description": "The response structure for the ListTenants method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages."
        },
        "tenants": {
          "items": {
            "$ref": "Tenant"
          },
          "description": "The resulting tenants.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Allocation": {
      "description": "Allocation defines a set of weighted flag variants, specifying how traffic is split based on the randomization unit.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Allocation ID. Max length: 128 bytes."
        },
        "slots": {
          "items": {
            "$ref": "AllocationSlot"
          },
          "type": "array",
          "description": "Required. Slots defines the weighted distribution of variants."
        },
        "randomizedOn": {
          "type": "string",
          "description": "Required. Key of the context attribute that is used for traffic splitting."
        },
        "description": {
          "description": "Optional. Description of the allocation. Max length: 500 bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Allocation"
    },
    "FlagRevisionList": {
      "properties": {
        "revisions": {
          "items": {
            "type": "string"
          },
          "description": "Required. FlagRevisions to be rolled out.",
          "type": "array"
        }
      },
      "id": "FlagRevisionList",
      "type": "object",
      "description": "Wrapper for a list of flag revisions."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "Flag": {
      "type": "object",
      "id": "Flag",
      "description": "Represents a single Flag.",
      "properties": {
        "valueType": {
          "description": "Optional. Immutable. Deprecated: Use `flag_value_type` instead. Flag value type.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag type."
          ],
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOL",
            "FLAG_VALUE_TYPE_INT",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "deprecated": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the flag. Max length: 500 bytes."
        },
        "flagSet": {
          "description": "Optional. Flag set this flag belongs to.",
          "type": "string"
        },
        "unitKind": {
          "description": "Required. Immutable. UnitKind that can consume this flag.",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "description": "Optional. A list of variants.",
          "items": {
            "$ref": "FlagVariant"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "evaluationSpec": {
          "$ref": "EvaluationSpec",
          "description": "Optional. Specification of how the flag value should be evaluated. If a bool flag is created without an evaluation_spec specified, two default variants, \"Enabled\" (with bool_value = true) and \"Disabled\" (with bool_value = false), are created by default, and \"Disabled\" is set as the default_target."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flags/{flag_id}\"",
          "type": "string"
        },
        "flagValueType": {
          "enumDescriptions": [
            "Unspecified flag value type.",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag value type."
          ],
          "type": "string",
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOLEAN",
            "FLAG_VALUE_TYPE_INTEGER",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "description": "Optional. Immutable. Flag value type."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "Required. Immutable. Flag key used in runtime evaluation APIs (OpenFeature). Max length: 256 bytes."
        },
        "state": {
          "enum": [
            "FLAG_STATE_UNSPECIFIED",
            "FLAG_STATE_IN_DEVELOPMENT",
            "FLAG_STATE_ACTIVE",
            "FLAG_STATE_SUNSETTING",
            "FLAG_STATE_CLEANUP"
          ],
          "enumDescriptions": [
            "Flag state is unspecified.",
            "Flag is in development state.",
            "Flag is in active state.",
            "Flag is in deprecated state.",
            "Flag is in cleanup state."
          ],
          "type": "string",
          "description": "Optional. Current state of the flag."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        }
      }
    },
    "ListRolloutKindsResponse": {
      "description": "The response structure for the ListRolloutKinds method.",
      "id": "ListRolloutKindsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages."
        },
        "rolloutKinds": {
          "description": "The resulting rollout kinds.",
          "items": {
            "$ref": "RolloutKind"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Aggregate": {
      "id": "Aggregate",
      "properties": {
        "group": {
          "description": "Required. Group by which to aggregate.",
          "type": "string"
        },
        "count": {
          "description": "Required. Number of records in the group.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state.",
      "type": "object"
    },
    "Upgrade": {
      "type": "object",
      "id": "Upgrade",
      "properties": {
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        },
        "inputVariables": {
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array"
        }
      },
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
    },
    "UnitDependency": {
      "id": "UnitDependency",
      "properties": {
        "alias": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Alias for the name of the dependency."
        },
        "unit": {
          "description": "Output only. A reference to the Unit object.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Set of dependencies for this unit. Maximum 10.",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "properties": {
        "rollouts": {
          "type": "array",
          "items": {
            "$ref": "Rollout"
          },
          "description": "The resulting rollouts."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "The response structure for the ListRollouts method.",
      "type": "object"
    },
    "ErrorBudget": {
      "id": "ErrorBudget",
      "type": "object",
      "properties": {
        "allowedCount": {
          "description": "Optional. The maximum number of failed units allowed in a location without pausing the rollout.",
          "format": "int32",
          "type": "integer"
        },
        "allowedPercentage": {
          "description": "Optional. The maximum percentage of units allowed to fail (0, 100] within a location without pausing the rollout.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused."
    },
    "UnitCondition": {
      "id": "UnitCondition",
      "description": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "status": {
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "description": "Required. Status of the condition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Required. Last time the condition transited from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is updating.",
            "Condition type is provisioned.",
            "Condition type is operationError. True when the last unit operation fails with a non-ignorable error.",
            "Condition type is flagsConfigInitialized. True when the flags configuration is synchronized and ready to be served.",
            "Indicates if AppHub app has been created or if Apphub app has already existed.",
            "Indicates if services and workloads have been registered with AppHub."
          ],
          "description": "Required. Type of the condition.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_UPDATING",
            "TYPE_PROVISIONED",
            "TYPE_OPERATION_ERROR",
            "TYPE_FLAGS_CONFIG_INITIALIZED",
            "TYPE_APP_CREATED_OR_ALREADY_EXISTS",
            "TYPE_APP_COMPONENTS_REGISTERED"
          ]
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "Location information that the service is available in.",
      "properties": {
        "name": {
          "description": "Optional. Name of location.",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "Blueprint": {
      "properties": {
        "engine": {
          "description": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc.",
          "readOnly": true,
          "type": "string"
        },
        "package": {
          "type": "string",
          "description": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set)."
        },
        "version": {
          "description": "Output only. Version metadata if present on the blueprint.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Blueprint",
      "type": "object",
      "description": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev)."
    },
    "FlagNameList": {
      "description": "Wrapper for a list of flags.",
      "type": "object",
      "properties": {
        "flags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Flags to be rolled out."
        }
      },
      "id": "FlagNameList"
    },
    "UnitKind": {
      "type": "object",
      "id": "UnitKind",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "appParams": {
          "description": "Optional. AppParams contains the parameters for creating an AppHub Application.",
          "$ref": "AppParams"
        },
        "inputVariableMappings": {
          "items": {
            "$ref": "VariableMapping"
          },
          "type": "array",
          "description": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100."
        },
        "defaultFlagRevisions": {
          "description": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "defaultRelease": {
          "type": "string",
          "description": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
        },
        "applicationTemplateComponent": {
          "description": "Optional. Reference to component and revision in a composite ApplicationTemplate.",
          "$ref": "ComponentRef"
        },
        "outputVariableMappings": {
          "type": "array",
          "description": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100.",
          "items": {
            "$ref": "VariableMapping"
          }
        },
        "saas": {
          "type": "string",
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set."
        },
        "dependencies": {
          "items": {
            "$ref": "Dependency"
          },
          "description": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10.",
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "boundaryType": {
          "readOnly": true,
          "description": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents.",
          "enumDescriptions": [
            "Unspecified boundary type.",
            "Tenant project boundary.",
            "Managed project boundary."
          ],
          "enum": [
            "BOUNDARY_TYPE_UNSPECIFIED",
            "BOUNDARY_TYPE_TENANT_PROJECT",
            "BOUNDARY_TYPE_MANAGED_PROJECT"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\"",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together."
    },
    "ListSaasResponse": {
      "id": "ListSaasResponse",
      "description": "The response structure for the ListSaas method.",
      "properties": {
        "saas": {
          "description": "The resulting saas.",
          "type": "array",
          "items": {
            "$ref": "Saas"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListReleasesResponse": {
      "description": "The response structure for the ListReleases method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListReleases call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "releases": {
          "description": "The resulting releases.",
          "type": "array",
          "items": {
            "$ref": "Release"
          }
        }
      },
      "type": "object",
      "id": "ListReleasesResponse"
    },
    "RolloutControl": {
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ],
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ],
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state.",
          "type": "string"
        },
        "runParams": {
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed.",
          "$ref": "RunRolloutActionParams"
        }
      },
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it.",
      "id": "RolloutControl",
      "type": "object"
    },
    "AppParams": {
      "type": "object",
      "id": "AppParams",
      "properties": {
        "scope": {
          "$ref": "Scope",
          "description": "Optional. Corresponds to the scope in the ADC composite ApplicationTemplate. Defaults to TYPE_REGIONAL."
        },
        "group": {
          "type": "string",
          "description": "Optional. Grouping used to construct the name of the AppHub Application. Multiple UnitKinds can specify the same group to use the same Application across their respective units. Corresponds to the app_boundary_id in the ADC composite ApplicationTemplate. Defaults to UnitKind.name"
        }
      },
      "description": "AppParams contains the parameters for creating an AppHub Application."
    },
    "Rollout": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. The time when the rollout started executing. Will be empty if the rollout hasn't started yet.",
          "readOnly": true
        },
        "parentRollout": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
        },
        "stats": {
          "$ref": "RolloutStats",
          "readOnly": true,
          "description": "Optional. Output only. Details about the progress of the rollout."
        },
        "unitFilter": {
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout. If not provided, the unit_filter from the RolloutKind will be used.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "readOnly": true,
          "type": "string"
        },
        "control": {
          "description": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state.",
          "$ref": "RolloutControl"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "rolloutOrchestrationStrategy": {
          "description": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "release": {
          "description": "Optional. Immutable. Name of the Release that gets rolled out to target Units. Required if no other type of release is specified.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\""
        },
        "stateTransitionTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Optional. Output only. The time when the rollout transitioned into its current state."
        },
        "effectiveUnitFilter": {
          "description": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here.",
          "type": "string",
          "readOnly": true
        },
        "flagRelease": {
          "description": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted.",
          "type": "string"
        },
        "rolloutKind": {
          "description": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to.",
          "type": "string"
        },
        "rootRollout": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\""
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the rollout.",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "ROLLOUT_STATE_RUNNING",
            "ROLLOUT_STATE_PAUSED",
            "ROLLOUT_STATE_SUCCEEDED",
            "ROLLOUT_STATE_FAILED",
            "ROLLOUT_STATE_CANCELLED",
            "ROLLOUT_STATE_WAITING",
            "ROLLOUT_STATE_CANCELLING",
            "ROLLOUT_STATE_RESUMING",
            "ROLLOUT_STATE_PAUSING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Rollout is in progress.",
            "Rollout has been paused.",
            "Rollout completed successfully.",
            "Rollout has failed.",
            "Rollout has been canceled.",
            "Rollout is waiting for some condition to be met before starting.",
            "Rollout is being canceled.",
            "Rollout is being resumed.",
            "Rollout is being paused."
          ],
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable message indicating details about the last state transition."
        }
      },
      "type": "object",
      "description": "Represents a single rollout execution and its results",
      "id": "Rollout"
    },
    "EvaluationSpec": {
      "properties": {
        "allocations": {
          "type": "array",
          "description": "Optional. A list of allocations.",
          "items": {
            "$ref": "Allocation"
          }
        },
        "defaultTarget": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `base_target` instead. Default variant or allocation of the flag."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "EvaluationRule"
          },
          "description": "Optional. Evaluation rules define the logic for evaluating the flag against a given context. The rules are evaluated sequentially in their specified order."
        },
        "variants": {
          "deprecated": true,
          "description": "Optional. A list of variants.",
          "type": "array",
          "items": {
            "$ref": "Variant"
          }
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the context attributes that are used in the evaluation rules and allocations.",
          "type": "array"
        }
      },
      "id": "EvaluationSpec",
      "description": "EvaluationSpec holds rules for evaluating the value of a flag.",
      "type": "object"
    },
    "Deprovision": {
      "type": "object",
      "properties": {},
      "description": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "id": "Deprovision"
    },
    "MaintenanceSettings": {
      "type": "object",
      "description": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
      "properties": {
        "pinnedUntilTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place."
        }
      },
      "id": "MaintenanceSettings"
    },
    "RolloutStats": {
      "id": "RolloutStats",
      "description": "RolloutStats contains information about the progress of a rollout.",
      "type": "object",
      "properties": {
        "operationsByState": {
          "items": {
            "$ref": "Aggregate"
          },
          "description": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\"",
          "type": "array",
          "readOnly": true
        },
        "estimatedTotalUnitCount": {
          "description": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "UnitOperation": {
      "id": "UnitOperation",
      "properties": {
        "cancel": {
          "description": "Optional. When true, attempt to cancel the operation. Cancellation may fail if the operation is already executing. (Optional)",
          "type": "boolean"
        },
        "unit": {
          "description": "Required. Immutable. The Unit a given UnitOperation will act upon.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\"",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unit operation state is unknown.",
            "Unit operation is accepted but not ready to run.",
            "Unit operation is accepted and scheduled.",
            "Unit operation is running.",
            "Unit operation has completed successfully.",
            "Unit operation has failed.",
            "Unit operation was cancelled."
          ],
          "readOnly": true,
          "enum": [
            "UNIT_OPERATION_STATE_UNKNOWN",
            "UNIT_OPERATION_STATE_PENDING",
            "UNIT_OPERATION_STATE_SCHEDULED",
            "UNIT_OPERATION_STATE_RUNNING",
            "UNIT_OPERATION_STATE_SUCCEEDED",
            "UNIT_OPERATION_STATE_FAILED",
            "UNIT_OPERATION_STATE_CANCELLED"
          ],
          "type": "string",
          "description": "Optional. Output only. UnitOperationState describes the current state of the unit operation."
        },
        "rollout": {
          "type": "string",
          "description": "Optional. Specifies which rollout created this Unit Operation. This cannot be modified and is used for filtering purposes only. If a dependent unit and unit operation are created as part of another unit operation, they will use the same rolloutId."
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "deprovision": {
          "$ref": "Deprovision",
          "description": "Optional. Deprovision operation."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conditions": {
          "items": {
            "$ref": "UnitOperationCondition"
          },
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have.",
          "type": "array",
          "readOnly": true
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "Optional. When to schedule this operation."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "readOnly": true
        },
        "parentUnitOperation": {
          "description": "Optional. Reference to parent resource: UnitOperation. If an operation needs to create other operations as part of its workflow, each of the child operations should have this field set to the parent. This can be used for tracing. (Optional)",
          "type": "string"
        },
        "engineState": {
          "readOnly": true,
          "description": "Optional. Output only. The engine state for on-going deployment engine operation(s). This field is opaque for external usage.",
          "type": "string"
        },
        "flagUpdate": {
          "description": "Optional. Flag update operation.",
          "$ref": "FlagUpdate"
        },
        "provision": {
          "description": "Optional. Provision operation.",
          "$ref": "Provision"
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "format": "google-datetime",
          "readOnly": true
        },
        "errorCategory": {
          "description": "Optional. Output only. UnitOperationErrorCategory describe the error category.",
          "readOnly": true,
          "enumDescriptions": [
            "Unit operation error category is unspecified",
            "Unit operation error category is not applicable, or it is not an error",
            "Unit operation error category is fatal",
            "Unit operation error category is retriable",
            "Unit operation error category is ignorable",
            "Unit operation error category is standard, counts towards Rollout error budget"
          ],
          "type": "string",
          "enum": [
            "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED",
            "NOT_APPLICABLE",
            "FATAL",
            "RETRIABLE",
            "IGNORABLE",
            "STANDARD"
          ]
        },
        "upgrade": {
          "$ref": "Upgrade",
          "description": "Optional. Upgrade operation."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "UnitOperation encapsulates the intent of changing/interacting with the service component represented by the specific Unit. Multiple UnitOperations can be created (requested) and scheduled in the future, however only one will be allowed to execute at a time (that can change in the future for non-mutating operations). UnitOperations allow different actors interacting with the same unit to focus only on the change they have requested. This is a base object that contains the common fields in all unit operations. Next: 22"
    },
    "ListUnitGroupOperationsResponse": {
      "type": "object",
      "properties": {
        "unitGroupOperations": {
          "type": "array",
          "items": {
            "$ref": "UnitGroupOperation"
          },
          "description": "The resulting unit group operations."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroupOperations call to list the next page. If empty, there are no more pages."
        }
      },
      "id": "ListUnitGroupOperationsResponse",
      "description": "The response structure for the ListUnitGroupOperations method."
    },
    "ListFlagsResponse": {
      "description": "The response structure for the ListFlags method.",
      "type": "object",
      "id": "ListFlagsResponse",
      "properties": {
        "flags": {
          "items": {
            "$ref": "Flag"
          },
          "description": "The resulting flags.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlags call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      }
    },
    "CompositeRef": {
      "description": "CompositeRef represents a reference to a composite resource.",
      "properties": {
        "syncOperation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reference to on-going AppTemplate import and replication operation (i.e. the operation_id for the long-running operation). This field is opaque for external usage."
        },
        "applicationTemplate": {
          "description": "Required. Reference to the ApplicationTemplate resource.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Optional. Revision of the ApplicationTemplate to use. Changes to revision will trigger manual resynchronization. If empty, ApplicationTemplate will be ignored."
        }
      },
      "type": "object",
      "id": "CompositeRef"
    },
    "UnitVariable": {
      "id": "UnitVariable",
      "description": "UnitVariable describes a parameter for a Unit.",
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. Immutable. Name of the variable from actuation configs.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. String encoded value for the variable."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "STRUCT",
            "LIST"
          ],
          "enumDescriptions": [
            "Variable type is unspecified.",
            "Variable type is string.",
            "Variable type is int.",
            "Variable type is bool.",
            "Variable type is struct.",
            "Variable type is list."
          ],
          "type": "string",
          "description": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool."
        }
      }
    },
    "FlagVariant": {
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Optional. Double variant value."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Optional. Boolean variant value."
        },
        "id": {
          "description": "Required. Variant ID. Max length: 128 bytes.",
          "type": "string"
        },
        "trackingId": {
          "description": "Optional. trackingId is unique depending on name and value of the variant within the scope of the service. It is typically generated by the server and must not be changed. trackingId is used to uniquely identify and track variants.",
          "type": "string"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Integer variant value."
        },
        "description": {
          "description": "Optional. A human-readable description of what this variant does or represents.",
          "type": "string"
        },
        "stringValue": {
          "description": "Optional. String variant value.",
          "type": "string"
        }
      },
      "id": "FlagVariant",
      "type": "object",
      "description": "Variant is an identifier for a value (name assigned to a value)."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListFlagRevisionsResponse": {
      "description": "The response structure for the ListFlagRevisions method.",
      "id": "ListFlagRevisionsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "flagRevisions": {
          "description": "The resulting flag revisions.",
          "type": "array",
          "items": {
            "$ref": "FlagRevision"
          }
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlagRevisions call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListFlagReleasesResponse": {
      "properties": {
        "flagReleases": {
          "type": "array",
          "items": {
            "$ref": "FlagRelease"
          },
          "description": "The resulting flag releases."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagReleases call to list the next page. If empty, there are no more pages."
        }
      },
      "description": "The response structure for the ListFlagReleases method.",
      "id": "ListFlagReleasesResponse",
      "type": "object"
    },
    "Decimal": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "id": "Decimal"
    },
    "ComponentRef": {
      "type": "object",
      "description": "ComponentRef represents a reference to a component resource.",
      "id": "ComponentRef",
      "properties": {
        "revision": {
          "description": "Optional. Revision of the component. If the component does not have a revision, this field will be explicitly set to the revision of the composite ApplicationTemplate.",
          "type": "string"
        },
        "component": {
          "description": "Optional. Name of the component in composite.Components",
          "type": "string"
        },
        "compositeRef": {
          "$ref": "CompositeRef",
          "description": "Reference to the Composite ApplicationTemplate."
        }
      }
    },
    "Scope": {
      "type": "object",
      "id": "Scope",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ],
          "description": "Required. Scope Type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REGIONAL",
            "TYPE_GLOBAL"
          ],
          "type": "string"
        }
      },
      "description": "Scope of an application."
    },
    "ListFlagAttributesResponse": {
      "id": "ListFlagAttributesResponse",
      "type": "object",
      "properties": {
        "flagAttributes": {
          "description": "The resulting flag attributes.",
          "items": {
            "$ref": "FlagAttribute"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagAttributes call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "The response structure for the ListFlagAttributes method."
    },
    "UnitOperationCondition": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "description": "Required. Status of the condition."
        },
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "type": {
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is scheduled.",
            "Condition type is running.",
            "Condition type is succeeded.",
            "Condition type is cancelled.",
            "Indicates if AppHub app has been created.",
            "Indicates if services and workloads have been registered with AppHub.",
            "Indicates if the UnitOperation's core workload execution completed successfully. The workload is the core execution operation performed for a UnitOperation (e.g., provisioning, updating, or deprovisioning resources) excluding post-operation checks."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_SCHEDULED",
            "TYPE_RUNNING",
            "TYPE_SUCCEEDED",
            "TYPE_CANCELLED",
            "TYPE_APP_CREATED",
            "TYPE_APP_COMPONENTS_REGISTERED",
            "TYPE_WORKLOAD_SUCCEEDED"
          ],
          "description": "Required. Type of the condition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Required. Last time the condition transited from one status to another.",
          "format": "google-datetime"
        }
      },
      "id": "UnitOperationCondition",
      "type": "object",
      "description": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state."
    },
    "FromMapping": {
      "id": "FromMapping",
      "type": "object",
      "description": "Output variables whose values will be passed on to dependencies",
      "properties": {
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to"
        },
        "outputVariable": {
          "description": "Required. Name of the outputVariable on the dependency",
          "type": "string"
        }
      }
    },
    "SaasCondition": {
      "description": "SaasCondition describes the status of a Saas.",
      "type": "object",
      "id": "SaasCondition",
      "properties": {
        "lastTransitionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Last time the condition transited from one status to another."
        },
        "type": {
          "description": "Required. Type of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is synchronized."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_SYNCHRONIZED"
          ]
        },
        "message": {
          "description": "Required. Human readable message indicating details about the last transition.",
          "type": "string"
        },
        "status": {
          "description": "Required. Status of the condition.",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ]
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        }
      }
    },
    "SaasRelease": {
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saasReleases/{saasRelease}\"",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        }
      },
      "id": "SaasRelease",
      "description": "SaasRelease is a collection of Releases that are assigned to a UnitGroup. It allows provisioning and updates of UnitGroup, which contains multiple Units of different UnitKinds.",
      "type": "object"
    },
    "RolloutKind": {
      "description": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies.",
      "id": "RolloutKind",
      "properties": {
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "rolloutOrchestrationStrategy": {
          "description": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object"
        },
        "unitKind": {
          "description": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts.",
          "type": "string"
        },
        "errorBudget": {
          "description": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered.",
          "$ref": "ErrorBudget"
        },
        "unitFilter": {
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\""
        },
        "unitUpdatePacing": {
          "description": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region.",
          "$ref": "UnitUpdatePacing"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateUnitKindStrategy": {
          "type": "string",
          "description": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start.",
          "enum": [
            "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED",
            "UPDATE_UNIT_KIND_STRATEGY_ON_START",
            "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          ],
          "enumDescriptions": [
            "Strategy unspecified.",
            "Update the unit kind strategy on the rollout start.",
            "Never update the unit kind."
          ]
        }
      },
      "type": "object"
    },
    "FlagRevision": {
      "id": "FlagRevision",
      "type": "object",
      "description": "A snapshot of the EvaluationSpec for the Flag.",
      "properties": {
        "evaluationSpec": {
          "$ref": "EvaluationSpec",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Immutable. Snapshot of the EvaluationSpec for the flag. DEPRECATED: Use snapshot instead."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "flag": {
          "type": "string",
          "description": "Required. Immutable. Name of the Flag this is a revision of."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "snapshot": {
          "readOnly": true,
          "description": "Output only. Immutable. Snapshot of the Flag.",
          "$ref": "Flag"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagRevisions/{flag_revision_id}\""
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        }
      }
    },
    "FlagAttribute": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagAttributes/{flag_attribute_id}\"",
          "type": "string"
        },
        "attributeValueType": {
          "type": "string",
          "description": "Optional. Immutable. Type of the attribute.",
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "FLAG_ATTRIBUTE_VALUE_TYPE_BOOLEAN",
            "FLAG_ATTRIBUTE_VALUE_TYPE_INTEGER",
            "FLAG_ATTRIBUTE_VALUE_TYPE_STRING",
            "FLAG_ATTRIBUTE_VALUE_TYPE_DOUBLE"
          ]
        },
        "valueType": {
          "deprecated": true,
          "type": "string",
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "INTEGER",
            "STRING",
            "DOUBLE"
          ],
          "description": "Optional. Immutable. Deprecated: Use `attribute_value_type` instead. Type of the attribute.",
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ]
        },
        "key": {
          "description": "Required. Immutable. The identifier for the attribute, used as the key in the evaluation context. The attribute key is referenced in the evaluation rules and used in the OpenFeature evaluation API to specify the attribute context.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "FlagAttribute defines a custom property in the evaluation context.",
      "type": "object",
      "id": "FlagAttribute"
    },
    "UnitGroupOperation": {
      "description": "UnitGroupOperation represents an operation on a UnitGroup.",
      "properties": {
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitGroupOperations/{unitGroupOperation}\"",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        }
      },
      "type": "object",
      "id": "UnitGroupOperation"
    },
    "ListUnitsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages."
        },
        "units": {
          "items": {
            "$ref": "Unit"
          },
          "description": "The resulting units.",
          "type": "array"
        }
      },
      "description": "The response structure for the ListUnits method.",
      "id": "ListUnitsResponse",
      "type": "object"
    },
    "RunRolloutActionParams": {
      "type": "object",
      "id": "RunRolloutActionParams",
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state.",
      "properties": {
        "retryFailedOperations": {
          "type": "boolean",
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN."
        }
      }
    },
    "UnitUpdatePacing": {
      "id": "UnitUpdatePacing",
      "description": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region.",
      "type": "object",
      "properties": {
        "maxConcurrentOperationsCount": {
          "format": "int32",
          "description": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive).",
          "type": "integer"
        },
        "maxConcurrentOperationsPercent": {
          "$ref": "Decimal",
          "description": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        }
      }
    },
    "Tenant": {
      "type": "object",
      "id": "Tenant",
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\"",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "consumerResource": {
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API).",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\""
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A time specification to schedule the maintenance."
    },
    "ListUnitGroupsResponse": {
      "type": "object",
      "description": "The response structure for the ListUnitGroups method.",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroups call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unitGroups": {
          "description": "The resulting unit groups.",
          "type": "array",
          "items": {
            "$ref": "UnitGroup"
          }
        }
      },
      "id": "ListUnitGroupsResponse"
    },
    "AllocationSlot": {
      "id": "AllocationSlot",
      "type": "object",
      "description": "AllocationSlot specifies a variant and the proportion of traffic allocated to it.",
      "properties": {
        "variant": {
          "type": "string",
          "description": "Required. Variant of the allocation slot."
        },
        "weight": {
          "description": "Required. Weight defines the proportion of traffic to allocate to the variant, relative to other slots in the same allocation.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ToMapping": {
      "description": "Input variables whose values will be passed on to dependencies",
      "type": "object",
      "properties": {
        "dependency": {
          "description": "Required. Alias of the dependency that the inputVariable will pass its value to",
          "type": "string"
        },
        "inputVariable": {
          "description": "Required. Name of the inputVariable on the dependency",
          "type": "string"
        },
        "ignoreForLookup": {
          "type": "boolean",
          "description": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not"
        }
      },
      "id": "ToMapping"
    },
    "Provision": {
      "properties": {
        "inputVariables": {
          "type": "array",
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "release": {
          "type": "string",
          "description": "Optional. Reference to the Release object to use for the Unit. (optional)."
        }
      },
      "id": "Provision",
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned.",
      "type": "object"
    },
    "FlagUpdate": {
      "properties": {
        "flagRelease": {
          "description": "Required. Flag release being applied by UnitOperation.",
          "type": "string"
        }
      },
      "id": "FlagUpdate",
      "type": "object",
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units."
    },
    "ListSaasReleasesResponse": {
      "id": "ListSaasReleasesResponse",
      "type": "object",
      "description": "The response structure for the ListSaasReleases method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListSaasReleases call to list the next page. If empty, there are no more pages."
        },
        "saasReleases": {
          "type": "array",
          "items": {
            "$ref": "SaasRelease"
          },
          "description": "The resulting saas releases."
        }
      }
    },
    "FlagSetList": {
      "id": "FlagSetList",
      "properties": {
        "sets": {
          "description": "Required. Flag sets to be rolled out.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Wrapper for a list of flag sets.",
      "type": "object"
    },
    "UnitGroup": {
      "description": "UnitGroup represents a set of Units to be used by a Tenant. In pooling scenarios, the UnitGroup may be created and provisioned before the Tenant is created.",
      "type": "object",
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitGroups/{unitGroup}\""
        }
      },
      "id": "UnitGroup"
    },
    "Unit": {
      "id": "Unit",
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant.",
      "type": "object",
      "properties": {
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "scheduledOperations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit."
        },
        "outputVariables": {
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          },
          "readOnly": true,
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution."
        },
        "release": {
          "readOnly": true,
          "description": "Optional. Output only. The current Release object for this Unit.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "flagConfigName": {
          "description": "Output only. This field stores the unique identifier for the flag configuration to be used by this Unit.",
          "type": "string",
          "readOnly": true
        },
        "systemCleanupAt": {
          "type": "string",
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ],
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime",
          "type": "string"
        },
        "inputVariables": {
          "type": "array",
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit",
          "readOnly": true,
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "unitGroup": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Reference to the UnitGroup this unit belongs to."
        },
        "dependencies": {
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UnitDependency"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "unitKind": {
          "type": "string",
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set."
        },
        "dependents": {
          "items": {
            "$ref": "UnitDependency"
          },
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000.",
          "readOnly": true,
          "type": "array"
        },
[...]
