{
  "revision": "20260908",
  "kind": "discovery#restDescription",
  "canonicalName": "SaaS Service Management",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/saas-runtime/docs",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://saasservicemgmt.mtls.googleapis.com/",
  "id": "saasservicemgmt:v1beta1",
  "protocol": "rest",
  "batchPath": "batch",
  "servicePath": "",
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "baseUrl": "https://saasservicemgmt.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "App Lifecycle Manager API",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/saasservicemgmt.readonly": {
          "description": "See your Google Cloud App Lifecycle Management data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/saasservicemgmt.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud App Lifecycle Management data and see the email address for your Google Account"
        }
      }
    }
  },
  "schemas": {
    "Tenant": {
      "type": "object",
      "description": "Tenant represents the service producer side of an instance of the service created based on a request from a consumer. In a typical scenario a Tenant has a one-to-one mapping with a resource given out to a service consumer. Example: tenant: name: \"projects/svc1/locations/loc/tenants/inst-068afff8\" consumer_resource: \"projects/gshoe/locations/loc/shoes/black-shoe\"",
      "id": "Tenant",
      "properties": {
        "consumerResource": {
          "description": "Optional. Immutable. A reference to the consumer resource this SaaS Tenant is representing. The relationship with a consumer resource can be used by App Lifecycle Manager for retrieving consumer-defined settings and policies such as maintenance policies (using Unified Maintenance Policy API).",
          "type": "string"
        },
        "saas": {
          "description": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\""
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        }
      }
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "id": "Decimal"
    },
    "CompositeRef": {
      "description": "CompositeRef represents a reference to a composite resource.",
      "id": "CompositeRef",
      "properties": {
        "syncOperation": {
          "description": "Output only. Reference to on-going AppTemplate import and replication operation (i.e. the operation_id for the long-running operation). This field is opaque for external usage.",
          "readOnly": true,
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "Optional. Revision of the ApplicationTemplate to use. Changes to revision will trigger manual resynchronization. If empty, ApplicationTemplate will be ignored."
        },
        "applicationTemplate": {
          "description": "Required. Reference to the ApplicationTemplate resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnitVariable": {
      "id": "UnitVariable",
      "description": "UnitVariable describes a parameter for a Unit.",
      "properties": {
        "variable": {
          "description": "Required. Immutable. Name of the variable from actuation configs.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Variable type is unspecified.",
            "Variable type is string.",
            "Variable type is int.",
            "Variable type is bool.",
            "Variable type is struct.",
            "Variable type is list."
          ],
          "type": "string",
          "description": "Optional. Immutable. Name of a supported variable type. Supported types are string, int, bool.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INT",
            "BOOL",
            "STRUCT",
            "LIST"
          ]
        },
        "value": {
          "type": "string",
          "description": "Optional. String encoded value for the variable."
        }
      },
      "type": "object"
    },
    "EvaluationRule": {
      "properties": {
        "variantId": {
          "description": "Optional. The name of a variant to target.",
          "type": "string"
        },
        "target": {
          "description": "Optional. Deprecated: Use `rule_target` instead. The target variant or allocation to apply if the condition is met. This should match the name of a defined variant or allocation's ID.",
          "type": "string",
          "deprecated": true
        },
        "allocationId": {
          "description": "Optional. The ID of an allocation to target.",
          "type": "string"
        },
        "id": {
          "description": "Required. Evaluation rule ID. Max length: 128 bytes.",
          "type": "string"
        },
        "condition": {
          "description": "Required. A Common Expression Language (CEL) expression that evaluates to a boolean. The expression is evaluated against the provided context. If it returns true, the rule's target is applied.",
          "type": "string"
        }
      },
      "description": "EvaluationRule defines a single rule for evaluating a feature flag. A rule consists of a condition that, if met, assigns a specific variant or allocation to the user.",
      "type": "object",
      "id": "EvaluationRule"
    },
    "ListUnitGroupsResponse": {
      "id": "ListUnitGroupsResponse",
      "type": "object",
      "properties": {
        "unitGroups": {
          "type": "array",
          "items": {
            "$ref": "UnitGroup"
          },
          "description": "The resulting unit groups."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroups call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "The response structure for the ListUnitGroups method."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FlagSetList": {
      "properties": {
        "sets": {
          "type": "array",
          "description": "Required. Flag sets to be rolled out.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Wrapper for a list of flag sets.",
      "id": "FlagSetList",
      "type": "object"
    },
    "AllocationSlot": {
      "id": "AllocationSlot",
      "properties": {
        "variant": {
          "description": "Required. Variant of the allocation slot.",
          "type": "string"
        },
        "weight": {
          "description": "Required. Weight defines the proportion of traffic to allocate to the variant, relative to other slots in the same allocation.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "AllocationSlot specifies a variant and the proportion of traffic allocated to it.",
      "type": "object"
    },
    "ComponentRef": {
      "type": "object",
      "id": "ComponentRef",
      "properties": {
        "revision": {
          "description": "Optional. Revision of the component. If the component does not have a revision, this field will be explicitly set to the revision of the composite ApplicationTemplate.",
          "type": "string"
        },
        "compositeRef": {
          "$ref": "CompositeRef",
          "description": "Reference to the Composite ApplicationTemplate."
        },
        "component": {
          "type": "string",
          "description": "Optional. Name of the component in composite.Components"
        }
      },
      "description": "ComponentRef represents a reference to a component resource."
    },
    "UnitOperationCondition": {
      "type": "object",
      "description": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state.",
      "id": "UnitOperationCondition",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "description": "Required. Status of the condition.",
          "type": "string"
        },
        "message": {
          "description": "Required. Human readable message indicating details about the last transition.",
          "type": "string"
        },
        "reason": {
          "description": "Required. Brief reason for the condition's last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Last time the condition transited from one status to another."
        },
        "type": {
          "description": "Required. Type of the condition.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_SCHEDULED",
            "TYPE_RUNNING",
            "TYPE_SUCCEEDED",
            "TYPE_CANCELLED",
            "TYPE_APP_CREATED",
            "TYPE_APP_COMPONENTS_REGISTERED",
            "TYPE_WORKLOAD_SUCCEEDED"
          ],
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is scheduled.",
            "Condition type is running.",
            "Condition type is succeeded.",
            "Condition type is cancelled.",
            "Indicates if AppHub app has been created.",
            "Indicates if services and workloads have been registered with AppHub.",
            "Indicates if the UnitOperation's core workload execution completed successfully. The workload is the core execution operation performed for a UnitOperation (e.g., provisioning, updating, or deprovisioning resources) excluding post-operation checks."
          ],
          "type": "string"
        }
      }
    },
    "SaasCondition": {
      "properties": {
        "message": {
          "description": "Required. Human readable message indicating details about the last transition.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_SYNCHRONIZED"
          ],
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is synchronized."
          ],
          "description": "Required. Type of the condition."
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Last time the condition transited from one status to another."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "type": "string",
          "description": "Required. Status of the condition.",
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ]
        }
      },
      "id": "SaasCondition",
      "description": "SaasCondition describes the status of a Saas.",
      "type": "object"
    },
    "Scope": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REGIONAL",
            "TYPE_GLOBAL"
          ],
          "description": "Required. Scope Type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ],
          "type": "string"
        }
      },
      "id": "Scope",
      "description": "Scope of an application.",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "description": "The response structure for the ListRollouts method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "type": "array",
          "description": "The resulting rollouts."
        }
      }
    },
    "ListTenantsResponse": {
      "description": "The response structure for the ListTenants method.",
      "type": "object",
      "id": "ListTenantsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages."
        },
        "tenants": {
          "description": "The resulting tenants.",
          "items": {
            "$ref": "Tenant"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "FlagAttribute": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime"
        },
        "valueType": {
          "description": "Optional. Immutable. Deprecated: Use `attribute_value_type` instead. Type of the attribute.",
          "deprecated": true,
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "INTEGER",
            "STRING",
            "DOUBLE"
          ],
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "key": {
          "description": "Required. Immutable. The identifier for the attribute, used as the key in the evaluation context. The attribute key is referenced in the evaluation rules and used in the OpenFeature evaluation API to specify the attribute context.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "attributeValueType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified flag attribute value type.",
            "Boolean flag attribute value type.",
            "Integer flag attribute value type.",
            "String flag attribute value type.",
            "Double flag attribute value type."
          ],
          "description": "Optional. Immutable. Type of the attribute.",
          "enum": [
            "FLAG_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED",
            "FLAG_ATTRIBUTE_VALUE_TYPE_BOOLEAN",
            "FLAG_ATTRIBUTE_VALUE_TYPE_INTEGER",
            "FLAG_ATTRIBUTE_VALUE_TYPE_STRING",
            "FLAG_ATTRIBUTE_VALUE_TYPE_DOUBLE"
          ]
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagAttributes/{flag_attribute_id}\""
        }
      },
      "description": "FlagAttribute defines a custom property in the evaluation context.",
      "id": "FlagAttribute"
    },
    "Rollout": {
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "control": {
          "$ref": "RolloutControl",
          "description": "Optional. Requested change to the execution of this rollout. Default RolloutControl.action is ROLLOUT_ACTION_RUN meaning the rollout will be executed to completion while progressing through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). Requests can only be made when the Rollout is in a non-terminal state."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Rollout is in progress.",
            "Rollout has been paused.",
            "Rollout completed successfully.",
            "Rollout has failed.",
            "Rollout has been canceled.",
            "Rollout is waiting for some condition to be met before starting.",
            "Rollout is being canceled.",
            "Rollout is being resumed.",
            "Rollout is being paused."
          ],
          "description": "Output only. Current state of the rollout.",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "ROLLOUT_STATE_RUNNING",
            "ROLLOUT_STATE_PAUSED",
            "ROLLOUT_STATE_SUCCEEDED",
            "ROLLOUT_STATE_FAILED",
            "ROLLOUT_STATE_CANCELLED",
            "ROLLOUT_STATE_WAITING",
            "ROLLOUT_STATE_CANCELLING",
            "ROLLOUT_STATE_RESUMING",
            "ROLLOUT_STATE_PAUSING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Output only. The time when the rollout started executing. Will be empty if the rollout hasn't started yet.",
          "type": "string",
          "readOnly": true
        },
        "release": {
          "description": "Optional. Immutable. Name of the Release that gets rolled out to target Units. Required if no other type of release is specified.",
          "type": "string"
        },
        "unitFilter": {
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout. If not provided, the unit_filter from the RolloutKind will be used.",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation).",
          "readOnly": true
        },
        "rolloutOrchestrationStrategy": {
          "type": "string",
          "description": "Optional. The strategy used for executing this Rollout. This strategy will override whatever strategy is specified in the RolloutKind. If not specified on creation, the strategy from RolloutKind will be used. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the targeted UnitKind's Saas Locations."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\""
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. Human readable message indicating details about the last state transition.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "rootRollout": {
          "type": "string",
          "description": "Optional. Output only. The root rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "stateTransitionTime": {
          "description": "Optional. Output only. The time when the rollout transitioned into its current state.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "effectiveUnitFilter": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Output only snapshot of the effective unit filter at Rollout start time. Contains a CEL(https://github.com/google/cel-spec) expression consisting of a conjunction of Rollout.unit_filter and RolloutKind.unit_filter. This field captures the filter applied by the Rollout to determine the Unit population. If the associated RolloutKind's unit_filter is modified after the rollout is started, it will not be updated here."
        },
        "flagRelease": {
          "description": "Optional. Immutable. Name of the FlagRelease to be rolled out to the target Units. Release and FlagRelease are mutually exclusive. Note: `release` comment needs to be adjusted to mention that \"Release and FlagRelease are mutually exclusive\" when visibility restriction will be lifted.",
          "type": "string"
        },
        "rolloutKind": {
          "description": "Required. Immutable. Name of the RolloutKind this rollout is stemming from and adhering to.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "stats": {
          "description": "Optional. Output only. Details about the progress of the rollout.",
          "readOnly": true,
          "$ref": "RolloutStats"
        },
        "parentRollout": {
          "type": "string",
          "description": "Optional. Output only. The direct parent rollout that this rollout is stemming from. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollouts/{rollout_id}\"",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Output only. The time when the rollout finished execution (regardless of success, failure, or cancellation). Will be empty if the rollout hasn't finished yet. Once set, the rollout is in terminal state and all the results are final.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents a single rollout execution and its results",
      "id": "Rollout",
      "type": "object"
    },
    "ListFlagRevisionsResponse": {
      "id": "ListFlagRevisionsResponse",
      "type": "object",
      "description": "The response structure for the ListFlagRevisions method.",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlagRevisions call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "flagRevisions": {
          "type": "array",
          "description": "The resulting flag revisions.",
          "items": {
            "$ref": "FlagRevision"
          }
        }
      }
    },
    "FlagRelease": {
      "description": "A collection of FlagRevisions.",
      "type": "object",
      "id": "FlagRelease",
      "properties": {
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "flagNamesRelease": {
          "description": "Optional. Immutable. Specifies the release consisting of a list of flags.",
          "$ref": "FlagNameList"
        },
        "flagSets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "deprecated": true,
          "description": "Optional. Immutable. DEPRECATED: Use flag_sets_release instead. Flag sets to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set."
        },
        "effectiveFlagRevisions": {
          "description": "Output only. An OUTPUT_ONLY field that contains FlagRevisions to be rolled out. This is the ultimate source of truth of what a Rollout or a UnitOperation carries.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "allFlags": {
          "description": "Optional. Immutable. DEPRECATED: Use all_flags_release instead. Rollout all flags in the provided UnitKind. Only one of flag_revisions, all_flags, or flag_sets can be set.",
          "deprecated": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagReleases/{flag_release_id}\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true
        },
        "flagSetsRelease": {
          "$ref": "FlagSetList",
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag sets."
        },
        "flagRevisions": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. DEPRECATED: Use flag_revisions_release instead. FlagRevisions to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set. It used to be the ultimate source to truth and has been moved to effective_flag_revisions."
        },
        "unitKind": {
          "description": "Required. Immutable. The UnitKind this FlagRelease applies to.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "allFlagsRelease": {
          "description": "Optional. Immutable. Specifies the release includes all flags.",
          "type": "boolean"
        },
        "flagRevisionsRelease": {
          "$ref": "FlagRevisionList",
          "description": "Optional. Immutable. Specifies the release consisting of a list of flag revisions."
        },
        "obsoleteFlags": {
          "description": "Optional. Immutable. Deprecated: Use the 'state' field in the 'Flag' resource to manage the cleanup of flag lifecycles including removal from UnitKind and Units. Flags to be removed from given UnitKind and all related Units. If Flag is provided here, its FlagRevisions will be removed from UnitKind and Units.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RolloutStats": {
      "type": "object",
      "properties": {
        "estimatedTotalUnitCount": {
          "readOnly": true,
          "description": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout.",
          "format": "int64",
          "type": "string"
        },
        "operationsByState": {
          "type": "array",
          "items": {
            "$ref": "Aggregate"
          },
          "description": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\"",
          "readOnly": true
        }
      },
      "id": "RolloutStats",
      "description": "RolloutStats contains information about the progress of a rollout."
    },
    "RunRolloutActionParams": {
      "properties": {
        "retryFailedOperations": {
          "type": "boolean",
          "description": "Required. If true, the rollout will retry failed operations when resumed. This is applicable only the current state of the Rollout is PAUSED and the requested action is RUN."
        }
      },
      "type": "object",
      "description": "Parameters for the RUN action controlling the behavior of the rollout when it is resumed from a PAUSED state.",
      "id": "RunRolloutActionParams"
    },
    "UnitUpdatePacing": {
      "type": "object",
      "description": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region.",
      "id": "UnitUpdatePacing",
      "properties": {
        "maxConcurrentOperationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        },
        "maxConcurrentOperationsPercent": {
          "$ref": "Decimal",
          "description": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
        }
      }
    },
    "ListSaasReleasesResponse": {
      "id": "ListSaasReleasesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "saasReleases": {
          "items": {
            "$ref": "SaasRelease"
          },
          "description": "The resulting saas releases.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListSaasReleases call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "description": "The response structure for the ListSaasReleases method."
    },
    "FromMapping": {
      "id": "FromMapping",
      "type": "object",
      "properties": {
        "dependency": {
          "type": "string",
          "description": "Required. Alias of the dependency that the outputVariable will pass its value to"
        },
        "outputVariable": {
          "description": "Required. Name of the outputVariable on the dependency",
          "type": "string"
        }
      },
      "description": "Output variables whose values will be passed on to dependencies"
    },
    "Dependency": {
      "id": "Dependency",
      "description": "Dependency represent a single dependency with another unit kind by alias.",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Required. An alias for the dependency. Used for input variable mapping."
        },
        "unitKind": {
          "description": "Required. Immutable. The unit kind of the dependency.",
          "type": "string"
        }
      }
    },
    "Unit": {
      "type": "object",
      "properties": {
        "unitKind": {
          "type": "string",
          "description": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set."
        },
        "maintenance": {
          "$ref": "MaintenanceSettings",
          "description": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future."
        },
        "flagRevisions": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. Flag revisions used by this Unit.",
          "items": {
            "type": "string"
          }
        },
        "inputVariables": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. Indicates the current input variables deployed by the unit",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "etag": {
          "type": "string",
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "application": {
          "description": "Optional. Reference to the AppHub Application this unit belongs to. All resources deployed in this Unit will be associated with the specified Application.",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)"
        },
        "flagConfigName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field stores the unique identifier for the flag configuration to be used by this Unit."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "systemManagedState": {
          "enum": [
            "SYSTEM_MANAGED_STATE_UNSPECIFIED",
            "SYSTEM_MANAGED_STATE_ACTIVE",
            "SYSTEM_MANAGED_STATE_INACTIVE",
            "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          ],
          "description": "Optional. Output only. Indicates the system managed state of the unit.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified system managed state.",
            "Unit has dependents attached.",
            "Unit has no dependencies attached, but attachment is allowed.",
            "Unit has no dependencies attached, and attachment is not allowed."
          ],
          "readOnly": true
        },
        "conditions": {
          "items": {
            "$ref": "UnitCondition"
          },
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
        },
        "systemCleanupAt": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Optional. Output only. If set, indicates the time when the system will start removing the unit.",
          "type": "string"
        },
        "managementMode": {
          "type": "string",
          "description": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created.",
          "enumDescriptions": [
            "Unspecified management mode.",
            "Unit's lifecycle is managed by the user.",
            "The system will decide when to deprovision and delete the unit. User still can deprovision or delete the unit manually."
          ],
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "MANAGEMENT_MODE_USER",
            "MANAGEMENT_MODE_SYSTEM"
          ]
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\"",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "dependents": {
          "readOnly": true,
          "type": "array",
          "description": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000.",
          "items": {
            "$ref": "UnitDependency"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "outputVariables": {
          "items": {
            "$ref": "UnitVariable"
          },
          "description": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution.",
          "type": "array",
          "readOnly": true
        },
        "dependencies": {
          "description": "Optional. Output only. Set of dependencies for this unit. Maximum 10.",
          "readOnly": true,
          "items": {
            "$ref": "UnitDependency"
          },
          "type": "array"
        },
        "scheduledOperations": {
          "readOnly": true,
          "description": "Optional. Output only. List of scheduled UnitOperations for this unit.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "release": {
          "description": "Optional. Output only. The current Release object for this Unit.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Unit is not provisioned.",
            "Unit is being provisioned.",
            "Unit is being updated. This is typically when a unit is being upgraded to a new release or some of the input variables on the Unit is being changed. Certain kinds of updates may cause the Unit to become unusable while the update is in progress.",
            "Unit is being deleted.",
            "Unit has been provisioned and is ready for use",
            "Unit has error, when it is not ready and some error operation"
          ],
          "enum": [
            "UNIT_STATE_UNSPECIFIED",
            "UNIT_STATE_NOT_PROVISIONED",
            "UNIT_STATE_PROVISIONING",
            "UNIT_STATE_UPDATING",
            "UNIT_STATE_DEPROVISIONING",
            "UNIT_STATE_READY",
            "UNIT_STATE_ERROR"
          ],
          "description": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use).",
          "readOnly": true,
          "type": "string"
        },
        "ongoingOperations": {
          "readOnly": true,
          "description": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pendingOperations": {
          "description": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "unitGroup": {
          "description": "Optional. Output only. Reference to the UnitGroup this unit belongs to.",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default."
        }
      },
      "description": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant.",
      "id": "Unit"
    },
    "Saas": {
      "id": "Saas",
      "type": "object",
      "description": "Saas is a representation of a SaaS service managed by the Producer.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "State type is unspecified. Deprecated: Use STATE_UNSPECIFIED instead.",
            "The Saas is ready",
            "In the process of importing, synchronizing or replicating ApplicationTemplates",
            "Failure during process of importing, synchronizing or replicating ApplicationTemplate processing"
          ],
          "description": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TYPE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_RUNNING",
            "STATE_FAILED"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "blueprintRepo": {
          "type": "string",
          "description": "Output only. Name of repository in Artifact Registry for system-generated Blueprints, eg. Blueprints of imported ApplicationTemplates.",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states.",
          "$ref": "Status"
        },
        "locations": {
          "description": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "applicationTemplate": {
          "description": "Reference to composite ApplicationTemplate. When specified, the template components will be imported into their equivalent UnitKind, Release and Blueprint resources. Deleted references will not delete imported resources. Should only be specified on source regions, and be unspecified on replica regions.",
          "$ref": "CompositeRef"
        },
        "conditions": {
          "items": {
            "$ref": "SaasCondition"
          },
          "type": "array",
          "description": "Output only. A set of conditions which indicate the various conditions this resource can have.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListUnitsResponse": {
      "type": "object",
      "description": "The response structure for the ListUnits method.",
      "id": "ListUnitsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages."
        },
        "units": {
          "description": "The resulting units.",
          "items": {
            "$ref": "Unit"
          },
          "type": "array"
        }
      }
    },
    "ListReleasesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListReleases call to list the next page. If empty, there are no more pages."
        },
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "description": "The resulting releases.",
          "type": "array"
        }
      },
      "description": "The response structure for the ListReleases method.",
      "type": "object",
      "id": "ListReleasesResponse"
    },
    "SaasRelease": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saasReleases/{saasRelease}\""
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true
        }
      },
      "id": "SaasRelease",
      "description": "SaasRelease is a collection of Releases that are assigned to a UnitGroup. It allows provisioning and updates of UnitGroup, which contains multiple Units of different UnitKinds."
    },
    "RolloutKind": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "unitFilter": {
          "type": "string",
          "description": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout."
        },
        "updateUnitKindStrategy": {
          "description": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start.",
          "type": "string",
          "enumDescriptions": [
            "Strategy unspecified.",
            "Update the unit kind strategy on the rollout start.",
            "Never update the unit kind."
          ],
          "enum": [
            "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED",
            "UPDATE_UNIT_KIND_STRATEGY_ON_START",
            "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          ]
        },
        "unitKind": {
          "description": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts.",
          "type": "string"
        },
        "rolloutOrchestrationStrategy": {
          "type": "string",
          "description": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations."
        },
        "unitUpdatePacing": {
          "description": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region.",
          "$ref": "UnitUpdatePacing"
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "errorBudget": {
          "$ref": "ErrorBudget",
          "description": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered."
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\"",
          "type": "string"
        }
      },
      "id": "RolloutKind",
      "description": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies."
    },
    "Upgrade": {
      "description": "Upgrade is the unit operation that upgrades a provisioned unit, which may also include the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "properties": {
        "release": {
          "description": "Optional. Reference to the Release object to use for the Unit. (optional).",
          "type": "string"
        },
        "inputVariables": {
          "type": "array",
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "items": {
            "$ref": "UnitVariable"
          }
        }
      },
      "id": "Upgrade",
      "type": "object"
    },
    "FlagNameList": {
      "type": "object",
      "id": "FlagNameList",
      "description": "Wrapper for a list of flags.",
      "properties": {
        "flags": {
          "type": "array",
          "description": "Required. Flags to be rolled out.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FlagUpdate": {
      "type": "object",
      "id": "FlagUpdate",
      "properties": {
        "flagRelease": {
          "description": "Required. Flag release being applied by UnitOperation.",
          "type": "string"
        }
      },
      "description": "FlagUpdate is a UnitOperation that pushes new flag values to Units."
    },
    "Provision": {
      "id": "Provision",
      "properties": {
        "inputVariables": {
          "description": "Optional. Set of input variables. Maximum 100. (optional)",
          "type": "array",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "release": {
          "description": "Optional. Reference to the Release object to use for the Unit. (optional).",
          "type": "string"
        }
      },
      "description": "Provision is the unit operation that provision the underlying resources represented by a Unit. Can only execute if the Unit is not currently provisioned.",
      "type": "object"
    },
    "UnitGroup": {
      "type": "object",
      "id": "UnitGroup",
      "properties": {
        "etag": {
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitGroups/{unitGroup}\""
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations",
          "type": "object"
        }
      },
      "description": "UnitGroup represents a set of Units to be used by a Tenant. In pooling scenarios, the UnitGroup may be created and provisioned before the Tenant is created."
    },
    "MaintenanceSettings": {
      "id": "MaintenanceSettings",
      "description": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future.",
      "type": "object",
      "properties": {
        "pinnedUntilTime": {
          "type": "string",
          "description": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place.",
          "format": "google-datetime"
        }
      }
    },
    "ToMapping": {
      "properties": {
        "ignoreForLookup": {
          "description": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not",
          "type": "boolean"
        },
        "inputVariable": {
          "description": "Required. Name of the inputVariable on the dependency",
          "type": "string"
        },
        "dependency": {
          "description": "Required. Alias of the dependency that the inputVariable will pass its value to",
          "type": "string"
        }
      },
      "id": "ToMapping",
      "type": "object",
      "description": "Input variables whose values will be passed on to dependencies"
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "startTime": {
          "description": "Optional. Start of operation. If not set, will be set to the start of the next window. (optional)",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A time specification to schedule the maintenance.",
      "type": "object"
    },
    "ListUnitKindsResponse": {
      "id": "ListUnitKindsResponse",
      "type": "object",
      "description": "The response structure for the ListUnitKinds method.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListUnitKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "unitKinds": {
          "type": "array",
          "items": {
            "$ref": "UnitKind"
          },
          "description": "The resulting unit kinds."
        }
      }
    },
    "Release": {
      "type": "object",
      "id": "Release",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "inputVariableDefaults": {
          "items": {
            "$ref": "UnitVariable"
          },
          "type": "array",
          "description": "Optional. Mapping of input variables to default values. Maximum 100"
        },
        "inputVariables": {
          "type": "array",
          "readOnly": true,
          "description": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec",
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "readOnly": true,
          "type": "string"
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created)."
        },
        "outputVariables": {
          "description": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UnitVariable"
          }
        },
        "releaseRequirements": {
          "$ref": "ReleaseRequirements",
          "description": "Optional. Set of requirements to be fulfilled on the Unit when using this Release."
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
        },
        "blueprint": {
          "$ref": "Blueprint",
          "description": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
        },
        "name": {
          "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\"",
          "type": "string"
        },
        "applicationTemplateComponent": {
          "description": "Output only. Reference to component and revision in a composite ApplicationTemplate.",
          "$ref": "ComponentRef",
          "readOnly": true
        }
      },
      "description": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry."
    },
    "FlagRevisionList": {
      "description": "Wrapper for a list of flag revisions.",
      "id": "FlagRevisionList",
      "type": "object",
      "properties": {
        "revisions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. FlagRevisions to be rolled out."
        }
      }
    },
    "UnitCondition": {
      "description": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state.",
      "type": "object",
      "id": "UnitCondition",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Condition status is unspecified.",
            "Condition is unknown.",
            "Condition is true.",
            "Condition is false."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "STATUS_UNKNOWN",
            "STATUS_TRUE",
            "STATUS_FALSE"
          ],
          "description": "Required. Status of the condition."
        },
        "reason": {
          "type": "string",
          "description": "Required. Brief reason for the condition's last transition."
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Last time the condition transited from one status to another."
        },
        "message": {
          "type": "string",
          "description": "Required. Human readable message indicating details about the last transition."
        },
        "type": {
          "description": "Required. Type of the condition.",
          "enumDescriptions": [
            "Condition type is unspecified.",
            "Condition type is ready.",
            "Condition type is updating.",
            "Condition type is provisioned.",
            "Condition type is operationError. True when the last unit operation fails with a non-ignorable error.",
            "Condition type is flagsConfigInitialized. True when the flags configuration is synchronized and ready to be served.",
            "Indicates if AppHub app has been created or if Apphub app has already existed.",
            "Indicates if services and workloads have been registered with AppHub."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_READY",
            "TYPE_UPDATING",
            "TYPE_PROVISIONED",
            "TYPE_OPERATION_ERROR",
            "TYPE_FLAGS_CONFIG_INITIALIZED",
            "TYPE_APP_CREATED_OR_ALREADY_EXISTS",
            "TYPE_APP_COMPONENTS_REGISTERED"
          ],
          "type": "string"
        }
      }
    },
    "Variant": {
      "properties": {
        "boolValue": {
          "description": "Optional. Boolean flag value.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. String flag value."
        },
        "name": {
          "description": "Required. Name of the variant. Max length: 128 bytes.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "description": "Optional. Double flag value.",
          "format": "double"
        },
        "intValue": {
          "format": "int64",
          "description": "Optional. Integer flag value.",
          "type": "string"
        }
      },
      "id": "Variant",
      "type": "object",
      "description": "Variant is an identifier for a value (name assigned to a value). DEPRECATED: Use Flag.Variants instead."
    },
    "Blueprint": {
      "type": "object",
      "description": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev).",
      "id": "Blueprint",
      "properties": {
        "package": {
          "type": "string",
          "description": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set)."
        },
        "engine": {
          "description": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "Output only. Version metadata if present on the blueprint.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListUnitGroupOperationsResponse": {
      "properties": {
        "unitGroupOperations": {
          "type": "array",
          "items": {
            "$ref": "UnitGroupOperation"
          },
          "description": "The resulting unit group operations."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListUnitGroupOperations call to list the next page. If empty, there are no more pages."
        }
      },
      "type": "object",
      "description": "The response structure for the ListUnitGroupOperations method.",
      "id": "ListUnitGroupOperationsResponse"
    },
    "Aggregate": {
      "type": "object",
      "id": "Aggregate",
      "description": "Represents the aggregation of a set of population of like records by a certain group. For example, a collection of unit counts can be aggregated and grouped by their state.",
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Group by which to aggregate."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of records in the group."
        }
      }
    },
    "Deprovision": {
      "id": "Deprovision",
      "type": "object",
      "description": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned.",
      "properties": {}
    },
    "EvaluationSpec": {
      "type": "object",
      "id": "EvaluationSpec",
      "description": "EvaluationSpec holds rules for evaluating the value of a flag.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "EvaluationRule"
          },
          "type": "array",
          "description": "Optional. Evaluation rules define the logic for evaluating the flag against a given context. The rules are evaluated sequentially in their specified order."
        },
        "defaultTarget": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `base_target` instead. Default variant or allocation of the flag.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the context attributes that are used in the evaluation rules and allocations.",
          "type": "array"
        },
        "allocations": {
          "description": "Optional. A list of allocations.",
          "type": "array",
          "items": {
            "$ref": "Allocation"
          }
        },
        "variants": {
          "deprecated": true,
          "type": "array",
          "description": "Optional. A list of variants.",
          "items": {
            "$ref": "Variant"
          }
        }
      }
    },
    "RolloutControl": {
      "type": "object",
      "properties": {
        "action": {
          "description": "Required. Action to be performed on the Rollout. The default behavior is to run the rollout until it naturally reaches a terminal state.",
          "enum": [
            "ROLLOUT_ACTION_UNSPECIFIED",
            "ROLLOUT_ACTION_RUN",
            "ROLLOUT_ACTION_PAUSE",
            "ROLLOUT_ACTION_CANCEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified action, will be treated as RUN by default.",
            "Run the Rollout until it naturally reaches a terminal state. A rollout requested to run will progress through all natural Rollout States (such as RUNNING -> SUCCEEDED or RUNNING -> FAILED). If retriable errors are encountered during the rollout, the rollout will paused by default and can be resumed by re-requesting this RUN action.",
            "Pause the Rollout until it is resumed (i.e. RUN is requested).",
            "Cancel the Rollout permanently."
          ]
        },
        "runParams": {
          "$ref": "RunRolloutActionParams",
          "description": "Optional. Parameters for the RUN action. It is an error to specify this if the RolloutAction is not set to RUN. By default, the rollout will retry failed operations when resumed."
        }
      },
      "id": "RolloutControl",
      "description": "RolloutControl provides a way to request a change to the execution of a Rollout by pausing or canceling it."
    },
    "Allocation": {
      "description": "Allocation defines a set of weighted flag variants, specifying how traffic is split based on the randomization unit.",
      "type": "object",
      "id": "Allocation",
      "properties": {
        "randomizedOn": {
          "description": "Required. Key of the context attribute that is used for traffic splitting.",
          "type": "string"
        },
        "id": {
          "description": "Required. Allocation ID. Max length: 128 bytes.",
          "type": "string"
        },
        "slots": {
          "type": "array",
          "description": "Required. Slots defines the weighted distribution of variants.",
          "items": {
            "$ref": "AllocationSlot"
          }
        },
        "description": {
          "description": "Optional. Description of the allocation. Max length: 500 bytes.",
          "type": "string"
        }
      }
    },
    "ListSaasResponse": {
      "type": "object",
      "description": "The response structure for the ListSaas method.",
      "properties": {
        "saas": {
          "type": "array",
          "items": {
            "$ref": "Saas"
          },
          "description": "The resulting saas."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListSaasResponse"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "FlagVariant": {
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Optional. String variant value."
        },
        "integerValue": {
          "description": "Optional. Integer variant value.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "Required. Variant ID. Max length: 128 bytes."
        },
        "booleanValue": {
          "description": "Optional. Boolean variant value.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. A human-readable description of what this variant does or represents.",
          "type": "string"
        },
        "trackingId": {
          "type": "string",
          "description": "Optional. trackingId is unique depending on name and value of the variant within the scope of the service. It is typically generated by the server and must not be changed. trackingId is used to uniquely identify and track variants."
        },
        "doubleValue": {
          "format": "double",
          "description": "Optional. Double variant value.",
          "type": "number"
        }
      },
      "id": "FlagVariant",
      "description": "Variant is an identifier for a value (name assigned to a value).",
      "type": "object"
    },
    "ListFlagsResponse": {
      "type": "object",
      "id": "ListFlagsResponse",
      "description": "The response structure for the ListFlags method.",
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListFlags call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "flags": {
          "description": "The resulting flags.",
          "items": {
            "$ref": "Flag"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListRolloutKindsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages.",
          "type": "string"
        },
        "rolloutKinds": {
          "type": "array",
          "description": "The resulting rollout kinds.",
          "items": {
            "$ref": "RolloutKind"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response structure for the ListRolloutKinds method.",
      "id": "ListRolloutKindsResponse"
    },
    "ListFlagAttributesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, the next page token can be provided to a subsequent ListFlagAttributes call to list the next page. If empty, there are no more pages."
        },
        "flagAttributes": {
          "description": "The resulting flag attributes.",
          "type": "array",
          "items": {
            "$ref": "FlagAttribute"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListFlagAttributesResponse",
      "description": "The response structure for the ListFlagAttributes method."
    },
    "Flag": {
      "description": "Represents a single Flag.",
      "id": "Flag",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "valueType": {
          "enum": [
            "FLAG_VALUE_TYPE_UNSPECIFIED",
            "FLAG_VALUE_TYPE_BOOL",
            "FLAG_VALUE_TYPE_INT",
            "FLAG_VALUE_TYPE_STRING",
            "FLAG_VALUE_TYPE_DOUBLE"
          ],
          "type": "string",
          "description": "Optional. Immutable. Deprecated: Use `flag_value_type` instead. Flag value type.",
          "enumDescriptions": [
            "",
            "Boolean flag value type.",
            "Integer flag value type.",
            "String flag value type.",
            "Double flag type."
          ],
          "deprecated": true
        },
        "unitKind": {
          "type": "string",
          "description": "Required. Immutable. UnitKind that can consume this flag."
        },
        "variants": {
          "type": "array",
          "items": {
            "$ref": "FlagVariant"
          },
          "description": "Optional. A list of variants."
        },
        "uid": {
          "description": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the flag. Max length: 500 bytes.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
[...]
