{
  "version": "v1",
  "ownerName": "Google",
  "rootUrl": "https://saasservicemgmt.googleapis.com/",
  "servicePath": "",
  "canonicalName": "SaaS Service Management",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/saasservicemgmt.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud App Lifecycle Management data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/saasservicemgmt.readonly": {
          "description": "See your Google Cloud App Lifecycle Management data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://saasservicemgmt.googleapis.com/",
  "documentationLink": "https://cloud.google.com/saas-runtime/docs",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "id": "saasservicemgmt.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "id": "saasservicemgmt.projects.locations.get"
            }
          },
          "resources": {
            "saas": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Saas"
                  },
                  "description": "Create a new saas.",
                  "request": {
                    "$ref": "Saas"
                  },
                  "parameters": {
                    "saasId": {
                      "description": "Required. The ID value for the new saas.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent of the saas."
                    }
                  },
                  "path": "v1/{+parent}/saas",
                  "id": "saasservicemgmt.projects.locations.saas.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas/{saasId}",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes."
                    },
                    "etag": {
                      "type": "string",
                      "description": "The etag known to the client for the expected state of the saas. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the saas. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/saas/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "saasservicemgmt.projects.locations.saas.delete",
                  "description": "Delete a single saas."
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of saas to send per page.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent of the saas.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "description": "Retrieve a collection of saas.",
                  "response": {
                    "$ref": "ListSaasResponse"
                  },
                  "path": "v1/{+parent}/saas",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas",
                  "id": "saasservicemgmt.projects.locations.saas.list",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Saas"
                  },
                  "id": "saasservicemgmt.projects.locations.saas.get",
                  "description": "Retrieve a single saas.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas/{saasId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/saas/[^/]+$",
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "patch": {
                  "request": {
                    "$ref": "Saas"
                  },
                  "path": "v1/{+name}",
                  "description": "Update a single saas.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Field mask is used to specify the fields to be overwritten in the Saas resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the Saas will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/saas/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/saas/{saasId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Saas"
                  },
                  "id": "saasservicemgmt.projects.locations.saas.patch"
                }
              }
            },
            "rollouts": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/rollouts",
                  "httpMethod": "GET",
                  "id": "saasservicemgmt.projects.locations.rollouts.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "description": "Retrieve a collection of rollouts.",
                  "response": {
                    "$ref": "ListRolloutsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of rollouts to send per page."
                    },
                    "filter": {
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent of the rollout.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts"
                },
                "create": {
                  "path": "v1/{+parent}/rollouts",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a new rollout.",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The parent of the rollout.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "rolloutId": {
                      "location": "query",
                      "description": "Required. The ID value for the new rollout.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes."
                    }
                  },
                  "response": {
                    "$ref": "Rollout"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "id": "saasservicemgmt.projects.locations.rollouts.create",
                  "request": {
                    "$ref": "Rollout"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Rollout"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Rollout"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts/{rolloutsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/rollouts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rollout/{rollout_id}\""
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Field mask is used to specify the fields to be overwritten in the Rollout resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the Rollout will be overwritten.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "description": "Update a single rollout.",
                  "id": "saasservicemgmt.projects.locations.rollouts.patch"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts/{rolloutsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Delete a single rollout.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "saasservicemgmt.projects.locations.rollouts.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/rollouts/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "etag": {
                      "description": "The etag known to the client for the expected state of the rollout. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the rollout. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rollouts/{rolloutsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/rollouts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the resource within a service."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "saasservicemgmt.projects.locations.rollouts.get",
                  "response": {
                    "$ref": "Rollout"
                  },
                  "description": "Retrieve a single rollout.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "units": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "saasservicemgmt.projects.locations.units.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/units/{unitsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/units/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Unit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "description": "Retrieve a single unit."
                },
                "patch": {
                  "request": {
                    "$ref": "Unit"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/units/{unitsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/units/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Field mask is used to specify the fields to be overwritten in the Unit resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the Unit will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query"
                    }
                  },
                  "description": "Update a single unit.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Unit"
                  },
                  "id": "saasservicemgmt.projects.locations.units.patch"
                },
                "delete": {
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/units/[^/]+$"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "The etag known to the client for the expected state of the unit. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the unit. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "id": "saasservicemgmt.projects.locations.units.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a single unit.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/units/{unitsId}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/units",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "id": "saasservicemgmt.projects.locations.units.list",
                  "response": {
                    "$ref": "ListUnitsResponse"
                  },
                  "path": "v1/{+parent}/units",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent of the unit.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of units to send per page."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieve a collection of units."
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/units",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Create a new unit.",
                  "response": {
                    "$ref": "Unit"
                  },
                  "id": "saasservicemgmt.projects.locations.units.create",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent of the unit."
                    },
                    "unitId": {
                      "description": "Required. The ID value for the new unit.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "path": "v1/{+parent}/units",
                  "request": {
                    "$ref": "Unit"
                  }
                }
              }
            },
            "rolloutKinds": {
              "methods": {
                "create": {
                  "description": "Create a new rollout kind.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent of the rollout kind.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query"
                    },
                    "rolloutKindId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID value for the new rollout kind."
                    },
                    "requestId": {
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RolloutKind"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "RolloutKind"
                  },
                  "id": "saasservicemgmt.projects.locations.rolloutKinds.create",
                  "path": "v1/{+parent}/rolloutKinds",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rolloutKinds"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rolloutKinds/{rolloutKindsId}",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "The etag known to the client for the expected state of the rollout kind. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the rollout kind. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/rolloutKinds/[^/]+$",
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a single rollout kind.",
                  "id": "saasservicemgmt.projects.locations.rolloutKinds.delete"
                },
                "list": {
                  "description": "Retrieve a collection of rollout kinds.",
                  "id": "saasservicemgmt.projects.locations.rolloutKinds.list",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the rollout kind.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of rollout kinds to send per page.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter the list as specified in https://google.aip.dev/160."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "response": {
                    "$ref": "ListRolloutKindsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rolloutKinds",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/rolloutKinds"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rolloutKinds/{rolloutKindsId}",
                  "description": "Retrieve a single rollout kind.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "id": "saasservicemgmt.projects.locations.rolloutKinds.get",
                  "response": {
                    "$ref": "RolloutKind"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the resource within a service.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/rolloutKinds/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Field mask is used to specify the fields to be overwritten in the RolloutKind resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the RolloutKind will be overwritten."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/rolloutKinds/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Update a single rollout kind.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rolloutKinds/{rolloutKindsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "RolloutKind"
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "RolloutKind"
                  },
                  "id": "saasservicemgmt.projects.locations.rolloutKinds.patch"
                }
              }
            },
            "unitKinds": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListUnitKindsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "id": "saasservicemgmt.projects.locations.unitKinds.list",
                  "description": "Retrieve a collection of unit kinds.",
                  "path": "v1/{+parent}/unitKinds",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitKinds",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of unit kinds to send per page."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent of the unit kind."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter the list as specified in https://google.aip.dev/160."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "UnitKind"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "response": {
                    "$ref": "UnitKind"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a single unit kind.",
                  "id": "saasservicemgmt.projects.locations.unitKinds.patch",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitKinds/[^/]+$",
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\"",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Field mask is used to specify the fields to be overwritten in the UnitKind resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the UnitKind will be overwritten.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitKinds/{unitKindsId}"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "saasservicemgmt.projects.locations.unitKinds.delete",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "The etag known to the client for the expected state of the unit kind. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the unit kind. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not.",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the resource within a service.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitKinds/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitKinds/{unitKindsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a single unit kind."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitKinds/{unitKindsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitKinds/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "UnitKind"
                  },
                  "id": "saasservicemgmt.projects.locations.unitKinds.get",
                  "description": "Retrieve a single unit kind.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitKinds",
                  "id": "saasservicemgmt.projects.locations.unitKinds.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "request": {
                    "$ref": "UnitKind"
                  },
                  "response": {
                    "$ref": "UnitKind"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/unitKinds",
                  "description": "Create a new unit kind.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent of the unit kind.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "unitKindId": {
                      "type": "string",
                      "description": "Required. The ID value for the new unit kind.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "unitOperations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the resource within a service.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$"
                    }
                  },
                  "description": "Retrieve a single unit operation.",
                  "response": {
                    "$ref": "UnitOperation"
                  },
                  "httpMethod": "GET",
                  "id": "saasservicemgmt.projects.locations.unitOperations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "The etag known to the client for the expected state of the unit operation. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the unit operation. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not."
                    },
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the resource within a service.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}",
                  "httpMethod": "DELETE",
                  "description": "Delete a single unit operation.",
                  "id": "saasservicemgmt.projects.locations.unitOperations.delete"
                },
                "patch": {
                  "response": {
                    "$ref": "UnitOperation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/unitOperations/[^/]+$",
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\"",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Field mask is used to specify the fields to be overwritten in the UnitOperation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the UnitOperation will be overwritten.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "UnitOperation"
                  },
                  "description": "Update a single unit operation.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "id": "saasservicemgmt.projects.locations.unitOperations.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations/{unitOperationsId}",
                  "httpMethod": "PATCH"
                },
                "create": {
                  "response": {
                    "$ref": "UnitOperation"
                  },
                  "request": {
                    "$ref": "UnitOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "id": "saasservicemgmt.projects.locations.unitOperations.create",
                  "parameters": {
                    "unitOperationId": {
                      "description": "Required. The ID value for the new unit operation.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the unit operation.",
                      "required": true
                    },
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "description": "Create a new unit operation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/unitOperations"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUnitOperationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieve a collection of unit operations.",
                  "id": "saasservicemgmt.projects.locations.unitOperations.list",
                  "path": "v1/{+parent}/unitOperations",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the unit operation.",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Order results as specified in https://google.aip.dev/132.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of unit operations to send per page.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/unitOperations"
                }
              }
            },
            "releases": {
              "methods": {
                "patch": {
                  "description": "Update a single release.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/releases/{releasesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/releases/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Field mask is used to specify the fields to be overwritten in the Release resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the Release will be overwritten."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "id": "saasservicemgmt.projects.locations.releases.patch",
                  "request": {
                    "$ref": "Release"
                  },
                  "response": {
                    "$ref": "Release"
                  }
                },
                "delete": {
                  "id": "saasservicemgmt.projects.locations.releases.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/releases/[^/]+$",
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "The etag known to the client for the expected state of the release. This is used with state-changing methods to prevent accidental overwrites when multiple user agents might be acting in parallel on the same resource. An etag wildcard provide optimistic concurrency based on the expected existence of the release. The Any wildcard (`*`) requires that the resource must already exists, and the Not Any wildcard (`!*`) requires that it must not."
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/releases/{releasesId}",
                  "description": "Delete a single release.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "create": {
                  "id": "saasservicemgmt.projects.locations.releases.create",
                  "description": "Create a new release.",
                  "parameters": {
                    "validateOnly": {
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent of the release.",
                      "type": "string"
                    },
                    "releaseId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID value for the new release."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/releases",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/releases",
                  "request": {
                    "$ref": "Release"
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent of the release.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of releases to send per page.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Order results as specified in https://google.aip.dev/132.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/releases",
                  "description": "Retrieve a collection of releases.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "saasservicemgmt.projects.locations.releases.list",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/releases/{releasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the resource within a service.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/releases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Retrieve a single release.",
                  "id": "saasservicemgmt.projects.locations.releases.get"
                }
              }
            },
            "tenants": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "Tenant"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tenants/{tenantsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If \"validate_only\" is set to true, the service will try to validate that this request would succeed, but will not actually make changes.",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Field mask is used to specify the fields to be overwritten in the Tenant resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields in the Tenant will be overwritten.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/tenants/{tenant}\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tenants/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Tenant"
                  },
                  "description": "Update a single tenant.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write"
                  ],
                  "id": "saasservicemgmt.projects.locations.tenants.patch"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of tenants to send per page.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent of the tenant.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Order results as specified in https://google.aip.dev/132."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token: If the next_page_token from a previous response is provided, this request will send the subsequent page."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter the list as specified in https://google.aip.dev/160.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListTenantsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/saasservicemgmt.read-write",
                    "https://www.googleapis.com/auth/saasservicemgmt.readonly"
                  ],
                  "path": "v1/{+parent}/tenants",
[...]
