{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "canonicalName": "Safebrowsing",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "name": "safebrowsing",
  "servicePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "resources": {
    "threatMatches": {
      "methods": {
        "find": {
          "parameterOrder": [],
          "path": "v4/threatMatches:find",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "id": "safebrowsing.threatMatches.find",
          "flatPath": "v4/threatMatches:find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          },
          "httpMethod": "POST",
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "parameters": {}
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "id": "safebrowsing.threatLists.list",
          "flatPath": "v4/threatLists",
          "parameters": {},
          "parameterOrder": [],
          "path": "v4/threatLists",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "httpMethod": "GET",
          "description": "Lists the Safe Browsing threat lists available for download."
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "path": "v4/encodedUpdates/{encodedRequest}",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "parameters": {
            "clientId": {
              "location": "query",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API.",
              "type": "string"
            },
            "clientVersion": {
              "description": "The version of the client implementation.",
              "location": "query",
              "type": "string"
            },
            "encodedRequest": {
              "location": "path",
              "required": true,
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "format": "byte",
              "type": "string"
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "id": "safebrowsing.encodedUpdates.get",
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "description": "",
          "httpMethod": "GET"
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "parameters": {},
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          },
          "id": "safebrowsing.fullHashes.find",
          "flatPath": "v4/fullHashes:find",
          "path": "v4/fullHashes:find",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "description": "",
          "httpMethod": "GET",
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "parameters": {
            "clientId": {
              "location": "query",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "type": "string"
            },
            "clientVersion": {
              "description": "The version of the client implementation.",
              "location": "query",
              "type": "string"
            },
            "encodedRequest": {
              "location": "path",
              "required": true,
              "description": "A serialized FindFullHashesRequest proto.",
              "format": "byte",
              "type": "string"
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "id": "safebrowsing.encodedFullHashes.get",
          "flatPath": "v4/encodedFullHashes/{encodedRequest}"
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "parameterOrder": [],
          "path": "v4/threatListUpdates:fetch",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "id": "safebrowsing.threatListUpdates.fetch",
          "flatPath": "v4/threatListUpdates:fetch",
          "parameters": {},
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "httpMethod": "POST",
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once."
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "id": "safebrowsing.threatHits.create",
          "flatPath": "v4/threatHits",
          "path": "v4/threatHits",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [],
          "parameters": {},
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "revision": "20260620",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "schemas": {
    "GoogleSecuritySafebrowsingV4Checksum": {
      "id": "GoogleSecuritySafebrowsingV4Checksum",
      "description": "The expected state of a client's local database.",
      "properties": {
        "sha256": {
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "id": "GoogleSecuritySafebrowsingV4ClientInfo",
      "description": "The client metadata associated with Safe Browsing API requests.",
      "properties": {
        "clientId": {
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
          "type": "string"
        },
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "properties": {
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "format": "byte",
          "type": "string"
        },
        "prefixSize": {
          "format": "int32",
          "type": "integer",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash)."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "type": "object",
      "properties": {
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        },
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and entries to be checked for matches."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest",
      "description": "Request to check entries against lists."
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "properties": {
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints"
        },
        "threatType": {
          "description": "The type of threat posed by entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ]
        },
        "state": {
          "type": "string",
          "format": "byte",
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update)."
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The type of platform at risk by entries present in the list."
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The types of entries present in the list."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest",
      "description": "A single list update request.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "properties": {
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "description": "The threat type posed by the list's entries."
        },
        "platformType": {
          "description": "The platform type targeted by the list's entries.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "threatEntryType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The entry types contained in the list."
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse",
      "properties": {
        "threatLists": {
          "description": "The lists available for download by the client.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          }
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "properties": {
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "description": "The threat type matching this threat."
        },
        "threat": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat matching this threat."
        },
        "platformType": {
          "description": "The platform type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "threatEntryType": {
          "description": "The threat entry type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "cacheDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives."
        },
        "threatEntryMetadata": {
          "description": "Optional metadata associated with this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "properties": {
        "matches": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          },
          "type": "array",
          "description": "The threat list matches."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "properties": {
        "resources": {
          "description": "The resources related to the threat hit.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          }
        },
        "platformType": {
          "description": "The platform type reported.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "clientInfo": {
          "description": "Client-reported identification.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "description": "The threat type reported."
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        },
        "userInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
          "description": "Details about the user that encountered the threat."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatHit",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry",
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "properties": {
        "hash": {
          "type": "string",
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded."
        },
        "digest": {
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "url": {
          "description": "A URL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse",
      "description": "An update to an individual list.",
      "properties": {
        "threatEntryType": {
          "description": "The format of the threats.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "platformType": {
          "description": "The platform type for which data is returned.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "additions": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response."
        },
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "description": "The type of response. This may indicate that an action is required by the client when the response is received."
        },
        "newClientState": {
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "format": "byte",
          "type": "string"
        },
        "threatType": {
          "description": "The threat type for which data is returned.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST",
            "ACCURACY_TIPS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat type.",
            "URL expressions that are very likely to be safe.",
            "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
          ]
        },
        "checksum": {
          "$ref": "GoogleSecuritySafebrowsingV4Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        },
        "removals": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "type": "array",
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "type": "object",
      "properties": {
        "indices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The indices to remove from a lexicographically-sorted local list."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4RawIndices",
      "description": "A set of raw indices to remove from a local list."
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "type": "object",
      "properties": {
        "threatTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat type.",
              "URL expressions that are very likely to be safe.",
              "An experimental threat type related to Jigsaw. See https://jigsaw.google.com/."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST",
              "ACCURACY_TIPS"
            ]
          },
          "type": "array",
          "description": "The threat types to be checked."
        },
        "platformTypes": {
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ]
          },
          "description": "The platform types to be checked."
        },
        "threatEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          },
          "description": "The threat entries to be checked."
        },
        "threatEntryTypes": {
          "type": "array",
          "items": {
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ]
          },
          "description": "The entry types to be checked."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists."
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "properties": {
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        },
        "listUpdateRequests": {
          "description": "The requested threat list updates.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "description": "The type of source reported."
        },
        "url": {
          "description": "The URL of the resource.",
          "type": "string"
        },
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string"
        },
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource",
      "description": "A single resource related to a threat hit."
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "properties": {
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "type": "string",
          "format": "google-duration"
        },
        "negativeCacheDuration": {
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "format": "google-duration",
          "type": "string"
        },
        "matches": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          },
          "type": "array",
          "description": "The full hashes that matched the requested prefixes."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "properties": {
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "format": "byte",
          "description": "Unique user identifier defined by the client."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
      "description": "Details about the user that encountered the threat.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
      "description": "The constraints for this update.",
      "properties": {
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        },
        "maxDatabaseEntries": {
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "type": "integer",
          "format": "int32"
        },
        "deviceLocation": {
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code.",
          "type": "string"
        },
        "maxUpdateEntries": {
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "format": "int32",
          "type": "integer"
        },
        "region": {
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format.",
          "type": "string"
        },
        "supportedCompressions": {
          "items": {
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ]
          },
          "type": "array",
          "description": "The compression types supported by the client."
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "properties": {
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "type": "string",
          "format": "google-duration"
        },
        "listUpdateResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          },
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "properties": {
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder."
        },
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "type": "integer",
          "format": "int32"
        },
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64",
          "type": "string"
        },
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "type": "object",
      "properties": {
        "key": {
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "format": "byte",
          "type": "string"
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry",
      "description": "A single metadata entry."
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet",
      "description": "A set of threats that should be added or removed from a client's local database.",
      "properties": {
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        },
        "rawHashes": {
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes",
          "description": "The raw SHA256-formatted entries."
        },
        "compressionType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "description": "The compression type for the entries in this set."
        },
        "rawIndices": {
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices",
          "description": "The raw removal indices for a local list."
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "properties": {
        "apiClient": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        },
        "clientStates": {
          "description": "The current client states for each of the client's local threat lists.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and hashes to be checked."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest",
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "type": "object"
    }
  },
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "title": "Safe Browsing API",
  "version": "v4",
  "version_module": true,
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "safebrowsing:v4"
}