{
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "title": "SAS Portal API",
  "protocol": "rest",
  "name": "sasportal",
  "discoveryVersion": "v1",
  "schemas": {
    "SasPortalOperation": {
      "id": "SasPortalOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SasPortalSignDeviceRequest": {
      "description": "Request for SignDevice.",
      "type": "object",
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      },
      "id": "SasPortalSignDeviceRequest"
    },
    "SasPortalDeviceAirInterface": {
      "id": "SasPortalDeviceAirInterface",
      "description": "Information about the device's air interface.",
      "type": "object",
      "properties": {
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        },
        "radioTechnology": {
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ]
        }
      }
    },
    "SasPortalDeployment": {
      "id": "SasPortalDeployment",
      "description": "The Deployment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "type": "array"
        },
        "frns": {
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalListCustomersResponse": {
      "description": "Response for `ListCustomers`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        },
        "customers": {
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "description": "The list of customers that match the request.",
          "type": "array"
        }
      },
      "id": "SasPortalListCustomersResponse"
    },
    "SasPortalDeviceConfig": {
      "id": "SasPortalDeviceConfig",
      "description": "Information about the device configuration.",
      "type": "object",
      "properties": {
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "type": "array",
          "items": {
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "category": {
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ],
          "description": "FCC category of the device.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ]
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        },
        "state": {
          "description": "State of the configuration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "airInterface": {
          "description": "Information about this device's air interface.",
          "$ref": "SasPortalDeviceAirInterface"
        },
        "updateTime": {
          "description": "Output only. The last time the device configuration was edited.",
          "type": "string",
          "format": "google-datetime"
        },
        "model": {
          "description": "Information about this device model.",
          "$ref": "SasPortalDeviceModel"
        },
        "isSigned": {
          "description": "Output only. Whether the configuration has been signed by a CPI.",
          "type": "boolean"
        }
      }
    },
    "SasPortalDpaMoveList": {
      "description": "An entry in a DPA's move list.",
      "type": "object",
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "id": "SasPortalDpaMoveList"
    },
    "SasPortalChannelWithScore": {
      "id": "SasPortalChannelWithScore",
      "description": "The channel with score.",
      "type": "object",
      "properties": {
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        },
        "score": {
          "description": "The channel score, normalized to be in the range [0,100].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SasPortalListNodesResponse": {
      "description": "Response for ListNodes.",
      "type": "object",
      "properties": {
        "nodes": {
          "description": "The nodes that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      },
      "id": "SasPortalListNodesResponse"
    },
    "SasPortalListDeploymentsResponse": {
      "id": "SasPortalListDeploymentsResponse",
      "description": "Response for ListDeployments.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The deployments that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        }
      }
    },
    "SasPortalSetPolicyRequest": {
      "description": "Request message for `SetPolicy` method.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy.",
          "type": "string"
        },
        "policy": {
          "description": "Required. The policy to be applied to the `resource`.",
          "$ref": "SasPortalPolicy"
        },
        "disableNotification": {
          "description": "Optional. Set the field as `true` to disable the onboarding notification.",
          "type": "boolean"
        }
      },
      "id": "SasPortalSetPolicyRequest"
    },
    "SasPortalAssignment": {
      "id": "SasPortalAssignment",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Required. Role that is assigned to `members`.",
          "type": "string"
        },
        "members": {
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "description": "Response for [ListGcpProjectDeployments].",
      "type": "object",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "description": "Optional. Deployments associated with the GCP project",
          "type": "array"
        }
      },
      "id": "SasPortalListGcpProjectDeploymentsResponse"
    },
    "SasPortalListDevicesResponse": {
      "id": "SasPortalListDevicesResponse",
      "description": "Response for ListDevices.",
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "SasPortalDevice"
          },
          "description": "The devices that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      }
    },
    "SasPortalValidateInstallerResponse": {
      "id": "SasPortalValidateInstallerResponse",
      "description": "Response for ValidateInstaller.",
      "type": "object",
      "properties": {}
    },
    "SasPortalDeviceGrant": {
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "type": "object",
      "properties": {
        "channelType": {
          "description": "Type of channel used.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ]
        },
        "moveList": {
          "items": {
            "$ref": "SasPortalDpaMoveList"
          },
          "description": "The DPA move lists on which this grant appears.",
          "type": "array"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The expiration time of the grant.",
          "type": "string"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "lastHeartbeatTransmitExpireTime": {
          "format": "google-datetime",
          "description": "The transmit expiration time of the last heartbeat.",
          "type": "string"
        },
        "suspensionReason": {
          "items": {
            "type": "string"
          },
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "type": "array"
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number",
          "format": "double"
        },
        "state": {
          "description": "State of the grant.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ]
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        }
      },
      "id": "SasPortalDeviceGrant"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "description": "Request for CreateSignedDevice.",
      "type": "object",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "id": "SasPortalCreateSignedDeviceRequest"
    },
    "SasPortalTestPermissionsRequest": {
      "description": "Request message for `TestPermissions` method.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the permissions are being requested.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`.",
          "type": "array"
        }
      },
      "id": "SasPortalTestPermissionsRequest"
    },
    "SasPortalDeviceModel": {
      "id": "SasPortalDeviceModel",
      "description": "Information about the model of the device.",
      "type": "object",
      "properties": {
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "softwareVersion": {
          "description": "The software version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        }
      }
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "description": "Request for the SetupSasAnalytics rpc.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      },
      "id": "SasPortalSetupSasAnalyticsRequest"
    },
    "SasPortalMoveDeviceRequest": {
      "description": "Request for MoveDevice.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveDeviceRequest"
    },
    "SasPortalValidateInstallerRequest": {
      "id": "SasPortalValidateInstallerRequest",
      "description": "Request for ValidateInstaller.",
      "type": "object",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        }
      }
    },
    "SasPortalNode": {
      "description": "The Node.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name.",
          "type": "string"
        },
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User ids used by the devices belonging to this node.",
          "type": "array"
        }
      },
      "id": "SasPortalNode"
    },
    "SasPortalMoveNodeRequest": {
      "description": "Request for MoveNode.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveNodeRequest"
    },
    "SasPortalDeviceMetadata": {
      "id": "SasPortalDeviceMetadata",
      "description": "Device data overridable by both SAS Portal and registration requests.",
      "type": "object",
      "properties": {
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "antennaModel": {
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`",
          "type": "string"
        },
        "commonChannelGroup": {
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidation": {
          "$ref": "SasPortalNrqzValidation",
          "description": "Output only. National Radio Quiet Zone validation info.",
          "readOnly": true
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "readOnly": true,
          "type": "boolean",
          "deprecated": true
        }
      }
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "type": "object",
      "properties": {
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "currentChannels": {
          "type": "array",
          "deprecated": true,
          "description": "Output only. Current channels with scores.",
          "readOnly": true,
          "items": {
            "$ref": "SasPortalChannelWithScore"
          }
        },
        "state": {
          "description": "Output only. Device state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        },
        "grants": {
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "description": "Output only. Grants held by the device.",
          "type": "array"
        },
        "grantRangeAllowlists": {
          "items": {
            "$ref": "SasPortalFrequencyRange"
          },
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array"
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        }
      }
    },
    "SasPortalGenerateSecretRequest": {
      "description": "Request for GenerateSecret.",
      "type": "object",
      "properties": {},
      "id": "SasPortalGenerateSecretRequest"
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object",
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsResponse"
    },
    "SasPortalOrganization": {
      "description": "Organization details.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        },
        "id": {
          "description": "Id of organization",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SasPortalOrganization"
    },
    "SasPortalMigrateOrganizationMetadata": {
      "id": "SasPortalMigrateOrganizationMetadata",
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "type": "object",
      "properties": {
        "operationState": {
          "description": "Output only. Current operation state",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "type": "string"
        }
      }
    },
    "SasPortalPolicy": {
      "id": "SasPortalPolicy",
      "description": "Defines an access control policy to the resources.",
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "type": "string"
        },
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "description": "List of assignments",
          "type": "array"
        }
      }
    },
    "SasPortalTestPermissionsResponse": {
      "id": "SasPortalTestPermissionsResponse",
      "description": "Response message for `TestPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A set of permissions that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "SasPortalMoveDeploymentRequest": {
      "description": "Request for MoveDeployment.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveDeploymentRequest"
    },
    "SasPortalDeploymentAssociation": {
      "id": "SasPortalDeploymentAssociation",
      "description": "Association between a gcp project and a SAS user id.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        }
      }
    },
    "SasPortalCustomer": {
      "id": "SasPortalCustomer",
      "description": "Entity representing a SAS customer.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "sasUserIds": {
          "items": {
            "type": "string"
          },
          "description": "User IDs used by the devices belonging to this customer.",
          "type": "array"
        }
      }
    },
    "SasPortalProvisionDeploymentResponse": {
      "id": "SasPortalProvisionDeploymentResponse",
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      }
    },
    "SasPortalEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "SasPortalEmpty"
    },
    "SasPortalNrqzValidation": {
      "id": "SasPortalNrqzValidation",
      "description": "Information about National Radio Quiet Zone validation.",
      "type": "object",
      "properties": {
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "state": {
          "description": "State of the NRQZ validation info.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "longitude": {
          "format": "double",
          "description": "Device longitude that's associated with the validation.",
          "type": "number"
        },
        "latitude": {
          "description": "Device latitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        }
      }
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "type": "object",
      "properties": {}
    },
    "SasPortalProvisionDeploymentRequest": {
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "type": "object",
      "properties": {
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        },
        "organizationId": {
          "format": "int64",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "type": "string"
        },
        "newOrganizationDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        }
      },
      "id": "SasPortalProvisionDeploymentRequest"
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "type": "object",
      "properties": {
        "lowFrequencyMhz": {
          "description": "The lowest frequency of the frequency range in MHz.",
          "type": "number",
          "format": "double"
        },
        "highFrequencyMhz": {
          "format": "double",
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number"
        }
      }
    },
    "SasPortalMigrateOrganizationResponse": {
      "id": "SasPortalMigrateOrganizationResponse",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "type": "object",
      "properties": {
        "deploymentAssociation": {
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          }
        }
      }
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "type": "object",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "description": "Optional. Legacy SAS organizations.",
          "type": "array"
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "description": "Request for UpdateSignedDevice.",
      "type": "object",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedDevice": {
          "format": "byte",
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string"
        }
      },
      "id": "SasPortalUpdateSignedDeviceRequest"
    },
    "SasPortalGcpProjectDeployment": {
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "type": "object",
      "properties": {
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Deployment associated with the GCP project.",
          "$ref": "SasPortalDeployment"
        }
      },
      "id": "SasPortalGcpProjectDeployment"
    },
    "SasPortalInstallationParams": {
      "description": "Information about the device installation parameters.",
      "type": "object",
      "properties": {
        "verticalAccuracy": {
          "format": "double",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "type": "number"
        },
        "antennaModel": {
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets.",
          "type": "string"
        },
        "antennaGain": {
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value",
          "type": "number",
          "format": "double"
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        },
        "longitude": {
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "type": "number",
          "format": "double"
        },
        "antennaAzimuth": {
          "format": "int32",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number",
          "format": "double"
        },
        "antennaBeamwidth": {
          "format": "int32",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ]
        },
        "antennaDowntilt": {
          "format": "int32",
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "type": "number",
          "format": "double"
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "eirpCapability": {
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "SasPortalInstallationParams"
    },
    "SasPortalMigrateOrganizationRequest": {
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects.",
      "type": "object",
      "properties": {
        "organizationId": {
          "format": "int64",
          "description": "Required. Id of the SAS organization to be migrated.",
          "type": "string"
        }
      },
      "id": "SasPortalMigrateOrganizationRequest"
    },
    "SasPortalGetPolicyRequest": {
      "id": "SasPortalGetPolicyRequest",
      "description": "Request message for `GetPolicy` method.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      }
    },
    "SasPortalStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "SasPortalStatus"
    },
    "SasPortalGenerateSecretResponse": {
      "description": "Response for GenerateSecret.",
      "type": "object",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "id": "SasPortalGenerateSecretResponse"
    }
  },
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "revision": "20260617",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "servicePath": "",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://sasportal.googleapis.com/",
  "rootUrl": "https://sasportal.googleapis.com/",
  "id": "sasportal:v1alpha1",
  "resources": {
    "customers": {
      "methods": {
        "list": {
          "path": "v1alpha1/customers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of customers to return in the response.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from.",
              "type": "string"
            }
          },
          "id": "sasportal.customers.list",
          "httpMethod": "GET",
          "description": "Returns a list of requested customers.",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          }
        },
        "patch": {
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Updates an existing customer.",
          "httpMethod": "PATCH",
          "id": "sasportal.customers.patch",
          "flatPath": "v1alpha1/customers/{customersId}",
          "parameters": {
            "name": {
              "description": "Output only. Resource name of the customer.",
              "location": "path",
              "pattern": "^customers/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Fields to be updated.",
              "type": "string"
            }
          },
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "provisionDeployment": {
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "path": "v1alpha1/customers:provisionDeployment",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "parameters": {},
          "id": "sasportal.customers.provisionDeployment",
          "httpMethod": "POST"
        },
        "migrateOrganization": {
          "id": "sasportal.customers.migrateOrganization",
          "httpMethod": "POST",
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "parameters": {},
          "path": "v1alpha1/customers:migrateOrganization",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "response": {
            "$ref": "SasPortalOperation"
          },
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration"
        },
        "listGcpProjectDeployments": {
          "response": {
            "$ref": "SasPortalListGcpProjectDeploymentsResponse"
          },
          "description": "Returns a list of SAS deployments associated with current GCP project. Includes whether SAS analytics has been enabled or not.",
          "httpMethod": "GET",
          "id": "sasportal.customers.listGcpProjectDeployments",
          "flatPath": "v1alpha1/customers:listGcpProjectDeployments",
          "parameters": {},
          "path": "v1alpha1/customers:listGcpProjectDeployments",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        },
        "listLegacyOrganizations": {
          "description": "Returns a list of legacy organizations.",
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "parameters": {},
          "id": "sasportal.customers.listLegacyOrganizations",
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "id": "sasportal.customers.get",
          "flatPath": "v1alpha1/customers/{customersId}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^customers/[^/]+$",
              "required": true,
              "description": "Required. The name of the customer.",
              "type": "string"
            }
          },
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Returns a requested customer."
        },
        "setupSasAnalytics": {
          "path": "v1alpha1/customers:setupSasAnalytics",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "sasportal.customers.setupSasAnalytics",
          "httpMethod": "POST",
          "flatPath": "v1alpha1/customers:setupSasAnalytics",
          "parameters": {},
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          },
          "response": {
            "$ref": "SasPortalOperation"
          }
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "sasportal.customers.devices.list",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                },
                "filter": {
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+parent}/devices",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "description": "Lists devices under a node or customer."
            },
            "signDevice": {
              "description": "Signs a device.",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}:signDevice",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.devices.signDevice",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice",
              "parameters": {
                "name": {
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "id": "sasportal.customers.devices.create",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+parent}/devices",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a device under a node or customer."
            },
            "createSigned": {
              "id": "sasportal.customers.devices.createSigned",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "description": "Creates a signed device under a node or customer."
            },
            "get": {
              "description": "Gets details about a device.",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.devices.get",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "patch": {
              "description": "Updates a device.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.devices.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "updateSigned": {
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device to update.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "id": "sasportal.customers.devices.updateSigned",
              "path": "v1alpha1/{+name}:updateSigned",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "description": "Updates a signed device."
            },
            "delete": {
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the device.",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "id": "sasportal.customers.devices.delete",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "description": "Deletes a device."
            },
            "move": {
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the device to move.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "sasportal.customers.devices.move",
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "description": "Moves a device under another node or customer."
            }
          }
        },
        "deployments": {
          "methods": {
            "create": {
              "path": "v1alpha1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "id": "sasportal.customers.deployments.create",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Creates a new deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "request": {
                "$ref": "SasPortalDeployment"
              }
            },
            "get": {
              "description": "Returns a requested deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the deployment.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "sasportal.customers.deployments.get",
              "httpMethod": "GET"
            },
            "list": {
              "path": "v1alpha1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.deployments.list",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                }
              },
              "description": "Lists deployments.",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              }
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.deployments.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "description": "Output only. Resource name.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string"
                }
              },
              "description": "Updates an existing deployment.",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "response": {
                "$ref": "SasPortalDeployment"
              }
            },
            "delete": {
              "description": "Deletes a deployment.",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "sasportal.customers.deployments.delete",
              "httpMethod": "DELETE"
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "sasportal.customers.deployments.move",
              "description": "Moves a deployment under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              }
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "id": "sasportal.customers.deployments.devices.create",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer."
                },
                "createSigned": {
                  "description": "Creates a signed device under a node or customer.",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "id": "sasportal.customers.deployments.devices.createSigned",
                  "httpMethod": "POST"
                },
                "list": {
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "sasportal.customers.deployments.devices.list",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer."
                }
              }
            }
          }
        },
        "nodes": {
          "methods": {
            "delete": {
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the node.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "sasportal.customers.nodes.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a node.",
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.move",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node to move.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Moves a node under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              }
            },
            "list": {
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "description": "Lists nodes.",
              "httpMethod": "GET",
              "id": "sasportal.customers.nodes.list",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+parent}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "patch": {
              "response": {
                "$ref": "SasPortalNode"
              },
              "request": {
                "$ref": "SasPortalNode"
              },
              "description": "Updates an existing node.",
              "httpMethod": "PATCH",
              "id": "sasportal.customers.nodes.patch",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. Resource name."
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "id": "sasportal.customers.nodes.get",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Returns a requested node.",
              "response": {
                "$ref": "SasPortalNode"
              }
            },
            "create": {
              "path": "v1alpha1/{+parent}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.customers.nodes.create",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name where the node is to be created."
                }
              },
              "description": "Creates a new node.",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              }
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "id": "sasportal.customers.nodes.devices.createSigned",
                  "httpMethod": "POST",
                  "description": "Creates a signed device under a node or customer.",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "description": "Lists devices under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "type": "string"
                    }
                  },
                  "id": "sasportal.customers.nodes.devices.list",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "create": {
                  "description": "Creates a device under a node or customer.",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST",
                  "id": "sasportal.customers.nodes.devices.create",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "description": "Lists deployments.",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.customers.nodes.deployments.list",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of deployments to return in the response.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "sasportal.customers.nodes.deployments.create",
                  "description": "Creates a new deployment.",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "request": {
                    "$ref": "SasPortalDeployment"
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "description": "Creates a new node.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name where the node is to be created.",
                      "type": "string"
                    }
                  },
                  "id": "sasportal.customers.nodes.nodes.create",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "list": {
                  "description": "Lists nodes.",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "id": "sasportal.customers.nodes.nodes.list",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "location": "path",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "nodes": {
      "methods": {
        "get": {
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the node.",
              "pattern": "^nodes/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "sasportal.nodes.get",
          "description": "Returns a requested node.",
          "response": {
            "$ref": "SasPortalNode"
          }
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "patch": {
              "description": "Updates an existing deployment.",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string"
                }
              },
              "id": "sasportal.nodes.deployments.patch",
              "httpMethod": "PATCH"
            },
            "list": {
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "description": "Lists deployments.",
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                },
                "filter": {
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "type": "string"
                }
              },
              "id": "sasportal.nodes.deployments.list",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
[...]
