{
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "id": "sasportal:v1alpha1",
  "discoveryVersion": "v1",
  "revision": "20260802",
  "ownerDomain": "google.com",
  "title": "SAS Portal API",
  "version_module": true,
  "batchPath": "batch",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "version": "v1alpha1",
  "protocol": "rest",
  "baseUrl": "https://sasportal.googleapis.com/",
  "rootUrl": "https://sasportal.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://sasportal.mtls.googleapis.com/",
  "name": "sasportal",
  "schemas": {
    "SasPortalValidateInstallerResponse": {
      "properties": {},
      "description": "Response for ValidateInstaller.",
      "id": "SasPortalValidateInstallerResponse",
      "type": "object"
    },
    "SasPortalDeviceGrant": {
      "id": "SasPortalDeviceGrant",
      "type": "object",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "type": "string",
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ],
          "description": "State of the grant."
        },
        "lastHeartbeatTransmitExpireTime": {
          "type": "string",
          "description": "The transmit expiration time of the last heartbeat.",
          "format": "google-datetime"
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The transmission frequency range."
        },
        "maxEirp": {
          "type": "number",
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "format": "double"
        },
        "channelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Type of channel used.",
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ]
        },
        "moveList": {
          "type": "array",
          "description": "The DPA move lists on which this grant appears.",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          }
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration time of the grant.",
          "format": "google-datetime"
        },
        "grantId": {
          "description": "Grant Id.",
          "type": "string"
        },
        "suspensionReason": {
          "type": "array",
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalMigrateOrganizationResponse": {
      "properties": {
        "deploymentAssociation": {
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "type": "array"
        }
      },
      "id": "SasPortalMigrateOrganizationResponse",
      "type": "object",
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]."
    },
    "SasPortalChannelWithScore": {
      "description": "The channel with score.",
      "id": "SasPortalChannelWithScore",
      "type": "object",
      "properties": {
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range of the channel."
        },
        "score": {
          "description": "The channel score, normalized to be in the range [0,100].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SasPortalCustomer": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of the customer.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "sasUserIds": {
          "description": "User IDs used by the devices belonging to this customer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SasPortalCustomer",
      "type": "object",
      "description": "Entity representing a SAS customer."
    },
    "SasPortalDeviceAirInterface": {
      "properties": {
        "supportedSpec": {
          "type": "string",
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration."
        },
        "radioTechnology": {
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "type": "string",
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Information about the device's air interface.",
      "id": "SasPortalDeviceAirInterface",
      "type": "object"
    },
    "SasPortalGcpProjectDeployment": {
      "properties": {
        "hasEnabledAnalytics": {
          "type": "boolean",
          "description": "Whether SAS analytics has been enabled."
        },
        "deployment": {
          "$ref": "SasPortalDeployment",
          "description": "Deployment associated with the GCP project."
        }
      },
      "id": "SasPortalGcpProjectDeployment",
      "type": "object",
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not."
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations].",
      "id": "SasPortalListLegacyOrganizationsResponse",
      "type": "object",
      "properties": {
        "organizations": {
          "type": "array",
          "description": "Optional. Legacy SAS organizations.",
          "items": {
            "$ref": "SasPortalOrganization"
          }
        }
      }
    },
    "SasPortalGenerateSecretRequest": {
      "properties": {},
      "id": "SasPortalGenerateSecretRequest",
      "type": "object",
      "description": "Request for GenerateSecret."
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional"
        }
      },
      "description": "Request for the SetupSasAnalytics rpc.",
      "id": "SasPortalSetupSasAnalyticsRequest",
      "type": "object"
    },
    "SasPortalMoveDeploymentRequest": {
      "id": "SasPortalMoveDeploymentRequest",
      "type": "object",
      "description": "Request for MoveDeployment.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "properties": {
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Request for UpdateSignedDevice.",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "type": "object"
    },
    "SasPortalValidateInstallerRequest": {
      "id": "SasPortalValidateInstallerRequest",
      "type": "object",
      "description": "Request for ValidateInstaller.",
      "properties": {
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        }
      }
    },
    "SasPortalGetPolicyRequest": {
      "description": "Request message for `GetPolicy` method.",
      "id": "SasPortalGetPolicyRequest",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Required. The resource for which the policy is being requested.",
          "type": "string"
        }
      }
    },
    "SasPortalListCustomersResponse": {
      "id": "SasPortalListCustomersResponse",
      "type": "object",
      "description": "Response for `ListCustomers`.",
      "properties": {
        "customers": {
          "type": "array",
          "description": "The list of customers that match the request.",
          "items": {
            "$ref": "SasPortalCustomer"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers.",
          "type": "string"
        }
      }
    },
    "SasPortalMigrateOrganizationMetadata": {
      "properties": {
        "operationState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ],
          "description": "Output only. Current operation state"
        }
      },
      "id": "SasPortalMigrateOrganizationMetadata",
      "type": "object",
      "description": "Long-running operation metadata message returned by the MigrateOrganization."
    },
    "SasPortalAssignment": {
      "description": "Associates `members` with a `role`.",
      "id": "SasPortalAssignment",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Required. Role that is assigned to `members`."
        },
        "members": {
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SasPortalDpaMoveList": {
      "properties": {
        "dpaId": {
          "description": "The ID of the DPA.",
          "type": "string"
        },
        "frequencyRange": {
          "$ref": "SasPortalFrequencyRange",
          "description": "The frequency range that the move list affects."
        }
      },
      "description": "An entry in a DPA's move list.",
      "id": "SasPortalDpaMoveList",
      "type": "object"
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "description": "Response for [ListGcpProjectDeployments].",
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "Optional. Deployments associated with the GCP project",
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "type": "array"
        }
      }
    },
    "SasPortalDeviceModel": {
      "properties": {
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "The firmware version of the device."
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "The name of the device vendor."
        },
        "softwareVersion": {
          "type": "string",
          "description": "The software version of the device."
        }
      },
      "description": "Information about the model of the device.",
      "id": "SasPortalDeviceModel",
      "type": "object"
    },
    "SasPortalStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "SasPortalStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SasPortalNode": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The node's display name."
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name."
        }
      },
      "id": "SasPortalNode",
      "type": "object",
      "description": "The Node."
    },
    "SasPortalCreateSignedDeviceRequest": {
      "id": "SasPortalCreateSignedDeviceRequest",
      "type": "object",
      "description": "Request for CreateSignedDevice.",
      "properties": {
        "encodedDevice": {
          "format": "byte",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "type": "string"
        },
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        }
      }
    },
    "SasPortalListNodesResponse": {
      "description": "Response for ListNodes.",
      "id": "SasPortalListNodesResponse",
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "description": "The nodes that match the request.",
          "items": {
            "$ref": "SasPortalNode"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      }
    },
    "SasPortalMoveDeviceRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the device under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveDeviceRequest",
      "type": "object",
      "description": "Request for MoveDevice."
    },
    "SasPortalMigrateOrganizationRequest": {
      "properties": {
        "organizationId": {
          "description": "Required. Id of the SAS organization to be migrated.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SasPortalMigrateOrganizationRequest",
      "type": "object",
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects."
    },
    "SasPortalInstallationParams": {
      "properties": {
        "antennaAzimuth": {
          "type": "integer",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32"
        },
        "antennaBeamwidth": {
          "format": "int32",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        },
        "verticalAccuracy": {
          "type": "number",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "format": "double"
        },
        "latitude": {
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "type": "number",
          "format": "double"
        },
        "heightType": {
          "description": "Specifies how the height is measured.",
          "type": "string",
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ],
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ]
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian."
        },
        "horizontalAccuracy": {
          "type": "number",
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "format": "double"
        },
        "cpeCbsdIndication": {
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not.",
          "type": "boolean"
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "format": "double",
          "type": "number",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum."
        },
        "indoorDeployment": {
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor.",
          "type": "boolean"
        },
        "antennaGain": {
          "type": "number",
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value",
          "format": "double"
        },
        "eirpCapability": {
          "format": "int32",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "type": "integer"
        },
        "antennaModel": {
          "type": "string",
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets."
        }
      },
      "id": "SasPortalInstallationParams",
      "type": "object",
      "description": "Information about the device installation parameters."
    },
    "SasPortalTestPermissionsRequest": {
      "description": "Request message for `TestPermissions` method.",
      "id": "SasPortalTestPermissionsRequest",
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the permissions are being requested."
        },
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SasPortalEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "SasPortalEmpty",
      "type": "object"
    },
    "SasPortalPolicy": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "format": "byte"
        },
        "assignments": {
          "description": "List of assignments",
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "type": "array"
        }
      },
      "description": "Defines an access control policy to the resources.",
      "id": "SasPortalPolicy",
      "type": "object"
    },
    "SasPortalDeviceMetadata": {
      "properties": {
        "interferenceCoordinationGroup": {
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf).",
          "type": "string"
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "deprecated": true,
          "readOnly": true,
          "type": "boolean"
        },
        "commonChannelGroup": {
          "type": "string",
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        },
        "antennaModel": {
          "type": "string",
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`"
        },
        "nrqzValidation": {
          "readOnly": true,
          "description": "Output only. National Radio Quiet Zone validation info.",
          "$ref": "SasPortalNrqzValidation"
        }
      },
      "id": "SasPortalDeviceMetadata",
      "type": "object",
      "description": "Device data overridable by both SAS Portal and registration requests."
    },
    "SasPortalDeploymentAssociation": {
      "id": "SasPortalDeploymentAssociation",
      "type": "object",
      "description": "Association between a gcp project and a SAS user id.",
      "properties": {
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        },
        "userId": {
          "description": "User id of the deployment.",
          "type": "string"
        }
      }
    },
    "SasPortalOperation": {
      "id": "SasPortalOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "SasPortalStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Device display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "fccId": {
          "type": "string",
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them."
        },
        "preloadedConfig": {
          "$ref": "SasPortalDeviceConfig",
          "description": "Configuration of the device, as specified via SAS Portal API."
        },
        "state": {
          "description": "Output only. Device state.",
          "type": "string",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ]
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          },
          "type": "array"
        },
        "currentChannels": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Current channels with scores.",
          "deprecated": true,
          "items": {
            "$ref": "SasPortalChannelWithScore"
          }
        },
        "deviceMetadata": {
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests.",
          "$ref": "SasPortalDeviceMetadata"
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "grantRangeAllowlists": {
          "type": "array",
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          }
        }
      }
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsMetadata",
      "type": "object",
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc."
    },
    "SasPortalMoveNodeRequest": {
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      },
      "id": "SasPortalMoveNodeRequest",
      "type": "object",
      "description": "Request for MoveNode."
    },
    "SasPortalSignDeviceRequest": {
      "id": "SasPortalSignDeviceRequest",
      "type": "object",
      "description": "Request for SignDevice.",
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      }
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "id": "SasPortalSetupSasAnalyticsResponse",
      "type": "object",
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc.",
      "properties": {}
    },
    "SasPortalNrqzValidation": {
      "description": "Information about National Radio Quiet Zone validation.",
      "id": "SasPortalNrqzValidation",
      "type": "object",
      "properties": {
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Device latitude that's associated with the validation."
        },
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "type": "number",
          "format": "double"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the NRQZ validation info."
        },
        "cpiId": {
          "type": "string",
          "description": "CPI who signed the validation."
        }
      }
    },
    "SasPortalProvisionDeploymentRequest": {
      "properties": {
        "newDeploymentDisplayName": {
          "type": "string",
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field."
        },
        "organizationId": {
          "type": "string",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id.",
          "format": "int64"
        },
        "newOrganizationDisplayName": {
          "type": "string",
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field."
        }
      },
      "id": "SasPortalProvisionDeploymentRequest",
      "type": "object",
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment."
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "type": "object",
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "properties": {
        "lowFrequencyMhz": {
          "type": "number",
          "description": "The lowest frequency of the frequency range in MHz.",
          "format": "double"
        },
        "highFrequencyMhz": {
          "format": "double",
          "description": "The highest frequency of the frequency range in MHz.",
          "type": "number"
        }
      }
    },
    "SasPortalSetPolicyRequest": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy."
        },
        "policy": {
          "$ref": "SasPortalPolicy",
          "description": "Required. The policy to be applied to the `resource`."
        },
        "disableNotification": {
          "type": "boolean",
          "description": "Optional. Set the field as `true` to disable the onboarding notification."
        }
      },
      "description": "Request message for `SetPolicy` method.",
      "id": "SasPortalSetPolicyRequest",
      "type": "object"
    },
    "SasPortalProvisionDeploymentResponse": {
      "id": "SasPortalProvisionDeploymentResponse",
      "type": "object",
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "properties": {
        "errorMessage": {
          "description": "Optional. Optional error message if the provisioning request is not successful.",
          "type": "string"
        }
      }
    },
    "SasPortalOrganization": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "Id of organization",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name of organization"
        }
      },
      "id": "SasPortalOrganization",
      "type": "object",
      "description": "Organization details."
    },
    "SasPortalListDeploymentsResponse": {
      "id": "SasPortalListDeploymentsResponse",
      "type": "object",
      "description": "Response for ListDeployments.",
      "properties": {
        "deployments": {
          "type": "array",
          "description": "The deployments that match the request.",
          "items": {
            "$ref": "SasPortalDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments.",
          "type": "string"
        }
      }
    },
    "SasPortalDeployment": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name."
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "frns": {
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "sasUserIds": {
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The Deployment.",
      "id": "SasPortalDeployment",
      "type": "object"
    },
    "SasPortalTestPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A set of permissions that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestPermissions` method.",
      "id": "SasPortalTestPermissionsResponse",
      "type": "object"
    },
    "SasPortalGenerateSecretResponse": {
      "id": "SasPortalGenerateSecretResponse",
      "type": "object",
      "description": "Response for GenerateSecret.",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      }
    },
    "SasPortalListDevicesResponse": {
      "id": "SasPortalListDevicesResponse",
      "type": "object",
      "description": "Response for ListDevices.",
      "properties": {
        "devices": {
          "type": "array",
          "description": "The devices that match the request.",
          "items": {
            "$ref": "SasPortalDevice"
          }
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        }
      }
    },
    "SasPortalDeviceConfig": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "The identifier of a device user."
        },
        "callSign": {
          "type": "string",
          "description": "The call sign of the device operator."
        },
        "airInterface": {
          "$ref": "SasPortalDeviceAirInterface",
          "description": "Information about this device's air interface."
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ],
          "description": "State of the configuration."
        },
        "category": {
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "description": "FCC category of the device.",
          "type": "string",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ]
        },
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "items": {
            "type": "string",
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time the device configuration was edited."
        },
        "model": {
          "$ref": "SasPortalDeviceModel",
          "description": "Information about this device model."
        },
        "installationParams": {
          "$ref": "SasPortalInstallationParams",
          "description": "Installation parameters for the device."
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        }
      },
      "id": "SasPortalDeviceConfig",
      "type": "object",
      "description": "Information about the device configuration."
    }
  },
  "resources": {
    "deployments": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^deployments/[^/]+$",
              "location": "path",
              "description": "Required. The name of the deployment.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "sasportal.deployments.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns a requested deployment.",
          "path": "v1alpha1/{+name}"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "description": "Gets details about a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device."
                }
              },
              "id": "sasportal.deployments.devices.get",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "signDevice": {
              "description": "Signs a device.",
              "path": "v1alpha1/{+name}:signDevice",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.deployments.devices.signDevice",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              }
            },
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:updateSigned",
              "description": "Updates a signed device.",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to update.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "sasportal.deployments.devices.updateSigned"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.deployments.devices.delete",
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Updates a device.",
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "id": "sasportal.deployments.devices.patch"
            },
            "move": {
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a device under another node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the device to move.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "id": "sasportal.deployments.devices.move",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "nodes": {
      "methods": {
        "get": {
          "flatPath": "v1alpha1/nodes/{nodesId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalNode"
          },
          "id": "sasportal.nodes.get",
          "parameters": {
            "name": {
              "pattern": "^nodes/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the node.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Returns a requested node.",
          "path": "v1alpha1/{+name}"
        }
      },
      "resources": {
        "nodes": {
          "methods": {
            "get": {
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalNode"
              },
              "id": "sasportal.nodes.nodes.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Returns a requested node."
            },
            "list": {
              "response": {
                "$ref": "SasPortalListNodesResponse"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "sasportal.nodes.nodes.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Lists nodes.",
              "path": "v1alpha1/{+parent}/nodes"
            },
            "delete": {
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.nodes.nodes.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Deletes a node."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing node.",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Resource name."
                }
              },
              "id": "sasportal.nodes.nodes.patch"
            },
            "create": {
              "path": "v1alpha1/{+parent}/nodes",
              "description": "Creates a new node.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name where the node is to be created.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+$",
                  "required": true
                }
              },
              "id": "sasportal.nodes.nodes.create",
              "request": {
                "$ref": "SasPortalNode"
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes",
              "parameterOrder": [
                "parent"
              ]
            },
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a node under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}:move",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the node to move.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                  "required": true
                }
              },
              "id": "sasportal.nodes.nodes.move"
            }
          },
          "resources": {
            "nodes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, for example, \"nodes/1\".",
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "sasportal.nodes.nodes.nodes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Lists nodes."
                },
                "create": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "id": "sasportal.nodes.nodes.nodes.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Creates a new node."
                }
              }
            },
            "devices": {
              "methods": {
                "createSigned": {
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "id": "sasportal.nodes.nodes.devices.createSigned",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "create": {
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "sasportal.nodes.nodes.devices.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Creates a device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "id": "sasportal.nodes.nodes.devices.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "sasportal.nodes.nodes.deployments.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "description": "Creates a new deployment."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "description": "Lists deployments.",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/nodes/{nodesId1}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^nodes/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of deployments to return in the response."
                    }
                  },
                  "id": "sasportal.nodes.nodes.deployments.list"
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "description": "Gets details about a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$"
                }
              },
              "id": "sasportal.nodes.devices.get",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1alpha1/{+parent}/devices",
              "description": "Lists devices under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^nodes/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "location": "query"
                }
              },
              "id": "sasportal.nodes.devices.list",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "parameterOrder": [
                "parent"
              ]
            },
            "createSigned": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices:createSigned",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "id": "sasportal.nodes.devices.createSigned",
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent resource.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a signed device under a node or customer.",
              "path": "v1alpha1/{+parent}/devices:createSigned"
            },
            "delete": {
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.nodes.devices.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Deletes a device."
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^nodes/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "sasportal.nodes.devices.create",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a device under a node or customer.",
              "path": "v1alpha1/{+parent}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "signDevice": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:signDevice",
              "description": "Signs a device.",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:signDevice",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.nodes.devices.signDevice",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path"
                }
              }
            },
            "updateSigned": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates a signed device.",
              "path": "v1alpha1/{+name}:updateSigned",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:updateSigned",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "id": "sasportal.nodes.devices.updateSigned",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the device to update.",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "description": "Updates a device.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.devices.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Fields to be updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The resource path name."
                }
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDevice"
              },
              "response": {
                "$ref": "SasPortalDevice"
              }
            },
            "move": {
              "description": "Moves a device under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "sasportal.nodes.devices.move",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^nodes/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to move.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/nodes/{nodesId}/devices/{devicesId}:move",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalOperation"
              },
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "delete": {
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "id": "sasportal.nodes.deployments.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Deletes a deployment."
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "description": "Returns a requested deployment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment.",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "id": "sasportal.nodes.deployments.get",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^nodes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of deployments to return in the response."
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "sasportal.nodes.deployments.list",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists deployments.",
              "path": "v1alpha1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "move": {
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}:move",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "id": "sasportal.nodes.deployments.move",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a deployment under another node or customer."
            },
            "patch": {
              "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "id": "sasportal.nodes.deployments.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Output only. Resource name.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing deployment."
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from."
                    }
                  },
                  "id": "sasportal.nodes.deployments.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "description": "Lists devices under a node or customer."
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "location": "path",
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "sasportal.nodes.deployments.devices.create",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/devices",
                  "description": "Creates a device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                },
                "createSigned": {
                  "id": "sasportal.nodes.deployments.devices.createSigned",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^nodes/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the parent resource.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/nodes/{nodesId}/deployments/{deploymentsId}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "description": "Creates a signed device under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/policies:set",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "request": {
            "$ref": "SasPortalSetPolicyRequest"
          },
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "flatPath": "v1alpha1/policies:set",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "id": "sasportal.policies.set"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "v1alpha1/policies:get",
          "flatPath": "v1alpha1/policies:get",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalPolicy"
          },
          "request": {
            "$ref": "SasPortalGetPolicyRequest"
          },
          "id": "sasportal.policies.get",
          "parameters": {},
          "httpMethod": "POST"
        },
        "test": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/policies:test",
          "description": "Returns permissions that a caller has on the specified resource.",
          "flatPath": "v1alpha1/policies:test",
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalTestPermissionsRequest"
          },
          "response": {
            "$ref": "SasPortalTestPermissionsResponse"
          },
          "id": "sasportal.policies.test",
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    },
    "installer": {
      "methods": {
        "generateSecret": {
          "flatPath": "v1alpha1/installer:generateSecret",
          "parameterOrder": [],
          "response": {
            "$ref": "SasPortalGenerateSecretResponse"
          },
          "request": {
            "$ref": "SasPortalGenerateSecretRequest"
          },
          "id": "sasportal.installer.generateSecret",
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "description": "Generates a secret to be used with the ValidateInstaller.",
          "path": "v1alpha1/installer:generateSecret"
        },
        "validate": {
          "parameters": {},
          "httpMethod": "POST",
          "id": "sasportal.installer.validate",
          "response": {
            "$ref": "SasPortalValidateInstallerResponse"
          },
          "request": {
            "$ref": "SasPortalValidateInstallerRequest"
          },
          "flatPath": "v1alpha1/installer:validate",
          "parameterOrder": [],
          "description": "Validates the identity of a Certified Professional Installer (CPI).",
          "path": "v1alpha1/installer:validate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ]
        }
      }
    },
    "customers": {
      "methods": {
        "get": {
          "id": "sasportal.customers.get",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^customers/[^/]+$",
              "location": "path",
              "description": "Required. The name of the customer.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha1/customers/{customersId}",
          "parameterOrder": [
            "name"
          ],
[...]
