{
  "rootUrl": "https://script.googleapis.com/",
  "baseUrl": "https://script.googleapis.com/",
  "version": "v1",
  "id": "script:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260803",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Script",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "servicePath": "",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "methods": {
        "get": {
          "path": "v1/projects/{scriptId}",
          "httpMethod": "GET",
          "id": "script.projects.get",
          "flatPath": "v1/projects/{scriptId}",
          "description": "Gets a script project's metadata.",
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "response": {
            "$ref": "Project"
          }
        },
        "create": {
          "path": "v1/projects",
          "id": "script.projects.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1/projects",
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ]
        },
        "getContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            },
            "versionNumber": {
              "type": "integer",
              "format": "int32",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "location": "query"
            }
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "response": {
            "$ref": "Content"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "path": "v1/projects/{scriptId}/content",
          "id": "script.projects.getContent",
          "httpMethod": "GET"
        },
        "getMetrics": {
          "response": {
            "$ref": "Metrics"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "parameters": {
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query",
              "type": "string"
            },
            "metricsGranularity": {
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "type": "string",
              "description": "Required field indicating what granularity of metrics are returned.",
              "location": "query",
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ]
            },
            "scriptId": {
              "type": "string",
              "description": "Required field indicating the script to get metrics for.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/projects/{scriptId}/metrics",
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "id": "script.projects.getMetrics",
          "httpMethod": "GET",
          "path": "v1/projects/{scriptId}/metrics"
        },
        "updateContent": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "Content"
          },
          "id": "script.projects.updateContent",
          "path": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "response": {
            "$ref": "Content"
          },
          "flatPath": "v1/projects/{scriptId}/content",
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "type": "string",
              "description": "The script project's Drive ID.",
              "location": "path",
              "required": true
            }
          }
        }
      },
      "resources": {
        "versions": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Version"
              },
              "id": "script.projects.versions.create",
              "path": "v1/projects/{scriptId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "response": {
                "$ref": "Version"
              },
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId"
              ]
            },
            "list": {
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "List the versions of a script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "path": "v1/projects/{scriptId}/versions",
              "httpMethod": "GET",
              "id": "script.projects.versions.list"
            },
            "get": {
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "parameters": {
                "versionNumber": {
                  "required": true,
                  "description": "The version number.",
                  "location": "path",
                  "type": "integer",
                  "format": "int32"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "description": "Gets a version of a script project.",
              "id": "script.projects.versions.get",
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/versions/{versionNumber}"
            }
          }
        },
        "deployments": {
          "methods": {
            "update": {
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Updates a deployment of an Apps Script project.",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "deploymentId": {
                  "description": "The deployment ID for this deployment.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "PUT",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "id": "script.projects.deployments.update"
            },
            "delete": {
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Deletes a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "deploymentId": {
                  "type": "string",
                  "description": "The deployment ID to be undeployed.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "httpMethod": "DELETE",
              "id": "script.projects.deployments.delete"
            },
            "get": {
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                },
                "deploymentId": {
                  "type": "string",
                  "description": "The deployment ID.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Gets a deployment of an Apps Script project.",
              "id": "script.projects.deployments.get",
              "httpMethod": "GET",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}"
            },
            "create": {
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Creates a deployment of an Apps Script project.",
              "id": "script.projects.deployments.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "path": "v1/projects/{scriptId}/deployments"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Lists the deployments of an Apps Script project.",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "path": "v1/projects/{scriptId}/deployments",
              "id": "script.projects.deployments.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "path": "v1/processes",
          "httpMethod": "GET",
          "id": "script.processes.list",
          "flatPath": "v1/processes",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "parameters": {
            "userProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.statuses": {
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "type": "string",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "repeated": true
            },
            "userProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "type": "string"
            },
            "userProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "type": "string",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "repeated": true
            },
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query"
            },
            "userProcessFilter.scriptId": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query"
            },
            "userProcessFilter.startTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query"
            },
            "userProcessFilter.endTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query"
            },
            "userProcessFilter.projectName": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "response": {
            "$ref": "ListUserProcessesResponse"
          }
        },
        "listScriptProcesses": {
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.statuses": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ]
            },
            "scriptProcessFilter.types": {
              "repeated": true,
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "scriptProcessFilter.endTime": {
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "type": "string",
              "format": "google-datetime"
            },
            "scriptId": {
              "description": "The script ID of the project whose processes are listed.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "scriptProcessFilter.userAccessLevels": {
              "repeated": true,
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "type": "string",
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ]
            },
            "scriptProcessFilter.startTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query"
            },
            "scriptProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/processes:listScriptProcesses",
          "description": "List information about a script's executed processes, such as process type and current status.",
          "id": "script.processes.listScriptProcesses",
          "httpMethod": "GET",
          "path": "v1/processes:listScriptProcesses"
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "id": "script.scripts.run",
          "httpMethod": "POST",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "path": "v1/scripts/{scriptId}:run",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "flatPath": "v1/scripts/{scriptId}:run",
          "description": ""
        }
      }
    }
  },
  "name": "script",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        }
      }
    }
  },
  "schemas": {
    "ExecutionResponse": {
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "type": "object",
      "id": "ExecutionResponse",
      "properties": {
        "result": {
          "type": "any",
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."
        }
      }
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "properties": {
        "addOnType": {
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types.",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The add-on's optional description."
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "helpUrl": {
          "type": "string",
          "description": "The add-on's optional help URL."
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "type": "string",
          "description": "The add-on's required post install tip URL."
        }
      },
      "type": "object",
      "description": "An add-on entry point."
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "type": "string",
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created."
        }
      },
      "type": "object",
      "description": "Request to create a script project."
    },
    "Project": {
      "type": "object",
      "id": "Project",
      "properties": {
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was created."
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the script was last updated."
        }
      },
      "description": "The script project resource."
    },
    "Version": {
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object",
      "id": "Version",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created."
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        },
        "createTime": {
          "description": "When the version was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        },
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        }
      },
      "type": "object",
      "description": "Response with the list of deployments for the specified Apps Script project."
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "description": "A set of functions. No duplicates are permitted.",
      "id": "GoogleAppsScriptTypeFunctionSet",
      "properties": {
        "values": {
          "description": "A list of functions composing the set.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      },
      "type": "object"
    },
    "ListVersionsResponse": {
      "description": "Response with the list of the versions for the specified script project.",
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "description": "The list of versions.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Deployment": {
      "description": "Representation of a single script deployment.",
      "type": "object",
      "id": "Deployment",
      "properties": {
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        },
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        },
        "entryPoints": {
          "description": "The deployment's entry points.",
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date time stamp."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ExecutionError": {
      "id": "ExecutionError",
      "properties": {
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        },
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "type": "array",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        }
      },
      "type": "object",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects."
    },
    "Metrics": {
      "type": "object",
      "id": "Metrics",
      "properties": {
        "activeUsers": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of active users."
        },
        "totalExecutions": {
          "description": "Number of total executions.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions."
        }
      },
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request."
    },
    "Operation": {
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed."
        }
      }
    },
    "MetricsValue": {
      "description": "Metrics value that holds number of executions counted.",
      "type": "object",
      "id": "MetricsValue",
      "properties": {
        "value": {
          "type": "string",
          "format": "uint64",
          "description": "Indicates the number of executions counted."
        },
        "endTime": {
          "description": "Required field indicating the end time of the interval.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required field indicating the start time of the interval.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "properties": {
        "access": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the API executable.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "type": "object",
      "description": "API executable entry point configuration."
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "description": "An API executable entry point.",
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "properties": {
        "access": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the web app.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "type": "string"
        },
        "executeAs": {
          "type": "string",
          "description": "Who to execute the web app as.",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ]
        }
      },
      "type": "object",
      "description": "Web app entry point configuration."
    },
    "GoogleAppsScriptTypeProcess": {
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "id": "GoogleAppsScriptTypeProcess",
      "properties": {
        "processType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "description": "The executions type.",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ]
        },
        "processStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "description": "The executions status.",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "type": "string"
        },
        "duration": {
          "description": "Duration the execution spent executing.",
          "type": "string",
          "format": "google-duration"
        },
        "projectName": {
          "type": "string",
          "description": "Name of the script being executed."
        },
        "runtimeVersion": {
          "type": "string",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "description": "Which version of maestro to use to execute the script.",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ]
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "userAccessLevel": {
          "description": "The executing users access level to the script.",
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the execution started."
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeFunction": {
      "type": "object",
      "id": "GoogleAppsScriptTypeFunction",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ordered list of parameter names of the function in the script project."
        }
      },
      "description": "Represents a function in a script project."
    },
    "ListScriptProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "id": "ListScriptProcessesResponse",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Content": {
      "type": "object",
      "id": "Content",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "description": "The Content resource."
    },
    "DeploymentConfig": {
      "id": "DeploymentConfig",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The version number on which this deployment is based."
        },
        "manifestFileName": {
          "type": "string",
          "description": "The manifest file name for this deployment."
        },
        "description": {
          "description": "The description for this deployment.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata the defines how a deployment is configured."
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "id": "UpdateDeploymentRequest",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "description": "Request with deployment information to update an existing deployment."
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "description": "A web application entry point.",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        },
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntryPoint": {
      "description": "A configuration that defines how a deployment is accessed externally.",
      "id": "EntryPoint",
      "properties": {
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        },
        "entryPointType": {
          "description": "The type of the entry point.",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "type": "string"
        },
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        }
      },
      "type": "object"
    },
    "File": {
      "type": "object",
      "id": "File",
      "properties": {
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "createTime": {
          "description": "Creation date timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "description": "The type of the file.",
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ]
        },
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last modified date timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. "
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object."
    },
    "ListUserProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "type": "object",
      "id": "ListUserProcessesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "description": "List of processes matching request parameters."
        }
      }
    },
    "ExecutionRequest": {
      "type": "object",
      "id": "ExecutionRequest",
      "properties": {
        "function": {
          "type": "string",
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`."
        },
        "devMode": {
          "type": "boolean",
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`."
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional."
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        }
      },
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script."
    },
    "ScriptStackTraceElement": {
      "id": "ScriptStackTraceElement",
      "properties": {
        "lineNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The line number where the script failed."
        },
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A stack trace through the script that shows where the execution failed."
    },
    "GoogleAppsScriptTypeUser": {
      "description": "A simple user profile resource.",
      "id": "GoogleAppsScriptTypeUser",
      "properties": {
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The user's domain."
        },
        "name": {
          "type": "string",
          "description": "The user's display name."
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        }
      },
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Manages and executes Google Apps Script projects. ",
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Apps Script API"
}