{
  "title": "Apps Script API",
  "baseUrl": "https://script.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "Manages and executes Google Apps Script projects. ",
  "name": "script",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20260712",
  "basePath": "",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "version": "v1",
  "rootUrl": "https://script.googleapis.com/",
  "id": "script:v1",
  "servicePath": "",
  "batchPath": "batch",
  "canonicalName": "Script",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "resources": {
    "scripts": {
      "methods": {
        "run": {
          "parameters": {
            "scriptId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID."
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "request": {
            "$ref": "ExecutionRequest"
          },
          "id": "script.scripts.run",
          "httpMethod": "POST",
          "description": "",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/scripts/{scriptId}:run",
          "flatPath": "v1/scripts/{scriptId}:run"
        }
      }
    },
    "processes": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "parameters": {
            "userProcessFilter.startTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32"
            },
            "userProcessFilter.scriptId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID."
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string."
            },
            "userProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "repeated": true,
              "location": "query",
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ]
            },
            "userProcessFilter.statuses": {
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true
            },
            "userProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.userAccessLevels": {
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "userProcessFilter.endTime": {
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/processes",
          "flatPath": "v1/processes",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "id": "script.processes.list",
          "httpMethod": "GET",
          "description": "List information about processes made by or on behalf of a user, such as process type and current status."
        },
        "listScriptProcesses": {
          "parameters": {
            "scriptProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "repeated": true,
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "scriptProcessFilter.types": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            },
            "scriptProcessFilter.statuses": {
              "location": "query",
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses."
            },
            "scriptId": {
              "location": "query",
              "type": "string",
              "description": "The script ID of the project whose processes are listed."
            },
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.endTime": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "id": "script.processes.listScriptProcesses",
          "httpMethod": "GET",
          "description": "List information about a script's executed processes, such as process type and current status.",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "path": "v1/processes:listScriptProcesses",
          "flatPath": "v1/processes:listScriptProcesses"
        }
      }
    },
    "projects": {
      "resources": {
        "deployments": {
          "methods": {
            "create": {
              "path": "v1/projects/{scriptId}/deployments",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.create",
              "httpMethod": "POST",
              "description": "Creates a deployment of an Apps Script project.",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              }
            },
            "update": {
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "parameters": {
                "deploymentId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The deployment ID for this deployment."
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.update",
              "httpMethod": "PUT",
              "description": "Updates a deployment of an Apps Script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ]
            },
            "delete": {
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "deploymentId": {
                  "location": "path",
                  "type": "string",
                  "description": "The deployment ID to be undeployed.",
                  "required": true
                },
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a deployment of an Apps Script project."
            },
            "get": {
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "deploymentId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The deployment ID."
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "response": {
                "$ref": "Deployment"
              },
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Gets a deployment of an Apps Script project.",
              "id": "script.projects.deployments.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ]
            },
            "list": {
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query",
                  "type": "string"
                },
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "format": "int32"
                }
              },
              "path": "v1/projects/{scriptId}/deployments",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "description": "Lists the deployments of an Apps Script project.",
              "id": "script.projects.deployments.list",
              "httpMethod": "GET"
            }
          }
        },
        "versions": {
          "methods": {
            "create": {
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID."
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "Version"
              },
              "path": "v1/projects/{scriptId}/versions",
              "flatPath": "v1/projects/{scriptId}/versions",
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "id": "script.projects.versions.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ]
            },
            "get": {
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true
                },
                "versionNumber": {
                  "description": "The version number.",
                  "format": "int32",
                  "required": true,
                  "location": "path",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "response": {
                "$ref": "Version"
              },
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "id": "script.projects.versions.get",
              "httpMethod": "GET",
              "description": "Gets a version of a script project.",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ]
            },
            "list": {
              "path": "v1/projects/{scriptId}/versions",
              "flatPath": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "id": "script.projects.versions.list",
              "httpMethod": "GET",
              "description": "List the versions of a script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "format": "int32"
                }
              }
            }
          }
        }
      },
      "methods": {
        "getMetrics": {
          "path": "v1/projects/{scriptId}/metrics",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "response": {
            "$ref": "Metrics"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "id": "script.projects.getMetrics",
          "httpMethod": "GET",
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required field indicating the script to get metrics for."
            },
            "metricsGranularity": {
              "description": "Required field indicating what granularity of metrics are returned.",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "type": "string"
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "getContent": {
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script project's Drive ID.",
              "location": "path",
              "type": "string"
            },
            "versionNumber": {
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "v1/projects/{scriptId}/content",
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "id": "script.projects.getContent",
          "httpMethod": "GET",
          "description": "Gets the content of the script project, including the code source and metadata for each script file."
        },
        "create": {
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "id": "script.projects.create",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "response": {
            "$ref": "Project"
          },
          "path": "v1/projects",
          "flatPath": "v1/projects"
        },
        "updateContent": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "id": "script.projects.updateContent",
          "httpMethod": "PUT",
          "path": "v1/projects/{scriptId}/content",
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Content"
          }
        },
        "get": {
          "path": "v1/projects/{scriptId}",
          "flatPath": "v1/projects/{scriptId}",
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "id": "script.projects.get",
          "httpMethod": "GET",
          "description": "Gets a script project's metadata.",
          "parameterOrder": [
            "scriptId"
          ],
          "parameters": {
            "scriptId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The script project's Drive ID."
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleAppsScriptTypeWebAppConfig": {
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "description": "Web app entry point configuration.",
      "properties": {
        "access": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "description": "Who has permission to run the web app."
        },
        "executeAs": {
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "description": "Who to execute the web app as."
        }
      }
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "properties": {
        "manifestFileName": {
          "description": "The manifest file name for this deployment.",
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "description": "The version number on which this deployment is based.",
          "format": "int32"
        },
        "description": {
          "description": "The description for this deployment.",
          "type": "string"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      },
      "id": "DeploymentConfig",
      "type": "object"
    },
    "Metrics": {
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "properties": {
        "totalExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of total executions."
        },
        "activeUsers": {
          "description": "Number of active users.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions."
        }
      },
      "id": "Metrics",
      "type": "object"
    },
    "Version": {
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description for this version."
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "createTime": {
          "type": "string",
          "description": "When the version was created.",
          "format": "google-datetime"
        },
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Version",
      "type": "object"
    },
    "GoogleAppsScriptTypeUser": {
      "description": "A simple user profile resource.",
      "properties": {
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "name": {
          "description": "The user's display name.",
          "type": "string"
        },
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo."
        }
      },
      "id": "GoogleAppsScriptTypeUser",
      "type": "object"
    },
    "File": {
      "type": "object",
      "id": "File",
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "description": "The type of the file."
        },
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "updateTime": {
          "description": "Last modified date timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "createTime": {
          "type": "string",
          "description": "Creation date timestamp.",
          "format": "google-datetime"
        },
        "functionSet": {
          "$ref": "GoogleAppsScriptTypeFunctionSet",
          "description": "The defined set of functions in the script file, if any."
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        }
      }
    },
    "ListUserProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "id": "ListUserProcessesResponse",
      "type": "object"
    },
    "ExecutionRequest": {
      "id": "ExecutionRequest",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "properties": {
        "function": {
          "type": "string",
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`."
        },
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "description": "A web application entry point.",
      "properties": {
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        },
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "description": "Representation of a single script deployment.",
      "properties": {
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        },
        "entryPoints": {
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          },
          "description": "The deployment's entry points."
        },
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "updateTime": {
          "type": "string",
          "description": "Last modified date time stamp.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "description": "A stack trace through the script that shows where the execution failed.",
      "properties": {
        "lineNumber": {
          "description": "The line number where the script failed.",
          "format": "int32",
          "type": "integer"
        },
        "function": {
          "type": "string",
          "description": "The name of the function that failed."
        }
      },
      "id": "ScriptStackTraceElement",
      "type": "object"
    },
    "ExecutionResponse": {
      "type": "object",
      "id": "ExecutionResponse",
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "properties": {
        "result": {
          "type": "any",
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`."
        }
      }
    },
    "ListVersionsResponse": {
      "type": "object",
      "id": "ListVersionsResponse",
      "description": "Response with the list of the versions for the specified script project.",
      "properties": {
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions."
        }
      }
    },
    "Project": {
      "description": "The script project resource.",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "When the script was last updated.",
          "format": "google-datetime"
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "createTime": {
          "type": "string",
          "description": "When the script was created.",
          "format": "google-datetime"
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        }
      },
      "id": "Project",
      "type": "object"
    },
    "Content": {
      "type": "object",
      "description": "The Content resource.",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project."
        }
      },
      "id": "Content"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "type": "object",
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "properties": {
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "addOnType": {
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "description": "The add-on's required list of supported container types."
        },
        "reportIssueUrl": {
          "type": "string",
          "description": "The add-on's optional report issue URL."
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The add-on's required title."
        }
      }
    },
    "GoogleAppsScriptTypeFunction": {
      "type": "object",
      "id": "GoogleAppsScriptTypeFunction",
      "description": "Represents a function in a script project.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The function name in the script project."
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "description": "API executable entry point configuration.",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "description": "An API executable entry point.",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "type": "object"
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "description": "Metrics value that holds number of executions counted.",
      "properties": {
        "startTime": {
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Required field indicating the end time of the interval.",
          "format": "google-datetime",
          "type": "string"
        },
        "value": {
          "description": "Indicates the number of executions counted.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "properties": {
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntryPoint": {
      "description": "A configuration that defines how a deployment is accessed externally.",
      "properties": {
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        },
        "entryPointType": {
          "description": "The type of the entry point.",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ]
        },
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        }
      },
      "id": "EntryPoint",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "properties": {
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ExecutionError": {
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "properties": {
        "scriptStackTraceElements": {
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "type": "array",
          "items": {
            "$ref": "ScriptStackTraceElement"
          }
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        },
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        }
      },
      "id": "ExecutionError",
      "type": "object"
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "description": "A set of functions. No duplicates are permitted.",
      "properties": {
        "values": {
          "description": "A list of functions composing the set.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      },
      "type": "object"
    },
    "ListScriptProcessesResponse": {
      "id": "ListScriptProcessesResponse",
      "description": "Response with the list of Process resources.",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeProcess": {
      "type": "object",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "properties": {
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "processType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "description": "The executions type."
        },
        "duration": {
          "type": "string",
          "description": "Duration the execution spent executing.",
          "format": "google-duration"
        },
        "runtimeVersion": {
          "description": "Which version of maestro to use to execute the script.",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "type": "string",
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ]
        },
        "userAccessLevel": {
          "type": "string",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "description": "The executing users access level to the script."
        },
        "startTime": {
          "description": "Time the execution started.",
          "format": "google-datetime",
          "type": "string"
        },
        "processStatus": {
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "description": "The executions status."
        }
      },
      "id": "GoogleAppsScriptTypeProcess"
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "description": "Request to create a script project.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for the project."
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateDeploymentRequest": {
      "type": "object",
      "description": "Request with deployment information to update an existing deployment.",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      },
      "id": "UpdateDeploymentRequest"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    }
  },
  "kind": "discovery#restDescription"
}