{
  "baseUrl": "https://script.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Apps Script API",
  "version": "v1",
  "canonicalName": "Script",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "name": "script",
  "description": "Manages and executes Google Apps Script projects. ",
  "kind": "discovery#restDescription",
  "resources": {
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "httpMethod": "GET",
          "parameters": {
            "scriptProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            },
            "scriptProcessFilter.userAccessLevels": {
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ]
            },
            "scriptProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "scriptProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "type": "string",
              "format": "google-datetime"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "scriptId": {
              "description": "The script ID of the project whose processes are listed.",
              "location": "query",
              "type": "string"
            },
            "scriptProcessFilter.statuses": {
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ]
            },
            "scriptProcessFilter.endTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "description": "List information about a script's executed processes, such as process type and current status.",
          "id": "script.processes.listScriptProcesses",
          "flatPath": "v1/processes:listScriptProcesses",
          "path": "v1/processes:listScriptProcesses",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "userProcessFilter.deploymentId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.scriptId": {
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.projectName": {
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.userAccessLevels": {
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "userProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            },
            "userProcessFilter.startTime": {
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "location": "query",
              "type": "string",
              "format": "google-datetime"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.endTime": {
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query",
              "type": "string"
            },
            "userProcessFilter.statuses": {
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ]
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "id": "script.processes.list",
          "flatPath": "v1/processes",
          "path": "v1/processes",
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ]
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "path": "v1/scripts/{scriptId}:run",
          "request": {
            "$ref": "ExecutionRequest"
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "id": "script.scripts.run",
          "flatPath": "v1/scripts/{scriptId}:run",
          "description": "",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "getMetrics": {
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "description": "Required field indicating the script to get metrics for.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "metricsGranularity": {
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required field indicating what granularity of metrics are returned.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ]
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "response": {
            "$ref": "Metrics"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ],
          "path": "v1/projects/{scriptId}/metrics",
          "id": "script.projects.getMetrics",
          "flatPath": "v1/projects/{scriptId}/metrics"
        },
        "updateContent": {
          "httpMethod": "PUT",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project.",
          "response": {
            "$ref": "Content"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "path": "v1/projects/{scriptId}/content",
          "request": {
            "$ref": "Content"
          },
          "id": "script.projects.updateContent",
          "flatPath": "v1/projects/{scriptId}/content"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "path": "v1/projects",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "id": "script.projects.create",
          "flatPath": "v1/projects",
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "response": {
            "$ref": "Project"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "The script project's Drive ID.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "response": {
            "$ref": "Project"
          },
          "description": "Gets a script project's metadata.",
          "id": "script.projects.get",
          "flatPath": "v1/projects/{scriptId}",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "path": "v1/projects/{scriptId}"
        },
        "getContent": {
          "httpMethod": "GET",
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "versionNumber": {
              "format": "int32",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "location": "query",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "response": {
            "$ref": "Content"
          },
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "id": "script.projects.getContent",
          "flatPath": "v1/projects/{scriptId}/content",
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "path": "v1/projects/{scriptId}/content"
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "create": {
              "path": "v1/projects/{scriptId}/deployments",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "id": "script.projects.deployments.create",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "description": "Creates a deployment of an Apps Script project.",
              "response": {
                "$ref": "Deployment"
              },
              "httpMethod": "POST",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId"
              ]
            },
            "update": {
              "response": {
                "$ref": "Deployment"
              },
              "description": "Updates a deployment of an Apps Script project.",
              "httpMethod": "PUT",
              "parameters": {
                "deploymentId": {
                  "required": true,
                  "description": "The deployment ID for this deployment.",
                  "location": "path",
                  "type": "string"
                },
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "id": "script.projects.deployments.update",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "request": {
                "$ref": "UpdateDeploymentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ]
            },
            "delete": {
              "id": "script.projects.deployments.delete",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID to be undeployed.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a deployment of an Apps Script project."
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "response": {
                "$ref": "ListDeploymentsResponse"
              },
              "description": "Lists the deployments of an Apps Script project.",
              "id": "script.projects.deployments.list",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "path": "v1/projects/{scriptId}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "description": "Gets a deployment of an Apps Script project.",
              "response": {
                "$ref": "Deployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.get",
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}"
            }
          }
        },
        "versions": {
          "methods": {
            "get": {
              "id": "script.projects.versions.get",
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "httpMethod": "GET",
              "parameters": {
                "scriptId": {
                  "required": true,
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string"
                },
                "versionNumber": {
                  "format": "int32",
                  "description": "The version number.",
                  "location": "path",
                  "type": "integer",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "response": {
                "$ref": "Version"
              },
              "description": "Gets a version of a script project."
            },
            "list": {
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "description": "List the versions of a script project.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "id": "script.projects.versions.list",
              "flatPath": "v1/projects/{scriptId}/versions",
              "path": "v1/projects/{scriptId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ]
            },
            "create": {
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "response": {
                "$ref": "Version"
              },
              "httpMethod": "POST",
              "parameters": {
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "scriptId"
              ],
              "path": "v1/projects/{scriptId}/versions",
              "request": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "id": "script.projects.versions.create",
              "flatPath": "v1/projects/{scriptId}/versions"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "protocol": "rest",
  "rootUrl": "https://script.googleapis.com/",
  "revision": "20260719",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "GoogleAppsScriptTypeFunction": {
      "id": "GoogleAppsScriptTypeFunction",
      "properties": {
        "parameters": {
          "items": {
            "type": "string"
          },
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array"
        },
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        }
      },
      "description": "Represents a function in a script project.",
      "type": "object"
    },
    "ExecutionError": {
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "type": "object",
      "id": "ExecutionError",
      "properties": {
        "scriptStackTraceElements": {
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "type": "array"
        },
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message thrown by Apps Script, usually localized into the user's language.",
          "type": "string"
        }
      }
    },
    "ExecutionResponse": {
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "type": "object",
      "id": "ExecutionResponse",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      }
    },
    "ListScriptProcessesResponse": {
      "id": "ListScriptProcessesResponse",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "description": "Response with the list of Process resources.",
      "type": "object"
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "type": "object",
      "id": "DeploymentConfig",
      "properties": {
        "versionNumber": {
          "format": "int32",
          "description": "The version number on which this deployment is based.",
          "type": "integer"
        },
        "description": {
          "description": "The description for this deployment.",
          "type": "string"
        },
        "manifestFileName": {
          "description": "The manifest file name for this deployment.",
          "type": "string"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      }
    },
    "Metrics": {
      "id": "Metrics",
      "properties": {
        "failedExecutions": {
          "description": "Number of failed executions.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "activeUsers": {
          "description": "Number of active users.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "totalExecutions": {
          "description": "Number of total executions.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        }
      },
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "type": "object"
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created.",
          "type": "string"
        }
      },
      "description": "Request to create a script project.",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "description": "A web application entry point.",
      "type": "object",
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "properties": {
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        },
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeWebAppConfig"
        }
      }
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "id": "GoogleAppsScriptTypeFunctionSet",
      "properties": {
        "values": {
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          },
          "description": "A list of functions composing the set.",
          "type": "array"
        }
      },
      "description": "A set of functions. No duplicates are permitted.",
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "id": "ScriptStackTraceElement",
      "properties": {
        "lineNumber": {
          "description": "The line number where the script failed.",
          "type": "integer",
          "format": "int32"
        },
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        }
      },
      "description": "A stack trace through the script that shows where the execution failed.",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token that can be used in the next call to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "type": "object"
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "description": "The list of versions.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        }
      },
      "description": "Response with the list of the versions for the specified script project.",
      "type": "object"
    },
    "Deployment": {
      "id": "Deployment",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "deploymentId": {
          "description": "The deployment ID for this deployment.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last modified date time stamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "entryPoints": {
          "description": "The deployment's entry points.",
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          }
        }
      },
      "description": "Representation of a single script deployment.",
      "type": "object"
    },
    "Project": {
      "id": "Project",
      "properties": {
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "lastModifyUser": {
          "description": "User who last modified the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "description": "User who originally created the script.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "title": {
          "description": "The title for the project.",
          "type": "string"
        }
      },
      "description": "The script project resource.",
      "type": "object"
    },
    "File": {
      "id": "File",
      "properties": {
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "name": {
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field.",
          "type": "string"
        },
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "createTime": {
          "description": "Creation date timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "type": {
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "description": "The type of the file.",
          "type": "string",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last modified date timestamp.",
          "type": "string"
        }
      },
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "type": "object"
    },
    "Content": {
      "id": "Content",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array"
        }
      },
      "description": "The Content resource.",
      "type": "object"
    },
    "ListUserProcessesResponse": {
      "id": "ListUserProcessesResponse",
      "properties": {
        "processes": {
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          },
          "description": "List of processes matching request parameters.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "description": "Response with the list of Process resources.",
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "description": "API executable entry point configuration.",
      "type": "object",
      "id": "GoogleAppsScriptTypeExecutionApiConfig",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleAppsScriptTypeUser": {
      "id": "GoogleAppsScriptTypeUser",
      "properties": {
        "email": {
          "description": "The user's identifying email address.",
          "type": "string"
        },
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "name": {
          "description": "The user's display name.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        }
      },
      "description": "A simple user profile resource.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "type": "object"
        }
      },
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "type": "object"
    },
    "Version": {
      "id": "Version",
      "properties": {
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "createTime": {
          "description": "When the version was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "versionNumber": {
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "The description for this version.",
          "type": "string"
        }
      },
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "type": "object"
    },
    "ExecutionRequest": {
      "id": "ExecutionRequest",
      "properties": {
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "sessionState": {
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional.",
          "type": "string"
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        }
      },
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script.",
      "type": "object"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig",
          "description": "The entry point's configuration."
        }
      },
      "description": "An API executable entry point.",
      "type": "object"
    },
    "GoogleAppsScriptTypeProcess": {
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "type": "object",
      "id": "GoogleAppsScriptTypeProcess",
      "properties": {
        "functionName": {
          "description": "Name of the function the started the execution.",
          "type": "string"
        },
        "userAccessLevel": {
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "description": "The executing users access level to the script.",
          "type": "string",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ]
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration the execution spent executing.",
          "type": "string"
        },
        "processType": {
          "description": "The executions type.",
          "type": "string",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the execution started.",
          "type": "string"
        },
        "runtimeVersion": {
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ],
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "description": "Which version of maestro to use to execute the script.",
          "type": "string"
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "processStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "description": "The executions status.",
          "type": "string",
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ]
        }
      }
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "properties": {
        "value": {
          "format": "uint64",
          "description": "Indicates the number of executions counted.",
          "type": "string"
        },
        "startTime": {
          "description": "Required field indicating the start time of the interval.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Required field indicating the end time of the interval.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metrics value that holds number of executions counted.",
      "type": "object"
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "properties": {
        "entryPointType": {
          "description": "The type of the entry point.",
          "type": "string",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ]
        },
        "executionApi": {
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint",
          "description": "An entry point specification for Apps Script API execution calls."
        },
        "webApp": {
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint",
          "description": "An entry point specification for web apps."
        },
        "addOn": {
          "description": "Add-on properties.",
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint"
        }
      },
      "description": "A configuration that defines how a deployment is accessed externally.",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "properties": {
        "access": {
          "description": "Who has permission to run the web app.",
          "type": "string",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ]
        },
        "executeAs": {
          "description": "Who to execute the web app as.",
          "type": "string",
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ]
        }
      },
      "description": "Web app entry point configuration.",
      "type": "object"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "properties": {
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "addOnType": {
          "description": "The add-on's required list of supported container types.",
          "type": "string",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ]
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "reportIssueUrl": {
          "description": "The add-on's optional report issue URL.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        }
      },
      "description": "An add-on entry point.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "type": "object"
    },
    "UpdateDeploymentRequest": {
      "id": "UpdateDeploymentRequest",
      "properties": {
        "deploymentConfig": {
          "description": "The deployment configuration.",
          "$ref": "DeploymentConfig"
        }
      },
      "description": "Request with deployment information to update an existing deployment.",
      "type": "object"
    }
  },
  "id": "script:v1"
}