{
  "batchPath": "batch",
  "revision": "20260902",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "description": "The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)",
  "title": "Google Search Console API",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/webmaster-tools/about",
  "rootUrl": "https://searchconsole.googleapis.com/",
  "name": "searchconsole",
  "ownerDomain": "google.com",
  "canonicalName": "Search Console",
  "schemas": {
    "ResourceIssue": {
      "type": "object",
      "id": "ResourceIssue",
      "description": "Information about a resource with issue.",
      "properties": {
        "blockedResource": {
          "description": "Describes a blocked resource issue.",
          "$ref": "BlockedResource"
        }
      }
    },
    "WmxSitemap": {
      "id": "WmxSitemap",
      "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
      "properties": {
        "lastDownloaded": {
          "type": "string",
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "format": "google-datetime"
        },
        "errors": {
          "format": "int64",
          "type": "string",
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly."
        },
        "contents": {
          "description": "The various content types in the sitemap.",
          "items": {
            "$ref": "WmxSitemapContent"
          },
          "type": "array"
        },
        "path": {
          "description": "The url of the sitemap.",
          "type": "string"
        },
        "lastSubmitted": {
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Unsupported sitemap types.",
            ""
          ],
          "enum": [
            "NOT_SITEMAP",
            "URL_LIST",
            "SITEMAP",
            "RSS_FEED",
            "ATOM_FEED",
            "PATTERN_SITEMAP",
            "OCEANFRONT"
          ],
          "description": "The type of the sitemap. For example: `rssFeed`."
        },
        "warnings": {
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.",
          "format": "int64",
          "type": "string"
        },
        "isPending": {
          "description": "If true, the sitemap has not been processed.",
          "type": "boolean"
        },
        "isSitemapsIndex": {
          "description": "If true, the sitemap is a collection of sitemaps.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SearchAnalyticsQueryResponse": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ApiDataRow"
          },
          "description": "A list of rows grouped by the key values in the order given in the query."
        },
        "responseAggregationType": {
          "description": "How the results were aggregated.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ],
          "type": "string"
        },
        "metadata": {
          "description": "An object that may be returned with your query results, providing context about the state of the data. See details in Metadata object documentation.",
          "$ref": "Metadata"
        }
      },
      "type": "object",
      "id": "SearchAnalyticsQueryResponse",
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter."
    },
    "BlockedResource": {
      "type": "object",
      "id": "BlockedResource",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL of the blocked resource."
        }
      },
      "description": "Blocked resource."
    },
    "MobileFriendlyIssue": {
      "type": "object",
      "description": "Mobile-friendly issue.",
      "properties": {
        "rule": {
          "enumDescriptions": [
            "Unknown rule. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
          ],
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "description": "Rule violated."
        }
      },
      "id": "MobileFriendlyIssue"
    },
    "MobileUsabilityInspectionResult": {
      "type": "object",
      "description": "Mobile-usability inspection results.",
      "id": "MobileUsabilityInspectionResult",
      "properties": {
        "issues": {
          "items": {
            "$ref": "MobileUsabilityIssue"
          },
          "description": "A list of zero or more mobile-usability issues detected for this URL.",
          "type": "array"
        },
        "verdict": {
          "description": "High-level mobile-usability inspection result for this URL.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ]
        }
      }
    },
    "ApiDimensionFilter": {
      "id": "ApiDimensionFilter",
      "properties": {
        "expression": {
          "type": "string"
        },
        "dimension": {
          "type": "string",
          "enum": [
            "QUERY",
            "PAGE",
            "COUNTRY",
            "DEVICE",
            "SEARCH_APPEARANCE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "operator": {
          "enum": [
            "EQUALS",
            "NOT_EQUALS",
            "CONTAINS",
            "NOT_CONTAINS",
            "INCLUDING_REGEX",
            "EXCLUDING_REGEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it.",
      "type": "object"
    },
    "SitemapsListResponse": {
      "id": "SitemapsListResponse",
      "type": "object",
      "description": "List of sitemaps.",
      "properties": {
        "sitemap": {
          "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184).",
          "items": {
            "$ref": "WmxSitemap"
          },
          "type": "array"
        }
      }
    },
    "RichResultsInspectionResult": {
      "description": "Rich-Results inspection result, including any rich results found at this URL.",
      "type": "object",
      "properties": {
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "description": "High-level rich results inspection result for this URL.",
          "type": "string"
        },
        "detectedItems": {
          "items": {
            "$ref": "DetectedItems"
          },
          "type": "array",
          "description": "A list of zero or more rich results detected on this page. Rich results that cannot even be parsed due to syntactic issues will not be listed here."
        }
      },
      "id": "RichResultsInspectionResult"
    },
    "UrlInspectionResult": {
      "type": "object",
      "id": "UrlInspectionResult",
      "properties": {
        "richResultsResult": {
          "description": "Result of the Rich Results analysis. Absent if there are no rich results found.",
          "$ref": "RichResultsInspectionResult"
        },
        "ampResult": {
          "$ref": "AmpInspectionResult",
          "description": "Result of the AMP analysis. Absent if the page is not an AMP page."
        },
        "inspectionResultLink": {
          "type": "string",
          "description": "Link to Search Console URL inspection."
        },
        "mobileUsabilityResult": {
          "description": "Result of the Mobile usability analysis.",
          "$ref": "MobileUsabilityInspectionResult",
          "deprecated": true
        },
        "indexStatusResult": {
          "description": "Result of the index status analysis.",
          "$ref": "IndexStatusInspectionResult"
        }
      },
      "description": "URL inspection result, including all inspection results."
    },
    "IndexStatusInspectionResult": {
      "id": "IndexStatusInspectionResult",
      "properties": {
        "indexingState": {
          "type": "string",
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected in 'robots' meta tag.",
            "Indexing not allowed, 'noindex' detected in 'X-Robots-Tag' http header.",
            "Reserved, no longer in use."
          ],
          "enum": [
            "INDEXING_STATE_UNSPECIFIED",
            "INDEXING_ALLOWED",
            "BLOCKED_BY_META_TAG",
            "BLOCKED_BY_HTTP_HEADER",
            "BLOCKED_BY_ROBOTS_TXT"
          ]
        },
        "sitemap": {
          "description": "Any sitemaps that this URL was listed in, as known by Google. Not guaranteed to be an exhaustive list, especially if Google did not discover this URL through a sitemap. Absent if no sitemaps were found.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "googleCanonical": {
          "type": "string",
          "description": "The URL of the page that Google selected as canonical. If the page was not indexed, this field is absent."
        },
        "referringUrls": {
          "description": "URLs that link to the inspected URL, directly and indirectly.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userCanonical": {
          "description": "The URL that your page or site [declares as canonical](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?#define-canonical). If you did not declare a canonical URL, this field is absent.",
          "type": "string"
        },
        "lastCrawlTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this URL was crawled by Google using the [primary crawler](https://support.google.com/webmasters/answer/7440203#primary_crawler). Absent if the URL was never crawled successfully."
        },
        "coverageState": {
          "description": "Could Google find and index the page. More details about page indexing appear in 'indexing_state'.",
          "type": "string"
        },
        "robotsTxtState": {
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "type": "string",
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ]
        },
        "crawledAs": {
          "type": "string",
          "enum": [
            "CRAWLING_USER_AGENT_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ],
          "description": "Primary crawler that was used by Google to crawl your site.",
          "enumDescriptions": [
            "Unknown user agent.",
            "Desktop user agent.",
            "Mobile user agent."
          ]
        },
        "pageFetchState": {
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ],
          "description": "Whether or not Google could retrieve the page from your server. Equivalent to [\"page fetch\"](https://support.google.com/webmasters/answer/9012289#index_coverage) in the URL inspection report.",
          "type": "string",
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ]
        },
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "High level verdict about whether the URL *is* indexed (indexed status), or *can be* indexed (live inspection).",
          "type": "string",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ]
        }
      },
      "type": "object",
      "description": "Results of index status inspection for either the live page or the version in Google's index, depending on whether you requested a live inspection or not. For more information, see the [Index coverage report documentation](https://support.google.com/webmasters/answer/7440203)."
    },
    "ApiDimensionFilterGroup": {
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "enum": [
            "AND"
          ],
          "description": "Optional. The logic operator between filters of the same group.",
          "enumDescriptions": [
            ""
          ]
        },
        "filters": {
          "items": {
            "$ref": "ApiDimensionFilter"
          },
          "type": "array",
          "description": "Optional. A list of single-value filters in this group."
        }
      },
      "id": "ApiDimensionFilterGroup",
      "description": "A set of `dimension` value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together."
    },
    "RichResultsIssue": {
      "description": "Severity and status of a single issue affecting a single rich result instance on a page.",
      "id": "RichResultsIssue",
      "type": "object",
      "properties": {
        "issueMessage": {
          "description": "Rich Results issue type.",
          "type": "string"
        },
        "severity": {
          "description": "Severity of this issue: WARNING, or ERROR. Items with an issue of status ERROR cannot appear with rich result features in Google Search results.",
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        }
      }
    },
    "InspectUrlIndexResponse": {
      "properties": {
        "inspectionResult": {
          "description": "URL inspection results.",
          "$ref": "UrlInspectionResult"
        }
      },
      "id": "InspectUrlIndexResponse",
      "description": "Index-Status inspection response.",
      "type": "object"
    },
    "RunMobileFriendlyTestResponse": {
      "type": "object",
      "id": "RunMobileFriendlyTestResponse",
      "description": "Mobile-friendly test response, including mobile-friendly issues and resource issues.",
      "properties": {
        "resourceIssues": {
          "items": {
            "$ref": "ResourceIssue"
          },
          "type": "array",
          "description": "Information about embedded resources issues."
        },
        "mobileFriendlyIssues": {
          "description": "List of mobile-usability issues.",
          "type": "array",
          "items": {
            "$ref": "MobileFriendlyIssue"
          }
        },
        "screenshot": {
          "description": "Screenshot of the requested URL.",
          "$ref": "Image"
        },
        "mobileFriendliness": {
          "description": "Test verdict, whether the page is mobile friendly or not.",
          "enum": [
            "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
            "MOBILE_FRIENDLY",
            "NOT_MOBILE_FRIENDLY"
          ],
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "The page is mobile friendly.",
            "The page is not mobile friendly."
          ],
          "type": "string"
        },
        "testStatus": {
          "description": "Final state of the test, can be either complete or an error.",
          "$ref": "TestStatus"
        }
      }
    },
    "WmxSite": {
      "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
      "id": "WmxSite",
      "type": "object",
      "properties": {
        "siteUrl": {
          "description": "The URL of the site.",
          "type": "string"
        },
        "permissionLevel": {
          "type": "string",
          "description": "The user's permission level for the site.",
          "enum": [
            "SITE_PERMISSION_LEVEL_UNSPECIFIED",
            "SITE_OWNER",
            "SITE_FULL_USER",
            "SITE_RESTRICTED_USER",
            "SITE_UNVERIFIED_USER"
          ],
          "enumDescriptions": [
            "",
            "Owner has complete access to the site.",
            "Full users can access all data, and perform most of the operations.",
            "Restricted users can access most of the data, and perform some operations.",
            "Unverified user has no access to site's data."
          ]
        }
      }
    },
    "SitesListResponse": {
      "properties": {
        "siteEntry": {
          "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
          "type": "array",
          "items": {
            "$ref": "WmxSite"
          }
        }
      },
      "description": "List of sites with access level information.",
      "id": "SitesListResponse",
      "type": "object"
    },
    "AmpIssue": {
      "type": "object",
      "id": "AmpIssue",
      "description": "AMP issue.",
      "properties": {
        "issueMessage": {
          "description": "Brief description of this issue.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "description": "Severity of this issue: WARNING or ERROR.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        }
      }
    },
    "AmpInspectionResult": {
      "description": "AMP inspection result of the live page or the current information from Google's index, depending on whether you requested a live inspection or not.",
      "type": "object",
      "id": "AmpInspectionResult",
      "properties": {
        "issues": {
          "description": "A list of zero or more AMP issues found for the inspected URL.",
          "items": {
            "$ref": "AmpIssue"
          },
          "type": "array"
        },
        "pageFetchState": {
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ],
          "description": "Whether or not Google could fetch the AMP.",
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "type": "string"
        },
        "robotsTxtState": {
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "type": "string",
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ]
        },
        "verdict": {
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "The status of the most severe error on the page. If a page has both warnings and errors, the page status is error. Error status means the page cannot be shown in Search results."
        },
        "ampUrl": {
          "description": "URL of the AMP that was inspected. If the submitted URL is a desktop page that refers to an AMP version, the AMP version will be inspected.",
          "type": "string"
        },
        "lastCrawlTime": {
          "type": "string",
          "description": "Last time this AMP version was crawled by Google. Absent if the URL was never crawled successfully.",
          "format": "google-datetime"
        },
        "indexingState": {
          "type": "string",
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected.",
            "Indexing not allowed, 'unavailable_after' date expired."
          ],
          "enum": [
            "AMP_INDEXING_STATE_UNSPECIFIED",
            "AMP_INDEXING_ALLOWED",
            "BLOCKED_DUE_TO_NOINDEX",
            "BLOCKED_DUE_TO_EXPIRED_UNAVAILABLE_AFTER"
          ],
          "description": "Whether or not the page blocks indexing through a noindex rule."
        },
        "ampIndexStatusVerdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "type": "string",
          "description": "Index status of the AMP URL."
        }
      }
    },
    "MobileUsabilityIssue": {
      "type": "object",
      "id": "MobileUsabilityIssue",
      "description": "Mobile-usability issue.",
      "properties": {
        "issueType": {
          "enumDescriptions": [
            "Unknown issue. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage#error-list).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured#error-list).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport#error-list).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport#error-list).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size#error-list).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close#error-list)."
          ],
          "description": "Mobile-usability issue type.",
          "type": "string",
          "enum": [
            "MOBILE_USABILITY_ISSUE_TYPE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ]
        },
        "severity": {
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "description": "Not returned; reserved for future use.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        },
        "message": {
          "type": "string",
          "description": "Additional information regarding the issue."
        }
      }
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "firstIncompleteDate": {
          "description": "The first date for which the data is still being collected and processed, presented in `YYYY-MM-DD` format (ISO-8601 extended local date format). This field is populated only when the request's `dataState` is \"`all`\", data is grouped by \"`DATE`\", and the requested date range contains incomplete data points. All values after the `first_incomplete_date` may still change noticeably.",
          "type": "string"
        },
        "firstIncompleteHour": {
          "description": "The first hour for which the data is still being collected and processed, presented in `YYYY-MM-DDThh:mm:ss[+|-]hh:mm` format (ISO-8601 extended offset date-time format). This field is populated only when the request's `dataState` is \"`hourly_all`\", data is grouped by \"`HOUR`\" and the requested date range contains incomplete data points. All values after the `first_incomplete_hour` may still change noticeably.",
          "type": "string"
        }
      },
      "id": "Metadata",
      "description": "An object that may be returned with your query results, providing context about the state of the data. When you request recent data (using `all` or `hourly_all` for `dataState`), some of the rows returned may represent data that is incomplete, which means that the data is still being collected and processed. This metadata object helps you identify exactly when this starts and ends. All dates and times provided in this object are in the `America/Los_Angeles` time zone. The specific field returned within this object depends on how you've grouped your data in the request. See details in inner fields."
    },
    "InspectUrlIndexRequest": {
      "properties": {
        "inspectionUrl": {
          "description": "Required. URL to inspect. Must be under the property specified in \"site_url\".",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. An [IETF BCP-47](https://en.wikipedia.org/wiki/IETF_language_tag) language code representing the requested language for translated issue messages, e.g. \"en-US\", \"or \"de-CH\". Default value is \"en-US\".",
          "type": "string"
        },
        "siteUrl": {
          "type": "string",
          "description": "Required. The URL of the property as defined in Search Console. **Examples:** `http://www.example.com/` for a URL-prefix property, or `sc-domain:example.com` for a Domain property."
        }
      },
      "type": "object",
      "description": "Index inspection request.",
      "id": "InspectUrlIndexRequest"
    },
    "WmxSitemapContent": {
      "type": "object",
      "description": "Information about the various content types in the sitemap.",
      "id": "WmxSitemapContent",
      "properties": {
        "indexed": {
          "type": "string",
          "description": "*Deprecated; do not use.*",
          "format": "int64",
          "deprecated": true
        },
        "submitted": {
          "format": "int64",
          "description": "The number of URLs in the sitemap (of the content type).",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "MOBILE",
            "ANDROID_APP",
            "PATTERN",
            "IOS_APP",
            "DATA_FEED_ELEMENT"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported content type.",
            "",
            "Unsupported content type."
          ],
          "description": "The specific type of content in this sitemap. For example: `web`."
        }
      }
    },
    "Item": {
      "id": "Item",
      "type": "object",
      "properties": {
        "issues": {
          "type": "array",
          "description": "A list of zero or more rich result issues found for this instance.",
          "items": {
            "$ref": "RichResultsIssue"
          }
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of this item."
        }
      },
      "description": "A specific rich result found on the page."
    },
    "TestStatus": {
      "type": "object",
      "properties": {
        "details": {
          "description": "Error details if applicable.",
          "type": "string"
        },
        "status": {
          "enum": [
            "TEST_STATUS_UNSPECIFIED",
            "COMPLETE",
            "INTERNAL_ERROR",
            "PAGE_UNREACHABLE"
          ],
          "description": "Status of the test.",
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "Inspection has completed without errors.",
            "Inspection terminated in an error state. This indicates a problem in Google's infrastructure, not a user error. Please try again later.",
            "Google can not access the URL because of a user error such as a robots.txt blockage, a 403 or 500 code etc. Please make sure that the URL provided is accessible by Googlebot and is not password protected."
          ],
          "type": "string"
        }
      },
      "description": "Final state of the test, including error details if necessary.",
      "id": "TestStatus"
    },
    "DetectedItems": {
      "type": "object",
      "description": "Rich Results items grouped by type.",
      "id": "DetectedItems",
      "properties": {
        "richResultType": {
          "type": "string",
          "description": "Rich Results type"
        },
        "items": {
          "description": "List of Rich Results items.",
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future."
        },
        "mimeType": {
          "type": "string",
          "description": "The mime-type of the image data."
        }
      },
      "id": "Image",
      "description": "Describe image data."
    },
    "ApiDataRow": {
      "id": "ApiDataRow",
      "properties": {
        "ctr": {
          "type": "number",
          "format": "double"
        },
        "impressions": {
          "type": "number",
          "format": "double"
        },
        "clicks": {
          "format": "double",
          "type": "number"
        },
        "position": {
          "format": "double",
          "type": "number"
        },
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RunMobileFriendlyTestRequest": {
      "properties": {
        "requestScreenshot": {
          "description": "Whether or not screenshot is requested. Default is false.",
          "type": "boolean"
        },
        "url": {
          "description": "URL for inspection.",
          "type": "string"
        }
      },
      "id": "RunMobileFriendlyTestRequest",
      "type": "object",
      "description": "Mobile-friendly test request."
    },
    "SearchAnalyticsQueryRequest": {
      "properties": {
        "startDate": {
          "description": " [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.",
          "items": {
            "enumDescriptions": [
              "Group by date, which is returned in YYYY-MM-DD format, in PT time (UTC - 7:00/8:00).",
              "Group by query string.",
              "Group by page, a URI string.",
              "Group by country, specified by 3-letter country code ([ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)).",
              "Group by device type (DESKTOP, MOBILE and TABLET).",
              "Group by search result feature.",
              "Group by hour, which is returned in YYYY-MM-DDThh:mm:ss[+|-]hh:mm format (ISO-8601 extended offset date-time format) in PT time (UTC - 7:00/8:00). Data is available up to 10 days. Requires setting the dataState to HOURLY_ALL."
            ],
            "type": "string",
            "enum": [
              "DATE",
              "QUERY",
              "PAGE",
              "COUNTRY",
              "DEVICE",
              "SEARCH_APPEARANCE",
              "HOUR"
            ]
          }
        },
        "startRow": {
          "description": "[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number.",
          "format": "int32",
          "type": "integer"
        },
        "endDate": {
          "type": "string",
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range."
        },
        "dimensionFilterGroups": {
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it.",
          "type": "array",
          "items": {
            "$ref": "ApiDimensionFilterGroup"
          }
        },
        "rowLimit": {
          "type": "integer",
          "format": "int32",
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive)."
        },
        "searchType": {
          "description": "[Optional; Default is \\\"web\\\"] The search type to filter for.",
          "type": "string",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ]
        },
        "aggregationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid.",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ],
          "type": "string"
        },
        "dataState": {
          "description": "The data state to be fetched, can be full or all, the latter including full and partial data.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should not be used.",
            "Include full final data only, without partial.",
            "Include all data, full and partial.",
            "Include hourly data, full and partial. Required when grouping by HOUR."
          ],
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "FINAL",
            "ALL",
            "HOURLY_ALL"
          ]
        },
        "type": {
          "description": "Optional. [Optional; Default is \\\"web\\\"] Type of report: search type, or either Discover or Gnews.",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ]
        }
      },
      "id": "SearchAnalyticsQueryRequest",
      "type": "object"
    }
  },
  "basePath": "",
  "version_module": true,
  "baseUrl": "https://searchconsole.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
  "id": "searchconsole:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webmasters.readonly": {
          "description": "View Search Console data for your verified sites"
        },
        "https://www.googleapis.com/auth/webmasters": {
          "description": "View and manage Search Console data for your verified sites"
        }
      }
    }
  },
  "resources": {
    "searchanalytics": {
      "methods": {
        "query": {
          "description": "Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
          "flatPath": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "response": {
            "$ref": "SearchAnalyticsQueryResponse"
          },
          "request": {
            "$ref": "SearchAnalyticsQueryRequest"
          },
          "id": "webmasters.searchanalytics.query",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ]
        }
      }
    },
    "urlTestingTools": {
      "resources": {
        "mobileFriendlyTest": {
          "methods": {
            "run": {
              "parameterOrder": [],
              "path": "v1/urlTestingTools/mobileFriendlyTest:run",
              "request": {
                "$ref": "RunMobileFriendlyTestRequest"
              },
              "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run",
              "parameters": {},
              "httpMethod": "POST",
              "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run",
              "description": "Runs Mobile-Friendly Test for a given URL.",
              "response": {
                "$ref": "RunMobileFriendlyTestResponse"
              }
            }
          }
        }
      }
    },
    "urlInspection": {
      "resources": {
        "index": {
          "methods": {
            "inspect": {
              "scopes": [
                "https://www.googleapis.com/auth/webmasters",
                "https://www.googleapis.com/auth/webmasters.readonly"
              ],
              "description": "Index inspection.",
              "parameterOrder": [],
              "path": "v1/urlInspection/index:inspect",
              "id": "searchconsole.urlInspection.index.inspect",
              "parameters": {},
              "response": {
                "$ref": "InspectUrlIndexResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "InspectUrlIndexRequest"
              },
              "flatPath": "v1/urlInspection/index:inspect"
            }
          }
        }
      }
    },
    "sitemaps": {
      "methods": {
        "submit": {
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "feedpath": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`."
            },
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string"
            }
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Submits a sitemap for a site.",
          "id": "webmasters.sitemaps.submit",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ]
        },
        "get": {
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "httpMethod": "GET",
          "parameters": {
            "feedpath": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`."
            },
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "webmasters.sitemaps.get",
          "response": {
            "$ref": "WmxSitemap"
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "description": "Retrieves information about a specific sitemap."
        },
        "list": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "id": "webmasters.sitemaps.list",
          "description": " Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).",
          "response": {
            "$ref": "SitemapsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "parameterOrder": [
            "siteUrl"
          ],
          "parameters": {
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sitemapIndex": {
              "description": " A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "feedpath": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`."
            },
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string"
            }
          },
          "description": "Deletes a sitemap from the Sitemaps report. Does not stop Google from crawling this sitemap or the URLs that were previously crawled in the deleted sitemap.",
          "httpMethod": "DELETE",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "id": "webmasters.sitemaps.delete",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ]
        }
      }
    },
    "sites": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "description": " Removes a site from the set of the user's Search Console sites.",
          "httpMethod": "DELETE",
          "id": "webmasters.sites.delete",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "siteUrl": {
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "add": {
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "description": " Adds a site to the set of the user's sites in Search Console.",
          "id": "webmasters.sites.add",
          "httpMethod": "PUT",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The URL of the site to add.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ]
        },
        "list": {
          "response": {
            "$ref": "SitesListResponse"
          },
          "description": " Lists the user's Search Console sites.",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "flatPath": "webmasters/v3/sites",
          "parameterOrder": [],
          "path": "webmasters/v3/sites",
          "id": "webmasters.sites.list",
          "httpMethod": "GET",
          "parameters": {}
        },
        "get": {
          "id": "webmasters.sites.get",
          "description": " Retrieves information about specific site.",
          "parameterOrder": [
            "siteUrl"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "response": {
            "$ref": "WmxSite"
          },
          "httpMethod": "GET",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "type": "string"
            }
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}"
        }
      }
    }
  }
}