{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "WmxSitemapContent": {
      "id": "WmxSitemapContent",
      "properties": {
        "indexed": {
          "description": "*Deprecated; do not use.*",
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "submitted": {
          "format": "int64",
          "description": "The number of URLs in the sitemap (of the content type).",
          "type": "string"
        },
        "type": {
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "MOBILE",
            "ANDROID_APP",
            "PATTERN",
            "IOS_APP",
            "DATA_FEED_ELEMENT"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported content type.",
            "",
            "Unsupported content type."
          ],
          "type": "string",
          "description": "The specific type of content in this sitemap. For example: `web`."
        }
      },
      "description": "Information about the various content types in the sitemap.",
      "type": "object"
    },
    "Item": {
      "type": "object",
      "id": "Item",
      "description": "A specific rich result found on the page.",
      "properties": {
        "name": {
          "description": "The user-provided name of this item.",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "RichResultsIssue"
          },
          "description": "A list of zero or more rich result issues found for this instance."
        }
      }
    },
    "AmpIssue": {
      "description": "AMP issue.",
      "id": "AmpIssue",
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "description": "Severity of this issue: WARNING or ERROR.",
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ]
        },
        "issueMessage": {
          "description": "Brief description of this issue.",
          "type": "string"
        }
      }
    },
    "RunMobileFriendlyTestResponse": {
      "id": "RunMobileFriendlyTestResponse",
      "properties": {
        "testStatus": {
          "description": "Final state of the test, can be either complete or an error.",
          "$ref": "TestStatus"
        },
        "resourceIssues": {
          "type": "array",
          "items": {
            "$ref": "ResourceIssue"
          },
          "description": "Information about embedded resources issues."
        },
        "screenshot": {
          "description": "Screenshot of the requested URL.",
          "$ref": "Image"
        },
        "mobileFriendliness": {
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED",
            "MOBILE_FRIENDLY",
            "NOT_MOBILE_FRIENDLY"
          ],
          "description": "Test verdict, whether the page is mobile friendly or not.",
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "The page is mobile friendly.",
            "The page is not mobile friendly."
          ]
        },
        "mobileFriendlyIssues": {
          "description": "List of mobile-usability issues.",
          "items": {
            "$ref": "MobileFriendlyIssue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Mobile-friendly test response, including mobile-friendly issues and resource issues."
    },
    "AmpInspectionResult": {
      "type": "object",
      "id": "AmpInspectionResult",
      "description": "AMP inspection result of the live page or the current information from Google's index, depending on whether you requested a live inspection or not.",
      "properties": {
        "lastCrawlTime": {
          "description": "Last time this AMP version was crawled by Google. Absent if the URL was never crawled successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "pageFetchState": {
          "description": "Whether or not Google could fetch the AMP.",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ],
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "type": "string"
        },
        "verdict": {
          "description": "The status of the most severe error on the page. If a page has both warnings and errors, the page status is error. Error status means the page cannot be shown in Search results.",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "type": "string"
        },
        "robotsTxtState": {
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ],
          "description": "Whether or not the page is blocked to Google by a robots.txt rule.",
          "type": "string"
        },
        "ampIndexStatusVerdict": {
          "description": "Index status of the AMP URL.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "type": "string"
        },
        "issues": {
          "description": "A list of zero or more AMP issues found for the inspected URL.",
          "type": "array",
          "items": {
            "$ref": "AmpIssue"
          }
        },
        "indexingState": {
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected.",
            "Indexing not allowed, 'unavailable_after' date expired."
          ],
          "type": "string",
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "enum": [
            "AMP_INDEXING_STATE_UNSPECIFIED",
            "AMP_INDEXING_ALLOWED",
            "BLOCKED_DUE_TO_NOINDEX",
            "BLOCKED_DUE_TO_EXPIRED_UNAVAILABLE_AFTER"
          ]
        },
        "ampUrl": {
          "type": "string",
          "description": "URL of the AMP that was inspected. If the submitted URL is a desktop page that refers to an AMP version, the AMP version will be inspected."
        }
      }
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "description": "Describe image data.",
      "properties": {
        "mimeType": {
          "description": "The mime-type of the image data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Image data in format determined by the mime type. Currently, the format will always be \"image/png\", but this might change in the future."
        }
      }
    },
    "WmxSitemap": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The url of the sitemap."
        },
        "contents": {
          "description": "The various content types in the sitemap.",
          "type": "array",
          "items": {
            "$ref": "WmxSitemapContent"
          }
        },
        "errors": {
          "type": "string",
          "format": "int64",
          "description": "Number of errors in the sitemap. These are issues with the sitemap itself that need to be fixed before it can be processed correctly."
        },
        "isSitemapsIndex": {
          "type": "boolean",
          "description": "If true, the sitemap is a collection of sitemaps."
        },
        "lastSubmitted": {
          "format": "google-datetime",
          "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "type": "string"
        },
        "type": {
          "enum": [
            "NOT_SITEMAP",
            "URL_LIST",
            "SITEMAP",
            "RSS_FEED",
            "ATOM_FEED",
            "PATTERN_SITEMAP",
            "OCEANFRONT"
          ],
          "description": "The type of the sitemap. For example: `rssFeed`.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Unsupported sitemap types.",
            ""
          ]
        },
        "isPending": {
          "type": "boolean",
          "description": "If true, the sitemap has not been processed."
        },
        "warnings": {
          "type": "string",
          "description": "Number of warnings for the sitemap. These are generally non-critical issues with URLs in the sitemaps.",
          "format": "int64"
        },
        "lastDownloaded": {
          "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "WmxSitemap",
      "type": "object",
      "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184)."
    },
    "ApiDataRow": {
      "id": "ApiDataRow",
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "impressions": {
          "type": "number",
          "format": "double"
        },
        "clicks": {
          "type": "number",
          "format": "double"
        },
        "position": {
          "format": "double",
          "type": "number"
        },
        "ctr": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "SearchAnalyticsQueryRequest": {
      "properties": {
        "type": {
          "description": "Optional. [Optional; Default is \\\"web\\\"] Type of report: search type, or either Discover or Gnews.",
          "type": "string",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ]
        },
        "startDate": {
          "description": " [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "[Required] End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00). Must be greater than or equal to the start date. This value is included in the range."
        },
        "dimensions": {
          "items": {
            "enum": [
              "DATE",
              "QUERY",
              "PAGE",
              "COUNTRY",
              "DEVICE",
              "SEARCH_APPEARANCE",
              "HOUR"
            ],
            "enumDescriptions": [
              "Group by date, which is returned in YYYY-MM-DD format, in PT time (UTC - 7:00/8:00).",
              "Group by query string.",
              "Group by page, a URI string.",
              "Group by country, specified by 3-letter country code ([ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)).",
              "Group by device type (DESKTOP, MOBILE and TABLET).",
              "Group by search result feature.",
              "Group by hour, which is returned in YYYY-MM-DDThh:mm:ss[+|-]hh:mm format (ISO-8601 extended offset date-time format) in PT time (UTC - 7:00/8:00). Data is available up to 10 days. Requires setting the dataState to HOURLY_ALL."
            ],
            "type": "string"
          },
          "description": "[Optional] Zero or more dimensions to group results by. Dimensions are the group-by values in the Search Analytics page. Dimensions are combined to create a unique row key for each row. Results are grouped in the order that you supply these dimensions.",
          "type": "array"
        },
        "aggregationType": {
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ],
          "description": "[Optional; Default is \\\"auto\\\"] How data is aggregated. If aggregated by property, all data for the same property is aggregated; if aggregated by page, all data is aggregated by canonical URI. If you filter or group by page, choose AUTO; otherwise you can aggregate either by property or by page, depending on how you want your data calculated; see the help documentation to learn how data is calculated differently by site versus by page. **Note:** If you group or filter by page, you cannot aggregate by property. If you specify any value other than AUTO, the aggregation type in the result will match the requested type, or if you request an invalid type, you will get an error. The API will never change your aggregation type if the requested type is invalid.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "dimensionFilterGroups": {
          "type": "array",
          "description": "[Optional] Zero or more filters to apply to the dimension grouping values; for example, 'query contains \\\"buy\\\"' to see only data where the query string contains the substring \\\"buy\\\" (not case-sensitive). You can filter by a dimension without grouping by it.",
          "items": {
            "$ref": "ApiDimensionFilterGroup"
          }
        },
        "rowLimit": {
          "format": "int32",
          "type": "integer",
          "description": "[Optional; Default is 1000] The maximum number of rows to return. Must be a number from 1 to 25,000 (inclusive)."
        },
        "dataState": {
          "description": "The data state to be fetched, can be full or all, the latter including full and partial data.",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "FINAL",
            "ALL",
            "HOURLY_ALL"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Include full final data only, without partial.",
            "Include all data, full and partial.",
            "Include hourly data, full and partial. Required when grouping by HOUR."
          ],
          "type": "string"
        },
        "searchType": {
          "description": "[Optional; Default is \\\"web\\\"] The search type to filter for.",
          "enumDescriptions": [
            "",
            "",
            "",
            "News tab in search.",
            "Discover.",
            "Google News (news.google.com or mobile app)."
          ],
          "type": "string",
          "enum": [
            "WEB",
            "IMAGE",
            "VIDEO",
            "NEWS",
            "DISCOVER",
            "GOOGLE_NEWS"
          ]
        },
        "startRow": {
          "format": "int32",
          "description": "[Optional; Default is 0] Zero-based index of the first row in the response. Must be a non-negative number.",
          "type": "integer"
        }
      },
      "id": "SearchAnalyticsQueryRequest",
      "type": "object"
    },
    "SearchAnalyticsQueryResponse": {
      "description": "A list of rows, one per result, grouped by key. Metrics in each row are aggregated for all data grouped by that key either by page or property, as specified by the aggregation type parameter.",
      "type": "object",
      "id": "SearchAnalyticsQueryResponse",
      "properties": {
        "metadata": {
          "$ref": "Metadata",
          "description": "An object that may be returned with your query results, providing context about the state of the data. See details in Metadata object documentation."
        },
        "rows": {
          "description": "A list of rows grouped by the key values in the order given in the query.",
          "items": {
            "$ref": "ApiDataRow"
          },
          "type": "array"
        },
        "responseAggregationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "How the results were aggregated.",
          "type": "string",
          "enum": [
            "AUTO",
            "BY_PROPERTY",
            "BY_PAGE",
            "BY_NEWS_SHOWCASE_PANEL"
          ]
        }
      }
    },
    "MobileUsabilityIssue": {
      "id": "MobileUsabilityIssue",
      "description": "Mobile-usability issue.",
      "type": "object",
      "properties": {
        "issueType": {
          "type": "string",
          "enum": [
            "MOBILE_USABILITY_ISSUE_TYPE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "enumDescriptions": [
            "Unknown issue. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage#error-list).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured#error-list).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport#error-list).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport#error-list).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size#error-list).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close#error-list)."
          ],
          "description": "Mobile-usability issue type."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "description": "Not returned; reserved for future use.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        },
        "message": {
          "type": "string",
          "description": "Additional information regarding the issue."
        }
      }
    },
    "ResourceIssue": {
      "description": "Information about a resource with issue.",
      "id": "ResourceIssue",
      "properties": {
        "blockedResource": {
          "$ref": "BlockedResource",
          "description": "Describes a blocked resource issue."
        }
      },
      "type": "object"
    },
    "InspectUrlIndexResponse": {
      "id": "InspectUrlIndexResponse",
      "description": "Index-Status inspection response.",
      "properties": {
        "inspectionResult": {
          "$ref": "UrlInspectionResult",
          "description": "URL inspection results."
        }
      },
      "type": "object"
    },
    "InspectUrlIndexRequest": {
      "description": "Index inspection request.",
      "type": "object",
      "properties": {
        "inspectionUrl": {
          "description": "Required. URL to inspect. Must be under the property specified in \"site_url\".",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. An [IETF BCP-47](https://en.wikipedia.org/wiki/IETF_language_tag) language code representing the requested language for translated issue messages, e.g. \"en-US\", \"or \"de-CH\". Default value is \"en-US\"."
        },
        "siteUrl": {
          "description": "Required. The URL of the property as defined in Search Console. **Examples:** `http://www.example.com/` for a URL-prefix property, or `sc-domain:example.com` for a Domain property.",
          "type": "string"
        }
      },
      "id": "InspectUrlIndexRequest"
    },
    "IndexStatusInspectionResult": {
      "description": "Results of index status inspection for either the live page or the version in Google's index, depending on whether you requested a live inspection or not. For more information, see the [Index coverage report documentation](https://support.google.com/webmasters/answer/7440203).",
      "properties": {
        "lastCrawlTime": {
          "description": "Last time this URL was crawled by Google using the [primary crawler](https://support.google.com/webmasters/answer/7440203#primary_crawler). Absent if the URL was never crawled successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "userCanonical": {
          "description": "The URL that your page or site [declares as canonical](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?#define-canonical). If you did not declare a canonical URL, this field is absent.",
          "type": "string"
        },
        "robotsTxtState": {
          "enum": [
            "ROBOTS_TXT_STATE_UNSPECIFIED",
            "ALLOWED",
            "DISALLOWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown robots.txt state, typically because the page wasn't fetched or found, or because robots.txt itself couldn't be reached.",
            "Crawl allowed by robots.txt.",
            "Crawl blocked by robots.txt."
          ],
          "description": "Whether or not the page is blocked to Google by a robots.txt rule."
        },
        "coverageState": {
          "description": "Could Google find and index the page. More details about page indexing appear in 'indexing_state'.",
          "type": "string"
        },
        "indexingState": {
          "description": "Whether or not the page blocks indexing through a noindex rule.",
          "type": "string",
          "enumDescriptions": [
            "Unknown indexing status.",
            "Indexing allowed.",
            "Indexing not allowed, 'noindex' detected in 'robots' meta tag.",
            "Indexing not allowed, 'noindex' detected in 'X-Robots-Tag' http header.",
            "Reserved, no longer in use."
          ],
          "enum": [
            "INDEXING_STATE_UNSPECIFIED",
            "INDEXING_ALLOWED",
            "BLOCKED_BY_META_TAG",
            "BLOCKED_BY_HTTP_HEADER",
            "BLOCKED_BY_ROBOTS_TXT"
          ]
        },
        "referringUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "URLs that link to the inspected URL, directly and indirectly."
        },
        "pageFetchState": {
          "enum": [
            "PAGE_FETCH_STATE_UNSPECIFIED",
            "SUCCESSFUL",
            "SOFT_404",
            "BLOCKED_ROBOTS_TXT",
            "NOT_FOUND",
            "ACCESS_DENIED",
            "SERVER_ERROR",
            "REDIRECT_ERROR",
            "ACCESS_FORBIDDEN",
            "BLOCKED_4XX",
            "INTERNAL_CRAWL_ERROR",
            "INVALID_URL"
          ],
          "type": "string",
          "description": "Whether or not Google could retrieve the page from your server. Equivalent to [\"page fetch\"](https://support.google.com/webmasters/answer/9012289#index_coverage) in the URL inspection report.",
          "enumDescriptions": [
            "Unknown fetch state.",
            "Successful fetch.",
            "Soft 404.",
            "Blocked by robots.txt.",
            "Not found (404).",
            "Blocked due to unauthorized request (401).",
            "Server error (5xx).",
            "Redirection error.",
            "Blocked due to access forbidden (403).",
            "Blocked due to other 4xx issue (not 403, 404).",
            "Internal error.",
            "Invalid URL."
          ]
        },
        "sitemap": {
          "description": "Any sitemaps that this URL was listed in, as known by Google. Not guaranteed to be an exhaustive list, especially if Google did not discover this URL through a sitemap. Absent if no sitemaps were found.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "crawledAs": {
          "enum": [
            "CRAWLING_USER_AGENT_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ],
          "enumDescriptions": [
            "Unknown user agent.",
            "Desktop user agent.",
            "Mobile user agent."
          ],
          "description": "Primary crawler that was used by Google to crawl your site.",
          "type": "string"
        },
        "googleCanonical": {
          "description": "The URL of the page that Google selected as canonical. If the page was not indexed, this field is absent.",
          "type": "string"
        },
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "description": "High level verdict about whether the URL *is* indexed (indexed status), or *can be* indexed (live inspection).",
          "type": "string"
        }
      },
      "id": "IndexStatusInspectionResult",
      "type": "object"
    },
    "RunMobileFriendlyTestRequest": {
      "description": "Mobile-friendly test request.",
      "id": "RunMobileFriendlyTestRequest",
      "properties": {
        "requestScreenshot": {
          "description": "Whether or not screenshot is requested. Default is false.",
          "type": "boolean"
        },
        "url": {
          "description": "URL for inspection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UrlInspectionResult": {
      "id": "UrlInspectionResult",
      "type": "object",
      "properties": {
        "mobileUsabilityResult": {
          "deprecated": true,
          "$ref": "MobileUsabilityInspectionResult",
          "description": "Result of the Mobile usability analysis."
        },
        "indexStatusResult": {
          "$ref": "IndexStatusInspectionResult",
          "description": "Result of the index status analysis."
        },
        "richResultsResult": {
          "$ref": "RichResultsInspectionResult",
          "description": "Result of the Rich Results analysis. Absent if there are no rich results found."
        },
        "ampResult": {
          "description": "Result of the AMP analysis. Absent if the page is not an AMP page.",
          "$ref": "AmpInspectionResult"
        },
        "inspectionResultLink": {
          "description": "Link to Search Console URL inspection.",
          "type": "string"
        }
      },
      "description": "URL inspection result, including all inspection results."
    },
    "ApiDimensionFilter": {
      "description": "A filter test to be applied to each row in the data set, where a match can return the row. Filters are string comparisons, and values and dimension names are not case-sensitive. Individual filters are either AND'ed or OR'ed within their parent filter group, according to the group's group type. You do not need to group by a specified dimension to filter against it.",
      "properties": {
        "dimension": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY",
            "PAGE",
            "COUNTRY",
            "DEVICE",
            "SEARCH_APPEARANCE"
          ]
        },
        "operator": {
          "enum": [
            "EQUALS",
            "NOT_EQUALS",
            "CONTAINS",
            "NOT_CONTAINS",
            "INCLUDING_REGEX",
            "EXCLUDING_REGEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "expression": {
          "type": "string"
        }
      },
      "id": "ApiDimensionFilter",
      "type": "object"
    },
    "RichResultsIssue": {
      "description": "Severity and status of a single issue affecting a single rich result instance on a page.",
      "type": "object",
      "id": "RichResultsIssue",
      "properties": {
        "issueMessage": {
          "type": "string",
          "description": "Rich Results issue type."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unknown severity.",
            "Warning.",
            "Error."
          ],
          "description": "Severity of this issue: WARNING, or ERROR. Items with an issue of status ERROR cannot appear with rich result features in Google Search results."
        }
      }
    },
    "MobileUsabilityInspectionResult": {
      "properties": {
        "verdict": {
          "type": "string",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ],
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "High-level mobile-usability inspection result for this URL."
        },
        "issues": {
          "description": "A list of zero or more mobile-usability issues detected for this URL.",
          "items": {
            "$ref": "MobileUsabilityIssue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "MobileUsabilityInspectionResult",
      "description": "Mobile-usability inspection results."
    },
    "RichResultsInspectionResult": {
      "type": "object",
      "description": "Rich-Results inspection result, including any rich results found at this URL.",
      "id": "RichResultsInspectionResult",
      "properties": {
        "detectedItems": {
          "description": "A list of zero or more rich results detected on this page. Rich results that cannot even be parsed due to syntactic issues will not be listed here.",
          "items": {
            "$ref": "DetectedItems"
          },
          "type": "array"
        },
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "PARTIAL",
            "FAIL",
            "NEUTRAL"
          ],
          "description": "High-level rich results inspection result for this URL.",
          "type": "string",
          "enumDescriptions": [
            "Unknown verdict.",
            "Equivalent to \"Valid\" for the page or item in Search Console.",
            "Reserved, no longer in use.",
            "Equivalent to \"Error\" or \"Invalid\" for the page or item in Search Console.",
            "Equivalent to \"Excluded\" for the page or item in Search Console."
          ]
        }
      }
    },
    "DetectedItems": {
      "id": "DetectedItems",
      "type": "object",
      "description": "Rich Results items grouped by type.",
      "properties": {
        "richResultType": {
          "description": "Rich Results type",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array",
          "description": "List of Rich Results items."
        }
      }
    },
    "BlockedResource": {
      "properties": {
        "url": {
          "type": "string",
          "description": "URL of the blocked resource."
        }
      },
      "type": "object",
      "id": "BlockedResource",
      "description": "Blocked resource."
    },
    "WmxSite": {
      "type": "object",
      "properties": {
        "permissionLevel": {
          "description": "The user's permission level for the site.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Owner has complete access to the site.",
            "Full users can access all data, and perform most of the operations.",
            "Restricted users can access most of the data, and perform some operations.",
            "Unverified user has no access to site's data."
          ],
          "enum": [
            "SITE_PERMISSION_LEVEL_UNSPECIFIED",
            "SITE_OWNER",
            "SITE_FULL_USER",
            "SITE_RESTRICTED_USER",
            "SITE_UNVERIFIED_USER"
          ]
        },
        "siteUrl": {
          "type": "string",
          "description": "The URL of the site."
        }
      },
      "id": "WmxSite",
      "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999)."
    },
    "MobileFriendlyIssue": {
      "id": "MobileFriendlyIssue",
      "properties": {
        "rule": {
          "type": "string",
          "enum": [
            "MOBILE_FRIENDLY_RULE_UNSPECIFIED",
            "USES_INCOMPATIBLE_PLUGINS",
            "CONFIGURE_VIEWPORT",
            "FIXED_WIDTH_VIEWPORT",
            "SIZE_CONTENT_TO_VIEWPORT",
            "USE_LEGIBLE_FONT_SIZES",
            "TAP_TARGETS_TOO_CLOSE"
          ],
          "description": "Rule violated.",
          "enumDescriptions": [
            "Unknown rule. Sorry, we don't have any description for the rule that was broken.",
            "Plugins incompatible with mobile devices are being used. [Learn more] (https://support.google.com/webmasters/answer/6352293#flash_usage).",
            "Viewport is not specified using the meta viewport tag. [Learn more] (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).",
            "Viewport defined to a fixed width. [Learn more] (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).",
            "Content not sized to viewport. [Learn more] (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).",
            "Font size is too small for easy reading on a small screen. [Learn More] (https://support.google.com/webmasters/answer/6352293#small_font_size).",
            "Touch elements are too close to each other. [Learn more] (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."
          ]
        }
      },
      "type": "object",
      "description": "Mobile-friendly issue."
    },
    "TestStatus": {
      "properties": {
        "status": {
          "description": "Status of the test.",
          "enumDescriptions": [
            "Internal error when running this test. Please try running the test again.",
            "Inspection has completed without errors.",
            "Inspection terminated in an error state. This indicates a problem in Google's infrastructure, not a user error. Please try again later.",
            "Google can not access the URL because of a user error such as a robots.txt blockage, a 403 or 500 code etc. Please make sure that the URL provided is accessible by Googlebot and is not password protected."
          ],
          "type": "string",
          "enum": [
            "TEST_STATUS_UNSPECIFIED",
            "COMPLETE",
            "INTERNAL_ERROR",
            "PAGE_UNREACHABLE"
          ]
        },
        "details": {
          "description": "Error details if applicable.",
          "type": "string"
        }
      },
      "description": "Final state of the test, including error details if necessary.",
      "type": "object",
      "id": "TestStatus"
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "firstIncompleteDate": {
          "description": "The first date for which the data is still being collected and processed, presented in `YYYY-MM-DD` format (ISO-8601 extended local date format). This field is populated only when the request's `dataState` is \"`all`\", data is grouped by \"`DATE`\", and the requested date range contains incomplete data points. All values after the `first_incomplete_date` may still change noticeably.",
          "type": "string"
        },
        "firstIncompleteHour": {
          "description": "The first hour for which the data is still being collected and processed, presented in `YYYY-MM-DDThh:mm:ss[+|-]hh:mm` format (ISO-8601 extended offset date-time format). This field is populated only when the request's `dataState` is \"`hourly_all`\", data is grouped by \"`HOUR`\" and the requested date range contains incomplete data points. All values after the `first_incomplete_hour` may still change noticeably.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An object that may be returned with your query results, providing context about the state of the data. When you request recent data (using `all` or `hourly_all` for `dataState`), some of the rows returned may represent data that is incomplete, which means that the data is still being collected and processed. This metadata object helps you identify exactly when this starts and ends. All dates and times provided in this object are in the `America/Los_Angeles` time zone. The specific field returned within this object depends on how you've grouped your data in the request. See details in inner fields."
    },
    "SitesListResponse": {
      "description": "List of sites with access level information.",
      "properties": {
        "siteEntry": {
          "description": "Contains permission level information about a Search Console site. For more information, see [Permissions in Search Console](https://support.google.com/webmasters/answer/2451999).",
          "items": {
            "$ref": "WmxSite"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SitesListResponse"
    },
    "ApiDimensionFilterGroup": {
      "type": "object",
      "id": "ApiDimensionFilterGroup",
      "description": "A set of `dimension` value filters to test against each row. Only rows that pass all filter groups will be returned. All results within a filter group are either AND'ed or OR'ed together, depending on the group type selected. All filter groups are AND'ed together.",
      "properties": {
        "filters": {
          "items": {
            "$ref": "ApiDimensionFilter"
          },
          "description": "Optional. A list of single-value filters in this group.",
          "type": "array"
        },
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            ""
          ],
          "description": "Optional. The logic operator between filters of the same group.",
          "enum": [
            "AND"
          ]
        }
      }
    },
    "SitemapsListResponse": {
      "type": "object",
      "properties": {
        "sitemap": {
          "type": "array",
          "items": {
            "$ref": "WmxSitemap"
          },
          "description": "Contains detailed information about a specific URL submitted as a [sitemap](https://support.google.com/webmasters/answer/156184)."
        }
      },
      "id": "SitemapsListResponse",
      "description": "List of sitemaps."
    }
  },
  "protocol": "rest",
  "resources": {
    "sites": {
      "methods": {
        "delete": {
          "description": " Removes a site from the set of the user's Search Console sites.",
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "httpMethod": "DELETE",
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "parameters": {
            "siteUrl": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`."
            }
          },
          "id": "webmasters.sites.delete"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "flatPath": "webmasters/v3/sites",
          "response": {
            "$ref": "SitesListResponse"
          },
          "parameters": {},
          "path": "webmasters/v3/sites",
          "httpMethod": "GET",
          "description": " Lists the user's Search Console sites.",
          "parameterOrder": [],
          "id": "webmasters.sites.list"
        },
        "add": {
          "description": " Adds a site to the set of the user's sites in Search Console.",
          "httpMethod": "PUT",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The URL of the site to add.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "id": "webmasters.sites.add",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}"
        },
        "get": {
          "description": " Retrieves information about specific site.",
          "httpMethod": "GET",
          "response": {
            "$ref": "WmxSite"
          },
          "flatPath": "webmasters/v3/sites/{siteUrl}",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "parameterOrder": [
            "siteUrl"
          ],
          "path": "webmasters/v3/sites/{siteUrl}",
          "parameters": {
            "siteUrl": {
              "description": "The URI of the property as defined in Search Console. **Examples:** `http://www.example.com/` or `sc-domain:example.com`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "webmasters.sites.get"
        }
      }
    },
    "urlInspection": {
      "resources": {
        "index": {
          "methods": {
            "inspect": {
              "parameters": {},
              "request": {
                "$ref": "InspectUrlIndexRequest"
              },
              "description": "Index inspection.",
              "path": "v1/urlInspection/index:inspect",
              "flatPath": "v1/urlInspection/index:inspect",
              "parameterOrder": [],
              "response": {
                "$ref": "InspectUrlIndexResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/webmasters",
                "https://www.googleapis.com/auth/webmasters.readonly"
              ],
              "httpMethod": "POST",
              "id": "searchconsole.urlInspection.index.inspect"
            }
          }
        }
      }
    },
    "urlTestingTools": {
      "resources": {
        "mobileFriendlyTest": {
          "methods": {
            "run": {
              "httpMethod": "POST",
              "path": "v1/urlTestingTools/mobileFriendlyTest:run",
              "parameterOrder": [],
              "id": "searchconsole.urlTestingTools.mobileFriendlyTest.run",
              "request": {
                "$ref": "RunMobileFriendlyTestRequest"
              },
              "response": {
                "$ref": "RunMobileFriendlyTestResponse"
              },
              "description": "Runs Mobile-Friendly Test for a given URL.",
              "flatPath": "v1/urlTestingTools/mobileFriendlyTest:run",
              "parameters": {}
            }
          }
        }
      }
    },
    "sitemaps": {
      "methods": {
        "delete": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "id": "webmasters.sitemaps.delete",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "description": "Deletes a sitemap from the Sitemaps report. Does not stop Google from crawling this sitemap or the URLs that were previously crawled in the deleted sitemap.",
          "parameters": {
            "siteUrl": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`."
            },
            "feedpath": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`."
            }
          }
        },
        "submit": {
          "parameters": {
            "feedpath": {
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "siteUrl": {
              "required": true,
              "location": "path",
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters"
          ],
          "httpMethod": "PUT",
          "description": "Submits a sitemap for a site.",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "id": "webmasters.sitemaps.submit",
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}"
        },
        "list": {
          "response": {
            "$ref": "SitemapsListResponse"
          },
          "parameters": {
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "sitemapIndex": {
              "location": "query",
              "type": "string",
              "description": " A URL of a site's sitemap index. For example: `http://www.example.com/sitemapindex.xml`."
            }
          },
          "parameterOrder": [
            "siteUrl"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps",
          "id": "webmasters.sitemaps.list",
          "httpMethod": "GET",
          "description": " Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request)."
        },
        "get": {
          "path": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "parameterOrder": [
            "siteUrl",
            "feedpath"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}",
          "response": {
            "$ref": "WmxSitemap"
          },
          "httpMethod": "GET",
          "description": "Retrieves information about a specific sitemap.",
          "parameters": {
            "siteUrl": {
              "location": "path",
              "required": true,
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string"
            },
            "feedpath": {
              "location": "path",
              "description": "The URL of the actual sitemap. For example: `http://www.example.com/sitemap.xml`.",
              "type": "string",
              "required": true
            }
          },
          "id": "webmasters.sitemaps.get"
        }
      }
    },
    "searchanalytics": {
      "methods": {
        "query": {
          "description": "Query your data with filters and parameters that you define. Returns zero or more rows grouped by the row keys that you define. You must define a date range of one or more days. When date is one of the group by values, any days without data are omitted from the result list. If you need to know which days have data, issue a broad date range query grouped by date for any metric, and see which day rows are returned.",
          "parameterOrder": [
            "siteUrl"
          ],
          "request": {
            "$ref": "SearchAnalyticsQueryRequest"
          },
          "httpMethod": "POST",
          "id": "webmasters.searchanalytics.query",
          "scopes": [
            "https://www.googleapis.com/auth/webmasters",
            "https://www.googleapis.com/auth/webmasters.readonly"
          ],
          "flatPath": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query",
          "parameters": {
            "siteUrl": {
              "description": "The site's URL, including protocol. For example: `http://www.example.com/`.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "SearchAnalyticsQueryResponse"
          },
          "path": "webmasters/v3/sites/{siteUrl}/searchAnalytics/query"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/webmaster-tools/about",
  "canonicalName": "Search Console",
  "description": "The Search Console API provides access to both Search Console data (verified users only) and to public information on an URL basis (anyone)",
  "basePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webmasters": {
          "description": "View and manage Search Console data for your verified sites"
        },
        "https://www.googleapis.com/auth/webmasters.readonly": {
          "description": "View Search Console data for your verified sites"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "searchconsole:v1",
  "servicePath": "",
  "title": "Google Search Console API",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "name": "searchconsole",
  "version_module": true,
  "baseUrl": "https://searchconsole.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260823",
  "mtlsRootUrl": "https://searchconsole.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://searchconsole.googleapis.com/"
}