{
  "description": "Stores sensitive data such as API keys, passwords, and certificates. Provides convenience while improving security. ",
  "baseUrl": "https://secretmanager.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://secretmanager.mtls.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://secretmanager.googleapis.com/",
  "title": "Secret Manager API",
  "endpoints": [
    {
      "endpointUrl": "https://secretmanager.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://secretmanager.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://secretmanager.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://secretmanager.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://secretmanager.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://secretmanager.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://secretmanager.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://secretmanager.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://secretmanager.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://secretmanager.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://secretmanager.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://secretmanager.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://secretmanager.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://secretmanager.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://secretmanager.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://secretmanager.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://secretmanager.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://secretmanager.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://secretmanager.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://secretmanager.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://secretmanager.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://secretmanager.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://secretmanager.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://secretmanager.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://secretmanager.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://secretmanager.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://secretmanager.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://secretmanager.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://secretmanager.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://secretmanager.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://secretmanager.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://secretmanager.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://secretmanager.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://secretmanager.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://secretmanager.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://secretmanager.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://secretmanager.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://secretmanager.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://secretmanager.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://secretmanager.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://secretmanager.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://secretmanager.ca.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "ca"
    },
    {
      "location": "in",
      "endpointUrl": "https://secretmanager.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "canonicalName": "Secret Manager",
  "name": "secretmanager",
  "basePath": "",
  "schemas": {
    "ReplicationStatus": {
      "type": "object",
      "properties": {
        "automatic": {
          "description": "Describes the replication status of a SecretVersion with automatic replication. Only populated if the parent Secret has an automatic replication policy.",
          "$ref": "AutomaticStatus"
        },
        "userManaged": {
          "description": "Describes the replication status of a SecretVersion with user-managed replication. Only populated if the parent Secret has a user-managed replication policy.",
          "$ref": "UserManagedStatus"
        }
      },
      "id": "ReplicationStatus",
      "description": "The replication status of a SecretVersion."
    },
    "ManagedRotationStatus": {
      "id": "ManagedRotationStatus",
      "description": "Represents the status of a managed rotation. This is applicable only to Typed Secrets. It indicates whether the rotation is active and any errors that may have occurred during the asynchronous managed rotation.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Output only. Displays customer-facing issues that occurred during an asynchronous managed rotation. For example, if there are some permission errors.",
          "readOnly": true,
          "$ref": "Status"
        },
        "state": {
          "enumDescriptions": [
            "Not specified. This value is unused and invalid.",
            "Indicates that the Managed rotation is ACTIVE.",
            "Indicates that the Managed rotation is INACTIVE."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. Indicates whether the Managed Rotation is active or not.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ListSecretVersionsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of SecretVersions but 0 when the ListSecretsRequest.filter field is set.",
          "format": "int32",
          "type": "integer"
        },
        "versions": {
          "description": "The list of SecretVersions sorted in reverse by create_time (newest first).",
          "items": {
            "$ref": "SecretVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in ListSecretVersionsRequest.page_token to retrieve the next page.",
          "type": "string"
        }
      },
      "id": "ListSecretVersionsResponse",
      "description": "Response message for SecretManagerService.ListSecretVersions."
    },
    "ReplicaStatus": {
      "type": "object",
      "properties": {
        "customerManagedEncryption": {
          "$ref": "CustomerManagedEncryptionStatus",
          "description": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used.",
          "readOnly": true
        },
        "location": {
          "description": "Output only. The canonical ID of the replica location. For example: `\"us-east1\"`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ReplicaStatus",
      "description": "Describes the status of a user-managed replica for the SecretVersion."
    },
    "AccessSecretVersionResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "payload": {
          "$ref": "SecretPayload",
          "description": "Secret payload"
        }
      },
      "id": "AccessSecretVersionResponse",
      "description": "Response message for SecretManagerService.AccessSecretVersion."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "EnableManagedRotationRequest": {
      "type": "object",
      "properties": {
        "cloudSqlSingleUserCredentials": {
          "description": "Credentials required for Cloud SQL DB for Single user Managed Rotation.",
          "$ref": "CloudSQLSingleUserCredentials"
        }
      },
      "id": "EnableManagedRotationRequest",
      "description": "Request message for SecretManagerService.EnableManagedRotation."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "ListSecretsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of Secrets but 0 when the ListSecretsRequest.filter field is set.",
          "format": "int32",
          "type": "integer"
        },
        "secrets": {
          "type": "array",
          "description": "The list of Secrets sorted in reverse by create_time (newest first).",
          "items": {
            "$ref": "Secret"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in ListSecretsRequest.page_token to retrieve the next page.",
          "type": "string"
        }
      },
      "id": "ListSecretsResponse",
      "description": "Response message for SecretManagerService.ListSecrets."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CustomerManagedEncryption": {
      "id": "CustomerManagedEncryption",
      "description": "Configuration for encrypting secret payloads using customer-managed encryption keys (CMEK).",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. The resource name of the Cloud KMS CryptoKey used to encrypt secret payloads. For secrets using the UserManaged replication policy type, Cloud KMS CryptoKeys must reside in the same location as the replica location. For secrets using the Automatic replication policy type, Cloud KMS CryptoKeys must reside in `global`. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      }
    },
    "Replication": {
      "id": "Replication",
      "description": "A policy that defines the replication and encryption configuration of data.",
      "type": "object",
      "properties": {
        "automatic": {
          "$ref": "Automatic",
          "description": "The Secret will automatically be replicated without any restrictions."
        },
        "userManaged": {
          "$ref": "UserManaged",
          "description": "The Secret will only be replicated into the locations specified."
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnableSecretVersionRequest": {
      "id": "EnableSecretVersionRequest",
      "description": "Request message for SecretManagerService.EnableSecretVersion.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "AutomaticStatus": {
      "type": "object",
      "properties": {
        "customerManagedEncryption": {
          "$ref": "CustomerManagedEncryptionStatus",
          "description": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used.",
          "readOnly": true
        }
      },
      "id": "AutomaticStatus",
      "description": "The replication status of a SecretVersion using automatic replication. Only populated if the parent Secret has an automatic replication policy."
    },
    "CustomerManagedEncryptionStatus": {
      "id": "CustomerManagedEncryptionStatus",
      "description": "Describes the status of customer-managed encryption.",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "description": "Required. The resource name of the Cloud KMS CryptoKeyVersion used to encrypt the secret payload, in the following format: `projects/*/locations/*/keyRings/*/cryptoKeys/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "Automatic": {
      "type": "object",
      "properties": {
        "customerManagedEncryption": {
          "$ref": "CustomerManagedEncryption",
          "description": "Optional. The customer-managed encryption configuration of the Secret. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions."
        }
      },
      "id": "Automatic",
      "description": "A replication policy that replicates the Secret payload without any restrictions."
    },
    "Rotation": {
      "id": "Rotation",
      "description": "The rotation time and period for a Secret. At next_rotation_time, Secret Manager will send a Pub/Sub notification to the topics configured on the Secret. Secret.topics must be set to configure rotation.",
      "type": "object",
      "properties": {
        "rotationPeriod": {
          "description": "Input only. The Duration between rotation notifications. Must be in seconds and at least 3600s (1h) and at most 3153600000s (100 years). If rotation_period is set, next_rotation_time must be set. next_rotation_time will be advanced by this period when the service automatically sends rotation notifications.",
          "format": "google-duration",
          "type": "string"
        },
        "nextRotationTime": {
          "description": "Optional. Timestamp in UTC at which the Secret is scheduled to rotate. Cannot be set to less than 300s (5 min) in the future and at most 3153600000s (100 years). next_rotation_time MUST be set if rotation_period is set.",
          "format": "google-datetime",
          "type": "string"
        },
        "managedRotationStatus": {
          "description": "Output only. The current status of the managed rotation. This field is only applicable to Typed Secrets. This field is set by the service and cannot be set by the user.",
          "readOnly": true,
          "$ref": "ManagedRotationStatus"
        }
      }
    },
    "RotateSecretRequest": {
      "type": "object",
      "properties": {},
      "id": "RotateSecretRequest",
      "description": "Request message for SecretManagerService.RotateSecret."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      }
    },
    "SecretPayload": {
      "id": "SecretPayload",
      "description": "A secret payload resource in the Secret Manager API. This contains the sensitive secret payload that is associated with a SecretVersion.",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "The secret data. Must be no larger than 64KiB.",
          "format": "byte"
        },
        "dataCrc32c": {
          "type": "string",
          "description": "Optional. If specified, SecretManagerService will verify the integrity of the received data on SecretManagerService.AddSecretVersion calls using the crc32c checksum and store it to include in future SecretManagerService.AccessSecretVersion responses. If a checksum is not provided in the SecretManagerService.AddSecretVersion request, the SecretManagerService will generate and store one for you. The CRC32C value is encoded as a Int64 for compatibility, and can be safely downconverted to uint32 in languages that support this type. https://cloud.google.com/apis/design/design_patterns#integer_types",
          "format": "int64"
        }
      }
    },
    "Secret": {
      "id": "Secret",
      "description": "A Secret is a logical secret whose value and versions can be accessed. A Secret is made up of zero or more SecretVersions that represent the secret data.",
      "type": "object",
      "properties": {
        "topics": {
          "type": "array",
          "description": "Optional. A list of up to 10 Pub/Sub topics to which messages are published when control plane operations are called on the secret or its versions.",
          "items": {
            "$ref": "Topic"
          }
        },
        "etag": {
          "description": "Optional. Etag of the currently stored Secret.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the Secret was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "The labels assigned to this Secret. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `\\p{Ll}\\p{Lo}{0,62}` Label values must be between 0 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}` No more than 64 labels can be assigned to a given resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
          "readOnly": true
        },
        "versionDestroyTtl": {
          "type": "string",
          "description": "Optional. Secret Version TTL after destruction request This is a part of the Delayed secret version destroy feature. For secret with TTL>0, version destruction doesn't happen immediately on calling destroy instead the version goes to a disabled state and destruction happens after the TTL expires.",
          "format": "google-duration"
        },
        "policyMember": {
          "description": "Output only. Defines the policy member for the secret. This will be used to check if the caller has the permission to perform certain operations on the typed secret.",
          "readOnly": true,
          "$ref": "ResourcePolicyMember"
        },
        "secretType": {
          "description": "Optional. Immutable. This defines the type of the secret. Enforces certain structural requirements on the SecretVersions. For secret of type UNSPECIFIED, the SecretVersions can be of any type.",
          "type": "string",
          "enumDescriptions": [
            "Applicable to all secrets which do not have any restriction on the SecretVersions.",
            "Applicable to secrets which are used for the managed rotation feature for Cloud SQL Single User.",
            "Applicable to secrets where the payload contains an access key.",
            "Applicable to secrets where the payload contains a certificate.",
            "Applicable to secrets where the payload contains database credentials.",
            "Applicable to secrets whose type doesn't belong to any of the above defined types."
          ],
          "enum": [
            "SECRET_TYPE_UNSPECIFIED",
            "CLOUD_SQL_DB_CREDENTIALS",
            "ACCESS_KEY",
            "CERTIFICATE",
            "OTHER_DB_CREDENTIALS",
            "OTHER"
          ]
        },
        "rotation": {
          "description": "Optional. Rotation policy attached to the Secret. May be excluded if there is no rotation policy.",
          "$ref": "Rotation"
        },
        "versionAliases": {
          "type": "object",
          "description": "Optional. Mapping from version alias to version name. A version alias is a string with a maximum length of 63 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore ('_') characters. An alias string must start with a letter and cannot be the string 'latest' or 'NEW'. No more than 50 aliases can be assigned to a given secret. Version-Alias pairs will be viewable via GetSecret and modifiable via UpdateSecret. Access by alias is only be supported on GetSecretVersion and AccessSecretVersion.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "replication": {
          "$ref": "Replication",
          "description": "Optional. Immutable. The replication policy of the secret data attached to the Secret. The replication policy cannot be changed after the Secret has been created."
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Mapping of Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" Tags are used to organize and group resources. Tags can be used to control policy evaluation for the resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The TTL for the Secret.",
          "format": "google-duration"
        },
        "expireTime": {
          "description": "Optional. Timestamp in UTC when the Secret is scheduled to expire. This is always provided on output, regardless of what was sent on input.",
          "format": "google-datetime",
          "type": "string"
        },
        "customerManagedEncryption": {
          "description": "Optional. The customer-managed encryption configuration of the regionalized secrets. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions.",
          "$ref": "CustomerManagedEncryption"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Custom metadata about the secret. Annotations are distinct from various forms of labels. Annotations exist to allow client tools to store their own state information without requiring a database. Annotation keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, begin and end with an alphanumeric character ([a-z0-9A-Z]), and may have dashes (-), underscores (_), dots (.), and alphanumerics in between these symbols. The total size of annotation keys and values must be less than 16KiB.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Topic": {
      "id": "Topic",
      "description": "A Pub/Sub topic which Secret Manager will publish to when control plane events occur on this secret.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Pub/Sub topic that will be published to, in the following format: `projects/*/topics/*`. For publication to succeed, the Secret Manager service agent must have the `pubsub.topic.publish` permission on the topic. The Pub/Sub Publisher role (`roles/pubsub.publisher`) includes this permission.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "UserManaged": {
      "type": "object",
      "properties": {
        "replicas": {
          "type": "array",
          "description": "Required. The list of Replicas for this Secret. Cannot be empty.",
          "items": {
            "$ref": "Replica"
          }
        }
      },
      "id": "UserManaged",
      "description": "A replication policy that replicates the Secret payload into the locations specified in Replication.UserManaged.replicas"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "AddSecretVersionRequest": {
      "id": "AddSecretVersionRequest",
      "description": "Request message for SecretManagerService.AddSecretVersion.",
      "type": "object",
      "properties": {
        "payload": {
          "$ref": "SecretPayload",
          "description": "Required. The secret payload of the SecretVersion."
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "DisableSecretVersionRequest": {
      "id": "DisableSecretVersionRequest",
      "description": "Request message for SecretManagerService.DisableSecretVersion.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds.",
          "type": "string"
        }
      }
    },
    "CloudSQLSingleUserCredentials": {
      "id": "CloudSQLSingleUserCredentials",
      "description": "These are the credentials required for Cloud SQL DB for Single user Managed Rotation.",
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Required. Instance ID of the Cloud SQL instance.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username of the Cloud SQL instance.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password of the Cloud SQL instance. If this is not provided, a random password will be generated.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "progress": {
          "description": "Output only. Represents the progress of the operation. This field is populated for operations that involve processing multiple secret versions.",
          "readOnly": true,
          "$ref": "Progress"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SecretVersion": {
      "type": "object",
      "properties": {
        "customerManagedEncryption": {
          "description": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used and Secret is a regionalized secret.",
          "readOnly": true,
          "$ref": "CustomerManagedEncryptionStatus"
        },
        "name": {
          "description": "Output only. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`. SecretVersion IDs in a Secret start at 1 and are incremented for each subsequent version of the secret.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not specified. This value is unused and invalid.",
            "The SecretVersion may be accessed.",
            "The SecretVersion may not be accessed, but the secret data is still available and can be placed back into the ENABLED state.",
            "The SecretVersion is destroyed and the secret data is no longer stored. A version may not leave this state once entered."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DESTROYED"
          ],
          "description": "Output only. The current state of the SecretVersion.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag of the currently stored SecretVersion.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the SecretVersion was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "destroyTime": {
          "description": "Output only. The time this SecretVersion was destroyed. Only present if state is DESTROYED.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "replicationStatus": {
          "$ref": "ReplicationStatus",
          "description": "The replication status of the SecretVersion."
        },
        "clientSpecifiedPayloadChecksum": {
          "type": "boolean",
          "description": "Output only. True if payload checksum specified in SecretPayload object has been received by SecretManagerService on SecretManagerService.AddSecretVersion.",
          "readOnly": true
        },
        "scheduledDestroyTime": {
          "type": "string",
          "description": "Optional. Output only. Scheduled destroy time for secret version. This is a part of the Delayed secret version destroy feature. For a Secret with a valid version destroy TTL, when a secert version is destroyed, version is moved to disabled state and it is scheduled for destruction Version is destroyed only after the scheduled_destroy_time.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "SecretVersion",
      "description": "A secret version resource in the Secret Manager API."
    },
    "UserManagedStatus": {
      "type": "object",
      "properties": {
        "replicas": {
          "type": "array",
          "description": "Output only. The list of replica statuses for the SecretVersion.",
          "readOnly": true,
          "items": {
            "$ref": "ReplicaStatus"
          }
        }
      },
      "id": "UserManagedStatus",
      "description": "The replication status of a SecretVersion using user-managed replication. Only populated if the parent Secret has a user-managed replication policy."
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "DestroySecretVersionRequest": {
      "id": "DestroySecretVersionRequest",
      "description": "Request message for SecretManagerService.DestroySecretVersion.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds.",
          "type": "string"
        }
      }
    },
    "ResourcePolicyMember": {
      "id": "ResourcePolicyMember",
      "description": "Output-only policy member strings of a Google Cloud resource's built-in identity.",
      "type": "object",
      "properties": {
        "iamPolicyNamePrincipal": {
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by user-assigned name (https://google.aip.dev/122). If a resource is deleted and recreated with the same name, the binding will be applicable to the new resource. Example: `principal://parametermanager.googleapis.com/projects/12345/name/locations/us-central1-a/parameters/my-parameter`",
          "readOnly": true,
          "type": "string"
        },
        "iamPolicyUidPrincipal": {
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by system-assigned unique identifier (https://google.aip.dev/148#uid). If a resource is deleted and recreated with the same name, the binding will not be applicable to the new resource Example: `principal://parametermanager.googleapis.com/projects/12345/uid/locations/us-central1-a/parameters/a918fed5`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Progress": {
      "id": "Progress",
      "description": "Represents progress information for operations involving multiple secret versions.",
      "type": "object",
      "properties": {
        "totalVersionCount": {
          "type": "integer",
          "description": "Output only. Provides the total number of secret versions to be processed by the operation.",
          "readOnly": true,
          "format": "int32"
        },
        "completedVersionCount": {
          "description": "Output only. Number of secret versions that have been successfully processed so far.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "failedVersionCount": {
          "type": "integer",
          "description": "Output only. Number of secret versions that failed to process.",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "Replica": {
      "type": "object",
      "properties": {
        "customerManagedEncryption": {
          "description": "Optional. The customer-managed encryption configuration of the User-Managed Replica. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions.",
          "$ref": "CustomerManagedEncryption"
        },
        "location": {
          "description": "The canonical IDs of the location to replicate data. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Replica",
      "description": "Represents a Replica for this Secret."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260731",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "secretmanager.projects.locations.list",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "id": "secretmanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "secrets": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the project associated with the Secrets, in the format `projects/*` or `projects/*/locations/*`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token."
                    },
                    "filter": {
                      "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/secrets",
                  "response": {
                    "$ref": "ListSecretsResponse"
                  },
                  "id": "secretmanager.projects.locations.secrets.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists Secrets."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "secretmanager.projects.locations.secrets.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets metadata for a given Secret.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the Secret, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Secret"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Secret"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Specifies the fields to be updated.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Secret"
                  },
                  "id": "secretmanager.projects.locations.secrets.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates metadata of an existing Secret.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "secretmanager.projects.locations.secrets.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Sets the access control policy on the specified secret. Replaces any existing policy. Permissions on SecretVersions are enforced according to the policy set on the associated Secret."
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "secretmanager.projects.locations.secrets.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the access control policy for a secret. Returns empty policy if the secret exists and does not have a policy set."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a Secret.",
                  "id": "secretmanager.projects.locations.secrets.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    },
                    "etag": {
                      "description": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "secretmanager.projects.locations.secrets.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new Secret containing no SecretVersions.",
                  "parameters": {
                    "secretId": {
                      "description": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource name of the project to associate with the Secret, in the format `projects/*` or `projects/*/locations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Secret"
                  },
                  "path": "v1/{+parent}/secrets",
                  "response": {
                    "$ref": "Secret"
                  }
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "secretmanager.projects.locations.secrets.testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has for the specified secret. If the secret does not exist, this call returns an empty set of permissions, not a NOT_FOUND error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "enableManagedRotation": {
                  "path": "v1/{+parent}:enableManagedRotation",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "EnableManagedRotationRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Enables the managed rotation feature for a Secret. This method can only be triggered once for a secret. In order to do further rotations, RotateSecret should be used. This method will add a secret version and update the password in Cloud SQL.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:enableManagedRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "secretmanager.projects.locations.secrets.enableManagedRotation",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "rotateSecret": {
                  "id": "secretmanager.projects.locations.secrets.rotateSecret",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Do a managed rotation for a Secret. This can only be triggered after Managed rotation has been enabled. This method will add a secret version and update the password in Cloud SQL.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:rotateSecret",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}:rotateSecret",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RotateSecretRequest"
                  }
                },
                "addVersion": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "AddSecretVersionRequest"
                  },
                  "path": "v1/{+parent}:addVersion",
                  "response": {
                    "$ref": "SecretVersion"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}:addVersion",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "secretmanager.projects.locations.secrets.addVersion"
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists SecretVersions. This call does not return secret data.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "secretmanager.projects.locations.secrets.versions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/versions",
                      "response": {
                        "$ref": "ListSecretVersionsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the Secret associated with the SecretVersions to list, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. Pagination token, returned earlier via ListSecretVersionsResponse.next_page_token][].",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secret versions matching the filter. If filter is empty, all secret versions are listed."
                        }
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "SecretVersion"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets metadata for a SecretVersion. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "secretmanager.projects.locations.secrets.versions.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "disable": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "secretmanager.projects.locations.secrets.versions.disable",
                      "httpMethod": "POST",
                      "description": "Disables a SecretVersion. Sets the state of the SecretVersion to DISABLED.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:disable",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:disable",
                      "response": {
                        "$ref": "SecretVersion"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the SecretVersion to disable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "DisableSecretVersionRequest"
                      }
                    },
                    "enable": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "secretmanager.projects.locations.secrets.versions.enable",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:enable",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Enables a SecretVersion. Sets the state of the SecretVersion to ENABLED.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the SecretVersion to enable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "EnableSecretVersionRequest"
                      },
                      "path": "v1/{+name}:enable",
                      "response": {
                        "$ref": "SecretVersion"
                      }
                    },
                    "access": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion."
                        }
                      },
                      "path": "v1/{+name}:access",
                      "response": {
                        "$ref": "AccessSecretVersionResponse"
                      },
                      "id": "secretmanager.projects.locations.secrets.versions.access",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:access",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Accesses a SecretVersion. This call returns the secret data. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion."
                    },
                    "destroy": {
                      "id": "secretmanager.projects.locations.secrets.versions.destroy",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "description": "Destroys a SecretVersion. Sets the state of the SecretVersion to DESTROYED and irrevocably destroys the secret data.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/secrets/{secretsId}/versions/{versionsId}:destroy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:destroy",
                      "response": {
                        "$ref": "SecretVersion"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/secrets/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the SecretVersion to destroy in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`."
                        }
                      },
                      "request": {
                        "$ref": "DestroySecretVersionRequest"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "secrets": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a Secret.",
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "secretmanager.projects.secrets.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "etag": {
                  "description": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the project to associate with the Secret, in the format `projects/*` or `projects/*/locations/*`."
                },
                "secretId": {
                  "description": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Secret"
              },
              "path": "v1/{+parent}/secrets",
              "response": {
                "$ref": "Secret"
              },
              "id": "secretmanager.projects.secrets.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/secrets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Creates a new Secret containing no SecretVersions."
            },
            "testIamPermissions": {
              "flatPath": "v1/projects/{projectsId}/secrets/{secretsId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Returns permissions that a caller has for the specified secret. If the secret does not exist, this call returns an empty set of permissions, not a NOT_FOUND error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "parameterOrder": [
                "resource"
              ],
              "id": "secretmanager.projects.secrets.testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/secrets/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              }
            },
            "list": {
              "id": "secretmanager.projects.secrets.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/secrets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists Secrets.",
[...]
