{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "servicePath": "",
  "title": "Security Command Center API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "securitycenter:v1",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "notificationConfigs": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "",
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "id": "securitycenter.projects.notificationConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.notificationConfigs.get",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "GET",
              "description": "",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "securitycenter.projects.notificationConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "path": "v1/{+parent}/notificationConfigs",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs"
            },
            "create": {
              "id": "securitycenter.projects.notificationConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "configId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+parent}/notificationConfigs",
              "description": "",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs"
            },
            "patch": {
              "id": "securitycenter.projects.notificationConfigs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+name}",
              "description": "",
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}"
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.muteConfigs.delete",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "DELETE",
              "description": "",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.muteConfigs.patch",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "create": {
              "id": "securitycenter.projects.muteConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "description": "",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/muteConfigs"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.muteConfigs.get",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.muteConfigs.list",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "description": "",
              "path": "v1/{+parent}/muteConfigs",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/muteConfigs",
              "httpMethod": "GET"
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.sources.list",
              "flatPath": "v1/projects/{projectsId}/sources",
              "httpMethod": "GET",
              "description": "",
              "path": "v1/{+parent}/sources",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "setState": {
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "httpMethod": "POST",
                  "description": "",
                  "path": "v1/{+name}:setState",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.setState"
                },
                "setMute": {
                  "description": "",
                  "path": "v1/{+name}:setMute",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.setMute",
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "group": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings:group",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "path": "v1/{+parent}/findings:group",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "id": "securitycenter.projects.sources.findings.group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.patch",
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}",
                  "httpMethod": "PATCH",
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Finding"
                  }
                },
                "updateSecurityMarks": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.updateSecurityMarks",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.sources.findings.list",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "deprecated": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "compareDuration": {
                      "location": "query",
                      "deprecated": true,
                      "type": "string",
                      "format": "google-duration"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v1/{+parent}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "path": "v1/{+name}",
                      "description": "",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "id": "securitycenter.projects.sources.findings.externalSystems.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "validateCustomModule": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "description": "",
              "path": "v1/{+parent}:validateCustomModule",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings:validateCustomModule",
              "id": "securitycenter.projects.eventThreatDetectionSettings.validateCustomModule",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              }
            }
          },
          "resources": {
            "customModules": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v1/{+parent}/customModules",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.create",
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v1/{+parent}/customModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules",
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "path": "v1/{+name}",
                  "description": ""
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.delete",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "httpMethod": "DELETE",
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "listDescendant": {
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.customModules.listDescendant"
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.eventThreatDetectionSettings.effectiveCustomModules.get"
                },
                "list": {
                  "id": "securitycenter.projects.eventThreatDetectionSettings.effectiveCustomModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/eventThreatDetectionSettings/effectiveCustomModules"
                }
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/effectiveCustomModules",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.effectiveCustomModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  }
                }
              }
            },
            "customModules": {
              "methods": {
                "listDescendant": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "simulate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.simulate",
                  "response": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v1/{+parent}/customModules:simulate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules:simulate",
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/customModules",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.create"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "httpMethod": "PATCH",
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.patch"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v1/{+name}"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/customModules",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customModules",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.customModules.list"
                }
              }
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.bigQueryExports.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "DELETE"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.bigQueryExports.patch",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "PATCH"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "path": "v1/{+parent}/bigQueryExports",
              "description": "",
              "parameters": {
                "bigQueryExportId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.projects.bigQueryExports.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.bigQueryExports.get",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "GET"
            },
            "list": {
              "id": "securitycenter.projects.bigQueryExports.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/bigQueryExports",
              "description": "",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports"
            }
          }
        },
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "get": {
                  "id": "securitycenter.projects.locations.muteConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "id": "securitycenter.projects.locations.muteConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "id": "securitycenter.projects.locations.muteConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "description": "",
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.findings.bulkMute",
              "flatPath": "v1/projects/{projectsId}/findings:bulkMute",
              "httpMethod": "POST",
              "description": "",
              "path": "v1/{+parent}/findings:bulkMute",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              }
            }
          }
        },
        "assets": {
          "methods": {
            "list": {
              "id": "securitycenter.projects.assets.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "fieldMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "compareDuration": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "readTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/assets",
              "description": "",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/assets",
              "deprecated": true
            },
            "group": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.assets.group",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/assets:group",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/assets:group",
              "deprecated": true,
              "httpMethod": "POST"
            },
            "updateSecurityMarks": {
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/assets/{assetsId}/securityMarks",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SecurityMarks"
              },
              "description": "",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SecurityMarks"
              },
              "id": "securitycenter.projects.assets.updateSecurityMarks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "muteConfigs": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.locations.muteConfigs.patch",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "PATCH",
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "securitycenter.folders.locations.muteConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.locations.muteConfigs.get",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/muteConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/muteConfigs/{muteConfigsId}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "securitycenter.folders.findings.bulkMute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/findings:bulkMute",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "path": "v1/{+parent}/findings:bulkMute",
              "description": ""
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "id": "securitycenter.folders.assets.group",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/assets:group",
              "deprecated": true,
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "description": "",
              "path": "v1/{+parent}/assets:group"
            },
            "updateSecurityMarks": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.assets.updateSecurityMarks",
              "response": {
                "$ref": "SecurityMarks"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SecurityMarks"
              },
              "flatPath": "v1/folders/{foldersId}/assets/{assetsId}/securityMarks",
              "httpMethod": "PATCH"
            },
            "list": {
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "readTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                },
                "fieldMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "compareDuration": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.assets.list",
              "flatPath": "v1/folders/{foldersId}/assets",
              "deprecated": true,
              "httpMethod": "GET",
              "description": "",
              "path": "v1/{+parent}/assets",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "customModules": {
              "methods": {
                "get": {
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.get",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customModules",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.list"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "description": "",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/customModules",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "simulate": {
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules:simulate",
                  "httpMethod": "POST",
                  "description": "",
                  "path": "v1/{+parent}/customModules:simulate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
                  },
                  "response": {
                    "$ref": "SimulateSecurityHealthAnalyticsCustomModuleResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.simulate"
                },
                "listDescendant": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.listDescendant",
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "httpMethod": "GET"
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "httpMethod": "GET",
                  "description": "",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.list",
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "delete": {
              "description": "",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.bigQueryExports.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.bigQueryExports.create",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "bigQueryExportId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/bigQueryExports",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "httpMethod": "POST"
            },
            "patch": {
              "id": "securitycenter.folders.bigQueryExports.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "path": "v1/{+name}",
              "description": "",
              "httpMethod": "PATCH",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.folders.bigQueryExports.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.bigQueryExports.list",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "",
              "path": "v1/{+parent}/bigQueryExports",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "httpMethod": "GET"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "validateCustomModule": {
              "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings:validateCustomModule",
              "httpMethod": "POST",
              "path": "v1/{+parent}:validateCustomModule",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ValidateEventThreatDetectionCustomModuleRequest"
              },
              "response": {
                "$ref": "ValidateEventThreatDetectionCustomModuleResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.eventThreatDetectionSettings.validateCustomModule"
            }
          },
          "resources": {
            "customModules": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v1/{+parent}/customModules",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListEventThreatDetectionCustomModulesResponse"
                  },
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "description": "",
                  "path": "v1/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "EventThreatDetectionCustomModule"
                  },
                  "description": "",
                  "path": "v1/{+parent}/customModules"
                },
                "delete": {
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/customModules/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules/{customModulesId}"
                },
                "listDescendant": {
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/customModules:listDescendant",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListDescendantEventThreatDetectionCustomModulesResponse"
                  },
                  "id": "securitycenter.folders.eventThreatDetectionSettings.customModules.listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "id": "securitycenter.folders.eventThreatDetectionSettings.effectiveCustomModules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings/effectiveCustomModules/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "EffectiveEventThreatDetectionCustomModule"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/effectiveCustomModules/{effectiveCustomModulesId}"
                },
                "list": {
                  "id": "securitycenter.folders.eventThreatDetectionSettings.effectiveCustomModules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListEffectiveEventThreatDetectionCustomModulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/effectiveCustomModules",
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v1/folders/{foldersId}/eventThreatDetectionSettings/effectiveCustomModules"
                }
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.muteConfigs.patch",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "description": "",
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "id": "securitycenter.folders.muteConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "muteConfigId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.muteConfigs.get",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "httpMethod": "GET",
              "description": "",
              "path": "v1/{+parent}/muteConfigs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.muteConfigs.list"
            },
            "delete": {
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.muteConfigs.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.notificationConfigs.get",
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameters": {
                "name": {
[...]
