{
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "basePath": "",
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.getOrganizationSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "description": "",
          "path": "v1beta1/{+name}"
        },
        "updateOrganizationSettings": {
          "path": "v1beta1/{+name}",
          "request": {
            "$ref": "OrganizationSettings"
          },
          "deprecated": true,
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "path": "v1beta1/{+name}:cancel",
              "id": "securitycenter.organizations.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "securitycenter.organizations.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.operations.get",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.operations.delete",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "description": ""
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.group",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "description": "",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "path": "v1beta1/{+parent}/assets:group"
            },
            "list": {
              "path": "v1beta1/{+parent}/assets",
              "parameters": {
                "readTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                },
                "fieldMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "compareDuration": {
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.list"
            },
            "updateSecurityMarks": {
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "description": "",
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              }
            },
            "runDiscovery": {
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "description": "",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "sources": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.patch",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "description": "",
              "request": {
                "$ref": "Source"
              },
              "path": "v1beta1/{+name}"
            },
            "list": {
              "path": "v1beta1/{+parent}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSourcesResponse"
              }
            },
            "testIamPermissions": {
              "path": "v1beta1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "description": "",
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "request": {
                "$ref": "Source"
              },
              "path": "v1beta1/{+parent}/sources",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Source"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "id": "securitycenter.organizations.sources.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "description": ""
            },
            "getIamPolicy": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "description": "",
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "description": "",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "path": "v1beta1/{+resource}:setIamPolicy"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.sources.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Source"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "group": {
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "path": "v1beta1/{+parent}/findings:group",
                  "id": "securitycenter.organizations.sources.findings.group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "path": "v1beta1/{+parent}/findings",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameters": {
                    "findingId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateSecurityMarks": {
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "fieldMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/findings"
                },
                "setState": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  }
                },
                "patch": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta1",
  "batchPath": "batch",
  "canonicalName": "Security Command Center",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "id": "securitycenter:v1beta1",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "schemas": {
    "Cvssv3": {
      "type": "object",
      "id": "Cvssv3",
      "properties": {
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cve": {
      "type": "object",
      "id": "Cve",
      "properties": {
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "exploitationActivity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        }
      }
    },
    "Geolocation": {
      "type": "object",
      "id": "Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        }
      }
    },
    "PolicyDriftDetails": {
      "type": "object",
      "id": "PolicyDriftDetails",
      "properties": {
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        }
      }
    },
    "AzureSubscription": {
      "id": "AzureSubscription",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cwe": {
      "type": "object",
      "id": "Cwe",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Contact": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Contact",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Label": {
      "id": "GoogleCloudSecuritycenterV2Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Application": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Application",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "SecurityMarks": {
      "type": "object",
      "id": "SecurityMarks",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "dataset": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ResourcePathNode": {
      "id": "ResourcePathNode",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpRules": {
      "type": "object",
      "id": "IpRules",
      "properties": {
        "allowed": {
          "$ref": "Allowed"
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "denied": {
          "$ref": "Denied"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary",
      "properties": {
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "Subject": {
      "id": "Subject",
      "properties": {
        "ns": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupResult": {
      "type": "object",
      "id": "GroupResult",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "properties": {
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceValue": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "properties": {
        "type": {
          "type": "string"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Allowed",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "id": "GoogleCloudSecuritycenterV2Binding",
      "properties": {
        "name": {
          "type": "string"
        },
        "subjects": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          },
          "type": "array"
        },
        "ns": {
          "type": "string"
        },
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Agent": {
      "type": "object",
      "id": "Agent",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "properties": {
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        },
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object"
    },
    "CloudDlpInspection": {
      "id": "CloudDlpInspection",
      "properties": {
        "infoType": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "properties": {
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Chokepoint": {
      "id": "Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SecretEnvironmentVariable": {
      "type": "object",
      "id": "SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "properties": {
        "findingClass": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "moduleName": {
          "type": "string"
        },
        "loadBalancers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          },
          "type": "array"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "processes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          },
          "type": "array"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "externalUri": {
          "type": "string"
        },
        "networks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          },
          "type": "array"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "type": "object"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "parent": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          }
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "category": {
          "type": "string"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "nextSteps": {
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "groupMemberships": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          },
          "type": "array"
        },
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamDetails",
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          },
          "type": "array"
        }
      }
    },
    "VulnerabilitySnapshot": {
      "type": "object",
      "id": "VulnerabilitySnapshot",
      "properties": {
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Framework",
      "properties": {
        "category": {
          "type": "array",
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "controls": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "type": "array"
        }
      }
    },
    "Framework": {
      "id": "Framework",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controls": {
          "items": {
            "$ref": "Control"
          },
          "type": "array"
        },
        "category": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          },
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "properties": {
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupType": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "properties": {
        "mediumSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "highSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "LoadBalancer": {
      "id": "LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem",
      "properties": {
        "status": {
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseUri": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "name": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "casePriority": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "id": "GoogleCloudSecuritycenterV2Notebook",
      "properties": {
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "id": "GoogleCloudSecuritycenterV2Job",
      "properties": {
        "name": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "version": {
          "type": "string"
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string"
          }
        },
        "primaryTactic": {
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "additionalTechniques": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "id": "GoogleCloudSecuritycenterV2IamRolePermission",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "properties": {
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "casePriority": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseUri": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Denied": {
      "id": "Denied",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "type": "object"
    },
    "DataAccessEvent": {
      "id": "DataAccessEvent",
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Allowed": {
      "id": "Allowed",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "properties": {
        "cloudControlName": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "policyType": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "properties": {
        "score": {
          "type": "number",
          "format": "double"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "attackExposureResult": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Property",
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      }
    },
    "FileOperation": {
      "type": "object",
      "id": "FileOperation",
      "properties": {
        "type": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Exfiltration": {
      "type": "object",
      "id": "Exfiltration",
      "properties": {
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "id": "GoogleCloudSecuritycenterV2PortRange",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "role": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          },
          "type": "array"
        }
      }
    },
    "Container": {
      "type": "object",
      "id": "Container",
      "properties": {
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "imageId": {
          "type": "string"
        }
      }
    },
    "VulnerabilityCountBySeverity": {
      "type": "object",
      "id": "VulnerabilityCountBySeverity",
      "properties": {
        "severityToFindingCount": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "properties": {
        "publicPort": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "hostnameUri": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1Finding",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "category": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
[...]
