{
  "version": "v1",
  "title": "Security Posture API",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "basePath": "",
  "servicePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListPostureTemplatesResponse": {
      "properties": {
        "postureTemplates": {
          "type": "array",
          "description": "The list of PostureTemplate resources.",
          "items": {
            "$ref": "PostureTemplate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        }
      },
      "type": "object",
      "description": "Response message for ListPostureTemplates.",
      "id": "ListPostureTemplatesResponse"
    },
    "Property": {
      "type": "object",
      "properties": {
        "valueExpression": {
          "description": "Optional. The CEL expression for the value of the custom source property. For resource properties, you can return the value of the property or a string enclosed in quotation marks.",
          "$ref": "Expr"
        },
        "name": {
          "description": "Required. The name of the custom source property.",
          "type": "string"
        }
      },
      "id": "Property",
      "description": "A name-value pair used as a custom source property."
    },
    "GoogleCloudSecuritypostureV1PolicyRule": {
      "id": "GoogleCloudSecuritypostureV1PolicyRule",
      "description": "A rule that defines the allowed and denied values for an organization policy constraint.",
      "type": "object",
      "properties": {
        "allowAll": {
          "type": "boolean",
          "description": "Whether to allow any value for a list constraint. Valid only for list constraints."
        },
        "values": {
          "$ref": "GoogleCloudSecuritypostureV1PolicyRuleStringValues",
          "description": "The allowed and denied values for a list constraint. Valid only for list constraints."
        },
        "enforce": {
          "description": "Whether to enforce the constraint. Valid only for boolean constraints.",
          "type": "boolean"
        },
        "parameters": {
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\": [\"us-east1\", \"us-west1\"], \"allowAll\": true } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "condition": {
          "$ref": "Expr",
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`"
        },
        "resourceTypes": {
          "$ref": "ResourceTypes",
          "description": "Optional. The resource types policies can support, only used for managed constraints. Method type is `GOVERN_TAGS`."
        },
        "denyAll": {
          "description": "Whether to deny all values for a list constraint. Valid only for list constraints.",
          "type": "boolean"
        }
      }
    },
    "ListPostureRevisionsResponse": {
      "id": "ListPostureRevisionsResponse",
      "description": "Response message for ListPostureRevisions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "revisions": {
          "items": {
            "$ref": "Posture"
          },
          "description": "The list of revisions for the Posture.",
          "type": "array"
        }
      }
    },
    "AssetDetails": {
      "description": "Details of a Cloud Asset Inventory asset that caused a violation.",
      "id": "AssetDetails",
      "properties": {
        "asset": {
          "description": "Information about the Cloud Asset Inventory asset that violated a policy. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way.",
          "type": "string"
        },
        "assetType": {
          "type": "string",
          "description": "The type of Cloud Asset Inventory asset. For a list of asset types, see [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
        }
      },
      "type": "object"
    },
    "Report": {
      "id": "Report",
      "description": "Details of a report.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`."
        },
        "createTime": {
          "description": "Output only. The time at which the report was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "iacValidationReport": {
          "readOnly": true,
          "$ref": "IaCValidationReport",
          "description": "Output only. An infrastructure-as-code (IaC) validation report."
        },
        "updateTime": {
          "description": "Output only. The time at which the report was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The unique identifier for the custom module. Contains 1 to 20 digits."
        },
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "description": "Whether the custom module is enabled at a specified level of the resource hierarchy."
        },
        "config": {
          "$ref": "CustomConfig",
          "description": "Required. Configuration settings for the custom module."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the custom module. This value is used as the finding category for all the asset violation findings that the custom module returns. The display name must contain between 1 and 128 alphanumeric characters or underscores, and it must start with a lowercase letter."
        }
      },
      "id": "SecurityHealthAnalyticsCustomModule",
      "description": "A custom module for Security Health Analytics."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "OrgPolicyConstraintCustom": {
      "id": "OrgPolicyConstraintCustom",
      "description": "A custom organization policy constraint.",
      "type": "object",
      "properties": {
        "customConstraint": {
          "$ref": "GoogleCloudSecuritypostureV1CustomConstraint",
          "description": "Required. Metadata for the constraint."
        },
        "policyRules": {
          "description": "Required. The rules enforced by the constraint.",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "type": "array"
        }
      }
    },
    "ExtractPostureRequest": {
      "description": "Request message for ExtractPosture.",
      "id": "ExtractPostureRequest",
      "properties": {
        "postureId": {
          "description": "Required. An identifier for the posture.",
          "type": "string"
        },
        "workload": {
          "description": "Required. The organization, folder, or project from which policies are extracted. Must be within the organization defined in parent. Use one of the following formats: * `organization/{organization_number}` * `folder/{folder_number}` * `project/{project_number}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IaC": {
      "description": "Details of an infrastructure-as-code (IaC) configuration.",
      "id": "IaC",
      "properties": {
        "tfPlan": {
          "description": "Optional. A Terraform plan file, formatted as a stringified JSON object. To learn how to generate a Terraform plan file in JSON format, see [JSON output format](https://developer.hashicorp.com/terraform/internals/json-format) in the Terraform documentation.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListPosturesResponse": {
      "type": "object",
      "properties": {
        "postures": {
          "items": {
            "$ref": "Posture"
          },
          "description": "The list of Posture resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "unreachable": {
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListPosturesResponse",
      "description": "Response message for ListPostures."
    },
    "ListPostureDeploymentsResponse": {
      "id": "ListPostureDeploymentsResponse",
      "description": "Response message for ListPostureDeployments.",
      "type": "object",
      "properties": {
        "postureDeployments": {
          "type": "array",
          "items": {
            "$ref": "PostureDeployment"
          },
          "description": "The list of PostureDeployment resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that were temporarily unavailable and could not be reached."
        }
      }
    },
    "CreateIaCValidationReportRequest": {
      "id": "CreateIaCValidationReportRequest",
      "description": "Request message for CreateIaCValidationReport.",
      "type": "object",
      "properties": {
        "iac": {
          "description": "Required. The infrastructure-as-code (IaC) configuration to validate.",
          "$ref": "IaC"
        }
      }
    },
    "PolicySet": {
      "description": "A group of one or more Policy resources.",
      "id": "PolicySet",
      "properties": {
        "policySetId": {
          "description": "Required. An identifier for the policy set.",
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "Policy"
          },
          "description": "Required. The Policy resources in the policy set. Each policy must have a policy_id that's unique within the policy set."
        },
        "description": {
          "description": "Optional. A description of the policy set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudSecuritypostureV1PolicyRuleStringValues": {
      "id": "GoogleCloudSecuritypostureV1PolicyRuleStringValues",
      "description": "The allowed and denied values for a list constraint. For all constraints, these fields can contain literal values. Optionally, you can add the `is:` prefix to these values. If the value contains a colon (`:`), then the `is:` prefix is required. Some constraints allow you to specify a portion of the resource hierarchy, known as a [_hierarchy subtree_](https://cloud.google.com/resource-manager/help/organization-policy/hierarchy-subtree), that the constraint applies to. To specify a hierarchy subtree, use the `under:` prefix, followed by a value with one of these formats: - `projects/{project_id}` (for example, `projects/tokyo-rain-123`) - `folders/{folder_id}` (for example, `folders/1234567890123`) - `organizations/{organization_id}` (for example, `organizations/123456789012`) A constraint's `supports_under` field indicates whether you can specify a hierarchy subtree. To learn which predefined constraints let you specify a hierarchy subtree, see the [constraints reference](https://cloud.google.com/resource-manager/help/organization-policy/constraints/reference).",
      "type": "object",
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "The allowed values for the constraint.",
          "items": {
            "type": "string"
          }
        },
        "deniedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The denied values for the constraint."
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "PostureDeployment": {
      "id": "PostureDeployment",
      "description": "Details for a Posture deployment on an organization, folder, or project. You can deploy at most one posture to each organization, folder, or project. The parent resource for a posture deployment is always the organization, even if the deployment applies to a folder or project.",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "Optional. The user-specified annotations for the posture deployment. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "postureRevisionId": {
          "type": "string",
          "description": "Required. The revision ID of the posture used in the deployment."
        },
        "desiredPostureId": {
          "description": "Output only. The posture ID that was specified for the deployment. Present only if the posture deployment is in a failed state.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the posture deployment is in the process of being updated."
        },
        "etag": {
          "description": "Optional. An opaque identifier for the current version of the posture deployment. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture deployment. You can also provide the `etag` when you delete a posture deployment, to help ensure that you're deleting the intended posture deployment.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the posture deployment was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
          "type": "string"
        },
        "postureId": {
          "description": "Required. The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the posture deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "UPDATING",
            "ACTIVE",
            "CREATE_FAILED",
            "UPDATE_FAILED",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture deployment is being created.",
            "The posture deployment is being deleted.",
            "The posture deployment is being updated.",
            "The posture deployment is active and in use.",
            "The posture deployment could not be created.",
            "The posture deployment could not be updated.",
            "The posture deployment could not be deleted."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the posture deployment."
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`"
        },
        "desiredPostureRevisionId": {
          "description": "Output only. The revision ID of the posture that was specified for the deployment. Present only if the deployment is in a failed state.",
          "readOnly": true,
          "type": "string"
        },
        "categories": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The categories that the posture deployment belongs to, as determined by the Security Posture API.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the posture deployment was created.",
          "readOnly": true,
          "type": "string"
        },
        "failureMessage": {
          "description": "Output only. A description of why the posture deployment failed. Present only if the deployment is in a failed state.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object"
    },
    "PostureTemplate": {
      "description": "The details of a posture template.",
      "id": "PostureTemplate",
      "properties": {
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A string that identifies the revision of the posture template."
        },
        "policySets": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PolicySet"
          },
          "description": "Output only. The PolicySet resources that the posture template includes."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture template follows the latest controls and standards.",
            "The posture template uses outdated controls and standards. We recommend that you use a newer revision of the posture template."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "description": "Output only. The state of the posture template at the specified `revision_id`."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of the posture template."
        },
        "name": {
          "description": "Output only. Identifier. The name of the posture template, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
          "readOnly": true,
          "type": "string"
        },
        "categories": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ]
          },
          "description": "Output only. The categories that the posture template belongs to, as determined by the Security Posture API."
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "PolicyDetails": {
      "properties": {
        "constraintType": {
          "description": "The type of constraint that was violated.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A custom module for Security Health Analytics.",
            "A custom organization policy constraint.",
            "A built-in detector for Security Health Analytics.",
            "A predefined organization policy constraint.",
            "A custom rego policy constraint."
          ],
          "enum": [
            "CONSTRAINT_TYPE_UNSPECIFIED",
            "SECURITY_HEALTH_ANALYTICS_CUSTOM_MODULE",
            "ORG_POLICY_CUSTOM",
            "SECURITY_HEALTH_ANALYTICS_MODULE",
            "ORG_POLICY",
            "REGO_POLICY"
          ]
        },
        "constraint": {
          "type": "string",
          "description": "Information about the constraint that was violated. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way."
        },
        "description": {
          "description": "A description of the policy.",
          "type": "string"
        },
        "complianceStandards": {
          "type": "array",
          "description": "The compliance standards that the policy maps to. For example, `CIS-2.0 1.15`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Details of a policy that was violated.",
      "id": "PolicyDetails"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. The resource types to run the detector on. Each custom module can specify up to 5 resource types.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A selector for the resource types to run the detector on.",
      "id": "ResourceSelector"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "ComplianceStandard": {
      "properties": {
        "standard": {
          "type": "string",
          "description": "Optional. The compliance standard that the policy helps enforce. For example, `NIST SP 800-53`."
        },
        "control": {
          "description": "Optional. The control in the compliance standard that the policy helps enforce. For example, `AC-3`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a compliance standard that the policy helps enforce.",
      "id": "ComplianceStandard"
    },
    "Constraint": {
      "description": "Metadata for a constraint in a Policy.",
      "id": "Constraint",
      "properties": {
        "securityHealthAnalyticsCustomModule": {
          "$ref": "SecurityHealthAnalyticsCustomModule",
          "description": "Optional. A custom module for Security Health Analytics."
        },
        "orgPolicyConstraintCustom": {
          "description": "Optional. A custom organization policy constraint.",
          "$ref": "OrgPolicyConstraintCustom"
        },
        "securityHealthAnalyticsModule": {
          "description": "Optional. A built-in detector for Security Health Analytics.",
          "$ref": "SecurityHealthAnalyticsModule"
        },
        "orgPolicyConstraint": {
          "description": "Optional. A predefined organization policy constraint.",
          "$ref": "OrgPolicyConstraint"
        }
      },
      "type": "object"
    },
    "Violation": {
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the violation."
        },
        "violatedPolicy": {
          "$ref": "PolicyDetails",
          "description": "Details of the policy that was violated."
        },
        "assetId": {
          "type": "string",
          "description": "The full resource name of the asset that caused the violation. For details about the format of the full resource name for each asset type, see [Resource name format](https://cloud.google.com/asset-inventory/docs/resource-name-format)."
        },
        "nextSteps": {
          "description": "A description of the steps that you can take to fix the violation.",
          "type": "string"
        },
        "policyId": {
          "type": "string",
          "description": "The policy that was violated."
        },
        "violatedPosture": {
          "$ref": "PostureDetails",
          "description": "Details for the posture that was violated. This field is present only if the violated policy belongs to a deployed posture."
        },
        "violatedAsset": {
          "description": "Details of the Cloud Asset Inventory asset that caused the violation.",
          "$ref": "AssetDetails"
        }
      },
      "type": "object",
      "description": "Details of a violation.",
      "id": "Violation"
    },
    "CustomConfig": {
      "description": "A custom module configuration for Security Health Analytics. Use `CustomConfig` to create custom detectors that generate custom findings for resources that you specify.",
      "id": "CustomConfig",
      "properties": {
        "resourceSelector": {
          "$ref": "ResourceSelector",
          "description": "Required. The resource types that the custom module operates on."
        },
        "description": {
          "description": "Optional. A description of the vulnerability or misconfiguration that the custom module detects. The description appears in each finding. Provide enough information to help an investigator understand the finding. The value must be enclosed in quotation marks.",
          "type": "string"
        },
        "severity": {
          "description": "Required. The severity of findings generated by the custom module.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "predicate": {
          "$ref": "Expr",
          "description": "Required. The Common Expression Language (CEL) expression to evaluate. When the expression evaluates to `true` for a resource, a finding is generated."
        },
        "recommendation": {
          "type": "string",
          "description": "Required. An explanation of the steps that security teams can take to resolve the detected issue. The explanation appears in each finding."
        },
        "customOutput": {
          "description": "Optional. Definitions of custom source properties to include in findings.",
          "$ref": "CustomOutputSpec"
        }
      },
      "type": "object"
    },
    "PostureDetails": {
      "properties": {
        "posture": {
          "description": "The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        },
        "policySet": {
          "description": "The identifier for the PolicySet that the relevant policy belongs to.",
          "type": "string"
        },
        "postureDeployment": {
          "type": "string",
          "description": "The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`."
        },
        "postureDeploymentTargetResource": {
          "description": "The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`",
          "type": "string"
        },
        "postureRevisionId": {
          "type": "string",
          "description": "The revision ID of the posture used in the deployment."
        }
      },
      "type": "object",
      "description": "Details of a posture deployment.",
      "id": "PostureDetails"
    },
    "OrgPolicyConstraint": {
      "type": "object",
      "properties": {
        "policyRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "description": "Required. The rules enforced by the constraint."
        },
        "cannedConstraintId": {
          "description": "Required. A unique identifier for the constraint.",
          "type": "string"
        }
      },
      "id": "OrgPolicyConstraint",
      "description": "A predefined organization policy constraint."
    },
    "ResourceTypes": {
      "id": "ResourceTypes",
      "description": "Set multiple resource types for one policy, for example: ``` resourceTypes: included: - compute.googleapis.com/Instance - compute.googleapis.com/Disk ``` Constraint definition contains an empty resource type in order to support multiple resource types in the policy. Only supports managed constraints. Method type is `GOVERN_TAGS`.",
      "type": "object",
      "properties": {
        "included": {
          "type": "array",
          "description": "Optional. The resource types we support.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IaCValidationReport": {
      "id": "IaCValidationReport",
      "description": "Details of an infrastructure-as-code (IaC) validation report.",
      "type": "object",
      "properties": {
        "violations": {
          "type": "array",
          "items": {
            "$ref": "Violation"
          },
          "description": "A list of every Violation found in the IaC configuration."
        },
        "note": {
          "description": "Additional information about the report.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Metadata for an Operation.",
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "description": "Output only. The server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API version used to start the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the operation was created."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the action executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. The status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Whether a request to cancel the operation has been received. For operations that have been cancelled successfully, the Operation.error field contains the error code CANCELLED.",
          "readOnly": true,
          "type": "boolean"
        },
        "errorMessage": {
          "description": "Output only. An error message. Returned when a PostureDeployment enters a failure state like UPDATE_FAILED.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecurityHealthAnalyticsModule": {
      "properties": {
        "moduleName": {
          "description": "Required. The name of the detector. For example, `BIGQUERY_TABLE_CMEK_DISABLED`. This field is also used as the finding category for all the asset violation findings that the detector returns.",
          "type": "string"
        },
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "description": "Whether the detector is enabled at a specified level of the resource hierarchy."
        }
      },
      "type": "object",
      "description": "A built-in detector for Security Health Analytics.",
      "id": "SecurityHealthAnalyticsModule"
    },
    "GoogleCloudSecuritypostureV1CustomConstraint": {
      "type": "object",
      "properties": {
        "methodTypes": {
          "description": "The types of operations that the constraint applies to.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Not supported. Constraint applied when deleting the resource."
            ],
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A description of the constraint. The maximum length is 2000 characters."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the constraint, in the format `organizations/{organization_id}/customConstraints/custom.{custom_constraint_id}`. For example, `organizations/123456789012/customConstraints/custom.createOnlyE2TypeVms`. Must contain 1 to 62 characters, excluding the prefix `organizations/{organization_id}/customConstraints/custom.`."
        },
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. The resource type that the constraint applies to, in the format `{canonical_service_name}/{resource_type_name}`. For example, `compute.googleapis.com/Instance`.",
          "type": "array"
        },
        "condition": {
          "description": "A Common Expression Language (CEL) condition expression that must evaluate to `true` for the constraint to be enforced. The maximum length is 1000 characters. For example: + `resource.instanceName.matches('(production|test)_(.+_)?[\\d]+')`: Evaluates to `true` if the resource's `instanceName` attribute contains the following: + The prefix `production` or `test` + An underscore (`_`) + Optional: One or more characters, followed by an underscore (`_`) + One or more digits + `resource.management.auto_upgrade == true`: Evaluates to `true` if the resource's `management.auto_upgrade` attribute is `true`.",
          "type": "string"
        },
        "actionType": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Allow the action.",
            "Deny the action."
          ],
          "description": "Whether to allow or deny the action."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time at which the constraint was updated or created."
        },
        "displayName": {
          "type": "string",
          "description": "A display name for the constraint. The maximum length is 200 characters."
        }
      },
      "id": "GoogleCloudSecuritypostureV1CustomConstraint",
      "description": "A custom, user-defined constraint. You can apply the constraint only to the resource types specified in the constraint, and only within the organization where the constraint is defined. _When you create a custom constraint, it is not enforced automatically._ You must use an organization policy to [enforce the constraint](https://cloud.google.com/resource-manager/help/organization-policy/constraints/enforce)."
    },
    "Policy": {
      "description": "The details of a policy, including the constraints that it includes.",
      "id": "Policy",
      "properties": {
        "complianceStandards": {
          "type": "array",
          "description": "Optional. The compliance standards that the policy helps enforce.",
          "items": {
            "$ref": "ComplianceStandard"
          }
        },
        "policyId": {
          "type": "string",
          "description": "Required. A user-specified identifier for the policy. In a PolicySet, each policy must have a unique identifier."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the policy."
        },
        "constraint": {
          "description": "Required. The constraints that the policy includes.",
          "$ref": "Constraint"
        }
      },
      "type": "object"
    },
    "Posture": {
      "description": "The details of a posture.",
      "id": "Posture",
      "properties": {
        "state": {
          "description": "Required. The state of the posture at the specified `revision_id`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPRECATED",
            "DRAFT",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture is deprecated and can no longer be deployed.",
            "The posture is a draft and is not ready to deploy.",
            "The posture is complete and ready to deploy."
          ]
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The user-specified annotations for the posture. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations).",
          "type": "object"
        },
        "reconciling": {
          "description": "Output only. Whether the posture is in the process of being updated.",
          "readOnly": true,
          "type": "boolean"
        },
        "categories": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The categories that the posture belongs to, as determined by the Security Posture API.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the posture."
        },
        "policySets": {
          "type": "array",
          "items": {
            "$ref": "PolicySet"
          },
          "description": "Required. The PolicySet resources that the posture includes."
        },
        "createTime": {
          "description": "Output only. The time at which the posture was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. Immutable. An opaque eight-character string that identifies the revision of the posture. A posture can have multiple revisions; when you deploy a posture, you deploy a specific revision of the posture.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. An opaque identifier for the current version of the posture at the specified `revision_id`. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture. You can also provide the `etag` when you delete a posture, to help ensure that you're deleting the intended version of the posture.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the posture was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
        }
      },
      "type": "object"
    },
    "CustomOutputSpec": {
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. The custom source properties that can appear in findings.",
          "items": {
            "$ref": "Property"
          },
          "type": "array"
        }
      },
      "id": "CustomOutputSpec",
      "description": "Definitions of custom source properties that can appear in findings."
    },
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "description": "The list of Report resources.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        }
      },
      "type": "object",
      "description": "Response message for ListReports.",
      "id": "ListReportsResponse"
    }
  },
  "revision": "20260817",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "securityposture.organizations.locations.get",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location."
                }
              }
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securityposture.organizations.locations.list",
              "flatPath": "v1/organizations/{organizationsId}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.operations.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.operations.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "securityposture.organizations.locations.operations.cancel",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "securityposture.organizations.locations.operations.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "postureTemplates": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.postureTemplates.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists every PostureTemplate in a given organization and location.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A pagination token returned from a previous request to list posture templates. Provide this token to retrieve the next page of results."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of posture templates to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/postureTemplates",
                  "response": {
                    "$ref": "ListPostureTemplatesResponse"
                  }
                },
                "get": {
                  "id": "securityposture.organizations.locations.postureTemplates.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates/{postureTemplatesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a single revision of a PostureTemplate.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "revisionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The posture template revision to retrieve. If not specified, the most recently updated revision is retrieved."
                    },
                    "name": {
                      "description": "Required. The name of the PostureTemplate, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureTemplates/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "PostureTemplate"
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "description": "Lists every Report in a given organization and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.reports.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "path": "v1/{+parent}/reports",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of reports to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A pagination token returned from a previous request to list reports. Provide this token to retrieve the next page of results."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list of reports, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "description": "Gets details for a Report.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.reports.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports/{reportsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Report"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "createIaCValidationReport": {
                  "httpMethod": "POST",
                  "id": "securityposture.organizations.locations.reports.createIaCValidationReport",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports:createIaCValidationReport",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Validates a specified infrastructure-as-code (IaC) configuration, and creates a Report with the validation results. Only Terraform configurations are supported. Only modified assets are validated.",
                  "request": {
                    "$ref": "CreateIaCValidationReportRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/reports:createIaCValidationReport"
                }
              }
            },
            "postures": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Posture.",
                  "request": {
                    "$ref": "Posture"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "securityposture.organizations.locations.postures.create",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures",
                  "path": "v1/{+parent}/postures",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "postureId": {
                      "description": "Required. An identifier for the posture.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The fields in the Posture to update. You can update only the following fields: * Posture.description * Posture.policy_sets * Posture.state",
                      "format": "google-fieldmask"
                    },
                    "revisionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The revision ID of the posture to update. If the posture revision that you update is currently deployed, then a new revision of the posture is created."
                    }
                  },
                  "description": "Updates a revision of an existing Posture. If the posture revision that you update is currently deployed, then a new revision of the posture is created. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture: 1. Call GetPosture to get the current version of the posture. 2. Update the fields in the posture as needed. 3. Call UpdatePosture to update the posture. Ensure that your request includes the `etag` value from the GetPosture response. **Important:** If you omit the `etag` when you call UpdatePosture, then the updated posture unconditionally overwrites the existing posture.",
                  "request": {
                    "$ref": "Posture"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "securityposture.organizations.locations.postures.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "extract": {
                  "id": "securityposture.organizations.locations.postures.extract",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures:extract",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ExtractPostureRequest"
                  },
                  "description": "Extracts existing policies from an organization, folder, or project, and applies them to another organization, folder, or project as a Posture. If the other organization, folder, or project already has a posture, then the result of the long-running operation is an ALREADY_EXISTS error.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/postures:extract"
                },
                "listRevisions": {
                  "path": "v1/{+name}:listRevisions",
                  "response": {
                    "$ref": "ListPostureRevisionsResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of posture revisions to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A pagination token from a previous request to list posture revisions. Provide this token to retrieve the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all revisions of a single Posture.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.postures.listRevisions",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}:listRevisions"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a single revision of a Posture.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.postures.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Posture"
                  },
                  "parameters": {
                    "revisionId": {
                      "description": "Optional. The posture revision to retrieve. If not specified, the most recently updated revision is retrieved.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "securityposture.organizations.locations.postures.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes all revisions of a Posture. You can only delete a posture if none of its revisions are deployed.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An opaque identifier for the current version of the posture. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture is deleted regardless of its current `etag` value."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.postures.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the most recent revisions of all Posture resources in a specified organization and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous request to list postures. Provide this token to retrieve the next page of results."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of postures to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160)."
                    }
                  },
                  "response": {
                    "$ref": "ListPosturesResponse"
                  },
                  "path": "v1/{+parent}/postures"
                }
              }
            },
            "postureDeployments": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/postureDeployments",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`."
                    },
                    "postureDeploymentId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. An identifier for the posture deployment."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new PostureDeployment in a given project and location.",
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "securityposture.organizations.locations.postureDeployments.create",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. The fields in the PostureDeployment to update. You can update only the following fields: * PostureDeployment.posture_id * PostureDeployment.posture_revision_id",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securityposture.organizations.locations.postureDeployments.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "description": "Updates an existing PostureDeployment. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture deployment: 1. Call GetPostureDeployment to get the current version of the deployment. 2. Update the fields in the deployment as needed. 3. Call UpdatePostureDeployment to update the deployment. Ensure that your request includes the `etag` value from the GetPostureDeployment response. **Important:** If you omit the `etag` when you call UpdatePostureDeployment, then the updated deployment unconditionally overwrites the existing deployment."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details for a PostureDeployment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.postureDeployments.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "PostureDeployment"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the PostureDeployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_deployment_id}`.",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "etag": {
                      "description": "Optional. An opaque identifier for the current version of the posture deployment. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture deployment is deleted regardless of its current `etag` value.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_id}`.",
                      "required": true
                    }
                  },
                  "description": "Deletes a PostureDeployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "securityposture.organizations.locations.postureDeployments.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160)."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture deployments to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A pagination token returned from a previous request to list posture deployments. Provide this token to retrieve the next page of results."
                    }
                  },
                  "path": "v1/{+parent}/postureDeployments",
                  "response": {
                    "$ref": "ListPostureDeploymentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "securityposture.organizations.locations.postureDeployments.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists every PostureDeployment in a project and location."
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Defines, assesses, and monitors the overall status of your security in Google Cloud. You can use security postures to evaluate your current cloud security against defined benchmarks and help maintain the level of security that your organization requires. ",
  "canonicalName": "Security Posture",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://securityposture.googleapis.com/",
  "mtlsRootUrl": "https://securityposture.mtls.googleapis.com/",
  "rootUrl": "https://securityposture.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "id": "securityposture:v1",
  "name": "securityposture",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch"
}