{
  "baseUrl": "https://securitycenter.googleapis.com/",
  "revision": "20260812",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "version": "v1beta2",
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "basePath": "",
  "schemas": {
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "properties": {
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "maxRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "properties": {
        "insertId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "logId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "VulnerabilitySnapshot": {
      "type": "object",
      "id": "VulnerabilitySnapshot",
      "properties": {
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GroupMembership": {
      "type": "object",
      "id": "GroupMembership",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        }
      }
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicy": {
      "id": "ArtifactGuardPolicy",
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string"
        },
        "type": {
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature"
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentSession",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      }
    },
    "ToxicCombination": {
      "type": "object",
      "id": "ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DiscoveredWorkload": {
      "properties": {
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DiscoveredWorkload"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo",
      "type": "object"
    },
    "SecurityPolicy": {
      "properties": {
        "preview": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityPolicy",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "Finding": {
      "properties": {
        "ipRules": {
          "$ref": "IpRules"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "externalUri": {
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "access": {
          "$ref": "Access"
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "secret": {
          "$ref": "Secret"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "nextSteps": {
          "type": "string"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "findingClass": {
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "moduleName": {
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "readOnly": true
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "AgentSession"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "application": {
          "$ref": "Application"
        },
        "externalSystems": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true
        },
        "category": {
          "type": "string"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "agent": {
          "$ref": "Agent"
        },
        "muteInitiator": {
          "type": "string"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "parent": {
          "type": "string"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "database": {
          "$ref": "Database"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "disk": {
          "$ref": "Disk"
        },
        "description": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "job": {
          "$ref": "Job"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "name": {
          "type": "string"
        },
        "aiModel": {
          "$ref": "AiModel"
        }
      },
      "id": "Finding",
      "type": "object"
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "SecurityBulletin": {
      "properties": {
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2Agent": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Agent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "properties": {
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata",
      "properties": {
        "projectId": {
          "type": "string"
        }
      }
    },
    "YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "YaraRuleSignature",
      "type": "object"
    },
    "ArtifactGuardPolicies": {
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicies",
      "type": "object"
    },
    "HttpResponse": {
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpResponse"
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "type": "object",
      "properties": {
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        },
        "dataProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "id": "GoogleCloudSecuritycenterV2AffectedResources",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "type": "object"
    },
    "SecurityHealthAnalyticsSettings": {
      "properties": {
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SecurityHealthAnalyticsSettings",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "properties": {
        "type": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2FileOperation"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MemoryHashSignature": {
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      },
      "id": "MemoryHashSignature",
      "type": "object"
    },
    "RapidVulnerabilityDetectionSettings": {
      "id": "RapidVulnerabilityDetectionSettings",
      "type": "object",
      "properties": {
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "resourceName": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "externalUri": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ResourcePath": {
      "type": "object",
      "id": "ResourcePath",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "ResourcePathNode"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "type": "object",
      "properties": {
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "resourceValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceType": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Requests": {
      "properties": {
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Requests"
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2StaticMute"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "properties": {
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseUri": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "status": {
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "type": "object"
    },
    "Config": {
      "properties": {
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "value": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Config"
    },
    "Kubernetes": {
      "type": "object",
      "id": "Kubernetes",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "type": "object",
      "properties": {
        "detectorId": {
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "properties": {
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRules"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "type": "object",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        }
      }
    },
    "VirtualMachineThreatDetectionSettings": {
      "properties": {
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "VirtualMachineThreatDetectionSettings",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          }
        }
      }
    },
    "AdcApplicationTemplateRevision": {
      "type": "object",
      "id": "AdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "DetectorReference": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "detectorId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "DetectorReference"
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitivityScore",
      "properties": {
        "score": {
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "exposureScore": {
          "type": "number",
          "format": "double"
        },
        "securityContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "description": {
          "type": "string"
        },
        "lastObservationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "issueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ]
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detection": {
          "type": "string"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV2Issue",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "Network": {
      "type": "object",
      "id": "Network",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "type": "object"
    },
    "AzureManagementGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AzureManagementGroup",
      "type": "object"
    },
    "Geolocation": {
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Geolocation"
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2OrgPolicy"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "properties": {
        "muteState": {
          "readOnly": true,
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteReason": {
          "type": "string"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Requests",
      "properties": {
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Database": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Database"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pipeline"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "type": "object",
      "properties": {
        "member": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "type": "string"
        }
      }
    },
    "Role": {
      "id": "Role",
      "type": "object",
      "properties": {
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsMetadata"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Dataset"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Subject"
    },
    "Job": {
      "properties": {
        "location": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Job"
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "properties": {
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        }
      }
    },
    "Folder": {
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "id": "Folder",
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "properties": {
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "location": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "displayName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "resourcePathString": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Resource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
    },
    "FileOperation": {
      "type": "object",
      "id": "FileOperation",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      }
    },
    "CloudDlpInspection": {
      "id": "CloudDlpInspection",
      "type": "object",
      "properties": {
        "inspectJob": {
          "type": "string"
        },
        "infoType": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "infoTypeCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Container": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "name": {
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Container"
    },
    "Pipeline": {
      "id": "Pipeline",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "Cve": {
      "type": "object",
      "id": "Cve",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "exploitationActivity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        }
      }
    },
    "Chokepoint": {
      "id": "Chokepoint",
      "type": "object",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContactDetails": {
      "type": "object",
      "id": "ContactDetails",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "properties": {
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "properties": {
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "properties": {
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "threatVector": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object"
    },
    "AttackExposure": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "AttackExposure"
    },
    "Pod": {
      "id": "Pod",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Node": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "properties": {
        "relativePath": {
          "type": "string"
        },
        "partitionUuid": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DiskPath"
    },
    "Framework": {
      "type": "object",
      "id": "Framework",
      "properties": {
        "type": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "displayName": {
          "type": "string"
        },
        "category": {
          "type": "array",
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "AwsOrganization": {
      "type": "object",
      "id": "AwsOrganization",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Kubernetes"
    },
    "Subject": {
      "id": "Subject",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Detection": {
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Detection"
    },
    "AwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AwsAccount",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GcpMetadata": {
      "id": "GcpMetadata",
      "type": "object",
      "properties": {
        "project": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "readOnly": true
        },
        "organization": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Contact": {
      "id": "GoogleCloudSecuritycenterV2Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Process": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Process",
      "properties": {
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "parentPid": {
          "format": "int64",
          "type": "string"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "id": "GoogleCloudSecuritycenterV1IamDetails",
      "type": "object",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          }
        }
      }
    },
    "Container": {
      "properties": {
        "imageId": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "id": "Container",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "id": "GoogleCloudSecuritycenterV2VertexAi",
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "SecretFilePath": {
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "SecretFilePath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Package": {
      "id": "GoogleCloudSecuritycenterV2Package",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        }
      }
    },
    "MuteInfo": {
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      },
      "id": "MuteInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "type": "object"
    },
    "AdcApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcApplication"
    },
    "Details": {
      "id": "Details",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO",
            "PAY_AS_YOU_GO",
            "SUBSCRIPTION",
            "SUB_FIXED",
            "SUB_BASE_OVERAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Process": {
      "properties": {
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "script": {
          "$ref": "File"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "userId": {
          "format": "int64",
          "type": "string"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "binary": {
          "$ref": "File"
        },
        "name": {
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Process"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      }
    },
    "Reference": {
      "id": "Reference",
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "AgentSession": {
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentSession"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "properties": {
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "type": "object"
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "type": "object",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Compliance",
      "properties": {
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Property",
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2NodePool"
    },
    "SecretEnvironmentVariable": {
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "SecretEnvironmentVariable",
      "type": "object"
    },
    "Disk": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Disk"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pod",
      "type": "object"
    },
    "Subscription": {
      "properties": {
        "details": {
          "$ref": "Details"
        },
        "name": {
          "type": "string"
        },
        "tier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "ENTERPRISE",
            "ENTERPRISE_MC"
          ]
        }
      },
      "type": "object",
      "id": "Subscription"
    },
    "ExportFindingsMetadata": {
      "type": "object",
      "id": "ExportFindingsMetadata",
      "properties": {
        "exportStartTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      }
    },
    "Package": {
      "type": "object",
      "id": "Package",
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Job": {
      "id": "GoogleCloudSecuritycenterV2Job",
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ExportFindingsResponse": {
      "properties": {},
      "type": "object",
      "id": "ExportFindingsResponse"
    },
    "DataFlowEvent": {
      "properties": {
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DataFlowEvent",
      "type": "object"
    },
    "Cwe": {
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      },
      "id": "Cwe",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Attack": {
      "id": "Attack",
      "type": "object",
      "properties": {
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "classification": {
          "type": "string"
        },
        "volumePps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Notebook",
      "properties": {
        "lastAuthor": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "properties": {
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object"
    },
    "SecretStatus": {
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "SecretStatus"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object"
    },
    "AwsOrganizationalUnit": {
      "type": "object",
      "id": "AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "AgentAnomaly": {
      "type": "object",
      "id": "AgentAnomaly",
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "double"
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "DetectorReference"
          }
        },
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "InvocationReference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2InvocationReference"
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "properties": {
        "query": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "File": {
      "properties": {
        "sha256": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "diskPath": {
          "$ref": "DiskPath"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "path": {
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "FileOperation"
          }
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "File"
    },
    "AffectedResources": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AffectedResources",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcApplication"
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "type": "object",
      "properties": {
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "confidence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Notebook": {
      "properties": {
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Notebook"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resourceValue": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "properties": {
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "reachable": {
          "type": "boolean"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        }
      }
    },
    "EventThreatDetectionSettings": {
      "type": "object",
      "id": "EventThreatDetectionSettings",
      "properties": {
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
    },
    "Allowed": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "id": "Allowed",
      "type": "object"
    },
    "Secret": {
      "properties": {
        "filePath": {
          "$ref": "SecretFilePath"
        },
        "type": {
          "type": "string"
        },
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        },
        "status": {
          "$ref": "SecretStatus"
        }
      },
      "id": "Secret",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
[...]
