{
  "rootUrl": "https://securitycenter.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260918",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Security Command Center API",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "schemas": {
    "BatchCreateResourceValueConfigsRequest": {
      "type": "object",
      "id": "BatchCreateResourceValueConfigsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateResourceValueConfigRequest"
          }
        }
      }
    },
    "EnvironmentVariable": {
      "type": "object",
      "id": "EnvironmentVariable",
      "properties": {
        "val": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Pipeline": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Pipeline",
      "type": "object"
    },
    "AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcSharedTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "type": "object",
      "properties": {
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Requests"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GcpMetadata": {
      "id": "GcpMetadata",
      "properties": {
        "project": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        }
      },
      "type": "object"
    },
    "Package": {
      "id": "Package",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      }
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "ns": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Requests": {
      "properties": {
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Requests",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "properties": {
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        },
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext"
    },
    "CloudControl": {
      "properties": {
        "policyType": {
          "type": "string"
        },
        "cloudControlName": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "type": "string"
        }
      },
      "id": "CloudControl",
      "type": "object"
    },
    "Access": {
      "type": "object",
      "properties": {
        "userAgent": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "callerIp": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        }
      },
      "id": "Access"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        },
        "parentDisplayName": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Object",
      "properties": {
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        }
      }
    },
    "CustomModuleValidationErrors": {
      "type": "object",
      "id": "CustomModuleValidationErrors",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "CustomModuleValidationError"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "properties": {
        "state": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "applyTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2StaticMute"
    },
    "BulkMuteFindingsRequest": {
      "id": "BulkMuteFindingsRequest",
      "properties": {
        "muteAnnotation": {
          "type": "string",
          "deprecated": true
        },
        "filter": {
          "type": "string"
        },
        "muteState": {
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "MUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProcessSignature": {
      "type": "object",
      "properties": {
        "signatureType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string"
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature"
        },
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature"
        }
      },
      "id": "ProcessSignature"
    },
    "Job": {
      "properties": {
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "Job"
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "properties": {
        "type": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2FileOperation"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "type": "object",
      "properties": {
        "pscNetworkAttachment": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "backendService": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "instanceGroup": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "properties": {
        "volumePps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "classification": {
          "type": "string"
        },
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Attack",
      "type": "object"
    },
    "ListEffectiveEventThreatDetectionCustomModulesResponse": {
      "id": "ListEffectiveEventThreatDetectionCustomModulesResponse",
      "properties": {
        "effectiveEventThreatDetectionCustomModules": {
          "type": "array",
          "items": {
            "$ref": "EffectiveEventThreatDetectionCustomModule"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Binding",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "$ref": "Role"
        },
        "ns": {
          "type": "string"
        },
        "subjects": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "type": "string"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "displayName": {
          "type": "string"
        },
        "ancestorModule": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsOrganization"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "properties": {
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        },
        "name": {
          "type": "string"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "properties": {
        "muteState": {
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        },
        "muteReason": {
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "properties": {
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "displayName": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "name": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "properties": {
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "project": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "resourcePathString": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "readOnly": true
        },
        "organization": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Resource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "properties": {
        "postureDeployment": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          },
          "type": "array"
        },
        "policySet": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "PathNodeAssociatedFinding": {
      "properties": {
        "findingCategory": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "canonicalFinding": {
          "type": "string"
        }
      },
      "id": "PathNodeAssociatedFinding",
      "type": "object"
    },
    "LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      },
      "type": "object",
      "id": "LogEntry"
    },
    "Framework": {
      "type": "object",
      "properties": {
        "category": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "controls": {
          "items": {
            "$ref": "Control"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "type": "string"
        }
      },
      "id": "Framework"
    },
    "AttackPathNode": {
      "id": "AttackPathNode",
      "properties": {
        "attackSteps": {
          "items": {
            "$ref": "AttackStepNode"
          },
          "type": "array"
        },
        "resourceType": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "associatedFindings": {
          "items": {
            "$ref": "PathNodeAssociatedFinding"
          },
          "type": "array"
        },
        "uuid": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "MitreAttack": {
      "id": "MitreAttack",
      "properties": {
        "primaryTechniques": {
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "additionalTactics": {
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "additionalTechniques": {
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "primaryTactic": {
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Disk",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organizationalUnits": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "properties": {
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "highSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "notificationConfigName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "properties": {
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "resourceType": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "resourceValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DiskPath": {
      "id": "DiskPath",
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      }
    },
    "ListAssetsResult": {
      "properties": {
        "stateChange": {
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "asset": {
          "$ref": "Asset"
        }
      },
      "id": "ListAssetsResult",
      "type": "object"
    },
    "Role": {
      "id": "Role",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "Process": {
      "id": "Process",
      "type": "object",
      "properties": {
        "parentPid": {
          "format": "int64",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "envVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "binary": {
          "$ref": "File"
        },
        "script": {
          "$ref": "File"
        },
        "name": {
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GroupFindingsRequest": {
      "type": "object",
      "id": "GroupFindingsRequest",
      "properties": {
        "pageToken": {
          "type": "string"
        },
        "compareDuration": {
          "format": "google-duration",
          "deprecated": true,
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "type": "string"
        },
        "readTime": {
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AffectedResources": {
      "properties": {
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AffectedResources",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ValidateEventThreatDetectionCustomModuleResponse": {
      "properties": {
        "errors": {
          "$ref": "CustomModuleValidationErrors"
        }
      },
      "type": "object",
      "id": "ValidateEventThreatDetectionCustomModuleResponse"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "id": "GetIamPolicyRequest"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "type": "object"
    },
    "Secret": {
      "id": "Secret",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "SecretStatus"
        },
        "filePath": {
          "$ref": "SecretFilePath"
        },
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "GroupMembership": {
      "id": "GroupMembership",
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "type": "object",
      "properties": {
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "confidence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        }
      }
    },
    "AwsOrganizationalUnit": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AwsOrganizationalUnit",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "cloudControlName": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudControl"
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "standard": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Compliance"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "Denied": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "type": "object",
      "id": "Denied"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Subject"
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2HttpResponse"
    },
    "InvocationReference": {
      "type": "object",
      "id": "InvocationReference",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Property",
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      }
    },
    "File": {
      "properties": {
        "contents": {
          "type": "string"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "sha256": {
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "FileOperation"
          }
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "diskPath": {
          "$ref": "DiskPath"
        },
        "path": {
          "type": "string"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "File",
      "type": "object"
    },
    "SecurityPosture": {
      "type": "object",
      "id": "SecurityPosture",
      "properties": {
        "policy": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "PolicyDriftDetails"
          }
        },
        "policySet": {
          "type": "string"
        }
      }
    },
    "OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "OrgPolicy"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node"
    },
    "Chokepoint": {
      "id": "Chokepoint",
      "type": "object",
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        }
      },
      "id": "VulnerabilitySnapshot",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SensitivityScore": {
      "properties": {
        "score": {
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "SensitivityScore"
    },
    "Detection": {
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Detection"
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status"
        },
        "name": {
          "type": "string"
        },
        "done": {
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord",
      "type": "object",
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Compliance": {
      "id": "Compliance",
      "type": "object",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "Network": {
      "id": "Network",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccessReview": {
      "id": "AccessReview",
      "properties": {
        "version": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "NodePool": {
      "id": "NodePool",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ResourcePathNode": {
      "id": "ResourcePathNode",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "nodeType": {
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "type": "object"
    },
    "DetectorReference": {
      "id": "DetectorReference",
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "recommendation": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "properties": {
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "type": "string"
        },
        "sourceIp": {
          "type": "string"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "TicketInfo": {
      "id": "TicketInfo",
      "properties": {
        "assignee": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceValueConfigMetadata": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "ResourceValueConfigMetadata",
      "type": "object"
    },
    "ExportFindingsResponse": {
      "properties": {},
      "type": "object",
      "id": "ExportFindingsResponse"
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamRolePermission"
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent",
      "type": "object",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "violatedLocation": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Package": {
      "type": "object",
      "properties": {
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Package"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
    },
    "Allowed": {
      "type": "object",
      "id": "Allowed",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable",
      "properties": {
        "val": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cvssv3": {
      "properties": {
        "privilegesRequired": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "Cvssv3",
      "type": "object"
    },
    "DynamicMuteRecord": {
      "id": "DynamicMuteRecord",
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "properties": {
        "eventType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "type": "string"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "OrganizationSettings": {
      "id": "OrganizationSettings",
      "properties": {
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig"
        },
        "name": {
          "type": "string"
        },
        "enableAssetDiscovery": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "type": "object",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContactDetails": {
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "id": "ContactDetails",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "id": "GoogleCloudSecuritycenterV2Pod",
      "type": "object",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "ns": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "properties": {
        "parentType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "infoTypes": {
          "items": {
            "$ref": "InfoType"
          },
          "type": "array"
        },
        "dataProfile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec"
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "properties": {
        "backupType": {
          "type": "string"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string"
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "type": "object"
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "YaraRuleSignature",
      "type": "object"
    },
    "SimulatedResource": {
      "properties": {
        "resourceData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "resourceType": {
          "type": "string"
        },
        "iamPolicyData": {
          "$ref": "Policy"
        }
      },
      "id": "SimulatedResource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "type": "object",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      }
    },
    "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse": {
      "properties": {
        "effectiveSecurityHealthAnalyticsCustomModules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ExternalExposure": {
      "type": "object",
      "properties": {
        "hostnameUri": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedApplication": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "HttpResponse"
          }
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        }
      },
      "id": "ExternalExposure"
    },
    "Asset": {
      "id": "Asset",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityMarks": {
          "$ref": "SecurityMarks"
        },
        "name": {
          "type": "string"
        },
        "iamPolicy": {
          "$ref": "IamPolicy"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        }
      },
      "type": "object"
    },
    "GroupAssetsRequest": {
      "type": "object",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "groupBy": {
          "type": "string"
        },
        "compareDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      },
      "id": "GroupAssetsRequest"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2NodePool"
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "properties": {
        "attackExposureResult": {
          "type": "string"
        },
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AzureResourceGroup": {
      "id": "AzureResourceGroup",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "BatchCreateResourceValueConfigsResponse": {
      "type": "object",
      "id": "BatchCreateResourceValueConfigsResponse",
      "properties": {
        "resourceValueConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "properties": {
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "category": {
          "type": "string"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "canonicalName": {
          "type": "string",
          "readOnly": true
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "type": "object"
        },
        "externalUri": {
          "type": "string"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "compliances": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          },
          "type": "array"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "connections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "loadBalancers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          },
          "type": "array"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "muteInitiator": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "processes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          },
          "type": "array"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "groupMemberships": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "findingClass": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "parent": {
          "type": "string"
        },
        "agentSessions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          },
          "type": "array"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "moduleName": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "externalSystems": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "type": "object"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "resourceName": {
          "type": "string"
        },
        "agentDataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          },
          "type": "array"
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "logEntries": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          },
          "type": "array"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "nextSteps": {
          "type": "string"
        },
        "networks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          },
          "type": "array"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "name": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
[...]
