{
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://securitycenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "version_module": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "id": "securitycenter:v1",
  "batchPath": "batch",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "name": "securitycenter",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/"
    }
  ],
  "documentationLink": "https://cloud.google.com/security-command-center",
  "version": "v1",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "ownerDomain": "google.com",
  "revision": "20260619",
  "title": "Security Command Center API",
  "ownerName": "Google",
  "canonicalName": "Security Command Center",
  "schemas": {
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "id": "GoogleCloudSecuritycenterV2Cve",
      "properties": {
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "exploitationActivity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "properties": {
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "name": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "resourcePathString": {
          "type": "string"
        },
        "projectName": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "location": {
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        },
        "service": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "parentName": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "Finding"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupResult": {
      "type": "object",
      "id": "GroupResult",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "count": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "properties": {
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        }
      },
      "type": "object"
    },
    "AzureTenant": {
      "type": "object",
      "id": "AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "Position": {
      "id": "Position",
      "properties": {
        "columnNumber": {
          "type": "integer",
          "format": "int32"
        },
        "lineNumber": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "id": "GoogleCloudSecuritycenterV2Denied",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DiskPath": {
      "id": "DiskPath",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Object": {
      "id": "Object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Denied": {
      "type": "object",
      "id": "Denied",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      }
    },
    "BulkMuteFindingsRequest": {
      "id": "BulkMuteFindingsRequest",
      "properties": {
        "filter": {
          "type": "string"
        },
        "muteState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "MUTED",
            "UNDEFINED"
          ]
        },
        "muteAnnotation": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreateResourceValueConfigsResponse": {
      "type": "object",
      "id": "BatchCreateResourceValueConfigsResponse",
      "properties": {
        "resourceValueConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          }
        }
      }
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "properties": {
        "offendingPackage": {
          "$ref": "Package"
        },
        "cve": {
          "$ref": "Cve"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "reachable": {
          "type": "boolean"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "cwes": {
          "items": {
            "$ref": "Cwe"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "LoadBalancer": {
      "type": "object",
      "id": "LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "NotificationConfig": {
      "type": "object",
      "id": "NotificationConfig",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "pubsubTopic": {
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "streamingConfig": {
          "$ref": "StreamingConfig"
        }
      }
    },
    "ExportFindingsResponse": {
      "id": "ExportFindingsResponse",
      "properties": {},
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "InfoType": {
      "type": "object",
      "id": "InfoType",
      "properties": {
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "DataFlowEvent": {
      "id": "DataFlowEvent",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "MuteInfo": {
      "id": "MuteInfo",
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "Compliance": {
      "type": "object",
      "id": "Compliance",
      "properties": {
        "standard": {
          "type": "string"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Pod": {
      "id": "Pod",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "VulnerabilitySnapshot": {
      "type": "object",
      "id": "VulnerabilitySnapshot",
      "properties": {
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        }
      }
    },
    "NodePool": {
      "id": "NodePool",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "predicate": {
          "$ref": "Expr"
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "description": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "type": "object",
      "id": "Database",
      "properties": {
        "query": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "PolicyDriftDetails": {
      "type": "object",
      "id": "PolicyDriftDetails",
      "properties": {
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        }
      }
    },
    "AzureResourceGroup": {
      "type": "object",
      "id": "AzureResourceGroup",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Subject",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        }
      }
    },
    "CloudControl": {
      "type": "object",
      "id": "CloudControl",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "cloudControlName": {
          "type": "string"
        },
        "policyType": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2File",
      "properties": {
        "contents": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "sha256": {
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SecurityCenterProperties": {
      "id": "SecurityCenterProperties",
      "properties": {
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "resourceDisplayName": {
          "type": "string"
        },
        "resourceProjectDisplayName": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceParentDisplayName": {
          "type": "string"
        },
        "resourceProject": {
          "type": "string"
        },
        "resourceParent": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "resourceOwners": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem",
      "properties": {
        "caseUri": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "status": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "casePriority": {
          "type": "string"
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AiModel": {
      "type": "object",
      "id": "AiModel",
      "properties": {
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "deploymentPlatform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "library": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicy": {
      "type": "object",
      "id": "ArtifactGuardPolicy",
      "properties": {
        "failureReason": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "policyId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "kind": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ListMuteConfigsResponse": {
      "type": "object",
      "id": "ListMuteConfigsResponse",
      "properties": {
        "muteConfigs": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "LogEntry": {
      "id": "LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      },
      "type": "object"
    },
    "Container": {
      "type": "object",
      "id": "Container",
      "properties": {
        "imageId": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        }
      }
    },
    "Job": {
      "type": "object",
      "id": "Job",
      "properties": {
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        }
      }
    },
    "BatchCreateResourceValueConfigsRequest": {
      "id": "BatchCreateResourceValueConfigsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateResourceValueConfigRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "properties": {
        "listFindingsResults": {
          "items": {
            "$ref": "ListFindingsResult"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cve": {
      "type": "object",
      "id": "Cve",
      "properties": {
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "exploitationActivity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "zeroDay": {
          "type": "boolean"
        }
      }
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        },
        "pods": {
          "items": {
            "$ref": "Pod"
          },
          "type": "array"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "type": "array"
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "properties": {
        "displayName": {
          "deprecated": true,
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Reference": {
      "type": "object",
      "id": "Reference",
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "properties": {
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Dataset": {
      "type": "object",
      "id": "Dataset",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "ComplianceDetails": {
      "type": "object",
      "id": "ComplianceDetails",
      "properties": {
        "cloudControlDeploymentNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        },
        "cloudControl": {
          "$ref": "CloudControl"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "properties": {
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        },
        "dynamicMuteRecords": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Geolocation": {
      "type": "object",
      "id": "Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary",
      "properties": {
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Disk": {
      "type": "object",
      "id": "Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Folder": {
      "id": "Folder",
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttackPathEdge": {
      "id": "AttackPathEdge",
      "properties": {
        "destination": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "organizationalUnits": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "properties": {
        "domainCategory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ]
        }
      }
    },
    "Role": {
      "type": "object",
      "id": "Role",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          },
          "type": "array"
        },
        "dataProfile": {
          "type": "string"
        },
        "parentType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        }
      },
      "type": "object"
    },
    "CloudArmor": {
      "id": "CloudArmor",
      "properties": {
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "threatVector": {
          "type": "string"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "requests": {
          "$ref": "Requests"
        },
        "attack": {
          "$ref": "Attack"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "Pipeline": {
      "id": "Pipeline",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "properties": {
        "organization": {
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "resourcePathString": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "parent": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "name": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "readOnly": true
        },
        "service": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AzureSubscription": {
      "type": "object",
      "id": "AzureSubscription",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Contact": {
      "id": "GoogleCloudSecuritycenterV2Contact",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "properties": {
        "infoType": {
          "type": "string"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "fullScan": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "properties": {
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Exfiltration": {
      "id": "Exfiltration",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        },
        "targets": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "IpRule": {
      "type": "object",
      "id": "IpRule",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "PortRange"
          },
          "type": "array"
        }
      }
    },
    "SecurityPosture": {
      "type": "object",
      "id": "SecurityPosture",
      "properties": {
        "policyDriftDetails": {
          "items": {
            "$ref": "PolicyDriftDetails"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "properties": {
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "type": "array",
          "readOnly": true
        },
        "project": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "additionalTactics": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "primaryTactic": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "primaryTechniques": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "type": "array"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        }
      },
      "type": "object"
    },
    "AdaptiveProtection": {
      "type": "object",
      "id": "AdaptiveProtection",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "AttackPathNode": {
      "type": "object",
      "id": "AttackPathNode",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "associatedFindings": {
          "type": "array",
          "items": {
            "$ref": "PathNodeAssociatedFinding"
          }
        },
        "resourceType": {
          "type": "string"
        },
        "attackSteps": {
          "items": {
            "$ref": "AttackStepNode"
          },
          "type": "array"
        },
        "uuid": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Allowed",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      }
    },
    "AwsOrganizationalUnit": {
      "type": "object",
      "id": "AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SimulatedResource": {
      "id": "SimulatedResource",
      "properties": {
        "resourceData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "iamPolicyData": {
          "$ref": "Policy"
        },
        "resourceType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "properties": {
        "pods": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        },
        "accessReviews": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          },
          "type": "array"
        }
      }
    },
    "Finding": {
      "type": "object",
      "id": "Finding",
      "properties": {
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "disk": {
          "$ref": "Disk"
        },
        "externalUri": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "access": {
          "$ref": "Access"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "readOnly": true,
          "type": "object"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "name": {
          "type": "string"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "DataAccessEvent"
          },
          "type": "array"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "muteInitiator": {
          "type": "string"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "nextSteps": {
          "type": "string"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "DataFlowEvent"
          },
          "type": "array"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "resourceName": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "description": {
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "category": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "parent": {
          "type": "string"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "loadBalancers": {
          "items": {
            "$ref": "LoadBalancer"
          },
          "type": "array"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "orgPolicies": {
          "items": {
            "$ref": "OrgPolicy"
          },
          "type": "array"
        },
        "database": {
          "$ref": "Database"
        },
        "secret": {
          "$ref": "Secret"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "application": {
          "$ref": "Application"
        },
        "moduleName": {
          "type": "string"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "job": {
          "$ref": "Job"
        }
      }
    },
    "SimulateSecurityHealthAnalyticsCustomModuleResponse": {
      "id": "SimulateSecurityHealthAnalyticsCustomModuleResponse",
      "properties": {
        "result": {
          "$ref": "SimulatedResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "Contact": {
      "id": "Contact",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "properties": {
        "uri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        }
      }
    },
    "Application": {
      "id": "Application",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "properties": {
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      }
    },
    "IpRules": {
      "id": "IpRules",
      "properties": {
        "allowed": {
          "$ref": "Allowed"
        },
        "denied": {
          "$ref": "Denied"
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AffectedResources": {
      "id": "AffectedResources",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "id": "GoogleCloudSecuritycenterV2Process",
      "properties": {
        "pid": {
          "format": "int64",
          "type": "string"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        }
      },
      "type": "object"
    },
    "Subject": {
      "id": "Subject",
      "properties": {
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "properties": {
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "SensitivityScore": {
      "id": "SensitivityScore",
      "properties": {
        "score": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "CloudLoggingEntry": {
      "id": "CloudLoggingEntry",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "TicketInfo": {
      "type": "object",
      "id": "TicketInfo",
      "properties": {
        "assignee": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContactDetails": {
      "type": "object",
      "id": "ContactDetails",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array"
        }
      }
    },
    "AzureManagementGroup": {
      "id": "AzureManagementGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListValuedResourcesResponse": {
      "id": "ListValuedResourcesResponse",
      "properties": {
        "valuedResources": {
          "type": "array",
          "items": {
            "$ref": "ValuedResource"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "properties": {
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "threatVector": {
          "type": "string"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        }
      }
    },
    "Cwe": {
      "type": "object",
      "id": "Cwe",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "role": {
          "type": "string"
        },
        "condition": {
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
[...]
