{
  "discoveryVersion": "v1",
  "servicePath": "",
  "version_module": true,
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "schemas": {
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "type": "object",
      "properties": {
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "scope": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "resourceValue": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "properties": {
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "id": "GoogleCloudSecuritycenterV2FileOperation",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ListAssetsResult": {
      "properties": {
        "asset": {
          "$ref": "Asset"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ListAssetsResult",
      "type": "object"
    },
    "VulnerabilitySnapshot": {
      "type": "object",
      "properties": {
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        }
      },
      "id": "VulnerabilitySnapshot"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
    },
    "Secret": {
      "type": "object",
      "properties": {
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        },
        "filePath": {
          "$ref": "SecretFilePath"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "$ref": "SecretStatus"
        }
      },
      "id": "Secret"
    },
    "OrgPolicy": {
      "id": "OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "type": "object",
      "properties": {
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "properties": {
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "MitreAttack": {
      "properties": {
        "primaryTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "primaryTactic": {
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        },
        "version": {
          "type": "string"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      },
      "id": "MitreAttack",
      "type": "object"
    },
    "DataRetentionDeletionEvent": {
      "id": "DataRetentionDeletionEvent",
      "type": "object",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ExternalExposure": {
      "properties": {
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "httpResponse": {
          "items": {
            "$ref": "HttpResponse"
          },
          "type": "array"
        }
      },
      "id": "ExternalExposure",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        }
      }
    },
    "Pod": {
      "id": "Pod",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "ns": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        }
      }
    },
    "Job": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Job"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "properties": {
        "detection": {
          "type": "string"
        },
        "secondaryResources": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "issueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ]
        },
        "relatedFindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          },
          "type": "array"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "exposureScore": {
          "format": "double",
          "type": "number"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "name": {
          "type": "string"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "remediations": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lastObservationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "securityContexts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Issue"
    },
    "Container": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "imageId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "id": "Container",
      "type": "object"
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "type": "array"
        }
      }
    },
    "SecretStatus": {
      "type": "object",
      "id": "SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "validity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      }
    },
    "Cwe": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      },
      "id": "Cwe"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "failureReason": {
          "type": "string"
        },
        "policyId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "properties": {
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "destinationIp": {
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Connection",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "properties": {
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackExposureResult": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AttackExposure"
    },
    "Detection": {
      "id": "Detection",
      "type": "object",
      "properties": {
        "percentPagesMatched": {
          "type": "number",
          "format": "double"
        },
        "binary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "id": "GoogleCloudSecuritycenterV2File",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          },
          "type": "array"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "path": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "sha256": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "id": "GoogleCloudSecuritycenterV2Folder",
      "type": "object",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      }
    },
    "IamBinding": {
      "properties": {
        "member": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "IamBinding"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "type": "object",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "exploitationActivity": {
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cve"
    },
    "Cvssv3": {
      "properties": {
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        }
      },
      "type": "object",
      "id": "Cvssv3"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "type": "object",
      "properties": {
        "assignee": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2TicketInfo"
    },
    "RunAssetDiscoveryRequest": {
      "id": "RunAssetDiscoveryRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2Object": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Object",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "group": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "type": "object",
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "type": "object",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TicketInfo": {
      "type": "object",
      "id": "TicketInfo",
      "properties": {
        "uri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "organizationalUnits": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsMetadata"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "AwsOrganization": {
      "id": "AwsOrganization",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "properties": {
        "id": {
          "type": "string"
        },
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object"
    },
    "Compliance": {
      "id": "Compliance",
      "type": "object",
      "properties": {
        "standard": {
          "type": "string"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1Finding",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "resourceName": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "category": {
          "type": "string"
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
          "readOnly": true
        },
        "externalUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "parent": {
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Property",
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      }
    },
    "Allowed": {
      "id": "Allowed",
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      }
    },
    "PolicyViolationSummary": {
      "id": "PolicyViolationSummary",
      "properties": {
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        },
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "type": "object",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamDetails"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pod"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "Object": {
      "type": "object",
      "id": "Object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "group": {
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "condition": {
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "id": "GoogleCloudSecuritycenterV2Notebook",
      "type": "object",
      "properties": {
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Role": {
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Role"
    },
    "AgentAnomaly": {
      "type": "object",
      "id": "AgentAnomaly",
      "properties": {
        "confidenceScore": {
          "format": "double",
          "type": "number"
        },
        "invocationReferences": {
          "items": {
            "$ref": "InvocationReference"
          },
          "type": "array"
        },
        "detectorReferences": {
          "items": {
            "$ref": "DetectorReference"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DiskPath"
    },
    "GoogleCloudSecuritycenterV2AgentAnomaly": {
      "id": "GoogleCloudSecuritycenterV2AgentAnomaly",
      "type": "object",
      "properties": {
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DetectorReference"
          }
        },
        "confidenceScore": {
          "type": "number",
          "format": "double"
        },
        "invocationReferences": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InvocationReference"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "deprecated": true
        }
      }
    },
    "VulnerabilityCountBySeverity": {
      "type": "object",
      "properties": {
        "severityToFindingCount": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "VulnerabilityCountBySeverity"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pipeline"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Control",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controlName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GroupFindingsRequest": {
      "type": "object",
      "id": "GroupFindingsRequest",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "groupBy": {
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "filter": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganization"
    },
    "PortRange": {
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PortRange",
      "type": "object"
    },
    "Asset": {
      "id": "Asset",
      "type": "object",
      "properties": {
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "properties": {
        "highSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
    },
    "YaraRuleSignature": {
      "type": "object",
      "id": "YaraRuleSignature",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Job": {
      "properties": {
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "targets": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          },
          "type": "array"
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Exfiltration"
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Network"
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "properties": {
        "internalBackendService": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretFilePath"
    },
    "DataFlowEvent": {
      "type": "object",
      "id": "DataFlowEvent",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "type": "object",
      "properties": {
        "portRanges": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "type": "array"
        },
        "protocol": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRule"
    },
    "PolicyDriftDetails": {
      "id": "PolicyDriftDetails",
      "properties": {
        "detectedValue": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Notebook": {
      "type": "object",
      "properties": {
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Notebook"
    },
    "Chokepoint": {
      "type": "object",
      "id": "Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
    },
    "CloudDlpInspection": {
      "properties": {
        "infoType": {
          "type": "string"
        },
        "infoTypeCount": {
          "format": "int64",
          "type": "string"
        },
        "inspectJob": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CloudDlpInspection"
    },
    "Node": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Node"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "properties": {
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "type": "object",
      "id": "ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "properties": {
        "fullScan": {
          "type": "boolean"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoType": {
          "type": "string"
        },
        "infoTypeCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AgentSession": {
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentSession"
    },
    "MuteInfo": {
      "properties": {
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        },
        "staticMute": {
          "$ref": "StaticMute"
        }
      },
      "id": "MuteInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "properties": {
        "status": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "id": "GoogleCloudSecuritycenterV2IssueMute",
      "properties": {
        "muteUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "muteReason": {
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteState": {
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "properties": {
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteConfig"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "properties": {
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Subject",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "type": "object",
      "properties": {
        "max": {
          "type": "string",
          "format": "int64"
        },
        "min": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PortRange"
    },
    "AdcApplication": {
      "id": "AdcApplication",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAssetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "listAssetsResults": {
          "items": {
            "$ref": "ListAssetsResult"
          },
          "type": "array"
        }
      },
      "id": "ListAssetsResponse"
    },
    "AzureResourceGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup"
    },
    "Geolocation": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "id": "Geolocation"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object"
    },
    "VertexAi": {
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "Pipeline"
          }
        }
      },
      "id": "VertexAi"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "ToxicCombination": {
      "id": "ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "type": "object",
      "properties": {
        "policy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          },
          "type": "array"
        },
        "revisionId": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPosture"
    },
    "AwsOrganizationalUnit": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AwsOrganizationalUnit"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Denied"
    },
    "GroupAssetsRequest": {
      "properties": {
        "compareDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "pageToken": {
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GroupAssetsRequest",
      "type": "object"
    },
    "NodePool": {
      "id": "NodePool",
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2NodePool"
    },
    "IpRules": {
      "properties": {
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "denied": {
          "$ref": "Denied"
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "IpRules"
    },
    "AdcApplicationTemplateRevision": {
      "type": "object",
      "id": "AdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "properties": {
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dataset": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "ExportFindingsMetadata": {
      "properties": {
        "exportStartTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      },
      "id": "ExportFindingsMetadata",
      "type": "object"
    },
    "AttackExposure": {
      "properties": {
        "score": {
          "format": "double",
          "type": "number"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "AttackExposure"
    },
    "ExportFindingsResponse": {
      "id": "ExportFindingsResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "type": "object",
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        }
      },
      "id": "GoogleCloudSecuritycenterV2NotificationMessage"
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "properties": {
        "profile": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Kubernetes": {
      "type": "object",
      "properties": {
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "type": "array"
        }
      },
      "id": "Kubernetes"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "properties": {
        "path": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "properties": {
        "description": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "moduleName": {
          "type": "string"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "muteUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "iamBindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          },
          "type": "array"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "processes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          },
          "type": "array"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "compliances": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          },
          "type": "array"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "nextSteps": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
[...]
