{
  "baseUrl": "https://securitycenter.googleapis.com/",
  "version": "v1beta2",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "title": "Security Command Center API",
  "basePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "schemas": {
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Detection": {
      "type": "object",
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "Detection"
    },
    "AwsOrganizationalUnit": {
      "id": "AwsOrganizationalUnit",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "DynamicMuteRecord": {
      "id": "DynamicMuteRecord",
      "type": "object",
      "properties": {
        "matchTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "muteConfig": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        }
      }
    },
    "DiscoveredWorkload": {
      "type": "object",
      "properties": {
        "confidence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "type": "string"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        }
      },
      "id": "DiscoveredWorkload"
    },
    "ContainerThreatDetectionSettings": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ContainerThreatDetectionSettings"
    },
    "VertexAi": {
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "Pipeline"
          }
        }
      },
      "id": "VertexAi"
    },
    "ArtifactGuardPolicy": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicy"
    },
    "AwsMetadata": {
      "type": "object",
      "properties": {
        "organization": {
          "$ref": "AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "AwsAccount"
        }
      },
      "id": "AwsMetadata"
    },
    "AzureResourceGroup": {
      "id": "AzureResourceGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganization"
    },
    "YaraRuleSignature": {
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "YaraRuleSignature"
    },
    "Label": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "Label"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode"
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "Job": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        }
      },
      "id": "Job"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Disk"
    },
    "GoogleCloudSecuritycenterV2Reference": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Reference"
    },
    "GoogleCloudSecuritycenterV2Application": {
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Application"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Denied"
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Allowed"
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "type": "object",
      "properties": {
        "val": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      }
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "type": "object",
      "properties": {
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backupType": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "Container": {
      "id": "Container",
      "type": "object",
      "properties": {
        "imageId": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExfilResource"
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "type": "object",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PortRange"
    },
    "Framework": {
      "id": "Framework",
      "type": "object",
      "properties": {
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "category": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AzureTenant": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AzureTenant"
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "id": "GoogleCloudSecuritycenterV2AffectedResources",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "WebSecurityScannerSettings": {
      "id": "WebSecurityScannerSettings",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
    },
    "Config": {
      "id": "Config",
      "type": "object",
      "properties": {
        "moduleEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "type": "object",
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretStatus"
    },
    "CloudArmor": {
      "id": "CloudArmor",
      "type": "object",
      "properties": {
        "requests": {
          "$ref": "Requests"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "attack": {
          "$ref": "Attack"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "threatVector": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "type": "object",
      "properties": {
        "pscServiceAttachment": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "forwardingRule": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "type": "object",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      }
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "type": "object",
      "properties": {
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "cve": {
          "$ref": "Cve"
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
    },
    "Compliance": {
      "id": "Compliance",
      "type": "object",
      "properties": {
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Subject": {
      "id": "Subject",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "VulnerabilityCountBySeverity": {
      "type": "object",
      "properties": {
        "severityToFindingCount": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "VulnerabilityCountBySeverity"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        },
        "notificationConfigName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "object",
      "properties": {
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "resourceType": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig"
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "type": "object",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Chokepoint"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "type": "object",
      "properties": {
        "member": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "ContactDetails": {
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "id": "ContactDetails"
    },
    "Cve": {
      "type": "object",
      "properties": {
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "id": {
          "type": "string"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      },
      "id": "Cve"
    },
    "ExternalExposure": {
      "id": "ExternalExposure",
      "type": "object",
      "properties": {
        "publicPort": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "privatePort": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "HttpResponse"
          }
        },
        "forwardingRule": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "type": "object",
      "properties": {
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Compliance"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object",
      "properties": {
        "failureReason": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "policyId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "type": "object",
      "properties": {
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          }
        }
      }
    },
    "FileOperation": {
      "id": "FileOperation",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      }
    },
    "PolicyDriftDetails": {
      "type": "object",
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "id": "PolicyDriftDetails"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
    },
    "SecurityBulletin": {
      "type": "object",
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        }
      },
      "id": "SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "type": "object",
      "properties": {
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "type": "string"
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        },
        "version": {
          "type": "string"
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string"
          }
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2MitreAttack"
    },
    "GoogleCloudSecuritycenterV2Role": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Role"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Dataset"
    },
    "Notebook": {
      "id": "Notebook",
      "type": "object",
      "properties": {
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplication"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "type": "object",
      "properties": {
        "dataProfile": {
          "type": "string"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          }
        },
        "parentType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
    },
    "AdaptiveProtection": {
      "id": "AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "id": "GoogleCloudSecuritycenterV2Cve",
      "type": "object",
      "properties": {
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "AccessReview": {
      "id": "AccessReview",
      "type": "object",
      "properties": {
        "resource": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        }
      }
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "type": "object",
      "properties": {
        "dataProfile": {
          "type": "string"
        },
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "type": "string"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "type": "object",
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      }
    },
    "IamBinding": {
      "id": "IamBinding",
      "type": "object",
      "properties": {
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      }
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Subscription": {
      "type": "object",
      "properties": {
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "ENTERPRISE",
            "ENTERPRISE_MC"
          ]
        },
        "name": {
          "type": "string"
        },
        "details": {
          "$ref": "Details"
        }
      },
      "id": "Subscription"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "type": "object",
      "properties": {
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        }
      }
    },
    "PolicyViolationSummary": {
      "type": "object",
      "properties": {
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        },
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PolicyViolationSummary"
    },
    "CloudControl": {
      "id": "CloudControl",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "cloudControlName": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "type": "object",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "role": {
          "$ref": "Role"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Binding"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object",
      "properties": {
        "externalUid": {
          "type": "string"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "name": {
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "type": "object",
      "properties": {
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ExportFindingsResponse": {
      "type": "object",
      "properties": {},
      "id": "ExportFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object",
      "properties": {
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "threatVector": {
          "type": "string"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Requests": {
      "type": "object",
      "properties": {
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Requests"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "type": "object",
      "properties": {
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "properties": {
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TicketInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "TicketInfo"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "type": "object",
      "properties": {
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "type": "object",
      "properties": {
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "maxRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "SensitivityScore": {
      "id": "SensitivityScore",
      "type": "object",
      "properties": {
        "score": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ContactDetails"
    },
    "NodePool": {
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "NodePool"
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Dataset"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "type": "object",
      "properties": {
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AccessReview"
    },
    "RapidVulnerabilityDetectionSettings": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "serviceEnablementState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "RapidVulnerabilityDetectionSettings"
    },
    "DataFlowEvent": {
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "violatedLocation": {
          "type": "string"
        }
      },
      "id": "DataFlowEvent"
    },
    "AdcApplicationTemplateRevision": {
      "id": "AdcApplicationTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Allowed": {
      "id": "Allowed",
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "type": "object",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent"
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "properties": {
        "project": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "resourcePathString": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Folder"
          }
        },
        "displayName": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "type": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "Finding": {
      "type": "object",
      "properties": {
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "readOnly": true
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "job": {
          "$ref": "Job"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "category": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "access": {
          "$ref": "Access"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "name": {
          "type": "string"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "type": "object",
          "readOnly": true
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "description": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "muteUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "moduleName": {
          "type": "string"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "database": {
          "$ref": "Database"
        },
        "secret": {
          "$ref": "Secret"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "externalUri": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "disk": {
          "$ref": "Disk"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "application": {
          "$ref": "Application"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "nextSteps": {
          "type": "string"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "externalSystems": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        }
      },
      "id": "Finding"
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
    },
    "AzureMetadata": {
      "type": "object",
      "properties": {
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        },
        "subscription": {
          "$ref": "AzureSubscription"
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "tenant": {
          "$ref": "AzureTenant"
        }
      },
      "id": "AzureMetadata"
    },
    "CloudDlpInspection": {
      "type": "object",
      "properties": {
        "inspectJob": {
          "type": "string"
        },
        "infoType": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CloudDlpInspection"
    },
    "Process": {
      "id": "Process",
      "type": "object",
      "properties": {
        "script": {
          "$ref": "File"
        },
        "name": {
          "type": "string"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "pid": {
          "format": "int64",
          "type": "string"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "binary": {
          "$ref": "File"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "userId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Role": {
      "type": "object",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Role"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "id": "GoogleCloudSecuritycenterV2Connection",
      "type": "object",
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "sourceIp": {
          "type": "string"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Control": {
      "id": "GoogleCloudSecuritycenterV2Control",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controlName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "type": "array",
          "readOnly": true
        },
        "projectDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        }
      }
    },
    "GcpMetadata": {
      "type": "object",
      "properties": {
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "parent": {
          "type": "string"
        },
        "project": {
          "type": "string"
        }
      },
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "type": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "type": "object",
      "properties": {
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Geolocation": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "id": "Geolocation"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "id": "GoogleCloudSecuritycenterV2Database",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "type": "object",
[...]
