{
  "protocol": "rest",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "securitycenter",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "title": "Security Command Center API",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "schemas": {
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateResourceValueConfigRequest": {
      "id": "CreateResourceValueConfigRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string"
        },
        "resourceValueConfig": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "deprecated": true
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "type": {
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AttackPathNode": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "associatedFindings": {
          "type": "array",
          "items": {
            "$ref": "PathNodeAssociatedFinding"
          }
        },
        "uuid": {
          "type": "string"
        },
        "attackSteps": {
          "type": "array",
          "items": {
            "$ref": "AttackStepNode"
          }
        }
      },
      "id": "AttackPathNode"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Connection"
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "id": "GoogleCloudSecuritycenterV2AgentSession",
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      }
    },
    "Detection": {
      "type": "object",
      "properties": {
        "percentPagesMatched": {
          "format": "double",
          "type": "number"
        },
        "binary": {
          "type": "string"
        }
      },
      "id": "Detection"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "BatchCreateResourceValueConfigsResponse": {
      "id": "BatchCreateResourceValueConfigsResponse",
      "type": "object",
      "properties": {
        "resourceValueConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          }
        }
      }
    },
    "Folder": {
      "type": "object",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "id": "Folder"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "category": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks",
          "readOnly": true
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "resourceName": {
          "type": "string"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "readOnly": true,
          "type": "object"
        },
        "muteInitiator": {
          "type": "string"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "name": {
          "type": "string"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "nextSteps": {
          "type": "string"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "description": {
          "type": "string"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "readOnly": true,
          "type": "object"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "moduleName": {
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "parent": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "externalUri": {
          "type": "string"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          }
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "type": "object",
      "properties": {
        "size": {
          "format": "int64",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "path": {
          "type": "string"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2File"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "type": "object",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "id": "GoogleCloudSecuritycenterV1Resource",
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "organization": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "parent": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Agent": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Agent"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "type": "object",
      "properties": {
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig"
    },
    "TicketInfo": {
      "type": "object",
      "properties": {
        "assignee": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "TicketInfo"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Disk"
    },
    "AttackStepNode": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "NODE_TYPE_AND",
            "NODE_TYPE_OR",
            "NODE_TYPE_DEFENSE",
            "NODE_TYPE_ATTACKER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uuid": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AttackStepNode"
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string"
        },
        "condition": {
          "$ref": "Expr"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "standard": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Compliance"
    },
    "AgentDataAccessEvent": {
      "id": "AgentDataAccessEvent",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable"
    },
    "SecurityBulletin": {
      "type": "object",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "submissionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        }
      },
      "id": "SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "id": "GoogleCloudSecuritycenterV2InvocationReference",
      "type": "object",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "type": "object",
      "properties": {
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        },
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2OrgPolicy"
    },
    "DataRetentionDeletionEvent": {
      "id": "DataRetentionDeletionEvent",
      "type": "object",
      "properties": {
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "maxRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "type": "object",
      "properties": {}
    },
    "Exfiltration": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Exfiltration"
    },
    "AdcSharedTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "AdcSharedTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "id": "GoogleCloudSecuritycenterV2LogEntry"
    },
    "VulnerabilityCountBySeverity": {
      "id": "VulnerabilityCountBySeverity",
      "type": "object",
      "properties": {
        "severityToFindingCount": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Framework": {
      "type": "object",
      "properties": {
        "category": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        }
      },
      "id": "Framework"
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "type": {
          "type": "string"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Secret"
    },
    "InfoType": {
      "id": "InfoType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        }
      }
    },
    "CloudLoggingEntry": {
      "id": "CloudLoggingEntry",
      "type": "object",
      "properties": {
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "insertId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "properties": {
        "projectName": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "parentName": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "organization": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "name": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "location": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "type": "object",
      "properties": {
        "sensitivityScore": {
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2InfoType"
    },
    "SecurityCenterProperties": {
      "id": "SecurityCenterProperties",
      "type": "object",
      "properties": {
        "resourceParentDisplayName": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "resourceParent": {
          "type": "string"
        },
        "resourceProjectDisplayName": {
          "type": "string"
        },
        "resourceProject": {
          "type": "string"
        },
        "resourceDisplayName": {
          "type": "string"
        },
        "resourceOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "type": "object",
      "properties": {
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2DetectorReference"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BigQueryExport"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPosture"
    },
    "AccessReview": {
      "id": "AccessReview",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        }
      }
    },
    "AffectedResources": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AffectedResources"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "type": "object",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListAssetsResult": {
      "id": "ListAssetsResult",
      "type": "object",
      "properties": {
        "asset": {
          "$ref": "Asset"
        },
        "stateChange": {
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "object",
      "properties": {
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profile": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backupTemplate": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "type": "object",
      "properties": {
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "AgentSession"
          }
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "application": {
          "$ref": "Application"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "database": {
          "$ref": "Database"
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "parent": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "canonicalName": {
          "type": "string"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "agent": {
          "$ref": "Agent"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "externalUri": {
          "type": "string"
        },
        "secret": {
          "$ref": "Secret"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "job": {
          "$ref": "Job"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "moduleName": {
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "contacts": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          }
        },
        "description": {
          "type": "string"
        },
        "disk": {
          "$ref": "Disk"
        },
        "nextSteps": {
          "type": "string"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "name": {
          "type": "string"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "muteInfo": {
          "$ref": "MuteInfo",
          "readOnly": true
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "access": {
          "$ref": "Access"
        },
        "resourceName": {
          "type": "string"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true,
          "type": "object"
        },
        "muteInitiator": {
          "type": "string"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "category": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "id": "GoogleCloudSecuritycenterV2IssueMute",
      "type": "object",
      "properties": {
        "muteReason": {
          "type": "string"
        },
        "muteState": {
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "properties": {
        "project": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource"
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AzureMetadata": {
      "id": "AzureMetadata",
      "type": "object",
      "properties": {
        "subscription": {
          "$ref": "AzureSubscription"
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        },
        "tenant": {
          "$ref": "AzureTenant"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Binding"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      }
    },
    "Pod": {
      "id": "Pod",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpDataProfile",
      "type": "object",
      "properties": {
        "parentType": {
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataProfile": {
          "type": "string"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InfoType"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        }
      }
    },
    "Simulation": {
      "type": "object",
      "properties": {
        "resourceValueConfigsMetadata": {
          "type": "array",
          "items": {
            "$ref": "ResourceValueConfigMetadata"
          }
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Simulation"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "type": "object",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        }
      }
    },
    "YaraRuleSignature": {
      "id": "YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "DiskPath": {
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "DiskPath"
    },
    "LogEntry": {
      "id": "LogEntry",
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      }
    },
    "CustomModuleValidationErrors": {
      "id": "CustomModuleValidationErrors",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "CustomModuleValidationError"
          }
        }
      }
    },
    "PathNodeAssociatedFinding": {
      "type": "object",
      "properties": {
        "canonicalFinding": {
          "type": "string"
        },
        "findingCategory": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "PathNodeAssociatedFinding"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ContactDetails"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "ExportFindingsResponse": {
      "type": "object",
      "properties": {},
      "id": "ExportFindingsResponse"
    },
    "SetMuteRequest": {
      "type": "object",
      "properties": {
        "mute": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "SetMuteRequest"
    },
    "Package": {
      "id": "Package",
      "type": "object",
      "properties": {
        "packageType": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      }
    },
    "Attack": {
      "id": "Attack",
      "type": "object",
      "properties": {
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumePps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        }
      }
    },
    "VulnerabilitySnapshot": {
      "id": "VulnerabilitySnapshot",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object",
      "properties": {
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "casePriority": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions"
    },
    "ListNotificationConfigsResponse": {
      "id": "ListNotificationConfigsResponse",
      "type": "object",
      "properties": {
        "notificationConfigs": {
          "type": "array",
          "items": {
            "$ref": "NotificationConfig"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "type": "object",
      "properties": {
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "type": "object",
      "properties": {
        "integrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cvssv3"
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        }
      }
    },
    "DiscoveredWorkload": {
      "id": "DiscoveredWorkload",
      "type": "object",
      "properties": {
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "type": "object",
      "properties": {
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureMetadata"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "location": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "AgentAnomaly": {
      "type": "object",
      "properties": {
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "InvocationReference"
          }
        },
        "confidenceScore": {
          "format": "double",
          "type": "number"
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "DetectorReference"
          }
        }
      },
      "id": "AgentAnomaly"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "type": "object",
      "properties": {
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Vulnerability": {
      "type": "object",
      "properties": {
        "cve": {
          "$ref": "Cve"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        }
      },
      "id": "Vulnerability"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "type": "object",
      "properties": {
        "domainCategory": {
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueDomain"
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "type": "object",
      "properties": {
        "externalUid": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalSystem"
    },
    "IamBinding": {
      "id": "IamBinding",
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "PolicyDriftDetails": {
      "id": "PolicyDriftDetails",
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "object",
      "properties": {
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
    },
    "BatchCreateResourceValueConfigsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateResourceValueConfigRequest"
          }
        }
      },
      "id": "BatchCreateResourceValueConfigsRequest"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
    },
    "Reference": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "Reference"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      }
    },
    "AzureManagementGroup": {
      "id": "AzureManagementGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AdcApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      },
      "id": "AdcApplication"
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pod"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Exfiltration"
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "type": "object",
      "properties": {
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumePps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Attack"
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "displayName": {
          "type": "string"
        },
        "enablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "PolicyViolationSummary": {
      "type": "object",
      "properties": {
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "type": "object",
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "type": "object",
      "properties": {
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "threatVector": {
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        }
      }
    },
    "Allowed": {
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "id": "Allowed"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "assignee": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2TicketInfo"
    },
    "ToxicCombination": {
      "type": "object",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ToxicCombination"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "type": "object",
      "properties": {
        "value": {
          "format": "int32",
          "type": "integer"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "type": "object",
      "properties": {
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
    },
    "VertexAi": {
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "Pipeline"
          }
        }
      },
      "id": "VertexAi"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "type": "object",
      "properties": {
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Vulnerability"
    },
    "DynamicMuteRecord": {
      "id": "DynamicMuteRecord",
      "type": "object",
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AiModel": {
      "id": "AiModel",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "usageCategory": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "type": "object",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "Agent": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "Agent"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AccessReview"
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Allowed"
    },
    "MitreAttack": {
      "type": "object",
      "properties": {
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
[...]
