{
  "title": "Security Command Center API",
  "ownerName": "Google",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "name": "securitycenter",
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "",
          "id": "securitycenter.organizations.getOrganizationSettings",
          "httpMethod": "GET",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "updateOrganizationSettings": {
          "request": {
            "$ref": "OrganizationSettings"
          },
          "response": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1beta1/{+name}",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "deprecated": true,
          "description": "",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        }
      },
      "resources": {
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "setState": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1beta1/{+name}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "httpMethod": "POST",
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState"
                },
                "list": {
                  "description": "",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "path": "v1beta1/{+parent}/findings",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "id": "securitycenter.organizations.sources.findings.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "group": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "path": "v1beta1/{+parent}/findings:group",
                  "id": "securitycenter.organizations.sources.findings.group",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group"
                },
                "patch": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "description": "",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateSecurityMarks": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "httpMethod": "PATCH",
                  "description": "",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path",
                      "required": true
                    },
                    "startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.sources.findings.create",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/findings",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "findingId": {
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "description": "",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.sources.create",
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/sources",
              "request": {
                "$ref": "Source"
              },
              "response": {
                "$ref": "Source"
              }
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "httpMethod": "POST",
              "path": "v1beta1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "description": "",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "id": "securitycenter.organizations.sources.patch",
              "httpMethod": "PATCH",
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Source"
              },
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "httpMethod": "POST",
              "description": "",
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy"
            },
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "",
              "id": "securitycenter.organizations.sources.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "path": "v1beta1/{+parent}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "response": {
                "$ref": "Source"
              },
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.sources.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "httpMethod": "POST",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1beta1/{+resource}:testIamPermissions",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": ""
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "id": "securitycenter.organizations.operations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "description": "",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.operations.get",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.operations.cancel",
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:cancel",
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "securitycenter.organizations.operations.delete",
              "httpMethod": "DELETE",
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "assets": {
          "methods": {
            "runDiscovery": {
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "httpMethod": "POST",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "group": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "path": "v1beta1/{+parent}/assets:group",
              "id": "securitycenter.organizations.assets.group",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group"
            },
            "updateSecurityMarks": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "location": "path",
                  "required": true
                },
                "startTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "httpMethod": "PATCH"
            },
            "list": {
              "description": "",
              "parameters": {
                "readTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "fieldMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                },
                "compareDuration": {
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "path": "v1beta1/{+parent}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "id": "securitycenter.organizations.assets.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "InfoType": {
      "id": "InfoType",
      "type": "object",
      "properties": {
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "AwsOrganizationalUnit": {
      "id": "AwsOrganizationalUnit",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "ComplianceDetails": {
      "type": "object",
      "id": "ComplianceDetails",
      "properties": {
        "cloudControl": {
          "$ref": "CloudControl"
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "frameworks": {
          "items": {
            "$ref": "Framework"
          },
          "type": "array"
        }
      }
    },
    "Policy": {
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
    },
    "File": {
      "type": "object",
      "id": "File",
      "properties": {
        "partiallyHashed": {
          "type": "boolean"
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "diskPath": {
          "$ref": "DiskPath"
        },
        "operations": {
          "items": {
            "$ref": "FileOperation"
          },
          "type": "array"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        }
      }
    },
    "Cvssv3": {
      "type": "object",
      "id": "Cvssv3",
      "properties": {
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string"
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Access": {
      "properties": {
        "userName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "principalSubject": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Access"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DiskPath": {
      "id": "DiskPath",
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      }
    },
    "AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcApplicationTemplateRevision"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "properties": {
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "displayName": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "name": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "service": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        }
      }
    },
    "DataFlowEvent": {
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "id": "DataFlowEvent",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "Exfiltration": {
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Exfiltration",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "YaraRuleSignature": {
      "id": "YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GetPolicyOptions"
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "type": "object",
      "id": "RunAssetDiscoveryRequest",
      "properties": {}
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "location": {
          "type": "string"
        }
      }
    },
    "InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "InvocationReference"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "type": "object",
      "properties": {
        "domainCategory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ]
        }
      }
    },
    "Denied": {
      "id": "Denied",
      "type": "object",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "properties": {
        "name": {
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "type": "string"
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "Access": {
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Access"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "type": "object",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Job": {
      "properties": {
        "name": {
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job",
      "type": "object"
    },
    "Network": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Network",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "type": "string"
        },
        "policyType": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "cloudControlName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      }
    },
    "AgentAnomaly": {
      "properties": {
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "InvocationReference"
          }
        },
        "confidenceScore": {
          "type": "number",
          "format": "double"
        },
        "detectorReferences": {
          "items": {
            "$ref": "DetectorReference"
          },
          "type": "array"
        }
      },
      "id": "AgentAnomaly",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary",
      "type": "object",
      "properties": {
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Agent": {
      "id": "Agent",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "enablementState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object"
    },
    "Cwe": {
      "type": "object",
      "id": "Cwe",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string"
          }
        },
        "primaryTechniques": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "type": "array"
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "type": "string"
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        }
      }
    },
    "Indicator": {
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "items": {
            "$ref": "ProcessSignature"
          },
          "type": "array"
        }
      },
      "id": "Indicator",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "properties": {
        "verb": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AccessReview"
    },
    "OrgPolicy": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "OrgPolicy",
      "type": "object"
    },
    "SecretFilePath": {
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "SecretFilePath",
      "type": "object"
    },
    "DetectorReference": {
      "type": "object",
      "id": "DetectorReference",
      "properties": {
        "explanation": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "properties": {
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "direction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string"
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "properties": {
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Compliance",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Control"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "properties": {
        "name": {
          "type": "string"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "properties": {
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Issue",
      "properties": {
        "secondaryResources": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          },
          "type": "array"
        },
        "securityContexts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "exposureScore": {
          "type": "number",
          "format": "double"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "detection": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "lastObservationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "issueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "type": "string"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "relatedFindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          },
          "type": "array"
        },
        "remediations": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      }
    },
    "VulnerabilitySnapshot": {
      "id": "VulnerabilitySnapshot",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AdcSharedTemplateRevision": {
      "id": "AdcSharedTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "SecurityPosture": {
      "id": "SecurityPosture",
      "type": "object",
      "properties": {
        "revisionId": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "PolicyDriftDetails"
          },
          "type": "array"
        }
      }
    },
    "Disk": {
      "type": "object",
      "id": "Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Pod": {
      "properties": {
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "Pod",
      "type": "object"
    },
    "IpRule": {
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "type": "object",
      "id": "IpRule"
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "scope": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resourceValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resourceType": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Process": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Process",
      "properties": {
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "name": {
          "type": "string"
        },
        "libraries": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "type": "array"
        },
        "userId": {
          "format": "int64",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "type": "string"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "argumentsTruncated": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object"
    },
    "DataRetentionDeletionEvent": {
      "id": "DataRetentionDeletionEvent",
      "type": "object",
      "properties": {
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "maxRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        }
      }
    },
    "AdcApplication": {
      "id": "AdcApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Folder",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "properties": {
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "type": "object"
    },
    "Kubernetes": {
      "type": "object",
      "id": "Kubernetes",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "accessReviews": {
          "items": {
            "$ref": "AccessReview"
          },
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        },
        "objects": {
          "items": {
            "$ref": "Object"
          },
          "type": "array"
        },
        "pods": {
          "items": {
            "$ref": "Pod"
          },
          "type": "array"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        }
      }
    },
    "CloudDlpDataProfile": {
      "properties": {
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "type": "string"
        },
        "infoTypes": {
          "items": {
            "$ref": "InfoType"
          },
          "type": "array"
        },
        "dataProfile": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudDlpDataProfile"
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Binding",
      "properties": {
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "name": {
          "type": "string"
        },
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "properties": {
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
    },
    "Finding": {
      "properties": {
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "canonicalName": {
          "type": "string"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "logEntries": {
          "items": {
            "$ref": "LogEntry"
          },
          "type": "array"
        },
        "job": {
          "$ref": "Job"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "iamBindings": {
          "items": {
            "$ref": "IamBinding"
          },
          "type": "array"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "agentDataAccessEvents": {
          "items": {
            "$ref": "AgentDataAccessEvent"
          },
          "type": "array"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "DataAccessEvent"
          },
          "type": "array"
        },
        "externalSystems": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "muteInfo": {
          "$ref": "MuteInfo",
          "readOnly": true
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "nextSteps": {
          "type": "string"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "secret": {
          "$ref": "Secret"
        },
        "compliances": {
          "items": {
            "$ref": "Compliance"
          },
          "type": "array"
        },
        "externalUri": {
          "type": "string"
        },
        "access": {
          "$ref": "Access"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "application": {
          "$ref": "Application"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "database": {
          "$ref": "Database"
        },
        "muteInitiator": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "category": {
          "type": "string"
        },
        "disk": {
          "$ref": "Disk"
        },
        "moduleName": {
          "type": "string"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
[...]
