{
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "servicePath": "",
  "name": "securitycenter",
  "version": "v1beta2",
  "canonicalName": "Security Command Center",
  "title": "Security Command Center API",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "getSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ]
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH"
        },
        "updateContainerThreatDetectionSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getWebSecurityScannerSettings": {
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "getContainerThreatDetectionSettings": {
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "updateEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getSecurityCenterSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": ""
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "location": "path",
                          "type": "string"
                        },
                        "showEligibleModulesOnly": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "path": "v1beta2/{+name}:calculate",
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                },
                "getContainerThreatDetectionSettings": {
                  "path": "v1beta2/{+name}",
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                }
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getSecurityCenterSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": ""
        },
        "getRapidVulnerabilityDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ]
        },
        "updateEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          }
        },
        "getContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getSubscription": {
          "response": {
            "$ref": "Subscription"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getSubscription",
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/subscription$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}"
        },
        "getWebSecurityScannerSettings": {
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta2/{+name}"
        },
        "updateContainerThreatDetectionSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "getEventThreatDetectionSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH"
        },
        "updateWebSecurityScannerSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH"
        },
        "getSecurityHealthAnalyticsSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": ""
        }
      },
      "resources": {
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": ""
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              }
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              }
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "location": "path"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "location": "path"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": ""
            }
          }
        }
      },
      "methods": {
        "getSecurityCenterSettings": {
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta2/{+name}"
        },
        "updateEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          }
        },
        "getEventThreatDetectionSettings": {
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "parameterOrder": [
            "name"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "Vulnerability": {
      "id": "Vulnerability",
      "type": "object",
      "properties": {
        "offendingPackage": {
          "$ref": "Package"
        },
        "cwes": {
          "items": {
            "$ref": "Cwe"
          },
          "type": "array"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "cve": {
          "$ref": "Cve"
        },
        "reachable": {
          "type": "boolean"
        }
      }
    },
    "Subject": {
      "id": "Subject",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplication",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "id": "GoogleCloudSecuritycenterV2VertexAi",
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        },
        "pipelines": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Folder",
      "type": "object"
    },
    "BigQueryDestination": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "BigQueryDestination",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Access": {
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "userAgent": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "callerIp": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "properties": {
        "domainCategory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "type": "object"
    },
    "Cwe": {
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        }
      },
      "id": "Cwe",
      "type": "object"
    },
    "AwsOrganizationalUnit": {
      "id": "AwsOrganizationalUnit",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "type": "object"
    },
    "SensitivityScore": {
      "id": "SensitivityScore",
      "type": "object",
      "properties": {
        "score": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "properties": {
        "dynamicMuteRecords": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          },
          "type": "array"
        },
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AffectedResources",
      "type": "object"
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "type": "object",
      "properties": {
        "parentType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ]
        },
        "infoTypes": {
          "items": {
            "$ref": "InfoType"
          },
          "type": "array"
        },
        "dataProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "type": "object"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "type": "object"
    },
    "MemoryHashSignature": {
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "items": {
            "$ref": "Detection"
          },
          "type": "array"
        }
      },
      "id": "MemoryHashSignature",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ProcessSignature": {
      "id": "ProcessSignature",
      "type": "object",
      "properties": {
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature"
        },
        "signatureType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string"
        }
      }
    },
    "AzureMetadata": {
      "properties": {
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "tenant": {
          "$ref": "AzureTenant"
        },
        "subscription": {
          "$ref": "AzureSubscription"
        }
      },
      "id": "AzureMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "properties": {
        "name": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job",
      "type": "object"
    },
    "PolicyDriftDetails": {
      "properties": {
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "id": "PolicyDriftDetails",
      "type": "object"
    },
    "AgentDataAccessEvent": {
      "id": "AgentDataAccessEvent",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "properties": {
        "changedPolicy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          },
          "type": "array"
        },
        "policySet": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object"
    },
    "Process": {
      "properties": {
        "argumentsTruncated": {
          "type": "boolean"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "script": {
          "$ref": "File"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "binary": {
          "$ref": "File"
        },
        "envVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        }
      },
      "id": "Process",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "id": "GoogleCloudSecuritycenterV2Framework",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "category": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "controls": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "LoadBalancer",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2File": {
      "properties": {
        "size": {
          "type": "string",
          "format": "int64"
        },
        "sha256": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "path": {
          "type": "string"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "type": "string"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "contents": {
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2File",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "cloudControlName": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "type": "object"
    },
    "Database": {
      "properties": {
        "query": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Database",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "properties": {
        "role": {
          "type": "string"
        },
        "member": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        },
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "type": "string"
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "id": "GoogleCloudSecuritycenterV2LoadBalancer",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "type": "object",
      "properties": {
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "type": "object",
      "properties": {
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "accessReviews": {
          "items": {
            "$ref": "AccessReview"
          },
          "type": "array"
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "Object"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "type": "object",
      "properties": {
        "explanation": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "detectorId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "type": {
          "type": "string"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1IamDetails",
      "type": "object"
    },
    "Object": {
      "id": "Object",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "properties": {
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "bulletinId": {
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "type": "object"
    },
    "Framework": {
      "properties": {
        "name": {
          "type": "string"
        },
        "category": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "controls": {
          "items": {
            "$ref": "Control"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "type": "string"
        }
      },
      "id": "Framework",
      "type": "object"
    },
    "Geolocation": {
      "id": "Geolocation",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string"
        }
      }
    },
    "CloudDlpInspection": {
      "properties": {
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "infoType": {
          "type": "string"
        },
        "inspectJob": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        }
      },
      "id": "CloudDlpInspection",
      "type": "object"
    },
    "AdcApplicationTemplateRevision": {
      "id": "AdcApplicationTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Attack": {
      "properties": {
        "volumePps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Attack",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "description": {
          "type": "string"
        },
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sensitiveDataProtectionMapping": {
[...]
