{
  "name": "securitycenter",
  "discoveryVersion": "v1",
  "version": "v1beta1",
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings",
          "description": "",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta1/{+name}"
        },
        "updateOrganizationSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "path": "v1beta1/{+name}",
          "deprecated": true,
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "OrganizationSettings"
          },
          "request": {
            "$ref": "OrganizationSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.operations.cancel",
              "description": "",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}:cancel"
            },
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "parameters": {
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "id": "securitycenter.organizations.operations.list",
              "description": "",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "securitycenter.organizations.operations.get",
              "description": "",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}"
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.operations.delete",
              "description": "",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "assets": {
          "methods": {
            "list": {
              "parameters": {
                "readTime": {
                  "type": "string",
                  "location": "query",
                  "format": "google-datetime"
                },
                "fieldMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "compareDuration": {
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "path": "v1beta1/{+parent}/assets",
              "id": "securitycenter.organizations.assets.list",
              "description": "",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "runDiscovery": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "id": "securitycenter.organizations.assets.runDiscovery",
              "description": "",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery"
            },
            "updateSecurityMarks": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "description": "",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks"
            },
            "group": {
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "id": "securitycenter.organizations.assets.group",
              "description": "",
              "path": "v1beta1/{+parent}/assets:group",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        },
        "sources": {
          "methods": {
            "patch": {
              "id": "securitycenter.organizations.sources.patch",
              "description": "",
              "response": {
                "$ref": "Source"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "Source"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "path": "v1beta1/{+name}"
            },
            "getIamPolicy": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "description": "",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "get": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Source"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.sources.get",
              "description": "",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "path": "v1beta1/{+parent}/sources",
              "id": "securitycenter.organizations.sources.list",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            },
            "setIamPolicy": {
              "path": "v1beta1/{+resource}:setIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "description": ""
            },
            "create": {
              "path": "v1beta1/{+parent}/sources",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "Source"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Source"
              },
              "id": "securitycenter.organizations.sources.create",
              "description": ""
            },
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "description": "",
              "path": "v1beta1/{+resource}:testIamPermissions",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "group": {
                  "path": "v1beta1/{+parent}/findings:group",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.sources.findings.group",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.create",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameters": {
                    "findingId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+parent}/findings"
                },
                "setState": {
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+name}:setState",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}"
                },
                "updateSecurityMarks": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "description": "",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameters": {
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "fieldMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "id": "securitycenter.organizations.sources.findings.list",
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "servicePath": "",
  "id": "securitycenter:v1beta1",
  "revision": "20260730",
  "schemas": {
    "StaticMute": {
      "id": "StaticMute",
      "type": "object",
      "properties": {
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "id": "GoogleCloudSecuritycenterV1Resource",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "name": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "resourcePathString": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "readOnly": true
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "organization": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        }
      },
      "id": "ArtifactGuardPolicies",
      "type": "object"
    },
    "AzureResourceGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "properties": {
        "score": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SensitivityScore",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Geolocation": {
      "id": "Geolocation",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "properties": {
        "role": {
          "$ref": "Role"
        },
        "name": {
          "type": "string"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Binding",
      "type": "object"
    },
    "Chokepoint": {
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Chokepoint",
      "type": "object"
    },
    "ExportFindingsMetadata": {
      "id": "ExportFindingsMetadata",
      "type": "object",
      "properties": {
        "exportStartTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "properties": {
        "profile": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "type": "object"
    },
    "PolicyViolationSummary": {
      "id": "PolicyViolationSummary",
      "type": "object",
      "properties": {
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Container": {
      "id": "GoogleCloudSecuritycenterV2Container",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Access": {
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "serviceName": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        }
      },
      "id": "Access",
      "type": "object"
    },
    "ArtifactGuardPolicy": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        },
        "policyId": {
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicy",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "enablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "properties": {
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "type": "object"
    },
    "Object": {
      "properties": {
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "kind": {
          "type": "string"
        }
      },
      "id": "Object",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Access": {
      "properties": {
        "methodName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          }
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "serviceName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "type": "object",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object",
      "properties": {
        "postureDeployment": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        }
      }
    },
    "Network": {
      "id": "Network",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "type": "object",
      "properties": {
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "id": "GoogleCloudSecuritycenterV2AgentSession",
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "properties": {
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Label": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "properties": {
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "filter": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "type": "object",
      "properties": {
        "cve": {
          "$ref": "Cve"
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "properties": {
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "displayName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "name": {
          "type": "string"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "type": "object",
      "properties": {
        "role": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Folder",
      "type": "object"
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "LoadBalancer",
      "type": "object"
    },
    "Control": {
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Control",
      "type": "object"
    },
    "AgentDataAccessEvent": {
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        }
      },
      "id": "AgentDataAccessEvent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Database": {
      "id": "GoogleCloudSecuritycenterV2Database",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AgentAnomaly": {
      "id": "GoogleCloudSecuritycenterV2AgentAnomaly",
      "type": "object",
      "properties": {
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InvocationReference"
          }
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DetectorReference"
          }
        },
        "confidenceScore": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object",
      "properties": {
        "fullUri": {
          "type": "string"
        },
        "baseUri": {
          "type": "string"
        }
      }
    },
    "AccessReview": {
      "id": "AccessReview",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "AdcApplicationTemplateRevision",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2File": {
      "properties": {
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "sha256": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        }
      },
      "id": "GoogleCloudSecuritycenterV2File",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "properties": {
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Subject",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Agent": {
      "id": "GoogleCloudSecuritycenterV2Agent",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "type": "object",
      "properties": {
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks",
          "readOnly": true
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "canonicalName": {
          "type": "string",
          "readOnly": true
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          }
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "description": {
          "type": "string"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "readOnly": true,
          "type": "object"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "moduleName": {
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "parent": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "muteInfo": {
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo",
          "readOnly": true
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "externalUri": {
          "type": "string"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "type": "object"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "resourceName": {
          "type": "string"
        },
        "findingClass": {
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "nextSteps": {
          "type": "string"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          }
        }
      }
    },
    "Agent": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Agent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "properties": {
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "resourcePathString": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "displayName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "service": {
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "name": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Resource",
      "type": "object"
    },
    "NodePool": {
      "id": "NodePool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "properties": {
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string"
          }
        },
        "primaryTactic": {
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string"
          }
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "type": "object"
    },
    "AdcApplication": {
      "id": "AdcApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      }
    },
    "AffectedResources": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AffectedResources",
      "type": "object"
    },
    "Subject": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Subject",
      "type": "object"
    },
    "AgentAnomaly": {
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "double"
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "DetectorReference"
          }
        },
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "InvocationReference"
          }
        }
      },
      "id": "AgentAnomaly",
      "type": "object"
    },
    "Finding": {
      "properties": {
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "parent": {
          "type": "string"
        },
        "application": {
          "$ref": "Application"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "description": {
          "type": "string"
        },
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "moduleName": {
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "database": {
          "$ref": "Database"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "readOnly": true
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "canonicalName": {
          "type": "string"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "job": {
          "$ref": "Job"
        },
        "disk": {
          "$ref": "Disk"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "nextSteps": {
          "type": "string"
        },
        "access": {
          "$ref": "Access"
        },
        "secret": {
          "$ref": "Secret"
        },
        "agent": {
          "$ref": "Agent"
        },
        "externalUri": {
          "type": "string"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "type": "object"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "name": {
          "type": "string"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "AgentSession"
          }
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "mute": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        }
      },
      "id": "Finding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "type": "object",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "type": "object"
    },
    "MuteInfo": {
      "id": "MuteInfo",
      "type": "object",
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      }
    },
    "Dataset": {
      "properties": {
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Compliance",
      "type": "object"
    },
    "Allowed": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "id": "Allowed",
      "type": "object"
    },
    "Process": {
      "properties": {
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
[...]
