{
  "batchPath": "batch",
  "ownerName": "Google",
  "canonicalName": "Security Command Center",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "version_module": true,
  "endpoints": [
    {
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "version": "v1beta1",
  "parameters": {
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "basePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "assets": {
          "methods": {
            "group": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "id": "securitycenter.organizations.assets.group",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+parent}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "httpMethod": "POST",
              "description": "",
              "parameterOrder": [
                "parent"
              ]
            },
            "updateSecurityMarks": {
              "description": "",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "startTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "httpMethod": "PATCH"
            },
            "runDiscovery": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.assets.runDiscovery",
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "httpMethod": "POST",
              "description": ""
            },
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.assets.list",
              "path": "v1beta1/{+parent}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "compareDuration": {
                  "format": "google-duration",
                  "location": "query",
                  "type": "string"
                },
                "readTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ]
            }
          }
        },
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "patch": {
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "setState": {
                  "httpMethod": "POST",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "path": "v1beta1/{+name}:setState"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.sources.findings.create",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+parent}/findings",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    },
                    "findingId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings"
                },
                "group": {
                  "description": "",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+parent}/findings:group",
                  "id": "securitycenter.organizations.sources.findings.group",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "updateSecurityMarks": {
                  "httpMethod": "PATCH",
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "id": "securitycenter.organizations.sources.findings.list",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "response": {
                "$ref": "Source"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.sources.patch"
            },
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "description": "",
              "id": "securitycenter.organizations.sources.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v1beta1/{+parent}/sources",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "request": {
                "$ref": "Source"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Source"
              },
              "id": "securitycenter.organizations.sources.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+parent}/sources",
              "description": "",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "getIamPolicy": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "description": "",
              "path": "v1beta1/{+resource}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy"
            },
            "testIamPermissions": {
              "path": "v1beta1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "description": "",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "POST",
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "parameterOrder": [
                "resource"
              ]
            },
            "get": {
              "description": "",
              "response": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.organizations.sources.get"
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "description": "",
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "path": "v1beta1/{+resource}:setIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy"
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.operations.get",
              "path": "v1beta1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "securitycenter.organizations.operations.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}"
            },
            "delete": {
              "description": "",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.operations.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}:cancel",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.operations.cancel"
            }
          }
        }
      },
      "methods": {
        "getOrganizationSettings": {
          "id": "securitycenter.organizations.getOrganizationSettings",
          "httpMethod": "GET",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        },
        "updateOrganizationSettings": {
          "path": "v1beta1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "deprecated": true,
          "request": {
            "$ref": "OrganizationSettings"
          },
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "OrganizationSettings"
          }
        }
      }
    }
  },
  "id": "securitycenter:v1beta1",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "revision": "20260821",
  "kind": "discovery#restDescription",
  "name": "securitycenter",
  "protocol": "rest",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "AssetDiscoveryConfig": {
      "properties": {
        "inclusionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ]
        },
        "projectIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AssetDiscoveryConfig"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2MuteConfig"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "type": "object",
      "properties": {
        "exposedService": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "internalBackendService": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        }
      }
    },
    "GroupMembership": {
      "id": "GroupMembership",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "properties": {
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "displayName": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "type": {
          "type": "string"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "id": "GoogleCloudSecuritycenterV2Compliance",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "standard": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AzureTenant": {
      "id": "AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ComplianceDetails": {
      "id": "GoogleCloudSecuritycenterV2ComplianceDetails",
      "type": "object",
      "properties": {
        "cloudControl": {
          "$ref": "GoogleCloudSecuritycenterV2CloudControl"
        },
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Framework"
          }
        },
        "cloudControlDeploymentNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GroupAssetsRequest": {
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "groupBy": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "compareDuration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GroupAssetsRequest"
    },
    "GoogleCloudSecuritycenterV2Reference": {
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Reference"
    },
    "SetFindingStateRequest": {
      "type": "object",
      "id": "SetFindingStateRequest",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Process": {
      "id": "GoogleCloudSecuritycenterV2Process",
      "type": "object",
      "properties": {
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "name": {
          "type": "string"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pid": {
          "format": "int64",
          "type": "string"
        },
        "envVariables": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          },
          "type": "array"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        }
      }
    },
    "SecurityPosture": {
      "id": "SecurityPosture",
      "properties": {
        "postureDeployment": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "PolicyDriftDetails"
          }
        },
        "changedPolicy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AzureMetadata": {
      "type": "object",
      "properties": {
        "tenant": {
          "$ref": "AzureTenant"
        },
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "managementGroups": {
          "items": {
            "$ref": "AzureManagementGroup"
          },
          "type": "array"
        },
        "subscription": {
          "$ref": "AzureSubscription"
        }
      },
      "id": "AzureMetadata"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Issue",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "securityContexts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "exposureScore": {
          "type": "number",
          "format": "double"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "detection": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "issueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ]
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relatedFindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          },
          "type": "array"
        },
        "lastObservationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true
        }
      }
    },
    "ResourcePathNode": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "type": "string"
        }
      },
      "id": "ResourcePathNode"
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "LoadBalancer",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "properties": {
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "cwes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          },
          "type": "array"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "reachable": {
          "type": "boolean"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AdcApplication": {
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AdcApplication"
    },
    "ListAssetsResponse": {
      "properties": {
        "listAssetsResults": {
          "type": "array",
          "items": {
            "$ref": "ListAssetsResult"
          }
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ListAssetsResponse"
    },
    "ListFindingsResponse": {
      "properties": {
        "findings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListFindingsResponse"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "type": "object",
      "properties": {
        "failureReason": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "policyId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "properties": {
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cvssv3",
      "type": "object"
    },
    "ListAssetsResult": {
      "properties": {
        "asset": {
          "$ref": "Asset"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAssetsResult"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamRolePermission",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteInfo": {
      "id": "GoogleCloudSecuritycenterV2MuteInfo",
      "type": "object",
      "properties": {
        "staticMute": {
          "$ref": "GoogleCloudSecuritycenterV2StaticMute"
        },
        "dynamicMuteRecords": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
          },
          "type": "array"
        }
      }
    },
    "AffectedResources": {
      "properties": {
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AffectedResources",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "properties": {
        "nodeType": {
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "type": "object",
      "properties": {
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "id": "RunAssetDiscoveryRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "threatVector": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicies",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "AdaptiveProtection": {
      "id": "AdaptiveProtection",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "EnvironmentVariable": {
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "id": "EnvironmentVariable",
      "type": "object"
    },
    "CloudLoggingEntry": {
      "id": "CloudLoggingEntry",
      "type": "object",
      "properties": {
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AgentSession",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "properties": {
        "volumePps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumeBps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "classification": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Attack",
      "type": "object"
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "properties": {
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "id": "GoogleCloudSecuritycenterV2Binding",
      "properties": {
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        }
      },
      "type": "object"
    },
    "Asset": {
      "properties": {
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Asset"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "properties": {
        "preview": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityMarks"
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyDriftDetails": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "id": "PolicyDriftDetails"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {}
    },
    "Detection": {
      "properties": {
        "percentPagesMatched": {
          "format": "double",
          "type": "number"
        },
        "binary": {
          "type": "string"
        }
      },
      "id": "Detection",
      "type": "object"
    },
    "Label": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Label"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
    },
    "ListSourcesResponse": {
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListSourcesResponse"
    },
    "VulnerabilityCountBySeverity": {
      "type": "object",
      "id": "VulnerabilityCountBySeverity",
      "properties": {
        "severityToFindingCount": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComplianceDetails": {
      "id": "ComplianceDetails",
      "properties": {
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        },
        "cloudControl": {
          "$ref": "CloudControl"
        },
        "cloudControlDeploymentNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "Reference": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "Reference"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "YaraRuleSignature": {
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "YaraRuleSignature"
    },
    "Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "DiscoveredWorkload": {
      "type": "object",
      "id": "DiscoveredWorkload",
      "properties": {
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "DiskPath": {
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskPath"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "type": "object",
      "properties": {
        "highSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "mediumSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "dataset": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent"
    },
    "SecurityMarks": {
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityMarks"
    },
    "GoogleCloudSecuritycenterV2AgentAnomaly": {
      "properties": {
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InvocationReference"
          }
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DetectorReference"
          }
        },
        "confidenceScore": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentAnomaly"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GetPolicyOptions"
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Dataset"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "type": "object",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
    },
    "Attack": {
      "type": "object",
      "properties": {
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "volumePps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Attack"
    },
    "SensitivityScore": {
      "type": "object",
      "id": "SensitivityScore",
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "OrgPolicy": {
      "type": "object",
      "id": "OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "AgentDataAccessEvent": {
      "type": "object",
      "id": "AgentDataAccessEvent",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      }
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AgentAnomaly": {
      "id": "AgentAnomaly",
      "properties": {
        "confidenceScore": {
          "format": "double",
          "type": "number"
        },
        "invocationReferences": {
          "items": {
            "$ref": "InvocationReference"
          },
          "type": "array"
        },
        "detectorReferences": {
          "items": {
            "$ref": "DetectorReference"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Vulnerability": {
      "properties": {
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "cve": {
          "$ref": "Cve"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "reachable": {
          "type": "boolean"
        },
        "offendingPackage": {
          "$ref": "Package"
        }
      },
      "id": "Vulnerability",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "properties": {
        "finding": {
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      },
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object"
    },
    "PolicyViolationSummary": {
      "id": "PolicyViolationSummary",
      "type": "object",
      "properties": {
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2HttpResponse"
    },
    "IpRule": {
      "type": "object",
      "id": "IpRule",
      "properties": {
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        },
        "protocol": {
          "type": "string"
        }
      }
    },
    "PortRange": {
      "properties": {
        "min": {
          "format": "int64",
          "type": "string"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "PortRange"
    },
    "KernelRootkit": {
      "properties": {
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "KernelRootkit"
    },
    "DataFlowEvent": {
      "type": "object",
      "properties": {
        "violatedLocation": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "id": "DataFlowEvent"
    },
    "Framework": {
      "id": "Framework",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "category": {
          "type": "array",
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "Contact": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Contact"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Denied",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array"
        }
      }
    },
    "Application": {
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "id": "Application",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureTenant"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
    },
    "AwsMetadata": {
      "id": "AwsMetadata",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "AwsAccount"
        },
        "organizationalUnits": {
          "items": {
            "$ref": "AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "organization": {
          "$ref": "AwsOrganization"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "error": {
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "properties": {
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          },
          "type": "array"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "muteInfo": {
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo",
          "readOnly": true
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "muteInitiator": {
          "type": "string"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "compliances": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          },
          "type": "array"
        },
        "category": {
          "type": "string"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "connections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          },
          "type": "array"
        },
        "agentSessions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          },
          "type": "array"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "nextSteps": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          },
          "type": "array"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "description": {
          "type": "string"
        },
        "moduleName": {
          "type": "string"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "type": "object",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "networks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          },
          "type": "array"
        },
        "externalUri": {
          "type": "string"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "externalSystems": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "type": "object"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "name": {
          "type": "string"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "findingClass": {
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "resourceName": {
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organizationalUnits": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        }
      }
    },
    "AzureSubscription": {
      "type": "object",
      "id": "AzureSubscription",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "type": "array"
        }
      }
    },
    "Package": {
      "id": "Package",
      "type": "object",
      "properties": {
        "packageVersion": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        }
      }
    },
    "Role": {
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Role"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "properties": {
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Pipeline": {
      "id": "Pipeline",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object"
    },
    "Object": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "group": {
[...]
