{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "securitycenter:v1beta2",
  "ownerName": "Google",
  "revision": "20260820",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "version_module": true,
  "title": "Security Command Center API",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "methods": {
        "updateWebSecurityScannerSettings": {
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$"
            }
          }
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "getSubscription": {
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "id": "securitycenter.organizations.getSubscription",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/subscription$",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "Subscription"
          },
          "httpMethod": "GET"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$"
            }
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "updateEventThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true
            }
          },
          "description": "",
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "",
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "",
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "PATCH"
        },
        "getSecurityCenterSettings": {
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "description": "",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "getContainerThreatDetectionSettings": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "path": "v1beta2/{+name}"
        }
      },
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "description": "",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "description": "",
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$"
                }
              },
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "description": "",
              "httpMethod": "GET",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              }
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "description": ""
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "httpMethod": "GET"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "description": "",
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$"
                }
              },
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              }
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "description": "",
              "httpMethod": "GET",
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "methods": {
        "getEventThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": ""
        },
        "getSecurityCenterSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/securityCenterSettings$"
            }
          }
        },
        "getSecurityHealthAnalyticsSettings": {
          "description": "",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "updateEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "",
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          }
        },
        "getContainerThreatDetectionSettings": {
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "id": "securitycenter.folders.getContainerThreatDetectionSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "description": "",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "description": "",
          "httpMethod": "GET",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "updateWebSecurityScannerSettings": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "description": "",
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "PATCH"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "description": "",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings"
        }
      }
    },
    "projects": {
      "methods": {
        "getSecurityCenterSettings": {
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/securityCenterSettings$"
            }
          },
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "description": "",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings"
        },
        "updateWebSecurityScannerSettings": {
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        },
        "getRapidVulnerabilityDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "description": ""
        },
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "getWebSecurityScannerSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            }
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "description": "",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "description": "",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$"
            }
          },
          "httpMethod": "GET"
        },
        "getEventThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "description": "",
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "getContainerThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "description": ""
        },
        "updateSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings"
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "description": "",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate"
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "description": "",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta2/{+name}:calculate",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "location": "path",
                          "required": true
                        },
                        "showEligibleModulesOnly": {
                          "type": "boolean",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "description": "",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "path": "v1beta2/{+name}",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                },
                "getContainerThreatDetectionSettings": {
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "path": "v1beta2/{+name}",
                  "description": "",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "description": "",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "description": "",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "securitycenter",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "baseUrl": "https://securitycenter.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/"
    }
  ],
  "protocol": "rest",
  "version": "v1beta2",
  "basePath": "",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "schemas": {
    "Application": {
      "id": "Application",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttackExposure": {
      "properties": {
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        }
      },
      "type": "object",
      "id": "AttackExposure"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      },
      "type": "object"
    },
    "Control": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "controlName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Control"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "type": "object",
      "properties": {
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRules"
    },
    "KernelRootkit": {
      "id": "KernelRootkit",
      "type": "object",
      "properties": {
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        }
      }
    },
    "IpRules": {
      "type": "object",
      "properties": {
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "denied": {
          "$ref": "Denied"
        }
      },
      "id": "IpRules"
    },
    "DiscoveredWorkload": {
      "properties": {
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "confidence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "type": "string"
        }
      },
      "id": "DiscoveredWorkload",
      "type": "object"
    },
    "AdcSharedTemplateRevision": {
      "id": "AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Exfiltration": {
      "id": "Exfiltration",
      "properties": {
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature",
      "properties": {
        "detections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          },
          "type": "array"
        },
        "binaryFamily": {
          "type": "string"
        }
      }
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "query": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "properties": {
        "appliance": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backupTemplate": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GcpMetadata": {
      "type": "object",
      "properties": {
        "folders": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "parent": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        }
      },
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpRule": {
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "id": "IpRule",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        },
        "policySet": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        }
      }
    },
    "Dataset": {
      "properties": {
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "object",
      "properties": {
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature"
    },
    "EventThreatDetectionSettings": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EventThreatDetectionSettings"
    },
    "GroupMembership": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GroupMembership"
    },
    "GoogleCloudSecuritycenterV1Property": {
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Property",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "muteInfo": {
          "$ref": "MuteInfo",
          "readOnly": true
        },
        "compliances": {
          "items": {
            "$ref": "Compliance"
          },
          "type": "array"
        },
        "parent": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "nextSteps": {
          "type": "string"
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "application": {
          "$ref": "Application"
        },
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "type": "array"
        },
        "agent": {
          "$ref": "Agent"
        },
        "agentDataAccessEvents": {
          "items": {
            "$ref": "AgentDataAccessEvent"
          },
          "type": "array"
        },
        "groupMemberships": {
          "items": {
            "$ref": "GroupMembership"
          },
          "type": "array"
        },
        "database": {
          "$ref": "Database"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "secret": {
          "$ref": "Secret"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "mute": {
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true,
          "type": "object"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "moduleName": {
          "type": "string"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "access": {
          "$ref": "Access"
        },
        "name": {
          "type": "string"
        },
        "logEntries": {
          "items": {
            "$ref": "LogEntry"
          },
          "type": "array"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "disk": {
          "$ref": "Disk"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "description": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "readOnly": true
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "muteInitiator": {
          "type": "string"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "AgentSession"
          }
        },
        "job": {
          "$ref": "Job"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "findingClass": {
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "muteUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dataFlowEvents": {
          "items": {
            "$ref": "DataFlowEvent"
          },
          "type": "array"
        },
        "orgPolicies": {
          "items": {
            "$ref": "OrgPolicy"
          },
          "type": "array"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "externalUri": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "type": "object",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExportFindingsMetadata": {
      "id": "ExportFindingsMetadata",
      "type": "object",
      "properties": {
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        },
        "exportStartTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "id": "GoogleCloudSecuritycenterV2Resource",
      "properties": {
        "type": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "service": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "location": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "resourcePathString": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Allowed",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          }
        }
      }
    },
    "LogEntry": {
      "type": "object",
      "id": "LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      }
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "properties": {
        "state": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "applyTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2StaticMute"
    },
    "ArtifactGuardPolicy": {
      "id": "ArtifactGuardPolicy",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "type": "string"
        },
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DataAccessEvent": {
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataAccessEvent"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "properties": {
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "scope": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceValue": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2AzureSubscription",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
[...]
