{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "resources": {
    "organizations": {
      "methods": {
        "getSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "description": "",
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityCenterSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getSubscription": {
          "response": {
            "$ref": "Subscription"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/subscription$",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.organizations.getSubscription",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "httpMethod": "GET"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "description": "",
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "description": "",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": ""
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "GET"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "description": "",
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateContainerThreatDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true
                }
              },
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                }
              },
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "description": "",
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "httpMethod": "GET"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": ""
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              }
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "updateWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateContainerThreatDetectionSettings": {
          "description": "",
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          }
        },
        "getRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "getContainerThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "",
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "",
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH"
        },
        "getEventThreatDetectionSettings": {
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true
            }
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "",
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "GET"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          }
        },
        "updateEventThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "httpMethod": "PATCH"
        },
        "getSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          }
        },
        "getSecurityCenterSettings": {
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "required": true
            }
          },
          "description": "",
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "required": true
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "httpMethod": "GET",
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "httpMethod": "GET"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getContainerThreatDetectionSettings": {
          "description": "",
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "httpMethod": "GET",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "getRapidVulnerabilityDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          }
        },
        "updateWebSecurityScannerSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": ""
        },
        "updateEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "",
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "httpMethod": "PATCH"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "GET",
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "description": "",
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityCenterSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "httpMethod": "GET",
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getSecurityHealthAnalyticsSettings": {
          "description": "",
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "getContainerThreatDetectionSettings": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "httpMethod": "GET",
                  "path": "v1beta2/{+name}",
                  "description": "",
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateContainerThreatDetectionSettings": {
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "httpMethod": "PATCH",
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "",
                  "path": "v1beta2/{+name}"
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "parameters": {
                        "showEligibleModulesOnly": {
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "httpMethod": "GET",
                      "description": "",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta2/{+name}:calculate"
                    }
                  }
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "",
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "httpMethod": "GET"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "description": "",
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "description": "",
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true
                }
              },
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": ""
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "",
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260605",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "name": "securitycenter",
  "title": "Security Command Center API",
  "fullyEncodeReservedExpansion": true,
  "id": "securitycenter:v1beta2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta2",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "canonicalName": "Security Command Center",
  "ownerName": "Google",
  "schemas": {
    "DataAccessEvent": {
      "type": "object",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "id": "DataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "id": "GoogleCloudSecuritycenterV2Database",
      "type": "object",
      "properties": {
        "userName": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Requests": {
      "id": "GoogleCloudSecuritycenterV2Requests",
      "type": "object",
      "properties": {
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "id": "Object"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "enablementState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      }
    },
    "BackupDisasterRecovery": {
      "type": "object",
      "properties": {
        "backupTemplate": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BackupDisasterRecovery"
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "type": "object",
      "properties": {
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteConfig": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord"
    },
    "TicketInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        }
      },
      "id": "TicketInfo"
    },
    "Config": {
      "id": "Config",
      "type": "object",
      "properties": {
        "moduleEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "SecurityCenterSettings": {
      "type": "object",
      "properties": {
        "cryptoKeyName": {
          "type": "string"
        },
        "orgServiceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "logSinkProject": {
          "type": "string"
        },
        "onboardingTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "SecurityCenterSettings"
    },
    "Requests": {
      "type": "object",
      "properties": {
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "Requests"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "properties": {
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Connection"
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRule"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object",
      "properties": {
        "displayName": {
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GroupMembership": {
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      },
      "id": "GroupMembership"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV2ExternalSystem",
      "type": "object",
      "properties": {
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "casePriority": {
          "type": "string"
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "externalUid": {
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Subject"
    },
    "Geolocation": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "id": "Geolocation"
    },
    "ProcessSignature": {
      "id": "ProcessSignature",
      "type": "object",
      "properties": {
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature"
        },
        "signatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      }
    },
    "OrgPolicy": {
      "id": "OrgPolicy",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage"
    },
    "ExternalExposure": {
      "type": "object",
      "properties": {
        "privateIpAddress": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "httpResponse": {
          "items": {
            "$ref": "HttpResponse"
          },
          "type": "array"
        },
        "hostnameUri": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        }
      },
      "id": "ExternalExposure"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "PolicyViolationSummary": {
      "id": "PolicyViolationSummary",
      "type": "object",
      "properties": {
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "id": "GoogleCloudSecuritycenterV2File",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "contents": {
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "operations": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          },
          "type": "array"
        },
        "fileLoadState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string"
        }
      }
    },
    "Control": {
      "type": "object",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Control"
    },
    "CloudLoggingEntry": {
      "id": "CloudLoggingEntry",
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        }
      }
    },
    "AzureTenant": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AzureTenant"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "type": "object",
      "properties": {
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "Pod": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "ns": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "id": "Pod"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
    },
    "VulnerabilitySnapshot": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        }
      },
      "id": "VulnerabilitySnapshot"
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "Dataset"
    },
    "SecretFilePath": {
      "id": "SecretFilePath",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      }
    },
    "Notebook": {
      "id": "Notebook",
      "type": "object",
      "properties": {
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "type": "object",
      "properties": {
        "failingPolicies": {
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "type": "array"
        },
        "resourceId": {
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicies"
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "properties": {
        "details": {
          "$ref": "Details"
        },
        "name": {
          "type": "string"
        },
        "tier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "ENTERPRISE",
            "ENTERPRISE_MC"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "id": "GoogleCloudSecuritycenterV2Notebook",
      "type": "object",
      "properties": {
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      }
    },
    "Cve": {
      "id": "Cve",
      "type": "object",
      "properties": {
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "exploitationActivity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "type": "object",
      "properties": {
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AdcApplicationTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "AdcApplicationTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature"
    },
    "CloudControl": {
      "type": "object",
      "properties": {
        "cloudControlName": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "policyType": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "type": "string"
        }
      },
      "id": "CloudControl"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
    },
    "DiscoveredWorkload": {
      "id": "DiscoveredWorkload",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "type": "string"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "type": "object",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "type": "object",
      "properties": {
        "score": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SensitivityScore"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "type": "object",
      "properties": {
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backupType": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object",
      "properties": {
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "type": "object",
      "properties": {
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        },
        "confidentialityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
[...]
