{
  "revision": "20260710",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Security Command Center",
  "id": "securitycenter:v1beta2",
  "ownerName": "Google",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "version_module": true,
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "endpoints": [
    {
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "name": "securitycenter",
  "ownerDomain": "google.com",
  "servicePath": "",
  "version": "v1beta2",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "title": "Security Command Center API",
  "schemas": {
    "AccessReview": {
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "group": {
          "type": "string"
        }
      },
      "id": "AccessReview"
    },
    "PortRange": {
      "type": "object",
      "properties": {
        "max": {
          "type": "string",
          "format": "int64"
        },
        "min": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PortRange"
    },
    "SecurityMarks": {
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityMarks"
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "resourceType": {
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resourceValue": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        }
      }
    },
    "ProcessSignature": {
      "type": "object",
      "properties": {
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature"
        },
        "signatureType": {
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature"
        }
      },
      "id": "ProcessSignature"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "id": "GoogleCloudSecuritycenterV2VertexAi",
      "properties": {
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          }
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "type": "object",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamDetails"
    },
    "InfoType": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        }
      },
      "id": "InfoType"
    },
    "Node": {
      "id": "Node",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Control": {
      "id": "Control",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdaptiveProtection": {
      "id": "AdaptiveProtection",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Kubernetes"
    },
    "GoogleCloudSecuritycenterV2Detection": {
      "type": "object",
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Detection"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {},
      "type": "object"
    },
    "KernelRootkit": {
      "id": "KernelRootkit",
      "properties": {
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ResourcePathNode": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "ResourcePathNode"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "type": "object",
      "properties": {
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "threatVector": {
          "type": "string"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudArmor"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "AgentDataAccessEvent": {
      "id": "AgentDataAccessEvent",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "type": "object",
      "properties": {
        "member": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "type": "object",
      "properties": {
        "inspectJob": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "fullScan": {
          "type": "boolean"
        },
        "infoType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object",
      "properties": {
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "deprecated": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Notebook"
    },
    "Cvssv3": {
      "type": "object",
      "properties": {
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string"
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string"
        },
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "Cvssv3"
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SensitivityScore": {
      "id": "SensitivityScore",
      "type": "object",
      "properties": {
        "score": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable",
      "properties": {
        "val": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SecretFilePath": {
      "id": "SecretFilePath",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GcpMetadata": {
      "id": "GcpMetadata",
      "properties": {
        "project": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "readOnly": true
        },
        "parentDisplayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityMarks"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "properties": {
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
    },
    "SecurityCenterSettings": {
      "properties": {
        "logSinkProject": {
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string"
        },
        "onboardingTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "orgServiceAccount": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityCenterSettings"
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pipeline"
    },
    "Container": {
      "id": "Container",
      "type": "object",
      "properties": {
        "imageId": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "uri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Details": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO",
            "PAY_AS_YOU_GO",
            "SUBSCRIPTION",
            "SUB_FIXED",
            "SUB_BASE_OVERAGE"
          ]
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Details"
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PortRange"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "properties": {
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "category": {
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "mute": {
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "muteInfo": {
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "readOnly": true
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "nextSteps": {
          "type": "string"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "muteUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "parent": {
          "type": "string"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "type": "object",
          "readOnly": true
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          }
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "findingClass": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "moduleName": {
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "id": "GoogleCloudSecuritycenterV2Folder",
      "type": "object",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "properties": {
        "regionCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Geolocation"
    },
    "SecretStatus": {
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecretStatus"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "object",
      "properties": {
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "id": "GoogleCloudSecuritycenterV2Control",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "properties": {
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent"
    },
    "AzureTenant": {
      "id": "AzureTenant",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "type": "object",
      "properties": {
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "type": "string"
        },
        "groupId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2GroupMembership"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "properties": {
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRules"
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        }
      },
      "type": "object",
      "id": "VulnerabilitySnapshot"
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "properties": {
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata",
      "properties": {
        "projectId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Object": {
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Object"
    },
    "Indicator": {
      "id": "Indicator",
      "type": "object",
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "id": "GoogleCloudSecuritycenterV2Subject",
      "type": "object",
      "properties": {
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "properties": {
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "AiModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string"
        }
      },
      "id": "AiModel"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve"
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoadBalancer"
    },
    "CloudDlpInspection": {
      "id": "CloudDlpInspection",
      "properties": {
        "infoType": {
          "type": "string"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "fullScan": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EventThreatDetectionSettings": {
      "type": "object",
      "properties": {
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "EventThreatDetectionSettings"
    },
    "Disk": {
      "id": "Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "type": "object",
      "properties": {
        "publisher": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "deploymentPlatform": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AiModel"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "id": "GoogleCloudSecuritycenterV2Pod",
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec"
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
    },
    "MuteInfo": {
      "type": "object",
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      },
      "id": "MuteInfo"
    },
    "StaticMute": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "StaticMute"
    },
    "Role": {
      "id": "Role",
      "properties": {
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Agent": {
      "id": "Agent",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      }
    },
    "GroupMembership": {
      "id": "GroupMembership",
      "properties": {
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2File": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "fileLoadState": {
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "sha256": {
          "type": "string"
        },
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "contents": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2File"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "id": "GoogleCloudSecuritycenterV2InvocationReference",
      "type": "object",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "type": "object",
      "properties": {
        "domainCategory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ]
        }
      }
    },
    "Application": {
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "id": "Application"
    },
    "Network": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Network"
    },
    "Connection": {
      "properties": {
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Connection"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary",
      "properties": {
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "properties": {
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
    },
    "AwsMetadata": {
      "id": "AwsMetadata",
      "type": "object",
      "properties": {
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "AwsAccount"
        },
        "organization": {
          "$ref": "AwsOrganization"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Database": {
      "properties": {
        "name": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Database"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ContactDetails"
    },
    "IpRules": {
      "type": "object",
      "properties": {
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "denied": {
          "$ref": "Denied"
        }
      },
      "id": "IpRules"
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "role": {
          "$ref": "Role"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1Binding"
    },
    "AwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AwsAccount"
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "details": {
          "$ref": "Details"
        },
        "tier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM",
            "ENTERPRISE",
            "ENTERPRISE_MC"
          ]
        }
      }
    },
    "AffectedResources": {
      "id": "AffectedResources",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Property"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy"
    },
    "DetectorReference": {
      "id": "DetectorReference",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "type": "object",
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
    },
    "Cve": {
      "properties": {
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "id": {
          "type": "string"
        },
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "observedInTheWild": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Cve"
    },
    "GoogleCloudSecuritycenterV1IamDetails": {
      "type": "object",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1IamRolePermission"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1IamDetails"
    },
    "SecurityBulletin": {
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecurityBulletin"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "properties": {
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "assignees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "casePriority": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "caseUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse"
    },
    "HttpResponse": {
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpResponse"
    },
    "AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcApplicationTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "type": "object",
      "properties": {
        "backupType": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliance": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
    },
    "IpRule": {
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "id": "IpRule"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "id": "GoogleCloudSecuritycenterV2SecurityPosture",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Access": {
      "properties": {
        "serviceName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          }
        },
        "principalSubject": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Access"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "id": "GoogleCloudSecuritycenterV2Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplication"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "type": "object",
      "properties": {
        "sensitivityScore": {
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2InfoType"
    },
    "Vulnerability": {
      "properties": {
        "offendingPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "cve": {
          "$ref": "Cve"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Vulnerability"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "type": "object",
      "properties": {
        "privateIpAddress": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "backendService": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "exposedEndpoint": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "predicate": {
          "$ref": "Expr"
        },
        "description": {
          "type": "string"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "recommendation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "type": "object",
      "properties": {
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        }
      }
    },
    "SecurityPolicy": {
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SecurityPolicy"
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "id": "GoogleCloudSecuritycenterV2Cvssv3",
      "type": "object",
      "properties": {
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "attackVector": {
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        }
      }
    },
    "DataRetentionDeletionEvent": {
      "properties": {
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "id": "GoogleCloudSecuritycenterV2MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Detection"
          }
        }
      }
    },
    "SecretEnvironmentVariable": {
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "SecretEnvironmentVariable"
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureSubscription"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "type": "object",
      "properties": {
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        },
        "version": {
          "type": "string"
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
[...]
