{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "basePath": "",
  "revision": "20260804",
  "ownerName": "Google",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "version": "v1",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "postureTemplates": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates/{postureTemplatesId}",
                  "response": {
                    "$ref": "PostureTemplate"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a single revision of a PostureTemplate.",
                  "id": "securityposture.organizations.locations.postureTemplates.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the PostureTemplate, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureTemplates/[^/]+$",
                      "location": "path"
                    },
                    "revisionId": {
                      "type": "string",
                      "description": "Optional. The posture template revision to retrieve. If not specified, the most recently updated revision is retrieved.",
                      "location": "query"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureTemplates",
                  "response": {
                    "$ref": "ListPostureTemplatesResponse"
                  },
                  "path": "v1/{+parent}/postureTemplates",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists every PostureTemplate in a given organization and location.",
                  "id": "securityposture.organizations.locations.postureTemplates.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A pagination token returned from a previous request to list posture templates. Provide this token to retrieve the next page of results.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of posture templates to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160)."
                    }
                  }
                }
              }
            },
            "reports": {
              "methods": {
                "createIaCValidationReport": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Validates a specified infrastructure-as-code (IaC) configuration, and creates a Report with the validation results. Only Terraform configurations are supported. Only modified assets are validated.",
                  "id": "securityposture.organizations.locations.reports.createIaCValidationReport",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CreateIaCValidationReportRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports:createIaCValidationReport",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/reports:createIaCValidationReport"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/reports/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "securityposture.organizations.locations.reports.get",
                  "description": "Gets details for a Report.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Report"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports/{reportsId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.reports.list",
                  "description": "Lists every Report in a given organization and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of reports to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A filter to apply to the list of reports, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A pagination token returned from a previous request to list reports. Provide this token to retrieve the next page of results.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/reports",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "path": "v1/{+parent}/reports"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "securityposture.organizations.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "securityposture.organizations.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "securityposture.organizations.locations.operations.cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "securityposture.organizations.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "postures": {
              "methods": {
                "listRevisions": {
                  "path": "v1/{+name}:listRevisions",
                  "response": {
                    "$ref": "ListPostureRevisionsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}:listRevisions",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A pagination token from a previous request to list posture revisions. Provide this token to retrieve the next page of results.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of posture revisions to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "description": "Lists all revisions of a single Posture.",
                  "id": "securityposture.organizations.locations.postures.listRevisions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "securityposture.organizations.locations.postures.delete",
                  "description": "Deletes all revisions of a Posture. You can only delete a posture if none of its revisions are deployed.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. An opaque identifier for the current version of the posture. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture is deleted regardless of its current `etag` value.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a revision of an existing Posture. If the posture revision that you update is currently deployed, then a new revision of the posture is created. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture: 1. Call GetPosture to get the current version of the posture. 2. Update the fields in the posture as needed. 3. Call UpdatePosture to update the posture. Ensure that your request includes the `etag` value from the GetPosture response. **Important:** If you omit the `etag` when you call UpdatePosture, then the updated posture unconditionally overwrites the existing posture.",
                  "id": "securityposture.organizations.locations.postures.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The fields in the Posture to update. You can update only the following fields: * Posture.description * Posture.policy_sets * Posture.state",
                      "format": "google-fieldmask"
                    },
                    "revisionId": {
                      "location": "query",
                      "description": "Required. The revision ID of the posture to update. If the posture revision that you update is currently deployed, then a new revision of the posture is created.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Posture"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Posture"
                  },
                  "parameters": {
                    "postureId": {
                      "location": "query",
                      "description": "Required. An identifier for the posture.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "securityposture.organizations.locations.postures.create",
                  "description": "Creates a new Posture.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/postures",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures"
                },
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures",
                  "response": {
                    "$ref": "ListPosturesResponse"
                  },
                  "path": "v1/{+parent}/postures",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.postures.list",
                  "description": "Lists the most recent revisions of all Posture resources in a specified organization and location.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of postures to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous request to list postures. Provide this token to retrieve the next page of results.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Posture"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures/{posturesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postures/[^/]+$",
                      "location": "path"
                    },
                    "revisionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The posture revision to retrieve. If not specified, the most recently updated revision is retrieved."
                    }
                  },
                  "id": "securityposture.organizations.locations.postures.get",
                  "description": "Gets a single revision of a Posture.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "extract": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/postures:extract",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postures:extract",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ExtractPostureRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securityposture.organizations.locations.postures.extract",
                  "description": "Extracts existing policies from an organization, folder, or project, and applies them to another organization, folder, or project as a Posture. If the other organization, folder, or project already has a posture, then the result of the long-running operation is an ALREADY_EXISTS error."
                }
              }
            },
            "postureDeployments": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The fields in the PostureDeployment to update. You can update only the following fields: * PostureDeployment.posture_id * PostureDeployment.posture_revision_id",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "securityposture.organizations.locations.postureDeployments.patch",
                  "description": "Updates an existing PostureDeployment. To prevent concurrent updates from overwriting each other, always follow the read-modify-write pattern when you update a posture deployment: 1. Call GetPostureDeployment to get the current version of the deployment. 2. Update the fields in the deployment as needed. 3. Call UpdatePostureDeployment to update the deployment. Ensure that your request includes the `etag` value from the GetPostureDeployment response. **Important:** If you omit the `etag` when you call UpdatePostureDeployment, then the updated deployment unconditionally overwrites the existing deployment.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new PostureDeployment in a given project and location.",
                  "id": "securityposture.organizations.locations.postureDeployments.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "PostureDeployment"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "postureDeploymentId": {
                      "type": "string",
                      "description": "Required. An identifier for the posture deployment.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments",
                  "path": "v1/{+parent}/postureDeployments",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name, in the format `organizations/{organization}/locations/global`.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of posture deployments to return. The default value is `500`. If you exceed the maximum value of `1000`, then the service uses the maximum value.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. A filter to apply to the list of postures, in the format defined in [AIP-160: Filtering](https://google.aip.dev/160).",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A pagination token returned from a previous request to list posture deployments. Provide this token to retrieve the next page of results."
                    }
                  },
                  "description": "Lists every PostureDeployment in a project and location.",
                  "id": "securityposture.organizations.locations.postureDeployments.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/postureDeployments",
                  "response": {
                    "$ref": "ListPostureDeploymentsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details for a PostureDeployment.",
                  "id": "securityposture.organizations.locations.postureDeployments.get",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the PostureDeployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_deployment_id}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "response": {
                    "$ref": "PostureDeployment"
                  },
                  "path": "v1/{+name}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a PostureDeployment.",
                  "id": "securityposture.organizations.locations.postureDeployments.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{posture_id}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/postureDeployments/[^/]+$",
                      "location": "path"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. An opaque identifier for the current version of the posture deployment. If you provide this value, then it must match the existing value. If the values don't match, then the request fails with an ABORTED error. If you omit this value, then the posture deployment is deleted regardless of its current `etag` value.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/postureDeployments/{postureDeploymentsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "securityposture.projects.locations.get",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              },
              "id": "securityposture.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "Defines, assesses, and monitors the overall status of your security in Google Cloud. You can use security postures to evaluate your current cloud security against defined benchmarks and help maintain the level of security that your organization requires. ",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Security Posture API",
  "canonicalName": "Security Posture",
  "baseUrl": "https://securityposture.googleapis.com/",
  "id": "securityposture:v1",
  "rootUrl": "https://securityposture.googleapis.com/",
  "schemas": {
    "Violation": {
      "properties": {
        "assetId": {
          "type": "string",
          "description": "The full resource name of the asset that caused the violation. For details about the format of the full resource name for each asset type, see [Resource name format](https://cloud.google.com/asset-inventory/docs/resource-name-format)."
        },
        "violatedAsset": {
          "$ref": "AssetDetails",
          "description": "Details of the Cloud Asset Inventory asset that caused the violation."
        },
        "violatedPosture": {
          "description": "Details for the posture that was violated. This field is present only if the violated policy belongs to a deployed posture.",
          "$ref": "PostureDetails"
        },
        "policyId": {
          "description": "The policy that was violated.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "description": "The severity of the violation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "nextSteps": {
          "type": "string",
          "description": "A description of the steps that you can take to fix the violation."
        },
        "violatedPolicy": {
          "$ref": "PolicyDetails",
          "description": "Details of the policy that was violated."
        }
      },
      "id": "Violation",
      "type": "object",
      "description": "Details of a violation."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Posture": {
      "description": "The details of a posture.",
      "id": "Posture",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. An opaque identifier for the current version of the posture at the specified `revision_id`. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture. You can also provide the `etag` when you delete a posture, to help ensure that you're deleting the intended version of the posture."
        },
        "name": {
          "description": "Required. Identifier. The name of the posture, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Whether the posture is in the process of being updated.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the posture was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. Immutable. An opaque eight-character string that identifies the revision of the posture. A posture can have multiple revisions; when you deploy a posture, you deploy a specific revision of the posture.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the posture was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "policySets": {
          "items": {
            "$ref": "PolicySet"
          },
          "type": "array",
          "description": "Required. The PolicySet resources that the posture includes."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. The user-specified annotations for the posture. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A description of the posture.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPRECATED",
            "DRAFT",
            "ACTIVE"
          ],
          "type": "string",
          "description": "Required. The state of the posture at the specified `revision_id`.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture is deprecated and can no longer be deployed.",
            "The posture is a draft and is not ready to deploy.",
            "The posture is complete and ready to deploy."
          ]
        },
        "categories": {
          "readOnly": true,
          "items": {
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The categories that the posture belongs to, as determined by the Security Posture API."
        }
      }
    },
    "OrgPolicyConstraintCustom": {
      "description": "A custom organization policy constraint.",
      "id": "OrgPolicyConstraintCustom",
      "type": "object",
      "properties": {
        "policyRules": {
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "type": "array",
          "description": "Required. The rules enforced by the constraint."
        },
        "customConstraint": {
          "$ref": "GoogleCloudSecuritypostureV1CustomConstraint",
          "description": "Required. Metadata for the constraint."
        }
      }
    },
    "IaC": {
      "id": "IaC",
      "type": "object",
      "description": "Details of an infrastructure-as-code (IaC) configuration.",
      "properties": {
        "tfPlan": {
          "description": "Optional. A Terraform plan file, formatted as a stringified JSON object. To learn how to generate a Terraform plan file in JSON format, see [JSON output format](https://developer.hashicorp.com/terraform/internals/json-format) in the Terraform documentation.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata for an Operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. The server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time at which the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time at which the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. The status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Whether a request to cancel the operation has been received. For operations that have been cancelled successfully, the Operation.error field contains the error code CANCELLED.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. The name of the action executed by the operation.",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. An error message. Returned when a PostureDeployment enters a failure state like UPDATE_FAILED.",
          "readOnly": true
        }
      }
    },
    "Expr": {
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "Property": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the custom source property."
        },
        "valueExpression": {
          "description": "Optional. The CEL expression for the value of the custom source property. For resource properties, you can return the value of the property or a string enclosed in quotation marks.",
          "$ref": "Expr"
        }
      },
      "id": "Property",
      "type": "object",
      "description": "A name-value pair used as a custom source property."
    },
    "SecurityHealthAnalyticsModule": {
      "properties": {
        "moduleEnablementState": {
          "type": "string",
          "description": "Whether the detector is enabled at a specified level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "moduleName": {
          "description": "Required. The name of the detector. For example, `BIGQUERY_TABLE_CMEK_DISABLED`. This field is also used as the finding category for all the asset violation findings that the detector returns.",
          "type": "string"
        }
      },
      "id": "SecurityHealthAnalyticsModule",
      "type": "object",
      "description": "A built-in detector for Security Health Analytics."
    },
    "ListPosturesResponse": {
      "id": "ListPosturesResponse",
      "type": "object",
      "description": "Response message for ListPostures.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "type": "array"
        },
        "postures": {
          "items": {
            "$ref": "Posture"
          },
          "description": "The list of Posture resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        }
      }
    },
    "ComplianceStandard": {
      "properties": {
        "control": {
          "description": "Optional. The control in the compliance standard that the policy helps enforce. For example, `AC-3`.",
          "type": "string"
        },
        "standard": {
          "type": "string",
          "description": "Optional. The compliance standard that the policy helps enforce. For example, `NIST SP 800-53`."
        }
      },
      "description": "Information about a compliance standard that the policy helps enforce.",
      "id": "ComplianceStandard",
      "type": "object"
    },
    "ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. The resource types to run the detector on. Each custom module can specify up to 5 resource types.",
          "type": "array"
        }
      },
      "id": "ResourceSelector",
      "type": "object",
      "description": "A selector for the resource types to run the detector on."
    },
    "GoogleCloudSecuritypostureV1PolicyRuleStringValues": {
      "description": "The allowed and denied values for a list constraint. For all constraints, these fields can contain literal values. Optionally, you can add the `is:` prefix to these values. If the value contains a colon (`:`), then the `is:` prefix is required. Some constraints allow you to specify a portion of the resource hierarchy, known as a [_hierarchy subtree_](https://cloud.google.com/resource-manager/help/organization-policy/hierarchy-subtree), that the constraint applies to. To specify a hierarchy subtree, use the `under:` prefix, followed by a value with one of these formats: - `projects/{project_id}` (for example, `projects/tokyo-rain-123`) - `folders/{folder_id}` (for example, `folders/1234567890123`) - `organizations/{organization_id}` (for example, `organizations/123456789012`) A constraint's `supports_under` field indicates whether you can specify a hierarchy subtree. To learn which predefined constraints let you specify a hierarchy subtree, see the [constraints reference](https://cloud.google.com/resource-manager/help/organization-policy/constraints/reference).",
      "id": "GoogleCloudSecuritypostureV1PolicyRuleStringValues",
      "type": "object",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The allowed values for the constraint."
        },
        "deniedValues": {
          "type": "array",
          "description": "The denied values for the constraint.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "PolicySet": {
      "properties": {
        "policies": {
          "description": "Required. The Policy resources in the policy set. Each policy must have a policy_id that's unique within the policy set.",
          "type": "array",
          "items": {
            "$ref": "Policy"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the policy set."
        },
        "policySetId": {
          "description": "Required. An identifier for the policy set.",
          "type": "string"
        }
      },
      "description": "A group of one or more Policy resources.",
      "id": "PolicySet",
      "type": "object"
    },
    "ListPostureTemplatesResponse": {
      "properties": {
        "postureTemplates": {
          "type": "array",
          "description": "The list of PostureTemplate resources.",
          "items": {
            "$ref": "PostureTemplate"
          }
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        }
      },
      "description": "Response message for ListPostureTemplates.",
      "id": "ListPostureTemplatesResponse",
      "type": "object"
    },
    "ListPostureDeploymentsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        },
        "postureDeployments": {
          "items": {
            "$ref": "PostureDeployment"
          },
          "type": "array",
          "description": "The list of PostureDeployment resources."
        }
      },
      "id": "ListPostureDeploymentsResponse",
      "type": "object",
      "description": "Response message for ListPostureDeployments."
    },
    "ResourceTypes": {
      "id": "ResourceTypes",
      "type": "object",
      "description": "Set multiple resource types for one policy, for example: ``` resourceTypes: included: - compute.googleapis.com/Instance - compute.googleapis.com/Disk ``` Constraint definition contains an empty resource type in order to support multiple resource types in the policy. Only supports managed constraints. Method type is `GOVERN_TAGS`.",
      "properties": {
        "included": {
          "type": "array",
          "description": "Optional. The resource types we support.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PostureDeployment": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A description of the posture deployment."
        },
        "state": {
          "description": "Output only. The state of the posture deployment.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture deployment is being created.",
            "The posture deployment is being deleted.",
            "The posture deployment is being updated.",
            "The posture deployment is active and in use.",
            "The posture deployment could not be created.",
            "The posture deployment could not be updated.",
            "The posture deployment could not be deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "UPDATING",
            "ACTIVE",
            "CREATE_FAILED",
            "UPDATE_FAILED",
            "DELETE_FAILED"
          ],
          "readOnly": true
        },
        "categories": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ]
          },
          "readOnly": true,
          "description": "Output only. The categories that the posture deployment belongs to, as determined by the Security Posture API.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Optional. An opaque identifier for the current version of the posture deployment. To prevent concurrent updates from overwriting each other, always provide the `etag` when you update a posture deployment. You can also provide the `etag` when you delete a posture deployment, to help ensure that you're deleting the intended posture deployment."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`."
        },
        "postureId": {
          "type": "string",
          "description": "Required. The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the posture deployment was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of why the posture deployment failed. Present only if the deployment is in a failed state."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the posture deployment was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. The user-specified annotations for the posture deployment. For details about the values you can use in an annotation, see [AIP-148: Standard fields](https://google.aip.dev/148#annotations).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "desiredPostureId": {
          "type": "string",
          "description": "Output only. The posture ID that was specified for the deployment. Present only if the posture deployment is in a failed state.",
          "readOnly": true
        },
        "targetResource": {
          "type": "string",
          "description": "Required. The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`"
        },
        "postureRevisionId": {
          "type": "string",
          "description": "Required. The revision ID of the posture used in the deployment."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Whether the posture deployment is in the process of being updated.",
          "readOnly": true
        },
        "desiredPostureRevisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The revision ID of the posture that was specified for the deployment. Present only if the deployment is in a failed state."
        }
      },
      "id": "PostureDeployment",
      "type": "object",
      "description": "Details for a Posture deployment on an organization, folder, or project. You can deploy at most one posture to each organization, folder, or project. The parent resource for a posture deployment is always the organization, even if the deployment applies to a folder or project."
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "description": "Details of a report.",
      "properties": {
        "iacValidationReport": {
          "readOnly": true,
          "$ref": "IaCValidationReport",
          "description": "Output only. An infrastructure-as-code (IaC) validation report."
        },
        "createTime": {
          "description": "Output only. The time at which the report was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. The name of the report, in the format `organizations/{organization}/locations/global/reports/{report_id}`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the report was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "The details of a policy, including the constraints that it includes.",
      "properties": {
        "policyId": {
          "description": "Required. A user-specified identifier for the policy. In a PolicySet, each policy must have a unique identifier.",
          "type": "string"
        },
        "constraint": {
          "description": "Required. The constraints that the policy includes.",
          "$ref": "Constraint"
        },
        "complianceStandards": {
          "type": "array",
          "description": "Optional. The compliance standards that the policy helps enforce.",
          "items": {
            "$ref": "ComplianceStandard"
          }
        },
        "description": {
          "description": "Optional. A description of the policy.",
          "type": "string"
        }
      }
    },
    "Constraint": {
      "id": "Constraint",
      "type": "object",
      "description": "Metadata for a constraint in a Policy.",
      "properties": {
        "securityHealthAnalyticsModule": {
          "description": "Optional. A built-in detector for Security Health Analytics.",
          "$ref": "SecurityHealthAnalyticsModule"
        },
        "orgPolicyConstraint": {
          "description": "Optional. A predefined organization policy constraint.",
          "$ref": "OrgPolicyConstraint"
        },
        "orgPolicyConstraintCustom": {
          "$ref": "OrgPolicyConstraintCustom",
          "description": "Optional. A custom organization policy constraint."
        },
        "securityHealthAnalyticsCustomModule": {
          "$ref": "SecurityHealthAnalyticsCustomModule",
          "description": "Optional. A custom module for Security Health Analytics."
        }
      }
    },
    "OrgPolicyConstraint": {
      "id": "OrgPolicyConstraint",
      "type": "object",
      "description": "A predefined organization policy constraint.",
      "properties": {
        "cannedConstraintId": {
          "type": "string",
          "description": "Required. A unique identifier for the constraint."
        },
        "policyRules": {
          "items": {
            "$ref": "GoogleCloudSecuritypostureV1PolicyRule"
          },
          "type": "array",
          "description": "Required. The rules enforced by the constraint."
        }
      }
    },
    "ListReportsResponse": {
      "description": "Response message for ListReports.",
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Report resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that were temporarily unavailable and could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PostureDetails": {
      "properties": {
        "policySet": {
          "type": "string",
          "description": "The identifier for the PolicySet that the relevant policy belongs to."
        },
        "postureDeploymentTargetResource": {
          "description": "The organization, folder, or project where the posture is deployed. Uses one of the following formats: * `organizations/{organization_number}` * `folders/{folder_number}` * `projects/{project_number}`",
          "type": "string"
        },
        "posture": {
          "description": "The posture used in the deployment, in the format `organizations/{organization}/locations/global/postures/{posture_id}`.",
          "type": "string"
        },
        "postureDeployment": {
          "type": "string",
          "description": "The name of the posture deployment, in the format `organizations/{organization}/locations/global/postureDeployments/{deployment_id}`."
        },
        "postureRevisionId": {
          "description": "The revision ID of the posture used in the deployment.",
          "type": "string"
        }
      },
      "id": "PostureDetails",
      "type": "object",
      "description": "Details of a posture deployment."
    },
    "GoogleCloudSecuritypostureV1PolicyRule": {
      "id": "GoogleCloudSecuritypostureV1PolicyRule",
      "type": "object",
      "description": "A rule that defines the allowed and denied values for an organization policy constraint.",
      "properties": {
        "resourceTypes": {
          "description": "Optional. The resource types policies can support, only used for managed constraints. Method type is `GOVERN_TAGS`.",
          "$ref": "ResourceTypes"
        },
        "values": {
          "description": "The allowed and denied values for a list constraint. Valid only for list constraints.",
          "$ref": "GoogleCloudSecuritypostureV1PolicyRuleStringValues"
        },
        "denyAll": {
          "type": "boolean",
          "description": "Whether to deny all values for a list constraint. Valid only for list constraints."
        },
        "enforce": {
          "description": "Whether to enforce the constraint. Valid only for boolean constraints.",
          "type": "boolean"
        },
        "condition": {
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`",
          "$ref": "Expr"
        },
        "allowAll": {
          "description": "Whether to allow any value for a list constraint. Valid only for list constraints.",
          "type": "boolean"
        },
        "parameters": {
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\": [\"us-east1\", \"us-west1\"], \"allowAll\": true } ```",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "CustomOutputSpec": {
      "description": "Definitions of custom source properties that can appear in findings.",
      "id": "CustomOutputSpec",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "description": "Optional. The custom source properties that can appear in findings.",
          "items": {
            "$ref": "Property"
          }
        }
      }
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "SecurityHealthAnalyticsCustomModule": {
      "id": "SecurityHealthAnalyticsCustomModule",
      "type": "object",
      "description": "A custom module for Security Health Analytics.",
      "properties": {
        "id": {
          "description": "Output only. Immutable. The unique identifier for the custom module. Contains 1 to 20 digits.",
          "type": "string",
          "readOnly": true
        },
        "config": {
          "description": "Required. Configuration settings for the custom module.",
          "$ref": "CustomConfig"
        },
        "moduleEnablementState": {
          "description": "Whether the custom module is enabled at a specified level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The detector or custom module is enabled.",
            "The detector or custom module is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the custom module. This value is used as the finding category for all the asset violation findings that the custom module returns. The display name must contain between 1 and 128 alphanumeric characters or underscores, and it must start with a lowercase letter."
        }
      }
    },
    "PolicyDetails": {
      "properties": {
        "complianceStandards": {
          "items": {
            "type": "string"
          },
          "description": "The compliance standards that the policy maps to. For example, `CIS-2.0 1.15`.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A description of the policy."
        },
        "constraint": {
          "description": "Information about the constraint that was violated. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way.",
          "type": "string"
        },
        "constraintType": {
          "enum": [
            "CONSTRAINT_TYPE_UNSPECIFIED",
            "SECURITY_HEALTH_ANALYTICS_CUSTOM_MODULE",
            "ORG_POLICY_CUSTOM",
            "SECURITY_HEALTH_ANALYTICS_MODULE",
            "ORG_POLICY",
            "REGO_POLICY"
          ],
          "description": "The type of constraint that was violated.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A custom module for Security Health Analytics.",
            "A custom organization policy constraint.",
            "A built-in detector for Security Health Analytics.",
            "A predefined organization policy constraint.",
            "A custom rego policy constraint."
          ],
          "type": "string"
        }
      },
      "description": "Details of a policy that was violated.",
      "id": "PolicyDetails",
      "type": "object"
    },
    "ListPostureRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A pagination token. To retrieve the next page of results, call the method again with this token.",
          "type": "string"
        },
        "revisions": {
          "items": {
            "$ref": "Posture"
          },
          "type": "array",
          "description": "The list of revisions for the Posture."
        }
      },
      "id": "ListPostureRevisionsResponse",
      "type": "object",
      "description": "Response message for ListPostureRevisions."
    },
    "IaCValidationReport": {
      "description": "Details of an infrastructure-as-code (IaC) validation report.",
      "id": "IaCValidationReport",
      "type": "object",
      "properties": {
        "note": {
          "description": "Additional information about the report.",
          "type": "string"
        },
        "violations": {
          "items": {
            "$ref": "Violation"
          },
          "type": "array",
          "description": "A list of every Violation found in the IaC configuration."
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudSecuritypostureV1CustomConstraint": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time at which the constraint was updated or created.",
          "format": "google-datetime"
        },
        "actionType": {
          "type": "string",
          "description": "Whether to allow or deny the action.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Allow the action.",
            "Deny the action."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "displayName": {
          "description": "A display name for the constraint. The maximum length is 200 characters.",
          "type": "string"
        },
        "methodTypes": {
          "type": "array",
          "description": "The types of operations that the constraint applies to.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Not supported. Constraint applied when deleting the resource."
            ],
            "type": "string",
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          }
        },
        "name": {
          "description": "Immutable. The name of the constraint, in the format `organizations/{organization_id}/customConstraints/custom.{custom_constraint_id}`. For example, `organizations/123456789012/customConstraints/custom.createOnlyE2TypeVms`. Must contain 1 to 62 characters, excluding the prefix `organizations/{organization_id}/customConstraints/custom.`.",
          "type": "string"
        },
        "resourceTypes": {
          "description": "Immutable. The resource type that the constraint applies to, in the format `{canonical_service_name}/{resource_type_name}`. For example, `compute.googleapis.com/Instance`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A description of the constraint. The maximum length is 2000 characters.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "A Common Expression Language (CEL) condition expression that must evaluate to `true` for the constraint to be enforced. The maximum length is 1000 characters. For example: + `resource.instanceName.matches('(production|test)_(.+_)?[\\d]+')`: Evaluates to `true` if the resource's `instanceName` attribute contains the following: + The prefix `production` or `test` + An underscore (`_`) + Optional: One or more characters, followed by an underscore (`_`) + One or more digits + `resource.management.auto_upgrade == true`: Evaluates to `true` if the resource's `management.auto_upgrade` attribute is `true`."
        }
      },
      "id": "GoogleCloudSecuritypostureV1CustomConstraint",
      "type": "object",
      "description": "A custom, user-defined constraint. You can apply the constraint only to the resource types specified in the constraint, and only within the organization where the constraint is defined. _When you create a custom constraint, it is not enforced automatically._ You must use an organization policy to [enforce the constraint](https://cloud.google.com/resource-manager/help/organization-policy/constraints/enforce)."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "CustomConfig": {
      "id": "CustomConfig",
      "type": "object",
      "description": "A custom module configuration for Security Health Analytics. Use `CustomConfig` to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "predicate": {
          "description": "Required. The Common Expression Language (CEL) expression to evaluate. When the expression evaluates to `true` for a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "customOutput": {
          "description": "Optional. Definitions of custom source properties to include in findings.",
          "$ref": "CustomOutputSpec"
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of findings generated by the custom module.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "recommendation": {
          "description": "Required. An explanation of the steps that security teams can take to resolve the detected issue. The explanation appears in each finding.",
          "type": "string"
        },
        "resourceSelector": {
          "$ref": "ResourceSelector",
          "description": "Required. The resource types that the custom module operates on."
        },
        "description": {
          "description": "Optional. A description of the vulnerability or misconfiguration that the custom module detects. The description appears in each finding. Provide enough information to help an investigator understand the finding. The value must be enclosed in quotation marks.",
          "type": "string"
        }
      }
    },
    "AssetDetails": {
      "id": "AssetDetails",
      "type": "object",
      "description": "Details of a Cloud Asset Inventory asset that caused a violation.",
      "properties": {
        "assetType": {
          "description": "The type of Cloud Asset Inventory asset. For a list of asset types, see [Supported asset types](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        },
        "asset": {
          "description": "Information about the Cloud Asset Inventory asset that violated a policy. The format of this information can change at any time without prior notice. Your application must not depend on this information in any way.",
          "type": "string"
        }
      }
    },
    "CreateIaCValidationReportRequest": {
      "description": "Request message for CreateIaCValidationReport.",
      "id": "CreateIaCValidationReportRequest",
      "type": "object",
      "properties": {
        "iac": {
          "$ref": "IaC",
          "description": "Required. The infrastructure-as-code (IaC) configuration to validate."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ExtractPostureRequest": {
      "properties": {
        "postureId": {
          "type": "string",
          "description": "Required. An identifier for the posture."
        },
        "workload": {
          "description": "Required. The organization, folder, or project from which policies are extracted. Must be within the organization defined in parent. Use one of the following formats: * `organization/{organization_number}` * `folder/{folder_number}` * `project/{project_number}`",
          "type": "string"
        }
      },
      "id": "ExtractPostureRequest",
      "type": "object",
      "description": "Request message for ExtractPosture."
    },
    "PostureTemplate": {
      "id": "PostureTemplate",
      "type": "object",
      "description": "The details of a posture template.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. A description of the posture template.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The name of the posture template, in the format `organizations/{organization}/locations/global/postureTemplates/{posture_template}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the posture template at the specified `revision_id`.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The posture template follows the latest controls and standards.",
            "The posture template uses outdated controls and standards. We recommend that you use a newer revision of the posture template."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DEPRECATED"
          ],
          "readOnly": true
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. A string that identifies the revision of the posture template.",
          "readOnly": true
        },
        "policySets": {
          "items": {
            "$ref": "PolicySet"
          },
          "readOnly": true,
          "description": "Output only. The PolicySet resources that the posture template includes.",
          "type": "array"
        },
        "categories": {
          "readOnly": true,
          "items": {
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "AI",
              "AWS",
              "GCP",
              "AZURE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Artificial intelligence (AI).",
              "Amazon Web Services (AWS) policies.",
              "Google Cloud policies.",
              "Microsoft Azure policies."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The categories that the posture template belongs to, as determined by the Security Posture API."
        }
      }
    }
  },
  "name": "securityposture",
  "mtlsRootUrl": "https://securityposture.mtls.googleapis.com/",
  "protocol": "rest"
}