{
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "updateEventThreatDetectionSettings": {
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "description": "",
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}"
        },
        "getSecurityCenterSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "description": "",
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            }
          }
        },
        "updateContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "description": "",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "description": "",
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.getEventThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "getContainerThreatDetectionSettings": {
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta2/{+name}"
                },
                "updateContainerThreatDetectionSettings": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "path": "v1beta2/{+name}",
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "description": "",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "parameters": {
                        "showEligibleModulesOnly": {
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta2/{+name}:calculate"
                    }
                  }
                }
              }
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              }
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "description": "",
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "description": "",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getSecurityCenterSettings": {
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "description": "",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            }
          }
        },
        "updateWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateContainerThreatDetectionSettings": {
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "description": ""
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "description": ""
        },
        "getWebSecurityScannerSettings": {
          "httpMethod": "GET",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "description": "",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "path": "v1beta2/{+name}"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "getSubscription": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Subscription"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/subscription$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "description": "",
          "id": "securitycenter.organizations.getSubscription",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateEventThreatDetectionSettings": {
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "description": ""
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getSecurityHealthAnalyticsSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}"
        }
      },
      "resources": {
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "description": "",
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "description": ""
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "description": "",
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "description": "",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "description": "",
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "getSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "description": "",
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "description": "",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "description": "",
          "path": "v1beta2/{+name}"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "updateContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "description": ""
        },
        "updateWebSecurityScannerSettings": {
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "description": ""
        },
        "getSecurityCenterSettings": {
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}"
        }
      },
      "resources": {
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "description": ""
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "description": "",
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "description": "",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v1beta2",
  "canonicalName": "Security Command Center",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "id": "securitycenter:v1beta2",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "schemas": {
    "Pipeline": {
      "type": "object",
      "id": "Pipeline",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "Indicator": {
      "id": "Indicator",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AgentDataAccessEvent": {
      "type": "object",
      "id": "AgentDataAccessEvent",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "DataFlowEvent": {
      "type": "object",
      "id": "DataFlowEvent",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "properties": {
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "signatureType": {
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        }
      }
    },
    "Kubernetes": {
      "type": "object",
      "id": "Kubernetes",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          }
        },
        "objects": {
          "items": {
            "$ref": "Object"
          },
          "type": "array"
        },
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        }
      }
    },
    "EnvironmentVariable": {
      "type": "object",
      "id": "EnvironmentVariable",
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      }
    },
    "InfoType": {
      "type": "object",
      "id": "InfoType",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        }
      }
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2StaticMute",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "properties": {
        "ns": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitivityScore",
      "properties": {
        "score": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "id": "GoogleCloudSecuritycenterV2AiModel",
      "properties": {
        "name": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Reference": {
      "type": "object",
      "id": "Reference",
      "properties": {
        "source": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "WebSecurityScannerSettings": {
      "id": "WebSecurityScannerSettings",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "externalUri": {
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "secret": {
          "$ref": "Secret"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "canonicalName": {
          "type": "string"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "database": {
          "$ref": "Database"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "type": "object"
        },
        "access": {
          "$ref": "Access"
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "findingClass": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "muteInitiator": {
          "type": "string"
        },
        "disk": {
          "$ref": "Disk"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "description": {
          "type": "string"
        },
        "compliances": {
          "items": {
            "$ref": "Compliance"
          },
          "type": "array"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "moduleName": {
          "type": "string"
        },
        "loadBalancers": {
          "items": {
            "$ref": "LoadBalancer"
          },
          "type": "array"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "agent": {
          "$ref": "Agent"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "type": "array"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "orgPolicies": {
          "items": {
            "$ref": "OrgPolicy"
          },
          "type": "array"
        },
        "agentSessions": {
          "items": {
            "$ref": "AgentSession"
          },
          "type": "array"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "nextSteps": {
          "type": "string"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "job": {
          "$ref": "Job"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "groupMemberships": {
          "items": {
            "$ref": "GroupMembership"
          },
          "type": "array"
        },
        "logEntries": {
          "items": {
            "$ref": "LogEntry"
          },
          "type": "array"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "parent": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "application": {
          "$ref": "Application"
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "category": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "id": "GoogleCloudSecuritycenterV2Pod",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResource",
      "properties": {
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "properties": {
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupType": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "properties": {
        "dataProfile": {
          "type": "string"
        },
        "infoTypes": {
          "items": {
            "$ref": "InfoType"
          },
          "type": "array"
        },
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          },
          "type": "array"
        },
        "pods": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          },
          "type": "array"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          }
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          }
        }
      },
      "type": "object"
    },
    "IamBinding": {
      "type": "object",
      "id": "IamBinding",
      "properties": {
        "role": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "properties": {
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "SecurityPolicy": {
      "type": "object",
      "id": "SecurityPolicy",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "properties": {
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          }
        },
        "protocol": {
          "type": "string"
        }
      }
    },
    "AiModel": {
      "type": "object",
      "id": "AiModel",
      "properties": {
        "name": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "CloudLoggingEntry": {
      "type": "object",
      "id": "CloudLoggingEntry",
      "properties": {
        "resourceContainer": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Access": {
      "type": "object",
      "id": "Access",
      "properties": {
        "serviceName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Compliance": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Compliance",
      "properties": {
        "standard": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "id": "GoogleCloudSecuritycenterV2Object",
      "properties": {
        "group": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "id": "GoogleCloudSecuritycenterV2Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "dataset": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccessReview": {
      "type": "object",
      "id": "AccessReview",
      "properties": {
        "name": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "group": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "id": "GoogleCloudSecuritycenterV2IssueMute",
      "properties": {
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ]
        },
        "muteReason": {
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "properties": {
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        },
        "name": {
          "type": "string"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Database": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Database",
      "properties": {
        "name": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DetectorReference": {
      "id": "DetectorReference",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "recommendation": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdcSharedTemplateRevision": {
      "type": "object",
      "id": "AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "properties": {
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackExposureResult": {
          "type": "string"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "properties": {
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "dataObjectCount": {
          "type": "string",
          "format": "int64"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
[...]
