{
  "revision": "20260828",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "canonicalName": "Security Command Center",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GoogleCloudSecuritycenterV2LoadBalancer": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object"
    },
    "SimulatedResult": {
      "type": "object",
      "id": "SimulatedResult",
      "properties": {
        "finding": {
          "$ref": "Finding"
        },
        "error": {
          "$ref": "Status"
        },
        "noViolation": {
          "$ref": "Empty"
        }
      }
    },
    "ComplianceDetails": {
      "id": "ComplianceDetails",
      "properties": {
        "cloudControl": {
          "$ref": "CloudControl"
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttackStepNode": {
      "id": "AttackStepNode",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "NODE_TYPE_AND",
            "NODE_TYPE_OR",
            "NODE_TYPE_DEFENSE",
            "NODE_TYPE_ATTACKER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uuid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomModuleValidationError": {
      "type": "object",
      "id": "CustomModuleValidationError",
      "properties": {
        "description": {
          "type": "string"
        },
        "end": {
          "$ref": "Position"
        },
        "fieldPath": {
          "type": "string"
        },
        "start": {
          "$ref": "Position"
        }
      }
    },
    "AwsMetadata": {
      "properties": {
        "organization": {
          "$ref": "AwsOrganization"
        },
        "account": {
          "$ref": "AwsAccount"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        }
      },
      "type": "object",
      "id": "AwsMetadata"
    },
    "NodePool": {
      "type": "object",
      "id": "NodePool",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ExfilResource": {
      "type": "object",
      "id": "ExfilResource",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Reference": {
      "id": "Reference",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "sourceIp": {
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "destinationIp": {
          "type": "string"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "expression": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "ancestorModule": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ]
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "id": "GoogleCloudSecuritycenterV2Resource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "type": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "service": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        }
      }
    },
    "Compliance": {
      "type": "object",
      "id": "Compliance",
      "properties": {
        "standard": {
          "type": "string"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "Requests": {
      "id": "Requests",
      "type": "object",
      "properties": {
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Connection": {
      "properties": {
        "sourceIp": {
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Connection"
    },
    "ExportFindingsMetadata": {
      "properties": {
        "exportStartTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        }
      },
      "type": "object",
      "id": "ExportFindingsMetadata"
    },
    "VertexAi": {
      "id": "VertexAi",
      "properties": {
        "datasets": {
          "items": {
            "$ref": "Dataset"
          },
          "type": "array"
        },
        "pipelines": {
          "items": {
            "$ref": "Pipeline"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ComplianceDetails": {
      "id": "GoogleCloudSecuritycenterV2ComplianceDetails",
      "type": "object",
      "properties": {
        "frameworks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Framework"
          },
          "type": "array"
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudControl": {
          "$ref": "GoogleCloudSecuritycenterV2CloudControl"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Access": {
      "type": "object",
      "id": "Access",
      "properties": {
        "userName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "methodName": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "id": "GoogleCloudSecuritycenterV2DiskPath",
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      }
    },
    "PathNodeAssociatedFinding": {
      "properties": {
        "name": {
          "type": "string"
        },
        "findingCategory": {
          "type": "string"
        },
        "canonicalFinding": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "PathNodeAssociatedFinding"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "type": "object",
      "properties": {
        "parentPid": {
          "format": "int64",
          "type": "string"
        },
        "envVariables": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          },
          "type": "array"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "name": {
          "type": "string"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Process"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "id": "GoogleCloudSecuritycenterV2LogEntry"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "properties": {
        "volumeBps": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumePps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Attack"
    },
    "ArtifactGuardPolicy": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "ArtifactGuardPolicy"
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AgentSession"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "properties": {
        "domainCategory": {
          "type": "string",
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Cvssv3": {
      "type": "object",
      "id": "Cvssv3",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "attackVector": {
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {},
      "type": "object"
    },
    "AzureResourceGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount",
      "type": "object"
    },
    "AzureManagementGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AzureManagementGroup",
      "type": "object"
    },
    "ListFindingsResult": {
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "Finding"
        },
        "stateChange": {
          "type": "string",
          "enum": [
            "UNUSED",
            "CHANGED",
            "UNCHANGED",
            "ADDED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "resource": {
          "readOnly": true,
          "$ref": "Resource"
        }
      },
      "id": "ListFindingsResult"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "properties": {
        "externalUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "parent": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "category": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "properties": {
        "pods": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          },
          "type": "array"
        },
        "accessReviews": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          },
          "type": "array"
        },
        "objects": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          },
          "type": "array"
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "type": "array"
        },
        "roles": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          },
          "type": "array"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          },
          "type": "array"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Kubernetes"
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "type": "object",
      "properties": {
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "type": "object",
      "properties": {
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "GoogleCloudSecuritycenterV2Contact": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Contact",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "notificationConfigName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2NotificationMessage"
    },
    "Chokepoint": {
      "type": "object",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Chokepoint"
    },
    "Dataset": {
      "type": "object",
      "id": "Dataset",
      "properties": {
        "source": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "id": "GoogleCloudSecuritycenterV2IamRolePermission",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Subject": {
      "type": "object",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Subject"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "properties": {
        "threatVector": {
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        },
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        }
      },
      "type": "object"
    },
    "Object": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "id": "Object",
      "type": "object"
    },
    "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "effectiveSecurityHealthAnalyticsCustomModules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
          }
        }
      },
      "id": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse",
      "type": "object"
    },
    "TicketInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        }
      },
      "id": "TicketInfo"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "id": "GoogleCloudSecuritycenterV2InvocationReference",
      "type": "object",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      }
    },
    "AwsAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AwsAccount"
    },
    "Geolocation": {
      "id": "Geolocation",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "properties": {
        "additionalTactics": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        },
        "version": {
          "type": "string"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MitreAttack"
    },
    "Pod": {
      "properties": {
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Pod"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        }
      }
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "properties": {
        "verb": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "type": "object"
    },
    "SecurityBulletin": {
      "id": "SecurityBulletin",
      "type": "object",
      "properties": {
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        }
      }
    },
    "Source": {
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Source"
    },
    "ListAssetsResult": {
      "type": "object",
      "properties": {
        "asset": {
          "$ref": "Asset"
        },
        "stateChange": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ]
        }
      },
      "id": "ListAssetsResult"
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "type": "object",
      "properties": {
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GroupMembership": {
      "properties": {
        "groupType": {
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "groupId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GroupMembership"
    },
    "GcpMetadata": {
      "type": "object",
      "properties": {
        "project": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "organization": {
          "type": "string"
        }
      },
      "id": "GcpMetadata"
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2AwsMetadata",
      "properties": {
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        }
      },
      "type": "object"
    },
    "KernelRootkit": {
      "properties": {
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "KernelRootkit"
    },
    "Cve": {
      "type": "object",
      "properties": {
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        }
      },
      "id": "Cve"
    },
    "SimulateSecurityHealthAnalyticsCustomModuleRequest": {
      "type": "object",
      "id": "SimulateSecurityHealthAnalyticsCustomModuleRequest",
      "properties": {
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "resource": {
          "$ref": "SimulatedResource"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
    },
    "AgentDataAccessEvent": {
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "AgentDataAccessEvent"
    },
    "Contact": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "id": "Contact"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "properties": {
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        },
        "groupId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2GroupMembership"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplication"
    },
    "ValidateEventThreatDetectionCustomModuleRequest": {
      "type": "object",
      "id": "ValidateEventThreatDetectionCustomModuleRequest",
      "properties": {
        "type": {
          "type": "string"
        },
        "rawText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "properties": {
        "portRanges": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          },
          "type": "array"
        },
        "protocol": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "properties": {
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "deprecated": true
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Exfiltration": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      },
      "id": "Exfiltration"
    },
    "Simulation": {
      "id": "Simulation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "resourceValueConfigsMetadata": {
          "items": {
            "$ref": "ResourceValueConfigMetadata"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      }
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      },
      "type": "object",
      "id": "VulnerabilitySnapshot"
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Job": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Job"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "properties": {
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object",
      "properties": {
        "fullUri": {
          "type": "string"
        },
        "baseUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalSystem",
      "properties": {
        "name": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "externalUid": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "ListDescendantEventThreatDetectionCustomModulesResponse": {
      "id": "ListDescendantEventThreatDetectionCustomModulesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "eventThreatDetectionCustomModules": {
          "items": {
            "$ref": "EventThreatDetectionCustomModule"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "type": "object",
      "properties": {
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "SecurityPolicy": {
      "id": "SecurityPolicy",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoadBalancer"
    },
    "Container": {
      "type": "object",
      "id": "Container",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      }
    },
    "SetMuteRequest": {
      "properties": {
        "mute": {
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "SetMuteRequest",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "properties": {
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Property",
      "properties": {
        "valueExpression": {
          "$ref": "Expr"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Job": {
      "type": "object",
      "properties": {
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "OrganizationSettings": {
      "type": "object",
      "properties": {
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig"
        },
        "name": {
          "type": "string"
        },
        "enableAssetDiscovery": {
          "type": "boolean"
        }
      },
      "id": "OrganizationSettings"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup"
    },
    "SensitivityScore": {
      "type": "object",
      "id": "SensitivityScore",
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cve",
      "properties": {
        "exploitationActivity": {
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
    },
    "MuteInfo": {
      "id": "MuteInfo",
      "properties": {
        "dynamicMuteRecords": {
          "items": {
            "$ref": "DynamicMuteRecord"
          },
          "type": "array"
        },
        "staticMute": {
          "$ref": "StaticMute"
        }
      },
      "type": "object"
    },
    "Allowed": {
      "type": "object",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "id": "Allowed"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "properties": {
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CustomModuleValidationErrors": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "CustomModuleValidationError"
          }
        }
      },
      "id": "CustomModuleValidationErrors"
    },
    "AiModel": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deploymentPlatform": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "usageCategory": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        }
      },
      "id": "AiModel"
    },
    "AttackPathNode": {
      "properties": {
        "resourceType": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "attackSteps": {
          "items": {
            "$ref": "AttackStepNode"
          },
          "type": "array"
        },
        "associatedFindings": {
          "type": "array",
          "items": {
            "$ref": "PathNodeAssociatedFinding"
          }
        },
        "uuid": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AttackPathNode"
    },
    "IpRules": {
      "properties": {
        "direction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        },
        "denied": {
          "$ref": "Denied"
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IpRules",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "type": "object",
      "properties": {
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        },
        "name": {
          "type": "string"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        }
      }
    },
    "BackupDisasterRecovery": {
      "properties": {
        "appliance": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupDisasterRecovery"
    },
    "ResourcePath": {
      "type": "object",
      "id": "ResourcePath",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "ResourcePathNode"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2OrgPolicy"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "assignee": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2TicketInfo"
    },
    "Indicator": {
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        }
      },
      "id": "Indicator",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "resourceValue": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "scope": {
          "type": "string"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "VulnerabilityCountBySeverity": {
      "type": "object",
      "id": "VulnerabilityCountBySeverity",
      "properties": {
        "severityToFindingCount": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "AdcApplication": {
      "type": "object",
      "id": "AdcApplication",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "YaraRuleSignature": {
      "id": "YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "AgentSession": {
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "id": "AgentSession"
    },
    "AwsOrganizationalUnit": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AwsOrganizationalUnit"
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Network": {
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "ListBigQueryExportsResponse": {
      "properties": {
        "bigQueryExports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListBigQueryExportsResponse",
      "type": "object"
    },
    "ListAssetsResponse": {
      "type": "object",
      "id": "ListAssetsResponse",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string"
        },
        "listAssetsResults": {
          "type": "array",
          "items": {
            "$ref": "ListAssetsResult"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "EffectiveEventThreatDetectionCustomModule": {
      "id": "EffectiveEventThreatDetectionCustomModule",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "readOnly": true,
          "type": "string"
        },
        "config": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "properties": {
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "confidence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "properties": {
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "privateIpAddress": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "type": "object",
      "properties": {
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cwes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          },
          "type": "array"
        },
        "reachable": {
          "type": "boolean"
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        }
      }
    },
    "Folder": {
      "type": "object",
      "id": "Folder",
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      }
    },
    "ProcessSignature": {
      "type": "object",
      "id": "ProcessSignature",
      "properties": {
        "signatureType": {
          "type": "string",
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupAssetsRequest": {
      "id": "GroupAssetsRequest",
      "type": "object",
      "properties": {
        "groupBy": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "compareDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "id": "GoogleCloudSecuritycenterV2FileOperation",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
[...]
