{
  "id": "securitycenter:v1",
  "name": "securitycenter",
  "basePath": "",
  "revision": "20260918",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securitycenter": {
          "description": "See, edit, configure, and delete your Google Cloud Security Command Center data and see the email address for your Google Account"
        }
      }
    }
  },
  "title": "Security Command Center API",
  "version_module": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "schemas": {
    "AdcApplication": {
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      },
      "id": "AdcApplication",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "type": "string"
        },
        "category": {
          "type": "array",
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "displayName": {
          "type": "string"
        },
        "controls": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Framework",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "type": "object",
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
    },
    "Connection": {
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Connection",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "properties": {
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
      "type": "object"
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "snapshotTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "VulnerabilitySnapshot",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath"
    },
    "SecretEnvironmentVariable": {
      "type": "object",
      "id": "SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Database": {
      "id": "GoogleCloudSecuritycenterV2Database",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "Cvssv3": {
      "id": "Cvssv3",
      "properties": {
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "integrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        },
        "finding": {
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1NotificationMessage"
    },
    "Attack": {
      "properties": {
        "volumePps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBps": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "volumePpsLong": {
          "format": "int64",
          "type": "string"
        },
        "classification": {
          "type": "string"
        }
      },
      "id": "Attack",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "properties": {
        "domainCategory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "id": "GoogleCloudSecuritycenterV1Resource",
      "properties": {
        "projectDisplayName": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "organization": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "displayName": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "ArtifactGuardPolicies": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        }
      },
      "id": "ArtifactGuardPolicies"
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Network": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Network"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AccessReview",
      "properties": {
        "subresource": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        }
      }
    },
    "BatchCreateResourceValueConfigsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateResourceValueConfigRequest"
          }
        }
      },
      "id": "BatchCreateResourceValueConfigsRequest",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "id": "GoogleCloudSecuritycenterV2AgentSession",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "adcSharedTemplate": {
          "$ref": "AdcSharedTemplateRevision"
        },
        "location": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "AwsMetadata"
        },
        "adcApplication": {
          "$ref": "AdcApplication"
        },
        "azureMetadata": {
          "$ref": "AzureMetadata"
        },
        "service": {
          "type": "string"
        },
        "projectName": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "ResourcePath"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "adcApplicationTemplate": {
          "$ref": "AdcApplicationTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "parentDisplayName": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplication"
        },
        "parentName": {
          "type": "string"
        }
      },
      "id": "Resource"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "error": {
          "$ref": "Status"
        },
        "done": {
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "PathNodeAssociatedFinding": {
      "type": "object",
      "id": "PathNodeAssociatedFinding",
      "properties": {
        "findingCategory": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "canonicalFinding": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "properties": {
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "properties": {
        "description": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComplianceDetails": {
      "type": "object",
      "properties": {
        "cloudControl": {
          "$ref": "CloudControl"
        },
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ComplianceDetails"
    },
    "Node": {
      "id": "Node",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2AzureMetadata",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "tenant": {
          "$ref": "GoogleCloudSecuritycenterV2AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AzureManagementGroup"
          }
        },
        "resourceGroup": {
          "$ref": "GoogleCloudSecuritycenterV2AzureResourceGroup"
        }
      },
      "type": "object"
    },
    "StaticMute": {
      "type": "object",
      "id": "StaticMute",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListDescendantEventThreatDetectionCustomModulesResponse": {
      "properties": {
        "eventThreatDetectionCustomModules": {
          "type": "array",
          "items": {
            "$ref": "EventThreatDetectionCustomModule"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListDescendantEventThreatDetectionCustomModulesResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "properties": {
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Connection"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourceApplication"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "properties": {
        "value": {
          "format": "int32",
          "type": "integer"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Pod",
      "properties": {
        "name": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        }
      }
    },
    "AiModel": {
      "id": "AiModel",
      "type": "object",
      "properties": {
        "usageCategory": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        }
      }
    },
    "SecurityPolicy": {
      "type": "object",
      "id": "SecurityPolicy",
      "properties": {
        "name": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "explanation": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "properties": {
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy"
    },
    "Database": {
      "id": "Database",
      "properties": {
        "version": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "type": "object",
      "properties": {
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Binding"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "properties": {
        "path": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "id": "GoogleCloudSecuritycenterV2Dataset",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "type": "object",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Allowed": {
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Allowed"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "type": "object",
      "properties": {
        "assignee": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "type": "object",
      "id": "Status"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2GroupMembership",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Package": {
      "id": "GoogleCloudSecuritycenterV2Package",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "id": "GoogleCloudSecuritycenterV2OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "properties": {
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "type": "object",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalEmail": {
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AgentDataAccessEvent": {
      "type": "object",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "AgentDataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "properties": {
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "direction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "validity": {
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "id": "GoogleCloudSecuritycenterV2Attack",
      "type": "object",
      "properties": {
        "volumePps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CloudLoggingEntry": {
      "properties": {
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        }
      },
      "id": "CloudLoggingEntry",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResource": {
      "type": "object",
      "properties": {
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
        },
        "name": {
          "type": "string"
        },
        "googleCloudMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplication"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
        },
        "type": {
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResource"
    },
    "ListDescendantSecurityHealthAnalyticsCustomModulesResponse": {
      "id": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "securityHealthAnalyticsCustomModules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Container": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "imageId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Container"
    },
    "ListAttackPathsResponse": {
      "id": "ListAttackPathsResponse",
      "properties": {
        "attackPaths": {
          "items": {
            "$ref": "AttackPath"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Control",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "Label": {
      "type": "object",
      "id": "Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "AzureManagementGroup": {
      "id": "AzureManagementGroup",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Pipeline": {
      "id": "Pipeline",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string"
        },
        "pubsubTopic": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "streamingConfig": {
          "$ref": "StreamingConfig"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "properties": {
        "score": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitivityScore"
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "type": "object",
      "properties": {
        "caseUri": {
          "type": "string"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "caseCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "casePriority": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalSystem"
    },
    "AccessReview": {
      "type": "object",
      "id": "AccessReview",
      "properties": {
        "resource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "properties": {
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "AgentAnomaly": {
      "type": "object",
      "id": "AgentAnomaly",
      "properties": {
        "detectorReferences": {
          "items": {
            "$ref": "DetectorReference"
          },
          "type": "array"
        },
        "confidenceScore": {
          "type": "number",
          "format": "double"
        },
        "invocationReferences": {
          "items": {
            "$ref": "InvocationReference"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "properties": {
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "readOnly": true
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "readOnly": true
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
    },
    "Agent": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "Agent"
    },
    "GroupAssetsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GroupAssetsResponse"
    },
    "BigQueryDestination": {
      "type": "object",
      "id": "BigQueryDestination",
      "properties": {
        "dataset": {
          "type": "string"
        }
      }
    },
    "GroupFindingsRequest": {
      "properties": {
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "groupBy": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        },
        "readTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "compareDuration": {
          "deprecated": true,
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GroupFindingsRequest",
      "type": "object"
    },
    "InfoType": {
      "properties": {
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "InfoType"
    },
    "DataAccessEvent": {
      "id": "DataAccessEvent",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FileOperation": {
      "id": "FileOperation",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceType": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "type": "object"
    },
    "AttackPath": {
      "id": "AttackPath",
      "type": "object",
      "properties": {
        "pathNodes": {
          "type": "array",
          "items": {
            "$ref": "AttackPathNode"
          }
        },
        "edges": {
          "type": "array",
          "items": {
            "$ref": "AttackPathEdge"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Process": {
      "id": "GoogleCloudSecuritycenterV2Process",
      "type": "object",
      "properties": {
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "format": "int64",
          "type": "string"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "name": {
          "type": "string"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "pid": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SimulateSecurityHealthAnalyticsCustomModuleRequest": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "SimulatedResource"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        }
      },
      "id": "SimulateSecurityHealthAnalyticsCustomModuleRequest"
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "properties": {
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LogEntry": {
      "type": "object",
      "id": "LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      }
    },
    "OrganizationSettings": {
      "type": "object",
      "id": "OrganizationSettings",
      "properties": {
        "name": {
          "type": "string"
        },
        "enableAssetDiscovery": {
          "type": "boolean"
        },
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "IamBinding": {
      "type": "object",
      "properties": {
        "member": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "id": "IamBinding"
    },
    "Package": {
      "properties": {
        "cpeUri": {
          "type": "string"
        },
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Package"
    },
    "CloudControl": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cloudControlName": {
          "type": "string"
        },
        "policyType": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CloudControl",
      "type": "object"
    },
    "ResourceValueConfigMetadata": {
      "id": "ResourceValueConfigMetadata",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "MemoryHashSignature": {
      "properties": {
        "detections": {
          "items": {
            "$ref": "Detection"
          },
          "type": "array"
        },
        "binaryFamily": {
          "type": "string"
        }
      },
      "id": "MemoryHashSignature",
      "type": "object"
    },
    "Allowed": {
      "type": "object",
      "id": "Allowed",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      }
    },
    "EnvironmentVariable": {
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "id": "EnvironmentVariable",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "type": "object",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      }
    },
    "Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "id": "Folder",
      "type": "object"
    },
    "AwsMetadata": {
      "properties": {
        "organizationalUnits": {
          "items": {
            "$ref": "AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "organization": {
          "$ref": "AwsOrganization"
        },
        "account": {
          "$ref": "AwsAccount"
        }
      },
      "type": "object",
      "id": "AwsMetadata"
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "id": "GoogleCloudSecuritycenterV2Cvssv3",
      "type": "object",
      "properties": {
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string"
        },
        "baseScore": {
          "format": "double",
          "type": "number"
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string"
        },
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string"
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        }
      }
    },
    "SetFindingStateRequest": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "deprecated": true,
          "format": "google-datetime"
        }
      },
      "id": "SetFindingStateRequest",
      "type": "object"
    },
    "AwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AwsAccount",
      "type": "object"
    },
    "EffectiveEventThreatDetectionCustomModule": {
      "id": "EffectiveEventThreatDetectionCustomModule",
      "properties": {
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "readOnly": true,
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "config": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "description": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupAssetsRequest": {
      "id": "GroupAssetsRequest",
      "type": "object",
      "properties": {
        "compareDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        }
      }
    },
    "BatchCreateResourceValueConfigsResponse": {
      "type": "object",
      "properties": {
        "resourceValueConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          }
        }
      },
      "id": "BatchCreateResourceValueConfigsResponse"
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoadBalancer"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "properties": {
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "properties": {
        "description": {
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string",
          "deprecated": true
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "SimulatedResource": {
      "properties": {
        "resourceData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "iamPolicyData": {
          "$ref": "Policy"
        },
        "resourceType": {
          "type": "string"
        }
      },
      "id": "SimulatedResource",
      "type": "object"
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "type": "object",
      "properties": {
        "backupType": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profile": {
          "type": "string"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupTemplate": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "properties": {
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "profile": {
          "type": "string"
        },
        "backupTemplate": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2BackupDisasterRecovery",
      "type": "object"
    },
    "Simulation": {
      "id": "Simulation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "resourceValueConfigsMetadata": {
          "type": "array",
          "items": {
            "$ref": "ResourceValueConfigMetadata"
          }
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "AwsOrganizationalUnit": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AwsOrganizationalUnit"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "id": "GoogleCloudSecuritycenterV2LogEntry"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        }
      },
      "id": "GoogleCloudSecuritycenterV2InfoType"
    },
    "InvocationReference": {
      "type": "object",
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "id": "InvocationReference"
    },
    "DataRetentionDeletionEvent": {
      "type": "object",
      "properties": {
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2FileOperation"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "properties": {
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "zeroDay": {
          "type": "boolean"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "impact": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cve"
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Exfiltration"
    },
    "GoogleCloudSecuritycenterV2EnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2EnvironmentVariable",
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Requests": {
      "type": "object",
      "properties": {
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Requests"
    },
    "ValidateEventThreatDetectionCustomModuleResponse": {
      "properties": {
        "errors": {
          "$ref": "CustomModuleValidationErrors"
        }
      },
      "type": "object",
      "id": "ValidateEventThreatDetectionCustomModuleResponse"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "properties": {
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "reachable": {
          "type": "boolean"
        }
      }
    },
    "Exfiltration": {
      "properties": {
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "targets": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        }
      },
      "id": "Exfiltration",
      "type": "object"
    },
    "AffectedResources": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AffectedResources"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string"
        }
      }
    },
    "Dataset": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Dataset"
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "properties": {
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        },
        "name": {
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Property": {
      "type": "object",
      "properties": {
        "valueExpression": {
          "$ref": "Expr"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Property"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination"
    },
    "Control": {
      "type": "object",
      "id": "Control",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "properties": {
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "type": "object",
      "properties": {
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        }
      },
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "GroupMembership": {
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GroupMembership"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "properties": {
        "pipelines": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          },
          "type": "array"
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2VertexAi",
      "type": "object"
    },
    "ListMuteConfigsResponse": {
      "properties": {
        "muteConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListMuteConfigsResponse",
      "type": "object"
    },
    "Asset": {
      "id": "Asset",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityMarks": {
          "$ref": "SecurityMarks"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        },
        "canonicalName": {
          "type": "string"
        },
        "iamPolicy": {
          "$ref": "IamPolicy"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "dataset": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Access": {
      "properties": {
        "userName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "principalSubject": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Access"
    },
    "Indicator": {
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "items": {
            "$ref": "ProcessSignature"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Indicator"
    },
    "Notebook": {
      "properties": {
        "service": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "lastAuthor": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Notebook"
    },
    "ListFindingsResponse": {
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "listFindingsResults": {
          "items": {
            "$ref": "ListFindingsResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListFindingsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "type": "object",
      "properties": {
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "workloadType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "ListResourceValueConfigsResponse": {
      "type": "object",
      "id": "ListResourceValueConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "resourceValueConfigs": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "externalUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "parent": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "resourceName": {
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Application": {
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object",
      "properties": {
        "fullUri": {
          "type": "string"
        },
        "baseUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "type": "object",
      "properties": {
        "max": {
          "type": "string",
          "format": "int64"
        },
        "min": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PortRange"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object",
      "properties": {
        "caseCloseTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "casePriority": {
          "type": "string"
        },
        "ticketInfo": {
          "$ref": "TicketInfo"
        },
        "name": {
          "type": "string"
        },
        "caseSla": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "externalUid": {
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "properties": {
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "highSensitivityMapping": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
[...]
