{
  "version_module": true,
  "name": "securitycenter",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Security Command Center API",
  "ownerName": "Google",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "revision": "20260703",
  "canonicalName": "Security Command Center",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "securitycenter:v1beta1",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "resources": {
    "organizations": {
      "methods": {
        "updateOrganizationSettings": {
          "request": {
            "$ref": "OrganizationSettings"
          },
          "response": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "PATCH",
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "deprecated": true
        },
        "getOrganizationSettings": {
          "response": {
            "$ref": "OrganizationSettings"
          },
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "GET",
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true
            }
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.operations.get"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "id": "securitycenter.organizations.operations.list"
            },
            "delete": {
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.operations.delete",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "securitycenter.organizations.operations.cancel"
            }
          }
        },
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "group": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "httpMethod": "POST",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "path": "v1beta1/{+parent}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.group"
                },
                "updateSecurityMarks": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "startTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks"
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "findingId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.organizations.sources.findings.create",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+parent}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v1beta1/{+parent}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "id": "securitycenter.organizations.sources.findings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "fieldMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET"
                },
                "setState": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "path": "v1beta1/{+name}:setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.setState"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "description": ""
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "",
              "response": {
                "$ref": "Source"
              },
              "request": {
                "$ref": "Source"
              },
              "path": "v1beta1/{+parent}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.create"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "path": "v1beta1/{+parent}/sources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.list"
            },
            "getIamPolicy": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "httpMethod": "POST",
              "description": "",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "path": "v1beta1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.sources.get",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Source"
              }
            },
            "patch": {
              "id": "securitycenter.organizations.sources.patch",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Source"
              },
              "request": {
                "$ref": "Source"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "",
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameterOrder": [
                "name"
              ]
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "",
              "httpMethod": "POST",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "path": "v1beta1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "id": "securitycenter.organizations.sources.setIamPolicy"
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "description": "",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "httpMethod": "POST",
              "path": "v1beta1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "securitycenter.organizations.sources.testIamPermissions"
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "id": "securitycenter.organizations.assets.group",
              "path": "v1beta1/{+parent}/assets:group",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "description": "",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "runDiscovery": {
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.assets.runDiscovery",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "httpMethod": "POST",
              "description": "",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "updateSecurityMarks": {
              "description": "",
              "parameters": {
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              }
            },
            "list": {
              "id": "securitycenter.organizations.assets.list",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "path": "v1beta1/{+parent}/assets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query"
                },
                "readTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "compareDuration": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string"
                },
                "fieldMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://securitycenter.googleapis.com/",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "schemas": {
    "Pipeline": {
      "id": "Pipeline",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "id": "GoogleCloudSecuritycenterV2Node",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "properties": {
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ]
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "LogEntry": {
      "id": "LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "parent": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "category": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Indicator": {
      "type": "object",
      "id": "Indicator",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "properties": {
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "reachable": {
          "type": "boolean"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
    },
    "GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataAccessEvent",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "id": "GoogleCloudSecuritycenterV2Issue",
      "properties": {
        "lastObservationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "securityContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          }
        },
        "issueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "type": "string"
        },
        "detection": {
          "type": "string"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "exposureScore": {
          "format": "double",
          "type": "number"
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "DataAccessEvent": {
      "type": "object",
      "id": "DataAccessEvent",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AffectedResources",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GroupFindingsRequest": {
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "groupBy": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        }
      },
      "id": "GroupFindingsRequest"
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GcpMetadata": {
      "type": "object",
      "id": "GcpMetadata",
      "properties": {
        "organization": {
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext"
    },
    "Job": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Job",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "disk": {
          "$ref": "Disk"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "muteInitiator": {
          "type": "string"
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "type": "object"
        },
        "parent": {
          "type": "string"
        },
        "findingClass": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "type": "string"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "application": {
          "$ref": "Application"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "moduleName": {
          "type": "string"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "access": {
          "$ref": "Access"
        },
        "description": {
          "type": "string"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "secret": {
          "$ref": "Secret"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "nextSteps": {
          "type": "string"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "database": {
          "$ref": "Database"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "resourceName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "job": {
          "$ref": "Job"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "GroupFindingsResponse": {
      "id": "GroupFindingsResponse",
      "properties": {
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "CloudDlpDataProfile": {
      "properties": {
        "dataProfile": {
          "type": "string"
        },
        "parentType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "type": "string"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        }
      },
      "id": "CloudDlpDataProfile",
      "type": "object"
    },
    "ExternalExposure": {
      "type": "object",
      "id": "ExternalExposure",
      "properties": {
        "backendBucket": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "HttpResponse"
          }
        },
        "internalBackendService": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        }
      }
    },
    "BigQueryDestination": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "BigQueryDestination",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1SecurityMarks": {
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2OrgPolicy"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "PolicyDriftDetails": {
      "id": "PolicyDriftDetails",
      "properties": {
        "detectedValue": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cwe": {
      "id": "Cwe",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudLoggingEntry": {
      "type": "object",
      "id": "CloudLoggingEntry",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "insertId": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Object": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "properties": {
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "highSensitivityMapping": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "type": "object"
    },
    "Framework": {
      "id": "Framework",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "category": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        }
      },
      "type": "object"
    },
    "Requests": {
      "type": "object",
      "id": "Requests",
      "properties": {
        "longTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Dataset": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Dataset"
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretStatus",
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      }
    },
    "MemoryHashSignature": {
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      },
      "id": "MemoryHashSignature"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object"
    },
    "SecurityMarks": {
      "type": "object",
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityMarks"
    },
    "IpRule": {
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "id": "IpRule",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Database": {
      "id": "GoogleCloudSecuritycenterV2Database",
      "properties": {
        "userName": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Application": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Application",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "maxRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFindingCve"
    },
    "VulnerabilityCountBySeverity": {
      "type": "object",
      "properties": {
        "severityToFindingCount": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "VulnerabilityCountBySeverity"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Label",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Node": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Node"
    },
    "SecurityPolicy": {
      "id": "SecurityPolicy",
      "properties": {
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "parent": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1beta1Finding",
      "type": "object"
    },
    "ListSourcesResponse": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListSourcesResponse"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "KernelRootkit": {
      "properties": {
        "name": {
          "type": "string"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        }
      },
      "id": "KernelRootkit",
      "type": "object"
    },
    "Chokepoint": {
      "type": "object",
      "id": "Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Binding": {
      "id": "GoogleCloudSecuritycenterV2Binding",
      "properties": {
        "role": {
          "$ref": "GoogleCloudSecuritycenterV2Role"
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Subject"
          }
        }
      },
      "type": "object"
    },
    "AwsMetadata": {
      "type": "object",
      "id": "AwsMetadata",
      "properties": {
        "account": {
          "$ref": "AwsAccount"
        },
        "organization": {
          "$ref": "AwsOrganization"
        },
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        }
      }
    },
    "Exfiltration": {
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Exfiltration",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Finding",
      "properties": {
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          }
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "description": {
          "type": "string"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "moduleName": {
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          }
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "parent": {
          "type": "string"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "contacts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "type": "object"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "muteInitiator": {
          "type": "string"
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          }
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          }
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "name": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string",
          "readOnly": true
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          }
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "category": {
          "type": "string"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "nextSteps": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        }
      }
    },
    "AwsOrganizationalUnit": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AwsOrganizationalUnit",
      "type": "object"
    },
    "Database": {
      "type": "object",
      "id": "Database",
      "properties": {
        "name": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PortRange": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2PortRange",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "properties": {
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "id": "GoogleCloudSecuritycenterV2AwsAccount",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Network": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Network"
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Role": {
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Role"
    },
    "GroupMembership": {
      "type": "object",
      "properties": {
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "type": "string"
        },
        "groupId": {
          "type": "string"
        }
      },
      "id": "GroupMembership"
    },
    "Attack": {
      "type": "object",
      "id": "Attack",
      "properties": {
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumePps": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "classification": {
          "type": "string"
        },
        "volumeBps": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2VertexAi"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "type": "object",
      "properties": {
        "muteState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ]
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteReason": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "AzureTenant": {
      "id": "AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "AzureMetadata": {
      "properties": {
        "resourceGroup": {
          "$ref": "AzureResourceGroup"
        },
        "subscription": {
          "$ref": "AzureSubscription"
        },
        "tenant": {
          "$ref": "AzureTenant"
        },
        "managementGroups": {
          "type": "array",
          "items": {
            "$ref": "AzureManagementGroup"
          }
        }
      },
      "id": "AzureMetadata",
      "type": "object"
    },
    "Cve": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "exploitationActivity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ]
        },
        "zeroDay": {
          "type": "boolean"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "observedInTheWild": {
          "type": "boolean"
        }
      },
      "id": "Cve"
    },
    "SecurityPosture": {
      "type": "object",
      "id": "SecurityPosture",
      "properties": {
        "policySet": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "PolicyDriftDetails"
          }
        },
        "revisionId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudSecuritycenterV2BulkMuteFindingsResponse"
    },
    "Vulnerability": {
      "type": "object",
      "properties": {
        "offendingPackage": {
          "$ref": "Package"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "providerRiskScore": {
          "format": "int64",
          "type": "string"
        },
        "cve": {
          "$ref": "Cve"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "reachable": {
          "type": "boolean"
        }
      },
      "id": "Vulnerability"
    },
    "GroupAssetsRequest": {
      "type": "object",
      "id": "GroupAssetsRequest",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "compareDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "groupBy": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExfilResource": {
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExfilResource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePath"
    },
    "FileOperation": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      },
      "id": "FileOperation",
      "type": "object"
    },
    "ProcessSignature": {
      "type": "object",
      "id": "ProcessSignature",
      "properties": {
        "signatureType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string"
        },
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ContactDetails"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "id": "GoogleCloudSecuritycenterV2Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ComplianceDetails": {
      "type": "object",
      "properties": {
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudControl": {
          "$ref": "CloudControl"
        }
      },
      "id": "ComplianceDetails"
    },
    "GoogleCloudSecuritycenterV2Reference": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Reference",
      "type": "object"
    },
    "LoadBalancer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "LoadBalancer"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "properties": {
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "type": "string"
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
[...]
