{
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "title": "Secure Source Manager API",
  "discoveryVersion": "v1",
  "canonicalName": "Secure Source Manager",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://securesourcemanager.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "version": "v1",
  "baseUrl": "https://securesourcemanager.googleapis.com/",
  "revision": "0",
  "documentationLink": "https://cloud.google.com/secure-source-manager",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://securesourcemanager.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://securesourcemanager.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://securesourcemanager.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://securesourcemanager.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://securesourcemanager.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://securesourcemanager.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://securesourcemanager.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securesourcemanager.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securesourcemanager.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://securesourcemanager.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://securesourcemanager.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://securesourcemanager.us-west2.rep.googleapis.com/"
    }
  ],
  "description": "Regionally deployed, single-tenant managed source code repository hosted on Google Cloud.",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "name": "securesourcemanager",
  "rootUrl": "https://securesourcemanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/securesourcemanager.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Secure Source Manager data and see the email address for your Google Account"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "repositories": {
              "resources": {
                "issues": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues",
                      "id": "securesourcemanager.projects.locations.repositories.issues.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The repository in which to create the issue. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v1/{+parent}/issues",
                      "request": {
                        "$ref": "Issue"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates an issue."
                    },
                    "close": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}:close",
                      "path": "v1/{+name}:close",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "httpMethod": "POST",
                      "id": "securesourcemanager.projects.locations.repositories.issues.close",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the issue to close. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/issues/{issue_id}`.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "CloseIssueRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Closes an issue."
                    },
                    "open": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}:open",
                      "path": "v1/{+name}:open",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "request": {
                        "$ref": "OpenIssueRequest"
                      },
                      "description": "Opens an issue.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "id": "securesourcemanager.projects.locations.repositories.issues.open",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the issue to open. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/issues/{issue_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "Issue"
                      },
                      "description": "Gets an issue.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the issue to retrieve. The format is `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue_id}`."
                        }
                      },
                      "httpMethod": "GET",
                      "id": "securesourcemanager.projects.locations.repositories.issues.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}",
                      "path": "v1/{+name}",
                      "id": "securesourcemanager.projects.locations.repositories.issues.patch",
                      "httpMethod": "PATCH",
                      "description": "Updates a issue.",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the issue resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The special value \"*\" means full replacement.",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Identifier. Unique identifier for an issue. The issue id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue_id}`",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Issue"
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/issues",
                      "id": "securesourcemanager.projects.locations.repositories.issues.list",
                      "httpMethod": "GET",
                      "description": "Lists issues in a repository.",
                      "response": {
                        "$ref": "ListIssuesResponse"
                      },
                      "parameters": {
                        "filter": {
                          "description": "Optional. Used to filter the resulting issues list.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The repository in which to list issues. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "id": "securesourcemanager.projects.locations.repositories.issues.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an issue.",
                      "parameters": {
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the issue. If the etag is provided and does not match the current etag of the issue, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "name": {
                          "description": "Required. Name of the issue to delete. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/issues/{issue_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ]
                    }
                  },
                  "resources": {
                    "issueComments": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A token identifying a page of results the server should return.",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The issue in which to list the comments. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/issues/{issue_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+$",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListIssueCommentsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "description": "Lists comments in an issue.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}/issueComments",
                          "id": "securesourcemanager.projects.locations.repositories.issues.issueComments.list",
                          "path": "v1/{+parent}/issueComments"
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}/issueComments/{issueCommentsId}",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the issue comment to delete. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/issues/{issue_id}/issueComments/{comment_id}`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+/issueComments/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "id": "securesourcemanager.projects.locations.repositories.issues.issueComments.delete",
                          "description": "Deletes an issue comment.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "patch": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Identifier. Unique identifier for an issue comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue}/issueComments/{comment_id}`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+/issueComments/[^/]+$"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "description": "Optional. Field mask is used to specify the fields to be overwritten in the issue comment resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The special value \"*\" means full replacement.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Updates an issue comment.",
                          "request": {
                            "$ref": "IssueComment"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}/issueComments/{issueCommentsId}",
                          "id": "securesourcemanager.projects.locations.repositories.issues.issueComments.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ]
                        },
                        "create": {
                          "description": "Creates an issue comment.",
                          "path": "v1/{+parent}/issueComments",
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "IssueComment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}/issueComments",
                          "id": "securesourcemanager.projects.locations.repositories.issues.issueComments.create",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "description": "Required. The issue in which to create the issue comment. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/issues/{issue_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "get": {
                          "response": {
                            "$ref": "IssueComment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets an issue comment.",
                          "id": "securesourcemanager.projects.locations.repositories.issues.issueComments.get",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/issues/[^/]+/issueComments/[^/]+$",
                              "description": "Required. Name of the issue comment to retrieve. The format is `projects/{project}/locations/{location}/repositories/{repository}/issues/{issue_id}/issueComments/{comment_id}`.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/issues/{issuesId}/issueComments/{issueCommentsId}",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                },
                "pullRequests": {
                  "resources": {
                    "pullRequestComments": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListPullRequestCommentsResponse"
                          },
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.list",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The pull request in which to list pull request comments. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100."
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A token identifying a page of results the server should return."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "description": "Lists pull request comments.",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/pullRequestComments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments"
                        },
                        "create": {
                          "description": "Creates a pull request comment. This function is used to create a single PullRequestComment of type Comment, or a single PullRequestComment of type Code that's replying to another PullRequestComment of type Code. Use BatchCreatePullRequestComments to create multiple PullRequestComments for code reviews.",
                          "request": {
                            "$ref": "PullRequestComment"
                          },
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "path": "v1/{+parent}/pullRequestComments",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The pull request in which to create the pull request comment. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "patch": {
                          "description": "Updates a pull request comment.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments/{pullRequestCommentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "updateMask": {
                              "description": "Optional. Field mask is used to specify the fields to be overwritten in the pull request comment resource by the update. Updatable fields are `body`.",
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+/pullRequestComments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Identifier. Unique identifier for the pull request comment. The comment id is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request}/pullRequestComments/{comment_id}`"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.patch",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1/{+name}",
                          "request": {
                            "$ref": "PullRequestComment"
                          }
                        },
                        "batchCreate": {
                          "request": {
                            "$ref": "BatchCreatePullRequestCommentsRequest"
                          },
                          "path": "v1/{+parent}/pullRequestComments:batchCreate",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The pull request in which to create the pull request comments. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments:batchCreate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "description": "Batch creates pull request comments. This function is used to create multiple PullRequestComments for code review. There needs to be exactly one PullRequestComment of type Review, and at most 100 PullRequestComments of type Code per request. The Position of the code comments must be unique within the request.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.batchCreate"
                        },
                        "delete": {
                          "description": "Deletes a pull request comment.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments/{pullRequestCommentsId}",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Name of the pull request comment to delete. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+/pullRequestComments/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.delete",
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "unresolve": {
                          "path": "v1/{+parent}/pullRequestComments:unresolve",
                          "description": "Unresolves pull request comments. A list of PullRequestComment names must be provided. The PullRequestComment names must be in the same conversation thread. If auto_fill is set, all comments in the conversation thread will be unresolved.",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments:unresolve",
                          "request": {
                            "$ref": "UnresolvePullRequestCommentsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                              "description": "Required. The pull request in which to resolve the pull request comments. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`"
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.unresolve"
                        },
                        "get": {
                          "description": "Gets a pull request comment.",
                          "response": {
                            "$ref": "PullRequestComment"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. Name of the pull request comment to retrieve. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}/pullRequestComments/{comment_id}`.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+/pullRequestComments/[^/]+$",
                              "required": true
                            }
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments/{pullRequestCommentsId}",
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.get"
                        },
                        "resolve": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "securesourcemanager.projects.locations.repositories.pullRequests.pullRequestComments.resolve",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}/pullRequestComments:resolve",
                          "request": {
                            "$ref": "ResolvePullRequestCommentsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. The pull request in which to resolve the pull request comments. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/securesourcemanager.read-write"
                          ],
                          "description": "Resolves pull request comments. A list of PullRequestComment names must be provided. The PullRequestComment names must be in the same conversation thread. If auto_fill is set, all comments in the conversation thread will be resolved.",
                          "path": "v1/{+parent}/pullRequestComments:resolve",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "POST"
                        }
                      }
                    }
                  },
                  "methods": {
                    "listFileDiffs": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "response": {
                        "$ref": "ListPullRequestFileDiffsResponse"
                      },
                      "description": "Lists a pull request's file diffs.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}:listFileDiffs",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:listFileDiffs",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                          "description": "Required. The pull request to list file diffs for. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.listFileDiffs"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the pull request resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The special value \"*\" means full replacement.",
                          "location": "query"
                        },
                        "name": {
                          "description": "Output only. Identifier. A unique identifier for a PullRequest. The number appended at the end is generated by the server. Format: `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request_id}`",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "PullRequest"
                      },
                      "description": "Updates a pull request.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}",
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.patch"
                    },
                    "create": {
                      "path": "v1/{+parent}/pullRequests",
                      "description": "Creates a pull request.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The repository that the pull request is created from. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "PullRequest"
                      },
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.create"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the pull request to retrieve. The format is `projects/{project}/locations/{location}/repositories/{repository}/pullRequests/{pull_request}`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "PullRequest"
                      },
                      "httpMethod": "GET",
                      "description": "Gets a pull request.",
                      "path": "v1/{+name}",
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The repository in which to list pull requests. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "description": "Lists pull requests in a repository.",
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListPullRequestsResponse"
                      },
                      "path": "v1/{+parent}/pullRequests"
                    },
                    "close": {
                      "path": "v1/{+name}:close",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}:close",
                      "description": "Closes a pull request without merging.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ClosePullRequestRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The pull request to close. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$"
                        }
                      },
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.close",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "merge": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "request": {
                        "$ref": "MergePullRequestRequest"
                      },
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.merge",
                      "description": "Merges a pull request.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                          "description": "Required. The pull request to merge. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}:merge",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}:merge",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "open": {
                      "path": "v1/{+name}:open",
                      "request": {
                        "$ref": "OpenPullRequestRequest"
                      },
                      "id": "securesourcemanager.projects.locations.repositories.pullRequests.open",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pullRequests/{pullRequestsId}:open",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Opens a pull request.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The pull request to open. Format: `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/pullRequests/{pull_request_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pullRequests/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "hooks": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks/{hooksId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/hooks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the hook to delete. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`."
                        }
                      },
                      "id": "securesourcemanager.projects.locations.repositories.hooks.delete",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "description": "Deletes a Hook.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks/{hooksId}",
                      "request": {
                        "$ref": "Hook"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/hooks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. A unique identifier for a Hook. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the hook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The special value \"*\" means full replacement.",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH",
                      "id": "securesourcemanager.projects.locations.repositories.hooks.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the metadata of a hook."
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks",
                      "id": "securesourcemanager.projects.locations.repositories.hooks.list",
                      "path": "v1/{+parent}/hooks",
                      "response": {
                        "$ref": "ListHooksResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent value for ListHooksRequest.",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "description": "Lists hooks in a given repository.",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "response": {
                        "$ref": "Hook"
                      },
                      "description": "Gets metadata of a hook.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/hooks/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the hook to retrieve. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}/hooks/{hook_id}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "securesourcemanager.projects.locations.repositories.hooks.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks/{hooksId}"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "id": "securesourcemanager.projects.locations.repositories.hooks.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/hooks",
                      "parameters": {
                        "hookId": {
                          "description": "Required. The ID to use for the hook, which will become the final component of the hook's resource name. This value restricts to lower-case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The repository in which to create the hook. Values are of the form `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new hook in a given repository.",
                      "request": {
                        "$ref": "Hook"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/hooks",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "branchRules": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/branchRules",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+parent}/branchRules",
                      "description": "ListBranchRules lists branch rules in a given repository.",
                      "response": {
                        "$ref": "ListBranchRulesResponse"
                      },
                      "id": "securesourcemanager.projects.locations.repositories.branchRules.list"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "response": {
                        "$ref": "BranchRule"
                      },
                      "path": "v1/{+name}",
                      "description": "GetBranchRule gets a branch rule.",
                      "id": "securesourcemanager.projects.locations.repositories.branchRules.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the repository to retrieve. The format is `projects/{project}/locations/{location}/repositories/{repository}/branchRules/{branch_rule}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/branchRules/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/branchRules/{branchRulesId}"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/branchRules",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/branchRules",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "description": "CreateBranchRule creates a branch rule in a given repository.",
                      "id": "securesourcemanager.projects.locations.repositories.branchRules.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BranchRule"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "branchRuleId": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/branchRules/{branchRulesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ],
                      "description": "UpdateBranchRule updates a branch rule.",
                      "path": "v1/{+name}",
                      "id": "securesourcemanager.projects.locations.repositories.branchRules.patch",
                      "request": {
                        "$ref": "BranchRule"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the review, but do not actually post it. (https://google.aip.dev/163, for declarative friendly)",
                          "location": "query",
                          "type": "boolean"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the branchRule resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The special value \"*\" means full replacement.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. A unique identifier for a BranchRule. The name should be of the format: `projects/{project}/locations/{location}/repositories/{repository}/branchRules/{branch_rule}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/branchRules/[^/]+$"
                        }
                      },
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/branchRules/[^/]+$",
                          "required": true
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true, and the branch rule is not found, the request will succeed but no action will be taken on the server.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "securesourcemanager.projects.locations.repositories.branchRules.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/branchRules/{branchRulesId}",
                      "description": "DeleteBranchRule deletes a branch rule.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securesourcemanager.read-write"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new repository in a given project and location. The Repository.Instance field is required in the request body for requests using the securesourcemanager.googleapis.com endpoint.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project in which to create the repository. Values are of the form `projects/{project_number}/locations/{location_id}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "repositoryId": {
                      "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Repository"
                  },
                  "path": "v1/{+parent}/repositories",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "securesourcemanager.projects.locations.repositories.create"
                },
                "patch": {
                  "id": "securesourcemanager.projects.locations.repositories.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "request": {
                    "$ref": "Repository"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "description": "Identifier. A unique identifier for a repository. The name should be of the format: `projects/{project}/locations/{location_id}/repositories/{repository_id}`"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the repository resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. False by default. If set to true, the request is validated and the user is provided with an expected result, but no actual change is made."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates the metadata of a repository."
                },
                "fetchBlob": {
                  "parameterOrder": [
                    "repository"
                  ],
                  "httpMethod": "GET",
                  "description": "Fetches a blob from a repository.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchBlob",
                  "parameters": {
                    "sha": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The SHA-1 hash of the blob to retrieve."
                    },
                    "repository": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`. Specifies the repository containing the blob.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "response": {
                    "$ref": "FetchBlobResponse"
                  },
                  "id": "securesourcemanager.projects.locations.repositories.fetchBlob",
                  "path": "v1/{+repository}:fetchBlob"
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Test IAM permissions on a repository. IAM permission checks are not required on this method.",
                  "id": "securesourcemanager.projects.locations.repositories.testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "id": "securesourcemanager.projects.locations.repositories.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. Name of the repository to delete. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the repository is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean"
                    }
                  },
                  "description": "Deletes a Repository.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                },
                "fetchRefs": {
                  "id": "securesourcemanager.projects.locations.repositories.fetchRefs",
                  "path": "v1/{+repository}:fetchRefs",
                  "response": {
                    "$ref": "FetchRefsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "repository"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchRefs",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "type": {
                      "description": "Optional. The type of reference to fetch (eg. branch, tag). By default, all references are returned.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified ref type.",
                        "Represents a branch.",
                        "Represents a tag."
                      ],
                      "location": "query",
                      "enum": [
                        "REF_TYPE_UNSPECIFIED",
                        "REF_TYPE_BRANCH",
                        "REF_TYPE_TAG"
                      ]
                    },
                    "repository": {
                      "description": "Required. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`. Specifies the repository to fetch the references from.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "description": "Fetches git references from a repository."
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. If unspecified, a default size of 30 will be used. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "instance": {
                      "location": "query",
                      "description": "Optional. The name of the instance in which the repository is hosted, formatted as `projects/{project_number}/locations/{location_id}/instances/{instance_id}`. When listing repositories via securesourcemanager.googleapis.com, this field is required. When listing repositories via *.sourcemanager.dev, this field is ignored.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListRepositoriesRequest."
                    }
                  },
                  "path": "v1/{+parent}/repositories",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "description": "Lists Repositories in a given project and location. The instance field is required in the query parameter for requests using the securesourcemanager.googleapis.com endpoint.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "id": "securesourcemanager.projects.locations.repositories.list"
                },
                "getIamPolicy": {
                  "description": "Get IAM policy for a repository.",
                  "id": "securesourcemanager.projects.locations.repositories.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the repository to retrieve. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Repository"
                  },
                  "description": "Gets metadata of a repository.",
                  "id": "securesourcemanager.projects.locations.repositories.get",
                  "path": "v1/{+name}"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "id": "securesourcemanager.projects.locations.repositories.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "description": "Set IAM policy on a repository."
                },
                "fetchTree": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, at most 10,000 items will be returned.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "ref": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. `ref` can be a SHA-1 hash, a branch name, or a tag. Specifies which tree to fetch. If not specified, the default branch will be used."
                    },
                    "repository": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The format is `projects/{project_number}/locations/{location_id}/repositories/{repository_id}`. Specifies the repository to fetch the tree from.",
                      "required": true,
                      "location": "path"
                    },
                    "recursive": {
                      "description": "Optional. If true, include all subfolders and their files in the response. If false, only the immediate children are returned.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Fetches a tree from a repository.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchTree",
                  "parameterOrder": [
                    "repository"
                  ],
                  "path": "v1/{+repository}:fetchTree",
                  "response": {
                    "$ref": "FetchTreeResponse"
                  },
                  "id": "securesourcemanager.projects.locations.repositories.fetchTree",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ]
                }
              }
            },
            "instances": {
              "methods": {
                "setIamPolicy": {
                  "id": "securesourcemanager.projects.locations.instances.setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securesourcemanager.read-write"
                  ],
                  "httpMethod": "POST",
[...]
