{
  "baseUrl": "https://securitycenter.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "discoveryVersion": "v1",
  "name": "securitycenter",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "protocol": "rest",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta1",
  "version_module": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Security Command Center API",
  "revision": "20260710",
  "batchPath": "batch",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "organizations": {
      "methods": {
        "getOrganizationSettings": {
          "httpMethod": "GET",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "id": "securitycenter.organizations.getOrganizationSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta1/{+name}",
          "description": ""
        },
        "updateOrganizationSettings": {
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "OrganizationSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "OrganizationSettings"
          },
          "httpMethod": "PATCH",
          "deprecated": true,
          "description": "",
          "path": "v1beta1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.organizations.updateOrganizationSettings"
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "id": "securitycenter.organizations.operations.cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}:cancel",
              "description": ""
            },
            "delete": {
              "id": "securitycenter.organizations.operations.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}",
              "description": "",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}"
            },
            "list": {
              "parameters": {
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "securitycenter.organizations.operations.list",
              "description": "",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/organizations/{organizationsId}/operations"
            },
            "get": {
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "description": "",
              "id": "securitycenter.organizations.operations.get",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "sources": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.sources.create",
              "description": "",
              "path": "v1beta1/{+parent}/sources"
            },
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/sources",
              "description": "",
              "id": "securitycenter.organizations.sources.list",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "getIamPolicy": {
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+resource}:getIamPolicy",
              "description": "",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy"
            },
            "patch": {
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "securitycenter.organizations.sources.patch",
              "description": "",
              "path": "v1beta1/{+name}"
            },
            "testIamPermissions": {
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "httpMethod": "POST",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:testIamPermissions",
              "description": "",
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "v1beta1/{+name}",
              "description": "",
              "id": "securitycenter.organizations.sources.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "setIamPolicy": {
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+resource}:setIamPolicy",
              "description": "",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy"
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/findings",
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "fieldMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  }
                },
                "updateSecurityMarks": {
                  "path": "v1beta1/{+name}",
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "",
                  "path": "v1beta1/{+parent}/findings",
                  "parameters": {
                    "findingId": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.create",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "POST"
                },
                "setState": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "description": "",
                  "path": "v1beta1/{+name}:setState",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.setState"
                },
                "group": {
                  "path": "v1beta1/{+parent}/findings:group",
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.group",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "description": "",
                  "path": "v1beta1/{+name}"
                }
              }
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "id": "securitycenter.organizations.assets.group",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+parent}/assets:group",
              "description": "",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group"
            },
            "runDiscovery": {
              "httpMethod": "POST",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "description": ""
            },
            "list": {
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "",
              "path": "v1beta1/{+parent}/assets",
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query"
                },
                "compareDuration": {
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "readTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                },
                "fieldMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "securitycenter.organizations.assets.list"
            },
            "updateSecurityMarks": {
              "path": "v1beta1/{+name}",
              "description": "",
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "parameters": {
                "startTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudSecuritycenterV2MuteConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MuteConfig",
      "properties": {
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ]
        },
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "type": "object",
      "properties": {
        "infoType": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "inspectJob": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "type": "object",
      "properties": {
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        }
      }
    },
    "Database": {
      "properties": {
        "name": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Database"
    },
    "AzureResourceGroup": {
      "id": "AzureResourceGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string"
        },
        "findings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListFindingsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Chokepoint": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Chokepoint",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretStatus": {
      "properties": {
        "lastUpdatedTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretStatus"
    },
    "GoogleCloudSecuritycenterV2Access": {
      "properties": {
        "serviceAccountKeyName": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "callerIp": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          }
        },
        "userAgentFamily": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Attack",
      "properties": {
        "volumeBps": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumePps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "classification": {
          "type": "string"
        }
      }
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr"
        },
        "role": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Binding"
    },
    "Object": {
      "type": "object",
      "id": "Object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "group": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "Notebook": {
      "properties": {
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      },
      "id": "Notebook",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "properties": {
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Notebook"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
    },
    "Geolocation": {
      "type": "object",
      "id": "Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Role": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "Role",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Property": {
      "id": "GoogleCloudSecuritycenterV1Property",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "valueExpression": {
          "$ref": "Expr"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "properties": {
        "iamRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "properties": {
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "type": "object"
    },
    "OrgPolicy": {
      "id": "OrgPolicy",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "type": "object",
      "properties": {
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2NotificationMessage"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "type": "object"
    },
    "VertexAi": {
      "id": "VertexAi",
      "type": "object",
      "properties": {
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "Pipeline"
          }
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination"
    },
    "Connection": {
      "type": "object",
      "id": "Connection",
      "properties": {
        "sourceIp": {
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ]
        },
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
    },
    "ListAssetsResponse": {
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string"
        },
        "listAssetsResults": {
          "type": "array",
          "items": {
            "$ref": "ListAssetsResult"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListAssetsResponse"
    },
    "AdaptiveProtection": {
      "id": "AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "properties": {
        "role": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "AdcApplication": {
      "type": "object",
      "id": "AdcApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "properties": {
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "score": {
          "type": "number",
          "format": "double"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "properties": {
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamBinding"
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2FileOperation"
    },
    "Exfiltration": {
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Exfiltration"
    },
    "Chokepoint": {
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Chokepoint"
    },
    "GoogleCloudSecuritycenterV2DetectorReference": {
      "id": "GoogleCloudSecuritycenterV2DetectorReference",
      "type": "object",
      "properties": {
        "recommendation": {
          "type": "string"
        },
        "explanation": {
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "detectorId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        },
        "finding": {
          "$ref": "Finding"
        }
      }
    },
    "GoogleCloudSecuritycenterV2InvocationReference": {
      "properties": {
        "invocationId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2InvocationReference"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2VertexAi"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node"
    },
    "ComplianceDetails": {
      "id": "ComplianceDetails",
      "type": "object",
      "properties": {
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "Framework"
          }
        },
        "cloudControl": {
          "$ref": "CloudControl"
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StaticMute": {
      "id": "StaticMute",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          }
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator",
      "type": "object"
    },
    "Asset": {
      "properties": {
        "name": {
          "type": "string"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "resourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "Asset",
      "type": "object"
    },
    "ExternalExposure": {
      "id": "ExternalExposure",
      "type": "object",
      "properties": {
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "HttpResponse"
          }
        },
        "networkEndpointGroup": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityMarks"
    },
    "AgentDataAccessEvent": {
      "id": "AgentDataAccessEvent",
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "properties": {
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsOrganizationalUnit": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GroupFindingsRequest": {
      "properties": {
        "filter": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GroupFindingsRequest"
    },
    "AiModel": {
      "properties": {
        "library": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "location": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        }
      },
      "id": "AiModel",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "IpRule": {
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "type": "object",
      "id": "IpRule"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "properties": {
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "readOnly": true
        },
        "enablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo": {
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "properties": {
        "changedPolicy": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        },
        "policySet": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPosture"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "deprecated": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "type": "string"
        }
      }
    },
    "AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdcSharedTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePath",
      "type": "object"
    },
    "ArtifactGuardPolicy": {
      "id": "ArtifactGuardPolicy",
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string"
        },
        "failureReason": {
          "type": "string"
        },
        "type": {
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureSubscription"
    },
    "GroupResult": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GroupResult"
    },
    "AzureTenant": {
      "type": "object",
      "id": "AzureTenant",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AffectedResources": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AffectedResources",
      "type": "object"
    },
    "Pod": {
      "properties": {
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "Pod",
      "type": "object"
    },
    "Finding": {
      "id": "Finding",
      "type": "object",
      "properties": {
        "externalUri": {
          "type": "string"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          }
        },
        "disk": {
          "$ref": "Disk"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "database": {
          "$ref": "Database"
        },
        "agent": {
          "$ref": "Agent"
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        },
        "secret": {
          "$ref": "Secret"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true,
          "type": "object"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "category": {
          "type": "string"
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "readOnly": true,
          "type": "object"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "resourceName": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "groupMemberships": {
          "type": "array",
          "items": {
            "$ref": "GroupMembership"
          }
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "DataAccessEvent"
          }
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "nextSteps": {
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "job": {
          "$ref": "Job"
        },
        "name": {
          "type": "string"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "muteInitiator": {
          "type": "string"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "Process"
          }
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "application": {
          "$ref": "Application"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "moduleName": {
          "type": "string"
        },
        "access": {
          "$ref": "Access"
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "readOnly": true
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "AgentSession"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "properties": {
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "signatureType": {
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "type": "object"
    },
    "Vulnerability": {
      "properties": {
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "Package"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "cve": {
          "$ref": "Cve"
        },
        "securityBulletin": {
          "$ref": "SecurityBulletin"
        },
        "offendingPackage": {
          "$ref": "Package"
        },
        "reachable": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Vulnerability"
    },
    "GoogleCloudSecuritycenterV2Package": {
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Package"
    },
    "Agent": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Agent"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Job": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GroupFindingsResponse": {
      "properties": {
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GroupFindingsResponse"
    },
    "GoogleCloudSecuritycenterV1IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1IamRolePermission"
    },
    "NodePool": {
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      },
      "type": "object",
      "id": "NodePool"
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "type": "object",
      "properties": {
        "primaryTactic": {
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string"
          }
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
[...]
