{
  "version": "v1beta2",
  "name": "securitycenter",
  "discoveryVersion": "v1",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/security-command-center",
  "batchPath": "batch",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "endpoints": [
    {
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "title": "Security Command Center API",
  "basePath": "",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "protocol": "rest",
  "id": "securitycenter:v1beta2",
  "resources": {
    "folders": {
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "description": ""
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "methods": {
        "updateSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings"
        },
        "getContainerThreatDetectionSettings": {
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getSecurityCenterSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings"
        },
        "updateWebSecurityScannerSettings": {
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "description": ""
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "organizations": {
      "resources": {
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "description": "",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              }
            }
          }
        }
      },
      "methods": {
        "getVirtualMachineThreatDetectionSettings": {
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "updateEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getEventThreatDetectionSettings": {
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings"
        },
        "updateWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getSubscription": {
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "httpMethod": "GET",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/subscription$",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "Subscription"
          },
          "id": "securitycenter.organizations.getSubscription",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "httpMethod": "GET",
          "description": ""
        },
        "getRapidVulnerabilityDetectionSettings": {
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "description": "",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "httpMethod": "PATCH",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "updateContainerThreatDetectionSettings": {
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": ""
        },
        "getSecurityCenterSettings": {
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings"
        },
        "getContainerThreatDetectionSettings": {
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings"
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "description": "",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "httpMethod": "PATCH",
                  "description": ""
                },
                "getContainerThreatDetectionSettings": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "httpMethod": "GET",
                  "description": "",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}"
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "path": "v1beta2/{+name}:calculate",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "httpMethod": "GET",
                      "description": "",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "required": true
                        },
                        "showEligibleModulesOnly": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET",
              "description": ""
            }
          }
        }
      },
      "methods": {
        "updateWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "getEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateEventThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            }
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true
            }
          }
        },
        "getSecurityCenterSettings": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "description": "",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "PATCH",
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "description": "",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "description": "",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}"
        },
        "getSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Security Command Center",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AttackExposure": {
      "id": "AttackExposure",
      "type": "object",
      "properties": {
        "score": {
          "format": "double",
          "type": "number"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attackExposureResult": {
          "type": "string"
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exposedHighValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedLowValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "id": "ArtifactGuardPolicies",
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "ArtifactGuardPolicy"
          }
        }
      },
      "type": "object"
    },
    "DynamicMuteRecord": {
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DynamicMuteRecord"
    },
    "BigQueryDestination": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BigQueryDestination"
    },
    "AccessReview": {
      "id": "AccessReview",
      "type": "object",
      "properties": {
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "id": "GoogleCloudSecuritycenterV2IssueFinding",
      "properties": {
        "name": {
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        }
      },
      "type": "object"
    },
    "AdcApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      },
      "id": "AdcApplication"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "properties": {
        "policyId": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        },
        "failureReason": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
    },
    "Notebook": {
      "id": "Notebook",
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "type": "object",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2OrgPolicy"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "type": "object",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata"
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        }
      }
    },
    "GoogleCloudSecuritycenterV2StaticMute": {
      "id": "GoogleCloudSecuritycenterV2StaticMute",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "applyTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Disk": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Disk"
    },
    "GoogleCloudSecuritycenterV2SecurityBulletin": {
      "id": "GoogleCloudSecuritycenterV2SecurityBulletin",
      "properties": {
        "suggestedUpgradeVersion": {
          "type": "string"
        },
        "bulletinId": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2TicketInfo": {
      "id": "GoogleCloudSecuritycenterV2TicketInfo",
      "properties": {
        "status": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "assignee": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "parent": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "readOnly": true
        },
        "externalUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding"
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "CloudArmor": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "threatVector": {
          "type": "string"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "requests": {
          "$ref": "Requests"
        },
        "attack": {
          "$ref": "Attack"
        }
      },
      "type": "object",
      "id": "CloudArmor"
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "id": "GoogleCloudSecuritycenterV2IamRolePermission",
      "properties": {
        "role": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "name": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "properties": {
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Database"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "id": "GoogleCloudSecuritycenterV2Job",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "expression": {
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "properties": {
        "service": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Notebook"
    },
    "VulnerabilityCountBySeverity": {
      "properties": {
        "severityToFindingCount": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "VulnerabilityCountBySeverity"
    },
    "DiscoveredWorkload": {
      "properties": {
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "confidence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ]
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DiscoveredWorkload"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "description": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SensitivityScore": {
      "type": "object",
      "properties": {
        "score": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      },
      "id": "SensitivityScore"
    },
    "Requests": {
      "properties": {
        "longTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "shortTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "longTermDenied": {
          "format": "int32",
          "type": "integer"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Requests"
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "id": "GoogleCloudSecuritycenterV2AiModel",
      "type": "object",
      "properties": {
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "name": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        }
      }
    },
    "Chokepoint": {
      "type": "object",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Chokepoint"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityMarks"
    },
    "PortRange": {
      "id": "PortRange",
      "type": "object",
      "properties": {
        "min": {
          "format": "int64",
          "type": "string"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "type": "object",
      "properties": {
        "binaryFamily": {
          "type": "string"
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          }
        }
      }
    },
    "DataRetentionDeletionEvent": {
      "type": "object",
      "properties": {
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        },
        "eventDetectionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        }
      }
    },
    "RapidVulnerabilityDetectionSettings": {
      "id": "RapidVulnerabilityDetectionSettings",
      "properties": {
        "serviceEnablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "type": "object",
      "properties": {
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Process"
    },
    "AzureResourceGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup"
    },
    "AwsAccount": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AwsAccount"
    },
    "GoogleCloudSecuritycenterV2AccessReview": {
      "type": "object",
      "properties": {
        "subresource": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AccessReview"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath"
    },
    "AzureManagementGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AzureManagementGroup"
    },
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        }
      },
      "type": "object"
    },
    "Framework": {
      "type": "object",
      "properties": {
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "displayName": {
          "type": "string"
        },
        "category": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Framework"
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "resourceType": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "resourceLabelsSelector": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "resourceValue": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Network": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Network"
    },
    "Process": {
      "id": "Process",
      "properties": {
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "parentPid": {
          "format": "int64",
          "type": "string"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "binary": {
          "$ref": "File"
        },
        "script": {
          "$ref": "File"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "properties": {
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Connection"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "id": "GoogleCloudSecuritycenterV2Finding",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "nextSteps": {
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "externalSystems": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          }
        },
        "muteInitiator": {
          "type": "string"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          }
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "mute": {
          "type": "string",
          "enum": [
[...]
