{
  "revision": "20260820",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "version": "v1beta1",
  "version_module": true,
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "endpoints": [
    {
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "canonicalName": "Security Command Center",
  "servicePath": "",
  "name": "securitycenter",
  "resources": {
    "organizations": {
      "resources": {
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "group": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "id": "securitycenter.organizations.sources.findings.group",
                  "path": "v1beta1/{+parent}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fieldMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "id": "securitycenter.organizations.sources.findings.list",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": ""
                },
                "updateSecurityMarks": {
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    },
                    "findingId": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.create",
                  "description": "",
                  "path": "v1beta1/{+parent}/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ]
                },
                "patch": {
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "setState": {
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "path": "v1beta1/{+name}:setState",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "id": "securitycenter.organizations.sources.get",
              "response": {
                "$ref": "Source"
              }
            },
            "list": {
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "id": "securitycenter.organizations.sources.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v1beta1/{+parent}/sources",
              "httpMethod": "GET"
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "httpMethod": "POST",
              "description": "",
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "path": "v1beta1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ]
            },
            "testIamPermissions": {
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "httpMethod": "POST",
              "path": "v1beta1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "securitycenter.organizations.sources.testIamPermissions"
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "request": {
                "$ref": "Source"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "path": "v1beta1/{+name}",
              "id": "securitycenter.organizations.sources.patch"
            },
            "getIamPolicy": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "id": "securitycenter.organizations.sources.getIamPolicy"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "request": {
                "$ref": "Source"
              },
              "response": {
                "$ref": "Source"
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/sources",
              "id": "securitycenter.organizations.sources.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "id": "securitycenter.organizations.operations.list",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "description": "",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}"
            },
            "delete": {
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "httpMethod": "DELETE",
              "id": "securitycenter.organizations.operations.delete",
              "path": "v1beta1/{+name}"
            },
            "cancel": {
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.operations.cancel",
              "httpMethod": "POST",
              "description": "",
              "path": "v1beta1/{+name}:cancel"
            }
          }
        },
        "assets": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/assets",
              "parameters": {
                "compareDuration": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string"
                },
                "readTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "fieldMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "id": "securitycenter.organizations.assets.list",
              "httpMethod": "GET",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets"
            },
            "group": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "description": "",
              "httpMethod": "POST",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "id": "securitycenter.organizations.assets.group",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group"
            },
            "runDiscovery": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "securitycenter.organizations.assets.runDiscovery",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "updateSecurityMarks": {
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "parameters": {
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$"
                }
              },
              "id": "securitycenter.organizations.assets.updateSecurityMarks"
            }
          }
        }
      },
      "methods": {
        "getOrganizationSettings": {
          "id": "securitycenter.organizations.getOrganizationSettings",
          "description": "",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "response": {
            "$ref": "OrganizationSettings"
          },
          "httpMethod": "GET",
          "path": "v1beta1/{+name}"
        },
        "updateOrganizationSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "",
          "path": "v1beta1/{+name}",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "OrganizationSettings"
          },
          "deprecated": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ]
        }
      }
    }
  },
  "title": "Security Command Center API",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "GroupAssetsResponse": {
      "type": "object",
      "properties": {
        "groupByResults": {
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GroupAssetsResponse"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupFindingsRequest": {
      "type": "object",
      "properties": {
        "groupBy": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GroupFindingsRequest"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "type": "object",
      "properties": {
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "parent": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "canonicalName": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "resourceName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "externalUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "type": "object",
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      }
    },
    "OrgPolicy": {
      "type": "object",
      "id": "OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV2SecurityMarks",
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "properties": {
        "role": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IamRolePermission",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "properties": {
        "fullScan": {
          "type": "boolean"
        },
        "infoType": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        },
        "inspectJob": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "type": "string"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment",
      "type": "object"
    },
    "SecurityPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        }
      },
      "id": "SecurityPolicy"
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "properties": {
        "policyOptions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "backupCreateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "type": "string"
        },
        "storagePool": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "profile": {
          "type": "string"
        },
        "appliance": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Node": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "IpRule": {
      "type": "object",
      "id": "IpRule",
      "properties": {
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        },
        "protocol": {
          "type": "string"
        }
      }
    },
    "DataAccessEvent": {
      "id": "DataAccessEvent",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      }
    },
    "AwsMetadata": {
      "id": "AwsMetadata",
      "properties": {
        "organization": {
          "$ref": "AwsOrganization"
        },
        "organizationalUnits": {
          "items": {
            "$ref": "AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "account": {
          "$ref": "AwsAccount"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "id": "GoogleCloudSecuritycenterV2Resource",
      "properties": {
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "location": {
          "type": "string"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "resourcePathString": {
          "type": "string"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "type": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "policyType": {
          "type": "string"
        },
        "cloudControlName": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "properties": {
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "forwardingRule": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "exposedService": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "properties": {
        "pods": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "nodePools": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          },
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        },
        "accessReviews": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          },
          "type": "array"
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "roles": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Kubernetes"
    },
    "GoogleCloudSecuritycenterV2KernelRootkit": {
      "id": "GoogleCloudSecuritycenterV2KernelRootkit",
      "type": "object",
      "properties": {
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Geolocation": {
      "id": "GoogleCloudSecuritycenterV2Geolocation",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Access": {
      "properties": {
        "userAgent": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "GoogleCloudSecuritycenterV2Geolocation"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
          }
        },
        "userName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Access",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule",
      "type": "object",
      "properties": {
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "properties": {
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Connection"
    },
    "ExportFindingsResponse": {
      "type": "object",
      "id": "ExportFindingsResponse",
      "properties": {}
    },
    "GroupAssetsRequest": {
      "type": "object",
      "id": "GroupAssetsRequest",
      "properties": {
        "filter": {
          "type": "string"
        },
        "compareDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "groupBy": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "id": "GoogleCloudSecuritycenterV2FileOperation",
      "properties": {
        "type": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AzureTenant": {
      "id": "GoogleCloudSecuritycenterV2AzureTenant",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ComplianceDetails": {
      "id": "GoogleCloudSecuritycenterV2ComplianceDetails",
      "type": "object",
      "properties": {
        "frameworks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Framework"
          }
        },
        "cloudControl": {
          "$ref": "GoogleCloudSecuritycenterV2CloudControl"
        },
        "cloudControlDeploymentNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MitreAttack",
      "properties": {
        "primaryTechniques": {
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "additionalTechniques": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "type": "array"
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        }
      }
    },
    "IpRules": {
      "id": "IpRules",
      "type": "object",
      "properties": {
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "denied": {
          "$ref": "Denied"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "AzureResourceGroup": {
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          }
        }
      }
    },
    "Allowed": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "id": "Allowed",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "CloudArmor": {
      "id": "CloudArmor",
      "type": "object",
      "properties": {
        "attack": {
          "$ref": "Attack"
        },
        "requests": {
          "$ref": "Requests"
        },
        "threatVector": {
          "type": "string"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "DiscoveredWorkload": {
      "id": "DiscoveredWorkload",
      "properties": {
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ]
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "VulnerabilityCountBySeverity": {
      "id": "VulnerabilityCountBySeverity",
      "type": "object",
      "properties": {
        "severityToFindingCount": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "SecurityPosture": {
      "properties": {
        "changedPolicy": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "PolicyDriftDetails"
          },
          "type": "array"
        },
        "revisionId": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityPosture",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "Attack": {
      "properties": {
        "volumeBpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumePps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "classification": {
          "type": "string"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBps": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Attack",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "properties": {
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        },
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "properties": {
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteReason": {
          "type": "string"
        },
        "muteState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "muteInitiator": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "Container": {
      "properties": {
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "imageId": {
          "type": "string"
        }
      },
      "id": "Container",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "properties": {
        "type": {
          "type": "string"
        },
        "preview": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy"
    },
    "GoogleCloudSecuritycenterV2PolicyDriftDetails": {
      "properties": {
        "detectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "expectedValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyDriftDetails",
      "type": "object"
    },
    "ListAssetsResponse": {
      "type": "object",
      "id": "ListAssetsResponse",
      "properties": {
        "listAssetsResults": {
          "items": {
            "$ref": "ListAssetsResult"
          },
          "type": "array"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV2PolicyViolationSummary": {
      "type": "object",
      "properties": {
        "conformantResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "outOfScopeResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "evaluationErrorsCount": {
          "format": "int64",
          "type": "string"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "expression": {
          "type": "string"
        }
      }
    },
    "Access": {
      "id": "Access",
      "type": "object",
      "properties": {
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "id": "GoogleCloudSecuritycenterV1Binding",
      "properties": {
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "role": {
          "$ref": "Role"
        },
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "type": "object",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "id": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Cwe"
    },
    "GoogleCloudSecuritycenterV2File": {
      "properties": {
        "diskPath": {
          "$ref": "GoogleCloudSecuritycenterV2DiskPath"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2FileOperation"
          }
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "contents": {
          "type": "string"
        },
        "fileLoadState": {
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "path": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2File"
    },
    "AccessReview": {
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "subresource": {
          "type": "string"
        },
        "verb": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "AccessReview",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "issueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ]
        },
        "description": {
          "type": "string"
        },
        "exposureScore": {
          "format": "double",
          "type": "number"
        },
        "securityContexts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          },
          "type": "array"
        },
        "domains": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastObservationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "detection": {
          "type": "string"
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "secondaryResources": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Issue",
      "type": "object"
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "ns": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "name": {
          "type": "string"
        }
      }
    },
    "MuteInfo": {
      "id": "MuteInfo",
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent",
      "properties": {
        "eventId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalSubject": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "name": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "dataset": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies",
      "properties": {
        "failingPolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          }
        },
        "resourceId": {
          "type": "string"
        }
      }
    },
    "IamBinding": {
      "id": "IamBinding",
      "type": "object",
      "properties": {
        "role": {
          "type": "string"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "member": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Cve": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cve",
      "properties": {
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cvssv3": {
          "$ref": "GoogleCloudSecuritycenterV2Cvssv3"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "id": {
          "type": "string"
        }
      }
    },
    "Process": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "script": {
          "$ref": "File"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "binary": {
          "$ref": "File"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "userId": {
          "format": "int64",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Process"
    },
    "ResourcePath": {
      "id": "ResourcePath",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "ResourcePathNode"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplication",
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "properties": {
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          }
        },
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsMetadata"
    },
    "GoogleCloudSecuritycenterV2SecurityPosture": {
      "type": "object",
      "properties": {
        "postureDeployment": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PolicyDriftDetails"
          }
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "policySet": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPosture"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "CloudControl": {
      "properties": {
        "cloudControlName": {
          "type": "string"
        },
        "policyType": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "CloudControl"
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "type": "object",
      "properties": {
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedMediumValueResourcesCount": {
          "type": "integer",
          "format": "int32"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "score": {
          "format": "double",
          "type": "number"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "latestCalculationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "attackExposureResult": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Framework": {
      "id": "GoogleCloudSecuritycenterV2Framework",
      "properties": {
        "controls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Control"
          }
        },
        "displayName": {
          "type": "string"
        },
        "category": {
          "items": {
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LoadBalancer": {
      "type": "object",
      "id": "LoadBalancer",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "File": {
      "id": "File",
      "properties": {
        "partiallyHashed": {
          "type": "boolean"
        },
        "sha256": {
          "type": "string"
        },
        "contents": {
          "type": "string"
        },
        "fileLoadState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ]
        },
        "operations": {
          "items": {
            "$ref": "FileOperation"
          },
          "type": "array"
        },
        "size": {
          "type": "string",
          "format": "int64"
        },
        "hashedSize": {
          "format": "int64",
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "diskPath": {
          "$ref": "DiskPath"
        }
      },
      "type": "object"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "totalSize": {
[...]
