{
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "servicePath": "",
  "title": "Security Command Center API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "Access": {
      "id": "Access",
      "type": "object",
      "properties": {
        "userName": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "serviceName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "methodName": {
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2SecretFilePath": {
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretFilePath",
      "type": "object"
    },
    "LogEntry": {
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "CloudLoggingEntry"
        }
      },
      "id": "LogEntry",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadata",
      "properties": {
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcApplication",
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourcePath": {
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourcePathNode"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ResourcePath"
    },
    "KernelRootkit": {
      "properties": {
        "name": {
          "type": "string"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "type": "boolean"
        },
        "unexpectedKprobeHandler": {
          "type": "boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "type": "boolean"
        },
        "unexpectedCodeModification": {
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "KernelRootkit"
    },
    "YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "YaraRuleSignature"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CloudDlpInspection": {
      "properties": {
        "inspectJob": {
          "type": "string"
        },
        "infoType": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "infoTypeCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudDlpInspection"
    },
    "GoogleCloudSecuritycenterV2IpRules": {
      "properties": {
        "denied": {
          "$ref": "GoogleCloudSecuritycenterV2Denied"
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exposedServices": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "$ref": "GoogleCloudSecuritycenterV2Allowed"
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2IpRules",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "properties": {
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "id": "GoogleCloudSecuritycenterV2AdcApplication",
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "DiskPath": {
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "DiskPath"
    },
    "GoogleCloudSecuritycenterV2Label": {
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Label",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {}
    },
    "AgentAnomaly": {
      "type": "object",
      "id": "AgentAnomaly",
      "properties": {
        "confidenceScore": {
          "format": "double",
          "type": "number"
        },
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "InvocationReference"
          }
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "DetectorReference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV2ResourceValueConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "scope": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resourceValue": {
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "File": {
      "id": "File",
      "type": "object",
      "properties": {
        "hashedSize": {
          "type": "string",
          "format": "int64"
        },
        "contents": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "partiallyHashed": {
          "type": "boolean"
        },
        "size": {
          "format": "int64",
          "type": "string"
        },
        "diskPath": {
          "$ref": "DiskPath"
        },
        "fileLoadState": {
          "type": "string",
          "enum": [
            "FILE_LOAD_STATE_UNSPECIFIED",
            "LOADED_BY_PROCESS",
            "NOT_LOADED_BY_PROCESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "FileOperation"
          }
        },
        "path": {
          "type": "string"
        }
      }
    },
    "Pod": {
      "id": "Pod",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiskPath": {
      "type": "object",
      "properties": {
        "partitionUuid": {
          "type": "string"
        },
        "relativePath": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2DiskPath"
    },
    "AgentSession": {
      "id": "AgentSession",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "OrgPolicy"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Folder"
    },
    "VulnerabilitySnapshot": {
      "type": "object",
      "id": "VulnerabilitySnapshot",
      "properties": {
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "findingCount": {
          "$ref": "VulnerabilityCountBySeverity"
        }
      }
    },
    "AdcApplication": {
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      },
      "type": "object",
      "id": "AdcApplication"
    },
    "GoogleCloudSecuritycenterV2Notebook": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Notebook",
      "properties": {
        "service": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "lastAuthor": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Connection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Connection",
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "sourceIp": {
          "type": "string"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExportFindingsMetadata": {
      "properties": {
        "bigQueryDestination": {
          "$ref": "BigQueryDestination"
        },
        "exportStartTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExportFindingsMetadata"
    },
    "DataFlowEvent": {
      "type": "object",
      "id": "DataFlowEvent",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2NotificationMessage": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2NotificationMessage",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV2Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV2Resource"
        },
        "notificationConfigName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DynamicMuteRecord": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DynamicMuteRecord",
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Application": {
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Application",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2HttpResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2HttpResponse",
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "GoogleCloudSecuritycenterV2BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2BigQueryExport",
      "properties": {
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "dataset": {
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "principal": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode"
    },
    "GoogleCloudSecuritycenterV2SecretEnvironmentVariable": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "type": "object",
      "properties": {
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AgentAnomaly": {
      "id": "GoogleCloudSecuritycenterV2AgentAnomaly",
      "type": "object",
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "double"
        },
        "invocationReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2InvocationReference"
          }
        },
        "detectorReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DetectorReference"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry",
      "properties": {
        "insertId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyViolationSummary": {
      "properties": {
        "evaluationErrorsCount": {
          "type": "string",
          "format": "int64"
        },
        "conformantResourcesCount": {
          "format": "int64",
          "type": "string"
        },
        "outOfScopeResourcesCount": {
          "type": "string",
          "format": "int64"
        },
        "policyViolationsCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PolicyViolationSummary",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "type": "object",
      "properties": {
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "type": {
          "type": "string"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        }
      }
    },
    "Denied": {
      "type": "object",
      "id": "Denied",
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent",
      "properties": {
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "minRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AttackExposure": {
      "id": "GoogleCloudSecuritycenterV2AttackExposure",
      "properties": {
        "score": {
          "format": "double",
          "type": "number"
        },
        "attackExposureResult": {
          "type": "string"
        },
        "exposedHighValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "exposedMediumValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "latestCalculationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "exposedLowValueResourcesCount": {
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CALCULATED",
            "NOT_CALCULATED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        },
        "finding": {
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourcePath": {
      "id": "ResourcePath",
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "ResourcePathNode"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Attack": {
      "properties": {
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "volumePps": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "volumeBps": {
          "format": "int32",
          "type": "integer",
          "deprecated": true
        }
      },
      "id": "GoogleCloudSecuritycenterV2Attack",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "format": "double",
          "type": "number"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FileOperation": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "FileOperation"
    },
    "GoogleCloudSecuritycenterV2YaraRuleSignature": {
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2YaraRuleSignature"
    },
    "GoogleCloudSecuritycenterV2AzureSubscription": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureSubscription"
    },
    "EnvironmentVariable": {
      "type": "object",
      "properties": {
        "val": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnvironmentVariable"
    },
    "GoogleCloudSecuritycenterV2Job": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "errorCode": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Job"
    },
    "GoogleCloudSecuritycenterV2Vulnerability": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Vulnerability",
      "properties": {
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2Cve"
        },
        "providerRiskScore": {
          "type": "string",
          "format": "int64"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Cwe"
          }
        },
        "fixedPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "offendingPackage": {
          "$ref": "GoogleCloudSecuritycenterV2Package"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "reachable": {
          "type": "boolean"
        }
      }
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr"
        },
        "role": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AffectedResources": {
      "properties": {
        "count": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AffectedResources"
    },
    "GoogleCloudSecuritycenterV2SecurityPolicy": {
      "properties": {
        "preview": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityPolicy",
      "type": "object"
    },
    "ServiceAccountDelegationInfo": {
      "type": "object",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        }
      },
      "id": "ServiceAccountDelegationInfo"
    },
    "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping": {
      "type": "object",
      "properties": {
        "mediumSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "highSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "GcpMetadata": {
      "id": "GcpMetadata",
      "properties": {
        "projectDisplayName": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Folder"
          }
        },
        "parentDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "organization": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AiModel": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "deploymentPlatform": {
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "usageCategory": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      },
      "id": "AiModel"
    },
    "AdcSharedTemplateRevision": {
      "id": "AdcSharedTemplateRevision",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "grantees": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "Database"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision"
    },
    "SecurityPolicy": {
      "properties": {
        "preview": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityPolicy",
      "type": "object"
    },
    "AzureManagementGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "AzureManagementGroup",
      "type": "object"
    },
    "VulnerabilityCountBySeverity": {
      "type": "object",
      "id": "VulnerabilityCountBySeverity",
      "properties": {
        "severityToFindingCount": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "DataAccessEvent": {
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "DataAccessEvent"
    },
    "Secret": {
      "id": "Secret",
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "filePath": {
          "$ref": "SecretFilePath"
        },
        "status": {
          "$ref": "SecretStatus"
        },
        "environmentVariable": {
          "$ref": "SecretEnvironmentVariable"
        }
      }
    },
    "MemoryHashSignature": {
      "type": "object",
      "properties": {
        "detections": {
          "items": {
            "$ref": "Detection"
          },
          "type": "array"
        },
        "binaryFamily": {
          "type": "string"
        }
      },
      "id": "MemoryHashSignature"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "type": "object",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          },
          "type": "array"
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "Policy": {
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "properties": {
        "parentDisplayName": {
          "type": "string"
        },
        "project": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        },
        "projectDisplayName": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object"
    },
    "AffectedResources": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AffectedResources"
    },
    "PortRange": {
      "id": "PortRange",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string"
        },
        "resourceFolder": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Disk",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV2ExternalSystem",
      "type": "object",
      "properties": {
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "caseUri": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "casePriority": {
          "type": "string"
        },
        "caseCloseTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ticketInfo": {
          "$ref": "GoogleCloudSecuritycenterV2TicketInfo"
        },
        "caseCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "caseSla": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "externalUid": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "properties": {
        "backendService": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "httpResponse": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          }
        },
        "privatePort": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "exposedEndpoint": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ExternalExposure",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2DiscoveredWorkload": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DiscoveredWorkload",
      "properties": {
        "confidence": {
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_HIGH"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "detectedRelevantKeywords": {
          "type": "boolean"
        },
        "detectedRelevantPackages": {
          "type": "boolean"
        },
        "detectedRelevantHardware": {
          "type": "boolean"
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MCP_SERVER",
            "AI_INFERENCE",
            "AGENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2OrgPolicy"
    },
    "CloudArmor": {
      "type": "object",
      "id": "CloudArmor",
      "properties": {
        "attack": {
          "$ref": "Attack"
        },
        "securityPolicy": {
          "$ref": "SecurityPolicy"
        },
        "requests": {
          "$ref": "Requests"
        },
        "threatVector": {
          "type": "string"
        },
        "adaptiveProtection": {
          "$ref": "AdaptiveProtection"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Agent": {
      "id": "Agent",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Detection": {
      "properties": {
        "binary": {
          "type": "string"
        },
        "percentPagesMatched": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Detection"
    },
    "GroupAssetsResponse": {
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "groupByResults": {
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GroupAssetsResponse"
    },
    "Process": {
      "id": "Process",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "parentPid": {
          "format": "int64",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "script": {
          "$ref": "File"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "binary": {
          "$ref": "File"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ResourcePathNode": {
      "id": "ResourcePathNode",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "nodeType": {
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataFlowEvent": {
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "violatedLocation": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataFlowEvent"
    },
    "LoadBalancer": {
      "id": "LoadBalancer",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "properties": {
        "resourceId": {
          "type": "string"
        },
        "failingPolicies": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplication"
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "properties": {
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Object": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "ns": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Object"
    },
    "Container": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "imageId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Container"
    },
    "Compliance": {
      "id": "Compliance",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "standard": {
          "type": "string"
        }
      }
    },
    "CloudDlpDataProfile": {
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "InfoType"
          }
        },
        "parentType": {
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "dataProfile": {
          "type": "string"
        }
      },
      "id": "CloudDlpDataProfile",
      "type": "object"
    },
    "GroupMembership": {
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        }
      },
      "type": "object",
      "id": "GroupMembership"
    },
    "ToxicCombination": {
      "type": "object",
      "id": "ToxicCombination",
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "CloudLoggingEntry": {
      "properties": {
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CloudLoggingEntry",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "properties": {
        "confidence": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GroupAssetsRequest": {
      "id": "GroupAssetsRequest",
      "properties": {
        "groupBy": {
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "pageToken": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "compareDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule",
      "properties": {
        "lastEditor": {
          "readOnly": true,
          "type": "string"
        },
        "ancestorModule": {
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "enablementState": {
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GroupFindingsResponse": {
      "id": "GroupFindingsResponse",
      "type": "object",
      "properties": {
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "type": "object"
    },
    "Geolocation": {
      "type": "object",
      "id": "Geolocation",
      "properties": {
        "regionCode": {
          "type": "string"
        }
      }
    },
    "Object": {
      "id": "Object",
      "properties": {
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ArtifactGuardPolicy": {
      "properties": {
        "failureReason": {
          "type": "string"
        },
        "policyId": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED",
            "VULNERABILITY"
          ]
        }
      },
      "type": "object",
      "id": "ArtifactGuardPolicy"
    },
    "GoogleCloudSecuritycenterV2IamDetails": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamDetails",
      "properties": {
        "iamRolePermissions": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamRolePermission"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Node": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Node"
    },
    "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "id": "GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping",
      "properties": {
        "mediumSensitivityMapping": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "highSensitivityMapping": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpRule": {
      "id": "IpRule",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "items": {
            "$ref": "PortRange"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Issue",
      "properties": {
        "description": {
          "type": "string"
        },
        "securityContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          }
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "issueType": {
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastObservationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "detection": {
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "secondaryResources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          }
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        },
        "exposureScore": {
          "type": "number",
          "format": "double"
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Node": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Node",
      "type": "object"
    },
    "Role": {
      "properties": {
        "ns": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Role",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudArmor": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudArmor",
      "properties": {
        "requests": {
          "$ref": "GoogleCloudSecuritycenterV2Requests"
        },
        "threatVector": {
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "adaptiveProtection": {
          "$ref": "GoogleCloudSecuritycenterV2AdaptiveProtection"
        },
        "securityPolicy": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPolicy"
        },
        "attack": {
          "$ref": "GoogleCloudSecuritycenterV2Attack"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Control": {
      "type": "object",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Control"
    },
    "Contact": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Contact"
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "properties": {
        "type": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2FileOperation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cvssv3": {
      "properties": {
        "attackVector": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string"
        },
        "baseScore": {
          "type": "number",
          "format": "double"
        },
        "confidentialityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "privilegesRequired": {
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "userInteraction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Cvssv3"
    },
    "RunAssetDiscoveryRequest": {
      "id": "RunAssetDiscoveryRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata": {
      "properties": {
        "projectId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceGoogleCloudMetadata",
      "type": "object"
    },
    "Attack": {
      "properties": {
        "classification": {
          "type": "string"
        },
        "volumePpsLong": {
          "type": "string",
          "format": "int64"
        },
        "volumeBpsLong": {
          "format": "int64",
          "type": "string"
        },
        "volumePps": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "volumeBps": {
          "type": "integer",
          "format": "int32",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "Attack"
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "properties": {
        "inspectJob": {
          "type": "string"
        },
        "infoType": {
          "type": "string"
        },
        "infoTypeCount": {
          "format": "int64",
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "resourceName": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "name": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "canonicalName": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        }
      }
    },
    "ArtifactGuardPolicies": {
      "properties": {
        "failingPolicies": {
          "items": {
            "$ref": "ArtifactGuardPolicy"
          },
          "type": "array"
        },
        "resourceId": {
          "type": "string"
        }
      },
      "id": "ArtifactGuardPolicies",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "id": "GoogleCloudSecuritycenterV2CloudControl",
      "properties": {
        "cloudControlName": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "type": "object",
      "properties": {
        "lastUpdatedTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "validity": {
          "enum": [
            "SECRET_VALIDITY_UNSPECIFIED",
            "SECRET_VALIDITY_UNSUPPORTED",
            "SECRET_VALIDITY_FAILED",
            "SECRET_VALIDITY_INVALID",
            "SECRET_VALIDITY_VALID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "AgentDataAccessEvent": {
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "AgentDataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2IssueMute": {
      "type": "object",
      "properties": {
        "muteState": {
          "readOnly": true,
          "enum": [
            "MUTE_STATE_UNSPECIFIED",
            "NOT_MUTED",
            "MUTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "muteInitiator": {
          "type": "string"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "muteReason": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueMute"
    },
    "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata": {
      "properties": {
        "subscription": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadataAzureSubscription"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueResourceAzureMetadata",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest"
    },
    "GroupFindingsRequest": {
      "id": "GroupFindingsRequest",
      "properties": {
        "filter": {
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SecurityPosture": {
      "properties": {
        "policyDriftDetails": {
          "type": "array",
          "items": {
            "$ref": "PolicyDriftDetails"
          }
        },
        "policySet": {
          "type": "string"
        },
        "revisionId": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SecurityPosture",
      "type": "object"
    },
    "Finding": {
      "properties": {
        "category": {
          "type": "string"
        },
        "access": {
          "$ref": "Access"
        },
        "notebook": {
          "$ref": "Notebook"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile"
        },
        "affectedResources": {
          "$ref": "AffectedResources"
        },
        "description": {
          "type": "string"
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "cloudDlpInspection": {
          "$ref": "CloudDlpInspection"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "job": {
          "$ref": "Job"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "kubernetes": {
          "$ref": "Kubernetes"
        },
        "backupDisasterRecovery": {
          "$ref": "BackupDisasterRecovery"
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "policyViolationSummary": {
          "$ref": "PolicyViolationSummary"
        },
        "ipRules": {
          "$ref": "IpRules"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "LoadBalancer"
          }
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "MuteInfo"
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "DataFlowEvent"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "orgPolicies": {
          "type": "array",
          "items": {
            "$ref": "OrgPolicy"
          }
        },
        "externalSystems": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "exfiltration": {
          "$ref": "Exfiltration"
        },
        "database": {
          "$ref": "Database"
        },
        "disk": {
          "$ref": "Disk"
        },
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "type": "array"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "muteInitiator": {
          "type": "string"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "indicator": {
          "$ref": "Indicator"
        },
        "agentAnomaly": {
          "$ref": "AgentAnomaly"
        },
        "complianceDetails": {
          "$ref": "ComplianceDetails"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload"
        },
        "cloudArmor": {
          "$ref": "CloudArmor"
        },
        "agent": {
          "$ref": "Agent"
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "type": "object",
          "readOnly": true
        },
        "externalUri": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "artifactGuardPolicies": {
          "$ref": "ArtifactGuardPolicies"
        },
        "secret": {
          "$ref": "Secret"
        },
        "vertexAi": {
          "$ref": "VertexAi"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "AgentSession"
          }
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "AgentDataAccessEvent"
          }
        },
        "toxicCombination": {
          "$ref": "ToxicCombination"
        },
        "attackExposure": {
          "$ref": "AttackExposure"
        },
        "mitreAttack": {
          "$ref": "MitreAttack"
        },
        "aiModel": {
          "$ref": "AiModel"
        },
        "securityPosture": {
          "$ref": "SecurityPosture"
        },
        "chokepoint": {
          "$ref": "Chokepoint"
        },
        "application": {
          "$ref": "Application"
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "DataAccessEvent"
          },
          "type": "array"
        },
        "externalExposure": {
          "$ref": "ExternalExposure"
        },
        "groupMemberships": {
          "items": {
            "$ref": "GroupMembership"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "nextSteps": {
          "type": "string"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "LogEntry"
          }
        },
        "moduleName": {
          "type": "string"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV1IamDetails"
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "canonicalName": {
          "type": "string"
        },
        "vulnerability": {
          "$ref": "Vulnerability"
        }
      },
      "type": "object",
      "id": "Finding"
    },
    "GoogleCloudSecuritycenterV2IamBinding": {
      "id": "GoogleCloudSecuritycenterV2IamBinding",
      "properties": {
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetFindingStateRequest": {
      "type": "object",
      "id": "SetFindingStateRequest",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "properties": {
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector"
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "properties": {
        "baseUri": {
          "type": "string"
        },
        "fullUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "DynamicMuteRecord": {
      "properties": {
        "matchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "muteConfig": {
          "type": "string"
        }
      },
      "id": "DynamicMuteRecord",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2GroupMembership": {
      "properties": {
        "groupType": {
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "groupId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2GroupMembership"
    },
    "ListSourcesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListSourcesResponse"
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "properties": {
        "domainCategory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "type": "string"
        }
      }
    },
    "IamBinding": {
      "type": "object",
      "id": "IamBinding",
      "properties": {
        "member": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2NodePool": {
      "id": "GoogleCloudSecuritycenterV2NodePool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2Contact": {
      "id": "GoogleCloudSecuritycenterV2Contact",
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAssetsResult": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ]
        },
        "asset": {
          "$ref": "Asset"
        }
      },
      "id": "ListAssetsResult"
    },
    "StaticMute": {
      "properties": {
        "applyTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        }
      },
      "type": "object",
      "id": "StaticMute"
    },
    "Allowed": {
      "id": "Allowed",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "IpRule"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Cve": {
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "exploitationActivity": {
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "firstExploitationDate": {
          "type": "string",
          "format": "google-datetime"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "impact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "id": "Cve",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean"
        },
        "error": {
          "$ref": "Status"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AwsOrganization": {
      "id": "GoogleCloudSecuritycenterV2AwsOrganization",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsMetadata": {
      "properties": {
        "organizationalUnits": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AwsOrganizationalUnit"
          },
          "type": "array"
        },
        "account": {
          "$ref": "GoogleCloudSecuritycenterV2AwsAccount"
        },
        "organization": {
          "$ref": "GoogleCloudSecuritycenterV2AwsOrganization"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AwsMetadata"
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "dataset": {
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "properties": {
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "destinationIp": {
          "type": "string"
        },
        "sourceIp": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "object",
      "properties": {
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceValue": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "type": "string"
        },
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cloudProvider": {
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse"
    },
    "AwsOrganizationalUnit": {
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AwsOrganizationalUnit"
    },
    "GoogleCloudSecuritycenterV2AgentDataAccessEvent": {
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "principalSubject": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "eventId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "id": "GoogleCloudSecuritycenterV2Process",
      "properties": {
        "name": {
          "type": "string"
        },
        "envVariables": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          },
          "type": "array"
        },
        "pid": {
          "type": "string",
          "format": "int64"
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "envVariablesTruncated": {
          "type": "boolean"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "userId": {
          "format": "int64",
          "type": "string"
        },
        "libraries": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          },
          "type": "array"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "type": "object",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          }
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pod": {
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Label"
          }
        },
        "ns": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Pod",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "properties": {
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
[...]
