{
  "protocol": "rest",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "version": "v1",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260828",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/"
    }
  ],
  "kind": "discovery#restDescription",
  "id": "securitycenter:v1",
  "name": "securitycenter",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "basePath": "",
  "servicePath": "",
  "canonicalName": "Security Command Center",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "schemas": {
    "ListValuedResourcesResponse": {
      "id": "ListValuedResourcesResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer"
        },
        "valuedResources": {
          "items": {
            "$ref": "ValuedResource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Control": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Control",
      "properties": {
        "controlName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueFinding": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "securityBulletin": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin"
        },
        "cve": {
          "$ref": "GoogleCloudSecuritycenterV2IssueFindingCve"
        }
      },
      "id": "GoogleCloudSecuritycenterV2IssueFinding"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "properties": {
        "name": {
          "type": "string"
        },
        "val": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2ContactDetails": {
      "id": "GoogleCloudSecuritycenterV2ContactDetails",
      "type": "object",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Contact"
          },
          "type": "array"
        }
      }
    },
    "GroupFindingsRequest": {
      "properties": {
        "readTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "groupBy": {
          "type": "string"
        },
        "compareDuration": {
          "deprecated": true,
          "format": "google-duration",
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        }
      },
      "id": "GroupFindingsRequest",
      "type": "object"
    },
    "GroupMembership": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "groupType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "GROUP_TYPE_TOXIC_COMBINATION",
            "GROUP_TYPE_CHOKEPOINT"
          ]
        }
      },
      "id": "GroupMembership"
    },
    "Object": {
      "properties": {
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "kind": {
          "type": "string"
        }
      },
      "id": "Object",
      "type": "object"
    },
    "DynamicMuteRecord": {
      "id": "DynamicMuteRecord",
      "type": "object",
      "properties": {
        "muteConfig": {
          "type": "string"
        },
        "matchTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Compliance": {
      "id": "Compliance",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "standard": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2VertexAi": {
      "id": "GoogleCloudSecuritycenterV2VertexAi",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Dataset"
          }
        },
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pipeline"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2InfoType": {
      "id": "GoogleCloudSecuritycenterV2InfoType",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "GoogleCloudSecuritycenterV2SensitivityScore"
        }
      }
    },
    "ContactDetails": {
      "properties": {
        "contacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array"
        }
      },
      "id": "ContactDetails",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Issue": {
      "properties": {
        "lastObservationTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "relatedFindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueFinding"
          }
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueDomain"
          }
        },
        "secondaryResources": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResource"
          },
          "type": "array"
        },
        "detection": {
          "type": "string"
        },
        "remediations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mute": {
          "$ref": "GoogleCloudSecuritycenterV2IssueMute"
        },
        "securityContexts": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContext"
          },
          "type": "array"
        },
        "issueType": {
          "type": "string",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "CHOKEPOINT",
            "TOXIC_COMBINATION",
            "INSIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "primaryResource": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResource"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "exposureScore": {
          "type": "number",
          "format": "double"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2Issue",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Indicator": {
      "properties": {
        "domains": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatures": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ProcessSignature"
          },
          "type": "array"
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Indicator"
    },
    "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse": {
      "properties": {
        "effectiveSecurityHealthAnalyticsCustomModules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse",
      "type": "object"
    },
    "SetFindingStateRequest": {
      "type": "object",
      "id": "SetFindingStateRequest",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "deprecated": true
        }
      }
    },
    "GoogleCloudSecuritycenterV2SensitivityScore": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2SensitivityScore",
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "resourceName": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "parent": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "sourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "canonicalName": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        }
      }
    },
    "LoadBalancer": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoadBalancer"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "type": "object",
      "properties": {
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "disk": {
          "$ref": "GoogleCloudSecuritycenterV2Disk"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          },
          "type": "object",
          "readOnly": true
        },
        "policyViolationSummary": {
          "$ref": "GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "groupMemberships": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2GroupMembership"
          },
          "type": "array"
        },
        "findingClass": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR",
            "POSTURE_VIOLATION",
            "TOXIC_COMBINATION",
            "SENSITIVE_DATA_RISK",
            "CHOKEPOINT",
            "EXTERNAL_EXPOSURE",
            "SECRET"
          ]
        },
        "parent": {
          "type": "string"
        },
        "processes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Process"
          },
          "type": "array"
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "dataAccessEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          },
          "type": "array"
        },
        "cryptoKeyName": {
          "readOnly": true,
          "type": "string"
        },
        "toxicCombination": {
          "$ref": "GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "agentAnomaly": {
          "$ref": "GoogleCloudSecuritycenterV2AgentAnomaly"
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "ipRules": {
          "$ref": "GoogleCloudSecuritycenterV2IpRules"
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "attackExposure": {
          "$ref": "GoogleCloudSecuritycenterV2AttackExposure"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "access": {
          "$ref": "GoogleCloudSecuritycenterV2Access"
        },
        "vulnerability": {
          "$ref": "GoogleCloudSecuritycenterV2Vulnerability"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "networks": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          },
          "type": "array"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "affectedResources": {
          "$ref": "GoogleCloudSecuritycenterV2AffectedResources"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "moduleName": {
          "type": "string"
        },
        "iamBindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IamBinding"
          },
          "type": "array"
        },
        "orgPolicies": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2OrgPolicy"
          },
          "type": "array"
        },
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "resourceName": {
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "category": {
          "type": "string"
        },
        "agentSessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentSession"
          }
        },
        "exfiltration": {
          "$ref": "GoogleCloudSecuritycenterV2Exfiltration"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "muteInitiator": {
          "type": "string"
        },
        "cloudDlpInspection": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "dataRetentionDeletionEvents": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          },
          "type": "array"
        },
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "loadBalancers": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          },
          "type": "array"
        },
        "mitreAttack": {
          "$ref": "GoogleCloudSecuritycenterV2MitreAttack"
        },
        "iamDetails": {
          "$ref": "GoogleCloudSecuritycenterV2IamDetails"
        },
        "job": {
          "$ref": "GoogleCloudSecuritycenterV2Job"
        },
        "name": {
          "type": "string"
        },
        "canonicalName": {
          "readOnly": true,
          "type": "string"
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "complianceDetails": {
          "$ref": "GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "compliances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Compliance"
          }
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "securityPosture": {
          "$ref": "GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "dataFlowEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataFlowEvent"
          }
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "description": {
          "type": "string"
        },
        "logEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LogEntry"
          }
        },
        "contacts": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          },
          "readOnly": true,
          "type": "object"
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "discoveredWorkload": {
          "$ref": "GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "connections": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          },
          "type": "array"
        },
        "backupDisasterRecovery": {
          "$ref": "GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "externalUri": {
          "type": "string"
        },
        "nextSteps": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Finding"
    },
    "SimulatedResult": {
      "id": "SimulatedResult",
      "properties": {
        "finding": {
          "$ref": "Finding"
        },
        "noViolation": {
          "$ref": "Empty"
        },
        "error": {
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true
        },
        "expiryTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "MUTE_CONFIG_TYPE_UNSPECIFIED",
            "STATIC",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "type": "object",
      "properties": {
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceType": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "resourceLabelsSelector": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "sensitiveDataProtectionMapping": {
          "$ref": "GoogleCloudSecuritycenterV1SensitiveDataProtectionMapping"
        },
        "resourceValue": {
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig"
    },
    "Requests": {
      "id": "Requests",
      "type": "object",
      "properties": {
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Pipeline": {
      "id": "GoogleCloudSecuritycenterV2Pipeline",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GroupAssetsRequest": {
      "id": "GroupAssetsRequest",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "compareDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "filter": {
          "type": "string"
        },
        "groupBy": {
          "type": "string"
        },
        "pageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomModuleValidationError": {
      "id": "CustomModuleValidationError",
      "properties": {
        "fieldPath": {
          "type": "string"
        },
        "start": {
          "$ref": "Position"
        },
        "end": {
          "$ref": "Position"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "Access": {
      "type": "object",
      "id": "Access",
      "properties": {
        "serviceName": {
          "type": "string"
        },
        "serviceAccountKeyName": {
          "type": "string"
        },
        "userAgentFamily": {
          "type": "string"
        },
        "callerIp": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "userName": {
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "methodName": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "properties": {
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "businessOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ResourcePathNode": {
      "properties": {
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "ResourcePathNode",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2FileOperation": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2FileOperation",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "properties": {
        "role": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "properties": {
        "email": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
    },
    "GoogleCloudSecuritycenterV2SecurityMarks": {
      "type": "object",
      "properties": {
        "canonicalName": {
          "type": "string"
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2SecurityMarks"
    },
    "GoogleCloudSecuritycenterV2Package": {
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Package"
    },
    "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "id": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes",
      "properties": {
        "businessOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "developerOwners": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          },
          "type": "array"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
          }
        },
        "criticality": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "environment": {
          "$ref": "GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        }
      },
      "type": "object"
    },
    "ListFindingsResult": {
      "properties": {
        "stateChange": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNUSED",
            "CHANGED",
            "UNCHANGED",
            "ADDED",
            "REMOVED"
          ]
        },
        "finding": {
          "$ref": "Finding"
        },
        "resource": {
          "readOnly": true,
          "$ref": "Resource"
        }
      },
      "type": "object",
      "id": "ListFindingsResult"
    },
    "Exfiltration": {
      "properties": {
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "targets": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        }
      },
      "id": "Exfiltration",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Cwe": {
      "id": "GoogleCloudSecuritycenterV2Cwe",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Reference"
          },
          "type": "array"
        }
      }
    },
    "ListAssetsResponse": {
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string"
        },
        "listAssetsResults": {
          "items": {
            "$ref": "ListAssetsResult"
          },
          "type": "array"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ListAssetsResponse",
      "type": "object"
    },
    "BackupDisasterRecovery": {
      "id": "BackupDisasterRecovery",
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "backupType": {
          "type": "string"
        },
        "backupCreateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "appliance": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "policyOptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupTemplate": {
          "type": "string"
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "type": "string"
        },
        "applications": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Kubernetes": {
      "id": "GoogleCloudSecuritycenterV2Kubernetes",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Role"
          }
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Object"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Binding"
          }
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2NodePool"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Pod"
          }
        },
        "nodes": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Node"
          },
          "type": "array"
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AccessReview"
          }
        }
      },
      "type": "object"
    },
    "ListSecurityHealthAnalyticsCustomModulesResponse": {
      "id": "ListSecurityHealthAnalyticsCustomModulesResponse",
      "properties": {
        "securityHealthAnalyticsCustomModules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsMetadata": {
      "id": "AwsMetadata",
      "type": "object",
      "properties": {
        "organizationalUnits": {
          "type": "array",
          "items": {
            "$ref": "AwsOrganizationalUnit"
          }
        },
        "organization": {
          "$ref": "AwsOrganization"
        },
        "account": {
          "$ref": "AwsAccount"
        }
      }
    },
    "GoogleCloudSecuritycenterV2MitreAttack": {
      "properties": {
        "additionalTactics": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "primaryTactic": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "version": {
          "type": "string"
        },
        "primaryTechniques": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          },
          "type": "array"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2MitreAttack"
    },
    "GoogleCloudSecuritycenterV2LogEntry": {
      "id": "GoogleCloudSecuritycenterV2LogEntry",
      "type": "object",
      "properties": {
        "cloudLoggingEntry": {
          "$ref": "GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "SecretFilePath": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        }
      },
      "id": "SecretFilePath"
    },
    "AttackStepNode": {
      "id": "AttackStepNode",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "NODE_TYPE_UNSPECIFIED",
            "NODE_TYPE_AND",
            "NODE_TYPE_OR",
            "NODE_TYPE_DEFENSE",
            "NODE_TYPE_ATTACKER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "uuid": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdcApplication": {
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AdcApplication"
    },
    "AgentDataAccessEvent": {
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "principalSubject": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "id": "AgentDataAccessEvent",
      "type": "object"
    },
    "Package": {
      "properties": {
        "packageName": {
          "type": "string"
        },
        "packageType": {
          "type": "string"
        },
        "packageVersion": {
          "type": "string"
        },
        "cpeUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Package"
    },
    "Framework": {
      "properties": {
        "name": {
          "type": "string"
        },
        "controls": {
          "type": "array",
          "items": {
            "$ref": "Control"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "FRAMEWORK_TYPE_UNSPECIFIED",
            "FRAMEWORK_TYPE_BUILT_IN",
            "FRAMEWORK_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "category": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FRAMEWORK_CATEGORY_UNSPECIFIED",
              "SECURITY_BENCHMARKS",
              "ASSURED_WORKLOADS",
              "DATA_SECURITY",
              "GOOGLE_BEST_PRACTICES",
              "CUSTOM_FRAMEWORK"
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Framework"
    },
    "InfoType": {
      "type": "object",
      "properties": {
        "sensitivityScore": {
          "$ref": "SensitivityScore"
        },
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "InfoType"
    },
    "GoogleCloudSecuritycenterV2ResourcePathNode": {
      "id": "GoogleCloudSecuritycenterV2ResourcePathNode",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "nodeType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_PATH_NODE_TYPE_UNSPECIFIED",
            "GCP_ORGANIZATION",
            "GCP_FOLDER",
            "GCP_PROJECT",
            "AWS_ORGANIZATION",
            "AWS_ORGANIZATIONAL_UNIT",
            "AWS_ACCOUNT",
            "AZURE_MANAGEMENT_GROUP",
            "AZURE_SUBSCRIPTION",
            "AZURE_RESOURCE_GROUP"
          ]
        },
        "id": {
          "type": "string"
        }
      }
    },
    "MuteInfo": {
      "type": "object",
      "id": "MuteInfo",
      "properties": {
        "staticMute": {
          "$ref": "StaticMute"
        },
        "dynamicMuteRecords": {
          "type": "array",
          "items": {
            "$ref": "DynamicMuteRecord"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV2AiModel": {
      "id": "GoogleCloudSecuritycenterV2AiModel",
      "type": "object",
      "properties": {
        "deploymentPlatform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_PLATFORM_UNSPECIFIED",
            "VERTEX_AI",
            "GKE",
            "GCE",
            "FINE_TUNED_MODEL"
          ]
        },
        "usageCategory": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "publisher": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "library": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "SecurityPosture": {
      "properties": {
        "policySet": {
          "type": "string"
        },
        "policy": {
          "type": "string"
        },
        "postureDeployment": {
          "type": "string"
        },
        "postureDeploymentResource": {
          "type": "string"
        },
        "changedPolicy": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "policyDriftDetails": {
          "items": {
            "$ref": "PolicyDriftDetails"
          },
          "type": "array"
        },
        "revisionId": {
          "type": "string"
        }
      },
      "id": "SecurityPosture",
      "type": "object"
    },
    "PolicyDriftDetails": {
      "properties": {
        "expectedValue": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "detectedValue": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "PolicyDriftDetails"
    },
    "GoogleCloudSecuritycenterV2Process": {
      "properties": {
        "name": {
          "type": "string"
        },
        "parentPid": {
          "type": "string",
          "format": "int64"
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2File"
          }
        },
        "userId": {
          "type": "string",
          "format": "int64"
        },
        "envVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2EnvironmentVariable"
          }
        },
        "script": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "binary": {
          "$ref": "GoogleCloudSecuritycenterV2File"
        },
        "pid": {
          "format": "int64",
          "type": "string"
        },
        "argumentsTruncated": {
          "type": "boolean"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "envVariablesTruncated": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Process",
      "type": "object"
    },
    "ExportFindingsResponse": {
      "properties": {},
      "type": "object",
      "id": "ExportFindingsResponse"
    },
    "Agent": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Agent"
    },
    "SensitivityScore": {
      "type": "object",
      "id": "SensitivityScore",
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "SENSITIVITY_SCORE_LEVEL_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_UNKNOWN",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2Subject": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Subject"
    },
    "AgentSession": {
      "id": "AgentSession",
      "type": "object",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      }
    },
    "Detection": {
      "id": "Detection",
      "type": "object",
      "properties": {
        "percentPagesMatched": {
          "type": "number",
          "format": "double"
        },
        "binary": {
          "type": "string"
        }
      }
    },
    "DataFlowEvent": {
      "id": "DataFlowEvent",
      "properties": {
        "principalEmail": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        },
        "violatedLocation": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "id": "GoogleCloudSecuritycenterV2CloudDlpInspection",
      "type": "object",
      "properties": {
        "infoTypeCount": {
          "format": "int64",
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoType": {
          "type": "string"
        }
      }
    },
    "Simulation": {
      "id": "Simulation",
      "type": "object",
      "properties": {
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "resourceValueConfigsMetadata": {
          "type": "array",
          "items": {
            "$ref": "ResourceValueConfigMetadata"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "properties": {
        "predicate": {
          "$ref": "Expr"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        },
        "description": {
          "type": "string"
        },
        "recommendation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudDlpInspection": {
      "id": "CloudDlpInspection",
      "type": "object",
      "properties": {
        "inspectJob": {
          "type": "string"
        },
        "infoType": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Network": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Network"
    },
    "GoogleCloudSecuritycenterV2CloudControl": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_CONTROL_TYPE_UNSPECIFIED",
            "BUILT_IN",
            "CUSTOM"
          ]
        },
        "policyType": {
          "type": "string"
        },
        "cloudControlName": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudSecuritycenterV2CloudControl"
    },
    "ListBigQueryExportsResponse": {
      "id": "ListBigQueryExportsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "bigQueryExports": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AzureResourceGroup": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "AzureResourceGroup",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContext": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContext",
      "properties": {
        "aggregatedCount": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
        },
        "context": {
          "$ref": "GoogleCloudSecuritycenterV2IssueSecurityContextContext"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "duration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2AdaptiveProtection": {
      "id": "GoogleCloudSecuritycenterV2AdaptiveProtection",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "ListFindingsResponse": {
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        },
        "listFindingsResults": {
          "type": "array",
          "items": {
            "$ref": "ListFindingsResult"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ListFindingsResponse"
    },
    "FileOperation": {
      "id": "FileOperation",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPEN",
            "READ",
            "RENAME",
            "WRITE",
            "EXECUTE"
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplication": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplication",
      "properties": {
        "name": {
          "type": "string"
        },
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        }
      },
      "type": "object"
    },
    "BatchCreateResourceValueConfigsResponse": {
      "type": "object",
      "properties": {
        "resourceValueConfigs": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1ResourceValueConfig"
          },
          "type": "array"
        }
      },
      "id": "BatchCreateResourceValueConfigsResponse"
    },
    "GoogleCloudSecuritycenterV2AgentSession": {
      "properties": {
        "sessionId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AgentSession"
    },
    "Disk": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "Disk",
      "type": "object"
    },
    "Subject": {
      "id": "Subject",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "ns": {
          "type": "string"
        }
      }
    },
    "Pod": {
      "id": "Pod",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ServiceAccountDelegationInfo": {
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "id": "ServiceAccountDelegationInfo",
      "type": "object"
    },
    "ResourceValueConfigMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "ResourceValueConfigMetadata"
    },
    "GoogleCloudSecuritycenterV2Folder": {
      "id": "GoogleCloudSecuritycenterV2Folder",
      "properties": {
        "resourceFolder": {
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "IpRules": {
      "id": "IpRules",
      "type": "object",
      "properties": {
        "denied": {
          "$ref": "Denied"
        },
        "exposedServices": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowed": {
          "$ref": "Allowed"
        },
        "destinationIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INGRESS",
            "EGRESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "sourceIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueDomain": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueDomain",
      "properties": {
        "domainCategory": {
          "type": "string",
          "enum": [
            "DOMAIN_CATEGORY_UNSPECIFIED",
            "AI",
            "CODE",
            "CONTAINER",
            "DATA",
            "IDENTITY_AND_ACCESS",
            "VULNERABILITY",
            "THREAT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CRITICALITY_TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Network": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Network",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "id": "GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "type": "string"
        },
        "condition": {
          "$ref": "Expr"
        }
      }
    },
    "AzureSubscription": {
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AzureSubscription"
    },
    "Chokepoint": {
      "type": "object",
      "properties": {
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Chokepoint"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "properties": {
        "cloudProvider": {
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "done": {
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "id": "GoogleCloudSecuritycenterV2AzureManagementGroup",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2ExternalExposure": {
      "properties": {
        "exposedEndpoint": {
          "type": "string"
        },
        "backendBucket": {
          "type": "string"
        },
        "networkIngressFirewallPolicy": {
          "type": "string"
        },
        "networkEndpointGroup": {
          "type": "string"
        },
        "internalBackendService": {
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string"
        },
        "instanceGroup": {
          "type": "string"
        },
        "networkPathInsightsGenerationTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "pscNetworkAttachment": {
          "type": "string"
        },
        "forwardingRule": {
          "type": "string"
        },
        "pscServiceAttachment": {
          "type": "string"
        },
        "privatePort": {
          "type": "string"
        },
        "exposedApplication": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "backendService": {
          "type": "string"
        },
        "loadBalancerFirewallPolicy": {
          "type": "string"
        },
        "exposedService": {
          "type": "string"
        },
        "publicPort": {
          "type": "string"
        },
        "serviceFirewallPolicy": {
          "type": "string"
        },
        "hostnameUri": {
          "type": "string"
        },
        "httpResponse": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2HttpResponse"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ExternalExposure"
    },
    "GoogleCloudSecuritycenterV2ToxicCombination": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2ToxicCombination",
      "properties": {
        "attackExposureScore": {
          "type": "number",
          "format": "double"
        },
        "relatedFindings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EffectiveEventThreatDetectionCustomModule": {
      "type": "object",
      "id": "EffectiveEventThreatDetectionCustomModule",
      "properties": {
        "config": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true,
          "type": "object"
        },
        "description": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "enablementState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "cloudProvider": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        }
      }
    },
    "AttackPathNode": {
      "type": "object",
      "id": "AttackPathNode",
      "properties": {
        "uuid": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "associatedFindings": {
          "type": "array",
          "items": {
            "$ref": "PathNodeAssociatedFinding"
          }
        },
        "resourceType": {
          "type": "string"
        },
        "attackSteps": {
          "type": "array",
          "items": {
            "$ref": "AttackStepNode"
          }
        },
        "resource": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount"
    },
    "GoogleCloudSecuritycenterV2Disk": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Disk"
    },
    "Connection": {
      "type": "object",
      "id": "Connection",
      "properties": {
        "destinationIp": {
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StaticMute": {
      "id": "StaticMute",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "applyTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AdcApplication": {
      "id": "AdcApplication",
      "properties": {
        "attributes": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceApplicationAttributes"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cve": {
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          }
        },
        "exploitationActivity": {
          "type": "string",
          "enum": [
            "EXPLOITATION_ACTIVITY_UNSPECIFIED",
            "WIDE",
            "CONFIRMED",
            "AVAILABLE",
            "ANTICIPATED",
            "NO_KNOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "observedInTheWild": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "cvssv3": {
          "$ref": "Cvssv3"
        },
        "firstExploitationDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "upstreamFixAvailable": {
          "type": "boolean"
        },
        "zeroDay": {
          "type": "boolean"
        },
        "exploitReleaseDate": {
          "format": "google-datetime",
          "type": "string"
        },
        "impact": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "id": "Cve",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Denied": {
      "id": "GoogleCloudSecuritycenterV2Denied",
      "type": "object",
      "properties": {
        "ipRules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2IpRule"
          },
          "type": "array"
        }
      }
    },
    "PortRange": {
      "properties": {
        "min": {
          "format": "int64",
          "type": "string"
        },
        "max": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PortRange",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Resource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2Resource",
      "properties": {
        "name": {
          "type": "string"
        },
        "cloudProvider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLOUD_PROVIDER_UNSPECIFIED",
            "GOOGLE_CLOUD_PLATFORM",
            "AMAZON_WEB_SERVICES",
            "MICROSOFT_AZURE"
          ]
        },
        "adcApplicationTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision"
        },
        "displayName": {
          "type": "string"
        },
        "resourcePath": {
          "$ref": "GoogleCloudSecuritycenterV2ResourcePath"
        },
        "location": {
          "type": "string"
        },
        "adcSharedTemplate": {
          "$ref": "GoogleCloudSecuritycenterV2AdcSharedTemplateRevision"
        },
        "service": {
          "type": "string"
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2ResourceApplication"
        },
        "type": {
          "type": "string"
        },
        "resourcePathString": {
          "type": "string"
        },
        "gcpMetadata": {
          "$ref": "GcpMetadata"
        },
        "adcApplication": {
          "$ref": "GoogleCloudSecuritycenterV2AdcApplication"
        },
        "awsMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AwsMetadata"
        },
        "azureMetadata": {
          "$ref": "GoogleCloudSecuritycenterV2AzureMetadata"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AwsAccount": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2AwsAccount"
    },
    "GoogleCloudSecuritycenterV2Secret": {
      "id": "GoogleCloudSecuritycenterV2Secret",
      "type": "object",
      "properties": {
        "environmentVariable": {
          "$ref": "GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "filePath": {
          "$ref": "GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "status": {
          "$ref": "GoogleCloudSecuritycenterV2SecretStatus"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "SetMuteRequest": {
      "type": "object",
      "id": "SetMuteRequest",
      "properties": {
        "mute": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        }
      }
    },
    "GroupAssetsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32"
        },
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GroupAssetsResponse"
    },
    "DataAccessEvent": {
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "eventId": {
          "type": "string"
        },
        "principalEmail": {
          "type": "string"
        }
      },
      "id": "DataAccessEvent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2Object": {
      "properties": {
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "name": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "ns": {
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV2Object",
      "type": "object"
    },
    "VulnerabilitySnapshot": {
      "properties": {
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime"
        },
[...]
