{
  "protocol": "rest",
  "version_module": true,
  "basePath": "",
  "canonicalName": "Security Command Center",
  "endpoints": [
    {
      "location": "me-central2",
      "endpointUrl": "https://securitycenter.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://securitycenter.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://securitycenter.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "servicePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "getSecurityCenterSettings": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "required": true
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings"
        },
        "updateWebSecurityScannerSettings": {
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "getContainerThreatDetectionSettings": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "updateEventThreatDetectionSettings": {
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "id": "securitycenter.projects.updateEventThreatDetectionSettings"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        },
        "getRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings"
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true
            }
          },
          "id": "securitycenter.projects.getEventThreatDetectionSettings"
        },
        "getSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          }
        },
        "getWebSecurityScannerSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "getContainerThreatDetectionSettings": {
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": "",
                  "path": "v1beta2/{+name}",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                },
                "updateContainerThreatDetectionSettings": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "path": "v1beta2/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/securitycenter"
                  ],
                  "description": ""
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "showEligibleModulesOnly": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/securitycenter"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "path": "v1beta2/{+name}:calculate"
                    }
                  }
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate"
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "getSecurityCenterSettings": {
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateWebSecurityScannerSettings": {
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.folders.getContainerThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "updateContainerThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        },
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        },
        "updateSecurityHealthAnalyticsSettings": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        },
        "getRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings"
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": ""
        },
        "getSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings"
        },
        "getEventThreatDetectionSettings": {
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "getWebSecurityScannerSettings": {
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}"
        }
      },
      "resources": {
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "location": "path"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.getWebSecurityScannerSettings"
        },
        "getSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true
            }
          },
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings"
        },
        "getEventThreatDetectionSettings": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings"
        },
        "updateEventThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          }
        },
        "getRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings"
        },
        "getSubscription": {
          "id": "securitycenter.organizations.getSubscription",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/subscription$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "response": {
            "$ref": "Subscription"
          },
          "path": "v1beta2/{+name}"
        },
        "getContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path"
            }
          },
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateWebSecurityScannerSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings"
        },
        "getSecurityCenterSettings": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/securitycenter"
          ],
          "description": "",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              }
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": "",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "showEligibleModulesOnly": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/securitycenter"
              ],
              "description": ""
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://securitycenter.googleapis.com/",
  "revision": "20260730",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "id": "securitycenter:v1beta2",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudSecuritycenterV2Exfiltration": {
      "id": "GoogleCloudSecuritycenterV2Exfiltration",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2ExfilResource"
          }
        },
        "totalExfiltratedBytes": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "properties": {
        "dataset": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "type": "object"
    },
    "MitreAttack": {
      "properties": {
        "primaryTactic": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "version": {
          "type": "string"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        },
        "primaryTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "DATA_OBFUSCATION",
              "DATA_OBFUSCATION_STEGANOGRAPHY",
              "OS_CREDENTIAL_DUMPING",
              "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM",
              "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW",
              "DATA_FROM_LOCAL_SYSTEM",
              "AUTOMATED_EXFILTRATION",
              "OBFUSCATED_FILES_OR_INFO",
              "STEGANOGRAPHY",
              "COMPILE_AFTER_DELIVERY",
              "COMMAND_OBFUSCATION",
              "SCHEDULED_TRANSFER",
              "SYSTEM_OWNER_USER_DISCOVERY",
              "MASQUERADING",
              "MATCH_LEGITIMATE_NAME_OR_LOCATION",
              "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS",
              "STARTUP_ITEMS",
              "NETWORK_SERVICE_DISCOVERY",
              "SCHEDULED_TASK_JOB",
              "SCHEDULED_TASK_JOB_CRON",
              "CONTAINER_ORCHESTRATION_JOB",
              "PROCESS_INJECTION",
              "INPUT_CAPTURE",
              "INPUT_CAPTURE_KEYLOGGING",
              "PROCESS_DISCOVERY",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "PYTHON",
              "EXPLOITATION_FOR_PRIVILEGE_ESCALATION",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "INDICATOR_REMOVAL",
              "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS",
              "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY",
              "INDICATOR_REMOVAL_FILE_DELETION",
              "INDICATOR_REMOVAL_TIMESTOMP",
              "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA",
              "APPLICATION_LAYER_PROTOCOL",
              "DNS",
              "SOFTWARE_DEPLOYMENT_TOOLS",
              "VALID_ACCOUNTS",
              "DEFAULT_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "FILE_AND_DIRECTORY_DISCOVERY",
              "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "ACCOUNT_MANIPULATION",
              "ADDITIONAL_CLOUD_CREDENTIALS",
              "ADDITIONAL_CLOUD_ROLES",
              "SSH_AUTHORIZED_KEYS",
              "ADDITIONAL_CONTAINER_CLUSTER_ROLES",
              "MULTI_STAGE_CHANNELS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "BRUTE_FORCE",
              "AUTOMATED_COLLECTION",
              "SHARED_MODULES",
              "DATA_ENCODING",
              "STANDARD_ENCODING",
              "ACCESS_TOKEN_MANIPULATION",
              "TOKEN_IMPERSONATION_OR_THEFT",
              "CREATE_ACCOUNT",
              "LOCAL_ACCOUNT",
              "DEOBFUSCATE_DECODE_FILES_OR_INFO",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "SUPPLY_CHAIN_COMPROMISE",
              "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS",
              "EXPLOITATION_FOR_CLIENT_EXECUTION",
              "USER_EXECUTION",
              "EXPLOITATION_FOR_CREDENTIAL_ACCESS",
              "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION",
              "DOMAIN_POLICY_MODIFICATION",
              "DATA_DESTRUCTION",
              "DATA_ENCRYPTED_FOR_IMPACT",
              "SERVICE_STOP",
              "INHIBIT_SYSTEM_RECOVERY",
              "FIRMWARE_CORRUPTION",
              "RESOURCE_HIJACKING",
              "NETWORK_DENIAL_OF_SERVICE",
              "CLOUD_SERVICE_DISCOVERY",
              "STEAL_APPLICATION_ACCESS_TOKEN",
              "ACCOUNT_ACCESS_REMOVAL",
              "TRANSFER_DATA_TO_CLOUD_ACCOUNT",
              "STEAL_WEB_SESSION_COOKIE",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "EVENT_TRIGGERED_EXECUTION",
              "BOOT_OR_LOGON_AUTOSTART_EXECUTION",
              "KERNEL_MODULES_AND_EXTENSIONS",
              "SHORTCUT_MODIFICATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID",
              "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING",
              "UNSECURED_CREDENTIALS",
              "CREDENTIALS_IN_FILES",
              "BASH_HISTORY",
              "PRIVATE_KEYS",
              "SUBVERT_TRUST_CONTROL",
              "INSTALL_ROOT_CERTIFICATE",
              "COMPROMISE_HOST_SOFTWARE_BINARY",
              "CREDENTIALS_FROM_PASSWORD_STORES",
              "MODIFY_AUTHENTICATION_PROCESS",
              "PLUGGABLE_AUTHENTICATION_MODULES",
              "MULTI_FACTOR_AUTHENTICATION",
              "IMPAIR_DEFENSES",
              "DISABLE_OR_MODIFY_TOOLS",
              "INDICATOR_BLOCKING",
              "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM",
              "HIDE_ARTIFACTS",
              "HIDDEN_FILES_AND_DIRECTORIES",
              "HIDDEN_USERS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "DYNAMIC_RESOLUTION",
              "LATERAL_TOOL_TRANSFER",
              "HIJACK_EXECUTION_FLOW",
              "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "CREATE_SNAPSHOT",
              "CLOUD_INFRASTRUCTURE_DISCOVERY",
              "DEVELOP_CAPABILITIES",
              "DEVELOP_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES",
              "OBTAIN_CAPABILITIES_MALWARE",
              "OBTAIN_CAPABILITIES_VULNERABILITIES",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "STAGE_CAPABILITIES",
              "UPLOAD_MALWARE",
              "CONTAINER_ADMINISTRATION_COMMAND",
              "DEPLOY_CONTAINER",
              "ESCAPE_TO_HOST",
              "CONTAINER_AND_RESOURCE_DISCOVERY",
              "REFLECTIVE_CODE_LOADING",
              "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES",
              "FINANCIAL_THEFT"
            ]
          }
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        }
      },
      "id": "MitreAttack",
      "type": "object"
    },
    "Denied": {
      "properties": {
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "IpRule"
          }
        }
      },
      "type": "object",
      "id": "Denied"
    },
    "GoogleCloudSecuritycenterV2ProcessSignature": {
      "properties": {
        "yaraRuleSignature": {
          "$ref": "GoogleCloudSecuritycenterV2YaraRuleSignature"
        },
        "memoryHashSignature": {
          "$ref": "GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "signatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SIGNATURE_TYPE_UNSPECIFIED",
            "SIGNATURE_TYPE_PROCESS",
            "SIGNATURE_TYPE_FILE"
          ]
        }
      },
      "id": "GoogleCloudSecuritycenterV2ProcessSignature",
      "type": "object"
    },
    "OrgPolicy": {
      "type": "object",
      "id": "OrgPolicy",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV2IpRule": {
      "id": "GoogleCloudSecuritycenterV2IpRule",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string"
        },
        "portRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2PortRange"
          }
        }
      }
    },
    "CloudDlpInspection": {
      "properties": {
        "infoType": {
          "type": "string"
        },
        "fullScan": {
          "type": "boolean"
        },
        "inspectJob": {
          "type": "string"
        },
        "infoTypeCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "CloudDlpInspection"
    },
    "Requests": {
      "properties": {
        "longTermDenied": {
          "type": "integer",
          "format": "int32"
        },
        "shortTermAllowed": {
          "format": "int32",
          "type": "integer"
        },
        "longTermAllowed": {
          "type": "integer",
          "format": "int32"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "Requests",
      "type": "object"
    },
    "AgentSession": {
      "type": "object",
      "id": "AgentSession",
      "properties": {
        "sessionId": {
          "type": "string"
        }
      }
    },
    "Notebook": {
      "id": "Notebook",
      "type": "object",
      "properties": {
        "lastAuthor": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "notebookUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2AzureResourceGroup": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2AzureResourceGroup",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "HttpResponse": {
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "HttpResponse"
    },
    "AgentDataAccessEvent": {
      "properties": {
        "principalSubject": {
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "READ",
            "MOVE",
            "COPY"
          ]
        }
      },
      "id": "AgentDataAccessEvent",
      "type": "object"
    },
    "DataRetentionDeletionEvent": {
      "properties": {
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "DataRetentionDeletionEvent",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContactDetails": {
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "type": "object",
      "id": "ContactDetails"
    },
    "GoogleCloudSecuritycenterV2IamRolePermission": {
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IamRolePermission"
    },
    "GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2IssueSecurityContextContext",
      "properties": {
        "type": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Chokepoint": {
      "properties": {
        "relatedFindings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Chokepoint",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "id": "GoogleCloudSecuritycenterV2CloudLoggingEntry",
      "type": "object",
      "properties": {
        "insertId": {
          "type": "string"
        },
        "resourceContainer": {
          "type": "string"
        },
        "logId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent": {
      "properties": {
        "minRetentionAllowed": {
          "format": "google-duration",
          "type": "string"
        },
        "eventDetectionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "maxRetentionAllowed": {
          "type": "string",
          "format": "google-duration"
        },
        "eventType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_MAX_TTL_EXCEEDED",
            "EVENT_TYPE_MAX_TTL_FROM_CREATION",
            "EVENT_TYPE_MAX_TTL_FROM_LAST_MODIFICATION",
            "EVENT_TYPE_MIN_TTL_FROM_CREATION"
          ]
        },
        "dataObjectCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
    },
    "GoogleCloudSecuritycenterV2Finding": {
      "properties": {
        "indicator": {
          "$ref": "GoogleCloudSecuritycenterV2Indicator"
        },
        "aiModel": {
          "$ref": "GoogleCloudSecuritycenterV2AiModel"
        },
        "notebook": {
          "$ref": "GoogleCloudSecuritycenterV2Notebook"
        },
        "kubernetes": {
          "$ref": "GoogleCloudSecuritycenterV2Kubernetes"
        },
        "loadBalancers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2LoadBalancer"
          }
        },
        "containers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Container"
          }
        },
        "chokepoint": {
          "$ref": "GoogleCloudSecuritycenterV2Chokepoint"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "externalExposure": {
          "$ref": "GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "artifactGuardPolicies": {
          "$ref": "GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "cloudArmor": {
          "$ref": "GoogleCloudSecuritycenterV2CloudArmor"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Network"
          }
        },
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "application": {
          "$ref": "GoogleCloudSecuritycenterV2Application"
        },
        "dataRetentionDeletionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
          }
        },
        "secret": {
          "$ref": "GoogleCloudSecuritycenterV2Secret"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2Connection"
          }
        },
        "vertexAi": {
          "$ref": "GoogleCloudSecuritycenterV2VertexAi"
        },
        "cloudDlpDataProfile": {
          "$ref": "GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "agent": {
          "$ref": "GoogleCloudSecuritycenterV2Agent"
        },
        "muteInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV2MuteInfo"
        },
        "description": {
          "type": "string"
        },
        "nextSteps": {
          "type": "string"
        },
        "externalUri": {
          "type": "string"
        },
        "externalSystems": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ExternalSystem"
          }
        },
        "kernelRootkit": {
          "$ref": "GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "dataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2DataAccessEvent"
          }
        },
        "agentDataAccessEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV2AgentDataAccessEvent"
          }
        },
        "contacts": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV2ContactDetails"
          }
        },
        "database": {
          "$ref": "GoogleCloudSecuritycenterV2Database"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
[...]
