{
  "name": "sheets",
  "discoveryVersion": "v1",
  "revision": "20260701",
  "schemas": {
    "SearchDeveloperMetadataRequest": {
      "description": "A request to retrieve all developer metadata matching the set of specified criteria.",
      "type": "object",
      "properties": {
        "dataFilters": {
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          },
          "description": "The data filters describing the criteria used to determine which DeveloperMetadata entries to return. DeveloperMetadata matching any of the specified filters are included in the response."
        }
      },
      "id": "SearchDeveloperMetadataRequest"
    },
    "UpdateEmbeddedObjectPositionRequest": {
      "id": "UpdateEmbeddedObjectPositionRequest",
      "type": "object",
      "properties": {
        "objectId": {
          "format": "int32",
          "description": "The ID of the object to moved.",
          "type": "integer"
        },
        "newPosition": {
          "$ref": "EmbeddedObjectPosition",
          "description": "An explicit position to move the embedded object to. If newPosition.sheetId is set, a new sheet with that ID will be created. If newPosition.newSheet is set to true, a new sheet will be created with an ID that will be chosen for you."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields of OverlayPosition that should be updated when setting a new position. Used only if newPosition.overlayPosition is set, in which case at least one field must be specified. The root `newPosition.overlayPosition` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        }
      },
      "description": "Update an embedded object's position (such as a moving or resizing a chart or image)."
    },
    "DataSourceObjectReference": {
      "description": "Reference to a data source object.",
      "id": "DataSourceObjectReference",
      "type": "object",
      "properties": {
        "dataSourcePivotTableAnchorCell": {
          "description": "References to a data source PivotTable anchored at the cell.",
          "$ref": "GridCoordinate"
        },
        "sheetId": {
          "description": "References to a DATA_SOURCE sheet.",
          "type": "string"
        },
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "References to a data source chart."
        },
        "dataSourceFormulaCell": {
          "$ref": "GridCoordinate",
          "description": "References to a cell containing DataSourceFormula."
        },
        "dataSourceTableAnchorCell": {
          "$ref": "GridCoordinate",
          "description": "References to a DataSourceTable anchored at the cell."
        }
      }
    },
    "CellFormat": {
      "type": "object",
      "properties": {
        "backgroundColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color of the cell. If background_color is also set, this field takes precedence."
        },
        "verticalAlignment": {
          "description": "The vertical alignment of the value in the cell.",
          "enumDescriptions": [
            "The vertical alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the top of the cell.",
            "The text is explicitly aligned to the middle of the cell.",
            "The text is explicitly aligned to the bottom of the cell."
          ],
          "enum": [
            "VERTICAL_ALIGN_UNSPECIFIED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "type": "string"
        },
        "wrapStrategy": {
          "type": "string",
          "enum": [
            "WRAP_STRATEGY_UNSPECIFIED",
            "OVERFLOW_CELL",
            "LEGACY_WRAP",
            "CLIP",
            "WRAP"
          ],
          "description": "The wrap strategy for the value in the cell.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Lines that are longer than the cell width will be written in the next cell over, so long as that cell is empty. If the next cell over is non-empty, this behaves the same as `CLIP`. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline that is very long. <- Text continues into next cell | Next newline. |",
            "This wrap strategy represents the old Google Sheets wrap strategy where words that are longer than a line are clipped rather than broken. This strategy is not supported on all platforms and is being phased out. Example: | Cell has a | | loooooooooo| <- Word is clipped. | word. |",
            "Lines that are longer than the cell width will be clipped. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline t| <- Text is clipped | Next newline. |",
            "Words that are longer than a line are wrapped at the character level rather than clipped. Example: | Cell has a | | loooooooooo| <- Word is broken. | ong word. |"
          ]
        },
        "textDirection": {
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "type": "string",
          "description": "The direction of the text in the cell.",
          "enumDescriptions": [
            "The text direction is not specified. Do not use this.",
            "The text direction of left-to-right was set by the user.",
            "The text direction of right-to-left was set by the user."
          ]
        },
        "textRotation": {
          "$ref": "TextRotation",
          "description": "The rotation applied to text in the cell."
        },
        "padding": {
          "$ref": "Padding",
          "description": "The padding of the cell."
        },
        "textFormat": {
          "description": "The format of the text in the cell (unless overridden by a format run). Setting a cell-level link here clears the cell's existing links. Setting the link field in a TextFormatRun takes precedence over the cell-level link.",
          "$ref": "TextFormat"
        },
        "numberFormat": {
          "$ref": "NumberFormat",
          "description": "A format describing how number values should be represented to the user."
        },
        "hyperlinkDisplayType": {
          "description": "If one exists, how a hyperlink should be displayed in the cell.",
          "enumDescriptions": [
            "The default value: the hyperlink is rendered. Do not use this.",
            "A hyperlink should be explicitly rendered.",
            "A hyperlink should not be rendered."
          ],
          "type": "string",
          "enum": [
            "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
            "LINKED",
            "PLAIN_TEXT"
          ]
        },
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background color of the cell. Deprecated: Use background_color_style.",
          "deprecated": true
        },
        "borders": {
          "description": "The borders of the cell.",
          "$ref": "Borders"
        },
        "horizontalAlignment": {
          "description": "The horizontal alignment of the value in the cell.",
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ]
        }
      },
      "id": "CellFormat",
      "description": "The format of a cell."
    },
    "TextPosition": {
      "type": "object",
      "properties": {
        "horizontalAlignment": {
          "description": "Horizontal alignment setting for the piece of text.",
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "type": "string"
        }
      },
      "id": "TextPosition",
      "description": "Position settings for text."
    },
    "RowData": {
      "description": "Data about each cell in a row.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "CellData"
          },
          "description": "The values in the row, one per column."
        }
      },
      "id": "RowData"
    },
    "Sheet": {
      "id": "Sheet",
      "type": "object",
      "properties": {
        "basicFilter": {
          "$ref": "BasicFilter",
          "description": "The filter on this sheet, if any."
        },
        "merges": {
          "type": "array",
          "items": {
            "$ref": "GridRange"
          },
          "description": "The ranges that are merged together."
        },
        "columnGroups": {
          "description": "All column groups on this sheet, ordered by increasing range start index, then by group depth.",
          "items": {
            "$ref": "DimensionGroup"
          },
          "type": "array"
        },
        "rowGroups": {
          "description": "All row groups on this sheet, ordered by increasing range start index, then by group depth.",
          "items": {
            "$ref": "DimensionGroup"
          },
          "type": "array"
        },
        "tables": {
          "items": {
            "$ref": "Table"
          },
          "description": "The tables on this sheet.",
          "type": "array"
        },
        "bandedRanges": {
          "items": {
            "$ref": "BandedRange"
          },
          "description": "The banded (alternating colors) ranges on this sheet.",
          "type": "array"
        },
        "slicers": {
          "description": "The slicers on this sheet.",
          "items": {
            "$ref": "Slicer"
          },
          "type": "array"
        },
        "conditionalFormats": {
          "items": {
            "$ref": "ConditionalFormatRule"
          },
          "description": "The conditional format rules in this sheet.",
          "type": "array"
        },
        "data": {
          "type": "array",
          "description": "Data in the grid, if this is a grid sheet. The number of GridData objects returned is dependent on the number of ranges requested on this sheet. For example, if this is representing `Sheet1`, and the spreadsheet was requested with ranges `Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a startRow/startColumn of `0`, while the second one will have `startRow 14` (zero-based row 15), and `startColumn 3` (zero-based column D). For a DATA_SOURCE sheet, you can not request a specific range, the GridData contains all the values.",
          "items": {
            "$ref": "GridData"
          }
        },
        "charts": {
          "type": "array",
          "items": {
            "$ref": "EmbeddedChart"
          },
          "description": "The specifications of every chart on this sheet."
        },
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the sheet."
        },
        "protectedRanges": {
          "description": "The protected ranges in this sheet.",
          "items": {
            "$ref": "ProtectedRange"
          },
          "type": "array"
        },
        "filterViews": {
          "items": {
            "$ref": "FilterView"
          },
          "description": "The filter views in this sheet.",
          "type": "array"
        },
        "developerMetadata": {
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The developer metadata associated with a sheet.",
          "type": "array"
        }
      },
      "description": "A sheet in a spreadsheet."
    },
    "BatchClearValuesResponse": {
      "id": "BatchClearValuesResponse",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "clearedRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ranges that were cleared, in A1 notation. If the requests are for an unbounded range or a range larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits."
        }
      },
      "description": "The response when clearing a range of values in a spreadsheet."
    },
    "Chip": {
      "description": "The Smart Chip.",
      "id": "Chip",
      "type": "object",
      "properties": {
        "personProperties": {
          "description": "Properties of a linked person.",
          "$ref": "PersonProperties"
        },
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "description": "Properties of a rich link."
        }
      }
    },
    "DataSourceRefreshMonthlySchedule": {
      "description": "A monthly schedule for data to refresh on specific days in the month in a given time interval.",
      "id": "DataSourceRefreshMonthlySchedule",
      "type": "object",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor."
        },
        "daysOfMonth": {
          "description": "Days of the month to refresh. Only 1-28 are supported, mapping to the 1st to the 28th day. At least one day must be specified.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      }
    },
    "ClearValuesRequest": {
      "description": "The request for clearing a range of values in a spreadsheet.",
      "id": "ClearValuesRequest",
      "type": "object",
      "properties": {}
    },
    "MatchedValueRange": {
      "type": "object",
      "properties": {
        "valueRange": {
          "$ref": "ValueRange",
          "description": "The values matched by the DataFilter."
        },
        "dataFilters": {
          "description": "The DataFilters from the request that matched the range of values.",
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array"
        }
      },
      "id": "MatchedValueRange",
      "description": "A value range that was matched by one or more data filers."
    },
    "DuplicateSheetRequest": {
      "id": "DuplicateSheetRequest",
      "type": "object",
      "properties": {
        "insertSheetIndex": {
          "type": "integer",
          "description": "The zero-based index where the new sheet should be inserted. The index of all sheets after this are incremented.",
          "format": "int32"
        },
        "sourceSheetId": {
          "description": "The sheet to duplicate. If the source sheet is of DATA_SOURCE type, its backing DataSource is also duplicated and associated with the new copy of the sheet. No data execution is triggered, the grid data of this sheet is also copied over but only available after the batch request completes.",
          "format": "int32",
          "type": "integer"
        },
        "newSheetId": {
          "type": "integer",
          "description": "If set, the ID of the new sheet. If not set, an ID is chosen. If set, the ID must not conflict with any existing sheet ID. If set, it must be non-negative.",
          "format": "int32"
        },
        "newSheetName": {
          "description": "The name of the new sheet. If empty, a new name is chosen for you.",
          "type": "string"
        }
      },
      "description": "Duplicates the contents of a sheet."
    },
    "ClearValuesResponse": {
      "description": "The response when clearing a range of values in a spreadsheet.",
      "id": "ClearValuesResponse",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "clearedRange": {
          "description": "The range (in A1 notation) that was cleared. (If the request was for an unbounded range or a range larger than the bounds of the sheet, this will be the actual range that was cleared, bounded to the sheet's limits.)",
          "type": "string"
        }
      }
    },
    "TextFormatRun": {
      "description": "A run of a text format. The format of this run continues until the start index of the next run. When updating, all fields must be set.",
      "id": "TextFormatRun",
      "type": "object",
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The zero-based character index where this run starts, in UTF-16 code units.",
          "format": "int32"
        },
        "format": {
          "description": "The format of this run. Absent values inherit the cell's format.",
          "$ref": "TextFormat"
        }
      }
    },
    "UpdateBordersRequest": {
      "description": "Updates the borders of a range. If a field is not set in the request, that means the border remains as-is. For example, with two subsequent UpdateBordersRequest: 1. range: A1:A5 `{ top: RED, bottom: WHITE }` 2. range: A1:A5 `{ left: BLUE }` That would result in A1:A5 having a borders of `{ top: RED, bottom: WHITE, left: BLUE }`. If you want to clear a border, explicitly set the style to NONE.",
      "id": "UpdateBordersRequest",
      "type": "object",
      "properties": {
        "top": {
          "$ref": "Border",
          "description": "The border to put at the top of the range."
        },
        "bottom": {
          "description": "The border to put at the bottom of the range.",
          "$ref": "Border"
        },
        "innerHorizontal": {
          "description": "The horizontal border to put within the range.",
          "$ref": "Border"
        },
        "range": {
          "description": "The range whose borders should be updated.",
          "$ref": "GridRange"
        },
        "left": {
          "description": "The border to put at the left of the range.",
          "$ref": "Border"
        },
        "right": {
          "$ref": "Border",
          "description": "The border to put at the right of the range."
        },
        "innerVertical": {
          "$ref": "Border",
          "description": "The vertical border to put within the range."
        }
      }
    },
    "BatchUpdateValuesByDataFilterRequest": {
      "description": "The request for updating more than one range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "includeValuesInResponse": {
          "type": "boolean",
          "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
        },
        "responseDateTimeRenderOption": {
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "type": "string",
          "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ]
        },
        "data": {
          "items": {
            "$ref": "DataFilterValueRange"
          },
          "description": "The new values to apply to the spreadsheet. If more than one range is matched by the specified DataFilter the specified values are applied to all of those ranges.",
          "type": "array"
        },
        "responseValueRenderOption": {
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "type": "string",
          "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
          "enumDescriptions": [
            "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
          ]
        },
        "valueInputOption": {
          "description": "How the input data should be interpreted.",
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored as-is.",
            "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
          ],
          "type": "string",
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ]
        }
      },
      "id": "BatchUpdateValuesByDataFilterRequest"
    },
    "AddConditionalFormatRuleRequest": {
      "description": "Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented.",
      "id": "AddConditionalFormatRuleRequest",
      "type": "object",
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule to add."
        },
        "index": {
          "description": "The zero-based index where the rule should be inserted.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "WaterfallChartCustomSubtotal": {
      "description": "A custom subtotal column for a waterfall chart series.",
      "type": "object",
      "properties": {
        "subtotalIndex": {
          "description": "The zero-based index of a data point within the series. If data_is_subtotal is true, the data point at this index is the subtotal. Otherwise, the subtotal appears after the data point with this index. A series can have multiple subtotals at arbitrary indices, but subtotals do not affect the indices of the data points. For example, if a series has three data points, their indices will always be 0, 1, and 2, regardless of how many subtotals exist on the series or what data points they are associated with.",
          "format": "int32",
          "type": "integer"
        },
        "label": {
          "type": "string",
          "description": "A label for the subtotal column."
        },
        "dataIsSubtotal": {
          "description": "True if the data point at subtotal_index is the subtotal. If false, the subtotal will be computed and appear after the data point.",
          "type": "boolean"
        }
      },
      "id": "WaterfallChartCustomSubtotal"
    },
    "UpdateDeveloperMetadataResponse": {
      "description": "The response from updating developer metadata.",
      "id": "UpdateDeveloperMetadataResponse",
      "type": "object",
      "properties": {
        "developerMetadata": {
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The updated developer metadata.",
          "type": "array"
        }
      }
    },
    "AddNamedRangeRequest": {
      "id": "AddNamedRangeRequest",
      "type": "object",
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to add. The namedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
        }
      },
      "description": "Adds a named range to the spreadsheet."
    },
    "BubbleChartSpec": {
      "type": "object",
      "properties": {
        "legendPosition": {
          "description": "Where the legend of the chart should be drawn.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "The legend is rendered inside the chart area."
          ],
          "enum": [
            "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "INSIDE_LEGEND"
          ],
          "type": "string"
        },
        "bubbleMaxRadiusSize": {
          "format": "int32",
          "description": "The max radius size of the bubbles, in pixels. If specified, the field must be a positive value.",
          "type": "integer"
        },
        "bubbleMinRadiusSize": {
          "type": "integer",
          "description": "The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value.",
          "format": "int32"
        },
        "bubbleSizes": {
          "description": "The data containing the bubble sizes. Bubble sizes are used to draw the bubbles at different sizes relative to each other. If specified, group_ids must also be specified. This field is optional.",
          "$ref": "ChartData"
        },
        "bubbleOpacity": {
          "description": "The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque.",
          "format": "float",
          "type": "number"
        },
        "series": {
          "description": "The data containing the bubble y-values. These values locate the bubbles in the chart vertically.",
          "$ref": "ChartData"
        },
        "bubbleLabels": {
          "description": "The data containing the bubble labels. These do not need to be unique.",
          "$ref": "ChartData"
        },
        "domain": {
          "description": "The data containing the bubble x-values. These values locate the bubbles in the chart horizontally.",
          "$ref": "ChartData"
        },
        "groupIds": {
          "description": "The data containing the bubble group IDs. All bubbles with the same group ID are drawn in the same color. If bubble_sizes is specified then this field must also be specified but may contain blank values. This field is optional.",
          "$ref": "ChartData"
        },
        "bubbleTextStyle": {
          "description": "The format of the text inside the bubbles. Strikethrough, underline, and link are not supported.",
          "$ref": "TextFormat"
        },
        "bubbleBorderColorStyle": {
          "$ref": "ColorStyle",
          "description": "The bubble border color. If bubble_border_color is also set, this field takes precedence."
        },
        "bubbleBorderColor": {
          "description": "The bubble border color. Deprecated: Use bubble_border_color_style.",
          "deprecated": true,
          "$ref": "Color"
        }
      },
      "id": "BubbleChartSpec",
      "description": "A bubble chart."
    },
    "ThemeColorPair": {
      "type": "object",
      "properties": {
        "color": {
          "$ref": "ColorStyle",
          "description": "The concrete color corresponding to the theme color type."
        },
        "colorType": {
          "description": "The type of the spreadsheet theme color.",
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ],
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ],
          "type": "string"
        }
      },
      "id": "ThemeColorPair",
      "description": "A pair mapping a spreadsheet theme color type to the concrete color it represents."
    },
    "MoveDimensionRequest": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "DimensionRange",
          "description": "The source dimensions to move."
        },
        "destinationIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of where to move the source data to, based on the coordinates *before* the source data is removed from the grid. Existing data will be shifted down or right (depending on the dimension) to make room for the moved dimensions. The source dimensions are removed from the grid, so the the data may end up in a different index than specified. For example, given `A1..A5` of `0, 1, 2, 3, 4` and wanting to move `\"1\"` and `\"2\"` to between `\"3\"` and `\"4\"`, the source would be `ROWS [1..3)`,and the destination index would be `\"4\"` (the zero-based index of row 5). The end result would be `A1..A5` of `0, 3, 1, 2, 4`."
        }
      },
      "id": "MoveDimensionRequest",
      "description": "Moves one or more rows or columns."
    },
    "DataSourceColumnReference": {
      "description": "An unique identifier that references a data source column.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The display name of the column. It should be unique within a data source."
        }
      },
      "id": "DataSourceColumnReference"
    },
    "GetSpreadsheetByDataFilterRequest": {
      "id": "GetSpreadsheetByDataFilterRequest",
      "type": "object",
      "properties": {
        "excludeTablesInBandedRanges": {
          "type": "boolean",
          "description": "True if tables should be excluded in the banded ranges. False if not set."
        },
        "dataFilters": {
          "description": "The DataFilters used to select which ranges to retrieve from the spreadsheet.",
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array"
        },
        "includeGridData": {
          "type": "boolean",
          "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
        }
      },
      "description": "The request for retrieving a Spreadsheet."
    },
    "AppendCellsRequest": {
      "id": "AppendCellsRequest",
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tableId": {
          "description": "The ID of the table to append data to. The data will be only appended to the table body. This field also takes precedence over the `sheet_id` field.",
          "type": "string"
        },
        "sheetId": {
          "description": "The sheet ID to append the data to.",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "description": "The data to append.",
          "items": {
            "$ref": "RowData"
          },
          "type": "array"
        }
      },
      "description": "Adds new cells after the last row with data in a sheet, inserting new rows into the sheet if necessary."
    },
    "BatchUpdateSpreadsheetRequest": {
      "type": "object",
      "properties": {
        "responseRanges": {
          "type": "array",
          "description": "Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'.",
          "items": {
            "type": "string"
          }
        },
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the spreadsheet. Requests will be applied in the order they are specified. If any request is not valid, no requests will be applied.",
          "type": "array"
        },
        "includeSpreadsheetInResponse": {
          "description": "Determines if the update response should include the spreadsheet resource.",
          "type": "boolean"
        },
        "responseIncludeGridData": {
          "description": "True if grid data should be returned. Meaningful only if include_spreadsheet_in_response is 'true'. This parameter is ignored if a field mask was set in the request.",
          "type": "boolean"
        }
      },
      "id": "BatchUpdateSpreadsheetRequest",
      "description": "The request for updating any aspect of a spreadsheet."
    },
    "TextFormat": {
      "description": "The format of a run of text in a cell. Absent values indicate that the field isn't specified.",
      "type": "object",
      "properties": {
        "bold": {
          "type": "boolean",
          "description": "True if the text is bold."
        },
        "underline": {
          "description": "True if the text is underlined.",
          "type": "boolean"
        },
        "fontSize": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the font."
        },
        "strikethrough": {
          "description": "True if the text has a strikethrough.",
          "type": "boolean"
        },
        "foregroundColor": {
          "$ref": "Color",
          "description": "The foreground color of the text. Deprecated: Use foreground_color_style.",
          "deprecated": true
        },
        "foregroundColorStyle": {
          "$ref": "ColorStyle",
          "description": "The foreground color of the text. If foreground_color is also set, this field takes precedence."
        },
        "fontFamily": {
          "type": "string",
          "description": "The font family."
        },
        "link": {
          "description": "The link destination of the text, if any. Setting the link field in a TextFormatRun will clear the cell's existing links or a cell-level link set in the same request. When a link is set, the text foreground color will be set to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults.",
          "$ref": "Link"
        },
        "italic": {
          "description": "True if the text is italicized.",
          "type": "boolean"
        }
      },
      "id": "TextFormat"
    },
    "TableRowsProperties": {
      "description": "The table row properties.",
      "type": "object",
      "properties": {
        "firstBandColorStyle": {
          "description": "The first color that is alternating. If this field is set, the first banded row is filled with the specified color. Otherwise, the first banded row is filled with a default color.",
          "$ref": "ColorStyle"
        },
        "headerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the header row. If this field is set, the header row is filled with the specified color. Otherwise, the header row is filled with a default color."
        },
        "secondBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The second color that is alternating. If this field is set, the second banded row is filled with the specified color. Otherwise, the second banded row is filled with a default color."
        },
        "footerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the last row. If this field is not set a footer is not added, the last row is filled with either first_band_color_style or second_band_color_style, depending on the color of the previous row. If updating an existing table without a footer to have a footer, the range will be expanded by 1 row. If updating an existing table with a footer and removing a footer, the range will be shrunk by 1 row."
        }
      },
      "id": "TableRowsProperties"
    },
    "CancelDataSourceRefreshStatus": {
      "id": "CancelDataSourceRefreshStatus",
      "type": "object",
      "properties": {
        "refreshCancellationStatus": {
          "description": "The cancellation status.",
          "$ref": "RefreshCancellationStatus"
        },
        "reference": {
          "$ref": "DataSourceObjectReference",
          "description": "Reference to the data source object whose refresh is being cancelled."
        }
      },
      "description": "The status of cancelling a single data source object refresh."
    },
    "DateTimeRule": {
      "description": "Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values. For example, consider a pivot table showing sales transactions by date: +----------+--------------+ | Date | SUM of Sales | +----------+--------------+ | 1/1/2017 | $621.14 | | 2/3/2017 | $708.84 | | 5/8/2017 | $326.84 | ... +----------+--------------+ Applying a date-time group rule with a DateTimeRuleType of YEAR_MONTH results in the following pivot table. +--------------+--------------+ | Grouped Date | SUM of Sales | +--------------+--------------+ | 2017-Jan | $53,731.78 | | 2017-Feb | $83,475.32 | | 2017-Mar | $94,385.05 | ... +--------------+--------------+",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DATE_TIME_RULE_TYPE_UNSPECIFIED",
            "SECOND",
            "MINUTE",
            "HOUR",
            "HOUR_MINUTE",
            "HOUR_MINUTE_AMPM",
            "DAY_OF_WEEK",
            "DAY_OF_YEAR",
            "DAY_OF_MONTH",
            "DAY_MONTH",
            "MONTH",
            "QUARTER",
            "YEAR",
            "YEAR_MONTH",
            "YEAR_QUARTER",
            "YEAR_MONTH_DAY"
          ],
          "description": "The type of date-time grouping to apply.",
          "enumDescriptions": [
            "The default type, do not use.",
            "Group dates by second, from 0 to 59.",
            "Group dates by minute, from 0 to 59.",
            "Group dates by hour using a 24-hour system, from 0 to 23.",
            "Group dates by hour and minute using a 24-hour system, for example 19:45.",
            "Group dates by hour and minute using a 12-hour system, for example 7:45 PM. The AM/PM designation is translated based on the spreadsheet locale.",
            "Group dates by day of week, for example Sunday. The days of the week will be translated based on the spreadsheet locale.",
            "Group dates by day of year, from 1 to 366. Note that dates after Feb. 29 fall in different buckets in leap years than in non-leap years.",
            "Group dates by day of month, from 1 to 31.",
            "Group dates by day and month, for example 22-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by month, for example Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by quarter, for example Q1 (which represents Jan-Mar).",
            "Group dates by year, for example 2008.",
            "Group dates by year and month, for example 2008-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by year and quarter, for example 2008 Q4.",
            "Group dates by year, month, and day, for example 2008-11-22."
          ]
        }
      },
      "id": "DateTimeRule"
    },
    "SourceAndDestination": {
      "description": "A combination of a source range and how to extend that source.",
      "id": "SourceAndDestination",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "GridRange",
          "description": "The location of the data to use as the source of the autofill."
        },
        "dimension": {
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension that data should be filled into.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        },
        "fillLength": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows or columns that data should be filled into. Positive numbers expand beyond the last row or last column of the source. Negative numbers expand before the first row or first column of the source."
        }
      }
    },
    "SortRangeRequest": {
      "id": "SortRangeRequest",
      "type": "object",
      "properties": {
        "range": {
          "description": "The range to sort.",
          "$ref": "GridRange"
        },
        "sortSpecs": {
          "type": "array",
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          }
        }
      },
      "description": "Sorts data in rows based on a sort order per column."
    },
    "UpdateChartSpecRequest": {
      "description": "Updates a chart's specifications. (This does not move or resize a chart. To move or resize a chart, use UpdateEmbeddedObjectPositionRequest.)",
      "id": "UpdateChartSpecRequest",
      "type": "object",
      "properties": {
        "spec": {
          "description": "The specification to apply to the chart.",
          "$ref": "ChartSpec"
        },
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the chart to update."
        }
      }
    },
    "UpdateDimensionPropertiesRequest": {
      "description": "Updates properties of dimensions within the specified range.",
      "type": "object",
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        },
        "range": {
          "description": "The rows or columns to update.",
          "$ref": "DimensionRange"
        },
        "dataSourceSheetRange": {
          "$ref": "DataSourceSheetDimensionRange",
          "description": "The columns on a data source sheet to update."
        },
        "properties": {
          "description": "Properties to update.",
          "$ref": "DimensionProperties"
        }
      },
      "id": "UpdateDimensionPropertiesRequest"
    },
    "CancelDataSourceRefreshResponse": {
      "description": "The response from cancelling one or multiple data source object refreshes.",
      "type": "object",
      "properties": {
        "statuses": {
          "items": {
            "$ref": "CancelDataSourceRefreshStatus"
          },
          "description": "The cancellation statuses of refreshes of all data source objects specified in the request. If is_all is specified, the field contains only those in failure status. Refreshing and canceling refresh the same data source object is also not allowed in the same `batchUpdate`.",
          "type": "array"
        }
      },
      "id": "CancelDataSourceRefreshResponse"
    },
    "DeleteDeveloperMetadataRequest": {
      "description": "A request to delete developer metadata.",
      "id": "DeleteDeveloperMetadataRequest",
      "type": "object",
      "properties": {
        "dataFilter": {
          "description": "The data filter describing the criteria used to select which developer metadata entry to delete.",
          "$ref": "DataFilter"
        }
      }
    },
    "SearchDeveloperMetadataResponse": {
      "description": "A reply to a developer metadata search request.",
      "id": "SearchDeveloperMetadataResponse",
      "type": "object",
      "properties": {
        "matchedDeveloperMetadata": {
          "items": {
            "$ref": "MatchedDeveloperMetadata"
          },
          "description": "The metadata matching the criteria of the search request.",
          "type": "array"
        }
      }
    },
    "BasicChartSeries": {
      "id": "BasicChartSeries",
      "type": "object",
      "properties": {
        "series": {
          "description": "The data being visualized in this chart series.",
          "$ref": "ChartData"
        },
        "color": {
          "$ref": "Color",
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. Deprecated: Use color_style.",
          "deprecated": true
        },
        "lineStyle": {
          "$ref": "LineStyle",
          "description": "The line style of this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA or LINE."
        },
        "colorStyle": {
          "$ref": "ColorStyle",
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. If color is also set, this field takes precedence."
        },
        "type": {
          "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "type": "string"
        },
        "styleOverrides": {
          "description": "Style override settings for series data points.",
          "items": {
            "$ref": "BasicSeriesDataPointStyleOverride"
          },
          "type": "array"
        },
        "dataLabel": {
          "$ref": "DataLabel",
          "description": "Information about the data labels for this series."
        },
        "targetAxis": {
          "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ],
          "type": "string",
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ]
        },
        "pointStyle": {
          "description": "The style for points associated with this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, a default point style is used.",
          "$ref": "PointStyle"
        }
      },
      "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\"."
    },
    "BatchUpdateSpreadsheetResponse": {
      "description": "The reply for batch updating a spreadsheet.",
      "type": "object",
      "properties": {
        "replies": {
          "type": "array",
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          }
        },
        "updatedSpreadsheet": {
          "$ref": "Spreadsheet",
          "description": "The spreadsheet after updates were applied. This is only set if BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response is `true`."
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "id": "BatchUpdateSpreadsheetResponse"
    },
    "TableColumnProperties": {
      "description": "The table column.",
      "id": "TableColumnProperties",
      "type": "object",
      "properties": {
        "dataValidationRule": {
          "$ref": "TableColumnDataValidationRule",
          "description": "The column data validation rule. Only set for dropdown column type."
        },
        "columnIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The 0-based column index. This index is relative to its position in the table and is not necessarily the same as the column index in the sheet."
        },
        "columnType": {
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "DOUBLE",
            "CURRENCY",
            "PERCENT",
            "DATE",
            "TIME",
            "DATE_TIME",
            "TEXT",
            "BOOLEAN",
            "DROPDOWN",
            "FILES_CHIP",
            "PEOPLE_CHIP",
            "FINANCE_CHIP",
            "PLACE_CHIP",
            "RATINGS_CHIP"
          ],
          "type": "string",
          "description": "The column type.",
          "enumDescriptions": [
            "An unspecified column type.",
            "The number column type.",
            "The currency column type.",
            "The percent column type.",
            "The date column type.",
            "The time column type.",
            "The date and time column type.",
            "The text column type.",
            "The boolean column type.",
            "The dropdown column type.",
            "The files chip column type",
            "The people chip column type",
            "The finance chip column type",
            "The place chip column type",
            "The ratings chip column type"
          ]
        },
        "columnName": {
          "description": "The column name.",
          "type": "string"
        }
      }
    },
    "BooleanRule": {
      "description": "A rule that may or may not match, depending on the condition.",
      "id": "BooleanRule",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition of the rule. If the condition evaluates to true, the format is applied.",
          "$ref": "BooleanCondition"
        },
        "format": {
          "$ref": "CellFormat",
          "description": "The format to apply. Conditional formatting can only apply a subset of formatting: bold, italic, strikethrough, foreground color and, background color."
        }
      }
    },
    "TextToColumnsRequest": {
      "id": "TextToColumnsRequest",
      "type": "object",
      "properties": {
        "delimiter": {
          "description": "The delimiter to use. Used only if delimiterType is CUSTOM.",
          "type": "string"
        },
        "source": {
          "$ref": "GridRange",
          "description": "The source data range. This must span exactly one column."
        },
        "delimiterType": {
          "enum": [
            "DELIMITER_TYPE_UNSPECIFIED",
            "COMMA",
            "SEMICOLON",
            "PERIOD",
            "SPACE",
            "CUSTOM",
            "AUTODETECT"
          ],
          "type": "string",
          "description": "The delimiter type to use.",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "\",\"",
            "\";\"",
            "\".\"",
            "\" \"",
            "A custom value as defined in delimiter.",
            "Automatically detect columns."
          ]
        }
      },
      "description": "Splits a column of text into multiple columns, based on a delimiter in each cell."
    },
    "ChartAxisViewWindowOptions": {
      "type": "object",
      "properties": {
        "viewWindowMax": {
          "type": "number",
          "format": "double",
          "description": "The maximum numeric value to be shown in this view window. If unset, will automatically determine a maximum value that looks good for the data."
        },
        "viewWindowMode": {
          "description": "The view window's mode.",
          "enumDescriptions": [
            "The default view window mode used in the Sheets editor for this chart type. In most cases, if set, the default mode is equivalent to `PRETTY`.",
            "Do not use. Represents that the currently set mode is not supported by the API.",
            "Follows the min and max exactly if specified. If a value is unspecified, it will fall back to the `PRETTY` value.",
            "Chooses a min and max that make the chart look good. Both min and max are ignored in this mode."
          ],
          "enum": [
            "DEFAULT_VIEW_WINDOW_MODE",
            "VIEW_WINDOW_MODE_UNSUPPORTED",
            "EXPLICIT",
            "PRETTY"
          ],
          "type": "string"
        },
        "viewWindowMin": {
          "description": "The minimum numeric value to be shown in this view window. If unset, will automatically determine a minimum value that looks good for the data.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ChartAxisViewWindowOptions",
      "description": "The options that define a \"view window\" for a chart (such as the visible values in an axis)."
    },
    "UpdateDataSourceResponse": {
      "id": "UpdateDataSourceResponse",
      "type": "object",
      "properties": {
        "dataSource": {
          "$ref": "DataSource",
          "description": "The updated data source."
        },
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "description": "The data execution status."
        }
      },
      "description": "The response from updating data source."
    },
    "Spreadsheet": {
      "description": "Resource that represents a spreadsheet.",
      "type": "object",
      "properties": {
        "developerMetadata": {
          "description": "The developer metadata associated with a spreadsheet.",
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "type": "array"
        },
        "dataSourceSchedules": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of data source refresh schedules.",
          "items": {
            "$ref": "DataSourceRefreshSchedule"
          }
        },
        "sheets": {
          "type": "array",
          "items": {
            "$ref": "Sheet"
          },
          "description": "The sheets that are part of a spreadsheet."
        },
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "description": "A list of external data sources connected with the spreadsheet.",
          "type": "array"
        },
        "spreadsheetUrl": {
          "description": "The url of the spreadsheet. This field is read-only.",
          "type": "string"
        },
        "properties": {
          "description": "Overall properties of a spreadsheet.",
          "$ref": "SpreadsheetProperties"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The ID of the spreadsheet. This field is read-only."
        },
        "namedRanges": {
          "type": "array",
          "description": "The named ranges defined in a spreadsheet.",
          "items": {
            "$ref": "NamedRange"
          }
        }
      },
      "id": "Spreadsheet"
    },
    "DataSourceRefreshSchedule": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "True if the refresh schedule is enabled, or false otherwise.",
          "type": "boolean"
        },
        "refreshScope": {
          "type": "string",
          "enum": [
            "DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED",
            "ALL_DATA_SOURCES"
          ],
          "description": "The scope of the refresh. Must be ALL_DATA_SOURCES.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Refreshes all data sources and their associated data source objects in the spreadsheet."
          ]
        },
        "monthlySchedule": {
          "$ref": "DataSourceRefreshMonthlySchedule",
          "description": "Monthly refresh schedule."
        },
        "nextRun": {
          "description": "Output only. The time interval of the next run.",
          "readOnly": true,
          "$ref": "Interval"
        },
        "dailySchedule": {
          "description": "Daily refresh schedule.",
          "$ref": "DataSourceRefreshDailySchedule"
        },
        "weeklySchedule": {
          "description": "Weekly refresh schedule.",
          "$ref": "DataSourceRefreshWeeklySchedule"
        }
      },
      "id": "DataSourceRefreshSchedule",
      "description": "Schedule for refreshing the data source. Data sources in the spreadsheet are refreshed within a time interval. You can specify the start time by clicking the Scheduled Refresh button in the Sheets editor, but the interval is fixed at 4 hours. For example, if you specify a start time of 8 AM , the refresh will take place between 8 AM and 12 PM every day."
    },
    "DeleteConditionalFormatRuleResponse": {
      "type": "object",
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule that was deleted."
        }
      },
      "id": "DeleteConditionalFormatRuleResponse",
      "description": "The result of deleting a conditional format rule."
    },
    "UpdateTableRequest": {
      "description": "Updates a table in the spreadsheet.",
      "id": "UpdateTableRequest",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "Table",
          "description": "Required. The table to update."
        },
        "fields": {
          "description": "Required. The fields that should be updated. At least one field must be specified. The root `table` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "BatchGetValuesResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "valueRanges": {
          "items": {
            "$ref": "ValueRange"
          },
          "description": "The requested values. The order of the ValueRanges is the same as the order of the requested ranges.",
          "type": "array"
        },
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        }
      },
      "id": "BatchGetValuesResponse"
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "type": "object",
      "properties": {
        "colorStyle": {
          "description": "The color of the border. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "color": {
          "description": "The color of the border. Deprecated: Use color_style.",
          "deprecated": true,
          "$ref": "Color"
        }
      },
      "description": "A border along an embedded object."
    },
    "OverlayPosition": {
      "id": "OverlayPosition",
      "type": "object",
      "properties": {
        "offsetXPixels": {
          "format": "int32",
          "description": "The horizontal offset, in pixels, that the object is offset from the anchor cell.",
          "type": "integer"
        },
        "offsetYPixels": {
          "format": "int32",
          "description": "The vertical offset, in pixels, that the object is offset from the anchor cell.",
          "type": "integer"
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the object, in pixels. Defaults to 600.",
          "format": "int32"
        },
        "anchorCell": {
          "$ref": "GridCoordinate",
          "description": "The cell the object is anchored to."
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the object, in pixels. Defaults to 371.",
          "type": "integer"
        }
      },
      "description": "The location an object is overlaid on top of a grid."
    },
    "BooleanCondition": {
      "description": "A condition that can evaluate to true or false. BooleanConditions are used by conditional formatting, data validation, and the criteria in filters.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of condition.",
          "enumDescriptions": [
            "The default value, do not use.",
            "The cell's value must be greater than the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be greater than or equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be less than the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be less than or equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be not equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be between the two condition values. Supported by data validation, conditional formatting and filters. Requires exactly two ConditionValues.",
            "The cell's value must not be between the two condition values. Supported by data validation, conditional formatting and filters. Requires exactly two ConditionValues.",
            "The cell's value must contain the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must not contain the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must start with the condition's value. Supported by conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must end with the condition's value. Supported by conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be exactly the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be a valid email address. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be a valid URL. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be the same date as the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be before the date of the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be after the date of the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be on or before the date of the condition's value. Supported by data validation. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be on or after the date of the condition's value. Supported by data validation. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be between the dates of the two condition values. Supported by data validation. Requires exactly two ConditionValues.",
            "The cell's value must be outside the dates of the two condition values. Supported by data validation. Requires exactly two ConditionValues.",
            "The cell's value must be a date. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be listed in the grid in condition value's range. Supported by data validation. Requires a single ConditionValue, and the value must be a valid range in A1 notation.",
            "The cell's value must be in the list of condition values. Supported by data validation. Supports any number of condition values, one per item in the list. Formulas are not supported in the values.",
            "The cell's value must be empty. Supported by conditional formatting and filters. Requires no ConditionValues.",
            "The cell's value must not be empty. Supported by conditional formatting and filters. Requires no ConditionValues.",
            "The condition's formula must evaluate to true. Supported by data validation, conditional formatting and filters. Not supported by data source sheet filters. Requires a single ConditionValue.",
            "The cell's value must be TRUE/FALSE or in the list of condition values. Supported by data validation. Renders as a cell checkbox. Supports zero, one or two ConditionValues. No values indicates the cell must be TRUE or FALSE, where TRUE renders as checked and FALSE renders as unchecked. One value indicates the cell will render as checked when it contains that value and unchecked when it is blank. Two values indicate that the cell will render as checked when it contains the first value and unchecked when it contains the second value. For example, [\"Yes\",\"No\"] indicates that the cell will render a checked box when it has the value \"Yes\" and an unchecked box when it has the value \"No\".",
            "The cell's value must be exactly not the condition's value. Supported by filters on data source objects. Requires at least one ConditionValue.",
            "The cell's value must be exactly not the condition's value. Supported by filters on data source objects. Requires at least one ConditionValue.",
            "The cell's value must follow the pattern specified. Requires a single ConditionValue."
          ],
          "enum": [
            "CONDITION_TYPE_UNSPECIFIED",
            "NUMBER_GREATER",
            "NUMBER_GREATER_THAN_EQ",
            "NUMBER_LESS",
            "NUMBER_LESS_THAN_EQ",
            "NUMBER_EQ",
            "NUMBER_NOT_EQ",
            "NUMBER_BETWEEN",
            "NUMBER_NOT_BETWEEN",
            "TEXT_CONTAINS",
            "TEXT_NOT_CONTAINS",
            "TEXT_STARTS_WITH",
            "TEXT_ENDS_WITH",
            "TEXT_EQ",
            "TEXT_IS_EMAIL",
            "TEXT_IS_URL",
            "DATE_EQ",
            "DATE_BEFORE",
            "DATE_AFTER",
            "DATE_ON_OR_BEFORE",
            "DATE_ON_OR_AFTER",
            "DATE_BETWEEN",
            "DATE_NOT_BETWEEN",
            "DATE_IS_VALID",
            "ONE_OF_RANGE",
            "ONE_OF_LIST",
            "BLANK",
            "NOT_BLANK",
            "CUSTOM_FORMULA",
            "BOOLEAN",
            "TEXT_NOT_EQ",
            "DATE_NOT_EQ",
            "FILTER_EXPRESSION"
          ],
          "type": "string"
        },
        "values": {
          "description": "The values of the condition. The number of supported values depends on the condition type. Some support zero values, others one or two values, and ConditionType.ONE_OF_LIST supports an arbitrary number of values.",
          "items": {
            "$ref": "ConditionValue"
          },
          "type": "array"
        }
      },
      "id": "BooleanCondition"
    },
    "ErrorValue": {
      "description": "An error in a cell.",
      "id": "ErrorValue",
      "type": "object",
      "properties": {
        "message": {
          "description": "A message with more information about the error (in the spreadsheet's locale).",
          "type": "string"
        },
        "type": {
          "description": "The type of error.",
          "enumDescriptions": [
            "The default error type, do not use this.",
            "Corresponds to the `#ERROR!` error.",
            "Corresponds to the `#NULL!` error.",
            "Corresponds to the `#DIV/0` error.",
            "Corresponds to the `#VALUE!` error.",
            "Corresponds to the `#REF!` error.",
            "Corresponds to the `#NAME?` error.",
            "Corresponds to the `#NUM!` error.",
            "Corresponds to the `#N/A` error.",
            "Corresponds to the `Loading...` state."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ERROR",
            "NULL_VALUE",
            "DIVIDE_BY_ZERO",
            "VALUE",
            "REF",
            "NAME",
            "NUM",
            "N_A",
            "LOADING"
          ]
        }
      }
    },
    "CandlestickDomain": {
      "type": "object",
      "properties": {
        "data": {
          "description": "The data of the CandlestickDomain.",
          "$ref": "ChartData"
        },
        "reversed": {
          "description": "True to reverse the order of the domain values (horizontal axis).",
          "type": "boolean"
        }
      },
      "id": "CandlestickDomain",
      "description": "The domain of a CandlestickChart."
    },
    "NamedRange": {
      "description": "A named range.",
      "id": "NamedRange",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range this represents."
        },
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        }
      }
    },
    "GridRange": {
      "description": "A range on a sheet. All indexes are zero-based. Indexes are half open, i.e. the start index is inclusive and the end index is exclusive -- [start_index, end_index). Missing indexes indicate the range is unbounded on that side. For example, if `\"Sheet1\"` is sheet ID 123456, then: `Sheet1!A1:A1 == sheet_id: 123456, start_row_index: 0, end_row_index: 1, start_column_index: 0, end_column_index: 1` `Sheet1!A3:B4 == sheet_id: 123456, start_row_index: 2, end_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1!A:B == sheet_id: 123456, start_column_index: 0, end_column_index: 2` `Sheet1!A5:B == sheet_id: 123456, start_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1 == sheet_id: 123456` The start index must always be less than or equal to the end index. If the start index equals the end index, then the range is empty. Empty ranges are typically not meaningful and are usually rendered in the UI as `#REF!`.",
      "id": "GridRange",
      "type": "object",
      "properties": {
        "endColumnIndex": {
          "description": "The end column (exclusive) of the range, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "sheetId": {
          "format": "int32",
          "description": "The sheet this range is on.",
          "type": "integer"
        },
        "startRowIndex": {
          "type": "integer",
          "description": "The start row (inclusive) of the range, or not set if unbounded.",
          "format": "int32"
        },
        "startColumnIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The start column (inclusive) of the range, or not set if unbounded."
        },
        "endRowIndex": {
          "type": "integer",
          "description": "The end row (exclusive) of the range, or not set if unbounded.",
          "format": "int32"
        }
      }
    },
    "InsertDimensionRequest": {
      "description": "Inserts rows or columns in a sheet at a particular index.",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The dimensions to insert. Both the start and end indexes must be bounded."
        },
        "inheritFromBefore": {
          "description": "Whether dimension properties should be extended from the dimensions before or after the newly inserted dimensions. True to inherit from the dimensions before (in which case the start index must be greater than 0), and false to inherit from the dimensions after. For example, if row index 0 has red background and row index 1 has a green background, then inserting 2 rows at index 1 can inherit either the green or red background. If `inheritFromBefore` is true, the two new rows will be red (because the row before the insertion point was red), whereas if `inheritFromBefore` is false, the two new rows will be green (because the row after the insertion point was green).",
          "type": "boolean"
        }
      },
      "id": "InsertDimensionRequest"
    },
    "ScorecardChartSpec": {
      "type": "object",
      "properties": {
        "scaleFactor": {
          "format": "double",
          "description": "Value to scale scorecard key and baseline value. For example, a factor of 10 can be used to divide all values in the chart by 10. This field is optional.",
          "type": "number"
        },
        "numberFormatSource": {
          "type": "string",
          "enum": [
            "CHART_NUMBER_FORMAT_SOURCE_UNDEFINED",
            "FROM_DATA",
            "CUSTOM"
          ],
          "description": "The number format source used in the scorecard chart. This field is optional.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Inherit number formatting from data.",
            "Apply custom formatting as specified by ChartCustomNumberFormatOptions."
          ]
        },
        "customFormatOptions": {
          "description": "Custom formatting options for numeric key/baseline values in scorecard chart. This field is used only when number_format_source is set to CUSTOM. This field is optional.",
          "$ref": "ChartCustomNumberFormatOptions"
        },
        "baselineValueFormat": {
          "description": "Formatting options for baseline value. This field is needed only if baseline_value_data is specified.",
          "$ref": "BaselineValueFormat"
        },
        "aggregateType": {
          "type": "string",
          "enum": [
            "CHART_AGGREGATE_TYPE_UNSPECIFIED",
            "AVERAGE",
            "COUNT",
            "MAX",
            "MEDIAN",
            "MIN",
            "SUM"
          ],
          "description": "The aggregation type for key and baseline chart data in scorecard chart. This field is not supported for data source charts. Use the ChartData.aggregateType field of the key_value_data or baseline_value_data instead for data source charts. This field is optional.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Average aggregate function.",
            "Count aggregate function.",
            "Maximum aggregate function.",
            "Median aggregate function.",
            "Minimum aggregate function.",
            "Sum aggregate function."
          ]
        },
        "keyValueData": {
          "description": "The data for scorecard key value.",
          "$ref": "ChartData"
        },
        "baselineValueData": {
          "$ref": "ChartData",
          "description": "The data for scorecard baseline value. This field is optional."
        },
        "keyValueFormat": {
          "description": "Formatting options for key value.",
          "$ref": "KeyValueFormat"
        }
      },
      "id": "ScorecardChartSpec",
      "description": "A scorecard chart. Scorecard charts are used to highlight key performance indicators, known as KPIs, on the spreadsheet. A scorecard chart can represent things like total sales, average cost, or a top selling item. You can specify a single data value, or aggregate over a range of data. Percentage or absolute difference from a baseline value can be highlighted, like changes over time."
    },
    "CancelDataSourceRefreshRequest": {
      "id": "CancelDataSourceRefreshRequest",
      "type": "object",
      "properties": {
        "dataSourceId": {
          "type": "string",
          "description": "Reference to a DataSource. If specified, cancels all associated data source object refreshes for this data source."
        },
        "references": {
          "$ref": "DataSourceObjectReferences",
          "description": "References to data source objects whose refreshes are to be cancelled."
        },
        "isAll": {
          "description": "Cancels all existing data source object refreshes for all data sources in the spreadsheet.",
          "type": "boolean"
        }
      },
      "description": "Cancels one or multiple refreshes of data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope if you are cancelling a refresh on a BigQuery data source."
    },
    "AddSlicerRequest": {
      "description": "Adds a slicer to a sheet in the spreadsheet.",
      "type": "object",
      "properties": {
        "slicer": {
          "description": "The slicer that should be added to the spreadsheet, including the position where it should be placed. The slicerId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a slicer that already exists.)",
          "$ref": "Slicer"
        }
      },
      "id": "AddSlicerRequest"
    },
    "AppendValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "id": "AppendValuesResponse",
      "type": "object",
      "properties": {
        "tableRange": {
          "description": "The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found.",
          "type": "string"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "updates": {
          "description": "Information about the updates that were applied.",
          "$ref": "UpdateValuesResponse"
        }
      }
    },
    "DeleteFilterViewRequest": {
      "description": "Deletes a particular filter view.",
      "id": "DeleteFilterViewRequest",
      "type": "object",
      "properties": {
        "filterId": {
          "description": "The ID of the filter to delete.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DeleteProtectedRangeRequest": {
      "type": "object",
      "properties": {
        "protectedRangeId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the protected range to delete."
        }
      },
      "id": "DeleteProtectedRangeRequest",
      "description": "Deletes the protected range with the given ID."
    },
    "UpdateSheetPropertiesRequest": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        },
        "properties": {
          "description": "The properties to update.",
          "$ref": "SheetProperties"
        }
      },
      "id": "UpdateSheetPropertiesRequest",
      "description": "Updates properties of the sheet with the specified sheetId."
    },
    "DeleteNamedRangeRequest": {
      "type": "object",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range to delete.",
          "type": "string"
        }
      },
      "id": "DeleteNamedRangeRequest",
      "description": "Removes the named range with the given ID from the spreadsheet."
    },
    "UpdateProtectedRangeRequest": {
      "id": "UpdateProtectedRangeRequest",
      "type": "object",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `protectedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "protectedRange": {
          "$ref": "ProtectedRange",
          "description": "The protected range to update with the new properties."
        }
      },
      "description": "Updates an existing protected range with the specified protectedRangeId."
    },
    "RandomizeRangeRequest": {
      "id": "RandomizeRangeRequest",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to randomize."
        }
      },
      "description": "Randomizes the order of the rows in a range."
    },
    "DataExecutionStatus": {
      "description": "The data execution status. A data execution is created to sync a data source object with the latest data from a DataSource. It is usually scheduled to run at background, you can check its state to tell if an execution completes There are several scenarios where a data execution is triggered to run: * Adding a data source creates an associated data source sheet as well as a data execution to sync the data from the data source to the sheet. * Updating a data source creates a data execution to refresh the associated data source sheet similarly. * You can send refresh request to explicitly refresh one or multiple data source objects.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the data execution.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution has not started.",
            "The data execution has started and is running.",
            "The data execution is currently being cancelled.",
            "The data execution has completed successfully.",
            "The data execution has completed with errors."
          ],
          "enum": [
            "DATA_EXECUTION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "DATA_EXECUTION_ERROR_CODE_UNSPECIFIED",
            "TIMED_OUT",
            "TOO_MANY_ROWS",
            "TOO_MANY_COLUMNS",
            "TOO_MANY_CELLS",
            "ENGINE",
            "PARAMETER_INVALID",
            "UNSUPPORTED_DATA_TYPE",
            "DUPLICATE_COLUMN_NAMES",
            "INTERRUPTED",
            "CONCURRENT_QUERY",
            "OTHER",
            "TOO_MANY_CHARS_PER_CELL",
            "DATA_NOT_FOUND",
            "PERMISSION_DENIED",
            "MISSING_COLUMN_ALIAS",
            "OBJECT_NOT_FOUND",
            "OBJECT_IN_ERROR_STATE",
            "OBJECT_SPEC_INVALID",
            "DATA_EXECUTION_CANCELLED"
          ],
          "type": "string",
          "description": "The error code.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution timed out.",
            "The data execution returns more rows than the limit.",
            "The data execution returns more columns than the limit.",
            "The data execution returns more cells than the limit.",
            "Error is received from the backend data execution engine (e.g. BigQuery). Check error_message for details.",
            "One or some of the provided data source parameters are invalid.",
            "The data execution returns an unsupported data type.",
            "The data execution returns duplicate column names or aliases.",
            "The data execution is interrupted. Please refresh later.",
            "The data execution is currently in progress, can not be refreshed until it completes.",
            "Other errors.",
            "The data execution returns values that exceed the maximum characters allowed in a single cell.",
            "The database referenced by the data source is not found. */",
            "The user does not have access to the database referenced by the data source.",
            "The data execution returns columns with missing aliases.",
            "The data source object does not exist.",
            "The data source object is currently in error state. To force refresh, set force in RefreshDataSourceRequest.",
            "The data source object specification is invalid.",
            "The data execution has been cancelled."
          ]
        },
        "errorMessage": {
          "description": "The error message, which may be empty.",
          "type": "string"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Gets the time the data last successfully refreshed.",
          "type": "string"
        }
      },
      "id": "DataExecutionStatus"
    },
    "BasicFilter": {
      "type": "object",
      "properties": {
        "filterSpecs": {
          "type": "array",
          "items": {
            "$ref": "FilterSpec"
          },
          "description": "The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
        },
        "sortSpecs": {
          "type": "array",
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          }
        },
        "criteria": {
          "type": "object",
          "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.",
          "deprecated": true,
          "additionalProperties": {
            "$ref": "FilterCriteria"
          }
        },
        "tableId": {
          "type": "string",
          "description": "The table this filter is backed by, if any. When writing, only one of range or table_id may be set."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range the filter covers."
        }
      },
      "id": "BasicFilter",
      "description": "The default filter associated with a sheet. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters)."
    },
    "ChartSpec": {
      "type": "object",
      "properties": {
        "histogramChart": {
          "$ref": "HistogramChartSpec",
          "description": "A histogram chart specification."
        },
        "subtitleTextFormat": {
          "$ref": "TextFormat",
          "description": "The subtitle text format. Strikethrough, underline, and link are not supported."
        },
        "fontName": {
          "type": "string",
          "description": "The name of the font to use by default for all chart text (e.g. title, axis labels, legend). If a font is specified for a specific part of the chart it will override this font name."
        },
        "filterSpecs": {
          "type": "array",
          "items": {
            "$ref": "FilterSpec"
          },
          "description": "The filters applied to the source data of the chart. Only supported for data source charts."
        },
        "candlestickChart": {
          "$ref": "CandlestickChartSpec",
          "description": "A candlestick chart specification."
        },
        "subtitle": {
          "description": "The subtitle of the chart.",
          "type": "string"
        },
        "scorecardChart": {
          "description": "A scorecard chart specification.",
          "$ref": "ScorecardChartSpec"
        },
        "altText": {
          "description": "The alternative text that describes the chart. This is often used for accessibility.",
          "type": "string"
        },
        "dataSourceChartProperties": {
          "description": "If present, the field contains data source chart specific properties.",
          "$ref": "DataSourceChartProperties"
        },
        "treemapChart": {
          "description": "A treemap chart specification.",
          "$ref": "TreemapChartSpec"
        },
        "titleTextFormat": {
          "description": "The title text format. Strikethrough, underline, and link are not supported.",
          "$ref": "TextFormat"
        },
        "title": {
          "type": "string",
          "description": "The title of the chart."
        },
        "titleTextPosition": {
          "description": "The title text position. This field is optional.",
          "$ref": "TextPosition"
        },
        "backgroundColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color of the entire chart. Not applicable to Org charts. If background_color is also set, this field takes precedence."
        },
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background color of the entire chart. Not applicable to Org charts. Deprecated: Use background_color_style.",
          "deprecated": true
        },
        "pieChart": {
          "$ref": "PieChartSpec",
          "description": "A pie chart specification."
        },
        "bubbleChart": {
          "description": "A bubble chart specification.",
          "$ref": "BubbleChartSpec"
        },
        "orgChart": {
          "$ref": "OrgChartSpec",
          "description": "An org chart specification."
        },
        "sortSpecs": {
          "description": "The order to sort the chart data by. Only a single sort spec is supported. Only supported for data source charts.",
          "items": {
            "$ref": "SortSpec"
          },
          "type": "array"
        },
        "maximized": {
          "description": "True to make a chart fill the entire space in which it's rendered with minimum padding. False to use the default padding. (Not applicable to Geo and Org charts.)",
          "type": "boolean"
        },
        "basicChart": {
          "description": "A basic chart specification, can be one of many kinds of charts. See BasicChartType for the list of all charts this supports.",
          "$ref": "BasicChartSpec"
        },
        "hiddenDimensionStrategy": {
          "type": "string",
          "enum": [
            "CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED",
            "SKIP_HIDDEN_ROWS_AND_COLUMNS",
            "SKIP_HIDDEN_ROWS",
            "SKIP_HIDDEN_COLUMNS",
            "SHOW_ALL"
          ],
          "description": "Determines how the charts will use hidden rows or columns.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Charts will skip hidden rows and columns.",
            "Charts will skip hidden rows only.",
            "Charts will skip hidden columns only.",
            "Charts will not skip any hidden rows or columns."
          ]
        },
        "subtitleTextPosition": {
          "description": "The subtitle text position. This field is optional.",
          "$ref": "TextPosition"
        },
        "waterfallChart": {
          "description": "A waterfall chart specification.",
          "$ref": "WaterfallChartSpec"
        }
      },
      "id": "ChartSpec",
      "description": "The specifications of a chart."
    },
    "BasicChartDomain": {
      "type": "object",
      "properties": {
        "reversed": {
          "description": "True to reverse the order of the domain values (horizontal axis).",
          "type": "boolean"
        },
        "domain": {
          "$ref": "ChartData",
          "description": "The data of the domain. For example, if charting stock prices over time, this is the data representing the dates."
        }
      },
      "id": "BasicChartDomain",
      "description": "The domain of a chart. For example, if charting stock prices over time, this would be the date."
    },
    "InsertRangeRequest": {
      "description": "Inserts cells into a range, shifting the existing cells over or down.",
      "id": "InsertRangeRequest",
      "type": "object",
      "properties": {
        "range": {
          "description": "The range to insert new cells into. The range is constrained to the current sheet boundaries.",
          "$ref": "GridRange"
        },
        "shiftDimension": {
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension which will be shifted when inserting cells. If ROWS, existing cells will be shifted down. If COLUMNS, existing cells will be shifted right.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        }
      }
    },
    "DeveloperMetadataLookup": {
      "type": "object",
      "properties": {
        "metadataId": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_id.",
          "format": "int32",
          "type": "integer"
        },
        "visibility": {
          "type": "string",
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ],
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.visibility. If left unspecified, all developer metadata visible to the requesting project is considered.",
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ]
        },
        "locationType": {
[...]
