{
  "canonicalName": "Sheets",
  "id": "sheets:v4",
  "title": "Google Sheets API",
  "rootUrl": "https://sheets.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "sheets",
  "ownerName": "Google",
  "baseUrl": "https://sheets.googleapis.com/",
  "schemas": {
    "RefreshDataSourceRequest": {
      "properties": {
        "isAll": {
          "type": "boolean",
          "description": "Refreshes all existing data source objects in the spreadsheet."
        },
        "force": {
          "description": "Refreshes the data source objects regardless of the current state. If not set and a referenced data source object was in error state, the refresh will fail immediately.",
          "type": "boolean"
        },
        "dataSourceId": {
          "description": "Reference to a DataSource. If specified, refreshes all associated data source objects for the data source.",
          "type": "string"
        },
        "references": {
          "description": "References to data source objects to refresh.",
          "$ref": "DataSourceObjectReferences"
        }
      },
      "type": "object",
      "description": "Refreshes one or multiple data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope if you are refreshing a BigQuery data source. If there are multiple refresh requests referencing the same data source objects in one batch, only the last refresh request is processed, and all those requests will have the same response accordingly.",
      "id": "RefreshDataSourceRequest"
    },
    "DeleteNamedRangeRequest": {
      "type": "object",
      "description": "Removes the named range with the given ID from the spreadsheet.",
      "id": "DeleteNamedRangeRequest",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range to delete."
        }
      }
    },
    "RefreshCancellationStatus": {
      "id": "RefreshCancellationStatus",
      "properties": {
        "errorCode": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Execution to be cancelled not found in the query engine or in Sheets.",
            "The user does not have permission to cancel the query.",
            "The query execution has already completed and thus could not be cancelled.",
            "There is already another cancellation in process.",
            "All other errors."
          ],
          "enum": [
            "REFRESH_CANCELLATION_ERROR_CODE_UNSPECIFIED",
            "EXECUTION_NOT_FOUND",
            "CANCEL_PERMISSION_DENIED",
            "QUERY_EXECUTION_COMPLETED",
            "CONCURRENT_CANCELLATION",
            "CANCEL_OTHER_ERROR"
          ],
          "description": "The error code."
        },
        "state": {
          "enum": [
            "REFRESH_CANCELLATION_STATE_UNSPECIFIED",
            "CANCEL_SUCCEEDED",
            "CANCEL_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The API call to Sheets to cancel a refresh has succeeded. This does not mean that the cancel happened successfully, but that the call has been made successfully.",
            "The API call to Sheets to cancel a refresh has failed."
          ],
          "description": "The state of a call to cancel a refresh in Sheets."
        }
      },
      "description": "The status of a refresh cancellation. You can send a cancel request to explicitly cancel one or multiple data source object refreshes.",
      "type": "object"
    },
    "AddDataSourceRequest": {
      "description": "Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope if you are adding a BigQuery data source.",
      "type": "object",
      "id": "AddDataSourceRequest",
      "properties": {
        "dataSource": {
          "$ref": "DataSource",
          "description": "The data source to add."
        }
      }
    },
    "Editors": {
      "description": "The editors of a protected range.",
      "properties": {
        "groups": {
          "description": "The email addresses of groups with edit access to the protected range.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "users": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses of users with edit access to the protected range."
        },
        "domainUsersCanEdit": {
          "type": "boolean",
          "description": "True if anyone in the document's domain has edit access to the protected range. Domain protection is only supported on documents within a domain."
        }
      },
      "type": "object",
      "id": "Editors"
    },
    "AppendValuesResponse": {
      "type": "object",
      "description": "The response when updating a range of values in a spreadsheet.",
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "tableRange": {
          "type": "string",
          "description": "The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found."
        },
        "updates": {
          "description": "Information about the updates that were applied.",
          "$ref": "UpdateValuesResponse"
        }
      },
      "id": "AppendValuesResponse"
    },
    "ManualRuleGroup": {
      "description": "A group name and a list of items from the source data that should be placed in the group with this name.",
      "type": "object",
      "id": "ManualRuleGroup",
      "properties": {
        "items": {
          "type": "array",
          "description": "The items in the source data that should be placed into this group. Each item may be a string, number, or boolean. Items may appear in at most one group within a given ManualRule. Items that do not appear in any group will appear on their own.",
          "items": {
            "$ref": "ExtendedValue"
          }
        },
        "groupName": {
          "description": "The group name, which must be a string. Each group in a given ManualRule must have a unique group name.",
          "$ref": "ExtendedValue"
        }
      }
    },
    "TextFormatRun": {
      "description": "A run of a text format. The format of this run continues until the start index of the next run. When updating, all fields must be set.",
      "properties": {
        "format": {
          "description": "The format of this run. Absent values inherit the cell's format.",
          "$ref": "TextFormat"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based character index where this run starts, in UTF-16 code units."
        }
      },
      "type": "object",
      "id": "TextFormatRun"
    },
    "UpdateTableRequest": {
      "description": "Updates a table in the spreadsheet.",
      "id": "UpdateTableRequest",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "Table",
          "description": "Required. The table to update."
        },
        "fields": {
          "type": "string",
          "description": "Required. The fields that should be updated. At least one field must be specified. The root `table` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask"
        }
      }
    },
    "DataSourceSpec": {
      "description": "This specifies the details of the data source. For example, for BigQuery, this specifies information about the BigQuery source.",
      "type": "object",
      "properties": {
        "bigQuery": {
          "description": "A BigQueryDataSourceSpec.",
          "$ref": "BigQueryDataSourceSpec"
        },
        "looker": {
          "description": "A LookerDatasourceSpec.",
          "$ref": "LookerDataSourceSpec"
        },
        "parameters": {
          "items": {
            "$ref": "DataSourceParameter"
          },
          "type": "array",
          "description": "The parameters of the data source, used when querying the data source."
        }
      },
      "id": "DataSourceSpec"
    },
    "AddBandingResponse": {
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range that was added."
        }
      },
      "description": "The result of adding a banded range.",
      "id": "AddBandingResponse",
      "type": "object"
    },
    "DeleteConditionalFormatRuleResponse": {
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule that was deleted."
        }
      },
      "description": "The result of deleting a conditional format rule.",
      "id": "DeleteConditionalFormatRuleResponse",
      "type": "object"
    },
    "Border": {
      "type": "object",
      "id": "Border",
      "description": "A border along a cell.",
      "properties": {
        "colorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the border. If color is also set, this field takes precedence."
        },
        "color": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The color of the border. Deprecated: Use color_style."
        },
        "style": {
          "description": "The style of the border.",
          "type": "string",
          "enum": [
            "STYLE_UNSPECIFIED",
            "DOTTED",
            "DASHED",
            "SOLID",
            "SOLID_MEDIUM",
            "SOLID_THICK",
            "NONE",
            "DOUBLE"
          ],
          "enumDescriptions": [
            "The style is not specified. Do not use this.",
            "The border is dotted.",
            "The border is dashed.",
            "The border is a thin solid line.",
            "The border is a medium solid line.",
            "The border is a thick solid line.",
            "No border. Used only when updating a border in order to erase it.",
            "The border is two solid lines."
          ]
        },
        "width": {
          "deprecated": true,
          "description": "The width of the border, in pixels. Deprecated; the width is determined by the \"style\" field.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PivotFilterCriteria": {
      "description": "Criteria for showing/hiding rows in a pivot table.",
      "properties": {
        "visibleByDefault": {
          "description": "Whether values are visible by default. If true, the visible_values are ignored, all values that meet condition (if specified) are shown. If false, values that are both in visible_values and meet condition are shown.",
          "type": "boolean"
        },
        "visibleValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values that should be included. Values not listed here are excluded."
        },
        "condition": {
          "$ref": "BooleanCondition",
          "description": "A condition that must be true for values to be shown. (`visibleValues` does not override this -- even if a value is listed there, it is still hidden if it does not meet the condition.) Condition values that refer to ranges in A1-notation are evaluated relative to the pivot table sheet. References are treated absolutely, so are not filled down the pivot table. For example, a condition value of `=A1` on \"Pivot Table 1\" is treated as `'Pivot Table 1'!$A$1`. The source data of the pivot table can be referenced by column header name. For example, if the source data has columns named \"Revenue\" and \"Cost\" and a condition is applied to the \"Revenue\" column with type `NUMBER_GREATER` and value `=Cost`, then only columns where \"Revenue\" > \"Cost\" are included."
        }
      },
      "id": "PivotFilterCriteria",
      "type": "object"
    },
    "RepeatCellRequest": {
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `cell` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        },
        "cell": {
          "$ref": "CellData",
          "description": "The data to write."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range to repeat the cell in."
        }
      },
      "description": "Updates all cells in the range to the values in the given Cell object. Only the fields listed in the fields field are updated; others are unchanged. If writing a cell with a formula, the formula's ranges will automatically increment for each field in the range. For example, if writing a cell with formula `=A1` into range B2:C4, B2 would be `=A1`, B3 would be `=A2`, B4 would be `=A3`, C2 would be `=B1`, C3 would be `=B2`, C4 would be `=B3`. To keep the formula's ranges static, use the `$` indicator. For example, use the formula `=$A$1` to prevent both the row and the column from incrementing.",
      "id": "RepeatCellRequest",
      "type": "object"
    },
    "DeleteDimensionRequest": {
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The dimensions to delete from the sheet."
        }
      },
      "description": " Deletes the dimensions from the sheet.",
      "id": "DeleteDimensionRequest",
      "type": "object"
    },
    "BatchClearValuesByDataFilterResponse": {
      "id": "BatchClearValuesByDataFilterResponse",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "clearedRanges": {
          "description": "The ranges that were cleared, in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). If the requests are for an unbounded range or a range larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response when clearing a range of values selected with DataFilters in a spreadsheet."
    },
    "LineStyle": {
      "description": "Properties that describe the style of a line.",
      "id": "LineStyle",
      "properties": {
        "width": {
          "format": "int32",
          "description": "The thickness of the line, in px.",
          "type": "integer"
        },
        "type": {
          "enumDescriptions": [
            "Default value, do not use.",
            "No dash type, which is equivalent to a non-visible line.",
            "A custom dash for a line. Modifying the exact custom dash style is currently unsupported.",
            "A solid line.",
            "A dotted line.",
            "A dashed line where the dashes have \"medium\" length.",
            "A line that alternates between a \"medium\" dash and a dot.",
            "A dashed line where the dashes have \"long\" length.",
            "A line that alternates between a \"long\" dash and a dot."
          ],
          "enum": [
            "LINE_DASH_TYPE_UNSPECIFIED",
            "INVISIBLE",
            "CUSTOM",
            "SOLID",
            "DOTTED",
            "MEDIUM_DASHED",
            "MEDIUM_DASHED_DOTTED",
            "LONG_DASHED",
            "LONG_DASHED_DOTTED"
          ],
          "type": "string",
          "description": "The dash type of the line."
        }
      },
      "type": "object"
    },
    "DeleteFilterViewRequest": {
      "properties": {
        "filterId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the filter to delete."
        }
      },
      "type": "object",
      "description": "Deletes a particular filter view.",
      "id": "DeleteFilterViewRequest"
    },
    "UpdateBandingRequest": {
      "properties": {
        "bandedRange": {
          "description": "The banded range to update with the new properties.",
          "$ref": "BandedRange"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `bandedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Updates properties of the supplied banded range.",
      "id": "UpdateBandingRequest"
    },
    "DataValidationRule": {
      "id": "DataValidationRule",
      "description": "A data validation rule.",
      "properties": {
        "condition": {
          "$ref": "BooleanCondition",
          "description": "The condition that data in the cell must match."
        },
        "inputMessage": {
          "description": "A message to show the user when adding data to the cell.",
          "type": "string"
        },
        "showCustomUi": {
          "type": "boolean",
          "description": "True if the UI should be customized based on the kind of condition. If true, \"List\" conditions will show a dropdown."
        },
        "strict": {
          "description": "True if invalid data should be rejected.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DimensionGroup": {
      "properties": {
        "collapsed": {
          "description": "This field is true if this group is collapsed. A collapsed group remains collapsed if an overlapping group at a shallower depth is expanded. A true value does not imply that all dimensions within the group are hidden, since a dimension's visibility can change independently from this group property. However, when this property is updated, all dimensions within it are set to hidden if this field is true, or set to visible if this field is false.",
          "type": "boolean"
        },
        "depth": {
          "type": "integer",
          "format": "int32",
          "description": "The depth of the group, representing how many groups have a range that wholly contains the range of this group."
        },
        "range": {
          "description": "The range over which this group exists.",
          "$ref": "DimensionRange"
        }
      },
      "description": "A group over an interval of rows or columns on a sheet, which can contain or be contained within other groups. A group can be collapsed or expanded as a unit on the sheet.",
      "id": "DimensionGroup",
      "type": "object"
    },
    "ChartHistogramRule": {
      "type": "object",
      "description": "Allows you to organize numeric values in a source data column into buckets of constant size.",
      "properties": {
        "intervalSize": {
          "description": "The size of the buckets that are created. Must be positive.",
          "type": "number",
          "format": "double"
        },
        "minValue": {
          "type": "number",
          "format": "double",
          "description": "The minimum value at which items are placed into buckets. Values that are less than the minimum are grouped into a single bucket. If omitted, it is determined by the minimum item value."
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "The maximum value at which items are placed into buckets. Values greater than the maximum are grouped into a single bucket. If omitted, it is determined by the maximum item value."
        }
      },
      "id": "ChartHistogramRule"
    },
    "MatchedValueRange": {
      "id": "MatchedValueRange",
      "description": "A value range that was matched by one or more data filers.",
      "properties": {
        "dataFilters": {
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array",
          "description": "The DataFilters from the request that matched the range of values."
        },
        "valueRange": {
          "description": "The values matched by the DataFilter.",
          "$ref": "ValueRange"
        }
      },
      "type": "object"
    },
    "ClearValuesResponse": {
      "description": "The response when clearing a range of values in a spreadsheet.",
      "id": "ClearValuesResponse",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        },
        "clearedRange": {
          "type": "string",
          "description": "The range (in A1 notation) that was cleared. (If the request was for an unbounded range or a range larger than the bounds of the sheet, this will be the actual range that was cleared, bounded to the sheet's limits.)"
        }
      }
    },
    "PasteDataRequest": {
      "description": "Inserts data into the spreadsheet starting at the specified coordinate.",
      "type": "object",
      "id": "PasteDataRequest",
      "properties": {
        "coordinate": {
          "description": "The coordinate at which the data should start being inserted.",
          "$ref": "GridCoordinate"
        },
        "data": {
          "type": "string",
          "description": "The data to insert."
        },
        "html": {
          "description": "True if the data is HTML.",
          "type": "boolean"
        },
        "delimiter": {
          "description": "The delimiter in the data.",
          "type": "string"
        },
        "type": {
          "description": "How the data should be pasted.",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format only, excluding data validation.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "type": "string"
        }
      }
    },
    "BubbleChartSpec": {
      "type": "object",
      "properties": {
        "bubbleBorderColor": {
          "description": "The bubble border color. Deprecated: Use bubble_border_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "bubbleMinRadiusSize": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value."
        },
        "bubbleTextStyle": {
          "$ref": "TextFormat",
          "description": "The format of the text inside the bubbles. Strikethrough, underline, and link are not supported."
        },
        "bubbleMaxRadiusSize": {
          "type": "integer",
          "description": "The max radius size of the bubbles, in pixels. If specified, the field must be a positive value.",
          "format": "int32"
        },
        "legendPosition": {
          "type": "string",
          "enum": [
            "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "INSIDE_LEGEND"
          ],
          "description": "Where the legend of the chart should be drawn.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "The legend is rendered inside the chart area."
          ]
        },
        "bubbleOpacity": {
          "description": "The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque.",
          "type": "number",
          "format": "float"
        },
        "groupIds": {
          "description": "The data containing the bubble group IDs. All bubbles with the same group ID are drawn in the same color. If bubble_sizes is specified then this field must also be specified but may contain blank values. This field is optional.",
          "$ref": "ChartData"
        },
        "domain": {
          "description": "The data containing the bubble x-values. These values locate the bubbles in the chart horizontally.",
          "$ref": "ChartData"
        },
        "bubbleLabels": {
          "description": "The data containing the bubble labels. These do not need to be unique.",
          "$ref": "ChartData"
        },
        "bubbleBorderColorStyle": {
          "$ref": "ColorStyle",
          "description": "The bubble border color. If bubble_border_color is also set, this field takes precedence."
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data containing the bubble y-values. These values locate the bubbles in the chart vertically."
        },
        "bubbleSizes": {
          "$ref": "ChartData",
          "description": "The data containing the bubble sizes. Bubble sizes are used to draw the bubbles at different sizes relative to each other. If specified, group_ids must also be specified. This field is optional."
        }
      },
      "description": "A bubble chart.",
      "id": "BubbleChartSpec"
    },
    "GridRange": {
      "description": "A range on a sheet. All indexes are zero-based. Indexes are half open, i.e. the start index is inclusive and the end index is exclusive -- [start_index, end_index). Missing indexes indicate the range is unbounded on that side. For example, if `\"Sheet1\"` is sheet ID 123456, then: `Sheet1!A1:A1 == sheet_id: 123456, start_row_index: 0, end_row_index: 1, start_column_index: 0, end_column_index: 1` `Sheet1!A3:B4 == sheet_id: 123456, start_row_index: 2, end_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1!A:B == sheet_id: 123456, start_column_index: 0, end_column_index: 2` `Sheet1!A5:B == sheet_id: 123456, start_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1 == sheet_id: 123456` The start index must always be less than or equal to the end index. If the start index equals the end index, then the range is empty. Empty ranges are typically not meaningful and are usually rendered in the UI as `#REF!`.",
      "id": "GridRange",
      "properties": {
        "startRowIndex": {
          "type": "integer",
          "description": "The start row (inclusive) of the range, or not set if unbounded.",
          "format": "int32"
        },
        "startColumnIndex": {
          "description": "The start column (inclusive) of the range, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "endColumnIndex": {
          "type": "integer",
          "description": "The end column (exclusive) of the range, or not set if unbounded.",
          "format": "int32"
        },
        "sheetId": {
          "description": "The sheet this range is on.",
          "type": "integer",
          "format": "int32"
        },
        "endRowIndex": {
          "format": "int32",
          "description": "The end row (exclusive) of the range, or not set if unbounded.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DataSourceObjectReference": {
      "properties": {
        "dataSourceTableAnchorCell": {
          "description": "References to a DataSourceTable anchored at the cell.",
          "$ref": "GridCoordinate"
        },
        "chartId": {
          "format": "int32",
          "description": "References to a data source chart.",
          "type": "integer"
        },
        "dataSourcePivotTableAnchorCell": {
          "$ref": "GridCoordinate",
          "description": "References to a data source PivotTable anchored at the cell."
        },
        "dataSourceFormulaCell": {
          "description": "References to a cell containing DataSourceFormula.",
          "$ref": "GridCoordinate"
        },
        "sheetId": {
          "type": "string",
          "description": "References to a DATA_SOURCE sheet."
        }
      },
      "description": "Reference to a data source object.",
      "id": "DataSourceObjectReference",
      "type": "object"
    },
    "SourceAndDestination": {
      "id": "SourceAndDestination",
      "description": "A combination of a source range and how to extend that source.",
      "type": "object",
      "properties": {
        "dimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string",
          "description": "The dimension that data should be filled into."
        },
        "source": {
          "description": "The location of the data to use as the source of the autofill.",
          "$ref": "GridRange"
        },
        "fillLength": {
          "format": "int32",
          "description": "The number of rows or columns that data should be filled into. Positive numbers expand beyond the last row or last column of the source. Negative numbers expand before the first row or first column of the source.",
          "type": "integer"
        }
      }
    },
    "Borders": {
      "type": "object",
      "id": "Borders",
      "description": "The borders of the cell.",
      "properties": {
        "right": {
          "description": "The right border of the cell.",
          "$ref": "Border"
        },
        "bottom": {
          "$ref": "Border",
          "description": "The bottom border of the cell."
        },
        "left": {
          "description": "The left border of the cell.",
          "$ref": "Border"
        },
        "top": {
          "$ref": "Border",
          "description": "The top border of the cell."
        }
      }
    },
    "DataFilterValueRange": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "The data to be written. If the provided values exceed any of the ranges matched by the data filter then the request fails. If the provided values are less than the matched ranges only the specified values are written, existing values in the matched ranges remain unaffected."
        },
        "dataFilter": {
          "$ref": "DataFilter",
          "description": "The data filter describing the location of the values in the spreadsheet."
        },
        "majorDimension": {
          "description": "The major dimension of the values.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A range of values whose location is specified by a DataFilter.",
      "id": "DataFilterValueRange"
    },
    "Link": {
      "id": "Link",
      "properties": {
        "uri": {
          "description": "The link identifier.",
          "type": "string"
        }
      },
      "description": "An external or local reference.",
      "type": "object"
    },
    "DeveloperMetadata": {
      "description": "Developer metadata associated with a location or object in a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). Developer metadata may be used to associate arbitrary data with various parts of a spreadsheet and it will remain associated at those locations as they move around and the spreadsheet is edited. For example, if developer metadata is associated with row 5 and another row is then subsequently inserted above row 5, that original metadata is still associated with the row it was first associated with (what is now row 6). If the associated object is deleted then its metadata is deleted too.",
      "type": "object",
      "properties": {
        "metadataKey": {
          "type": "string",
          "description": "The metadata key. There may be multiple metadata in a spreadsheet with the same key. Developer metadata must always have a key specified."
        },
        "location": {
          "description": "The location where the metadata is associated.",
          "$ref": "DeveloperMetadataLocation"
        },
        "visibility": {
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ],
          "description": "The metadata visibility. Developer metadata must always have visibility specified.",
          "type": "string",
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ]
        },
        "metadataValue": {
          "type": "string",
          "description": "Data associated with the metadata's key."
        },
        "metadataId": {
          "format": "int32",
          "description": "The spreadsheet-scoped unique ID that identifies the metadata. IDs may be specified when metadata is created, otherwise one will be randomly generated and assigned. Must be positive.",
          "type": "integer"
        }
      },
      "id": "DeveloperMetadata"
    },
    "RefreshDataSourceObjectExecutionStatus": {
      "id": "RefreshDataSourceObjectExecutionStatus",
      "type": "object",
      "properties": {
        "dataExecutionStatus": {
          "description": "The data execution status.",
          "$ref": "DataExecutionStatus"
        },
        "reference": {
          "$ref": "DataSourceObjectReference",
          "description": "Reference to a data source object being refreshed."
        }
      },
      "description": "The execution status of refreshing one data source object."
    },
    "ConditionalFormatRule": {
      "id": "ConditionalFormatRule",
      "properties": {
        "booleanRule": {
          "description": "The formatting is either \"on\" or \"off\" according to the rule.",
          "$ref": "BooleanRule"
        },
        "ranges": {
          "description": "The ranges that are formatted if the condition is true. All the ranges must be on the same grid.",
          "items": {
            "$ref": "GridRange"
          },
          "type": "array"
        },
        "gradientRule": {
          "$ref": "GradientRule",
          "description": "The formatting will vary based on the gradients in the rule."
        }
      },
      "type": "object",
      "description": "A rule describing a conditional format."
    },
    "AddDimensionGroupResponse": {
      "description": "The result of adding a group.",
      "type": "object",
      "properties": {
        "dimensionGroups": {
          "type": "array",
          "description": "All groups of a dimension after adding a group to that dimension.",
          "items": {
            "$ref": "DimensionGroup"
          }
        }
      },
      "id": "AddDimensionGroupResponse"
    },
    "BigQueryQuerySpec": {
      "description": "Specifies a custom BigQuery query.",
      "properties": {
        "rawQuery": {
          "type": "string",
          "description": "The raw query string."
        }
      },
      "id": "BigQueryQuerySpec",
      "type": "object"
    },
    "BasicChartSpec": {
      "properties": {
        "domains": {
          "description": "The domain of data this is charting. Only a single domain is supported.",
          "items": {
            "$ref": "BasicChartDomain"
          },
          "type": "array"
        },
        "axis": {
          "type": "array",
          "items": {
            "$ref": "BasicChartAxis"
          },
          "description": "The axis on the chart."
        },
        "lineSmoothing": {
          "type": "boolean",
          "description": "Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts."
        },
        "legendPosition": {
          "description": "The position of the chart legend.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered."
          ],
          "enum": [
            "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND"
          ],
          "type": "string"
        },
        "interpolateNulls": {
          "type": "boolean",
          "description": "If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts."
        },
        "chartType": {
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "type": "string",
          "description": "The type of the chart.",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ]
        },
        "series": {
          "items": {
            "$ref": "BasicChartSeries"
          },
          "type": "array",
          "description": "The data this chart is visualizing."
        },
        "headerCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)"
        },
        "threeDimensional": {
          "type": "boolean",
          "description": "True to make the chart 3D. Applies to Bar and Column charts."
        },
        "compareMode": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Only the focused data element is highlighted and shown in the tooltip.",
            "All data elements with the same category (e.g., domain value) are highlighted and shown in the tooltip."
          ],
          "enum": [
            "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
            "DATUM",
            "CATEGORY"
          ],
          "description": "The behavior of tooltips and data highlighting when hovering on data and chart area."
        },
        "stackedType": {
          "enum": [
            "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
            "NOT_STACKED",
            "STACKED",
            "PERCENT_STACKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Series are not stacked.",
            "Series values are stacked, each value is rendered vertically beginning from the top of the value below it.",
            "Vertical stacks are stretched to reach the top of the chart, with values laid out as percentages of each other."
          ],
          "description": "The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts."
        },
        "totalDataLabel": {
          "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. These data labels can only be set when chart_type is one of AREA, BAR, COLUMN, COMBO or STEPPED_AREA and stacked_type is either STACKED or PERCENT_STACKED. In addition, for COMBO, this will only be supported if there is only one type of stackable series type or one type has more series than the others and each of the other types have no more than one series. For example, if a chart has two stacked bar series and one area series, the total data labels will be supported. If it has three bar series and two area series, total data labels are not allowed. Neither CUSTOM nor placement can be set on the total_data_label.",
          "$ref": "DataLabel"
        }
      },
      "type": "object",
      "description": "The specification for a basic chart. See BasicChartType for the list of charts this supports.",
      "id": "BasicChartSpec"
    },
    "ExtendedValue": {
      "description": "The kinds of value that a cell in a spreadsheet can have.",
      "id": "ExtendedValue",
      "properties": {
        "numberValue": {
          "description": "Represents a double value. Note: Dates, Times and DateTimes are represented as doubles in SERIAL_NUMBER format.",
          "type": "number",
          "format": "double"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "formulaValue": {
          "type": "string",
          "description": "Represents a formula."
        },
        "stringValue": {
          "description": "Represents a string value. Leading single quotes are not included. For example, if the user typed `'123` into the UI, this would be represented as a `stringValue` of `\"123\"`.",
          "type": "string"
        },
        "errorValue": {
          "description": "Represents an error. This field is read-only.",
          "$ref": "ErrorValue"
        }
      },
      "type": "object"
    },
    "DeleteTableRequest": {
      "description": "Removes the table with the given ID from the spreadsheet.",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "The ID of the table to delete."
        }
      },
      "type": "object",
      "id": "DeleteTableRequest"
    },
    "CandlestickData": {
      "id": "CandlestickData",
      "type": "object",
      "description": "The Candlestick chart data, each containing the low, open, close, and high values for a series.",
      "properties": {
        "highSeries": {
          "description": "The range data (vertical axis) for the high/maximum value for each candle. This is the top of the candle's center line.",
          "$ref": "CandlestickSeries"
        },
        "lowSeries": {
          "description": "The range data (vertical axis) for the low/minimum value for each candle. This is the bottom of the candle's center line.",
          "$ref": "CandlestickSeries"
        },
        "closeSeries": {
          "description": "The range data (vertical axis) for the close/final value for each candle. This is the top of the candle body. If greater than the open value the candle will be filled. Otherwise the candle will be hollow.",
          "$ref": "CandlestickSeries"
        },
        "openSeries": {
          "description": "The range data (vertical axis) for the open/initial value for each candle. This is the bottom of the candle body. If less than the close value the candle will be filled. Otherwise the candle will be hollow.",
          "$ref": "CandlestickSeries"
        }
      }
    },
    "AddSheetRequest": {
      "type": "object",
      "id": "AddSheetRequest",
      "description": "Adds a new sheet. When a sheet is added at a given index, all subsequent sheets' indexes are incremented. To add an object sheet, use AddChartRequest instead and specify EmbeddedObjectPosition.sheetId or EmbeddedObjectPosition.newSheet.",
      "properties": {
        "properties": {
          "description": "The properties the new sheet should have. All properties are optional. The sheetId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a sheet that already exists.)",
          "$ref": "SheetProperties"
        }
      }
    },
    "BooleanRule": {
      "description": "A rule that may or may not match, depending on the condition.",
      "properties": {
        "format": {
          "$ref": "CellFormat",
          "description": "The format to apply. Conditional formatting can only apply a subset of formatting: bold, italic, strikethrough, foreground color and, background color."
        },
        "condition": {
          "description": "The condition of the rule. If the condition evaluates to true, the format is applied.",
          "$ref": "BooleanCondition"
        }
      },
      "id": "BooleanRule",
      "type": "object"
    },
    "CancelDataSourceRefreshRequest": {
      "properties": {
        "references": {
          "description": "References to data source objects whose refreshes are to be cancelled.",
          "$ref": "DataSourceObjectReferences"
        },
        "isAll": {
          "description": "Cancels all existing data source object refreshes for all data sources in the spreadsheet.",
          "type": "boolean"
        },
        "dataSourceId": {
          "description": "Reference to a DataSource. If specified, cancels all associated data source object refreshes for this data source.",
          "type": "string"
        }
      },
      "description": "Cancels one or multiple refreshes of data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope if you are cancelling a refresh on a BigQuery data source.",
      "type": "object",
      "id": "CancelDataSourceRefreshRequest"
    },
    "DimensionProperties": {
      "description": "Properties about a dimension.",
      "properties": {
        "dataSourceColumnReference": {
          "readOnly": true,
          "description": "Output only. If set, this is a column in a data source sheet.",
          "$ref": "DataSourceColumnReference"
        },
        "hiddenByFilter": {
          "description": "True if this dimension is being filtered. This field is read-only.",
          "type": "boolean"
        },
        "developerMetadata": {
          "type": "array",
          "description": "The developer metadata associated with a single row or column.",
          "items": {
            "$ref": "DeveloperMetadata"
          }
        },
        "pixelSize": {
          "format": "int32",
          "type": "integer",
          "description": "The height (if a row) or width (if a column) of the dimension in pixels."
        },
        "hiddenByUser": {
          "type": "boolean",
          "description": "True if this dimension is explicitly hidden."
        }
      },
      "id": "DimensionProperties",
      "type": "object"
    },
    "ClearBasicFilterRequest": {
      "description": "Clears the basic filter, if any exists on the sheet.",
      "type": "object",
      "id": "ClearBasicFilterRequest",
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The sheet ID on which the basic filter should be cleared.",
          "type": "integer"
        }
      }
    },
    "OrgChartSpec": {
      "properties": {
        "selectedNodeColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The color of the selected org chart nodes. Deprecated: Use selected_node_color_style."
        },
        "nodeColor": {
          "description": "The color of the org chart nodes. Deprecated: Use node_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "parentLabels": {
          "$ref": "ChartData",
          "description": "The data containing the label of the parent for the corresponding node. A blank value indicates that the node has no parent and is a top-level node. This field is optional."
        },
        "labels": {
          "$ref": "ChartData",
          "description": "The data containing the labels for all the nodes in the chart. Labels must be unique."
        },
        "nodeColorStyle": {
          "description": "The color of the org chart nodes. If node_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "selectedNodeColorStyle": {
          "description": "The color of the selected org chart nodes. If selected_node_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "nodeSize": {
          "description": "The size of the org chart nodes.",
          "enum": [
            "ORG_CHART_LABEL_SIZE_UNSPECIFIED",
            "SMALL",
            "MEDIUM",
            "LARGE"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "The small org chart node size.",
            "The medium org chart node size.",
            "The large org chart node size."
          ],
          "type": "string"
        },
        "tooltips": {
          "description": "The data containing the tooltip for the corresponding node. A blank value results in no tooltip being displayed for the node. This field is optional.",
          "$ref": "ChartData"
        }
      },
      "id": "OrgChartSpec",
      "type": "object",
      "description": "An org chart. Org charts require a unique set of labels in labels and may optionally include parent_labels and tooltips. parent_labels contain, for each node, the label identifying the parent node. tooltips contain, for each node, an optional tooltip. For example, to describe an OrgChart with Alice as the CEO, Bob as the President (reporting to Alice) and Cathy as VP of Sales (also reporting to Alice), have labels contain \"Alice\", \"Bob\", \"Cathy\", parent_labels contain \"\", \"Alice\", \"Alice\" and tooltips contain \"CEO\", \"President\", \"VP Sales\"."
    },
    "GetSpreadsheetByDataFilterRequest": {
      "properties": {
        "excludeTablesInBandedRanges": {
          "description": "True if tables should be excluded in the banded ranges. False if not set.",
          "type": "boolean"
        },
        "includeGridData": {
          "type": "boolean",
          "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
        },
        "dataFilters": {
          "description": "The DataFilters used to select which ranges to retrieve from the spreadsheet.",
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array"
        }
      },
      "description": "The request for retrieving a Spreadsheet.",
      "type": "object",
      "id": "GetSpreadsheetByDataFilterRequest"
    },
    "DeleteDuplicatesResponse": {
      "description": "The result of removing duplicates in a range.",
      "type": "object",
      "id": "DeleteDuplicatesResponse",
      "properties": {
        "duplicatesRemovedCount": {
          "format": "int32",
          "description": "The number of duplicate rows removed.",
          "type": "integer"
        }
      }
    },
    "Response": {
      "type": "object",
      "properties": {
        "addDimensionGroup": {
          "$ref": "AddDimensionGroupResponse",
          "description": "A reply from adding a dimension group."
        },
        "deleteDuplicates": {
          "description": "A reply from removing rows containing duplicate values.",
          "$ref": "DeleteDuplicatesResponse"
        },
        "addSlicer": {
          "$ref": "AddSlicerResponse",
          "description": "A reply from adding a slicer."
        },
        "updateConditionalFormatRule": {
          "description": "A reply from updating a conditional format rule.",
          "$ref": "UpdateConditionalFormatRuleResponse"
        },
        "createDeveloperMetadata": {
          "description": "A reply from creating a developer metadata entry.",
          "$ref": "CreateDeveloperMetadataResponse"
        },
        "cancelDataSourceRefresh": {
          "$ref": "CancelDataSourceRefreshResponse",
          "description": "A reply from cancelling data source object refreshes."
        },
        "addProtectedRange": {
          "$ref": "AddProtectedRangeResponse",
          "description": "A reply from adding a protected range."
        },
        "refreshDataSource": {
          "description": "A reply from refreshing data source objects.",
          "$ref": "RefreshDataSourceResponse"
        },
        "deleteConditionalFormatRule": {
          "$ref": "DeleteConditionalFormatRuleResponse",
          "description": "A reply from deleting a conditional format rule."
        },
        "duplicateSheet": {
          "description": "A reply from duplicating a sheet.",
          "$ref": "DuplicateSheetResponse"
        },
        "findReplace": {
          "description": "A reply from doing a find/replace.",
          "$ref": "FindReplaceResponse"
        },
        "updateDeveloperMetadata": {
          "$ref": "UpdateDeveloperMetadataResponse",
          "description": "A reply from updating a developer metadata entry."
        },
        "addDataSource": {
          "$ref": "AddDataSourceResponse",
          "description": "A reply from adding a data source."
        },
        "deleteDimensionGroup": {
          "$ref": "DeleteDimensionGroupResponse",
          "description": "A reply from deleting a dimension group."
        },
        "deleteDeveloperMetadata": {
          "description": "A reply from deleting a developer metadata entry.",
          "$ref": "DeleteDeveloperMetadataResponse"
        },
        "addNamedRange": {
          "description": "A reply from adding a named range.",
          "$ref": "AddNamedRangeResponse"
        },
        "updateEmbeddedObjectPosition": {
          "description": "A reply from updating an embedded object's position.",
          "$ref": "UpdateEmbeddedObjectPositionResponse"
        },
        "updateDataSource": {
          "description": "A reply from updating a data source.",
          "$ref": "UpdateDataSourceResponse"
        },
        "addFilterView": {
          "description": "A reply from adding a filter view.",
          "$ref": "AddFilterViewResponse"
        },
        "addTable": {
          "description": "A reply from adding a table.",
          "$ref": "AddTableResponse"
        },
        "trimWhitespace": {
          "description": "A reply from trimming whitespace.",
          "$ref": "TrimWhitespaceResponse"
        },
        "duplicateFilterView": {
          "description": "A reply from duplicating a filter view.",
          "$ref": "DuplicateFilterViewResponse"
        },
        "addSheet": {
          "$ref": "AddSheetResponse",
          "description": "A reply from adding a sheet."
        },
        "addChart": {
          "description": "A reply from adding a chart.",
          "$ref": "AddChartResponse"
        },
        "addBanding": {
          "description": "A reply from adding a banded range.",
          "$ref": "AddBandingResponse"
        }
      },
      "id": "Response",
      "description": "A single response from an update."
    },
    "AddDimensionGroupRequest": {
      "id": "AddDimensionGroupRequest",
      "description": "Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].",
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The range over which to create a group."
        }
      },
      "type": "object"
    },
    "UpdateConditionalFormatRuleResponse": {
      "type": "object",
      "id": "UpdateConditionalFormatRuleResponse",
      "description": "The result of updating a conditional format rule.",
      "properties": {
        "oldRule": {
          "$ref": "ConditionalFormatRule",
          "description": "The old (deleted) rule. Not set if a rule was moved (because it is the same as new_rule)."
        },
        "newRule": {
          "description": "The new rule that replaced the old rule (if replacing), or the rule that was moved (if moved)",
          "$ref": "ConditionalFormatRule"
        },
        "oldIndex": {
          "description": "The old index of the rule. Not set if a rule was replaced (because it is the same as new_index).",
          "format": "int32",
          "type": "integer"
        },
        "newIndex": {
          "format": "int32",
          "description": "The index of the new rule.",
          "type": "integer"
        }
      }
    },
    "UpdateBordersRequest": {
      "id": "UpdateBordersRequest",
      "properties": {
        "left": {
          "description": "The border to put at the left of the range.",
          "$ref": "Border"
        },
        "right": {
          "$ref": "Border",
          "description": "The border to put at the right of the range."
        },
        "bottom": {
          "description": "The border to put at the bottom of the range.",
          "$ref": "Border"
        },
        "innerHorizontal": {
          "description": "The horizontal border to put within the range.",
          "$ref": "Border"
        },
        "innerVertical": {
          "$ref": "Border",
          "description": "The vertical border to put within the range."
        },
        "range": {
          "description": "The range whose borders should be updated.",
          "$ref": "GridRange"
        },
        "top": {
          "$ref": "Border",
          "description": "The border to put at the top of the range."
        }
      },
      "description": "Updates the borders of a range. If a field is not set in the request, that means the border remains as-is. For example, with two subsequent UpdateBordersRequest: 1. range: A1:A5 `{ top: RED, bottom: WHITE }` 2. range: A1:A5 `{ left: BLUE }` That would result in A1:A5 having a borders of `{ top: RED, bottom: WHITE, left: BLUE }`. If you want to clear a border, explicitly set the style to NONE.",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DataSourceRefreshMonthlySchedule": {
      "id": "DataSourceRefreshMonthlySchedule",
      "description": "A monthly schedule for data to refresh on specific days in the month in a given time interval.",
      "properties": {
        "daysOfMonth": {
          "description": "Days of the month to refresh. Only 1-28 are supported, mapping to the 1st to the 28th day. At least one day must be specified.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor."
        }
      },
      "type": "object"
    },
    "AddChartResponse": {
      "description": "The result of adding a chart to a spreadsheet.",
      "id": "AddChartResponse",
      "type": "object",
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The newly added chart."
        }
      }
    },
    "FilterView": {
      "properties": {
        "filterViewId": {
          "type": "integer",
          "description": "The ID of the filter view.",
          "format": "int32"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range this filter view covers. When writing, only one of range, named_range_id, or table_id may be set."
        },
        "sortSpecs": {
          "type": "array",
          "items": {
            "$ref": "SortSpec"
          },
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications."
        },
        "title": {
          "type": "string",
          "description": "The name of the filter view."
        },
        "namedRangeId": {
          "type": "string",
          "description": "The named range this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set."
        },
        "filterSpecs": {
          "items": {
            "$ref": "FilterSpec"
          },
          "type": "array",
          "description": "The filter criteria for showing or hiding values per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
        },
        "tableId": {
          "description": "The table this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set.",
          "type": "string"
        },
        "criteria": {
          "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.",
          "type": "object",
          "deprecated": true,
          "additionalProperties": {
            "$ref": "FilterCriteria"
          }
        }
      },
      "description": "A filter view. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters).",
      "id": "FilterView",
      "type": "object"
    },
    "PivotFilterSpec": {
      "id": "PivotFilterSpec",
      "description": "The pivot table filter criteria associated with a specific source column offset.",
      "properties": {
        "filterCriteria": {
          "description": "The criteria for the column.",
          "$ref": "PivotFilterCriteria"
        },
        "dataSourceColumnReference": {
          "$ref": "DataSourceColumnReference",
          "description": "The reference to the data source column."
        },
        "columnOffsetIndex": {
          "type": "integer",
          "description": "The zero-based column offset of the source range.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "DataSourceColumn": {
      "id": "DataSourceColumn",
      "type": "object",
      "properties": {
        "formula": {
          "description": "The formula of the calculated column.",
          "type": "string"
        },
        "reference": {
          "description": "The column reference.",
          "$ref": "DataSourceColumnReference"
        }
      },
      "description": "A column in a data source."
    },
    "DeleteConditionalFormatRuleRequest": {
      "properties": {
        "sheetId": {
          "description": "The sheet the rule is being deleted from.",
          "type": "integer",
          "format": "int32"
        },
        "index": {
          "description": "The zero-based index of the rule to be deleted.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeleteConditionalFormatRuleRequest",
      "description": "Deletes a conditional format rule at the given index. All subsequent rules' indexes are decremented.",
      "type": "object"
    },
    "DeleteDuplicatesRequest": {
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to remove duplicates rows from."
        },
        "comparisonColumns": {
          "type": "array",
          "description": "The columns in the range to analyze for duplicate values. If no columns are selected then all columns are analyzed for duplicates.",
          "items": {
            "$ref": "DimensionRange"
          }
        }
      },
      "id": "DeleteDuplicatesRequest",
      "description": "Removes rows within this range that contain values in the specified columns that are duplicates of values in any previous row. Rows with identical values but different letter cases, formatting, or formulas are considered to be duplicates. This request also removes duplicate rows hidden from view (for example, due to a filter). When removing duplicates, the first instance of each duplicate row scanning from the top downwards is kept in the resulting range. Content outside of the specified range isn't removed, and rows considered duplicates do not have to be adjacent to each other in the range.",
      "type": "object"
    },
    "CancelDataSourceRefreshStatus": {
      "id": "CancelDataSourceRefreshStatus",
      "type": "object",
      "description": "The status of cancelling a single data source object refresh.",
      "properties": {
        "refreshCancellationStatus": {
          "$ref": "RefreshCancellationStatus",
          "description": "The cancellation status."
        },
        "reference": {
          "$ref": "DataSourceObjectReference",
          "description": "Reference to the data source object whose refresh is being cancelled."
        }
      }
    },
    "MatchedDeveloperMetadata": {
      "type": "object",
      "properties": {
        "dataFilters": {
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          },
          "description": "All filters matching the returned developer metadata."
        },
        "developerMetadata": {
          "$ref": "DeveloperMetadata",
          "description": "The developer metadata matching the specified filters."
        }
      },
      "id": "MatchedDeveloperMetadata",
      "description": "A developer metadata entry and the data filters specified in the original request that matched it."
    },
    "TableRowsProperties": {
      "description": "The table row properties.",
      "id": "TableRowsProperties",
      "properties": {
        "footerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the last row. If this field is not set a footer is not added, the last row is filled with either first_band_color_style or second_band_color_style, depending on the color of the previous row. If updating an existing table without a footer to have a footer, the range will be expanded by 1 row. If updating an existing table with a footer and removing a footer, the range will be shrunk by 1 row."
        },
        "headerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the header row. If this field is set, the header row is filled with the specified color. Otherwise, the header row is filled with a default color."
        },
        "secondBandColorStyle": {
          "description": "The second color that is alternating. If this field is set, the second banded row is filled with the specified color. Otherwise, the second banded row is filled with a default color.",
          "$ref": "ColorStyle"
        },
        "firstBandColorStyle": {
          "$ref": "ColorStyle",
          "description": "The first color that is alternating. If this field is set, the first banded row is filled with the specified color. Otherwise, the first banded row is filled with a default color."
        }
      },
      "type": "object"
    },
    "AddNamedRangeResponse": {
      "type": "object",
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to add."
        }
      },
      "description": "The result of adding a named range.",
      "id": "AddNamedRangeResponse"
    },
    "UpdateSlicerSpecRequest": {
      "type": "object",
      "id": "UpdateSlicerSpecRequest",
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `SlicerSpec` is implied and should not be specified. A single \"*\"` can be used as short-hand for listing every field."
        },
        "slicerId": {
          "description": "The id of the slicer to update.",
          "format": "int32",
          "type": "integer"
        },
        "spec": {
          "$ref": "SlicerSpec",
          "description": "The specification to apply to the slicer."
        }
      },
      "description": "Updates a slicer's specifications. (This does not move or resize a slicer. To move or resize a slicer use UpdateEmbeddedObjectPositionRequest."
    },
    "AddDataSourceResponse": {
      "id": "AddDataSourceResponse",
      "description": "The result of adding a data source.",
      "type": "object",
      "properties": {
        "dataExecutionStatus": {
          "description": "The data execution status.",
          "$ref": "DataExecutionStatus"
        },
        "dataSource": {
          "$ref": "DataSource",
          "description": "The data source that was created."
        }
      }
    },
    "DeleteBandingRequest": {
      "description": "Removes the banded range with the given ID from the spreadsheet.",
      "properties": {
        "bandedRangeId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the banded range to delete."
        }
      },
      "id": "DeleteBandingRequest",
      "type": "object"
    },
    "InsertDimensionRequest": {
      "id": "InsertDimensionRequest",
      "type": "object",
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The dimensions to insert. Both the start and end indexes must be bounded."
        },
        "inheritFromBefore": {
          "description": "Whether dimension properties should be extended from the dimensions before or after the newly inserted dimensions. True to inherit from the dimensions before (in which case the start index must be greater than 0), and false to inherit from the dimensions after. For example, if row index 0 has red background and row index 1 has a green background, then inserting 2 rows at index 1 can inherit either the green or red background. If `inheritFromBefore` is true, the two new rows will be red (because the row before the insertion point was red), whereas if `inheritFromBefore` is false, the two new rows will be green (because the row after the insertion point was green).",
          "type": "boolean"
        }
      },
      "description": "Inserts rows or columns in a sheet at a particular index."
    },
    "TextFormat": {
      "description": "The format of a run of text in a cell. Absent values indicate that the field isn't specified.",
      "id": "TextFormat",
      "type": "object",
      "properties": {
        "underline": {
          "type": "boolean",
          "description": "True if the text is underlined."
        },
        "link": {
          "description": "The link destination of the text, if any. Setting the link field in a TextFormatRun will clear the cell's existing links or a cell-level link set in the same request. When a link is set, the text foreground color will be set to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults.",
          "$ref": "Link"
        },
        "bold": {
          "description": "True if the text is bold.",
          "type": "boolean"
        },
        "foregroundColorStyle": {
          "description": "The foreground color of the text. If foreground_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "fontSize": {
          "format": "int32",
          "type": "integer",
          "description": "The size of the font."
        },
        "strikethrough": {
          "description": "True if the text has a strikethrough.",
          "type": "boolean"
        },
        "fontFamily": {
          "description": "The font family.",
          "type": "string"
        },
        "foregroundColor": {
          "deprecated": true,
          "description": "The foreground color of the text. Deprecated: Use foreground_color_style.",
          "$ref": "Color"
        },
        "italic": {
          "type": "boolean",
          "description": "True if the text is italicized."
        }
      }
    },
    "DeveloperMetadataLookup": {
      "id": "DeveloperMetadataLookup",
      "properties": {
        "visibility": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.visibility. If left unspecified, all developer metadata visible to the requesting project is considered.",
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ]
        },
        "locationType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "description": "Limits the selected developer metadata to those entries which are associated with locations of the specified type. For example, when this field is specified as ROW this lookup only considers developer metadata associated on rows. If the field is left unspecified, all location types are considered. This field cannot be specified as SPREADSHEET when the locationMatchingStrategy is specified as INTERSECTING or when the metadataLocation is specified as a non-spreadsheet location. Spreadsheet metadata cannot intersect any other developer metadata location. This field also must be left unspecified when the locationMatchingStrategy is specified as EXACT."
        },
        "metadataId": {
          "type": "integer",
          "format": "int32",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_id."
        },
        "locationMatchingStrategy": {
          "enum": [
            "DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED",
            "EXACT_LOCATION",
            "INTERSECTING_LOCATION"
          ],
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Indicates that a specified location should be matched exactly. For example, if row three were specified as a location this matching strategy would only match developer metadata also associated on row three. Metadata associated on other locations would not be considered.",
            "Indicates that a specified location should match that exact location as well as any intersecting locations. For example, if row three were specified as a location this matching strategy would match developer metadata associated on row three as well as metadata associated on locations that intersect row three. If, for instance, there was developer metadata associated on column B, this matching strategy would also match that location because column B intersects row three."
          ],
          "type": "string",
          "description": "Determines how this lookup matches the location. If this field is specified as EXACT, only developer metadata associated on the exact location specified is matched. If this field is specified to INTERSECTING, developer metadata associated on intersecting locations is also matched. If left unspecified, this field assumes a default value of INTERSECTING. If this field is specified, a metadataLocation must also be specified."
        },
        "metadataKey": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_key.",
          "type": "string"
        },
        "metadataLocation": {
          "$ref": "DeveloperMetadataLocation",
          "description": "Limits the selected developer metadata to those entries associated with the specified location. This field either matches exact locations or all intersecting locations according the specified locationMatchingStrategy."
        },
        "metadataValue": {
          "type": "string",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_value."
        }
      },
      "description": "Selects DeveloperMetadata that matches all of the specified fields. For example, if only a metadata ID is specified this considers the DeveloperMetadata with that particular unique ID. If a metadata key is specified, this considers all developer metadata with that key. If a key, visibility, and location type are all specified, this considers all developer metadata with that key and visibility that are associated with a location of that type. In general, this selects all DeveloperMetadata that match the intersection of all the specified fields; any field or combination of fields may be specified.",
      "type": "object"
    },
    "UpdateEmbeddedObjectBorderRequest": {
      "description": "Updates an embedded object's border property.",
      "properties": {
        "objectId": {
          "format": "int32",
          "description": "The ID of the embedded object to update.",
          "type": "integer"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `border` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "border": {
          "description": "The border that applies to the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        }
      },
      "id": "UpdateEmbeddedObjectBorderRequest",
      "type": "object"
    },
    "AutoFillRequest": {
      "type": "object",
      "description": "Fills in more data based on existing data.",
      "properties": {
        "useAlternateSeries": {
          "type": "boolean",
          "description": "True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data."
        },
        "sourceAndDestination": {
          "description": "The source and destination areas to autofill. This explicitly lists the source of the autofill and where to extend that data.",
          "$ref": "SourceAndDestination"
        },
        "range": {
          "description": "The range to autofill. This will examine the range and detect the location that has data and automatically fill that data in to the rest of the range.",
          "$ref": "GridRange"
        }
      },
      "id": "AutoFillRequest"
    },
    "UpdateCellsRequest": {
      "properties": {
        "start": {
          "description": "The coordinate to start writing data at. Any number of rows and columns (including a different number of columns per row) may be written.",
          "$ref": "GridCoordinate"
        },
        "fields": {
          "type": "string",
          "description": "The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range to write data to. If the data in rows does not cover the entire requested range, the fields matching those set in fields will be cleared."
        },
        "rows": {
          "items": {
            "$ref": "RowData"
          },
          "type": "array",
          "description": "The data to write."
        }
      },
      "id": "UpdateCellsRequest",
      "type": "object",
      "description": "Updates all cells in a range with new data."
    },
    "FindReplaceResponse": {
      "id": "FindReplaceResponse",
      "type": "object",
      "description": "The result of the find/replace.",
      "properties": {
        "sheetsChanged": {
          "format": "int32",
          "description": "The number of sheets changed.",
          "type": "integer"
        },
        "rowsChanged": {
          "type": "integer",
          "description": "The number of rows changed.",
          "format": "int32"
        },
        "formulasChanged": {
          "format": "int32",
          "type": "integer",
          "description": "The number of formula cells changed."
        },
        "valuesChanged": {
          "description": "The number of non-formula cells changed.",
          "format": "int32",
          "type": "integer"
        },
        "occurrencesChanged": {
          "description": "The number of occurrences (possibly multiple within a cell) changed. For example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would be `\"3\"` because `\"Google Sheets\"` -> `\"Googlo Shoots\"`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RefreshDataSourceResponse": {
      "id": "RefreshDataSourceResponse",
      "description": "The response from refreshing one or multiple data source objects.",
      "properties": {
        "statuses": {
          "items": {
            "$ref": "RefreshDataSourceObjectExecutionStatus"
          },
          "type": "array",
          "description": "All the refresh status for the data source object references specified in the request. If is_all is specified, the field contains only those in failure status."
        }
      },
      "type": "object"
    },
    "AddTableResponse": {
      "properties": {
        "table": {
          "description": "Output only. The table that was added.",
          "readOnly": true,
          "$ref": "Table"
        }
      },
      "id": "AddTableResponse",
      "description": "The result of adding a table.",
      "type": "object"
    },
    "BooleanCondition": {
      "properties": {
        "values": {
          "items": {
            "$ref": "ConditionValue"
          },
          "description": "The values of the condition. The number of supported values depends on the condition type. Some support zero values, others one or two values, and ConditionType.ONE_OF_LIST supports an arbitrary number of values.",
          "type": "array"
        },
        "type": {
          "description": "The type of condition.",
          "enumDescriptions": [
            "The default value, do not use.",
            "The cell's value must be greater than the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be greater than or equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be less than the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be less than or equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be not equal to the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be between the two condition values. Supported by data validation, conditional formatting and filters. Requires exactly two ConditionValues.",
            "The cell's value must not be between the two condition values. Supported by data validation, conditional formatting and filters. Requires exactly two ConditionValues.",
            "The cell's value must contain the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must not contain the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must start with the condition's value. Supported by conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must end with the condition's value. Supported by conditional formatting and filters. Requires a single ConditionValue.",
            "The cell's value must be exactly the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be a valid email address. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be a valid URL. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be the same date as the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue for data validation, conditional formatting, and filters on non-data source objects and at least one ConditionValue for filters on data source objects.",
            "The cell's value must be before the date of the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be after the date of the condition's value. Supported by data validation, conditional formatting and filters. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be on or before the date of the condition's value. Supported by data validation. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be on or after the date of the condition's value. Supported by data validation. Requires a single ConditionValue that may be a relative date.",
            "The cell's value must be between the dates of the two condition values. Supported by data validation. Requires exactly two ConditionValues.",
            "The cell's value must be outside the dates of the two condition values. Supported by data validation. Requires exactly two ConditionValues.",
            "The cell's value must be a date. Supported by data validation. Requires no ConditionValues.",
            "The cell's value must be listed in the grid in condition value's range. Supported by data validation. Requires a single ConditionValue, and the value must be a valid range in A1 notation.",
            "The cell's value must be in the list of condition values. Supported by data validation. Supports any number of condition values, one per item in the list. Formulas are not supported in the values.",
            "The cell's value must be empty. Supported by conditional formatting and filters. Requires no ConditionValues.",
            "The cell's value must not be empty. Supported by conditional formatting and filters. Requires no ConditionValues.",
            "The condition's formula must evaluate to true. Supported by data validation, conditional formatting and filters. Not supported by data source sheet filters. Requires a single ConditionValue.",
            "The cell's value must be TRUE/FALSE or in the list of condition values. Supported by data validation. Renders as a cell checkbox. Supports zero, one or two ConditionValues. No values indicates the cell must be TRUE or FALSE, where TRUE renders as checked and FALSE renders as unchecked. One value indicates the cell will render as checked when it contains that value and unchecked when it is blank. Two values indicate that the cell will render as checked when it contains the first value and unchecked when it contains the second value. For example, [\"Yes\",\"No\"] indicates that the cell will render a checked box when it has the value \"Yes\" and an unchecked box when it has the value \"No\".",
            "The cell's value must be exactly not the condition's value. Supported by filters on data source objects. Requires at least one ConditionValue.",
            "The cell's value must be exactly not the condition's value. Supported by filters on data source objects. Requires at least one ConditionValue.",
            "The cell's value must follow the pattern specified. Requires a single ConditionValue."
          ],
          "type": "string",
          "enum": [
            "CONDITION_TYPE_UNSPECIFIED",
            "NUMBER_GREATER",
            "NUMBER_GREATER_THAN_EQ",
            "NUMBER_LESS",
            "NUMBER_LESS_THAN_EQ",
            "NUMBER_EQ",
            "NUMBER_NOT_EQ",
            "NUMBER_BETWEEN",
            "NUMBER_NOT_BETWEEN",
            "TEXT_CONTAINS",
            "TEXT_NOT_CONTAINS",
            "TEXT_STARTS_WITH",
            "TEXT_ENDS_WITH",
            "TEXT_EQ",
            "TEXT_IS_EMAIL",
            "TEXT_IS_URL",
            "DATE_EQ",
            "DATE_BEFORE",
            "DATE_AFTER",
            "DATE_ON_OR_BEFORE",
            "DATE_ON_OR_AFTER",
            "DATE_BETWEEN",
            "DATE_NOT_BETWEEN",
            "DATE_IS_VALID",
            "ONE_OF_RANGE",
            "ONE_OF_LIST",
            "BLANK",
            "NOT_BLANK",
            "CUSTOM_FORMULA",
            "BOOLEAN",
            "TEXT_NOT_EQ",
            "DATE_NOT_EQ",
            "FILTER_EXPRESSION"
          ]
        }
      },
      "id": "BooleanCondition",
      "description": "A condition that can evaluate to true or false. BooleanConditions are used by conditional formatting, data validation, and the criteria in filters.",
      "type": "object"
    },
    "BatchGetValuesResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        },
        "valueRanges": {
          "type": "array",
          "description": "The requested values. The order of the ValueRanges is the same as the order of the requested ranges.",
          "items": {
            "$ref": "ValueRange"
          }
        }
      },
      "id": "BatchGetValuesResponse"
    },
    "DataSourceRefreshWeeklySchedule": {
      "description": "A weekly schedule for data to refresh on specific days in a given time interval.",
      "type": "object",
      "properties": {
        "daysOfWeek": {
          "description": "Days of the week to refresh. At least one day must be specified.",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "startTime": {
          "description": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "DataSourceRefreshWeeklySchedule"
    },
    "CancelDataSourceRefreshResponse": {
      "type": "object",
      "properties": {
        "statuses": {
          "description": "The cancellation statuses of refreshes of all data source objects specified in the request. If is_all is specified, the field contains only those in failure status. Refreshing and canceling refresh the same data source object is also not allowed in the same `batchUpdate`.",
          "type": "array",
          "items": {
            "$ref": "CancelDataSourceRefreshStatus"
          }
        }
      },
      "description": "The response from cancelling one or multiple data source object refreshes.",
      "id": "CancelDataSourceRefreshResponse"
    },
    "DimensionRange": {
      "description": "A range along a single dimension on a sheet. All indexes are zero-based. Indexes are half open: the start index is inclusive and the end index is exclusive. Missing indexes indicate the range is unbounded on that side.",
      "type": "object",
      "id": "DimensionRange",
      "properties": {
        "startIndex": {
          "description": "The start (inclusive) of the span, or not set if unbounded.",
          "type": "integer",
          "format": "int32"
        },
        "dimension": {
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension of the span.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        },
        "sheetId": {
          "description": "The sheet this span is on.",
          "format": "int32",
          "type": "integer"
        },
        "endIndex": {
          "description": "The end (exclusive) of the span, or not set if unbounded.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DeleteEmbeddedObjectRequest": {
      "description": "Deletes the embedded object with the given ID.",
      "id": "DeleteEmbeddedObjectRequest",
      "type": "object",
      "properties": {
        "objectId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the embedded object to delete."
        }
      }
    },
    "SpreadsheetTheme": {
      "id": "SpreadsheetTheme",
      "description": "Represents spreadsheet theme",
      "type": "object",
      "properties": {
        "primaryFontFamily": {
          "type": "string",
          "description": "Name of the primary font family."
        },
        "themeColors": {
          "type": "array",
          "items": {
            "$ref": "ThemeColorPair"
          },
          "description": "The spreadsheet theme color pairs. To update you must provide all theme color pairs."
        }
      }
    },
    "UpdateDeveloperMetadataRequest": {
      "description": "A request to update properties of developer metadata. Updates the properties of the developer metadata selected by the filters to the values provided in the DeveloperMetadata resource. Callers must specify the properties they wish to update in the fields parameter, as well as specify at least one DataFilter matching the metadata they wish to update.",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `developerMetadata` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
[...]
