{
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "type": "object",
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          },
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners."
        },
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "site": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          },
          "description": "The address and type of a site that is verified or will be verified."
        }
      },
      "id": "SiteVerificationWebResourceResource",
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object"
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      },
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object"
    }
  },
  "title": "Google Site Verification API",
  "servicePath": "siteVerification/v1/",
  "batchPath": "batch/siteVerification/v1",
  "protocol": "rest",
  "id": "siteVerification:v1",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "name": "siteVerification",
  "kind": "discovery#restDescription",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "/siteVerification/v1/",
  "ownerName": "Google",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for the response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "false"
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    }
  },
  "version": "v1",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "description": "Verifies ownership of websites or domains with Google.",
  "revision": "20191119",
  "documentationLink": "https://developers.google.com/site-verification/",
  "discoveryVersion": "v1",
  "resources": {
    "webResource": {
      "methods": {
        "update": {
          "description": "Modify the list of owners for your website or domain.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.update",
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get",
          "description": "Get the most current data for a website or domain.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "getToken": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Get a verification token for placing on a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "id": "siteVerification.webResource.getToken",
          "path": "token"
        },
        "insert": {
          "description": "Attempt verification of a website or domain.",
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.insert",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "parameterOrder": [
            "verificationMethod"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "patch": {
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource",
          "id": "siteVerification.webResource.list",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "delete": {
          "id": "siteVerification.webResource.delete",
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    }
  }
}