{
  "name": "siteVerification",
  "servicePath": "siteVerification/v1/",
  "protocol": "rest",
  "revision": "20191119",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "version": "v1",
  "resources": {
    "webResource": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "DELETE",
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain."
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "siteVerification.webResource.patch",
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics."
        },
        "getToken": {
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "path": "token",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken",
          "description": "Get a verification token for placing on a website or domain."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "id": "siteVerification.webResource.list",
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "update": {
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.update",
          "httpMethod": "PUT"
        },
        "insert": {
          "httpMethod": "POST",
          "id": "siteVerification.webResource.insert",
          "parameters": {
            "verificationMethod": {
              "location": "query",
              "description": "The method to use for verifying a site or domain.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Attempt verification of a website or domain.",
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "id": "siteVerification.webResource.get",
          "description": "Get the most current data for a website or domain.",
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "basePath": "/siteVerification/v1/",
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "type": "string",
      "enum": [
        "json"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "title": "Google Site Verification API",
  "rootUrl": "https://www.googleapis.com/",
  "id": "siteVerification:v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      }
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "type": "object",
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          }
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "owners": {
          "description": "The email addresses of all verified owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    }
  },
  "ownerName": "Google",
  "description": "Verifies ownership of websites or domains with Google.",
  "documentationLink": "https://developers.google.com/site-verification/",
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "ownerDomain": "google.com",
  "batchPath": "batch/siteVerification/v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  }
}