{
  "basePath": "/siteVerification/v1/",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/site-verification/",
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://www.googleapis.com/",
  "protocol": "rest",
  "description": "Verifies ownership of websites or domains with Google.",
  "servicePath": "siteVerification/v1/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        },
        "site": {
          "description": "The site for which a verification token will be generated.",
          "type": "object",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          }
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "owners": {
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners.",
          "type": "array"
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          }
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceResource"
    },
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user.",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    }
  },
  "ownerName": "Google",
  "revision": "20191119",
  "id": "siteVerification:v1",
  "title": "Google Site Verification API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "name": "siteVerification",
  "resources": {
    "webResource": {
      "methods": {
        "update": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain.",
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.update",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "patch": {
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The id of a verified site or domain."
            }
          }
        },
        "delete": {
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain.",
          "id": "siteVerification.webResource.delete",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.get",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Get the most current data for a website or domain.",
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "httpMethod": "GET"
        },
        "getToken": {
          "id": "siteVerification.webResource.getToken",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "token",
          "description": "Get a verification token for placing on a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          }
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "id": "siteVerification.webResource.list",
          "path": "webResource",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "id": "siteVerification.webResource.insert",
          "parameterOrder": [
            "verificationMethod"
          ],
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The method to use for verifying a site or domain."
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Attempt verification of a website or domain."
        }
      }
    }
  },
  "batchPath": "batch/siteVerification/v1"
}