{
  "servicePath": "siteVerification/v1/",
  "ownerName": "Google",
  "name": "siteVerification",
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "false"
    }
  },
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "site": {
          "type": "object",
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        },
        "verificationMethod": {
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners."
        }
      },
      "id": "SiteVerificationWebResourceResource",
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object"
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "The list of sites that are owned by the authenticated user."
        }
      }
    }
  },
  "basePath": "/siteVerification/v1/",
  "title": "Google Site Verification API",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "documentationLink": "https://developers.google.com/site-verification/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "resources": {
    "webResource": {
      "methods": {
        "list": {
          "id": "siteVerification.webResource.list",
          "path": "webResource",
          "httpMethod": "GET",
          "description": "Get the list of your verified websites and domains.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "getToken": {
          "id": "siteVerification.webResource.getToken",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "path": "token",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "description": "Get a verification token for placing on a website or domain."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "id": "siteVerification.webResource.update",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "httpMethod": "PUT"
        },
        "delete": {
          "id": "siteVerification.webResource.delete",
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "get": {
          "id": "siteVerification.webResource.get",
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "httpMethod": "GET",
          "description": "Get the most current data for a website or domain.",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "patch": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "id": "siteVerification.webResource.patch",
          "parameterOrder": [
            "id"
          ]
        },
        "insert": {
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Attempt verification of a website or domain.",
          "id": "siteVerification.webResource.insert",
          "parameterOrder": [
            "verificationMethod"
          ],
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "path": "webResource",
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "siteVerification:v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch/siteVerification/v1",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "version": "v1",
  "description": "Verifies ownership of websites or domains with Google.",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "revision": "20191119",
  "protocol": "rest"
}