{
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "basePath": "/siteVerification/v1/",
  "servicePath": "siteVerification/v1/",
  "batchPath": "batch/siteVerification/v1",
  "title": "Google Site Verification API",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "kind": "discovery#restDescription",
  "revision": "20191119",
  "ownerName": "Google",
  "resources": {
    "webResource": {
      "methods": {
        "get": {
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "GET",
          "description": "Get the most current data for a website or domain.",
          "id": "siteVerification.webResource.get",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true
            }
          }
        },
        "list": {
          "path": "webResource",
          "description": "Get the list of your verified websites and domains.",
          "httpMethod": "GET",
          "id": "siteVerification.webResource.list",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "getToken": {
          "path": "token",
          "description": "Get a verification token for placing on a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "httpMethod": "POST",
          "id": "siteVerification.webResource.getToken",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          }
        },
        "insert": {
          "id": "siteVerification.webResource.insert",
          "httpMethod": "POST",
          "description": "Attempt verification of a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "verificationMethod": {
              "location": "query",
              "type": "string",
              "description": "The method to use for verifying a site or domain.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "parameterOrder": [
            "verificationMethod"
          ]
        },
        "patch": {
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.patch",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PATCH",
          "path": "webResource/{id}"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain.",
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true
            }
          },
          "id": "siteVerification.webResource.delete",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "update": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "path": "webResource/{id}",
          "httpMethod": "PUT",
          "description": "Modify the list of owners for your website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.update"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/site-verification/",
  "description": "Verifies ownership of websites or domains with Google.",
  "id": "siteVerification:v1",
  "version": "v1",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "type": "object",
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user.",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "site": {
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          },
          "type": "object",
          "description": "The address and type of a site that is verified or will be verified."
        }
      },
      "type": "object"
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "prettyPrint": {
      "default": "false",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    }
  },
  "name": "siteVerification",
  "protocol": "rest",
  "ownerDomain": "google.com"
}