{
  "id": "siteVerification:v1",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "type": "object",
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          },
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "properties": {
        "owners": {
          "description": "The email addresses of all verified owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        }
      },
      "id": "SiteVerificationWebResourceResource"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "name": "siteVerification",
  "servicePath": "siteVerification/v1/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "resources": {
    "webResource": {
      "methods": {
        "delete": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.delete",
          "path": "webResource/{id}"
        },
        "getToken": {
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "description": "Get a verification token for placing on a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "path": "token",
          "id": "siteVerification.webResource.getToken"
        },
        "list": {
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource",
          "id": "siteVerification.webResource.list"
        },
        "patch": {
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.patch",
          "path": "webResource/{id}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          }
        },
        "update": {
          "id": "siteVerification.webResource.update",
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          }
        },
        "get": {
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "description": "Get the most current data for a website or domain.",
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.get"
        },
        "insert": {
          "path": "webResource",
          "id": "siteVerification.webResource.insert",
          "parameterOrder": [
            "verificationMethod"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Attempt verification of a website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "required": true,
              "description": "The method to use for verifying a site or domain.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST"
        }
      }
    }
  },
  "parameters": {
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for the response.",
      "type": "string",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    }
  },
  "revision": "20191119",
  "documentationLink": "https://developers.google.com/site-verification/",
  "title": "Google Site Verification API",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "description": "Verifies ownership of websites or domains with Google.",
  "ownerDomain": "google.com",
  "rootUrl": "https://www.googleapis.com/",
  "version": "v1",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "basePath": "/siteVerification/v1/",
  "batchPath": "batch/siteVerification/v1"
}