{
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "description": "Verifies ownership of websites or domains with Google.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "revision": "20191119",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "alt": {
      "enum": [
        "json"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "default": "json"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "basePath": "/siteVerification/v1/",
  "batchPath": "batch/siteVerification/v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png",
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png"
  },
  "schemas": {
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array"
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "properties": {
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          },
          "type": "object"
        },
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners."
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "properties": {
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        },
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        },
        "site": {
          "description": "The site for which a verification token will be generated.",
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          }
        }
      },
      "id": "SiteVerificationWebResourceGettokenRequest"
    }
  },
  "name": "siteVerification",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "version": "v1",
  "ownerDomain": "google.com",
  "title": "Google Site Verification API",
  "rootUrl": "https://www.googleapis.com/",
  "id": "siteVerification:v1",
  "documentationLink": "https://developers.google.com/site-verification/",
  "resources": {
    "webResource": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The id of a verified site or domain."
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "id": "siteVerification.webResource.patch",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.get",
          "description": "Get the most current data for a website or domain.",
          "path": "webResource/{id}"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The id of a verified site or domain."
            }
          },
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "insert": {
          "id": "siteVerification.webResource.insert",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "description": "Attempt verification of a website or domain.",
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The method to use for verifying a site or domain."
            }
          },
          "parameterOrder": [
            "verificationMethod"
          ]
        },
        "update": {
          "id": "siteVerification.webResource.update",
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Modify the list of owners for your website or domain.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PUT",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "path": "webResource",
          "httpMethod": "GET",
          "id": "siteVerification.webResource.list"
        },
        "getToken": {
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "description": "Get a verification token for placing on a website or domain.",
          "path": "token"
        }
      }
    }
  },
  "servicePath": "siteVerification/v1/",
  "protocol": "rest"
}