{
  "id": "siteVerification:v1",
  "kind": "discovery#restDescription",
  "basePath": "/siteVerification/v1/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "ownerName": "Google",
  "servicePath": "siteVerification/v1/",
  "description": "Verifies ownership of websites or domains with Google.",
  "resources": {
    "webResource": {
      "methods": {
        "update": {
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain.",
          "parameterOrder": [
            "id"
          ],
          "id": "siteVerification.webResource.update",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PUT",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "getToken": {
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "id": "siteVerification.webResource.getToken",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "description": "Get a verification token for placing on a website or domain.",
          "path": "token"
        },
        "insert": {
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST",
          "parameters": {
            "verificationMethod": {
              "required": true,
              "description": "The method to use for verifying a site or domain.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "webResource",
          "description": "Attempt verification of a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "parameterOrder": [
            "verificationMethod"
          ],
          "id": "siteVerification.webResource.insert",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "description": "Get the most current data for a website or domain.",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get",
          "path": "webResource/{id}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.list"
        },
        "delete": {
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.delete",
          "parameterOrder": [
            "id"
          ],
          "description": "Relinquish ownership of a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "required": true,
              "description": "The id of a verified site or domain.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.patch",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "version": "v1",
  "name": "siteVerification",
  "protocol": "rest",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "revision": "20191119",
  "batchPath": "batch/siteVerification/v1",
  "rootUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "false",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for the response."
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "type": "object",
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "description": "The address and type of a site that is verified or will be verified."
        },
        "owners": {
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        }
      }
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "properties": {
        "site": {
          "type": "object",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "description": "The site for which a verification token will be generated."
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      },
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user.",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse"
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "title": "Google Site Verification API",
  "documentationLink": "https://developers.google.com/site-verification/"
}