{
  "version": "v1",
  "servicePath": "siteVerification/v1/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "false"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch/siteVerification/v1",
  "title": "Google Site Verification API",
  "basePath": "/siteVerification/v1/",
  "revision": "20191119",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://www.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "ownerName": "Google",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "name": "siteVerification",
  "resources": {
    "webResource": {
      "methods": {
        "getToken": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken",
          "description": "Get a verification token for placing on a website or domain.",
          "httpMethod": "POST",
          "path": "token",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          }
        },
        "delete": {
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ]
        },
        "update": {
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Modify the list of owners for your website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "siteVerification.webResource.update",
          "httpMethod": "PUT",
          "path": "webResource/{id}",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "patch": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "id": "siteVerification.webResource.patch"
        },
        "insert": {
          "description": "Attempt verification of a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "id": "siteVerification.webResource.insert",
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "verificationMethod"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Get the most current data for a website or domain.",
          "id": "siteVerification.webResource.get",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "list": {
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "id": "siteVerification.webResource.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource"
        }
      }
    }
  },
  "protocol": "rest",
  "description": "Verifies ownership of websites or domains with Google.",
  "ownerDomain": "google.com",
  "schemas": {
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners."
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        }
      },
      "id": "SiteVerificationWebResourceResource"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      }
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "site": {
          "type": "object",
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        },
        "verificationMethod": {
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "documentationLink": "https://developers.google.com/site-verification/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "siteVerification:v1"
}