{
  "title": "Google Site Verification API",
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "ownerDomain": "google.com",
  "version": "v1",
  "resources": {
    "webResource": {
      "methods": {
        "getToken": {
          "description": "Get a verification token for placing on a website or domain.",
          "path": "token",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "id": "siteVerification.webResource.getToken",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST"
        },
        "patch": {
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.patch",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true
            }
          },
          "path": "webResource/{id}",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PATCH"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "id": "siteVerification.webResource.list",
          "path": "webResource",
          "description": "Get the list of your verified websites and domains."
        },
        "insert": {
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "parameterOrder": [
            "verificationMethod"
          ],
          "httpMethod": "POST",
          "id": "siteVerification.webResource.insert",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "description": "Attempt verification of a website or domain.",
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "required": true,
              "description": "The method to use for verifying a site or domain.",
              "location": "query"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Modify the list of owners for your website or domain.",
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.update",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "path": "webResource/{id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.get",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Get the most current data for a website or domain."
        }
      }
    }
  },
  "protocol": "rest",
  "basePath": "/siteVerification/v1/",
  "batchPath": "batch/siteVerification/v1",
  "schemas": {
    "SiteVerificationWebResourceGettokenResponse": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "owners": {
          "items": {
            "type": "string"
          },
          "description": "The email addresses of all verified owners.",
          "type": "array"
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceResource"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "properties": {
        "site": {
          "type": "object",
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          }
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      },
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user.",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "id": "siteVerification:v1",
  "name": "siteVerification",
  "revision": "20191119",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "kind": "discovery#restDescription",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "documentationLink": "https://developers.google.com/site-verification/",
  "description": "Verifies ownership of websites or domains with Google.",
  "servicePath": "siteVerification/v1/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "false"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for the response.",
      "default": "json",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "ownerName": "Google"
}