{
  "name": "siteVerification",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "siteVerification:v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "default": "false",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "documentationLink": "https://developers.google.com/site-verification/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "revision": "20191119",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "/siteVerification/v1/",
  "batchPath": "batch/siteVerification/v1",
  "resources": {
    "webResource": {
      "methods": {
        "update": {
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.update",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Get the most current data for a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The id of a verified site or domain."
            }
          },
          "id": "siteVerification.webResource.get",
          "path": "webResource/{id}",
          "httpMethod": "GET"
        },
        "getToken": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "id": "siteVerification.webResource.getToken",
          "path": "token",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "httpMethod": "POST",
          "description": "Get a verification token for placing on a website or domain."
        },
        "insert": {
          "id": "siteVerification.webResource.insert",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "parameterOrder": [
            "verificationMethod"
          ],
          "parameters": {
            "verificationMethod": {
              "required": true,
              "description": "The method to use for verifying a site or domain.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "webResource",
          "description": "Attempt verification of a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "path": "webResource",
          "id": "siteVerification.webResource.list",
          "description": "Get the list of your verified websites and domains.",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "httpMethod": "DELETE",
          "id": "siteVerification.webResource.delete",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain."
            }
          },
          "description": "Relinquish ownership of a website or domain."
        },
        "patch": {
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PATCH",
          "id": "siteVerification.webResource.patch"
        }
      }
    }
  },
  "ownerName": "Google",
  "title": "Google Site Verification API",
  "description": "Verifies ownership of websites or domains with Google.",
  "protocol": "rest",
  "schemas": {
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          }
        },
        "owners": {
          "description": "The email addresses of all verified owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SiteVerificationWebResourceResource"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        },
        "site": {
          "description": "The site for which a verification token will be generated.",
          "type": "object",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          }
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        },
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        }
      },
      "id": "SiteVerificationWebResourceGettokenResponse"
    },
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "servicePath": "siteVerification/v1/"
}