{
  "title": "Google Site Verification API",
  "name": "siteVerification",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "protocol": "rest",
  "revision": "20191119",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/site-verification/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "enum": [
        "json"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    }
  },
  "basePath": "/siteVerification/v1/",
  "resources": {
    "webResource": {
      "methods": {
        "patch": {
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The id of a verified site or domain."
            }
          },
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "PATCH",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "delete": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.delete",
          "description": "Relinquish ownership of a website or domain.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "path": "webResource/{id}"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.get",
          "description": "Get the most current data for a website or domain.",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "description": "The id of a verified site or domain.",
              "required": true
            }
          },
          "path": "webResource/{id}"
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "id": "siteVerification.webResource.list",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET",
          "path": "webResource"
        },
        "getToken": {
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "path": "token",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.getToken",
          "description": "Get a verification token for placing on a website or domain."
        },
        "update": {
          "parameterOrder": [
            "id"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "id": "siteVerification.webResource.update",
          "httpMethod": "PUT",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "The id of a verified site or domain.",
              "required": true
            }
          }
        },
        "insert": {
          "path": "webResource",
          "description": "Attempt verification of a website or domain.",
          "id": "siteVerification.webResource.insert",
          "parameters": {
            "verificationMethod": {
              "location": "query",
              "type": "string",
              "description": "The method to use for verifying a site or domain.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "verificationMethod"
          ],
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        }
      }
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch/siteVerification/v1",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "verificationMethod": {
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
          "type": "string"
        },
        "site": {
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "type": "object",
          "description": "The site for which a verification token will be generated."
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "properties": {
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            },
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            }
          },
          "type": "object",
          "description": "The address and type of a site that is verified or will be verified."
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceResource"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      }
    }
  },
  "servicePath": "siteVerification/v1/",
  "description": "Verifies ownership of websites or domains with Google.",
  "id": "siteVerification:v1",
  "rootUrl": "https://www.googleapis.com/"
}