{
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        },
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false"
    },
    "alt": {
      "location": "query",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "enum": [
        "json"
      ],
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "kind": "discovery#restDescription",
  "description": "Verifies ownership of websites or domains with Google.",
  "id": "siteVerification:v1",
  "ownerDomain": "google.com",
  "batchPath": "batch/siteVerification/v1",
  "schemas": {
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "The list of sites that are owned by the authenticated user.",
          "type": "array"
        }
      },
      "id": "SiteVerificationWebResourceListResponse"
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "properties": {
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        },
        "owners": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The email addresses of all verified owners."
        },
        "id": {
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.",
          "type": "string"
        }
      },
      "id": "SiteVerificationWebResourceResource"
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "id": "SiteVerificationWebResourceGettokenRequest",
      "type": "object",
      "properties": {
        "site": {
          "description": "The site for which a verification token will be generated.",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            },
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            }
          }
        },
        "verificationMethod": {
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
          "type": "string"
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object",
      "properties": {
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      }
    }
  },
  "title": "Google Site Verification API",
  "protocol": "rest",
  "ownerName": "Google",
  "servicePath": "siteVerification/v1/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "name": "siteVerification",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/site-verification/",
  "resources": {
    "webResource": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "id": "siteVerification.webResource.update",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "insert": {
          "parameterOrder": [
            "verificationMethod"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.insert",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "description": "Attempt verification of a website or domain.",
          "path": "webResource",
          "parameters": {
            "verificationMethod": {
              "location": "query",
              "description": "The method to use for verifying a site or domain.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "id": "siteVerification.webResource.get",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Get the most current data for a website or domain."
        },
        "patch": {
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The id of a verified site or domain."
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "getToken": {
          "httpMethod": "POST",
          "id": "siteVerification.webResource.getToken",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "token",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "description": "Get a verification token for placing on a website or domain."
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "id": "siteVerification.webResource.list",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "siteVerification.webResource.delete",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The id of a verified site or domain.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Relinquish ownership of a website or domain."
        }
      }
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "basePath": "/siteVerification/v1/",
  "revision": "20191119"
}