{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "documentationLink": "https://developers.google.com/site-verification/",
  "resources": {
    "webResource": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "siteVerification.webResource.patch",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "httpMethod": "PATCH",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics."
        },
        "getToken": {
          "id": "siteVerification.webResource.getToken",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST",
          "description": "Get a verification token for placing on a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "path": "token"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.list",
          "description": "Get the list of your verified websites and domains.",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "httpMethod": "GET",
          "path": "webResource"
        },
        "update": {
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.update",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "description": "Modify the list of owners for your website or domain.",
          "httpMethod": "PUT"
        },
        "delete": {
          "description": "Relinquish ownership of a website or domain.",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "path": "webResource/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "id": "siteVerification.webResource.delete",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "description": "The id of a verified site or domain.",
              "required": true
            }
          }
        },
        "get": {
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "siteVerification.webResource.get",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "httpMethod": "GET",
          "description": "Get the most current data for a website or domain.",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "insert": {
          "parameters": {
            "verificationMethod": {
              "description": "The method to use for verifying a site or domain.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "id": "siteVerification.webResource.insert",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "verificationMethod"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "description": "Attempt verification of a website or domain.",
          "httpMethod": "POST"
        }
      }
    }
  },
  "name": "siteVerification",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "servicePath": "siteVerification/v1/",
  "description": "Verifies ownership of websites or domains with Google.",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "type": "boolean",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "/siteVerification/v1/",
  "title": "Google Site Verification API",
  "id": "siteVerification:v1",
  "ownerName": "Google",
  "batchPath": "batch/siteVerification/v1",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "kind": "discovery#restDescription",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest",
      "properties": {
        "site": {
          "description": "The site for which a verification token will be generated.",
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "type": "object"
        },
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "properties": {
        "method": {
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.",
          "type": "string"
        },
        "token": {
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SiteVerificationWebResourceListResponse": {
      "type": "object",
      "id": "SiteVerificationWebResourceListResponse",
      "properties": {
        "items": {
          "description": "The list of sites that are owned by the authenticated user.",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array"
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "type": "object",
      "id": "SiteVerificationWebResourceResource",
      "properties": {
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "site": {
          "description": "The address and type of a site that is verified or will be verified.",
          "properties": {
            "identifier": {
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.",
              "type": "string"
            },
            "type": {
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name).",
              "type": "string"
            }
          },
          "type": "object"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "revision": "20191119",
  "version": "v1",
  "rootUrl": "https://www.googleapis.com/",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\""
}