{
  "documentationLink": "https://developers.google.com/site-verification/",
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "ownerDomain": "google.com",
  "revision": "20191119",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "kind": "discovery#restDescription",
  "basePath": "/siteVerification/v1/",
  "version": "v1",
  "discoveryVersion": "v1",
  "batchPath": "batch/siteVerification/v1",
  "rootUrl": "https://www.googleapis.com/",
  "id": "siteVerification:v1",
  "ownerName": "Google",
  "resources": {
    "webResource": {
      "methods": {
        "getToken": {
          "id": "siteVerification.webResource.getToken",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "description": "Get a verification token for placing on a website or domain.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "token",
          "httpMethod": "POST"
        },
        "patch": {
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.patch",
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "httpMethod": "PATCH",
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "delete": {
          "id": "siteVerification.webResource.delete",
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}"
        },
        "insert": {
          "id": "siteVerification.webResource.insert",
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "description": "The method to use for verifying a site or domain.",
              "location": "query",
              "required": true
            }
          },
          "path": "webResource",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Attempt verification of a website or domain.",
          "parameterOrder": [
            "verificationMethod"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "description": "Get the list of your verified websites and domains.",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource",
          "httpMethod": "GET",
          "id": "siteVerification.webResource.list",
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          }
        },
        "update": {
          "path": "webResource/{id}",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.update",
          "httpMethod": "PUT",
          "description": "Modify the list of owners for your website or domain.",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "webResource/{id}",
          "description": "Get the most current data for a website or domain.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The id of a verified site or domain.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "id": "siteVerification.webResource.get"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "description": "Verifies ownership of websites or domains with Google.",
  "schemas": {
    "SiteVerificationWebResourceListResponse": {
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "type": "array",
          "description": "The list of sites that are owned by the authenticated user."
        }
      }
    },
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        },
        "site": {
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "type": "object",
          "description": "The site for which a verification token will be generated."
        }
      },
      "id": "SiteVerificationWebResourceGettokenRequest",
      "type": "object"
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      }
    },
    "SiteVerificationWebResourceResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        },
        "owners": {
          "type": "array",
          "description": "The email addresses of all verified owners.",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "type": "object",
          "description": "The address and type of a site that is verified or will be verified."
        }
      },
      "id": "SiteVerificationWebResourceResource",
      "type": "object"
    }
  },
  "servicePath": "siteVerification/v1/",
  "protocol": "rest",
  "name": "siteVerification",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json"
      ]
    }
  },
  "title": "Google Site Verification API"
}