{
  "basePath": "/siteVerification/v1/",
  "revision": "20191119",
  "documentationLink": "https://developers.google.com/site-verification/",
  "batchPath": "batch/siteVerification/v1",
  "ownerName": "Google",
  "rootUrl": "https://www.googleapis.com/",
  "id": "siteVerification:v1",
  "ownerDomain": "google.com",
  "description": "Verifies ownership of websites or domains with Google.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/siteverification": {
          "description": "Manage the list of sites and domains you control"
        },
        "https://www.googleapis.com/auth/siteverification.verify_only": {
          "description": "Manage your new site verifications with Google"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version": "v1",
  "title": "Google Site Verification API",
  "schemas": {
    "SiteVerificationWebResourceGettokenRequest": {
      "properties": {
        "verificationMethod": {
          "type": "string",
          "description": "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used."
        },
        "site": {
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "description": "The site for which a verification token will be generated.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "SiteVerificationWebResourceGettokenRequest"
    },
    "SiteVerificationWebResourceListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "The list of sites that are owned by the authenticated user."
        }
      },
      "id": "SiteVerificationWebResourceListResponse",
      "type": "object"
    },
    "SiteVerificationWebResourceResource": {
      "id": "SiteVerificationWebResourceResource",
      "type": "object",
      "properties": {
        "site": {
          "properties": {
            "identifier": {
              "type": "string",
              "description": "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."
            },
            "type": {
              "type": "string",
              "description": "The site type. Can be SITE or INET_DOMAIN (domain name)."
            }
          },
          "description": "The address and type of a site that is verified or will be verified.",
          "type": "object"
        },
        "owners": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The email addresses of all verified owners."
        },
        "id": {
          "type": "string",
          "description": "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."
        }
      }
    },
    "SiteVerificationWebResourceGettokenResponse": {
      "id": "SiteVerificationWebResourceGettokenResponse",
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."
        },
        "token": {
          "type": "string",
          "description": "The verification token. The token must be placed appropriately in order for verification to succeed."
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/siteVerification/v1/",
  "servicePath": "siteVerification/v1/",
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "false",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/ffKkQHIfwnRAzOSRWAT_SYBS6HY\"",
  "resources": {
    "webResource": {
      "methods": {
        "delete": {
          "id": "siteVerification.webResource.delete",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "httpMethod": "DELETE",
          "description": "Relinquish ownership of a website or domain."
        },
        "update": {
          "id": "siteVerification.webResource.update",
          "parameters": {
            "id": {
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Modify the list of owners for your website or domain.",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "get": {
          "id": "siteVerification.webResource.get",
          "parameters": {
            "id": {
              "required": true,
              "description": "The id of a verified site or domain.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "description": "Get the most current data for a website or domain."
        },
        "insert": {
          "description": "Attempt verification of a website or domain.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource",
          "httpMethod": "POST",
          "id": "siteVerification.webResource.insert",
          "parameters": {
            "verificationMethod": {
              "type": "string",
              "location": "query",
              "description": "The method to use for verifying a site or domain.",
              "required": true
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "verificationMethod"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ]
        },
        "getToken": {
          "id": "siteVerification.webResource.getToken",
          "request": {
            "$ref": "SiteVerificationWebResourceGettokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/siteverification",
            "https://www.googleapis.com/auth/siteverification.verify_only"
          ],
          "path": "token",
          "httpMethod": "POST",
          "response": {
            "$ref": "SiteVerificationWebResourceGettokenResponse"
          },
          "description": "Get a verification token for placing on a website or domain."
        },
        "patch": {
          "description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
          "response": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "path": "webResource/{id}",
          "httpMethod": "PATCH",
          "id": "siteVerification.webResource.patch",
          "parameters": {
            "id": {
              "description": "The id of a verified site or domain.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "SiteVerificationWebResourceResource"
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ]
        },
        "list": {
          "response": {
            "$ref": "SiteVerificationWebResourceListResponse"
          },
          "description": "Get the list of your verified websites and domains.",
          "id": "siteVerification.webResource.list",
          "scopes": [
            "https://www.googleapis.com/auth/siteverification"
          ],
          "path": "webResource",
          "httpMethod": "GET"
        }
      }
    }
  },
  "name": "siteVerification",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "protocol": "rest"
}