{
  "version": "v1",
  "title": "Smart Device Management API",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/nest/device-access",
  "canonicalName": "Smart Device Management",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "description": "Allow select enterprise partners to access, control, and manage Google and Nest devices programmatically.",
  "rootUrl": "https://smartdevicemanagement.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "baseUrl": "https://smartdevicemanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20260727",
  "mtlsRootUrl": "https://smartdevicemanagement.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sdm.service": {
          "description": "See and/or control the devices that you selected"
        }
      }
    }
  },
  "name": "smartdevicemanagement",
  "fullyEncodeReservedExpansion": true,
  "id": "smartdevicemanagement:v1",
  "ownerDomain": "google.com",
  "resources": {
    "enterprises": {
      "resources": {
        "devices": {
          "methods": {
            "list": {
              "flatPath": "v1/enterprises/{enterprisesId}/devices",
              "parameters": {
                "parent": {
                  "description": "The parent enterprise to list devices under. E.g. \"enterprises/XYZ\".",
                  "required": true,
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "Optional filter to list devices. Filters can be done on: Device custom name (substring match): 'customName=wing'",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "id": "smartdevicemanagement.enterprises.devices.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleHomeEnterpriseSdmV1ListDevicesResponse"
              },
              "description": "Lists devices managed by the enterprise.",
              "parameterOrder": [
                "parent"
              ]
            },
            "executeCommand": {
              "request": {
                "$ref": "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}:executeCommand",
              "path": "v1/{+name}:executeCommand",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the device requested. For example: \"enterprises/XYZ/devices/123\"",
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "id": "smartdevicemanagement.enterprises.devices.executeCommand",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Executes a command to device managed by the enterprise."
            },
            "get": {
              "id": "smartdevicemanagement.enterprises.devices.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleHomeEnterpriseSdmV1Device"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a device managed by the enterprise.",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the device requested. For example: \"enterprises/XYZ/devices/123\"",
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ]
            }
          }
        },
        "structures": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the structure requested. For example: \"enterprises/XYZ/structures/ABC\".",
                  "required": true,
                  "pattern": "^enterprises/[^/]+/structures/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/structures/{structuresId}",
              "description": "Gets a structure managed by the enterprise.",
              "parameterOrder": [
                "name"
              ],
              "id": "smartdevicemanagement.enterprises.structures.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleHomeEnterpriseSdmV1Structure"
              }
            },
            "list": {
              "flatPath": "v1/enterprises/{enterprisesId}/structures",
              "path": "v1/{+parent}/structures",
              "scopes": [
                "https://www.googleapis.com/auth/sdm.service"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional filter to list structures.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "The parent enterprise to list structures under. E.g. \"enterprises/XYZ\".",
                  "location": "path",
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string"
                }
              },
              "id": "smartdevicemanagement.enterprises.structures.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleHomeEnterpriseSdmV1ListStructuresResponse"
              },
              "description": "Lists structures managed by the enterprise.",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "rooms": {
              "methods": {
                "get": {
                  "description": "Gets a room managed by the enterprise.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "smartdevicemanagement.enterprises.structures.rooms.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleHomeEnterpriseSdmV1Room"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/sdm.service"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the room requested. For example: \"enterprises/XYZ/structures/ABC/rooms/123\".",
                      "location": "path",
                      "pattern": "^enterprises/[^/]+/structures/[^/]+/rooms/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/enterprises/{enterprisesId}/structures/{structuresId}/rooms/{roomsId}"
                },
                "list": {
                  "flatPath": "v1/enterprises/{enterprisesId}/structures/{structuresId}/rooms",
                  "path": "v1/{+parent}/rooms",
                  "scopes": [
                    "https://www.googleapis.com/auth/sdm.service"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^enterprises/[^/]+/structures/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The parent resource name of the rooms requested. For example: \"enterprises/XYZ/structures/ABC\"."
                    }
                  },
                  "id": "smartdevicemanagement.enterprises.structures.rooms.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleHomeEnterpriseSdmV1ListRoomsResponse"
                  },
                  "description": "Lists rooms managed by the enterprise.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleHomeEnterpriseSdmV1ListDevicesResponse": {
      "properties": {
        "devices": {
          "type": "array",
          "description": "The list of devices.",
          "items": {
            "$ref": "GoogleHomeEnterpriseSdmV1Device"
          }
        }
      },
      "description": "Response message for SmartDeviceManagementService.ListDevices",
      "id": "GoogleHomeEnterpriseSdmV1ListDevicesResponse",
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest": {
      "description": "Request message for SmartDeviceManagementService.ExecuteDeviceCommand",
      "id": "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandRequest",
      "type": "object",
      "properties": {
        "command": {
          "type": "string",
          "description": "The command name to execute, represented by the fully qualified protobuf message name."
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The command message to execute, represented as a Struct."
        }
      }
    },
    "GoogleHomeEnterpriseSdmV1ListStructuresResponse": {
      "properties": {
        "structures": {
          "items": {
            "$ref": "GoogleHomeEnterpriseSdmV1Structure"
          },
          "description": "The list of structures.",
          "type": "array"
        }
      },
      "id": "GoogleHomeEnterpriseSdmV1ListStructuresResponse",
      "type": "object",
      "description": "Response message for SmartDeviceManagementService.ListStructures"
    },
    "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse": {
      "id": "GoogleHomeEnterpriseSdmV1ExecuteDeviceCommandResponse",
      "type": "object",
      "description": "Response message for SmartDeviceManagementService.ExecuteDeviceCommand",
      "properties": {
        "results": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The results of executing the command."
        }
      }
    },
    "GoogleHomeEnterpriseSdmV1Room": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the room. For example: \"enterprises/XYZ/structures/ABC/rooms/123\"."
        },
        "traits": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Room traits."
        }
      },
      "description": "Room resource represents an instance of sub-space within a structure such as rooms in a hotel suite or rental apartment.",
      "id": "GoogleHomeEnterpriseSdmV1Room",
      "type": "object"
    },
    "GoogleHomeEnterpriseSdmV1Structure": {
      "description": "Structure resource represents an instance of enterprise managed home or hotel room.",
      "id": "GoogleHomeEnterpriseSdmV1Structure",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the structure. For example: \"enterprises/XYZ/structures/ABC\".",
          "type": "string",
          "readOnly": true
        },
        "traits": {
          "description": "Structure traits.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleHomeEnterpriseSdmV1ParentRelation": {
      "description": "Represents device relationships, for instance, structure/room to which the device is assigned to.",
      "id": "GoogleHomeEnterpriseSdmV1ParentRelation",
      "type": "object",
      "properties": {
        "parent": {
          "readOnly": true,
          "description": "Output only. The name of the relation -- e.g., structure/room where the device is assigned to. For example: \"enterprises/XYZ/structures/ABC\" or \"enterprises/XYZ/structures/ABC/rooms/123\"",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The custom name of the relation -- e.g., structure/room where the device is assigned to.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleHomeEnterpriseSdmV1ListRoomsResponse": {
      "description": "Response message for SmartDeviceManagementService.ListRooms",
      "id": "GoogleHomeEnterpriseSdmV1ListRoomsResponse",
      "type": "object",
      "properties": {
        "rooms": {
          "items": {
            "$ref": "GoogleHomeEnterpriseSdmV1Room"
          },
          "description": "The list of rooms.",
          "type": "array"
        }
      }
    },
    "GoogleHomeEnterpriseSdmV1Device": {
      "properties": {
        "parentRelations": {
          "description": "Assignee details of the device.",
          "type": "array",
          "items": {
            "$ref": "GoogleHomeEnterpriseSdmV1ParentRelation"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the device. For example: \"enterprises/XYZ/devices/123\"."
        },
        "traits": {
          "description": "Output only. Device traits.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the device for general display purposes. For example: \"THERMOSTAT\". The device type should not be used to deduce or infer functionality of the actual device it is assigned to. Instead, use the returned traits for the device.",
          "type": "string"
        }
      },
      "description": "Device resource represents an instance of enterprise managed device in the property.",
      "id": "GoogleHomeEnterpriseSdmV1Device",
      "type": "object"
    }
  },
  "basePath": "",
  "version_module": true,
  "servicePath": ""
}