{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    },
    {
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    }
  ],
  "id": "sqladmin:v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "canonicalName": "SQL Admin",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "basePath": "",
  "revision": "20260908",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "title": "Cloud SQL Admin API",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/sql/docs",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "name": "sqladmin",
  "description": "Cloud SQL Admin API",
  "schemas": {
    "OperationsListResponse": {
      "id": "OperationsListResponse",
      "type": "object",
      "description": "Operations list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationsList`."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of operation resources.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "InstancesTruncateLogRequest": {
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "description": "Instance truncate log request.",
      "id": "InstancesTruncateLogRequest"
    },
    "PscConfig": {
      "description": "PSC settings for a Cloud SQL instance.",
      "type": "object",
      "id": "PscConfig",
      "properties": {
        "pscWriteEndpointDnsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Private Service Connect write endpoint DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal global DNS record across all networks configured with Private Service Connect auto-connections that points to the cluster primary instance. This feature is only supported for Enterprise Plus edition. This will default to true for new Enterprise Plus instances when `psc_auto_dns_enabled` is enabled."
        },
        "pscEnabled": {
          "description": "Whether PSC connectivity is enabled for this instance.",
          "type": "boolean"
        },
        "networkAttachmentUri": {
          "description": "Optional. The network attachment of the consumer network that the Private Service Connect enabled Cloud SQL instance is authorized to connect using the PSC interface. format: projects/PROJECT/regions/REGION/networkAttachments/ID",
          "type": "string"
        },
        "pscAutoDnsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Private Service Connect DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal DNS record across all networks configured with Private Service Connect auto-connections. This will default to true for new instances when Private Service Connect is enabled."
        },
        "pscAutoConnectionPolicyEnabled": {
          "description": "Optional. Whether to set up the PSC service connection policy automatically.",
          "type": "boolean"
        },
        "allowedConsumerProjects": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of consumer projects that are allow-listed for PSC connections to this instance. This instance can be connected to with PSC from any network in these projects. Each consumer project in this list may be represented by a project number (numeric) or by a project id (alphanumeric)."
        },
        "pscAutoConnections": {
          "description": "Optional. The list of settings for requested Private Service Connect consumer endpoints that can be used to connect to this Cloud SQL instance.",
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        }
      }
    },
    "InstancesRotateEntraIdCertificateRequest": {
      "type": "object",
      "id": "InstancesRotateEntraIdCertificateRequest",
      "properties": {
        "rotateEntraIdCertificateContext": {
          "$ref": "RotateEntraIdCertificateContext",
          "description": "Optional. Contains details about the rotate server certificate operation."
        }
      },
      "description": "Rotate Entra ID certificate request."
    },
    "AvailableDatabaseVersion": {
      "description": "An available database version. It can be a major or a minor version.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version."
        },
        "displayName": {
          "description": "The database version's display name.",
          "type": "string"
        },
        "majorVersion": {
          "description": "The version's major version name.",
          "type": "string"
        }
      },
      "id": "AvailableDatabaseVersion"
    },
    "DemoteContext": {
      "description": "This context is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteContext`."
        },
        "sourceRepresentativeInstanceName": {
          "type": "string",
          "description": "Required. The name of the instance which acts as the on-premises primary instance in the replication setup."
        }
      },
      "id": "DemoteContext",
      "type": "object"
    },
    "DnsNameMapping": {
      "properties": {
        "connectionType": {
          "description": "Output only. The connection type of the DNS name.",
          "enumDescriptions": [
            "Unknown connection type.",
            "Public IP.",
            "Private services access (private IP).",
            "Private Service Connect."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRIVATE_SERVICES_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The DNS name.",
          "readOnly": true
        },
        "dnsScope": {
          "type": "string",
          "description": "Output only. The scope that the DNS name applies to.",
          "enumDescriptions": [
            "DNS scope not set. This value should not be used.",
            "Indicates an instance-level DNS name.",
            "Indicates a cluster-level DNS name."
          ],
          "readOnly": true,
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER"
          ]
        },
        "recordManager": {
          "enumDescriptions": [
            "Record manager not set. This value should not be used.",
            "The record may be managed by the customer. It is not automatically managed by Cloud SQL automation.",
            "The record is managed by Cloud SQL, which will create, update, and delete the DNS records for the zone automatically when the Cloud SQL database instance is created or updated."
          ],
          "description": "Output only. The manager for this DNS record.",
          "type": "string",
          "enum": [
            "RECORD_MANAGER_UNSPECIFIED",
            "CUSTOMER",
            "CLOUD_SQL_AUTOMATION"
          ],
          "readOnly": true
        }
      },
      "description": "DNS metadata.",
      "id": "DnsNameMapping",
      "type": "object"
    },
    "MySqlReplicaConfiguration": {
      "id": "MySqlReplicaConfiguration",
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "verifyServerCertificate": {
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.",
          "type": "boolean"
        },
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate.",
          "type": "string"
        },
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "masterHeartbeatPeriod": {
          "type": "string",
          "description": "Interval in milliseconds between replication heartbeats.",
          "format": "int64"
        },
        "connectRetryInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds."
        },
        "kind": {
          "description": "This is always `sql#mysqlReplicaConfiguration`.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RotateEntraIdCertificateContext": {
      "description": "Instance rotate Entra ID certificate context.",
      "id": "RotateEntraIdCertificateContext",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Optional. This is always `sql#rotateEntraIdCertificateContext`.",
          "type": "string"
        },
        "nextVersion": {
          "type": "string",
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusDetail": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "type": "object",
      "description": "Instance verify external sync settings response.",
      "properties": {
        "errors": {
          "description": "List of migration violations.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always `sql#migrationSettingErrorList`.",
          "type": "string"
        },
        "warnings": {
          "description": "List of migration warnings.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "type": "array"
        }
      }
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "type": "object",
      "properties": {
        "binLogPosition": {
          "type": "string",
          "description": "Position (offset) within the binary log file.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#binLogCoordinates`."
        },
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        }
      },
      "id": "BinLogCoordinates"
    },
    "ApiWarning": {
      "type": "object",
      "id": "ApiWarning",
      "description": "An Admin API warning message.",
      "properties": {
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete.",
            "Warning when user provided maxResults parameter exceeds the limit. The returned result set may be incomplete.",
            "Warning when user tries to create/update a user with credentials that have previously been compromised by a public data breach.",
            "Warning when the operation succeeds but some non-critical workflow state failed."
          ],
          "type": "string",
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE",
            "MAX_RESULTS_EXCEEDS_LIMIT",
            "COMPROMISED_CREDENTIALS",
            "INTERNAL_STATE_FAILURE"
          ],
          "description": "Code to uniquely identify the warning type."
        },
        "region": {
          "description": "The region name for REGION_UNREACHABLE warning.",
          "type": "string"
        }
      }
    },
    "PasswordValidationPolicy": {
      "properties": {
        "complexity": {
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ],
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ],
          "description": "The complexity of the password.",
          "type": "string"
        },
        "disallowCompromisedCredentials": {
          "type": "boolean",
          "description": "This field is deprecated and will be removed in a future version of the API.",
          "deprecated": true
        },
        "enablePasswordPolicy": {
          "type": "boolean",
          "description": "Whether to enable the password policy or not. When enabled, passwords must meet complexity requirements. Keep this policy enabled to help prevent unauthorized access. Disabling this policy allows weak passwords."
        },
        "disallowUsernameSubstring": {
          "description": "Disallow username as a part of the password.",
          "type": "boolean"
        },
        "passwordChangeInterval": {
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgreSQL.",
          "type": "string",
          "format": "google-duration"
        },
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of characters allowed."
        },
        "reuseInterval": {
          "type": "integer",
          "description": "Number of previous passwords that cannot be reused.",
          "format": "int32"
        }
      },
      "id": "PasswordValidationPolicy",
      "description": "Database instance local user password validation policy. This message defines the password policy for local database users. When enabled, it enforces constraints on password complexity, length, and reuse. Keep this policy enabled to help prevent unauthorized access.",
      "type": "object"
    },
    "Tier": {
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#tier`."
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        },
        "RAM": {
          "format": "int64",
          "type": "string",
          "description": "The maximum RAM usage of this tier in bytes."
        },
        "region": {
          "description": "The applicable regions for this tier.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "InstancesFailoverRequest": {
      "description": "Instance failover request.",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "type": "object",
      "id": "InstancesFailoverRequest"
    },
    "InstancesReencryptRequest": {
      "type": "object",
      "properties": {
        "backupReencryptionConfig": {
          "description": "Configuration specific to backup re-encryption",
          "$ref": "BackupReencryptionConfig"
        }
      },
      "description": "Database Instance reencrypt request.",
      "id": "InstancesReencryptRequest"
    },
    "DiskEncryptionConfiguration": {
      "id": "DiskEncryptionConfiguration",
      "type": "object",
      "properties": {
        "confidentialMode": {
          "description": "Optional. If true, enables Confidential Mode for the instance's Hyperdisk Balanced volumes. Only supported for zonal C4A instances currently.",
          "type": "boolean"
        },
        "cmekSourceLogEncryptionEnforced": {
          "type": "boolean",
          "description": "Optional. Whether to enforce CMEK log encryption at source. When enforced, transaction logs are encrypted prior to being uploaded to Cloud Storage. If not enforced, then CMEK logs are encrypted by the Cloud Storage service."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#diskEncryptionConfiguration`."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of KMS key for disk encryption."
        }
      },
      "description": "Disk encryption configuration for an instance."
    },
    "Database": {
      "properties": {
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID."
        },
        "charset": {
          "type": "string",
          "description": "The Cloud SQL charset value."
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        },
        "kind": {
          "description": "This is always `sql#database`.",
          "type": "string"
        }
      },
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "id": "Database",
      "type": "object"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "type": "object",
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        }
      },
      "description": "Read-replica configuration specific to MySQL databases."
    },
    "SwitchoverBlueGreenDeploymentRequest": {
      "type": "object",
      "description": "Request message for switching over a `BlueGreenDeployment` resource.",
      "properties": {},
      "id": "SwitchoverBlueGreenDeploymentRequest"
    },
    "Operation": {
      "type": "object",
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation."
        },
        "targetLink": {
          "type": "string"
        },
        "startWorkloadReplayContext": {
          "description": "The context for the `StartWorkloadReplay` operation, which contains details about starting the execution of a captured workload (recorded read and write SQL queries) on a replay instance (the Cloud SQL instance where the recorded SQL queries are executed).",
          "$ref": "StartWorkloadReplayContext"
        },
        "targetProject": {
          "type": "string",
          "description": "The project ID of the target instance related to this operation."
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        },
        "targetId": {
          "description": "Name of the resource on which this operation runs.",
          "type": "string"
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "acquireSsrsLeaseContext": {
          "$ref": "AcquireSsrsLeaseContext",
          "description": "The context for acquire SSRS lease operation, if applicable."
        },
        "stopWorkloadCaptureContext": {
          "description": "The context for the `StopWorkloadCapture` operation, which contains details to stop recording the workload (SQL queries) on a Cloud SQL instance.",
          "$ref": "StopWorkloadCaptureContext"
        },
        "subOperationType": {
          "description": "Optional. The sub operation based on the operation type.",
          "$ref": "SqlSubOperationType"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "preCheckMajorVersionUpgradeContext": {
          "$ref": "PreCheckMajorVersionUpgradeContext",
          "description": "This field is only populated when the operation_type is PRE_CHECK_MAJOR_VERSION_UPGRADE. The PreCheckMajorVersionUpgradeContext message itself contains the details for that pre-check, such as the target database version for the upgrade and the results of the check (including any warnings or errors found)."
        },
        "startWorkloadCaptureContext": {
          "description": "The context for the `StartWorkloadCapture` operation, which contains details to start recording the workload (SQL queries) on a Cloud SQL instance.",
          "$ref": "StartWorkloadCaptureContext"
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "operationType": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT",
            "SWITCHOVER",
            "UPDATE_BACKUP",
            "ACQUIRE_SSRS_LEASE",
            "RELEASE_SSRS_LEASE",
            "RECONFIGURE_OLD_PRIMARY",
            "CLUSTER_MAINTENANCE",
            "SELF_SERVICE_MAINTENANCE",
            "SWITCHOVER_TO_REPLICA",
            "MAJOR_VERSION_UPGRADE",
            "ADVANCED_BACKUP",
            "MANAGE_BACKUP",
            "ENHANCED_BACKUP",
            "REPAIR_READ_POOL",
            "CREATE_READ_POOL",
            "PRE_CHECK_MAJOR_VERSION_UPGRADE",
            "SETUP_MIGRATION",
            "CREATE_BLUE_GREEN_DEPLOYMENT",
            "SWITCHOVER_BLUE_GREEN_DEPLOYMENT",
            "DELETE_BLUE_GREEN_DEPLOYMENT"
          ],
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance. If a user with the specified username doesn't exist, a new user is created.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version.",
            "Switches the roles of the primary and replica pair. The target instance should be the replica.",
            "Update a backup.",
            "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Reconfigures old primary after a promote replica operation. Effect of a promote operation to the old primary is executed in this operation, asynchronously from the promote replica operation executed to the replica.",
            "Indicates that the instance, its read replicas, and its cascading replicas are in maintenance. Maintenance typically gets initiated on groups of replicas first, followed by the primary instance. For each instance, maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Indicates that the instance (and any of its replicas) are currently in maintenance. This is initiated as a self-service request by using SSM. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Switches a primary instance to a replica. This operation runs as part of a switchover operation to the original primary instance.",
            "Updates the major version of a Cloud SQL instance.",
            "Deprecated: ADVANCED_BACKUP is deprecated. Use ENHANCED_BACKUP instead.",
            "Changes the BackupTier of a Cloud SQL instance.",
            "Creates a backup for an Enhanced BackupTier Cloud SQL instance.",
            "Repairs entire read pool or specified read pool nodes in the read pool.",
            "Creates a Cloud SQL read pool instance.",
            "Pre-checks the major version upgrade operation.",
            "This operation type represents individual steps in a multi-step setup migration workflow: including configuration, replication, switchover/back, and data reseeding, as defined by operation's intent.",
            "Creates a new Blue-Green deployment.",
            "Switches over a Blue-Green deployment.",
            "Deletes a Blue-Green deployment."
          ],
          "type": "string"
        },
        "stopWorkloadReplayContext": {
          "$ref": "StopWorkloadReplayContext",
          "description": "The context for the `StopWorkloadReplay` operation, which contains details about stopping the execution of a captured workload (recorded read and write SQL queries) on a replay instance."
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "status": {
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "type": "string",
          "description": "The status of an operation.",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        },
        "apiWarning": {
          "$ref": "ApiWarning",
          "description": "An Admin API warning message."
        }
      }
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "id": "CloneContext",
      "properties": {
        "sourceInstanceDeletionTime": {
          "format": "google-datetime",
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field. This field applies to all DB types."
        },
        "destinationInstanceName": {
          "description": "Required. Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "destinationProject": {
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance.",
          "type": "string"
        },
        "databaseNames": {
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationNetwork": {
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via private services access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning.",
          "type": "string"
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "pointInTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned."
        },
        "preferredZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance. This field applies to all DB types.",
          "type": "string"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "pitrTimestampMs": {
          "format": "int64",
          "description": "Reserved for future use.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#cloneContext`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlExternalSyncSettingError": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres. Note that this is a warning and won't block the migration.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL.",
            "The global variable local_infile is off on external server replica.",
            "This code instructs customers to turn on point-in-time recovery manually for the instance after promoting the Cloud SQL for PostgreSQL instance.",
            "The minor version of replica database is incompatible with the source.",
            "This warning message indicates that Cloud SQL uses the maximum number of subscriptions to migrate data from the source to the destination.",
            "Unable to verify definers on the source for MySQL.",
            "If a time out occurs while the subscription counts are calculated, then this value is set to 1. Otherwise, this value is set to 2.",
            "Count of subscriptions needed to sync source data for PostgreSQL database.",
            "Final parallel level that is used to do migration.",
            "The disk size of the replica instance is smaller than the data size of the source instance.",
            "The data size of the source instance is greater than 1 TB, the number of cores of the replica instance is less than 8, and the memory of the replica is less than 32 GB.",
            "The warning message indicates the unsupported extensions will not be migrated to the destination.",
            "The warning message indicates the pg_cron extension and settings will not be migrated to the destination.",
            "The error message indicates that pg_cron flags are enabled on the destination which is not supported during the migration.",
            "This error message indicates that the specified extensions are not enabled on destination instance. For example, before you can migrate data to the destination instance, you must enable the PGAudit extension on the instance.",
            "The source database has generated columns that can't be migrated. Please change them to regular columns before migration.",
            "The source database has users that aren't created in the replica. First, create all users, which are in the pg_user_mappings table of the source database, in the destination instance. Then, perform the migration.",
            "The selected objects include system objects that aren't supported for migration.",
            "The source database has tables with the FULL or NOTHING replica identity. Before starting your migration, either remove the identity or change it to DEFAULT. Note that this is an error and will block the migration.",
            "The selected objects don't exist on the source instance.",
            "PSC only destination instance does not have a network attachment URI.",
            "Selected objects reference unselected objects. Based on their object type (foreign key constraint or view), selected objects will fail during migration.",
            "The migration will delete existing data in the replica; set replica_overwrite_enabled in the request to acknowledge this. This is an error. MySQL only.",
            "The migration will delete existing data in the replica; replica_overwrite_enabled was set in the request acknowledging this. This is a warning rather than an error. MySQL only.",
            "The replication user is missing specific privileges to setup DDL replication. (e.g. CREATE EVENT TRIGGER, CREATE SCHEMA) for PostgreSQL.",
            "Read replicas of the Writable Destination instance will be recreated after external synchronization is complete, causing downtime on read replicas.",
            "A warning that disk storage auto increase is disabled on the destination instance for a Writable Destination migration."
          ],
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "LOCAL_INFILE_OFF",
            "TURN_ON_PITR_AFTER_PROMOTE",
            "INCOMPATIBLE_DATABASE_MINOR_VERSION",
            "SOURCE_MAX_SUBSCRIPTIONS",
            "UNABLE_TO_VERIFY_DEFINERS",
            "SUBSCRIPTION_CALCULATION_STATUS",
            "PG_SUBSCRIPTION_COUNT",
            "PG_SYNC_PARALLEL_LEVEL",
            "INSUFFICIENT_DISK_SIZE",
            "INSUFFICIENT_MACHINE_TIER",
            "UNSUPPORTED_EXTENSIONS_NOT_MIGRATED",
            "EXTENSIONS_NOT_MIGRATED",
            "PG_CRON_FLAG_ENABLED_IN_REPLICA",
            "EXTENSIONS_NOT_ENABLED_IN_REPLICA",
            "UNSUPPORTED_COLUMNS",
            "USERS_NOT_CREATED_IN_REPLICA",
            "UNSUPPORTED_SYSTEM_OBJECTS",
            "UNSUPPORTED_TABLES_WITH_REPLICA_IDENTITY",
            "SELECTED_OBJECTS_NOT_EXIST_ON_SOURCE",
            "PSC_ONLY_INSTANCE_WITH_NO_NETWORK_ATTACHMENT_URI",
            "SELECTED_OBJECTS_REFERENCE_UNSELECTED_OBJECTS",
            "PROMPT_DELETE_EXISTING",
            "WILL_DELETE_EXISTING",
            "PG_DDL_REPLICATION_INSUFFICIENT_PRIVILEGE",
            "WRITABLE_DESTINATION_REPLICA_RECREATION_DOWNTIME",
            "WRITABLE_DESTINATION_STORAGE_AUTO_INCREASE_DISABLED"
          ],
          "type": "string",
          "description": "Identifies the specific error that occurred."
        },
        "detail": {
          "type": "string",
          "description": "Additional information about the error encountered."
        }
      },
      "description": "External primary instance migration setting error/warning.",
      "id": "SqlExternalSyncSettingError",
      "type": "object"
    },
    "SslCertsCreateEphemeralRequest": {
      "type": "object",
      "description": "SslCerts create ephemeral certificate request.",
      "id": "SslCertsCreateEphemeralRequest",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "description": "Access token to include in the signed certificate.",
          "type": "string"
        }
      }
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "description": "Instance get latest recovery time response.",
      "type": "object",
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#getLatestRecoveryTime`."
        },
        "latestRecoveryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp, identifies the latest recovery time of the source instance."
        },
        "earliestRecoveryTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp, identifies the earliest recovery time of the source instance."
        }
      }
    },
    "StopWorkloadReplayContext": {
      "id": "StopWorkloadReplayContext",
      "description": "The context for the `StopWorkloadReplay` operation, which contains details about stopping the execution of a captured workload (recorded read and write SQL queries) on a replay instance.",
      "properties": {
        "replayInstance": {
          "description": "Required. The name of the Cloud SQL instance where the captured workload (SQL queries) is being executed, excluding the project ID (for example, `my-replay-instance`). The instance name must start with a lowercase letter and contain only lowercase letters, numbers, and hyphens. The combined length of `project-ID:instance-name` must be 98 characters or less.",
          "type": "string"
        },
        "workloadId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the workload to stop executing on the replay instance. Each workload capture generates a unique ID in the format `workload-` (for example, `workload-1786046400`). Use this ID to stop executing the recorded SQL queries."
        }
      },
      "type": "object"
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "properties": {
        "bakImportOptions": {
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object",
          "properties": {
            "recoveryOnly": {
              "type": "boolean",
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server."
            },
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "noRecovery": {
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAtMark": {
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string"
            },
            "bakType": {
              "type": "string",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "description": "Type of the bak content, FULL or DIFF"
            },
            "stopAt": {
              "format": "google-datetime",
              "type": "string",
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only."
            },
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "keepEncrypted": {
                  "description": "Optional. Whether the imported file remains encrypted.",
                  "type": "boolean"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                }
              }
            }
          }
        },
        "fileType": {
          "description": "The file type for the specified uri.\\`SQL`: The file contains SQL statements. \\`CSV`: The file contains CSV data.",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ],
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#importContext`.",
          "type": "string"
        },
        "sqlImportOptions": {
          "description": "Optional. Options for importing data from SQL statements.",
          "type": "object",
          "properties": {
            "parallel": {
              "description": "Optional. Whether or not the import should be parallel.",
              "type": "boolean"
            },
            "threads": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of threads to use for parallel import."
            },
            "postgresImportOptions": {
              "type": "object",
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance.",
              "properties": {
                "clean": {
                  "type": "boolean",
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                },
                "ifExists": {
                  "type": "boolean",
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                }
              }
            }
          }
        },
        "csvImportOptions": {
          "type": "object",
          "properties": {
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "columns": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data."
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            }
          },
          "description": "Options for importing data as CSV."
        },
        "database": {
          "type": "string",
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified."
        },
        "tdeImportOptions": {
          "description": "Optional. Import parameters specific to SQL Server TDE certificates",
          "type": "object",
          "properties": {
            "privateKeyPassword": {
              "type": "string",
              "description": "Required. Password that encrypts the private key."
            },
            "certificatePath": {
              "type": "string",
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances."
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "name": {
              "description": "Required. Certificate name. Applicable only for SQL Server instances.",
              "type": "string"
            }
          }
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        }
      },
      "id": "ImportContext",
      "type": "object"
    },
    "StartWorkloadReplayContext": {
      "type": "object",
      "id": "StartWorkloadReplayContext",
      "properties": {
        "replayInstance": {
          "description": "Required. The name of the Cloud SQL instance where the captured workload (SQL queries) is being executed, excluding the project ID (for example, `my-replay-instance`). The instance name must start with a lowercase letter and contain only lowercase letters, numbers, and hyphens. The combined length of `project-ID:instance-name` must be 98 characters or less.",
          "type": "string"
        },
        "workloadId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the workload to start executing on the replay instance. Each workload capture generates a unique ID in the format `workload-` (for example, `workload-1786046400`). Use this ID to start executing the recorded SQL queries."
        }
      },
      "description": "The context for the `StartWorkloadReplay` operation, which contains details about starting the execution of a captured workload (recorded read and write SQL queries) on a replay instance (the Cloud SQL instance where the recorded SQL queries are executed)."
    },
    "RequestedConfig": {
      "properties": {
        "databaseVersion": {
          "type": "string",
          "description": "Optional. The target database major version for the upgrade. For example, `MYSQL_8_0` or `POSTGRES_15`."
        }
      },
      "description": "Configuration specified by the user at creation time for the target (green) instance.",
      "id": "RequestedConfig",
      "type": "object"
    },
    "SqlInstancesExecuteSqlResponse": {
      "type": "object",
      "id": "SqlInstancesExecuteSqlResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "QueryResult"
          },
          "description": "The list of results after executing all the SQL statements."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "A list of notices and warnings generated during query execution. For PostgreSQL, this includes all notices and warnings. For MySQL, this includes warnings generated by the last executed statement. To retrieve all warnings for a multi-statement query, `SHOW WARNINGS` must be executed after each statement."
        },
        "metadata": {
          "description": "The additional metadata information regarding the execution of the SQL statements.",
          "$ref": "Metadata"
        },
        "status": {
          "$ref": "Status",
          "description": "Contains the error from the database if the SQL execution failed."
        }
      }
    },
    "Row": {
      "description": "Contains the values for a row.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "The values for the row."
        }
      },
      "id": "Row",
      "type": "object"
    },
    "SourceRole": {
      "properties": {
        "targetId": {
          "$ref": "InstanceReference",
          "description": "Output only. The target instance paired with this source instance in a blue-green deployment.",
          "readOnly": true
        }
      },
      "description": "The source instance for the Blue-Green deployment.",
      "id": "SourceRole",
      "type": "object"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "description": "Reschedule options for maintenance windows.",
      "properties": {
        "reschedule": {
          "$ref": "Reschedule",
          "description": "Required. The type of the reschedule the user wants."
        }
      },
      "type": "object",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody"
    },
    "SslCert": {
      "id": "SslCert",
      "properties": {
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`",
          "format": "google-datetime"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCert`."
        },
        "commonName": {
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SslCerts Resource"
    },
    "OnPremisesConfiguration": {
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username for connecting to on-premises instance."
        },
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "selectedObjects": {
          "description": "Optional. A list of objects that the user selects for replication from an external source instance.",
          "type": "array",
          "items": {
            "$ref": "SelectedObjects"
          }
        },
        "dmsManaged": {
          "type": "boolean",
          "description": "Output only. Indicates whether the resource is managed by Database Migration Service.",
          "readOnly": true
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#onPremisesConfiguration`."
        },
        "sslOption": {
          "enumDescriptions": [
            "Unknown SSL option i.e. SSL option not specified by user.",
            "SSL is not used for replica connection to the on-premises source.",
            "SSL is required for replica connection to the on-premises source.",
            "Verify CA is required for replica connection to the on-premises source."
          ],
          "description": "Optional. SSL option for replica connection to the on-premises source.",
          "enum": [
            "SSL_OPTION_UNSPECIFIED",
            "DISABLE",
            "REQUIRE",
            "VERIFY_CA"
          ],
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "dumpFilePath": {
          "description": "The dump file to create the Cloud SQL replica.",
          "type": "string"
        },
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        }
      },
      "description": "On-premises instance configuration.",
      "id": "OnPremisesConfiguration"
    },
    "SslCertDetail": {
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
          "type": "string"
        }
      },
      "description": "SslCertDetail.",
      "id": "SslCertDetail",
      "type": "object"
    },
    "WorkloadCapture": {
      "type": "object",
      "id": "WorkloadCapture",
      "properties": {
        "startTime": {
          "readOnly": true,
          "description": "Output only. The start time of the workload capture.",
          "type": "string",
          "format": "google-datetime"
        },
        "workloadId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the captured workload."
        },
        "retentionDays": {
          "description": "Output only. The retention period in days for the captured workload.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "sourceInstance": {
          "description": "Output only. The name of the source instance.",
          "readOnly": true,
          "type": "string"
        },
        "replayInstance": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the replay instance, if live replay was enabled."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the workload capture.",
          "readOnly": true
        },
        "workloadCaptureState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Workload capture is currently running.",
            "Workload capture completed successfully.",
            "Workload capture failed."
          ],
          "readOnly": true,
          "description": "Output only. The state of the workload capture.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ],
          "type": "string"
        }
      },
      "description": "Captured workload for an instance."
    },
    "AcquireSsrsLeaseContext": {
      "id": "AcquireSsrsLeaseContext",
      "properties": {
        "reportDatabase": {
          "description": "The report database to be used for SSRS setup.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Lease duration needed for SSRS setup."
        },
        "serviceLogin": {
          "type": "string",
          "description": "The username to be used as the service login to connect to the report database for SSRS setup."
        },
        "setupLogin": {
          "type": "string",
          "description": "The username to be used as the setup login to connect to the database server for SSRS setup."
        }
      },
      "description": "Acquire SSRS lease context.",
      "type": "object"
    },
    "IpMapping": {
      "id": "IpMapping",
      "description": "Database instance IP mapping",
      "type": "object",
      "properties": {
        "timeToRetire": {
          "format": "google-datetime",
          "type": "string",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired."
        },
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        },
        "type": {
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ]
        }
      }
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "startDate": {
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "time": {
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00",
          "type": "string"
        }
      },
      "id": "DenyMaintenancePeriod",
      "type": "object",
      "description": "Deny maintenance Periods. This specifies a date range during when all CSA rollout will be denied."
    },
    "WorkloadCapturesListResponse": {
      "type": "object",
      "properties": {
        "workloadCaptures": {
          "description": "List of captured workloads for the instance.",
          "type": "array",
          "items": {
            "$ref": "WorkloadCapture"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#workloadCapturesList`."
        }
      },
      "id": "WorkloadCapturesListResponse"
    },
    "FinalBackupConfig": {
      "type": "object",
      "description": "Config used to determine the final backup settings for the instance.",
      "properties": {
        "enabled": {
          "description": "Whether the final backup is enabled for the instance.",
          "type": "boolean"
        },
        "retentionDays": {
          "description": "The number of days to retain the final backup after the instance deletion. The final backup will be purged at (time_of_instance_deletion + retention_days).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FinalBackupConfig"
    },
    "SslCertsInsertRequest": {
      "type": "object",
      "description": "SslCerts insert request.",
      "id": "SslCertsInsertRequest",
      "properties": {
        "commonName": {
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance.",
          "type": "string"
        }
      }
    },
    "InstancesRotateServerCertificateRequest": {
      "description": "Rotate server certificate request.",
      "properties": {
        "rotateServerCertificateContext": {
          "description": "Optional. Contains details about the rotate server certificate operation.",
          "$ref": "RotateServerCertificateContext"
        }
      },
      "id": "InstancesRotateServerCertificateRequest",
      "type": "object"
    },
    "PointInTimeRestoreContext": {
      "description": "The context to perform a point-in-time recovery of an instance managed by Backup and Disaster Recovery (DR) Service.",
      "id": "PointInTimeRestoreContext",
      "type": "object",
      "properties": {
        "allocatedIpRange": {
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        },
        "preferredZone": {
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance.",
          "type": "string"
        },
        "pointInTime": {
          "description": "Required. The date and time to which you want to restore the instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "privateNetwork": {
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`.",
          "type": "string"
        },
        "targetInstanceSettings": {
          "$ref": "DatabaseInstance",
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs."
        },
        "region": {
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\".",
          "type": "string"
        },
        "targetInstance": {
          "type": "string",
          "description": "Target instance name."
        },
        "datasource": {
          "type": "string",
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}."
        },
        "targetInstanceClearSettingsFieldNames": {
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "InstancesListEntraIdCertificatesResponse": {
      "id": "InstancesListEntraIdCertificatesResponse",
      "description": "Instances ListEntraIdCertificates response.",
      "properties": {
        "activeVersion": {
          "type": "string",
          "description": "The `sha1_fingerprint` of the active certificate from `certs`."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListEntraIdCertificates`."
        },
        "certs": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of Entra ID certificates for the instance."
        }
      },
      "type": "object"
    },
    "BackupRun": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the backups."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ]
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "maxChargeableBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "format": "int64"
        },
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "readOnly": true,
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "description": "Output only. The instance database version at the time this backup was made.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "id": {
          "format": "int64",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "type": "string"
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "enqueuedTime": {
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "status": {
          "description": "The status of this run.",
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ]
        },
        "windowStartTime": {
          "type": "string",
[...]
