{
  "name": "sqladmin",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta4",
  "title": "Cloud SQL Admin API",
  "discoveryVersion": "v1",
  "description": "Cloud SQL Admin API",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "ownerName": "Google",
  "endpoints": [
    {
      "location": "us-east7",
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://cloud.google.com/sql/docs",
  "servicePath": "",
  "revision": "20260803",
  "batchPath": "batch",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "id": "sqladmin:v1beta4",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "baseUrl": "https://sqladmin.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "canonicalName": "SQL Admin",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "id": "sql.operations.list",
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "path": "sql/v1beta4/projects/{project}/operations",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of operations per response.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "instance": {
              "location": "query",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "id": "sql.operations.get",
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "operation": {
              "required": true,
              "type": "string",
              "description": "Instance operation ID.",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "operation"
          ],
          "path": "sql/v1beta4/projects/{project}/operations/{operation}"
        },
        "cancel": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "operation": {
              "description": "Instance operation ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "description": "Cancels an instance operation that has been performed on an instance. Ordinarily, this method name should be `CancelSqlOperation`.",
          "response": {
            "$ref": "Empty"
          },
          "id": "sql.operations.cancel"
        }
      }
    },
    "databases": {
      "methods": {
        "list": {
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists databases in the specified Cloud SQL instance.",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "id": "sql.databases.list"
        },
        "delete": {
          "id": "sql.databases.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a database from a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "database": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the database to be deleted in the instance."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "insert": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.insert",
          "request": {
            "$ref": "Database"
          },
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "database": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the database in the instance."
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.get",
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "response": {
            "$ref": "Database"
          }
        },
        "update": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "database": {
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.update",
          "request": {
            "$ref": "Database"
          }
        },
        "patch": {
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "database": {
              "required": true,
              "type": "string",
              "description": "Name of the database to be updated in the instance.",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "id": "sql.databases.patch",
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics."
        }
      }
    },
    "instances": {
      "methods": {
        "RotateServerCertificate": {
          "id": "sql.instances.RotateServerCertificate",
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          }
        },
        "startReplica": {
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Starts the replication in the read replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.startReplica"
        },
        "reencrypt": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "response": {
            "$ref": "Operation"
          },
          "description": "Reencrypt CMEK instance with latest key version.",
          "id": "sql.instances.reencrypt",
          "request": {
            "$ref": "InstancesReencryptRequest"
          }
        },
        "update": {
          "id": "sql.instances.update",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "pointInTimeRestore": {
          "id": "sql.instances.pointInTimeRestore",
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+parent}:pointInTimeRestore",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}"
            }
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}:pointInTimeRestore",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "executeSql": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Required. Database instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Execute SQL statements.",
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "id": "sql.instances.executeSql",
          "request": {
            "$ref": "ExecuteSqlPayload"
          }
        },
        "releaseSsrsLease": {
          "id": "sql.instances.releaseSsrsLease",
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/releaseSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Required. The ID of the project that contains the instance (Example: project-id).",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/releaseSsrsLease",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "delete": {
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "finalBackupTtlDays": {
              "location": "query",
              "description": "Optional. Retention period of the final backup.",
              "format": "int64",
              "type": "string"
            },
            "finalBackupExpiryTime": {
              "type": "string",
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "format": "google-datetime",
              "location": "query"
            },
            "finalBackupDescription": {
              "description": "Optional. The description of the final backup.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance to be deleted."
            },
            "enableFinalBackup": {
              "type": "boolean",
              "description": "Flag to opt-in for final backup. By default, it is turned off.",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.delete"
        },
        "demoteMaster": {
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          }
        },
        "stopReplica": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL read replica instance name."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.stopReplica",
          "description": "Stops the replication in the read replica instance.",
          "response": {
            "$ref": "Operation"
          }
        },
        "demote": {
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.demote",
          "request": {
            "$ref": "InstancesDemoteRequest"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the Cloud SQL instance.",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demote",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demote",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "restart": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance to be restarted."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "id": "sql.instances.restart",
          "response": {
            "$ref": "Operation"
          },
          "description": "Restarts a Cloud SQL instance."
        },
        "ListEntraIdCertificates": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "response": {
            "$ref": "InstancesListEntraIdCertificatesResponse"
          },
          "description": "Lists all versions of EntraID certificates for the specified instance. There can be up to three sets of certificates listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out.",
          "id": "sql.instances.ListEntraIdCertificates"
        },
        "preCheckMajorVersionUpgrade": {
          "description": "Execute MVU Pre-checks",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "addServerCertificate": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCertificate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.addServerCertificate",
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "response": {
            "$ref": "Operation"
          }
        },
        "rotateServerCa": {
          "id": "sql.instances.rotateServerCa",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restoreBackup": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "response": {
            "$ref": "Operation"
          },
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.restoreBackup",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          }
        },
        "truncateLog": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the Cloud SQL project."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "response": {
            "$ref": "Operation"
          },
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "id": "sql.instances.truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          }
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "id": "sql.instances.patch",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "reconcilePscNetworking": {
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking.",
              "type": "boolean",
              "location": "query"
            },
            "reconcilePscNetworkingForce": {
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking.",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}"
        },
        "resetSslConfig": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "mode": {
              "location": "query",
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ],
              "description": "Optional. Reset SSL mode to use.",
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ],
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "id": "sql.instances.resetSslConfig"
        },
        "addServerCa": {
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.addServerCa",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "import": {
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.import",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "clone": {
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.clone",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the source Cloud SQL instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "acquireSsrsLease": {
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
          "id": "sql.instances.acquireSsrsLease",
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Required. ID of the project that contains the instance (Example: project-id).",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease"
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "id": "sql.instances.export",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "The Cloud SQL instance ID. This doesn't include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export"
        },
        "promoteReplica": {
          "id": "sql.instances.promoteReplica",
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "failover": {
              "type": "boolean",
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "ListServerCertificates": {
          "id": "sql.instances.ListServerCertificates",
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          },
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "failover": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "id": "sql.instances.failover",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance."
        },
        "RotateEntraIdCertificate": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "id": "sql.instances.RotateEntraIdCertificate",
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Rotates the Entra Id certificate version to one previously added with the addEntraIdCertificate method."
        },
        "listServerCas": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "id": "sql.instances.listServerCas"
        },
        "switchover": {
          "description": "Switches over from the primary instance to the DR replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.switchover",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the replica."
            },
            "dbTimeout": {
              "description": "Optional. (MySQL and PostgreSQL only) Cloud SQL instance operations timeout, which is a sum of all database operations. Default value is 10 minutes and can be modified to a maximum value of 24 hours.",
              "format": "google-duration",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/switchover",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/switchover",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.get",
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "response": {
            "$ref": "DatabaseInstance"
          }
        },
        "insert": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances",
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.insert",
          "request": {
            "$ref": "DatabaseInstance"
          }
        },
        "addEntraIdCertificate": {
          "id": "sql.instances.addEntraIdCertificate",
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "path": "sql/v1beta4/projects/{project}/instances",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project for which to list Cloud SQL instances."
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "format": "uint32",
              "type": "integer"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.list",
          "description": "Lists instances under a given project.",
          "response": {
            "$ref": "InstancesListResponse"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "resetReplicaSize": {
              "id": "sql.projects.instances.resetReplicaSize",
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Reset Replica Size to primary instance disk size.",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetReplicaSize",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetReplicaSize",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the read replica.",
                  "location": "path"
                },
                "instance": {
                  "description": "Cloud SQL read replica instance name.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "rescheduleMaintenance": {
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the instance.",
                  "location": "path"
                },
                "instance": {
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path"
                }
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "description": "Reschedules the maintenance on the given instance.",
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.rescheduleMaintenance",
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              }
            },
            "performDiskShrink": {
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/performDiskShrink",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "description": "Project ID of the project that contains the instance.",
                  "required": true,
                  "type": "string"
                },
                "instance": {
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path"
                }
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/performDiskShrink",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.performDiskShrink",
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "description": "Perform Disk Shrink on primary instance.",
              "response": {
                "$ref": "Operation"
              }
            },
            "startExternalSync": {
              "description": "Start External primary instance migration.",
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.startExternalSync",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the instance."
                },
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "getDiskShrinkConfig": {
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Project ID of the project that contains the instance."
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "description": "Get Disk Shrink Config for a given instance.",
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              }
            },
            "verifyExternalSyncSettings": {
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "description": "Verify External primary instance external sync settings.",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "description": "Project ID of the project that contains the instance.",
                  "required": true,
                  "type": "string"
                },
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "getLatestRecoveryTime": {
              "description": "Get Latest Recovery Time for a given instance.",
              "response": {
                "$ref": "SqlInstancesGetLatestRecoveryTimeResponse"
              },
              "id": "sql.projects.instances.getLatestRecoveryTime",
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path"
                },
                "sourceInstanceDeletionTime": {
                  "location": "query",
                  "type": "string",
                  "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
                  "format": "google-datetime"
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                }
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/getLatestRecoveryTime",
              "parameterOrder": [
                "project",
                "instance"
              ]
            }
          }
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project for which to list tiers.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/tiers",
          "parameterOrder": [
            "project"
          ],
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "response": {
            "$ref": "TiersListResponse"
          },
          "id": "sql.tiers.list"
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "response": {
            "$ref": "User"
          },
          "description": "Retrieves a resource containing information about a user.",
          "id": "sql.users.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "name": {
              "description": "User of the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Host of a user of the instance."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}"
        },
        "update": {
          "description": "Updates an existing user in a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.users.update",
          "request": {
            "$ref": "User"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            },
            "databaseRoles": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request."
            },
            "revokeExistingServerRoles": {
              "type": "boolean",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles.",
              "location": "query"
            },
            "revokeExistingRoles": {
              "location": "query",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "type": "boolean"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "serverRoles": {
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Optional. Host of the user in the instance."
            },
            "name": {
              "description": "Name of the user in the instance.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a user from a Cloud SQL instance.",
          "id": "sql.users.delete",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Host of the user in the instance."
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Name of the user in the instance."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        },
        "insert": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a new user in a Cloud SQL instance.",
          "id": "sql.users.insert",
          "request": {
            "$ref": "User"
          }
        },
        "list": {
          "response": {
            "$ref": "UsersListResponse"
          },
          "description": "Lists users in the specified Cloud SQL instance.",
          "id": "sql.users.list",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        }
      }
    },
    "connect": {
      "methods": {
        "resolve": {
          "flatPath": "sql/v1beta4/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "description": "Required. The region of the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "dnsName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "location",
            "dnsName"
          ],
          "path": "sql/v1beta4/locations/{location}/dns/{dnsName}:resolveConnectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "description": "Retrieves connect settings about a Cloud SQL instance using the instance DNS name.",
          "id": "sql.connect.resolve"
        },
        "generateEphemeralCert": {
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "id": "sql.connect.generateEphemeral",
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert"
        },
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "readTime": {
              "location": "query",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "format": "google-datetime",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.connect.get",
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "response": {
            "$ref": "ConnectSettings"
          }
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "flatPath": "sql/v1beta4/flags",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "databaseVersion": {
              "location": "query",
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "type": "string"
            },
            "flagScope": {
              "type": "string",
              "enum": [
                "SQL_FLAG_SCOPE_UNSPECIFIED",
                "SQL_FLAG_SCOPE_DATABASE",
                "SQL_FLAG_SCOPE_CONNECTION_POOL"
              ],
              "location": "query",
              "enumDescriptions": [
                "Assume database flags if unspecified",
                "database flags",
                "connection pool configuration flags"
              ],
              "description": "Optional. Specify the scope of flags to be returned by SqlFlagsListService. Return list of database flags if unspecified."
            }
          },
          "parameterOrder": [],
          "path": "sql/v1beta4/flags",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "description": "Lists all available database flags for Cloud SQL instances.",
          "id": "sql.flags.list"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "delete": {
          "parameters": {
            "instance": {
              "location": "path",
[...]
