{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "revision": "20260819",
  "name": "sqladmin",
  "protocol": "rest",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "Cloud SQL Admin API",
  "version": "v1beta4",
  "schemas": {
    "FinalBackupConfig": {
      "type": "object",
      "id": "FinalBackupConfig",
      "properties": {
        "retentionDays": {
          "format": "int32",
          "description": "The number of days to retain the final backup after the instance deletion. The final backup will be purged at (time_of_instance_deletion + retention_days).",
          "type": "integer"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the final backup is enabled for the instance."
        }
      },
      "description": "Config used to determine the final backup settings for the instance."
    },
    "RequestedConfig": {
      "properties": {
        "databaseVersion": {
          "type": "string",
          "description": "Optional. The target database major version for the upgrade."
        }
      },
      "description": "Configuration specified by the user at creation time for the target (Green) instance.",
      "type": "object",
      "id": "RequestedConfig"
    },
    "ConnectSettings": {
      "type": "object",
      "id": "ConnectSettings",
      "description": "Connect settings retrieval response.",
      "properties": {
        "dnsName": {
          "description": "The dns name of the instance.",
          "type": "string"
        },
        "mdxProtocolSupport": {
          "description": "Optional. Output only. mdx_protocol_support controls how the client uses metadata exchange when connecting to the instance. The values in the list representing parts of the MDX protocol that are supported by this instance. When the list is empty, the instance does not support MDX, so the client must not send an MDX request. The default is empty.",
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "Client should send the client protocol type in the MDX request."
            ],
            "type": "string",
            "enum": [
              "MDX_PROTOCOL_SUPPORT_UNSPECIFIED",
              "CLIENT_PROTOCOL_TYPE"
            ]
          }
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "type": "string",
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ]
        },
        "connectionName": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Connection name of the Cloud SQL instance used in connection strings, in the format project:region:instance."
        },
        "pscEnabled": {
          "description": "Whether PSC connectivity is enabled for this instance.",
          "type": "boolean"
        },
        "backendType": {
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        },
        "region": {
          "description": "The cloud region for the instance. e.g. `us-central1`, `europe-west1`. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#connectSettings`.",
          "type": "string"
        },
        "customSubjectAlternativeNames": {
          "type": "array",
          "description": "Custom subject alternative names for the server certificate.",
          "items": {
            "type": "string"
          }
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of read pool nodes in a read pool."
        },
        "dnsNames": {
          "description": "Output only. The list of DNS names used by this instance.",
          "items": {
            "$ref": "DnsNameMapping"
          },
          "type": "array",
          "readOnly": true
        },
        "nodes": {
          "items": {
            "$ref": "ConnectPoolNodeConfig"
          },
          "description": "Output only. Entries containing information about each read pool node of the read pool.",
          "type": "array",
          "readOnly": true
        },
        "serverCaMode": {
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ],
          "type": "string",
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ],
          "description": "Specify what type of CA is used for the server certificate."
        },
        "ipAddresses": {
          "items": {
            "$ref": "IpMapping"
          },
          "description": "The assigned IP addresses for the instance.",
          "type": "array"
        }
      }
    },
    "DemoteMasterContext": {
      "description": "Database instance demote primary instance context.",
      "type": "object",
      "id": "DemoteMasterContext",
      "properties": {
        "kind": {
          "description": "This is always `sql#demoteMasterContext`.",
          "type": "string"
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance."
        },
        "skipReplicationSetup": {
          "type": "boolean",
          "description": "Flag to skip replication setup on the instance."
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup."
        },
        "verifyGtidConsistency": {
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        }
      }
    },
    "PointInTimeRestoreContext": {
      "properties": {
        "targetInstanceClearSettingsFieldNames": {
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "privateNetwork": {
          "type": "string",
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`."
        },
        "targetInstanceSettings": {
          "$ref": "DatabaseInstance",
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs."
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "targetInstance": {
          "description": "Target instance name.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\".",
          "type": "string"
        },
        "preferredZone": {
          "type": "string",
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance."
        },
        "preferredSecondaryZone": {
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        },
        "datasource": {
          "type": "string",
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}."
        },
        "pointInTime": {
          "format": "google-datetime",
          "description": "Required. The date and time to which you want to restore the instance.",
          "type": "string"
        }
      },
      "id": "PointInTimeRestoreContext",
      "description": "Context to perform a point-in-time restore of an instance managed by Backup and Disaster Recovery (DR) Service.",
      "type": "object"
    },
    "AvailableDatabaseVersion": {
      "description": "An available database version. It can be a major or a minor version.",
      "id": "AvailableDatabaseVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version.",
          "type": "string"
        },
        "displayName": {
          "description": "The database version's display name.",
          "type": "string"
        },
        "majorVersion": {
          "type": "string",
          "description": "The version's major version name."
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertResponse",
      "properties": {
        "ephemeralCert": {
          "$ref": "SslCert",
          "description": "Generated cert"
        }
      },
      "type": "object"
    },
    "PerformanceCaptureConfig": {
      "id": "PerformanceCaptureConfig",
      "description": "Performance capture configuration.",
      "type": "object",
      "properties": {
        "transactionKillType": {
          "description": "Optional. Determines which transactions are allowed to be terminated when they exceed `transaction_kill_threshold_seconds`. This allows protecting write-heavy transactions from auto-termination if desired. Defaults to `READ_ONLY_TRANSACTIONS` if unspecified.",
          "enumDescriptions": [
            "Unspecified.",
            "Only read-only transactions are eligible for termination.",
            "All transactions are eligible for termination, including those with write operations (such as INSERT, UPDATE, DELETE, or DDL)."
          ],
          "type": "string",
          "enum": [
            "TRANSACTION_KILL_TYPE_UNSPECIFIED",
            "READ_ONLY_TRANSACTIONS",
            "ALL_TRANSACTIONS"
          ]
        },
        "transactionKillExcludedUserHosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies a customer-defined list of users to exclude from transaction termination. Entries can be in the format 'user@host' or just 'user'. A standalone 'user' implies 'user@%', excluding the user from any host. Wildcard '%' is allowed in the host part of the 'user@host' format. Example: `[\"app_user\", \"db_admin@10.1.2.3\", \"report_user@%\"]`"
        },
        "cpuUtilizationThresholdPercent": {
          "type": "integer",
          "description": "Optional. Specifies the minimum percentage of CPU utilization to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "transactionLockWaitThresholdCount": {
          "format": "int32",
          "description": "Optional. Specifies the minimum allowed number of transactions in lock wait state to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check.",
          "type": "integer"
        },
        "historyListLengthThresholdCount": {
          "description": "Optional. Specifies the minimum number of undo log entries in the history list length to trigger the performance capture. Valid integers range from `10000` to `10000000`. Enter `0` to disable the check.",
          "type": "integer",
          "format": "int32"
        },
        "transactionKillThresholdSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts terminating it. Valid integers range from `60` to `604800` (7 days). Enter `0` to disable. If enabled (i.e., > 0), this value must be greater than or equal to `transaction_duration_threshold`. Configurations where `0 < transaction_kill_threshold_seconds < transaction_duration_threshold` will be rejected."
        },
        "memoryUsageThresholdPercent": {
          "type": "integer",
          "description": "Optional. Specifies the minimum percentage of memory usage to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "probingIntervalSeconds": {
          "description": "Optional. Specifies the interval in seconds between consecutive probes that check if any trigger condition thresholds have been reached.",
          "type": "integer",
          "format": "int32"
        },
        "secondsBehindSourceThreshold": {
          "format": "int32",
          "description": "Optional. Specifies the minimum number of seconds replica must be lagging behind primary instance to trigger the performance capture on replica.",
          "type": "integer"
        },
        "runningThreadsThreshold": {
          "description": "Optional. Specifies the minimum number of MySQL `Threads_running` to trigger the performance capture on the primary instance.",
          "type": "integer",
          "format": "int32"
        },
        "transactionDurationThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts recording it."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enables or disables the performance capture feature."
        },
        "probeThreshold": {
          "format": "int32",
          "description": "Optional. Specifies the minimum number of consecutive probe threshold that triggers performance capture.",
          "type": "integer"
        },
        "semaphoreWaitThresholdCount": {
          "format": "int32",
          "description": "Optional. Specifies the minimum allowed number of semaphore waits to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check.",
          "type": "integer"
        }
      }
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "description": "A Cloud SQL instance resource.",
      "properties": {
        "suspensionReason": {
          "type": "array",
          "description": "If the instance state is SUSPENDED, the reason for the suspension.",
          "items": {
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to",
              "The project is suspended due to abuse detected by Ares."
            ],
            "type": "string",
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE",
              "PROJECT_ABUSE"
            ]
          }
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. This status indicates whether the instance satisfies PZI. The status is reserved for future use."
        },
        "maintenanceVersion": {
          "type": "string",
          "description": "The current software version on the instance."
        },
        "deploymentInfo": {
          "readOnly": true,
          "$ref": "BlueGreenDeploymentInfo",
          "description": "Output only. Deployment info for the instance. This is set if the instance is currently part of any blue-green setup."
        },
        "failoverReplica": {
          "properties": {
            "available": {
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true.",
              "type": "boolean"
            },
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The name and status of the failover replica."
        },
        "serviceAccountEmailAddress": {
          "type": "string",
          "description": "The service account email address assigned to the instance. \\This property is read-only."
        },
        "ipv6Address": {
          "deprecated": true,
          "type": "string",
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances."
        },
        "sqlNetworkArchitecture": {
          "description": "The SQL network architecture for the instance.",
          "type": "string",
          "enum": [
            "SQL_NETWORK_ARCHITECTURE_UNSPECIFIED",
            "NEW_NETWORK_ARCHITECTURE",
            "OLD_NETWORK_ARCHITECTURE"
          ],
          "enumDescriptions": [
            "",
            "The instance uses the new network architecture.",
            "The instance uses the old network architecture."
          ]
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as primary in the replication setup.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "description": "The current serving state of the Cloud SQL instance.",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone."
        },
        "maxDiskSize": {
          "type": "string",
          "deprecated": true,
          "description": "The maximum disk size of the instance in bytes.",
          "format": "int64"
        },
        "dnsNames": {
          "items": {
            "$ref": "DnsNameMapping"
          },
          "readOnly": true,
          "description": "Output only. The list of DNS names used by this instance.",
          "type": "array"
        },
        "rootPassword": {
          "description": "Initial root password. Use only on creation. You must set root passwords before you can connect to PostgreSQL instances.",
          "type": "string"
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name of the Cloud SQL instance used in connection strings."
        },
        "outOfDiskReport": {
          "$ref": "SqlOutOfDiskReport",
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job"
        },
        "replicaNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The replicas of the instance."
        },
        "upgradableDatabaseVersions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. All database versions that are available for upgrade.",
          "items": {
            "$ref": "AvailableDatabaseVersion"
          }
        },
        "gceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "includeReplicasForMajorVersionUpgrade": {
          "type": "boolean",
          "description": "Input only. Determines whether an in-place major version upgrade of replicas happens when an in-place major version upgrade of a primary instance is initiated."
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "instanceType": {
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica.",
            "A Cloud SQL read pool.",
            "A Cloud SQL instance acting as a Blue-Green deployment target primary. (MySQL only)"
          ],
          "description": "The instance type.",
          "type": "string",
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE",
            "READ_POOL_INSTANCE",
            "GREEN_INSTANCE"
          ]
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.",
          "$ref": "DiskEncryptionStatus"
        },
        "currentDiskSize": {
          "format": "int64",
          "type": "string",
          "deprecated": true,
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys and tag values that are bound to this instance. You must represent each item in the map as: `\"\" : \"\"`. For example, a single resource can have the following tags: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\", ``` For more information on tag creation and management, see https://cloud.google.com/resource-manager/docs/tags/tags-overview.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "nodes": {
          "items": {
            "$ref": "PoolNodeConfig"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Entries containing information about each read pool node of the read pool."
        },
        "createTime": {
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "primaryDnsName": {
          "type": "string",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. DEPRECATED: please use write_endpoint instead."
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "replicaConfiguration": {
          "$ref": "ReplicaConfiguration",
          "description": "Configuration specific to failover replicas and read replicas."
        },
        "replicationCluster": {
          "$ref": "ReplicationCluster",
          "description": "A primary instance and disaster recovery (DR) replica pair. A DR replica is a cross-region replica that you designate for failover in the event that the primary instance experiences regional failure. Applicable to MySQL and PostgreSQL."
        },
        "databaseVersion": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead.",
          "type": "string"
        },
        "geminiConfig": {
          "$ref": "GeminiInstanceConfig",
          "description": "Gemini instance configuration."
        },
        "satisfiesPzs": {
          "description": "This status indicates whether the instance satisfies PZS. The status is reserved for future use.",
          "type": "boolean"
        },
        "writeEndpoint": {
          "readOnly": true,
          "description": "Output only. The dns name of the primary instance in a replication group.",
          "type": "string"
        },
        "backendType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type."
        },
        "kind": {
          "description": "This is always `sql#instance`.",
          "type": "string"
        },
        "onPremisesConfiguration": {
          "description": "Configuration specific to on-premises instances.",
          "$ref": "OnPremisesConfiguration"
        },
        "availableMaintenanceVersions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List all maintenance versions applicable on the instance",
          "type": "array"
        },
        "pscServiceAttachmentLink": {
          "description": "Output only. The link to service attachment of PSC instance.",
          "type": "string",
          "readOnly": true
        },
        "ipAddresses": {
          "items": {
            "$ref": "IpMapping"
          },
          "description": "The assigned IP addresses for the instance.",
          "type": "array"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`."
        },
        "region": {
          "description": "The geographical region of the Cloud SQL instance. It can be one of the [regions](https://cloud.google.com/sql/docs/mysql/locations#location-r) where Cloud SQL operates: For example, `asia-east1`, `europe-west1`, and `us-central1`. The default value is `us-central1`.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "switchTransactionLogsToCloudStorageEnabled": {
          "description": "Input only. Whether Cloud SQL is enabled to switch storing point-in-time recovery log files from a data disk to Cloud Storage.",
          "type": "boolean"
        },
        "dnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The dns name of the instance."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable."
        },
        "databaseCenterIntegrationEnabled": {
          "type": "boolean",
          "description": "Optional. If true, instance metadata is sent to the Database Center. If false, instance metadata is not sent to the Database Center."
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "nodeCount": {
          "description": "The number of read pool nodes in a read pool.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "BackupRunsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "items": {
          "items": {
            "$ref": "BackupRun"
          },
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `sql#backupRunsList`.",
          "type": "string"
        }
      },
      "id": "BackupRunsListResponse",
      "type": "object",
      "description": "Backup run list results."
    },
    "TargetRole": {
      "description": "The target instance for the Blue-Green deployment.",
      "properties": {
        "sourceId": {
          "$ref": "InstanceReference",
          "readOnly": true,
          "description": "Output only. The source instance paired with this target instance in a blue-green deployment."
        }
      },
      "id": "TargetRole",
      "type": "object"
    },
    "InstancesReencryptRequest": {
      "properties": {
        "backupReencryptionConfig": {
          "description": "Configuration specific to backup re-encryption",
          "$ref": "BackupReencryptionConfig"
        }
      },
      "type": "object",
      "description": "Database Instance reencrypt request.",
      "id": "InstancesReencryptRequest"
    },
    "ReadPoolAutoScaleConfig": {
      "properties": {
        "minNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of read pool nodes to be maintained."
        },
        "targetMetrics": {
          "type": "array",
          "items": {
            "$ref": "TargetMetric"
          },
          "description": "Optional. Target metrics for read pool auto scaling."
        },
        "scaleOutCooldownSeconds": {
          "description": "The cooldown period for scale out operations.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "description": "Indicates whether read pool auto scaling is enabled.",
          "type": "boolean"
        },
        "disableScaleIn": {
          "type": "boolean",
          "description": "Indicates whether read pool auto scaling supports scale in operations (removing nodes)."
        },
        "scaleInCooldownSeconds": {
          "description": "The cooldown period for scale in operations.",
          "format": "int32",
          "type": "integer"
        },
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of read pool nodes to be maintained."
        }
      },
      "type": "object",
      "description": "The read pool auto-scale configuration.",
      "id": "ReadPoolAutoScaleConfig"
    },
    "InstancesListServerCertificatesResponse": {
      "description": "Instances ListServerCertificatess response.",
      "type": "object",
      "id": "InstancesListServerCertificatesResponse",
      "properties": {
        "serverCerts": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server certificates for the instance, signed by the corresponding CA from the `ca_certs` list."
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `server_certs`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListServerCertificates`."
        },
        "caCerts": {
          "type": "array",
          "description": "List of server CA certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "InstancesDemoteMasterRequest": {
      "description": "Database demote primary instance request.",
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "type": "object",
      "id": "InstancesDemoteMasterRequest"
    },
    "InstancesCloneRequest": {
      "id": "InstancesCloneRequest",
      "description": "Database instance clone request.",
      "type": "object",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      }
    },
    "Value": {
      "type": "object",
      "properties": {
        "nullValue": {
          "type": "boolean",
          "description": "If cell value is null, then this flag will be set to true."
        },
        "value": {
          "type": "string",
          "description": "The cell value represented in string format."
        }
      },
      "id": "Value",
      "description": "The cell value of the table."
    },
    "RotateServerCertificateContext": {
      "description": "Instance rotate server certificate context.",
      "id": "RotateServerCertificateContext",
      "properties": {
        "nextVersion": {
          "type": "string",
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version."
        },
        "kind": {
          "description": "Optional. This is always `sql#rotateServerCertificateContext`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array",
          "description": "List of database instance resources."
        },
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "description": "List of warnings that occurred while handling the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesList`."
        }
      },
      "type": "object",
      "description": "Database instances list response.",
      "id": "InstancesListResponse"
    },
    "SqlServerDatabaseDetails": {
      "id": "SqlServerDatabaseDetails",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "properties": {
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        },
        "compatibilityLevel": {
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AdvancedMachineFeatures": {
      "type": "object",
      "id": "AdvancedMachineFeatures",
      "properties": {
        "threadsPerCore": {
          "description": "The number of threads per physical core.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Specifies options for controlling advanced machine features."
    },
    "PreCheckMajorVersionUpgradeContext": {
      "description": "Pre-check major version upgrade context.",
      "type": "object",
      "properties": {
        "targetDatabaseVersion": {
          "description": "Required. The target database version to upgrade to.",
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`."
        },
        "preCheckResponse": {
          "items": {
            "$ref": "PreCheckResponse"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The responses from the precheck operation."
        }
      },
      "id": "PreCheckMajorVersionUpgradeContext"
    },
    "InstancesPreCheckMajorVersionUpgradeRequest": {
      "properties": {
        "preCheckMajorVersionUpgradeContext": {
          "description": "Required. Contains details about the pre-check major version upgrade operation.",
          "$ref": "PreCheckMajorVersionUpgradeContext"
        }
      },
      "description": "Request for Pre-checks for MVU",
      "type": "object",
      "id": "InstancesPreCheckMajorVersionUpgradeRequest"
    },
    "MySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "properties": {
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "dumpFilePath": {
          "type": "string",
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump."
        },
        "sslCipher": {
          "description": "A list of permissible ciphers to use for SSL encryption.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "type": "boolean",
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake."
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "connectRetryInterval": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate."
        },
        "masterHeartbeatPeriod": {
          "description": "Interval in milliseconds between replication heartbeats.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#mysqlReplicaConfiguration`.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        }
      },
      "id": "MySqlReplicaConfiguration"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "id": "Interval",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DatabaseFlags": {
      "type": "object",
      "description": "Database flags for Cloud SQL instances.",
      "properties": {
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation.",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      },
      "id": "DatabaseFlags"
    },
    "Backup": {
      "description": "A backup resource.",
      "id": "Backup",
      "properties": {
        "state": {
          "enum": [
            "SQL_BACKUP_STATE_UNSPECIFIED",
            "ENQUEUED",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "DELETING",
            "DELETION_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of this backup.",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup that's added to a queue.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup is successful.",
            "The backup is being deleted.",
            "Deletion of the backup failed."
          ]
        },
        "instanceSettings": {
          "readOnly": true,
          "$ref": "DatabaseInstance",
          "description": "Optional. Output only. Instance setting of the source instance that's associated with this backup."
        },
        "backupKind": {
          "readOnly": true,
          "description": "Output only. Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This output contains the encryption configuration for a backup and the resource name of the KMS key for disk encryption."
        },
        "expiryTime": {
          "type": "string",
          "description": "Backup expiration time. A UTC timestamp of when this resource expired.",
          "format": "google-datetime"
        },
        "description": {
          "description": "The description of this backup.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Output only. This output contains a backup time zone. If a Cloud SQL for SQL Server instance has a different time zone from the backup's time zone, then the restore to the instance doesn't happen.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. This status indicates whether the backup satisfies PZI. The status is reserved for future use."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This is always `sql#backup`."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. This status indicates whether the backup satisfies PZS. The status is reserved for future use."
        },
        "kmsKeyVersion": {
          "type": "string",
          "description": "Output only. This output contains the encryption status for a backup and the version of the KMS key that's used to encrypt the Cloud SQL instance.",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Information about why the backup operation fails (for example, when the backup state fails).",
          "$ref": "OperationError",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}."
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "instanceDeletionTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Optional. Output only. Timestamp in UTC of when the instance associated with this backup is deleted."
        },
        "backupInterval": {
          "description": "Output only. This output contains the following values: start_time: All database writes up to this time are available. end_time: Any database writes after this time aren't available.",
          "$ref": "Interval",
          "readOnly": true
        },
        "databaseVersion": {
          "description": "Output only. The database version of the instance of at the time this backup was made.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "instance": {
          "type": "string",
          "description": "The name of the database instance."
        },
        "backupRun": {
          "description": "Output only. The mapping to backup run resource used for IAM validations.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The storage location of the backups. The location can be multi-regional.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. The URI of this resource.",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown backup type.",
            "The backup schedule triggers a backup automatically.",
            "The user triggers a backup manually.",
            "The backup that's created when the instance is deleted."
          ],
          "enum": [
            "SQL_BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND",
            "FINAL"
          ],
          "type": "string",
          "description": "Output only. The type of this backup. The type can be \"AUTOMATED\", \"ON_DEMAND\", or “FINAL”."
        },
        "ttlDays": {
          "description": "Input only. The time-to-live (TTL) interval for this resource (in days). For example: ttlDays:7, means 7 days from the current time. The expiration time can't exceed 365 days from the time that the backup is created.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "UserPasswordValidationPolicy": {
      "type": "object",
      "description": "User level password validation policy.",
      "id": "UserPasswordValidationPolicy",
      "properties": {
        "enablePasswordVerification": {
          "type": "boolean",
          "description": "If true, the user must specify the current password before changing the password. This flag is supported only for MySQL."
        },
        "allowedFailedAttempts": {
          "type": "integer",
          "description": "Number of failed login attempts allowed before user get locked.",
          "format": "int32"
        },
        "enableFailedAttemptsCheck": {
          "type": "boolean",
          "description": "If true, failed login attempts check will be enabled."
        },
        "passwordExpirationDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Expiration duration after password is updated."
        },
        "status": {
          "description": "Output only. Read-only password status.",
          "$ref": "PasswordStatus",
          "readOnly": true
        }
      }
    },
    "OnPremisesConfiguration": {
      "properties": {
        "dmsManaged": {
          "description": "Output only. Indicates whether the resource is managed by Database Migration Service.",
          "type": "boolean",
          "readOnly": true
        },
        "hostPort": {
          "description": "The host and port of the on-premises instance in host:port format",
          "type": "string"
        },
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#onPremisesConfiguration`.",
          "type": "string"
        },
        "selectedObjects": {
          "description": "Optional. A list of objects that the user selects for replication from an external source instance.",
          "type": "array",
          "items": {
            "$ref": "SelectedObjects"
          }
        },
        "sslOption": {
          "enumDescriptions": [
            "Unknown SSL option i.e. SSL option not specified by user.",
            "SSL is disabled for replica connection to the on-premises source.",
            "SSL is required for replica connection to the on-premises source.",
            "Verify CA is required for replica connection to the on-premises source."
          ],
          "type": "string",
          "enum": [
            "SSL_OPTION_UNSPECIFIED",
            "DISABLE",
            "REQUIRE",
            "VERIFY_CA"
          ],
          "description": "Optional. SslOption for replica connection to the on-premises source."
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate."
        },
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        }
      },
      "description": "On-premises instance configuration.",
      "type": "object",
      "id": "OnPremisesConfiguration"
    },
    "OperationErrors": {
      "properties": {
        "kind": {
          "description": "This is always `sql#operationErrors`.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "The list of errors encountered while processing this operation.",
          "items": {
            "$ref": "OperationError"
          }
        }
      },
      "type": "object",
      "id": "OperationErrors",
      "description": "Database instance operation errors list wrapper."
    },
    "ConnectionPoolConfig": {
      "properties": {
        "flags": {
          "type": "array",
          "description": "Optional. List of connection pool configuration flags.",
          "items": {
            "$ref": "ConnectionPoolFlags"
          }
        },
        "poolerCount": {
          "readOnly": true,
          "description": "Output only. Number of connection poolers.",
          "format": "int32",
          "type": "integer"
        },
        "connectionPoolingEnabled": {
          "type": "boolean",
          "description": "Whether managed connection pooling is enabled."
        }
      },
      "id": "ConnectionPoolConfig",
      "description": "The managed connection pooling configuration.",
      "type": "object"
    },
    "SqlServerUserDetails": {
      "properties": {
        "serverRoles": {
          "description": "Indicates the server roles for this user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disabled": {
          "type": "boolean",
          "description": "Indicates if the user has been disabled."
        }
      },
      "type": "object",
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "id": "SqlServerUserDetails"
    },
    "PscAutoConnectionConfig": {
      "type": "object",
      "id": "PscAutoConnectionConfig",
      "description": "Settings for an automatically-setup Private Service Connect consumer endpoint that is used to connect to a Cloud SQL instance.",
      "properties": {
        "consumerNetwork": {
          "description": "Optional. The consumer network of this consumer endpoint. This must be a resource path that includes both the host project and the network name. For example, `projects/project1/global/networks/network1`. The consumer host project of this network might be different from the consumer service project.",
          "type": "string"
        },
        "consumerNetworkStatus": {
          "type": "string",
          "description": "The connection policy status of the consumer network."
        },
        "writeEndpointAutoDnsStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of automated DNS provisioning for the write endpoint.",
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ]
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address of the consumer endpoint."
        },
        "consumerProject": {
          "type": "string",
          "description": "Optional. This is the project ID of consumer service project of this consumer endpoint. Optional. This is only applicable if consumer_network is a shared vpc network."
        },
        "serviceConnectionPolicyCreationResult": {
          "type": "string",
          "description": "Output only. The status of service connection policy creation.",
          "readOnly": true
        },
        "status": {
          "description": "The connection status of the consumer endpoint.",
          "type": "string"
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "description": "Output only. The service connection policy created automatically for the consumer network when `psc_auto_connection_policy_enabled` is true. It is in the format of: `projects/{project}/regions/{region}/serviceConnectionPolicies/{policy_id}` The `policy_id` is in format of `$NETWORK-$RANDOM`.",
          "type": "string"
        },
        "instanceAutoDnsStatus": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ],
          "description": "Output only. The status of automated DNS provisioning."
        }
      }
    },
    "PoolNodeConfig": {
      "properties": {
        "pscServiceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node.",
          "type": "string"
        },
        "dnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name of the read pool node."
        },
        "gceZone": {
          "description": "Output only. The zone of the read pool node.",
          "readOnly": true,
          "type": "string"
        },
        "pscAutoConnections": {
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node.",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs."
        },
        "state": {
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "readOnly": true,
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "description": "Output only. The current state of the read pool node.",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ]
        },
        "ipAddresses": {
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "items": {
            "$ref": "IpMapping"
          },
          "readOnly": true,
          "type": "array"
        },
        "dnsNames": {
          "readOnly": true,
          "description": "Output only. The list of DNS names used by this read pool node.",
          "type": "array",
          "items": {
            "$ref": "DnsNameMapping"
          }
        }
      },
      "description": "Details of a single read pool node of a read pool.",
      "type": "object",
      "id": "PoolNodeConfig"
    },
    "LocationPreference": {
      "id": "LocationPreference",
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "properties": {
        "kind": {
          "description": "This is always `sql#locationPreference`.",
          "type": "string"
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). To disable this field, set it to 'no_secondary_zone'.",
          "type": "string"
        },
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GeminiInstanceConfig": {
      "description": "Gemini instance configuration.",
      "type": "object",
      "id": "GeminiInstanceConfig",
      "properties": {
        "indexAdvisorEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the index advisor is enabled."
        },
        "activeQueryEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the active query is enabled."
        },
        "flagRecommenderEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the flag recommender is enabled.",
          "type": "boolean"
        },
        "googleVacuumMgmtEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the vacuum management is enabled."
        },
        "oomSessionCancelEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether canceling the out-of-memory (OOM) session is enabled."
        },
        "entitled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether Gemini is enabled."
        }
      }
    },
    "SqlInstancesReleaseSsrsLeaseResponse": {
      "description": "The response for the release of the SSRS lease.",
      "id": "SqlInstancesReleaseSsrsLeaseResponse",
      "properties": {
        "operationId": {
          "description": "The operation ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Reschedule": {
      "type": "object",
      "id": "Reschedule",
      "properties": {
        "scheduleTime": {
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "rescheduleType": {
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "type": "string",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "description": "Required. The type of the reschedule."
        }
      }
    },
    "AclEntry": {
      "description": "An entry for an Access Control list.",
      "id": "AclEntry",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        }
      }
    },
    "CloneContext": {
      "type": "object",
      "properties": {
        "pitrTimestampMs": {
          "type": "string",
          "description": "Reserved for future use.",
          "format": "int64"
        },
        "preferredZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance.",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "destinationProject": {
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance.",
          "type": "string"
        },
        "sourceInstanceDeletionTime": {
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "destinationNetwork": {
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via private services access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field.",
          "type": "string"
        },
        "pointInTime": {
[...]
