{
  "kind": "discovery#restDescription",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "revision": "20260819",
  "servicePath": "",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "schemas": {
    "GenerateEphemeralCertResponse": {
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertResponse",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "type": "object"
    },
    "OperationErrors": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "The list of errors encountered while processing this operation.",
          "items": {
            "$ref": "OperationError"
          }
        },
        "kind": {
          "description": "This is always `sql#operationErrors`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationErrors",
      "description": "Database instance operation errors list wrapper."
    },
    "SelectedObjects": {
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The name of the database to migrate."
        }
      },
      "id": "SelectedObjects",
      "description": "A list of objects that the user selects for replication from an external source instance."
    },
    "SslCertsInsertResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsInsert`."
        },
        "clientCert": {
          "description": "The new client certificate and private key.",
          "$ref": "SslCertDetail"
        }
      },
      "description": "SslCert insert response.",
      "id": "SslCertsInsertResponse"
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "properties": {
        "kind": {
          "description": "This is always `sql#getLatestRecoveryTime`.",
          "type": "string"
        },
        "latestRecoveryTime": {
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "earliestRecoveryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp, identifies the earliest recovery time of the source instance."
        }
      },
      "type": "object",
      "description": "Instance get latest recovery time response.",
      "id": "SqlInstancesGetLatestRecoveryTimeResponse"
    },
    "DataCacheConfig": {
      "type": "object",
      "properties": {
        "dataCacheEnabled": {
          "description": "Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      },
      "id": "DataCacheConfig",
      "description": "Data cache configurations."
    },
    "InstanceReference": {
      "description": "Reference to another Cloud SQL instance.",
      "id": "InstanceReference",
      "type": "object",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it."
        },
        "name": {
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID.",
          "type": "string"
        },
        "region": {
          "description": "The region of the Cloud SQL instance being referenced.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "description": "Database instance settings.",
      "properties": {
        "retainBackupsOnDelete": {
          "type": "boolean",
          "description": "Optional. When this parameter is set to true, Cloud SQL retains backups of the instance even after the instance is deleted. The ON_DEMAND backup will be retained until customer deletes the backup or the project. The AUTOMATED backup will be retained based on the backups retention setting."
        },
        "dataDiskProvisionedThroughput": {
          "description": "Optional. Provisioned throughput measured in MiB per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "type": "string",
          "format": "int64"
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        },
        "deletionProtectionEnabled": {
          "description": "Configuration to protect against accidental instance deletion.",
          "type": "boolean"
        },
        "dataCacheConfig": {
          "description": "Configuration for data cache.",
          "$ref": "DataCacheConfig"
        },
        "readPoolAutoScaleConfig": {
          "description": "Optional. The read pool auto-scale configuration for the instance.",
          "$ref": "ReadPoolAutoScaleConfig"
        },
        "dataDiskType": {
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API.",
            "A Hyperdisk Balanced data disk."
          ],
          "type": "string",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD",
            "HYPERDISK_BALANCED"
          ]
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "deprecated": true
        },
        "timeZone": {
          "type": "string",
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server."
        },
        "availabilityType": {
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability)."
        },
        "dataDiskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB."
        },
        "connectionPoolConfig": {
          "description": "Optional. The managed connection pooling configuration for the instance.",
          "$ref": "ConnectionPoolConfig"
        },
        "enableGoogleMlIntegration": {
          "type": "boolean",
          "description": "Optional. When this parameter is set to true, Cloud SQL instances can connect to Vertex AI to pass requests for real-time predictions and insights to the AI. The default value is false. This applies only to Cloud SQL for MySQL and Cloud SQL for PostgreSQL instances."
        },
        "connectorEnforcement": {
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors) Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "type": "string",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ],
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ]
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance."
        },
        "collation": {
          "type": "string",
          "description": "The name of server Instance collation."
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance.",
          "type": "boolean"
        },
        "replicationLagMaxSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Configuration value for recreation of replica after certain replication lag."
        },
        "userLabels": {
          "type": "object",
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "storageAutoResizeLimit": {
          "format": "int64",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string"
        },
        "autoUpgradeEnabled": {
          "description": "Optional. Cloud SQL for MySQL auto-upgrade configuration. When this parameter is set to true, auto-upgrade is enabled for MySQL 8.0 minor versions. The MySQL version must be 8.0.35 or higher.",
          "type": "boolean"
        },
        "denyMaintenancePeriods": {
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny maintenance periods"
        },
        "replicationType": {
          "deprecated": true,
          "type": "string",
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "insightsConfig": {
          "$ref": "InsightsConfig",
          "description": "Insights configuration, for now relevant only for Postgres."
        },
        "dataApiAccess": {
          "description": "This parameter controls whether to allow using ExecuteSql API to connect to the instance. Not allowed by default.",
          "enum": [
            "DATA_API_ACCESS_UNSPECIFIED",
            "DISALLOW_DATA_API",
            "ALLOW_DATA_API"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, effectively the same as `DISALLOW_DATA_API`.",
            "Disallow using ExecuteSql API to connect to the instance.",
            "Allow using ExecuteSql API to connect to the instance. For private IP instances, this allows authorized users to access the instance from the public internet using ExecuteSql API."
          ]
        },
        "pricingPlan": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "type": "string",
          "format": "int64"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array"
        },
        "activationPolicy": {
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "type": "string",
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ]
        },
        "dataDiskProvisionedIops": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Provisioned number of I/O operations per second for the data disk. This field is only used for hyperdisk-balanced disk types."
        },
        "edition": {
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS",
            "DEVELOPER"
          ],
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an Enterprise Plus edition.",
            "This instance is a Cloud SQL developer edition instance."
          ],
          "description": "Optional. The edition type of the Cloud SQL instance."
        },
        "enableDataplexIntegration": {
          "type": "boolean",
          "description": "Optional. By default, Cloud SQL instances have schema extraction disabled for Dataplex. When this parameter is set to true, schema extraction for Dataplex on Cloud SQL instances is activated."
        },
        "authorizedGaeApplications": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "type": "array"
        },
        "entraidConfig": {
          "$ref": "SqlServerEntraIdConfig",
          "description": "Optional. The Microsoft Entra ID configuration for the SQL Server instance."
        },
        "finalBackupConfig": {
          "description": "Optional. The final backup configuration for the instance.",
          "$ref": "FinalBackupConfig"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "acceleratedReplicaMode": {
          "description": "Optional. Configures whether the replica is in accelerated mode. This feature is in private preview and requires allowlisting to take effect.",
          "type": "boolean"
        },
        "advancedMachineFeatures": {
          "description": "Specifies advanced machine configuration for the instances relevant only for SQL Server.",
          "$ref": "AdvancedMachineFeatures"
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance for PostgreSQL and MySQL."
        },
        "performanceCaptureConfig": {
          "$ref": "PerformanceCaptureConfig",
          "description": "Optional. Configuration for Performance Capture, provides diagnostic metrics during high load situations."
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        }
      }
    },
    "OperationsListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "description": "List of operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "kind": {
          "description": "This is always `sql#operationsList`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      },
      "id": "OperationsListResponse",
      "description": "Operations list response."
    },
    "PreCheckResponse": {
      "id": "PreCheckResponse",
      "properties": {
        "messageType": {
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "description": "The type of message whether it is an info, warning, or error.",
          "enumDescriptions": [
            "Default unspecified value to prevent unintended behavior changes.",
            "General informational messages that don't require action.",
            "Warnings that might impact the upgrade but don't block it.",
            "Errors that a user must resolve before proceeding with the upgrade."
          ],
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The message to be displayed to the user."
        },
        "actionsRequired": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The actions that the user needs to take. Use repeated for multiple actions."
        }
      },
      "type": "object",
      "description": "Structured PreCheckResponse containing message, type, and required actions."
    },
    "InstancesReencryptRequest": {
      "id": "InstancesReencryptRequest",
      "description": "Database Instance reencrypt request.",
      "type": "object",
      "properties": {
        "backupReencryptionConfig": {
          "description": "Configuration specific to backup re-encryption",
          "$ref": "BackupReencryptionConfig"
        }
      }
    },
    "Tier": {
      "properties": {
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        },
        "RAM": {
          "type": "string",
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes."
        },
        "kind": {
          "description": "This is always `sql#tier`.",
          "type": "string"
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        },
        "region": {
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier.",
          "type": "array"
        }
      },
      "id": "Tier",
      "type": "object",
      "description": "A Google Cloud SQL service tier resource."
    },
    "ListBackupsResponse": {
      "description": "The response payload containing a list of the backups.",
      "id": "ListBackupsResponse",
      "properties": {
        "warnings": {
          "description": "If a region isn't unavailable or if an unknown error occurs, then a warning message is returned.",
          "items": {
            "$ref": "ApiWarning"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, then there aren't subsequent pages."
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "A list of backups."
        }
      },
      "type": "object"
    },
    "InstancesCloneRequest": {
      "id": "InstancesCloneRequest",
      "type": "object",
      "description": "Database instance clone request.",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      }
    },
    "SslCert": {
      "id": "SslCert",
      "properties": {
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "kind": {
          "description": "This is always `sql#sslCert`.",
          "type": "string"
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint."
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        }
      },
      "type": "object",
      "description": "SslCerts Resource"
    },
    "RequestedConfig": {
      "type": "object",
      "properties": {
        "databaseVersion": {
          "type": "string",
          "description": "Optional. The target database major version for the upgrade."
        }
      },
      "id": "RequestedConfig",
      "description": "Configuration specified by the user at creation time for the target (Green) instance."
    },
    "RotateServerCaContext": {
      "description": "Instance rotate server CA context.",
      "properties": {
        "nextVersion": {
          "type": "string",
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#rotateServerCaContext`."
        }
      },
      "type": "object",
      "id": "RotateServerCaContext"
    },
    "Metadata": {
      "type": "object",
      "description": "The additional metadata information regarding the execution of the SQL statements.",
      "properties": {
        "sqlStatementExecutionTime": {
          "format": "google-duration",
          "type": "string",
          "description": "The time taken to execute the SQL statements."
        }
      },
      "id": "Metadata"
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "description": "SslCertDetail.",
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        }
      },
      "type": "object"
    },
    "TiersListResponse": {
      "type": "object",
      "description": "Tiers list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#tiersList`."
        },
        "items": {
          "description": "List of tiers.",
          "type": "array",
          "items": {
            "$ref": "Tier"
          }
        }
      },
      "id": "TiersListResponse"
    },
    "SqlOutOfDiskReport": {
      "id": "SqlOutOfDiskReport",
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "properties": {
        "sqlMinRecommendedIncreaseSizeGb": {
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "type": "integer",
          "format": "int32"
        },
        "sqlOutOfDiskState": {
          "type": "string",
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ]
        }
      },
      "type": "object"
    },
    "SourceRole": {
      "type": "object",
      "id": "SourceRole",
      "description": "The source instance for the Blue-Green deployment.",
      "properties": {
        "targetId": {
          "$ref": "InstanceReference",
          "description": "Output only. The target instance paired with this source instance in a blue-green deployment.",
          "readOnly": true
        }
      }
    },
    "PscAutoConnectionConfig": {
      "properties": {
        "writeEndpointAutoDnsStatus": {
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ],
          "description": "Output only. The status of automated DNS provisioning for the write endpoint."
        },
        "serviceConnectionPolicyCreationResult": {
          "description": "Output only. The status of service connection policy creation.",
          "readOnly": true,
          "type": "string"
        },
        "ipAddress": {
          "description": "The IP address of the consumer endpoint.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The connection status of the consumer endpoint."
        },
        "consumerProject": {
          "type": "string",
          "description": "Optional. This is the project ID of consumer service project of this consumer endpoint. Optional. This is only applicable if consumer_network is a shared vpc network."
        },
        "instanceAutoDnsStatus": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "description": "Output only. The status of automated DNS provisioning.",
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ]
        },
        "serviceConnectionPolicy": {
          "description": "Output only. The service connection policy created automatically for the consumer network when `psc_auto_connection_policy_enabled` is true. It is in the format of: `projects/{project}/regions/{region}/serviceConnectionPolicies/{policy_id}` The `policy_id` is in format of `$NETWORK-$RANDOM`.",
          "readOnly": true,
          "type": "string"
        },
        "consumerNetwork": {
          "description": "Optional. The consumer network of this consumer endpoint. This must be a resource path that includes both the host project and the network name. For example, `projects/project1/global/networks/network1`. The consumer host project of this network might be different from the consumer service project.",
          "type": "string"
        },
        "consumerNetworkStatus": {
          "description": "The connection policy status of the consumer network.",
          "type": "string"
        }
      },
      "id": "PscAutoConnectionConfig",
      "description": "Settings for an automatically-setup Private Service Connect consumer endpoint that is used to connect to a Cloud SQL instance.",
      "type": "object"
    },
    "RotateEntraIdCertificateContext": {
      "id": "RotateEntraIdCertificateContext",
      "type": "object",
      "description": "Instance rotate Entra ID certificate context.",
      "properties": {
        "nextVersion": {
          "type": "string",
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added Entra ID certificate version."
        },
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#rotateEntraIdCertificateContext`."
        }
      }
    },
    "ImportContext": {
      "type": "object",
      "properties": {
        "csvImportOptions": {
          "properties": {
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Options for importing data as CSV."
        },
        "bakImportOptions": {
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object",
          "properties": {
            "stopAtMark": {
              "type": "string",
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only."
            },
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "bakType": {
              "type": "string",
              "description": "Type of the bak content, FULL or DIFF.",
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "SQL Server Transaction Log"
              ],
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ]
            },
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "keepEncrypted": {
                  "type": "boolean",
                  "description": "Optional. Whether the imported file remains encrypted."
                },
                "pvkPath": {
                  "type": "string",
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                },
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                }
              }
            },
            "recoveryOnly": {
              "type": "boolean",
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server."
            },
            "noRecovery": {
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAt": {
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string",
              "format": "google-datetime"
            }
          }
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "database": {
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified.",
          "type": "string"
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        },
        "sqlImportOptions": {
          "description": "Optional. Options for importing data from SQL statements.",
          "properties": {
            "threads": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of threads to use for parallel import."
            },
            "parallel": {
              "description": "Optional. Whether or not the import should be parallel.",
              "type": "boolean"
            },
            "postgresImportOptions": {
              "properties": {
                "clean": {
                  "type": "boolean",
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                },
                "ifExists": {
                  "type": "boolean",
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                }
              },
              "type": "object",
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance."
            }
          },
          "type": "object"
        },
        "tdeImportOptions": {
          "description": "Optional. Import parameters specific to SQL Server .TDE files Import parameters specific to SQL Server TDE certificates",
          "properties": {
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Required. Certificate name. Applicable only for SQL Server instances."
            }
          },
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#importContext`."
        },
        "fileType": {
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ],
          "type": "string",
          "description": "The file type for the specified uri. * `SQL`: The file contains SQL statements. * `CSV`: The file contains CSV data. * `BAK`: The file contains backup data for a SQL Server instance.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ]
        }
      },
      "description": "Database instance import context.",
      "id": "ImportContext"
    },
    "Operation": {
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "apiWarning": {
          "description": "An Admin API warning message.",
          "$ref": "ApiWarning"
        },
        "status": {
          "type": "string",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "description": "The status of an operation."
        },
        "subOperationType": {
          "description": "Optional. The sub operation based on the operation type.",
          "$ref": "SqlSubOperationType"
        },
        "startTime": {
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "preCheckMajorVersionUpgradeContext": {
          "description": "The context for pre-check major version upgrade operation, if applicable. This field is only populated when the operation_type is PRE_CHECK_MAJOR_VERSION_UPGRADE. The PreCheckMajorVersionUpgradeContext message itself contains the details for that pre-check, such as the target database version for the upgrade and the results of the check (including any warnings or errors found).",
          "$ref": "PreCheckMajorVersionUpgradeContext"
        },
        "operationType": {
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "type": "string",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance. If a user with the specified username doesn't exist, a new user is created.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version.",
            "Switches the roles of the primary and replica pair. The target instance should be the replica.",
            "Update a backup.",
            "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Reconfigures old primary after a promote replica operation. Effect of a promote operation to the old primary is executed in this operation, asynchronously from the promote replica operation executed to the replica.",
            "Indicates that the instance, its read replicas, and its cascading replicas are in maintenance. Maintenance typically gets initiated on groups of replicas first, followed by the primary instance. For each instance, maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Indicates that the instance (and any of its replicas) are currently in maintenance. This is initiated as a self-service request by using SSM. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Switches a primary instance to a replica. This operation runs as part of a switchover operation to the original primary instance.",
            "Updates the major version of a Cloud SQL instance.",
            "Deprecated: ADVANCED_BACKUP is deprecated. Use ENHANCED_BACKUP instead.",
            "Changes the BackupTier of a Cloud SQL instance.",
            "Creates a backup for an Enhanced BackupTier Cloud SQL instance.",
            "Repairs entire read pool or specified read pool nodes in the read pool.",
            "Creates a Cloud SQL read pool instance.",
            "Pre-checks for major version upgrade.",
            "Creates a new Blue-Green deployment.",
            "Switches over a Blue-Green deployment.",
            "Deletes a Blue-Green deployment.",
            "This operation type represents individual steps in a multi-step setup migration workflow: including configuration, replication, switchover/back, and data reseeding, as defined by operation's intent.",
            "Sends a message to a Cloud SQL agent."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT",
            "SWITCHOVER",
            "UPDATE_BACKUP",
            "ACQUIRE_SSRS_LEASE",
            "RELEASE_SSRS_LEASE",
            "RECONFIGURE_OLD_PRIMARY",
            "CLUSTER_MAINTENANCE",
            "SELF_SERVICE_MAINTENANCE",
            "SWITCHOVER_TO_REPLICA",
            "MAJOR_VERSION_UPGRADE",
            "ADVANCED_BACKUP",
            "MANAGE_BACKUP",
            "ENHANCED_BACKUP",
            "REPAIR_READ_POOL",
            "CREATE_READ_POOL",
            "PRE_CHECK_MAJOR_VERSION_UPGRADE",
            "CREATE_BLUE_GREEN_DEPLOYMENT",
            "SWITCHOVER_BLUE_GREEN_DEPLOYMENT",
            "DELETE_BLUE_GREEN_DEPLOYMENT",
            "SETUP_MIGRATION",
            "AGENT_SEND_MESSAGE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "targetLink": {
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operation`."
        },
        "insertTime": {
          "type": "string",
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "targetProject": {
          "type": "string",
          "description": "The project ID of the target instance related to this operation."
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be populated."
        },
        "targetId": {
          "type": "string",
          "description": "Name of the resource on which this operation runs."
        },
        "acquireSsrsLeaseContext": {
          "description": "The context for acquire SSRS lease operation, if applicable.",
          "$ref": "AcquireSsrsLeaseContext"
        }
      },
      "type": "object"
    },
    "DnsNameMapping": {
      "description": "DNS metadata.",
      "id": "DnsNameMapping",
      "type": "object",
      "properties": {
        "dnsScope": {
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER"
          ],
          "enumDescriptions": [
            "DNS scope not set. This value should not be used.",
            "Indicates an instance-level DNS name.",
            "Indicates a cluster-level DNS name."
          ],
          "readOnly": true,
          "description": "Output only. The scope that the DNS name applies to.",
          "type": "string"
        },
        "recordManager": {
          "readOnly": true,
          "enumDescriptions": [
            "Record manager not set. This value should not be used.",
            "The record may be managed by the customer. It is not automatically managed by Cloud SQL automation.",
            "The record is managed by Cloud SQL, which will create, update, and delete the DNS records for the zone automatically when the Cloud SQL database instance is created or updated."
          ],
          "description": "Output only. The manager for this DNS record.",
          "enum": [
            "RECORD_MANAGER_UNSPECIFIED",
            "CUSTOMER",
            "CLOUD_SQL_AUTOMATION"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The DNS name."
        },
        "connectionType": {
          "readOnly": true,
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRIVATE_SERVICES_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "enumDescriptions": [
            "Unknown connection type.",
            "Public IP.",
            "Private services access (private IP).",
            "Private Service Connect."
          ],
          "description": "Output only. The connection type of the DNS name.",
          "type": "string"
        }
      }
    },
    "ReadPoolAutoScaleConfig": {
      "id": "ReadPoolAutoScaleConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Indicates whether read pool auto scaling is enabled.",
          "type": "boolean"
        },
        "scaleInCooldownSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The cooldown period for scale in operations."
        },
        "disableScaleIn": {
          "type": "boolean",
          "description": "Indicates whether read pool auto scaling supports scale in operations (removing nodes)."
        },
        "maxNodeCount": {
          "format": "int32",
          "description": "Maximum number of read pool nodes to be maintained.",
          "type": "integer"
        },
        "targetMetrics": {
          "description": "Optional. Target metrics for read pool auto scaling.",
          "type": "array",
          "items": {
            "$ref": "TargetMetric"
          }
        },
        "scaleOutCooldownSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The cooldown period for scale out operations."
        },
        "minNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of read pool nodes to be maintained."
        }
      },
      "description": "The read pool auto-scale configuration."
    },
    "AclEntry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The allowlisted value for the access control list."
        },
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        }
      },
      "description": "An entry for an Access Control list.",
      "id": "AclEntry"
    },
    "InstancesRestoreBackupRequest": {
      "type": "object",
      "description": "Database instance restore backup request.",
      "id": "InstancesRestoreBackupRequest",
      "properties": {
        "restoreInstanceClearOverridesFieldNames": {
          "description": "Optional. This field has the same purpose as restore_instance_settings, changes any instance settings stored in the backup you are restoring from. With the difference that these fields are cleared in the settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backupdrBackup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: \"projects/{project-id}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}/backups/{backup-uid}\". Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "restoreBackupContext": {
          "$ref": "RestoreBackupContext",
          "description": "Parameters required to perform the restore backup operation."
        },
        "backup": {
          "type": "string",
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: projects/{project-id}/backups/{backup-uid}. Only one of restore_backup_context, backup, backupdr_backup can be passed to the input."
        },
        "ignoreMaintenanceVersion": {
          "type": "boolean",
          "description": "Optional. If true, the restore operation proceeds even if the target instance's maintenance version is older than the source instance's maintenance version."
        },
        "restoreInstanceSettings": {
          "description": "Optional. By using this parameter, Cloud SQL overrides any instance settings stored in the backup you are restoring from. You can't change the instance's major database version and you can only increase the disk size. You can use this field to restore new instances only. This field is not applicable for restore to existing instances.",
          "$ref": "DatabaseInstance"
        }
      }
    },
    "ConfigDiff": {
      "description": "Represents a specific configuration difference between Blue and Green instances.",
      "type": "object",
      "properties": {
        "sourceValue": {
          "type": "string",
          "description": "Output only. The value on the source instance.",
          "readOnly": true
        },
        "targetValue": {
          "type": "string",
          "description": "Output only. The value on the target instance.",
          "readOnly": true
        },
        "field": {
          "description": "Output only. The name of the field that differs, fully-qualified. Example: settings.tier",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ConfigDiff"
    },
    "SqlScheduledMaintenance": {
      "properties": {
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "type": "string"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of any upcoming scheduled maintenance for this instance."
        }
      },
      "type": "object",
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenance for this instance."
    },
    "InstancesExportRequest": {
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "type": "object",
      "id": "InstancesExportRequest",
      "description": "Database instance export request."
    },
    "RotateServerCertificateContext": {
      "description": "Instance rotate server certificate context.",
      "type": "object",
      "properties": {
        "nextVersion": {
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version.",
          "type": "string"
        },
        "kind": {
          "description": "Optional. This is always `sql#rotateServerCertificateContext`.",
          "type": "string"
        }
      },
      "id": "RotateServerCertificateContext"
    },
    "AcquireSsrsLeaseContext": {
      "id": "AcquireSsrsLeaseContext",
      "description": "Acquire SSRS lease context.",
      "properties": {
        "setupLogin": {
          "type": "string",
          "description": "The username to be used as the setup login to connect to the database server for SSRS setup."
        },
        "serviceLogin": {
          "description": "The username to be used as the service login to connect to the report database for SSRS setup.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "Lease duration needed for the SSRS setup.",
          "format": "google-duration"
        },
        "reportDatabase": {
          "description": "The report database to be used for the SSRS setup.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TargetConfig": {
      "properties": {
        "databaseVersion": {
          "description": "Optional. The target database major version for the upgrade.",
          "type": "string"
        }
      },
      "description": "Deprecated: Use RequestedConfig instead. Configuration specified by the user at creation time for the target (Green) instance.",
      "deprecated": true,
      "type": "object",
      "id": "TargetConfig"
    },
    "MaintenanceWindow": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        },
        "hour": {
          "format": "int32",
          "description": "Hour of day - 0 to 23. Specify in the UTC time zone.",
          "type": "integer"
        },
        "updateTrack": {
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable",
            "week5"
          ],
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 7 to 14 days after the notification is sent out. Also referred to as `Week 1` (Console) and `preview` (gcloud CLI).",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 15 to 21 days after the notification is sent out. Also referred to as `Week 2` (Console) and `production` (gcloud CLI).",
            "For instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 35 to 42 days after the notification is sent out."
          ],
          "type": "string",
          "description": "Maintenance timing settings: `canary`, `stable`, or `week5`. For more information, see [About maintenance on Cloud SQL instances](https://cloud.google.com/sql/docs/mysql/maintenance)."
        },
        "day": {
          "type": "integer",
          "description": "Day of week - `MONDAY`, `TUESDAY`, `WEDNESDAY`, `THURSDAY`, `FRIDAY`, `SATURDAY`, or `SUNDAY`. Specify in the UTC time zone. Returned in output as an integer, 1 to 7, where `1` equals Monday.",
          "format": "int32"
        }
      },
      "id": "MaintenanceWindow",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes."
    },
    "TargetMetric": {
      "description": "Target metric for read pool auto scaling.",
      "id": "TargetMetric",
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "description": "The metric name to be used for auto scaling."
        },
        "targetValue": {
          "type": "number",
          "format": "float",
          "description": "The target value for the metric."
        }
      }
    },
    "PreCheckMajorVersionUpgradeContext": {
      "properties": {
        "preCheckResponse": {
          "readOnly": true,
          "description": "Output only. The responses from the precheck operation.",
          "items": {
            "$ref": "PreCheckResponse"
          },
          "type": "array"
        },
        "targetDatabaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The target database version to upgrade to.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "type": "string"
        },
        "kind": {
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Pre-check major version upgrade context.",
      "id": "PreCheckMajorVersionUpgradeContext"
    },
    "FailoverContext": {
      "properties": {
        "settingsVersion": {
          "format": "int64",
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#failoverContext`.",
          "type": "string"
        }
      },
      "id": "FailoverContext",
      "type": "object",
      "description": "Database instance failover context."
    },
    "IpConfiguration": {
      "id": "IpConfiguration",
      "properties": {
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        },
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`).",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "requireSsl": {
          "description": "Use `ssl_mode` instead. Whether SSL/TLS connections over IP are enforced. If set to false, then allow both non-SSL/non-TLS and SSL/TLS connections. For SSL/TLS connections, the client certificate won't be verified. If set to true, then only allow connections encrypted with SSL/TLS and with valid client certificates. If you want to enforce SSL/TLS without enforcing the requirement for valid client certificates, then use the `ssl_mode` flag instead of the legacy `require_ssl` flag.",
          "type": "boolean"
        },
        "pscConfig": {
          "description": "PSC settings for this instance.",
          "$ref": "PscConfig"
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
        },
        "serverCertificateRotationMode": {
          "enumDescriptions": [
            "Unspecified: no automatic server certificate rotation.",
            "No automatic server certificate rotation. The user must [manage server certificate rotation](/sql/docs/mysql/manage-ssl-instance#rotate-server-certificate-cas) on their side.",
            "Automatic server certificate rotation during Cloud SQL scheduled maintenance or self-service maintenance updates. Requires `server_ca_mode` to be `GOOGLE_MANAGED_CAS_CA` or `CUSTOMER_MANAGED_CAS_CA`."
          ],
          "enum": [
            "SERVER_CERTIFICATE_ROTATION_MODE_UNSPECIFIED",
            "NO_AUTOMATIC_ROTATION",
            "AUTOMATIC_ROTATION_DURING_MAINTENANCE"
          ],
          "type": "string",
          "description": "Optional. Controls the automatic server certificate rotation feature. This feature is disabled by default. When enabled, the server certificate will be automatically rotated during Cloud SQL scheduled maintenance or self-service maintenance updates up to six months before it expires. This setting can only be set if server_ca_mode is either GOOGLE_MANAGED_CAS_CA or CUSTOMER_MANAGED_CAS_CA."
        },
        "enablePrivatePathForGoogleCloudServices": {
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery.",
          "type": "boolean"
        },
        "customSubjectAlternativeNames": {
          "type": "array",
          "description": "Optional. Custom Subject Alternative Name(SAN)s for a Cloud SQL instance.",
          "items": {
            "type": "string"
          }
        },
        "serverCaMode": {
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ],
          "description": "Specify what type of CA is used for the server certificate.",
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ],
          "type": "string"
        },
        "sslMode": {
          "description": "Specify how SSL/TLS is enforced in database connections. If you must use the `require_ssl` flag for backward compatibility, then only the following value pairs are valid: For PostgreSQL and MySQL: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false` * `ssl_mode=TRUSTED_CLIENT_CERTIFICATE_REQUIRED` and `require_ssl=true` For SQL Server: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=true` The value of `ssl_mode` has priority over the value of `require_ssl`. For example, for the pair `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false`, `ssl_mode=ENCRYPTED_ONLY` means accept only SSL connections, while `require_ssl=false` means accept both non-SSL and SSL connections. In this case, MySQL and PostgreSQL databases respect `ssl_mode` and accepts only SSL connections.",
          "type": "string",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY",
            "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
          ],
          "enumDescriptions": [
            "The SSL mode is unknown.",
            "Allow non-SSL/non-TLS and SSL/TLS connections. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS and with valid client certificates. When this value is used, the legacy `require_ssl` flag must be true or cleared to avoid the conflict between values of two flags. PostgreSQL clients or users that connect using IAM database authentication must use either the [Cloud SQL Auth Proxy](https://cloud.google.com/sql/docs/postgres/connect-auth-proxy) or [Cloud SQL Connectors](https://cloud.google.com/sql/docs/postgres/connect-connectors) to enforce client identity verification. Only applicable to MySQL and PostgreSQL. Not applicable to SQL Server."
          ]
        },
        "serverCaPool": {
          "type": "string",
          "description": "Optional. The resource name of the server CA pool for an instance with `CUSTOMER_MANAGED_CAS_CA` as the `server_ca_mode`. Format: projects/{PROJECT}/locations/{REGION}/caPools/{CA_POOL_ID}"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`"
        }
      },
      "type": "object",
      "description": "IP Management configuration."
    },
    "Value": {
      "id": "Value",
      "description": "The cell value of the table.",
      "type": "object",
      "properties": {
        "nullValue": {
          "type": "boolean",
          "description": "If cell value is null, then this flag will be set to true."
        },
        "value": {
          "type": "string",
          "description": "The cell value represented in string format."
        }
      }
    },
    "ConnectionPoolFlags": {
      "description": "Connection pool flags for Cloud SQL instances managed connection pool configuration.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the flag.",
          "type": "string"
        }
      },
      "id": "ConnectionPoolFlags"
    },
    "PointInTimeRestoreContext": {
      "properties": {
        "region": {
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\".",
          "type": "string"
        },
        "targetInstance": {
          "type": "string",
          "description": "Target instance name."
        },
        "pointInTime": {
          "type": "string",
          "description": "Required. The date and time to which you want to restore the instance.",
          "format": "google-datetime"
        },
        "targetInstanceSettings": {
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs.",
          "$ref": "DatabaseInstance"
        },
        "privateNetwork": {
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`.",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "type": "string",
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field."
        },
        "preferredZone": {
          "type": "string",
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance."
        },
        "targetInstanceClearSettingsFieldNames": {
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "datasource": {
          "type": "string",
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}."
        }
      },
      "type": "object",
      "id": "PointInTimeRestoreContext",
      "description": "Context to perform a point-in-time restore of an instance managed by Backup and Disaster Recovery (DR) Service."
    },
    "PscConfig": {
      "description": "PSC settings for a Cloud SQL instance.",
      "properties": {
        "networkAttachmentUri": {
          "type": "string",
          "description": "Optional. The network attachment of the consumer network that the Private Service Connect enabled Cloud SQL instance is authorized to connect using the PSC interface. format: projects/PROJECT/regions/REGION/networkAttachments/ID"
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Whether PSC connectivity is enabled for this instance."
        },
        "pscAutoConnections": {
          "description": "Optional. The list of settings for requested Private Service Connect consumer endpoints that can be used to connect to this Cloud SQL instance.",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "type": "array"
        },
        "pscAutoDnsEnabled": {
          "description": "Optional. Indicates whether Private Service Connect DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal DNS record across all networks configured with Private Service Connect auto-connections. This will default to true for new instances when Private Service Connect is enabled.",
          "type": "boolean"
        },
        "allowedConsumerProjects": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of consumer projects that are allow-listed for PSC connections to this instance. This instance can be connected to with PSC from any network in these projects. Each consumer project in this list may be represented by a project number (numeric) or by a project id (alphanumeric)."
        },
        "pscAutoConnectionPolicyEnabled": {
          "description": "Optional. Whether to set up the PSC service connection policy automatically.",
          "type": "boolean"
        },
        "pscWriteEndpointDnsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Private Service Connect write endpoint DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal global DNS record across all networks configured with Private Service Connect auto-connections that points to the cluster primary instance. This feature is only supported for Enterprise Plus edition. This will default to true for new enterprise plus instances when `psc_auto_dns_enabled` is enabled."
        }
      },
      "type": "object",
      "id": "PscConfig"
    },
    "BlueGreenDeploymentInfo": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of blue-green-deployment for UI tags",
          "enumDescriptions": [
            "The state of the deployment is unknown.",
            "The deployment is pre-switchover.",
            "The deployment is post-switchover."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PRE_SWITCHOVER",
            "POST_SWITCHOVER"
          ],
          "readOnly": true
        },
        "source": {
          "description": "Output only. The source instance for the Blue-Green deployment.",
          "$ref": "SourceRole",
          "readOnly": true
        },
        "deploymentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource ID of the blue-green deployment."
        },
        "target": {
          "readOnly": true,
          "$ref": "TargetRole",
          "description": "Output only. The target instance for the Blue-Green deployment."
        }
      },
      "description": "Blue-green deployment metadata for a database instance. In a blue-green deployment, we maintain two environments, one of which is live. This message contains details about the blue-green deployment.",
      "id": "BlueGreenDeploymentInfo",
      "type": "object"
    },
    "OperationError": {
      "id": "OperationError",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationError`."
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Database instance operation error."
    },
    "SqlInstancesResetReplicaSizeRequest": {
      "properties": {
        "location": {
          "description": "Optional. Region of the Cloud SQL instance.",
          "type": "string"
        }
      },
      "id": "SqlInstancesResetReplicaSizeRequest",
      "type": "object",
      "description": "Instance reset replica size request."
    },
    "BackupRun": {
      "properties": {
        "enqueuedTime": {
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "status": {
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "type": "string",
          "description": "The status of this run."
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "type": {
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ]
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "databaseVersion": {
          "readOnly": true,
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
[...]
