{
  "version": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "Cloud SQL Admin API",
  "canonicalName": "SQL Admin",
  "batchPath": "batch",
  "id": "sqladmin:v1",
  "ownerName": "Google",
  "title": "Cloud SQL Admin API",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "name": "sqladmin",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "schemas": {
    "PoolNodeConfig": {
      "properties": {
        "name": {
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs.",
          "readOnly": true,
          "type": "string"
        },
        "dnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name of the read pool node."
        },
        "dnsNames": {
          "description": "Output only. The list of DNS names used by this read pool node.",
          "readOnly": true,
          "items": {
            "$ref": "DnsNameMapping"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "description": "Output only. The current state of the read pool node.",
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "type": "string",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ]
        },
        "ipAddresses": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IpMapping"
          },
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node."
        },
        "pscAutoConnections": {
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node.",
          "readOnly": true
        },
        "pscServiceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node.",
          "type": "string"
        },
        "gceZone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The zone of the read pool node."
        }
      },
      "description": "Details of a single read pool node of a read pool.",
      "id": "PoolNodeConfig",
      "type": "object"
    },
    "RotateServerCertificateContext": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#rotateServerCertificateContext`."
        },
        "nextVersion": {
          "type": "string",
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version."
        }
      },
      "id": "RotateServerCertificateContext",
      "description": "Instance rotate server certificate context."
    },
    "OperationErrors": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "OperationError"
          },
          "description": "The list of errors encountered while processing this operation.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationErrors`."
        }
      },
      "type": "object",
      "id": "OperationErrors",
      "description": "Database instance operation errors list wrapper."
    },
    "PerformDiskShrinkContext": {
      "type": "object",
      "description": "Perform disk shrink context.",
      "properties": {
        "targetSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The target disk shrink size in GigaBytes."
        }
      },
      "id": "PerformDiskShrinkContext"
    },
    "BlueGreenDeployment": {
      "id": "BlueGreenDeployment",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted or unknown.",
            "The deployment is being provisioned.",
            "The deployment is ready for switchover.",
            "The deployment is not ready for switchover.",
            "The deployment is in the process of switching over.",
            "The deployment has completed switchover.",
            "The deployment is being deleted."
          ],
          "description": "Output only. The current state of the blue-green deployment.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "SWITCHOVER_READY",
            "SWITCHOVER_NOT_READY",
            "SWITCHOVER_IN_PROGRESS",
            "SWITCHOVER_COMPLETED",
            "DELETING"
          ]
        },
        "errorDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides details on why switchover is not possible. This field is empty unless a switchover attempt failed or the state is `SWITCHOVER_NOT_READY`. Example: \"The target database version does not match the source instance database version.\""
        },
        "switchoverTargetInstance": {
          "type": "string",
          "description": "Output only. The full resource name of the primary target instance (the \"green\" instance) that will be promoted during switchover. This field is always populated once the deployment is created. Format: projects/{project}/instances/{instance}",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the deployment was created. Example: `2024-01-01T00:00:00Z`",
          "format": "google-datetime",
          "readOnly": true
        },
        "deploymentTasks": {
          "$ref": "DeploymentTasks",
          "description": "Output only. Combined list of tasks for all paired nodes.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The full resource name of the deployment. Format: projects/{project}/locations/{location}/blueGreenDeployments/{deployment_id}",
          "readOnly": true,
          "type": "string"
        },
        "requestedConfig": {
          "$ref": "RequestedConfig",
          "description": "Optional. Immutable. Optional on create, and immutable. The configuration intended for the target instance(s) when the deployment was created."
        },
        "deploymentMappings": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list representing the pairs of source and target instances in the deployment.",
          "items": {
            "$ref": "SourceTargetPairedNode"
          }
        },
        "description": {
          "description": "Optional. User-provided description for the deployment. The description can be up to 255 characters long.",
          "type": "string"
        },
        "sourceInstance": {
          "type": "string",
          "description": "Required. Immutable. Required on create, and immutable. The full resource name of the source instance (the \"blue\" instance). Format: projects/{project}/instances/{instance}"
        }
      },
      "description": "A `BlueGreenDeployment` resource represents a Cloud SQL blue-green deployment setup."
    },
    "SourceRole": {
      "description": "The source instance for the Blue-Green deployment.",
      "id": "SourceRole",
      "properties": {
        "targetId": {
          "description": "Output only. The target instance paired with this source instance in a blue-green deployment.",
          "$ref": "InstanceReference",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AdvancedMachineFeatures": {
      "properties": {
        "threadsPerCore": {
          "description": "The number of threads per physical core.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Specifies options for controlling advanced machine features.",
      "id": "AdvancedMachineFeatures"
    },
    "SqlScheduledMaintenance": {
      "properties": {
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "canDefer": {
          "deprecated": true,
          "type": "boolean"
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline."
        }
      },
      "description": "Any scheduled maintenance for this instance.",
      "id": "SqlScheduledMaintenance",
      "type": "object"
    },
    "InstancesCloneRequest": {
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Required. Contains details about the clone operation."
        }
      },
      "id": "InstancesCloneRequest",
      "type": "object",
      "description": "Database instance clone request."
    },
    "BackupRun": {
      "description": "A BackupRun resource.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "backupKind": {
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "type": "string",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ]
        },
        "databaseVersion": {
          "description": "Output only. The instance database version at the time this backup was made.",
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
          "$ref": "OperationError"
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ]
        },
        "status": {
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "description": "The status of this run.",
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ]
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "type": "string"
        }
      },
      "id": "BackupRun"
    },
    "AclEntry": {
      "description": "An entry for an Access Control list.",
      "id": "AclEntry",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "value": {
          "type": "string",
          "description": "The allowlisted value for the access control list."
        },
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConnectionPoolFlags": {
      "description": "Connection pool flags for Cloud SQL instances managed connection pool configuration.",
      "id": "ConnectionPoolFlags",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the flag."
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value."
        }
      },
      "type": "object"
    },
    "RotateEntraIdCertificateContext": {
      "description": "Instance rotate Entra ID certificate context.",
      "id": "RotateEntraIdCertificateContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#rotateEntraIdCertificateContext`."
        },
        "nextVersion": {
          "type": "string",
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version."
        }
      },
      "type": "object"
    },
    "SslCert": {
      "properties": {
        "expirationTime": {
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`",
          "type": "string",
          "format": "google-datetime"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCert`."
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "commonName": {
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        }
      },
      "id": "SslCert",
      "description": "SslCerts Resource",
      "type": "object"
    },
    "InstancesAcquireSsrsLeaseRequest": {
      "type": "object",
      "id": "InstancesAcquireSsrsLeaseRequest",
      "properties": {
        "acquireSsrsLeaseContext": {
          "description": "Contains details about the acquire SSRS lease operation.",
          "$ref": "AcquireSsrsLeaseContext"
        }
      },
      "description": "Request to acquire a lease for SSRS."
    },
    "InstancesExportRequest": {
      "type": "object",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "id": "InstancesExportRequest",
      "description": "Database instance export request."
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "properties": {
        "destinationNetwork": {
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via private services access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning.",
          "type": "string"
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Required. Name of the Cloud SQL instance to be created as a clone."
        },
        "pointInTime": {
          "format": "google-datetime",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "type": "string"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "databaseNames": {
          "items": {
            "type": "string"
          },
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "type": "array"
        },
        "preferredSecondaryZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field. This field applies to all DB types.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#cloneContext`.",
          "type": "string"
        },
        "destinationProject": {
          "type": "string",
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance."
        },
        "sourceInstanceDeletionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp."
        },
        "pitrTimestampMs": {
          "type": "string",
          "format": "int64",
          "description": "Reserved for future use."
        },
        "preferredZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance. This field applies to all DB types."
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        }
      },
      "type": "object",
      "id": "CloneContext"
    },
    "ApiWarning": {
      "description": "An Admin API warning message.",
      "id": "ApiWarning",
      "type": "object",
      "properties": {
        "code": {
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete.",
            "Warning when user provided maxResults parameter exceeds the limit. The returned result set may be incomplete.",
            "Warning when user tries to create/update a user with credentials that have previously been compromised by a public data breach.",
            "Warning when the operation succeeds but some non-critical workflow state failed."
          ],
          "description": "Code to uniquely identify the warning type.",
          "type": "string",
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE",
            "MAX_RESULTS_EXCEEDS_LIMIT",
            "COMPROMISED_CREDENTIALS",
            "INTERNAL_STATE_FAILURE"
          ]
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "region": {
          "description": "The region name for REGION_UNREACHABLE warning.",
          "type": "string"
        }
      }
    },
    "TruncateLogContext": {
      "description": "Database Instance truncate log context.",
      "properties": {
        "kind": {
          "description": "This is always `sql#truncateLogContext`.",
          "type": "string"
        },
        "logType": {
          "type": "string",
          "description": "The type of log to truncate. Valid values are `MYSQL_GENERAL_TABLE` and `MYSQL_SLOW_TABLE`."
        }
      },
      "id": "TruncateLogContext",
      "type": "object"
    },
    "Settings": {
      "description": "Database instance settings.",
      "type": "object",
      "properties": {
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "connectionPoolConfig": {
          "description": "Optional. The managed connection pooling configuration for the instance.",
          "$ref": "ConnectionPoolConfig"
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny maintenance periods",
          "type": "array"
        },
        "retainBackupsOnDelete": {
          "type": "boolean",
          "description": "Optional. When this parameter is set to true, Cloud SQL retains backups of the instance even after the instance is deleted. The ON_DEMAND backup will be retained until customer deletes the backup or the project. The AUTOMATED backup will be retained based on the backups retention setting."
        },
        "availabilityType": {
          "type": "string",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ]
        },
        "finalBackupConfig": {
          "$ref": "FinalBackupConfig",
          "description": "Optional. The final backup configuration for the instance."
        },
        "activationPolicy": {
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ]
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance for PostgreSQL and MySQL."
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "enableGoogleMlIntegration": {
          "type": "boolean",
          "description": "Optional. When this parameter is set to true, Cloud SQL instances can connect to Vertex AI to pass requests for real-time predictions and insights to the AI. The default value is false. This applies only to Cloud SQL for MySQL and Cloud SQL for PostgreSQL instances."
        },
        "readPoolAutoScaleConfig": {
          "description": "Optional. The read pool auto-scale configuration for the instance.",
          "$ref": "ReadPoolAutoScaleConfig"
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "type": "string",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "type": "object"
        },
        "storageAutoResizeLimit": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
        },
        "dataDiskType": {
          "type": "string",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD",
            "HYPERDISK_BALANCED"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API.",
            "A Hyperdisk Balanced data disk."
          ],
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances."
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "timeZone": {
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server.",
          "type": "string"
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance."
        },
        "authorizedGaeApplications": {
          "type": "array",
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "edition": {
          "description": "Optional. The edition type of the Cloud SQL instance.",
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an Enterprise Plus edition.",
            "This instance is a Cloud SQL developer edition instance."
          ],
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS",
            "DEVELOPER"
          ]
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "deprecated": true,
          "type": "boolean"
        },
        "performanceCaptureConfig": {
          "$ref": "PerformanceCaptureConfig",
          "description": "Optional. Configuration for Performance Capture, provides diagnostic metrics during high load situations."
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "connectorEnforcement": {
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ],
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors). Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "type": "string",
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ]
        },
        "replicationLagMaxSeconds": {
          "description": "Optional. Configuration value for recreation of replica after certain replication lag",
          "format": "int32",
          "type": "integer"
        },
        "dataCacheConfig": {
          "description": "Configuration for data cache.",
          "$ref": "DataCacheConfig"
        },
        "acceleratedReplicaMode": {
          "description": "Optional. Whether the replica is in accelerated mode. This feature is in private preview and requires allowlisting to take effect.",
          "type": "boolean"
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance."
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "dataDiskSizeGb": {
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "type": "string",
          "format": "int64"
        },
        "dataDiskProvisionedIops": {
          "type": "string",
          "description": "Optional. Provisioned number of I/O operations per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "format": "int64"
        },
        "replicationType": {
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances."
        },
        "dataDiskProvisionedThroughput": {
          "format": "int64",
          "description": "Optional. Provisioned throughput measured in MiB per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "type": "string"
        },
        "enableDataplexIntegration": {
          "type": "boolean",
          "description": "Optional. By default, Cloud SQL instances have schema extraction disabled for Dataplex. When this parameter is set to true, schema extraction for Dataplex on Cloud SQL instances is activated."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "entraidConfig": {
          "$ref": "SqlServerEntraIdConfig",
          "description": "Optional. The Microsoft Entra ID configuration for the SQL Server instance."
        },
        "autoUpgradeEnabled": {
          "type": "boolean",
          "description": "Optional. Cloud SQL for MySQL auto-upgrade configuration. When this parameter is set to true, auto-upgrade is enabled for MySQL 8.0 minor versions. The MySQL version must be 8.0.35 or higher."
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Configuration to protect against accidental instance deletion."
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Specifies advanced machine configuration for the instances relevant only for SQL Server."
        },
        "insightsConfig": {
          "$ref": "InsightsConfig",
          "description": "Insights configuration, for now relevant only for Postgres."
        },
        "settingsVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value."
        },
        "dataApiAccess": {
          "enumDescriptions": [
            "Unspecified, effectively the same as `DISALLOW_DATA_API`.",
            "Disallow using ExecuteSql API to connect to the instance.",
            "Allow using ExecuteSql API to connect to the instance. For private IP instances, this allows authorized users to access the instance from the public internet using ExecuteSql API."
          ],
          "type": "string",
          "enum": [
            "DATA_API_ACCESS_UNSPECIFIED",
            "DISALLOW_DATA_API",
            "ALLOW_DATA_API"
          ],
          "description": "This parameter controls whether to allow using ExecuteSql API to connect to the instance. Not allowed by default."
        }
      },
      "id": "Settings"
    },
    "SyncFlags": {
      "properties": {
        "value": {
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "description": "The name of the flag.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SyncFlags",
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump."
    },
    "SqlInstancesGetDiskShrinkConfigResponse": {
      "id": "SqlInstancesGetDiskShrinkConfigResponse",
      "properties": {
        "minimalTargetSizeGb": {
          "type": "string",
          "description": "The minimum size to which a disk can be shrunk in GigaBytes.",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `sql#getDiskShrinkConfig`.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Additional message to customers."
        }
      },
      "description": "Instance get disk shrink config response.",
      "type": "object"
    },
    "DeploymentTask": {
      "properties": {
        "errorMessage": {
          "description": "Output only. Optional error details if the task state is `FAILED`.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PROVISION",
            "UPGRADE",
            "SWITCHOVER",
            "DELETE",
            "POST_SWITCHOVER_OPERATIONS"
          ],
          "description": "Output only. The type of the task.",
          "enumDescriptions": [
            "The default value. This value is used if the type is omitted.",
            "Provisions the green environment, which includes creating the target instance.",
            "Upgrades the green environment, for example, performing a major version upgrade on the target instance.",
            "Promotes the target instance and then demotes the source instance for this pair.",
            "Deletes the blue-green deployment, including underlying resources.",
            "Post-switchover operations, including cleaning up resources of the old instance, taking final backups, and updating metadata."
          ],
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Task end time (if completed).",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the task is unknown.",
            "The task is pending.",
            "The task is running.",
            "The task has succeeded.",
            "The task has failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the task."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Task start time.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DeploymentTask",
      "description": "Represents a task executed as part of the deployment on a target instance."
    },
    "BackupRunsListResponse": {
      "description": "Backup run list results.",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#backupRunsList`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "BackupRun"
          },
          "description": "A list of backup runs in reverse chronological order of the enqueued time."
        }
      },
      "type": "object",
      "id": "BackupRunsListResponse"
    },
    "BackupReencryptionConfig": {
      "properties": {
        "backupType": {
          "type": "string",
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "Unknown backup type, will be defaulted to AUTOMATIC backup type",
            "Reencrypt automatic backups",
            "Reencrypt on-demand backups"
          ],
          "description": "Type of backups users want to re-encrypt."
        },
        "backupLimit": {
          "description": "Backup re-encryption limit",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BackupReencryptionConfig",
      "description": "Backup Reencryption Config",
      "type": "object"
    },
    "ListBlueGreenDeploymentsResponse": {
      "properties": {
        "blueGreenDeployments": {
          "items": {
            "$ref": "BlueGreenDeployment"
          },
          "type": "array",
          "description": "The list of blue-green deployment resources."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListBlueGreenDeploymentsResponse",
      "type": "object",
      "description": "The response message for listing blue-green deployment resources."
    },
    "InstanceReference": {
      "description": "Reference to another Cloud SQL instance.",
      "id": "InstanceReference",
      "properties": {
        "region": {
          "description": "The region of the Cloud SQL instance being referenced.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it."
        },
        "name": {
          "type": "string",
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID."
        }
      },
      "type": "object"
    },
    "SqlServerUserDetails": {
      "type": "object",
      "properties": {
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "description": "Indicates the server roles for this user.",
          "type": "array"
        },
        "disabled": {
          "type": "boolean",
          "description": "Indicates if the user has been disabled."
        }
      },
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "id": "SqlServerUserDetails"
    },
    "InstancesRotateEntraIdCertificateRequest": {
      "description": "Rotate Entra ID certificate request.",
      "id": "InstancesRotateEntraIdCertificateRequest",
      "properties": {
        "rotateEntraIdCertificateContext": {
          "description": "Optional. Contains details about the rotate server certificate operation.",
          "$ref": "RotateEntraIdCertificateContext"
        }
      },
      "type": "object"
    },
    "AvailableDatabaseVersion": {
      "description": "An available database version. It can be a major or a minor version.",
      "properties": {
        "majorVersion": {
          "description": "The version's major version name.",
          "type": "string"
        },
        "name": {
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The database version's display name."
        }
      },
      "id": "AvailableDatabaseVersion",
      "type": "object"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "type": "object",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`."
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        }
      }
    },
    "DeploymentTasks": {
      "properties": {
        "task": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DeploymentTask"
          },
          "description": "Output only. Tasks performed or being performed on the paired nodes of the deployment at a consolidated level."
        }
      },
      "type": "object",
      "id": "DeploymentTasks",
      "description": "Combined list of tasks for all paired nodes in the deployment."
    },
    "ExportContext": {
      "description": "Database instance export context.",
      "id": "ExportContext",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#exportContext`."
        },
        "bakExportOptions": {
          "description": "Options for exporting BAK files (SQL Server-only)",
          "type": "object",
          "properties": {
            "exportLogStartTime": {
              "description": "Optional. The begin timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs from the beginning of retention period will be included. Only applied to Cloud SQL for SQL Server.",
              "type": "string",
              "format": "google-datetime"
            },
            "stripeCount": {
              "description": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen.",
              "type": "integer",
              "format": "int32"
            },
            "copyOnly": {
              "description": "Deprecated: copy_only is deprecated. Use differential_base instead",
              "type": "boolean",
              "deprecated": true
            },
            "exportLogEndTime": {
              "format": "google-datetime",
              "description": "Optional. The end timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs until current time will be included. Only applied to Cloud SQL for SQL Server.",
              "type": "string"
            },
            "differentialBase": {
              "type": "boolean",
              "description": "Whether or not the backup can be used as a differential base copy_only backup can not be served as differential base"
            },
            "striped": {
              "type": "boolean",
              "description": "Whether or not the export should be striped."
            },
            "bakType": {
              "type": "string",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "description": "Type of this bak file will be export, FULL or DIFF, SQL Server only"
            }
          }
        },
        "sqlExportOptions": {
          "properties": {
            "tables": {
              "items": {
                "type": "string"
              },
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table.",
              "type": "array"
            },
            "threads": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of threads to use for parallel export."
            },
            "postgresExportOptions": {
              "type": "object",
              "properties": {
                "clean": {
                  "type": "boolean",
                  "description": "Optional. Use this option to include DROP <object> SQL statements. Use these statements to delete database objects before running the import operation."
                },
                "ifExists": {
                  "description": "Optional. Option to include an IF EXISTS SQL statement with each DROP statement produced by clean.",
                  "type": "boolean"
                }
              },
              "description": "Options for exporting from a Cloud SQL for PostgreSQL instance."
            },
            "parallel": {
              "type": "boolean",
              "description": "Optional. Whether or not the export should be parallel."
            },
            "mysqlExportOptions": {
              "type": "object",
              "description": "Options for exporting from MySQL.",
              "properties": {
                "masterData": {
                  "type": "integer",
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF.",
                  "format": "int32"
                }
              }
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            }
          },
          "type": "object",
          "description": "Options for exporting data as SQL statements."
        },
        "databases": {
          "items": {
            "type": "string"
          },
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` If you don't specify a database by name, all user databases in the instance are exported. This excludes system databases and Cloud SQL databases used to manage internal operations. Exporting all user databases is only available for directory-formatted parallel export. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`.",
          "type": "array"
        },
        "tdeExportOptions": {
          "properties": {
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have write access to the bucket. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Required. Certificate name. Applicable only for SQL Server instances."
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have write access to the location. Applicable only for SQL Server instances.",
              "type": "string"
            }
          },
          "description": "Optional. Export parameters specific to SQL Server TDE certificates",
          "type": "object"
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed.",
          "type": "string"
        },
        "offload": {
          "type": "boolean",
          "description": "Whether to perform a serverless export."
        },
        "csvExportOptions": {
          "type": "object",
          "properties": {
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            }
          },
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only."
        },
        "fileType": {
          "description": "The file type for the specified uri.",
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ]
        }
      }
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified."
        },
        "csvImportOptions": {
          "properties": {
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "columns": {
              "type": "array",
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "items": {
                "type": "string"
              }
            },
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            }
          },
          "description": "Options for importing data as CSV.",
          "type": "object"
        },
        "fileType": {
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ],
          "description": "The file type for the specified uri.\\`SQL`: The file contains SQL statements. \\`CSV`: The file contains CSV data.",
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ]
        },
        "uri": {
          "type": "string",
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file."
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        },
        "sqlImportOptions": {
          "type": "object",
          "properties": {
            "parallel": {
              "type": "boolean",
              "description": "Optional. Whether or not the import should be parallel."
            },
            "threads": {
              "format": "int32",
              "description": "Optional. The number of threads to use for parallel import.",
              "type": "integer"
            },
            "postgresImportOptions": {
              "properties": {
                "clean": {
                  "type": "boolean",
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                },
                "ifExists": {
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel.",
                  "type": "boolean"
                }
              },
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance.",
              "type": "object"
            }
          },
          "description": "Optional. Options for importing data from SQL statements."
        },
        "tdeImportOptions": {
          "description": "Optional. Import parameters specific to SQL Server TDE certificates",
          "type": "object",
          "properties": {
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "name": {
              "description": "Required. Certificate name. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            }
          }
        },
        "bakImportOptions": {
          "description": "Import parameters specific to SQL Server .BAK files",
          "properties": {
            "stopAtMark": {
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string"
            },
            "recoveryOnly": {
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "noRecovery": {
              "type": "boolean",
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server."
            },
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "keepEncrypted": {
                  "type": "boolean",
                  "description": "Optional. Whether the imported file remains encrypted."
                },
                "pvkPath": {
                  "type": "string",
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                }
              }
            },
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "bakType": {
              "description": "Type of the bak content, FULL or DIFF",
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "type": "string",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ]
            },
            "stopAt": {
              "type": "string",
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only.",
              "format": "google-datetime"
            }
          },
          "type": "object"
        },
        "kind": {
          "description": "This is always `sql#importContext`.",
          "type": "string"
        }
      },
      "id": "ImportContext"
    },
    "TargetMetric": {
      "id": "TargetMetric",
      "properties": {
        "targetValue": {
          "description": "The target value for the metric.",
          "format": "float",
          "type": "number"
        },
        "metric": {
          "description": "The metric name to be used for auto scaling.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Target metric for read pool auto scaling."
    },
    "DemoteMasterConfiguration": {
      "id": "DemoteMasterConfiguration",
      "properties": {
        "kind": {
          "description": "This is always `sql#demoteMasterConfiguration`.",
          "type": "string"
        },
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory.",
          "$ref": "DemoteMasterMySqlReplicaConfiguration"
        }
      },
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "type": "object"
    },
    "SqlServerAuditConfig": {
      "description": "SQL Server specific audit configuration.",
      "id": "SqlServerAuditConfig",
      "properties": {
        "kind": {
          "description": "This is always sql#sqlServerAuditConfig",
          "type": "string"
        },
        "uploadInterval": {
          "type": "string",
          "description": "How often to upload generated audit files.",
          "format": "google-duration"
        },
        "bucket": {
          "description": "The name of the destination bucket (e.g., gs://mybucket).",
          "type": "string"
        },
        "retentionInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "How long to keep generated audit files."
        }
      },
      "type": "object"
    },
    "DatabasesListResponse": {
      "id": "DatabasesListResponse",
      "description": "Database list response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#databasesList`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Database"
          },
          "type": "array",
          "description": "List of database resources in the instance."
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "type": "object",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "properties": {
        "hour": {
          "format": "int32",
          "type": "integer",
          "description": "Hour of day - 0 to 23. Specify in the UTC time zone."
        },
        "updateTrack": {
          "type": "string",
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable",
            "week5"
          ],
          "description": "Maintenance timing settings: `canary`, `stable`, or `week5`. For more information, see [About maintenance on Cloud SQL instances](https://cloud.google.com/sql/docs/mysql/maintenance).",
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 7 to 14 days after the notification is sent out. Also referred to as `Week 1` (Console) and `preview` (gcloud CLI).",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 15 to 21 days after the notification is sent out. Also referred to as `Week 2` (Console) and `production` (gcloud CLI).",
            "For instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 35 to 42 days after the notification is sent out."
          ]
        },
        "day": {
          "description": "Day of week - `MONDAY`, `TUESDAY`, `WEDNESDAY`, `THURSDAY`, `FRIDAY`, `SATURDAY`, or `SUNDAY`. Specify in the UTC time zone. Returned in output as an integer, 1 to 7, where `1` equals Monday.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        }
      }
    },
    "BackupRetentionSettings": {
      "properties": {
        "retainedBackups": {
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "format": "int32",
          "type": "integer"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
          "description": "The unit that 'retained_backups' represents.",
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ]
        }
      },
      "id": "BackupRetentionSettings",
      "type": "object",
      "description": "We currently only support backup retention by specifying the number of backups we will retain."
    },
    "ExecuteSqlPayload": {
      "properties": {
        "passwordSecretVersion": {
          "description": "Optional. The resource name of the Secret Manager secret holding the password for the user to log into the database. The secret should be created using the regional endpoint (for API) or from the Regional Secrets page (for UI), and stored in the same region as the Cloud SQL instance. The expected resource name format is `projects/{project}/locations/{location}/secrets/{secret}/versions/{secret_version}`. Used together with the `user` field. The secret resource name will not be stored.",
          "type": "string"
        },
        "application": {
          "description": "Optional. Specifies the name of the application that is making the request. This field is used for telemetry. Only alphanumeric characters, dashes, and underscores are allowed. The maximum length is 32 characters.",
          "type": "string"
        },
        "partialResultMode": {
          "description": "Optional. Controls how the API should respond when the SQL execution result is incomplete due to the size limit or another error. The default mode is to throw an error.",
          "enumDescriptions": [
            "Unspecified mode, effectively the same as `FAIL_PARTIAL_RESULT`.",
            "Throw an error if the result exceeds 10 MB or if only a partial result can be retrieved. Don't return the result.",
            "Return a truncated result and set `partial_result` to true if the result exceeds 10 MB or if only a partial result can be retrieved due to error. Don't throw an error."
          ],
          "type": "string",
          "enum": [
            "PARTIAL_RESULT_MODE_UNSPECIFIED",
            "FAIL_PARTIAL_RESULT",
            "ALLOW_PARTIAL_RESULT"
          ]
        },
        "database": {
          "description": "Optional. Name of the database on which the statement will be executed.",
          "type": "string"
        },
        "rowLimit": {
          "format": "int64",
          "description": "Optional. The maximum number of rows returned per SQL statement.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "Optional. The name of an existing database user to connect to the database. When `auto_iam_authn` is set to true, this field is ignored and the API caller's IAM user is used."
        },
        "autoIamAuthn": {
          "type": "boolean",
          "description": "Optional. When set to `true`, the API caller identity associated with the request is used for database authentication. The API caller must be an IAM user in the database."
        },
        "sqlStatement": {
          "description": "Required. SQL statements to run on the database. It can be a single statement or a sequence of statements separated by semicolons.",
          "type": "string"
        }
      },
      "id": "ExecuteSqlPayload",
      "description": "The request payload used to execute SQL statements.",
      "type": "object"
    },
    "DatabaseFlags": {
      "id": "DatabaseFlags",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation.",
          "type": "string"
        }
      },
      "description": "Database flags for Cloud SQL instances."
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "SourceTargetPairedNode": {
      "id": "SourceTargetPairedNode",
      "properties": {
        "target": {
          "$ref": "NodeInfo",
          "description": "Output only. Specifies details of the corresponding target instance in this pair.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Specifies the current state of this specific source-target pair.",
          "enumDescriptions": [
            "The state of the paired node is unknown.",
            "The paired node is being provisioned.",
            "The paired node is provisioned.",
            "The paired node is upgrading.",
            "The paired node is upgraded.",
            "Upgrade failed on the paired node.",
            "Switchover is in progress.",
            "Switchover failed on the paired node.",
            "Switchover completed successfully.",
            "The paired node is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED",
            "UPGRADING",
            "UPGRADED",
            "UPGRADE_FAILED",
            "SWITCHOVER_IN_PROGRESS",
            "SWITCHOVER_FAILED",
            "SWITCHOVER_SUCCEEDED",
            "DELETING"
          ]
        },
        "source": {
          "readOnly": true,
          "description": "Output only. Specifies the resource name of the source instance in this pair.",
          "$ref": "NodeInfo"
        },
        "diffs": {
          "description": "Output only. Describes the list of differences for the `SourceTargetPairedNode`.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ConfigDiff"
          }
        }
      },
      "description": "Represents a pairing of a source instance node and a target instance node.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "ListBackupsResponse": {
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "A list of backups."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, then there aren't subsequent pages."
        },
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "type": "array",
          "description": "If a region isn't unavailable or if an unknown error occurs, then a warning message is returned."
        }
      },
      "description": "The response payload containing a list of the backups."
    },
    "User": {
      "properties": {
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for `update` because it is already specified on the URL.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "dualPasswordType": {
          "type": "string",
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ],
          "description": "Dual password status for the user.",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ]
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "serverRoles": {
          "type": "array",
          "description": "Optional. The server roles for the SQL Server login.",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string",
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional."
        },
        "password": {
          "type": "string",
          "description": "The password for the user."
        },
        "databaseRoles": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Role memberships of the user",
          "type": "array"
        },
        "iamEmail": {
          "type": "string",
          "description": "Optional. The full email for an IAM user. For normal database users, this will not be filled. Only applicable to MySQL database users."
        },
        "iamStatus": {
          "enumDescriptions": [
            "The default value for users that are not of type CLOUD_IAM_GROUP. Only CLOUD_IAM_GROUP users will be inactive or active. Users with an IamStatus of IAM_STATUS_UNSPECIFIED will not display whether they are active or inactive as that is not applicable to them.",
            "INACTIVE indicates a group is not available for IAM database authentication.",
            "ACTIVE indicates a group is available for IAM database authentication."
          ],
          "description": "Indicates if a group is active or inactive for IAM database authentication.",
          "type": "string",
          "enum": [
            "IAM_STATUS_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ]
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for `update` because it is already specified on the URL."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#user`."
        },
        "type": {
          "type": "string",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT",
            "CLOUD_IAM_GROUP",
            "CLOUD_IAM_GROUP_USER",
            "CLOUD_IAM_GROUP_SERVICE_ACCOUNT",
            "CLOUD_IAM_WORKFORCE_IDENTITY",
            "ENTRAID_USER"
          ],
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account.",
            "Cloud IAM group. Not used for login.",
            "Read-only. Login for a user that belongs to the Cloud IAM group.",
            "Read-only. Login for a service account that belongs to the Cloud IAM group.",
            "Cloud IAM workforce identity user managed via workforce identity federation.",
            "Microsoft Entra ID user."
          ],
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type."
        }
      },
      "type": "object",
      "description": "A Cloud SQL user resource.",
      "id": "User"
    },
    "SqlInstancesAcquireSsrsLeaseResponse": {
      "id": "SqlInstancesAcquireSsrsLeaseResponse",
      "description": "Response for the acquire SSRS lease request.",
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GeminiInstanceConfig": {
      "description": "Gemini instance configuration.",
      "type": "object",
      "id": "GeminiInstanceConfig",
      "properties": {
        "activeQueryEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the active query is enabled."
        },
        "flagRecommenderEnabled": {
          "description": "Output only. Whether the flag recommender is enabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "entitled": {
          "description": "Output only. Whether Gemini is enabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "indexAdvisorEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the index advisor is enabled."
        },
        "googleVacuumMgmtEnabled": {
          "description": "Output only. Whether the vacuum management is enabled.",
          "readOnly": true,
          "type": "boolean"
        },
[...]
