{
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    }
  ],
  "id": "sqladmin:v1",
  "ownerName": "Google",
  "revision": "20260708",
  "canonicalName": "SQL Admin",
  "title": "Cloud SQL Admin API",
  "discoveryVersion": "v1",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "description": "Cloud SQL Admin API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "batchPath": "batch",
  "schemas": {
    "PscAutoConnectionConfig": {
      "id": "PscAutoConnectionConfig",
      "type": "object",
      "properties": {
        "consumerNetworkStatus": {
          "description": "The connection policy status of the consumer network.",
          "type": "string"
        },
        "instanceAutoDnsStatus": {
          "type": "string",
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "description": "Output only. The status of automated DNS provisioning.",
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ],
          "readOnly": true
        },
        "writeEndpointAutoDnsStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified status. This means status is missing from dependency service.",
            "DNS provisioning is OK.",
            "DNS provisioning failed.",
            "DNS provisioning status is not recognized by Cloud SQL."
          ],
          "description": "Output only. The status of automated DNS provisioning for the write endpoint.",
          "enum": [
            "AUTO_DNS_STATUS_UNSPECIFIED",
            "AUTO_DNS_OK",
            "AUTO_DNS_FAILED",
            "AUTO_DNS_UNKNOWN"
          ],
          "type": "string"
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Optional. The consumer network of this consumer endpoint. This must be a resource path that includes both the host project and the network name. For example, `projects/project1/global/networks/network1`. The consumer host project of this network might be different from the consumer service project."
        },
        "consumerProject": {
          "type": "string",
          "description": "Optional. This is the project ID of consumer service project of this consumer endpoint. This is only applicable if `consumer_network` is a shared VPC network."
        },
        "ipAddress": {
          "description": "The IP address of the consumer endpoint.",
          "type": "string"
        },
        "serviceConnectionPolicy": {
          "type": "string",
          "description": "Output only. The service connection policy created automatically for the consumer network when `psc_auto_connection_policy_enabled` is true. It is in the format of: `projects/{project}/regions/{region}/serviceConnectionPolicies/{policy_id}` The `policy_id` is in format of `$NETWORK-$RANDOM`.",
          "readOnly": true
        },
        "serviceConnectionPolicyCreationResult": {
          "type": "string",
          "description": "Output only. The status of service connection policy creation.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The connection status of the consumer endpoint."
        }
      },
      "description": "Settings for an automatically-setup Private Service Connect consumer endpoint that is used to connect to a Cloud SQL instance."
    },
    "Value": {
      "description": "The cell value of the table.",
      "type": "object",
      "properties": {
        "nullValue": {
          "type": "boolean",
          "description": "If cell value is null, then this flag will be set to true."
        },
        "value": {
          "description": "The cell value in string format.",
          "type": "string"
        }
      },
      "id": "Value"
    },
    "DataCacheConfig": {
      "id": "DataCacheConfig",
      "type": "object",
      "properties": {
        "dataCacheEnabled": {
          "description": "Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      },
      "description": "Data cache configurations."
    },
    "PasswordValidationPolicy": {
      "id": "PasswordValidationPolicy",
      "type": "object",
      "properties": {
        "disallowUsernameSubstring": {
          "type": "boolean",
          "description": "Disallow username as a part of the password."
        },
        "disallowCompromisedCredentials": {
          "type": "boolean",
          "description": "This field is deprecated and will be removed in a future version of the API.",
          "deprecated": true
        },
        "minLength": {
          "description": "Minimum number of characters allowed.",
          "format": "int32",
          "type": "integer"
        },
        "enablePasswordPolicy": {
          "description": "Whether to enable the password policy or not. When enabled, passwords must meet complexity requirements. Keep this policy enabled to help prevent unauthorized access. Disabling this policy allows weak passwords.",
          "type": "boolean"
        },
        "reuseInterval": {
          "format": "int32",
          "description": "Number of previous passwords that cannot be reused.",
          "type": "integer"
        },
        "passwordChangeInterval": {
          "format": "google-duration",
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgreSQL.",
          "type": "string"
        },
        "complexity": {
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ],
          "description": "The complexity of the password.",
          "type": "string",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ]
        }
      },
      "description": "Database instance local user password validation policy. This message defines the password policy for local database users. When enabled, it enforces constraints on password complexity, length, and reuse. Keep this policy enabled to help prevent unauthorized access."
    },
    "SqlServerEntraIdConfig": {
      "description": "SQL Server Entra ID configuration.",
      "id": "SqlServerEntraIdConfig",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Optional. The tenant ID for the Entra ID configuration."
        },
        "kind": {
          "description": "Output only. This is always sql#sqlServerEntraIdConfig",
          "readOnly": true,
          "type": "string"
        },
        "applicationId": {
          "type": "string",
          "description": "Optional. The application ID for the Entra ID configuration."
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "description": "Database instance restore backup request.",
      "id": "InstancesRestoreBackupRequest",
      "type": "object",
      "properties": {
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        },
        "backup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: projects/{project-id}/backups/{backup-uid}. Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "backupdrBackup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: \"projects/{project-id}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}/backups/{backup-uid}\". Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "restoreInstanceSettings": {
          "description": "Optional. By using this parameter, Cloud SQL overrides any instance settings stored in the backup you are restoring from. You can't change the instance's major database version and you can only increase the disk size. You can use this field to restore new instances only. This field is not applicable for restore to existing instances.",
          "$ref": "DatabaseInstance"
        },
        "restoreInstanceClearOverridesFieldNames": {
          "description": "Optional. This field has the same purpose as restore_instance_settings, changes any instance settings stored in the backup you are restoring from. With the difference that these fields are cleared in the settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SqlServerUserDetails": {
      "id": "SqlServerUserDetails",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "If the user has been disabled"
        },
        "serverRoles": {
          "description": "The server roles for this user",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents a Sql Server user on the Cloud SQL instance."
    },
    "SqlServerAuditConfig": {
      "id": "SqlServerAuditConfig",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "bucket": {
          "description": "The name of the destination bucket (e.g., gs://mybucket).",
          "type": "string"
        },
        "retentionInterval": {
          "type": "string",
          "description": "How long to keep generated audit files.",
          "format": "google-duration"
        },
        "uploadInterval": {
          "description": "How often to upload generated audit files.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "SQL Server specific audit configuration."
    },
    "PerformanceCaptureConfig": {
      "description": "Performance capture configuration.",
      "id": "PerformanceCaptureConfig",
      "type": "object",
      "properties": {
        "secondsBehindSourceThreshold": {
          "format": "int32",
          "description": "Optional. Specifies the minimum number of seconds replica must be lagging behind primary instance to trigger the performance capture on replica.",
          "type": "integer"
        },
        "transactionKillExcludedUserHosts": {
          "description": "Optional. Specifies a customer-defined list of users to exclude from transaction termination. Entries can be in the format 'user@host' or just 'user'. A standalone 'user' implies 'user@%', excluding the user from any host. Wildcard '%' is allowed in the host part of the 'user@host' format. Example: `[\"app_user\", \"db_admin@10.1.2.3\", \"report_user@%\"]`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "memoryUsageThresholdPercent": {
          "description": "Optional. Specifies the minimum percentage of memory usage to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check.",
          "format": "int32",
          "type": "integer"
        },
        "semaphoreWaitThresholdCount": {
          "description": "Optional. Specifies the minimum allowed number of semaphore waits to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check.",
          "format": "int32",
          "type": "integer"
        },
        "runningThreadsThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the minimum number of MySQL `Threads_running` to trigger the performance capture on the primary instance."
        },
        "transactionLockWaitThresholdCount": {
          "type": "integer",
          "description": "Optional. Specifies the minimum allowed number of transactions in lock wait state to trigger the performance capture. Valid integers range from `10` to `10000`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "enabled": {
          "description": "Optional. Enables or disables the performance capture feature.",
          "type": "boolean"
        },
        "probingIntervalSeconds": {
          "type": "integer",
          "description": "Optional. Specifies the interval in seconds between consecutive probes that check if any trigger condition thresholds have been reached.",
          "format": "int32"
        },
        "cpuUtilizationThresholdPercent": {
          "type": "integer",
          "description": "Optional. Specifies the minimum percentage of CPU utilization to trigger the performance capture. Valid integers range from `10` to `99`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "probeThreshold": {
          "type": "integer",
          "description": "Optional. Specifies the minimum number of consecutive probe threshold that triggers performance capture.",
          "format": "int32"
        },
        "transactionKillType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Only read-only transactions are eligible for termination.",
            "All transactions are eligible for termination, including those with write operations (such as INSERT, UPDATE, DELETE, or DDL)."
          ],
          "enum": [
            "TRANSACTION_KILL_TYPE_UNSPECIFIED",
            "READ_ONLY_TRANSACTIONS",
            "ALL_TRANSACTIONS"
          ],
          "description": "Optional. Determines which transactions are allowed to be terminated when they exceed `transaction_kill_threshold_seconds`. This allows protecting write-heavy transactions from auto-termination if desired. Defaults to `READ_ONLY_TRANSACTIONS` if unspecified."
        },
        "historyListLengthThresholdCount": {
          "type": "integer",
          "description": "Optional. Specifies the minimum number of undo log entries in the history list length to trigger the performance capture. Valid integers range from `10000` to `10000000`. Enter `0` to disable the check.",
          "format": "int32"
        },
        "transactionKillThresholdSeconds": {
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts terminating it. Valid integers range from `60` to `604800` (7 days). Enter `0` to disable. If enabled (i.e., > 0), this value must be greater than or equal to `transaction_duration_threshold`. Configurations where `0 < transaction_kill_threshold_seconds < transaction_duration_threshold` will be rejected.",
          "format": "int32",
          "type": "integer"
        },
        "transactionDurationThreshold": {
          "type": "integer",
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts recording it.",
          "format": "int32"
        }
      }
    },
    "Backup": {
      "description": "A backup resource.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup that's added to a queue.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup is successful.",
            "The backup is being deleted.",
            "Deletion of the backup failed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SQL_BACKUP_STATE_UNSPECIFIED",
            "ENQUEUED",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "DELETING",
            "DELETION_FAILED"
          ],
          "description": "Output only. The status of this backup."
        },
        "backupInterval": {
          "$ref": "Interval",
          "description": "Output only. This output contains the following values: start_time: All database writes up to this time are available. end_time: Any database writes after this time aren't available.",
          "readOnly": true
        },
        "ttlDays": {
          "format": "int64",
          "description": "Input only. The time-to-live (TTL) interval for this resource (in days). For example: ttlDays:7, means 7 days from the current time. The expiration time can't exceed 365 days from the time that the backup is created.",
          "type": "string"
        },
        "backupRun": {
          "type": "string",
          "description": "Output only. The mapping to backup run resource used for IAM validations.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown backup type.",
            "The backup schedule triggers a backup automatically.",
            "The user triggers a backup manually.",
            "The backup created when instance is deleted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of this backup. The type can be \"AUTOMATED\", \"ON_DEMAND\" or “FINAL”.",
          "enum": [
            "SQL_BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND",
            "FINAL"
          ]
        },
        "instanceSettings": {
          "$ref": "DatabaseInstance",
          "description": "Optional. Output only. The instance setting of the source instance that's associated with this backup.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The storage location of the backups. The location can be multi-regional."
        },
        "error": {
          "$ref": "OperationError",
          "description": "Output only. Information about why the backup operation fails (for example, when the backup state fails).",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
          "readOnly": true,
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "description": "Output only. This output contains the encryption configuration for a backup and the resource name of the KMS key for disk encryption.",
          "readOnly": true
        },
        "databaseVersion": {
          "type": "string",
          "description": "Output only. The database version of the instance of at the time this backup was made.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "POSTGRES_20",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is PostgreSQL 20.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "readOnly": true
        },
        "kind": {
          "description": "Output only. This is always `sql#backup`.",
          "readOnly": true,
          "type": "string"
        },
        "instance": {
          "description": "The name of the source database instance.",
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "description": "Backup expiration time. A UTC timestamp of when this backup expired.",
          "format": "google-datetime"
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. The URI of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "backupKind": {
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "description": "Output only. Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "type": "string"
        },
        "kmsKeyVersion": {
          "description": "Output only. This output contains the encryption status for a backup and the version of the KMS key that's used to encrypt the Cloud SQL instance.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. This status indicates whether the backup satisfies PZS. The status is reserved for future use.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. This status indicates whether the backup satisfies PZI. The status is reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "instanceDeletionTime": {
          "type": "string",
          "description": "Optional. Output only. Timestamp in UTC of when the instance associated with this backup is deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "timeZone": {
          "type": "string",
          "description": "Output only. This output contains a backup time zone. If a Cloud SQL for SQL Server instance has a different time zone from the backup's time zone, then the restore to the instance doesn't happen.",
          "readOnly": true
        },
        "description": {
          "description": "The description of this backup.",
          "type": "string"
        }
      },
      "id": "Backup"
    },
    "SqlInstancesGetDiskShrinkConfigResponse": {
      "type": "object",
      "properties": {
        "minimalTargetSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The minimum size to which a disk can be shrunk in GigaBytes."
        },
        "message": {
          "description": "Additional message to customers.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#getDiskShrinkConfig`.",
          "type": "string"
        }
      },
      "id": "SqlInstancesGetDiskShrinkConfigResponse",
      "description": "Instance get disk shrink config response."
    },
    "MySqlSyncConfig": {
      "description": "MySQL-specific external server sync settings.",
      "type": "object",
      "properties": {
        "initialSyncFlags": {
          "description": "Flags to use for the initial dump.",
          "items": {
            "$ref": "SyncFlags"
          },
          "type": "array"
        }
      },
      "id": "MySqlSyncConfig"
    },
    "InstancesFailoverRequest": {
      "description": "Instance failover request.",
      "id": "InstancesFailoverRequest",
      "type": "object",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      }
    },
    "InstancesDemoteRequest": {
      "type": "object",
      "properties": {
        "demoteContext": {
          "description": "Required. Contains details about the demote operation.",
          "$ref": "DemoteContext"
        }
      },
      "id": "InstancesDemoteRequest",
      "description": "This request is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server."
    },
    "Reschedule": {
      "id": "Reschedule",
      "type": "object",
      "properties": {
        "rescheduleType": {
          "description": "Required. The type of the reschedule.",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ]
        },
        "scheduleTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        }
      }
    },
    "Row": {
      "type": "object",
      "properties": {
        "values": {
          "description": "The values for the row.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "id": "Row",
      "description": "Contains the values for a row."
    },
    "ListBackupsResponse": {
      "description": "The response payload containing a list of the backups.",
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "If a region isn't unavailable or if an unknown error occurs, then a warning message is returned.",
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          }
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, then there aren't subsequent pages."
        }
      }
    },
    "DemoteContext": {
      "description": "This context is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#demoteContext`.",
          "type": "string"
        },
        "sourceRepresentativeInstanceName": {
          "description": "Required. The name of the instance which acts as the on-premises primary instance in the replication setup.",
          "type": "string"
        }
      },
      "id": "DemoteContext"
    },
    "ConnectionPoolConfig": {
      "description": "The managed connection pooling configuration.",
      "type": "object",
      "properties": {
        "connectionPoolingEnabled": {
          "type": "boolean",
          "description": "Whether managed connection pooling is enabled."
        },
        "flags": {
          "items": {
            "$ref": "ConnectionPoolFlags"
          },
          "type": "array",
          "description": "Optional. List of connection pool configuration flags."
        },
        "poolerCount": {
          "description": "Output only. Number of connection poolers.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ConnectionPoolConfig"
    },
    "SqlScheduledMaintenance": {
      "type": "object",
      "properties": {
        "scheduleDeadlineTime": {
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "format": "google-datetime"
        },
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime"
        }
      },
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenance for this instance."
    },
    "SqlExternalSyncSettingError": {
      "description": "External primary instance migration setting error/warning.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`.",
          "type": "string"
        },
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres. Note that this is a warning and won't block the migration.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL.",
            "The global variable local_infile is off on external server replica.",
            "This code instructs customers to turn on point-in-time recovery manually for the instance after promoting the Cloud SQL for PostgreSQL instance.",
            "The minor version of replica database is incompatible with the source.",
            "This warning message indicates that Cloud SQL uses the maximum number of subscriptions to migrate data from the source to the destination.",
            "Unable to verify definers on the source for MySQL.",
            "If a time out occurs while the subscription counts are calculated, then this value is set to 1. Otherwise, this value is set to 2.",
            "Count of subscriptions needed to sync source data for PostgreSQL database.",
            "Final parallel level that is used to do migration.",
            "The disk size of the replica instance is smaller than the data size of the source instance.",
            "The data size of the source instance is greater than 1 TB, the number of cores of the replica instance is less than 8, and the memory of the replica is less than 32 GB.",
            "The warning message indicates the unsupported extensions will not be migrated to the destination.",
            "The warning message indicates the pg_cron extension and settings will not be migrated to the destination.",
            "The error message indicates that pg_cron flags are enabled on the destination which is not supported during the migration.",
            "This error message indicates that the specified extensions are not enabled on destination instance. For example, before you can migrate data to the destination instance, you must enable the PGAudit extension on the instance.",
            "The source database has generated columns that can't be migrated. Please change them to regular columns before migration.",
            "The source database has users that aren't created in the replica. First, create all users, which are in the pg_user_mappings table of the source database, in the destination instance. Then, perform the migration.",
            "The selected objects include system objects that aren't supported for migration.",
            "The source database has tables with the FULL or NOTHING replica identity. Before starting your migration, either remove the identity or change it to DEFAULT. Note that this is an error and will block the migration.",
            "The selected objects don't exist on the source instance.",
            "PSC only destination instance does not have a network attachment URI.",
            "Selected objects reference unselected objects. Based on their object type (foreign key constraint or view), selected objects will fail during migration.",
            "The migration will delete existing data in the replica; set replica_overwrite_enabled in the request to acknowledge this. This is an error. MySQL only.",
            "The migration will delete existing data in the replica; replica_overwrite_enabled was set in the request acknowledging this. This is a warning rather than an error. MySQL only.",
            "The replication user is missing specific privileges to setup DDL replication. (e.g. CREATE EVENT TRIGGER, CREATE SCHEMA) for PostgreSQL."
          ],
          "description": "Identifies the specific error that occurred.",
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "LOCAL_INFILE_OFF",
            "TURN_ON_PITR_AFTER_PROMOTE",
            "INCOMPATIBLE_DATABASE_MINOR_VERSION",
            "SOURCE_MAX_SUBSCRIPTIONS",
            "UNABLE_TO_VERIFY_DEFINERS",
            "SUBSCRIPTION_CALCULATION_STATUS",
            "PG_SUBSCRIPTION_COUNT",
            "PG_SYNC_PARALLEL_LEVEL",
            "INSUFFICIENT_DISK_SIZE",
            "INSUFFICIENT_MACHINE_TIER",
            "UNSUPPORTED_EXTENSIONS_NOT_MIGRATED",
            "EXTENSIONS_NOT_MIGRATED",
            "PG_CRON_FLAG_ENABLED_IN_REPLICA",
            "EXTENSIONS_NOT_ENABLED_IN_REPLICA",
            "UNSUPPORTED_COLUMNS",
            "USERS_NOT_CREATED_IN_REPLICA",
            "UNSUPPORTED_SYSTEM_OBJECTS",
            "UNSUPPORTED_TABLES_WITH_REPLICA_IDENTITY",
            "SELECTED_OBJECTS_NOT_EXIST_ON_SOURCE",
            "PSC_ONLY_INSTANCE_WITH_NO_NETWORK_ATTACHMENT_URI",
            "SELECTED_OBJECTS_REFERENCE_UNSELECTED_OBJECTS",
            "PROMPT_DELETE_EXISTING",
            "WILL_DELETE_EXISTING",
            "PG_DDL_REPLICATION_INSUFFICIENT_PRIVILEGE"
          ]
        }
      },
      "id": "SqlExternalSyncSettingError"
    },
    "ReadPoolAutoScaleConfig": {
      "description": "The read pool auto-scale configuration.",
      "id": "ReadPoolAutoScaleConfig",
      "type": "object",
      "properties": {
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of read pool nodes to be maintained."
        },
        "disableScaleIn": {
          "type": "boolean",
          "description": "Indicates whether read pool auto scaling supports scale in operations (removing nodes)."
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether read pool auto scaling is enabled."
        },
        "scaleInCooldownSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The cooldown period for scale-in operations."
        },
        "minNodeCount": {
          "description": "Minimum number of read pool nodes to be maintained.",
          "format": "int32",
          "type": "integer"
        },
        "scaleOutCooldownSeconds": {
          "type": "integer",
          "description": "The cooldown period for scale-out operations.",
          "format": "int32"
        },
        "targetMetrics": {
          "items": {
            "$ref": "TargetMetric"
          },
          "type": "array",
          "description": "Optional. Target metrics for read pool auto scaling."
        }
      }
    },
    "DenyMaintenancePeriod": {
      "description": "Deny maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "id": "DenyMaintenancePeriod",
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "time": {
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00",
          "type": "string"
        },
        "startDate": {
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        }
      }
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#database`.",
          "type": "string"
        },
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
          "type": "string"
        }
      },
      "description": "Represents a SQL database on the Cloud SQL instance."
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "type": "object",
      "properties": {
        "pointInTime": {
          "format": "google-datetime",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "type": "string"
        },
        "databaseNames": {
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "preferredSecondaryZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field. This field applies to all DB types."
        },
        "destinationProject": {
          "type": "string",
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance."
        },
        "sourceInstanceDeletionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp."
        },
        "destinationInstanceName": {
          "description": "Required. Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "preferredZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance. This field applies to all DB types.",
          "type": "string"
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#cloneContext`.",
          "type": "string"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "destinationNetwork": {
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via private services access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning.",
          "type": "string"
        }
      },
      "id": "CloneContext"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AvailableDatabaseVersion": {
      "description": "An available database version. It can be a major or a minor version.",
      "type": "object",
      "properties": {
        "majorVersion": {
          "type": "string",
          "description": "The version's major version name."
        },
        "name": {
          "type": "string",
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version."
        },
        "displayName": {
          "type": "string",
          "description": "The database version's display name."
        }
      },
      "id": "AvailableDatabaseVersion"
    },
    "ExternalSyncSelectedObject": {
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database that Cloud SQL migrates."
        }
      },
      "id": "ExternalSyncSelectedObject",
      "description": "The selected object that Cloud SQL migrates."
    },
    "OperationError": {
      "id": "OperationError",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#operationError`.",
          "type": "string"
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred."
        }
      },
      "description": "Database instance operation error."
    },
    "SslCertDetail": {
      "type": "object",
      "properties": {
        "certInfo": {
          "description": "The public information about the cert.",
          "$ref": "SslCert"
        },
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
          "type": "string"
        }
      },
      "id": "SslCertDetail",
      "description": "SslCertDetail."
    },
    "BackupConfiguration": {
      "description": "Database instance backup configuration.",
      "id": "BackupConfiguration",
      "type": "object",
      "properties": {
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`."
        },
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this configuration is enabled."
        },
        "backupTier": {
          "enumDescriptions": [
            "Unspecified.",
            "Instance is managed by Cloud SQL.",
            "Deprecated: ADVANCED is deprecated. Please use ENHANCED instead.",
            "Instance is managed by Google Cloud Backup and DR Service."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "BACKUP_TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "ENHANCED"
          ],
          "description": "Output only. Backup tier that manages the backups for the instance."
        },
        "replicationLogArchivingEnabled": {
          "description": "Optional. Deprecated: replication_log_archiving_enabled is deprecated and will be removed from a future version of the API. Use point_in_time_recovery_enabled instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point in time recovery is enabled.",
          "type": "boolean"
        },
        "transactionalLogStorageState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "The transaction logs used for PITR for the instance are stored on a data disk.",
            "The transaction logs used for PITR for the instance are switching from being stored on a data disk to being stored in Cloud Storage. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are now stored in Cloud Storage. Previously, they were stored on a data disk. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are stored in Cloud Storage. Only applicable to MySQL and PostgreSQL."
          ],
          "enum": [
            "TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED",
            "DISK",
            "SWITCHING_TO_CLOUD_STORAGE",
            "SWITCHED_TO_CLOUD_STORAGE",
            "CLOUD_STORAGE"
          ],
          "description": "Output only. This value contains the storage location of transactional logs used to perform point-in-time recovery (PITR) for the database.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupConfiguration`."
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "BackupRetentionSettings"
        },
        "transactionLogRetentionDays": {
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FailoverContext": {
      "type": "object",
      "properties": {
        "settingsVersion": {
          "type": "string",
          "format": "int64",
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version."
        },
        "kind": {
          "description": "This is always `sql#failoverContext`.",
          "type": "string"
        }
      },
      "id": "FailoverContext",
      "description": "Database instance failover context."
    },
    "ImportContext": {
      "type": "object",
      "properties": {
        "fileType": {
          "description": "The file type for the specified uri.\\`SQL`: The file contains SQL statements. \\`CSV`: The file contains CSV data.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ]
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "csvImportOptions": {
          "description": "Options for importing data as CSV.",
          "type": "object",
          "properties": {
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "bakImportOptions": {
          "type": "object",
          "properties": {
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "recoveryOnly": {
              "type": "boolean",
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server."
            },
            "stopAt": {
              "format": "google-datetime",
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string"
            },
            "stopAtMark": {
              "type": "string",
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only."
            },
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "keepEncrypted": {
                  "description": "Optional. Whether the imported file remains encrypted.",
                  "type": "boolean"
                },
                "pvkPath": {
                  "type": "string",
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                },
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                }
              }
            },
            "bakType": {
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "description": "Type of the bak content, FULL or DIFF",
              "type": "string",
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ]
            },
            "noRecovery": {
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files"
        },
        "database": {
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified.",
          "type": "string"
        },
        "sqlImportOptions": {
          "description": "Optional. Options for importing data from SQL statements.",
          "type": "object",
          "properties": {
            "parallel": {
              "description": "Optional. Whether or not the import should be parallel.",
              "type": "boolean"
            },
            "threads": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of threads to use for parallel import."
            },
            "postgresImportOptions": {
              "type": "object",
              "properties": {
                "ifExists": {
                  "type": "boolean",
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
                },
                "clean": {
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel.",
                  "type": "boolean"
                }
              },
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance."
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#importContext`."
        },
        "tdeImportOptions": {
          "description": "Optional. Import parameters specific to SQL Server TDE certificates",
          "type": "object",
          "properties": {
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Required. Certificate name. Applicable only for SQL Server instances."
            },
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            }
          }
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        }
      },
      "id": "ImportContext",
      "description": "Database instance import context."
    },
    "PoolNodeConfig": {
      "id": "PoolNodeConfig",
      "type": "object",
      "properties": {
        "gceZone": {
          "description": "Output only. The zone of the read pool node.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "description": "Output only. The current state of the read pool node.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs.",
          "readOnly": true,
          "type": "string"
        },
        "ipAddresses": {
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "pscServiceAttachmentLink": {
          "type": "string",
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node.",
          "readOnly": true
        },
        "dnsName": {
          "description": "Output only. The DNS name of the read pool node.",
          "readOnly": true,
          "type": "string"
        },
        "pscAutoConnections": {
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        },
        "dnsNames": {
          "items": {
            "$ref": "DnsNameMapping"
          },
          "type": "array",
          "description": "Output only. The list of DNS names used by this read pool node.",
          "readOnly": true
        }
      },
      "description": "Details of a single read pool node of a read pool."
    },
    "InstancesListServerCertificatesResponse": {
      "id": "InstancesListServerCertificatesResponse",
      "type": "object",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server CA certificates for the instance."
        },
        "serverCerts": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server certificates for the instance, signed by the corresponding CA from the `ca_certs` list."
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `server_certs`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListServerCertificates`."
        }
      },
      "description": "Instances ListServerCertificates response."
    },
    "IpConfiguration": {
      "description": "IP Management configuration.",
      "id": "IpConfiguration",
      "type": "object",
      "properties": {
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`",
          "type": "string"
        },
        "pscConfig": {
          "description": "PSC settings for this instance.",
          "$ref": "PscConfig"
        },
        "sslMode": {
          "description": "Specify how SSL/TLS is enforced in database connections. If you must use the `require_ssl` flag for backward compatibility, then only the following value pairs are valid: For PostgreSQL and MySQL: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false` * `ssl_mode=TRUSTED_CLIENT_CERTIFICATE_REQUIRED` and `require_ssl=true` For SQL Server: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=true` The value of `ssl_mode` has priority over the value of `require_ssl`. For example, for the pair `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false`, `ssl_mode=ENCRYPTED_ONLY` means accept only SSL connections, while `require_ssl=false` means accept both non-SSL and SSL connections. In this case, MySQL and PostgreSQL databases respect `ssl_mode` and accepts only SSL connections.",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY",
            "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The SSL mode is unknown.",
            "Allow non-SSL/non-TLS and SSL/TLS connections. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS and with valid client certificates. When this value is used, the legacy `require_ssl` flag must be true or cleared to avoid the conflict between values of two flags. PostgreSQL clients or users that connect using IAM database authentication must use either the [Cloud SQL Auth Proxy](https://cloud.google.com/sql/docs/postgres/connect-auth-proxy) or [Cloud SQL Connectors](https://cloud.google.com/sql/docs/postgres/connect-connectors) to enforce client identity verification. Only applicable to MySQL and PostgreSQL. Not applicable to SQL Server."
          ]
        },
        "serverCaMode": {
          "type": "string",
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ],
          "description": "Specify what type of CA is used for the server certificate.",
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ]
        },
        "serverCertificateRotationMode": {
          "enum": [
            "SERVER_CERTIFICATE_ROTATION_MODE_UNSPECIFIED",
            "NO_AUTOMATIC_ROTATION",
            "AUTOMATIC_ROTATION_DURING_MAINTENANCE"
          ],
          "description": "Optional. Controls the automatic server certificate rotation feature. This feature is disabled by default. When enabled, the server certificate will be automatically rotated during Cloud SQL scheduled maintenance or self-service maintenance updates up to six months before it expires. This setting can only be set if server_ca_mode is either GOOGLE_MANAGED_CAS_CA or CUSTOMER_MANAGED_CAS_CA.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified: no automatic server certificate rotation.",
            "No automatic server certificate rotation. The user must [manage server certificate rotation](/sql/docs/mysql/manage-ssl-instance#rotate-server-certificate-cas) on their side.",
            "Automatic server certificate rotation during Cloud SQL scheduled maintenance or self-service maintenance updates. Requires `server_ca_mode` to be `GOOGLE_MANAGED_CAS_CA` or `CUSTOMER_MANAGED_CAS_CA`."
          ]
        },
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        },
        "customSubjectAlternativeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Custom Subject Alternative Name(SAN)s for a Cloud SQL instance."
        },
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`).",
          "items": {
            "$ref": "AclEntry"
          },
          "type": "array"
        },
        "serverCaPool": {
          "description": "Optional. The resource name of the server CA pool for an instance with `CUSTOMER_MANAGED_CAS_CA` as the `server_ca_mode`. Format: projects/{PROJECT}/locations/{REGION}/caPools/{CA_POOL_ID}",
          "type": "string"
        },
        "requireSsl": {
          "description": "Use `ssl_mode` instead. Whether SSL/TLS connections over IP are enforced. If set to false, then allow both non-SSL/non-TLS and SSL/TLS connections. For SSL/TLS connections, the client certificate won't be verified. If set to true, then only allow connections encrypted with SSL/TLS and with valid client certificates. If you want to enforce SSL/TLS without enforcing the requirement for valid client certificates, then use the `ssl_mode` flag instead of the `require_ssl` flag.",
          "type": "boolean"
        },
        "enablePrivatePathForGoogleCloudServices": {
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery.",
          "type": "boolean"
        },
        "privateNetwork": {
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set.",
          "type": "string"
        }
      }
    },
    "Column": {
      "id": "Column",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the column."
        },
        "type": {
          "description": "Datatype of the column.",
          "type": "string"
        }
      },
      "description": "Contains the name and datatype of a column."
    },
    "SqlSubOperationType": {
      "description": "The sub operation type based on the operation type.",
      "type": "object",
      "properties": {
        "maintenanceType": {
          "type": "string",
          "enumDescriptions": [
            "Maintenance type is unspecified.",
            "Indicates that a standalone instance is undergoing maintenance. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas, including cascading replicas, are undergoing maintenance. Maintenance is performed on groups of replicas first, followed by the primary instance.",
            "Indicates that the standalone instance is undergoing maintenance, initiated by self-service. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas are undergoing maintenance, initiated by self-service. Maintenance is performed on groups of replicas first, followed by the primary instance."
          ],
          "enum": [
            "SQL_MAINTENANCE_TYPE_UNSPECIFIED",
            "INSTANCE_MAINTENANCE",
            "REPLICA_INCLUDED_MAINTENANCE",
            "INSTANCE_SELF_SERVICE_MAINTENANCE",
            "REPLICA_INCLUDED_SELF_SERVICE_MAINTENANCE"
          ],
          "description": "The type of maintenance to be performed on the instance."
        }
      },
      "id": "SqlSubOperationType"
    },
    "InstancesTruncateLogRequest": {
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "description": "Contains details about the truncate log operation.",
          "$ref": "TruncateLogContext"
        }
      },
      "id": "InstancesTruncateLogRequest",
      "description": "Instance truncate log request."
    },
    "InstancesRotateServerCertificateRequest": {
      "description": "Rotate server certificate request.",
      "type": "object",
      "properties": {
        "rotateServerCertificateContext": {
          "description": "Optional. Contains details about the rotate server certificate operation.",
          "$ref": "RotateServerCertificateContext"
        }
      },
      "id": "InstancesRotateServerCertificateRequest"
    },
    "SqlInstancesStartExternalSyncRequest": {
      "id": "SqlInstancesStartExternalSyncRequest",
      "type": "object",
      "properties": {
        "syncMode": {
          "type": "string",
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "description": "External sync mode.",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ]
        },
        "mysqlSyncConfig": {
          "description": "MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "skipVerification": {
          "type": "boolean",
          "description": "Whether to skip the verification step (VESS)."
        },
        "migrationType": {
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ],
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL.",
          "type": "string",
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ]
        },
        "replicaOverwriteEnabled": {
          "description": "Optional. MySQL only. True if end-user has confirmed that this SES call will wipe replica databases overlapping with the proposed selected_objects. If this field is not set and there are both overlapping and additional databases proposed, an error will be returned.",
          "type": "boolean"
        },
        "syncParallelLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ],
          "description": "Optional. Parallel level for initial data sync. Currently only applicable for MySQL."
        }
      },
      "description": "Instance start external sync request."
    },
    "SslCert": {
      "description": "SslCerts Resource",
      "id": "SslCert",
      "type": "object",
      "properties": {
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCert`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`"
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        }
      }
    },
    "IpMapping": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ]
        },
        "timeToRetire": {
          "type": "string",
          "format": "google-datetime",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired."
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        }
      },
      "id": "IpMapping",
      "description": "Database instance IP mapping"
    },
    "SslCertsCreateEphemeralRequest": {
      "id": "SslCertsCreateEphemeralRequest",
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        },
        "public_key": {
          "type": "string",
          "description": "PEM encoded public key to include in the signed certificate."
        }
      },
      "description": "SslCerts create ephemeral certificate request."
    },
    "SelectedObjects": {
      "id": "SelectedObjects",
      "type": "object",
      "properties": {
        "database": {
          "description": "Required. The name of the database to migrate.",
          "type": "string"
        }
      },
      "description": "A list of objects that the user selects for replication from an external source instance."
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "description": "Instance verify external sync settings request.",
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest",
      "type": "object",
      "properties": {
        "migrationType": {
          "enum": [
            "MIGRATION_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ],
          "description": "Optional. MigrationType configures the migration to use physical files or logical dump files. If not set, then the logical dump file configuration is used. Valid values are `LOGICAL` or `PHYSICAL`. Only applicable to MySQL.",
          "type": "string",
          "enumDescriptions": [
            "Default value is a logical dump file-based migration",
            "Logical dump file-based migration",
            "Physical file-based migration"
          ]
        },
        "syncParallelLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ],
          "description": "Optional. Parallel level for initial data sync. Only applicable for PostgreSQL."
        },
        "verifyConnectionOnly": {
          "type": "boolean",
          "description": "Flag to enable verifying connection only"
        },
        "mysqlSyncConfig": {
          "description": "Optional. MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "syncMode": {
          "type": "string",
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "description": "External sync mode",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ]
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        },
        "selectedObjects": {
          "items": {
            "$ref": "ExternalSyncSelectedObject"
          },
          "type": "array",
          "description": "Optional. Migrate only the specified objects from the source instance. If this field is empty, then migrate all objects."
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "type": "object",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "id": "GenerateEphemeralCertResponse",
      "description": "Ephemeral certificate creation request."
    },
    "PreCheckMajorVersionUpgradeContext": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`."
        },
        "targetDatabaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
[...]
