{
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/sql/docs",
  "resources": {
    "sslCerts": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.insert",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts"
        },
        "list": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "description": "Lists all of the current SSL certificates for the instance.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.list",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts"
        },
        "createEphemeral": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "response": {
            "$ref": "SslCert"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.createEphemeral",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the Cloud SQL project.",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "DELETE",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Sha1 FingerPrint."
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "id": "sql.sslCerts.delete"
        },
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "id": "sql.sslCerts.get",
          "response": {
            "$ref": "SslCert"
          },
          "parameters": {
            "sha1Fingerprint": {
              "type": "string",
              "description": "Sha1 FingerPrint.",
              "required": true,
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "blueGreenDeployments": {
      "methods": {
        "create": {
          "description": "Creates a blue-green deployment under a given project and location. This deployment provisions a synchronized green environment (target instance) from a blue production environment (source instance), facilitating updates like major version upgrades on the green instance without impacting the blue instance.",
          "id": "sql.blueGreenDeployments.create",
          "parameters": {
            "parent": {
              "description": "Required. The parent resource where this blue-green deployment will be created. Format: projects/{project}/locations/{location}",
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "location": "path",
              "required": true
            },
            "blueGreenDeploymentId": {
              "type": "string",
              "description": "Required. The ID to use for the blue-green deployment, which will become the final component of the deployment's resource name.",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "BlueGreenDeployment"
          },
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments"
        },
        "delete": {
          "parameters": {
            "deleteOldSource": {
              "type": "boolean",
              "description": "Optional. If set to true, and the switchover is complete, this deletes the old source instance along with the deployment.",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "description": "Required. The name of the blue-green deployment to delete. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}"
            }
          },
          "id": "sql.blueGreenDeployments.delete",
          "description": "Deletes a blue-green deployment, including metadata and underlying resources based on the deployment state. If issued before switchover, this deletes the green instance. If issued after switchover, this deletes the old blue instance (source instance) if the `delete_old_source` field in the request is set to true. All blue-green deployment metadata is permanently deleted. Resources deleted as a result of this operation are no longer accessible and can't be restored.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+name}",
          "httpMethod": "DELETE",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a blue-green deployment resource under a given project and location.",
          "response": {
            "$ref": "BlueGreenDeployment"
          },
          "path": "sql/v1beta4/{+name}",
          "id": "sql.blueGreenDeployments.get",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Blue-green deployment view enumeration. This allows the caller to specify what view they query. If unspecified (BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED), the behavior is the same as BASIC.",
                "Includes basic metadata about the blue-green deployment. `BASIC` is the default view.",
                "Includes basic metadata and configuration differences between source and target instances (`database_version`, `tier`, `edition`, `availability_type`, `data_disk_size_gb`, and `data_disk_type`)."
              ],
              "enum": [
                "BLUE_GREEN_DEPLOYMENT_VIEW_UNSPECIFIED",
                "BASIC",
                "DETAILED"
              ],
              "description": "Optional. Specifies whether to return the basic or detailed view of the resource in the response."
            },
            "name": {
              "description": "Required. The name of the blue-green deployment to retrieve. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments",
          "description": "Lists blue-green deployments under a given project.",
          "parameters": {
            "parent": {
              "description": "Required. The parent resource whose blue-green deployments are to be listed. Format: projects/{project}/locations/{location}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/locations/[^/]+$"
            },
            "pageSize": {
              "description": "Optional. The maximum number of deployments to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "filter": {
              "description": "Optional. A filter expression that filters the results.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "description": "Optional. A comma-separated list of fields to order the results by.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListBlueGreenDeployments` call. Provide this to retrieve the subsequent page."
            }
          },
          "path": "sql/v1beta4/{+parent}/blueGreenDeployments",
          "response": {
            "$ref": "ListBlueGreenDeploymentsResponse"
          },
          "id": "sql.blueGreenDeployments.list",
          "httpMethod": "GET"
        },
        "switchover": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.blueGreenDeployments.switchover",
          "flatPath": "sql/v1beta4/projects/{projectsId}/locations/{locationsId}/blueGreenDeployments/{blueGreenDeploymentsId}:switchover",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the blue-green deployment to switch over. Format: projects/{project}/locations/{location}/blueGreenDeployments/{blue_green_deployment}",
              "type": "string",
              "pattern": "^projects/[^/]+/locations/[^/]+/blueGreenDeployments/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Switches over to green instance for a blue-green deployment.",
          "request": {
            "$ref": "SwitchoverBlueGreenDeploymentRequest"
          },
          "httpMethod": "POST",
          "path": "sql/v1beta4/{+name}:switchover",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "id": "sql.operations.cancel",
          "description": "Cancels an instance operation that has been performed on an instance. Ordinarily, this method name should be `CancelSqlOperation`.",
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "operation": {
              "type": "string",
              "location": "path",
              "description": "Instance operation ID.",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "operation"
          ]
        },
        "get": {
          "parameters": {
            "operation": {
              "type": "string",
              "description": "Instance operation ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "sql.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}"
        },
        "list": {
          "response": {
            "$ref": "OperationsListResponse"
          },
          "path": "sql/v1beta4/projects/{project}/operations",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of operations per response."
            }
          },
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "httpMethod": "GET",
          "id": "sql.operations.list",
          "parameterOrder": [
            "project"
          ]
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TiersListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "id": "sql.tiers.list",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project for which to list tiers."
            }
          },
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "path": "sql/v1beta4/projects/{project}/tiers",
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "backups": {
      "methods": {
        "updateBackup": {
          "description": "Updates the retention period and the description of the backup. You can use this API to update final backups only.",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "request": {
            "$ref": "Backup"
          },
          "id": "sql.backups.updateBackup",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields that you can update. You can update only the description and retention period of the final backup.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "deleteBackup": {
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+name}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes the backup.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the backup to delete. Format: projects/{project}/backups/{backup}",
              "pattern": "^projects/[^/]+/backups/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.backups.deleteBackup",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}"
        },
        "listBackups": {
          "id": "sql.backups.listBackups",
          "description": "Lists all backups associated with the project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "ListBackupsResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListBackups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBackups` must match the call that provided the page token."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of backups to return per response. The service might return fewer backups than this value. If a value for this parameter isn't specified, then, at most, 500 backups are returned. The maximum value is 2,000. Any values that you set, which are greater than 2,000, are changed to 2,000."
            },
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "description": "Required. The parent that owns this collection of backups. Format: projects/{project}"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Multiple filter queries are separated by spaces. For example, 'instance:abc AND type:FINAL, 'location:us', 'backupInterval.startTime>=1950-01-01T01:01:25.771Z'. You can filter by type, instance, backupInterval.startTime (creation time), or location."
            }
          },
          "path": "sql/v1beta4/{+parent}/backups",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups",
          "httpMethod": "GET"
        },
        "createBackup": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.backups.createBackup",
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "description": "Required. The parent resource where this backup is created. Format: projects/{project}",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Backup"
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a backup for a Cloud SQL instance. This API can be used only to create on-demand backups.",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/{+parent}/backups"
        },
        "getBackup": {
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{projectsId}/backups/{backupsId}",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/backups/[^/]+$",
              "required": true,
              "description": "Required. The name of the backup to retrieve. Format: projects/{project}/backups/{backup}",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "sql/v1beta4/{+name}",
          "description": "Retrieves a resource containing information about a backup.",
          "id": "sql.backups.getBackup",
          "response": {
            "$ref": "Backup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "backupRuns": {
      "methods": {
        "delete": {
          "description": "Deletes the backup taken by a backup run.",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "DELETE",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/backupRuns/list) method.",
              "location": "path"
            }
          },
          "id": "sql.backupRuns.delete"
        },
        "list": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of backup runs per response.",
              "location": "query",
              "type": "integer"
            },
            "instance": {
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "id": "sql.backupRuns.list"
        },
        "insert": {
          "request": {
            "$ref": "BackupRun"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.backupRuns.insert",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Creates a new backup run on demand.",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "get": {
          "id": "sql.backupRuns.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "The ID of this backup run.",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BackupRun"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "description": "Retrieves a resource containing information about a backup run."
        }
      }
    },
    "instances": {
      "methods": {
        "releaseSsrsLease": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Required. The Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Required. The ID of the project that contains the instance (Example: project-id).",
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SqlInstancesReleaseSsrsLeaseResponse"
          },
          "id": "sql.instances.releaseSsrsLease",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/releaseSsrsLease",
          "description": "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/releaseSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "preCheckMajorVersionUpgrade": {
          "id": "sql.instances.preCheckMajorVersionUpgrade",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesPreCheckMajorVersionUpgradeRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "httpMethod": "POST",
          "description": "Execute MVU Pre-checks",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/preCheckMajorVersionUpgrade",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "ListServerCertificates": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.ListServerCertificates",
          "parameters": {
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "description": "Lists all versions of server certificates and certificate authorities (CAs) for the specified instance. There can be up to three sets of certs listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out. For instances not using Certificate Authority Service (CAS) server CA, use ListServerCas instead.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCertificates",
          "response": {
            "$ref": "InstancesListServerCertificatesResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "export": {
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "id": "sql.instances.export",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "The Cloud SQL instance ID. This doesn't include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "reencrypt": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "id": "sql.instances.reencrypt",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the instance."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "description": "Reencrypt CMEK instance with latest key version.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "request": {
            "$ref": "InstancesReencryptRequest"
          }
        },
        "acquireSsrsLease": {
          "request": {
            "$ref": "InstancesAcquireSsrsLeaseRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease",
          "httpMethod": "POST",
          "id": "sql.instances.acquireSsrsLease",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This doesn't include the project ID. It's composed of lowercase letters, numbers, and hyphens, and it must start with a letter. The total length must be 98 characters or less (Example: instance-id).",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. ID of the project that contains the instance (Example: project-id)."
            }
          },
          "response": {
            "$ref": "SqlInstancesAcquireSsrsLeaseResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/acquireSsrsLease",
          "description": "Acquire a lease for the setup of SQL Server Reporting Services (SSRS)."
        },
        "truncateLog": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.truncateLog",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the Cloud SQL project."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "description": "Truncate MySQL general and slow query log tables MySQL only."
        },
        "switchover": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "dbTimeout": {
              "type": "string",
              "format": "google-duration",
              "location": "query",
              "description": "Optional. (MySQL and PostgreSQL only) Cloud SQL instance operations timeout, which is a sum of all database operations. Default value is 10 minutes and can be modified to a maximum value of 24 hours."
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ID of the project that contains the replica."
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            }
          },
          "description": "Switches over from the primary instance to the DR replica instance.",
          "id": "sql.instances.switchover",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/switchover",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/switchover",
          "httpMethod": "POST"
        },
        "update": {
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "sql.instances.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "promoteReplica": {
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "failover": {
              "location": "query",
              "type": "boolean",
              "description": "Set to true to invoke a replica failover to the DR replica. As part of replica failover, the promote operation attempts to add the original primary instance as a replica of the promoted DR replica when the original primary instance comes back online. If set to false or not specified, then the original primary instance becomes an independent Cloud SQL primary instance."
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Promotes the read replica instance to be an independent Cloud SQL primary instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.promoteReplica",
          "response": {
            "$ref": "Operation"
          }
        },
        "resetSslConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "mode": {
              "description": "Optional. Reset SSL mode to use.",
              "location": "query",
              "type": "string",
              "enum": [
                "RESET_SSL_MODE_UNSPECIFIED",
                "ALL",
                "SYNC_FROM_PRIMARY"
              ],
              "enumDescriptions": [
                "Reset SSL mode is not specified.",
                "Refresh all TLS configs. This is the default behaviour.",
                "Refreshes the replication-related TLS configuration settings provided by the primary instance. Not applicable to on-premises replication instances."
              ]
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "httpMethod": "POST",
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.resetSslConfig",
          "response": {
            "$ref": "Operation"
          }
        },
        "demoteMaster": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "parameters": {
            "project": {
              "description": "ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance name.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.demoteMaster"
        },
        "rotateServerCa": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method. For instances that have enabled Certificate Authority Service (CAS) based server CA, use RotateServerCertificate to rotate the server certificate.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "httpMethod": "POST",
          "id": "sql.instances.rotateServerCa"
        },
        "addServerCa": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in. For instances that have enabled Certificate Authority Service (CAS) based server CA, use AddServerCertificate to add a new server certificate.",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.addServerCa",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restart": {
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance to be restarted."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Restarts a Cloud SQL instance.",
          "httpMethod": "POST",
          "id": "sql.instances.restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart"
        },
        "listServerCas": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "id": "sql.instances.listServerCas",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas"
        },
        "restoreBackup": {
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "POST",
          "description": "Creates a new Cloud SQL instance.",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.insert",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project"
          ]
        },
        "addServerCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCertificate",
          "description": "Add a new trusted server certificate version for the specified instance using Certificate Authority Service (CAS) server CA. Required to prepare for a certificate rotation. If a server certificate version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one certificate version waiting to be rotated in. For instances not using CAS server CA, use AddServerCa instead.",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.addServerCertificate"
        },
        "executeSql": {
          "httpMethod": "POST",
          "response": {
            "$ref": "SqlInstancesExecuteSqlResponse"
          },
          "id": "sql.instances.executeSql",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Required. Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Required. Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "description": "Execute SQL statements.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/executeSql",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "ExecuteSqlPayload"
          }
        },
        "ListEntraIdCertificates": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "description": "Lists all versions of EntraID certificates for the specified instance. There can be up to three sets of certificates listed: the certificate that is currently in use, a future that has been added but not yet used to sign a certificate, and a certificate that has been rotated out.",
          "id": "sql.instances.ListEntraIdCertificates",
          "response": {
            "$ref": "InstancesListEntraIdCertificatesResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listEntraIdCertificates",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "stopReplica": {
          "id": "sql.instances.stopReplica",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "description": "Stops the replication in the read replica instance.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "format": "uint32"
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project for which to list Cloud SQL instances."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.list",
          "path": "sql/v1beta4/projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Lists instances under a given project."
        },
        "startReplica": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Starts the replication in the read replica instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL read replica instance name.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "location": "path"
            }
          },
          "id": "sql.instances.startReplica",
          "httpMethod": "POST"
        },
        "RotateServerCertificate": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.RotateServerCertificate",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesRotateServerCertificateRequest"
          },
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCertificate",
          "description": "Rotates the server certificate version to one previously added with the addServerCertificate method. For instances not using Certificate Authority Service (CAS) server CA, use RotateServerCa instead.",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "DatabaseInstance"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.get",
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "httpMethod": "GET"
        },
        "addEntraIdCertificate": {
          "description": "Adds a new Entra ID certificate for the specified instance. If an Entra ID certificate was previously added but never used in a certificate rotation, this operation replaces that version.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "id": "sql.instances.addEntraIdCertificate",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "project": {
              "location": "path",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "patch": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "parameters": {
            "reconcilePscNetworking": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Set PSC config to the same value as the existing config to reconcile the PSC networking."
            },
            "reconcilePscNetworkingForce": {
              "type": "boolean",
              "description": "Optional. Set PSC config to the same value as the existing config and force reconcile the PSC networking.",
              "location": "query"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.patch",
          "httpMethod": "PATCH"
        },
        "import": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "id": "sql.instances.import",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import"
        },
        "demote": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demote",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "required": true,
              "description": "Required. The name of the Cloud SQL instance.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Required. The project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance."
            }
          },
          "description": "Demotes an existing standalone instance to be a Cloud SQL read replica for an external database server.",
          "id": "sql.instances.demote",
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demote",
          "request": {
            "$ref": "InstancesDemoteRequest"
          }
        },
        "delete": {
          "parameters": {
            "finalBackupExpiryTime": {
              "location": "query",
              "description": "Optional. Final Backup expiration time. Timestamp in UTC of when this resource is considered expired.",
              "format": "google-datetime",
              "type": "string"
            },
            "enableFinalBackup": {
              "type": "boolean",
              "description": "Flag to opt-in for final backup. By default, it is turned off.",
              "location": "query"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "finalBackupDescription": {
              "type": "string",
              "description": "Optional. The description of the final backup.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be deleted.",
              "type": "string"
            },
            "finalBackupTtlDays": {
              "description": "Optional. Retention period of the final backup.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "description": "Deletes a Cloud SQL instance."
        },
        "clone": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the source Cloud SQL instance."
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone"
        },
        "failover": {
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.failover",
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "parameters": {
            "project": {
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance."
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "httpMethod": "POST"
        },
        "pointInTimeRestore": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "sql/v1beta4/projects/{projectsId}:pointInTimeRestore",
          "description": "Point in time restore for an instance managed by Google Cloud Backup and Disaster Recovery.",
          "id": "sql.instances.pointInTimeRestore",
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "description": "Required. The parent resource where you created this instance. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "request": {
            "$ref": "PointInTimeRestoreContext"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/{+parent}:pointInTimeRestore",
          "httpMethod": "POST"
        },
        "RotateEntraIdCertificate": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateEntraIdCertificate",
          "description": "Rotates the Entra Id certificate version to one previously added with the addEntraIdCertificate method.",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID of the project that contains the instance.",
              "required": true
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Required. Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "sql.instances.RotateEntraIdCertificate",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRotateEntraIdCertificateRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "description": "Retrieves a resource containing information about a user.",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "User of the instance.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "host": {
              "type": "string",
              "description": "Host of a user of the instance.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "id": "sql.users.get"
        },
        "insert": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "User"
          },
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Optional. Region of the Cloud SQL instance.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Creates a new user in a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.insert"
        },
        "update": {
          "id": "sql.users.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Updates an existing user in a Cloud SQL instance.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "User"
          },
          "parameters": {
            "revokeExistingServerRoles": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `server_roles` field. If `false` or unset, the server roles specified in `server_roles` are added to the user's existing server roles."
            },
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            },
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "serverRoles": {
              "description": "Optional. The server roles to grant to the SQL Server login. Existing server roles will not be revoked if revoke_existing_roles is false. body.server_roles will be ignored for update request.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "databaseRoles": {
              "repeated": true,
              "description": "Optional. List of database roles to grant to the user. body.database_roles will be ignored for update request.",
              "location": "query",
              "type": "string"
            },
            "revokeExistingRoles": {
              "description": "Optional. Specifies whether to revoke existing roles that are not present in the `database_roles` field. If `false` or unset, the database roles specified in `database_roles` are added to the user's existing roles.",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "list": {
          "description": "Lists users in the specified Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "location": {
              "location": "query",
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.list"
        },
        "delete": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Deletes a user from a Cloud SQL instance.",
          "id": "sql.users.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "location": {
              "description": "Optional. Region of the Cloud SQL instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "name": {
              "description": "Name of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            },
            "host": {
              "type": "string",
              "description": "Host of the user in the instance.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "path": "sql/v1beta4/flags",
          "id": "sql.flags.list",
          "parameterOrder": [],
          "response": {
[...]
