{
  "ownerDomain": "google.com",
  "id": "storagebatchoperations:v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/storage/docs/batch-operations/overview",
  "version_module": true,
  "canonicalName": "Storage Batch Operations",
  "kind": "discovery#restDescription",
  "rootUrl": "https://storagebatchoperations.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "description": "",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "mtlsRootUrl": "https://storagebatchoperations.mtls.googleapis.com/",
  "name": "storagebatchoperations",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ObjectCustomContextPayload": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the object custom context. If set, `value` can't be an empty string because it is a required field in custom context. If unset, `value` is ignored and no changes are made to the `value` field of the custom context payload.",
          "type": "string"
        }
      },
      "id": "ObjectCustomContextPayload",
      "description": "Describes the payload of a user-defined object custom context."
    },
    "Expr": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Counters": {
      "id": "Counters",
      "description": "Describes details about the progress of the job.",
      "type": "object",
      "properties": {
        "succeededObjectCount": {
          "type": "string",
          "description": "Output only. Number of objects completed.",
          "format": "int64",
          "readOnly": true
        },
        "objectCustomContextsUpdated": {
          "description": "Output only. Number of object custom contexts updated. This counter tracks custom contexts where the key already existed, but the payload was modified. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "objectCustomContextsCreated": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of object custom contexts created. This field is only populated for jobs with the UpdateObjectCustomContext transformation."
        },
        "totalBytesTransformed": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The total number of bytes affected by the transformation. For example, this counts bytes deleted for `DeleteObject` operations and bytes rewritten for `RewriteObject` operations.",
          "type": "string"
        },
        "failedObjectCount": {
          "description": "Output only. The number of objects that failed due to user errors or service errors.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "totalObjectCount": {
          "type": "string",
          "description": "Output only. Number of objects listed.",
          "format": "int64",
          "readOnly": true
        },
        "totalBytesFound": {
          "type": "string",
          "description": "Output only. Number of bytes found from source. This field is only populated for jobs with a prefix list object configuration.",
          "format": "int64",
          "readOnly": true
        },
        "objectCustomContextsDeleted": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of object custom contexts deleted. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "AccessControlsUpdates": {
      "type": "object",
      "properties": {
        "grants": {
          "description": "Optional. Grants to add or update. If a grant for same entity exists, its role is updated.",
          "type": "array",
          "items": {
            "$ref": "ObjectAccessControl"
          }
        },
        "removeEntities": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Entities for which all grants should be removed. An entity can't be in both `grants` and `remove_entities`.",
          "type": "array"
        }
      },
      "id": "AccessControlsUpdates",
      "description": "Represents updates to existing access-control entries on an object."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "job": {
          "readOnly": true,
          "description": "Output only. The Job associated with the operation.",
          "$ref": "Job"
        },
        "operation": {
          "type": "string",
          "description": "Output only. The unique operation resource name. Format: projects/{project_id}/locations/global/operations/{operation}.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "TargetLocations": {
      "type": "object",
      "properties": {
        "snapshotTime": {
          "description": "Optional. OPTIONAL. The exact Storage Insights snapshot timestamp to use for the job compatible with the RFC 3339 format (e.g., `2024-01-02T03:04:05Z`). If specified, this exact snapshot must exist in BOTH the `object_attributes_view` and `bucket_attributes_view` for every location listed in `locations`. If the snapshot is missing from either view in any of the locations, the job fails.",
          "type": "string",
          "format": "google-datetime"
        },
        "locations": {
          "description": "Required. REQUIRED. A list of Cloud Storage locations (e.g., `us-central1`) to include in the job. If `snapshot_time` is omitted, the job automatically defaults to the most recent snapshot timestamp that is successfully populated in BOTH the `object_attributes_view` and `bucket_attributes_view` across ALL specified locations. For details on Storage Insights dataset snapshots and views, see: https://docs.cloud.google.com/storage/docs/insights/dataset-tables-and-schemas#schema",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TargetLocations",
      "description": "Describes the Cloud Storage locations to include in a ProjectSource job."
    },
    "RewriteObject": {
      "id": "RewriteObject",
      "description": "Describes options for object rewrite.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Optional. Resource name of the Cloud KMS key that is used to encrypt the object. The Cloud KMS key must be located in same location as the object. For details, see https://cloud.google.com/storage/docs/encryption/using-customer-managed-keys#add-object-key Format: `projects/{project_id}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}` For example: `projects/123456/locations/us-central1/keyRings/my-keyring/cryptoKeys/my-key`. The object will be rewritten and set with the specified KMS key."
        },
        "storageClass": {
          "description": "Optional. Rewrites the object to the specified storage class. Setting this field will perform a full byte copy of the object if the storage class is different from the object's current storage class. If Autoclass is enabled on the bucket, storage class changes are ignored by Cloud Storage.",
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The storage class is not specified.",
            "Standard storage class.",
            "Nearline storage class.",
            "Coldline storage class.",
            "Archive storage class."
          ]
        }
      }
    },
    "CancelJobResponse": {
      "id": "CancelJobResponse",
      "description": "Message for response to cancel Job.",
      "type": "object",
      "properties": {}
    },
    "ErrorLogEntry": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "description": "Optional. Output only. At most 5 error log entries are recorded for a given error code for a job.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "objectUri": {
          "type": "string",
          "description": "Required. Output only. Object URL. e.g. gs://my_bucket/object.txt",
          "readOnly": true
        }
      },
      "id": "ErrorLogEntry",
      "description": "An entry describing an error that has occurred."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "PutMetadata": {
      "id": "PutMetadata",
      "description": "Describes options for object metadata update.",
      "type": "object",
      "properties": {
        "customTime": {
          "description": "Optional. Updates the objects `Custom-Time` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. The time must be specified in RFC 3339 format, for example `YYYY-MM-DD'T'HH:MM:SS'Z'` or `YYYY-MM-DD'T'HH:MM:SS.SS'Z'`. For details, see [Custom-Time](https://cloud.google.com/storage/docs/metadata#custom-time).",
          "type": "string"
        },
        "objectRetention": {
          "description": "Optional. Updates an object's retention configuration. To clear an object's retention, both `retentionMode` and `retainUntilTime` must be left unset (omitted). Setting `retentionMode` to `RETENTION_MODE_UNSPECIFIED` is treated as a no-op. Unlike an unset field, it doesn't modify or clear the retention settings. An object with `LOCKED` retention mode can't have its retention cleared or its `retainUntilTime` reduced. For more information, see [Object retention](https://cloud.google.com/storage/docs/batch-operations/create-manage-batch-operation-jobs#retain-until-time).",
          "$ref": "ObjectRetention"
        },
        "contentDisposition": {
          "type": "string",
          "description": "Optional. Updates objects `Content-Disposition` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Disposition](https://cloud.google.com/storage/docs/metadata#content-disposition)."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Optional. Updates the objects `Content-Language` fixed metadata. Metadata values must use ISO 639-1 language codes. The maximum length for metadata values is 100 characters. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Language](https://cloud.google.com/storage/docs/metadata#content-language)."
        },
        "customMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Updates the object's custom metadata. This operation adds or sets individual custom metadata key-value pairs. Keys specified with empty values have their values cleared. Existing custom metadata keys not included in the request remain unchanged. For details, see [Custom metadata](https://cloud.google.com/storage/docs/metadata#custom-metadata)."
        },
        "contentEncoding": {
          "type": "string",
          "description": "Optional. Updates the objects `Content-Encoding` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Encoding](https://cloud.google.com/storage/docs/metadata#content-encoding)."
        },
        "cacheControl": {
          "description": "Optional. Updates the objects `Cache-Control` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. Additionally, the value for `Custom-Time` can't decrease. For details, see [Cache-Control](https://cloud.google.com/storage/docs/metadata#caching_data).",
          "type": "string"
        },
        "contentType": {
          "description": "Optional. Updates objects `Content-Type` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Type](https://cloud.google.com/storage/docs/metadata#content-type).",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "Manifest": {
      "type": "object",
      "properties": {
        "manifestLocation": {
          "description": "Required. Specify the manifest file location. The format of manifest location can be an absolute path to the object in the format of `gs://bucket_name/path/object_name`. For example, `gs://bucket_name/path/object_name.csv`. Alternatively, you can specify an absolute path with a single wildcard character in the file name, for example `gs://bucket_name/path/file_name*.csv`. If the manifest location is specified with a wildcard, objects in all manifest files matching the pattern will be acted upon. The manifest is a CSV file, uploaded to Cloud Storage, that contains one object or a list of objects that you want to process. Each row in the manifest must include the `bucket` and `name` of the object. You can optionally specify the `generation` of the object. If you don't specify the `generation`, the current version of the object is used. You can optionally include a header row with the following format: `bucket,name,generation`. For example, bucket,name,generation bucket_1,object_1,generation_1 bucket_1,object_2,generation_2 bucket_1,object_3,generation_3 Note: The manifest file must specify only objects within the bucket provided to the job. Rows referencing objects in other buckets are ignored.",
          "type": "string"
        }
      },
      "id": "Manifest",
      "description": "Describes list of objects to be transformed."
    },
    "CancelJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` are ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID isn't supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "CancelJobRequest",
      "description": "Message for Job to Cancel"
    },
    "Bucket": {
      "type": "object",
      "properties": {
        "prefixList": {
          "description": "Specifies objects matching a prefix set.",
          "$ref": "PrefixList"
        },
        "bucket": {
          "description": "Required. Bucket name for the objects to be transformed.",
          "type": "string"
        },
        "manifest": {
          "description": "Specifies objects in a manifest file.",
          "$ref": "Manifest"
        }
      },
      "id": "Bucket",
      "description": "Describes configuration of a single bucket and its objects to be transformed."
    },
    "LoggingConfig": {
      "id": "LoggingConfig",
      "description": "Specifies the Cloud Logging behavior.",
      "type": "object",
      "properties": {
        "logActions": {
          "description": "Required. Specifies the actions to be logged.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "The corresponding transform action in this job."
            ],
            "enum": [
              "LOGGABLE_ACTION_UNSPECIFIED",
              "TRANSFORM"
            ],
            "type": "string"
          }
        },
        "logActionStates": {
          "description": "Required. States in which Action are logged.If empty, no logs are generated.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LOGGABLE_ACTION_STATE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED"
            ],
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "`LoggableAction` completed successfully. `SUCCEEDED` actions are logged as INFO.",
              "`LoggableAction` terminated in an error state. `FAILED` actions are logged as ERROR."
            ]
          }
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "Message for response to listing Jobs",
      "type": "object",
      "properties": {
        "jobs": {
          "type": "array",
          "description": "A list of storage batch jobs.",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "UpdateObjectCustomContext": {
      "type": "object",
      "properties": {
        "clearAll": {
          "description": "If set, must be set to true and all existing object custom contexts are deleted.",
          "type": "boolean"
        },
        "customContextUpdates": {
          "description": "A collection of updates to apply to specific custom contexts. Use this to add, update or delete individual contexts by key.",
          "$ref": "CustomContextUpdates"
        }
      },
      "id": "UpdateObjectCustomContext",
      "description": "Describes options to update object custom contexts."
    },
    "BucketList": {
      "id": "BucketList",
      "description": "Describes list of buckets and their objects to be transformed.",
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "description": "Required. List of buckets and their objects to be transformed. You can specify only one bucket per job. If multiple buckets are specified, an error occurs.",
          "items": {
            "$ref": "Bucket"
          }
        }
      }
    },
    "PrefixList": {
      "type": "object",
      "properties": {
        "includedObjectPrefixes": {
          "description": "Optional. Specify one or more object prefixes. For example: * To match one object, use a single prefix, `prefix1`. * To match multiple objects, use comma-separated prefixes, `prefix1, prefix2`. * To match all objects, use an empty prefix, `''`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PrefixList",
      "description": "Describes prefixes of objects to be transformed."
    },
    "DeleteObject": {
      "id": "DeleteObject",
      "description": "Describes options to delete an object.",
      "type": "object",
      "properties": {
        "permanentObjectDeletionEnabled": {
          "type": "boolean",
          "description": "Required. Controls deletion behavior when versioning is enabled for the object's bucket. If true, both live and noncurrent objects will be permanently deleted. Otherwise live objects in versioned buckets will become noncurrent and objects that were already noncurrent will be skipped. This setting doesn't have any impact on the Soft Delete feature. All objects deleted by this service can be be restored for the duration of the Soft Delete retention duration if enabled. If enabled and the manifest doesn't specify an object's generation, a `GetObjectMetadata` call is made to determine the live object generation."
        }
      }
    },
    "ErrorSummary": {
      "id": "ErrorSummary",
      "description": "A summary of errors by error code, plus a count and sample error log entries.",
      "type": "object",
      "properties": {
        "errorLogEntries": {
          "description": "Required. Sample error logs.",
          "type": "array",
          "items": {
            "$ref": "ErrorLogEntry"
          }
        },
        "errorCount": {
          "description": "Required. Number of errors encountered per `error_code`.",
          "type": "string",
          "format": "int64"
        },
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string",
          "description": "Required. The canonical error code.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      }
    },
    "BucketOperation": {
      "id": "BucketOperation",
      "description": "BucketOperation represents a bucket-level breakdown of a Job.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Created but not yet started.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. State of the BucketOperation.",
          "type": "string"
        },
        "prefixList": {
          "description": "Specifies objects matching a prefix set.",
          "$ref": "PrefixList"
        },
        "errorSummaries": {
          "description": "Output only. Summarizes errors encountered with sample error log entries.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ErrorSummary"
          }
        },
        "counters": {
          "description": "Output only. Information about the progress of the bucket operation.",
          "$ref": "Counters",
          "readOnly": true
        },
        "projectSource": {
          "description": "Specifies objects matching the object filters in a project source.",
          "$ref": "ProjectSource"
        },
        "deleteObject": {
          "description": "Delete objects.",
          "$ref": "DeleteObject"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time that the BucketOperation was started.",
          "format": "google-datetime",
          "readOnly": true
        },
        "putObjectHold": {
          "description": "Changes object hold status.",
          "$ref": "PutObjectHold"
        },
        "updateObjectCustomContext": {
          "description": "Update object custom context.",
          "$ref": "UpdateObjectCustomContext"
        },
        "completeTime": {
          "description": "Output only. The time that the BucketOperation was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "putMetadata": {
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata and fixed-key metadata i.e. Cache-Control, Content-Disposition, Content-Encoding, Content-Language, Content-Type, Custom-Time.",
          "$ref": "PutMetadata"
        },
        "rewriteObject": {
          "description": "Rewrite the object and updates metadata like KMS key.",
          "$ref": "RewriteObject"
        },
        "name": {
          "description": "Identifier. The resource name of the BucketOperation. This is defined by the service. Format: `projects/{project_id}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation}`.",
          "type": "string"
        },
        "manifest": {
          "description": "Specifies objects in a manifest file.",
          "$ref": "Manifest"
        },
        "bucketName": {
          "description": "The bucket name of the objects to be transformed in the BucketOperation.",
          "type": "string"
        },
        "setObjectAcls": {
          "description": "Updates object ACLs.",
          "$ref": "SetObjectAcls"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time that the BucketOperation was created.",
          "type": "string"
        }
      }
    },
    "PutObjectHold": {
      "type": "object",
      "properties": {
        "eventBasedHold": {
          "enumDescriptions": [
            "Default value, Object hold status isn't changed.",
            "Places the hold.",
            "Releases the hold."
          ],
          "description": "Required. Updates object event based holds state. When object event based hold is set, object can't be deleted or replaced. Resets object's time in the bucket for the purposes of the retention period.",
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ],
          "type": "string"
        },
        "temporaryHold": {
          "type": "string",
          "description": "Required. Updates object temporary holds state. When object temporary hold is set, object can't be deleted or replaced.",
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ],
          "enumDescriptions": [
            "Default value, Object hold status isn't changed.",
            "Places the hold.",
            "Releases the hold."
          ]
        }
      },
      "id": "PutObjectHold",
      "description": "Describes options to update object hold."
    },
    "ObjectRetention": {
      "type": "object",
      "properties": {
        "retentionMode": {
          "type": "string",
          "description": "Required. The retention mode.",
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "The retention mode isn't specified.",
            "When the retention mode is `LOCKED`, the `retainUntilTime` can't be removed or reduced.",
            "When the retention mode is `UNLOCKED`, the `retainUntilTime` can be removed or modified."
          ]
        },
        "retainUntilTime": {
          "description": "Required. The object's retention expiration time, during which, the object is protected from being deleted or overwritten. The time must be specified in RFC 3339 format, for example `YYYY-MM-DD'T'HH:MM:SS'Z'` or `YYYY-MM-DD'T'HH:MM:SS.SS'Z'`. To clear an object's retention, both `retentionMode` and `retainUntilTime` must be left unset (omitted). Setting `retentionMode` to `RETENTION_MODE_UNSPECIFIED` is treated as a no-op. Unlike an unset field, it doesn't modify or clear the retention settings.",
          "type": "string"
        }
      },
      "id": "ObjectRetention",
      "description": "Describes options for object retention update."
    },
    "Job": {
      "id": "Job",
      "description": "The storage batch operations job description.",
      "type": "object",
      "properties": {
        "dryRun": {
          "description": "Optional. If true, the job runs in dry run mode, returning the total object count and, if the object configuration is a prefix list, the bytes found from source. No transformations are performed.",
          "type": "boolean"
        },
        "scheduleTime": {
          "description": "Output only. The time that the job was scheduled.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "rewriteObject": {
          "description": "Rewrite the object and updates metadata like KMS key.",
          "$ref": "RewriteObject"
        },
        "name": {
          "description": "Identifier. The resource name of the job. Format: `projects/{project_id}/locations/global/jobs/{job_id}`. For example: `projects/123456/locations/global/jobs/job01`. `job_id` is unique in a given project.",
          "type": "string"
        },
        "setObjectAcls": {
          "description": "Updates object ACLs.",
          "$ref": "SetObjectAcls"
        },
        "createTime": {
          "description": "Output only. The time that the job was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleteObject": {
          "description": "Delete objects.",
          "$ref": "DeleteObject"
        },
        "updateObjectCustomContext": {
          "description": "Update object custom context.",
          "$ref": "UpdateObjectCustomContext"
        },
        "completeTime": {
          "description": "Output only. The time that the job was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "putMetadata": {
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata. For example, `Cache-Control`, `Content-Disposition`, `Content-Encoding`, `Content-Language`, `Content-Type`, `Custom-Time`, and `Retention configuration`.",
          "$ref": "PutMetadata"
        },
        "isMultiBucketJob": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this job operates on multiple buckets. Multi-bucket jobs are subject to different quota limits than single-bucket jobs."
        },
        "putObjectHold": {
          "description": "Changes object hold status.",
          "$ref": "PutObjectHold"
        },
        "errorSummaries": {
          "type": "array",
          "description": "Output only. Summarizes errors encountered with sample error log entries.",
          "items": {
            "$ref": "ErrorSummary"
          },
          "readOnly": true
        },
        "bucketList": {
          "description": "Specifies a list of buckets and their objects to be transformed.",
          "$ref": "BucketList"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED",
            "QUEUED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure.",
            "Queued but not yet started."
          ],
          "description": "Output only. State of the job.",
          "type": "string",
          "readOnly": true
        },
        "projectSource": {
          "description": "Specifies a project source and filters to identify objects to be transformed.",
          "$ref": "ProjectSource"
        },
        "loggingConfig": {
          "description": "Optional. Logging configuration.",
          "$ref": "LoggingConfig"
        },
        "description": {
          "description": "Optional. A user-provided description for the job. Maximum length: 1024 bytes when unicode-encoded.",
          "type": "string"
        },
        "counters": {
          "readOnly": true,
          "description": "Output only. Information about the progress of the job.",
          "$ref": "Counters"
        }
      }
    },
    "CustomContextUpdates": {
      "type": "object",
      "properties": {
        "updates": {
          "description": "Optional. Insert or update the existing custom contexts.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ObjectCustomContextPayload"
          }
        },
        "keysToClear": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Custom contexts to clear by key. A key can't be present in both `updates` and `keys_to_clear`."
        }
      },
      "id": "CustomContextUpdates",
      "description": "Describes a collection of updates to apply to custom contexts identified by key."
    },
    "ProjectSource": {
      "type": "object",
      "properties": {
        "insightsDatasetConfig": {
          "type": "string",
          "description": "Required. The resource identifier of the Storage Insights dataset configuration. Storage batch operations uses the latest snapshot from this dataset as the source to list and filter target objects. Format: `projects/{project_id}/locations/{location}/datasetConfigs/{dataset_config}`."
        },
        "project": {
          "type": "string",
          "description": "Required. Project name of the objects to be transformed. e.g. projects/my-project or projects/123456."
        },
        "dryRunJobId": {
          "description": "Optional. The unique identifier of a dry run job to use as the baseline for the current job. Specifying this ID ensures the job is executed against the same set of objects validated during the dry run. The value corresponds to the {job_id} segment of the resource name: `projects/{project_id}/locations/{location}/jobs/{job_id}`.",
          "type": "string"
        },
        "targetLocations": {
          "description": "Optional. Specifies the Cloud Storage locations to include in the job. If provided, only buckets and objects within these locations will be discovered from the Storage Insights dataset as configured in the `insights_dataset_config`. If omitted, the job will discover buckets and objects from all locations configured in the `insights_dataset_config`.",
          "$ref": "TargetLocations"
        },
        "snapshotTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The snapshot time used by the job to read the Storage Insights dataset for bucket and object discovery. This field is populated by the service and reflects the exact timestamp of the dataset snapshot used."
        },
        "bucketFilters": {
          "description": "Optional. Filters expressed in Common Expression Language (CEL) to apply to buckets to identify buckets with objects to be transformed.",
          "$ref": "Expr"
        },
        "objectFilters": {
          "description": "Optional. Filters expressed in Common Expression Language (CEL) to apply to objects to identify objects to be transformed.",
          "$ref": "Expr"
        }
      },
      "id": "ProjectSource",
      "description": "Describes the project source where the objects satisfying the filters will be transformed."
    },
    "ObjectAccessControl": {
      "type": "object",
      "properties": {
        "entity": {
          "type": "string",
          "description": "Required. The entity holding the permission, in one of the following forms: * `allUsers` * `allAuthenticatedUsers`"
        },
        "role": {
          "description": "Required. The role to grant. Acceptable values are: * `READER` - gives read access to the object. * `OWNER` - gives owner access to the object.",
          "type": "string"
        }
      },
      "id": "ObjectAccessControl",
      "description": "Represents an access control entry on an object."
    },
    "SetObjectAcls": {
      "type": "object",
      "properties": {
        "accessControlsUpdates": {
          "description": "Required. Add, update, or remove grants from the object's existing ACLs.",
          "$ref": "AccessControlsUpdates"
        }
      },
      "id": "SetObjectAcls",
      "description": "Describes options for setting object ACLs."
    },
    "ListBucketOperationsResponse": {
      "id": "ListBucketOperationsResponse",
      "description": "Message for response to listing BucketOperations",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "bucketOperations": {
          "type": "array",
          "description": "A list of storage batch bucket operations.",
          "items": {
            "$ref": "BucketOperation"
          }
        }
      }
    }
  },
  "title": "Storage Batch Operations API",
  "baseUrl": "https://storagebatchoperations.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                }
              },
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "storagebatchoperations.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations"
            },
            "get": {
              "id": "storagebatchoperations.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "storagebatchoperations.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "storagebatchoperations.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "jobs": {
              "methods": {
                "get": {
                  "id": "storagebatchoperations.projects.locations.jobs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets a batch job.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "description": "Required. The `name` of the job to retrieve. Format: `projects/{project_id}/locations/global/jobs/{job_id}`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "id": "storagebatchoperations.projects.locations.jobs.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "CancelJobResponse"
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Cancels a batch job.",
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` of the job to cancel. Format: `projects/{project_id}/locations/global/jobs/{job_id}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:cancel",
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a batch job.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The `name` of the job to delete. Format: `projects/{project_id}/locations/global/jobs/{job_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any child bucket operations of the job are deleted. We recommend setting this to `true`. You can't mutate bucket operations directly, so only the `jobs.delete` permission is required to delete a job (and its child bucket operations).",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` are ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID isn't supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "id": "storagebatchoperations.projects.locations.jobs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "id": "storagebatchoperations.projects.locations.jobs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The list page size. The default page size is 100.",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. Filters results as defined by https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: projects/{project_id}/locations/global.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list page token."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Field to sort by. Supported fields are `name` and `create_time`.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Jobs in a given project.",
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "storagebatchoperations.projects.locations.jobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The value for parent.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "jobId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A unique identifier for the job. `job_id` must be up to 128 characters and must include only characters available in DNS names, as defined by RFC-1123."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` are ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID isn't supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Creates a batch job.",
                  "path": "v1/{+parent}/jobs"
                }
              },
              "resources": {
                "bucketOperations": {
                  "methods": {
                    "list": {
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListBucketOperationsResponse"
                      },
                      "description": "Lists BucketOperations in a given project and job.",
                      "path": "v1/{+parent}/bucketOperations",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. Supported fields are `name` and `create_time`.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filters results as defined by https://google.aip.dev/160."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Format: `projects/{project_id}/locations/global/jobs/{job_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The list page token.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The list page size. Default page size is 100.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/bucketOperations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The `name` of the bucket operation to retrieve. Format: `projects/{project_id}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation_id}`."
                        }
                      },
                      "description": "Gets a BucketOperation.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "BucketOperation"
                      },
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations/{bucketOperationsId}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260729",
  "protocol": "rest",
  "version": "v1"
}