{
  "basePath": "",
  "rootUrl": "https://storagebatchoperations.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "revision": "20260819",
  "description": "",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://storagebatchoperations.mtls.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/storage/docs/batch-operations/overview",
  "id": "storagebatchoperations:v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobs": {
              "resources": {
                "bucketOperations": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "BucketOperation"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations/{bucketOperationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The `name` of the bucket operation to retrieve. Format: `projects/{project_id}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/bucketOperations/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.get",
                      "description": "Gets a BucketOperation."
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists BucketOperations in a given project and job.",
                      "response": {
                        "$ref": "ListBucketOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/bucketOperations",
                      "httpMethod": "GET",
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.list",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Supported fields are `name` and `create_time`.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                          "description": "Required. Format: `projects/{project_id}/locations/global/jobs/{job_id}`."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The list page token.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filters results as defined by https://google.aip.dev/160."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The list page size. Default page size is 100."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "storagebatchoperations.projects.locations.jobs.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` are ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID isn't supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "jobId": {
                      "location": "query",
                      "description": "Required. A unique identifier for the job. `job_id` must be up to 128 characters and must include only characters available in DNS names, as defined by RFC-1123.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The value for parent.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Creates a batch job.",
                  "path": "v1/{+parent}/jobs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a batch job.",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "description": "Required. The `name` of the job to retrieve. Format: `projects/{project_id}/locations/global/jobs/{job_id}`.",
                      "type": "string"
                    }
                  },
                  "id": "storagebatchoperations.projects.locations.jobs.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "id": "storagebatchoperations.projects.locations.jobs.cancel",
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The `name` of the job to cancel. Format: `projects/{project_id}/locations/global/jobs/{job_id}`."
                    }
                  },
                  "description": "Cancels a batch job.",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CancelJobResponse"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "path": "v1/{+parent}/jobs",
                  "id": "storagebatchoperations.projects.locations.jobs.list",
                  "description": "Lists Jobs in a given project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: projects/{project_id}/locations/global."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field to sort by. Supported fields are `name` and `create_time`."
                    },
                    "pageToken": {
                      "description": "Optional. The list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filters results as defined by https://google.aip.dev/160.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The list page size. The default page size is 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListJobsResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a batch job.",
                  "id": "storagebatchoperations.projects.locations.jobs.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, any child bucket operations of the job are deleted. We recommend setting this to `true`. You can't mutate bucket operations directly, so only the `jobs.delete` permission is required to delete a job (and its child bucket operations)."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` are ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID isn't supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The `name` of the job to delete. Format: `projects/{project_id}/locations/global/jobs/{job_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "storagebatchoperations.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "id": "storagebatchoperations.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "storagebatchoperations.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "storagebatchoperations.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "storagebatchoperations.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "storagebatchoperations.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "canonicalName": "Storage Batch Operations",
  "schemas": {
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "LoggingConfig": {
      "type": "object",
      "properties": {
        "logActionStates": {
          "description": "Required. States in which Action are logged.If empty, no logs are generated.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "`LoggableAction` completed successfully. `SUCCEEDED` actions are logged as INFO.",
              "`LoggableAction` terminated in an error state. `FAILED` actions are logged as ERROR."
            ],
            "enum": [
              "LOGGABLE_ACTION_STATE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED"
            ]
          }
        },
        "logActions": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "The corresponding transform action in this job."
            ],
            "enum": [
              "LOGGABLE_ACTION_UNSPECIFIED",
              "TRANSFORM"
            ]
          },
          "type": "array",
          "description": "Required. Specifies the actions to be logged."
        }
      },
      "description": "Specifies the Cloud Logging behavior.",
      "id": "LoggingConfig"
    },
    "AccessControlsUpdates": {
      "type": "object",
      "id": "AccessControlsUpdates",
      "description": "Represents updates to existing access-control entries on an object.",
      "properties": {
        "grants": {
          "type": "array",
          "items": {
            "$ref": "ObjectAccessControl"
          },
          "description": "Optional. Grants to add or update. If a grant for same entity exists, its role is updated."
        },
        "removeEntities": {
          "description": "Optional. Entities for which all grants should be removed. An entity can't be in both `grants` and `remove_entities`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListJobsResponse": {
      "description": "Message for response to listing Jobs",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "A list of storage batch jobs."
        }
      },
      "id": "ListJobsResponse",
      "type": "object"
    },
    "TargetLocations": {
      "description": "Describes the Cloud Storage locations to include in a ProjectSource job.",
      "properties": {
        "locations": {
          "description": "Required. REQUIRED. A list of Cloud Storage locations (e.g., `us-central1`) to include in the job. If `snapshot_time` is omitted, the job automatically defaults to the most recent snapshot timestamp that is successfully populated in BOTH the `object_attributes_view` and `bucket_attributes_view` across ALL specified locations. For details on Storage Insights dataset snapshots and views, see: https://docs.cloud.google.com/storage/docs/insights/dataset-tables-and-schemas#schema",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "snapshotTime": {
          "description": "Optional. OPTIONAL. The exact Storage Insights snapshot timestamp to use for the job compatible with the RFC 3339 format (e.g., `2024-01-02T03:04:05Z`). If specified, this exact snapshot must exist in BOTH the `object_attributes_view` and `bucket_attributes_view` for every location listed in `locations`. If the snapshot is missing from either view in any of the locations, the job fails.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "TargetLocations"
    },
    "CustomContextUpdates": {
      "id": "CustomContextUpdates",
      "description": "Describes a collection of updates to apply to custom contexts identified by key.",
      "type": "object",
      "properties": {
        "updates": {
          "description": "Optional. Insert or update the existing custom contexts.",
          "additionalProperties": {
            "$ref": "ObjectCustomContextPayload"
          },
          "type": "object"
        },
        "keysToClear": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom contexts to clear by key. A key can't be present in both `updates` and `keys_to_clear`.",
          "type": "array"
        }
      }
    },
    "ErrorLogEntry": {
      "properties": {
        "errorDetails": {
          "description": "Optional. Output only. At most 5 error log entries are recorded for a given error code for a job.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "objectUri": {
          "description": "Required. Output only. Object URL. e.g. gs://my_bucket/object.txt",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "An entry describing an error that has occurred.",
      "id": "ErrorLogEntry"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "job": {
          "$ref": "Job",
          "readOnly": true,
          "description": "Output only. The Job associated with the operation."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "operation": {
          "description": "Output only. The unique operation resource name. Format: projects/{project_id}/locations/global/operations/{operation}.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ErrorSummary": {
      "properties": {
        "errorCount": {
          "type": "string",
          "description": "Required. Number of errors encountered per `error_code`.",
          "format": "int64"
        },
        "errorCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Required. The canonical error code.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string"
        },
        "errorLogEntries": {
          "description": "Required. Sample error logs.",
          "items": {
            "$ref": "ErrorLogEntry"
          },
          "type": "array"
        }
      },
      "id": "ErrorSummary",
      "description": "A summary of errors by error code, plus a count and sample error log entries.",
      "type": "object"
    },
    "PutObjectHold": {
      "properties": {
        "eventBasedHold": {
          "enumDescriptions": [
            "Default value, Object hold status isn't changed.",
            "Places the hold.",
            "Releases the hold."
          ],
          "type": "string",
          "description": "Required. Updates object event based holds state. When object event based hold is set, object can't be deleted or replaced. Resets object's time in the bucket for the purposes of the retention period.",
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ]
        },
        "temporaryHold": {
          "description": "Required. Updates object temporary holds state. When object temporary hold is set, object can't be deleted or replaced.",
          "type": "string",
          "enumDescriptions": [
            "Default value, Object hold status isn't changed.",
            "Places the hold.",
            "Releases the hold."
          ],
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ]
        }
      },
      "description": "Describes options to update object hold.",
      "type": "object",
      "id": "PutObjectHold"
    },
    "CancelJobResponse": {
      "id": "CancelJobResponse",
      "properties": {},
      "type": "object",
      "description": "Message for response to cancel Job."
    },
    "ObjectRetention": {
      "type": "object",
      "id": "ObjectRetention",
      "description": "Describes options for object retention update.",
      "properties": {
        "retentionMode": {
          "description": "Required. The retention mode.",
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "The retention mode isn't specified.",
            "When the retention mode is `LOCKED`, the `retainUntilTime` can't be removed or reduced.",
            "When the retention mode is `UNLOCKED`, the `retainUntilTime` can be removed or modified."
          ],
          "type": "string"
        },
        "retainUntilTime": {
          "description": "Required. The object's retention expiration time, during which, the object is protected from being deleted or overwritten. The time must be specified in RFC 3339 format, for example `YYYY-MM-DD'T'HH:MM:SS'Z'` or `YYYY-MM-DD'T'HH:MM:SS.SS'Z'`. To clear an object's retention, both `retentionMode` and `retainUntilTime` must be left unset (omitted). Setting `retentionMode` to `RETENTION_MODE_UNSPECIFIED` is treated as a no-op. Unlike an unset field, it doesn't modify or clear the retention settings.",
          "type": "string"
        }
      }
    },
    "ObjectAccessControl": {
      "id": "ObjectAccessControl",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Required. The role to grant. Acceptable values are: * `READER` - gives read access to the object. * `OWNER` - gives owner access to the object."
        },
        "entity": {
          "type": "string",
          "description": "Required. The entity holding the permission, in one of the following forms: * `allUsers` * `allAuthenticatedUsers`"
        }
      },
      "description": "Represents an access control entry on an object."
    },
    "RewriteObject": {
      "id": "RewriteObject",
      "type": "object",
      "properties": {
        "storageClass": {
          "description": "Optional. Rewrites the object to the specified storage class. Setting this field will perform a full byte copy of the object if the storage class is different from the object's current storage class. If Autoclass is enabled on the bucket, storage class changes are ignored by Cloud Storage.",
          "type": "string",
          "enumDescriptions": [
            "The storage class is not specified.",
            "Standard storage class.",
            "Nearline storage class.",
            "Coldline storage class.",
            "Archive storage class."
          ],
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE"
          ]
        },
        "kmsKey": {
          "description": "Optional. Resource name of the Cloud KMS key that is used to encrypt the object. The Cloud KMS key must be located in same location as the object. For details, see https://cloud.google.com/storage/docs/encryption/using-customer-managed-keys#add-object-key Format: `projects/{project_id}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}` For example: `projects/123456/locations/us-central1/keyRings/my-keyring/cryptoKeys/my-key`. The object will be rewritten and set with the specified KMS key.",
          "type": "string"
        }
      },
      "description": "Describes options for object rewrite."
    },
    "CancelJobRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` are ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID isn't supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "CancelJobRequest",
      "type": "object",
      "description": "Message for Job to Cancel"
    },
    "PrefixList": {
      "properties": {
        "includedObjectPrefixes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specify one or more object prefixes. For example: * To match one object, use a single prefix, `prefix1`. * To match multiple objects, use comma-separated prefixes, `prefix1, prefix2`. * To match all objects, use an empty prefix, `''`",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Describes prefixes of objects to be transformed.",
      "id": "PrefixList"
    },
    "Bucket": {
      "type": "object",
      "id": "Bucket",
      "properties": {
        "prefixList": {
          "$ref": "PrefixList",
          "description": "Specifies objects matching a prefix set."
        },
        "manifest": {
          "description": "Specifies objects in a manifest file.",
          "$ref": "Manifest"
        },
        "bucket": {
          "description": "Required. Bucket name for the objects to be transformed.",
          "type": "string"
        }
      },
      "description": "Describes configuration of a single bucket and its objects to be transformed."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "UpdateObjectCustomContext": {
      "description": "Describes options to update object custom contexts.",
      "properties": {
        "customContextUpdates": {
          "description": "A collection of updates to apply to specific custom contexts. Use this to add, update or delete individual contexts by key.",
          "$ref": "CustomContextUpdates"
        },
        "clearAll": {
          "description": "If set, must be set to true and all existing object custom contexts are deleted.",
          "type": "boolean"
        }
      },
      "id": "UpdateObjectCustomContext",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "ObjectCustomContextPayload": {
      "description": "Describes the payload of a user-defined object custom context.",
      "properties": {
        "value": {
          "description": "The value of the object custom context. If set, `value` can't be an empty string because it is a required field in custom context. If unset, `value` is ignored and no changes are made to the `value` field of the custom context payload.",
          "type": "string"
        }
      },
      "id": "ObjectCustomContextPayload",
      "type": "object"
    },
    "Manifest": {
      "id": "Manifest",
      "properties": {
        "manifestLocation": {
          "description": "Required. Specify the manifest file location. The format of manifest location can be an absolute path to the object in the format of `gs://bucket_name/path/object_name`. For example, `gs://bucket_name/path/object_name.csv`. Alternatively, you can specify an absolute path with a single wildcard character in the file name, for example `gs://bucket_name/path/file_name*.csv`. If the manifest location is specified with a wildcard, objects in all manifest files matching the pattern will be acted upon. The manifest is a CSV file, uploaded to Cloud Storage, that contains one object or a list of objects that you want to process. Each row in the manifest must include the `bucket` and `name` of the object. You can optionally specify the `generation` of the object. If you don't specify the `generation`, the current version of the object is used. You can optionally include a header row with the following format: `bucket,name,generation`. For example, bucket,name,generation bucket_1,object_1,generation_1 bucket_1,object_2,generation_2 bucket_1,object_3,generation_3 Note: The manifest file must specify only objects within the bucket provided to the job. Rows referencing objects in other buckets are ignored.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes list of objects to be transformed."
    },
    "BucketList": {
      "id": "BucketList",
      "properties": {
        "buckets": {
          "description": "Required. List of buckets and their objects to be transformed. You can specify only one bucket per job. If multiple buckets are specified, an error occurs.",
          "type": "array",
          "items": {
            "$ref": "Bucket"
          }
        }
      },
      "type": "object",
      "description": "Describes list of buckets and their objects to be transformed."
    },
    "BucketOperation": {
      "description": "BucketOperation represents a bucket-level breakdown of a Job.",
      "properties": {
        "putMetadata": {
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata and fixed-key metadata i.e. Cache-Control, Content-Disposition, Content-Encoding, Content-Language, Content-Type, Custom-Time.",
          "$ref": "PutMetadata"
        },
        "errorSummaries": {
          "items": {
            "$ref": "ErrorSummary"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Summarizes errors encountered with sample error log entries."
        },
        "counters": {
          "$ref": "Counters",
          "description": "Output only. Information about the progress of the bucket operation.",
          "readOnly": true
        },
        "prefixList": {
          "description": "Specifies objects matching a prefix set.",
          "$ref": "PrefixList"
        },
        "deleteObject": {
          "description": "Delete objects.",
          "$ref": "DeleteObject"
        },
        "completeTime": {
          "type": "string",
          "description": "Output only. The time that the BucketOperation was completed.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time that the BucketOperation was created.",
          "type": "string"
        },
        "setObjectAcls": {
          "$ref": "SetObjectAcls",
          "description": "Updates object ACLs."
        },
        "updateObjectCustomContext": {
          "$ref": "UpdateObjectCustomContext",
          "description": "Update object custom context."
        },
        "manifest": {
          "$ref": "Manifest",
          "description": "Specifies objects in a manifest file."
        },
        "name": {
          "description": "Identifier. The resource name of the BucketOperation. This is defined by the service. Format: `projects/{project_id}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation}`.",
          "type": "string"
        },
        "putObjectHold": {
          "description": "Changes object hold status.",
          "$ref": "PutObjectHold"
        },
        "startTime": {
          "description": "Output only. The time that the BucketOperation was started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Created but not yet started.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure."
          ],
          "readOnly": true,
          "description": "Output only. State of the BucketOperation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED"
          ]
        },
        "projectSource": {
          "$ref": "ProjectSource",
          "description": "Specifies objects matching the object filters in a project source."
        },
        "rewriteObject": {
          "$ref": "RewriteObject",
          "description": "Rewrite the object and updates metadata like KMS key."
        },
        "bucketName": {
          "description": "The bucket name of the objects to be transformed in the BucketOperation.",
          "type": "string"
        }
      },
      "id": "BucketOperation",
      "type": "object"
    },
    "ListBucketOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bucketOperations": {
          "items": {
            "$ref": "BucketOperation"
          },
          "description": "A list of storage batch bucket operations.",
          "type": "array"
        }
      },
      "id": "ListBucketOperationsResponse",
      "description": "Message for response to listing BucketOperations"
    },
    "Job": {
      "properties": {
        "projectSource": {
          "description": "Specifies a project source and filters to identify objects to be transformed.",
          "$ref": "ProjectSource"
        },
        "rewriteObject": {
          "description": "Rewrite the object and updates metadata like KMS key.",
          "$ref": "RewriteObject"
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-provided description for the job. Maximum length: 1024 bytes when unicode-encoded."
        },
        "loggingConfig": {
          "description": "Optional. Logging configuration.",
          "$ref": "LoggingConfig"
        },
        "deleteObject": {
          "$ref": "DeleteObject",
          "description": "Delete objects."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. The time that the job was completed.",
          "readOnly": true,
          "type": "string"
        },
        "putObjectHold": {
          "description": "Changes object hold status.",
          "$ref": "PutObjectHold"
        },
        "isMultiBucketJob": {
          "type": "boolean",
          "description": "Output only. If true, this job operates on multiple buckets. Multi-bucket jobs are subject to different quota limits than single-bucket jobs.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time that the job was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the job. Format: `projects/{project_id}/locations/global/jobs/{job_id}`. For example: `projects/123456/locations/global/jobs/job01`. `job_id` is unique in a given project.",
          "type": "string"
        },
        "setObjectAcls": {
          "description": "Updates object ACLs.",
          "$ref": "SetObjectAcls"
        },
        "updateObjectCustomContext": {
          "description": "Update object custom context.",
          "$ref": "UpdateObjectCustomContext"
        },
        "dryRun": {
          "description": "Optional. If true, the job runs in dry run mode, returning the total object count and, if the object configuration is a prefix list, the bytes found from source. No transformations are performed.",
          "type": "boolean"
        },
        "counters": {
          "readOnly": true,
          "description": "Output only. Information about the progress of the job.",
          "$ref": "Counters"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED",
            "QUEUED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure.",
            "Queued but not yet started."
          ],
          "type": "string",
          "description": "Output only. State of the job."
        },
        "scheduleTime": {
          "readOnly": true,
          "description": "Output only. The time that the job was scheduled.",
          "type": "string",
          "format": "google-datetime"
        },
        "bucketList": {
          "description": "Specifies a list of buckets and their objects to be transformed.",
          "$ref": "BucketList"
        },
        "putMetadata": {
          "$ref": "PutMetadata",
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata. For example, `Cache-Control`, `Content-Disposition`, `Content-Encoding`, `Content-Language`, `Content-Type`, `Custom-Time`, and `Retention configuration`."
        },
        "errorSummaries": {
          "readOnly": true,
          "description": "Output only. Summarizes errors encountered with sample error log entries.",
          "items": {
            "$ref": "ErrorSummary"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Job",
      "description": "The storage batch operations job description."
    },
    "ProjectSource": {
      "description": "Describes the project source where the objects satisfying the filters will be transformed.",
      "id": "ProjectSource",
      "properties": {
        "dryRunJobId": {
          "type": "string",
          "description": "Optional. The unique identifier of a dry run job to use as the baseline for the current job. Specifying this ID ensures the job is executed against the same set of objects validated during the dry run. The value corresponds to the {job_id} segment of the resource name: `projects/{project_id}/locations/{location}/jobs/{job_id}`."
        },
        "snapshotTime": {
          "description": "Output only. The snapshot time used by the job to read the Storage Insights dataset for bucket and object discovery. This field is populated by the service and reflects the exact timestamp of the dataset snapshot used.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "objectFilters": {
          "$ref": "Expr",
          "description": "Optional. Filters expressed in Common Expression Language (CEL) to apply to objects to identify objects to be transformed."
        },
        "project": {
          "description": "Required. Project name of the objects to be transformed. e.g. projects/my-project or projects/123456.",
          "type": "string"
        },
        "bucketFilters": {
          "description": "Optional. Filters expressed in Common Expression Language (CEL) to apply to buckets to identify buckets with objects to be transformed.",
          "$ref": "Expr"
        },
        "insightsDatasetConfig": {
          "description": "Required. The resource identifier of the Storage Insights dataset configuration. Storage batch operations uses the latest snapshot from this dataset as the source to list and filter target objects. Format: `projects/{project_id}/locations/{location}/datasetConfigs/{dataset_config}`.",
          "type": "string"
        },
        "targetLocations": {
          "$ref": "TargetLocations",
          "description": "Optional. Specifies the Cloud Storage locations to include in the job. If provided, only buckets and objects within these locations will be discovered from the Storage Insights dataset as configured in the `insights_dataset_config`. If omitted, the job will discover buckets and objects from all locations configured in the `insights_dataset_config`."
        }
      },
      "type": "object"
    },
    "DeleteObject": {
      "id": "DeleteObject",
      "properties": {
        "permanentObjectDeletionEnabled": {
          "type": "boolean",
          "description": "Required. Controls deletion behavior when versioning is enabled for the object's bucket. If true, both live and noncurrent objects will be permanently deleted. Otherwise live objects in versioned buckets will become noncurrent and objects that were already noncurrent will be skipped. This setting doesn't have any impact on the Soft Delete feature. All objects deleted by this service can be be restored for the duration of the Soft Delete retention duration if enabled. If enabled and the manifest doesn't specify an object's generation, a `GetObjectMetadata` call is made to determine the live object generation."
        }
      },
      "type": "object",
      "description": "Describes options to delete an object."
    },
    "SetObjectAcls": {
      "type": "object",
      "id": "SetObjectAcls",
      "properties": {
        "accessControlsUpdates": {
          "$ref": "AccessControlsUpdates",
          "description": "Required. Add, update, or remove grants from the object's existing ACLs."
        }
      },
      "description": "Describes options for setting object ACLs."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "Counters": {
      "type": "object",
      "properties": {
        "succeededObjectCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of objects completed.",
          "type": "string"
        },
        "totalObjectCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of objects listed.",
          "format": "int64"
        },
        "totalBytesFound": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of bytes found from source. This field is only populated for jobs with a prefix list object configuration.",
          "readOnly": true
        },
        "objectCustomContextsDeleted": {
          "readOnly": true,
          "description": "Output only. Number of object custom contexts deleted. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "format": "int64",
          "type": "string"
        },
        "failedObjectCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of objects that failed due to user errors or service errors."
        },
        "totalBytesTransformed": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total number of bytes affected by the transformation. For example, this counts bytes deleted for `DeleteObject` operations and bytes rewritten for `RewriteObject` operations."
        },
        "objectCustomContextsCreated": {
          "description": "Output only. Number of object custom contexts created. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "objectCustomContextsUpdated": {
          "description": "Output only. Number of object custom contexts updated. This counter tracks custom contexts where the key already existed, but the payload was modified. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Counters",
      "description": "Describes details about the progress of the job."
    },
    "PutMetadata": {
      "id": "PutMetadata",
      "description": "Describes options for object metadata update.",
      "type": "object",
      "properties": {
        "customTime": {
          "description": "Optional. Updates the objects `Custom-Time` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. The time must be specified in RFC 3339 format, for example `YYYY-MM-DD'T'HH:MM:SS'Z'` or `YYYY-MM-DD'T'HH:MM:SS.SS'Z'`. For details, see [Custom-Time](https://cloud.google.com/storage/docs/metadata#custom-time).",
          "type": "string"
        },
        "cacheControl": {
          "description": "Optional. Updates the objects `Cache-Control` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. Additionally, the value for `Custom-Time` can't decrease. For details, see [Cache-Control](https://cloud.google.com/storage/docs/metadata#caching_data).",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Optional. Updates the objects `Content-Language` fixed metadata. Metadata values must use ISO 639-1 language codes. The maximum length for metadata values is 100 characters. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Language](https://cloud.google.com/storage/docs/metadata#content-language).",
          "type": "string"
        },
        "customMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Updates the object's custom metadata. This operation adds or sets individual custom metadata key-value pairs. Keys specified with empty values have their values cleared. Existing custom metadata keys not included in the request remain unchanged. For details, see [Custom metadata](https://cloud.google.com/storage/docs/metadata#custom-metadata)."
        },
        "contentEncoding": {
          "type": "string",
          "description": "Optional. Updates the objects `Content-Encoding` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Encoding](https://cloud.google.com/storage/docs/metadata#content-encoding)."
        },
        "contentType": {
          "type": "string",
          "description": "Optional. Updates objects `Content-Type` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Type](https://cloud.google.com/storage/docs/metadata#content-type)."
        },
        "contentDisposition": {
          "description": "Optional. Updates objects `Content-Disposition` fixed metadata. Unset values in the request are ignored. To clear the metadata, set an empty value. For details, see [Content-Disposition](https://cloud.google.com/storage/docs/metadata#content-disposition).",
          "type": "string"
        },
        "objectRetention": {
          "description": "Optional. Updates an object's retention configuration. To clear an object's retention, both `retentionMode` and `retainUntilTime` must be left unset (omitted). Setting `retentionMode` to `RETENTION_MODE_UNSPECIFIED` is treated as a no-op. Unlike an unset field, it doesn't modify or clear the retention settings. An object with `LOCKED` retention mode can't have its retention cleared or its `retainUntilTime` reduced. For more information, see [Object retention](https://cloud.google.com/storage/docs/batch-operations/create-manage-batch-operation-jobs#retain-until-time).",
          "$ref": "ObjectRetention"
        }
      }
    }
  },
  "baseUrl": "https://storagebatchoperations.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "storagebatchoperations",
  "title": "Storage Batch Operations API",
  "batchPath": "batch"
}