{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/tag-manager",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "version": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "tagmanager.accounts.get",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "GET",
          "description": "Gets a GTM Account.",
          "parameterOrder": [
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          }
        },
        "update": {
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "tagmanager.accounts.update",
          "parameterOrder": [
            "accountId"
          ],
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "description": "Updates a GTM Account."
        },
        "list": {
          "path": "tagmanager/v1/accounts",
          "parameters": {},
          "id": "tagmanager.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "tagmanager/v1/accounts",
          "description": "Lists all GTM Accounts that a user has access to.",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameterOrder": []
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "update": {
              "id": "tagmanager.accounts.permissions.update",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "permissionId": {
                  "description": "The GTM User ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "PUT",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Updates a user's Account & Container Permissions.",
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "request": {
                "$ref": "UserAccess"
              }
            },
            "delete": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "id": "tagmanager.accounts.permissions.delete",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "permissionId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM User ID.",
                  "type": "string"
                }
              }
            },
            "list": {
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.permissions.list",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "GET"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.permissions.create",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "UserAccess"
              },
              "description": "Creates a user's Account & Container Permissions."
            },
            "get": {
              "description": "Gets a user's Account & Container Permissions.",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "permissionId": {
                  "description": "The GTM User ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.permissions.get",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "GET"
            }
          }
        },
        "containers": {
          "methods": {
            "update": {
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "request": {
                "$ref": "Container"
              },
              "description": "Updates a Container.",
              "httpMethod": "PUT",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "fingerprint": {
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "type": "string",
                  "location": "query"
                },
                "containerId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Container ID.",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.containers.update",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "description": "Deletes a Container.",
              "id": "tagmanager.accounts.containers.delete",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "containerId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Container ID.",
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "response": {
                "$ref": "ListContainersResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "Lists all Containers that belongs to a GTM Account.",
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.containers.list",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "create": {
              "id": "tagmanager.accounts.containers.create",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "httpMethod": "POST",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Creates a Container.",
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Container"
              }
            },
            "get": {
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "containerId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Container ID.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.containers.get",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Gets a Container.",
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ]
            }
          },
          "resources": {
            "variables": {
              "methods": {
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.variables.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Variable"
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Creates a GTM Variable."
                },
                "get": {
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "description": "Gets a GTM Variable.",
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.variables.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "list": {
                  "description": "Lists all GTM Variables of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.variables.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "httpMethod": "GET"
                },
                "update": {
                  "description": "Updates a GTM Variable.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "request": {
                    "$ref": "Variable"
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.variables.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "PUT"
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "variableId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "description": "Deletes a GTM Variable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}"
                }
              }
            },
            "folders": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Folders of a Container."
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.folders.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "folderId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "request": {
                    "$ref": "Folder"
                  },
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Folder."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.folders.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.folders.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "POST",
                  "description": "Creates a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Folder"
                  },
                  "response": {
                    "$ref": "Folder"
                  }
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "description": "List all entities in a GTM Folder.",
                      "httpMethod": "GET",
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "parameters": {
                        "folderId": {
                          "location": "path",
                          "required": true,
                          "description": "The GTM Folder ID.",
                          "type": "string"
                        },
                        "containerId": {
                          "location": "path",
                          "required": true,
                          "description": "The GTM Container ID.",
                          "type": "string"
                        },
                        "accountId": {
                          "location": "path",
                          "required": true,
                          "description": "The GTM Account ID.",
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "publish": {
                  "description": "Publishes a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "httpMethod": "POST"
                },
                "get": {
                  "id": "tagmanager.accounts.containers.versions.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Gets a Container Version.",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "description": "Creates a Container Version."
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "headers": {
                      "description": "Retrieve headers only when true.",
                      "type": "boolean",
                      "location": "query",
                      "default": "false"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "includeDeleted": {
                      "default": "false",
                      "location": "query",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all Container Versions of a GTM Container."
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Updates a Container Version."
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.delete"
                },
                "restore": {
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore"
                },
                "undelete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Undeletes a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.undelete"
                }
              }
            },
            "triggers": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "GET",
                  "description": "Lists all GTM Triggers of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListTriggersResponse"
                  }
                },
                "update": {
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "request": {
                    "$ref": "Trigger"
                  },
                  "description": "Updates a GTM Trigger.",
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "triggerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "description": "Deletes a GTM Trigger.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "triggerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Trigger.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "POST",
                  "description": "Creates a GTM Trigger.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Trigger"
                  },
                  "response": {
                    "$ref": "Trigger"
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "update": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Updates a GTM Environment.",
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "description": "Deletes a GTM Environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}"
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Gets a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Creates a GTM Environment.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.create"
                }
              }
            },
            "tags": {
              "methods": {
                "create": {
                  "description": "Creates a GTM Tag.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Tag"
                  },
                  "response": {
                    "$ref": "Tag"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.tags.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST"
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Gets a GTM Tag.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.tags.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.tags.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "request": {
                    "$ref": "Tag"
                  },
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Updates a GTM Tag."
                },
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.tags.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Tags of a Container."
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "parameters": {
                    "triggerId": {
                      "repeated": true,
                      "description": "The triggers to be moved to the folder.",
                      "type": "string",
                      "location": "query"
                    },
                    "tagId": {
                      "repeated": true,
                      "description": "The tags to be moved to the folder.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "description": "The variables to be moved to the folder.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "httpMethod": "PUT",
                  "description": "Moves entities to a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "request": {
                    "$ref": "Folder"
                  }
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "httpMethod": "PUT",
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "response": {
                    "$ref": "Environment"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "id": "tagmanager:v1",
  "servicePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "ListContainersResponse": {
      "properties": {
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account.",
          "type": "array"
        }
      },
      "id": "ListContainersResponse",
      "description": "List Containers Response.",
      "type": "object"
    },
    "ContainerVersion": {
      "properties": {
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "folder": {
          "items": {
            "$ref": "Folder"
          },
          "description": "The folders in the container that this version was taken from.",
          "type": "array"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        }
      },
      "id": "ContainerVersion",
      "description": "Represents a Google Tag Manager Container Version.",
      "type": "object"
    },
    "Container": {
      "description": "Represents a Google Tag Manager Container.",
      "type": "object",
      "properties": {
        "timeZoneCountryId": {
          "description": "Container Country ID.",
          "type": "string"
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "domainName": {
          "items": {
            "type": "string"
          },
          "description": "Optional list of domain names associated with the Container.",
          "type": "array"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "enabledBuiltInVariable": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ]
          },
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
          "type": "array"
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "timeZoneId": {
          "description": "Container Time Zone ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "usageContext": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ]
          },
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
          "type": "array"
        },
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        }
      },
      "id": "Container"
    },
    "CreateContainerVersionRequestVersionOptions": {
      "properties": {
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        },
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions",
      "description": "Options for new container versions.",
      "type": "object"
    },
    "Account": {
      "description": "Represents a Google Tag Manager Account.",
      "type": "object",
      "id": "Account",
      "properties": {
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "name": {
          "description": "Account display name.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        }
      }
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "type": "object",
      "properties": {
        "permission": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          },
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "type": "array"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "id": "ContainerAccess"
    },
    "SetupTag": {
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      },
      "id": "SetupTag"
    },
    "Condition": {
      "id": "Condition",
      "properties": {
        "type": {
          "description": "The type of operator for this condition.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ]
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "description": "Represents a predicate.",
      "type": "object"
    },
    "Variable": {
      "id": "Variable",
      "properties": {
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array"
        },
        "parameter": {
          "description": "The variable's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "disablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Variable.",
      "type": "object"
    },
    "PublishContainerVersionResponse": {
      "description": "Publish container version response.",
      "type": "object",
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      },
      "id": "PublishContainerVersionResponse"
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "description": "All GTM Tags of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "description": "List Tags Response.",
      "type": "object"
    },
    "Environment": {
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "authorizationTimestampMs": {
          "description": "The last update time-stamp for the authorization code.",
          "type": "string",
          "format": "int64"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default on for the environment.",
          "type": "boolean"
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Used for user defined environments.",
[...]
