{
  "discoveryVersion": "v1",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260715",
  "documentationLink": "https://developers.google.com/tag-manager",
  "title": "Tag Manager API",
  "kind": "discovery#restDescription",
  "name": "tagmanager",
  "version": "v1",
  "servicePath": "",
  "id": "tagmanager:v1",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        }
      }
    }
  },
  "schemas": {
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "properties": {
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "description": "All GTM Folders of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List Folders Response.",
      "type": "object"
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      },
      "description": "Create container versions response.",
      "type": "object"
    },
    "ListTriggersResponse": {
      "id": "ListTriggersResponse",
      "properties": {
        "triggers": {
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List triggers response.",
      "type": "object"
    },
    "Container": {
      "id": "Container",
      "properties": {
        "domainName": {
          "description": "Optional list of domain names associated with the Container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeZoneCountryId": {
          "description": "Container Country ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "timeZoneId": {
          "description": "Container Time Zone ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "usageContext": {
          "items": {
            "type": "string",
            "enum": [
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
          "type": "array"
        },
        "enabledBuiltInVariable": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ]
          },
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
          "type": "array"
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container.",
      "type": "object"
    },
    "SetupTag": {
      "type": "object",
      "id": "SetupTag",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      }
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "type": "object",
      "id": "Variable",
      "properties": {
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The variable's parameters.",
          "type": "array"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string"
        }
      }
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "properties": {
        "containerVersionHeader": {
          "description": "All container version headers of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          }
        },
        "containerVersion": {
          "items": {
            "$ref": "ContainerVersion"
          },
          "description": "All versions of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List container versions response.",
      "type": "object"
    },
    "ListAccountUsersResponse": {
      "id": "ListAccountUsersResponse",
      "properties": {
        "userAccess": {
          "items": {
            "$ref": "UserAccess"
          },
          "description": "All GTM AccountUsers of a GTM Account.",
          "type": "array"
        }
      },
      "description": "List AccountUsers Response.",
      "type": "object"
    },
    "ContainerVersionHeader": {
      "description": "Represents a Google Tag Manager Container Version Header.",
      "type": "object",
      "id": "ContainerVersionHeader",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        }
      }
    },
    "Parameter": {
      "id": "Parameter",
      "properties": {
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "type": {
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "type": "string",
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
          "type": "string"
        },
        "list": {
          "description": "This list parameter's parameters (keys will be ignored).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "description": "Represents a Google Tag Manager Parameter.",
      "type": "object"
    },
    "Account": {
      "id": "Account",
      "properties": {
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "name": {
          "description": "Account display name.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Account.",
      "type": "object"
    },
    "Condition": {
      "id": "Condition",
      "properties": {
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array"
        },
        "type": {
          "description": "The type of operator for this condition.",
          "type": "string",
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Represents a predicate.",
      "type": "object"
    },
    "TeardownTag": {
      "type": "object",
      "id": "TeardownTag",
      "properties": {
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        },
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        }
      }
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "type": "object",
      "id": "ContainerVersion",
      "properties": {
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags in the container that this version was taken from.",
          "type": "array"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "description": "The variables in the container that this version was taken from.",
          "type": "array"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        }
      }
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "properties": {
        "variables": {
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List Variables Response.",
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "description": "List Environments Response.",
      "type": "object",
      "id": "ListEnvironmentsResponse",
      "properties": {
        "environments": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        }
      }
    },
    "ListContainersResponse": {
      "description": "List Containers Response.",
      "type": "object",
      "id": "ListContainersResponse",
      "properties": {
        "containers": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      }
    },
    "UserAccess": {
      "id": "UserAccess",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "permissionId": {
          "description": "Account Permission ID.",
          "type": "string"
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        }
      },
      "description": "Represents a user's permissions to an account and its container.",
      "type": "object"
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object",
      "id": "Folder",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        }
      }
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "properties": {
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The list of tags inside the folder.",
          "type": "array"
        },
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      },
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object"
    },
    "PublishContainerVersionResponse": {
      "description": "Publish container version response.",
      "type": "object",
      "id": "PublishContainerVersionResponse",
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      }
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array"
        }
      },
      "description": "List Accounts Response.",
      "type": "object"
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "id": "Trigger",
      "properties": {
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "autoEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of auto event tracking.",
          "type": "array"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "type": {
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "description": "Defines the data layer event that causes this trigger.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "filter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parameter": {
          "description": "Additional parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        }
      }
    },
    "Environment": {
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object",
      "id": "Environment",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "authorizationTimestampMs": {
          "format": "int64",
          "description": "The last update time-stamp for the authorization code.",
          "type": "string"
        },
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "type": {
          "description": "The type of this environment.",
          "type": "string",
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ],
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ]
        },
        "containerVersionId": {
          "type": "string"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default on for the environment.",
          "type": "boolean"
        }
      }
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "type": "object",
      "id": "ContainerAccess",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "permission": {
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "type": "array",
          "items": {
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "type": "object",
      "id": "Tag",
      "properties": {
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "type": "string",
          "format": "int64"
        },
        "teardownTag": {
          "description": "The list of teardown tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "paused": {
          "description": "True if the tag is paused.",
          "type": "boolean"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "blockingTriggerId": {
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setupTag": {
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "tagFiringOption": {
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag.",
          "type": "string"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "type": "string",
          "format": "int64"
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The tag's parameters.",
          "type": "array"
        },
        "firingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "type": "array"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        }
      }
    },
    "AccountAccess": {
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "id": "AccountAccess",
      "properties": {
        "permission": {
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "type": "array",
          "items": {
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "type": "object",
      "id": "CreateContainerVersionRequestVersionOptions",
      "properties": {
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      }
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List Tags Response.",
      "type": "object"
    }
  },
  "basePath": "",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "GET",
          "id": "tagmanager.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {
            "accountId": {
              "location": "path",
              "description": "The GTM Account ID.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          },
          "description": "Gets a GTM Account.",
          "path": "tagmanager/v1/accounts/{accountId}"
        },
        "update": {
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.update",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string",
              "location": "query"
            },
            "accountId": {
              "location": "path",
              "description": "The GTM Account ID.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          },
          "description": "Updates a GTM Account.",
          "path": "tagmanager/v1/accounts/{accountId}"
        },
        "list": {
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "description": "Lists all GTM Accounts that a user has access to.",
          "path": "tagmanager/v1/accounts",
          "flatPath": "tagmanager/v1/accounts",
          "id": "tagmanager.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "containers": {
          "methods": {
            "delete": {
              "id": "tagmanager.accounts.containers.delete",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "httpMethod": "DELETE",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "containerId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Container ID.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "description": "Deletes a Container."
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Container"
              },
              "description": "Creates a Container."
            },
            "get": {
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.get",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "containerId": {
                  "location": "path",
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "response": {
                "$ref": "Container"
              },
              "description": "Gets a Container."
            },
            "list": {
              "id": "tagmanager.accounts.containers.list",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "ListContainersResponse"
              },
              "description": "Lists all Containers that belongs to a GTM Account."
            },
            "update": {
              "id": "tagmanager.accounts.containers.update",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Container"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "containerId": {
                  "required": true,
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "fingerprint": {
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "response": {
                "$ref": "Container"
              },
              "description": "Updates a Container."
            }
          },
          "resources": {
            "environments": {
              "methods": {
                "update": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Updates a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Environment"
                  }
                },
                "list": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Creates a GTM Environment.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments"
                },
                "get": {
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "environmentId": {
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Gets a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.environments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "description": "Deletes a GTM Environment.",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}"
                }
              }
            },
            "triggers": {
              "methods": {
                "delete": {
                  "parameters": {
                    "triggerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "description": "Deletes a GTM Trigger.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Creates a GTM Trigger.",
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers"
                },
                "get": {
                  "parameters": {
                    "triggerId": {
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Gets a GTM Trigger.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "description": "Lists all GTM Triggers of a Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers"
                },
                "update": {
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "type": "string"
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Updates a GTM Trigger."
                }
              }
            },
            "variables": {
              "methods": {
                "update": {
                  "parameters": {
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Updates a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Variable"
                  }
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "description": "Lists all GTM Variables of a Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables"
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Creates a GTM Variable."
                },
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Gets a GTM Variable.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.variables.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "description": "Deletes a GTM Variable."
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "tagId": {
                      "location": "query",
                      "repeated": true,
                      "description": "The tags to be moved to the folder.",
                      "type": "string"
                    },
                    "folderId": {
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "variableId": {
                      "location": "query",
                      "repeated": true,
                      "description": "The variables to be moved to the folder.",
                      "type": "string"
                    },
                    "triggerId": {
                      "description": "The triggers to be moved to the folder.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "description": "Moves entities to a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}"
                }
              }
            },
            "tags": {
              "methods": {
                "update": {
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "tagId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Updates a GTM Tag.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "description": "Lists all GTM Tags of a Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "id": "tagmanager.accounts.containers.tags.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Creates a GTM Tag.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "tagId": {
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Gets a GTM Tag.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.tags.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}"
                },
                "delete": {
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "tagId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "description": "Deletes a GTM Tag.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            },
            "folders": {
              "methods": {
                "update": {
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "description": "Updates a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Folder"
                  }
                },
                "list": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "description": "Lists all GTM Folders of a Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "description": "Creates a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Folder"
                  }
                },
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "description": "Gets a GTM Folder.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.folders.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "description": "Deletes a GTM Folder.",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "containerId": {
                          "description": "The GTM Container ID.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "accountId": {
                          "required": true,
                          "description": "The GTM Account ID.",
                          "type": "string",
                          "location": "path"
                        },
                        "folderId": {
                          "location": "path",
                          "required": true,
                          "description": "The GTM Folder ID.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "description": "List all entities in a GTM Folder.",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}"
                }
              }
            },
            "versions": {
              "methods": {
                "delete": {
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
[...]
