{
  "documentationLink": "https://developers.google.com/tag-manager",
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "basePath": "",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "protocol": "rest",
  "version": "v2",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        }
      }
    }
  },
  "resources": {
    "accounts": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Account"
          },
          "id": "tagmanager.accounts.update",
          "parameterOrder": [
            "path"
          ],
          "parameters": {
            "path": {
              "description": "GTM Account's API relative path.",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "description": "Updates a GTM Account.",
          "path": "tagmanager/v2/{+path}",
          "flatPath": "tagmanager/v2/accounts/{accountsId}"
        },
        "get": {
          "description": "Gets a GTM Account.",
          "path": "tagmanager/v2/{+path}",
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "parameters": {
            "path": {
              "description": "GTM Account's API relative path.",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "id": "tagmanager.accounts.get",
          "parameterOrder": [
            "path"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Account"
          }
        },
        "list": {
          "id": "tagmanager.accounts.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "description": "Lists all GTM Accounts that a user has access to.",
          "path": "tagmanager/v2/accounts",
          "flatPath": "tagmanager/v2/accounts",
          "parameters": {
            "includeGoogleTags": {
              "description": "Also retrieve accounts associated with Google Tag when true.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "Continuation token for fetching the next page of results.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ]
        }
      },
      "resources": {
        "user_permissions": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "tagmanager.accounts.user_permissions.get",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "parameters": {
                "path": {
                  "location": "path",
                  "type": "string",
                  "description": "GTM UserPermission's API relative path.",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Gets a user's Account & Container access.",
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}"
            },
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "UserPermission"
              },
              "id": "tagmanager.accounts.user_permissions.update",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM UserPermission's API relative path.",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Updates a user's Account & Container access.",
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM UserPermission's API relative path.",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "id": "tagmanager.accounts.user_permissions.delete",
              "parameterOrder": [
                "path"
              ],
              "description": "Removes a user from the account, revoking access to it and all of its containers."
            },
            "list": {
              "response": {
                "$ref": "ListUserPermissionsResponse"
              },
              "httpMethod": "GET",
              "id": "tagmanager.accounts.user_permissions.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "description": "List all users that have access to the account along with Account and Container user access granted to each of them."
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "UserPermission"
              },
              "id": "tagmanager.accounts.user_permissions.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "description": "Creates a user's Account & Container access."
            }
          }
        },
        "containers": {
          "methods": {
            "snippet": {
              "response": {
                "$ref": "GetContainerSnippetResponse"
              },
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.snippet",
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "path": {
                  "description": "Container snippet's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "path": "tagmanager/v2/{+path}:snippet",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:snippet",
              "description": "Gets the tagging snippet for a Container."
            },
            "create": {
              "path": "tagmanager/v2/{+parent}/containers",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "description": "Creates a Container.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Container"
              }
            },
            "combine": {
              "path": "tagmanager/v2/{+path}:combine",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:combine",
              "description": "Combines Containers.",
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "allowUserPermissionFeatureUpdate": {
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.",
                  "type": "boolean",
                  "location": "query"
                },
                "containerId": {
                  "description": "ID of container that will be merged into the current container.",
                  "location": "query",
                  "type": "string"
                },
                "settingSource": {
                  "location": "query",
                  "enum": [
                    "settingSourceUnspecified",
                    "current",
                    "other"
                  ],
                  "type": "string",
                  "description": "Specify the source of config setting after combine",
                  "enumDescriptions": [
                    "",
                    "Keep the current container config setting after combine",
                    "Use config setting from the other tag after combine"
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.combine",
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "POST"
            },
            "move_tag_id": {
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.move_tag_id",
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "POST",
              "description": "Move Tag ID out of a Container.",
              "path": "tagmanager/v2/{+path}:move_tag_id",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:move_tag_id",
              "parameters": {
                "copyUsers": {
                  "description": "Whether or not to copy users from this tag to the new tag.",
                  "type": "boolean",
                  "location": "query"
                },
                "tagName": {
                  "description": "The name for the newly created tag.",
                  "type": "string",
                  "location": "query"
                },
                "copySettings": {
                  "description": "Whether or not to copy tag settings from this tag to the new tag.",
                  "location": "query",
                  "type": "boolean"
                },
                "path": {
                  "location": "path",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "allowUserPermissionFeatureUpdate": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail."
                },
                "tagId": {
                  "description": "Tag ID to be removed from the current Container.",
                  "type": "string",
                  "location": "query"
                },
                "copyTermsOfService": {
                  "description": "Must be set to true to accept all terms of service agreements copied from the current tag to the newly created tag. If this bit is false, the operation will fail.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            },
            "list": {
              "id": "tagmanager.accounts.containers.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "description": "Lists all Containers that belongs to a GTM Account.",
              "path": "tagmanager/v2/{+parent}/containers",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "path": {
                  "location": "path",
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "id": "tagmanager.accounts.containers.delete",
              "parameterOrder": [
                "path"
              ],
              "description": "Deletes a Container."
            },
            "lookup": {
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.lookup",
              "parameterOrder": [],
              "httpMethod": "GET",
              "path": "tagmanager/v2/accounts/containers:lookup",
              "flatPath": "tagmanager/v2/accounts/containers:lookup",
              "description": "Looks up a Container by destination ID or tag ID.",
              "parameters": {
                "destinationId": {
                  "description": "Destination ID linked to a GTM Container, e.g. AW-123456789. Only one of destination_id or tag_id should be set.",
                  "location": "query",
                  "type": "string"
                },
                "tagId": {
                  "description": "Tag ID for a GTM Container, e.g. GTM-123456789. Only one of destination_id or tag_id should be set.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.update",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "path": {
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "fingerprint": {
                  "location": "query",
                  "type": "string",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "description": "Updates a Container."
            },
            "get": {
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.get",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "path": {
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "description": "Gets a Container.",
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}"
            }
          },
          "resources": {
            "destinations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.destinations.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "response": {
                    "$ref": "Destination"
                  },
                  "deprecated": true,
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "Google Tag Destination's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/destinations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations/{destinationsId}",
                  "description": "Gets a Destination."
                },
                "link": {
                  "description": "Adds a Destination to this Container and removes it from the Container to which it is currently linked.",
                  "path": "tagmanager/v2/{+parent}/destinations:link",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations:link",
                  "parameters": {
                    "allowUserPermissionFeatureUpdate": {
                      "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "destinationId": {
                      "description": "Destination ID to be linked to the current container.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.destinations.link",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "deprecated": true,
                  "response": {
                    "$ref": "Destination"
                  }
                },
                "list": {
                  "description": "Lists all Destinations linked to a GTM Container.",
                  "path": "tagmanager/v2/{+parent}/destinations",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.destinations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDestinationsResponse"
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "GTM Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v2/{+parent}/environments",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                  "description": "Lists all GTM Environments of a GTM Container."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "GTM Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+parent}/environments",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                  "description": "Creates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "reauthorize": {
                  "path": "tagmanager/v2/{+path}:reauthorize",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}:reauthorize",
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "parameters": {
                    "path": {
                      "type": "string",
                      "description": "GTM Environment's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "id": "tagmanager.accounts.containers.environments.reauthorize",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Environment"
                  },
                  "response": {
                    "$ref": "Environment"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "GET",
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "description": "Gets a GTM Environment.",
                  "parameters": {
                    "path": {
                      "type": "string",
                      "description": "GTM Environment's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM Environment's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "parameterOrder": [
                    "path"
                  ],
                  "description": "Deletes a GTM Environment."
                },
                "update": {
                  "parameters": {
                    "path": {
                      "type": "string",
                      "description": "GTM Environment's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "description": "Updates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.update",
                  "parameterOrder": [
                    "path"
                  ]
                }
              }
            },
            "workspaces": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.workspaces.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListWorkspacesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "description": "Lists all Workspaces that belong to a GTM Container."
                },
                "sync": {
                  "description": "Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.",
                  "path": "tagmanager/v2/{+path}:sync",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:sync",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.sync",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SyncWorkspaceResponse"
                  }
                },
                "bulk_update": {
                  "description": "Applies multiple entity changes to a workspace in one call. When creating new entities, their entity IDs must be unique and in correct format. That is, they must start with \"new_\" and followed by number, e.g. \"new_1\", \"new_2\". Example body snippet to create myNewTag under myNewFolder is: ``` \"changes\": [ { \"folder\": { \"folderId\": \"new_1\", \"name\": \"myNewFolder\", ... }, \"changeStatus\": \"added\" }, { \"tag\": { \"tagId\": \"new_2\", \"name\": \"myNewTag\", \"parentFolderId\": \"new_1\", ... }, \"changeStatus\": \"added\" } ] ```",
                  "path": "tagmanager/v2/{+path}/bulk_update",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/bulk_update",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.bulk_update",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ProposedChange"
                  },
                  "response": {
                    "$ref": "BulkUpdateWorkspaceResponse"
                  }
                },
                "create": {
                  "description": "Creates a Workspace.",
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Workspace"
                  },
                  "id": "tagmanager.accounts.containers.workspaces.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Workspace"
                  }
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.workspaces.delete",
                  "parameterOrder": [
                    "path"
                  ],
                  "description": "Deletes a Workspace.",
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.delete.containers"
                  ],
                  "httpMethod": "DELETE"
                },
                "resolve_conflict": {
                  "description": "Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.",
                  "path": "tagmanager/v2/{+path}:resolve_conflict",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:resolve_conflict",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the entity_in_workspace in the merge conflict."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.resolve_conflict",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Entity"
                  }
                },
                "quick_preview": {
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "description": "Quick previews a workspace by creating a fake container version from all entities in the provided workspace.",
                  "path": "tagmanager/v2/{+path}:quick_preview",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:quick_preview",
                  "response": {
                    "$ref": "QuickPreviewResponse"
                  },
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.quick_preview",
                  "parameterOrder": [
                    "path"
                  ]
                },
                "create_version": {
                  "description": "Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.",
                  "path": "tagmanager/v2/{+path}:create_version",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:create_version",
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "id": "tagmanager.accounts.containers.workspaces.create_version",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  }
                },
                "get": {
                  "id": "tagmanager.accounts.containers.workspaces.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Workspace"
                  },
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "description": "Gets a Workspace.",
                  "parameters": {
                    "path": {
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "getStatus": {
                  "description": "Finds conflicting and modified entities in the workspace.",
                  "path": "tagmanager/v2/{+path}/status",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/status",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.getStatus",
                  "parameterOrder": [
                    "path"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetWorkspaceStatusResponse"
                  }
                },
                "update": {
                  "response": {
                    "$ref": "Workspace"
                  },
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "id": "tagmanager.accounts.containers.workspaces.update",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the workspace in storage."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "description": "Updates a Workspace."
                }
              },
              "resources": {
                "variables": {
                  "methods": {
                    "create": {
                      "description": "Creates a GTM Variable.",
                      "path": "tagmanager/v2/{+parent}/variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "Variable"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.variables.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Variable"
                      }
                    },
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.variables.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "RevertVariableResponse"
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}:revert",
                      "description": "Reverts changes to a GTM Variable in a GTM Workspace.",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "description": "Lists all GTM Variables of a Container.",
                      "path": "tagmanager/v2/{+parent}/variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "response": {
                        "$ref": "ListVariablesResponse"
                      },
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.variables.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "update": {
                      "parameters": {
                        "path": {
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "description": "Updates a GTM Variable.",
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "Variable"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.variables.update",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Variable"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.variables.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "description": "Deletes a GTM Variable.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}"
                    },
                    "get": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "description": "Gets a GTM Variable.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.variables.get",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Variable"
                      }
                    }
                  }
                },
                "templates": {
                  "methods": {
                    "revert": {
                      "description": "Reverts changes to a GTM Template in a GTM Workspace.",
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}:revert",
                      "parameters": {
                        "path": {
                          "description": "GTM Custom Template's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fingerprint": {
                          "location": "query",
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the template in storage."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.templates.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "RevertTemplateResponse"
                      }
                    },
                    "list": {
                      "description": "Lists all GTM Templates of a GTM container workspace.",
                      "path": "tagmanager/v2/{+parent}/templates",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "ListTemplatesResponse"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.templates.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "import_from_gallery": {
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.templates.import_from_gallery",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "galleryRepository": {
                          "type": "string",
                          "location": "query",
                          "description": "Repository of the Gallery template to import"
                        },
                        "gallerySha": {
                          "description": "SHA version of the Gallery template to import. Defaulted to the latest SHA version if not provided.",
                          "type": "string",
                          "location": "query"
                        },
                        "acknowledgePermissions": {
                          "description": "Must be set to true to allow Gallery template to be imported into the workspace. If this bit is false, the import operation will fail.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "galleryOwner": {
                          "type": "string",
                          "location": "query",
                          "description": "Owner of the Gallery template to import"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "description": "Imports a GTM Custom Template from Gallery.",
                      "path": "tagmanager/v2/{+parent}/templates:import_from_gallery",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates:import_from_gallery"
                    },
                    "create": {
                      "description": "Creates a GTM Custom Template.",
                      "path": "tagmanager/v2/{+parent}/templates",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates",
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.templates.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "response": {
                        "$ref": "CustomTemplate"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.templates.get",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "parameters": {
                        "path": {
                          "type": "string",
                          "description": "GTM Custom Template's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "description": "Gets a GTM Template.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}"
                    },
                    "update": {
                      "id": "tagmanager.accounts.containers.workspaces.templates.update",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "description": "Updates a GTM Template.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Custom Template's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the templates in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "type": "string",
                          "description": "GTM Custom Template's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.templates.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "description": "Deletes a GTM Template.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}"
                    }
                  }
                },
                "folders": {
                  "methods": {
                    "create": {
                      "id": "tagmanager.accounts.containers.workspaces.folders.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Folder"
                      },
                      "response": {
                        "$ref": "Folder"
                      },
                      "description": "Creates a GTM Folder.",
                      "path": "tagmanager/v2/{+parent}/folders",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "move_entities_to_folder": {
                      "id": "tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Folder"
                      },
                      "path": "tagmanager/v2/{+path}:move_entities_to_folder",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:move_entities_to_folder",
                      "description": "Moves entities to a GTM Folder. If {folder_id} in the request path equals 0, this will instead move entities out of the folder they currently belong to.",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Folder's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "triggerId": {
                          "location": "query",
                          "type": "string",
                          "description": "The triggers to be moved to the folder.",
                          "repeated": true
                        },
                        "tagId": {
                          "type": "string",
                          "location": "query",
                          "repeated": true,
                          "description": "The tags to be moved to the folder."
                        },
                        "variableId": {
                          "description": "The variables to be moved to the folder.",
                          "repeated": true,
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "revert": {
                      "parameters": {
                        "path": {
                          "description": "GTM Folder's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:revert",
                      "description": "Reverts changes to a GTM Folder in a GTM Workspace.",
                      "response": {
                        "$ref": "RevertFolderResponse"
                      },
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.revert",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListFoldersResponse"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "tagmanager/v2/{+parent}/folders",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "description": "Lists all GTM Folders of a Container.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "update": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true
                        },
                        "fingerprint": {
                          "type": "string",
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the folder in storage."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "description": "Updates a GTM Folder.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "response": {
                        "$ref": "Folder"
                      },
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "Folder"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.update",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "path": {
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "id": "tagmanager.accounts.containers.workspaces.folders.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "description": "Deletes a GTM Folder."
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.folders.get",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Folder"
                      },
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "description": "Gets a GTM Folder."
                    },
                    "entities": {
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "path": {
                          "location": "path",
                          "description": "GTM Folder's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "description": "List all entities in a GTM Folder.",
                      "path": "tagmanager/v2/{+path}:entities",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:entities",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.entities",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "FolderEntities"
                      }
                    }
                  }
                },
                "built_in_variables": {
                  "methods": {
                    "list": {
                      "path": "tagmanager/v2/{+parent}/built_in_variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                      "description": "Lists all the enabled Built-In Variables of a GTM Container.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "ListEnabledBuiltInVariablesResponse"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "revert": {
                      "response": {
                        "$ref": "RevertBuiltInVariableResponse"
                      },
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM BuiltInVariable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "The type of built-in variable to revert.",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "For web or mobile.",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "type": "string",
                          "enum": [
                            "builtInVariableTypeUnspecified",
                            "pageUrl",
                            "pageHostname",
                            "pagePath",
                            "referrer",
                            "event",
                            "clickElement",
                            "clickClasses",
                            "clickId",
                            "clickTarget",
                            "clickUrl",
                            "clickText",
                            "firstPartyServingUrl",
                            "formElement",
                            "formClasses",
                            "formId",
                            "formTarget",
                            "formUrl",
                            "formText",
                            "errorMessage",
                            "errorUrl",
                            "errorLine",
                            "newHistoryUrl",
                            "oldHistoryUrl",
                            "newHistoryFragment",
                            "oldHistoryFragment",
                            "newHistoryState",
                            "oldHistoryState",
                            "historySource",
                            "containerVersion",
                            "debugMode",
                            "randomNumber",
                            "containerId",
                            "appId",
                            "appName",
                            "appVersionCode",
                            "appVersionName",
                            "language",
                            "osVersion",
                            "platform",
                            "sdkVersion",
                            "deviceName",
                            "resolution",
                            "advertiserId",
                            "advertisingTrackingEnabled",
                            "htmlId",
                            "environmentName",
                            "ampBrowserLanguage",
                            "ampCanonicalPath",
                            "ampCanonicalUrl",
                            "ampCanonicalHost",
                            "ampReferrer",
                            "ampTitle",
                            "ampClientId",
                            "ampClientTimezone",
                            "ampClientTimestamp",
                            "ampClientScreenWidth",
                            "ampClientScreenHeight",
                            "ampClientScrollX",
                            "ampClientScrollY",
                            "ampClientMaxScrollX",
                            "ampClientMaxScrollY",
                            "ampTotalEngagedTime",
                            "ampPageViewId",
                            "ampPageLoadTime",
                            "ampPageDownloadTime",
                            "ampGtmEvent",
                            "eventName",
                            "firebaseEventParameterCampaign",
                            "firebaseEventParameterCampaignAclid",
                            "firebaseEventParameterCampaignAnid",
                            "firebaseEventParameterCampaignClickTimestamp",
                            "firebaseEventParameterCampaignContent",
                            "firebaseEventParameterCampaignCp1",
                            "firebaseEventParameterCampaignGclid",
                            "firebaseEventParameterCampaignSource",
                            "firebaseEventParameterCampaignTerm",
                            "firebaseEventParameterCurrency",
                            "firebaseEventParameterDynamicLinkAcceptTime",
                            "firebaseEventParameterDynamicLinkLinkid",
                            "firebaseEventParameterNotificationMessageDeviceTime",
                            "firebaseEventParameterNotificationMessageId",
                            "firebaseEventParameterNotificationMessageName",
                            "firebaseEventParameterNotificationMessageTime",
                            "firebaseEventParameterNotificationTopic",
                            "firebaseEventParameterPreviousAppVersion",
                            "firebaseEventParameterPreviousOsVersion",
                            "firebaseEventParameterPrice",
                            "firebaseEventParameterProductId",
                            "firebaseEventParameterQuantity",
                            "firebaseEventParameterValue",
                            "videoProvider",
                            "videoUrl",
                            "videoTitle",
                            "videoDuration",
                            "videoPercent",
                            "videoVisible",
                            "videoStatus",
                            "videoCurrentTime",
                            "scrollDepthThreshold",
                            "scrollDepthUnits",
                            "scrollDepthDirection",
                            "elementVisibilityRatio",
                            "elementVisibilityTime",
                            "elementVisibilityFirstTime",
                            "elementVisibilityRecentTime",
                            "requestPath",
                            "requestMethod",
                            "clientName",
                            "queryString",
                            "serverPageLocationUrl",
                            "serverPageLocationPath",
                            "serverPageLocationHostname",
                            "visitorRegion",
                            "analyticsClientId",
                            "analyticsSessionId",
                            "analyticsSessionNumber"
                          ],
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+path}/built_in_variables:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables:revert",
                      "description": "Reverts changes to a GTM Built-In Variables in a GTM Workspace."
                    },
                    "create": {
                      "description": "Creates one or more GTM Built-In Variables.",
                      "path": "tagmanager/v2/{+parent}/built_in_variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                      "parameters": {
                        "type": {
                          "enum": [
                            "builtInVariableTypeUnspecified",
                            "pageUrl",
                            "pageHostname",
                            "pagePath",
                            "referrer",
                            "event",
                            "clickElement",
                            "clickClasses",
                            "clickId",
                            "clickTarget",
                            "clickUrl",
                            "clickText",
                            "firstPartyServingUrl",
                            "formElement",
                            "formClasses",
                            "formId",
                            "formTarget",
                            "formUrl",
                            "formText",
                            "errorMessage",
                            "errorUrl",
                            "errorLine",
                            "newHistoryUrl",
                            "oldHistoryUrl",
                            "newHistoryFragment",
                            "oldHistoryFragment",
                            "newHistoryState",
                            "oldHistoryState",
                            "historySource",
                            "containerVersion",
                            "debugMode",
                            "randomNumber",
                            "containerId",
                            "appId",
                            "appName",
                            "appVersionCode",
                            "appVersionName",
                            "language",
                            "osVersion",
                            "platform",
                            "sdkVersion",
                            "deviceName",
                            "resolution",
                            "advertiserId",
                            "advertisingTrackingEnabled",
                            "htmlId",
                            "environmentName",
                            "ampBrowserLanguage",
                            "ampCanonicalPath",
                            "ampCanonicalUrl",
                            "ampCanonicalHost",
[...]
