{
  "servicePath": "",
  "ownerName": "Google",
  "version": "v2",
  "title": "Tag Manager API",
  "basePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "tagmanager:v2",
  "canonicalName": "Tag Manager",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "documentationLink": "https://developers.google.com/tag-manager",
  "protocol": "rest",
  "revision": "20260624",
  "kind": "discovery#restDescription",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "flatPath": "tagmanager/v2/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "includeGoogleTags": {
              "description": "Also retrieve accounts associated with Google Tag when true.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Continuation token for fetching the next page of results."
            }
          },
          "id": "tagmanager.accounts.list",
          "path": "tagmanager/v2/accounts",
          "description": "Lists all GTM Accounts that a user has access to.",
          "httpMethod": "GET"
        },
        "get": {
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "path"
          ],
          "id": "tagmanager.accounts.get",
          "parameters": {
            "path": {
              "required": true,
              "description": "GTM Account's API relative path.",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets a GTM Account.",
          "path": "tagmanager/v2/{+path}"
        },
        "update": {
          "path": "tagmanager/v2/{+path}",
          "description": "Updates a GTM Account.",
          "httpMethod": "PUT",
          "parameters": {
            "path": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "GTM Account's API relative path."
            },
            "fingerprint": {
              "location": "query",
              "type": "string",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage."
            }
          },
          "id": "tagmanager.accounts.update",
          "request": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "path"
          ],
          "response": {
            "$ref": "Account"
          },
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ]
        }
      },
      "resources": {
        "user_permissions": {
          "methods": {
            "update": {
              "id": "tagmanager.accounts.user_permissions.update",
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "GTM UserPermission's API relative path."
                }
              },
              "request": {
                "$ref": "UserPermission"
              },
              "description": "Updates a user's Account & Container access.",
              "path": "tagmanager/v2/{+path}",
              "httpMethod": "PUT",
              "response": {
                "$ref": "UserPermission"
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "path"
              ]
            },
            "list": {
              "id": "tagmanager.accounts.user_permissions.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results."
                },
                "parent": {
                  "required": true,
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "List all users that have access to the account along with Account and Container user access granted to each of them.",
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListUserPermissionsResponse"
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "path"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "httpMethod": "GET",
              "description": "Gets a user's Account & Container access.",
              "path": "tagmanager/v2/{+path}",
              "id": "tagmanager.accounts.user_permissions.get",
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.",
                  "required": true,
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "request": {
                "$ref": "UserPermission"
              },
              "id": "tagmanager.accounts.user_permissions.create",
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Creates a user's Account & Container access.",
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "path": "tagmanager/v2/{+path}",
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "GTM UserPermission's API relative path.",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.user_permissions.delete",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            }
          }
        },
        "containers": {
          "methods": {
            "lookup": {
              "parameterOrder": [],
              "flatPath": "tagmanager/v2/accounts/containers:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "response": {
                "$ref": "Container"
              },
              "httpMethod": "GET",
              "path": "tagmanager/v2/accounts/containers:lookup",
              "description": "Looks up a Container by destination ID or tag ID.",
              "parameters": {
                "destinationId": {
                  "description": "Destination ID linked to a GTM Container, e.g. AW-123456789. Only one of destination_id or tag_id should be set.",
                  "location": "query",
                  "type": "string"
                },
                "tagId": {
                  "location": "query",
                  "type": "string",
                  "description": "Tag ID for a GTM Container, e.g. GTM-123456789. Only one of destination_id or tag_id should be set."
                }
              },
              "id": "tagmanager.accounts.containers.lookup"
            },
            "combine": {
              "httpMethod": "POST",
              "path": "tagmanager/v2/{+path}:combine",
              "description": "Combines Containers.",
              "parameters": {
                "containerId": {
                  "description": "ID of container that will be merged into the current container.",
                  "location": "query",
                  "type": "string"
                },
                "allowUserPermissionFeatureUpdate": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail."
                },
                "path": {
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "GTM Container's API relative path."
                },
                "settingSource": {
                  "description": "Specify the source of config setting after combine",
                  "enumDescriptions": [
                    "",
                    "Keep the current container config setting after combine",
                    "Use config setting from the other tag after combine"
                  ],
                  "enum": [
                    "settingSourceUnspecified",
                    "current",
                    "other"
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.containers.combine",
              "parameterOrder": [
                "path"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:combine",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              }
            },
            "move_tag_id": {
              "description": "Move Tag ID out of a Container.",
              "path": "tagmanager/v2/{+path}:move_tag_id",
              "httpMethod": "POST",
              "id": "tagmanager.accounts.containers.move_tag_id",
              "parameters": {
                "copyUsers": {
                  "description": "Whether or not to copy users from this tag to the new tag.",
                  "location": "query",
                  "type": "boolean"
                },
                "tagId": {
                  "description": "Tag ID to be removed from the current Container.",
                  "location": "query",
                  "type": "string"
                },
                "tagName": {
                  "description": "The name for the newly created tag.",
                  "location": "query",
                  "type": "string"
                },
                "allowUserPermissionFeatureUpdate": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail."
                },
                "copySettings": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether or not to copy tag settings from this tag to the new tag."
                },
                "copyTermsOfService": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Must be set to true to accept all terms of service agreements copied from the current tag to the newly created tag. If this bit is false, the operation will fail."
                },
                "path": {
                  "description": "GTM Container's API relative path.",
                  "required": true,
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "Container"
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:move_tag_id",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            },
            "get": {
              "parameterOrder": [
                "path"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "response": {
                "$ref": "Container"
              },
              "httpMethod": "GET",
              "description": "Gets a Container.",
              "path": "tagmanager/v2/{+path}",
              "id": "tagmanager.accounts.containers.get",
              "parameters": {
                "path": {
                  "required": true,
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Creates a Container.",
              "path": "tagmanager/v2/{+parent}/containers"
            },
            "delete": {
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a Container.",
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "id": "tagmanager.accounts.containers.delete",
              "parameters": {
                "path": {
                  "required": true,
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "response": {
                "$ref": "ListContainersResponse"
              },
              "httpMethod": "GET",
              "path": "tagmanager/v2/{+parent}/containers",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "GTM Account's API relative path."
                }
              },
              "id": "tagmanager.accounts.containers.list"
            },
            "snippet": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:snippet",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "response": {
                "$ref": "GetContainerSnippetResponse"
              },
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "path": {
                  "required": true,
                  "description": "Container snippet's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.containers.snippet",
              "httpMethod": "GET",
              "path": "tagmanager/v2/{+path}:snippet",
              "description": "Gets the tagging snippet for a Container."
            },
            "update": {
              "request": {
                "$ref": "Container"
              },
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "required": true
                },
                "fingerprint": {
                  "location": "query",
                  "type": "string",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage."
                }
              },
              "id": "tagmanager.accounts.containers.update",
              "httpMethod": "PUT",
              "path": "tagmanager/v2/{+path}",
              "description": "Updates a Container.",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "path"
              ]
            }
          },
          "resources": {
            "destinations": {
              "methods": {
                "list": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListDestinationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "GTM parent Container's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.destinations.list",
                  "httpMethod": "GET",
                  "path": "tagmanager/v2/{+parent}/destinations",
                  "description": "Lists all Destinations linked to a GTM Container."
                },
                "get": {
                  "response": {
                    "$ref": "Destination"
                  },
                  "deprecated": true,
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations/{destinationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "required": true,
                      "description": "Google Tag Destination's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/destinations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.destinations.get",
                  "path": "tagmanager/v2/{+path}",
                  "description": "Gets a Destination.",
                  "httpMethod": "GET"
                },
                "link": {
                  "description": "Adds a Destination to this Container and removes it from the Container to which it is currently linked.",
                  "path": "tagmanager/v2/{+parent}/destinations:link",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.destinations.link",
                  "parameters": {
                    "destinationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Destination ID to be linked to the current container."
                    },
                    "parent": {
                      "description": "GTM parent Container's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "allowUserPermissionFeatureUpdate": {
                      "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Destination"
                  },
                  "deprecated": true,
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations:link",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              }
            },
            "versions": {
              "methods": {
                "update": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "id": "tagmanager.accounts.containers.versions.update",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "GTM ContainerVersion's API relative path.",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    }
                  },
                  "httpMethod": "PUT",
                  "description": "Updates a Container Version.",
                  "path": "tagmanager/v2/{+path}"
                },
                "set_latest": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:set_latest",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.set_latest",
                  "path": "tagmanager/v2/{+path}:set_latest",
                  "description": "Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.",
                  "httpMethod": "POST"
                },
                "publish": {
                  "parameterOrder": [
                    "path"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:publish",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "httpMethod": "POST",
                  "path": "tagmanager/v2/{+path}:publish",
                  "description": "Publishes a Container Version.",
                  "parameters": {
                    "path": {
                      "required": true,
                      "description": "GTM ContainerVersion's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.publish"
                },
                "get": {
                  "parameterOrder": [
                    "path"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Gets a Container Version.",
                  "path": "tagmanager/v2/{+path}",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "GTM ContainerVersion's API relative path."
                    },
                    "containerVersionId": {
                      "location": "query",
                      "type": "string",
                      "description": "The GTM ContainerVersion ID. Specify published to retrieve the currently published version."
                    }
                  }
                },
                "undelete": {
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "path": "tagmanager/v2/{+path}:undelete",
                  "description": "Undeletes a Container Version.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "path"
                  ]
                },
                "delete": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "path"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "description": "Deletes a Container Version."
                },
                "live": {
                  "httpMethod": "GET",
                  "path": "tagmanager/v2/{+parent}/versions:live",
                  "description": "Gets the live (i.e. published) container version",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "GTM Container's API relative path.",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.live",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions:live",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                }
              }
            },
            "version_headers": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "path": "tagmanager/v2/{+parent}/version_headers",
                  "id": "tagmanager.accounts.containers.version_headers.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "GTM Container's API relative path.",
                      "required": true
                    },
                    "includeDeleted": {
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "latest": {
                  "id": "tagmanager.accounts.containers.version_headers.latest",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "GTM Container's API relative path.",
                      "required": true
                    }
                  },
                  "description": "Gets the latest container version header",
                  "path": "tagmanager/v2/{+parent}/version_headers:latest",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ContainerVersionHeader"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers:latest",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "workspaces": {
              "methods": {
                "sync": {
                  "path": "tagmanager/v2/{+path}:sync",
                  "description": "Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.",
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.workspaces.sync",
                  "parameterOrder": [
                    "path"
                  ],
                  "response": {
                    "$ref": "SyncWorkspaceResponse"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:sync",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "bulk_update": {
                  "path": "tagmanager/v2/{+path}/bulk_update",
                  "description": "Applies multiple entity changes to a workspace in one call. When creating new entities, their entity IDs must be unique and in correct format. That is, they must start with \"new_\" and followed by number, e.g. \"new_1\", \"new_2\". Example body snippet to create myNewTag under myNewFolder is: ``` \"changes\": [ { \"folder\": { \"folderId\": \"new_1\", \"name\": \"myNewFolder\", ... }, \"changeStatus\": \"added\" }, { \"tag\": { \"tagId\": \"new_2\", \"name\": \"myNewTag\", \"parentFolderId\": \"new_1\", ... }, \"changeStatus\": \"added\" } ] ```",
                  "httpMethod": "POST",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.workspaces.bulk_update",
                  "request": {
                    "$ref": "ProposedChange"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "response": {
                    "$ref": "BulkUpdateWorkspaceResponse"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/bulk_update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Workspace"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.workspaces.create",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "description": "Creates a Workspace.",
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.delete.containers"
                  ],
                  "parameters": {
                    "path": {
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.workspaces.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "path"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "description": "Deletes a Workspace."
                },
                "get": {
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Workspace"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.get",
                  "parameters": {
                    "path": {
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets a Workspace.",
                  "path": "tagmanager/v2/{+path}"
                },
                "resolve_conflict": {
                  "parameterOrder": [
                    "path"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:resolve_conflict",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.",
                  "path": "tagmanager/v2/{+path}:resolve_conflict",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.resolve_conflict",
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the entity_in_workspace in the merge conflict."
                    }
                  },
                  "request": {
                    "$ref": "Entity"
                  }
                },
                "list": {
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "description": "Lists all Workspaces that belong to a GTM Container.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "GTM parent Container's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.workspaces.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListWorkspacesResponse"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "update": {
                  "parameterOrder": [
                    "path"
                  ],
                  "response": {
                    "$ref": "Workspace"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "description": "Updates a Workspace.",
                  "httpMethod": "PUT",
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the workspace in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.workspaces.update",
                  "request": {
                    "$ref": "Workspace"
                  }
                },
                "quick_preview": {
                  "parameterOrder": [
                    "path"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:quick_preview",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "response": {
                    "$ref": "QuickPreviewResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Quick previews a workspace by creating a fake container version from all entities in the provided workspace.",
                  "path": "tagmanager/v2/{+path}:quick_preview",
                  "id": "tagmanager.accounts.containers.workspaces.quick_preview",
                  "parameters": {
                    "path": {
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "getStatus": {
                  "id": "tagmanager.accounts.containers.workspaces.getStatus",
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Finds conflicting and modified entities in the workspace.",
                  "path": "tagmanager/v2/{+path}/status",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/status",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "GetWorkspaceStatusResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ]
                },
                "create_version": {
                  "id": "tagmanager.accounts.containers.workspaces.create_version",
                  "parameters": {
                    "path": {
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "description": "Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.",
                  "path": "tagmanager/v2/{+path}:create_version",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:create_version",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "path"
                  ]
                }
              },
              "resources": {
                "folders": {
                  "methods": {
                    "move_entities_to_folder": {
                      "description": "Moves entities to a GTM Folder. If {folder_id} in the request path equals 0, this will instead move entities out of the folder they currently belong to.",
                      "path": "tagmanager/v2/{+path}:move_entities_to_folder",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder",
                      "parameters": {
                        "tagId": {
                          "description": "The tags to be moved to the folder.",
                          "location": "query",
                          "type": "string",
                          "repeated": true
                        },
                        "variableId": {
                          "repeated": true,
                          "location": "query",
                          "type": "string",
                          "description": "The variables to be moved to the folder."
                        },
                        "path": {
                          "description": "GTM Folder's API relative path.",
                          "required": true,
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "triggerId": {
                          "location": "query",
                          "type": "string",
                          "repeated": true,
                          "description": "The triggers to be moved to the folder."
                        }
                      },
                      "request": {
                        "$ref": "Folder"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:move_entities_to_folder",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "update": {
                      "request": {
                        "$ref": "Folder"
                      },
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "GTM Folder's API relative path."
                        },
                        "fingerprint": {
                          "location": "query",
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the folder in storage."
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.update",
                      "httpMethod": "PUT",
                      "path": "tagmanager/v2/{+path}",
                      "description": "Updates a GTM Folder.",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "Folder"
                      },
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.list",
                      "httpMethod": "GET",
                      "path": "tagmanager/v2/{+parent}/folders",
                      "description": "Lists all GTM Folders of a Container.",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "ListFoldersResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "revert": {
                      "parameters": {
                        "path": {
                          "description": "GTM Folder's API relative path.",
                          "required": true,
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.revert",
                      "path": "tagmanager/v2/{+path}:revert",
                      "description": "Reverts changes to a GTM Folder in a GTM Workspace.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "RevertFolderResponse"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:revert",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "create": {
                      "path": "tagmanager/v2/{+parent}/folders",
                      "description": "Creates a GTM Folder.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.create",
                      "request": {
                        "$ref": "Folder"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Folder"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "path"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "description": "Deletes a GTM Folder.",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "required": true
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.delete"
                    },
                    "get": {
                      "response": {
                        "$ref": "Folder"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameterOrder": [
                        "path"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.folders.get",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "required": true
                        }
                      },
                      "description": "Gets a GTM Folder.",
                      "path": "tagmanager/v2/{+path}",
                      "httpMethod": "GET"
                    },
                    "entities": {
                      "description": "List all entities in a GTM Folder.",
                      "path": "tagmanager/v2/{+path}:entities",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.entities",
                      "parameters": {
                        "path": {
                          "description": "GTM Folder's API relative path.",
                          "required": true,
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:entities",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    }
                  }
                },
                "transformations": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Transformation"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.transformations.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Transformation"
                      },
                      "description": "Creates a GTM Transformation.",
                      "path": "tagmanager/v2/{+parent}/transformations",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "description": "GTM Transformation's API relative path.",
                          "required": true,
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.transformations.delete",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "description": "Deletes a GTM Transformation.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "Transformation"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameterOrder": [
                        "path"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.transformations.get",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "GTM Transformation's API relative path.",
                          "required": true
                        }
                      },
                      "description": "Gets a GTM Transformation.",
                      "path": "tagmanager/v2/{+path}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "ListTransformationsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "tagmanager/v2/{+parent}/transformations",
                      "description": "Lists all GTM Transformations of a GTM container workspace.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.transformations.list"
                    },
                    "revert": {
                      "httpMethod": "POST",
                      "path": "tagmanager/v2/{+path}:revert",
                      "description": "Reverts changes to a GTM Transformation in a GTM Workspace.",
                      "parameters": {
                        "path": {
                          "required": true,
                          "description": "GTM Transformation's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the transformation in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.transformations.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}:revert",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "RevertTransformationResponse"
                      }
                    },
                    "update": {
                      "path": "tagmanager/v2/{+path}",
                      "description": "Updates a GTM Transformation.",
                      "httpMethod": "PUT",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "GTM Transformation's API relative path."
                        },
                        "fingerprint": {
                          "location": "query",
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the transformation in storage."
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.transformations.update",
                      "request": {
                        "$ref": "Transformation"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Transformation"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "built_in_variables": {
                  "methods": {
                    "list": {
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.list",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists all the enabled Built-In Variables of a GTM Container.",
                      "path": "tagmanager/v2/{+parent}/built_in_variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "ListEnabledBuiltInVariablesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.revert",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "GTM BuiltInVariable's API relative path.",
                          "required": true
                        },
                        "type": {
                          "description": "The type of built-in variable to revert.",
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "For web or mobile.",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "enum": [
                            "builtInVariableTypeUnspecified",
                            "pageUrl",
                            "pageHostname",
                            "pagePath",
                            "referrer",
                            "event",
                            "clickElement",
                            "clickClasses",
                            "clickId",
                            "clickTarget",
                            "clickUrl",
                            "clickText",
                            "firstPartyServingUrl",
                            "formElement",
                            "formClasses",
                            "formId",
                            "formTarget",
                            "formUrl",
                            "formText",
                            "errorMessage",
                            "errorUrl",
                            "errorLine",
                            "newHistoryUrl",
                            "oldHistoryUrl",
                            "newHistoryFragment",
                            "oldHistoryFragment",
                            "newHistoryState",
                            "oldHistoryState",
                            "historySource",
                            "containerVersion",
                            "debugMode",
                            "randomNumber",
                            "containerId",
                            "appId",
                            "appName",
                            "appVersionCode",
                            "appVersionName",
                            "language",
                            "osVersion",
                            "platform",
                            "sdkVersion",
                            "deviceName",
                            "resolution",
                            "advertiserId",
                            "advertisingTrackingEnabled",
                            "htmlId",
                            "environmentName",
                            "ampBrowserLanguage",
                            "ampCanonicalPath",
                            "ampCanonicalUrl",
                            "ampCanonicalHost",
                            "ampReferrer",
                            "ampTitle",
                            "ampClientId",
                            "ampClientTimezone",
                            "ampClientTimestamp",
                            "ampClientScreenWidth",
                            "ampClientScreenHeight",
                            "ampClientScrollX",
                            "ampClientScrollY",
                            "ampClientMaxScrollX",
                            "ampClientMaxScrollY",
                            "ampTotalEngagedTime",
                            "ampPageViewId",
                            "ampPageLoadTime",
                            "ampPageDownloadTime",
                            "ampGtmEvent",
                            "eventName",
                            "firebaseEventParameterCampaign",
                            "firebaseEventParameterCampaignAclid",
                            "firebaseEventParameterCampaignAnid",
                            "firebaseEventParameterCampaignClickTimestamp",
                            "firebaseEventParameterCampaignContent",
                            "firebaseEventParameterCampaignCp1",
                            "firebaseEventParameterCampaignGclid",
                            "firebaseEventParameterCampaignSource",
                            "firebaseEventParameterCampaignTerm",
                            "firebaseEventParameterCurrency",
                            "firebaseEventParameterDynamicLinkAcceptTime",
                            "firebaseEventParameterDynamicLinkLinkid",
                            "firebaseEventParameterNotificationMessageDeviceTime",
                            "firebaseEventParameterNotificationMessageId",
                            "firebaseEventParameterNotificationMessageName",
                            "firebaseEventParameterNotificationMessageTime",
                            "firebaseEventParameterNotificationTopic",
                            "firebaseEventParameterPreviousAppVersion",
                            "firebaseEventParameterPreviousOsVersion",
                            "firebaseEventParameterPrice",
                            "firebaseEventParameterProductId",
                            "firebaseEventParameterQuantity",
                            "firebaseEventParameterValue",
                            "videoProvider",
                            "videoUrl",
                            "videoTitle",
                            "videoDuration",
                            "videoPercent",
                            "videoVisible",
                            "videoStatus",
                            "videoCurrentTime",
                            "scrollDepthThreshold",
                            "scrollDepthUnits",
                            "scrollDepthDirection",
                            "elementVisibilityRatio",
                            "elementVisibilityTime",
                            "elementVisibilityFirstTime",
                            "elementVisibilityRecentTime",
                            "requestPath",
                            "requestMethod",
                            "clientName",
                            "queryString",
                            "serverPageLocationUrl",
                            "serverPageLocationPath",
                            "serverPageLocationHostname",
                            "visitorRegion",
                            "analyticsClientId",
                            "analyticsSessionId",
                            "analyticsSessionNumber"
                          ]
                        }
                      },
                      "description": "Reverts changes to a GTM Built-In Variables in a GTM Workspace.",
                      "path": "tagmanager/v2/{+path}/built_in_variables:revert",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "RevertBuiltInVariableResponse"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables:revert",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "create": {
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.create",
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "required": true,
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "type": {
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "For web or mobile.",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "enum": [
                            "builtInVariableTypeUnspecified",
                            "pageUrl",
                            "pageHostname",
                            "pagePath",
                            "referrer",
                            "event",
                            "clickElement",
                            "clickClasses",
                            "clickId",
                            "clickTarget",
                            "clickUrl",
                            "clickText",
                            "firstPartyServingUrl",
                            "formElement",
                            "formClasses",
                            "formId",
                            "formTarget",
                            "formUrl",
                            "formText",
                            "errorMessage",
                            "errorUrl",
                            "errorLine",
                            "newHistoryUrl",
                            "oldHistoryUrl",
                            "newHistoryFragment",
                            "oldHistoryFragment",
                            "newHistoryState",
                            "oldHistoryState",
                            "historySource",
                            "containerVersion",
                            "debugMode",
                            "randomNumber",
                            "containerId",
                            "appId",
                            "appName",
                            "appVersionCode",
                            "appVersionName",
                            "language",
                            "osVersion",
                            "platform",
                            "sdkVersion",
                            "deviceName",
                            "resolution",
                            "advertiserId",
                            "advertisingTrackingEnabled",
                            "htmlId",
                            "environmentName",
                            "ampBrowserLanguage",
                            "ampCanonicalPath",
                            "ampCanonicalUrl",
                            "ampCanonicalHost",
                            "ampReferrer",
                            "ampTitle",
                            "ampClientId",
                            "ampClientTimezone",
                            "ampClientTimestamp",
                            "ampClientScreenWidth",
                            "ampClientScreenHeight",
                            "ampClientScrollX",
                            "ampClientScrollY",
                            "ampClientMaxScrollX",
                            "ampClientMaxScrollY",
                            "ampTotalEngagedTime",
                            "ampPageViewId",
                            "ampPageLoadTime",
                            "ampPageDownloadTime",
                            "ampGtmEvent",
                            "eventName",
                            "firebaseEventParameterCampaign",
                            "firebaseEventParameterCampaignAclid",
                            "firebaseEventParameterCampaignAnid",
                            "firebaseEventParameterCampaignClickTimestamp",
                            "firebaseEventParameterCampaignContent",
                            "firebaseEventParameterCampaignCp1",
                            "firebaseEventParameterCampaignGclid",
                            "firebaseEventParameterCampaignSource",
                            "firebaseEventParameterCampaignTerm",
                            "firebaseEventParameterCurrency",
                            "firebaseEventParameterDynamicLinkAcceptTime",
                            "firebaseEventParameterDynamicLinkLinkid",
                            "firebaseEventParameterNotificationMessageDeviceTime",
                            "firebaseEventParameterNotificationMessageId",
                            "firebaseEventParameterNotificationMessageName",
                            "firebaseEventParameterNotificationMessageTime",
                            "firebaseEventParameterNotificationTopic",
                            "firebaseEventParameterPreviousAppVersion",
                            "firebaseEventParameterPreviousOsVersion",
                            "firebaseEventParameterPrice",
                            "firebaseEventParameterProductId",
                            "firebaseEventParameterQuantity",
                            "firebaseEventParameterValue",
                            "videoProvider",
                            "videoUrl",
                            "videoTitle",
                            "videoDuration",
                            "videoPercent",
                            "videoVisible",
                            "videoStatus",
                            "videoCurrentTime",
                            "scrollDepthThreshold",
                            "scrollDepthUnits",
                            "scrollDepthDirection",
                            "elementVisibilityRatio",
                            "elementVisibilityTime",
                            "elementVisibilityFirstTime",
                            "elementVisibilityRecentTime",
                            "requestPath",
                            "requestMethod",
                            "clientName",
                            "queryString",
                            "serverPageLocationUrl",
                            "serverPageLocationPath",
                            "serverPageLocationHostname",
                            "visitorRegion",
                            "analyticsClientId",
                            "analyticsSessionId",
                            "analyticsSessionNumber"
                          ],
                          "repeated": true,
                          "location": "query",
                          "type": "string",
                          "description": "The types of built-in variables to enable."
                        }
                      },
                      "description": "Creates one or more GTM Built-In Variables.",
                      "path": "tagmanager/v2/{+parent}/built_in_variables",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "CreateBuiltInVariableResponse"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "description": "Deletes one or more GTM Built-In Variables.",
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.delete",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/built_in_variables$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "GTM BuiltInVariable's API relative path."
                        },
                        "type": {
                          "description": "The types of built-in variables to delete.",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
[...]
