{
  "canonicalName": "Tag Manager",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/tag-manager",
  "discoveryVersion": "v1",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "revision": "20260715",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "schemas": {
    "Workspace": {
      "id": "Workspace",
      "type": "object",
      "description": "Represents a Google Tag Manager Container Workspace.",
      "properties": {
        "description": {
          "description": "Workspace description.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified.",
          "type": "string"
        },
        "path": {
          "description": "GTM Workspace's API relative path.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Workspace display name.",
          "type": "string"
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        }
      }
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "type": "object",
      "description": "Create container versions response.",
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "syncStatus": {
          "description": "Whether version creation failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "newWorkspacePath": {
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview.",
          "type": "string"
        }
      }
    },
    "QuickPreviewResponse": {
      "id": "QuickPreviewResponse",
      "type": "object",
      "description": "Response to quick previewing a workspace.",
      "properties": {
        "containerVersion": {
          "description": "The quick previewed container version.",
          "$ref": "ContainerVersion"
        },
        "syncStatus": {
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        }
      }
    },
    "CreateBuiltInVariableResponse": {
      "properties": {
        "builtInVariable": {
          "description": "List of created built-in variables.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        }
      },
      "id": "CreateBuiltInVariableResponse",
      "type": "object"
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "enablingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "format": "int64",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "format": "int64",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "formatValue": {
          "description": "Option to convert a variable value to other value.",
          "$ref": "VariableFormatValue"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The variable's parameters."
        },
        "path": {
          "description": "GTM Variable's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        }
      },
      "id": "Variable",
      "type": "object"
    },
    "MergeConflict": {
      "id": "MergeConflict",
      "type": "object",
      "description": "Represents a merge conflict.",
      "properties": {
        "entityInBaseVersion": {
          "$ref": "Entity",
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version."
        },
        "entityInWorkspace": {
          "$ref": "Entity",
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status."
        }
      }
    },
    "CustomTemplate": {
      "description": "Represents a Google Tag Manager Custom Template's contents.",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "templateData": {
          "description": "The custom template in text format.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "galleryReference": {
          "$ref": "GalleryReference",
          "description": "A reference to the Community Template Gallery entry."
        },
        "templateId": {
          "description": "The Custom Template ID uniquely identifies the GTM custom template.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM Custom Template's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Custom Template display name.",
          "type": "string"
        }
      },
      "id": "CustomTemplate",
      "type": "object"
    },
    "RevertFolderResponse": {
      "description": "The result of reverting folder changes in a workspace.",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version."
        }
      },
      "id": "RevertFolderResponse",
      "type": "object"
    },
    "ZoneTypeRestriction": {
      "id": "ZoneTypeRestriction",
      "type": "object",
      "description": "Represents a Zone's type restrictions.",
      "properties": {
        "enable": {
          "description": "True if type restrictions have been enabled for this Zone.",
          "type": "boolean"
        },
        "whitelistedTypeId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of type public ids that have been whitelisted for use in this Zone."
        }
      }
    },
    "ListDestinationsResponse": {
      "id": "ListDestinationsResponse",
      "type": "object",
      "properties": {
        "destination": {
          "description": "All Destinations linked to a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "type": "object",
      "description": "A list of workspaces in a container.",
      "properties": {
        "workspace": {
          "description": "All Workspaces of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ListClientsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "client": {
          "type": "array",
          "items": {
            "$ref": "Client"
          },
          "description": "All GTM Clients of a GTM Container."
        }
      },
      "id": "ListClientsResponse",
      "type": "object"
    },
    "Environment": {
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "properties": {
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "path": {
          "description": "GTM Environment's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ],
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ],
          "description": "The type of this environment."
        },
        "workspaceId": {
          "description": "Represents a link to a quick preview of a workspace.",
          "type": "string"
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "authorizationTimestamp": {
          "type": "string",
          "description": "The last update time-stamp for the authorization code.",
          "format": "google-datetime"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment.",
          "type": "boolean"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "Represents a link to a container version.",
          "type": "string"
        }
      },
      "id": "Environment",
      "type": "object"
    },
    "ListTriggersResponse": {
      "id": "ListTriggersResponse",
      "type": "object",
      "description": "List triggers response.",
      "properties": {
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ListUserPermissionsResponse": {
      "id": "ListUserPermissionsResponse",
      "type": "object",
      "description": "List user permissions response.",
      "properties": {
        "userPermission": {
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          },
          "description": "All GTM UserPermissions of a GTM Account."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Destination": {
      "description": "Represents a Google Tag Destination.",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI.",
          "type": "string"
        },
        "path": {
          "description": "Destination's API relative path.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Destination display name.",
          "type": "string"
        },
        "destinationLinkId": {
          "description": "The Destination link ID uniquely identifies the Destination.",
          "type": "string"
        },
        "destinationId": {
          "description": "Destination ID.",
          "type": "string"
        }
      },
      "id": "Destination",
      "type": "object"
    },
    "TeardownTag": {
      "description": "Represents a tag that fires after another tag in order to tear down dependencies.",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      },
      "id": "TeardownTag",
      "type": "object"
    },
    "ProposedChange": {
      "properties": {
        "changes": {
          "description": "The list of workspace changes to be applied.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        }
      },
      "id": "ProposedChange",
      "type": "object"
    },
    "ListTagsResponse": {
      "description": "List Tags Response.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "tag": {
          "description": "All GTM Tags of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "id": "ListTagsResponse",
      "type": "object"
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "properties": {
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "autoEventFilter": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of auto event tracking."
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "selector": {
          "$ref": "Parameter",
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "notes": {
          "description": "User notes on how to apply this trigger in the container.",
          "type": "string"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "parameter": {
          "description": "Additional parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "path": {
          "description": "GTM Trigger's API relative path.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        }
      },
      "id": "Trigger",
      "type": "object"
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "type": "object",
      "description": "List Accounts Response.",
      "properties": {
        "account": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "properties": {
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags in the container that this version was taken from."
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The triggers in the container that this version was taken from."
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "customTemplate": {
          "description": "The custom templates in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        },
        "builtInVariable": {
          "description": "The built-in variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        },
        "transformation": {
          "description": "The transformations in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Transformation"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The variables in the container that this version was taken from."
        },
        "folder": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "The folders in the container that this version was taken from."
        },
        "description": {
          "description": "Container version description.",
          "type": "string"
        },
        "zone": {
          "description": "The zones in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        },
        "gtagConfig": {
          "description": "The Google tag configs in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          }
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "client": {
          "type": "array",
          "items": {
            "$ref": "Client"
          },
          "description": "The clients in the container that this version was taken from."
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        }
      },
      "id": "ContainerVersion",
      "type": "object"
    },
    "Transformation": {
      "id": "Transformation",
      "type": "object",
      "description": "Represents a Google Tag Manager Transformation.",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this transformation in the container.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Transformation as computed at storage time. This value is recomputed whenever the transformation is modified.",
          "type": "string"
        },
        "type": {
          "description": "Transformation type.",
          "type": "string"
        },
        "transformationId": {
          "description": "The Transformation ID uniquely identifies the GTM transformation.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The transformation's parameters."
        },
        "path": {
          "description": "GTM transformation's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Transformation display name.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        }
      }
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "type": "object",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "properties": {
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The list of triggers inside the folder."
        },
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The list of variables inside the folder."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "ListTransformationsResponse": {
      "properties": {
        "transformation": {
          "type": "array",
          "items": {
            "$ref": "Transformation"
          },
          "description": "All GTM Transformations of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListTransformationsResponse",
      "type": "object"
    },
    "VariableFormatValue": {
      "properties": {
        "convertUndefinedToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is undefined."
        },
        "caseConversionType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ],
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ],
          "description": "The option to convert a string-type variable value to either lowercase or uppercase."
        },
        "convertFalseToValue": {
          "description": "The value to convert if a variable value is false.",
          "$ref": "Parameter"
        },
        "convertToNumber": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to a number with a period as the decimal separator.",
            "The option to convert a variable value to a number with a comma as the decimal separator.",
            "The option to convert a variable value to a number with automatic decimal separator detection."
          ],
          "enum": [
            "decimalSeparatorTypeUnspecified",
            "period",
            "comma",
            "automatic"
          ],
          "description": "The option to convert a variable value to a number."
        },
        "convertNullToValue": {
          "description": "The value to convert if a variable value is null.",
          "$ref": "Parameter"
        },
        "convertToBoolean": {
          "description": "The option to convert a variable value to a boolean.",
          "type": "boolean"
        },
        "convertTrueToValue": {
          "description": "The value to convert if a variable value is true.",
          "$ref": "Parameter"
        }
      },
      "id": "VariableFormatValue",
      "type": "object"
    },
    "SetupTag": {
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies.",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      },
      "id": "SetupTag",
      "type": "object"
    },
    "RevertTagResponse": {
      "description": "The result of reverting a tag in a workspace.",
      "properties": {
        "tag": {
          "$ref": "Tag",
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version."
        }
      },
      "id": "RevertTagResponse",
      "type": "object"
    },
    "SyncStatus": {
      "description": "The status of a workspace after synchronization.",
      "properties": {
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        },
        "syncError": {
          "description": "An error occurred during the synchronization operation.",
          "type": "boolean"
        }
      },
      "id": "SyncStatus",
      "type": "object"
    },
    "TagConsentSetting": {
      "properties": {
        "consentStatus": {
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted.",
          "type": "string",
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ],
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ]
        },
        "consentType": {
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING.",
          "$ref": "Parameter"
        }
      },
      "id": "TagConsentSetting",
      "type": "object"
    },
    "Client": {
      "id": "Client",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified.",
          "type": "string"
        },
        "type": {
          "description": "Client type.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "clientId": {
          "description": "The Client ID uniquely identifies the GTM client.",
          "type": "string"
        },
        "priority": {
          "description": "Priority determines relative firing order.",
          "format": "int32",
          "type": "integer"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The client's parameters."
        },
        "path": {
          "description": "GTM client's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Client display name.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        }
      }
    },
    "RevertClientResponse": {
      "description": "The result of reverting a client in a workspace.",
      "properties": {
        "client": {
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version.",
          "$ref": "Client"
        }
      },
      "id": "RevertClientResponse",
      "type": "object"
    },
    "ListZonesResponse": {
      "id": "ListZonesResponse",
      "type": "object",
      "properties": {
        "zone": {
          "description": "All GTM Zones of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ContainerFeatures": {
      "id": "ContainerFeatures",
      "type": "object",
      "properties": {
        "supportBuiltInVariables": {
          "description": "Whether this Container supports built-in variables",
          "type": "boolean"
        },
        "supportTemplates": {
          "description": "Whether this Container supports templates.",
          "type": "boolean"
        },
        "supportVersions": {
          "description": "Whether this Container supports Container versions.",
          "type": "boolean"
        },
        "supportWorkspaces": {
          "description": "Whether this Container supports workspaces.",
          "type": "boolean"
        },
        "supportClients": {
          "description": "Whether this Container supports clients.",
          "type": "boolean"
        },
        "supportTransformations": {
          "description": "Whether this Container supports transformations.",
          "type": "boolean"
        },
        "supportGtagConfigs": {
          "description": "Whether this Container supports Google tag config.",
          "type": "boolean"
        },
        "supportTriggers": {
          "description": "Whether this Container supports triggers.",
          "type": "boolean"
        },
        "supportZones": {
          "description": "Whether this Container supports zones.",
          "type": "boolean"
        },
        "supportEnvironments": {
          "description": "Whether this Container supports environments.",
          "type": "boolean"
        },
        "supportFolders": {
          "description": "Whether this Container supports folders.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "description": "Whether this Container supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportTags": {
          "description": "Whether this Container supports tags.",
          "type": "boolean"
        },
        "supportVariables": {
          "description": "Whether this Container supports variables.",
          "type": "boolean"
        }
      }
    },
    "PublishContainerVersionResponse": {
      "id": "PublishContainerVersionResponse",
      "type": "object",
      "description": "Publish container version response.",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      }
    },
    "ListEnabledBuiltInVariablesResponse": {
      "id": "ListEnabledBuiltInVariablesResponse",
      "type": "object",
      "description": "A list of enabled built-in variables.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "builtInVariable": {
          "description": "All GTM BuiltInVariables of a GTM container.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        }
      }
    },
    "Folder": {
      "id": "Folder",
      "type": "object",
      "description": "Represents a Google Tag Manager Folder.",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this folder in the container.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM Folder's API relative path.",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      }
    },
    "BulkUpdateWorkspaceResponse": {
      "id": "BulkUpdateWorkspaceResponse",
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system."
        }
      }
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "type": "object",
      "description": "List Variables Response.",
      "properties": {
        "variable": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Container": {
      "id": "Container",
      "type": "object",
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions.",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "features": {
          "$ref": "ContainerFeatures",
          "description": "Read-only Container feature set."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "taggingServerUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of server-side container URLs for the Container. If multiple URLs are provided, all URL paths must match."
        },
        "path": {
          "description": "GTM Container's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "domainName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domain names associated with the Container."
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "tagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All Tag IDs that refer to this Container."
        },
        "usageContext": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ]
          },
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios."
        }
      }
    },
    "Parameter": {
      "id": "Parameter",
      "type": "object",
      "description": "Represents a Google Tag Manager Parameter.",
      "properties": {
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
          "type": "string"
        },
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "list": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "This list parameter's parameters (keys will be ignored)."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name "
        },
        "isWeakReference": {
          "description": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations.",
          "type": "boolean"
        }
      }
    },
    "RevertTemplateResponse": {
      "description": "The result of reverting a template in a workspace.",
      "properties": {
        "template": {
          "$ref": "CustomTemplate",
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version."
        }
      },
      "id": "RevertTemplateResponse",
      "type": "object"
    },
    "ZoneChildContainer": {
      "id": "ZoneChildContainer",
      "type": "object",
      "description": "Represents a child container of a Zone.",
      "properties": {
        "nickname": {
          "description": "The zone's nickname for the child container.",
          "type": "string"
        },
        "publicId": {
          "description": "The child container's public id.",
          "type": "string"
        }
      }
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "type": "object",
      "description": "List container versions response.",
      "properties": {
        "containerVersionHeader": {
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "description": "All container version headers of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "AccountAccess": {
      "id": "AccountAccess",
      "type": "object",
      "description": "Defines the Google Tag Manager Account access permissions.",
      "properties": {
        "permission": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "description": "Whether the user has no access, user access, or admin access to an account."
        }
      }
    },
    "ZoneBoundary": {
      "id": "ZoneBoundary",
      "type": "object",
      "description": "Represents a Zone's boundaries.",
      "properties": {
        "condition": {
          "description": "The conditions that, when conjoined, make up the boundary.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "customEvaluationTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true."
        }
      }
    },
    "RevertVariableResponse": {
      "description": "The result of reverting a variable in a workspace.",
      "properties": {
        "variable": {
          "$ref": "Variable",
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version."
        }
      },
      "id": "RevertVariableResponse",
      "type": "object"
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace.",
      "properties": {
        "transformation": {
          "description": "The transformation being represented by the entity.",
          "$ref": "Transformation"
        },
        "builtInVariable": {
          "$ref": "BuiltInVariable",
          "description": "The built in variable being represented by the entity."
        },
        "folder": {
          "description": "The folder being represented by the entity.",
          "$ref": "Folder"
        },
        "variable": {
          "$ref": "Variable",
          "description": "The variable being represented by the entity."
        },
        "changeStatus": {
          "description": "Represents how the entity has been changed in the workspace.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ],
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ]
        },
        "trigger": {
          "description": "The trigger being represented by the entity.",
          "$ref": "Trigger"
        },
        "customTemplate": {
          "$ref": "CustomTemplate",
          "description": "The custom template being represented by the entity."
        },
        "zone": {
          "$ref": "Zone",
          "description": "The zone being represented by the entity."
        },
        "gtagConfig": {
          "description": "The gtag config being represented by the entity.",
          "$ref": "GtagConfig"
        },
        "tag": {
          "$ref": "Tag",
          "description": "The tag being represented by the entity."
        },
        "client": {
          "description": "The client being represented by the entity.",
          "$ref": "Client"
        }
      }
    },
    "AccountFeatures": {
      "properties": {
        "supportUserPermissions": {
          "description": "Whether this Account supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportMultipleContainers": {
          "description": "Whether this Account supports multiple Containers.",
          "type": "boolean"
        }
      },
      "id": "AccountFeatures",
      "type": "object"
    },
    "GtagConfig": {
      "id": "GtagConfig",
      "type": "object",
      "description": "Represents a Google tag configuration.",
      "properties": {
        "containerId": {
          "description": "Google tag container ID.",
          "type": "string"
        },
        "gtagConfigId": {
          "description": "The ID uniquely identifies the Google tag config.",
          "type": "string"
        },
        "accountId": {
          "description": "Google tag account ID.",
          "type": "string"
        },
        "path": {
          "description": "Google tag config's API relative path.",
          "type": "string"
        },
        "workspaceId": {
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise.",
          "type": "string"
        },
        "parameter": {
          "description": "The Google tag config's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "type": {
          "description": "Google tag config type.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      }
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "permission": {
          "description": "List of Container permissions.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ]
        }
      },
      "id": "ContainerAccess",
      "type": "object"
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "properties": {
        "folder": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListFoldersResponse",
      "type": "object"
    },
    "GetWorkspaceStatusResponse": {
      "id": "GetWorkspaceStatusResponse",
      "type": "object",
      "description": "The changes that have occurred in the workspace since the base container version.",
      "properties": {
        "mergeConflict": {
          "description": "The merge conflict after sync.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        },
        "workspaceChange": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities that have been changed in the workspace."
        }
      }
    },
    "GalleryReference": {
      "id": "GalleryReference",
      "type": "object",
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site.",
      "properties": {
        "owner": {
          "description": "The name of the owner for the community gallery template.",
          "type": "string"
        },
        "templateDeveloperId": {
          "description": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery.",
          "type": "string"
        },
        "host": {
          "description": "The name of the host for the community gallery template.",
          "type": "string"
        },
        "version": {
          "description": "The version of the community gallery template.",
          "type": "string"
        },
        "galleryTemplateId": {
          "description": "ID for the gallery template that is generated once during first sync and travels with the template redirects.",
          "type": "string"
        },
        "isModified": {
          "description": "If a user has manually edited the community gallery template.",
          "type": "boolean"
        },
        "signature": {
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery.",
          "type": "string"
        },
        "repository": {
          "description": "The name of the repository for the community gallery template.",
          "type": "string"
        }
      }
    },
    "GetContainerSnippetResponse": {
      "id": "GetContainerSnippetResponse",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "Tagging snippet for a Container.",
          "type": "string"
        },
        "containerConfig": {
          "description": "Server container config param for manually provisioning a tagging server.",
          "type": "string"
        }
      }
    },
    "RevertBuiltInVariableResponse": {
      "id": "RevertBuiltInVariableResponse",
      "type": "object",
      "description": "The result of reverting a built-in variable in a workspace.",
      "properties": {
        "enabled": {
          "description": "Whether the built-in variable is enabled after reversion.",
          "type": "boolean"
        }
      }
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "properties": {
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The tag's parameters."
        },
        "monitoringMetadataTagNameKey": {
          "description": "If non-empty, then the tag display name will be included in the monitoring metadata map using the key specified.",
          "type": "string"
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "setupTag": {
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          },
          "description": "The list of setup tags. Currently we only allow one."
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "format": "int64",
          "type": "string"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "format": "int64",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "teardownTag": {
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          },
          "description": "The list of teardown tags. Currently we only allow one."
        },
        "firingTriggerId": {
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "path": {
          "description": "GTM Tag's API relative path.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "tagFiringOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag."
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing.",
          "type": "boolean"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "consentSettings": {
          "$ref": "TagConsentSetting",
          "description": "Consent settings of a tag."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "blockingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire."
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "monitoringMetadata": {
          "$ref": "Parameter",
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. "
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "id": "Tag",
      "type": "object"
    },
    "ListTemplatesResponse": {
      "id": "ListTemplatesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        }
      }
    },
    "Zone": {
      "description": "Represents a Google Tag Manager Zone's contents.",
      "properties": {
        "childContainer": {
          "description": "Containers that are children of this Zone.",
          "type": "array",
          "items": {
            "$ref": "ZoneChildContainer"
          }
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "typeRestriction": {
          "$ref": "ZoneTypeRestriction",
          "description": "This Zone's type restrictions."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified.",
          "type": "string"
        },
        "zoneId": {
          "description": "The Zone ID uniquely identifies the GTM Zone.",
          "type": "string"
        },
        "path": {
          "description": "GTM Zone's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Zone display name.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this zone in the container.",
          "type": "string"
        },
        "boundary": {
          "description": "This Zone's boundary.",
          "$ref": "ZoneBoundary"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "id": "Zone",
      "type": "object"
    },
    "UserPermission": {
      "description": "Represents a user's permissions to an account and its container.",
      "properties": {
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "accountAccess": {
          "$ref": "AccountAccess",
          "description": "GTM Account access permissions."
        },
        "path": {
          "description": "GTM UserPermission's API relative path.",
          "type": "string"
        }
      },
      "id": "UserPermission",
      "type": "object"
    },
    "SyncWorkspaceResponse": {
      "description": "A response after synchronizing the workspace to the latest container version.",
      "properties": {
        "mergeConflict": {
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        },
        "syncStatus": {
          "description": "Indicates whether synchronization caused a merge conflict or sync error.",
          "$ref": "SyncStatus"
        }
      },
      "id": "SyncWorkspaceResponse",
      "type": "object"
    },
    "Condition": {
      "id": "Condition",
      "type": "object",
      "description": "Represents a predicate.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition."
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      }
    },
    "RevertTransformationResponse": {
      "description": "The result of reverting a transformation in a workspace.",
      "properties": {
        "transformation": {
          "$ref": "Transformation",
          "description": "Transformation as it appears in the latest container version since the last workspace synchronization operation. If no transformation is present, that means the transformation was deleted in the latest container version."
        }
      },
      "id": "RevertTransformationResponse",
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "description": "List Environments Response.",
      "properties": {
        "environment": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListEnvironmentsResponse",
      "type": "object"
    },
    "RevertTriggerResponse": {
      "description": "The result of reverting a trigger in a workspace.",
      "properties": {
        "trigger": {
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version.",
          "$ref": "Trigger"
        }
      },
      "id": "RevertTriggerResponse",
      "type": "object"
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "properties": {
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions",
      "type": "object"
    },
    "ListGtagConfigResponse": {
      "properties": {
        "gtagConfig": {
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "All Google tag configs in a Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListGtagConfigResponse",
      "type": "object"
    },
    "Account": {
      "description": "Represents a Google Tag Manager Account.",
      "properties": {
        "path": {
          "description": "GTM Account's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Account display name.",
          "type": "string"
        },
        "features": {
          "$ref": "AccountFeatures",
          "description": "Read-only Account feature set"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service.",
          "type": "boolean"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      },
      "id": "Account",
      "type": "object"
    },
    "ContainerVersionHeader": {
      "id": "ContainerVersionHeader",
      "type": "object",
      "description": "Represents a Google Tag Manager Container Version Header.",
      "properties": {
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "numCustomTemplates": {
          "description": "Number of custom templates in the container version.",
          "type": "string"
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "numClients": {
          "description": "Number of clients in the container version.",
          "type": "string"
        },
        "numTransformations": {
          "description": "Number of transformations in the container version.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "numZones": {
          "description": "Number of zones in the container version.",
          "type": "string"
        },
        "numGtagConfigs": {
          "description": "Number of Google tag configs in the container version.",
          "type": "string"
        }
      }
    },
    "BuiltInVariable": {
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL.",
      "properties": {
        "path": {
          "description": "GTM BuiltInVariable's API relative path.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Name of the built-in variable to be used to refer to the built-in variable.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "type": {
          "description": "Type of built-in variable.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname",
            "visitorRegion",
            "analyticsClientId",
            "analyticsSessionId",
            "analyticsSessionNumber"
          ]
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "id": "BuiltInVariable",
      "type": "object"
    },
    "RevertZoneResponse": {
      "id": "RevertZoneResponse",
      "type": "object",
      "description": "The result of reverting a zone in a workspace.",
      "properties": {
        "zone": {
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version.",
          "$ref": "Zone"
        }
      }
    },
    "ListContainersResponse": {
      "id": "ListContainersResponse",
      "type": "object",
      "description": "List Containers Response.",
      "properties": {
        "container": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    }
  },
  "id": "tagmanager:v2",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "containers": {
          "resources": {
            "workspaces": {
              "resources": {
                "variables": {
                  "methods": {
                    "update": {
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Variable"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "description": "Updates a GTM Variable.",
                      "httpMethod": "PUT",
                      "path": "tagmanager/v2/{+path}",
                      "id": "tagmanager.accounts.containers.workspaces.variables.update",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "request": {
                        "$ref": "Variable"
                      },
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "description": "GTM Variable's API relative path.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "path": "tagmanager/v2/{+parent}/variables",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Variable"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "description": "Creates a GTM Variable.",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "request": {
                        "$ref": "Variable"
                      },
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.variables.create"
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "description": "GTM Variable's API relative path.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "description": "Deletes a GTM Variable.",
                      "id": "tagmanager.accounts.containers.workspaces.variables.delete",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Variable"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "description": "Gets a GTM Variable.",
                      "path": "tagmanager/v2/{+path}",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.variables.get",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "description": "GTM Variable's API relative path.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.variables.revert",
                      "parameters": {
                        "fingerprint": {
                          "location": "query",
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage."
                        },
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "description": "GTM Variable's API relative path.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}:revert",
                      "response": {
                        "$ref": "RevertVariableResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "description": "Reverts changes to a GTM Variable in a GTM Workspace.",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "POST",
                      "path": "tagmanager/v2/{+path}:revert"
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "description": "GTM Workspace's API relative path.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "id": "tagmanager.accounts.containers.workspaces.variables.list",
                      "path": "tagmanager/v2/{+parent}/variables",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListVariablesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "description": "Lists all GTM Variables of a Container.",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "zones": {
                  "methods": {
                    "list": {
                      "path": "tagmanager/v2/{+parent}/zones",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListZonesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
[...]
