{
  "title": "Tag Manager API",
  "protocol": "rest",
  "batchPath": "batch",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "canonicalName": "Tag Manager",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://tagmanager.googleapis.com/",
  "revision": "20260902",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        }
      }
    }
  },
  "id": "tagmanager:v1",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/tag-manager",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerName": "Google",
  "name": "tagmanager",
  "resources": {
    "accounts": {
      "resources": {
        "containers": {
          "resources": {
            "environments": {
              "methods": {
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.list",
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "request": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.create",
                  "description": "Creates a GTM Environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Gets a GTM Environment.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "id": "tagmanager.accounts.containers.environments.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}"
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "environmentId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Deletes a GTM Environment.",
                  "id": "tagmanager.accounts.containers.environments.delete"
                },
                "update": {
                  "description": "Updates a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.update",
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "location": "query"
                    },
                    "environmentId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "environmentId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "request": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "description": "Moves entities to a GTM Folder.",
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "triggerId": {
                      "description": "The triggers to be moved to the folder.",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "tagId": {
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "The tags to be moved to the folder."
                    },
                    "variableId": {
                      "location": "query",
                      "type": "string",
                      "description": "The variables to be moved to the folder.",
                      "repeated": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "folderId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Folder ID."
                    }
                  }
                }
              }
            },
            "triggers": {
              "methods": {
                "get": {
                  "description": "Gets a GTM Trigger.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "triggerId": {
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "description": "Deletes a GTM Trigger.",
                  "parameters": {
                    "triggerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Trigger ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.delete"
                },
                "update": {
                  "request": {
                    "$ref": "Trigger"
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "description": "Updates a GTM Trigger."
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Creates a GTM Trigger.",
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Lists all GTM Triggers of a Container."
                }
              }
            },
            "tags": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.get",
                  "description": "Gets a GTM Tag.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Tag"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "description": "Creates a GTM Tag.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "request": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.create",
                  "response": {
                    "$ref": "Tag"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "tagId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Deletes a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.delete"
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.tags.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Lists all GTM Tags of a Container.",
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "request": {
                    "$ref": "Tag"
                  },
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.update",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "tagId": {
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "response": {
                    "$ref": "Tag"
                  }
                }
              }
            },
            "folders": {
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "folderId": {
                          "required": true,
                          "type": "string",
                          "description": "The GTM Folder ID.",
                          "location": "path"
                        },
                        "accountId": {
                          "location": "path",
                          "description": "The GTM Account ID.",
                          "type": "string",
                          "required": true
                        },
                        "containerId": {
                          "required": true,
                          "description": "The GTM Container ID.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "List all entities in a GTM Folder.",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "folderId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.delete"
                },
                "update": {
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.folders.update",
                  "description": "Updates a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage."
                    },
                    "folderId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Folder"
                  },
                  "httpMethod": "PUT"
                },
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "folderId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.get",
                  "description": "Gets a GTM Folder."
                },
                "create": {
                  "request": {
                    "$ref": "Folder"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "POST",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.create",
                  "description": "Creates a GTM Folder.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Folders of a Container.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.folders.list"
                }
              }
            },
            "variables": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "variableId": {
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "description": "Gets a GTM Variable.",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.variables.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}"
                },
                "delete": {
                  "description": "Deletes a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "variableId": {
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "update": {
                  "id": "tagmanager.accounts.containers.variables.update",
                  "request": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "description": "Updates a GTM Variable.",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage."
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "variableId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "PUT"
                },
                "create": {
                  "description": "Creates a GTM Variable.",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.variables.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "request": {
                    "$ref": "Variable"
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "description": "Lists all GTM Variables of a Container.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables"
                }
              }
            },
            "versions": {
              "methods": {
                "publish": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "description": "Publishes a Container Version.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "undelete": {
                  "description": "Undeletes a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container Version ID."
                    },
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "httpMethod": "POST"
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.create",
                  "description": "Creates a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "httpMethod": "POST"
                },
                "restore": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerVersionId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID."
                    }
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Deletes a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Gets a Container Version.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                },
                "list": {
                  "id": "tagmanager.accounts.containers.versions.list",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "includeDeleted": {
                      "default": "false",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "headers": {
                      "type": "boolean",
                      "location": "query",
                      "default": "false",
                      "description": "Retrieve headers only when true."
                    }
                  },
                  "httpMethod": "GET"
                },
                "update": {
                  "description": "Updates a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "id": "tagmanager.accounts.containers.get",
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "containerId": {
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Gets a Container.",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "id": "tagmanager.accounts.containers.create",
              "response": {
                "$ref": "Container"
              },
              "request": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Creates a Container."
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.update",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "request": {
                "$ref": "Container"
              },
              "description": "Updates a Container.",
              "httpMethod": "PUT",
              "parameters": {
                "containerId": {
                  "location": "path",
                  "description": "The GTM Container ID.",
                  "required": true,
                  "type": "string"
                },
                "fingerprint": {
                  "type": "string",
                  "location": "query",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID."
                }
              }
            },
            "delete": {
              "description": "Deletes a Container.",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "id": "tagmanager.accounts.containers.delete",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                },
                "containerId": {
                  "type": "string",
                  "required": true,
                  "description": "The GTM Container ID.",
                  "location": "path"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
            },
            "list": {
              "id": "tagmanager.accounts.containers.list",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListContainersResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            }
          }
        },
        "permissions": {
          "methods": {
            "get": {
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.permissions.get",
              "httpMethod": "GET",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "description": "Gets a user's Account & Container Permissions."
            },
            "delete": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "DELETE",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                }
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "id": "tagmanager.accounts.permissions.delete",
              "description": "Removes a user from the account, revoking access to it and all of its containers."
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "UserAccess"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                },
                "permissionId": {
                  "required": true,
                  "description": "The GTM User ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "UserAccess"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.update",
              "description": "Updates a user's Account & Container Permissions."
            },
            "create": {
              "id": "tagmanager.accounts.permissions.create",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "request": {
                "$ref": "UserAccess"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Creates a user's Account & Container Permissions."
            },
            "list": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.permissions.list",
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions"
            }
          }
        }
      },
      "methods": {
        "list": {
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "description": "Lists all GTM Accounts that a user has access to.",
          "flatPath": "tagmanager/v1/accounts",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {},
          "path": "tagmanager/v1/accounts",
          "httpMethod": "GET",
          "id": "tagmanager.accounts.list"
        },
        "get": {
          "id": "tagmanager.accounts.get",
          "response": {
            "$ref": "Account"
          },
          "description": "Gets a GTM Account.",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "path": "tagmanager/v1/accounts/{accountId}",
          "parameterOrder": [
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The GTM Account ID.",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "path": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.update",
          "description": "Updates a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "accountId"
          ],
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The GTM Account ID."
            },
            "fingerprint": {
              "location": "query",
              "type": "string",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage."
            }
          },
          "httpMethod": "PUT"
        }
      }
    }
  },
  "schemas": {
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        },
        "notes": {
          "type": "string",
          "description": "The notes of the container version to be created."
        },
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "Account": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Account display name."
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        }
      },
      "id": "Account",
      "type": "object",
      "description": "Represents a Google Tag Manager Account."
    },
    "CreateContainerVersionResponse": {
      "description": "Create container versions response.",
      "id": "CreateContainerVersionResponse",
      "type": "object",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      }
    },
    "AccountAccess": {
      "properties": {
        "permission": {
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          }
        }
      },
      "id": "AccountAccess",
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object"
    },
    "Environment": {
      "type": "object",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "id": "Environment",
      "properties": {
        "description": {
          "type": "string",
          "description": "The environment description. Can be set or changed only on USER type environments."
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string"
        },
        "authorizationCode": {
          "type": "string",
          "description": "The environment authorization code."
        },
        "url": {
          "type": "string",
          "description": "Default preview page url for the environment."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "enableDebug": {
          "type": "boolean",
          "description": "Whether or not to enable debug by default on for the environment."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
        },
        "type": {
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ],
          "description": "The type of this environment.",
          "type": "string",
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ]
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "authorizationTimestampMs": {
          "type": "string",
          "description": "The last update time-stamp for the authorization code.",
          "format": "int64"
        }
      }
    },
    "Parameter": {
      "properties": {
        "value": {
          "type": "string",
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type."
        },
        "type": {
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "type": "string",
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ]
        },
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "list": {
          "type": "array",
          "description": "This list parameter's parameters (keys will be ignored).",
          "items": {
            "$ref": "Parameter"
          }
        },
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        }
      },
      "type": "object",
      "id": "Parameter",
      "description": "Represents a Google Tag Manager Parameter."
    },
    "Trigger": {
      "properties": {
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Trigger display name."
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
        },
        "visiblePercentageMin": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "filter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array"
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "customEventFilter": {
          "type": "array",
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          }
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "checkValidation": {
          "$ref": "Parameter",
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Defines the data layer event that causes this trigger.",
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Trigger",
      "id": "Trigger"
    },
    "ListAccountUsersResponse": {
      "properties": {
        "userAccess": {
          "type": "array",
          "items": {
            "$ref": "UserAccess"
          },
          "description": "All GTM AccountUsers of a GTM Account."
        }
      },
      "description": "List AccountUsers Response.",
      "type": "object",
      "id": "ListAccountUsersResponse"
    },
    "TeardownTag": {
      "id": "TeardownTag",
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      }
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "description": "List Folders Response.",
      "type": "object",
      "properties": {
        "folders": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        }
      }
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "permission": {
          "items": {
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish."
        }
      },
      "type": "object"
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "id": "Variable",
      "type": "object",
      "properties": {
        "enablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "parameter": {
          "type": "array",
          "description": "The variable's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        }
      }
    },
    "ListTagsResponse": {
      "description": "List Tags Response.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "description": "All GTM Tags of a GTM Container.",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "id": "ListTagsResponse"
    },
    "ContainerVersion": {
      "type": "object",
      "properties": {
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "folder": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "description": "The folders in the container that this version was taken from."
        },
        "tag": {
          "type": "array",
          "description": "The tags in the container that this version was taken from.",
          "items": {
            "$ref": "Tag"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "trigger": {
          "type": "array",
          "description": "The triggers in the container that this version was taken from.",
          "items": {
            "$ref": "Trigger"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "variable": {
          "type": "array",
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          }
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion"
    },
    "Condition": {
      "description": "Represents a predicate.",
      "properties": {
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. "
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The type of operator for this condition.",
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
[...]
