{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "revision": "20260715",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/tag-manager",
  "schemas": {
    "SetupTag": {
      "id": "SetupTag",
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        }
      }
    },
    "ListAccountsResponse": {
      "description": "List Accounts Response.",
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "List of GTM Accounts that a user has access to.",
          "items": {
            "$ref": "Account"
          }
        }
      }
    },
    "ContainerVersionHeader": {
      "id": "ContainerVersionHeader",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Version Header."
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "type": "object",
      "properties": {
        "folders": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "description": "List Folders Response."
    },
    "UserAccess": {
      "description": "Represents a user's permissions to an account and its container.",
      "id": "UserAccess",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "containerAccess": {
          "type": "array",
          "description": "GTM Container access permissions.",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "permissionId": {
          "description": "Account Permission ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "containerVersionId": {
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The environment description. Can be set or changed only on USER type environments."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "environmentId": {
          "type": "string",
          "description": "GTM Environment ID uniquely identifies the GTM Environment."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ],
          "description": "The type of this environment.",
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ]
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default on for the environment.",
          "type": "boolean"
        },
        "authorizationCode": {
          "type": "string",
          "description": "The environment authorization code."
        },
        "authorizationTimestampMs": {
          "type": "string",
          "description": "The last update time-stamp for the authorization code.",
          "format": "int64"
        }
      },
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types."
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "type": "object",
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "description": "Create container versions response."
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "id": "Folder",
      "type": "object",
      "properties": {
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        }
      }
    },
    "ListAccountUsersResponse": {
      "id": "ListAccountUsersResponse",
      "type": "object",
      "properties": {
        "userAccess": {
          "description": "All GTM AccountUsers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserAccess"
          }
        }
      },
      "description": "List AccountUsers Response."
    },
    "Container": {
      "id": "Container",
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "timeZoneCountryId": {
          "type": "string",
          "description": "Container Country ID."
        },
        "enabledBuiltInVariable": {
          "type": "array",
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
          "items": {
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "domainName": {
          "items": {
            "type": "string"
          },
          "description": "Optional list of domain names associated with the Container.",
          "type": "array"
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "timeZoneId": {
          "type": "string",
          "description": "Container Time Zone ID."
        },
        "containerId": {
          "type": "string",
          "description": "The Container ID uniquely identifies the GTM Container."
        },
        "usageContext": {
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ]
          }
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container."
    },
    "ListTriggersResponse": {
      "description": "List triggers response.",
      "id": "ListTriggersResponse",
      "type": "object",
      "properties": {
        "triggers": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "All GTM Triggers of a GTM Container."
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "id": "CreateContainerVersionRequestVersionOptions",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      }
    },
    "ListTagsResponse": {
      "description": "List Tags Response.",
      "id": "ListTagsResponse",
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "All GTM Tags of a GTM Container."
        }
      }
    },
    "TeardownTag": {
      "id": "TeardownTag",
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      }
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "type": "object",
      "properties": {
        "environments": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "description": "List Environments Response."
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "id": "Variable",
      "type": "object",
      "properties": {
        "scheduleEndMs": {
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "format": "int64"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "format": "int64"
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The variable's parameters."
        },
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        }
      }
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "type": "object",
      "properties": {
        "containerVersionHeader": {
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "description": "All container version headers of a GTM Container.",
          "type": "array"
        },
        "containerVersion": {
          "items": {
            "$ref": "ContainerVersion"
          },
          "description": "All versions of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List container versions response."
    },
    "Condition": {
      "description": "Represents a predicate.",
      "id": "Condition",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of operator for this condition.",
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. "
        }
      }
    },
    "AccountAccess": {
      "description": "Defines the Google Tag Manager Account access permissions.",
      "id": "AccountAccess",
      "type": "object",
      "properties": {
        "permission": {
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "type": "array",
          "items": {
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "Parameter": {
      "id": "Parameter",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ]
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type."
        },
        "map": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "This map parameter's parameters (must have keys; keys must be unique)."
        },
        "list": {
          "description": "This list parameter's parameters (keys will be ignored).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "description": "Represents a Google Tag Manager Parameter."
    },
    "Trigger": {
      "id": "Trigger",
      "type": "object",
      "properties": {
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "$ref": "Parameter",
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers."
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
        },
        "parameter": {
          "description": "Additional parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "autoEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of auto event tracking.",
          "type": "array"
        },
        "filter": {
          "items": {
            "$ref": "Condition"
          },
          "type": "array",
          "description": "The trigger will only fire iff all Conditions are true."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Defines the data layer event that causes this trigger.",
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "totalTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
        },
        "triggerId": {
          "type": "string",
          "description": "The Trigger ID uniquely identifies the GTM Trigger."
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "type": "array",
          "description": "Used in the case of custom event, which is fired iff all Conditions are true."
        },
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers."
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        }
      },
      "description": "Represents a Google Tag Manager Trigger"
    },
    "ListContainersResponse": {
      "description": "List Containers Response.",
      "id": "ListContainersResponse",
      "type": "object",
      "properties": {
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account.",
          "type": "array"
        }
      }
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion",
      "type": "object",
      "properties": {
        "folder": {
          "type": "array",
          "description": "The folders in the container that this version was taken from.",
          "items": {
            "$ref": "Folder"
          }
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The tags in the container that this version was taken from."
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The triggers in the container that this version was taken from."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified."
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      }
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "type": "object",
      "properties": {
        "variables": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      },
      "description": "List Variables Response."
    },
    "ContainerAccess": {
      "id": "ContainerAccess",
      "type": "object",
      "properties": {
        "permission": {
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          }
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "description": "Defines the Google Tag Manager Container access permissions."
    },
    "Account": {
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account",
      "type": "object",
      "properties": {
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "name": {
          "type": "string",
          "description": "Account display name."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        }
      }
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "type": "object",
      "properties": {
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "description": "The list of variables inside the folder.",
          "type": "array"
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The list of triggers inside the folder."
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The list of tags inside the folder.",
          "type": "array"
        }
      },
      "description": "Represents a Google Tag Manager Folder's contents."
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "id": "Tag",
      "type": "object",
      "properties": {
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "blockingTriggerId": {
          "type": "array",
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "items": {
            "type": "string"
          }
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "type": "string",
          "format": "int64"
        },
        "scheduleStartMs": {
          "format": "int64",
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a tag."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified."
        },
        "tagFiringOption": {
          "description": "Option to fire this tag.",
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "type": "string",
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ]
        },
        "parameter": {
          "description": "The tag's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "paused": {
          "type": "boolean",
          "description": "True if the tag is paused."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Tag display name."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "teardownTag": {
          "type": "array",
          "description": "The list of teardown tags. Currently we only allow one.",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "setupTag": {
          "type": "array",
          "description": "The list of setup tags. Currently we only allow one.",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "firingTriggerId": {
          "type": "array",
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PublishContainerVersionResponse": {
      "description": "Publish container version response.",
      "id": "PublishContainerVersionResponse",
      "type": "object",
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Tag Manager",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "name": "tagmanager",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "flatPath": "tagmanager/v1/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "id": "tagmanager.accounts.list",
          "path": "tagmanager/v1/accounts",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lists all GTM Accounts that a user has access to.",
          "parameterOrder": []
        },
        "update": {
          "parameterOrder": [
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "httpMethod": "PUT",
          "description": "Updates a GTM Account.",
          "id": "tagmanager.accounts.update",
          "request": {
            "$ref": "Account"
          },
          "path": "tagmanager/v1/accounts/{accountId}",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          }
        },
        "get": {
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "httpMethod": "GET",
          "description": "Gets a GTM Account.",
          "parameterOrder": [
            "accountId"
          ],
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "id": "tagmanager.accounts.get",
          "path": "tagmanager/v1/accounts/{accountId}"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "create": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "POST",
              "description": "Creates a user's Account & Container Permissions.",
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.permissions.create",
              "request": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "response": {
                "$ref": "UserAccess"
              }
            },
            "list": {
              "id": "tagmanager.accounts.permissions.list",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "GET",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "parameterOrder": [
                "accountId"
              ]
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "PUT",
              "description": "Updates a user's Account & Container Permissions.",
              "parameters": {
                "permissionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM User ID."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.update",
              "request": {
                "$ref": "UserAccess"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "response": {
                "$ref": "UserAccess"
              }
            },
            "delete": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.delete",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "permissionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM User ID.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "DELETE",
              "description": "Removes a user from the account, revoking access to it and all of its containers."
            },
            "get": {
              "id": "tagmanager.accounts.permissions.get",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "permissionId": {
                  "description": "The GTM User ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "GET",
              "description": "Gets a user's Account & Container Permissions."
            }
          }
        },
        "containers": {
          "methods": {
            "delete": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.delete",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "containerId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Container ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "DELETE",
              "description": "Deletes a Container.",
              "parameterOrder": [
                "accountId",
                "containerId"
              ]
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "httpMethod": "GET",
              "description": "Gets a Container.",
              "parameters": {
                "containerId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.get"
            },
            "create": {
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "httpMethod": "POST",
              "description": "Creates a Container.",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create",
              "request": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers"
            },
            "list": {
              "id": "tagmanager.accounts.containers.list",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "httpMethod": "GET",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "parameterOrder": [
                "accountId"
              ]
            },
            "update": {
              "id": "tagmanager.accounts.containers.update",
              "request": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "containerId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Container ID."
                },
                "fingerprint": {
                  "location": "query",
                  "type": "string",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "httpMethod": "PUT",
              "description": "Updates a Container.",
              "parameterOrder": [
                "accountId",
                "containerId"
              ]
            }
          },
          "resources": {
            "folders": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all GTM Folders of a Container.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.list"
                },
                "update": {
                  "id": "tagmanager.accounts.containers.folders.update",
                  "request": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "folderId": {
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ]
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.create",
                  "request": {
                    "$ref": "Folder"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a GTM Folder.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a GTM Folder.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "folderId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Folder ID."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Folder.",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "folderId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "List all entities in a GTM Folder.",
                      "parameters": {
                        "accountId": {
                          "description": "The GTM Account ID.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "containerId": {
                          "required": true,
                          "description": "The GTM Container ID.",
                          "location": "path",
                          "type": "string"
                        },
                        "folderId": {
                          "description": "The GTM Folder ID.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "response": {
                        "$ref": "FolderEntities"
                      }
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.create",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a Container Version.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "update": {
                  "id": "tagmanager.accounts.containers.versions.update",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "httpMethod": "PUT",
                  "description": "Updates a Container Version."
                },
                "undelete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "POST",
                  "description": "Undeletes a Container Version.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "id": "tagmanager.accounts.containers.versions.undelete"
                },
                "publish": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "httpMethod": "POST",
                  "description": "Publishes a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  }
                },
                "list": {
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "headers": {
                      "default": "false",
                      "description": "Retrieve headers only when true.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "includeDeleted": {
                      "default": "false",
                      "location": "query",
                      "type": "boolean",
                      "description": "Also retrieve deleted (archived) versions when true."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "id": "tagmanager.accounts.containers.versions.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "restore": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}"
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "httpMethod": "GET",
                  "description": "Gets a Container Version.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                }
              }
            },
            "triggers": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all GTM Triggers of a Container.",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.list"
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Trigger.",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Trigger ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "request": {
                    "$ref": "Trigger"
                  }
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a GTM Trigger.",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a GTM Trigger.",
                  "parameters": {
                    "triggerId": {
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Trigger.",
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "triggerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Trigger ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "httpMethod": "PUT",
                  "description": "Moves entities to a GTM Folder.",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "folderId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Folder ID."
                    },
                    "variableId": {
                      "description": "The variables to be moved to the folder.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "tagId": {
                      "description": "The tags to be moved to the folder.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "triggerId": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The triggers to be moved to the folder."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "request": {
                    "$ref": "Folder"
                  }
                }
              }
            },
            "variables": {
              "methods": {
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "variableId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Variable ID.",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Variable."
                },
                "get": {
                  "id": "tagmanager.accounts.containers.variables.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a GTM Variable.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ]
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.create",
                  "request": {
                    "$ref": "Variable"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "response": {
                    "$ref": "Variable"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a GTM Variable.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all GTM Variables of a Container.",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
[...]
