{
  "canonicalName": "Tag Manager",
  "revision": "20260803",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "title": "Tag Manager API",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "id": "tagmanager:v2",
  "documentationLink": "https://developers.google.com/tag-manager",
  "servicePath": "",
  "version": "v2",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "schemas": {
    "ListTemplatesResponse": {
      "id": "ListTemplatesResponse",
      "type": "object",
      "properties": {
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "FolderEntities": {
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "properties": {
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "description": "The list of variables inside the folder.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "id": "FolderEntities"
    },
    "RevertClientResponse": {
      "properties": {
        "client": {
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version.",
          "$ref": "Client"
        }
      },
      "description": "The result of reverting a client in a workspace.",
      "type": "object",
      "id": "RevertClientResponse"
    },
    "Workspace": {
      "properties": {
        "path": {
          "description": "GTM Workspace's API relative path.",
          "type": "string"
        },
        "description": {
          "description": "Workspace description.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        },
        "name": {
          "description": "Workspace display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Workspace.",
      "type": "object",
      "id": "Workspace"
    },
    "SyncStatus": {
      "id": "SyncStatus",
      "description": "The status of a workspace after synchronization.",
      "type": "object",
      "properties": {
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        },
        "syncError": {
          "description": "An error occurred during the synchronization operation.",
          "type": "boolean"
        }
      }
    },
    "Condition": {
      "properties": {
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array"
        },
        "type": {
          "description": "The type of operator for this condition.",
          "type": "string",
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Represents a predicate.",
      "type": "object",
      "id": "Condition"
    },
    "ZoneTypeRestriction": {
      "id": "ZoneTypeRestriction",
      "properties": {
        "enable": {
          "description": "True if type restrictions have been enabled for this Zone.",
          "type": "boolean"
        },
        "whitelistedTypeId": {
          "items": {
            "type": "string"
          },
          "description": "List of type public ids that have been whitelisted for use in this Zone.",
          "type": "array"
        }
      },
      "description": "Represents a Zone's type restrictions.",
      "type": "object"
    },
    "TeardownTag": {
      "id": "TeardownTag",
      "description": "Represents a tag that fires after another tag in order to tear down dependencies.",
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      }
    },
    "ContainerFeatures": {
      "type": "object",
      "properties": {
        "supportTransformations": {
          "description": "Whether this Container supports transformations.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "description": "Whether this Container supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportZones": {
          "description": "Whether this Container supports zones.",
          "type": "boolean"
        },
        "supportVersions": {
          "description": "Whether this Container supports Container versions.",
          "type": "boolean"
        },
        "supportFolders": {
          "description": "Whether this Container supports folders.",
          "type": "boolean"
        },
        "supportTriggers": {
          "description": "Whether this Container supports triggers.",
          "type": "boolean"
        },
        "supportWorkspaces": {
          "description": "Whether this Container supports workspaces.",
          "type": "boolean"
        },
        "supportTags": {
          "description": "Whether this Container supports tags.",
          "type": "boolean"
        },
        "supportBuiltInVariables": {
          "description": "Whether this Container supports built-in variables",
          "type": "boolean"
        },
        "supportTemplates": {
          "description": "Whether this Container supports templates.",
          "type": "boolean"
        },
        "supportGtagConfigs": {
          "description": "Whether this Container supports Google tag config.",
          "type": "boolean"
        },
        "supportVariables": {
          "description": "Whether this Container supports variables.",
          "type": "boolean"
        },
        "supportClients": {
          "description": "Whether this Container supports clients.",
          "type": "boolean"
        },
        "supportEnvironments": {
          "description": "Whether this Container supports environments.",
          "type": "boolean"
        }
      },
      "id": "ContainerFeatures"
    },
    "Entity": {
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace.",
      "type": "object",
      "properties": {
        "client": {
          "description": "The client being represented by the entity.",
          "$ref": "Client"
        },
        "zone": {
          "description": "The zone being represented by the entity.",
          "$ref": "Zone"
        },
        "transformation": {
          "description": "The transformation being represented by the entity.",
          "$ref": "Transformation"
        },
        "builtInVariable": {
          "$ref": "BuiltInVariable",
          "description": "The built in variable being represented by the entity."
        },
        "gtagConfig": {
          "description": "The gtag config being represented by the entity.",
          "$ref": "GtagConfig"
        },
        "customTemplate": {
          "$ref": "CustomTemplate",
          "description": "The custom template being represented by the entity."
        },
        "tag": {
          "$ref": "Tag",
          "description": "The tag being represented by the entity."
        },
        "changeStatus": {
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ],
          "description": "Represents how the entity has been changed in the workspace.",
          "type": "string",
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ]
        },
        "trigger": {
          "$ref": "Trigger",
          "description": "The trigger being represented by the entity."
        },
        "variable": {
          "$ref": "Variable",
          "description": "The variable being represented by the entity."
        },
        "folder": {
          "$ref": "Folder",
          "description": "The folder being represented by the entity."
        }
      },
      "id": "Entity"
    },
    "Trigger": {
      "id": "Trigger",
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "properties": {
        "autoEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of auto event tracking.",
          "type": "array"
        },
        "parameter": {
          "description": "Additional parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "notes": {
          "description": "User notes on how to apply this trigger in the container.",
          "type": "string"
        },
        "uniqueTriggerId": {
          "$ref": "Parameter",
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers."
        },
        "path": {
          "description": "GTM Trigger's API relative path.",
          "type": "string"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers."
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "filter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array"
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger.",
          "type": "string",
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "selector": {
          "$ref": "Parameter",
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
        },
        "continuousTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "visiblePercentageMin": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
        }
      }
    },
    "CreateBuiltInVariableResponse": {
      "type": "object",
      "properties": {
        "builtInVariable": {
          "description": "List of created built-in variables.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        }
      },
      "id": "CreateBuiltInVariableResponse"
    },
    "ListZonesResponse": {
      "id": "ListZonesResponse",
      "properties": {
        "zone": {
          "description": "All GTM Zones of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetupTag": {
      "id": "SetupTag",
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies.",
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      }
    },
    "Container": {
      "properties": {
        "domainName": {
          "description": "List of domain names associated with the Container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "usageContext": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ]
          },
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios.",
          "type": "array"
        },
        "path": {
          "description": "GTM Container's API relative path.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "taggingServerUrls": {
          "items": {
            "type": "string"
          },
          "description": "List of server-side container URLs for the Container. If multiple URLs are provided, all URL paths must match.",
          "type": "array"
        },
        "tagIds": {
          "description": "All Tag IDs that refer to this Container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "features": {
          "description": "Read-only Container feature set.",
          "$ref": "ContainerFeatures"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions.",
      "type": "object",
      "id": "Container"
    },
    "ListGtagConfigResponse": {
      "properties": {
        "gtagConfig": {
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "All Google tag configs in a Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListGtagConfigResponse"
    },
    "Environment": {
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ],
          "description": "The type of this environment.",
          "type": "string",
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ]
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "authorizationTimestamp": {
          "description": "The last update time-stamp for the authorization code.",
          "type": "string",
          "format": "google-datetime"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment.",
          "type": "boolean"
        },
        "containerVersionId": {
          "description": "Represents a link to a container version.",
          "type": "string"
        },
        "path": {
          "description": "GTM Environment's API relative path.",
          "type": "string"
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "Represents a link to a quick preview of a workspace.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        }
      },
      "id": "Environment"
    },
    "RevertVariableResponse": {
      "description": "The result of reverting a variable in a workspace.",
      "type": "object",
      "properties": {
        "variable": {
          "$ref": "Variable",
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version."
        }
      },
      "id": "RevertVariableResponse"
    },
    "RevertTransformationResponse": {
      "properties": {
        "transformation": {
          "$ref": "Transformation",
          "description": "Transformation as it appears in the latest container version since the last workspace synchronization operation. If no transformation is present, that means the transformation was deleted in the latest container version."
        }
      },
      "description": "The result of reverting a transformation in a workspace.",
      "type": "object",
      "id": "RevertTransformationResponse"
    },
    "RevertTemplateResponse": {
      "description": "The result of reverting a template in a workspace.",
      "type": "object",
      "properties": {
        "template": {
          "$ref": "CustomTemplate",
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version."
        }
      },
      "id": "RevertTemplateResponse"
    },
    "ListTransformationsResponse": {
      "type": "object",
      "properties": {
        "transformation": {
          "items": {
            "$ref": "Transformation"
          },
          "description": "All GTM Transformations of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListTransformationsResponse"
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "containerVersionHeader": {
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "description": "All container version headers of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List container versions response.",
      "type": "object"
    },
    "ProposedChange": {
      "properties": {
        "changes": {
          "items": {
            "$ref": "Entity"
          },
          "description": "The list of workspace changes to be applied.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ProposedChange"
    },
    "BuiltInVariable": {
      "id": "BuiltInVariable",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Name of the built-in variable to be used to refer to the built-in variable.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of built-in variable.",
          "type": "string",
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname",
            "visitorRegion",
            "analyticsClientId",
            "analyticsSessionId",
            "analyticsSessionNumber"
          ]
        },
        "path": {
          "description": "GTM BuiltInVariable's API relative path.",
          "type": "string"
        }
      },
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL.",
      "type": "object"
    },
    "ListEnabledBuiltInVariablesResponse": {
      "description": "A list of enabled built-in variables.",
      "type": "object",
      "properties": {
        "builtInVariable": {
          "description": "All GTM BuiltInVariables of a GTM container.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListEnabledBuiltInVariablesResponse"
    },
    "ListDestinationsResponse": {
      "id": "ListDestinationsResponse",
      "properties": {
        "destination": {
          "description": "All Destinations linked to a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TagConsentSetting": {
      "id": "TagConsentSetting",
      "properties": {
        "consentStatus": {
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted.",
          "type": "string",
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ],
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ]
        },
        "consentType": {
          "$ref": "Parameter",
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING."
        }
      },
      "type": "object"
    },
    "Folder": {
      "id": "Folder",
      "properties": {
        "path": {
          "description": "GTM Folder's API relative path.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this folder in the container.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object"
    },
    "ListContainersResponse": {
      "properties": {
        "container": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "List Containers Response.",
      "type": "object",
      "id": "ListContainersResponse"
    },
    "MergeConflict": {
      "id": "MergeConflict",
      "properties": {
        "entityInBaseVersion": {
          "$ref": "Entity",
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version."
        },
        "entityInWorkspace": {
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status.",
          "$ref": "Entity"
        }
      },
      "description": "Represents a merge conflict.",
      "type": "object"
    },
    "RevertZoneResponse": {
      "id": "RevertZoneResponse",
      "description": "The result of reverting a zone in a workspace.",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version.",
          "$ref": "Zone"
        }
      }
    },
    "ZoneChildContainer": {
      "properties": {
        "publicId": {
          "description": "The child container's public id.",
          "type": "string"
        },
        "nickname": {
          "description": "The zone's nickname for the child container.",
          "type": "string"
        }
      },
      "description": "Represents a child container of a Zone.",
      "type": "object",
      "id": "ZoneChildContainer"
    },
    "GalleryReference": {
      "id": "GalleryReference",
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site.",
      "type": "object",
      "properties": {
        "templateDeveloperId": {
          "description": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery.",
          "type": "string"
        },
        "version": {
          "description": "The version of the community gallery template.",
          "type": "string"
        },
        "signature": {
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery.",
          "type": "string"
        },
        "host": {
          "description": "The name of the host for the community gallery template.",
          "type": "string"
        },
        "owner": {
          "description": "The name of the owner for the community gallery template.",
          "type": "string"
        },
        "repository": {
          "description": "The name of the repository for the community gallery template.",
          "type": "string"
        },
        "isModified": {
          "description": "If a user has manually edited the community gallery template.",
          "type": "boolean"
        },
        "galleryTemplateId": {
          "description": "ID for the gallery template that is generated once during first sync and travels with the template redirects.",
          "type": "string"
        }
      }
    },
    "ListVariablesResponse": {
      "description": "List Variables Response.",
      "type": "object",
      "properties": {
        "variable": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListVariablesResponse"
    },
    "GetContainerSnippetResponse": {
      "type": "object",
      "properties": {
        "containerConfig": {
          "description": "Server container config param for manually provisioning a tagging server.",
          "type": "string"
        },
        "snippet": {
          "description": "Tagging snippet for a Container.",
          "type": "string"
        }
      },
      "id": "GetContainerSnippetResponse"
    },
    "VariableFormatValue": {
      "type": "object",
      "properties": {
        "convertNullToValue": {
          "description": "The value to convert if a variable value is null.",
          "$ref": "Parameter"
        },
        "convertUndefinedToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is undefined."
        },
        "convertToBoolean": {
          "description": "The option to convert a variable value to a boolean.",
          "type": "boolean"
        },
        "convertToNumber": {
          "enumDescriptions": [
            "",
            "The option to convert a variable value to a number with a period as the decimal separator.",
            "The option to convert a variable value to a number with a comma as the decimal separator.",
            "The option to convert a variable value to a number with automatic decimal separator detection."
          ],
          "description": "The option to convert a variable value to a number.",
          "type": "string",
          "enum": [
            "decimalSeparatorTypeUnspecified",
            "period",
            "comma",
            "automatic"
          ]
        },
        "convertTrueToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is true."
        },
        "convertFalseToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is false."
        },
        "caseConversionType": {
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ],
          "description": "The option to convert a string-type variable value to either lowercase or uppercase.",
          "type": "string",
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ]
        }
      },
      "id": "VariableFormatValue"
    },
    "PublishContainerVersionResponse": {
      "id": "PublishContainerVersionResponse",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "description": "Publish container version response.",
      "type": "object"
    },
    "ContainerVersionHeader": {
      "properties": {
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "numTransformations": {
          "description": "Number of transformations in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "numCustomTemplates": {
          "description": "Number of custom templates in the container version.",
          "type": "string"
        },
        "numClients": {
          "description": "Number of clients in the container version.",
          "type": "string"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "numGtagConfigs": {
          "description": "Number of Google tag configs in the container version.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "numZones": {
          "description": "Number of zones in the container version.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Version Header.",
      "type": "object",
      "id": "ContainerVersionHeader"
    },
    "SyncWorkspaceResponse": {
      "properties": {
        "mergeConflict": {
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        },
        "syncStatus": {
          "description": "Indicates whether synchronization caused a merge conflict or sync error.",
          "$ref": "SyncStatus"
        }
      },
      "description": "A response after synchronizing the workspace to the latest container version.",
      "type": "object",
      "id": "SyncWorkspaceResponse"
    },
    "Zone": {
      "id": "Zone",
      "properties": {
        "childContainer": {
          "description": "Containers that are children of this Zone.",
          "type": "array",
          "items": {
            "$ref": "ZoneChildContainer"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified.",
          "type": "string"
        },
        "boundary": {
          "$ref": "ZoneBoundary",
          "description": "This Zone's boundary."
        },
        "path": {
          "description": "GTM Zone's API relative path.",
          "type": "string"
        },
        "zoneId": {
          "description": "The Zone ID uniquely identifies the GTM Zone.",
          "type": "string"
        },
        "typeRestriction": {
          "description": "This Zone's type restrictions.",
          "$ref": "ZoneTypeRestriction"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this zone in the container.",
          "type": "string"
        },
        "name": {
          "description": "Zone display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Zone's contents.",
      "type": "object"
    },
    "ListTriggersResponse": {
      "description": "List triggers response.",
      "type": "object",
      "properties": {
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListTriggersResponse"
    },
    "ContainerAccess": {
      "id": "ContainerAccess",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "permission": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "List of Container permissions.",
          "type": "string",
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ]
        }
      },
      "description": "Defines the Google Tag Manager Container access permissions.",
      "type": "object"
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "type": "object",
      "properties": {
        "client": {
          "items": {
            "$ref": "Client"
          },
          "description": "All GTM Clients of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "id": "CreateContainerVersionRequestVersionOptions",
      "properties": {
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        },
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        }
      },
      "description": "Options for new container versions.",
      "type": "object"
    },
    "RevertBuiltInVariableResponse": {
      "id": "RevertBuiltInVariableResponse",
      "properties": {
        "enabled": {
          "description": "Whether the built-in variable is enabled after reversion.",
          "type": "boolean"
        }
      },
      "description": "The result of reverting a built-in variable in a workspace.",
      "type": "object"
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "account": {
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "List Accounts Response.",
      "type": "object"
    },
    "AccountFeatures": {
      "id": "AccountFeatures",
      "properties": {
        "supportUserPermissions": {
          "description": "Whether this Account supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportMultipleContainers": {
          "description": "Whether this Account supports multiple Containers.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Destination": {
      "id": "Destination",
      "description": "Represents a Google Tag Destination.",
      "type": "object",
      "properties": {
        "destinationLinkId": {
          "description": "The Destination link ID uniquely identifies the Destination.",
          "type": "string"
        },
        "path": {
          "description": "Destination's API relative path.",
          "type": "string"
        },
        "destinationId": {
          "description": "Destination ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Destination display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified.",
          "type": "string"
        }
      }
    },
    "QuickPreviewResponse": {
      "properties": {
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version."
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The quick previewed container version."
        },
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        }
      },
      "description": "Response to quick previewing a workspace.",
      "type": "object",
      "id": "QuickPreviewResponse"
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "properties": {
        "syncStatus": {
          "description": "Whether version creation failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "newWorkspacePath": {
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview.",
          "type": "string"
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "description": "Create container versions response.",
      "type": "object"
    },
    "ListWorkspacesResponse": {
      "description": "A list of workspaces in a container.",
      "type": "object",
      "properties": {
        "workspace": {
          "description": "All Workspaces of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Workspace"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "ListEnvironmentsResponse": {
      "description": "List Environments Response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "environment": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "id": "ListEnvironmentsResponse"
    },
    "Account": {
      "description": "Represents a Google Tag Manager Account.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "name": {
          "description": "Account display name.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "features": {
          "$ref": "AccountFeatures",
          "description": "Read-only Account feature set"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service.",
          "type": "boolean"
        },
        "path": {
          "description": "GTM Account's API relative path.",
          "type": "string"
        }
      },
      "id": "Account"
    },
    "UserPermission": {
      "properties": {
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "containerAccess": {
          "items": {
            "$ref": "ContainerAccess"
          },
          "description": "GTM Container access permissions.",
          "type": "array"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "path": {
          "description": "GTM UserPermission's API relative path.",
          "type": "string"
        }
      },
      "description": "Represents a user's permissions to an account and its container.",
      "type": "object",
      "id": "UserPermission"
    },
    "Transformation": {
      "id": "Transformation",
      "description": "Represents a Google Tag Manager Transformation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Transformation display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this transformation in the container.",
          "type": "string"
        },
        "path": {
          "description": "GTM transformation's API relative path.",
          "type": "string"
        },
        "transformationId": {
          "description": "The Transformation ID uniquely identifies the GTM transformation.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The transformation's parameters.",
          "type": "array"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Transformation as computed at storage time. This value is recomputed whenever the transformation is modified.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "type": {
          "description": "Transformation type.",
          "type": "string"
        }
      }
    },
    "CustomTemplate": {
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Custom Template display name.",
          "type": "string"
        },
        "templateId": {
          "description": "The Custom Template ID uniquely identifies the GTM custom template.",
          "type": "string"
        },
        "templateData": {
          "description": "The custom template in text format.",
          "type": "string"
        },
        "path": {
          "description": "GTM Custom Template's API relative path.",
          "type": "string"
        },
        "galleryReference": {
          "description": "A reference to the Community Template Gallery entry.",
          "$ref": "GalleryReference"
        }
      },
      "description": "Represents a Google Tag Manager Custom Template's contents.",
      "type": "object",
      "id": "CustomTemplate"
    },
    "BulkUpdateWorkspaceResponse": {
      "id": "BulkUpdateWorkspaceResponse",
      "properties": {
        "changes": {
          "description": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        }
      },
      "type": "object"
    },
    "RevertTriggerResponse": {
      "id": "RevertTriggerResponse",
      "description": "The result of reverting a trigger in a workspace.",
      "type": "object",
      "properties": {
        "trigger": {
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version.",
          "$ref": "Trigger"
        }
      }
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "type": "object",
      "properties": {
        "folder": {
          "items": {
            "$ref": "Folder"
          },
          "description": "All GTM Folders of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListFoldersResponse"
    },
    "RevertFolderResponse": {
      "id": "RevertFolderResponse",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version."
        }
      },
      "description": "The result of reverting folder changes in a workspace.",
      "type": "object"
    },
    "Client": {
      "type": "object",
      "properties": {
        "clientId": {
          "description": "The Client ID uniquely identifies the GTM client.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified.",
          "type": "string"
        },
        "path": {
          "description": "GTM client's API relative path.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "type": {
          "description": "Client type.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "Priority determines relative firing order.",
          "type": "integer"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The client's parameters.",
          "type": "array"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "name": {
          "description": "Client display name.",
          "type": "string"
        }
      },
      "id": "Client"
    },
    "GtagConfig": {
      "id": "GtagConfig",
      "properties": {
        "parameter": {
          "description": "The Google tag config's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "path": {
          "description": "Google tag config's API relative path.",
          "type": "string"
        },
        "workspaceId": {
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise.",
          "type": "string"
        },
        "gtagConfigId": {
          "description": "The ID uniquely identifies the Google tag config.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "description": "Google tag account ID.",
          "type": "string"
        },
        "type": {
          "description": "Google tag config type.",
          "type": "string"
        },
        "containerId": {
          "description": "Google tag container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified.",
          "type": "string"
        }
      },
      "description": "Represents a Google tag configuration.",
      "type": "object"
    },
    "ListUserPermissionsResponse": {
      "id": "ListUserPermissionsResponse",
      "properties": {
        "userPermission": {
          "description": "All GTM UserPermissions of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "List user permissions response.",
      "type": "object"
    },
    "AccountAccess": {
      "properties": {
        "permission": {
          "description": "Whether the user has no access, user access, or admin access to an account.",
          "type": "string",
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "id": "AccountAccess"
    },
    "GetWorkspaceStatusResponse": {
      "description": "The changes that have occurred in the workspace since the base container version.",
      "type": "object",
      "properties": {
        "workspaceChange": {
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities that have been changed in the workspace.",
          "type": "array"
        },
        "mergeConflict": {
          "description": "The merge conflict after sync.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        }
      },
      "id": "GetWorkspaceStatusResponse"
    },
    "Tag": {
      "id": "Tag",
      "properties": {
        "blockingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "type": "array"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "teardownTag": {
          "items": {
            "$ref": "TeardownTag"
          },
          "description": "The list of teardown tags. Currently we only allow one.",
          "type": "array"
        },
        "monitoringMetadataTagNameKey": {
          "description": "If non-empty, then the tag display name will be included in the monitoring metadata map using the key specified.",
          "type": "string"
        },
        "tagFiringOption": {
          "description": "Option to fire this tag.",
          "type": "string",
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ]
        },
        "path": {
          "description": "GTM Tag's API relative path.",
          "type": "string"
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing.",
          "type": "boolean"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "parameter": {
          "description": "The tag's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "setupTag": {
          "items": {
            "$ref": "SetupTag"
          },
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "consentSettings": {
          "description": "Consent settings of a tag.",
          "$ref": "TagConsentSetting"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "scheduleStartMs": {
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "type": "string"
        },
        "firingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "type": "array"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "monitoringMetadata": {
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. ",
          "$ref": "Parameter"
        }
      },
      "description": "Represents a Google Tag Manager Tag.",
      "type": "object"
    },
    "Variable": {
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "formatValue": {
          "description": "Option to convert a variable value to other value.",
          "$ref": "VariableFormatValue"
        },
        "path": {
          "description": "GTM Variable's API relative path.",
          "type": "string"
        },
        "disablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array"
        },
        "scheduleStartMs": {
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "enablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "parameter": {
          "description": "The variable's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "description": "Represents a Google Tag Manager Variable.",
      "type": "object",
      "id": "Variable"
    },
    "ListTagsResponse": {
      "description": "List Tags Response.",
      "type": "object",
      "properties": {
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListTagsResponse"
    },
    "ZoneBoundary": {
      "id": "ZoneBoundary",
      "description": "Represents a Zone's boundaries.",
      "type": "object",
      "properties": {
        "condition": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The conditions that, when conjoined, make up the boundary.",
          "type": "array"
        },
        "customEvaluationTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true.",
          "type": "array"
        }
      }
    },
    "Parameter": {
      "properties": {
        "map": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array"
        },
        "isWeakReference": {
          "description": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations.",
          "type": "boolean"
        },
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "list": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "This list parameter's parameters (keys will be ignored).",
          "type": "array"
        },
        "type": {
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "type": "string",
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "enumDescriptions": [
            "",
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Parameter.",
      "type": "object",
      "id": "Parameter"
    },
    "ContainerVersion": {
      "properties": {
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "description": {
          "description": "Container version description.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "zone": {
          "items": {
            "$ref": "Zone"
          },
          "description": "The zones in the container that this version was taken from.",
          "type": "array"
        },
        "client": {
          "description": "The clients in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Client"
          }
        },
        "builtInVariable": {
          "description": "The built-in variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        },
        "gtagConfig": {
          "description": "The Google tag configs in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          }
        },
        "transformation": {
          "items": {
            "$ref": "Transformation"
          },
          "description": "The transformations in the container that this version was taken from.",
          "type": "array"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags in the container that this version was taken from.",
          "type": "array"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "customTemplate": {
          "items": {
            "$ref": "CustomTemplate"
          },
          "description": "The custom templates in the container that this version was taken from.",
          "type": "array"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Version.",
      "type": "object",
      "id": "ContainerVersion"
    },
    "RevertTagResponse": {
      "id": "RevertTagResponse",
      "properties": {
        "tag": {
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version.",
          "$ref": "Tag"
        }
      },
      "description": "The result of reverting a tag in a workspace.",
      "type": "object"
    }
  },
  "baseUrl": "https://tagmanager.googleapis.com/",
  "name": "tagmanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "resources": {
    "accounts": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "path": "tagmanager/v2/{+path}",
          "parameterOrder": [
            "path"
          ],
          "description": "Updates a GTM Account.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Account"
          },
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "response": {
            "$ref": "Account"
          },
          "id": "tagmanager.accounts.update",
          "parameters": {
            "path": {
              "description": "GTM Account's API relative path.",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            },
            "fingerprint": {
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string"
            }
          }
        },
        "list": {
          "path": "tagmanager/v2/accounts",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lists all GTM Accounts that a user has access to.",
          "id": "tagmanager.accounts.list",
          "flatPath": "tagmanager/v2/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Continuation token for fetching the next page of results.",
              "type": "string"
            },
            "includeGoogleTags": {
              "description": "Also retrieve accounts associated with Google Tag when true.",
              "type": "boolean",
              "location": "query"
            }
          }
        },
        "get": {
          "description": "Gets a GTM Account.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "path": "tagmanager/v2/{+path}",
          "parameterOrder": [
            "path"
          ],
          "parameters": {
            "path": {
              "description": "GTM Account's API relative path.",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "response": {
            "$ref": "Account"
          },
          "id": "tagmanager.accounts.get"
        }
      },
      "resources": {
        "user_permissions": {
          "methods": {
            "list": {
              "description": "List all users that have access to the account along with Account and Container user access granted to each of them.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "response": {
                "$ref": "ListUserPermissionsResponse"
              },
              "id": "tagmanager.accounts.user_permissions.list"
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "GTM Account's API relative path."
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "response": {
                "$ref": "UserPermission"
              },
              "request": {
                "$ref": "UserPermission"
              },
              "id": "tagmanager.accounts.user_permissions.create",
              "description": "Creates a user's Account & Container access.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "httpMethod": "DELETE",
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "id": "tagmanager.accounts.user_permissions.delete",
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ]
            },
            "update": {
              "description": "Updates a user's Account & Container access.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "response": {
                "$ref": "UserPermission"
              },
              "request": {
                "$ref": "UserPermission"
              },
              "id": "tagmanager.accounts.user_permissions.update"
            },
            "get": {
              "description": "Gets a user's Account & Container access.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "response": {
                "$ref": "UserPermission"
              },
              "id": "tagmanager.accounts.user_permissions.get"
            }
          }
        },
        "containers": {
          "resources": {
            "workspaces": {
              "resources": {
                "tags": {
                  "methods": {
                    "get": {
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets a GTM Tag.",
                      "id": "tagmanager.accounts.containers.workspaces.tags.get",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "response": {
                        "$ref": "Tag"
                      },
                      "parameters": {
                        "path": {
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "location": "path",
                          "description": "GTM Tag's API relative path."
                        }
                      }
                    },
                    "update": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "response": {
                        "$ref": "Tag"
                      },
                      "request": {
                        "$ref": "Tag"
                      },
[...]
