{
  "version": "v1",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "canonicalName": "Tag Manager",
  "revision": "20260916",
  "id": "tagmanager:v1",
  "schemas": {
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "description": "Create container versions response.",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Container": {
      "description": "Represents a Google Tag Manager Container.",
      "properties": {
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        },
        "timeZoneCountryId": {
          "description": "Container Country ID.",
          "type": "string"
        },
        "enabledBuiltInVariable": {
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
          "type": "array",
          "items": {
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "domainName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional list of domain names associated with the Container."
        },
        "name": {
          "type": "string",
          "description": "Container display name."
        },
        "usageContext": {
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
          "items": {
            "type": "string",
            "enum": [
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "timeZoneId": {
          "type": "string",
          "description": "Container Time Zone ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified."
        }
      },
      "type": "object",
      "id": "Container"
    },
    "FolderEntities": {
      "description": "Represents a Google Tag Manager Folder's contents.",
      "properties": {
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The list of triggers inside the folder."
        },
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The list of tags inside the folder."
        }
      },
      "type": "object",
      "id": "FolderEntities"
    },
    "Parameter": {
      "id": "Parameter",
      "properties": {
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        },
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "list": {
          "description": "This list parameter's parameters (keys will be ignored).",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name "
        },
        "value": {
          "type": "string",
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type."
        }
      },
      "description": "Represents a Google Tag Manager Parameter.",
      "type": "object"
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess",
      "type": "object",
      "properties": {
        "permission": {
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          },
          "type": "array"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      }
    },
    "PublishContainerVersionResponse": {
      "description": "Publish container version response.",
      "type": "object",
      "properties": {
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        }
      },
      "id": "PublishContainerVersionResponse"
    },
    "ListTriggersResponse": {
      "description": "List triggers response.",
      "type": "object",
      "properties": {
        "triggers": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container."
        }
      },
      "id": "ListTriggersResponse"
    },
    "Environment": {
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "properties": {
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "environmentId": {
          "type": "string",
          "description": "GTM Environment ID uniquely identifies the GTM Environment."
        },
        "authorizationTimestampMs": {
          "format": "int64",
          "description": "The last update time-stamp for the authorization code.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "type": {
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ],
          "type": "string",
          "description": "The type of this environment.",
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ]
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "enableDebug": {
          "type": "boolean",
          "description": "Whether or not to enable debug by default on for the environment."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The environment description. Can be set or changed only on USER type environments."
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "containerVersionId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Environment"
    },
    "CreateContainerVersionRequestVersionOptions": {
      "properties": {
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        },
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        }
      },
      "description": "Options for new container versions.",
      "type": "object",
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "type": "object",
      "description": "List Environments Response.",
      "properties": {
        "environments": {
          "items": {
            "$ref": "Environment"
          },
          "description": "All Environments of a GTM Container.",
          "type": "array"
        }
      }
    },
    "TeardownTag": {
      "type": "object",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "type": "boolean",
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
        }
      },
      "id": "TeardownTag"
    },
    "ContainerVersion": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags in the container that this version was taken from."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this container version in the container."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The triggers in the container that this version was taken from."
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          },
          "type": "array"
        }
      },
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion",
      "type": "object"
    },
    "ListContainersResponse": {
      "type": "object",
      "id": "ListContainersResponse",
      "properties": {
        "containers": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "description": "List Containers Response."
    },
    "Variable": {
      "id": "Variable",
      "type": "object",
      "properties": {
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "disablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array"
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "format": "int64",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "parameter": {
          "type": "array",
          "description": "The variable's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "enablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this variable in the container."
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "format": "int64"
        }
      },
      "description": "Represents a Google Tag Manager Variable."
    },
    "ListAccountsResponse": {
      "type": "object",
      "description": "List Accounts Response.",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "List of GTM Accounts that a user has access to.",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "id": "ListAccountsResponse"
    },
    "AccountAccess": {
      "id": "AccountAccess",
      "type": "object",
      "description": "Defines the Google Tag Manager Account access permissions.",
      "properties": {
        "permission": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          },
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "type": "array"
        }
      }
    },
    "Folder": {
      "properties": {
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Folder display name."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object",
      "id": "Folder"
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "type": "object",
      "description": "List Tags Response.",
      "properties": {
        "tags": {
          "type": "array",
          "description": "All GTM Tags of a GTM Container.",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "ListAccountUsersResponse": {
      "type": "object",
      "properties": {
        "userAccess": {
          "type": "array",
          "items": {
            "$ref": "UserAccess"
          },
          "description": "All GTM AccountUsers of a GTM Account."
        }
      },
      "description": "List AccountUsers Response.",
      "id": "ListAccountUsersResponse"
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "properties": {
        "totalTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "filter": {
          "type": "array",
          "description": "The trigger will only fire iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          }
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "selector": {
          "$ref": "Parameter",
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "customEventFilter": {
          "type": "array",
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "type": "string",
          "description": "Defines the data layer event that causes this trigger."
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters.",
          "type": "array"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "autoEventFilter": {
          "type": "array",
          "description": "Used in the case of auto event tracking.",
          "items": {
            "$ref": "Condition"
          }
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        }
      },
      "id": "Trigger"
    },
    "ListVariablesResponse": {
      "type": "object",
      "properties": {
        "variables": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      },
      "description": "List Variables Response.",
      "id": "ListVariablesResponse"
    },
    "ListFoldersResponse": {
      "properties": {
        "folders": {
          "type": "array",
          "description": "All GTM Folders of a GTM Container.",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "description": "List Folders Response.",
      "id": "ListFoldersResponse",
      "type": "object"
    },
    "ListContainerVersionsResponse": {
      "type": "object",
      "properties": {
        "containerVersionHeader": {
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "description": "All container version headers of a GTM Container."
        },
        "containerVersion": {
          "items": {
            "$ref": "ContainerVersion"
          },
          "description": "All versions of a GTM Container.",
          "type": "array"
        }
      },
      "id": "ListContainerVersionsResponse",
      "description": "List container versions response."
    },
    "UserAccess": {
      "description": "Represents a user's permissions to an account and its container.",
      "properties": {
        "permissionId": {
          "type": "string",
          "description": "Account Permission ID."
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserAccess"
    },
    "ContainerVersionHeader": {
      "description": "Represents a Google Tag Manager Container Version Header.",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "numTags": {
          "type": "string",
          "description": "Number of tags in the container version."
        }
      },
      "type": "object",
      "id": "ContainerVersionHeader"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "name": {
          "description": "Account display name.",
          "type": "string"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Account."
    },
    "Tag": {
      "type": "object",
      "id": "Tag",
      "properties": {
        "scheduleStartMs": {
          "format": "int64",
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a tag."
        },
        "scheduleEndMs": {
          "format": "int64",
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a tag."
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "tagFiringOption": {
          "type": "string",
          "description": "Option to fire this tag.",
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ]
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "teardownTag": {
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          },
          "description": "The list of teardown tags. Currently we only allow one."
        },
        "setupTag": {
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "blockingTriggerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire."
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0."
        },
        "name": {
          "type": "string",
          "description": "Tag display name."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "firingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "liveOnly": {
          "type": "boolean",
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode)."
        },
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "description": "The tag's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "paused": {
          "type": "boolean",
          "description": "True if the tag is paused."
        }
      },
      "description": "Represents a Google Tag Manager Tag."
    },
    "Condition": {
      "description": "Represents a predicate.",
      "properties": {
        "type": {
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of operator for this condition.",
          "type": "string"
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        }
      },
      "id": "Condition",
      "type": "object"
    },
    "SetupTag": {
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        },
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        }
      },
      "id": "SetupTag",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "title": "Tag Manager API",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/tag-manager",
  "resources": {
    "accounts": {
      "methods": {
        "update": {
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "tagmanager.accounts.update",
          "request": {
            "$ref": "Account"
          },
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "description": "Updates a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "accountId"
          ],
          "path": "tagmanager/v1/accounts/{accountId}"
        },
        "list": {
          "httpMethod": "GET",
          "id": "tagmanager.accounts.list",
          "path": "tagmanager/v1/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "flatPath": "tagmanager/v1/accounts",
          "parameterOrder": [],
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameters": {},
          "description": "Lists all GTM Accounts that a user has access to."
        },
        "get": {
          "description": "Gets a GTM Account.",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameterOrder": [
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "description": "The GTM Account ID.",
              "location": "path"
            }
          },
          "id": "tagmanager.accounts.get",
          "path": "tagmanager/v1/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET"
        }
      },
      "resources": {
        "containers": {
          "resources": {
            "tags": {
              "methods": {
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Updates a GTM Tag.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.update",
                  "request": {
                    "$ref": "Tag"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Deletes a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    },
                    "tagId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Tag ID."
                    }
                  }
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "tagId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.get",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Tag."
                },
                "create": {
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Creates a GTM Tag.",
                  "request": {
                    "$ref": "Tag"
                  }
                },
                "list": {
                  "id": "tagmanager.accounts.containers.tags.list",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "description": "Lists all GTM Tags of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags"
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "parameters": {
                    "variableId": {
                      "location": "query",
                      "description": "The variables to be moved to the folder.",
                      "repeated": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "folderId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Folder ID."
                    },
                    "tagId": {
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "The tags to be moved to the folder."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "The triggers to be moved to the folder.",
                      "repeated": true
                    }
                  },
                  "request": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "description": "Moves entities to a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}"
                }
              }
            },
            "environments": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Creates a GTM Environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Environment"
                  },
                  "request": {
                    "$ref": "Environment"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "id": "tagmanager.accounts.containers.environments.list",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "environmentId": {
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Deletes a GTM Environment."
                },
                "get": {
                  "parameters": {
                    "environmentId": {
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    }
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Gets a GTM Environment."
                },
                "update": {
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.update",
                  "response": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}"
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "environmentId": {
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "request": {
                    "$ref": "Environment"
                  }
                }
              }
            },
            "variables": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Creates a GTM Variable.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Variable"
                  },
                  "response": {
                    "$ref": "Variable"
                  }
                },
                "get": {
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "variableId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Variable ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "id": "tagmanager.accounts.containers.variables.get",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Variable."
                },
                "update": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.variables.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "type": "string"
                    },
                    "variableId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Variable ID."
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    }
                  },
                  "description": "Updates a GTM Variable.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "request": {
                    "$ref": "Variable"
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "httpMethod": "PUT"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.variables.list",
                  "description": "Lists all GTM Variables of a Container.",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables"
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE"
                }
              }
            },
            "folders": {
              "methods": {
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "folderId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.folders.update",
                  "description": "Updates a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "folderId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "description": "Deletes a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.delete"
                },
                "get": {
                  "description": "Gets a GTM Folder.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "folderId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "response": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.folders.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "tagmanager.accounts.containers.folders.create",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Creates a GTM Folder.",
                  "response": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Folder"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.list",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "description": "Lists all GTM Folders of a Container.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameters": {
                        "accountId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The GTM Account ID."
                        },
                        "containerId": {
                          "description": "The GTM Container ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "folderId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The GTM Folder ID."
                        }
                      },
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "description": "List all entities in a GTM Folder.",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FolderEntities"
                      }
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "publish": {
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    },
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container Version ID."
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "description": "Publishes a Container Version.",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "headers": {
                      "location": "query",
                      "default": "false",
                      "type": "boolean",
                      "description": "Retrieve headers only when true."
                    },
                    "includeDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "default": "false",
                      "description": "Also retrieve deleted (archived) versions when true."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all Container Versions of a GTM Container.",
                  "id": "tagmanager.accounts.containers.versions.list"
                },
                "undelete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "POST",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "description": "Undeletes a Container Version."
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "description": "Deletes a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    }
                  }
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.update",
                  "description": "Updates a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "httpMethod": "PUT",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Gets a Container Version.",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version."
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "restore": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version)."
                },
                "create": {
                  "description": "Creates a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "triggers": {
              "methods": {
                "get": {
[...]
