{
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/tag-manager",
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "title": "Tag Manager API",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "path": "tagmanager/v1/accounts",
          "flatPath": "tagmanager/v1/accounts",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "description": "Lists all GTM Accounts that a user has access to.",
          "id": "tagmanager.accounts.list",
          "parameterOrder": [],
          "parameters": {}
        },
        "update": {
          "id": "tagmanager.accounts.update",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "parameterOrder": [
            "accountId"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "location": "path",
              "required": true,
              "description": "The GTM Account ID.",
              "type": "string"
            },
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "description": "Updates a GTM Account."
        },
        "get": {
          "response": {
            "$ref": "Account"
          },
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "location": "path",
              "required": true,
              "description": "The GTM Account ID.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "accountId"
          ],
          "description": "Gets a GTM Account.",
          "path": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "containers": {
          "resources": {
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "parameters": {
                    "environmentId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID."
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "httpMethod": "PUT",
                  "description": "Re-generates the authorization code for a GTM Environment."
                }
              }
            },
            "folders": {
              "methods": {
                "get": {
                  "id": "tagmanager.accounts.containers.folders.get",
                  "description": "Gets a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "folderId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "update": {
                  "description": "Updates a GTM Folder.",
                  "httpMethod": "PUT",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.update",
                  "request": {
                    "$ref": "Folder"
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "location": "query"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "delete": {
                  "description": "Deletes a GTM Folder.",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "folderId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Lists all GTM Folders of a Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Folder"
                  },
                  "description": "Creates a GTM Folder.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.folders.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "parameters": {
                        "accountId": {
                          "type": "string",
                          "description": "The GTM Account ID.",
                          "location": "path",
                          "required": true
                        },
                        "folderId": {
                          "description": "The GTM Folder ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "containerId": {
                          "type": "string",
                          "description": "The GTM Container ID.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "List all entities in a GTM Folder.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "id": "tagmanager.accounts.containers.folders.entities.list"
                    }
                  }
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "httpMethod": "PUT",
                  "description": "Moves entities to a GTM Folder.",
                  "request": {
                    "$ref": "Folder"
                  },
                  "parameters": {
                    "triggerId": {
                      "repeated": true,
                      "description": "The triggers to be moved to the folder.",
                      "type": "string",
                      "location": "query"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "tagId": {
                      "repeated": true,
                      "type": "string",
                      "description": "The tags to be moved to the folder.",
                      "location": "query"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "folderId": {
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "The variables to be moved to the folder."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.move_folders.update"
                }
              }
            },
            "environments": {
              "methods": {
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "parameters": {
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Environment"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "description": "Gets a GTM Environment."
                },
                "update": {
                  "request": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.environments.update",
                  "description": "Updates a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "location": "query"
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Environment"
                  }
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "environmentId": {
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Deletes a GTM Environment.",
                  "id": "tagmanager.accounts.containers.environments.delete"
                },
                "create": {
                  "description": "Creates a GTM Environment.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.environments.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "response": {
                    "$ref": "Environment"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                }
              }
            },
            "versions": {
              "methods": {
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "description": "Updates a Container Version.",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "PUT"
                },
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Deletes a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "undelete": {
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "description": "Undeletes a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "restore": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "parameters": {
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version)."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "description": "Creates a Container Version.",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameters": {
                    "headers": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Retrieve headers only when true.",
                      "default": "false"
                    },
                    "includeDeleted": {
                      "type": "boolean",
                      "location": "query",
                      "default": "false",
                      "description": "Also retrieve deleted (archived) versions when true."
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Gets a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "publish": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Publishes a Container Version.",
                  "parameters": {
                    "containerVersionId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID."
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.publish"
                }
              }
            },
            "tags": {
              "methods": {
                "get": {
                  "description": "Gets a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "tagId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Tag"
                  },
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST",
                  "description": "Creates a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.create"
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.tags.update",
                  "response": {
                    "$ref": "Tag"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "type": "string"
                    },
                    "tagId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Tag ID."
                    }
                  },
                  "description": "Updates a GTM Tag.",
                  "request": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "PUT"
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Deletes a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "id": "tagmanager.accounts.containers.tags.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "description": "Lists all GTM Tags of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                }
              }
            },
            "variables": {
              "methods": {
                "update": {
                  "request": {
                    "$ref": "Variable"
                  },
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Variable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.update",
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  }
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Variable ID."
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "description": "Deletes a GTM Variable."
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.get",
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "description": "Gets a GTM Variable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "response": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Creates a GTM Variable."
                },
                "list": {
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "description": "Lists all GTM Variables of a Container.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                }
              }
            },
            "triggers": {
              "methods": {
                "update": {
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Updates a GTM Trigger.",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage."
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "triggerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "request": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ]
                },
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "triggerId": {
                      "type": "string",
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "description": "Deletes a GTM Trigger.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    }
                  },
                  "description": "Lists all GTM Triggers of a Container.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers"
                },
                "create": {
                  "request": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Creates a GTM Trigger.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Trigger."
                }
              }
            }
          },
          "methods": {
            "update": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "containerId": {
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "location": "path",
                  "required": true
                },
                "fingerprint": {
                  "location": "query",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.update",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              },
              "httpMethod": "PUT",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Updates a Container."
            },
            "delete": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The GTM Account ID."
                },
                "containerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The GTM Container ID."
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "id": "tagmanager.accounts.containers.delete",
              "description": "Deletes a Container."
            },
            "get": {
              "parameters": {
                "containerId": {
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID."
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.get",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Container"
              },
              "description": "Gets a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "containerId"
              ]
            },
            "list": {
              "id": "tagmanager.accounts.containers.list",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID."
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "description": "Lists all Containers that belongs to a GTM Account.",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "description": "Creates a Container.",
              "httpMethod": "POST",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers"
            }
          }
        },
        "permissions": {
          "methods": {
            "update": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "request": {
                "$ref": "UserAccess"
              },
              "id": "tagmanager.accounts.permissions.update",
              "description": "Updates a user's Account & Container Permissions.",
              "httpMethod": "PUT",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "response": {
                "$ref": "UserAccess"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "permissionId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The GTM User ID."
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID."
                }
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ]
            },
            "delete": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.delete",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "permissionId": {
                  "description": "The GTM User ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
            },
            "create": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.permissions.create",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "POST",
              "request": {
                "$ref": "UserAccess"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Creates a user's Account & Container Permissions."
            },
            "get": {
              "response": {
                "$ref": "UserAccess"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "GET",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The GTM Account ID."
                },
                "permissionId": {
                  "type": "string",
                  "description": "The GTM User ID.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.permissions.get",
              "description": "Gets a user's Account & Container Permissions.",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "tagmanager.accounts.permissions.list",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "revision": "20260826",
  "schemas": {
    "FolderEntities": {
      "description": "Represents a Google Tag Manager Folder's contents.",
      "properties": {
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The list of triggers inside the folder."
        },
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The list of variables inside the folder."
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      },
      "id": "FolderEntities",
      "type": "object"
    },
    "ListAccountUsersResponse": {
      "description": "List AccountUsers Response.",
      "id": "ListAccountUsersResponse",
      "type": "object",
      "properties": {
        "userAccess": {
          "items": {
            "$ref": "UserAccess"
          },
          "description": "All GTM AccountUsers of a GTM Account.",
          "type": "array"
        }
      }
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "name": {
          "type": "string",
          "description": "Folder display name."
        }
      },
      "type": "object",
      "id": "Folder"
    },
    "ListContainersResponse": {
      "description": "List Containers Response.",
      "type": "object",
      "id": "ListContainersResponse",
      "properties": {
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account.",
          "type": "array"
        }
      }
    },
    "AccountAccess": {
      "type": "object",
      "properties": {
        "permission": {
          "type": "array",
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "items": {
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        }
      },
      "id": "AccountAccess",
      "description": "Defines the Google Tag Manager Account access permissions."
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "id": "ListFoldersResponse",
      "type": "object",
      "properties": {
        "folders": {
          "type": "array",
          "description": "All GTM Folders of a GTM Container.",
          "items": {
            "$ref": "Folder"
          }
        }
      }
    },
    "ListTriggersResponse": {
      "type": "object",
      "description": "List triggers response.",
      "properties": {
        "triggers": {
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container.",
          "type": "array"
        }
      },
      "id": "ListTriggersResponse"
    },
    "Condition": {
      "properties": {
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition."
        }
      },
      "id": "Condition",
      "description": "Represents a predicate.",
      "type": "object"
    },
    "CreateContainerVersionResponse": {
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "CreateContainerVersionResponse",
      "description": "Create container versions response.",
      "type": "object"
    },
    "ListContainerVersionsResponse": {
      "properties": {
        "containerVersion": {
          "items": {
            "$ref": "ContainerVersion"
          },
          "description": "All versions of a GTM Container.",
          "type": "array"
        },
        "containerVersionHeader": {
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "type": "array",
          "description": "All container version headers of a GTM Container."
        }
      },
      "type": "object",
      "description": "List container versions response.",
      "id": "ListContainerVersionsResponse"
    },
    "SetupTag": {
      "id": "SetupTag",
      "type": "object",
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        },
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        }
      }
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters."
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "uniqueTriggerId": {
          "$ref": "Parameter",
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers."
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
        },
        "customEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "filter": {
          "items": {
            "$ref": "Condition"
          },
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
        },
        "totalTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
        }
      },
      "id": "Trigger"
    },
    "ListVariablesResponse": {
      "description": "List Variables Response.",
      "type": "object",
      "id": "ListVariablesResponse",
      "properties": {
        "variables": {
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container.",
          "type": "array"
        }
      }
    },
    "Account": {
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account",
      "properties": {
        "name": {
          "description": "Account display name.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Variable": {
      "properties": {
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The variable's parameters."
        },
        "disablingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set."
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "format": "int64"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "enablingTriggerId": {
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Variable.",
      "type": "object",
      "id": "Variable"
    },
    "ContainerVersion": {
      "type": "object",
      "description": "Represents a Google Tag Manager Container Version.",
      "properties": {
        "folder": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "The folders in the container that this version was taken from."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          },
          "type": "array"
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "trigger": {
          "type": "array",
          "description": "The triggers in the container that this version was taken from.",
          "items": {
            "$ref": "Trigger"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "id": "ContainerVersion"
    },
    "ListTagsResponse": {
      "description": "List Tags Response.",
      "type": "object",
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container."
        }
      }
    },
    "ContainerVersionHeader": {
      "id": "ContainerVersionHeader",
      "properties": {
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "numVariables": {
          "type": "string",
          "description": "Number of variables in the container version."
        }
      },
      "description": "Represents a Google Tag Manager Container Version Header.",
      "type": "object"
    },
    "Container": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "domainName": {
          "items": {
            "type": "string"
          },
          "description": "Optional list of domain names associated with the Container.",
          "type": "array"
        },
        "timeZoneId": {
          "type": "string",
          "description": "Container Time Zone ID."
        },
        "fingerprint": {
          "type": "string",
[...]
