{
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Tag Manager",
  "title": "Tag Manager API",
  "revision": "20260924",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/tag-manager",
  "protocol": "rest",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        }
      }
    }
  },
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "methods": {
        "update": {
          "path": "tagmanager/v1/accounts/{accountId}",
          "parameterOrder": [
            "accountId"
          ],
          "httpMethod": "PUT",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "description": "Updates a GTM Account.",
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string",
              "location": "query"
            },
            "accountId": {
              "required": true,
              "location": "path",
              "description": "The GTM Account ID.",
              "type": "string"
            }
          },
          "id": "tagmanager.accounts.update",
          "response": {
            "$ref": "Account"
          }
        },
        "list": {
          "parameters": {},
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "path": "tagmanager/v1/accounts",
          "description": "Lists all GTM Accounts that a user has access to.",
          "id": "tagmanager.accounts.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "tagmanager/v1/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ]
        },
        "get": {
          "id": "tagmanager.accounts.get",
          "description": "Gets a GTM Account.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The GTM Account ID."
            }
          },
          "path": "tagmanager/v1/accounts/{accountId}",
          "parameterOrder": [
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          }
        }
      },
      "resources": {
        "containers": {
          "methods": {
            "delete": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "containerId": {
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a Container.",
              "id": "tagmanager.accounts.containers.delete"
            },
            "create": {
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "description": "Creates a Container.",
              "request": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId"
              ]
            },
            "update": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "containerId": {
                  "type": "string",
                  "required": true,
                  "description": "The GTM Container ID.",
                  "location": "path"
                },
                "fingerprint": {
                  "type": "string",
                  "location": "query",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage."
                }
              },
              "request": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.update",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Updates a Container."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.list",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "Lists all Containers that belongs to a GTM Account.",
              "response": {
                "$ref": "ListContainersResponse"
              }
            },
            "get": {
              "description": "Gets a Container.",
              "httpMethod": "GET",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.get",
              "parameters": {
                "containerId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Container ID."
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "response": {
                "$ref": "Container"
              }
            }
          },
          "resources": {
            "folders": {
              "methods": {
                "create": {
                  "id": "tagmanager.accounts.containers.folders.create",
                  "response": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "request": {
                    "$ref": "Folder"
                  },
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "description": "Creates a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "update": {
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.folders.update",
                  "response": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "folderId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage."
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Folder"
                  },
                  "description": "Updates a GTM Folder.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.folders.get",
                  "httpMethod": "GET",
                  "description": "Gets a GTM Folder."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "description": "Deletes a GTM Folder.",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "folderId": {
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "description": "Lists all GTM Folders of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.folders.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "description": "List all entities in a GTM Folder.",
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "parameters": {
                        "accountId": {
                          "description": "The GTM Account ID.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "containerId": {
                          "type": "string",
                          "location": "path",
                          "description": "The GTM Container ID.",
                          "required": true
                        },
                        "folderId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The GTM Folder ID."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "variables": {
              "methods": {
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "variableId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a GTM Variable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "description": "Gets a GTM Variable.",
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "variableId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Variable ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.variables.get"
                },
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Creates a GTM Variable.",
                  "request": {
                    "$ref": "Variable"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Variable"
                  }
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Variable.",
                  "id": "tagmanager.accounts.containers.variables.update",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}"
                },
                "list": {
                  "description": "Lists all GTM Variables of a Container.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.variables.list",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables"
                }
              }
            },
            "tags": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "id": "tagmanager.accounts.containers.tags.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "description": "Lists all GTM Tags of a Container."
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "tagId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The GTM Tag ID."
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets a GTM Tag.",
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Creates a GTM Tag.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.create",
                  "request": {
                    "$ref": "Tag"
                  }
                },
                "update": {
                  "request": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "location": "query"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.tags.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Updates a GTM Tag.",
                  "response": {
                    "$ref": "Tag"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Deletes a GTM Tag.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Account ID."
                    },
                    "tagId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}"
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "description": "Moves entities to a GTM Folder.",
                  "request": {
                    "$ref": "Folder"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "tagId": {
                      "repeated": true,
                      "type": "string",
                      "description": "The tags to be moved to the folder.",
                      "location": "query"
                    },
                    "variableId": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "The variables to be moved to the folder."
                    },
                    "folderId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "triggerId": {
                      "repeated": true,
                      "description": "The triggers to be moved to the folder.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ]
                }
              }
            },
            "environments": {
              "methods": {
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments"
                },
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Deletes a GTM Environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "httpMethod": "DELETE"
                },
                "get": {
                  "description": "Gets a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "environmentId": {
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}"
                },
                "create": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Creates a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.environments.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments"
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Updates a GTM Environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PUT",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "id": "tagmanager.accounts.containers.environments.update"
                }
              }
            },
            "triggers": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Trigger"
                  },
                  "description": "Creates a GTM Trigger.",
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "location": "query"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Updates a GTM Trigger."
                },
                "get": {
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    },
                    "triggerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The GTM Container ID."
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a GTM Trigger.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  }
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Triggers of a Container.",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a GTM Trigger.",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path"
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                }
              }
            },
            "versions": {
              "methods": {
                "create": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The GTM Account ID."
                    }
                  },
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.versions.create",
                  "description": "Creates a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "update": {
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Updates a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "restore": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.restore"
                },
                "undelete": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "description": "Undeletes a Container Version.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "publish": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query"
                    },
                    "containerVersionId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "description": "Publishes a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.versions.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "required": true,
                      "type": "string"
                    },
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Gets a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}"
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all Container Versions of a GTM Container.",
                  "parameters": {
                    "headers": {
                      "default": "false",
                      "type": "boolean",
                      "location": "query",
                      "description": "Retrieve headers only when true."
                    },
                    "containerId": {
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "includeDeleted": {
                      "location": "query",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "type": "boolean",
                      "default": "false"
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.versions.list",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameters": {
                    "environmentId": {
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ]
                }
              }
            }
          }
        },
        "permissions": {
          "methods": {
            "delete": {
              "id": "tagmanager.accounts.permissions.delete",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true,
                  "location": "path"
                },
                "permissionId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM User ID.",
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "DELETE",
              "description": "Removes a user from the account, revoking access to it and all of its containers."
            },
            "create": {
              "request": {
                "$ref": "UserAccess"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "POST",
              "description": "Creates a user's Account & Container Permissions.",
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.permissions.create"
            },
            "update": {
              "request": {
                "$ref": "UserAccess"
              },
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.update",
              "parameters": {
                "permissionId": {
                  "required": true,
                  "description": "The GTM User ID.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "description": "Updates a user's Account & Container Permissions."
            },
            "list": {
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The GTM Account ID."
                }
              },
              "id": "tagmanager.accounts.permissions.list",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "get": {
              "response": {
                "$ref": "UserAccess"
              },
              "id": "tagmanager.accounts.permissions.get",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path"
                },
                "permissionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM User ID."
                }
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "GET",
              "description": "Gets a user's Account & Container Permissions.",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ]
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://tagmanager.googleapis.com/",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "version": "v1",
  "name": "tagmanager",
  "schemas": {
    "TeardownTag": {
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "type": "boolean",
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
        }
      },
      "type": "object",
      "id": "TeardownTag"
    },
    "ListTriggersResponse": {
      "description": "List triggers response.",
      "properties": {
        "triggers": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "All GTM Triggers of a GTM Container."
        }
      },
      "id": "ListTriggersResponse",
      "type": "object"
    },
    "UserAccess": {
      "type": "object",
      "properties": {
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "permissionId": {
          "description": "Account Permission ID.",
          "type": "string"
        }
      },
      "description": "Represents a user's permissions to an account and its container.",
      "id": "UserAccess"
    },
    "FolderEntities": {
      "description": "Represents a Google Tag Manager Folder's contents.",
      "properties": {
        "variable": {
          "type": "array",
          "description": "The list of variables inside the folder.",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "items": {
            "$ref": "Trigger"
          },
          "type": "array"
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "type": "object",
      "id": "FolderEntities"
    },
    "PublishContainerVersionResponse": {
      "id": "PublishContainerVersionResponse",
      "type": "object",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        }
      },
      "description": "Publish container version response."
    },
    "SetupTag": {
      "id": "SetupTag",
      "properties": {
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        },
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        }
      },
      "type": "object"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion",
      "properties": {
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified."
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "type": "array",
          "description": "The triggers in the container that this version was taken from.",
          "items": {
            "$ref": "Trigger"
          }
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "folder": {
          "type": "array",
          "description": "The folders in the container that this version was taken from.",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "Environment"
          },
          "description": "All Environments of a GTM Container."
        }
      },
      "description": "List Environments Response.",
      "id": "ListEnvironmentsResponse",
      "type": "object"
    },
    "ContainerAccess": {
      "type": "object",
      "properties": {
        "permission": {
          "items": {
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "type": "array"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess"
    },
    "Trigger": {
      "type": "object",
      "properties": {
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "description": "Defines the data layer event that causes this trigger."
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "triggerId": {
          "type": "string",
          "description": "The Trigger ID uniquely identifies the GTM Trigger."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parameter": {
          "type": "array",
          "description": "Additional parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers."
        },
        "customEventFilter": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of custom event, which is fired iff all Conditions are true."
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers."
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "autoEventFilter": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of auto event tracking."
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        }
      },
      "description": "Represents a Google Tag Manager Trigger",
      "id": "Trigger"
    },
    "Variable": {
      "properties": {
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set."
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The variable's parameters."
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "disablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "scheduleStartMs": {
          "type": "string",
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a variable."
        }
      },
      "id": "Variable",
      "type": "object",
      "description": "Represents a Google Tag Manager Variable."
    },
    "ListContainersResponse": {
      "properties": {
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account.",
          "type": "array"
        }
      },
      "description": "List Containers Response.",
      "id": "ListContainersResponse",
      "type": "object"
    },
    "ListAccountUsersResponse": {
      "id": "ListAccountUsersResponse",
      "description": "List AccountUsers Response.",
      "type": "object",
      "properties": {
        "userAccess": {
          "items": {
            "$ref": "UserAccess"
          },
          "description": "All GTM AccountUsers of a GTM Account.",
          "type": "array"
        }
      }
    },
    "ListTagsResponse": {
      "type": "object",
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "description": "All GTM Tags of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "description": "List Tags Response."
    },
    "Tag": {
      "type": "object",
      "properties": {
        "teardownTag": {
          "type": "array",
          "description": "The list of teardown tags. Currently we only allow one.",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "paused": {
          "description": "True if the tag is paused.",
          "type": "boolean"
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "format": "int64"
        },
        "tagFiringOption": {
          "description": "Option to fire this tag.",
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "type": "string",
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ]
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this tag in the container."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified."
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The tag's parameters."
        },
        "blockingTriggerId": {
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "liveOnly": {
          "type": "boolean",
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode)."
        },
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "setupTag": {
          "items": {
            "$ref": "SetupTag"
          },
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "format": "int64",
          "type": "string"
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "firingTriggerId": {
[...]
