{
  "title": "Tag Manager API",
  "name": "tagmanager",
  "servicePath": "",
  "version": "v2",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        }
      }
    }
  },
  "description": "This API allows clients to access and modify container and tag configuration.",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "id": "tagmanager:v2",
  "revision": "20260722",
  "batchPath": "batch",
  "schemas": {
    "ZoneBoundary": {
      "type": "object",
      "description": "Represents a Zone's boundaries.",
      "id": "ZoneBoundary",
      "properties": {
        "customEvaluationTriggerId": {
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "The conditions that, when conjoined, make up the boundary."
        }
      }
    },
    "AccountAccess": {
      "properties": {
        "permission": {
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "description": "Whether the user has no access, user access, or admin access to an account.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "AccountAccess",
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object"
    },
    "ContainerAccess": {
      "id": "ContainerAccess",
      "properties": {
        "permission": {
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ],
          "type": "string",
          "description": "List of Container permissions.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines the Google Tag Manager Container access permissions."
    },
    "BulkUpdateWorkspaceResponse": {
      "type": "object",
      "id": "BulkUpdateWorkspaceResponse",
      "properties": {
        "changes": {
          "description": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        }
      }
    },
    "GtagConfig": {
      "type": "object",
      "description": "Represents a Google tag configuration.",
      "id": "GtagConfig",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The Google tag config's parameters."
        },
        "accountId": {
          "type": "string",
          "description": "Google tag account ID."
        },
        "containerId": {
          "description": "Google tag container ID.",
          "type": "string"
        },
        "gtagConfigId": {
          "type": "string",
          "description": "The ID uniquely identifies the Google tag config."
        },
        "workspaceId": {
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Google tag config type."
        },
        "path": {
          "type": "string",
          "description": "Google tag config's API relative path."
        }
      }
    },
    "ListGtagConfigResponse": {
      "properties": {
        "gtagConfig": {
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "All Google tag configs in a Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListGtagConfigResponse",
      "type": "object"
    },
    "RevertZoneResponse": {
      "properties": {
        "zone": {
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version.",
          "$ref": "Zone"
        }
      },
      "id": "RevertZoneResponse",
      "description": "The result of reverting a zone in a workspace.",
      "type": "object"
    },
    "CreateBuiltInVariableResponse": {
      "type": "object",
      "properties": {
        "builtInVariable": {
          "description": "List of created built-in variables.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        }
      },
      "id": "CreateBuiltInVariableResponse"
    },
    "TagConsentSetting": {
      "type": "object",
      "properties": {
        "consentType": {
          "$ref": "Parameter",
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING."
        },
        "consentStatus": {
          "type": "string",
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted.",
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ],
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ]
        }
      },
      "id": "TagConsentSetting"
    },
    "ProposedChange": {
      "type": "object",
      "properties": {
        "changes": {
          "description": "The list of workspace changes to be applied.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        }
      },
      "id": "ProposedChange"
    },
    "PublishContainerVersionResponse": {
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "PublishContainerVersionResponse",
      "description": "Publish container version response.",
      "type": "object"
    },
    "ListZonesResponse": {
      "properties": {
        "zone": {
          "type": "array",
          "items": {
            "$ref": "Zone"
          },
          "description": "All GTM Zones of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListZonesResponse",
      "type": "object"
    },
    "ListUserPermissionsResponse": {
      "id": "ListUserPermissionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "userPermission": {
          "description": "All GTM UserPermissions of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          }
        }
      },
      "type": "object",
      "description": "List user permissions response."
    },
    "GalleryReference": {
      "type": "object",
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site.",
      "id": "GalleryReference",
      "properties": {
        "templateDeveloperId": {
          "type": "string",
          "description": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery."
        },
        "isModified": {
          "type": "boolean",
          "description": "If a user has manually edited the community gallery template."
        },
        "host": {
          "description": "The name of the host for the community gallery template.",
          "type": "string"
        },
        "signature": {
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery.",
          "type": "string"
        },
        "galleryTemplateId": {
          "type": "string",
          "description": "ID for the gallery template that is generated once during first sync and travels with the template redirects."
        },
        "owner": {
          "description": "The name of the owner for the community gallery template.",
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "The name of the repository for the community gallery template."
        },
        "version": {
          "description": "The version of the community gallery template.",
          "type": "string"
        }
      }
    },
    "Zone": {
      "id": "Zone",
      "properties": {
        "childContainer": {
          "description": "Containers that are children of this Zone.",
          "type": "array",
          "items": {
            "$ref": "ZoneChildContainer"
          }
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "boundary": {
          "$ref": "ZoneBoundary",
          "description": "This Zone's boundary."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this zone in the container."
        },
        "typeRestriction": {
          "description": "This Zone's type restrictions.",
          "$ref": "ZoneTypeRestriction"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "path": {
          "type": "string",
          "description": "GTM Zone's API relative path."
        },
        "zoneId": {
          "type": "string",
          "description": "The Zone ID uniquely identifies the GTM Zone."
        },
        "name": {
          "description": "Zone display name.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Zone's contents."
    },
    "Trigger": {
      "id": "Trigger",
      "properties": {
        "name": {
          "type": "string",
          "description": "Trigger display name."
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "continuousTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
        },
        "maxTimerLengthSeconds": {
          "$ref": "Parameter",
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "filter": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "The trigger will only fire iff all Conditions are true."
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
        },
        "notes": {
          "description": "User notes on how to apply this trigger in the container.",
          "type": "string"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ]
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters."
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
        },
        "visiblePercentageMin": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Trigger's API relative path."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "triggerId": {
          "type": "string",
          "description": "The Trigger ID uniquely identifies the GTM Trigger."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
        },
        "uniqueTriggerId": {
          "$ref": "Parameter",
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers."
        },
        "autoEventFilter": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of auto event tracking."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Trigger"
    },
    "SetupTag": {
      "type": "object",
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies.",
      "id": "SetupTag",
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      }
    },
    "ListContainersResponse": {
      "properties": {
        "container": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListContainersResponse",
      "description": "List Containers Response.",
      "type": "object"
    },
    "Workspace": {
      "description": "Represents a Google Tag Manager Container Workspace.",
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "name": {
          "description": "Workspace display name.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Workspace's API relative path."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "description": {
          "type": "string",
          "description": "Workspace description."
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        }
      },
      "id": "Workspace"
    },
    "RevertTriggerResponse": {
      "id": "RevertTriggerResponse",
      "properties": {
        "trigger": {
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version.",
          "$ref": "Trigger"
        }
      },
      "type": "object",
      "description": "The result of reverting a trigger in a workspace."
    },
    "Environment": {
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The environment display name. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment.",
          "type": "boolean"
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "authorizationTimestamp": {
          "description": "The last update time-stamp for the authorization code.",
          "type": "string",
          "format": "google-datetime"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "type": {
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ],
          "description": "The type of this environment.",
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ],
          "type": "string"
        },
        "workspaceId": {
          "description": "Represents a link to a quick preview of a workspace.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "authorizationCode": {
          "type": "string",
          "description": "The environment authorization code."
        },
        "containerVersionId": {
          "description": "Represents a link to a container version.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "path": {
          "type": "string",
          "description": "GTM Environment's API relative path."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "id": "Environment"
    },
    "TeardownTag": {
      "type": "object",
      "description": "Represents a tag that fires after another tag in order to tear down dependencies.",
      "id": "TeardownTag",
      "properties": {
        "stopTeardownOnFailure": {
          "type": "boolean",
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
        },
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        }
      }
    },
    "Container": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "notes": {
          "type": "string",
          "description": "Container Notes."
        },
        "tagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All Tag IDs that refer to this Container."
        },
        "path": {
          "type": "string",
          "description": "GTM Container's API relative path."
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "usageContext": {
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ]
          }
        },
        "features": {
          "description": "Read-only Container feature set.",
          "$ref": "ContainerFeatures"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "domainName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domain names associated with the Container."
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        },
        "taggingServerUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of server-side container URLs for the Container. If multiple URLs are provided, all URL paths must match."
        }
      },
      "id": "Container",
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions.",
      "type": "object"
    },
    "ContainerVersion": {
      "type": "object",
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "transformation": {
          "description": "The transformations in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Transformation"
          }
        },
        "description": {
          "description": "Container version description.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The triggers in the container that this version was taken from."
        },
        "builtInVariable": {
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          },
          "description": "The built-in variables in the container that this version was taken from."
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "zone": {
          "description": "The zones in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        },
        "customTemplate": {
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          },
          "description": "The custom templates in the container that this version was taken from."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "client": {
          "type": "array",
          "items": {
            "$ref": "Client"
          },
          "description": "The clients in the container that this version was taken from."
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "folder": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "The folders in the container that this version was taken from."
        },
        "path": {
          "type": "string",
          "description": "GTM Container Version's API relative path."
        },
        "gtagConfig": {
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "The Google tag configs in the container that this version was taken from."
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      }
    },
    "ListTransformationsResponse": {
      "type": "object",
      "properties": {
        "transformation": {
          "description": "All GTM Transformations of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Transformation"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListTransformationsResponse"
    },
    "ListWorkspacesResponse": {
      "description": "A list of workspaces in a container.",
      "type": "object",
      "properties": {
        "workspace": {
          "type": "array",
          "items": {
            "$ref": "Workspace"
          },
          "description": "All Workspaces of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListWorkspacesResponse"
    },
    "Transformation": {
      "description": "Represents a Google Tag Manager Transformation.",
      "type": "object",
      "properties": {
        "path": {
          "description": "GTM transformation's API relative path.",
          "type": "string"
        },
        "transformationId": {
          "description": "The Transformation ID uniquely identifies the GTM transformation.",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "type": {
          "description": "Transformation type.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Transformation display name."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "parameter": {
          "description": "The transformation's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Transformation as computed at storage time. This value is recomputed whenever the transformation is modified."
        },
        "notes": {
          "description": "User notes on how to apply this transformation in the container.",
          "type": "string"
        }
      },
      "id": "Transformation"
    },
    "ListDestinationsResponse": {
      "properties": {
        "destination": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          },
          "description": "All Destinations linked to a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListDestinationsResponse",
      "type": "object"
    },
    "RevertBuiltInVariableResponse": {
      "id": "RevertBuiltInVariableResponse",
      "properties": {
        "enabled": {
          "description": "Whether the built-in variable is enabled after reversion.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The result of reverting a built-in variable in a workspace."
    },
    "ListTagsResponse": {
      "properties": {
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListTagsResponse",
      "description": "List Tags Response.",
      "type": "object"
    },
    "ZoneTypeRestriction": {
      "description": "Represents a Zone's type restrictions.",
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "True if type restrictions have been enabled for this Zone."
        },
        "whitelistedTypeId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of type public ids that have been whitelisted for use in this Zone."
        }
      },
      "id": "ZoneTypeRestriction"
    },
    "RevertFolderResponse": {
      "id": "RevertFolderResponse",
      "properties": {
        "folder": {
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version.",
          "$ref": "Folder"
        }
      },
      "type": "object",
      "description": "The result of reverting folder changes in a workspace."
    },
    "ContainerFeatures": {
      "type": "object",
      "id": "ContainerFeatures",
      "properties": {
        "supportTemplates": {
          "type": "boolean",
          "description": "Whether this Container supports templates."
        },
        "supportVariables": {
          "type": "boolean",
          "description": "Whether this Container supports variables."
        },
        "supportZones": {
          "type": "boolean",
          "description": "Whether this Container supports zones."
        },
        "supportVersions": {
          "type": "boolean",
          "description": "Whether this Container supports Container versions."
        },
        "supportTransformations": {
          "type": "boolean",
          "description": "Whether this Container supports transformations."
        },
        "supportTags": {
          "description": "Whether this Container supports tags.",
          "type": "boolean"
        },
        "supportTriggers": {
          "description": "Whether this Container supports triggers.",
          "type": "boolean"
        },
        "supportBuiltInVariables": {
          "type": "boolean",
          "description": "Whether this Container supports built-in variables"
        },
        "supportFolders": {
          "description": "Whether this Container supports folders.",
          "type": "boolean"
        },
        "supportWorkspaces": {
          "type": "boolean",
          "description": "Whether this Container supports workspaces."
        },
        "supportGtagConfigs": {
          "description": "Whether this Container supports Google tag config.",
          "type": "boolean"
        },
        "supportClients": {
          "description": "Whether this Container supports clients.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "type": "boolean",
          "description": "Whether this Container supports user permissions managed by GTM."
        },
        "supportEnvironments": {
          "description": "Whether this Container supports environments.",
          "type": "boolean"
        }
      }
    },
    "BuiltInVariable": {
      "id": "BuiltInVariable",
      "properties": {
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "type": {
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname",
            "visitorRegion",
            "analyticsClientId",
            "analyticsSessionId",
            "analyticsSessionNumber"
          ],
          "description": "Type of built-in variable.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "path": {
          "description": "GTM BuiltInVariable's API relative path.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the built-in variable to be used to refer to the built-in variable."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "type": "object",
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL."
    },
    "Folder": {
      "properties": {
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM Folder's API relative path.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this folder in the container."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      },
      "id": "Folder",
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object"
    },
    "ZoneChildContainer": {
      "properties": {
        "publicId": {
          "type": "string",
          "description": "The child container's public id."
        },
        "nickname": {
          "type": "string",
          "description": "The zone's nickname for the child container."
        }
      },
      "id": "ZoneChildContainer",
      "description": "Represents a child container of a Zone.",
      "type": "object"
    },
    "RevertTagResponse": {
      "properties": {
        "tag": {
          "$ref": "Tag",
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version."
        }
      },
      "id": "RevertTagResponse",
      "description": "The result of reverting a tag in a workspace.",
      "type": "object"
    },
    "ListClientsResponse": {
      "type": "object",
      "id": "ListClientsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "client": {
          "description": "All GTM Clients of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Client"
          }
        }
      }
    },
    "ListTriggersResponse": {
      "type": "object",
      "description": "List triggers response.",
      "id": "ListTriggersResponse",
      "properties": {
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "description": "List Accounts Response.",
      "type": "object",
      "properties": {
        "account": {
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListAccountsResponse"
    },
    "SyncStatus": {
      "properties": {
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        },
        "syncError": {
          "description": "An error occurred during the synchronization operation.",
          "type": "boolean"
        }
      },
      "id": "SyncStatus",
      "description": "The status of a workspace after synchronization.",
      "type": "object"
    },
    "AccountFeatures": {
      "properties": {
        "supportUserPermissions": {
          "type": "boolean",
          "description": "Whether this Account supports user permissions managed by GTM."
        },
        "supportMultipleContainers": {
          "description": "Whether this Account supports multiple Containers.",
          "type": "boolean"
        }
      },
      "id": "AccountFeatures",
      "type": "object"
    },
    "ListTemplatesResponse": {
      "properties": {
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListTemplatesResponse",
      "type": "object"
    },
    "ListEnabledBuiltInVariablesResponse": {
      "type": "object",
      "description": "A list of enabled built-in variables.",
      "id": "ListEnabledBuiltInVariablesResponse",
      "properties": {
        "builtInVariable": {
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          },
          "description": "All GTM BuiltInVariables of a GTM container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "RevertTransformationResponse": {
      "type": "object",
      "description": "The result of reverting a transformation in a workspace.",
      "id": "RevertTransformationResponse",
      "properties": {
        "transformation": {
          "description": "Transformation as it appears in the latest container version since the last workspace synchronization operation. If no transformation is present, that means the transformation was deleted in the latest container version.",
          "$ref": "Transformation"
        }
      }
    },
    "FolderEntities": {
      "type": "object",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "id": "FolderEntities",
      "properties": {
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The list of tags inside the folder."
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "Client": {
      "type": "object",
      "id": "Client",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "path": {
          "description": "GTM client's API relative path.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "clientId": {
          "description": "The Client ID uniquely identifies the GTM client.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this tag in the container."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "priority": {
          "description": "Priority determines relative firing order.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Client display name."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "type": {
          "type": "string",
          "description": "Client type."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified."
        },
        "parameter": {
          "description": "The client's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      }
    },
    "MergeConflict": {
      "properties": {
        "entityInWorkspace": {
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status.",
          "$ref": "Entity"
        },
        "entityInBaseVersion": {
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version.",
          "$ref": "Entity"
        }
      },
      "id": "MergeConflict",
      "description": "Represents a merge conflict.",
      "type": "object"
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "properties": {
        "syncStatus": {
          "description": "Whether version creation failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "newWorkspacePath": {
          "type": "string",
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview."
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      },
      "type": "object",
      "description": "Create container versions response."
    },
    "ListVariablesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "variable": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      },
      "id": "ListVariablesResponse",
      "description": "List Variables Response.",
      "type": "object"
    },
    "Condition": {
      "description": "Represents a predicate.",
      "type": "object",
      "properties": {
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. "
        },
        "type": {
          "description": "The type of operator for this condition.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ]
        }
      },
      "id": "Condition"
    },
    "Destination": {
      "type": "object",
      "description": "Represents a Google Tag Destination.",
      "id": "Destination",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI."
        },
        "name": {
          "description": "Destination display name.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified."
        },
        "destinationLinkId": {
          "type": "string",
          "description": "The Destination link ID uniquely identifies the Destination."
        },
        "path": {
          "description": "Destination's API relative path.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "destinationId": {
          "type": "string",
          "description": "Destination ID."
        }
      }
    },
    "Parameter": {
      "id": "Parameter",
      "properties": {
        "type": {
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "enumDescriptions": [
            "",
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "isWeakReference": {
          "description": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations.",
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type."
        },
        "list": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "This list parameter's parameters (keys will be ignored)."
        },
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        },
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Parameter."
    },
    "UserPermission": {
      "type": "object",
      "description": "Represents a user's permissions to an account and its container.",
      "id": "UserPermission",
      "properties": {
        "path": {
          "type": "string",
          "description": "GTM UserPermission's API relative path."
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "accountAccess": {
          "$ref": "AccountAccess",
          "description": "GTM Account access permissions."
        }
      }
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "properties": {
        "containerVersionHeader": {
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "description": "All container version headers of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "List container versions response."
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "The notes of the container version to be created."
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "RevertTemplateResponse": {
      "properties": {
        "template": {
          "$ref": "CustomTemplate",
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version."
        }
      },
      "id": "RevertTemplateResponse",
      "description": "The result of reverting a template in a workspace.",
      "type": "object"
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "type": "object",
      "properties": {
        "folder": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListFoldersResponse"
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "type": "object",
      "properties": {
        "scheduleEndMs": {
          "type": "string",
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a tag."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "tagFiringOption": {
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag.",
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "type": "string"
        },
        "monitoringMetadata": {
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. ",
          "$ref": "Parameter"
        },
        "path": {
          "description": "GTM Tag's API relative path.",
          "type": "string"
        },
        "scheduleStartMs": {
          "type": "string",
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a tag."
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "consentSettings": {
          "description": "Consent settings of a tag.",
          "$ref": "TagConsentSetting"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "type": {
          "type": "string",
          "description": "GTM Tag Type."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified."
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The tag's parameters."
        },
        "setupTag": {
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "teardownTag": {
          "description": "The list of teardown tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Tag display name."
        },
        "firingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false."
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "monitoringMetadataTagNameKey": {
          "type": "string",
          "description": "If non-empty, then the tag display name will be included in the monitoring metadata map using the key specified."
        },
        "liveOnly": {
          "type": "boolean",
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode)."
        },
        "blockingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire."
        }
      },
      "id": "Tag"
    },
    "ContainerVersionHeader": {
      "id": "ContainerVersionHeader",
      "properties": {
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "numClients": {
          "description": "Number of clients in the container version.",
          "type": "string"
        },
        "numTags": {
          "type": "string",
          "description": "Number of tags in the container version."
        },
        "numZones": {
          "type": "string",
          "description": "Number of zones in the container version."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "numCustomTemplates": {
          "type": "string",
          "description": "Number of custom templates in the container version."
        },
        "numTriggers": {
          "type": "string",
          "description": "Number of triggers in the container version."
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "numGtagConfigs": {
          "type": "string",
          "description": "Number of Google tag configs in the container version."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "numTransformations": {
          "type": "string",
          "description": "Number of transformations in the container version."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Container Version Header."
    },
    "GetWorkspaceStatusResponse": {
      "description": "The changes that have occurred in the workspace since the base container version.",
      "type": "object",
      "properties": {
        "workspaceChange": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities that have been changed in the workspace."
        },
        "mergeConflict": {
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          },
          "description": "The merge conflict after sync."
        }
      },
      "id": "GetWorkspaceStatusResponse"
    },
    "GetContainerSnippetResponse": {
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Tagging snippet for a Container."
        },
        "containerConfig": {
          "type": "string",
          "description": "Server container config param for manually provisioning a tagging server."
        }
      },
      "id": "GetContainerSnippetResponse",
      "type": "object"
    },
    "CustomTemplate": {
      "type": "object",
      "description": "Represents a Google Tag Manager Custom Template's contents.",
      "id": "CustomTemplate",
      "properties": {
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "templateData": {
          "description": "The custom template in text format.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Custom Template display name."
        },
        "path": {
          "type": "string",
          "description": "GTM Custom Template's API relative path."
        },
        "galleryReference": {
          "description": "A reference to the Community Template Gallery entry.",
          "$ref": "GalleryReference"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified.",
          "type": "string"
        },
        "templateId": {
          "type": "string",
          "description": "The Custom Template ID uniquely identifies the GTM custom template."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      }
    },
    "Variable": {
      "type": "object",
      "description": "Represents a Google Tag Manager Variable.",
      "id": "Variable",
      "properties": {
        "name": {
          "type": "string",
          "description": "Variable display name."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The variable's parameters."
        },
        "enablingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set."
        },
        "scheduleEndMs": {
          "type": "string",
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a variable."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "formatValue": {
          "$ref": "VariableFormatValue",
          "description": "Option to convert a variable value to other value."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "path": {
          "description": "GTM Variable's API relative path.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "scheduleStartMs": {
          "type": "string",
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a variable."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      }
    },
    "Entity": {
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace.",
      "type": "object",
      "properties": {
        "builtInVariable": {
          "$ref": "BuiltInVariable",
          "description": "The built in variable being represented by the entity."
        },
        "tag": {
          "description": "The tag being represented by the entity.",
          "$ref": "Tag"
        },
        "zone": {
          "$ref": "Zone",
          "description": "The zone being represented by the entity."
        },
        "customTemplate": {
          "description": "The custom template being represented by the entity.",
          "$ref": "CustomTemplate"
        },
        "transformation": {
          "description": "The transformation being represented by the entity.",
          "$ref": "Transformation"
        },
        "client": {
          "$ref": "Client",
          "description": "The client being represented by the entity."
        },
        "gtagConfig": {
          "$ref": "GtagConfig",
          "description": "The gtag config being represented by the entity."
        },
        "folder": {
          "$ref": "Folder",
          "description": "The folder being represented by the entity."
        },
        "trigger": {
          "$ref": "Trigger",
          "description": "The trigger being represented by the entity."
        },
        "variable": {
          "description": "The variable being represented by the entity.",
          "$ref": "Variable"
        },
        "changeStatus": {
          "type": "string",
          "description": "Represents how the entity has been changed in the workspace.",
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ],
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ]
        }
      },
      "id": "Entity"
    },
    "QuickPreviewResponse": {
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The quick previewed container version."
        },
        "syncStatus": {
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "QuickPreviewResponse",
      "description": "Response to quick previewing a workspace.",
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "properties": {
        "environment": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "List Environments Response."
    },
    "RevertClientResponse": {
      "description": "The result of reverting a client in a workspace.",
      "type": "object",
      "properties": {
        "client": {
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version.",
          "$ref": "Client"
        }
      },
      "id": "RevertClientResponse"
    },
    "Account": {
      "type": "object",
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account",
      "properties": {
        "name": {
          "type": "string",
          "description": "Account display name."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "shareData": {
          "type": "boolean",
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service."
        },
        "features": {
          "$ref": "AccountFeatures",
          "description": "Read-only Account feature set"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "path": {
          "description": "GTM Account's API relative path.",
          "type": "string"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        }
      }
    },
    "SyncWorkspaceResponse": {
      "description": "A response after synchronizing the workspace to the latest container version.",
      "type": "object",
      "properties": {
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Indicates whether synchronization caused a merge conflict or sync error."
        },
        "mergeConflict": {
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          },
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved."
        }
      },
      "id": "SyncWorkspaceResponse"
    },
    "VariableFormatValue": {
      "type": "object",
      "id": "VariableFormatValue",
      "properties": {
        "convertToNumber": {
          "enum": [
            "decimalSeparatorTypeUnspecified",
            "period",
            "comma",
            "automatic"
          ],
          "description": "The option to convert a variable value to a number.",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to a number with a period as the decimal separator.",
            "The option to convert a variable value to a number with a comma as the decimal separator.",
            "The option to convert a variable value to a number with automatic decimal separator detection."
          ],
          "type": "string"
        },
        "caseConversionType": {
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ],
          "type": "string",
          "description": "The option to convert a string-type variable value to either lowercase or uppercase.",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ]
        },
        "convertUndefinedToValue": {
          "description": "The value to convert if a variable value is undefined.",
          "$ref": "Parameter"
        },
        "convertTrueToValue": {
          "description": "The value to convert if a variable value is true.",
          "$ref": "Parameter"
        },
        "convertFalseToValue": {
          "description": "The value to convert if a variable value is false.",
          "$ref": "Parameter"
        },
        "convertNullToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is null."
        },
        "convertToBoolean": {
          "type": "boolean",
          "description": "The option to convert a variable value to a boolean."
        }
      }
    },
    "RevertVariableResponse": {
      "properties": {
        "variable": {
          "$ref": "Variable",
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version."
        }
      },
      "id": "RevertVariableResponse",
      "description": "The result of reverting a variable in a workspace.",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "canonicalName": "Tag Manager",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/tag-manager",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "id": "tagmanager.accounts.list",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Continuation token for fetching the next page of results.",
              "type": "string"
            },
            "includeGoogleTags": {
              "location": "query",
              "description": "Also retrieve accounts associated with Google Tag when true.",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "description": "Lists all GTM Accounts that a user has access to.",
          "path": "tagmanager/v2/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "flatPath": "tagmanager/v2/accounts",
          "httpMethod": "GET"
        },
        "get": {
          "path": "tagmanager/v2/{+path}",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "description": "Gets a GTM Account.",
          "httpMethod": "GET",
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "id": "tagmanager.accounts.get",
          "parameterOrder": [
            "path"
          ],
          "parameters": {
            "path": {
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "GTM Account's API relative path."
            }
          }
        },
        "update": {
          "parameterOrder": [
            "path"
          ],
          "id": "tagmanager.accounts.update",
          "parameters": {
            "path": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "GTM Account's API relative path.",
              "location": "path"
            },
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "tagmanager/v2/{+path}",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "description": "Updates a GTM Account.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "httpMethod": "PUT",
          "flatPath": "tagmanager/v2/accounts/{accountsId}"
        }
      },
      "resources": {
        "containers": {
          "methods": {
            "snippet": {
              "parameterOrder": [
                "path"
              ],
              "id": "tagmanager.accounts.containers.snippet",
              "parameters": {
                "path": {
                  "required": true,
                  "description": "Container snippet's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets the tagging snippet for a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "path": "tagmanager/v2/{+path}:snippet",
              "response": {
                "$ref": "GetContainerSnippetResponse"
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:snippet",
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "id": "tagmanager.accounts.containers.delete",
              "description": "Deletes a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ]
            },
            "create": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "description": "Creates a Container.",
              "path": "tagmanager/v2/{+parent}/containers",
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "GTM Account's API relative path.",
                  "location": "path"
                }
              },
              "id": "tagmanager.accounts.containers.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "path": "tagmanager/v2/{+path}",
              "response": {
                "$ref": "Container"
              },
              "description": "Gets a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "path"
              ],
              "id": "tagmanager.accounts.containers.get"
            },
            "move_tag_id": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:move_tag_id",
              "httpMethod": "POST",
              "description": "Move Tag ID out of a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "path": "tagmanager/v2/{+path}:move_tag_id",
              "response": {
                "$ref": "Container"
              },
              "parameters": {
                "path": {
                  "location": "path",
                  "required": true,
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "type": "string"
                },
                "tagName": {
                  "location": "query",
[...]
