{
  "version": "v1",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        }
      }
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "documentationLink": "https://developers.google.com/tag-manager",
  "revision": "20260626",
  "schemas": {
    "ListAccountsResponse": {
      "description": "List Accounts Response.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "id": "ListAccountsResponse"
    },
    "Tag": {
      "properties": {
        "tagFiringOption": {
          "type": "string",
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag.",
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ]
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "type": {
          "type": "string",
          "description": "GTM Tag Type."
        },
        "firingTriggerId": {
          "type": "array",
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "items": {
            "type": "string"
          }
        },
        "parameter": {
          "type": "array",
          "description": "The tag's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "setupTag": {
          "items": {
            "$ref": "SetupTag"
          },
          "type": "array",
          "description": "The list of setup tags. Currently we only allow one."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "teardownTag": {
          "items": {
            "$ref": "TeardownTag"
          },
          "type": "array",
          "description": "The list of teardown tags. Currently we only allow one."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "blockingTriggerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "paused": {
          "description": "True if the tag is paused.",
          "type": "boolean"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "type": "string"
        },
        "scheduleStartMs": {
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "type": "string"
        }
      },
      "id": "Tag",
      "description": "Represents a Google Tag Manager Tag.",
      "type": "object"
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "properties": {
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "description": "All GTM Folders of a GTM Container."
        }
      },
      "type": "object",
      "description": "List Folders Response."
    },
    "ListAccountUsersResponse": {
      "type": "object",
      "description": "List AccountUsers Response.",
      "id": "ListAccountUsersResponse",
      "properties": {
        "userAccess": {
          "description": "All GTM AccountUsers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserAccess"
          }
        }
      }
    },
    "Trigger": {
      "type": "object",
      "description": "Represents a Google Tag Manager Trigger",
      "id": "Trigger",
      "properties": {
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Trigger display name."
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "description": "Defines the data layer event that causes this trigger.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "customEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "type": "array",
          "description": "Used in the case of custom event, which is fired iff all Conditions are true."
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "filter": {
          "type": "array",
          "description": "The trigger will only fire iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "Additional parameters.",
          "type": "array"
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "properties": {
        "containerVersionId": {
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "url": {
          "type": "string",
          "description": "Default preview page url for the environment."
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "environmentId": {
          "type": "string",
          "description": "GTM Environment ID uniquely identifies the GTM Environment."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "authorizationTimestampMs": {
          "type": "string",
          "description": "The last update time-stamp for the authorization code.",
          "format": "int64"
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default on for the environment.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of this environment.",
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ],
          "type": "string",
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ]
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types."
    },
    "ListContainersResponse": {
      "properties": {
        "containers": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "id": "ListContainersResponse",
      "description": "List Containers Response.",
      "type": "object"
    },
    "UserAccess": {
      "id": "UserAccess",
      "properties": {
        "permissionId": {
          "type": "string",
          "description": "Account Permission ID."
        },
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerAccess": {
          "items": {
            "$ref": "ContainerAccess"
          },
          "type": "array",
          "description": "GTM Container access permissions."
        }
      },
      "type": "object",
      "description": "Represents a user's permissions to an account and its container."
    },
    "ContainerVersion": {
      "type": "object",
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion",
      "properties": {
        "folder": {
          "items": {
            "$ref": "Folder"
          },
          "description": "The folders in the container that this version was taken from.",
          "type": "array"
        },
        "variable": {
          "type": "array",
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          }
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "tag": {
          "type": "array",
          "description": "The tags in the container that this version was taken from.",
          "items": {
            "$ref": "Tag"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The triggers in the container that this version was taken from."
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      }
    },
    "SetupTag": {
      "type": "object",
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        },
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        }
      },
      "id": "SetupTag"
    },
    "ListVariablesResponse": {
      "properties": {
        "variables": {
          "type": "array",
          "description": "All GTM Variables of a GTM Container.",
          "items": {
            "$ref": "Variable"
          }
        }
      },
      "id": "ListVariablesResponse",
      "description": "List Variables Response.",
      "type": "object"
    },
    "Parameter": {
      "id": "Parameter",
      "properties": {
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        },
        "type": {
          "type": "string",
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "list": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "This list parameter's parameters (keys will be ignored)."
        },
        "map": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "This map parameter's parameters (must have keys; keys must be unique)."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Parameter."
    },
    "CreateContainerVersionResponse": {
      "properties": {
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      },
      "id": "CreateContainerVersionResponse",
      "description": "Create container versions response.",
      "type": "object"
    },
    "Container": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Container display name."
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "timeZoneCountryId": {
          "description": "Container Country ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "domainName": {
          "items": {
            "type": "string"
          },
          "description": "Optional list of domain names associated with the Container.",
          "type": "array"
        },
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "enabledBuiltInVariable": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ]
          },
          "type": "array",
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId."
        },
        "usageContext": {
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "timeZoneId": {
          "type": "string",
          "description": "Container Time Zone ID."
        }
      },
      "id": "Container",
      "description": "Represents a Google Tag Manager Container.",
      "type": "object"
    },
    "TeardownTag": {
      "type": "object",
      "id": "TeardownTag",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      }
    },
    "ContainerAccess": {
      "type": "object",
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess",
      "properties": {
        "permission": {
          "items": {
            "type": "string",
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "type": "array"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      }
    },
    "ListTriggersResponse": {
      "type": "object",
      "description": "List triggers response.",
      "id": "ListTriggersResponse",
      "properties": {
        "triggers": {
          "type": "array",
          "description": "All GTM Triggers of a GTM Container.",
          "items": {
            "$ref": "Trigger"
          }
        }
      }
    },
    "AccountAccess": {
      "id": "AccountAccess",
      "properties": {
        "permission": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          },
          "type": "array",
          "description": "List of Account permissions. Valid account permissions are read and manage."
        }
      },
      "type": "object",
      "description": "Defines the Google Tag Manager Account access permissions."
    },
    "Variable": {
      "properties": {
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "disablingTriggerId": {
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this variable in the container."
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "scheduleStartMs": {
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "description": "The variable's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "enablingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Variable display name."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "id": "Variable",
      "description": "Represents a Google Tag Manager Variable.",
      "type": "object"
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "type": "array",
          "description": "All GTM Tags of a GTM Container.",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "type": "object",
      "description": "List Tags Response."
    },
    "PublishContainerVersionResponse": {
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "PublishContainerVersionResponse",
      "description": "Publish container version response.",
      "type": "object"
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      },
      "id": "Folder"
    },
    "ListContainerVersionsResponse": {
      "type": "object",
      "description": "List container versions response.",
      "id": "ListContainerVersionsResponse",
      "properties": {
        "containerVersion": {
          "items": {
            "$ref": "ContainerVersion"
          },
          "type": "array",
          "description": "All versions of a GTM Container."
        },
        "containerVersionHeader": {
          "type": "array",
          "description": "All container version headers of a GTM Container.",
          "items": {
            "$ref": "ContainerVersionHeader"
          }
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "id": "CreateContainerVersionRequestVersionOptions",
      "properties": {
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Options for new container versions."
    },
    "Condition": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "id": "Condition",
      "description": "Represents a predicate.",
      "type": "object"
    },
    "FolderEntities": {
      "properties": {
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "type": "array",
          "description": "The list of variables inside the folder."
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "description": "The list of triggers inside the folder.",
          "type": "array"
        }
      },
      "id": "FolderEntities",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "description": "List Environments Response.",
      "type": "object",
      "properties": {
        "environments": {
          "items": {
            "$ref": "Environment"
          },
          "description": "All Environments of a GTM Container.",
          "type": "array"
        }
      },
      "id": "ListEnvironmentsResponse"
    },
    "Account": {
      "type": "object",
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account",
      "properties": {
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Account display name."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        }
      }
    },
    "ContainerVersionHeader": {
      "type": "object",
      "description": "Represents a Google Tag Manager Container Version Header.",
      "id": "ContainerVersionHeader",
      "properties": {
        "numTags": {
          "type": "string",
          "description": "Number of tags in the container version."
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        }
      }
    }
  },
  "title": "Tag Manager API",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "tagmanager.accounts.list",
          "flatPath": "tagmanager/v1/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "path": "tagmanager/v1/accounts",
          "description": "Lists all GTM Accounts that a user has access to.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameters": {}
        },
        "update": {
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.update",
          "parameterOrder": [
            "accountId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "fingerprint": {
              "type": "string",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "location": "query"
            },
            "accountId": {
              "required": true,
              "description": "The GTM Account ID.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "description": "Updates a GTM Account.",
          "response": {
            "$ref": "Account"
          }
        },
        "get": {
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "tagmanager/v1/accounts/{accountId}",
          "description": "Gets a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameterOrder": [
            "accountId"
          ],
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "id": "tagmanager.accounts.get",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "create": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "Creates a user's Account & Container Permissions.",
              "response": {
                "$ref": "UserAccess"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "id": "tagmanager.accounts.permissions.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "UserAccess"
              }
            },
            "list": {
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.permissions.list",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions"
            },
            "get": {
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "permissionId": {
                  "required": true,
                  "description": "The GTM User ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Gets a user's Account & Container Permissions.",
              "id": "tagmanager.accounts.permissions.get",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "httpMethod": "GET"
            },
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.update",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "response": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Updates a user's Account & Container Permissions.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "permissionId": {
                  "required": true,
                  "description": "The GTM User ID.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "DELETE",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "id": "tagmanager.accounts.permissions.delete",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "permissionId": {
                  "required": true,
                  "type": "string",
                  "description": "The GTM User ID.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ]
            }
          }
        },
        "containers": {
          "methods": {
            "list": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "id": "tagmanager.accounts.containers.list",
              "httpMethod": "GET"
            },
            "create": {
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.containers.create",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "httpMethod": "POST",
              "request": {
                "$ref": "Container"
              },
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Creates a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            },
            "delete": {
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Deletes a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "id": "tagmanager.accounts.containers.delete",
              "parameters": {
                "containerId": {
                  "required": true,
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "location": "path"
                },
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "update": {
              "parameters": {
                "containerId": {
                  "required": true,
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "location": "path"
                },
                "fingerprint": {
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "location": "query",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Updates a Container.",
              "id": "tagmanager.accounts.containers.update",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Container"
              }
            },
            "get": {
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Gets a Container.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "containerId": {
                  "required": true,
                  "description": "The GTM Container ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "id": "tagmanager.accounts.containers.get",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "restore": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "includeDeleted": {
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "default": "false",
                      "location": "query",
                      "type": "boolean"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "headers": {
                      "description": "Retrieve headers only when true.",
                      "default": "false",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "publish": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "description": "Publishes a Container Version.",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "id": "tagmanager.accounts.containers.versions.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "description": "Creates a Container Version.",
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  }
                },
                "undelete": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "description": "Undeletes a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete"
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Deletes a Container Version.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "get": {
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Gets a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "GET"
                },
                "update": {
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "type": "string",
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "description": "Updates a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "ContainerVersion"
                  }
                }
              }
            },
            "triggers": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "triggerId": {
                      "type": "string",
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "description": "Deletes a GTM Trigger.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "description": "Gets a GTM Trigger."
                },
                "update": {
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "description": "Updates a GTM Trigger.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Trigger"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Lists all GTM Triggers of a Container.",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "create": {
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Creates a GTM Trigger.",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Trigger"
                  }
                }
              }
            },
            "variables": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "description": "Lists all GTM Variables of a Container.",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "description": "Creates a GTM Variable.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Variable ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "description": "Deletes a GTM Variable.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.variables.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "description": "Gets a GTM Variable.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Variable"
                  },
                  "parameters": {
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "description": "Updates a GTM Variable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              }
            },
            "tags": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Gets a GTM Tag.",
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    },
                    "tagId": {
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "update": {
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "tagId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Updates a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Tag"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Deletes a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "tagId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "location": "path"
                    },
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "description": "Creates a GTM Tag.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "list": {
                  "id": "tagmanager.accounts.containers.tags.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "description": "Lists all GTM Tags of a Container."
                }
              }
            },
            "folders": {
              "methods": {
                "delete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "parameters": {
                    "containerId": {
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "required": true
                    },
                    "folderId": {
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "description": "Deletes a GTM Folder."
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "description": "Gets a GTM Folder.",
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "update": {
[...]
