{
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "name": "tasks",
  "discoveryVersion": "v1",
  "baseUrl": "https://tasks.googleapis.com/",
  "basePath": "",
  "schemas": {
    "Task": {
      "properties": {
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "type": "string",
          "readOnly": true
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "Title of the task. Maximum length allowed: 1024 characters."
        },
        "position": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position."
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "type": "string",
          "readOnly": true
        },
        "notes": {
          "type": "string",
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters."
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "links": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Collection of links. This collection is read-only.",
          "items": {
            "type": "object",
            "properties": {
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\"."
              },
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              }
            }
          }
        },
        "hidden": {
          "type": "boolean",
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."
        },
        "webViewLink": {
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "type": "string",
          "readOnly": true
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string",
          "readOnly": true
        },
        "assignmentInfo": {
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "readOnly": true,
          "$ref": "AssignmentInfo"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp)."
        }
      },
      "type": "object",
      "id": "Task"
    },
    "Tasks": {
      "id": "Tasks",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of the resource. This is always \"tasks#tasks\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "items": {
          "description": "Collection of tasks.",
          "items": {
            "$ref": "Task"
          },
          "type": "array"
        }
      }
    },
    "TaskLists": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "items": {
          "description": "Collection of task lists.",
          "items": {
            "$ref": "TaskList"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TaskLists"
    },
    "AssignmentInfo": {
      "type": "object",
      "properties": {
        "surfaceType": {
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE."
        },
        "linkToTask": {
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "type": "string",
          "readOnly": true
        },
        "driveResourceInfo": {
          "$ref": "DriveResourceInfo",
          "readOnly": true,
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only."
        },
        "spaceInfo": {
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "$ref": "SpaceInfo",
          "readOnly": true
        }
      },
      "id": "AssignmentInfo",
      "description": "Information about the source of the task assignment (Document, Chat Space)."
    },
    "DriveResourceInfo": {
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "id": "DriveResourceInfo",
      "properties": {
        "driveFileId": {
          "description": "Output only. Identifier of the file in the Drive API.",
          "type": "string",
          "readOnly": true
        },
        "resourceKey": {
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SpaceInfo": {
      "properties": {
        "space": {
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about the Chat Space where a task was assigned from.",
      "id": "SpaceInfo"
    },
    "TaskList": {
      "id": "TaskList",
      "type": "object",
      "properties": {
        "updated": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "rootUrl": "https://tasks.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        },
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "protocol": "rest",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "title": "Google Tasks API",
  "revision": "20260623",
  "ownerName": "Google",
  "id": "tasks:v1",
  "canonicalName": "Tasks",
  "resources": {
    "tasks": {
      "methods": {
        "delete": {
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            },
            "task": {
              "required": true,
              "type": "string",
              "description": "Task identifier.",
              "location": "path"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "DELETE",
          "id": "tasks.tasks.delete",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "update": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            },
            "task": {
              "required": true,
              "type": "string",
              "description": "Task identifier.",
              "location": "path"
            }
          },
          "description": "Updates the specified task.",
          "id": "tasks.tasks.update",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          }
        },
        "patch": {
          "id": "tasks.tasks.patch",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Updates the specified task. This method supports patch semantics.",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            },
            "task": {
              "required": true,
              "type": "string",
              "description": "Task identifier.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH"
        },
        "list": {
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Token specifying the result page to return. Optional.",
              "location": "query"
            },
            "dueMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "completedMax": {
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query"
            },
            "showAssigned": {
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            },
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "location": "query"
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "updatedMin": {
              "location": "query",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "type": "string"
            },
            "completedMin": {
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query",
              "type": "string"
            },
            "dueMax": {
              "location": "query",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "Tasks"
          },
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "id": "tasks.tasks.list",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks"
        },
        "get": {
          "description": "Returns the specified task.",
          "id": "tasks.tasks.get",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "GET",
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "previous": {
              "location": "query",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "type": "string"
            },
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional."
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "request": {
            "$ref": "Task"
          },
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "id": "tasks.tasks.insert",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "Task"
          }
        },
        "clear": {
          "path": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "id": "tasks.tasks.clear",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist"
          ]
        },
        "move": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "type": "string"
            },
            "destinationTasklist": {
              "type": "string",
              "location": "query",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists."
            },
            "previous": {
              "location": "query",
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "type": "string"
            },
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "tasks.tasks.move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move"
        }
      }
    },
    "tasklists": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Task list identifier."
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Returns the authenticated user's specified task list.",
          "id": "tasks.tasklists.get",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "TaskList"
          }
        },
        "insert": {
          "flatPath": "tasks/v1/users/@me/lists",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "id": "tasks.tasklists.insert",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "response": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists",
          "request": {
            "$ref": "TaskList"
          }
        },
        "patch": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "id": "tasks.tasklists.patch",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Task list identifier."
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "delete": {
          "id": "tasks.tasklists.delete",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "DELETE"
        },
        "update": {
          "response": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list.",
          "id": "tasks.tasklists.update",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "PUT",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "path": "tasks/v1/users/@me/lists",
          "id": "tasks.tasklists.list",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "response": {
            "$ref": "TaskLists"
          },
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying the result page to return. Optional.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "tasks/v1/users/@me/lists",
          "parameterOrder": []
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "servicePath": ""
}