{
  "name": "tasks",
  "batchPath": "batch",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Tasks",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "title": "Google Tasks API",
  "rootUrl": "https://tasks.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "baseUrl": "https://tasks.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "resources": {
    "tasks": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "previous": {
              "type": "string",
              "location": "query",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional."
            },
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            },
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "tasks.tasks.insert",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "list": {
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasks.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying the result page to return. Optional."
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "completedMin": {
              "type": "string",
              "location": "query",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "completedMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "dueMin": {
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "maxResults": {
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "showAssigned": {
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Tasks"
          }
        },
        "move": {
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "destinationTasklist": {
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "type": "string",
              "location": "query"
            },
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "previous": {
              "location": "query",
              "type": "string",
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty."
            },
            "parent": {
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "tasks.tasks.move"
        },
        "patch": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Updates the specified task. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.patch",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            }
          }
        },
        "update": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task identifier."
            }
          },
          "id": "tasks.tasks.update",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "description": "Updates the specified task."
        },
        "get": {
          "description": "Returns the specified task.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "id": "tasks.tasks.get",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "clear": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/clear",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "tasks.tasks.clear",
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list."
        },
        "delete": {
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "tasks.tasks.delete"
        }
      }
    },
    "tasklists": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists",
          "flatPath": "tasks/v1/users/@me/lists",
          "httpMethod": "POST",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "parameterOrder": [],
          "parameters": {},
          "id": "tasks.tasklists.insert"
        },
        "list": {
          "parameterOrder": [],
          "id": "tasks.tasklists.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TaskLists"
          }
        },
        "patch": {
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.patch",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "tasklist"
          ]
        },
        "update": {
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "tasks.tasklists.update",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Updates the authenticated user's specified task list.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          }
        },
        "get": {
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.get",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns the authenticated user's specified task list.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TaskList"
          }
        },
        "delete": {
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "id": "tasks.tasklists.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        }
      }
    }
  },
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "protocol": "rest",
  "revision": "20260623",
  "id": "tasks:v1",
  "schemas": {
    "Task": {
      "id": "Task",
      "type": "object",
      "properties": {
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "position": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position."
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Title of the task. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "type": "string"
        },
        "updated": {
          "readOnly": true,
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string"
        },
        "links": {
          "description": "Output only. Collection of links. This collection is read-only.",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              },
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "webViewLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI."
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "assignmentInfo": {
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "$ref": "AssignmentInfo",
          "readOnly": true
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SpaceInfo": {
      "id": "SpaceInfo",
      "type": "object",
      "properties": {
        "space": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\"."
        }
      },
      "description": "Information about the Chat Space where a task was assigned from."
    },
    "TaskList": {
      "properties": {
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "updated": {
          "readOnly": true,
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "type": "string"
        },
        "title": {
          "description": "Title of the task list. Maximum length allowed: 1024 characters.",
          "type": "string"
        }
      },
      "id": "TaskList",
      "type": "object"
    },
    "TaskLists": {
      "properties": {
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Collection of task lists.",
          "items": {
            "$ref": "TaskList"
          }
        }
      },
      "id": "TaskLists",
      "type": "object"
    },
    "DriveResourceInfo": {
      "properties": {
        "driveFileId": {
          "readOnly": true,
          "description": "Output only. Identifier of the file in the Drive API.",
          "type": "string"
        },
        "resourceKey": {
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "id": "DriveResourceInfo",
      "type": "object"
    },
    "AssignmentInfo": {
      "properties": {
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "$ref": "DriveResourceInfo",
          "readOnly": true
        },
        "linkToTask": {
          "type": "string",
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "readOnly": true
        },
        "surfaceType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ]
        },
        "spaceInfo": {
          "readOnly": true,
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "$ref": "SpaceInfo"
        }
      },
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "id": "AssignmentInfo",
      "type": "object"
    },
    "Tasks": {
      "properties": {
        "kind": {
          "description": "Type of the resource. This is always \"tasks#tasks\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Task"
          },
          "description": "Collection of tasks.",
          "type": "array"
        }
      },
      "id": "Tasks",
      "type": "object"
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/tasks/"
}