{
  "name": "tasks",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://tasks.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "DriveResourceInfo": {
      "properties": {
        "resourceKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys."
        },
        "driveFileId": {
          "description": "Output only. Identifier of the file in the Drive API.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DriveResourceInfo",
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "type": "object"
    },
    "SpaceInfo": {
      "type": "object",
      "description": "Information about the Chat Space where a task was assigned from.",
      "id": "SpaceInfo",
      "properties": {
        "space": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\"."
        }
      }
    },
    "AssignmentInfo": {
      "id": "AssignmentInfo",
      "properties": {
        "linkToTask": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.)."
        },
        "spaceInfo": {
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "$ref": "SpaceInfo",
          "readOnly": true
        },
        "surfaceType": {
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ]
        },
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "$ref": "DriveResourceInfo",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about the source of the task assignment (Document, Chat Space)."
    },
    "TaskLists": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "Collection of task lists.",
          "items": {
            "$ref": "TaskList"
          },
          "type": "array"
        }
      },
      "id": "TaskLists"
    },
    "Tasks": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Collection of tasks.",
          "items": {
            "$ref": "Task"
          }
        }
      },
      "id": "Tasks"
    },
    "Task": {
      "type": "object",
      "id": "Task",
      "properties": {
        "updated": {
          "type": "string",
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "readOnly": true
        },
        "hidden": {
          "type": "boolean",
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "readOnly": true
        },
        "assignmentInfo": {
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "readOnly": true,
          "$ref": "AssignmentInfo"
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Task identifier."
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "links": {
          "readOnly": true,
          "description": "Output only. Collection of links. This collection is read-only.",
          "items": {
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\"."
              },
              "description": {
                "type": "string",
                "description": "The description (might be empty)."
              },
              "link": {
                "type": "string",
                "description": "The URL."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#task\"."
        },
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "due": {
          "type": "string",
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "title": {
          "type": "string",
          "description": "Title of the task. Maximum length allowed: 1024 characters."
        },
        "position": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position."
        },
        "webViewLink": {
          "readOnly": true,
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "type": "string"
        }
      }
    },
    "TaskList": {
      "properties": {
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\"."
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "TaskList",
      "type": "object"
    }
  },
  "title": "Google Tasks API",
  "canonicalName": "Tasks",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://tasks.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "revision": "20260809",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "servicePath": "",
  "id": "tasks:v1",
  "resources": {
    "tasklists": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "id": "tasks.tasklists.patch",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "response": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "delete": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "DELETE",
          "id": "tasks.tasklists.delete",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "id": "tasks.tasklists.insert",
          "parameterOrder": [],
          "path": "tasks/v1/users/@me/lists",
          "flatPath": "tasks/v1/users/@me/lists",
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "response": {
            "$ref": "TaskList"
          },
          "parameters": {},
          "request": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "tasks.tasklists.list",
          "flatPath": "tasks/v1/users/@me/lists",
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "TaskLists"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "type": "integer"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "parameterOrder": [
            "tasklist"
          ],
          "httpMethod": "PUT",
          "id": "tasks.tasklists.update",
          "request": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Updates the authenticated user's specified task list.",
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "get": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Returns the authenticated user's specified task list.",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "response": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.get",
          "httpMethod": "GET"
        }
      }
    },
    "tasks": {
      "methods": {
        "patch": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Updates the specified task. This method supports patch semantics.",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            },
            "task": {
              "type": "string",
              "description": "Task identifier.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.patch",
          "httpMethod": "PATCH"
        },
        "clear": {
          "path": "tasks/v1/lists/{tasklist}/clear",
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "id": "tasks.tasks.clear",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist"
          ]
        },
        "delete": {
          "id": "tasks.tasks.delete",
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            },
            "task": {
              "description": "Task identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there."
        },
        "insert": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "response": {
            "$ref": "Task"
          },
          "parameters": {
            "previous": {
              "type": "string",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "location": "query"
            },
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            },
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "tasklist"
          ],
          "httpMethod": "POST",
          "id": "tasks.tasks.insert"
        },
        "list": {
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasks.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "dueMax": {
              "location": "query",
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "dueMin": {
              "type": "string",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query"
            },
            "updatedMin": {
              "type": "string",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "location": "query"
            },
            "completedMax": {
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query"
            },
            "completedMin": {
              "type": "string",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "showCompleted": {
              "location": "query",
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "type": "boolean"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "showAssigned": {
              "location": "query",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Tasks"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "path": "tasks/v1/lists/{tasklist}/tasks"
        },
        "update": {
          "id": "tasks.tasks.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            },
            "task": {
              "description": "Task identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Updates the specified task."
        },
        "get": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "GET",
          "id": "tasks.tasks.get",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "Task"
          },
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            },
            "task": {
              "type": "string",
              "description": "Task identifier.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "description": "Returns the specified task.",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "move": {
          "parameters": {
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "type": "string",
              "location": "query"
            },
            "task": {
              "description": "Task identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty."
            },
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            },
            "destinationTasklist": {
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "id": "tasks.tasks.move",
          "httpMethod": "POST",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        }
      }
    }
  },
  "protocol": "rest"
}