{
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://tasks.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "id": "tasks:v1",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "tasks",
  "ownerName": "Google",
  "batchPath": "batch",
  "revision": "20260818",
  "servicePath": "",
  "canonicalName": "Tasks",
  "baseUrl": "https://tasks.googleapis.com/",
  "schemas": {
    "Tasks": {
      "id": "Tasks",
      "properties": {
        "items": {
          "description": "Collection of tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        }
      },
      "type": "object"
    },
    "SpaceInfo": {
      "id": "SpaceInfo",
      "description": "Information about the Chat Space where a task was assigned from.",
      "properties": {
        "space": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\"."
        }
      },
      "type": "object"
    },
    "AssignmentInfo": {
      "type": "object",
      "id": "AssignmentInfo",
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "properties": {
        "driveResourceInfo": {
          "readOnly": true,
          "$ref": "DriveResourceInfo",
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only."
        },
        "surfaceType": {
          "readOnly": true,
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "type": "string"
        },
        "spaceInfo": {
          "readOnly": true,
          "$ref": "SpaceInfo",
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only."
        },
        "linkToTask": {
          "type": "string",
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "readOnly": true
        }
      }
    },
    "Task": {
      "type": "object",
      "id": "Task",
      "properties": {
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string",
          "readOnly": true
        },
        "notes": {
          "type": "string",
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters."
        },
        "deleted": {
          "type": "boolean",
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False."
        },
        "position": {
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "type": "string",
          "readOnly": true
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
        },
        "updated": {
          "readOnly": true,
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#task\"."
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        },
        "title": {
          "type": "string",
          "description": "Title of the task. Maximum length allowed: 1024 characters."
        },
        "webViewLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI."
        },
        "assignmentInfo": {
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "readOnly": true,
          "$ref": "AssignmentInfo"
        },
        "links": {
          "type": "array",
          "description": "Output only. Collection of links. This collection is read-only.",
          "items": {
            "type": "object",
            "properties": {
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              }
            }
          },
          "readOnly": true
        },
        "parent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only."
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        }
      }
    },
    "TaskLists": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "items": {
          "items": {
            "$ref": "TaskList"
          },
          "description": "Collection of task lists.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TaskLists"
    },
    "DriveResourceInfo": {
      "id": "DriveResourceInfo",
      "type": "object",
      "properties": {
        "driveFileId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier of the file in the Drive API."
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "readOnly": true
        }
      },
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.)."
    },
    "TaskList": {
      "id": "TaskList",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\"."
        },
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true,
          "type": "string"
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "kind": "discovery#restDescription",
  "title": "Google Tasks API",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "tasklists": {
      "methods": {
        "list": {
          "response": {
            "$ref": "TaskLists"
          },
          "path": "tasks/v1/users/@me/lists",
          "flatPath": "tasks/v1/users/@me/lists",
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying the result page to return. Optional."
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "format": "int32",
              "type": "integer"
            }
          },
          "id": "tasks.tasklists.list"
        },
        "patch": {
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Task list identifier."
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "delete": {
          "id": "tasks.tasklists.delete",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "DELETE",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "insert": {
          "id": "tasks.tasklists.insert",
          "parameters": {},
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "parameterOrder": [],
          "response": {
            "$ref": "TaskList"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists",
          "flatPath": "tasks/v1/users/@me/lists"
        },
        "update": {
          "request": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "PUT",
          "description": "Updates the authenticated user's specified task list.",
          "id": "tasks.tasklists.update"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.get",
          "description": "Returns the authenticated user's specified task list."
        }
      }
    },
    "tasks": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "DELETE",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.delete",
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            },
            "task": {
              "required": true,
              "type": "string",
              "description": "Task identifier.",
              "location": "path"
            }
          },
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there."
        },
        "insert": {
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "type": "string",
              "location": "query"
            },
            "previous": {
              "location": "query",
              "type": "string",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "POST",
          "id": "tasks.tasks.insert"
        },
        "list": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Tasks"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "type": "string",
              "required": true
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string",
              "location": "query"
            },
            "dueMin": {
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "completedMin": {
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "format": "int32",
              "location": "query"
            },
            "completedMax": {
              "location": "query",
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "showHidden": {
              "type": "boolean",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query"
            },
            "showAssigned": {
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "showCompleted": {
              "location": "query",
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            }
          },
          "id": "tasks.tasks.list",
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ]
        },
        "move": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query"
            },
            "destinationTasklist": {
              "type": "string",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "location": "query"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "task": {
              "location": "path",
              "type": "string",
              "description": "Task identifier.",
              "required": true
            }
          },
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "id": "tasks.tasks.move",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move"
        },
        "clear": {
          "path": "tasks/v1/lists/{tasklist}/clear",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "id": "tasks.tasks.clear",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            },
            "task": {
              "type": "string",
              "required": true,
              "description": "Task identifier.",
              "location": "path"
            }
          },
          "id": "tasks.tasks.get",
          "description": "Returns the specified task.",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates the specified task. This method supports patch semantics.",
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasks.patch",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "update": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "task": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Task identifier."
            },
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.update",
          "description": "Updates the specified task."
        }
      }
    }
  },
  "basePath": "",
  "version": "v1",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/"
}