{
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "revision": "20260901",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "basePath": "",
  "name": "tasks",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "baseUrl": "https://tasks.googleapis.com/",
  "canonicalName": "Tasks",
  "servicePath": "",
  "title": "Google Tasks API",
  "schemas": {
    "TaskLists": {
      "id": "TaskLists",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "TaskList"
          },
          "description": "Collection of task lists."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "DriveResourceInfo": {
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "id": "DriveResourceInfo",
      "properties": {
        "resourceKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys."
        },
        "driveFileId": {
          "description": "Output only. Identifier of the file in the Drive API.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SpaceInfo": {
      "id": "SpaceInfo",
      "type": "object",
      "properties": {
        "space": {
          "readOnly": true,
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "type": "string"
        }
      },
      "description": "Information about the Chat Space where a task was assigned from."
    },
    "TaskList": {
      "properties": {
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp)."
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true
        },
        "title": {
          "description": "Title of the task list. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TaskList"
    },
    "Task": {
      "type": "object",
      "id": "Task",
      "properties": {
        "due": {
          "type": "string",
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API."
        },
        "notes": {
          "type": "string",
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters."
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#task\"."
        },
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
        },
        "assignmentInfo": {
          "readOnly": true,
          "$ref": "AssignmentInfo",
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only."
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string",
          "readOnly": true
        },
        "hidden": {
          "type": "boolean",
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False."
        },
        "title": {
          "type": "string",
          "description": "Title of the task. Maximum length allowed: 1024 characters."
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "updated": {
          "type": "string",
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "readOnly": true
        },
        "links": {
          "description": "Output only. Collection of links. This collection is read-only.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "The description (might be empty)."
              },
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\"."
              }
            }
          }
        },
        "parent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only."
        },
        "webViewLink": {
          "readOnly": true,
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "type": "string"
        },
        "position": {
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AssignmentInfo": {
      "type": "object",
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "id": "AssignmentInfo",
      "properties": {
        "spaceInfo": {
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "$ref": "SpaceInfo",
          "readOnly": true
        },
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "$ref": "DriveResourceInfo",
          "readOnly": true
        },
        "linkToTask": {
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "type": "string",
          "readOnly": true
        },
        "surfaceType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE."
        }
      }
    },
    "Tasks": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        },
        "items": {
          "description": "Collection of tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        }
      },
      "id": "Tasks"
    }
  },
  "resources": {
    "tasks": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task identifier."
            }
          },
          "description": "Returns the specified task.",
          "id": "tasks.tasks.get",
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ]
        },
        "insert": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.insert",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "request": {
            "$ref": "Task"
          },
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "parameters": {
            "tasklist": {
              "location": "path",
              "type": "string",
              "description": "Task list identifier.",
              "required": true
            },
            "previous": {
              "location": "query",
              "type": "string",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional."
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "delete": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.delete",
          "httpMethod": "DELETE",
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "task": {
              "location": "path",
              "type": "string",
              "description": "Task identifier.",
              "required": true
            }
          }
        },
        "update": {
          "description": "Updates the specified task.",
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.update",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "required": true,
              "type": "string"
            },
            "tasklist": {
              "required": true,
              "location": "path",
              "description": "Task list identifier.",
              "type": "string"
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "description": "Updates the specified task. This method supports patch semantics.",
          "id": "tasks.tasks.patch",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "task": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Task identifier."
            },
            "tasklist": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Task list identifier."
            }
          }
        },
        "move": {
          "httpMethod": "POST",
          "parameters": {
            "destinationTasklist": {
              "location": "query",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query"
            },
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "location": "query",
              "type": "string"
            },
            "task": {
              "location": "path",
              "type": "string",
              "description": "Task identifier.",
              "required": true
            },
            "tasklist": {
              "type": "string",
              "required": true,
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "id": "tasks.tasks.move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "response": {
            "$ref": "Task"
          }
        },
        "clear": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasks.clear",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "type": "string",
              "required": true,
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "path": "tasks/v1/lists/{tasklist}/clear"
        },
        "list": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "required": true,
              "type": "string"
            },
            "dueMin": {
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "completedMax": {
              "type": "string",
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "completedMin": {
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string",
              "location": "query"
            },
            "showAssigned": {
              "type": "boolean",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "location": "query"
            },
            "updatedMin": {
              "location": "query",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "type": "string"
            },
            "showHidden": {
              "type": "boolean",
              "location": "query",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False."
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "parameterOrder": [
            "tasklist"
          ],
          "response": {
            "$ref": "Tasks"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "id": "tasks.tasks.list"
        }
      }
    },
    "tasklists": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "DELETE",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.delete",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted."
        },
        "update": {
          "response": {
            "$ref": "TaskList"
          },
          "request": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "httpMethod": "PUT",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.update",
          "description": "Updates the authenticated user's specified task list."
        },
        "patch": {
          "parameterOrder": [
            "tasklist"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "tasks.tasklists.patch"
        },
        "insert": {
          "path": "tasks/v1/users/@me/lists",
          "httpMethod": "POST",
          "request": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "response": {
            "$ref": "TaskList"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.insert"
        },
        "list": {
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying the result page to return. Optional."
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "id": "tasks.tasklists.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "flatPath": "tasks/v1/users/@me/lists",
          "path": "tasks/v1/users/@me/lists",
          "response": {
            "$ref": "TaskLists"
          }
        },
        "get": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Returns the authenticated user's specified task list.",
          "id": "tasks.tasklists.get",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "TaskList"
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "protocol": "rest",
  "rootUrl": "https://tasks.googleapis.com/",
  "id": "tasks:v1"
}