{
  "id": "tasks:v1",
  "canonicalName": "Tasks",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "title": "Google Tasks API",
  "discoveryVersion": "v1",
  "baseUrl": "https://tasks.googleapis.com/",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://tasks.googleapis.com/",
  "resources": {
    "tasks": {
      "methods": {
        "move": {
          "id": "tasks.tasks.move",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "parameters": {
            "task": {
              "required": true,
              "description": "Task identifier.",
              "type": "string",
              "location": "path"
            },
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "type": "string",
              "location": "query"
            },
            "destinationTasklist": {
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "type": "string",
              "location": "query"
            },
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "type": "string",
              "location": "path"
            },
            "parent": {
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "patch": {
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "description": "Task list identifier.",
              "type": "string"
            },
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the specified task. This method supports patch semantics.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PATCH",
          "id": "tasks.tasks.patch",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "id": "tasks.tasks.delete",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "task": {
              "required": true,
              "description": "Task identifier.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasks.insert",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "type": "string",
              "location": "path"
            },
            "parent": {
              "location": "query",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "type": "string"
            },
            "previous": {
              "location": "query",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "clear": {
          "id": "tasks.tasks.clear",
          "path": "tasks/v1/lists/{tasklist}/clear",
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "description": "Task list identifier.",
              "type": "string"
            }
          },
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "description": "Returns the specified task.",
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "description": "Task list identifier.",
              "type": "string"
            },
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.get",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "list": {
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasks.list",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "GET",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "response": {
            "$ref": "Tasks"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameters": {
            "completedMax": {
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "type": "integer",
              "location": "query"
            },
            "showAssigned": {
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string",
              "location": "query"
            },
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "type": "string",
              "required": true
            },
            "updatedMin": {
              "location": "query",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "type": "string"
            },
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "type": "boolean",
              "location": "query"
            },
            "showDeleted": {
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "completedMin": {
              "location": "query",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "type": "string"
            },
            "showHidden": {
              "location": "query",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "dueMin": {
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time."
        },
        "update": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.update",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PUT",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Updates the specified task.",
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "type": "string",
              "location": "path"
            },
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "tasklists": {
      "methods": {
        "list": {
          "flatPath": "tasks/v1/users/@me/lists",
          "response": {
            "$ref": "TaskLists"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "tasks.tasklists.list",
          "path": "tasks/v1/users/@me/lists",
          "parameterOrder": []
        },
        "update": {
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.update",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "PUT",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Updates the authenticated user's specified task list.",
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "DELETE",
          "id": "tasks.tasklists.delete",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "insert": {
          "id": "tasks.tasklists.insert",
          "path": "tasks/v1/users/@me/lists",
          "parameterOrder": [],
          "flatPath": "tasks/v1/users/@me/lists",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time."
        },
        "patch": {
          "id": "tasks.tasklists.patch",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "httpMethod": "PATCH",
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "description": "Task list identifier.",
              "type": "string"
            }
          }
        },
        "get": {
          "id": "tasks.tasklists.get",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "required": true,
              "location": "path",
              "description": "Task list identifier.",
              "type": "string"
            }
          },
          "description": "Returns the authenticated user's specified task list.",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "schemas": {
    "SpaceInfo": {
      "description": "Information about the Chat Space where a task was assigned from.",
      "type": "object",
      "id": "SpaceInfo",
      "properties": {
        "space": {
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Tasks": {
      "id": "Tasks",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#tasks\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Task"
          },
          "description": "Collection of tasks.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DriveResourceInfo": {
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "type": "object",
      "id": "DriveResourceInfo",
      "properties": {
        "driveFileId": {
          "description": "Output only. Identifier of the file in the Drive API.",
          "readOnly": true,
          "type": "string"
        },
        "resourceKey": {
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Task": {
      "type": "object",
      "id": "Task",
      "properties": {
        "title": {
          "description": "Title of the task. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "webViewLink": {
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "position": {
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "readOnly": true,
          "type": "string"
        },
        "links": {
          "description": "Output only. Collection of links. This collection is read-only.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              },
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              }
            }
          }
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "assignmentInfo": {
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "readOnly": true,
          "$ref": "AssignmentInfo"
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        }
      }
    },
    "TaskList": {
      "id": "TaskList",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true,
          "type": "string"
        },
        "updated": {
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "title": {
          "description": "Title of the task list. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "TaskLists": {
      "type": "object",
      "id": "TaskLists",
      "properties": {
        "items": {
          "description": "Collection of task lists.",
          "type": "array",
          "items": {
            "$ref": "TaskList"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        }
      }
    },
    "AssignmentInfo": {
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "type": "object",
      "id": "AssignmentInfo",
      "properties": {
        "spaceInfo": {
          "$ref": "SpaceInfo",
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "readOnly": true
        },
        "surfaceType": {
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ]
        },
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "readOnly": true,
          "$ref": "DriveResourceInfo"
        },
        "linkToTask": {
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "revision": "20260707",
  "servicePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "name": "tasks"
}