{
  "canonicalName": "Threat Intelligence Service",
  "ownerName": "Google",
  "name": "threatintelligence",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "id": "threatintelligence:v1beta",
  "ownerDomain": "google.com",
  "version_module": true,
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    }
  ],
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a specific document associated with an alert.",
                  "response": {
                    "$ref": "AlertDocument"
                  }
                }
              }
            }
          },
          "methods": {
            "falsePositive": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:falsePositive",
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.falsePositive"
            },
            "duplicate": {
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "path": "v1beta/{+name}:duplicate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.duplicate"
            },
            "trackExternally": {
              "httpMethod": "POST",
              "path": "v1beta/{+name}:trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "enumerateFacets": {
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "httpMethod": "GET",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts."
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets"
            },
            "benign": {
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "description": "Marks an alert as benign - BENIGN.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}"
                }
              },
              "path": "v1beta/{+name}:benign",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "id": "threatintelligence.projects.alerts.benign"
            },
            "read": {
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as read - READ.",
              "id": "threatintelligence.projects.alerts.read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:read",
              "httpMethod": "POST"
            },
            "resolve": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert to closed state - RESOLVED.",
              "path": "v1beta/{+name}:resolve",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "id": "threatintelligence.projects.alerts.resolve",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST"
            },
            "escalate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "path": "v1beta/{+name}:escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "id": "threatintelligence.projects.alerts.escalate",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              }
            },
            "notActionable": {
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "httpMethod": "POST",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.notActionable",
              "path": "v1beta/{+name}:notActionable",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "getPassword": {
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "description": "Get the decrypted password of an alert.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "path": "v1beta/{+name}:getPassword",
              "id": "threatintelligence.projects.alerts.getPassword",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "description": "Get an alert by name.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.get",
              "path": "v1beta/{+name}"
            },
            "list": {
              "path": "v1beta/{+parent}/alerts",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "id": "threatintelligence.projects.alerts.list",
              "description": "Get a list of alerts that meet the filter criteria.",
              "response": {
                "$ref": "ListAlertsResponse"
              }
            },
            "triage": {
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as triaged - TRIAGED.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "id": "threatintelligence.projects.alerts.triage",
              "path": "v1beta/{+name}:triage"
            }
          }
        },
        "configurations": {
          "methods": {
            "upsert": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "httpMethod": "POST",
              "description": "Creates or updates a configuration.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "path": "v1beta/{+parent}/configurations:upsert",
              "id": "threatintelligence.projects.configurations.upsert",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration."
                },
                "publishTime": {
                  "format": "google-datetime",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Configuration"
              }
            },
            "get": {
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.configurations.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a configuration by name.",
              "response": {
                "$ref": "Configuration"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "path": "v1beta/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a list of configurations that meet the filter criteria.",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter criteria."
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "threatintelligence.projects.configurations.list"
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "description": "List configuration revisions that meet the filter criteria.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token provided by the API"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Page Size",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specify ordering of response",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/revisions",
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "search": {
              "id": "threatintelligence.projects.findings.search",
              "path": "v1beta/{+parent}/findings:search",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "query": {
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "id": "threatintelligence.projects.findings.list",
              "path": "v1beta/{+parent}/findings",
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent of the findings.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter criteria."
                }
              },
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.get",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the finding to get.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Finding"
              },
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}"
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "threatintelligence.projects.generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "parameterOrder": [
            "name"
          ],
          "description": "Triggers the generation of a Customer Profile for a project.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}"
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260924",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "title": "Threat Intelligence API",
  "schemas": {
    "AlertDocument": {
      "description": "A document that is associated with an alert.",
      "properties": {
        "ingestTime": {
          "format": "google-datetime",
          "description": "Output only. Time when GTI received the intel.",
          "type": "string",
          "readOnly": true
        },
        "collectionTime": {
          "type": "string",
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
        },
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "readOnly": true
        },
        "content": {
          "description": "Output only. The content of the document.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the document, if available."
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "type": "string",
          "readOnly": true
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The author of the document."
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "type": "string",
          "readOnly": true
        },
        "sourceUpdateTime": {
          "type": "string",
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime",
          "readOnly": true
        },
        "sourceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the intel item from the source."
        },
        "translation": {
          "$ref": "AlertDocumentTranslation",
          "readOnly": true,
          "description": "Output only. The translation of the document, if available."
        }
      },
      "id": "AlertDocument",
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for UpsertConfiguration.",
      "id": "UpsertConfigurationResponse"
    },
    "Finding": {
      "type": "object",
      "properties": {
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "severity": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float",
          "type": "number"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      },
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "id": "Finding"
    },
    "CustomerProfileTechnology": {
      "properties": {
        "technology": {
          "type": "string",
          "description": "Required. The name of the technology."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the technology."
        }
      },
      "type": "object",
      "id": "CustomerProfileTechnology",
      "description": "Technology information for the customer profile."
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsNotActionable."
    },
    "AlertDetail": {
      "properties": {
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        },
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerAlertDetail",
          "description": "Initial Access Broker alert detail type."
        },
        "detailType": {
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true
        },
        "domainMonitoring": {
          "$ref": "DomainMonitoringAlertDetail",
          "description": "Domain Monitoring alert detail type."
        }
      },
      "description": "Container for different types of alert details.",
      "type": "object",
      "id": "AlertDetail"
    },
    "DomainMonitoringFeatureConfig": {
      "properties": {
        "disabled": {
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain.",
          "type": "boolean"
        }
      },
      "description": "Specific configuration for the Domain Monitoring feature.",
      "id": "DomainMonitoringFeatureConfig",
      "type": "object"
    },
    "FindingDetail": {
      "properties": {
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "domainMonitoring": {
          "description": "Domain Monitoring finding detail type.",
          "$ref": "DomainMonitoringFindingDetail"
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        }
      },
      "id": "FindingDetail",
      "type": "object",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes."
    },
    "ThreatAttributionDetails": {
      "type": "object",
      "description": "Threat attribution information (actor, campaign, etc.).",
      "properties": {
        "actors": {
          "type": "array",
          "description": "Optional. The threat actors associated with the target.",
          "items": {
            "type": "string"
          }
        },
        "collections": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The threat collections detected.",
          "type": "array"
        },
        "malware": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The malware associated with the threat."
        }
      },
      "id": "ThreatAttributionDetails"
    },
    "CertificateDetails": {
      "id": "CertificateDetails",
      "type": "object",
      "description": "Details regarding the SSL certificate configuration.",
      "properties": {
        "subjectAlternativeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The SSL subject alternative names."
        },
        "issuer": {
          "description": "Optional. The SSL certificate issuer.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "id": "Alert",
      "properties": {
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "findingCount": {
          "format": "int64",
          "description": "Output only. The number of findings associated with this alert.",
          "readOnly": true,
          "type": "string"
        },
        "duplicateOf": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}"
        },
        "duplicatedBy": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert.",
          "readOnly": true
        },
        "configurations": {
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "description": "Output only. State of the alert.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ]
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Findings that are covered by this alert."
        },
        "externalId": {
          "type": "string",
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert."
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "$ref": "PriorityAnalysis",
          "readOnly": true
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "type": "object"
    },
    "CustomerProfileCompany": {
      "type": "object",
      "id": "CustomerProfileCompany",
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Company information for the customer profile."
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "type": "object",
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "type": "string",
          "readOnly": true
        },
        "translatedContent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The translated content of the document."
        }
      },
      "id": "AlertDocumentTranslation"
    },
    "MarkAlertAsTriagedRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsTriaged.",
      "id": "MarkAlertAsTriagedRequest",
      "properties": {}
    },
    "SearchFindingsResponse": {
      "description": "Response message for SearchFindings.",
      "type": "object",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "SearchFindingsResponse"
    },
    "CustomerProfileContactInfo": {
      "id": "CustomerProfileContactInfo",
      "type": "object",
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information.",
          "type": "array"
        },
        "address": {
          "type": "string",
          "description": "The address of the contact."
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        }
      },
      "description": "Contact information for the customer profile."
    },
    "ListFindingsResponse": {
      "type": "object",
      "id": "ListFindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        }
      },
      "description": "Response message for ListFindings."
    },
    "CustomerProfileProduct": {
      "id": "CustomerProfileProduct",
      "description": "Product information for the customer profile.",
      "properties": {
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the product."
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "type": "object",
      "id": "TargetTechnologyAlertDetail"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "id": "GenerateOrgProfileConfigurationRequest"
    },
    "GetPasswordResponse": {
      "id": "GetPasswordResponse",
      "description": "Response message for GetPassword.",
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PriorityAnalysis": {
      "properties": {
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority."
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "priorityLevel": {
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        }
      },
      "description": "Structured priority analysis for a threat.",
      "id": "PriorityAnalysis",
      "type": "object"
    },
    "InitialAccessBrokerAlertDetail": {
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocuments": {
          "items": {
            "$ref": "DiscoveryDocument"
          },
          "description": "Output only. New structured metadata payload.",
          "type": "array",
          "readOnly": true
        },
        "discoveryDocumentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "Optional. Deprecated: Use `discovery_documents` instead. Array of ids to accommodate multiple discovery documents."
        }
      },
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "id": "InitialAccessBrokerAlertDetail"
    },
    "ListConfigurationRevisionsResponse": {
      "properties": {
        "revisions": {
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListConfigurationRevisions.",
      "id": "ListConfigurationRevisionsResponse"
    },
    "CustomerProfileIndustry": {
      "type": "object",
      "id": "CustomerProfileIndustry",
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the industry."
        },
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        }
      },
      "description": "Industry information for the customer profile."
    },
    "Configuration": {
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "type": "object",
      "id": "Configuration",
      "properties": {
        "etag": {
          "type": "string",
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human readable name for the configuration."
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "state": {
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "description": "Optional. State of the configuration.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        }
      }
    },
    "CustomThreatScenarioConfig": {
      "type": "object",
      "properties": {
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "readOnly": true,
          "type": "string"
        },
        "documentQuery": {
          "$ref": "DocumentQuery",
          "description": "Optional. The query used to match documents."
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "readOnly": true,
          "description": "Output only. Legacy metadata associated with this scenario/monitor."
        },
        "scenarioType": {
          "description": "Optional. The custom threat scenario type used to create this configuration.",
          "type": "string",
          "enum": [
            "CUSTOM_THREAT_SCENARIO_TYPE_UNSPECIFIED",
            "DATA_LEAKS",
            "DEEP_DARK_WEB",
            "DOMAIN_PROTECTION",
            "RANSOMWARE_THREATS",
            "INITIAL_ACCESS_BROKER",
            "NETBLOCKS_AND_DOMAIN_MENTIONS",
            "SUPPLY_CHAIN_COMPROMISE",
            "CARD_SHOPS",
            "CUSTOM_MONITOR"
          ],
          "enumDescriptions": [
            "Unspecified scenario type.",
            "Data Leaks.",
            "Deep & Dark Web.",
            "Domain Protection.",
            "Ransomware Threats.",
            "Initial Access Broker.",
            "Netblocks and Domain Mentions.",
            "Supply Chain Compromise.",
            "Card Shops.",
            "Custom Monitor (Non-templated legacy monitor)."
          ]
        },
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        }
      },
      "id": "CustomThreatScenarioConfig",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration."
    },
    "DiscoveryDocument": {
      "type": "object",
      "properties": {
        "communicationContext": {
          "description": "Optional. Detailed communication context metadata for documents originating from deep and dark web communication channels.",
          "$ref": "CommunicationContext"
        },
        "documentType": {
          "type": "string",
          "description": "Output only. The classification/type of the document (e.g. `COMMUNICATION`, `DDW_COMMUNICATION`, `message`).",
          "readOnly": true
        },
        "documentId": {
          "description": "Output only. The identifier of the discovery document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Replaces the raw string ID to hold associated metadata.",
      "id": "DiscoveryDocument"
    },
    "MarkAlertAsReadRequest": {
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsRead."
    },
    "MarkAlertAsResolvedRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsResolved.",
      "id": "MarkAlertAsResolvedRequest"
    },
    "DocumentQuery": {
      "id": "DocumentQuery",
      "description": "Represents a query to match documents.",
      "properties": {
        "queryType": {
          "type": "string",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "JSON",
            "STRING"
          ],
          "description": "Required. The type of query.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Structured JSON condition tree built via query builder.",
            "Raw search query string e.g., VTI search syntax."
          ]
        },
        "query": {
          "type": "string",
          "description": "Required. The query string."
        }
      },
      "type": "object"
    },
    "DomainMonitoringDomainDetails": {
      "description": "Details specific to a monitored domain.",
      "properties": {
        "domain": {
          "description": "Required. The domain name to match against.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DomainMonitoringDomainDetails"
    },
    "LegacyMetadata": {
      "description": "Legacy metadata associated with this scenario/monitor.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Output only. ID of the tenant owning the monitor.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the legacy monitor."
        },
        "staleTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the legacy monitor was considered stale."
        },
        "aggregationEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor."
        },
        "emailNotificationImmediate": {
          "readOnly": true,
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "deprecated": true,
          "type": "boolean"
        },
        "updaterUserId": {
          "description": "Output only. User ID who last updated the monitor.",
          "type": "string",
          "readOnly": true
        },
        "aggregationSimilarity": {
          "readOnly": true,
          "description": "Output only. Similarity threshold for aggregation.",
          "type": "number",
          "format": "double"
        },
        "version": {
          "description": "Output only. Version of the monitor configuration.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "creatorUserId": {
          "description": "Output only. User ID who created the monitor.",
          "readOnly": true,
          "type": "string"
        },
        "templateId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the template this monitor was created from."
        },
        "disabledCode": {
          "readOnly": true,
          "description": "Output only. Code indicating why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "disabledReason": {
          "type": "string",
          "description": "Output only. Reason why the monitor is disabled (if applicable).",
          "readOnly": true
        },
        "emailNotificationEnabled": {
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "deprecated": true,
          "type": "boolean",
          "readOnly": true
        },
        "conditionVersion": {
          "format": "int32",
          "description": "Output only. Version of the condition schema.",
          "type": "integer",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Name of the legacy monitor.",
          "readOnly": true
        },
        "legacyMonitorId": {
          "description": "Output only. Unique identifier of the legacy monitor.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "LegacyMetadata"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "type": "object",
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "properties": {}
    },
    "AVDetections": {
      "description": "Details about the detection vendors.",
      "properties": {
        "totalVendorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Total number of vendors."
        },
        "detectedVendorCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of vendors that detected the threat."
        }
      },
      "type": "object",
      "id": "AVDetections"
    },
    "DomainMonitoringDnsRecord": {
      "properties": {
        "asnHosting": {
          "type": "string",
          "description": "Optional. The ASN hosting the domain."
        },
        "ipRegionCode": {
          "description": "Optional. The region code associated with the resolved IP. Use ISO 3166-1 alpha-2 codes.",
          "type": "string"
        },
        "resolvedIp": {
          "type": "string",
          "description": "Optional. The resolved IP address."
        },
        "ttl": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The TTL of the DNS record."
        },
        "asnRegionCode": {
          "description": "Optional. The region code of the ASN. Use ISO 3166-1 alpha-2 codes.",
          "type": "string"
        },
        "recordData": {
          "type": "string",
          "description": "Optional. The value of the DNS record."
        },
        "type": {
          "description": "Optional. The type of the DNS record.",
          "type": "string"
        }
      },
      "id": "DomainMonitoringDnsRecord",
      "description": "The DNS record of the domain.",
      "type": "object"
    },
    "Facet": {
      "properties": {
        "facetType": {
          "type": "string",
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "facetCounts": {
          "description": "List of counts for the facet (if categorical).",
          "type": "array",
          "items": {
            "$ref": "FacetCount"
          }
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "id": "Facet"
    },
    "CustomerProfileLocation": {
      "description": "Location information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileLocation",
      "properties": {
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Required. The address of the location."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Evidence": {
      "id": "Evidence",
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object",
      "properties": {
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DomainMonitoringDnsDetails": {
      "type": "object",
      "id": "DomainMonitoringDnsDetails",
      "description": "The DNS details of the domain.",
      "properties": {
        "retrievalTime": {
          "format": "google-datetime",
          "description": "Optional. The time the DNS details were retrieved.",
          "type": "string"
        },
        "dnsRecords": {
          "description": "Optional. The DNS records of the domain.",
          "items": {
            "$ref": "DomainMonitoringDnsRecord"
          },
          "type": "array"
        }
      }
    },
    "CustomerProfileCitedString": {
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A string with citation ids.",
      "id": "CustomerProfileCitedString"
    },
    "VulnerabilityMatch": {
      "type": "object",
      "description": "Contains details about a vulnerability match.",
      "properties": {
        "publicExploits": {
          "items": {
            "$ref": "PublicExploit"
          },
          "description": "Optional. List of public exploits.",
          "type": "array"
        },
        "priority": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the vulnerability."
        },
        "disclosureTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "exploitationVectors": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ]
          },
          "description": "Optional. List of exploitation vectors for the vulnerability."
        },
        "cvss3Score": {
          "type": "number",
          "format": "float",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4."
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "matchedTechnologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\"."
        },
        "exploitationConsequences": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          },
          "description": "Optional. List of exploitation consequences for the vulnerability."
        },
        "riskRating": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Required. The risk rating of the vulnerability."
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array"
        },
        "productFixes": {
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          },
          "description": "Optional. List of product fixes for the vulnerability."
        },
        "exploitationState": {
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "cveId": {
          "type": "string",
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information."
        },
        "associations": {
          "items": {
            "$ref": "Association"
          },
          "type": "array",
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting."
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "type": "number",
          "format": "float"
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean"
        }
      },
      "id": "VulnerabilityMatch"
    },
    "PublicExploit": {
      "type": "object",
      "properties": {
        "exploitGrade": {
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the exploit."
        },
        "exploitReliability": {
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\"."
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the exploit."
        },
        "releaseTime": {
          "type": "string",
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime"
        }
      },
      "description": "Contains details about a public exploit.",
      "id": "PublicExploit"
    },
    "DomainMonitoringAlertDetail": {
      "description": "A detailed object for a Domain or URL alert.",
      "type": "object",
      "properties": {
        "relationships": {
          "description": "Optional. The relationships of the domain or URL.",
          "$ref": "Relationships"
        },
        "protectedDomain": {
          "description": "The protected domain that triggered the alert.",
          "$ref": "DomainMonitoringDomainDetails"
        },
        "registrationDetails": {
          "description": "Optional. Extracted WHOIS and DNS registration details.",
          "$ref": "DnsRegistrationDetails"
        },
        "domainDetails": {
          "description": "Details specific to a monitored domain.",
          "$ref": "DomainMonitoringDomainDetails"
        },
        "matchedDomain": {
          "type": "string",
          "description": "Optional. The matched domain."
        },
        "dnsDetails": {
          "$ref": "DomainMonitoringDnsDetails",
          "description": "Optional. The DNS details of the domain or URL."
        },
        "whoisDetails": {
          "description": "Optional. The whois details of the domain or URL.",
          "$ref": "DomainMonitoringWhoIsDetails"
        },
        "infrastructure": {
          "description": "Optional. The infrastructure of the domain or URL.",
          "$ref": "Infrastructure"
        },
        "threatAttributionDetails": {
          "$ref": "ThreatAttributionDetails",
          "description": "Optional. The threat attribution details of the domain or URL."
        },
        "protectedBrand": {
          "description": "The protected brand name that triggered the alert.",
          "type": "string"
        },
        "urlDetails": {
          "description": "Details specific to a monitored URL.",
          "$ref": "DomainMonitoringUrlDetails"
        },
        "gtiDetails": {
          "$ref": "DomainMonitoringGtiDetails",
          "description": "Optional. The GTI details of the domain or URL."
        }
      },
      "id": "DomainMonitoringAlertDetail"
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfilePerson",
      "type": "object"
    },
    "MarkAlertAsEscalatedRequest": {
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object",
      "id": "MarkAlertAsEscalatedRequest",
      "properties": {}
    },
    "CommunicationContext": {
      "id": "CommunicationContext",
      "description": "Detailed communication context metadata for documents originating from deep and dark web communication channels.",
      "properties": {
        "channelName": {
          "description": "Optional. Name of the communication channel.",
          "type": "string"
        },
        "threadId": {
          "description": "Optional. Conversation thread identifier.",
          "type": "string"
        },
        "channelPath": {
          "description": "Optional. Channel path (e.g. forum path or sub-channel).",
          "type": "string"
        },
        "serviceName": {
          "description": "Optional. Service from the collection event origin (e.g. forum or chat service name).",
          "type": "string"
        },
        "channelDescription": {
          "description": "Optional. Description of the communication channel.",
          "type": "string"
        },
        "channelUrl": {
          "type": "string",
          "description": "Optional. URL of the communication channel."
        }
      },
      "type": "object"
    },
    "ProductFix": {
      "type": "object",
      "id": "ProductFix",
      "description": "Contains details about a product fix.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "description": "Optional. The published time of the fix.",
          "format": "google-datetime"
        }
      }
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "type": "object",
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocuments": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DiscoveryDocument"
          },
          "description": "Output only. New structured metadata payload."
        },
        "discoveryDocumentIds": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `discovery_documents` instead. Array of ids to accommodate multiple discovery documents.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DomainMonitoringFindingDetail": {
      "description": "A detailed object for a Domain or URL finding.",
      "properties": {
        "protectedBrand": {
          "type": "string",
          "description": "The protected brand name that triggered the alert."
        },
        "matchedDomain": {
          "type": "string",
          "description": "Optional. The matched domain."
        },
        "urlDetails": {
          "$ref": "DomainMonitoringUrlDetails",
          "description": "Details specific to a monitored URL."
        },
        "gtiDetails": {
          "$ref": "DomainMonitoringGtiDetails",
          "description": "Optional. The GTI details of the domain or URL."
        },
        "domainDetails": {
          "$ref": "DomainMonitoringDomainDetails",
          "description": "Details specific to a monitored domain."
        },
        "infrastructure": {
          "$ref": "Infrastructure",
          "description": "Optional. The infrastructure of the domain or URL."
        },
        "relationships": {
          "description": "Optional. The relationships of the domain or URL.",
          "$ref": "Relationships"
        },
        "registrationDetails": {
          "description": "Optional. Extracted WHOIS and DNS registration details.",
          "$ref": "DnsRegistrationDetails"
        },
        "dnsDetails": {
          "$ref": "DomainMonitoringDnsDetails",
          "description": "Optional. The DNS details of the domain or URL."
        },
        "threatAttributionDetails": {
          "description": "Optional. The threat attribution details of the domain or URL.",
          "$ref": "ThreatAttributionDetails"
        },
        "whoisDetails": {
          "description": "Optional. The whois details of the domain or URL.",
          "$ref": "DomainMonitoringWhoIsDetails"
        },
        "protectedDomain": {
          "description": "The protected domain that triggered the alert.",
          "$ref": "DomainMonitoringDomainDetails"
        }
      },
      "id": "DomainMonitoringFindingDetail",
      "type": "object"
    },
    "DomainMonitoringConfig": {
      "type": "object",
      "description": "Any account-level configuration options will go here.",
      "id": "DomainMonitoringConfig",
      "properties": {
        "domains": {
          "description": "The domains to use as \"seeds\" for Suspicious Domain Monitoring.",
          "items": {
            "$ref": "DomainMonitoringDomain"
          },
          "type": "array"
        }
      }
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
        }
      },
      "description": "Security considerations for the customer profile.",
      "type": "object"
    },
    "DomainMonitoringUrlDetails": {
      "description": "Details specific to a monitored URL.",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. The URL to match against.",
          "type": "string"
        }
      },
      "id": "DomainMonitoringUrlDetails"
    },
    "CustomerProfileWebPresence": {
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the web presence.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CustomerProfileWebPresence",
      "description": "Web presence information for the customer profile."
    },
    "MarkAlertAsDuplicateRequest": {
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for MarkAlertAsDuplicate.",
      "id": "MarkAlertAsDuplicateRequest"
    },
    "Infrastructure": {
      "properties": {
        "certificateDetails": {
          "$ref": "CertificateDetails",
          "description": "Optional. SSL certificate details."
        },
        "urlResponse": {
          "description": "Optional. The raw URL response string.",
          "type": "string"
        }
      },
      "description": "Core infrastructure observations associated with the URL or Domain.",
      "id": "Infrastructure",
      "type": "object"
    },
    "TechnologyWatchListAlertThreshold": {
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "type": "object",
      "properties": {
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float",
          "type": "number"
        },
        "exploitationStates": {
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          },
          "description": "Optional. The exploitation states of the alert.",
          "type": "array"
        },
        "riskRatingMinimum": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Optional. The minimum risk rating for the alert.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "priorityMinimum": {
          "description": "Optional. The minimum priority for the alert.",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "epssScoreMinimum": {
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "type": "number"
        }
      }
    },
    "RelevanceAnalysis": {
      "description": "Structured relevance analysis for a threat.",
      "properties": {
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevanceLevel": {
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "description": "The level of relevance.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        }
      },
      "type": "object",
      "id": "RelevanceAnalysis"
    },
    "CustomerProfileConfig": {
      "type": "object",
      "id": "CustomerProfileConfig",
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "properties": {
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "type": "array"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "description": "Optional. The parent companies of the organization.",
          "type": "array"
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array"
        },
        "locations": {
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "org": {
[...]
