{
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "description": "threatintelligence.googleapis.com API.",
  "id": "threatintelligence:v1beta",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "version": "v1beta",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "revision": "20260614",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "threatintelligence",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "version_module": true,
  "ownerName": "Google",
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    }
  ],
  "canonicalName": "Threat Intelligence Service",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "id": "threatintelligence.projects.generateOrgProfile",
          "path": "v1beta/{+name}:generateOrgProfile",
          "description": "Triggers the generation of a Customer Profile for a project.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "description": "Get a configuration by name.",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.configurations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "upsert": {
              "id": "threatintelligence.projects.configurations.upsert",
              "path": "v1beta/{+parent}/configurations:upsert",
              "description": "Creates or updates a configuration.",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "request": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "httpMethod": "POST",
              "parameters": {
                "publishTime": {
                  "type": "string",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "format": "google-datetime"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the configuration.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "description": "Get a list of configurations that meet the filter criteria.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations"
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/configurations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An AIP-160 filter string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specify ordering of response",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Page Size",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "description": "List configuration revisions that meet the filter criteria.",
                  "path": "v1beta/{+parent}/revisions",
                  "id": "threatintelligence.projects.configurations.revisions.list"
                }
              }
            }
          }
        },
        "alerts": {
          "methods": {
            "enumerateFacets": {
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "id": "threatintelligence.projects.alerts.list",
              "path": "v1beta/{+parent}/alerts",
              "description": "Get a list of alerts that meet the filter criteria.",
              "response": {
                "$ref": "ListAlertsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "id": "threatintelligence.projects.alerts.get",
              "path": "v1beta/{+name}",
              "description": "Get an alert by name.",
              "response": {
                "$ref": "Alert"
              }
            },
            "benign": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "id": "threatintelligence.projects.alerts.benign",
              "path": "v1beta/{+name}:benign",
              "description": "Marks an alert as benign - BENIGN.",
              "response": {
                "$ref": "Alert"
              }
            },
            "duplicate": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:duplicate",
              "id": "threatintelligence.projects.alerts.duplicate",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate"
            },
            "falsePositive": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "id": "threatintelligence.projects.alerts.falsePositive",
              "path": "v1beta/{+name}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "response": {
                "$ref": "Alert"
              }
            },
            "triage": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as triaged - TRIAGED.",
              "path": "v1beta/{+name}:triage",
              "id": "threatintelligence.projects.alerts.triage",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "read": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as read - READ."
            },
            "resolve": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:resolve",
              "id": "threatintelligence.projects.alerts.resolve",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve"
            },
            "notActionable": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:notActionable",
              "id": "threatintelligence.projects.alerts.notActionable",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable"
            },
            "escalate": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as escalated - ESCALATED.",
              "path": "v1beta/{+name}:escalate",
              "id": "threatintelligence.projects.alerts.escalate"
            },
            "trackExternally": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:trackExternally",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally"
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "description": "Gets a specific document associated with an alert.",
                  "path": "v1beta/{+name}",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the findings.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "id": "threatintelligence.projects.findings.list",
              "path": "v1beta/{+parent}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "response": {
                "$ref": "ListFindingsResponse"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.findings.get",
              "response": {
                "$ref": "Finding"
              },
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "parameters": {
                "name": {
                  "description": "Required. Name of the finding to get.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/findings/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "search": {
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "id": "threatintelligence.projects.findings.search",
              "path": "v1beta/{+parent}/findings:search",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "query": {
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "title": "Threat Intelligence API",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "schemas": {
    "SearchFindingsResponse": {
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "SearchFindingsResponse",
      "type": "object",
      "description": "Response message for SearchFindings."
    },
    "ConfigurationRevision": {
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "properties": {
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        }
      },
      "id": "ConfigurationRevision",
      "type": "object"
    },
    "InitialAccessBrokerFindingDetail": {
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "InitialAccessBrokerFindingDetail",
      "type": "object"
    },
    "ConfigurationDetail": {
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "id": "ConfigurationDetail",
      "type": "object",
      "properties": {
        "detailType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        },
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        }
      }
    },
    "RelevanceAnalysis": {
      "properties": {
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        },
        "relevanceLevel": {
          "description": "The level of relevance.",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        }
      },
      "id": "RelevanceAnalysis",
      "type": "object",
      "description": "Structured relevance analysis for a threat."
    },
    "MarkAlertAsResolvedRequest": {
      "description": "Request message for MarkAlertAsResolved.",
      "id": "MarkAlertAsResolvedRequest",
      "type": "object",
      "properties": {}
    },
    "CustomerProfileCompany": {
      "description": "Company information for the customer profile.",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileCompany",
      "type": "object"
    },
    "CustomerProfileLocation": {
      "properties": {
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        }
      },
      "id": "CustomerProfileLocation",
      "type": "object",
      "description": "Location information for the customer profile."
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "id": "CustomerProfilePerson",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "type": "object",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        },
        "priorityLevel": {
          "description": "The level of Priority.",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      },
      "description": "Structured priority analysis for a threat."
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "id": "SeverityAnalysis",
      "type": "object",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "severityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "description": "The level of severity.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      }
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "type": "string",
          "readOnly": true
        },
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AlertDocumentTranslation",
      "type": "object"
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "properties": {},
      "id": "MarkAlertAsTriagedRequest",
      "type": "object"
    },
    "TechnologyWatchListAlertThreshold": {
      "properties": {
        "priorityMinimum": {
          "description": "Optional. The minimum priority for the alert.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "epssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float"
        },
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float",
          "type": "number"
        },
        "riskRatingMinimum": {
          "description": "Optional. The minimum risk rating for the alert.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "exploitationStates": {
          "type": "array",
          "items": {
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          },
          "description": "Optional. The exploitation states of the alert."
        }
      },
      "id": "TechnologyWatchListAlertThreshold",
      "type": "object",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting."
    },
    "VulnerabilityMatch": {
      "id": "VulnerabilityMatch",
      "type": "object",
      "properties": {
        "publicExploits": {
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          },
          "description": "Optional. List of public exploits."
        },
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether a publicly available exploit exists."
        },
        "exploitationVectors": {
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "type": "array",
          "items": {
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ]
          }
        },
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\"."
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "matchedTechnologies": {
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exploitationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "associations": {
          "items": {
            "$ref": "Association"
          },
          "type": "array",
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting."
        },
        "cvss3Score": {
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float"
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float",
          "type": "number"
        },
        "exploitationConsequences": {
          "items": {
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ]
          },
          "type": "array",
          "description": "Optional. List of exploitation consequences for the vulnerability."
        },
        "riskRating": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "disclosureTime": {
          "type": "string",
          "description": "Optional. The disclosure time of the vulnerability.",
          "format": "google-datetime"
        }
      },
      "description": "Contains details about a vulnerability match."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "TargetTechnologyAlertDetail": {
      "id": "TargetTechnologyAlertDetail",
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "description": "Contains details for a technology watchlist alert."
    },
    "Alert": {
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "id": "Alert",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "readOnly": true,
          "description": "Output only. State of the alert."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A short title for the alert."
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        },
        "externalId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates."
        },
        "detail": {
          "readOnly": true,
          "$ref": "AlertDetail",
          "description": "Output only. Details object for the alert, not all alerts will have a details object."
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "configurations": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}"
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "priorityAnalysis": {
          "$ref": "PriorityAnalysis",
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true
        },
        "findingCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64"
        },
        "audit": {
          "description": "Output only. Audit information for the alert.",
          "$ref": "Audit",
          "readOnly": true
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "duplicatedBy": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}"
        },
        "findings": {
          "description": "Output only. Findings that are covered by this alert.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        }
      }
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "properties": {
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "totalCount": {
          "type": "string",
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "facetCounts": {
          "type": "array",
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical)."
        }
      },
      "id": "Facet",
      "type": "object"
    },
    "AlertDetail": {
      "id": "AlertDetail",
      "type": "object",
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        }
      },
      "description": "Container for different types of alert details."
    },
    "MarkAlertAsReadRequest": {
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsRead."
    },
    "Audit": {
      "description": "Tracks basic CRUD facts.",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of creation.",
          "format": "google-datetime"
        },
        "updater": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        }
      },
      "id": "Audit",
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "description": "Response message for UpsertConfiguration.",
      "id": "UpsertConfigurationResponse",
      "type": "object",
      "properties": {
        "configuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created configuration ID with server assigned id."
        }
      }
    },
    "DataLeakFindingDetail": {
      "description": "A detail object for a Data Leak finding.",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "id": "DataLeakFindingDetail",
      "type": "object"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest",
      "type": "object"
    },
    "CustomerProfileConfig": {
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "id": "CustomerProfileConfig",
      "type": "object",
      "properties": {
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array"
        },
        "products": {
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "type": "array",
          "description": "Optional. Product information for the organization."
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "executives": {
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array",
          "description": "Optional. Executives of the organization."
        },
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array"
        },
        "citations": {
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array",
          "description": "Optional. Citations for the organization profile."
        },
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "type": "array"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "contactInfo": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "description": "Optional. Contact information for the organization."
        }
      }
    },
    "EnumerateAlertFacetsResponse": {
      "description": "Response message for EnumerateAlertFacets.",
      "id": "EnumerateAlertFacetsResponse",
      "type": "object",
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          },
          "type": "array"
        }
      }
    },
    "CustomerProfileCitedString": {
      "id": "CustomerProfileCitedString",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A string with citation ids."
    },
    "AlertDocument": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "format": "google-datetime"
        },
        "aiSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. AI summary of the document."
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the document, if available."
        },
        "translation": {
          "readOnly": true,
          "$ref": "AlertDocumentTranslation",
          "description": "Output only. The translation of the document, if available."
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "ingestTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when GTI received the intel.",
          "format": "google-datetime"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The author of the document."
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "sourceUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI of the intel item from the source."
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the document."
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "sourceUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime"
        }
      },
      "id": "AlertDocument",
      "type": "object",
      "description": "A document that is associated with an alert."
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "description": "Response message for ListFindings."
    },
    "Configuration": {
      "properties": {
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "description": "Optional. State of the configuration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human readable name for the configuration."
        }
      },
      "id": "Configuration",
      "type": "object",
      "description": "A configuration represents a behavior an engine should follow when producing new findings."
    },
    "MarkAlertAsBenignRequest": {
      "properties": {},
      "id": "MarkAlertAsBenignRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsBenign."
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "properties": {
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "configurations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Configuration names that are bound to this finding."
        },
        "severity": {
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float",
          "deprecated": true,
          "type": "number"
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        }
      },
      "id": "Finding",
      "type": "object"
    },
    "CustomerProfileProduct": {
      "properties": {
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the product."
        }
      },
      "id": "CustomerProfileProduct",
      "type": "object",
      "description": "Product information for the customer profile."
    },
    "CustomerProfileIndustry": {
      "description": "Industry information for the customer profile.",
      "id": "CustomerProfileIndustry",
      "type": "object",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListConfigurationsResponse": {
      "description": "Response message for ListConfigurations.",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListConfigurationsResponse",
      "type": "object"
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "id": "MarkAlertAsDuplicateRequest",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      }
    },
    "FacetCount": {
      "id": "FacetCount",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "description": "Count of records with the value.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "FacetCount represents a count of records with each facet value."
    },
    "CustomerProfileSummary": {
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "id": "CustomerProfileSummary",
      "type": "object",
      "properties": {
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "parentCompany": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The parent company of the customer."
        },
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        }
      }
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "properties": {
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerFindingDetail",
          "description": "Initial Access Broker finding detail type."
        },
        "detailType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        }
      },
      "id": "FindingDetail",
      "type": "object"
    },
    "CustomerProfileContactInfo": {
      "description": "Contact information for the customer profile.",
      "id": "CustomerProfileContactInfo",
      "type": "object",
      "properties": {
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information."
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        }
      }
    },
    "DataLeakAlertDetail": {
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "id": "DataLeakAlertDetail",
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "description": "Contains details for a technology watchlist finding.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyFindingDetail",
      "type": "object"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "description": "Request message for MarkAlertAsFalsePositive.",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest",
      "type": "object"
    },
    "ListConfigurationRevisionsResponse": {
      "description": "Response message for ListConfigurationRevisions.",
      "id": "ListConfigurationRevisionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "description": "The Configuration Revisions associated with the specified Configuration"
        }
      }
    },
    "CustomerProfileCitation": {
      "description": "Citation information for the customer profile.",
      "properties": {
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "format": "google-datetime",
          "type": "string"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCitation",
      "type": "object"
    },
    "Evidence": {
      "id": "Evidence",
      "type": "object",
      "properties": {
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "distinctThemes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant."
        }
      },
      "description": "Details the evidence used to determine the relevance verdict."
    },
    "TechnologyWatchListConfig": {
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "id": "TechnologyWatchListConfig",
      "type": "object",
      "properties": {
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        },
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
        }
      }
    },
    "MarkAlertAsEscalatedRequest": {
      "id": "MarkAlertAsEscalatedRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsEscalated."
    },
    "GenerateOrgProfileConfigurationRequest": {
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "id": "GenerateOrgProfileConfigurationRequest",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        },
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        }
      }
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "type": "object",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
        }
      },
      "description": "Security considerations for the customer profile."
    },
    "InsiderThreatFindingDetail": {
      "properties": {
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "id": "InsiderThreatFindingDetail",
      "type": "object",
      "description": "A detail object for a InsiderThreat finding."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "InitialAccessBrokerAlertDetail": {
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "id": "InitialAccessBrokerAlertDetail",
      "type": "object"
    },
    "Association": {
      "description": "Represents an association with a vulnerability.",
      "properties": {
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association.",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        }
      },
      "id": "Association",
      "type": "object"
    },
    "PublicExploit": {
      "properties": {
        "sizeBytes": {
          "description": "Optional. The size of the exploit.",
          "format": "int64",
          "type": "string"
        },
        "exploitGrade": {
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        },
        "exploitReliability": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "PublicExploit",
      "type": "object",
      "description": "Contains details about a public exploit."
    },
    "MarkAlertAsNotActionableRequest": {
      "description": "Request message for MarkAlertAsNotActionable.",
      "properties": {},
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object"
    },
    "InsiderThreatAlertDetail": {
      "properties": {
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "InsiderThreatAlertDetail",
      "type": "object",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "ProductFix": {
      "description": "Contains details about a product fix.",
      "id": "ProductFix",
      "type": "object",
      "properties": {
        "displayName": {
[...]
