{
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "name": "threatintelligence",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "batchPath": "batch",
  "description": "threatintelligence.googleapis.com API.",
  "revision": "20260726",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "threatintelligence:v1beta",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "path": "v1beta/{+name}:generateOrgProfile",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Triggers the generation of a Customer Profile for a project.",
          "id": "threatintelligence.projects.generateOrgProfile",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "pattern": "^projects/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          }
        }
      },
      "resources": {
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List configuration revisions that meet the filter criteria.",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Specify ordering of response",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token provided by the API"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Page Size",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/revisions"
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a configuration by name.",
              "id": "threatintelligence.projects.configurations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            },
            "list": {
              "path": "v1beta/{+parent}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                },
                "parent": {
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of configurations that meet the filter criteria."
            },
            "upsert": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates or updates a configuration.",
              "id": "threatintelligence.projects.configurations.upsert",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the configuration.",
                  "pattern": "^projects/[^/]+$"
                },
                "publishTime": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "format": "google-datetime"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "httpMethod": "POST",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "path": "v1beta/{+parent}/configurations:upsert"
            }
          }
        },
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a specific document associated with an alert.",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "path": "v1beta/{+name}:resolve",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "id": "threatintelligence.projects.alerts.resolve",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert to closed state - RESOLVED."
            },
            "benign": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as benign - BENIGN.",
              "id": "threatintelligence.projects.alerts.benign",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:benign"
            },
            "duplicate": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.duplicate",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "path": "v1beta/{+name}:duplicate"
            },
            "enumerateFacets": {
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "httpMethod": "GET",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "triage": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as triaged - TRIAGED.",
              "id": "threatintelligence.projects.alerts.triage",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "path": "v1beta/{+name}:triage"
            },
            "escalate": {
              "id": "threatintelligence.projects.alerts.escalate",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as escalated - ESCALATED.",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "path": "v1beta/{+name}:escalate"
            },
            "notActionable": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "id": "threatintelligence.projects.alerts.notActionable",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "path": "v1beta/{+name}:notActionable"
            },
            "get": {
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get an alert by name.",
              "id": "threatintelligence.projects.alerts.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getPassword": {
              "id": "threatintelligence.projects.alerts.getPassword",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get the decrypted password of an alert.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "GET",
              "path": "v1beta/{+name}:getPassword"
            },
            "trackExternally": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "path": "v1beta/{+name}:trackExternally"
            },
            "falsePositive": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "id": "threatintelligence.projects.alerts.falsePositive",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "path": "v1beta/{+name}:falsePositive"
            },
            "read": {
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "id": "threatintelligence.projects.alerts.read",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as read - READ.",
              "path": "v1beta/{+name}:read"
            },
            "list": {
              "path": "v1beta/{+parent}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of alerts that meet the filter criteria.",
              "id": "threatintelligence.projects.alerts.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "pattern": "^projects/[^/]+$"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token to retrieve the next page of results."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts"
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/findings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "id": "threatintelligence.projects.findings.list",
              "parameters": {
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the findings.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/findings"
            },
            "search": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "id": "threatintelligence.projects.findings.search",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "query": {
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "parent": {
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "path": "v1beta/{+parent}/findings:search"
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "response": {
                "$ref": "Finding"
              },
              "httpMethod": "GET",
              "id": "threatintelligence.projects.findings.get",
              "parameters": {
                "name": {
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "path": "v1beta/{+name}"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "Threat Intelligence Service",
  "basePath": "",
  "title": "Threat Intelligence API",
  "schemas": {
    "RelevanceAnalysis": {
      "description": "Structured relevance analysis for a threat.",
      "id": "RelevanceAnalysis",
      "type": "object",
      "properties": {
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevanceLevel": {
          "description": "The level of relevance.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ]
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        }
      }
    },
    "MarkAlertAsBenignRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsBenign.",
      "id": "MarkAlertAsBenignRequest"
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "type": "object",
      "properties": {
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "type": "object",
      "properties": {
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        },
        "configurations": {
          "type": "array",
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          }
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "array",
          "readOnly": true
        },
        "severity": {
          "deprecated": true,
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "type": "object",
      "properties": {}
    },
    "AlertDocumentTranslation": {
      "type": "object",
      "properties": {
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "type": "string",
          "readOnly": true
        },
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AlertDocumentTranslation",
      "description": "The translation of an alert document."
    },
    "CustomerProfileContactInfo": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        }
      },
      "description": "Contact information for the customer profile.",
      "id": "CustomerProfileContactInfo"
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "description": "Company information for the customer profile.",
      "type": "object",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally."
    },
    "CustomerProfileLocation": {
      "description": "Location information for the customer profile.",
      "id": "CustomerProfileLocation",
      "type": "object",
      "properties": {
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          }
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object",
      "properties": {}
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileSecurityConsiderations",
      "description": "Security considerations for the customer profile."
    },
    "MarkAlertAsDuplicateRequest": {
      "id": "MarkAlertAsDuplicateRequest",
      "description": "Request message for MarkAlertAsDuplicate.",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      }
    },
    "PublicExploit": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "exploitReliability": {
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\"."
        },
        "sizeBytes": {
          "type": "string",
          "description": "Optional. The size of the exploit.",
          "format": "int64"
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime",
          "type": "string"
        },
        "exploitGrade": {
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ]
        }
      },
      "id": "PublicExploit",
      "description": "Contains details about a public exploit."
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration.",
      "type": "object",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ConfigurationRevision": {
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object",
      "properties": {
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime"
        }
      }
    },
    "InitialAccessBrokerFindingDetail": {
      "type": "object",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "id": "InitialAccessBrokerFindingDetail",
      "description": "A detail object for an Initial Access Broker (IAB) finding."
    },
    "FacetCount": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "type": "integer",
          "description": "Count of records with the value.",
          "format": "int32"
        }
      },
      "description": "FacetCount represents a count of records with each facet value.",
      "id": "FacetCount"
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "properties": {
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat."
        }
      },
      "id": "DataLeakFindingDetail",
      "description": "A detail object for a Data Leak finding."
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "id": "FindingDetail",
      "type": "object",
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        }
      }
    },
    "AlertDetail": {
      "type": "object",
      "properties": {
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        }
      },
      "id": "AlertDetail",
      "description": "Container for different types of alert details."
    },
    "PriorityAnalysis": {
      "type": "object",
      "properties": {
        "priorityLevel": {
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "description": "The level of Priority."
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        }
      },
      "id": "PriorityAnalysis",
      "description": "Structured priority analysis for a threat."
    },
    "CustomerProfileIndustry": {
      "type": "object",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile."
    },
    "TechnologyWatchListConfig": {
      "type": "object",
      "properties": {
        "technologies": {
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        }
      },
      "id": "TechnologyWatchListConfig",
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist."
    },
    "CustomerProfileConfig": {
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "id": "CustomerProfileConfig",
      "type": "object",
      "properties": {
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array"
        },
        "products": {
          "type": "array",
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "type": "array"
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array"
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array"
        },
        "locations": {
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array"
        }
      }
    },
    "Audit": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime"
        },
        "updater": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of creation.",
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Audit",
      "description": "Tracks basic CRUD facts."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "EnumerateAlertFacetsResponse": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          }
        }
      },
      "id": "EnumerateAlertFacetsResponse",
      "description": "Response message for EnumerateAlertFacets."
    },
    "InitialAccessBrokerAlertDetail": {
      "type": "object",
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "id": "InitialAccessBrokerAlertDetail",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert."
    },
    "Alert": {
      "type": "object",
      "properties": {
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "findings": {
          "description": "Output only. Findings that are covered by this alert.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "findingCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64"
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis for the alert."
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "type": "string",
          "readOnly": true
        },
        "priorityAnalysis": {
          "$ref": "PriorityAnalysis",
          "readOnly": true,
          "description": "Output only. High-Precision Priority Analysis for the alert."
        },
        "externalId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates."
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "description": "Output only. State of the alert."
        },
        "duplicateOf": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}"
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "detail": {
          "readOnly": true,
          "$ref": "AlertDetail",
          "description": "Output only. Details object for the alert, not all alerts will have a details object."
        },
        "audit": {
          "description": "Output only. Audit information for the alert.",
          "$ref": "Audit",
          "readOnly": true
        },
        "configurations": {
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "Alert",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "AlertDocument": {
      "type": "object",
      "properties": {
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "type": "string",
          "readOnly": true
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The author of the document."
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true,
          "$ref": "AlertDocumentTranslation"
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "type": "string",
          "readOnly": true
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "ingestTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when GTI received the intel.",
          "format": "google-datetime"
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the document."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "format": "google-datetime"
        }
      },
      "description": "A document that is associated with an alert.",
      "id": "AlertDocument"
    },
    "VulnerabilityMatch": {
      "type": "object",
      "properties": {
        "riskRating": {
          "description": "Required. The risk rating of the vulnerability.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "publicExploits": {
          "type": "array",
          "description": "Optional. List of public exploits.",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "matchedTechnologies": {
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "disclosureTime": {
          "description": "Optional. The disclosure time of the vulnerability.",
          "format": "google-datetime",
          "type": "string"
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exploitationState": {
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float",
          "type": "number"
        },
        "exploitationVectors": {
          "type": "array",
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          }
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          },
          "type": "array"
        },
        "productFixes": {
          "type": "array",
          "description": "Optional. List of product fixes for the vulnerability.",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "exploitationConsequences": {
          "type": "array",
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          }
        },
        "cvss3Score": {
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float"
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "VulnerabilityMatch",
      "description": "Contains details about a vulnerability match."
    },
    "SearchFindingsResponse": {
      "id": "SearchFindingsResponse",
      "description": "Response message for SearchFindings.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "DataLeakAlertDetail": {
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Captures the specific details of Data Leak alert.",
      "id": "DataLeakAlertDetail"
    },
    "TechnologyWatchListAlertThreshold": {
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "id": "TechnologyWatchListAlertThreshold",
      "type": "object",
      "properties": {
        "priorityMinimum": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The minimum priority for the alert.",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float",
          "type": "number"
        },
        "epssScoreMinimum": {
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float",
          "type": "number"
        },
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ]
          },
          "type": "array"
        },
        "riskRatingMinimum": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Optional. The minimum risk rating for the alert.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        }
      }
    },
    "ListConfigurationsResponse": {
      "description": "Response message for ListConfigurations.",
      "id": "ListConfigurationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "configurations": {
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "MarkAlertAsTriagedRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsTriaged.",
      "id": "MarkAlertAsTriagedRequest"
    },
    "Facet": {
      "type": "object",
      "properties": {
        "facetCounts": {
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          },
          "type": "array"
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "totalCount": {
          "type": "string",
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64"
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        }
      },
      "id": "Facet",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI."
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "id": "MarkAlertAsReadRequest",
      "type": "object",
      "properties": {}
    },
    "ConfigurationDetail": {
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "type": "object",
      "properties": {
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        },
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        },
        "detailType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        }
      }
    },
    "ProductFix": {
      "id": "ProductFix",
      "description": "Contains details about a product fix.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "description": "Optional. The published time of the fix.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        }
      }
    },
    "CustomerProfilePerson": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfilePerson",
      "description": "Person information for the customer profile."
    },
    "ListFindingsResponse": {
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListFindingsResponse",
      "description": "Response message for ListFindings."
    },
    "MarkAlertAsEscalatedRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated."
    },
    "Evidence": {
      "type": "object",
      "properties": {
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "distinctThemes": {
          "type": "array",
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Details the evidence used to determine the relevance verdict.",
      "id": "Evidence"
    },
    "Configuration": {
      "type": "object",
      "properties": {
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration."
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ]
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        }
      },
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "id": "Configuration"
    },
    "TargetTechnologyAlertDetail": {
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "description": "Contains details for a technology watchlist alert.",
      "id": "TargetTechnologyAlertDetail"
    },
    "ListAlertsResponse": {
      "type": "object",
      "properties": {
        "alerts": {
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "description": "Response message for ListAlerts.",
      "id": "ListAlertsResponse"
    },
    "CustomerProfileWebPresence": {
      "description": "Web presence information for the customer profile.",
      "id": "CustomerProfileWebPresence",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the web presence.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "id": "InsiderThreatAlertDetail",
      "type": "object",
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      }
    },
    "CustomerProfileProduct": {
      "type": "object",
      "properties": {
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Product information for the customer profile.",
      "id": "CustomerProfileProduct"
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "properties": {
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCitedString",
      "description": "A string with citation ids."
    },
    "InsiderThreatFindingDetail": {
      "type": "object",
      "properties": {
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      },
      "description": "A detail object for a InsiderThreat finding.",
      "id": "InsiderThreatFindingDetail"
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "id": "SeverityAnalysis",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "severityLevel": {
          "description": "The level of severity.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        }
      }
    },
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      }
    },
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "retrievalTime": {
          "type": "string",
          "description": "The time the citation was retrieved.",
          "format": "google-datetime"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        }
      }
    },
[...]
