{
  "ownerName": "Google",
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Threat Intelligence Service",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Triggers the generation of a Customer Profile for a project.",
          "path": "v1beta/{+name}:generateOrgProfile",
          "id": "threatintelligence.projects.generateOrgProfile",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "description": "Get a configuration by name.",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.configurations.get",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "upsert": {
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "request": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates or updates a configuration.",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "id": "threatintelligence.projects.configurations.upsert",
              "path": "v1beta/{+parent}/configurations:upsert",
              "parameters": {
                "publishTime": {
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the configuration.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of configurations that meet the filter criteria.",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "id": "threatintelligence.projects.configurations.list",
              "path": "v1beta/{+parent}/configurations",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List configuration revisions that meet the filter criteria.",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "path": "v1beta/{+parent}/revisions",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Page Size",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specify ordering of response",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "alerts": {
          "methods": {
            "enumerateFacets": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Get an alert by name.",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.alerts.get"
            },
            "benign": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as benign - BENIGN.",
              "path": "v1beta/{+name}:benign",
              "id": "threatintelligence.projects.alerts.benign"
            },
            "duplicate": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "path": "v1beta/{+name}:duplicate",
              "id": "threatintelligence.projects.alerts.duplicate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              }
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of alerts that meet the filter criteria.",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "id": "threatintelligence.projects.alerts.list",
              "path": "v1beta/{+parent}/alerts",
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "triage": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "path": "v1beta/{+name}:triage",
              "id": "threatintelligence.projects.alerts.triage",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as triaged - TRIAGED."
            },
            "read": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as read - READ.",
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read"
            },
            "falsePositive": {
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "path": "v1beta/{+name}:falsePositive",
              "id": "threatintelligence.projects.alerts.falsePositive",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "trackExternally": {
              "path": "v1beta/{+name}:trackExternally",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "resolve": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "path": "v1beta/{+name}:resolve",
              "id": "threatintelligence.projects.alerts.resolve"
            },
            "notActionable": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "path": "v1beta/{+name}:notActionable",
              "id": "threatintelligence.projects.alerts.notActionable"
            },
            "escalate": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "path": "v1beta/{+name}:escalate",
              "id": "threatintelligence.projects.alerts.escalate",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as escalated - ESCALATED."
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "description": "Gets a specific document associated with an alert.",
                  "path": "v1beta/{+name}",
                  "id": "threatintelligence.projects.alerts.documents.get"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "search": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path",
                  "type": "string"
                },
                "query": {
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "id": "threatintelligence.projects.findings.search",
              "path": "v1beta/{+parent}/findings:search"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "description": "Required. Name of the finding to get.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Finding"
              },
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.findings.get",
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "threatintelligence.projects.findings.list",
              "path": "v1beta/{+parent}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the findings.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "servicePath": "",
  "batchPath": "batch",
  "title": "Threat Intelligence API",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "schemas": {
    "Finding": {
      "properties": {
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "array"
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding."
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit",
          "readOnly": true
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding."
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "severity": {
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float",
          "deprecated": true,
          "type": "number"
        }
      },
      "id": "Finding",
      "type": "object",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest."
    },
    "CustomerProfileProduct": {
      "properties": {
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the product."
        }
      },
      "id": "CustomerProfileProduct",
      "type": "object",
      "description": "Product information for the customer profile."
    },
    "CustomerProfileIndustry": {
      "description": "Industry information for the customer profile.",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the industry."
        }
      },
      "id": "CustomerProfileIndustry",
      "type": "object"
    },
    "ListConfigurationsResponse": {
      "id": "ListConfigurationsResponse",
      "type": "object",
      "properties": {
        "configurations": {
          "items": {
            "$ref": "Configuration"
          },
          "type": "array",
          "description": "List of configurations."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "description": "Response message for ListConfigurations."
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "id": "MarkAlertAsDuplicateRequest",
      "type": "object"
    },
    "FacetCount": {
      "description": "FacetCount represents a count of records with each facet value.",
      "properties": {
        "count": {
          "description": "Count of records with the value.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      },
      "id": "FacetCount",
      "type": "object"
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "type": "object",
      "properties": {
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "brands": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of brands."
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "parentCompany": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The parent company of the customer."
        },
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        }
      },
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "FindingDetail": {
      "properties": {
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerFindingDetail",
          "description": "Initial Access Broker finding detail type."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyFindingDetail",
          "description": "Technology Watchlist finding detail type."
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        }
      },
      "id": "FindingDetail",
      "type": "object",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes."
    },
    "CustomerProfileContactInfo": {
      "properties": {
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        }
      },
      "id": "CustomerProfileContactInfo",
      "type": "object",
      "description": "Contact information for the customer profile."
    },
    "DataLeakAlertDetail": {
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "id": "DataLeakAlertDetail",
      "type": "object",
      "description": "Captures the specific details of Data Leak alert."
    },
    "TargetTechnologyFindingDetail": {
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "id": "TargetTechnologyFindingDetail",
      "type": "object",
      "description": "Contains details for a technology watchlist finding."
    },
    "MarkAlertAsFalsePositiveRequest": {
      "description": "Request message for MarkAlertAsFalsePositive.",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest",
      "type": "object"
    },
    "CustomerProfileCitation": {
      "description": "Citation information for the customer profile.",
      "properties": {
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "type": "string",
          "description": "The time the citation was retrieved.",
          "format": "google-datetime"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCitation",
      "type": "object"
    },
    "ListConfigurationRevisionsResponse": {
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConfigurationRevisionsResponse",
      "type": "object",
      "description": "Response message for ListConfigurationRevisions."
    },
    "TechnologyWatchListConfig": {
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "id": "TechnologyWatchListConfig",
      "type": "object",
      "properties": {
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
        }
      }
    },
    "Evidence": {
      "description": "Details the evidence used to determine the relevance verdict.",
      "properties": {
        "commonThemes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict."
        },
        "distinctThemes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant."
        }
      },
      "id": "Evidence",
      "type": "object"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "id": "GenerateOrgProfileConfigurationRequest",
      "type": "object"
    },
    "MarkAlertAsEscalatedRequest": {
      "description": "Request message for MarkAlertAsEscalated.",
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest",
      "type": "object"
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "type": "object",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Security considerations for the customer profile."
    },
    "InsiderThreatFindingDetail": {
      "properties": {
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "severity": {
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "id": "InsiderThreatFindingDetail",
      "type": "object",
      "description": "A detail object for a InsiderThreat finding."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "InitialAccessBrokerAlertDetail": {
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "InitialAccessBrokerAlertDetail",
      "type": "object"
    },
    "PublicExploit": {
      "description": "Contains details about a public exploit.",
      "id": "PublicExploit",
      "type": "object",
      "properties": {
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "exploitGrade": {
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "sizeBytes": {
          "type": "string",
          "description": "Optional. The size of the exploit.",
          "format": "int64"
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime",
          "type": "string"
        },
        "exploitReliability": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object",
      "properties": {}
    },
    "Association": {
      "description": "Represents an association with a vulnerability.",
      "properties": {
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the association.",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ]
        }
      },
      "id": "Association",
      "type": "object"
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "id": "InsiderThreatAlertDetail",
      "type": "object"
    },
    "ProductFix": {
      "description": "Contains details about a product fix.",
      "properties": {
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "description": "Optional. The published time of the fix.",
          "format": "google-datetime"
        }
      },
      "id": "ProductFix",
      "type": "object"
    },
    "ListAlertsResponse": {
      "properties": {
        "alerts": {
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListAlertsResponse",
      "type": "object",
      "description": "Response message for ListAlerts."
    },
    "CustomerProfileWebPresence": {
      "description": "Web presence information for the customer profile.",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the web presence.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileWebPresence",
      "type": "object"
    },
    "ConfigurationRevision": {
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "properties": {
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        }
      },
      "id": "ConfigurationRevision",
      "type": "object"
    },
    "InitialAccessBrokerFindingDetail": {
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "id": "InitialAccessBrokerFindingDetail",
      "type": "object"
    },
    "SearchFindingsResponse": {
      "description": "Response message for SearchFindings.",
      "id": "SearchFindingsResponse",
      "type": "object",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "ConfigurationDetail": {
      "id": "ConfigurationDetail",
      "type": "object",
      "properties": {
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        }
      },
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes."
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "type": "object",
      "properties": {
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        },
        "relevanceLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "description": "The level of relevance.",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      },
      "description": "Structured relevance analysis for a threat."
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsResolved."
    },
    "CustomerProfileCompany": {
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCompany",
      "type": "object",
      "description": "Company information for the customer profile."
    },
    "CustomerProfileLocation": {
      "description": "Location information for the customer profile.",
      "id": "CustomerProfileLocation",
      "type": "object",
      "properties": {
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the location."
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        }
      }
    },
    "CustomerProfilePerson": {
      "properties": {
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the person."
        },
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        }
      },
      "id": "CustomerProfilePerson",
      "type": "object",
      "description": "Person information for the customer profile."
    },
    "PriorityAnalysis": {
      "description": "Structured priority analysis for a threat.",
      "properties": {
        "priorityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "description": "The level of Priority.",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ]
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        }
      },
      "id": "PriorityAnalysis",
      "type": "object"
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "properties": {
        "severityLevel": {
          "description": "The level of severity.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ]
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        }
      },
      "id": "SeverityAnalysis",
      "type": "object"
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "id": "MarkAlertAsTriagedRequest",
      "type": "object",
      "properties": {}
    },
    "AlertDocumentTranslation": {
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "type": "string",
          "readOnly": true
        },
        "translatedContent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated content of the document."
        }
      },
      "id": "AlertDocumentTranslation",
      "type": "object",
      "description": "The translation of an alert document."
    },
    "TechnologyWatchListAlertThreshold": {
      "id": "TechnologyWatchListAlertThreshold",
      "type": "object",
      "properties": {
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float",
          "type": "number"
        },
        "riskRatingMinimum": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Optional. The minimum risk rating for the alert.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "priorityMinimum": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The minimum priority for the alert.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "epssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float"
        },
        "exploitationStates": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ]
          },
          "type": "array",
          "description": "Optional. The exploitation states of the alert."
        }
      },
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting."
    },
    "VulnerabilityMatch": {
      "description": "Contains details about a vulnerability match.",
      "properties": {
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean",
          "readOnly": true
        },
        "publicExploits": {
          "description": "Optional. List of public exploits.",
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "priority": {
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\"."
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "exploitationVectors": {
          "items": {
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ]
          },
          "type": "array",
          "description": "Optional. List of exploitation vectors for the vulnerability."
        },
        "exploitationState": {
          "description": "Required. The exploitation state of the vulnerability.",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ]
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          },
          "type": "array"
        },
        "matchedTechnologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\"."
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "riskRating": {
          "description": "Required. The risk rating of the vulnerability.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "disclosureTime": {
          "type": "string",
          "description": "Optional. The disclosure time of the vulnerability.",
          "format": "google-datetime"
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float",
          "type": "number"
        },
        "exploitationConsequences": {
          "items": {
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ]
          },
          "type": "array",
          "description": "Optional. List of exploitation consequences for the vulnerability."
        },
        "cvss3Score": {
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "VulnerabilityMatch",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "TargetTechnologyAlertDetail": {
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyAlertDetail",
      "type": "object"
    },
    "Alert": {
      "id": "Alert",
      "type": "object",
      "properties": {
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true
        },
        "configurations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}"
        },
        "detail": {
          "$ref": "AlertDetail",
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the alert.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short title for the alert."
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string",
          "readOnly": true
        },
        "findings": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Findings that are covered by this alert."
        },
        "duplicatedBy": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "priorityAnalysis": {
          "readOnly": true,
          "$ref": "PriorityAnalysis",
          "description": "Output only. High-Precision Priority Analysis for the alert."
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert.",
          "readOnly": true
        }
      },
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "Facet": {
      "id": "Facet",
      "type": "object",
      "properties": {
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64",
          "type": "string"
        },
        "facetCounts": {
          "type": "array",
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical)."
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      },
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI."
    },
    "AlertDetail": {
      "description": "Container for different types of alert details.",
      "id": "AlertDetail",
      "type": "object",
      "properties": {
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerAlertDetail",
          "description": "Initial Access Broker alert detail type."
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        }
      }
    },
    "MarkAlertAsReadRequest": {
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsRead."
    },
    "Audit": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of creation.",
          "format": "google-datetime"
        },
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Audit",
      "type": "object",
      "description": "Tracks basic CRUD facts."
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "type": "object",
      "properties": {
        "configuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created configuration ID with server assigned id."
        }
      },
      "description": "Response message for UpsertConfiguration."
    },
    "DataLeakFindingDetail": {
      "id": "DataLeakFindingDetail",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "severity": {
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      },
      "description": "A detail object for a Data Leak finding."
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "id": "MarkAlertAsTrackedExternallyRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsTrackedExternally."
    },
    "CustomerProfileConfig": {
      "properties": {
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "locations": {
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in."
        },
        "products": {
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "type": "array",
          "description": "Optional. Product information for the organization."
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "webPresences": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "description": "Optional. Web presence of the organization."
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array",
          "description": "Optional. The parent companies of the organization."
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array"
        },
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        }
      },
      "id": "CustomerProfileConfig",
      "type": "object",
      "description": "CustomerProfileConfig is the configuration for the customer profile."
    },
    "CustomerProfileCitedString": {
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCitedString",
      "type": "object",
      "description": "A string with citation ids."
    },
    "AlertDocument": {
      "description": "A document that is associated with an alert.",
      "properties": {
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of the original external publication of the document.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "readOnly": true,
          "type": "string"
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "ingestTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when GTI received the intel.",
          "format": "google-datetime"
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The author of the document."
        },
        "content": {
          "description": "Output only. The content of the document.",
          "type": "string",
          "readOnly": true
        },
        "sourceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the intel item from the source."
        }
      },
      "id": "AlertDocument",
      "type": "object"
    },
    "EnumerateAlertFacetsResponse": {
      "properties": {
        "facets": {
          "items": {
            "$ref": "Facet"
          },
          "type": "array",
          "description": "List of facets and the counts."
        }
      },
      "id": "EnumerateAlertFacetsResponse",
      "type": "object",
      "description": "Response message for EnumerateAlertFacets."
    },
    "Configuration": {
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "properties": {
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration."
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Optional. State of the configuration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ]
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        }
      },
      "id": "Configuration",
      "type": "object"
    },
    "MarkAlertAsBenignRequest": {
[...]
