{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "protocol": "rest",
  "revision": "20260823",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Threat Intelligence Service",
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Threat Intelligence API",
  "description": "threatintelligence.googleapis.com API.",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "name": "threatintelligence",
  "batchPath": "batch",
  "schemas": {
    "ListConfigurationRevisionsResponse": {
      "type": "object",
      "id": "ListConfigurationRevisionsResponse",
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListConfigurationRevisions."
    },
    "ProductFix": {
      "type": "object",
      "id": "ProductFix",
      "properties": {
        "publishTime": {
          "description": "Optional. The published time of the fix.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        }
      },
      "description": "Contains details about a product fix."
    },
    "CustomerProfileProduct": {
      "description": "Product information for the customer profile.",
      "properties": {
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CustomerProfileProduct"
    },
    "Configuration": {
      "id": "Configuration",
      "properties": {
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "audit": {
          "$ref": "Audit",
          "readOnly": true,
          "description": "Output only. Audit information for the configuration."
        },
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "state": {
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A configuration represents a behavior an engine should follow when producing new findings."
    },
    "DataLeakAlertDetail": {
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "id": "DataLeakAlertDetail",
      "type": "object"
    },
    "FacetCount": {
      "type": "object",
      "id": "FacetCount",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Count of records with the value."
        }
      },
      "description": "FacetCount represents a count of records with each facet value."
    },
    "LegacyMetadata": {
      "id": "LegacyMetadata",
      "description": "Legacy metadata associated with this scenario/monitor.",
      "type": "object",
      "properties": {
        "legacyMonitorId": {
          "description": "Optional. Unique identifier of the legacy monitor.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Name of the legacy monitor.",
          "type": "string"
        },
        "aggregationSimilarity": {
          "description": "Optional. Similarity threshold for aggregation.",
          "type": "number",
          "format": "double"
        },
        "conditionVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Version of the condition schema."
        },
        "updaterUserId": {
          "description": "Optional. User ID who last updated the monitor.",
          "type": "string"
        },
        "aggregationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether aggregation is enabled for alerts from this monitor."
        },
        "staleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time the legacy monitor was considered stale."
        },
        "emailNotificationImmediate": {
          "description": "Optional. Whether email notifications are intermediate/immediate.",
          "type": "boolean"
        },
        "disabledReason": {
          "description": "Optional. Reason why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "emailNotificationEnabled": {
          "description": "Optional. Whether email notifications are enabled.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "Optional. ID of the tenant owning the monitor.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "Optional. Version of the monitor configuration.",
          "type": "integer"
        },
        "creatorUserId": {
          "description": "Optional. User ID who created the monitor.",
          "type": "string"
        },
        "disabledCode": {
          "description": "Optional. Code indicating why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the legacy monitor."
        },
        "templateId": {
          "type": "string",
          "description": "Optional. ID of the template this monitor was created from."
        }
      }
    },
    "CustomerProfileWebPresence": {
      "type": "object",
      "description": "Web presence information for the customer profile.",
      "id": "CustomerProfileWebPresence",
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the web presence."
        },
        "domain": {
          "type": "string",
          "description": "Required. The domain name of the web presence."
        }
      }
    },
    "DataLeakFindingDetail": {
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      },
      "id": "DataLeakFindingDetail",
      "type": "object",
      "description": "A detail object for a Data Leak finding."
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "description": "Response message for ListAlerts.",
      "properties": {
        "alerts": {
          "type": "array",
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "type": "object"
    },
    "GetPasswordResponse": {
      "description": "Response message for GetPassword.",
      "properties": {
        "password": {
          "type": "string",
          "description": "The decrypted cleartext password for the compromised credential."
        }
      },
      "id": "GetPasswordResponse",
      "type": "object"
    },
    "Facet": {
      "type": "object",
      "id": "Facet",
      "properties": {
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "facetCounts": {
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical).",
          "type": "array"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI."
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        },
        "considerations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
        }
      },
      "description": "Security considerations for the customer profile.",
      "id": "CustomerProfileSecurityConsiderations"
    },
    "MarkAlertAsNotActionableRequest": {
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object",
      "properties": {}
    },
    "GenerateOrgProfileConfigurationRequest": {
      "properties": {
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        },
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "id": "GenerateOrgProfileConfigurationRequest",
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "id": "TargetTechnologyAlertDetail",
      "type": "object"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsTrackedExternally."
    },
    "ConfigurationDetail": {
      "id": "ConfigurationDetail",
      "type": "object",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "properties": {
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        },
        "domainConfiguration": {
          "description": "Domain Configuration detail config.",
          "$ref": "DomainConfiguration"
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        },
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        }
      }
    },
    "DocumentQuery": {
      "type": "object",
      "properties": {
        "dataModel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ],
          "description": "Required. The data model to query against."
        },
        "query": {
          "type": "string",
          "description": "Required. The query string."
        },
        "queryType": {
          "type": "string",
          "description": "Required. The type of query.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ]
        }
      },
      "description": "Represents a query to match documents.",
      "id": "DocumentQuery"
    },
    "TechnologyWatchListAlertThreshold": {
      "properties": {
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float",
          "type": "number"
        },
        "riskRatingMinimum": {
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Optional. The minimum risk rating for the alert.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "type": "string"
        },
        "priorityMinimum": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "description": "Optional. The minimum priority for the alert."
        },
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          }
        },
        "epssScoreMinimum": {
          "type": "number",
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0]."
        }
      },
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "type": "object"
    },
    "ConfigurationRevision": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the Revision was created"
        }
      },
      "type": "object",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "id": "ConfigurationRevision"
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "id": "SeverityAnalysis",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "type": "string",
          "description": "The level of severity.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string",
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        }
      },
      "type": "object"
    },
    "FindingDetail": {
      "id": "FindingDetail",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "type": "object",
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        }
      }
    },
    "InitialAccessBrokerAlertDetail": {
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "InitialAccessBrokerAlertDetail",
      "type": "object"
    },
    "MarkAlertAsEscalatedRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsEscalated.",
      "id": "MarkAlertAsEscalatedRequest"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "type": "object",
      "description": "Structured relevance analysis for a threat.",
      "properties": {
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "relevanceLevel": {
          "description": "The level of relevance.",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "type": "string"
        },
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        }
      }
    },
    "CustomThreatScenarioConfig": {
      "properties": {
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "description": "Optional. Legacy metadata associated with this scenario/monitor."
        },
        "documentQuery": {
          "description": "Optional. The query used to match documents.",
          "$ref": "DocumentQuery"
        },
        "compiledLuceneQuery": {
          "readOnly": true,
          "description": "Output only. The compiled Lucene query string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "id": "CustomThreatScenarioConfig"
    },
    "PriorityAnalysis": {
      "description": "Structured priority analysis for a threat.",
      "id": "PriorityAnalysis",
      "properties": {
        "priorityLevel": {
          "description": "The level of Priority.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ]
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority."
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnumerateAlertFacetsResponse": {
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "type": "array",
          "items": {
            "$ref": "Facet"
          }
        }
      },
      "type": "object",
      "description": "Response message for EnumerateAlertFacets.",
      "id": "EnumerateAlertFacetsResponse"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "properties": {}
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomerProfileLocation": {
      "properties": {
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        }
      },
      "description": "Location information for the customer profile.",
      "id": "CustomerProfileLocation",
      "type": "object"
    },
    "CustomerProfileSummary": {
      "properties": {
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The parent company of the customer."
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of brands."
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "id": "CustomerProfileSummary",
      "type": "object",
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "AlertDocument": {
      "id": "AlertDocument",
      "properties": {
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Output only. The content of the document.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp of the original external publication of the document.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The author of the document."
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "type": "string",
          "readOnly": true
        },
        "aiSummary": {
          "type": "string",
          "description": "Output only. AI summary of the document.",
          "readOnly": true
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true,
          "$ref": "AlertDocumentTranslation"
        },
        "ingestTime": {
          "description": "Output only. Time when GTI received the intel.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the intel was last updated by the source.",
          "type": "string"
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "type": "string",
          "readOnly": true
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A document that is associated with an alert.",
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "type": "object",
      "description": "Contains details for a technology watchlist finding.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyFindingDetail"
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the string."
        }
      },
      "description": "A string with citation ids.",
      "id": "CustomerProfileCitedString"
    },
    "AlertDocumentTranslation": {
      "properties": {
        "translatedContent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated content of the document."
        },
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AlertDocumentTranslation",
      "type": "object",
      "description": "The translation of an alert document."
    },
    "Association": {
      "description": "Represents an association with a vulnerability.",
      "properties": {
        "type": {
          "description": "Required. The type of the association.",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The ID of the association."
        }
      },
      "type": "object",
      "id": "Association"
    },
    "TechnologyWatchListConfig": {
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "properties": {
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        },
        "technologies": {
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TechnologyWatchListConfig",
      "type": "object"
    },
    "PublicExploit": {
      "type": "object",
      "properties": {
        "exploitReliability": {
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\"."
        },
        "exploitName": {
          "type": "string",
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\"."
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Optional. The size of the exploit.",
          "type": "string"
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "type": "string",
          "format": "google-datetime"
        },
        "exploitGrade": {
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "type": "string",
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        }
      },
      "id": "PublicExploit",
      "description": "Contains details about a public exploit."
    },
    "Audit": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of creation."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of creation or last update."
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        },
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Audit",
      "description": "Tracks basic CRUD facts.",
      "type": "object"
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "id": "InsiderThreatAlertDetail",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        }
      },
      "type": "object"
    },
    "CustomerProfileCompany": {
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CustomerProfileCompany",
      "description": "Company information for the customer profile."
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for MarkAlertAsResolved."
    },
    "AlertDetail": {
      "type": "object",
      "id": "AlertDetail",
      "properties": {
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        }
      },
      "description": "Container for different types of alert details."
    },
    "CustomerProfilePerson": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfilePerson",
      "description": "Person information for the customer profile.",
      "type": "object"
    },
    "CustomerProfileContactInfo": {
      "description": "Contact information for the customer profile.",
      "properties": {
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the contact information."
        },
        "other": {
          "type": "string",
          "description": "The other contact information."
        }
      },
      "type": "object",
      "id": "CustomerProfileContactInfo"
    },
    "Finding": {
      "properties": {
        "audit": {
          "$ref": "Audit",
          "readOnly": true,
          "description": "Output only. Audit data about the finding."
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "items": {
            "format": "google-datetime",
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis"
        },
        "severity": {
          "type": "number",
          "format": "float",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "deprecated": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding."
        },
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        }
      },
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "id": "Finding",
      "type": "object"
    },
    "InsiderThreatFindingDetail": {
      "type": "object",
      "description": "A detail object for a InsiderThreat finding.",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat."
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "InsiderThreatFindingDetail"
    },
    "VulnerabilityMatch": {
      "description": "Contains details about a vulnerability match.",
      "properties": {
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "items": {
            "$ref": "ProductFix"
          },
          "type": "array"
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "disclosureTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "exploitationVectors": {
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ]
          },
          "type": "array"
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "exploitationState": {
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "type": "string",
          "description": "Required. The exploitation state of the vulnerability.",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ]
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "riskRating": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string",
          "description": "Required. The risk rating of the vulnerability."
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "type": "string"
          }
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "epssScore": {
          "type": "number",
          "format": "float",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87."
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean"
        },
        "matchedTechnologies": {
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cvss3Score": {
          "format": "float",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "type": "number"
        },
        "associations": {
          "type": "array",
          "items": {
            "$ref": "Association"
          },
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting."
        },
        "publicExploits": {
          "items": {
            "$ref": "PublicExploit"
          },
          "type": "array",
          "description": "Optional. List of public exploits."
        }
      },
      "id": "VulnerabilityMatch",
      "type": "object"
    },
    "CustomerProfileIndustry": {
      "properties": {
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the industry."
        },
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        }
      },
      "id": "CustomerProfileIndustry",
      "type": "object",
      "description": "Industry information for the customer profile."
    },
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "type": "string",
          "description": "The time the citation was retrieved.",
          "format": "google-datetime"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        }
      },
      "description": "Citation information for the customer profile."
    },
    "SearchFindingsResponse": {
      "type": "object",
      "description": "Response message for SearchFindings.",
      "properties": {
        "findings": {
          "type": "array",
          "items": {
            "$ref": "Finding"
          },
          "description": "List of findings."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "id": "SearchFindingsResponse"
    },
    "DomainMonitoringFeatureConfig": {
      "description": "Specific configuration for the Domain Monitoring feature.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain."
        }
      },
      "id": "DomainMonitoringFeatureConfig",
      "type": "object"
    },
    "MarkAlertAsBenignRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for MarkAlertAsBenign.",
      "id": "MarkAlertAsBenignRequest"
    },
    "CustomerProfileConfig": {
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "id": "CustomerProfileConfig",
      "type": "object",
      "properties": {
        "parentCompanies": {
          "type": "array",
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          }
        },
        "citations": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "description": "Optional. Citations for the organization profile."
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "securityConsiderations": {
          "$ref": "CustomerProfileSecurityConsiderations",
          "description": "Optional. Security considerations for the organization."
        },
        "contactInfo": {
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array",
          "description": "Optional. Contact information for the organization."
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array"
        },
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "type": "array",
          "description": "Optional. The industries the organization is involved in."
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "description": "Optional. Locations the organization is present or conducts business in."
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        }
      }
    },
    "ListFindingsResponse": {
      "type": "object",
      "id": "ListFindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        }
      },
      "description": "Response message for ListFindings."
    },
    "DomainConfiguration": {
      "id": "DomainConfiguration",
      "properties": {
        "domainSettings": {
          "description": "Optional. A list of settings for individual domains.",
          "items": {
            "$ref": "DomainSetting"
          },
          "type": "array"
        }
      },
      "description": "Configuration holding settings for one or more monitored domains.",
      "type": "object"
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "properties": {
        "duplicateOf": {
          "type": "string",
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}"
        }
      },
      "id": "MarkAlertAsDuplicateRequest",
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for UpsertConfiguration.",
      "id": "UpsertConfigurationResponse"
    },
    "ListConfigurationsResponse": {
      "type": "object",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListConfigurationsResponse",
      "description": "Response message for ListConfigurations."
    },
    "Evidence": {
      "type": "object",
      "description": "Details the evidence used to determine the relevance verdict.",
      "id": "Evidence",
      "properties": {
        "commonThemes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict."
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "id": "MarkAlertAsTriagedRequest",
      "type": "object",
      "properties": {}
    },
    "InitialAccessBrokerFindingDetail": {
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "properties": {
        "severity": {
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      },
      "type": "object",
      "id": "InitialAccessBrokerFindingDetail"
    },
    "DomainSetting": {
      "description": "Feature settings and toggles for a single specific domain.",
      "properties": {
        "domainMonitoringConfig": {
          "$ref": "DomainMonitoringFeatureConfig",
          "description": "Optional. If not present, Domain Monitoring is enabled."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "type": "string",
          "description": "Output only. The verification state of the domain."
        },
        "domain": {
          "type": "string",
          "description": "Required. The domain name to match against."
        }
      },
      "type": "object",
      "id": "DomainSetting"
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsReadRequest"
    },
    "Alert": {
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "properties": {
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true,
          "$ref": "PriorityAnalysis"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the alert.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ]
        },
        "findings": {
          "description": "Output only. Findings that are covered by this alert.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A short title for the alert."
        },
        "detail": {
          "$ref": "AlertDetail",
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "readOnly": true
        },
        "configurations": {
          "readOnly": true,
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "findingCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of findings associated with this alert."
        }
      },
      "id": "Alert"
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "id": "threatintelligence:v1beta",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Specify ordering of response",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Page Size"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token provided by the API",
                      "type": "string"
                    }
                  },
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "httpMethod": "GET",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/revisions",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/configurations",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Page size.",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of configurations that meet the filter criteria."
            },
            "get": {
              "response": {
                "$ref": "Configuration"
              },
              "id": "threatintelligence.projects.configurations.get",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "description": "Get a configuration by name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$"
                }
              }
            },
            "upsert": {
              "id": "threatintelligence.projects.configurations.upsert",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates or updates a configuration.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration."
                },
                "publishTime": {
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "request": {
                "$ref": "Configuration"
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert"
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. Parent of the findings.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "id": "threatintelligence.projects.findings.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/findings",
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}"
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "response": {
                "$ref": "Finding"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.findings.get"
            },
            "search": {
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "query": {
                  "location": "query",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.search",
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/findings:search"
            }
          }
        },
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "description": "Gets a specific document associated with an alert."
                }
              }
            }
          },
          "methods": {
            "read": {
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "description": "Marks an alert as read - READ.",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getPassword": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.getPassword",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "path": "v1beta/{+name}:getPassword",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "description": "Get the decrypted password of an alert.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of alerts that meet the filter criteria.",
              "id": "threatintelligence.projects.alerts.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "path": "v1beta/{+parent}/alerts",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "enumerateFacets": {
              "httpMethod": "GET",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "description": "Get an alert by name.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.get",
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "benign": {
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Marks an alert as benign - BENIGN.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "parameters": {
[...]
