{
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "basePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260924",
  "id": "threatintelligence:v1beta",
  "version": "v1beta",
  "canonicalName": "Threat Intelligence Service",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    }
  },
  "name": "threatintelligence",
  "version_module": true,
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "description": "threatintelligence.googleapis.com API.",
  "batchPath": "batch",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "methods": {
            "triage": {
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "id": "threatintelligence.projects.alerts.triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "path": "v1beta/{+name}:triage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}"
                }
              }
            },
            "escalate": {
              "description": "Marks an alert as escalated - ESCALATED.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:escalate",
              "id": "threatintelligence.projects.alerts.escalate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "duplicate": {
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.duplicate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "path": "v1beta/{+name}:duplicate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST"
            },
            "get": {
              "id": "threatintelligence.projects.alerts.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "description": "Get an alert by name."
            },
            "enumerateFacets": {
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Parent of the alerts.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.list",
              "path": "v1beta/{+parent}/alerts",
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Get a list of alerts that meet the filter criteria.",
              "httpMethod": "GET"
            },
            "notActionable": {
              "path": "v1beta/{+name}:notActionable",
              "id": "threatintelligence.projects.alerts.notActionable",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "response": {
                "$ref": "Alert"
              }
            },
            "falsePositive": {
              "httpMethod": "POST",
              "path": "v1beta/{+name}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "read": {
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.read",
              "path": "v1beta/{+name}:read",
              "description": "Marks an alert as read - READ."
            },
            "trackExternally": {
              "id": "threatintelligence.projects.alerts.trackExternally",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              }
            },
            "getPassword": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "description": "Get the decrypted password of an alert.",
              "path": "v1beta/{+name}:getPassword",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "id": "threatintelligence.projects.alerts.getPassword",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "resolve": {
              "id": "threatintelligence.projects.alerts.resolve",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              }
            },
            "benign": {
              "description": "Marks an alert as benign - BENIGN.",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "path": "v1beta/{+name}:benign",
              "id": "threatintelligence.projects.alerts.benign",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a specific document associated with an alert.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent of the findings.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/findings",
              "id": "threatintelligence.projects.findings.list",
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListFindingsResponse"
              }
            },
            "search": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                },
                "query": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.findings.search",
              "path": "v1beta/{+parent}/findings:search"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Finding"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the finding to get.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.get",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`"
            }
          }
        },
        "configurations": {
          "methods": {
            "upsert": {
              "id": "threatintelligence.projects.configurations.upsert",
              "path": "v1beta/{+parent}/configurations:upsert",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates or updates a configuration.",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "request": {
                "$ref": "Configuration"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration.",
                  "location": "path"
                },
                "publishTime": {
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Get a configuration by name.",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.configurations.get",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Configuration"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "description": "Get a list of configurations that meet the filter criteria.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter criteria."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size."
                }
              },
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Page Size",
                      "type": "integer"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Specify ordering of response",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token provided by the API"
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "type": "string"
                    }
                  },
                  "description": "List configuration revisions that meet the filter criteria.",
                  "path": "v1beta/{+parent}/revisions"
                }
              }
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}"
            }
          },
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}:generateOrgProfile",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "description": "Triggers the generation of a Customer Profile for a project.",
          "id": "threatintelligence.projects.generateOrgProfile"
        }
      }
    }
  },
  "schemas": {
    "TechnologyWatchListConfig": {
      "id": "TechnologyWatchListConfig",
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "type": "object",
      "properties": {
        "technologies": {
          "type": "array",
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "items": {
            "type": "string"
          }
        },
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        }
      }
    },
    "CustomerProfileCitedString": {
      "properties": {
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        }
      },
      "description": "A string with citation ids.",
      "type": "object",
      "id": "CustomerProfileCitedString"
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Company information for the customer profile."
    },
    "Evidence": {
      "id": "Evidence",
      "description": "Details the evidence used to determine the relevance verdict.",
      "properties": {
        "commonThemes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict."
        },
        "distinctThemes": {
          "type": "array",
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "type": "string",
          "description": "Optional. Deprecated: Use `discovery_document` instead. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "deprecated": true
        },
        "severity": {
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "discoveryDocument": {
          "description": "Optional. The discovery document associated with the Insider Threat finding.",
          "$ref": "DiscoveryDocument"
        }
      },
      "description": "A detail object for a InsiderThreat finding.",
      "type": "object"
    },
    "LegacyMetadata": {
      "type": "object",
      "description": "Legacy metadata associated with this scenario/monitor.",
      "properties": {
        "emailNotificationImmediate": {
          "deprecated": true,
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "readOnly": true,
          "type": "boolean"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Version of the monitor configuration.",
          "format": "int32",
          "type": "integer"
        },
        "conditionVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Version of the condition schema.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Name of the legacy monitor.",
          "readOnly": true
        },
        "disabledCode": {
          "description": "Output only. Code indicating why the monitor is disabled (if applicable).",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the legacy monitor."
        },
        "aggregationSimilarity": {
          "description": "Output only. Similarity threshold for aggregation.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "emailNotificationEnabled": {
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "deprecated": true,
          "readOnly": true,
          "type": "boolean"
        },
        "staleTime": {
          "description": "Output only. Time the legacy monitor was considered stale.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "aggregationEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor."
        },
        "creatorUserId": {
          "readOnly": true,
          "description": "Output only. User ID who created the monitor.",
          "type": "string"
        },
        "tenantId": {
          "readOnly": true,
          "description": "Output only. ID of the tenant owning the monitor.",
          "type": "string"
        },
        "legacyMonitorId": {
          "type": "string",
          "description": "Output only. Unique identifier of the legacy monitor.",
          "readOnly": true
        },
        "templateId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the template this monitor was created from."
        },
        "disabledReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reason why the monitor is disabled (if applicable)."
        },
        "updaterUserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User ID who last updated the monitor."
        }
      },
      "id": "LegacyMetadata"
    },
    "DiscoveryDocument": {
      "description": "Replaces the raw string ID to hold associated metadata.",
      "properties": {
        "communicationContext": {
          "$ref": "CommunicationContext",
          "description": "Optional. Detailed communication context metadata for documents originating from deep and dark web communication channels."
        },
        "documentType": {
          "readOnly": true,
          "description": "Output only. The classification/type of the document (e.g. `COMMUNICATION`, `DDW_COMMUNICATION`, `message`).",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Output only. The identifier of the discovery document.",
          "readOnly": true
        }
      },
      "id": "DiscoveryDocument",
      "type": "object"
    },
    "TechnologyWatchListAlertThreshold": {
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "properties": {
        "exploitationStates": {
          "items": {
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The exploitation states of the alert."
        },
        "cvssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float"
        },
        "riskRatingMinimum": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Optional. The minimum risk rating for the alert."
        },
        "priorityMinimum": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The minimum priority for the alert.",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string"
        },
        "epssScoreMinimum": {
          "type": "number",
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0]."
        }
      },
      "type": "object"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "properties": {},
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "description": "Response message for UpsertConfiguration.",
      "id": "UpsertConfigurationResponse",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CustomThreatScenarioConfig": {
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "id": "CustomThreatScenarioConfig",
      "properties": {
        "legacyMonitorMetadata": {
          "description": "Output only. Legacy metadata associated with this scenario/monitor.",
          "readOnly": true,
          "$ref": "LegacyMetadata"
        },
        "scenarioType": {
          "enumDescriptions": [
            "Unspecified scenario type.",
            "Data Leaks.",
            "Deep & Dark Web.",
            "Domain Protection.",
            "Ransomware Threats.",
            "Initial Access Broker.",
            "Netblocks and Domain Mentions.",
            "Supply Chain Compromise.",
            "Card Shops.",
            "Custom Monitor (Non-templated legacy monitor)."
          ],
          "type": "string",
          "description": "Optional. The custom threat scenario type used to create this configuration.",
          "enum": [
            "CUSTOM_THREAT_SCENARIO_TYPE_UNSPECIFIED",
            "DATA_LEAKS",
            "DEEP_DARK_WEB",
            "DOMAIN_PROTECTION",
            "RANSOMWARE_THREATS",
            "INITIAL_ACCESS_BROKER",
            "NETBLOCKS_AND_DOMAIN_MENTIONS",
            "SUPPLY_CHAIN_COMPROMISE",
            "CARD_SHOPS",
            "CUSTOM_MONITOR"
          ]
        },
        "documentQuery": {
          "$ref": "DocumentQuery",
          "description": "Optional. The query used to match documents."
        },
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        },
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "properties": {
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        }
      },
      "type": "object"
    },
    "ListFindingsResponse": {
      "type": "object",
      "description": "Response message for ListFindings.",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "description": "List of findings.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "id": "ListFindingsResponse"
    },
    "InsiderThreatAlertDetail": {
      "properties": {
        "discoveryDocumentIds": {
          "deprecated": true,
          "type": "array",
          "description": "Optional. Deprecated: Use `discovery_documents` instead. Array of ids to accommodate multiple discovery documents.",
          "items": {
            "type": "string"
          }
        },
        "discoveryDocuments": {
          "description": "Output only. New structured metadata payload.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiscoveryDocument"
          }
        },
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "DomainMonitoringConfig": {
      "type": "object",
      "description": "Any account-level configuration options will go here.",
      "properties": {
        "domains": {
          "type": "array",
          "description": "The domains to use as \"seeds\" for Suspicious Domain Monitoring.",
          "items": {
            "$ref": "DomainMonitoringDomain"
          }
        }
      },
      "id": "DomainMonitoringConfig"
    },
    "DomainMonitoringGtiDetails": {
      "description": "The GTI details of the domain.",
      "type": "object",
      "id": "DomainMonitoringGtiDetails",
      "properties": {
        "verdict": {
          "enumDescriptions": [
            "Default value. The verdict is not set or unspecified.",
            "Verdict is clean; the entity is considered harmless.",
            "Verdict is undetected; no immediate evidence of malicious intent.",
            "Verdict is suspicious; possible malicious activity detected.",
            "Verdict is malicious; high confidence that the entity poses a threat.",
            "Verdict is not applicable; not able to generate a verdict for this entity."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DOMAIN_MONITORING_GTI_VERDICT_UNSPECIFIED",
            "DOMAIN_MONITORING_GTI_VERDICT_BENIGN",
            "DOMAIN_MONITORING_GTI_VERDICT_UNDETECTED",
            "DOMAIN_MONITORING_GTI_VERDICT_SUSPICIOUS",
            "DOMAIN_MONITORING_GTI_VERDICT_MALICIOUS",
            "DOMAIN_MONITORING_GTI_VERDICT_UNKNOWN"
          ],
          "description": "Output only. The verdict of the domain."
        },
        "threatClassification": {
          "description": "Optional. The threat classification of the domain, obtained from the domain report (e.g. DomainMonitoring).",
          "type": "string"
        },
        "gtiScore": {
          "description": "Optional. The GTI score of the domain. The threat score is a number between 0 and 100.",
          "format": "int32",
          "type": "integer"
        },
        "gtiDomainUri": {
          "description": "Optional. The GTI link for the domain.",
          "type": "string"
        },
        "avDetections": {
          "description": "Optional. Detection counts across vendor feeds.",
          "$ref": "AVDetections"
        },
        "domainPermutation": {
          "description": "Optional. The permutation technique used for the domain (e.g., dictionary, homoglyph).",
          "type": "string"
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "properties": {},
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object",
      "id": "MarkAlertAsNotActionableRequest"
    },
    "DomainConfiguration": {
      "description": "Configuration holding settings for one or more monitored domains.",
      "id": "DomainConfiguration",
      "type": "object",
      "properties": {
        "domainSettings": {
          "items": {
            "$ref": "DomainSetting"
          },
          "type": "array",
          "description": "Optional. A list of settings for individual domains."
        }
      }
    },
    "CustomerProfileCitation": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the citation was retrieved."
        }
      },
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile."
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "description": "Security considerations for the customer profile.",
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        },
        "considerations": {
          "type": "array",
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AVDetections": {
      "properties": {
        "totalVendorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Total number of vendors."
        },
        "detectedVendorCount": {
          "description": "Optional. Number of vendors that detected the threat.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Details about the detection vendors.",
      "type": "object",
      "id": "AVDetections"
    },
    "DomainMonitoringAlertDetail": {
      "properties": {
        "protectedBrand": {
          "description": "The protected brand name that triggered the alert.",
          "type": "string"
        },
        "relationships": {
          "description": "Optional. The relationships of the domain or URL.",
          "$ref": "Relationships"
        },
        "infrastructure": {
          "description": "Optional. The infrastructure of the domain or URL.",
          "$ref": "Infrastructure"
        },
        "matchedDomain": {
          "type": "string",
          "description": "Optional. The matched domain."
        },
        "threatAttributionDetails": {
          "$ref": "ThreatAttributionDetails",
          "description": "Optional. The threat attribution details of the domain or URL."
        },
        "gtiDetails": {
          "description": "Optional. The GTI details of the domain or URL.",
          "$ref": "DomainMonitoringGtiDetails"
        },
        "urlDetails": {
          "description": "Details specific to a monitored URL.",
          "$ref": "DomainMonitoringUrlDetails"
        },
        "protectedDomain": {
          "description": "The protected domain that triggered the alert.",
          "$ref": "DomainMonitoringDomainDetails"
        },
        "registrationDetails": {
          "$ref": "DnsRegistrationDetails",
          "description": "Optional. Extracted WHOIS and DNS registration details."
        },
        "dnsDetails": {
          "description": "Optional. The DNS details of the domain or URL.",
          "$ref": "DomainMonitoringDnsDetails"
        },
        "whoisDetails": {
          "$ref": "DomainMonitoringWhoIsDetails",
          "description": "Optional. The whois details of the domain or URL."
        },
        "domainDetails": {
          "description": "Details specific to a monitored domain.",
          "$ref": "DomainMonitoringDomainDetails"
        }
      },
      "description": "A detailed object for a Domain or URL alert.",
      "id": "DomainMonitoringAlertDetail",
      "type": "object"
    },
    "MarkAlertAsEscalatedRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsEscalated.",
      "id": "MarkAlertAsEscalatedRequest"
    },
    "CustomerProfileConfig": {
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object",
      "properties": {
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "description": "Optional. The industries the organization is involved in.",
          "type": "array"
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "contactInfo": {
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "description": "Optional. Contact information for the organization.",
          "type": "array"
        },
        "citations": {
          "type": "array",
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          }
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "securityConsiderations": {
          "$ref": "CustomerProfileSecurityConsiderations",
          "description": "Optional. Security considerations for the organization."
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array",
          "description": "Optional. The parent companies of the organization."
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "technologies": {
          "type": "array",
          "description": "Optional. Technologies associated with the organization.",
          "items": {
            "$ref": "CustomerProfileTechnology"
          }
        },
        "locations": {
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "executives": {
          "type": "array",
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "webPresences": {
          "type": "array",
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "products": {
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "type": "array",
          "description": "Optional. Product information for the organization."
        }
      },
      "id": "CustomerProfileConfig"
    },
    "CustomerProfileIndustry": {
      "description": "Industry information for the customer profile.",
      "id": "CustomerProfileIndustry",
      "properties": {
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "Audit": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updater": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time of creation.",
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        }
      },
      "description": "Tracks basic CRUD facts.",
      "id": "Audit"
    },
    "CustomerProfileTechnology": {
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the technology.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "technology": {
          "type": "string",
          "description": "Required. The name of the technology."
        }
      },
      "type": "object",
      "id": "CustomerProfileTechnology",
      "description": "Technology information for the customer profile."
    },
    "MarkAlertAsTriagedRequest": {
      "id": "MarkAlertAsTriagedRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsTriaged."
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive."
    },
    "FacetCount": {
      "type": "object",
      "description": "FacetCount represents a count of records with each facet value.",
      "id": "FacetCount",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "format": "int32",
          "description": "Count of records with the value.",
          "type": "integer"
        }
      }
    },
    "DomainMonitoringDnsRecord": {
      "description": "The DNS record of the domain.",
      "id": "DomainMonitoringDnsRecord",
      "type": "object",
      "properties": {
        "ipRegionCode": {
          "type": "string",
          "description": "Optional. The region code associated with the resolved IP. Use ISO 3166-1 alpha-2 codes."
        },
        "type": {
          "description": "Optional. The type of the DNS record.",
          "type": "string"
        },
        "ttl": {
          "description": "Optional. The TTL of the DNS record.",
          "type": "integer",
          "format": "int32"
        },
        "asnHosting": {
          "type": "string",
          "description": "Optional. The ASN hosting the domain."
        },
        "resolvedIp": {
          "description": "Optional. The resolved IP address.",
          "type": "string"
        },
        "asnRegionCode": {
          "type": "string",
          "description": "Optional. The region code of the ASN. Use ISO 3166-1 alpha-2 codes."
        },
        "recordData": {
          "description": "Optional. The value of the DNS record.",
          "type": "string"
        }
      }
    },
    "AlertDocumentTranslation": {
      "properties": {
        "translatedTitle": {
          "type": "string",
          "description": "Output only. The translated title of the document.",
          "readOnly": true
        },
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The translation of an alert document.",
      "id": "AlertDocumentTranslation"
    },
    "InitialAccessBrokerFindingDetail": {
      "properties": {
        "discoveryDocument": {
          "description": "Optional. The discovery document associated with the IAB finding.",
          "$ref": "DiscoveryDocument"
        },
        "documentId": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `discovery_document` instead. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "matchScore": {
          "format": "float",
          "type": "number",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        }
      },
      "type": "object",
      "id": "InitialAccessBrokerFindingDetail",
      "description": "A detail object for an Initial Access Broker (IAB) finding."
    },
    "CommunicationContext": {
      "properties": {
        "channelUrl": {
          "type": "string",
          "description": "Optional. URL of the communication channel."
        },
        "channelPath": {
          "type": "string",
          "description": "Optional. Channel path (e.g. forum path or sub-channel)."
        },
        "channelDescription": {
          "type": "string",
          "description": "Optional. Description of the communication channel."
        },
        "serviceName": {
          "type": "string",
          "description": "Optional. Service from the collection event origin (e.g. forum or chat service name)."
        },
        "channelName": {
          "type": "string",
          "description": "Optional. Name of the communication channel."
        },
        "threadId": {
          "type": "string",
          "description": "Optional. Conversation thread identifier."
        }
      },
      "id": "CommunicationContext",
      "description": "Detailed communication context metadata for documents originating from deep and dark web communication channels.",
      "type": "object"
    },
    "ThreatAttributionDetails": {
      "type": "object",
      "properties": {
        "malware": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The malware associated with the threat.",
          "type": "array"
        },
        "collections": {
          "description": "Optional. The threat collections detected.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actors": {
          "description": "Optional. The threat actors associated with the target.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ThreatAttributionDetails",
      "description": "Threat attribution information (actor, campaign, etc.)."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "type": "object",
      "properties": {
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "type": "string",
          "description": "The level of severity.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict."
        }
      },
      "id": "SeverityAnalysis"
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "id": "DataLeakFindingDetail",
      "properties": {
        "discoveryDocument": {
          "$ref": "DiscoveryDocument",
          "description": "Optional. The discovery document associated with the Data Leak finding."
        },
        "documentId": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `discovery_document` instead. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A detail object for a Data Leak finding."
    },
    "VulnerabilityMatch": {
      "properties": {
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean",
          "readOnly": true
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "cvss3Score": {
          "type": "number",
          "format": "float",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4."
        },
        "matchedTechnologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\"."
        },
        "disclosureTime": {
          "description": "Optional. The disclosure time of the vulnerability.",
          "type": "string",
          "format": "google-datetime"
        },
        "associations": {
          "items": {
            "$ref": "Association"
          },
          "type": "array",
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting."
        },
        "exploitationVectors": {
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          },
          "type": "array"
        },
        "publicExploits": {
          "items": {
            "$ref": "PublicExploit"
          },
          "type": "array",
          "description": "Optional. List of public exploits."
        },
        "technologies": {
          "type": "array",
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          }
        },
        "exploitationState": {
          "description": "Required. The exploitation state of the vulnerability.",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "type": "string"
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          }
        },
        "priority": {
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "riskRating": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "epssScore": {
          "type": "number",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float"
        }
      },
      "description": "Contains details about a vulnerability match.",
      "type": "object",
      "id": "VulnerabilityMatch"
    },
    "ListConfigurationsResponse": {
      "description": "Response message for ListConfigurations.",
      "id": "ListConfigurationsResponse",
      "type": "object",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "TargetTechnologyAlertDetail": {
      "type": "object",
      "id": "TargetTechnologyAlertDetail",
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      }
    },
    "Infrastructure": {
      "id": "Infrastructure",
      "properties": {
        "urlResponse": {
          "description": "Optional. The raw URL response string.",
          "type": "string"
        },
        "certificateDetails": {
          "$ref": "CertificateDetails",
          "description": "Optional. SSL certificate details."
        }
      },
      "description": "Core infrastructure observations associated with the URL or Domain.",
      "type": "object"
    },
    "ListAlertsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "description": "List of alerts.",
          "type": "array"
        }
      },
      "description": "Response message for ListAlerts.",
      "type": "object",
      "id": "ListAlertsResponse"
    },
    "AlertDetail": {
      "properties": {
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerAlertDetail",
          "description": "Initial Access Broker alert detail type."
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "detailType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        },
        "domainMonitoring": {
          "description": "Domain Monitoring alert detail type.",
          "$ref": "DomainMonitoringAlertDetail"
        }
      },
      "description": "Container for different types of alert details.",
      "id": "AlertDetail",
      "type": "object"
    },
    "ListConfigurationRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "description": "The Configuration Revisions associated with the specified Configuration"
        }
      },
      "description": "Response message for ListConfigurationRevisions.",
      "id": "ListConfigurationRevisionsResponse",
      "type": "object"
    },
    "DomainMonitoringDnsDetails": {
      "id": "DomainMonitoringDnsDetails",
      "properties": {
        "retrievalTime": {
          "description": "Optional. The time the DNS details were retrieved.",
          "type": "string",
          "format": "google-datetime"
        },
        "dnsRecords": {
          "description": "Optional. The DNS records of the domain.",
          "type": "array",
          "items": {
            "$ref": "DomainMonitoringDnsRecord"
          }
        }
      },
      "type": "object",
      "description": "The DNS details of the domain."
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "description": "Request message for MarkAlertAsResolved.",
      "type": "object",
      "properties": {}
    },
    "CustomerProfilePerson": {
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        },
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomerProfilePerson",
      "description": "Person information for the customer profile."
    },
    "Association": {
      "id": "Association",
      "description": "Represents an association with a vulnerability.",
      "properties": {
        "type": {
          "description": "Required. The type of the association.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        },
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentQuery": {
      "id": "DocumentQuery",
      "type": "object",
      "properties": {
        "queryType": {
          "type": "string",
          "description": "Required. The type of query.",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "JSON",
            "STRING"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Structured JSON condition tree built via query builder.",
            "Raw search query string e.g., VTI search syntax."
          ]
        },
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        }
      },
      "description": "Represents a query to match documents."
    },
    "CustomerProfileProduct": {
      "properties": {
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Product information for the customer profile.",
      "id": "CustomerProfileProduct"
    },
    "Relationships": {
      "id": "Relationships",
      "description": "Related entities and domains observed for the target.",
      "properties": {
        "relatedUrls": {
          "type": "array",
          "description": "Optional. Related URLs associated with the domain.",
          "items": {
            "type": "string"
          }
        },
        "siblingDomains": {
          "type": "array",
          "description": "Optional. Sibling domains sharing the same IP address.",
          "items": {
            "type": "string"
          }
        },
        "subdomains": {
          "type": "array",
          "description": "Optional. Subdomains associated with the target domain or URL.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DomainMonitoringUrlDetails": {
      "description": "Details specific to a monitored URL.",
      "type": "object",
      "id": "DomainMonitoringUrlDetails",
      "properties": {
        "url": {
          "description": "Required. The URL to match against.",
          "type": "string"
        }
      }
    },
    "CustomerProfileWebPresence": {
      "description": "Web presence information for the customer profile.",
      "type": "object",
      "properties": {
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the web presence."
        },
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        }
      },
      "id": "CustomerProfileWebPresence"
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsReadRequest"
    },
    "ConfigurationRevision": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the Revision was created",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        }
      },
      "type": "object",
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable."
    },
    "DomainMonitoringFindingDetail": {
      "description": "A detailed object for a Domain or URL finding.",
      "properties": {
        "infrastructure": {
          "description": "Optional. The infrastructure of the domain or URL.",
          "$ref": "Infrastructure"
        },
        "registrationDetails": {
          "$ref": "DnsRegistrationDetails",
          "description": "Optional. Extracted WHOIS and DNS registration details."
        },
        "relationships": {
          "$ref": "Relationships",
          "description": "Optional. The relationships of the domain or URL."
        },
        "protectedBrand": {
          "type": "string",
          "description": "The protected brand name that triggered the alert."
        },
        "threatAttributionDetails": {
          "description": "Optional. The threat attribution details of the domain or URL.",
          "$ref": "ThreatAttributionDetails"
        },
        "matchedDomain": {
          "description": "Optional. The matched domain.",
          "type": "string"
        },
        "gtiDetails": {
          "$ref": "DomainMonitoringGtiDetails",
          "description": "Optional. The GTI details of the domain or URL."
        },
        "urlDetails": {
          "description": "Details specific to a monitored URL.",
          "$ref": "DomainMonitoringUrlDetails"
        },
        "domainDetails": {
          "$ref": "DomainMonitoringDomainDetails",
          "description": "Details specific to a monitored domain."
        },
        "whoisDetails": {
          "description": "Optional. The whois details of the domain or URL.",
          "$ref": "DomainMonitoringWhoIsDetails"
        },
        "dnsDetails": {
          "$ref": "DomainMonitoringDnsDetails",
          "description": "Optional. The DNS details of the domain or URL."
        },
        "protectedDomain": {
          "description": "The protected domain that triggered the alert.",
          "$ref": "DomainMonitoringDomainDetails"
        }
      },
      "type": "object",
      "id": "DomainMonitoringFindingDetail"
    },
    "CustomerProfileLocation": {
      "id": "CustomerProfileLocation",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        }
      },
      "description": "Location information for the customer profile.",
      "type": "object"
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "description": "Structured priority analysis for a threat.",
      "properties": {
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string",
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        },
        "priorityLevel": {
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "type": "string",
          "description": "The level of Priority."
        }
      },
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "type": "object",
      "properties": {
        "discoveryDocuments": {
          "readOnly": true,
          "items": {
            "$ref": "DiscoveryDocument"
          },
[...]
