{
  "canonicalName": "Threat Intelligence Service",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "name": "threatintelligence",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "threatintelligence.googleapis.com API.",
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "schemas": {
    "PriorityAnalysis": {
      "type": "object",
      "id": "PriorityAnalysis",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        },
        "priorityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority."
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      },
      "description": "Structured priority analysis for a threat."
    },
    "DomainSetting": {
      "description": "Feature settings and toggles for a single specific domain.",
      "id": "DomainSetting",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name to match against."
        },
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "type": "string",
          "description": "Output only. The verification state of the domain.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ]
        }
      },
      "type": "object"
    },
    "PublicExploit": {
      "type": "object",
      "description": "Contains details about a public exploit.",
      "properties": {
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "exploitGrade": {
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "sizeBytes": {
          "type": "string",
          "description": "Optional. The size of the exploit.",
          "format": "int64"
        },
        "exploitReliability": {
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ]
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        }
      },
      "id": "PublicExploit"
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "id": "AlertDocumentTranslation",
      "type": "object",
      "properties": {
        "translatedContent": {
          "readOnly": true,
          "description": "Output only. The translated content of the document.",
          "type": "string"
        },
        "translatedTitle": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The translated title of the document."
        }
      }
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "description": "A detail object for a Data Leak finding.",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "matchScore": {
          "format": "float",
          "type": "number",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        }
      },
      "id": "DataLeakFindingDetail"
    },
    "InitialAccessBrokerFindingDetail": {
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "id": "InitialAccessBrokerFindingDetail",
      "type": "object",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      }
    },
    "RelevanceAnalysis": {
      "description": "Structured relevance analysis for a threat.",
      "type": "object",
      "id": "RelevanceAnalysis",
      "properties": {
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant."
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "relevanceLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "description": "The level of relevance."
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        }
      }
    },
    "ConfigurationRevision": {
      "properties": {
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the Revision was created",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ConfigurationRevision",
      "type": "object",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable."
    },
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        },
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "type": "string",
          "format": "google-datetime"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerProfileLocation": {
      "description": "Location information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileLocation",
      "properties": {
        "brand": {
          "type": "string",
          "description": "Required. The brand of the location."
        },
        "address": {
          "type": "string",
          "description": "Required. The address of the location."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the location."
        },
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        }
      }
    },
    "VulnerabilityMatch": {
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\"."
        },
        "matchedTechnologies": {
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          }
        },
        "publicExploits": {
          "type": "array",
          "description": "Optional. List of public exploits.",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          }
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "disclosureTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "associations": {
          "type": "array",
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          }
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the vulnerability."
        },
        "exploitationVectors": {
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ]
          },
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "type": "array"
        },
        "productFixes": {
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          },
          "description": "Optional. List of product fixes for the vulnerability."
        },
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array"
        },
        "exploitationState": {
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "epssScore": {
          "type": "number",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float"
        },
        "cvss3Score": {
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float",
          "type": "number"
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether a publicly available exploit exists."
        },
        "riskRating": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        }
      },
      "type": "object",
      "id": "VulnerabilityMatch",
      "description": "Contains details about a vulnerability match."
    },
    "InsiderThreatFindingDetail": {
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat."
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A detail object for a InsiderThreat finding.",
      "id": "InsiderThreatFindingDetail"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status"
    },
    "ListConfigurationRevisionsResponse": {
      "description": "Response message for ListConfigurationRevisions.",
      "id": "ListConfigurationRevisionsResponse",
      "properties": {
        "revisions": {
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "type": "array",
          "description": "The Configuration Revisions associated with the specified Configuration"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "CustomerProfileCitedString": {
      "id": "CustomerProfileCitedString",
      "description": "A string with citation ids.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the string."
        }
      }
    },
    "FacetCount": {
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "description": "Count of records with the value.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FacetCount",
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object"
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "id": "FindingDetail",
      "properties": {
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        }
      },
      "type": "object"
    },
    "ConfigurationDetail": {
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "properties": {
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        },
        "detailType": {
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true
        },
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        },
        "domainConfiguration": {
          "description": "Domain Configuration detail config.",
          "$ref": "DomainConfiguration"
        }
      },
      "type": "object",
      "id": "ConfigurationDetail"
    },
    "DocumentQuery": {
      "id": "DocumentQuery",
      "properties": {
        "dataModel": {
          "description": "Required. The data model to query against.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "type": "string",
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ]
        },
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        },
        "queryType": {
          "type": "string",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "description": "Required. The type of query."
        }
      },
      "description": "Represents a query to match documents.",
      "type": "object"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest"
    },
    "CustomThreatScenarioConfig": {
      "id": "CustomThreatScenarioConfig",
      "properties": {
        "documentQuery": {
          "$ref": "DocumentQuery",
          "description": "Optional. The query used to match documents."
        },
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        },
        "compiledLuceneQuery": {
          "readOnly": true,
          "description": "Output only. The compiled Lucene query string.",
          "type": "string"
        },
        "legacyMonitorMetadata": {
          "description": "Output only. Legacy metadata associated with this scenario/monitor.",
          "readOnly": true,
          "$ref": "LegacyMetadata"
        }
      },
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "type": "object"
    },
    "CustomerProfilePerson": {
      "type": "object",
      "description": "Person information for the customer profile.",
      "id": "CustomerProfilePerson",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "description": "Response message for ListFindings.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "description": "List of findings.",
          "type": "array"
        }
      }
    },
    "DataLeakAlertDetail": {
      "type": "object",
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        }
      }
    },
    "UpsertConfigurationResponse": {
      "type": "object",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration."
    },
    "MarkAlertAsNotActionableRequest": {
      "properties": {},
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object"
    },
    "LegacyMetadata": {
      "description": "Legacy metadata associated with this scenario/monitor.",
      "type": "object",
      "properties": {
        "legacyMonitorId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the legacy monitor."
        },
        "updaterUserId": {
          "readOnly": true,
          "description": "Output only. User ID who last updated the monitor.",
          "type": "string"
        },
        "aggregationEnabled": {
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor.",
          "readOnly": true,
          "type": "boolean"
        },
        "conditionVersion": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Version of the condition schema."
        },
        "aggregationSimilarity": {
          "type": "number",
          "description": "Output only. Similarity threshold for aggregation.",
          "format": "double",
          "readOnly": true
        },
        "staleTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the legacy monitor was considered stale."
        },
        "creatorUserId": {
          "readOnly": true,
          "description": "Output only. User ID who created the monitor.",
          "type": "string"
        },
        "emailNotificationImmediate": {
          "deprecated": true,
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "type": "boolean",
          "readOnly": true
        },
        "tenantId": {
          "description": "Output only. ID of the tenant owning the monitor.",
          "readOnly": true,
          "type": "string"
        },
        "emailNotificationEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "deprecated": true
        },
        "disabledCode": {
          "type": "string",
          "description": "Output only. Code indicating why the monitor is disabled (if applicable).",
          "readOnly": true
        },
        "templateId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the template this monitor was created from."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the legacy monitor.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "description": "Output only. Version of the monitor configuration.",
          "readOnly": true,
          "format": "int32"
        },
        "disabledReason": {
          "type": "string",
          "description": "Output only. Reason why the monitor is disabled (if applicable).",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of the legacy monitor.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "LegacyMetadata"
    },
    "CustomerProfileCompany": {
      "description": "Company information for the customer profile.",
      "id": "CustomerProfileCompany",
      "type": "object",
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the company."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GetPasswordResponse": {
      "type": "object",
      "description": "Response message for GetPassword.",
      "id": "GetPasswordResponse",
      "properties": {
        "password": {
          "type": "string",
          "description": "The decrypted cleartext password for the compromised credential."
        }
      }
    },
    "ListConfigurationsResponse": {
      "description": "Response message for ListConfigurations.",
      "properties": {
        "configurations": {
          "type": "array",
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListConfigurationsResponse",
      "type": "object"
    },
    "AlertDetail": {
      "id": "AlertDetail",
      "properties": {
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        }
      },
      "type": "object",
      "description": "Container for different types of alert details."
    },
    "TargetTechnologyFindingDetail": {
      "id": "TargetTechnologyFindingDetail",
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "description": "Contains details for a technology watchlist finding."
    },
    "CustomerProfileProduct": {
      "type": "object",
      "id": "CustomerProfileProduct",
      "properties": {
        "brand": {
          "type": "string",
          "description": "Required. The brand of the product."
        },
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Product information for the customer profile."
    },
    "Alert": {
      "id": "Alert",
      "properties": {
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert."
        },
        "detail": {
          "$ref": "AlertDetail",
          "readOnly": true,
          "description": "Output only. Details object for the alert, not all alerts will have a details object."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "description": "Output only. State of the alert.",
          "type": "string"
        },
        "findingCount": {
          "type": "string",
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "readOnly": true
        },
        "configurations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. A short title for the alert.",
          "type": "string"
        },
        "findings": {
          "type": "array",
          "description": "Output only. Findings that are covered by this alert.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "audit": {
          "description": "Output only. Audit information for the alert.",
          "readOnly": true,
          "$ref": "Audit"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the alert."
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "type": "string",
          "readOnly": true
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true,
          "$ref": "PriorityAnalysis"
        },
        "duplicateOf": {
          "readOnly": true,
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert."
        }
      },
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "TargetTechnologyAlertDetail": {
      "type": "object",
      "id": "TargetTechnologyAlertDetail",
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      }
    },
    "ProductFix": {
      "type": "object",
      "description": "Contains details about a product fix.",
      "id": "ProductFix",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        },
        "publishTime": {
          "description": "Optional. The published time of the fix.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DomainMonitoringFeatureConfig": {
      "description": "Specific configuration for the Domain Monitoring feature.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain."
        }
      },
      "id": "DomainMonitoringFeatureConfig",
      "type": "object"
    },
    "MarkAlertAsTriagedRequest": {
      "id": "MarkAlertAsTriagedRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsTriaged.",
      "type": "object"
    },
    "InitialAccessBrokerAlertDetail": {
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object",
      "id": "InitialAccessBrokerAlertDetail",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      }
    },
    "CustomerProfileSummary": {
      "properties": {
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The entity type of the customer."
        },
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        }
      },
      "id": "CustomerProfileSummary",
      "type": "object",
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "Configuration": {
      "properties": {
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "audit": {
          "description": "Output only. Audit information for the configuration.",
          "$ref": "Audit",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Human readable name for the configuration.",
          "type": "string"
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ]
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        }
      },
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "id": "Configuration",
      "type": "object"
    },
    "MarkAlertAsBenignRequest": {
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object",
      "id": "MarkAlertAsBenignRequest",
      "properties": {}
    },
    "AlertDocument": {
      "description": "A document that is associated with an alert.",
      "type": "object",
      "id": "AlertDocument",
      "properties": {
        "translation": {
          "readOnly": true,
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the document."
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "type": "string",
          "readOnly": true
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        },
        "ingestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when GTI received the intel.",
          "readOnly": true
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "description": "Output only. The title of the document, if available.",
          "type": "string"
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "aiSummary": {
          "readOnly": true,
          "description": "Output only. AI summary of the document.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The author of the document."
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        }
      }
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "type": "array",
          "description": "List of alerts."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListAlerts."
    },
    "DomainConfiguration": {
      "id": "DomainConfiguration",
      "type": "object",
      "properties": {
        "domainSettings": {
          "items": {
            "$ref": "DomainSetting"
          },
          "type": "array",
          "description": "Optional. A list of settings for individual domains."
        }
      },
      "description": "Configuration holding settings for one or more monitored domains."
    },
    "GenerateOrgProfileConfigurationRequest": {
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "id": "GenerateOrgProfileConfigurationRequest",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        },
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        }
      }
    },
    "TechnologyWatchListConfig": {
      "type": "object",
      "id": "TechnologyWatchListConfig",
      "properties": {
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        },
        "technologies": {
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist."
    },
    "Facet": {
      "id": "Facet",
      "type": "object",
      "properties": {
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64",
          "type": "string"
        },
        "facet": {
          "type": "string",
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression."
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "facetCounts": {
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          },
          "type": "array"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        }
      },
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI."
    },
    "EnumerateAlertFacetsResponse": {
      "id": "EnumerateAlertFacetsResponse",
      "properties": {
        "facets": {
          "items": {
            "$ref": "Facet"
          },
          "type": "array",
          "description": "List of facets and the counts."
        }
      },
      "type": "object",
      "description": "Response message for EnumerateAlertFacets."
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "type": "object",
      "properties": {
        "considerations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
        },
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        }
      },
      "description": "Security considerations for the customer profile."
    },
    "Audit": {
      "id": "Audit",
      "description": "Tracks basic CRUD facts.",
      "type": "object",
      "properties": {
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time of creation or last update.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of creation."
        },
        "updater": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        }
      }
    },
    "MarkAlertAsEscalatedRequest": {
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated.",
      "properties": {},
      "type": "object"
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "type": "object",
      "properties": {
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "description": "The level of severity.",
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        }
      },
      "description": "Structured severity analysis for a threat."
    },
    "MarkAlertAsReadRequest": {
      "type": "object",
      "id": "MarkAlertAsReadRequest",
      "description": "Request message for MarkAlertAsRead.",
      "properties": {}
    },
    "CustomerProfileConfig": {
      "type": "object",
      "id": "CustomerProfileConfig",
      "properties": {
        "executives": {
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array",
          "description": "Optional. Executives of the organization."
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "description": "Optional. The parent companies of the organization.",
          "type": "array"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "locations": {
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array"
        },
        "webPresences": {
          "type": "array",
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "org": {
          "type": "string",
          "description": "Required. The name of the organization."
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "description": "Optional. Product information for the organization."
        },
        "citations": {
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array",
          "description": "Optional. Citations for the organization profile."
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          }
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "industries": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "description": "Optional. The industries the organization is involved in."
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        }
      },
      "description": "CustomerProfileConfig is the configuration for the customer profile."
    },
    "TechnologyWatchListAlertThreshold": {
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "properties": {
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          }
        },
        "riskRatingMinimum": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Optional. The minimum risk rating for the alert."
        },
        "priorityMinimum": {
          "description": "Optional. The minimum priority for the alert.",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "cvssScoreMinimum": {
          "format": "float",
          "type": "number",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0]."
        },
        "epssScoreMinimum": {
          "type": "number",
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0]."
        }
      },
      "type": "object",
      "id": "TechnologyWatchListAlertThreshold"
    },
    "CustomerProfileIndustry": {
      "type": "object",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the industry.",
          "type": "array"
        }
      },
      "description": "Industry information for the customer profile.",
      "id": "CustomerProfileIndustry"
    },
    "MarkAlertAsDuplicateRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsDuplicate.",
      "id": "MarkAlertAsDuplicateRequest",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      }
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object"
    },
    "Evidence": {
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object",
      "properties": {
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "distinctThemes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant."
        }
      },
      "id": "Evidence"
    },
    "MarkAlertAsResolvedRequest": {
      "properties": {},
      "id": "MarkAlertAsResolvedRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsResolved."
    },
    "CustomerProfileWebPresence": {
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the web presence.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        }
      },
      "id": "CustomerProfileWebPresence",
      "description": "Web presence information for the customer profile."
    },
    "SearchFindingsResponse": {
      "description": "Response message for SearchFindings.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        }
      },
      "id": "SearchFindingsResponse"
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "type": "object",
      "id": "Finding",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Required. Logical source of this finding (name of the sub-engine)."
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding."
        },
        "severity": {
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float",
          "deprecated": true
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "configurations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Configuration names that are bound to this finding."
        },
        "reoccurrenceTimes": {
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. When identical finding (same labels and same details) has re-occurred."
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit"
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        }
      }
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "type": "object",
      "id": "InsiderThreatAlertDetail"
    },
    "CustomerProfileContactInfo": {
      "type": "object",
      "description": "Contact information for the customer profile.",
      "id": "CustomerProfileContactInfo",
      "properties": {
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the contact."
        },
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information.",
          "type": "array"
        }
      }
    },
    "Association": {
      "id": "Association",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "description": "Required. The type of the association.",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ]
        },
        "id": {
          "type": "string",
          "description": "Required. The ID of the association."
        }
      },
      "description": "Represents an association with a vulnerability.",
      "type": "object"
    }
  },
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "version": "v1beta",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "description": "Triggers the generation of a Customer Profile for a project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "parameterOrder": [
            "name"
          ],
          "id": "threatintelligence.projects.generateOrgProfile"
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.configurations.get",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Get a configuration by name."
            },
            "upsert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "description": "Creates or updates a configuration.",
              "id": "threatintelligence.projects.configurations.upsert",
              "parameters": {
                "publishTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent of the configuration."
                }
              },
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "description": "Get a list of configurations that meet the filter criteria.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "id": "threatintelligence.projects.configurations.list",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "path": "v1beta/{+parent}/configurations"
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Page Size"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Specify ordering of response",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+parent}/revisions",
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "id": "threatintelligence.projects.configurations.revisions.list"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent of the findings."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                }
              },
              "id": "threatintelligence.projects.findings.list",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "path": "v1beta/{+parent}/findings",
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1beta/{+name}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "response": {
                "$ref": "Finding"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the finding to get."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.get"
            },
            "search": {
              "parameters": {
                "query": {
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "httpMethod": "GET",
              "id": "threatintelligence.projects.findings.search",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/findings:search"
            }
          }
        },
        "alerts": {
          "methods": {
            "triage": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "httpMethod": "POST",
              "path": "v1beta/{+name}:triage",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "id": "threatintelligence.projects.alerts.triage",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as triaged - TRIAGED."
            },
            "notActionable": {
              "id": "threatintelligence.projects.alerts.notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:notActionable",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable"
            },
            "get": {
              "description": "Get an alert by name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Alert"
              }
            },
            "benign": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "description": "Marks an alert as benign - BENIGN.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}"
                }
              },
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "id": "threatintelligence.projects.alerts.benign",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:benign"
            },
            "getPassword": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:getPassword",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "description": "Get the decrypted password of an alert.",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.getPassword"
            },
            "enumerateFacets": {
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "httpMethod": "GET",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "read": {
              "description": "Marks an alert as read - READ.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read"
            },
[...]
