{
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "ownerDomain": "google.com",
  "revision": "20260816",
  "id": "threatintelligence:v1beta",
  "canonicalName": "Threat Intelligence Service",
  "discoveryVersion": "v1",
  "basePath": "",
  "name": "threatintelligence",
  "ownerName": "Google",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta",
  "title": "Threat Intelligence API",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "methods": {
            "getPassword": {
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:getPassword",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}"
                }
              },
              "description": "Get the decrypted password of an alert.",
              "id": "threatintelligence.projects.alerts.getPassword",
              "parameterOrder": [
                "name"
              ]
            },
            "resolve": {
              "id": "threatintelligence.projects.alerts.resolve",
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert to closed state - RESOLVED.",
              "path": "v1beta/{+name}:resolve",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "falsePositive": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}"
                }
              },
              "path": "v1beta/{+name}:falsePositive",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "enumerateFacets": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query"
                }
              },
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "parameterOrder": [
                "parent"
              ],
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "benign": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Marks an alert as benign - BENIGN.",
              "id": "threatintelligence.projects.alerts.benign",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:benign",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "notActionable": {
              "path": "v1beta/{+name}:notActionable",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.notActionable",
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "escalate": {
              "id": "threatintelligence.projects.alerts.escalate",
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as escalated - ESCALATED.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "path": "v1beta/{+name}:escalate",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "duplicate": {
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "id": "threatintelligence.projects.alerts.duplicate",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:duplicate",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "id": "threatintelligence.projects.alerts.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a list of alerts that meet the filter criteria.",
              "path": "v1beta/{+parent}/alerts",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "type": "string",
                  "location": "path"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "read": {
              "path": "v1beta/{+name}:read",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Marks an alert as read - READ.",
              "id": "threatintelligence.projects.alerts.read",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get an alert by name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Alert"
              }
            },
            "trackExternally": {
              "id": "threatintelligence.projects.alerts.trackExternally",
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}:trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "triage": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Marks an alert as triaged - TRIAGED.",
              "id": "threatintelligence.projects.alerts.triage",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "path": "v1beta/{+name}:triage",
              "response": {
                "$ref": "Alert"
              }
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a specific document associated with an alert.",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "AlertDocument"
                  }
                }
              }
            }
          }
        },
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "description": "List configuration revisions that meet the filter criteria.",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Page Size",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Specify ordering of response",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token provided by the API",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+parent}/revisions",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "threatintelligence.projects.configurations.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a configuration by name.",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Configuration"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Get a list of configurations that meet the filter criteria.",
              "id": "threatintelligence.projects.configurations.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              }
            },
            "upsert": {
              "id": "threatintelligence.projects.configurations.upsert",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates or updates a configuration.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Parent of the configuration.",
                  "type": "string",
                  "location": "path"
                },
                "publishTime": {
                  "format": "google-datetime",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "request": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "findings": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "required": true
                }
              },
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Finding"
              },
              "id": "threatintelligence.projects.findings.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "id": "threatintelligence.projects.findings.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Parent of the findings.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1beta/{+parent}/findings",
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "search": {
              "path": "v1beta/{+parent}/findings:search",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Parent of the findings. Format: vaults/{vault}"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "query": {
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "location": "query"
                }
              },
              "id": "threatintelligence.projects.findings.search",
              "parameterOrder": [
                "parent"
              ],
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "id": "threatintelligence.projects.generateOrgProfile",
          "parameterOrder": [
            "name"
          ],
          "description": "Triggers the generation of a Customer Profile for a project.",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    }
  ],
  "description": "threatintelligence.googleapis.com API.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "FindingDetail": {
      "type": "object",
      "id": "FindingDetail",
      "properties": {
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        }
      },
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes."
    },
    "MarkAlertAsTriagedRequest": {
      "type": "object",
      "id": "MarkAlertAsTriagedRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsTriaged."
    },
    "CustomerProfileIndustry": {
      "type": "object",
      "id": "CustomerProfileIndustry",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Industry information for the customer profile."
    },
    "Configuration": {
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "id": "Configuration",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable name for the configuration."
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration."
        },
        "state": {
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "etag": {
          "type": "string",
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        }
      },
      "type": "object"
    },
    "ConfigurationRevision": {
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object",
      "id": "ConfigurationRevision",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the Revision was created",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TechnologyWatchListConfig": {
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "id": "TechnologyWatchListConfig",
      "properties": {
        "technologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
        },
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        }
      },
      "type": "object"
    },
    "InsiderThreatAlertDetail": {
      "id": "InsiderThreatAlertDetail",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "type": "object",
      "id": "CustomerProfilePerson",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the person."
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        }
      }
    },
    "CustomerProfileLocation": {
      "description": "Location information for the customer profile.",
      "id": "CustomerProfileLocation",
      "properties": {
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the location."
        },
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductFix": {
      "description": "Contains details about a product fix.",
      "type": "object",
      "id": "ProductFix",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Optional. The published time of the fix.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "sourceId": {
          "type": "string",
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\"."
        }
      }
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "id": "Finding",
      "properties": {
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        },
        "severity": {
          "format": "float",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "deprecated": true,
          "type": "number"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
        },
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "array"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit data about the finding.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "id": "MarkAlertAsTrackedExternallyRequest",
      "properties": {},
      "type": "object"
    },
    "AlertDocument": {
      "description": "A document that is associated with an alert.",
      "id": "AlertDocument",
      "properties": {
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "type": "string",
          "readOnly": true
        },
        "collectionTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the origin source collected the intel."
        },
        "ingestTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when GTI received the intel."
        },
        "sourceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the intel item from the source."
        },
        "sourceUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the intel was last updated by the source."
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The author of the document."
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language code of the document."
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation",
          "readOnly": true
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "MarkAlertAsNotActionableRequest": {
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "properties": {},
      "type": "object"
    },
    "EnumerateAlertFacetsResponse": {
      "description": "Response message for EnumerateAlertFacets.",
      "id": "EnumerateAlertFacetsResponse",
      "properties": {
        "facets": {
          "type": "array",
          "items": {
            "$ref": "Facet"
          },
          "description": "List of facets and the counts."
        }
      },
      "type": "object"
    },
    "PublicExploit": {
      "description": "Contains details about a public exploit.",
      "id": "PublicExploit",
      "properties": {
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime",
          "type": "string"
        },
        "exploitReliability": {
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        },
        "exploitName": {
          "type": "string",
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\"."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the exploit."
        },
        "sizeBytes": {
          "type": "string",
          "description": "Optional. The size of the exploit.",
          "format": "int64"
        },
        "exploitGrade": {
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        }
      },
      "type": "object"
    },
    "CustomerProfileCompany": {
      "description": "Company information for the customer profile.",
      "id": "CustomerProfileCompany",
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the company."
        }
      },
      "type": "object"
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "type": "object",
      "id": "MarkAlertAsReadRequest",
      "properties": {}
    },
    "DataLeakAlertDetail": {
      "type": "object",
      "id": "DataLeakAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Captures the specific details of Data Leak alert."
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "properties": {
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "description": "The level of severity.",
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Structured severity analysis for a threat."
    },
    "ConfigurationDetail": {
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "id": "ConfigurationDetail",
      "properties": {
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        }
      },
      "type": "object"
    },
    "CustomerProfileWebPresence": {
      "description": "Web presence information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileWebPresence",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the web presence.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MarkAlertAsResolvedRequest": {
      "type": "object",
      "id": "MarkAlertAsResolvedRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsResolved."
    },
    "GetPasswordResponse": {
      "description": "Response message for GetPassword.",
      "type": "object",
      "id": "GetPasswordResponse",
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      }
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "id": "Facet",
      "properties": {
        "facetCounts": {
          "type": "array",
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical)."
        },
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TechnologyWatchListAlertThreshold": {
      "type": "object",
      "id": "TechnologyWatchListAlertThreshold",
      "properties": {
        "cvssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float"
        },
        "priorityMinimum": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The minimum priority for the alert.",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "epssScoreMinimum": {
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float",
          "type": "number"
        },
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          },
          "type": "array"
        },
        "riskRatingMinimum": {
          "description": "Optional. The minimum risk rating for the alert.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        }
      },
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting."
    },
    "TargetTechnologyAlertDetail": {
      "id": "TargetTechnologyAlertDetail",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "type": "object",
      "description": "Contains details for a technology watchlist alert."
    },
    "RelevanceAnalysis": {
      "description": "Structured relevance analysis for a threat.",
      "type": "object",
      "id": "RelevanceAnalysis",
      "properties": {
        "relevant": {
          "type": "boolean",
          "description": "Indicates whether the threat is considered relevant."
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "relevanceLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "description": "The level of relevance.",
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ]
        }
      }
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert."
    },
    "MarkAlertAsFalsePositiveRequest": {
      "description": "Request message for MarkAlertAsFalsePositive.",
      "id": "MarkAlertAsFalsePositiveRequest",
      "properties": {},
      "type": "object"
    },
    "VulnerabilityMatch": {
      "type": "object",
      "id": "VulnerabilityMatch",
      "properties": {
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "type": "array",
          "items": {
            "$ref": "Association"
          }
        },
        "productFixes": {
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          },
          "description": "Optional. List of product fixes for the vulnerability."
        },
        "disclosureTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "publicExploits": {
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          },
          "description": "Optional. List of public exploits."
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "exploitationState": {
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "epssScore": {
          "format": "float",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "type": "number"
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "readOnly": true,
          "type": "boolean"
        },
        "priority": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "cveId": {
          "type": "string",
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information."
        },
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\"."
        },
        "riskRating": {
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "collectionId": {
          "type": "string",
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\"."
        },
        "exploitationConsequences": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          },
          "description": "Optional. List of exploitation consequences for the vulnerability."
        },
        "exploitationVectors": {
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ]
          },
          "type": "array"
        },
        "cvss3Score": {
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float",
          "type": "number"
        },
        "matchedTechnologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\"."
        }
      },
      "description": "Contains details about a vulnerability match."
    },
    "CustomerProfileSummary": {
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "id": "CustomerProfileSummary",
      "properties": {
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "brands": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of brands."
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "type": "object"
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "properties": {
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "priorityLevel": {
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Structured priority analysis for a threat."
    },
    "Alert": {
      "id": "Alert",
      "properties": {
        "state": {
          "description": "Output only. State of the alert.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "type": "string"
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert."
        },
        "duplicatedBy": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}"
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "type": "string",
          "readOnly": true
        },
        "severityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "$ref": "SeverityAnalysis"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "priorityAnalysis": {
          "readOnly": true,
          "$ref": "PriorityAnalysis",
          "description": "Output only. High-Precision Priority Analysis for the alert."
        },
        "configurations": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true
        },
        "detail": {
          "readOnly": true,
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail"
        },
        "findings": {
          "description": "Output only. Findings that are covered by this alert.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "MarkAlertAsEscalatedRequest": {
      "description": "Request message for MarkAlertAsEscalated.",
      "id": "MarkAlertAsEscalatedRequest",
      "properties": {},
      "type": "object"
    },
    "CustomerProfileCitation": {
      "description": "Citation information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileCitation",
      "properties": {
        "retrievalTime": {
          "format": "google-datetime",
          "description": "The time the citation was retrieved.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        }
      }
    },
    "CustomerProfileCitedString": {
      "description": "A string with citation ids.",
      "id": "CustomerProfileCitedString",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "id": "GenerateOrgProfileConfigurationRequest",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain of the organization to generate the profile for."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        }
      }
    },
    "ListConfigurationRevisionsResponse": {
      "type": "object",
      "id": "ListConfigurationRevisionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          }
        }
      },
      "description": "Response message for ListConfigurationRevisions."
    },
    "SearchFindingsResponse": {
      "description": "Response message for SearchFindings.",
      "id": "SearchFindingsResponse",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerProfileConfig": {
      "type": "object",
      "id": "CustomerProfileConfig",
      "properties": {
        "parentCompanies": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "description": "Optional. The parent companies of the organization."
        },
        "securityConsiderations": {
          "$ref": "CustomerProfileSecurityConsiderations",
          "description": "Optional. Security considerations for the organization."
        },
        "citations": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "description": "Optional. Citations for the organization profile."
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "description": "Optional. Product information for the organization."
        },
        "contactInfo": {
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array",
          "description": "Optional. Contact information for the organization."
        },
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "type": "array",
          "description": "Optional. The industries the organization is involved in."
        },
        "technologyPresence": {
          "type": "string",
          "description": "Optional. Technology presence of the organization."
        },
        "webPresences": {
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array",
          "description": "Optional. Web presence of the organization."
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "orgSummary": {
          "type": "string",
          "description": "Optional. A summary of the organization."
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        }
      },
      "description": "CustomerProfileConfig is the configuration for the customer profile."
    },
    "TargetTechnologyFindingDetail": {
      "type": "object",
      "id": "TargetTechnologyFindingDetail",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "description": "Contains details for a technology watchlist finding."
    },
    "Audit": {
      "type": "object",
      "id": "Audit",
      "properties": {
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time of creation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Tracks basic CRUD facts."
    },
    "CustomerProfileProduct": {
      "description": "Product information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileProduct",
      "properties": {
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        },
        "brand": {
          "type": "string",
          "description": "Required. The brand of the product."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the product."
        }
      }
    },
    "CustomerProfileContactInfo": {
      "type": "object",
      "id": "CustomerProfileContactInfo",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the contact."
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address of the contact."
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information."
        }
      },
      "description": "Contact information for the customer profile."
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for MarkAlertAsBenign."
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "type": "object",
      "id": "AlertDocumentTranslation",
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "type": "string",
          "readOnly": true
        },
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "id": "DataLeakFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "severity": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "description": "A detail object for a Data Leak finding."
    },
    "UpsertConfigurationResponse": {
      "description": "Response message for UpsertConfiguration.",
      "id": "UpsertConfigurationResponse",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Association": {
      "type": "object",
      "id": "Association",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association.",
          "type": "string",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        },
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        }
      },
      "description": "Represents an association with a vulnerability."
    },
    "ListConfigurationsResponse": {
      "type": "object",
      "id": "ListConfigurationsResponse",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "description": "Response message for ListConfigurations."
    },
    "Evidence": {
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object",
      "id": "Evidence",
      "properties": {
        "commonThemes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict."
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "id": "MarkAlertAsDuplicateRequest",
      "properties": {
        "duplicateOf": {
          "type": "string",
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}"
        }
      },
      "type": "object"
    },
    "CustomerProfileSecurityConsiderations": {
      "description": "Security considerations for the customer profile.",
      "id": "CustomerProfileSecurityConsiderations",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomThreatScenarioConfig": {
      "id": "CustomThreatScenarioConfig",
      "properties": {
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "readOnly": true,
          "type": "string"
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "description": "Optional. Legacy metadata associated with this scenario/monitor."
        },
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        }
      },
      "type": "object",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration."
    },
    "InitialAccessBrokerFindingDetail": {
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "id": "InitialAccessBrokerFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "severity": {
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "type": "object"
    },
    "LegacyMetadata": {
      "description": "Legacy metadata associated with this scenario/monitor.",
      "id": "LegacyMetadata",
      "properties": {
        "disabledCode": {
          "type": "string",
          "description": "Optional. Code indicating why the monitor is disabled (if applicable)."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Version of the monitor configuration."
        },
        "creatorUserId": {
          "description": "Optional. User ID who created the monitor.",
          "type": "string"
        },
        "updaterUserId": {
          "type": "string",
          "description": "Optional. User ID who last updated the monitor."
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. ID of the tenant owning the monitor."
        },
        "templateId": {
          "description": "Optional. ID of the template this monitor was created from.",
          "type": "string"
        },
        "staleTime": {
          "type": "string",
          "description": "Optional. Time the legacy monitor was considered stale.",
          "format": "google-datetime"
        },
        "emailNotificationEnabled": {
          "description": "Optional. Whether email notifications are enabled.",
          "type": "boolean"
        },
        "conditionVersion": {
          "type": "integer",
          "description": "Optional. Version of the condition schema.",
          "format": "int32"
        },
        "aggregationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether aggregation is enabled for alerts from this monitor."
        },
        "legacyMonitorId": {
          "description": "Optional. Unique identifier of the legacy monitor.",
          "type": "string"
        },
        "disabledReason": {
          "description": "Optional. Reason why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "emailNotificationImmediate": {
          "description": "Optional. Whether email notifications are intermediate/immediate.",
          "type": "boolean"
        },
[...]
