{
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object",
      "id": "MarkAlertAsTrackedExternallyRequest",
      "properties": {}
    },
    "VulnerabilityMatch": {
      "description": "Contains details about a vulnerability match.",
      "type": "object",
      "id": "VulnerabilityMatch",
      "properties": {
        "publicExploits": {
          "description": "Optional. List of public exploits.",
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "disclosureTime": {
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability.",
          "type": "string"
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "riskRating": {
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "readOnly": true,
          "type": "boolean"
        },
        "exploitationState": {
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "cvss3Score": {
          "format": "float",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "type": "number"
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array",
          "items": {
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ]
          }
        },
        "matchedTechnologies": {
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "type": "number",
          "format": "float"
        },
        "exploitationVectors": {
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          }
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "priority": {
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "type": "array",
          "items": {
            "$ref": "Association"
          }
        }
      }
    },
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object"
    },
    "TechnologyWatchListConfig": {
      "properties": {
        "technologies": {
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        }
      },
      "id": "TechnologyWatchListConfig",
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Evidence": {
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object",
      "properties": {
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Evidence"
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "properties": {
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevanceLevel": {
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "description": "The level of relevance.",
          "type": "string"
        }
      },
      "description": "Structured relevance analysis for a threat.",
      "type": "object"
    },
    "EnumerateAlertFacetsResponse": {
      "id": "EnumerateAlertFacetsResponse",
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "type": "array",
          "items": {
            "$ref": "Facet"
          }
        }
      },
      "description": "Response message for EnumerateAlertFacets.",
      "type": "object"
    },
    "GetPasswordResponse": {
      "id": "GetPasswordResponse",
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      },
      "description": "Response message for GetPassword.",
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "description": "Response message for UpsertConfiguration.",
      "type": "object",
      "id": "UpsertConfigurationResponse",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Audit": {
      "description": "Tracks basic CRUD facts.",
      "type": "object",
      "id": "Audit",
      "properties": {
        "updateTime": {
          "description": "Output only. Time of creation or last update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time of creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "id": "MarkAlertAsFalsePositiveRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsFalsePositive.",
      "type": "object"
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "properties": {
        "priorityLevel": {
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        }
      },
      "description": "Structured priority analysis for a threat.",
      "type": "object"
    },
    "ConfigurationDetail": {
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "type": "object",
      "id": "ConfigurationDetail",
      "properties": {
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        },
        "customThreatScenario": {
          "$ref": "CustomThreatScenarioConfig",
          "description": "Custom Threat Scenario detail config."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        }
      }
    },
    "ConfigurationRevision": {
      "id": "ConfigurationRevision",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the Revision was created",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        }
      },
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "type": "object"
    },
    "ListConfigurationRevisionsResponse": {
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object",
      "id": "ListConfigurationRevisionsResponse",
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object"
    },
    "CustomerProfileSummary": {
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "type": "object",
      "id": "CustomerProfileSummary",
      "properties": {
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The entity type of the customer."
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      }
    },
    "MarkAlertAsReadRequest": {
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "description": "Request message for MarkAlertAsRead.",
      "type": "object"
    },
    "CustomerProfileCitation": {
      "description": "Citation information for the customer profile.",
      "type": "object",
      "properties": {
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCitation"
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "type": "object",
      "properties": {
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        }
      },
      "id": "FindingDetail"
    },
    "CustomerProfileCompany": {
      "description": "Company information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileCompany",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InitialAccessBrokerFindingDetail": {
      "id": "InitialAccessBrokerFindingDetail",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "type": "string"
        },
        "matchScore": {
          "format": "float",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object"
    },
    "CustomerProfileWebPresence": {
      "description": "Web presence information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileWebPresence",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the web presence.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListFindingsResponse": {
      "description": "Response message for ListFindings.",
      "type": "object",
      "id": "ListFindingsResponse",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "InsiderThreatAlertDetail": {
      "id": "InsiderThreatAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Captures the specific details of InsiderThreat alert.",
      "type": "object"
    },
    "CustomerProfileLocation": {
      "description": "Location information for the customer profile.",
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        }
      },
      "id": "CustomerProfileLocation"
    },
    "CustomerProfileProduct": {
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        }
      },
      "id": "CustomerProfileProduct",
      "description": "Product information for the customer profile.",
      "type": "object"
    },
    "CustomThreatScenarioConfig": {
      "id": "CustomThreatScenarioConfig",
      "properties": {
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "description": "Optional. Legacy metadata associated with this scenario/monitor."
        },
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "type": "object"
    },
    "ProductFix": {
      "description": "Contains details about a product fix.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Optional. The published time of the fix.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        }
      },
      "id": "ProductFix"
    },
    "Association": {
      "description": "Represents an association with a vulnerability.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association.",
          "type": "string"
        },
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        }
      },
      "id": "Association"
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "properties": {
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "type": "string",
          "format": "int64"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetCounts": {
          "description": "List of counts for the facet (if categorical).",
          "type": "array",
          "items": {
            "$ref": "FacetCount"
          }
        }
      },
      "id": "Facet"
    },
    "LegacyMetadata": {
      "id": "LegacyMetadata",
      "properties": {
        "aggregationEnabled": {
          "description": "Optional. Whether aggregation is enabled for alerts from this monitor.",
          "type": "boolean"
        },
        "creatorUserId": {
          "description": "Optional. User ID who created the monitor.",
          "type": "string"
        },
        "disabledCode": {
          "description": "Optional. Code indicating why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "legacyMonitorId": {
          "description": "Optional. Unique identifier of the legacy monitor.",
          "type": "string"
        },
        "tenantId": {
          "description": "Optional. ID of the tenant owning the monitor.",
          "type": "string"
        },
        "emailNotificationImmediate": {
          "description": "Optional. Whether email notifications are intermediate/immediate.",
          "type": "boolean"
        },
        "version": {
          "description": "Optional. Version of the monitor configuration.",
          "type": "integer",
          "format": "int32"
        },
        "staleTime": {
          "format": "google-datetime",
          "description": "Optional. Time the legacy monitor was considered stale.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Name of the legacy monitor.",
          "type": "string"
        },
        "templateId": {
          "description": "Optional. ID of the template this monitor was created from.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the legacy monitor.",
          "type": "string"
        },
        "aggregationSimilarity": {
          "format": "double",
          "description": "Optional. Similarity threshold for aggregation.",
          "type": "number"
        },
        "disabledReason": {
          "description": "Optional. Reason why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "conditionVersion": {
          "format": "int32",
          "description": "Optional. Version of the condition schema.",
          "type": "integer"
        },
        "updaterUserId": {
          "description": "Optional. User ID who last updated the monitor.",
          "type": "string"
        },
        "emailNotificationEnabled": {
          "description": "Optional. Whether email notifications are enabled.",
          "type": "boolean"
        }
      },
      "description": "Legacy metadata associated with this scenario/monitor.",
      "type": "object"
    },
    "CustomerProfileIndustry": {
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        }
      },
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile.",
      "type": "object"
    },
    "CustomerProfileSecurityConsiderations": {
      "description": "Security considerations for the customer profile.",
      "type": "object",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileSecurityConsiderations"
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "type": "object",
      "id": "CustomerProfilePerson",
      "properties": {
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        }
      }
    },
    "ListConfigurationsResponse": {
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListConfigurationsResponse",
      "description": "Response message for ListConfigurations.",
      "type": "object"
    },
    "TechnologyWatchListAlertThreshold": {
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "type": "object",
      "id": "TechnologyWatchListAlertThreshold",
      "properties": {
        "riskRatingMinimum": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Optional. The minimum risk rating for the alert.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "type": "array",
          "items": {
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "type": "string"
          }
        },
        "priorityMinimum": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The minimum priority for the alert.",
          "type": "string"
        },
        "cvssScoreMinimum": {
          "format": "float",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "type": "number"
        },
        "epssScoreMinimum": {
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "type": "number"
        }
      }
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "type": "object",
      "id": "MarkAlertAsTriagedRequest",
      "properties": {}
    },
    "CustomerProfileCitedString": {
      "description": "A string with citation ids.",
      "type": "object",
      "id": "CustomerProfileCitedString",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "properties": {
        "audit": {
          "description": "Output only. Audit information for the alert.",
          "readOnly": true,
          "$ref": "Audit"
        },
        "configurations": {
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "priorityAnalysis": {
          "$ref": "PriorityAnalysis",
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true
        },
        "findingCount": {
          "format": "int64",
          "description": "Output only. The number of findings associated with this alert.",
          "readOnly": true,
          "type": "string"
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "description": "Output only. State of the alert."
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true,
          "$ref": "RelevanceAnalysis"
        },
        "findings": {
          "description": "Output only. Findings that are covered by this alert.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "readOnly": true,
          "$ref": "AlertDetail"
        }
      },
      "id": "Alert",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "type": "object"
    },
    "MarkAlertAsDuplicateRequest": {
      "id": "MarkAlertAsDuplicateRequest",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "description": "Request message for MarkAlertAsDuplicate.",
      "type": "object"
    },
    "Finding": {
      "properties": {
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "severity": {
          "format": "float",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "deprecated": true,
          "type": "number"
        },
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "readOnly": true
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit data about the finding.",
          "readOnly": true
        }
      },
      "id": "Finding",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "type": "object"
    },
    "SearchFindingsResponse": {
      "id": "SearchFindingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        }
      },
      "description": "Response message for SearchFindings.",
      "type": "object"
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object"
    },
    "PublicExploit": {
      "description": "Contains details about a public exploit.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Optional. The size of the exploit.",
          "type": "string"
        },
        "exploitReliability": {
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        },
        "exploitGrade": {
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "type": "string"
        },
        "releaseTime": {
          "format": "google-datetime",
          "description": "Optional. The release time of the exploit.",
          "type": "string"
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        }
      },
      "id": "PublicExploit"
    },
    "TargetTechnologyAlertDetail": {
      "description": "Contains details for a technology watchlist alert.",
      "type": "object",
      "id": "TargetTechnologyAlertDetail",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      }
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "type": "string"
        },
        "matchScore": {
          "format": "float",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "description": "A detail object for a InsiderThreat finding.",
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "description": "Contains details for a technology watchlist finding.",
      "type": "object",
      "id": "TargetTechnologyFindingDetail",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      }
    },
    "MarkAlertAsResolvedRequest": {
      "description": "Request message for MarkAlertAsResolved.",
      "type": "object",
      "id": "MarkAlertAsResolvedRequest",
      "properties": {}
    },
    "MarkAlertAsEscalatedRequest": {
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object"
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "type": "object",
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "readOnly": true,
          "type": "string"
        },
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AlertDocumentTranslation"
    },
    "CustomerProfileContactInfo": {
      "description": "Contact information for the customer profile.",
      "type": "object",
      "properties": {
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileContactInfo"
    },
    "InitialAccessBrokerAlertDetail": {
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "InitialAccessBrokerAlertDetail"
    },
    "ListAlertsResponse": {
      "description": "Response message for ListAlerts.",
      "type": "object",
      "properties": {
        "alerts": {
          "description": "List of alerts.",
          "type": "array",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListAlertsResponse"
    },
    "Configuration": {
      "properties": {
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "description": "Optional. State of the configuration.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "audit": {
          "description": "Output only. Audit information for the configuration.",
          "readOnly": true,
          "$ref": "Audit"
        }
      },
      "id": "Configuration",
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "type": "object"
    },
    "CustomerProfileConfig": {
      "id": "CustomerProfileConfig",
      "properties": {
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCitation"
          }
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          }
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCompany"
          }
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        }
      },
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object"
    },
    "FacetCount": {
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object",
      "id": "FacetCount",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "format": "int32",
          "description": "Count of records with the value.",
          "type": "integer"
        }
      }
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "type": "object",
      "id": "SeverityAnalysis",
      "properties": {
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string"
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "severityLevel": {
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "description": "The level of severity.",
          "type": "string"
        }
      }
    },
    "AlertDetail": {
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        }
      },
      "id": "AlertDetail",
      "description": "Container for different types of alert details.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "AlertDocument": {
      "id": "AlertDocument",
      "properties": {
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true,
          "$ref": "AlertDocumentTranslation"
        },
        "content": {
          "description": "Output only. The content of the document.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "collectionTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the origin source collected the intel.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the intel was last updated by the source.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "readOnly": true,
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the document.",
          "readOnly": true,
          "type": "string"
        },
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true,
          "type": "string"
        },
        "ingestTime": {
          "description": "Output only. Time when GTI received the intel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A document that is associated with an alert.",
      "type": "object"
    },
    "DataLeakFindingDetail": {
      "description": "A detail object for a Data Leak finding.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "matchScore": {
          "format": "float",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number"
        }
      },
      "id": "DataLeakFindingDetail"
    }
  },
  "canonicalName": "Threat Intelligence Service",
  "description": "threatintelligence.googleapis.com API.",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "title": "Threat Intelligence API",
  "kind": "discovery#restDescription",
  "revision": "20260816",
  "name": "threatintelligence",
  "ownerName": "Google",
  "servicePath": "",
  "version": "v1beta",
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    }
  ],
  "id": "threatintelligence:v1beta",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "path": "v1beta/{+name}:generateOrgProfile",
          "description": "Triggers the generation of a Customer Profile for a project.",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "id": "threatintelligence.projects.generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "id": "threatintelligence.projects.configurations.get",
              "path": "v1beta/{+name}",
              "description": "Get a configuration by name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "required": true,
                  "pattern": "^projects/[^/]+/configurations/[^/]+$"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "id": "threatintelligence.projects.configurations.list",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "parameters": {
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Page size.",
                  "type": "integer"
                }
              },
              "path": "v1beta/{+parent}/configurations",
              "description": "Get a list of configurations that meet the filter criteria."
            },
            "upsert": {
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the configuration.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "publishTime": {
                  "format": "google-datetime",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "description": "Creates or updates a configuration.",
              "id": "threatintelligence.projects.configurations.upsert",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "path": "v1beta/{+parent}/revisions",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Specify ordering of response",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Page Size",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "required": true,
                      "pattern": "^projects/[^/]+/configurations/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent of the findings.",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "id": "threatintelligence.projects.findings.list"
            },
            "search": {
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                },
                "query": {
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Page size.",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "id": "threatintelligence.projects.findings.search"
            },
            "get": {
              "response": {
                "$ref": "Finding"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "parameters": {
                "name": {
                  "description": "Required. Name of the finding to get.",
                  "required": true,
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "id": "threatintelligence.projects.findings.get"
            }
          }
        },
        "alerts": {
          "methods": {
            "benign": {
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:benign",
              "description": "Marks an alert as benign - BENIGN.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "id": "threatintelligence.projects.alerts.benign"
            },
            "notActionable": {
              "id": "threatintelligence.projects.alerts.notActionable",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "path": "v1beta/{+name}:notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "id": "threatintelligence.projects.alerts.get",
              "path": "v1beta/{+name}",
              "description": "Get an alert by name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "triage": {
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "id": "threatintelligence.projects.alerts.triage"
            },
            "trackExternally": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "path": "v1beta/{+name}:trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              }
            },
            "read": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "id": "threatintelligence.projects.alerts.read",
              "path": "v1beta/{+name}:read",
              "description": "Marks an alert as read - READ.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              }
            },
            "falsePositive": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "id": "threatintelligence.projects.alerts.falsePositive",
              "path": "v1beta/{+name}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              }
            },
            "duplicate": {
              "path": "v1beta/{+name}:duplicate",
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "id": "threatintelligence.projects.alerts.duplicate",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "id": "threatintelligence.projects.alerts.list",
              "path": "v1beta/{+parent}/alerts",
              "description": "Get a list of alerts that meet the filter criteria.",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
[...]
