{
  "description": "threatintelligence.googleapis.com API.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1beta",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Threat Intelligence Service",
  "revision": "20260803",
  "schemas": {
    "Association": {
      "id": "Association",
      "properties": {
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the association.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        }
      },
      "description": "Represents an association with a vulnerability.",
      "type": "object"
    },
    "EnumerateAlertFacetsResponse": {
      "description": "Response message for EnumerateAlertFacets.",
      "type": "object",
      "properties": {
        "facets": {
          "items": {
            "$ref": "Facet"
          },
          "description": "List of facets and the counts.",
          "type": "array"
        }
      },
      "id": "EnumerateAlertFacetsResponse"
    },
    "MarkAlertAsNotActionableRequest": {
      "properties": {},
      "id": "MarkAlertAsNotActionableRequest",
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object"
    },
    "CustomerProfileCitedString": {
      "description": "A string with citation ids.",
      "type": "object",
      "id": "CustomerProfileCitedString",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the string.",
          "type": "array"
        }
      }
    },
    "MarkAlertAsResolvedRequest": {
      "properties": {},
      "id": "MarkAlertAsResolvedRequest",
      "description": "Request message for MarkAlertAsResolved.",
      "type": "object"
    },
    "TechnologyWatchListConfig": {
      "id": "TechnologyWatchListConfig",
      "properties": {
        "technologies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "type": "array"
        },
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        }
      },
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "type": "object"
    },
    "Evidence": {
      "properties": {
        "commonThemes": {
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array"
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Evidence",
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object"
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "type": "object",
      "id": "MarkAlertAsReadRequest",
      "properties": {}
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "CustomerProfileIndustry": {
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile.",
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration.",
      "type": "object"
    },
    "AlertDocument": {
      "description": "A document that is associated with an alert.",
      "type": "object",
      "properties": {
        "author": {
          "description": "Output only. The author of the document.",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "readOnly": true,
          "type": "string"
        },
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "readOnly": true,
          "type": "string"
        },
        "ingestTime": {
          "description": "Output only. Time when GTI received the intel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "translation": {
          "$ref": "AlertDocumentTranslation",
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "content": {
          "description": "Output only. The content of the document.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AlertDocument"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "TechnologyWatchListAlertThreshold": {
      "id": "TechnologyWatchListAlertThreshold",
      "properties": {
        "priorityMinimum": {
          "description": "Optional. The minimum priority for the alert.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "epssScoreMinimum": {
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "type": "number",
          "format": "float"
        },
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "type": "number",
          "format": "float"
        },
        "exploitationStates": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ]
          },
          "description": "Optional. The exploitation states of the alert.",
          "type": "array"
        },
        "riskRatingMinimum": {
          "description": "Optional. The minimum risk rating for the alert.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        }
      },
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyAlertDetail",
      "description": "Contains details for a technology watchlist alert.",
      "type": "object"
    },
    "AlertDocumentTranslation": {
      "properties": {
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "readOnly": true,
          "type": "string"
        },
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AlertDocumentTranslation",
      "description": "The translation of an alert document.",
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "description": "Contains details for a technology watchlist finding.",
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyFindingDetail"
    },
    "Configuration": {
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "state": {
          "description": "Optional. State of the configuration.",
          "type": "string",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true,
          "type": "string"
        },
        "audit": {
          "description": "Output only. Audit information for the configuration.",
          "readOnly": true,
          "$ref": "Audit"
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        }
      },
      "id": "Configuration"
    },
    "Audit": {
      "id": "Audit",
      "properties": {
        "createTime": {
          "description": "Output only. Time of creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        },
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time of creation or last update.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Tracks basic CRUD facts.",
      "type": "object"
    },
    "MarkAlertAsEscalatedRequest": {
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object",
      "id": "MarkAlertAsEscalatedRequest",
      "properties": {}
    },
    "InitialAccessBrokerFindingDetail": {
      "id": "InitialAccessBrokerFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object"
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "type": "object",
      "id": "CustomerProfilePerson",
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the person.",
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        }
      }
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "properties": {
        "facetCounts": {
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical).",
          "type": "array"
        },
        "totalCount": {
          "format": "int64",
          "description": "Total number of records that contain this facet with ANY value.",
          "type": "string"
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        }
      },
      "id": "Facet"
    },
    "ListConfigurationRevisionsResponse": {
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConfigurationRevisionsResponse",
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object"
    },
    "FacetCount": {
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object",
      "id": "FacetCount",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "description": "Count of records with the value.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "id": "MarkAlertAsDuplicateRequest"
    },
    "MarkAlertAsTriagedRequest": {
      "properties": {},
      "id": "MarkAlertAsTriagedRequest",
      "description": "Request message for MarkAlertAsTriaged.",
      "type": "object"
    },
    "FindingDetail": {
      "id": "FindingDetail",
      "properties": {
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerFindingDetail",
          "description": "Initial Access Broker finding detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "type": "object"
    },
    "VulnerabilityMatch": {
      "description": "Contains details about a vulnerability match.",
      "type": "object",
      "id": "VulnerabilityMatch",
      "properties": {
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "type": "number",
          "format": "float"
        },
        "publicExploits": {
          "description": "Optional. List of public exploits.",
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "matchedTechnologies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "type": "array"
        },
        "exploitationState": {
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ]
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array",
          "items": {
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ]
          }
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "readOnly": true,
          "type": "boolean"
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "exploitationVectors": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          },
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "type": "array"
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "type": "array",
          "items": {
            "$ref": "Association"
          }
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "riskRating": {
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "disclosureTime": {
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability.",
          "type": "string"
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "cvss3Score": {
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ListAlertsResponse": {
      "description": "Response message for ListAlerts.",
      "type": "object",
      "id": "ListAlertsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "description": "List of alerts.",
          "type": "array"
        }
      }
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "properties": {
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "entityType": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The entity type of the customer."
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        }
      },
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "type": "object"
    },
    "CustomerProfileCompany": {
      "description": "Company information for the customer profile.",
      "type": "object",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileCompany"
    },
    "CustomerProfileConfig": {
      "id": "CustomerProfileConfig",
      "properties": {
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCitation"
          }
        },
        "securityConsiderations": {
          "$ref": "CustomerProfileSecurityConsiderations",
          "description": "Optional. Security considerations for the organization."
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          }
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "webPresences": {
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "description": "Optional. Web presence of the organization.",
          "type": "array"
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "description": "Optional. The industries the organization is involved in.",
          "type": "array"
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "description": "Optional. The parent companies of the organization.",
          "type": "array"
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        }
      },
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object"
    },
    "SearchFindingsResponse": {
      "description": "Response message for SearchFindings.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "SearchFindingsResponse"
    },
    "CustomThreatScenarioConfig": {
      "properties": {
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        }
      },
      "id": "CustomThreatScenarioConfig",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "type": "object"
    },
    "SeverityAnalysis": {
      "properties": {
        "severityLevel": {
          "description": "The level of severity.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      },
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat.",
      "type": "object"
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array"
        }
      },
      "id": "InsiderThreatAlertDetail"
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        },
        "relevanceLevel": {
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "description": "The level of relevance.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        }
      },
      "description": "Structured relevance analysis for a threat.",
      "type": "object"
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        },
        "priorityLevel": {
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      },
      "description": "Structured priority analysis for a threat.",
      "type": "object"
    },
    "PublicExploit": {
      "description": "Contains details about a public exploit.",
      "type": "object",
      "properties": {
        "exploitReliability": {
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        },
        "exploitGrade": {
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "releaseTime": {
          "format": "google-datetime",
          "description": "Optional. The release time of the exploit.",
          "type": "string"
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Optional. The size of the exploit.",
          "type": "string"
        }
      },
      "id": "PublicExploit"
    },
    "CustomerProfileCitation": {
      "properties": {
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile.",
      "type": "object"
    },
    "CustomerProfileContactInfo": {
      "properties": {
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        }
      },
      "id": "CustomerProfileContactInfo",
      "description": "Contact information for the customer profile.",
      "type": "object"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object"
    },
    "ConfigurationDetail": {
      "properties": {
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        },
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        },
        "customThreatScenario": {
          "$ref": "CustomThreatScenarioConfig",
          "description": "Custom Threat Scenario detail config."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "type": "object"
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "type": "object",
      "id": "Finding",
      "properties": {
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "type": "array",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "readOnly": true
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "readOnly": true,
          "$ref": "Audit"
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "severity": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ProductFix": {
      "properties": {
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Optional. The published time of the fix.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        }
      },
      "id": "ProductFix",
      "description": "Contains details about a product fix.",
      "type": "object"
    },
    "InitialAccessBrokerAlertDetail": {
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array"
        }
      },
      "id": "InitialAccessBrokerAlertDetail"
    },
    "DataLeakFindingDetail": {
      "description": "A detail object for a Data Leak finding.",
      "type": "object",
      "id": "DataLeakFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      }
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "description": "List of findings.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "description": "Response message for ListFindings.",
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array"
        }
      },
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "type": "object"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "type": "object"
    },
    "ListConfigurationsResponse": {
      "id": "ListConfigurationsResponse",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "description": "Response message for ListConfigurations.",
      "type": "object"
    },
    "CustomerProfileWebPresence": {
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the web presence.",
          "type": "array"
        },
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        }
      },
      "id": "CustomerProfileWebPresence",
      "description": "Web presence information for the customer profile.",
      "type": "object"
    },
    "Alert": {
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "type": "object",
      "id": "Alert",
      "properties": {
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the alert.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ]
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true
        },
        "configurations": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "readOnly": true,
          "type": "array"
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "readOnly": true,
          "$ref": "AlertDetail"
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true,
          "$ref": "PriorityAnalysis"
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "readOnly": true,
          "type": "string"
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert.",
          "readOnly": true
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Findings that are covered by this alert.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "CustomerProfileLocation": {
      "properties": {
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        }
      },
      "id": "CustomerProfileLocation",
      "description": "Location information for the customer profile.",
      "type": "object"
    },
    "ConfigurationRevision": {
      "properties": {
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the Revision was created",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        }
      },
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object"
    },
    "MarkAlertAsBenignRequest": {
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object",
      "id": "MarkAlertAsBenignRequest",
      "properties": {}
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "id": "MarkAlertAsTrackedExternallyRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object"
    },
    "CustomerProfileSecurityConsiderations": {
      "description": "Security considerations for the customer profile.",
      "type": "object",
      "properties": {
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        }
      },
      "id": "CustomerProfileSecurityConsiderations"
    },
    "AlertDetail": {
      "description": "Container for different types of alert details.",
      "type": "object",
      "id": "AlertDetail",
      "properties": {
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        }
      }
    },
    "CustomerProfileProduct": {
      "properties": {
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the product.",
          "type": "array"
        }
      },
      "id": "CustomerProfileProduct",
      "description": "Product information for the customer profile.",
      "type": "object"
    },
    "InsiderThreatFindingDetail": {
      "description": "A detail object for a InsiderThreat finding.",
      "type": "object",
      "properties": {
        "matchScore": {
          "format": "float",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number"
        },
        "severity": {
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "id": "InsiderThreatFindingDetail"
    }
  },
  "title": "Threat Intelligence API",
  "resources": {
    "projects": {
      "resources": {
        "configurations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}"
                }
              },
              "description": "Get a configuration by name.",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.configurations.get",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              }
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "path": "v1beta/{+parent}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                }
              },
              "description": "Get a list of configurations that meet the filter criteria.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "upsert": {
              "request": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates or updates a configuration.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "publishTime": {
                  "format": "google-datetime",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "threatintelligence.projects.configurations.upsert",
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/configurations:upsert",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "UpsertConfigurationResponse"
              }
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "path": "v1beta/{+parent}/revisions",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Specify ordering of response",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Page Size",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "List configuration revisions that meet the filter criteria."
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "search": {
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "query": {
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "path": "v1beta/{+parent}/findings:search",
              "id": "threatintelligence.projects.findings.search",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent of the findings.",
                  "pattern": "^projects/[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "path": "v1beta/{+parent}/findings",
              "id": "threatintelligence.projects.findings.list",
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Finding"
              },
              "id": "threatintelligence.projects.findings.get",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Gets a specific document associated with an alert.",
                  "path": "v1beta/{+name}",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "read": {
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "description": "Marks an alert as read - READ.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              }
            },
            "triage": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.triage",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "getPassword": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Get the decrypted password of an alert.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.getPassword",
              "httpMethod": "GET",
              "path": "v1beta/{+name}:getPassword",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "escalate": {
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as escalated - ESCALATED.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.escalate",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:escalate"
            },
            "duplicate": {
              "id": "threatintelligence.projects.alerts.duplicate",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:duplicate",
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              }
            },
            "enumerateFacets": {
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "benign": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "path": "v1beta/{+name}:benign",
              "id": "threatintelligence.projects.alerts.benign",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Marks an alert as benign - BENIGN.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.alerts.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "description": "Get an alert by name."
            },
            "resolve": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "id": "threatintelligence.projects.alerts.resolve",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:resolve",
              "description": "Marks an alert to closed state - RESOLVED.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "path": "v1beta/{+parent}/alerts",
              "id": "threatintelligence.projects.alerts.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "pattern": "^projects/[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "type": "string"
                }
              },
              "description": "Get a list of alerts that meet the filter criteria.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "falsePositive": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              }
            },
            "notActionable": {
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "id": "threatintelligence.projects.alerts.notActionable",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:notActionable",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "trackExternally": {
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.trackExternally",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:trackExternally",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Triggers the generation of a Customer Profile for a project.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path"
            }
          },
          "id": "threatintelligence.projects.generateOrgProfile",
          "httpMethod": "POST",
          "path": "v1beta/{+name}:generateOrgProfile",
[...]
