{
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "version": "v1beta",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "threatintelligence",
  "discoveryVersion": "v1",
  "id": "threatintelligence:v1beta",
  "revision": "20260803",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "id": "threatintelligence.projects.generateOrgProfile",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "description": "Triggers the generation of a Customer Profile for a project.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "v1beta/{+name}:generateOrgProfile",
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "findings": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the finding to get.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Finding"
              },
              "id": "threatintelligence.projects.findings.get",
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "search": {
              "path": "v1beta/{+parent}/findings:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "query": {
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "threatintelligence.projects.findings.search",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "parameters": {
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the findings.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.findings.list",
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/findings"
            }
          }
        },
        "alerts": {
          "methods": {
            "falsePositive": {
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:falsePositive",
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.falsePositive",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              }
            },
            "get": {
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.get",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "description": "Get an alert by name.",
              "httpMethod": "GET"
            },
            "enumerateFacets": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts.",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              }
            },
            "triage": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.triage",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "path": "v1beta/{+name}:triage"
            },
            "duplicate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.duplicate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:duplicate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              }
            },
            "notActionable": {
              "path": "v1beta/{+name}:notActionable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "id": "threatintelligence.projects.alerts.notActionable",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "httpMethod": "POST"
            },
            "trackExternally": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.trackExternally",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:trackExternally",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              }
            },
            "resolve": {
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.resolve",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "description": "Marks an alert to closed state - RESOLVED.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:resolve"
            },
            "benign": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.benign",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "description": "Marks an alert as benign - BENIGN.",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:benign",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              }
            },
            "read": {
              "path": "v1beta/{+name}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.read",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "description": "Marks an alert as read - READ.",
              "httpMethod": "POST"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/alerts",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query"
                }
              },
              "id": "threatintelligence.projects.alerts.list",
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "description": "Get a list of alerts that meet the filter criteria."
            },
            "getPassword": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:getPassword",
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.getPassword",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "description": "Get the decrypted password of an alert.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "escalate": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "id": "threatintelligence.projects.alerts.escalate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "path": "v1beta/{+name}:escalate"
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path"
                    }
                  },
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "description": "Gets a specific document associated with an alert.",
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.configurations.get",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "description": "Get a configuration by name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET"
            },
            "upsert": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the configuration.",
                  "location": "path"
                },
                "publishTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "id": "threatintelligence.projects.configurations.upsert",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "description": "Creates or updates a configuration."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/configurations",
              "httpMethod": "GET",
              "id": "threatintelligence.projects.configurations.list",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "description": "Get a list of configurations that meet the filter criteria.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListConfigurationsResponse"
              }
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/revisions",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "location": "path",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Page Size",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Specify ordering of response",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "description": "List configuration revisions that meet the filter criteria."
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Threat Intelligence API",
  "servicePath": "",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/"
    }
  ],
  "version_module": true,
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "schemas": {
    "InitialAccessBrokerFindingDetail": {
      "id": "InitialAccessBrokerFindingDetail",
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "DataLeakFindingDetail": {
      "id": "DataLeakFindingDetail",
      "description": "A detail object for a Data Leak finding.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "type": "number",
          "format": "float",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      }
    },
    "EnumerateAlertFacetsResponse": {
      "properties": {
        "facets": {
          "type": "array",
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          }
        }
      },
      "type": "object",
      "id": "EnumerateAlertFacetsResponse",
      "description": "Response message for EnumerateAlertFacets."
    },
    "AlertDocumentTranslation": {
      "id": "AlertDocumentTranslation",
      "description": "The translation of an alert document.",
      "type": "object",
      "properties": {
        "translatedTitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated title of the document."
        },
        "translatedContent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated content of the document."
        }
      }
    },
    "TechnologyWatchListConfig": {
      "id": "TechnologyWatchListConfig",
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "properties": {
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        },
        "technologies": {
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "id": "TargetTechnologyFindingDetail",
      "description": "Contains details for a technology watchlist finding.",
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      }
    },
    "MarkAlertAsEscalatedRequest": {
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated.",
      "properties": {},
      "type": "object"
    },
    "MarkAlertAsReadRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "description": "Request message for MarkAlertAsRead."
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "description": "Company information for the customer profile.",
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Configuration": {
      "id": "Configuration",
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "properties": {
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable name for the configuration."
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ]
        },
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit information for the configuration.",
          "$ref": "Audit"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        }
      },
      "type": "object"
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "description": "Request message for MarkAlertAsNotActionable.",
      "properties": {},
      "type": "object"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        }
      }
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "description": "Request message for MarkAlertAsResolved.",
      "properties": {},
      "type": "object"
    },
    "SeverityAnalysis": {
      "properties": {
        "severityLevel": {
          "description": "The level of severity.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "type": "string"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string"
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat."
    },
    "Alert": {
      "id": "Alert",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "properties": {
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        },
        "duplicateOf": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short title for the alert."
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true
        },
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert."
        },
        "priorityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "$ref": "PriorityAnalysis"
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "description": "Output only. State of the alert.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "readOnly": true,
          "type": "string"
        },
        "configurations": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          }
        },
        "findingCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of findings associated with this alert."
        },
        "etag": {
          "type": "string",
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "findings": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Findings that are covered by this alert.",
          "items": {
            "type": "string"
          }
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the alert."
        }
      },
      "type": "object"
    },
    "CustomerProfileConfig": {
      "id": "CustomerProfileConfig",
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "securityConsiderations": {
          "$ref": "CustomerProfileSecurityConsiderations",
          "description": "Optional. Security considerations for the organization."
        },
        "locations": {
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array"
        },
        "parentCompanies": {
          "type": "array",
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          }
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "contactInfo": {
          "type": "array",
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          }
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "executives": {
          "type": "array",
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "industries": {
          "type": "array",
          "description": "Optional. The industries the organization is involved in.",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array"
        }
      }
    },
    "ListAlertsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "alerts": {
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        }
      },
      "id": "ListAlertsResponse",
      "description": "Response message for ListAlerts."
    },
    "AlertDocument": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true,
          "type": "string"
        },
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation",
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the document, if available."
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "content": {
          "description": "Output only. The content of the document.",
          "readOnly": true,
          "type": "string"
        },
        "ingestTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when GTI received the intel."
        },
        "author": {
          "description": "Output only. The author of the document.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the intel item from the source."
        }
      },
      "id": "AlertDocument",
      "description": "A document that is associated with an alert."
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "type": "object",
      "properties": {
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "parentCompany": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The parent company of the customer."
        },
        "brands": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of brands."
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      }
    },
    "Association": {
      "properties": {
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        },
        "type": {
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "description": "Required. The type of the association.",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Association",
      "description": "Represents an association with a vulnerability."
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AlertDetail": {
      "type": "object",
      "properties": {
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerAlertDetail",
          "description": "Initial Access Broker alert detail type."
        }
      },
      "id": "AlertDetail",
      "description": "Container for different types of alert details."
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "properties": {
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        }
      },
      "id": "CustomerProfileSecurityConsiderations",
      "description": "Security considerations for the customer profile."
    },
    "CustomerProfileProduct": {
      "id": "CustomerProfileProduct",
      "description": "Product information for the customer profile.",
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Required. The brand of the product."
        }
      }
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "type": "object"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally."
    },
    "TechnologyWatchListAlertThreshold": {
      "properties": {
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "type": "number",
          "format": "float"
        },
        "epssScoreMinimum": {
          "type": "number",
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0]."
        },
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          },
          "type": "array"
        },
        "riskRatingMinimum": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Optional. The minimum risk rating for the alert.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "priorityMinimum": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The minimum priority for the alert.",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting."
    },
    "InsiderThreatAlertDetail": {
      "type": "object",
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "FacetCount": {
      "id": "FacetCount",
      "description": "FacetCount represents a count of records with each facet value.",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Count of records with the value."
        }
      },
      "type": "object"
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "description": "Structured relevance analysis for a threat.",
      "type": "object",
      "properties": {
        "relevant": {
          "type": "boolean",
          "description": "Indicates whether the threat is considered relevant."
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevanceLevel": {
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "description": "The level of relevance.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        }
      }
    },
    "ListConfigurationsResponse": {
      "id": "ListConfigurationsResponse",
      "description": "Response message for ListConfigurations.",
      "properties": {
        "configurations": {
          "type": "array",
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "type": "object"
    },
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile.",
      "properties": {
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "retrievalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the citation was retrieved."
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        }
      },
      "type": "object"
    },
    "Finding": {
      "type": "object",
      "properties": {
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit data about the finding.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "severity": {
          "deprecated": true,
          "type": "number",
          "format": "float",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source."
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reoccurrenceTimes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding."
        },
        "severityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis"
        }
      },
      "id": "Finding",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest."
    },
    "TargetTechnologyAlertDetail": {
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "id": "TargetTechnologyAlertDetail",
      "description": "Contains details for a technology watchlist alert."
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListConfigurationRevisionsResponse": {
      "type": "object",
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListConfigurationRevisionsResponse",
      "description": "Response message for ListConfigurationRevisions."
    },
    "VulnerabilityMatch": {
      "id": "VulnerabilityMatch",
      "description": "Contains details about a vulnerability match.",
      "properties": {
        "exploitationConsequences": {
          "type": "array",
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ]
          }
        },
        "exploitationVectors": {
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "epssScore": {
          "type": "number",
          "format": "float",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87."
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          },
          "type": "array"
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "matchedTechnologies": {
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          }
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "cvss3Score": {
          "type": "number",
          "format": "float",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4."
        },
        "disclosureTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether a publicly available exploit exists."
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "items": {
            "$ref": "ProductFix"
          },
          "type": "array"
        },
        "riskRating": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "exploitationState": {
          "type": "string",
          "description": "Required. The exploitation state of the vulnerability.",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "publicExploits": {
          "type": "array",
          "description": "Optional. List of public exploits.",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "priority": {
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchFindingsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "findings": {
          "type": "array",
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          }
        }
      },
      "id": "SearchFindingsResponse",
      "description": "Response message for SearchFindings."
    },
    "ConfigurationDetail": {
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "type": "object",
      "properties": {
        "customThreatScenario": {
          "$ref": "CustomThreatScenarioConfig",
          "description": "Custom Threat Scenario detail config."
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        },
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MarkAlertAsBenignRequest": {
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsBenignRequest",
      "description": "Request message for MarkAlertAsBenign."
    },
    "ProductFix": {
      "id": "ProductFix",
      "description": "Contains details about a product fix.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        },
        "publishTime": {
          "description": "Optional. The published time of the fix.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CustomThreatScenarioConfig": {
      "id": "CustomThreatScenarioConfig",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "type": "object",
      "properties": {
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        }
      }
    },
    "PublicExploit": {
      "properties": {
        "exploitGrade": {
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "sizeBytes": {
          "description": "Optional. The size of the exploit.",
          "type": "string",
          "format": "int64"
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        },
        "exploitReliability": {
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ]
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PublicExploit",
      "description": "Contains details about a public exploit."
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "description": "A detail object for a InsiderThreat finding.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "type": "number",
          "format": "float",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive."
    },
    "FindingDetail": {
      "id": "FindingDetail",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "type": "object",
      "properties": {
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        }
      }
    },
    "CustomerProfilePerson": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        }
      },
      "id": "CustomerProfilePerson",
      "description": "Person information for the customer profile."
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration.",
      "type": "object",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CustomerProfileCitedString": {
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CustomerProfileCitedString",
      "description": "A string with citation ids."
    },
    "Audit": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Time of creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        },
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of creation or last update."
        }
      },
      "id": "Audit",
      "description": "Tracks basic CRUD facts."
    },
    "MarkAlertAsTriagedRequest": {
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsTriagedRequest",
      "description": "Request message for MarkAlertAsTriaged."
    },
    "MarkAlertAsDuplicateRequest": {
      "id": "MarkAlertAsDuplicateRequest",
      "description": "Request message for MarkAlertAsDuplicate.",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "type": "string",
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}"
        }
      }
    },
    "CustomerProfileWebPresence": {
      "type": "object",
      "properties": {
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the web presence.",
          "items": {
            "type": "string"
          }
        },
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        }
      },
      "id": "CustomerProfileWebPresence",
      "description": "Web presence information for the customer profile."
    },
    "Facet": {
      "id": "Facet",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "properties": {
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "type": "string",
          "format": "int64"
        },
        "facetCounts": {
          "type": "array",
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          }
        }
      },
      "type": "object"
    },
    "CustomerProfileLocation": {
      "id": "CustomerProfileLocation",
      "description": "Location information for the customer profile.",
      "properties": {
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigurationRevision": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the Revision was created"
        }
      },
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable."
    },
    "CustomerProfileIndustry": {
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile.",
      "type": "object",
      "properties": {
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "description": "Structured priority analysis for a threat.",
      "properties": {
        "priorityLevel": {
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "type": "string"
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
[...]
