{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "name": "toolresults",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "canonicalName": "Tool Results",
  "baseUrl": "https://toolresults.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "id": "toolresults:v1beta3",
  "servicePath": "",
  "rootUrl": "https://toolresults.googleapis.com/",
  "title": "Cloud Tool Results API",
  "resources": {
    "projects": {
      "methods": {
        "getSettings": {
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId"
          ],
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "toolresults.projects.getSettings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameters": {
            "projectId": {
              "description": "A Project id. Required.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "initializeSettings": {
          "id": "toolresults.projects.initializeSettings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A Project id. Required."
            }
          },
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings"
        }
      },
      "resources": {
        "histories": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "id": "toolresults.projects.histories.list",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "A Project id. Required.",
                  "type": "string"
                },
                "filterByName": {
                  "location": "query",
                  "type": "string",
                  "description": "If set, only return histories with the given name. Optional."
                },
                "pageToken": {
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "request": {
                "$ref": "History"
              },
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "type": "string",
                  "description": "A Project id. Required.",
                  "required": true,
                  "location": "path"
                },
                "requestId": {
                  "type": "string",
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "location": "query"
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "httpMethod": "POST",
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "response": {
                "$ref": "History"
              },
              "id": "toolresults.projects.histories.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "A Project id. Required.",
                  "type": "string"
                },
                "historyId": {
                  "description": "A History id. Required.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "httpMethod": "GET",
              "id": "toolresults.projects.histories.get",
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist"
            }
          },
          "resources": {
            "executions": {
              "methods": {
                "create": {
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "request": {
                    "$ref": "Execution"
                  },
                  "httpMethod": "POST",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameters": {
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string"
                    },
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "A History id. Required."
                    }
                  },
                  "id": "toolresults.projects.histories.executions.create",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true
                    },
                    "historyId": {
                      "required": true,
                      "location": "path",
                      "description": "A History id. Required.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "id": "toolresults.projects.histories.executions.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                },
                "patch": {
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "A Project id. Required.",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string"
                    },
                    "historyId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required."
                    },
                    "executionId": {
                      "description": "Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "toolresults.projects.histories.executions.patch",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "request": {
                    "$ref": "Execution"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameters": {
                    "historyId": {
                      "type": "string",
                      "required": true,
                      "description": "A History id. Required.",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "A Project id. Required.",
                      "type": "string"
                    },
                    "executionId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "An Execution id. Required."
                    }
                  },
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist"
                }
              },
              "resources": {
                "steps": {
                  "methods": {
                    "accessibilityClusters": {
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "httpMethod": "GET",
                      "parameters": {
                        "locale": {
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "type": "string",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "request": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameters": {
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "stepId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Step id. Required."
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path"
                        }
                      },
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "httpMethod": "POST",
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "response": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "description": "Required. An Execution id.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. A Project id.",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "description": "Required. A History id.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "parameters": {
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps"
                    },
                    "get": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameters": {
                        "stepId": {
                          "location": "path",
                          "description": "A Step id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path"
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A History id. Required.",
                          "required": true,
                          "location": "path"
                        },
                        "executionId": {
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "response": {
                        "$ref": "Step"
                      }
                    },
                    "getPerfMetricsSummary": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "parameters": {
                        "executionId": {
                          "description": "A tool results execution ID.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "The cloud project",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A tool results history ID.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "stepId": {
                          "type": "string",
                          "location": "path",
                          "description": "A tool results step ID.",
                          "required": true
                        }
                      },
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary"
                    },
                    "publishXunitXmlFiles": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Step"
                      },
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "parameters": {
                        "stepId": {
                          "type": "string",
                          "required": true,
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Project id. Required."
                        },
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Execution id. Required."
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path"
                        }
                      }
                    }
                  },
                  "resources": {
                    "perfSampleSeries": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path",
                              "required": true
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "filter": {
                              "repeated": true,
                              "type": "string",
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "location": "query",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ]
                            },
                            "executionId": {
                              "required": true,
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "type": "string"
                            },
                            "historyId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A tool results history ID."
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          }
                        },
                        "create": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "parameters": {
                            "stepId": {
                              "description": "A tool results step ID.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "historyId": {
                              "type": "string",
                              "location": "path",
                              "description": "A tool results history ID.",
                              "required": true
                            },
                            "executionId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A tool results execution ID."
                            },
                            "projectId": {
                              "location": "path",
                              "description": "The cloud project",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries"
                        },
                        "get": {
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "parameters": {
                            "historyId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A tool results history ID."
                            },
                            "stepId": {
                              "location": "path",
                              "description": "A tool results step ID.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A tool results execution ID."
                            },
                            "sampleSeriesId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A sample series id"
                            },
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project"
                            }
                          },
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "httpMethod": "GET",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}"
                        }
                      },
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "parameters": {
                                "stepId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results step ID.",
                                  "required": true
                                },
                                "projectId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "The cloud project"
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "description": "A sample series id",
                                  "location": "path",
                                  "required": true
                                },
                                "historyId": {
                                  "description": "A tool results history ID.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "httpMethod": "POST"
                            },
                            "list": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "parameters": {
                                "projectId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "The cloud project"
                                },
                                "executionId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "A tool results execution ID."
                                },
                                "pageSize": {
                                  "location": "query",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "description": "A sample series id"
                                },
                                "stepId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "A tool results step ID.",
                                  "location": "path"
                                },
                                "historyId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results history ID."
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response"
                                }
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list"
                            }
                          }
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "parameters": {
                            "executionId": {
                              "required": true,
                              "description": "An Execution id. Required.",
                              "type": "string",
                              "location": "path"
                            },
                            "historyId": {
                              "required": true,
                              "description": "A History id. Required.",
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query",
                              "type": "string"
                            },
                            "projectId": {
                              "type": "string",
                              "description": "A Project id. Required.",
                              "required": true,
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "type": "integer"
                            },
                            "stepId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A Step id. Required."
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          }
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "response": {
                            "$ref": "TestCase"
                          },
                          "httpMethod": "GET",
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "parameters": {
                            "historyId": {
                              "description": "A History id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "testCaseId": {
                              "location": "path",
                              "description": "A Test Case id. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "required": true,
                              "description": "A Execution id Required.",
                              "location": "path",
                              "type": "string"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "stepId": {
                              "required": true,
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}"
                        },
                        "list": {
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional."
                            },
                            "executionId": {
                              "location": "path",
                              "description": "A Execution id Required.",
                              "required": true,
                              "type": "string"
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A History id. Required."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "stepId": {
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "required": true,
                              "location": "path"
                            },
                            "projectId": {
                              "required": true,
                              "description": "A Project id. Required.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "httpMethod": "GET"
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "location": "path",
                              "type": "string",
                              "description": "A tool results history ID.",
                              "required": true
                            },
                            "projectId": {
                              "location": "path",
                              "description": "The cloud project",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary"
                        }
                      }
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "description": "An Execution id. Required.",
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path"
                        },
                        "clusterId": {
                          "description": "A Cluster id Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "parameters": {
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. A History id.",
                          "location": "path"
                        },
                        "environmentId": {
                          "description": "Required. An Environment id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "executionId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. An Execution id."
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A Project id."
                        }
                      },
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Environment"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. A Project id."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "type": "integer"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. A History id."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A continuation token to resume the query at the next item.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "PendingGoogleUpdateInsight": {
      "id": "PendingGoogleUpdateInsight",
      "description": "This insight indicates that the hidden API usage originates from a Google-provided library. Users need not take any action.",
      "properties": {
        "nameOfGoogleLibrary": {
          "type": "string",
          "description": "The name of the Google-provided library with the non-SDK API dependency."
        }
      },
      "type": "object"
    },
    "IosTest": {
      "description": "A iOS mobile test specification",
      "properties": {
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "iosAppInfo": {
          "$ref": "IosAppInfo",
          "description": "Information about the application under test."
        },
        "iosTestLoop": {
          "$ref": "IosTestLoop",
          "description": "An iOS test loop."
        },
        "testTimeout": {
          "$ref": "Duration",
          "description": "Max time a test is allowed to run before it is automatically cancelled."
        },
        "iosXcTest": {
          "description": "An iOS XCTest.",
          "$ref": "IosXcTest"
        }
      },
      "type": "object",
      "id": "IosTest"
    },
    "InconclusiveDetail": {
      "properties": {
        "infrastructureFailure": {
          "description": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail.",
          "type": "boolean"
        },
        "abortedByUser": {
          "type": "boolean",
          "description": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running."
        },
        "hasErrorLogs": {
          "description": "If results are being provided to the user in certain cases of infrastructure failures",
          "type": "boolean"
        }
      },
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary.",
      "id": "InconclusiveDetail",
      "type": "object"
    },
    "LauncherActivityNotFound": {
      "description": "Failed to find the launcher activity of an app.",
      "id": "LauncherActivityNotFound",
      "properties": {},
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "type": "object",
      "description": "Response message for EnvironmentService.ListEnvironments.",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "A History id. Always set."
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch.",
          "type": "string"
        },
        "projectId": {
          "description": "A Project id. Always set.",
          "type": "string"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "Environment"
          },
          "description": "Environments. Always set."
        },
        "executionId": {
          "type": "string",
          "description": "A Execution id Always set."
        }
      }
    },
    "AndroidInstrumentationTest": {
      "id": "AndroidInstrumentationTest",
      "type": "object",
      "properties": {
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. Required"
        },
        "testTargets": {
          "type": "array",
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "items": {
            "type": "string"
          }
        },
        "useOrchestrator": {
          "type": "boolean",
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not."
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        }
      },
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests."
    },
    "Thumbnail": {
      "type": "object",
      "id": "Thumbnail",
      "properties": {
        "data": {
          "description": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set.",
          "type": "string",
          "format": "byte"
        },
        "widthPx": {
          "type": "integer",
          "description": "The width of the thumbnail, in pixels. Always set.",
          "format": "int32"
        },
        "heightPx": {
          "type": "integer",
          "description": "The height of the thumbnail, in pixels. Always set.",
          "format": "int32"
        },
        "contentType": {
          "description": "The thumbnail's content type, i.e. \"image/png\". Always set.",
          "type": "string"
        }
      },
      "description": "A single thumbnail, with its size and format."
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace, if one is available. Optional."
        }
      },
      "description": "Additional details for an iOS app crash.",
      "type": "object"
    },
    "ListStepAccessibilityClustersResponse": {
      "properties": {
        "name": {
          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents.",
          "type": "string"
        },
        "clusters": {
          "items": {
            "$ref": "SuggestionClusterProto"
          },
          "description": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters.",
      "id": "ListStepAccessibilityClustersResponse"
    },
    "ListPerfSamplesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        },
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        }
      },
      "id": "ListPerfSamplesResponse",
      "type": "object"
    },
    "CPUInfo": {
      "properties": {
        "cpuSpeedInGhz": {
          "type": "number",
          "description": "the CPU clock speed in GHz",
          "format": "float"
        },
        "cpuProcessor": {
          "type": "string",
          "description": "description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'"
        },
        "numberOfCores": {
          "description": "the number of CPU cores",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CPUInfo",
      "type": "object"
    },
    "BasicPerfSampleSeries": {
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "type": "object",
      "properties": {
        "perfMetricType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ]
        },
        "sampleSeriesLabel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ]
        },
        "perfUnit": {
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "BasicPerfSampleSeries"
    },
    "NonSdkApiUsageViolation": {
      "id": "NonSdkApiUsageViolation",
      "properties": {
        "uniqueApis": {
          "type": "integer",
          "description": "Total number of unique hidden API's accessed.",
          "format": "int32"
        },
        "apiSignatures": {
          "type": "array",
          "description": "Signatures of a subset of those hidden API's.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Additional details for a non-sdk API usage violation."
    },
    "UnusedRoboDirective": {
      "id": "UnusedRoboDirective",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      },
      "description": "Additional details of an unused robodirective."
    },
    "TestSuiteOverview": {
      "type": "object",
      "properties": {
        "xmlSource": {
          "description": "If this test suite was parsed from XML, this is the URI where the original XML file is stored. Note: Multiple test suites can share the same xml_source Returns INVALID_ARGUMENT if the uri format is not supported. - In create/response: optional - In update request: never",
          "$ref": "FileReference"
        },
        "failureCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of failed test cases, typically set by the service by parsing the xml_source. May also be set by the user. - In create/response: always set - In update request: never"
        },
        "skippedCount": {
          "description": "Number of test cases not run, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "type": "integer",
          "format": "int32"
        },
        "errorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of test cases in error, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "name": {
          "type": "string",
          "description": "The name of the test suite. - In create/response: always set - In update request: never"
        },
        "flakyCount": {
          "description": "Number of flaky test cases, set by the service by rolling up flaky test attempts. Present only for rollup test suite overview at environment level. A step cannot have flaky test cases.",
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of test cases, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "elapsedTime": {
          "$ref": "Duration",
          "description": "Elapsed time of test suite."
        }
      },
      "id": "TestSuiteOverview",
      "description": "A summary of a test suite result either parsed from XML or uploaded directly by a user. Note: the API related comments are for StepService only. This message is also being used in ExecutionService in a read only mode for the corresponding step."
    },
    "ResultsStorage": {
      "description": "The storage for test results.",
      "type": "object",
      "properties": {
        "resultsStoragePath": {
          "description": "The root directory for test results.",
          "$ref": "FileReference"
        },
        "xunitXmlFile": {
          "$ref": "FileReference",
          "description": "The path to the Xunit XML file."
        }
      },
      "id": "ResultsStorage"
    },
    "GraphicsStatsBucket": {
      "properties": {
        "renderMillis": {
          "format": "int64",
          "description": "Lower bound of render time in milliseconds.",
          "type": "string"
        },
        "frameCount": {
          "description": "Number of frames in the bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GraphicsStatsBucket",
      "type": "object"
    },
    "CrashDialogError": {
      "properties": {
        "crashPackage": {
          "type": "string",
          "description": "The name of the package that caused the dialog."
        }
      },
      "description": "Crash dialog was detected during the test execution",
      "type": "object",
      "id": "CrashDialogError"
    },
    "Duration": {
      "properties": {
        "seconds": {
          "format": "int64",
          "type": "string",
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years"
        },
        "nanos": {
          "format": "int32",
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.",
          "type": "integer"
        }
      },
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.",
      "id": "Duration",
      "type": "object"
    },
    "StartActivityNotFound": {
      "id": "StartActivityNotFound",
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "User provided intent failed to resolve to an activity."
    },
    "ToolOutputReference": {
      "properties": {
        "output": {
          "$ref": "FileReference",
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set"
        },
        "creationTime": {
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Timestamp"
        },
        "testCase": {
          "$ref": "TestCaseReference",
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional"
        }
      },
      "type": "object",
      "description": "A reference to a ToolExecution output file.",
      "id": "ToolOutputReference"
    },
    "AppStartTime": {
      "properties": {
        "initialDisplayTime": {
          "description": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial",
          "$ref": "Duration"
        },
        "fullyDrawnTime": {
          "$ref": "Duration",
          "description": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full"
        }
      },
      "id": "AppStartTime",
      "type": "object"
    },
    "AntiTamperingTermination": {
      "properties": {},
      "type": "object",
      "description": "Anti-tampering termination was detected.",
      "id": "AntiTamperingTermination"
    },
    "IosTestLoop": {
      "description": "A game loop test of an iOS application.",
      "type": "object",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      },
      "id": "IosTestLoop"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object"
    },
    "BlankScreen": {
      "type": "object",
      "id": "BlankScreen",
      "description": "A warning that Robo encountered a screen that was mostly blank; this may indicate a problem with the app.",
      "properties": {
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        }
      }
    },
    "IndividualOutcome": {
      "properties": {
        "outcomeSummary": {
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string"
        },
        "multistepNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0."
        },
        "runDuration": {
          "$ref": "Duration",
          "description": "How long it took for this step to run."
        },
        "stepId": {
          "type": "string"
        }
      },
      "id": "IndividualOutcome",
      "type": "object",
      "description": "Step Id and outcome of each individual step that was run as a group with other steps with the same configuration."
    },
    "AndroidTest": {
      "type": "object",
      "id": "AndroidTest",
      "description": "An Android mobile test specification.",
      "properties": {
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "androidAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "AndroidAppInfo"
        },
        "androidTestLoop": {
          "description": "An Android test loop.",
          "$ref": "AndroidTestLoop"
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        }
      }
    },
    "ToolExecutionStep": {
      "type": "object",
      "description": "Generic tool step to be used for binaries we do not explicitly support. For example: running cp to copy artifacts from one location to another.",
      "id": "ToolExecutionStep",
      "properties": {
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "A Tool execution. - In response: present if set by create/update request - In create/update request: optional"
        }
      }
    },
    "ShardSummary": {
      "description": "Result summary for a shard in an environment.",
      "type": "object",
      "properties": {
        "runs": {
          "description": "Summaries of the steps belonging to the shard. With flaky_test_attempts enabled from TestExecutionService, more than one run (Step) can present. And the runs will be sorted by multistep_number.",
          "type": "array",
          "items": {
            "$ref": "StepSummary"
          }
        },
        "shardResult": {
          "description": "Merged result of the shard.",
          "$ref": "MergedResult"
        }
      },
      "id": "ShardSummary"
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "properties": {
        "distinctScreens": {
          "format": "int32",
          "description": "Number of encountered distinct screens with non Android UI widgets.",
          "type": "integer"
        },
        "screenIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Subset of screens which contain non Android UI widgets."
        }
      },
      "type": "object",
      "id": "EncounteredNonAndroidUiWidgetScreen",
      "description": "Additional details about encountered screens with elements that are not Android UI widgets."
    },
    "ANR": {
[...]
