{
  "title": "Cloud Tool Results API",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    }
  },
  "baseUrl": "https://toolresults.googleapis.com/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "name": "toolresults",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "id": "toolresults:v1beta3",
  "kind": "discovery#restDescription",
  "schemas": {
    "ListPerfSampleSeriesResponse": {
      "type": "object",
      "properties": {
        "perfSampleSeries": {
          "type": "array",
          "items": {
            "$ref": "PerfSampleSeries"
          },
          "description": "The resulting PerfSampleSeries sorted by id"
        }
      },
      "id": "ListPerfSampleSeriesResponse"
    },
    "SuccessDetail": {
      "id": "SuccessDetail",
      "description": "Details for an outcome with a SUCCESS outcome summary. LINT.IfChange",
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process other than the app crashed.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "UpgradeInsight": {
      "properties": {
        "upgradeToVersion": {
          "description": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem",
          "type": "string"
        },
        "packageName": {
          "description": "The name of the package to be upgraded.",
          "type": "string"
        }
      },
      "id": "UpgradeInsight",
      "description": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs.",
      "type": "object"
    },
    "ScreenshotCluster": {
      "properties": {
        "clusterId": {
          "description": "A unique identifier for the cluster. @OutputOnly",
          "type": "string"
        },
        "keyScreen": {
          "description": "A singular screen that represents the cluster as a whole. This screen will act as the \"cover\" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm",
          "$ref": "Screen"
        },
        "screens": {
          "type": "array",
          "items": {
            "$ref": "Screen"
          },
          "description": "Full list of screens."
        },
        "activity": {
          "description": "A string that describes the activity of every screen in the cluster.",
          "type": "string"
        }
      },
      "id": "ScreenshotCluster",
      "type": "object"
    },
    "FailedToInstall": {
      "id": "FailedToInstall",
      "description": "Failed to install the App.",
      "properties": {},
      "type": "object"
    },
    "NonSdkApiUsageViolation": {
      "properties": {
        "uniqueApis": {
          "description": "Total number of unique hidden API's accessed.",
          "type": "integer",
          "format": "int32"
        },
        "apiSignatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Signatures of a subset of those hidden API's."
        }
      },
      "id": "NonSdkApiUsageViolation",
      "description": "Additional details for a non-sdk API usage violation.",
      "type": "object"
    },
    "TestCase": {
      "id": "TestCase",
      "properties": {
        "testCaseId": {
          "description": "A unique identifier within a Step for this Test Case.",
          "type": "string"
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution. @OutputOnly",
          "type": "array",
          "items": {
            "$ref": "ToolOutputReference"
          }
        },
        "testCaseReference": {
          "description": "Test case reference, e.g. name, class name and test suite name. Required.",
          "$ref": "TestCaseReference"
        },
        "stackTraces": {
          "description": "The stack trace details if the test case failed or encountered an error. The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated. Zero if the test case passed.",
          "type": "array",
          "items": {
            "$ref": "StackTrace"
          }
        },
        "elapsedTime": {
          "description": "The elapsed run time of the test case. Required.",
          "$ref": "Duration"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked. Present only for rollup test cases; test cases from steps that were run with the same configuration had both failure and success outcomes."
          ],
          "enum": [
            "passed",
            "failed",
            "error",
            "skipped",
            "flaky"
          ],
          "description": "The status of the test case. Required."
        },
        "skippedMessage": {
          "description": "Why the test case was skipped. Present only for skipped test case",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the test case.",
          "$ref": "Timestamp"
        },
        "endTime": {
          "description": "The end time of the test case.",
          "$ref": "Timestamp"
        }
      },
      "type": "object"
    },
    "NonSdkApiUsageViolationReport": {
      "id": "NonSdkApiUsageViolationReport",
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "properties": {
        "uniqueApis": {
          "description": "Total number of unique Non-SDK API's accessed.",
          "type": "integer",
          "format": "int32"
        },
        "minSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum API level required for the application to run."
        },
        "exampleApis": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages."
        },
        "targetSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the API Level on which the application is designed to run."
        }
      },
      "type": "object"
    },
    "DeviceOutOfMemory": {
      "type": "object",
      "id": "DeviceOutOfMemory",
      "description": "A warning that device ran out of memory",
      "properties": {}
    },
    "PublishXunitXmlFilesRequest": {
      "type": "object",
      "id": "PublishXunitXmlFilesRequest",
      "description": "Request message for StepService.PublishXunitXmlFiles.",
      "properties": {
        "xunitXmlFiles": {
          "type": "array",
          "items": {
            "$ref": "FileReference"
          },
          "description": "URI of the Xunit XML files to publish. The maximum size of the file this reference is pointing to is 50MB. Required."
        }
      }
    },
    "BatchCreatePerfSamplesResponse": {
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        }
      },
      "id": "BatchCreatePerfSamplesResponse",
      "type": "object"
    },
    "IosAppInfo": {
      "id": "IosAppInfo",
      "description": "iOS app information",
      "properties": {
        "name": {
          "description": "The name of the app. Required",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OverlappingUIElements": {
      "id": "OverlappingUIElements",
      "description": "A warning that Robo encountered a screen that has overlapping clickable elements; this may indicate a potential UI issue.",
      "properties": {
        "screenId": {
          "description": "The screen id of the elements",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource names of the overlapping screen elements",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "StepSummary": {
      "id": "StepSummary",
      "description": "Lightweight summary of a step within this execution.",
      "properties": {},
      "type": "object"
    },
    "FileReference": {
      "type": "object",
      "id": "FileReference",
      "description": "A reference to a file.",
      "properties": {
        "fileUri": {
          "description": "The URI of a file stored in Google Cloud Storage. For example: `http://storage.googleapis.com/mybucket/path/to/test.xml` or in Cloud Storage URI format: `gs://mybucket/path/to/test.xml` with version-specific info, `gs://mybucket/path/to/test.xml#1360383693690000` An INVALID_ARGUMENT error will be returned if the URI format is not supported. - In response: always set - In create/update request: always set",
          "type": "string"
        }
      }
    },
    "UnspecifiedWarning": {
      "properties": {},
      "id": "UnspecifiedWarning",
      "description": "Default unspecified warning.",
      "type": "object"
    },
    "ListStepThumbnailsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep).",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "id": "ListStepThumbnailsResponse",
      "description": "A response containing the thumbnails in a step."
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AndroidRoboTest": {
      "type": "object",
      "id": "AndroidRoboTest",
      "description": "A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes.",
      "properties": {
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app. Optional",
          "type": "string"
        },
        "maxSteps": {
          "description": "The max number of steps/actions Robo can execute. Default is no limit (0). Optional",
          "type": "integer",
          "format": "int32"
        },
        "bootstrapRunnerClass": {
          "description": "The runner class for the bootstrap. Optional",
          "type": "string"
        },
        "maxDepth": {
          "type": "integer",
          "format": "int32",
          "description": "The max depth of the traversal stack Robo can explore. Optional"
        },
        "bootstrapPackageId": {
          "description": "The java package for the bootstrap. Optional",
          "type": "string"
        }
      }
    },
    "Environment": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27.",
          "type": "string"
        },
        "historyId": {
          "description": "Output only. A History id.",
          "type": "string"
        },
        "creationTime": {
          "description": "Output only. The time when the Environment was created.",
          "$ref": "Timestamp"
        },
        "shardSummaries": {
          "type": "array",
          "items": {
            "$ref": "ShardSummary"
          },
          "description": "Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService."
        },
        "projectId": {
          "description": "Output only. A Project id.",
          "type": "string"
        },
        "resultsStorage": {
          "description": "The location where output files are stored in the user bucket.",
          "$ref": "ResultsStorage"
        },
        "environmentResult": {
          "description": "Merged result of the environment.",
          "$ref": "MergedResult"
        },
        "completionTime": {
          "description": "Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE.",
          "$ref": "Timestamp"
        },
        "environmentId": {
          "description": "Output only. An Environment id.",
          "type": "string"
        },
        "dimensionValue": {
          "description": "Dimension values describing the environment. Dimension values always consist of \"Model\", \"Version\", \"Locale\", and \"Orientation\". - In response: always set - In create request: always set - In update request: never set",
          "type": "array",
          "items": {
            "$ref": "EnvironmentDimensionValueEntry"
          }
        },
        "executionId": {
          "description": "Output only. An Execution id.",
          "type": "string"
        }
      },
      "id": "Environment",
      "description": "An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes)."
    },
    "IndividualOutcome": {
      "id": "IndividualOutcome",
      "description": "Step Id and outcome of each individual step that was run as a group with other steps with the same configuration.",
      "properties": {
        "stepId": {
          "type": "string"
        },
        "multistepNumber": {
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "type": "integer",
          "format": "int32"
        },
        "outcomeSummary": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "type": "string"
        },
        "runDuration": {
          "description": "How long it took for this step to run.",
          "$ref": "Duration"
        }
      },
      "type": "object"
    },
    "ListScreenshotClustersResponse": {
      "id": "ListScreenshotClustersResponse",
      "properties": {
        "clusters": {
          "description": "The set of clusters associated with an execution Always set",
          "type": "array",
          "items": {
            "$ref": "ScreenshotCluster"
          }
        }
      },
      "type": "object"
    },
    "Image": {
      "properties": {
        "sourceImage": {
          "description": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set.",
          "$ref": "ToolOutputReference"
        },
        "error": {
          "description": "An error explaining why the thumbnail could not be rendered.",
          "$ref": "Status"
        },
        "stepId": {
          "description": "The step to which the image is attached. Always set.",
          "type": "string"
        },
        "thumbnail": {
          "description": "The thumbnail.",
          "$ref": "Thumbnail"
        }
      },
      "id": "Image",
      "description": "An image, with a link to the main image and a thumbnail.",
      "type": "object"
    },
    "MergedResult": {
      "properties": {
        "outcome": {
          "description": "Outcome of the resource",
          "$ref": "Outcome"
        },
        "testSuiteOverviews": {
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "The combined and rolled-up result of each test suite that was run as part of this environment. Combining: When the test cases from a suite are run in different steps (sharding), the results are added back together in one overview. (e.g., if shard1 has 2 failures and shard2 has 1 failure than the overview failure_count = 3). Rollup: When test cases from the same suite are run multiple times (flaky), the results are combined (e.g., if testcase1.run1 fails, testcase1.run2 passes, and both testcase2.run1 and testcase2.run2 fail then the overview flaky_count = 1 and failure_count = 1)."
        },
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "description": "State of the resource",
          "type": "string"
        }
      },
      "id": "MergedResult",
      "description": "Merged test result for environment. If the environment has only one step (no reruns or shards), then the merged result is the same as the step result. If the environment has multiple shards and/or reruns, then the results of shards and reruns that belong to the same environment are merged into one environment result.",
      "type": "object"
    },
    "IosAppCrashed": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      },
      "id": "IosAppCrashed",
      "description": "Additional details for an iOS app crash."
    },
    "IosTest": {
      "type": "object",
      "id": "IosTest",
      "description": "A iOS mobile test specification",
      "properties": {
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "iosXcTest": {
          "description": "An iOS XCTest.",
          "$ref": "IosXcTest"
        },
        "iosAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "IosAppInfo"
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "iosTestLoop": {
          "description": "An iOS test loop.",
          "$ref": "IosTestLoop"
        }
      }
    },
    "FatalException": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the fatal exception. Optional.",
          "$ref": "StackTrace"
        }
      },
      "id": "FatalException",
      "description": "Additional details for a fatal exception."
    },
    "InsufficientCoverage": {
      "type": "object",
      "properties": {},
      "id": "InsufficientCoverage",
      "description": "A warning that Robo did not crawl potentially important parts of the app."
    },
    "NonSdkApi": {
      "type": "object",
      "id": "NonSdkApi",
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "properties": {
        "apiSignature": {
          "description": "The signature of the Non-SDK API",
          "type": "string"
        },
        "list": {
          "type": "string",
          "deprecated": true,
          "description": "Which list this API appears on",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q",
            "GREY_MAX_R",
            "GREY_MAX_S"
          ]
        },
        "exampleStackTraces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example stack traces of this API being called."
        },
        "invocationCount": {
          "description": "The total number of times this API was observed to have been called.",
          "type": "integer",
          "format": "int32"
        },
        "insights": {
          "description": "Optional debugging insights for non-SDK API violations.",
          "type": "array",
          "items": {
            "$ref": "NonSdkApiInsight"
          }
        }
      }
    },
    "AndroidInstrumentationTest": {
      "type": "object",
      "id": "AndroidInstrumentationTest",
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.",
      "properties": {
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class. Required",
          "type": "string"
        },
        "useOrchestrator": {
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not.",
          "type": "boolean"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        }
      }
    },
    "Execution": {
      "type": "object",
      "properties": {
        "executionId": {
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set",
          "type": "string"
        },
        "completionTime": {
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "specification": {
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional",
          "$ref": "Specification"
        },
        "dimensionDefinitions": {
          "type": "array",
          "items": {
            "$ref": "MatrixDimensionDefinition"
          },
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set"
        },
        "outcome": {
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "state": {
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "type": "string"
        },
        "creationTime": {
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "testExecutionMatrixId": {
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set",
          "type": "string"
        }
      },
      "id": "Execution",
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable."
    },
    "UIElementTooDeep": {
      "properties": {
        "screenStateId": {
          "description": "The screen state id of the element",
          "type": "string"
        },
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        },
        "depth": {
          "description": "The depth of the screen element",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "UIElementTooDeep",
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "type": "object"
    },
    "ListTestCasesResponse": {
      "type": "object",
      "id": "ListTestCasesResponse",
      "description": "Response message for StepService.ListTestCases.",
      "properties": {
        "testCases": {
          "description": "List of test cases.",
          "type": "array",
          "items": {
            "$ref": "TestCase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "StartActivityNotFound": {
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "StartActivityNotFound",
      "description": "User provided intent failed to resolve to an activity.",
      "type": "object"
    },
    "Any": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        },
        "typeUrl": {
          "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics.",
          "type": "string"
        }
      },
      "id": "Any",
      "description": " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }"
    },
    "IosTestLoop": {
      "type": "object",
      "properties": {
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        }
      },
      "id": "IosTestLoop",
      "description": "A game loop test of an iOS application."
    },
    "Step": {
      "id": "Step",
      "description": "A Step represents a single operation performed as part of Execution. A step can be used to represent the execution of a tool ( for example a test runner execution or an execution of a compiler). Steps can overlap (for instance two steps might have the same start time if some operations are done in parallel). Here is an example, let's consider that we have a continuous build is executing a test runner for each iteration. The workflow would look like: - user creates a Execution with id 1 - user creates a TestExecutionStep with id 100 for Execution 1 - user update TestExecutionStep with id 100 to add a raw xml log + the service parses the xml logs and returns a TestExecutionStep with updated TestResult(s). - user update the status of TestExecutionStep with id 100 to COMPLETE A Step can be updated until its state is set to COMPLETE at which points it becomes immutable.",
      "properties": {
        "name": {
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Clean build A PRECONDITION_FAILED will be returned upon creating a new step if it shares its name and dimension_value with an existing step. If two steps represent a similar action, but have different dimension values, they should share the same name. For instance, if the same set of tests is run on two different platforms, the two steps should have the same name. - In response: always set - In create request: always set - In update request: never set",
          "type": "string"
        },
        "dimensionValue": {
          "description": "If the execution containing this step has any dimension_definition set, then this field allows the child to specify the values of the dimensions. The keys must exactly match the dimension_definition of the execution. For example, if the execution has `dimension_definition = ['attempt', 'device']` then a step must define values for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']` If a step does not participate in one dimension of the matrix, the value for that dimension should be empty string. For example, if one of the tests is executed by a runner which does not support retries, the step could have `dimension_value = ['attempt': '', 'device': 'Nexus 6']` If the step does not participate in any dimensions of the matrix, it may leave dimension_value unset. A PRECONDITION_FAILED will be returned if any of the keys do not exist in the dimension_definition of the execution. A PRECONDITION_FAILED will be returned if another step in this execution already has the same name and dimension_value, but differs on other data fields, for example, step field is different. A PRECONDITION_FAILED will be returned if dimension_value is set, and there is a dimension_definition in the execution which is not specified as one of the keys. - In response: present if set by create - In create request: optional - In update request: never set",
          "type": "array",
          "items": {
            "$ref": "StepDimensionValueEntry"
          }
        },
        "testExecutionStep": {
          "description": "An execution of a test runner.",
          "$ref": "TestExecutionStep"
        },
        "multiStep": {
          "description": "Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members. - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional",
          "$ref": "MultiStep"
        },
        "hasImages": {
          "description": "Whether any of the outputs of this step are images whose thumbnails can be fetched with ListThumbnails. - In response: always set - In create/update request: never set",
          "type": "boolean"
        },
        "toolExecutionStep": {
          "description": "An execution of a tool (used for steps we don't explicitly support).",
          "$ref": "ToolExecutionStep"
        },
        "deviceUsageDuration": {
          "description": "How much the device resource is used to perform the test. This is the device usage used for billing purpose, which is different from the run_duration, for example, infrastructure failure won't be charged for device usage. PRECONDITION_FAILED will be returned if one attempts to set a device_usage on a step which already has this field set. - In response: present if previously set. - In create request: optional - In update request: optional",
          "$ref": "Duration"
        },
        "labels": {
          "description": "Arbitrary user-supplied key/value pairs that are associated with the step. Users are responsible for managing the key namespace such that keys don't accidentally collide. An INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the length of any of the keys or values exceeds 100 characters. - In response: always set - In create request: optional - In update request: optional; any new key/value pair will be added to the map, and any new value for an existing key will update that key's value",
          "type": "array",
          "items": {
            "$ref": "StepLabelsEntry"
          }
        },
        "creationTime": {
          "description": "The time when the step was created. - In response: always set - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "stepId": {
          "description": "A unique identifier within a Execution for this Step. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response: always set - In create/update request: never set",
          "type": "string"
        },
        "outcome": {
          "description": "Classification of the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "description": {
          "description": "A description of this tool For example: mvn clean package -D skipTests=true - In response: present if set by create/update request - In create/update request: optional",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -> COMPLETE A PRECONDITION_FAILED will be returned if an invalid transition is requested. It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times. - In response: always set - In create/update request: optional",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ]
        },
        "completionTime": {
          "description": "The time when the step status was set to complete. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "runDuration": {
          "description": "How long it took for this step to run. If unset, this is set to the difference between creation_time and completion_time when the step is set to the COMPLETE state. In some cases, it is appropriate to set this value separately: For instance, if a step is created, but the operation it represents is queued for a few minutes before it executes, it would be appropriate not to include the time spent queued in its run_duration. PRECONDITION_FAILED will be returned if one attempts to set a run_duration on a step which already has this field set. - In response: present if previously set; always present on COMPLETE step - In create request: optional - In update request: optional",
          "$ref": "Duration"
        }
      },
      "type": "object"
    },
    "ListHistoriesResponse": {
      "type": "object",
      "id": "ListHistoriesResponse",
      "description": "Response message for HistoryService.List",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        },
        "histories": {
          "type": "array",
          "items": {
            "$ref": "History"
          },
          "description": "Histories."
        }
      }
    },
    "GraphicsStats": {
      "type": "object",
      "id": "GraphicsStats",
      "description": "Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+.",
      "properties": {
        "highInputLatencyCount": {
          "description": "Total \"high input latency\" events.",
          "type": "string",
          "format": "int64"
        },
        "slowUiThreadCount": {
          "description": "Total \"slow UI thread\" events.",
          "type": "string",
          "format": "int64"
        },
        "missedVsyncCount": {
          "description": "Total \"missed vsync\" events.",
          "type": "string",
          "format": "int64"
        },
        "p99Millis": {
          "description": "99th percentile frame render time in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "slowBitmapUploadCount": {
          "description": "Total \"slow bitmap upload\" events.",
          "type": "string",
          "format": "int64"
        },
        "p50Millis": {
          "type": "string",
          "format": "int64",
          "description": "50th percentile frame render time in milliseconds."
        },
        "p90Millis": {
          "description": "90th percentile frame render time in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "totalFrames": {
          "description": "Total frames rendered by package.",
          "type": "string",
          "format": "int64"
        },
        "slowDrawCount": {
          "type": "string",
          "format": "int64",
          "description": "Total \"slow draw\" events."
        },
        "jankyFrames": {
          "type": "string",
          "format": "int64",
          "description": "Total frames with slow render time. Should be <= total_frames."
        },
        "buckets": {
          "description": "Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)",
          "type": "array",
          "items": {
            "$ref": "GraphicsStatsBucket"
          }
        },
        "p95Millis": {
          "type": "string",
          "format": "int64",
          "description": "95th percentile frame render time in milliseconds."
        }
      }
    },
    "TestTiming": {
      "type": "object",
      "id": "TestTiming",
      "description": "Testing timing break down to know phases.",
      "properties": {
        "testProcessDuration": {
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional",
          "$ref": "Duration"
        }
      }
    },
    "FailureDetail": {
      "type": "object",
      "id": "FailureDetail",
      "description": "Details for an outcome with a FAILURE outcome summary.",
      "properties": {
        "notInstalled": {
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
          "type": "boolean"
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start.",
          "type": "boolean"
        },
        "otherNativeCrash": {
          "description": "If a native process (including any other than the app) crashed.",
          "type": "boolean"
        },
        "deviceOutOfMemory": {
          "description": "If the device ran out of memory during a test, causing the test to crash.",
          "type": "boolean"
        },
        "crashed": {
          "description": "If the failure was severe because the system (app) under test crashed.",
          "type": "boolean"
        },
        "timedOut": {
          "description": "If the test overran some time limit, and that is why it failed.",
          "type": "boolean"
        },
        "failedRoboscript": {
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl.",
          "type": "boolean"
        }
      }
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "properties": {
        "executions": {
          "description": "Executions. Always set.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Executions to fetch.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PerfSampleSeries": {
      "properties": {
        "projectId": {
          "description": "The cloud project @OutputOnly",
          "type": "string"
        },
        "sampleSeriesId": {
          "description": "A sample series id @OutputOnly",
          "type": "string"
        },
        "basicPerfSampleSeries": {
          "description": "Basic series represented by a line chart",
          "$ref": "BasicPerfSampleSeries"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "executionId": {
          "description": "A tool results execution ID. @OutputOnly",
          "type": "string"
        },
        "stepId": {
          "description": "A tool results step ID. @OutputOnly",
          "type": "string"
        }
      },
      "id": "PerfSampleSeries",
      "description": "Resource representing a collection of performance samples (or data points)",
      "type": "object"
    },
    "PendingGoogleUpdateInsight": {
      "id": "PendingGoogleUpdateInsight",
      "description": "This insight indicates that the hidden API usage originates from a Google-provided library. Users need not take any action.",
      "properties": {
        "nameOfGoogleLibrary": {
          "description": "The name of the Google-provided library with the non-SDK API dependency.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InAppPurchasesFound": {
      "type": "object",
      "properties": {
        "inAppPurchasesFlowsStarted": {
          "description": "The total number of in-app purchases flows started.",
          "type": "integer",
          "format": "int32"
        },
        "inAppPurchasesFlowsExplored": {
          "description": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "InAppPurchasesFound",
      "description": "Additional details of in-app purchases encountered during the crawl."
    },
    "StackTrace": {
      "type": "object",
      "properties": {
        "exception": {
          "description": "The stack trace message. Required",
          "type": "string"
        }
      },
      "id": "StackTrace",
      "description": "A stacktrace."
    },
    "PerformedGoogleLogin": {
      "properties": {},
      "id": "PerformedGoogleLogin",
      "description": "A notification that Robo signed in with Google.",
      "type": "object"
    },
    "TestIssue": {
      "type": "object",
      "id": "TestIssue",
      "description": "An issue detected occurring during a test execution.",
      "properties": {
        "warning_migration": {
          "description": "Warning message with additional details of the issue. Should always be a message from com.google.devtools.toolresults.v1.warnings",
          "$ref": "Any"
        },
        "errorMessage": {
          "description": "A brief human-readable message describing the issue. Required.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Deprecated in favor of stack trace fields inside specific warnings.",
          "deprecated": true,
          "$ref": "StackTrace"
        },
        "severity": {
          "description": "Severity of issue. Required.",
          "enumDescriptions": [
            "Default unspecified severity. Do not use. For versioning only.",
            "Non critical issue, providing users with some info about the test run.",
            "Non critical issue, providing users with some hints on improving their testing experience, e.g., suggesting to use Game Loops.",
            "Potentially critical issue.",
            "Critical issue."
          ],
          "enum": [
            "unspecifiedSeverity",
            "info",
            "suggestion",
            "warning",
            "severe"
          ],
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type. Do not use. For versioning only.",
            "Issue is a fatal exception.",
            "Issue is a native crash.",
            "Issue is an ANR crash.",
            "Issue is an unused robo directive.",
            "Issue is a suggestion to use orchestrator.",
            "Issue with finding a launcher activity",
            "Issue with resolving a user-provided intent to start an activity",
            "A Robo script was not fully executed.",
            "A Robo script was fully and successfully executed.",
            "The APK failed to install.",
            "The app-under-test has deep links, but none were provided to Robo.",
            "App accessed a non-sdk Api.",
            "App accessed a non-sdk Api (new detailed report)",
            "Robo crawl encountered at least one screen with elements that are not Android UI widgets.",
            "Robo crawl encountered at least one probable login screen.",
            "Robo signed in with Google.",
            "iOS App crashed with an exception.",
            "iOS App crashed without an exception (e.g. killed).",
            "Robo crawl involved performing some monkey actions.",
            "Robo crawl used a Robo directive.",
            "Robo crawl used a Robo directive to ignore an UI element.",
            "Robo did not crawl some potentially important parts of the app.",
            "Robo crawl involved some in-app purchases.",
            "Crash dialog was detected during the test execution",
            "UI element depth is greater than the threshold",
            "Blank screen is found in the Robo crawl",
            "Overlapping UI elements are found in the Robo crawl",
            "An uncaught Unity exception was detected (these don't crash apps).",
            "Device running out of memory was detected",
            "Problems detected while collecting logcat",
            "Robo detected a splash screen provided by app (vs. Android OS splash screen).",
            "There was an issue with the assets in this test.",
            "Licensing protection termination (Pairip) was detected."
          ],
          "enum": [
            "unspecifiedType",
            "fatalException",
            "nativeCrash",
            "anr",
            "unusedRoboDirective",
            "compatibleWithOrchestrator",
            "launcherActivityNotFound",
            "startActivityNotFound",
            "incompleteRoboScriptExecution",
            "completeRoboScriptExecution",
            "failedToInstall",
            "availableDeepLinks",
            "nonSdkApiUsageViolation",
            "nonSdkApiUsageReport",
            "encounteredNonAndroidUiWidgetScreen",
            "encounteredLoginScreen",
            "performedGoogleLogin",
            "iosException",
            "iosCrash",
            "performedMonkeyActions",
            "usedRoboDirective",
            "usedRoboIgnoreDirective",
            "insufficientCoverage",
            "inAppPurchases",
            "crashDialogError",
            "uiElementsTooDeep",
            "blankScreen",
            "overlappingUiElements",
            "unityException",
            "deviceOutOfMemory",
            "logcatCollectionError",
            "detectedAppSplashScreen",
            "assetIssue",
            "licensingProtectionTermination"
          ],
          "description": "Type of issue. Required."
        },
        "category": {
          "type": "string",
          "description": "Category of issue. Required.",
          "enumDescriptions": [
            "Default unspecified category. Do not use. For versioning only.",
            "Issue is not specific to a particular test kind (e.g., a native crash).",
            "Issue is specific to Robo run."
          ],
          "enum": [
            "unspecifiedCategory",
            "common",
            "robo"
          ]
        }
      }
    },
    "Screen": {
      "type": "object",
      "properties": {
        "fileReference": {
          "description": "File reference of the png file. Required.",
          "type": "string"
        },
        "locale": {
          "description": "Locale of the device that the screenshot was taken on. Required.",
          "type": "string"
        },
        "model": {
          "description": "Model of the device that the screenshot was taken on. Required.",
          "type": "string"
        },
        "version": {
          "description": "OS version of the device that the screenshot was taken on. Required.",
          "type": "string"
        }
      },
      "id": "Screen"
    },
    "CPUInfo": {
      "properties": {
        "numberOfCores": {
          "description": "the number of CPU cores",
          "type": "integer",
          "format": "int32"
        },
        "cpuSpeedInGhz": {
          "description": "the CPU clock speed in GHz",
          "type": "number",
          "format": "float"
        },
        "cpuProcessor": {
          "description": "description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'",
          "type": "string"
        }
      },
      "id": "CPUInfo",
      "type": "object"
    },
    "AndroidAppInfo": {
      "properties": {
        "name": {
          "description": "The name of the app. Optional",
          "type": "string"
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name of the app. Required.",
          "type": "string"
        },
        "versionCode": {
          "description": "The internal version code of the app. Optional.",
          "type": "string"
        }
      },
      "id": "AndroidAppInfo",
      "description": "Android app information.",
      "type": "object"
    },
    "MultiStep": {
      "id": "MultiStep",
      "description": "Details when multiple steps are run with the same configuration as a group.",
      "properties": {
        "primaryStep": {
          "description": "Present if it is a primary (original) step.",
          "$ref": "PrimaryStep"
        },
        "primaryStepId": {
          "description": "Step Id of the primary (original) step, which might be this step.",
          "type": "string"
        },
        "multistepNumber": {
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Outcome": {
      "type": "object",
      "properties": {
        "successDetail": {
          "description": "More information about a SUCCESS outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SUCCESS. Optional",
          "$ref": "SuccessDetail"
        },
        "failureDetail": {
          "description": "More information about a FAILURE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not FAILURE. Optional",
          "$ref": "FailureDetail"
        },
        "inconclusiveDetail": {
          "description": "More information about an INCONCLUSIVE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not INCONCLUSIVE. Optional",
          "$ref": "InconclusiveDetail"
        },
        "summary": {
          "description": "The simplest way to interpret a result. Required",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "type": "string"
        },
        "skippedDetail": {
          "description": "More information about a SKIPPED outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED. Optional",
          "$ref": "SkippedDetail"
        }
      },
      "id": "Outcome",
      "description": "Interprets a result so that humans and machines can act on it."
    },
    "InconclusiveDetail": {
      "type": "object",
      "properties": {
        "abortedByUser": {
          "description": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running.",
          "type": "boolean"
        },
        "hasErrorLogs": {
          "description": "If results are being provided to the user in certain cases of infrastructure failures",
          "type": "boolean"
        },
        "infrastructureFailure": {
          "description": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail.",
          "type": "boolean"
        }
      },
      "id": "InconclusiveDetail",
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary."
    },
    "ResultsStorage": {
      "properties": {
        "resultsStoragePath": {
          "description": "The root directory for test results.",
          "$ref": "FileReference"
        },
        "xunitXmlFile": {
          "description": "The path to the Xunit XML file.",
          "$ref": "FileReference"
        }
      },
      "id": "ResultsStorage",
      "description": "The storage for test results.",
      "type": "object"
    },
    "IosRoboTest": {
      "type": "object",
      "id": "IosRoboTest",
      "description": "A Robo test for an iOS application.",
      "properties": {}
    },
    "MatrixDimensionDefinition": {
      "type": "object",
      "properties": {},
      "id": "MatrixDimensionDefinition",
      "description": "One dimension of the matrix of different runs of a step."
    },
    "AndroidTest": {
      "type": "object",
      "id": "AndroidTest",
      "description": "An Android mobile test specification.",
      "properties": {
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "androidTestLoop": {
          "description": "An Android test loop.",
          "$ref": "AndroidTestLoop"
        },
        "androidAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "AndroidAppInfo"
        },
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        }
      }
    },
    "SkippedDetail": {
      "type": "object",
      "id": "SkippedDetail",
      "description": "Details for an outcome with a SKIPPED outcome summary.",
      "properties": {
        "incompatibleDevice": {
          "description": "If the requested OS version doesn't run on the specific device model.",
          "type": "boolean"
        },
        "incompatibleArchitecture": {
          "description": "If the App doesn't run on the specific architecture, for example, x86.",
          "type": "boolean"
        },
        "incompatibleAppVersion": {
          "description": "If the App doesn't support the specific API level.",
          "type": "boolean"
        },
        "pendingTimeout": {
          "description": "Indicates that the test could not be scheduled in the requested time because no suitable device was available.",
          "type": "boolean"
        }
      }
    },
    "AndroidTestLoop": {
      "properties": {},
      "id": "AndroidTestLoop",
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent.",
      "type": "object"
    },
    "ANR": {
      "type": "object",
      "id": "ANR",
      "description": "Additional details for an ANR crash.",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the ANR crash. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "RegionProto": {
      "id": "RegionProto",
      "description": "A rectangular region.",
      "properties": {
        "leftPx": {
          "type": "integer",
          "format": "int32",
          "description": "The left side of the rectangle, in pixels. Always set."
        },
        "topPx": {
          "description": "The top of the rectangle, in pixels. Always set.",
          "type": "integer",
          "format": "int32"
        },
        "heightPx": {
          "type": "integer",
          "format": "int32",
          "description": "The height, in pixels. Always set."
        },
        "widthPx": {
          "description": "The width, in pixels. Always set.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "LicensingProtectionTermination": {
      "type": "object",
      "id": "LicensingProtectionTermination",
      "description": "Licensing protection termination (Pairip) was detected.",
      "properties": {}
    },
    "StepDimensionValueEntry": {
      "id": "StepDimensionValueEntry",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PerformedMonkeyActions": {
      "type": "object",
      "properties": {
        "totalActions": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of monkey actions performed during the crawl."
        }
      },
      "id": "PerformedMonkeyActions",
      "description": "A notification that Robo performed some monkey actions."
    },
    "ShardSummary": {
      "type": "object",
      "id": "ShardSummary",
      "description": "Result summary for a shard in an environment.",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "StepSummary"
          },
          "description": "Summaries of the steps belonging to the shard. With flaky_test_attempts enabled from TestExecutionService, more than one run (Step) can present. And the runs will be sorted by multistep_number."
        },
        "shardResult": {
          "description": "Merged result of the shard.",
          "$ref": "MergedResult"
        }
      }
    },
    "EncounteredLoginScreen": {
      "type": "object",
      "id": "EncounteredLoginScreen",
      "description": "Additional details about encountered login screens.",
      "properties": {
        "screenIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subset of login screens."
        },
        "distinctScreens": {
          "type": "integer",
          "format": "int32",
          "description": "Number of encountered distinct login screens."
        }
      }
    },
    "StepLabelsEntry": {
      "type": "object",
      "id": "StepLabelsEntry",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Specification": {
      "type": "object",
      "id": "Specification",
      "description": "The details about how to run the execution.",
      "properties": {
        "androidTest": {
          "description": "An Android mobile test execution specification.",
          "$ref": "AndroidTest"
        },
        "iosTest": {
          "description": "An iOS mobile test execution specification.",
          "$ref": "IosTest"
        }
      }
    },
    "ListPerfSamplesResponse": {
      "type": "object",
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        },
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        }
      },
      "id": "ListPerfSamplesResponse"
    },
    "LauncherActivityNotFound": {
      "properties": {},
      "id": "LauncherActivityNotFound",
      "description": "Failed to find the launcher activity of an app.",
      "type": "object"
    },
    "ToolExecution": {
      "id": "ToolExecution",
      "description": "An execution of an arbitrary tool. It could be a test runner or a tool copying artifacts or deploying code.",
      "properties": {
        "commandLineArguments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The full tokenized command line including the program name (equivalent to argv in a C program). - In response: present if set by create request - In create request: optional - In update request: never set"
        },
        "toolOutputs": {
          "type": "array",
          "items": {
            "$ref": "ToolOutputReference"
          },
          "description": "References to opaque files of any format output by the tool execution. The maximum allowed number of tool outputs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list"
        },
        "exitCode": {
          "description": "Tool execution exit code. This field will be set once the tool has exited. - In response: present if set by create/update request - In create request: optional - In update request: optional, a FAILED_PRECONDITION error will be returned if an exit_code is already set.",
          "$ref": "ToolExitCode"
        },
        "toolLogs": {
          "description": "References to any plain text logs output the tool execution. This field can be set before the tool has exited in order to be able to have access to a live view of the logs while the tool is running. The maximum allowed number of tool logs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list",
          "type": "array",
          "items": {
            "$ref": "FileReference"
          }
        }
      },
      "type": "object"
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "id": "ListEnvironmentsResponse",
      "description": "Response message for EnvironmentService.ListEnvironments.",
      "properties": {
        "executionId": {
          "description": "A Execution id Always set.",
          "type": "string"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "Environment"
          },
          "description": "Environments. Always set."
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch.",
          "type": "string"
        },
        "projectId": {
          "description": "A Project id. Always set.",
          "type": "string"
        },
        "historyId": {
          "description": "A History id. Always set.",
          "type": "string"
        }
      }
    },
    "DetectedAppSplashScreen": {
      "id": "DetectedAppSplashScreen",
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).",
      "properties": {},
      "type": "object"
    },
    "ToolOutputReference": {
      "type": "object",
      "id": "ToolOutputReference",
      "description": "A reference to a ToolExecution output file.",
      "properties": {
        "creationTime": {
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Timestamp"
        },
        "output": {
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set",
          "$ref": "FileReference"
        },
        "testCase": {
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "TestCaseReference"
        }
      }
    },
    "CrashDialogError": {
      "id": "CrashDialogError",
      "description": "Crash dialog was detected during the test execution",
      "properties": {
        "crashPackage": {
          "description": "The name of the package that caused the dialog.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestSuiteOverview": {
      "id": "TestSuiteOverview",
      "description": "A summary of a test suite result either parsed from XML or uploaded directly by a user. Note: the API related comments are for StepService only. This message is also being used in ExecutionService in a read only mode for the corresponding step.",
      "properties": {
        "name": {
          "description": "The name of the test suite. - In create/response: always set - In update request: never",
          "type": "string"
        },
        "totalCount": {
          "description": "Number of test cases, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "type": "integer",
          "format": "int32"
        },
        "elapsedTime": {
          "description": "Elapsed time of test suite.",
          "$ref": "Duration"
        },
        "xmlSource": {
          "description": "If this test suite was parsed from XML, this is the URI where the original XML file is stored. Note: Multiple test suites can share the same xml_source Returns INVALID_ARGUMENT if the uri format is not supported. - In create/response: optional - In update request: never",
          "$ref": "FileReference"
        },
        "failureCount": {
          "description": "Number of failed test cases, typically set by the service by parsing the xml_source. May also be set by the user. - In create/response: always set - In update request: never",
          "type": "integer",
          "format": "int32"
        },
        "errorCount": {
          "description": "Number of test cases in error, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "type": "integer",
          "format": "int32"
        },
        "skippedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of test cases not run, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "flakyCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of flaky test cases, set by the service by rolling up flaky test attempts. Present only for rollup test suite overview at environment level. A step cannot have flaky test cases."
        }
      },
      "type": "object"
    },
    "LogcatCollectionError": {
      "id": "LogcatCollectionError",
      "description": "A warning that there were issues in logcat collection.",
      "properties": {},
      "type": "object"
    },
    "Timestamp": {
      "type": "object",
      "id": "Timestamp",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.",
      "properties": {
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive."
        }
      }
    },
    "ToolExitCode": {
      "type": "object",
      "id": "ToolExitCode",
      "description": "Exit code from a tool execution.",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32",
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set"
        }
      }
    },
    "ListStepAccessibilityClustersResponse": {
      "type": "object",
      "id": "ListStepAccessibilityClustersResponse",
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters.",
      "properties": {
        "name": {
          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents.",
          "type": "string"
        },
        "clusters": {
          "description": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster.",
          "type": "array",
          "items": {
            "$ref": "SuggestionClusterProto"
          }
        }
      }
    },
    "ProjectSettings": {
      "properties": {
        "defaultBucket": {
          "description": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional",
          "type": "string"
        },
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set",
          "type": "string"
        }
      },
      "id": "ProjectSettings",
      "description": "Per-project settings for the Tool Results service.",
      "type": "object"
    },
    "SafeHtmlProto": {
      "type": "object",
      "id": "SafeHtmlProto",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message.",
          "type": "string"
        }
      }
    },
    "NonSdkApiInsight": {
      "type": "object",
      "properties": {
        "upgradeInsight": {
          "description": "An insight indicating that the hidden API usage originates from the use of a library that needs to be upgraded.",
          "$ref": "UpgradeInsight"
        },
        "matcherId": {
          "description": "A unique ID, to be used for determining the effectiveness of this particular insight in the context of a matcher. (required)",
          "type": "string"
        },
        "pendingGoogleUpdateInsight": {
          "description": "An insight indicating that the hidden API usage originates from a Google-provided library.",
          "$ref": "PendingGoogleUpdateInsight"
        },
        "exampleTraceMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional sample stack traces, for which this insight applies (there should be at least one)."
        }
      },
      "id": "NonSdkApiInsight",
      "description": "Non-SDK API insights (to address debugging solutions)."
    },
    "UnusedRoboDirective": {
      "type": "object",
      "id": "UnusedRoboDirective",
      "description": "Additional details of an unused robodirective.",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      }
    },
    "ListStepsResponse": {
      "id": "ListStepsResponse",
      "description": "Response message for StepService.List.",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more steps to read, by calling list again with this value in the page_token field.",
          "type": "string"
        },
        "steps": {
          "description": "Steps.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        }
      },
      "type": "object"
    },
    "AssetIssue": {
      "type": "object",
      "id": "AssetIssue",
      "description": "There was an issue with the assets in this test.",
      "properties": {}
    },
    "IosXcTest": {
      "type": "object",
      "id": "IosXcTest",
      "description": "A test of an iOS application that uses the XCTest framework.",
      "properties": {
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        },
        "xcodeVersion": {
          "description": "Xcode version that the test was run with.",
          "type": "string"
        }
      }
    },
    "UsedRoboDirective": {
      "id": "UsedRoboDirective",
      "description": "Additional details of a used Robo directive.",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ToolExecutionStep": {
      "properties": {
        "toolExecution": {
          "description": "A Tool execution. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "ToolExecution"
        }
      },
      "id": "ToolExecutionStep",
      "description": "Generic tool step to be used for binaries we do not explicitly support. For example: running cp to copy artifacts from one location to another.",
      "type": "object"
    },
    "AvailableDeepLinks": {
      "id": "AvailableDeepLinks",
      "description": "A suggestion to use deep links for a Robo run.",
      "properties": {},
      "type": "object"
    },
    "PerfSample": {
      "properties": {
        "sampleTime": {
          "description": "Timestamp of collection.",
          "$ref": "Timestamp"
        },
        "value": {
          "description": "Value observed",
          "type": "number",
          "format": "double"
        }
      },
      "id": "PerfSample",
      "description": "Resource representing a single performance measure or data point",
      "type": "object"
    },
    "Duration": {
      "id": "Duration",
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.",
      "properties": {
        "seconds": {
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "type": "object",
      "properties": {
        "distinctScreens": {
          "type": "integer",
          "format": "int32",
          "description": "Number of encountered distinct screens with non Android UI widgets."
        },
        "screenIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subset of screens which contain non Android UI widgets."
        }
      },
      "id": "EncounteredNonAndroidUiWidgetScreen",
      "description": "Additional details about encountered screens with elements that are not Android UI widgets."
    },
    "TestExecutionStep": {
      "id": "TestExecutionStep",
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field.",
      "properties": {
        "testSuiteOverviews": {
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)"
        },
        "testIssues": {
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional",
          "type": "array",
          "items": {
            "$ref": "TestIssue"
          }
        },
        "testTiming": {
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional",
          "$ref": "TestTiming"
        },
        "toolExecution": {
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional",
          "$ref": "ToolExecution"
        }
      },
      "type": "object"
    },
    "NativeCrash": {
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the native crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "id": "NativeCrash",
      "description": "Additional details for a native crash.",
      "type": "object"
    },
    "PerfMetricsSummary": {
      "properties": {
        "executionId": {
          "description": "A tool results execution ID. @OutputOnly",
          "type": "string"
        },
        "stepId": {
          "description": "A tool results step ID. @OutputOnly",
          "type": "string"
        },
        "projectId": {
          "description": "The cloud project @OutputOnly",
          "type": "string"
        },
        "graphicsStats": {
          "description": "Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run.",
          "deprecated": true,
          "$ref": "GraphicsStats"
        },
        "perfMetrics": {
          "description": "Set of resource collected",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "perfMetricTypeUnspecified",
              "memory",
              "cpu",
              "network",
              "graphics"
            ],
            "type": "string"
          }
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "perfEnvironment": {
          "description": "Describes the environment in which the performance metrics were collected",
          "$ref": "PerfEnvironment"
        },
        "appStartTime": {
          "$ref": "AppStartTime"
        }
      },
      "id": "PerfMetricsSummary",
      "description": "A summary of perf metrics collected and performance environment info",
      "type": "object"
    },
    "SuggestionClusterProto": {
      "properties": {
        "category": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknownCategory",
            "contentLabeling",
            "touchTargetSize",
            "lowContrast",
            "implementation"
          ],
          "description": "Category in which these types of suggestions should appear. Always set."
        },
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "SuggestionProto"
          },
          "description": "A sequence of suggestions. All of the suggestions within a cluster must have the same SuggestionPriority and belong to the same SuggestionCategory. Suggestions with the same screenshot URL should be adjacent."
        }
      },
      "id": "SuggestionClusterProto",
      "description": "A set of similar suggestions that we suspect are closely related. This proto and most of the nested protos are branched from foxandcrown.prelaunchreport.service.SuggestionClusterProto, replacing PLR's dependencies with FTL's.",
      "type": "object"
    },
    "UsedRoboIgnoreDirective": {
      "id": "UsedRoboIgnoreDirective",
      "description": "Additional details of a used Robo directive with an ignore action. Note: This is a different scenario than unused directive.",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was ignored.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "description": "A single thumbnail, with its size and format.",
      "properties": {
        "contentType": {
          "description": "The thumbnail's content type, i.e. \"image/png\". Always set.",
          "type": "string"
        },
        "heightPx": {
          "description": "The height of the thumbnail, in pixels. Always set.",
          "type": "integer",
          "format": "int32"
        },
        "widthPx": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the thumbnail, in pixels. Always set."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set."
        }
      },
      "type": "object"
    },
    "BasicPerfSampleSeries": {
      "id": "BasicPerfSampleSeries",
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "properties": {
        "perfMetricType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ]
        },
        "perfUnit": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ],
          "type": "string"
        },
        "sampleSeriesLabel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ]
        }
      },
      "type": "object"
    },
    "BatchCreatePerfSamplesRequest": {
      "type": "object",
      "id": "BatchCreatePerfSamplesRequest",
      "description": "The request must provide up to a maximum of 5000 samples to be created; a larger sample size will cause an INVALID_ARGUMENT error",
      "properties": {
        "perfSamples": {
          "description": "The set of PerfSamples to create should not include existing timestamps",
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        }
      }
    },
    "AppStartTime": {
      "type": "object",
      "properties": {
        "fullyDrawnTime": {
          "description": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full",
          "$ref": "Duration"
        },
        "initialDisplayTime": {
          "description": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial",
          "$ref": "Duration"
        }
      },
      "id": "AppStartTime"
    },
    "History": {
      "id": "History",
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.",
[...]
