{
  "baseUrl": "https://toolresults.googleapis.com/",
  "canonicalName": "Tool Results",
  "version": "v1beta3",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "id": "toolresults:v1beta3",
  "rootUrl": "https://toolresults.googleapis.com/",
  "name": "toolresults",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260903",
  "ownerDomain": "google.com",
  "basePath": "",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "title": "Cloud Tool Results API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "initializeSettings": {
          "id": "toolresults.projects.initializeSettings",
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "description": "A Project id. Required.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST"
        },
        "getSettings": {
          "parameters": {
            "projectId": {
              "description": "A Project id. Required.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "toolresults.projects.getSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "projectId"
          ],
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings"
        }
      },
      "resources": {
        "histories": {
          "methods": {
            "create": {
              "id": "toolresults.projects.histories.create",
              "parameterOrder": [
                "projectId"
              ],
              "request": {
                "$ref": "History"
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "A Project id. Required."
                },
                "requestId": {
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "id": "toolresults.projects.histories.list",
              "httpMethod": "GET",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameterOrder": [
                "projectId"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A continuation token to resume the query at the next item. Optional."
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "A Project id. Required."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional."
                },
                "filterByName": {
                  "location": "query",
                  "description": "If set, only return histories with the given name. Optional.",
                  "type": "string"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "A Project id. Required.",
                  "required": true
                },
                "historyId": {
                  "type": "string",
                  "description": "A History id. Required.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "id": "toolresults.projects.histories.get",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "executions": {
              "resources": {
                "clusters": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "projectId": {
                          "description": "A Project id. Required.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A History id. Required."
                        },
                        "clusterId": {
                          "description": "A Cluster id Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "An Execution id. Required."
                        }
                      }
                    }
                  }
                },
                "steps": {
                  "resources": {
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "description": "An Execution id. Required.",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional."
                            },
                            "stepId": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "A Step id. Required."
                            },
                            "historyId": {
                              "required": true,
                              "description": "A History id. Required.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "httpMethod": "GET",
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "executionId": {
                              "location": "path",
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "required": true
                            },
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project",
                              "required": true
                            },
                            "historyId": {
                              "location": "path",
                              "type": "string",
                              "description": "A tool results history ID.",
                              "required": true
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results step ID."
                            }
                          },
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "parameters": {
                            "executionId": {
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "required": true,
                              "type": "string"
                            },
                            "historyId": {
                              "required": true,
                              "description": "A tool results history ID.",
                              "location": "path",
                              "type": "string"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "sampleSeriesId": {
                              "type": "string",
                              "description": "A sample series id",
                              "required": true,
                              "location": "path"
                            },
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          }
                        },
                        "create": {
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "stepId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A tool results step ID."
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "projectId": {
                              "type": "string",
                              "required": true,
                              "description": "The cloud project",
                              "location": "path"
                            },
                            "historyId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID."
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create"
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "parameters": {
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The cloud project"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "filter": {
                              "repeated": true,
                              "type": "string",
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "location": "query",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ]
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A tool results history ID.",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries"
                        }
                      },
                      "resources": {
                        "samples": {
                          "methods": {
                            "list": {
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "httpMethod": "GET",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "parameters": {
                                "projectId": {
                                  "required": true,
                                  "location": "path",
                                  "description": "The cloud project",
                                  "type": "string"
                                },
                                "sampleSeriesId": {
                                  "description": "A sample series id",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "format": "int32",
                                  "type": "integer",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000"
                                },
                                "executionId": {
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "description": "A tool results execution ID."
                                },
                                "historyId": {
                                  "location": "path",
                                  "description": "A tool results history ID.",
                                  "required": true,
                                  "type": "string"
                                },
                                "stepId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "A tool results step ID."
                                }
                              }
                            },
                            "batchCreate": {
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "stepId": {
                                  "type": "string",
                                  "description": "A tool results step ID.",
                                  "required": true,
                                  "location": "path"
                                },
                                "historyId": {
                                  "description": "A tool results history ID.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                },
                                "sampleSeriesId": {
                                  "description": "A sample series id",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "projectId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "The cloud project"
                                }
                              },
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "httpMethod": "POST",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate"
                            }
                          }
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "TestCase"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "parameters": {
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "testCaseId": {
                              "location": "path",
                              "description": "A Test Case id. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Execution id Required."
                            },
                            "historyId": {
                              "description": "A History id. Required.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ]
                        },
                        "list": {
                          "parameters": {
                            "historyId": {
                              "type": "string",
                              "required": true,
                              "description": "A History id. Required.",
                              "location": "path"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Execution id Required."
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "location": "query",
                              "format": "int32"
                            },
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "description": "A Project id. Required.",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A continuation token to resume the query at the next item. Optional."
                            }
                          },
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases"
                        }
                      }
                    }
                  },
                  "methods": {
                    "publishXunitXmlFiles": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "parameters": {
                        "stepId": {
                          "required": true,
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Project id. Required."
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A History id. Required."
                        }
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles"
                    },
                    "create": {
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id.",
                          "required": true
                        },
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "request": {
                        "$ref": "Step"
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "httpMethod": "POST"
                    },
                    "accessibilityClusters": {
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required."
                        },
                        "locale": {
                          "type": "string",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "description": "A Project id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "type": "integer"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true
                        },
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "description": "A Execution id. Required.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "required": true
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "stepId": {
                          "description": "A Step id. Required.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "httpMethod": "GET"
                    },
                    "getPerfMetricsSummary": {
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "description": "The cloud project",
                          "location": "path",
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A tool results history ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "stepId": {
                          "description": "A tool results step ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "description": "A tool results execution ID.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "requestId": {
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "location": "query",
                          "type": "string"
                        },
                        "stepId": {
                          "type": "string",
                          "description": "A Step id. Required.",
                          "required": true,
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A Execution id. Required."
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A History id. Required."
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "request": {
                        "$ref": "Step"
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "httpMethod": "PATCH"
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. An Execution id."
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. A Project id.",
                          "type": "string"
                        },
                        "historyId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. A History id."
                        },
                        "environmentId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. An Environment id.",
                          "location": "path"
                        }
                      },
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "response": {
                        "$ref": "Environment"
                      },
                      "httpMethod": "GET"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A continuation token to resume the query at the next item.",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "description": "Required. A History id.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "id": "toolresults.projects.histories.executions.get",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "A Project id. Required.",
                      "type": "string",
                      "required": true
                    },
                    "historyId": {
                      "description": "A History id. Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "executionId": {
                      "description": "An Execution id. Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Execution"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "parameters": {
                    "executionId": {
                      "description": "Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true
                    },
                    "historyId": {
                      "description": "Required.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "A History id. Required."
                    },
                    "pageToken": {
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "id": "toolresults.projects.histories.executions.list"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string"
                    },
                    "historyId": {
                      "required": true,
                      "description": "A History id. Required.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "toolresults.projects.histories.executions.create",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "request": {
                    "$ref": "Execution"
                  },
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "API to publish and access results from developer tools.",
  "batchPath": "batch",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "ownerName": "Google",
  "schemas": {
    "UIElementTooDeep": {
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "id": "UIElementTooDeep",
      "properties": {
        "depth": {
          "type": "integer",
          "format": "int32",
          "description": "The depth of the screen element"
        },
        "screenStateId": {
          "type": "string",
          "description": "The screen state id of the element"
        },
        "screenId": {
          "type": "string",
          "description": "The screen id of the element"
        }
      },
      "type": "object"
    },
    "EnvironmentDimensionValueEntry": {
      "id": "EnvironmentDimensionValueEntry",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "FailedToInstall": {
      "type": "object",
      "properties": {},
      "description": "Failed to install the App.",
      "id": "FailedToInstall"
    },
    "StackTrace": {
      "properties": {
        "exception": {
          "description": "The stack trace message. Required",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StackTrace",
      "description": "A stacktrace."
    },
    "ListPerfSamplesResponse": {
      "type": "object",
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request"
        }
      },
      "id": "ListPerfSamplesResponse"
    },
    "CrashDialogError": {
      "id": "CrashDialogError",
      "description": "Crash dialog was detected during the test execution",
      "properties": {
        "crashPackage": {
          "type": "string",
          "description": "The name of the package that caused the dialog."
        }
      },
      "type": "object"
    },
    "DetectedAppSplashScreen": {
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).",
      "properties": {},
      "type": "object",
      "id": "DetectedAppSplashScreen"
    },
    "IndividualOutcome": {
      "type": "object",
      "properties": {
        "multistepNumber": {
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "format": "int32",
          "type": "integer"
        },
        "runDuration": {
          "$ref": "Duration",
          "description": "How long it took for this step to run."
        },
        "stepId": {
          "type": "string"
        },
        "outcomeSummary": {
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ]
        }
      },
      "description": "Step Id and outcome of each individual step that was run as a group with other steps with the same configuration.",
      "id": "IndividualOutcome"
    },
    "LogcatCollectionError": {
      "properties": {},
      "description": "A warning that there were issues in logcat collection.",
      "type": "object",
      "id": "LogcatCollectionError"
    },
    "LicensingProtectionTermination": {
      "id": "LicensingProtectionTermination",
      "properties": {},
      "description": "Licensing protection termination (Pairip) was detected.",
      "type": "object"
    },
    "Duration": {
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.",
      "type": "object",
      "properties": {
        "seconds": {
          "format": "int64",
          "type": "string",
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years"
        },
        "nanos": {
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Duration"
    },
    "ScreenshotCluster": {
      "properties": {
        "activity": {
          "description": "A string that describes the activity of every screen in the cluster.",
          "type": "string"
        },
        "clusterId": {
          "description": "A unique identifier for the cluster. @OutputOnly",
          "type": "string"
        },
        "screens": {
          "description": "Full list of screens.",
          "items": {
            "$ref": "Screen"
          },
          "type": "array"
        },
        "keyScreen": {
          "description": "A singular screen that represents the cluster as a whole. This screen will act as the \"cover\" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm",
          "$ref": "Screen"
        }
      },
      "type": "object",
      "id": "ScreenshotCluster"
    },
    "PerformedGoogleLogin": {
      "type": "object",
      "properties": {},
      "id": "PerformedGoogleLogin",
      "description": "A notification that Robo signed in with Google."
    },
    "ListEnvironmentsResponse": {
      "description": "Response message for EnvironmentService.ListEnvironments.",
      "type": "object",
      "properties": {
        "environments": {
          "description": "Environments. Always set.",
          "items": {
            "$ref": "Environment"
          },
          "type": "array"
        },
        "executionId": {
          "description": "A Execution id Always set.",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "A History id. Always set."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch."
        },
        "projectId": {
          "type": "string",
          "description": "A Project id. Always set."
        }
      },
      "id": "ListEnvironmentsResponse"
    },
    "ShardSummary": {
      "id": "ShardSummary",
      "description": "Result summary for a shard in an environment.",
      "properties": {
        "runs": {
          "description": "Summaries of the steps belonging to the shard. With flaky_test_attempts enabled from TestExecutionService, more than one run (Step) can present. And the runs will be sorted by multistep_number.",
          "type": "array",
          "items": {
            "$ref": "StepSummary"
          }
        },
        "shardResult": {
          "$ref": "MergedResult",
          "description": "Merged result of the shard."
        }
      },
      "type": "object"
    },
    "AssetIssue": {
      "description": "There was an issue with the assets in this test.",
      "type": "object",
      "properties": {},
      "id": "AssetIssue"
    },
    "PerfEnvironment": {
      "id": "PerfEnvironment",
      "properties": {
        "memoryInfo": {
          "description": "Memory related environment info",
          "$ref": "MemoryInfo"
        },
        "cpuInfo": {
          "$ref": "CPUInfo",
          "description": "CPU related environment info"
        }
      },
      "description": "Encapsulates performance environment info",
      "type": "object"
    },
    "NativeCrash": {
      "type": "object",
      "description": "Additional details for a native crash.",
      "id": "NativeCrash",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the native crash. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "FailureDetail": {
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process (including any other than the app) crashed.",
          "type": "boolean"
        },
        "failedRoboscript": {
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl.",
          "type": "boolean"
        },
        "notInstalled": {
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
          "type": "boolean"
        },
        "timedOut": {
          "description": "If the test overran some time limit, and that is why it failed.",
          "type": "boolean"
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start.",
          "type": "boolean"
        },
        "deviceOutOfMemory": {
          "description": "If the device ran out of memory during a test, causing the test to crash.",
          "type": "boolean"
        },
        "crashed": {
          "description": "If the failure was severe because the system (app) under test crashed.",
          "type": "boolean"
        }
      },
      "description": "Details for an outcome with a FAILURE outcome summary.",
      "id": "FailureDetail",
      "type": "object"
    },
    "IosXcTest": {
      "properties": {
        "xcodeVersion": {
          "type": "string",
          "description": "Xcode version that the test was run with."
        },
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      },
      "type": "object",
      "id": "IosXcTest",
      "description": "A test of an iOS application that uses the XCTest framework."
    },
    "IosTest": {
      "type": "object",
      "id": "IosTest",
      "description": "A iOS mobile test specification",
      "properties": {
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "iosTestLoop": {
          "description": "An iOS test loop.",
          "$ref": "IosTestLoop"
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "iosAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "IosAppInfo"
        },
        "iosXcTest": {
          "description": "An iOS XCTest.",
          "$ref": "IosXcTest"
        }
      }
    },
    "TestCaseReference": {
      "properties": {
        "className": {
          "description": "The name of the class.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the test case. Required."
        },
        "testSuiteName": {
          "type": "string",
          "description": "The name of the test suite to which this test case belongs."
        }
      },
      "type": "object",
      "description": "A reference to a test case. Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name.",
      "id": "TestCaseReference"
    },
    "IosAppInfo": {
      "id": "IosAppInfo",
      "description": "iOS app information",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app. Required"
        }
      }
    },
    "Timestamp": {
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive.",
          "type": "integer"
        },
        "seconds": {
          "type": "string",
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive.",
          "format": "int64"
        }
      },
      "id": "Timestamp",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings."
    },
    "ListTestCasesResponse": {
      "type": "object",
      "id": "ListTestCasesResponse",
      "properties": {
        "testCases": {
          "type": "array",
          "description": "List of test cases.",
          "items": {
            "$ref": "TestCase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "description": "Response message for StepService.ListTestCases."
    },
    "PrimaryStep": {
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step.",
      "id": "PrimaryStep",
      "properties": {
        "individualOutcome": {
          "items": {
            "$ref": "IndividualOutcome"
          },
          "description": "Step Id and outcome of each individual step.",
          "type": "array"
        },
        "rollUp": {
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ]
        }
      },
      "type": "object"
    },
    "InAppPurchasesFound": {
      "description": "Additional details of in-app purchases encountered during the crawl.",
      "properties": {
        "inAppPurchasesFlowsExplored": {
          "description": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU.",
          "type": "integer",
          "format": "int32"
        },
        "inAppPurchasesFlowsStarted": {
          "description": "The total number of in-app purchases flows started.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "InAppPurchasesFound"
    },
    "IosTestLoop": {
      "description": "A game loop test of an iOS application.",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      },
      "id": "IosTestLoop",
      "type": "object"
    },
    "NonSdkApi": {
      "properties": {
        "list": {
          "deprecated": true,
          "type": "string",
          "description": "Which list this API appears on",
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q",
            "GREY_MAX_R",
            "GREY_MAX_S"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "insights": {
          "description": "Optional debugging insights for non-SDK API violations.",
          "items": {
            "$ref": "NonSdkApiInsight"
          },
          "type": "array"
        },
        "exampleStackTraces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example stack traces of this API being called."
        },
        "invocationCount": {
          "description": "The total number of times this API was observed to have been called.",
          "format": "int32",
          "type": "integer"
        },
        "apiSignature": {
          "description": "The signature of the Non-SDK API",
          "type": "string"
        }
      },
      "id": "NonSdkApi",
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "type": "object"
    },
    "InsufficientCoverage": {
      "description": "A warning that Robo did not crawl potentially important parts of the app.",
      "properties": {},
      "id": "InsufficientCoverage",
      "type": "object"
    },
    "EncounteredLoginScreen": {
      "type": "object",
      "description": "Additional details about encountered login screens.",
      "properties": {
        "distinctScreens": {
          "format": "int32",
          "type": "integer",
          "description": "Number of encountered distinct login screens."
        },
        "screenIds": {
          "items": {
            "type": "string"
          },
          "description": "Subset of login screens.",
          "type": "array"
        }
      },
      "id": "EncounteredLoginScreen"
    },
    "StepSummary": {
      "properties": {},
      "id": "StepSummary",
      "type": "object",
      "description": "Lightweight summary of a step within this execution."
    },
    "ListStepAccessibilityClustersResponse": {
      "properties": {
        "name": {
          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents.",
          "type": "string"
        },
        "clusters": {
          "description": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster.",
          "items": {
            "$ref": "SuggestionClusterProto"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListStepAccessibilityClustersResponse",
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters."
    },
    "SkippedDetail": {
      "type": "object",
      "description": "Details for an outcome with a SKIPPED outcome summary.",
      "properties": {
        "pendingTimeout": {
          "description": "Indicates that the test could not be scheduled in the requested time because no suitable device was available.",
          "type": "boolean"
        },
        "incompatibleDevice": {
          "type": "boolean",
          "description": "If the requested OS version doesn't run on the specific device model."
        },
        "incompatibleAppVersion": {
          "type": "boolean",
          "description": "If the App doesn't support the specific API level."
        },
[...]
