{
  "title": "Cloud TPU API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "baseUrl": "https://tpu.googleapis.com/",
  "rootUrl": "https://tpu.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "runtimeVersions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "description": "Gets a runtime version.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "description": "Required. The resource name."
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "format": "int32"
                    }
                  },
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "path": "v2/{+parent}/runtimeVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "description": "Lists runtime versions supported by this API.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions"
                }
              }
            },
            "nodes": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Output only. Immutable. The name of the TPU.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the configurations of a node.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "request": {
                    "$ref": "Node"
                  },
                  "httpMethod": "PATCH"
                },
                "getGuestAttributes": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Retrieves the guest attributes for the node.",
                  "path": "v2/{+name}:getGuestAttributes",
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "id": "tpu.projects.locations.nodes.getGuestAttributes"
                },
                "get": {
                  "description": "Gets the details of a node.",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "response": {
                    "$ref": "Node"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "nodeId": {
                      "location": "query",
                      "description": "The unqualified resource name.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+parent}/nodes",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a node.",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Node"
                  }
                },
                "start": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "description": "Starts a node.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.start",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:start",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a node.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.nodes.delete"
                },
                "stop": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "id": "tpu.projects.locations.nodes.stop",
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:stop"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "description": "Lists nodes.",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "id": "tpu.projects.locations.nodes.list",
                  "path": "v2/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "id": "tpu.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:cancel",
                  "id": "tpu.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "id": "tpu.projects.locations.operations.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "tpu.projects.locations.operations.list"
                }
              }
            },
            "queuedResources": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "path": "v2/{+name}",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Idempotent request UUID."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "description": "Creates a QueuedResource TPU instance.",
                  "parameters": {
                    "queuedResourceId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. Idempotent request UUID.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "id": "tpu.projects.locations.queuedResources.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/queuedResources",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists queued resources.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The next_page_token value returned from a previous List request, if any."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "path": "v2/{+parent}/queuedResources",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.queuedResources.list",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  }
                },
                "reset": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Resets a QueuedResource TPU instance",
                  "path": "v2/{+name}:reset",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the queued resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a queued resource.",
                  "id": "tpu.projects.locations.queuedResources.get",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets AcceleratorType.",
                  "response": {
                    "$ref": "AcceleratorType"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists accelerator types supported by this API.",
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "path": "v2/{+parent}/acceleratorTypes",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "generateServiceIdentity": {
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "httpMethod": "POST",
              "description": "Generates the Cloud TPU service identity for the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "path": "v2/{+parent}:generateServiceIdentity",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource name.",
                  "type": "string"
                }
              },
              "id": "tpu.projects.locations.generateServiceIdentity",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity"
            },
            "list": {
              "path": "v2/{+name}/locations",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "tpu.projects.locations.list",
              "flatPath": "v2/projects/{projectsId}/locations"
            },
            "get": {
              "description": "Gets information about a location.",
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "id": "tpu.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "TPU",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "tpu:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260127",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "schemas": {
    "ServiceAccount": {
      "description": "A service account.",
      "properties": {
        "scope": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed."
        },
        "email": {
          "description": "Email address of the service account. If empty, default Compute service account will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServiceAccount"
    },
    "GuestAttributesValue": {
      "description": "Array of guest attribute namespace/key/value tuples.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GuestAttributesEntry"
          },
          "type": "array",
          "description": "The list of guest attributes entries."
        }
      },
      "id": "GuestAttributesValue"
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityResponse",
      "type": "object",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      }
    },
    "ListAcceleratorTypesResponse": {
      "description": "Response for ListAcceleratorTypes.",
      "type": "object",
      "id": "ListAcceleratorTypesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "acceleratorTypes": {
          "items": {
            "$ref": "AcceleratorType"
          },
          "type": "array",
          "description": "The listed nodes."
        }
      }
    },
    "GetGuestAttributesRequest": {
      "type": "object",
      "description": "Request for GetGuestAttributes.",
      "id": "GetGuestAttributesRequest",
      "properties": {
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned."
        },
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "description": "A TPU accelerator configuration.",
      "properties": {
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        },
        "type": {
          "description": "Required. Type of TPU.",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5p.",
            "TPU v6e."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        }
      },
      "type": "object",
      "id": "AcceleratorConfig"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "QueuedResource": {
      "id": "QueuedResource",
      "properties": {
        "name": {
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "type": "string",
          "readOnly": true
        },
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "guaranteed": {
          "$ref": "Guaranteed",
          "description": "Optional. The Guaranteed tier"
        },
        "reservationName": {
          "type": "string",
          "description": "Optional. Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}"
        },
        "queueingPolicy": {
          "description": "Optional. The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "tpu": {
          "$ref": "Tpu",
          "description": "Optional. Defines a TPU resource."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the QueuedResource was created.",
          "readOnly": true
        },
        "state": {
          "$ref": "QueuedResourceState",
          "description": "Output only. State of the QueuedResource request.",
          "readOnly": true
        }
      },
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "type": "object"
    },
    "SuspendingData": {
      "type": "object",
      "properties": {},
      "description": "Further data for the suspending state.",
      "id": "SuspendingData"
    },
    "StartNodeRequest": {
      "id": "StartNodeRequest",
      "type": "object",
      "properties": {},
      "description": "Request for StartNode."
    },
    "SchedulingConfig": {
      "properties": {
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        },
        "spot": {
          "type": "boolean",
          "description": "Optional. Defines whether the node is Spot VM."
        },
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        }
      },
      "id": "SchedulingConfig",
      "description": "Sets the scheduling options for this node.",
      "type": "object"
    },
    "ListRuntimeVersionsResponse": {
      "type": "object",
      "description": "Response for ListRuntimeVersions.",
      "id": "ListRuntimeVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runtimeVersions": {
          "items": {
            "$ref": "RuntimeVersion"
          },
          "type": "array",
          "description": "The listed nodes."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tpu": {
      "id": "Tpu",
      "type": "object",
      "properties": {
        "nodeSpec": {
          "description": "Optional. The TPU node(s) being requested.",
          "type": "array",
          "items": {
            "$ref": "NodeSpec"
          }
        }
      },
      "description": "Details of the TPU resource(s) being requested."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "DeletingData": {
      "type": "object",
      "properties": {},
      "description": "Further data for the deleting state.",
      "id": "DeletingData"
    },
    "GetGuestAttributesResponse": {
      "description": "Response for GetGuestAttributes.",
      "id": "GetGuestAttributesResponse",
      "properties": {
        "guestAttributes": {
          "description": "The guest attributes for the TPU workers.",
          "type": "array",
          "items": {
            "$ref": "GuestAttributes"
          }
        }
      },
      "type": "object"
    },
    "NodeSpec": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource name.",
          "type": "string"
        },
        "multisliceParams": {
          "description": "Optional. Fields to specify in case of multislice request.",
          "$ref": "MultisliceParams"
        },
        "node": {
          "$ref": "Node",
          "description": "Required. The node."
        },
        "nodeId": {
          "type": "string",
          "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multislice requests, multislice_params must be populated instead."
        }
      },
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created.",
      "id": "NodeSpec",
      "type": "object"
    },
    "BootDiskConfig": {
      "description": "Sets the boot disk configuration for the TPU node.",
      "id": "BootDiskConfig",
      "properties": {
        "customerEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Customer encryption key for boot disk."
        }
      },
      "type": "object"
    },
    "QueueingPolicy": {
      "type": "object",
      "properties": {
        "validUntilTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validAfterDuration": {
          "description": "Optional. A relative time after which resources may be created.",
          "type": "string",
          "format": "google-duration"
        },
        "validAfterTime": {
          "description": "Optional. An absolute time after which resources may be created.",
          "type": "string",
          "format": "google-datetime"
        },
        "validInterval": {
          "$ref": "Interval",
          "description": "Optional. An absolute time interval within which resources may be created."
        },
        "validUntilDuration": {
          "description": "Optional. A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Defines the policy of the QueuedRequest.",
      "id": "QueueingPolicy"
    },
    "Node": {
      "description": "A TPU instance.",
      "id": "Node",
      "type": "object",
      "properties": {
        "apiVersion": {
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version.",
            "TPU API V2 version."
          ],
          "type": "string",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1",
            "V2"
          ],
          "readOnly": true,
          "description": "Output only. The API version that created this Node."
        },
        "bootDiskConfig": {
          "$ref": "BootDiskConfig",
          "description": "Optional. Boot disk configuration."
        },
        "healthDescription": {
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the node was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Required. The runtime version running in the Node.",
          "type": "string"
        },
        "symptoms": {
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Symptom"
          }
        },
        "id": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique identifier for the TPU Node.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The name of the TPU."
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "multisliceNode": {
          "readOnly": true,
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user-provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataDisks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array",
          "description": "The additional data disks for the Node."
        },
        "acceleratorType": {
          "description": "Optional. The type of hardware accelerators associated with this node.",
          "type": "string"
        },
        "acceleratorConfig": {
          "$ref": "AcceleratorConfig",
          "description": "The AccleratorConfig for the TPU Node."
        },
        "queuedResource": {
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "readOnly": true,
          "type": "string"
        },
        "networkConfigs": {
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "type": "array",
          "items": {
            "$ref": "NetworkConfig"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "description": "Output only. The current state for the TPU Node."
        },
        "health": {
          "description": "The health status of the TPU node.",
          "type": "string",
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ],
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ]
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
        },
        "description": {
          "type": "string",
          "description": "The user-supplied description of the TPU. Maximum of 512 characters."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
        },
        "networkEndpoints": {
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first."
        },
        "upcomingMaintenance": {
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "$ref": "UpcomingMaintenance",
          "readOnly": true
        }
      }
    },
    "CreatingData": {
      "id": "CreatingData",
      "type": "object",
      "properties": {},
      "description": "Further data for the creating state."
    },
    "Guaranteed": {
      "description": "Guaranteed tier definition.",
      "properties": {
        "minDuration": {
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "Guaranteed",
      "type": "object"
    },
    "ServiceIdentity": {
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "id": "ServiceIdentity"
    },
    "ResetQueuedResourceRequest": {
      "id": "ResetQueuedResourceRequest",
      "type": "object",
      "description": "Request for ResetQueuedResource.",
      "properties": {}
    },
    "ActiveData": {
      "id": "ActiveData",
      "properties": {},
      "description": "Further data for the active state.",
      "type": "object"
    },
    "ListQueuedResourcesResponse": {
      "id": "ListQueuedResourcesResponse",
      "description": "Response for ListQueuedResources.",
      "properties": {
        "queuedResources": {
          "type": "array",
          "items": {
            "$ref": "QueuedResource"
          },
          "description": "The listed queued resources."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "type": "object"
    },
    "GenerateServiceIdentityRequest": {
      "properties": {},
      "description": "Request for GenerateServiceIdentity.",
      "type": "object",
      "id": "GenerateServiceIdentityRequest"
    },
    "FailedData": {
      "type": "object",
      "description": "Further data for the failed state.",
      "properties": {
        "error": {
          "description": "Output only. The error that caused the queued resource to enter the FAILED state.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "id": "FailedData"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "SuspendedData": {
      "id": "SuspendedData",
      "description": "Further data for the suspended state.",
      "type": "object",
      "properties": {}
    },
    "CustomerEncryptionKey": {
      "id": "CustomerEncryptionKey",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      },
      "description": "Defines the customer encryption key for disk encryption."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        }
      },
      "id": "Interval"
    },
    "Symptom": {
      "type": "object",
      "description": "A Symptom instance.",
      "properties": {
        "details": {
          "description": "Detailed information of the current Symptom.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Timestamp when the Symptom is created.",
          "format": "google-datetime"
        },
        "workerId": {
          "type": "string",
          "description": "A string used to uniquely distinguish a worker within a TPU node."
        },
        "symptomType": {
          "type": "string",
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "description": "Type of the Symptom.",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ]
        }
      },
      "id": "Symptom"
    },
    "StopNodeRequest": {
      "id": "StopNodeRequest",
      "type": "object",
      "properties": {},
      "description": "Request for StopNode."
    },
    "GuestAttributesEntry": {
      "properties": {
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        },
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "Namespace for the guest attribute entry."
        }
      },
      "id": "GuestAttributesEntry",
      "description": "A guest attributes namespace/key/value entry.",
      "type": "object"
    },
    "Spot": {
      "id": "Spot",
      "description": "Spot tier definition.",
      "properties": {},
      "type": "object"
    },
    "NetworkEndpoint": {
      "description": "A network endpoint over which a TPU worker can be reached.",
      "id": "NetworkEndpoint",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port of this network endpoint."
        },
        "ipAddress": {
          "type": "string",
          "description": "The internal IP address of this network endpoint."
        },
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "The access config for the TPU worker."
        }
      },
      "type": "object"
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "A node-attached disk resource. Next ID: 8;",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks."
        },
        "sourceDisk": {
          "type": "string",
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\"."
        }
      },
      "type": "object"
    },
    "ListNodesResponse": {
      "type": "object",
      "id": "ListNodesResponse",
      "description": "Response for ListNodes.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          },
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      }
    },
    "GuestAttributes": {
      "id": "GuestAttributes",
      "properties": {
        "queryValue": {
          "$ref": "GuestAttributesValue",
          "description": "The value of the requested queried path."
        },
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A guest attributes."
    },
    "QueuedResourceState": {
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "type": "object",
      "id": "QueuedResourceState",
      "properties": {
        "deletingData": {
          "readOnly": true,
          "$ref": "DeletingData",
          "description": "Output only. Further data for the deleting state."
        },
        "provisioningData": {
          "readOnly": true,
          "description": "Output only. Further data for the provisioning state.",
          "$ref": "ProvisioningData"
        },
        "acceptedData": {
          "$ref": "AcceptedData",
          "readOnly": true,
          "description": "Output only. Further data for the accepted state."
        },
        "creatingData": {
          "description": "Output only. Further data for the creating state.",
          "readOnly": true,
          "$ref": "CreatingData"
        },
        "suspendedData": {
          "description": "Output only. Further data for the suspended state.",
          "$ref": "SuspendedData",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "description": "Output only. State of the QueuedResource request.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ]
        },
        "stateInitiator": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ]
        },
        "activeData": {
          "description": "Output only. Further data for the active state.",
          "readOnly": true,
          "$ref": "ActiveData"
        },
        "suspendingData": {
          "$ref": "SuspendingData",
          "readOnly": true,
          "description": "Output only. Further data for the suspending state."
        },
        "failedData": {
          "$ref": "FailedData",
          "readOnly": true,
          "description": "Output only. Further data for the failed state."
        }
      }
    },
    "RuntimeVersion": {
      "description": "A runtime version that a Node can be configured with.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      },
      "id": "RuntimeVersion"
    },
    "UpcomingMaintenance": {
      "id": "UpcomingMaintenance",
      "properties": {
        "canReschedule": {
          "type": "boolean",
          "description": "Indicates if the maintenance can be customer triggered."
        },
        "windowEndTime": {
          "type": "string",
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format."
        },
        "latestWindowStartTime": {
          "type": "string",
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format."
        },
        "maintenanceStatus": {
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ],
          "description": "The status of the maintenance."
        },
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "description": "Defines the type of maintenance."
        }
      },
      "description": "Upcoming Maintenance notification information.",
      "type": "object"
    },
    "AcceleratorType": {
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The accelerator type."
        },
        "acceleratorConfigs": {
          "description": "The accelerator config.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AcceleratorType",
      "description": "A accelerator type that a Node can be configured with."
    },
    "NetworkConfig": {
      "description": "Network related configurations.",
      "type": "object",
      "properties": {
        "enableExternalIps": {
          "type": "boolean",
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled."
        },
        "queueCount": {
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "type": "integer",
          "format": "int32"
        },
        "network": {
          "type": "string",
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
        },
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        }
      },
      "id": "NetworkConfig"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata describing an Operation"
    },
    "AccessConfig": {
      "properties": {
        "externalIp": {
          "description": "Output only. An external IP address associated with the TPU worker.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "An access config attached to the TPU worker.",
      "id": "AccessConfig"
    },
    "AcceptedData": {
      "id": "AcceptedData",
      "type": "object",
      "properties": {},
      "description": "Further data for the accepted state."
    },
    "MultisliceParams": {
      "properties": {
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provision \"node_count\" nodes as part of the request. This needs to be > 1.",
          "format": "int32",
          "type": "integer"
        },
        "nodeIdPrefix": {
          "description": "Optional. Prefix of node_ids in case of multislice request. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        }
      },
      "description": "Parameters to specify for multislice QueuedResource requests. This message must be populated in case of multislice requests instead of node_id.",
      "type": "object",
      "id": "MultisliceParams"
    },
    "ProvisioningData": {
      "type": "object",
      "id": "ProvisioningData",
      "description": "Further data for the provisioning state.",
      "properties": {}
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      },
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "id": "ShieldedInstanceConfig"
    }
  },
  "name": "tpu",
  "basePath": "",
  "version": "v2",
  "documentationLink": "https://cloud.google.com/tpu/"
}