{
  "documentationLink": "https://cloud.google.com/tpu/",
  "servicePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "title": "Cloud TPU API",
  "revision": "20260127",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "generateServiceIdentity": {
              "path": "v2alpha1/{+parent}:generateServiceIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "description": "Generates the Cloud TPU service identity for the project.",
              "id": "tpu.projects.locations.generateServiceIdentity",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "path": "v2alpha1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v2alpha1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "id": "tpu.projects.locations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "tpu.projects.locations.get",
              "httpMethod": "GET",
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2alpha1/{+name}"
            }
          },
          "resources": {
            "runtimeVersions": {
              "methods": {
                "list": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "description": "Lists runtime versions supported by this API.",
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2alpha1/{+parent}/runtimeVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Sort results."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "description": "Gets a runtime version."
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "parameters": {
                    "nodeId": {
                      "description": "The unqualified resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Idempotent request UUID."
                    }
                  },
                  "request": {
                    "$ref": "Node"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "description": "Creates a node.",
                  "id": "tpu.projects.locations.nodes.create",
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Deletes a node.",
                  "id": "tpu.projects.locations.nodes.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "stop": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.nodes.stop",
                  "httpMethod": "POST",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:stop"
                },
                "performMaintenance": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "PerformMaintenanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}:performMaintenance",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:performMaintenance",
                  "description": "Perform manual maintenance on a node.",
                  "id": "tpu.projects.locations.nodes.performMaintenance",
                  "httpMethod": "POST"
                },
                "start": {
                  "id": "tpu.projects.locations.nodes.start",
                  "httpMethod": "POST",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "description": "Starts a node.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:start",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "getGuestAttributes": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "description": "Retrieves the guest attributes for the node.",
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}:getGuestAttributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  }
                },
                "list": {
                  "id": "tpu.projects.locations.nodes.list",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "description": "Lists nodes.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/nodes",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "response": {
                    "$ref": "ListNodesResponse"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Output only. Immutable. The name of the TPU.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Node"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Updates the configurations of a node.",
                  "id": "tpu.projects.locations.nodes.patch",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Gets the details of a node.",
                  "id": "tpu.projects.locations.nodes.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Node"
                  }
                },
                "simulateMaintenanceEvent": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:simulateMaintenanceEvent",
                  "description": "Simulates a maintenance event.",
                  "id": "tpu.projects.locations.nodes.simulateMaintenanceEvent",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}:simulateMaintenanceEvent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SimulateMaintenanceEventRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v2alpha1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "tpu.projects.locations.operations.list",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "delete": {
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "tpu.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "reservations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "description": "Retrieves the reservations for the given project in the given location.",
                  "id": "tpu.projects.locations.reservations.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return. Defaults to 0 if not specified, which means no limit.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent for reservations.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "path": "v2alpha1/{+parent}/reservations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "queuedResources": {
              "methods": {
                "reset": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "description": "Resets a QueuedResource TPU instance",
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the queued resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}:reset",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "tpu.projects.locations.queuedResources.list",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "description": "Lists queued resources.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/queuedResources"
                },
                "create": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "description": "Creates a QueuedResource TPU instance.",
                  "id": "tpu.projects.locations.queuedResources.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    },
                    "queuedResourceId": {
                      "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    },
                    "force": {
                      "description": "If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "description": "Gets details of a queued resource.",
                  "id": "tpu.projects.locations.queuedResources.get",
                  "httpMethod": "GET"
                },
                "performMaintenanceQueuedResource": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:performMaintenanceQueuedResource",
                  "description": "Perform manual maintenance on specific nodes of a QueuedResource.",
                  "id": "tpu.projects.locations.queuedResources.performMaintenanceQueuedResource",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the QueuedResource which holds the nodes to perform maintenance on.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "PerformMaintenanceQueuedResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}:performMaintenanceQueuedResource",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getMaintenanceInfo": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:getMaintenanceInfo",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The QueuedResource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GetMaintenanceInfoResponse"
                  },
                  "id": "tpu.projects.locations.queuedResources.getMaintenanceInfo",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:getMaintenanceInfo",
                  "description": "Gets the maintenance info for a queued resource.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Sort results."
                    }
                  },
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/acceleratorTypes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "description": "Lists accelerator types supported by this API."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "description": "Gets AcceleratorType.",
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "canonicalName": "TPU",
  "version": "v2alpha1",
  "name": "tpu",
  "rootUrl": "https://tpu.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://tpu.googleapis.com/",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "schemas": {
    "CreatingData": {
      "description": "Further data for the creating state.",
      "id": "CreatingData",
      "properties": {},
      "type": "object"
    },
    "StartNodeRequest": {
      "type": "object",
      "description": "Request for StartNode.",
      "id": "StartNodeRequest",
      "properties": {}
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "ListQueuedResourcesResponse": {
      "type": "object",
      "id": "ListQueuedResourcesResponse",
      "properties": {
        "queuedResources": {
          "type": "array",
          "description": "The listed queued resources.",
          "items": {
            "$ref": "QueuedResource"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "description": "Response for ListQueuedResources."
    },
    "SuspendingData": {
      "description": "Further data for the suspending state.",
      "id": "SuspendingData",
      "properties": {},
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "BestEffort": {
      "description": "BestEffort tier definition.",
      "id": "BestEffort",
      "properties": {},
      "type": "object"
    },
    "Tpu": {
      "type": "object",
      "description": "Details of the TPU resource(s) being requested.",
      "id": "Tpu",
      "properties": {
        "nodeSpec": {
          "type": "array",
          "items": {
            "$ref": "NodeSpec"
          },
          "description": "The TPU node(s) being requested."
        }
      }
    },
    "NodeUpcomingMaintenanceInfo": {
      "type": "object",
      "id": "NodeUpcomingMaintenanceInfo",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Unqualified node name."
        },
        "upcomingMaintenance": {
          "description": "Upcoming maintenance info for this node.",
          "$ref": "UpcomingMaintenance"
        },
        "nodeUid": {
          "description": "UID of this node.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A tuple containing node name / ID and maintenance info."
    },
    "ServiceAccount": {
      "type": "object",
      "description": "A service account.",
      "id": "ServiceAccount",
      "properties": {
        "scope": {
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "description": "Email address of the service account. If empty, default Compute service account will be used.",
          "type": "string"
        }
      }
    },
    "SuspendedData": {
      "type": "object",
      "description": "Further data for the suspended state.",
      "id": "SuspendedData",
      "properties": {}
    },
    "ListAcceleratorTypesResponse": {
      "description": "Response for ListAcceleratorTypes.",
      "id": "ListAcceleratorTypesResponse",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "acceleratorTypes": {
          "items": {
            "$ref": "AcceleratorType"
          },
          "description": "The listed nodes.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "Standard": {
      "type": "object",
      "id": "Standard",
      "properties": {
        "size": {
          "type": "integer",
          "description": "The size of the reservation, in the units specified in the 'capacity_units' field.",
          "format": "int32"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of the reservation."
        },
        "capacityUnits": {
          "description": "Capacity units this reservation is measured in.",
          "enumDescriptions": [
            "The capacity units is not known/set.",
            "The capacity unit is set to CORES.",
            "The capacity unit is set to CHIPS."
          ],
          "enum": [
            "CAPACITY_UNITS_UNSPECIFIED",
            "CORES",
            "CHIPS"
          ],
          "type": "string"
        },
        "interval": {
          "description": "The start and end time of the reservation.",
          "$ref": "Interval"
        },
        "usage": {
          "description": "The current usage of the reservation.",
          "$ref": "Usage"
        }
      },
      "description": "Details of a standard reservation."
    },
    "SchedulingConfig": {
      "type": "object",
      "id": "SchedulingConfig",
      "properties": {
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        },
        "reserved": {
          "type": "boolean",
          "description": "Whether the node is created under a reservation."
        },
        "reservationName": {
          "description": "Optional. Name of the reservation in which the node should be provisioned.",
          "type": "string"
        },
        "provisioningModel": {
          "type": "string",
          "description": "Optional. Defines the provisioning model for the node.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND"
          ]
        },
        "spot": {
          "type": "boolean",
          "description": "Optional. Defines whether the node is Spot VM."
        },
        "terminationTimestamp": {
          "description": "Output only. The time at which the node will be terminated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Sets the scheduling options for this node."
    },
    "AcceleratorType": {
      "type": "object",
      "id": "AcceleratorType",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "acceleratorConfigs": {
          "type": "array",
          "description": "The accelerator config.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        }
      },
      "description": "A accelerator type that a Node can be configured with."
    },
    "ListRuntimeVersionsResponse": {
      "id": "ListRuntimeVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "runtimeVersions": {
          "items": {
            "$ref": "RuntimeVersion"
          },
          "description": "The listed nodes.",
          "type": "array"
        }
      },
      "description": "Response for ListRuntimeVersions.",
      "type": "object"
    },
    "ListNodesResponse": {
      "type": "object",
      "description": "Response for ListNodes.",
      "id": "ListNodesResponse",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "description": "The listed nodes.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      }
    },
    "AcceptedData": {
      "type": "object",
      "description": "Further data for the accepted state.",
      "id": "AcceptedData",
      "properties": {}
    },
    "ProvisioningData": {
      "type": "object",
      "description": "Further data for the provisioning state.",
      "id": "ProvisioningData",
      "properties": {}
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "AccessConfig": {
      "description": "An access config attached to the TPU worker.",
      "id": "AccessConfig",
      "properties": {
        "externalIp": {
          "readOnly": true,
          "description": "Output only. An external IP address associated with the TPU worker.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkConfig": {
      "type": "object",
      "id": "NetworkConfig",
      "properties": {
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "network": {
          "type": "string",
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
        },
        "queueCount": {
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Network related configurations."
    },
    "Spot": {
      "type": "object",
      "description": "Spot tier definition.",
      "id": "Spot",
      "properties": {}
    },
    "ServiceIdentity": {
      "type": "object",
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "id": "ServiceIdentity",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the service identity."
        }
      }
    },
    "Reservation": {
      "description": "A reservation describes the amount of a resource 'allotted' for a defined period of time.",
      "id": "Reservation",
      "properties": {
        "standard": {
          "description": "A standard reservation.",
          "$ref": "Standard"
        },
        "state": {
          "description": "Output only. The state of the Reservation.",
          "enumDescriptions": [
            "The Reservation state is unspecified.",
            "The Reservation has been approved.",
            "The Reservation is being provisioned.",
            "The Reservation is active.",
            "The Reservation is being deprovisioned.",
            "The Reservation is past its end date.",
            "The Reservation encountered a failure during mutation."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "EXPIRED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}"
        }
      },
      "type": "object"
    },
    "BootDiskConfig": {
      "id": "BootDiskConfig",
      "properties": {
        "provisionedIops": {
          "type": "string",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. To learn more about IOPS, see [Provisioning persistent disk performance](https://cloud.google.com/compute/docs/disks/performance#provisioned-iops).",
          "format": "int64"
        },
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        },
        "enableConfidentialCompute": {
          "description": "Optional. Whether the boot disk will be created with confidential compute mode.",
          "type": "boolean"
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource."
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle.",
          "format": "int64",
          "type": "string"
        },
        "sourceImage": {
          "type": "string",
          "description": "Optional. Image from which boot disk is to be created. If not specified, the default image for the runtime version will be used. Example: `projects/$PROJECT_ID/global/images/$IMAGE_NAME`."
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image.",
          "format": "int64"
        }
      },
      "description": "Boot disk configurations.",
      "type": "object"
    },
    "Symptom": {
      "type": "object",
      "id": "Symptom",
      "properties": {
        "createTime": {
          "description": "Timestamp when the Symptom is created.",
          "format": "google-datetime",
          "type": "string"
        },
        "symptomType": {
          "description": "Type of the Symptom.",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "type": "string"
        },
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        }
      },
      "description": "A Symptom instance."
    },
    "QueuedResource": {
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "id": "QueuedResource",
      "properties": {
        "provisioningModel": {
          "type": "string",
          "description": "Optional. The provisioning model for the resource.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation.",
            "Provisioning with DWS Flex Start with max run duration."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND",
            "FLEX_START"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The name of the QueuedResource."
        },
        "reservationName": {
          "description": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "bestEffort": {
          "description": "The BestEffort tier.",
          "$ref": "BestEffort"
        },
        "state": {
          "description": "Output only. State of the QueuedResource request.",
          "$ref": "QueuedResourceState",
          "readOnly": true
        },
        "queueingPolicy": {
          "description": "The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "guaranteed": {
          "description": "The Guaranteed tier.",
          "$ref": "Guaranteed"
        },
        "spot": {
          "description": "Optional. The Spot tier.",
          "$ref": "Spot"
        },
        "tpu": {
          "description": "Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "runDuration": {
          "description": "Optional. The duration of the requested resource.",
          "$ref": "RunDuration"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the QueuedResource was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkEndpoint": {
      "type": "object",
      "description": "A network endpoint over which a TPU worker can be reached.",
      "id": "NetworkEndpoint",
      "properties": {
        "port": {
          "type": "integer",
          "description": "The port of this network endpoint.",
          "format": "int32"
        },
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        },
        "ipAddress": {
          "type": "string",
          "description": "The internal IP address of this network endpoint."
        }
      }
    },
    "GuestAttributesEntry": {
      "id": "GuestAttributesEntry",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Namespace for the guest attribute entry."
        },
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        },
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        }
      },
      "description": "A guest attributes namespace/key/value entry.",
      "type": "object"
    },
    "NodeSpec": {
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created.",
      "id": "NodeSpec",
      "properties": {
        "multiNodeParams": {
          "description": "Optional. Fields to specify in case of multi-node request.",
          "$ref": "MultiNodeParams"
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "nodeId": {
          "type": "string",
          "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name."
        }
      },
      "type": "object"
    },
    "GetGuestAttributesRequest": {
      "type": "object",
      "id": "GetGuestAttributesRequest",
      "properties": {
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned."
        },
        "queryPath": {
          "type": "string",
          "description": "The guest attributes path to be queried."
        }
      },
      "description": "Request for GetGuestAttributes."
    },
    "CustomerEncryptionKey": {
      "description": "Customer's encryption key.",
      "id": "CustomerEncryptionKey",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "MultiNodeParams": {
      "type": "object",
      "id": "MultiNodeParams",
      "properties": {
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1.",
          "format": "int32",
          "type": "integer"
        },
        "workloadType": {
          "type": "string",
          "description": "Optional. The workload type for the multi-node request.",
          "enumDescriptions": [
            "Not specified.",
            "All of the nodes are available most of the time. Recommended for training workloads.",
            "Most of the nodes are available all of the time. Recommended for serving workloads."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "THROUGHPUT_OPTIMIZED",
            "AVAILABILITY_OPTIMIZED"
          ]
        },
        "nodeIdPrefix": {
          "type": "string",
          "description": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix."
        }
      },
      "description": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "QueuedResourceState": {
      "type": "object",
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "id": "QueuedResourceState",
      "properties": {
        "activeData": {
          "description": "Further data for the active state.",
          "$ref": "ActiveData"
        },
        "provisioningData": {
          "description": "Further data for the provisioning state.",
          "$ref": "ProvisioningData"
        },
        "suspendedData": {
          "description": "Further data for the suspended state.",
          "$ref": "SuspendedData"
        },
        "deletingData": {
          "description": "Further data for the deleting state.",
          "$ref": "DeletingData"
        },
        "failedData": {
          "description": "Further data for the failed state.",
          "$ref": "FailedData"
        },
        "state": {
          "type": "string",
          "description": "State of the QueuedResource request.",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ]
        },
        "acceptedData": {
          "description": "Further data for the accepted state.",
          "$ref": "AcceptedData"
        },
        "creatingData": {
          "description": "Further data for the creating state.",
          "$ref": "CreatingData"
        },
        "suspendingData": {
          "description": "Further data for the suspending state.",
          "$ref": "SuspendingData"
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ]
        }
      }
    },
    "GenerateServiceIdentityRequest": {
      "type": "object",
      "description": "Request for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityRequest",
      "properties": {}
    },
    "Usage": {
      "description": "Usage details of a reservation.",
      "id": "Usage",
      "properties": {
        "total": {
          "type": "string",
          "description": "The real-time value of usage within the reservation, with the unit specified in field capacity_units.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PerformMaintenanceRequest": {
      "type": "object",
      "description": "Request for PerformMaintenance.",
      "id": "PerformMaintenanceRequest",
      "properties": {}
    },
    "QueueingPolicy": {
      "type": "object",
      "description": "Defines the policy of the QueuedRequest.",
      "id": "QueueingPolicy",
      "properties": {
        "validAfterDuration": {
          "description": "A relative time after which resources may be created.",
          "format": "google-duration",
          "type": "string"
        },
        "validInterval": {
          "description": "An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        },
        "validAfterTime": {
          "type": "string",
          "description": "An absolute time at which resources may be created.",
          "format": "google-datetime"
        },
        "validUntilTime": {
          "description": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-datetime",
          "type": "string"
        },
        "validUntilDuration": {
          "description": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "PerformMaintenanceQueuedResourceRequest": {
      "description": "Request for PerformMaintenanceQueuedResource.",
      "id": "PerformMaintenanceQueuedResourceRequest",
      "properties": {
        "nodeNames": {
          "description": "The names of the nodes to perform maintenance on.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AttachedDisk": {
      "type": "object",
      "id": "AttachedDisk",
      "properties": {
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of worker IDs this disk is attached to."
        },
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        },
        "mode": {
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "type": "string"
        }
      },
      "description": "A node-attached disk resource."
    },
    "Interval": {
      "id": "Interval",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "DeletingData": {
      "type": "object",
      "description": "Further data for the deleting state.",
      "id": "DeletingData",
      "properties": {}
    },
    "GenerateServiceIdentityResponse": {
      "type": "object",
      "id": "GenerateServiceIdentityResponse",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      },
      "description": "Response for GenerateServiceIdentity."
    },
    "GetMaintenanceInfoResponse": {
      "type": "object",
      "id": "GetMaintenanceInfoResponse",
      "properties": {
        "nodeUpcomingMaintenances": {
          "type": "array",
          "description": "The list of upcoming maintenance entries.",
          "items": {
            "$ref": "NodeUpcomingMaintenanceInfo"
          }
        }
      },
      "description": "Response for GetMaintenanceInfo."
    },
    "Guaranteed": {
      "type": "object",
      "description": "Guaranteed tier definition.",
      "id": "Guaranteed",
      "properties": {
        "minDuration": {
          "type": "string",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "format": "google-duration"
        },
        "reserved": {
          "type": "boolean",
          "description": "Optional. Specifies the request should be scheduled on reserved capacity."
        }
      }
    },
    "ActiveData": {
      "type": "object",
      "description": "Further data for the active state.",
      "id": "ActiveData",
      "properties": {}
    },
    "AcceleratorConfig": {
      "type": "object",
      "id": "AcceleratorConfig",
      "properties": {
        "type": {
          "description": "Required. Type of TPU.",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5.",
            "TPU v6e."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ],
          "type": "string"
        },
        "topology": {
          "description": "Required. Topology of TPU in chips.",
          "type": "string"
        }
      },
      "description": "A TPU accelerator configuration."
    },
    "ListReservationsResponse": {
      "id": "ListReservationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "reservations": {
          "description": "The listed reservations.",
          "items": {
            "$ref": "Reservation"
          },
          "type": "array"
        }
      },
      "description": "Response for ListReservations.",
      "type": "object"
    },
    "FailedData": {
      "type": "object",
      "id": "FailedData",
      "properties": {
        "error": {
          "description": "The error that caused the queued resource to enter the FAILED state.",
          "$ref": "Status"
        }
      },
      "description": "Further data for the failed state."
    },
    "GuestAttributes": {
      "type": "object",
      "description": "A guest attributes.",
      "id": "GuestAttributes",
      "properties": {
        "queryPath": {
          "type": "string",
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')"
        },
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        }
      }
    },
    "ResetQueuedResourceRequest": {
      "description": "Request for ResetQueuedResource.",
      "id": "ResetQueuedResourceRequest",
      "properties": {},
      "type": "object"
    },
    "RuntimeVersion": {
      "type": "object",
      "id": "RuntimeVersion",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The runtime version."
        }
      },
      "description": "A runtime version that a Node can be configured with."
    },
    "GuestAttributesValue": {
      "id": "GuestAttributesValue",
      "properties": {
        "items": {
          "items": {
            "$ref": "GuestAttributesEntry"
          },
          "description": "The list of guest attributes entries.",
          "type": "array"
        }
      },
      "description": "Array of guest attribute namespace/key/value tuples.",
      "type": "object"
    },
    "GetGuestAttributesResponse": {
      "type": "object",
      "description": "Response for GetGuestAttributes.",
      "id": "GetGuestAttributesResponse",
      "properties": {
        "guestAttributes": {
          "description": "The guest attributes for the TPU workers.",
          "items": {
            "$ref": "GuestAttributes"
          },
          "type": "array"
        }
      }
    },
    "StopNodeRequest": {
      "description": "Request for StopNode.",
      "id": "StopNodeRequest",
      "properties": {},
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata describing an Operation",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      },
      "description": "A set of Shielded Instance options."
    },
    "SimulateMaintenanceEventRequest": {
      "description": "Request for SimulateMaintenanceEvent.",
      "id": "SimulateMaintenanceEventRequest",
      "properties": {
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers."
        }
      },
      "type": "object"
    },
    "Node": {
      "id": "Node",
      "properties": {
        "runtimeVersion": {
          "type": "string",
          "description": "Required. The runtime version running in the Node."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "type": "array"
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "description": {
          "type": "string",
          "description": "The user-supplied description of the TPU. Maximum of 512 characters."
        },
        "queuedResource": {
          "type": "string",
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "readOnly": true
        },
        "autocheckpointEnabled": {
          "description": "Optional. Whether Autocheckpoint is enabled.",
          "type": "boolean"
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user-provided metadata."
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used.",
          "$ref": "ServiceAccount"
        },
        "multisliceNode": {
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "readOnly": true,
          "type": "boolean"
        },
        "dataDisks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "The additional data disks for the Node.",
          "type": "array"
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "id": {
          "description": "Output only. The unique identifier for the TPU Node.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "acceleratorType": {
          "description": "The type of hardware accelerators associated with this node.",
          "type": "string"
        },
        "upcomingMaintenance": {
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "$ref": "UpcomingMaintenance",
          "readOnly": true
        },
        "health": {
          "type": "string",
          "description": "The health status of the TPU node.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "networkEndpoints": {
          "readOnly": true,
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the node was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ],
          "description": "Output only. The API version that created this Node.",
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ],
          "type": "string"
        },
        "healthDescription": {
          "type": "string",
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy.",
          "readOnly": true
        },
        "symptoms": {
          "readOnly": true,
          "items": {
            "$ref": "Symptom"
          },
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "type": "array"
        },
        "state": {
          "description": "Output only. The current state for the TPU Node.",
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ]
[...]
