{
  "id": "tpu:v2alpha1",
  "revision": "20260127",
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "nodes": {
              "methods": {
                "get": {
                  "description": "Gets the details of a node.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.nodes.get",
                  "path": "v2alpha1/{+name}",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Node"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "start": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "description": "Starts a node.",
                  "id": "tpu.projects.locations.nodes.start",
                  "path": "v2alpha1/{+name}:start",
                  "httpMethod": "POST"
                },
                "list": {
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "id": "tpu.projects.locations.nodes.list",
                  "path": "v2alpha1/{+parent}/nodes",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists nodes."
                },
                "patch": {
                  "id": "tpu.projects.locations.nodes.patch",
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the configurations of a node.",
                  "request": {
                    "$ref": "Node"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Output only. Immutable. The name of the TPU.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}"
                },
                "simulateMaintenanceEvent": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:simulateMaintenanceEvent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "description": "Simulates a maintenance event.",
                  "request": {
                    "$ref": "SimulateMaintenanceEventRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.simulateMaintenanceEvent",
                  "path": "v2alpha1/{+name}:simulateMaintenanceEvent"
                },
                "performMaintenance": {
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.performMaintenance",
                  "path": "v2alpha1/{+name}:performMaintenance",
                  "request": {
                    "$ref": "PerformMaintenanceRequest"
                  },
                  "description": "Perform manual maintenance on a node.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:performMaintenance"
                },
                "stop": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "id": "tpu.projects.locations.nodes.stop",
                  "path": "v2alpha1/{+name}:stop",
                  "httpMethod": "POST",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a node.",
                  "id": "tpu.projects.locations.nodes.delete",
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Idempotent request UUID.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a node.",
                  "request": {
                    "$ref": "Node"
                  },
                  "id": "tpu.projects.locations.nodes.create",
                  "path": "v2alpha1/{+parent}/nodes",
                  "httpMethod": "POST",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "nodeId": {
                      "location": "query",
                      "description": "The unqualified resource name.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getGuestAttributes": {
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "path": "v2alpha1/{+name}:getGuestAttributes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "description": "Retrieves the guest attributes for the node.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes"
                }
              }
            },
            "runtimeVersions": {
              "methods": {
                "get": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a runtime version.",
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "GET"
                },
                "list": {
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Sort results.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "List filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "path": "v2alpha1/{+parent}/runtimeVersions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists runtime versions supported by this API."
                }
              }
            },
            "queuedResources": {
              "methods": {
                "list": {
                  "description": "Lists queued resources.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.queuedResources.list",
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    }
                  }
                },
                "performMaintenanceQueuedResource": {
                  "id": "tpu.projects.locations.queuedResources.performMaintenanceQueuedResource",
                  "path": "v2alpha1/{+name}:performMaintenanceQueuedResource",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PerformMaintenanceQueuedResourceRequest"
                  },
                  "description": "Perform manual maintenance on specific nodes of a QueuedResource.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the QueuedResource which holds the nodes to perform maintenance on.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:performMaintenanceQueuedResource"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.queuedResources.get",
                  "path": "v2alpha1/{+name}",
                  "description": "Gets details of a queued resource.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "path": "v2alpha1/{+name}",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Idempotent request UUID.",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "description": "If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}"
                },
                "getMaintenanceInfo": {
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.queuedResources.getMaintenanceInfo",
                  "path": "v2alpha1/{+name}:getMaintenanceInfo",
                  "description": "Gets the maintenance info for a queued resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GetMaintenanceInfoResponse"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The QueuedResource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:getMaintenanceInfo"
                },
                "create": {
                  "id": "tpu.projects.locations.queuedResources.create",
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a QueuedResource TPU instance.",
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "queuedResourceId": {
                      "location": "query",
                      "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources"
                },
                "reset": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The name of the queued resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "path": "v2alpha1/{+name}:reset",
                  "description": "Resets a QueuedResource TPU instance",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "tpu.projects.locations.operations.get",
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "tpu.projects.locations.operations.list",
                  "path": "v2alpha1/{+name}/operations",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "tpu.projects.locations.operations.delete",
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.operations.cancel",
                  "path": "v2alpha1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "get": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "description": "Required. The resource name.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets AcceleratorType.",
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "GET"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "path": "v2alpha1/{+parent}/acceleratorTypes",
                  "description": "Lists accelerator types supported by this API.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "List filter.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Sort results.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes"
                }
              }
            },
            "reservations": {
              "methods": {
                "list": {
                  "description": "Retrieves the reservations for the given project in the given location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.reservations.list",
                  "path": "v2alpha1/{+parent}/reservations",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return. Defaults to 0 if not specified, which means no limit.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent for reservations.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "generateServiceIdentity": {
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Generates the Cloud TPU service identity for the project.",
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "tpu.projects.locations.generateServiceIdentity",
              "path": "v2alpha1/{+parent}:generateServiceIdentity"
            },
            "list": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2alpha1/projects/{projectsId}/locations",
              "id": "tpu.projects.locations.list",
              "path": "v2alpha1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "tpu.projects.locations.get",
              "path": "v2alpha1/{+name}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "name": "tpu",
  "fullyEncodeReservedExpansion": true,
  "description": "TPU API provides customers with access to Google TPU technology.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "servicePath": "",
  "version": "v2alpha1",
  "batchPath": "batch",
  "title": "Cloud TPU API",
  "ownerDomain": "google.com",
  "baseUrl": "https://tpu.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "TPU",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/tpu/",
  "schemas": {
    "SimulateMaintenanceEventRequest": {
      "description": "Request for SimulateMaintenanceEvent.",
      "type": "object",
      "properties": {
        "workerIds": {
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers.",
          "type": "array"
        }
      },
      "id": "SimulateMaintenanceEventRequest"
    },
    "ListAcceleratorTypesResponse": {
      "description": "Response for ListAcceleratorTypes.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "acceleratorTypes": {
          "items": {
            "$ref": "AcceleratorType"
          },
          "description": "The listed nodes.",
          "type": "array"
        }
      },
      "id": "ListAcceleratorTypesResponse"
    },
    "Usage": {
      "id": "Usage",
      "description": "Usage details of a reservation.",
      "type": "object",
      "properties": {
        "total": {
          "format": "int64",
          "description": "The real-time value of usage within the reservation, with the unit specified in field capacity_units.",
          "type": "string"
        }
      }
    },
    "NetworkConfig": {
      "properties": {
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "network": {
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "queueCount": {
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "type": "integer",
          "format": "int32"
        },
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        }
      },
      "description": "Network related configurations.",
      "type": "object",
      "id": "NetworkConfig"
    },
    "CustomerEncryptionKey": {
      "id": "CustomerEncryptionKey",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      },
      "description": "Customer's encryption key.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "target": {
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusDetail": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        }
      },
      "description": "Metadata describing an Operation",
      "type": "object",
      "id": "OperationMetadata"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "Node": {
      "description": "A TPU instance.",
      "type": "object",
      "properties": {
        "healthDescription": {
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy.",
          "type": "string",
          "readOnly": true
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "queuedResource": {
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "type": "string",
          "readOnly": true
        },
        "acceleratorType": {
          "description": "The type of hardware accelerators associated with this node.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used.",
          "$ref": "ServiceAccount"
        },
        "dataDisks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "The additional data disks for the Node.",
          "type": "array"
        },
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "type": "array"
        },
        "autocheckpointEnabled": {
          "description": "Optional. Whether Autocheckpoint is enabled.",
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ],
          "type": "string",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ],
          "description": "Output only. The API version that created this Node."
        },
        "multisliceNode": {
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state for the TPU Node.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ]
        },
        "bootDiskConfig": {
          "$ref": "BootDiskConfig",
          "description": "Optional. Boot disk configuration."
        },
        "runtimeVersion": {
          "description": "Required. The runtime version running in the Node.",
          "type": "string"
        },
        "symptoms": {
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Symptom"
          }
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "type": "object"
        },
        "health": {
          "description": "The health status of the TPU node.",
          "type": "string",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "tags": {
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Resource labels to represent user-provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "format": "int64",
          "description": "Output only. The unique identifier for the TPU Node.",
          "type": "string",
          "readOnly": true
        },
        "upcomingMaintenance": {
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "readOnly": true,
          "$ref": "UpcomingMaintenance"
        },
        "networkEndpoints": {
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "readOnly": true,
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "type": "array"
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The name of the TPU.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the node was created.",
          "type": "string"
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        }
      },
      "id": "Node"
    },
    "StopNodeRequest": {
      "id": "StopNodeRequest",
      "properties": {},
      "description": "Request for StopNode.",
      "type": "object"
    },
    "GenerateServiceIdentityRequest": {
      "id": "GenerateServiceIdentityRequest",
      "description": "Request for GenerateServiceIdentity.",
      "type": "object",
      "properties": {}
    },
    "AcceleratorType": {
      "description": "A accelerator type that a Node can be configured with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        },
        "acceleratorConfigs": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "The accelerator config.",
          "type": "array"
        }
      },
      "id": "AcceleratorType"
    },
    "GuestAttributesValue": {
      "id": "GuestAttributesValue",
      "description": "Array of guest attribute namespace/key/value tuples.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of guest attributes entries.",
          "type": "array",
          "items": {
            "$ref": "GuestAttributesEntry"
          }
        }
      }
    },
    "Symptom": {
      "id": "Symptom",
      "description": "A Symptom instance.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Detailed information of the current Symptom.",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp when the Symptom is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "symptomType": {
          "description": "Type of the Symptom.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ]
        },
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        }
      }
    },
    "NetworkEndpoint": {
      "id": "NetworkEndpoint",
      "description": "A network endpoint over which a TPU worker can be reached.",
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "description": "The port of this network endpoint.",
          "type": "integer"
        },
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        },
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        }
      }
    },
    "QueuedResource": {
      "id": "QueuedResource",
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "type": "object",
      "properties": {
        "tpu": {
          "description": "Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "bestEffort": {
          "description": "The BestEffort tier.",
          "$ref": "BestEffort"
        },
        "provisioningModel": {
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation.",
            "Provisioning with DWS Flex Start with max run duration."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND",
            "FLEX_START"
          ],
          "description": "Optional. The provisioning model for the resource.",
          "type": "string"
        },
        "queueingPolicy": {
          "$ref": "QueueingPolicy",
          "description": "The queueing policy of the QueuedRequest."
        },
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "name": {
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the QueuedResource was created.",
          "type": "string",
          "readOnly": true
        },
        "guaranteed": {
          "description": "The Guaranteed tier.",
          "$ref": "Guaranteed"
        },
        "state": {
          "description": "Output only. State of the QueuedResource request.",
          "readOnly": true,
          "$ref": "QueuedResourceState"
        },
        "reservationName": {
          "description": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "runDuration": {
          "description": "Optional. The duration of the requested resource.",
          "$ref": "RunDuration"
        }
      }
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "reservations": {
          "description": "The listed reservations.",
          "type": "array",
          "items": {
            "$ref": "Reservation"
          }
        }
      },
      "id": "ListReservationsResponse"
    },
    "BootDiskConfig": {
      "id": "BootDiskConfig",
      "properties": {
        "customerEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Customer encryption key for boot disk."
        },
        "sourceImage": {
          "description": "Optional. Image from which boot disk is to be created. If not specified, the default image for the runtime version will be used. Example: `projects/$PROJECT_ID/global/images/$IMAGE_NAME`.",
          "type": "string"
        },
        "provisionedIops": {
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. To learn more about IOPS, see [Provisioning persistent disk performance](https://cloud.google.com/compute/docs/disks/performance#provisioned-iops).",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int64",
          "description": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image.",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "description": "Optional. Whether the boot disk will be created with confidential compute mode.",
          "type": "boolean"
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle.",
          "type": "string",
          "format": "int64"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        }
      },
      "description": "Boot disk configurations.",
      "type": "object"
    },
    "ActiveData": {
      "properties": {},
      "description": "Further data for the active state.",
      "type": "object",
      "id": "ActiveData"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Guaranteed": {
      "properties": {
        "minDuration": {
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "type": "string",
          "format": "google-duration"
        },
        "reserved": {
          "description": "Optional. Specifies the request should be scheduled on reserved capacity.",
          "type": "boolean"
        }
      },
      "description": "Guaranteed tier definition.",
      "type": "object",
      "id": "Guaranteed"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "A service account.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the service account. If empty, default Compute service account will be used.",
          "type": "string"
        },
        "scope": {
          "items": {
            "type": "string"
          },
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "type": "array"
        }
      }
    },
    "GetMaintenanceInfoResponse": {
      "id": "GetMaintenanceInfoResponse",
      "description": "Response for GetMaintenanceInfo.",
      "type": "object",
      "properties": {
        "nodeUpcomingMaintenances": {
          "items": {
            "$ref": "NodeUpcomingMaintenanceInfo"
          },
          "description": "The list of upcoming maintenance entries.",
          "type": "array"
        }
      }
    },
    "QueuedResourceState": {
      "id": "QueuedResourceState",
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "type": "object",
      "properties": {
        "stateInitiator": {
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "readOnly": true,
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "type": "string"
        },
        "failedData": {
          "$ref": "FailedData",
          "description": "Further data for the failed state."
        },
        "activeData": {
          "$ref": "ActiveData",
          "description": "Further data for the active state."
        },
        "state": {
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "description": "State of the QueuedResource request.",
          "type": "string"
        },
        "deletingData": {
          "description": "Further data for the deleting state.",
          "$ref": "DeletingData"
        },
        "suspendingData": {
          "$ref": "SuspendingData",
          "description": "Further data for the suspending state."
        },
        "suspendedData": {
          "$ref": "SuspendedData",
          "description": "Further data for the suspended state."
        },
        "creatingData": {
          "description": "Further data for the creating state.",
          "$ref": "CreatingData"
        },
        "acceptedData": {
          "description": "Further data for the accepted state.",
          "$ref": "AcceptedData"
        },
        "provisioningData": {
          "description": "Further data for the provisioning state.",
          "$ref": "ProvisioningData"
        }
      }
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "type": "string"
        },
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        },
        "workerIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of worker IDs this disk is attached to.",
          "type": "array"
        }
      },
      "description": "A node-attached disk resource.",
      "type": "object"
    },
    "FailedData": {
      "id": "FailedData",
      "description": "Further data for the failed state.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error that caused the queued resource to enter the FAILED state."
        }
      }
    },
    "AcceleratorConfig": {
      "description": "A TPU accelerator configuration.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Type of TPU.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5.",
            "TPU v6e."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        },
        "topology": {
          "description": "Required. Topology of TPU in chips.",
          "type": "string"
        }
      },
      "id": "AcceleratorConfig"
    },
    "Interval": {
      "id": "Interval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "GetGuestAttributesResponse": {
      "properties": {
        "guestAttributes": {
          "items": {
            "$ref": "GuestAttributes"
          },
          "description": "The guest attributes for the TPU workers.",
          "type": "array"
        }
      },
      "description": "Response for GetGuestAttributes.",
      "type": "object",
      "id": "GetGuestAttributesResponse"
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "ServiceIdentity",
          "description": "ServiceIdentity that was created or retrieved."
        }
      },
      "id": "GenerateServiceIdentityResponse"
    },
    "AccessConfig": {
      "properties": {
        "externalIp": {
          "description": "Output only. An external IP address associated with the TPU worker.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An access config attached to the TPU worker.",
      "type": "object",
      "id": "AccessConfig"
    },
    "ProvisioningData": {
      "properties": {},
      "description": "Further data for the provisioning state.",
      "type": "object",
      "id": "ProvisioningData"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "QueueingPolicy": {
      "properties": {
        "validUntilTime": {
          "format": "google-datetime",
          "description": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "type": "string"
        },
        "validUntilDuration": {
          "format": "google-duration",
          "description": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "type": "string"
        },
        "validAfterDuration": {
          "description": "A relative time after which resources may be created.",
          "type": "string",
          "format": "google-duration"
        },
        "validAfterTime": {
          "description": "An absolute time at which resources may be created.",
          "type": "string",
          "format": "google-datetime"
        },
        "validInterval": {
          "description": "An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        }
      },
      "description": "Defines the policy of the QueuedRequest.",
      "type": "object",
      "id": "QueueingPolicy"
    },
    "ListRuntimeVersionsResponse": {
      "properties": {
        "runtimeVersions": {
          "description": "The listed nodes.",
          "type": "array",
          "items": {
            "$ref": "RuntimeVersion"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for ListRuntimeVersions.",
      "type": "object",
      "id": "ListRuntimeVersionsResponse"
    },
    "GuestAttributesEntry": {
      "id": "GuestAttributesEntry",
      "description": "A guest attributes namespace/key/value entry.",
      "type": "object",
      "properties": {
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        },
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        }
      }
    },
    "StartNodeRequest": {
      "id": "StartNodeRequest",
      "properties": {},
      "description": "Request for StartNode.",
      "type": "object"
    },
    "MultiNodeParams": {
      "id": "MultiNodeParams",
      "properties": {
        "nodeIdPrefix": {
          "description": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1.",
          "type": "integer",
          "format": "int32"
        },
        "workloadType": {
          "enumDescriptions": [
            "Not specified.",
            "All of the nodes are available most of the time. Recommended for training workloads.",
            "Most of the nodes are available all of the time. Recommended for serving workloads."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "THROUGHPUT_OPTIMIZED",
            "AVAILABILITY_OPTIMIZED"
          ],
          "description": "Optional. The workload type for the multi-node request.",
          "type": "string"
        }
      },
      "description": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params.",
      "type": "object"
    },
    "ResetQueuedResourceRequest": {
      "id": "ResetQueuedResourceRequest",
      "description": "Request for ResetQueuedResource.",
      "type": "object",
      "properties": {}
    },
    "ServiceIdentity": {
      "id": "ServiceIdentity",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "type": "object"
    },
    "CreatingData": {
      "id": "CreatingData",
      "description": "Further data for the creating state.",
      "type": "object",
      "properties": {}
    },
    "ListNodesResponse": {
      "id": "ListNodesResponse",
      "description": "Response for ListNodes.",
      "type": "object",
      "properties": {
        "nodes": {
          "description": "The listed nodes.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "RuntimeVersion": {
      "description": "A runtime version that a Node can be configured with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      },
      "id": "RuntimeVersion"
    },
    "SuspendingData": {
      "properties": {},
      "description": "Further data for the suspending state.",
      "type": "object",
      "id": "SuspendingData"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "NodeUpcomingMaintenanceInfo": {
      "description": "A tuple containing node name / ID and maintenance info.",
      "type": "object",
      "properties": {
        "nodeName": {
          "description": "Unqualified node name.",
          "type": "string"
        },
        "nodeUid": {
          "description": "UID of this node.",
          "type": "string",
          "format": "int64"
        },
        "upcomingMaintenance": {
          "description": "Upcoming maintenance info for this node.",
          "$ref": "UpcomingMaintenance"
        }
      },
      "id": "NodeUpcomingMaintenanceInfo"
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      }
    },
    "PerformMaintenanceRequest": {
      "id": "PerformMaintenanceRequest",
      "properties": {},
      "description": "Request for PerformMaintenance.",
      "type": "object"
    },
    "Spot": {
      "id": "Spot",
      "properties": {},
      "description": "Spot tier definition.",
      "type": "object"
    },
    "RunDuration": {
      "description": "Defines the maximum lifetime of the requested resource.",
      "type": "object",
      "properties": {
        "maxRunDuration": {
          "format": "google-duration",
          "description": "The maximum duration of the requested resource.",
          "type": "string"
        },
        "terminationTime": {
          "description": "The time at which the requested resource will be terminated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "RunDuration"
    },
    "GuestAttributes": {
      "properties": {
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        },
        "queryValue": {
          "$ref": "GuestAttributesValue",
          "description": "The value of the requested queried path."
        }
      },
      "description": "A guest attributes.",
      "type": "object",
      "id": "GuestAttributes"
    },
    "DeletingData": {
      "description": "Further data for the deleting state.",
      "type": "object",
      "properties": {},
      "id": "DeletingData"
    },
    "GetGuestAttributesRequest": {
      "id": "GetGuestAttributesRequest",
      "description": "Request for GetGuestAttributes.",
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        },
        "workerIds": {
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned.",
          "type": "array"
        }
      }
    },
    "Standard": {
      "id": "Standard",
      "properties": {
        "size": {
          "format": "int32",
          "description": "The size of the reservation, in the units specified in the 'capacity_units' field.",
          "type": "integer"
        },
        "usage": {
          "description": "The current usage of the reservation.",
          "$ref": "Usage"
        },
        "capacityUnits": {
          "enumDescriptions": [
            "The capacity units is not known/set.",
            "The capacity unit is set to CORES.",
            "The capacity unit is set to CHIPS."
          ],
          "enum": [
            "CAPACITY_UNITS_UNSPECIFIED",
            "CORES",
            "CHIPS"
          ],
          "description": "Capacity units this reservation is measured in.",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource type of the reservation.",
          "type": "string"
        },
        "interval": {
          "description": "The start and end time of the reservation.",
          "$ref": "Interval"
        }
      },
      "description": "Details of a standard reservation.",
      "type": "object"
    },
    "SuspendedData": {
      "id": "SuspendedData",
      "properties": {},
      "description": "Further data for the suspended state.",
      "type": "object"
    },
    "NodeSpec": {
      "id": "NodeSpec",
      "properties": {
        "parent": {
          "description": "Required. The parent resource name.",
          "type": "string"
        },
        "nodeId": {
          "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params.",
          "type": "string"
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "multiNodeParams": {
          "description": "Optional. Fields to specify in case of multi-node request.",
          "$ref": "MultiNodeParams"
        }
      },
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created.",
      "type": "object"
    },
    "PerformMaintenanceQueuedResourceRequest": {
      "properties": {
        "nodeNames": {
          "items": {
            "type": "string"
          },
          "description": "The names of the nodes to perform maintenance on.",
          "type": "array"
        }
      },
      "description": "Request for PerformMaintenanceQueuedResource.",
      "type": "object",
      "id": "PerformMaintenanceQueuedResourceRequest"
    },
    "AcceptedData": {
      "description": "Further data for the accepted state.",
      "type": "object",
      "properties": {},
      "id": "AcceptedData"
    },
    "SchedulingConfig": {
      "description": "Sets the scheduling options for this node.",
      "type": "object",
      "properties": {
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        },
        "reservationName": {
          "description": "Optional. Name of the reservation in which the node should be provisioned.",
          "type": "string"
        },
        "terminationTimestamp": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the node will be terminated.",
          "type": "string"
        },
        "preemptible": {
          "description": "Defines whether the node is preemptible.",
          "type": "boolean"
        },
        "provisioningModel": {
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND"
          ],
          "description": "Optional. Defines the provisioning model for the node.",
          "type": "string"
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        }
      },
      "id": "SchedulingConfig"
    },
    "BestEffort": {
      "id": "BestEffort",
      "description": "BestEffort tier definition.",
      "type": "object",
      "properties": {}
    },
    "Reservation": {
      "properties": {
        "name": {
          "description": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}",
          "type": "string"
        },
        "standard": {
          "description": "A standard reservation.",
          "$ref": "Standard"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "EXPIRED",
            "FAILED"
          ],
          "description": "Output only. The state of the Reservation.",
          "enumDescriptions": [
            "The Reservation state is unspecified.",
            "The Reservation has been approved.",
            "The Reservation is being provisioned.",
            "The Reservation is active.",
            "The Reservation is being deprovisioned.",
            "The Reservation is past its end date.",
            "The Reservation encountered a failure during mutation."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A reservation describes the amount of a resource 'allotted' for a defined period of time.",
      "type": "object",
      "id": "Reservation"
    },
    "ListQueuedResourcesResponse": {
      "id": "ListQueuedResourcesResponse",
      "description": "Response for ListQueuedResources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queuedResources": {
          "items": {
            "$ref": "QueuedResource"
          },
          "description": "The listed queued resources.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
[...]
