{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "TPU API provides customers with access to Google TPU technology.",
  "title": "Cloud TPU API",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/tpu/",
  "version_module": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://tpu.googleapis.com/",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "id": "tpu:v2alpha1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "schemas": {
    "QueueingPolicy": {
      "properties": {
        "validUntilTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validInterval": {
          "description": "An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        },
        "validAfterDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "A relative time after which resources may be created."
        },
        "validUntilDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "An absolute time at which resources may be created."
        }
      },
      "id": "QueueingPolicy",
      "type": "object",
      "description": "Defines the policy of the QueuedRequest."
    },
    "AcceleratorType": {
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The accelerator type."
        },
        "acceleratorConfigs": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array",
          "description": "The accelerator config."
        }
      },
      "id": "AcceleratorType",
      "type": "object",
      "description": "A accelerator type that a Node can be configured with."
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "id": "ListReservationsResponse",
      "type": "object",
      "properties": {
        "reservations": {
          "description": "The listed reservations.",
          "type": "array",
          "items": {
            "$ref": "Reservation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      }
    },
    "SchedulingConfig": {
      "properties": {
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        },
        "terminationTimestamp": {
          "description": "Output only. The time at which the node will be terminated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "reservationName": {
          "description": "Optional. Name of the reservation in which the node should be provisioned.",
          "type": "string"
        },
        "reserved": {
          "type": "boolean",
          "description": "Whether the node is created under a reservation."
        },
        "provisioningModel": {
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND"
          ],
          "description": "Optional. Defines the provisioning model for the node.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation."
          ]
        }
      },
      "id": "SchedulingConfig",
      "type": "object",
      "description": "Sets the scheduling options for this node."
    },
    "CustomerEncryptionKey": {
      "description": "Customer's encryption key.",
      "id": "CustomerEncryptionKey",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      }
    },
    "QueuedResource": {
      "properties": {
        "bestEffort": {
          "$ref": "BestEffort",
          "description": "The BestEffort tier."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the QueuedResource request.",
          "$ref": "QueuedResourceState"
        },
        "runDuration": {
          "description": "Optional. The duration of the requested resource.",
          "$ref": "RunDuration"
        },
        "guaranteed": {
          "$ref": "Guaranteed",
          "description": "The Guaranteed tier."
        },
        "reservationName": {
          "description": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "tpu": {
          "description": "Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The name of the QueuedResource."
        },
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "queueingPolicy": {
          "description": "The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the QueuedResource was created."
        },
        "provisioningModel": {
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND",
            "FLEX_START"
          ],
          "description": "Optional. The provisioning model for the resource.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation.",
            "Provisioning with DWS Flex Start with max run duration."
          ]
        }
      },
      "id": "QueuedResource",
      "type": "object",
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Node": {
      "properties": {
        "runtimeVersion": {
          "type": "string",
          "description": "Required. The runtime version running in the Node."
        },
        "symptoms": {
          "items": {
            "$ref": "Symptom"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The Symptoms that have occurred to the TPU Node."
        },
        "bootDiskConfig": {
          "$ref": "BootDiskConfig",
          "description": "Optional. Boot disk configuration."
        },
        "tags": {
          "type": "array",
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state for the TPU Node.",
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ]
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "dataDisks": {
          "description": "The additional data disks for the Node.",
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user-provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autocheckpointEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Autocheckpoint is enabled."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The name of the TPU."
        },
        "acceleratorConfig": {
          "$ref": "AcceleratorConfig",
          "description": "The AccleratorConfig for the TPU Node."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the node was created."
        },
        "health": {
          "description": "The health status of the TPU node.",
          "type": "string",
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ],
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ]
        },
        "queuedResource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The qualified name of the QueuedResource that requested this Node."
        },
        "description": {
          "type": "string",
          "description": "The user-supplied description of the TPU. Maximum of 512 characters."
        },
        "multisliceNode": {
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "readOnly": true,
          "type": "boolean"
        },
        "healthDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
        },
        "cidrBlock": {
          "type": "string",
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block."
        },
        "networkEndpoints": {
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "readOnly": true,
          "type": "array"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique identifier for the TPU Node."
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "type": "object"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "upcomingMaintenance": {
          "readOnly": true,
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "$ref": "UpcomingMaintenance"
        },
        "acceleratorType": {
          "type": "string",
          "description": "The type of hardware accelerators associated with this node."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. The API version that created this Node.",
          "type": "string",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ],
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ]
        },
        "networkConfigs": {
          "type": "array",
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "items": {
            "$ref": "NetworkConfig"
          }
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        }
      },
      "id": "Node",
      "type": "object",
      "description": "A TPU instance."
    },
    "ListQueuedResourcesResponse": {
      "properties": {
        "queuedResources": {
          "items": {
            "$ref": "QueuedResource"
          },
          "description": "The listed queued resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListQueuedResourcesResponse",
      "type": "object",
      "description": "Response for ListQueuedResources."
    },
    "Spot": {
      "properties": {},
      "id": "Spot",
      "type": "object",
      "description": "Spot tier definition."
    },
    "StartNodeRequest": {
      "description": "Request for StartNode.",
      "id": "StartNodeRequest",
      "type": "object",
      "properties": {}
    },
    "RuntimeVersion": {
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      },
      "description": "A runtime version that a Node can be configured with.",
      "id": "RuntimeVersion",
      "type": "object"
    },
    "Standard": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type of the reservation."
        },
        "usage": {
          "$ref": "Usage",
          "description": "The current usage of the reservation."
        },
        "size": {
          "description": "The size of the reservation, in the units specified in the 'capacity_units' field.",
          "type": "integer",
          "format": "int32"
        },
        "capacityUnits": {
          "enumDescriptions": [
            "The capacity units is not known/set.",
            "The capacity unit is set to CORES.",
            "The capacity unit is set to CHIPS."
          ],
          "description": "Capacity units this reservation is measured in.",
          "type": "string",
          "enum": [
            "CAPACITY_UNITS_UNSPECIFIED",
            "CORES",
            "CHIPS"
          ]
        },
        "interval": {
          "description": "The start and end time of the reservation.",
          "$ref": "Interval"
        }
      },
      "description": "Details of a standard reservation.",
      "id": "Standard",
      "type": "object"
    },
    "BestEffort": {
      "properties": {},
      "description": "BestEffort tier definition.",
      "id": "BestEffort",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Interval": {
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "type": "object"
    },
    "BootDiskConfig": {
      "description": "Boot disk configurations.",
      "id": "BootDiskConfig",
      "type": "object",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Optional. Image from which boot disk is to be created. If not specified, the default image for the runtime version will be used. Example: `projects/$PROJECT_ID/global/images/$IMAGE_NAME`."
        },
        "diskSizeGb": {
          "description": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image.",
          "type": "string",
          "format": "int64"
        },
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Whether the boot disk will be created with confidential compute mode."
        },
        "provisionedIops": {
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. To learn more about IOPS, see [Provisioning persistent disk performance](https://cloud.google.com/compute/docs/disks/performance#provisioned-iops).",
          "type": "string",
          "format": "int64"
        },
        "provisionedThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "AcceptedData": {
      "id": "AcceptedData",
      "type": "object",
      "description": "Further data for the accepted state.",
      "properties": {}
    },
    "UpcomingMaintenance": {
      "properties": {
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "description": "Defines the type of maintenance."
        },
        "latestWindowStartTime": {
          "type": "string",
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format."
        },
        "maintenanceStatus": {
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ],
          "description": "The status of the maintenance."
        },
        "canReschedule": {
          "type": "boolean",
          "description": "Indicates if the maintenance can be customer triggered."
        },
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenance",
      "type": "object",
      "description": "Upcoming Maintenance notification information."
    },
    "NodeSpec": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name."
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "multiNodeParams": {
          "$ref": "MultiNodeParams",
          "description": "Optional. Fields to specify in case of multi-node request."
        },
        "nodeId": {
          "type": "string",
          "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params."
        }
      },
      "id": "NodeSpec",
      "type": "object",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created."
    },
    "ActiveData": {
      "id": "ActiveData",
      "type": "object",
      "description": "Further data for the active state.",
      "properties": {}
    },
    "StopNodeRequest": {
      "properties": {},
      "description": "Request for StopNode.",
      "id": "StopNodeRequest",
      "type": "object"
    },
    "DeletingData": {
      "id": "DeletingData",
      "type": "object",
      "description": "Further data for the deleting state.",
      "properties": {}
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "Guaranteed": {
      "properties": {
        "minDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration."
        },
        "reserved": {
          "type": "boolean",
          "description": "Optional. Specifies the request should be scheduled on reserved capacity."
        }
      },
      "description": "Guaranteed tier definition.",
      "id": "Guaranteed",
      "type": "object"
    },
    "GuestAttributesEntry": {
      "properties": {
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key for the guest attribute entry."
        },
        "namespace": {
          "type": "string",
          "description": "Namespace for the guest attribute entry."
        }
      },
      "description": "A guest attributes namespace/key/value entry.",
      "id": "GuestAttributesEntry",
      "type": "object"
    },
    "ResetQueuedResourceRequest": {
      "properties": {},
      "description": "Request for ResetQueuedResource.",
      "id": "ResetQueuedResourceRequest",
      "type": "object"
    },
    "CreatingData": {
      "id": "CreatingData",
      "type": "object",
      "description": "Further data for the creating state.",
      "properties": {}
    },
    "AttachedDisk": {
      "description": "A node-attached disk resource.",
      "id": "AttachedDisk",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ]
        },
        "workerIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of worker IDs this disk is attached to.",
          "type": "array"
        },
        "sourceDisk": {
          "type": "string",
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\"."
        }
      }
    },
    "Usage": {
      "id": "Usage",
      "type": "object",
      "description": "Usage details of a reservation.",
      "properties": {
        "total": {
          "type": "string",
          "format": "int64",
          "description": "The real-time value of usage within the reservation, with the unit specified in field capacity_units."
        }
      }
    },
    "GetGuestAttributesResponse": {
      "description": "Response for GetGuestAttributes.",
      "id": "GetGuestAttributesResponse",
      "type": "object",
      "properties": {
        "guestAttributes": {
          "items": {
            "$ref": "GuestAttributes"
          },
          "description": "The guest attributes for the TPU workers.",
          "type": "array"
        }
      }
    },
    "SuspendingData": {
      "properties": {},
      "description": "Further data for the suspending state.",
      "id": "SuspendingData",
      "type": "object"
    },
    "GuestAttributes": {
      "id": "GuestAttributes",
      "type": "object",
      "description": "A guest attributes.",
      "properties": {
        "queryValue": {
          "$ref": "GuestAttributesValue",
          "description": "The value of the requested queried path."
        },
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        }
      }
    },
    "RunDuration": {
      "properties": {
        "terminationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the requested resource will be terminated."
        },
        "maxRunDuration": {
          "description": "The maximum duration of the requested resource.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Defines the maximum lifetime of the requested resource.",
      "id": "RunDuration",
      "type": "object"
    },
    "AccessConfig": {
      "description": "An access config attached to the TPU worker.",
      "id": "AccessConfig",
      "type": "object",
      "properties": {
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      }
    },
    "PerformMaintenanceQueuedResourceRequest": {
      "description": "Request for PerformMaintenanceQueuedResource.",
      "id": "PerformMaintenanceQueuedResourceRequest",
      "type": "object",
      "properties": {
        "nodeNames": {
          "description": "The names of the nodes to perform maintenance on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityResponse",
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "ServiceIdentity",
          "description": "ServiceIdentity that was created or retrieved."
        }
      }
    },
    "Reservation": {
      "properties": {
        "name": {
          "description": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the Reservation.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "EXPIRED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The Reservation state is unspecified.",
            "The Reservation has been approved.",
            "The Reservation is being provisioned.",
            "The Reservation is active.",
            "The Reservation is being deprovisioned.",
            "The Reservation is past its end date.",
            "The Reservation encountered a failure during mutation."
          ]
        },
        "standard": {
          "description": "A standard reservation.",
          "$ref": "Standard"
        }
      },
      "id": "Reservation",
      "type": "object",
      "description": "A reservation describes the amount of a resource 'allotted' for a defined period of time."
    },
    "ListNodesResponse": {
      "description": "Response for ListNodes.",
      "id": "ListNodesResponse",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array",
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "PerformMaintenanceRequest": {
      "properties": {},
      "id": "PerformMaintenanceRequest",
      "type": "object",
      "description": "Request for PerformMaintenance."
    },
    "FailedData": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error that caused the queued resource to enter the FAILED state."
        }
      },
      "description": "Further data for the failed state.",
      "id": "FailedData",
      "type": "object"
    },
    "NetworkConfig": {
      "properties": {
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "network": {
          "type": "string",
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
        },
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        },
        "queueCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface."
        }
      },
      "id": "NetworkConfig",
      "type": "object",
      "description": "Network related configurations."
    },
    "AcceleratorConfig": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5.",
            "TPU v6e."
          ],
          "description": "Required. Type of TPU.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        },
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        }
      },
      "id": "AcceleratorConfig",
      "type": "object",
      "description": "A TPU accelerator configuration."
    },
    "ListAcceleratorTypesResponse": {
      "id": "ListAcceleratorTypesResponse",
      "type": "object",
      "description": "Response for ListAcceleratorTypes.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "acceleratorTypes": {
          "items": {
            "$ref": "AcceleratorType"
          },
          "type": "array",
          "description": "The listed nodes."
        }
      }
    },
    "Tpu": {
      "properties": {
        "nodeSpec": {
          "items": {
            "$ref": "NodeSpec"
          },
          "type": "array",
          "description": "The TPU node(s) being requested."
        }
      },
      "id": "Tpu",
      "type": "object",
      "description": "Details of the TPU resource(s) being requested."
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata describing an Operation"
    },
    "GenerateServiceIdentityRequest": {
      "properties": {},
      "id": "GenerateServiceIdentityRequest",
      "type": "object",
      "description": "Request for GenerateServiceIdentity."
    },
    "MultiNodeParams": {
      "id": "MultiNodeParams",
      "type": "object",
      "description": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params.",
      "properties": {
        "workloadType": {
          "enumDescriptions": [
            "Not specified.",
            "All of the nodes are available most of the time. Recommended for training workloads.",
            "Most of the nodes are available all of the time. Recommended for serving workloads."
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "THROUGHPUT_OPTIMIZED",
            "AVAILABILITY_OPTIMIZED"
          ],
          "description": "Optional. The workload type for the multi-node request."
        },
        "nodeIdPrefix": {
          "type": "string",
          "description": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix."
        },
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SuspendedData": {
      "id": "SuspendedData",
      "type": "object",
      "description": "Further data for the suspended state.",
      "properties": {}
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "description": "Email address of the service account. If empty, default Compute service account will be used.",
          "type": "string"
        },
        "scope": {
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ServiceAccount",
      "type": "object",
      "description": "A service account."
    },
    "NetworkEndpoint": {
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The internal IP address of this network endpoint."
        },
        "port": {
          "description": "The port of this network endpoint.",
          "type": "integer",
          "format": "int32"
        },
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        }
      },
      "description": "A network endpoint over which a TPU worker can be reached.",
      "id": "NetworkEndpoint",
      "type": "object"
    },
    "ListRuntimeVersionsResponse": {
      "description": "Response for ListRuntimeVersions.",
      "id": "ListRuntimeVersionsResponse",
      "type": "object",
      "properties": {
        "runtimeVersions": {
          "items": {
            "$ref": "RuntimeVersion"
          },
          "type": "array",
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "SimulateMaintenanceEventRequest": {
      "properties": {
        "workerIds": {
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers.",
          "type": "array"
        }
      },
      "id": "SimulateMaintenanceEventRequest",
      "type": "object",
      "description": "Request for SimulateMaintenanceEvent."
    },
    "QueuedResourceState": {
      "id": "QueuedResourceState",
      "type": "object",
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "properties": {
        "activeData": {
          "$ref": "ActiveData",
          "description": "Further data for the active state."
        },
        "suspendingData": {
          "description": "Further data for the suspending state.",
          "$ref": "SuspendingData"
        },
        "deletingData": {
          "$ref": "DeletingData",
          "description": "Further data for the deleting state."
        },
        "creatingData": {
          "description": "Further data for the creating state.",
          "$ref": "CreatingData"
        },
        "acceptedData": {
          "$ref": "AcceptedData",
          "description": "Further data for the accepted state."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "description": "State of the QueuedResource request.",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ]
        },
        "provisioningData": {
          "$ref": "ProvisioningData",
          "description": "Further data for the provisioning state."
        },
        "failedData": {
          "description": "Further data for the failed state.",
          "$ref": "FailedData"
        },
        "suspendedData": {
          "description": "Further data for the suspended state.",
          "$ref": "SuspendedData"
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ]
        }
      }
    },
    "ServiceIdentity": {
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "id": "ServiceIdentity",
      "type": "object",
      "description": "The per-product per-project service identity for Cloud TPU service."
    },
    "GuestAttributesValue": {
      "id": "GuestAttributesValue",
      "type": "object",
      "description": "Array of guest attribute namespace/key/value tuples.",
      "properties": {
        "items": {
          "description": "The list of guest attributes entries.",
          "type": "array",
          "items": {
            "$ref": "GuestAttributesEntry"
          }
        }
      }
    },
    "NodeUpcomingMaintenanceInfo": {
      "id": "NodeUpcomingMaintenanceInfo",
      "type": "object",
      "description": "A tuple containing node name / ID and maintenance info.",
      "properties": {
        "upcomingMaintenance": {
          "description": "Upcoming maintenance info for this node.",
          "$ref": "UpcomingMaintenance"
        },
        "nodeUid": {
          "type": "string",
          "format": "int64",
          "description": "UID of this node."
        },
        "nodeName": {
          "type": "string",
          "description": "Unqualified node name."
        }
      }
    },
    "GetMaintenanceInfoResponse": {
      "description": "Response for GetMaintenanceInfo.",
      "id": "GetMaintenanceInfoResponse",
      "type": "object",
      "properties": {
        "nodeUpcomingMaintenances": {
          "items": {
            "$ref": "NodeUpcomingMaintenanceInfo"
          },
          "description": "The list of upcoming maintenance entries.",
          "type": "array"
        }
      }
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      },
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "description": "A set of Shielded Instance options."
    },
    "GetGuestAttributesRequest": {
      "properties": {
        "queryPath": {
          "type": "string",
          "description": "The guest attributes path to be queried."
        },
        "workerIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned."
        }
      },
      "id": "GetGuestAttributesRequest",
      "type": "object",
      "description": "Request for GetGuestAttributes."
    },
    "Symptom": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Symptom is created."
        },
        "workerId": {
          "type": "string",
          "description": "A string used to uniquely distinguish a worker within a TPU node."
        },
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        },
        "symptomType": {
          "description": "Type of the Symptom.",
          "type": "string",
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ]
        }
      },
      "id": "Symptom",
      "type": "object",
      "description": "A Symptom instance."
    },
    "ProvisioningData": {
      "properties": {},
      "description": "Further data for the provisioning state.",
      "id": "ProvisioningData",
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://tpu.googleapis.com/",
  "canonicalName": "TPU",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260127",
  "name": "tpu",
  "batchPath": "batch",
  "version": "v2alpha1",
  "basePath": "",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "path": "v2alpha1/{+name}",
              "id": "tpu.projects.locations.get",
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "tpu.projects.locations.list",
              "flatPath": "v2alpha1/projects/{projectsId}/locations",
              "path": "v2alpha1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "generateServiceIdentity": {
              "path": "v2alpha1/{+parent}:generateServiceIdentity",
              "description": "Generates the Cloud TPU service identity for the project.",
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "tpu.projects.locations.generateServiceIdentity",
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "httpMethod": "POST"
            }
          },
          "resources": {
            "nodes": {
              "methods": {
                "stop": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v2alpha1/{+name}:stop",
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.stop",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name."
                    }
                  },
                  "id": "tpu.projects.locations.nodes.get",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "response": {
                    "$ref": "Node"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a node.",
                  "path": "v2alpha1/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.create",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "path": "v2alpha1/{+parent}/nodes",
                  "description": "Creates a node.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Node"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    },
                    "nodeId": {
                      "type": "string",
                      "description": "The unqualified resource name.",
                      "location": "query"
                    }
                  }
                },
                "start": {
                  "path": "v2alpha1/{+name}:start",
                  "description": "Starts a node.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.start",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.list",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "path": "v2alpha1/{+parent}/nodes",
                  "description": "Lists nodes.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "simulateMaintenanceEvent": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SimulateMaintenanceEventRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Simulates a maintenance event.",
                  "path": "v2alpha1/{+name}:simulateMaintenanceEvent",
                  "id": "tpu.projects.locations.nodes.simulateMaintenanceEvent",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:simulateMaintenanceEvent",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getGuestAttributes": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "path": "v2alpha1/{+name}:getGuestAttributes",
                  "description": "Retrieves the guest attributes for the node.",
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes"
                },
                "patch": {
                  "path": "v2alpha1/{+name}",
                  "description": "Updates the configurations of a node.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.patch",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Output only. Immutable. The name of the TPU.",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Node"
                  },
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Idempotent request UUID.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.delete",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "path": "v2alpha1/{+name}",
                  "description": "Deletes a node."
                },
                "performMaintenance": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.performMaintenance",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:performMaintenance",
                  "path": "v2alpha1/{+name}:performMaintenance",
                  "description": "Perform manual maintenance on a node.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PerformMaintenanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "reservations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.reservations.list",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "path": "v2alpha1/{+parent}/reservations",
                  "description": "Retrieves the reservations for the given project in the given location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent for reservations.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return. Defaults to 0 if not specified, which means no limit.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "queuedResources": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.list",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists queued resources.",
                  "path": "v2alpha1/{+parent}/queuedResources"
                },
                "reset": {
                  "description": "Resets a QueuedResource TPU instance",
                  "path": "v2alpha1/{+name}:reset",
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the queued resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.get",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a queued resource.",
                  "path": "v2alpha1/{+name}"
                },
                "getMaintenanceInfo": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The QueuedResource name.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.getMaintenanceInfo",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:getMaintenanceInfo",
                  "response": {
                    "$ref": "GetMaintenanceInfoResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the maintenance info for a queued resource.",
                  "path": "v2alpha1/{+name}:getMaintenanceInfo"
                },
                "delete": {
                  "path": "v2alpha1/{+name}",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Idempotent request UUID.",
                      "location": "query"
                    },
                    "force": {
                      "description": "If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "performMaintenanceQueuedResource": {
                  "id": "tpu.projects.locations.queuedResources.performMaintenanceQueuedResource",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:performMaintenanceQueuedResource",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Perform manual maintenance on specific nodes of a QueuedResource.",
                  "path": "v2alpha1/{+name}:performMaintenanceQueuedResource",
                  "request": {
                    "$ref": "PerformMaintenanceQueuedResourceRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The name of the QueuedResource which holds the nodes to perform maintenance on."
                    }
                  }
                },
                "create": {
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "description": "Creates a QueuedResource TPU instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.queuedResources.create",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "parameters": {
                    "queuedResourceId": {
                      "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "path": "v2alpha1/{+name}",
                  "description": "Gets AcceleratorType.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists accelerator types supported by this API.",
                  "path": "v2alpha1/{+parent}/acceleratorTypes",
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "runtimeVersions": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "path": "v2alpha1/{+parent}/runtimeVersions",
                  "description": "Lists runtime versions supported by this API.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name."
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "path": "v2alpha1/{+name}",
                  "description": "Gets a runtime version."
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v2alpha1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.list",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v2alpha1/{+name}",
                  "id": "tpu.projects.locations.operations.get",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
[...]
