{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "rootUrl": "https://translation.googleapis.com/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "version": "v2",
  "discoveryVersion": "v1",
  "parameters": {
    "pp": {
      "location": "query",
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "bearer_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth bearer token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "canonicalName": "Translate",
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "q"
          ],
          "parameters": {
            "q": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "location": "query"
            }
          },
          "id": "language.detections.list",
          "path": "v2/detect",
          "description": "Detects the language of text within a request."
        },
        "detect": {
          "path": "v2/detect",
          "parameters": {},
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "language.detections.detect",
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "description": "Returns a list of supported languages for translation.",
          "parameters": {
            "model": {
              "location": "query",
              "type": "string",
              "description": "The model type for which supported languages should be returned."
            },
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "language.languages.list",
          "path": "v2/languages"
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "q",
            "target"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text.",
          "parameters": {
            "format": {
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "cid": {
              "description": "The customization id for translate",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "target": {
              "required": true,
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "language.translations.list",
          "path": "v2"
        },
        "translate": {
          "id": "language.translations.translate",
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2",
          "parameters": {},
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    }
  },
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "title": "Google Cloud Translation API",
  "ownerName": "Google",
  "features": [
    "dataWrapper"
  ],
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "revision": "20170525",
  "batchPath": "batch/translate",
  "schemas": {
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      },
      "type": "object"
    },
    "TranslateTextRequest": {
      "type": "object",
      "id": "TranslateTextRequest",
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "type": "string",
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
        },
        "source": {
          "type": "string",
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
        }
      },
      "description": "The main translation request message for the Cloud Translation API."
    },
    "TranslationsListResponse": {
      "description": "The main language translation response message.",
      "type": "object",
      "id": "TranslationsListResponse",
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          },
          "type": "array"
        }
      }
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "properties": {
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        },
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language."
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        }
      },
      "type": "object"
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request message for language detection."
    },
    "DetectionsResource": {
      "type": "array",
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "The confidence of the detection result of this language."
          }
        }
      }
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "id": "GetSupportedLanguagesRequest",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "description": "The request message for discovering supported languages."
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "/language/translate/",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "name": "translate",
  "servicePath": "language/translate/",
  "id": "translate:v2"
}