{
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "target": {
              "location": "query",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string"
            },
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/languages"
        }
      }
    },
    "detections": {
      "methods": {
        "detect": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameters": {},
          "id": "language.detections.detect",
          "path": "v2/detect",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "q": {
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "required": true,
              "type": "string",
              "repeated": true
            }
          },
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "id": "language.detections.list",
          "httpMethod": "GET",
          "path": "v2/detect",
          "parameterOrder": [
            "q"
          ]
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "target": {
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "format": {
              "type": "string",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "location": "query",
              "enum": [
                "html",
                "text"
              ]
            },
            "model": {
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string"
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "required": true,
              "type": "string",
              "repeated": true
            },
            "cid": {
              "type": "string",
              "repeated": true,
              "description": "The customization id for translate",
              "location": "query"
            }
          },
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "id": "language.translations.list",
          "httpMethod": "GET",
          "path": "v2",
          "parameterOrder": [
            "q",
            "target"
          ]
        },
        "translate": {
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameters": {},
          "id": "language.translations.translate",
          "path": "v2",
          "parameterOrder": [],
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        }
      }
    }
  },
  "basePath": "/language/translate/",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "features": [
    "dataWrapper"
  ],
  "discoveryVersion": "v1",
  "title": "Google Cloud Translation API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "revision": "20170525",
  "batchPath": "batch/translate",
  "canonicalName": "Translate",
  "ownerName": "Google",
  "rootUrl": "https://translation.googleapis.com/",
  "servicePath": "language/translate/",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "id": "translate:v2",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "pp": {
      "type": "boolean",
      "default": "true",
      "description": "Pretty-print response.",
      "location": "query"
    }
  },
  "version": "v2",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "name": "translate",
  "protocol": "rest",
  "schemas": {
    "TranslationsListResponse": {
      "properties": {
        "translations": {
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text"
        }
      },
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse",
      "type": "object"
    },
    "TranslationsResource": {
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      },
      "id": "TranslationsResource",
      "type": "object"
    },
    "DetectionsListResponse": {
      "type": "object",
      "id": "DetectionsListResponse",
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      }
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      },
      "type": "object",
      "id": "LanguagesListResponse"
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      },
      "type": "object",
      "id": "DetectLanguageRequest"
    },
    "DetectionsResource": {
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "type": "array",
      "items": {
        "properties": {
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          }
        },
        "type": "object"
      },
      "id": "DetectionsResource"
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "id": "GetSupportedLanguagesRequest",
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "description": "The request message for discovering supported languages."
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TranslateTextRequest"
    }
  },
  "kind": "discovery#restDescription",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically."
}