{
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "version": "v3",
  "title": "Cloud Translation API",
  "basePath": "",
  "discoveryVersion": "v1",
  "canonicalName": "Translate",
  "kind": "discovery#restDescription",
  "id": "translate:v3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Integrates text translation into your website or application.",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "revision": "20260312",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "DocumentInputConfig": {
      "id": "DocumentInputConfig",
      "type": "object",
      "description": "A document translation request input config.",
      "properties": {
        "content": {
          "description": "Document's content represented as a stream of bytes.",
          "format": "byte",
          "type": "string"
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Google Cloud Storage location. This must be a single file. For example: gs://example_bucket/example_file.pdf"
        },
        "mimeType": {
          "description": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Glossary": {
      "description": "Represents a glossary built from user-provided data.",
      "properties": {
        "inputConfig": {
          "description": "Required. Provides examples to build the glossary from. Total glossary must not exceed 10M Unicode codepoints.",
          "$ref": "GlossaryInputConfig"
        },
        "submitTime": {
          "description": "Output only. When CreateGlossary was called.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of entries defined in the glossary.",
          "readOnly": true
        },
        "languagePair": {
          "description": "Used with unidirectional glossaries.",
          "$ref": "LanguageCodePair"
        },
        "languageCodesSet": {
          "description": "Used with equivalent term set glossaries.",
          "$ref": "LanguageCodesSet"
        },
        "displayName": {
          "description": "Optional. The display name of the glossary.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the glossary creation was finished.",
          "readOnly": true
        }
      },
      "id": "Glossary",
      "type": "object"
    },
    "GlossaryInputConfig": {
      "description": "Input configuration for glossaries.",
      "properties": {
        "gcsSource": {
          "description": "Required. Google Cloud Storage location of glossary data. File format is determined based on the filename extension. API returns [google.rpc.Code.INVALID_ARGUMENT] for unsupported URI-s and file formats. Wildcards are not allowed. This must be a single file in one of the following formats: For unidirectional glossaries: - TSV/CSV (`.tsv`/`.csv`): Two column file, tab- or comma-separated. The first column is source text. The second column is target text. No headers in this file. The first row contains data and not column names. - TMX (`.tmx`): TMX file with parallel data defining source/target term pairs. For equivalent term sets glossaries: - CSV (`.csv`): Multi-column CSV file defining equivalent glossary terms in multiple languages. See documentation for more information - [glossaries](https://cloud.google.com/translate/docs/advanced/glossary).",
          "$ref": "GcsSource"
        }
      },
      "id": "GlossaryInputConfig",
      "type": "object"
    },
    "TranslateTextResponse": {
      "properties": {
        "glossaryTranslations": {
          "type": "array",
          "items": {
            "$ref": "Translation"
          },
          "description": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`."
        },
        "translations": {
          "description": "Text translation responses with no glossary applied. This field has the same length as `contents`.",
          "type": "array",
          "items": {
            "$ref": "Translation"
          }
        }
      },
      "id": "TranslateTextResponse",
      "type": "object"
    },
    "InputConfig": {
      "id": "InputConfig",
      "type": "object",
      "description": "Input configuration for BatchTranslateText request.",
      "properties": {
        "mimeType": {
          "description": "Optional. Can be \"text/plain\" or \"text/html\". For `.tsv`, \"text/html\" is used if mime_type is missing. For `.html`, this field must be \"text/html\" or empty. For `.txt`, this field must be \"text/plain\" or empty.",
          "type": "string"
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Required. Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.tsv`) or a wildcard (for example, `gs://translation-test/*`). If a file extension is `.tsv`, it can contain either one or two columns. The first column (optional) is the id of the text request. If the first column is missing, we use the row number (0-based) from the input file as the ID in the output file. The second column is the actual text to be translated. We recommend each row be <= 10K Unicode codepoints, otherwise an error might be returned. Note that the input tsv must be RFC 4180 compliant. You could use https://github.com/Clever/csvlint to check potential formatting errors in your tsv file. csvlint --delimiter='\\t' your_input_file.tsv The other supported file extensions are `.txt` or `.html`, which is treated as a single large chunk of text."
        }
      }
    },
    "BatchDocumentInputConfig": {
      "id": "BatchDocumentInputConfig",
      "type": "object",
      "description": "Input configuration for BatchTranslateDocument request.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.docx`) or a wildcard (for example, `gs://translation-test/*`). File mime type is determined based on extension. Supported mime type includes: - `pdf`, application/pdf - `docx`, application/vnd.openxmlformats-officedocument.wordprocessingml.document - `pptx`, application/vnd.openxmlformats-officedocument.presentationml.presentation - `xlsx`, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet The max file size to support for `.docx`, `.pptx` and `.xlsx` is 100MB. The max file size to support for `.pdf` is 1GB and the max page limit is 1000 pages. The max file size to support for all input documents is 1GB.",
          "$ref": "GcsSource"
        }
      }
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "properties": {
        "documentInputConfig": {
          "$ref": "DocumentInputConfig",
          "description": "Optional. The document configuration of the input."
        },
        "mimeType": {
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\".",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "model": {
          "description": "Optional. The language detection model to be used. Format: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/{model-id}` Only one language detection model is currently supported: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/default`. If not specified, the default model is used.",
          "type": "string"
        },
        "content": {
          "description": "The content of the input stored as a string.",
          "type": "string"
        }
      },
      "id": "DetectLanguageRequest",
      "type": "object"
    },
    "WaitOperationRequest": {
      "description": "The request message for Operations.WaitOperation.",
      "properties": {
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
        }
      },
      "id": "WaitOperationRequest",
      "type": "object"
    },
    "Example": {
      "description": "A sentence pair.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the example, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}/examples/{example_id}`",
          "readOnly": true,
          "type": "string"
        },
        "sourceText": {
          "type": "string",
          "description": "Sentence in source language."
        },
        "targetText": {
          "description": "Sentence in target language.",
          "type": "string"
        },
        "usage": {
          "description": "Output only. Usage of the sentence pair. Options are TRAIN|VALIDATION|TEST.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Example",
      "type": "object"
    },
    "DocumentTranslation": {
      "id": "DocumentTranslation",
      "type": "object",
      "description": "A translated document message.",
      "properties": {
        "byteStreamOutputs": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats."
        },
        "mimeType": {
          "description": "The translated document's mime type.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "description": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty.",
          "type": "string"
        }
      }
    },
    "BatchTranslateTextRequest": {
      "description": "The batch translation request.",
      "properties": {
        "glossaries": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          },
          "description": "Optional. Glossaries to be applied for translation. It's keyed by target language code."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Required. Source language code. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used."
        },
        "inputConfigs": {
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size should be <= 100M Unicode codepoints. The files must use UTF-8 encoding.",
          "type": "array",
          "items": {
            "$ref": "InputConfig"
          }
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "OutputConfig"
        },
        "targetLanguageCodes": {
          "description": "Required. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchTranslateTextRequest",
      "type": "object"
    },
    "AdaptiveMtTranslateRequest": {
      "description": "The request for sending an AdaptiveMt translation query.",
      "properties": {
        "dataset": {
          "description": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`",
          "type": "string"
        },
        "content": {
          "description": "Required. The content of the input in string format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "GlossaryConfig"
        },
        "referenceSentenceConfig": {
          "$ref": "ReferenceSentenceConfig",
          "description": "Configuration for caller provided reference sentences."
        }
      },
      "id": "AdaptiveMtTranslateRequest",
      "type": "object"
    },
    "Translation": {
      "id": "Translation",
      "type": "object",
      "description": "A single translation response.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Only present when `model` is present in the request. `model` here is normalized to have project number. For example: If the `model` requested in TranslationTextRequest is `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
        },
        "translatedText": {
          "description": "Text translated into the target language. If an error occurs during translation, this field might be excluded from the response.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        }
      }
    },
    "GlossaryTerm": {
      "description": "Represents a single glossary term",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text for the glossary term."
        },
        "languageCode": {
          "description": "The language for this glossary term.",
          "type": "string"
        }
      },
      "id": "GlossaryTerm",
      "type": "object"
    },
    "AdaptiveMtTranslation": {
      "description": "An AdaptiveMt translation.",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Output only. The translated text.",
          "readOnly": true
        }
      },
      "id": "AdaptiveMtTranslation",
      "type": "object"
    },
    "ListAdaptiveMtSentencesResponse": {
      "id": "ListAdaptiveMtSentencesResponse",
      "type": "object",
      "description": "List AdaptiveMt sentences response.",
      "properties": {
        "adaptiveMtSentences": {
          "description": "Output only. The list of AdaptiveMtSentences.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtSentence"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. "
        }
      }
    },
    "ImportAdaptiveMtFileResponse": {
      "id": "ImportAdaptiveMtFileResponse",
      "type": "object",
      "description": "The response for importing an AdaptiveMtFile",
      "properties": {
        "adaptiveMtFile": {
          "$ref": "AdaptiveMtFile",
          "description": "Output only. The Adaptive MT file that was imported.",
          "readOnly": true
        }
      }
    },
    "Romanization": {
      "description": "A single romanization response.",
      "properties": {
        "romanizedText": {
          "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty.",
          "type": "string"
        }
      },
      "id": "Romanization",
      "type": "object"
    },
    "GlossaryTermsPair": {
      "id": "GlossaryTermsPair",
      "type": "object",
      "description": "Represents a single entry for an unidirectional glossary.",
      "properties": {
        "targetTerm": {
          "$ref": "GlossaryTerm",
          "description": "The term that will replace the match source term."
        },
        "sourceTerm": {
          "$ref": "GlossaryTerm",
          "description": "The source term is the term that will get match in the text,"
        }
      }
    },
    "ReferenceSentencePair": {
      "id": "ReferenceSentencePair",
      "type": "object",
      "description": "A pair of sentences used as reference in source and target languages.",
      "properties": {
        "targetSentence": {
          "description": "Target sentence in the sentence pair.",
          "type": "string"
        },
        "sourceSentence": {
          "type": "string",
          "description": "Source sentence in the sentence pair."
        }
      }
    },
    "AdaptiveMtFile": {
      "description": "An AdaptiveMtFile.",
      "properties": {
        "entryCount": {
          "description": "The number of entries that the file contains.",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. Timestamp when this file was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`"
        },
        "displayName": {
          "description": "The file's display name.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this file was last updated.",
          "readOnly": true
        }
      },
      "id": "AdaptiveMtFile",
      "type": "object"
    },
    "ListGlossariesResponse": {
      "id": "ListGlossariesResponse",
      "type": "object",
      "description": "Response message for ListGlossaries.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results."
        },
        "glossaries": {
          "type": "array",
          "items": {
            "$ref": "Glossary"
          },
          "description": "The list of glossaries for a project."
        }
      }
    },
    "LanguageCodesSet": {
      "id": "LanguageCodesSet",
      "type": "object",
      "description": "Used with equivalent term set glossaries.",
      "properties": {
        "languageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The ISO-639 language code(s) for terms defined in the glossary. All entries are unique. The list contains at least two entries. Expected to be an exact match for GlossaryTerm.language_code."
        }
      }
    },
    "Model": {
      "id": "Model",
      "type": "object",
      "description": "A trained translation model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
        },
        "dataset": {
          "description": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`",
          "type": "string"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Output only. The BCP-47 language code of the target language.",
          "readOnly": true
        },
        "trainExampleCount": {
          "description": "Output only. Number of examples (sentence pairs) used to train the model.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Output only. The BCP-47 language code of the source language.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when this model was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "validateExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples (sentence pairs) used to validate the model.",
          "readOnly": true
        },
        "testExampleCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples (sentence pairs) used to test the model.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the model resource was created, which is also when the training started.",
          "readOnly": true
        },
        "displayName": {
          "description": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        }
      }
    },
    "GlossaryTermsSet": {
      "id": "GlossaryTermsSet",
      "type": "object",
      "description": "Represents a single entry for an equivalent term set glossary. This is used for equivalent term sets where each term can be replaced by the other terms in the set.",
      "properties": {
        "terms": {
          "description": "Each term in the set represents a term that can be replaced by the other terms.",
          "type": "array",
          "items": {
            "$ref": "GlossaryTerm"
          }
        }
      }
    },
    "GcsInputSource": {
      "id": "GcsInputSource",
      "type": "object",
      "description": "The Google Cloud Storage location for the input content.",
      "properties": {
        "inputUri": {
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "BatchTranslateDocumentRequest": {
      "description": "The BatchTranslateDocument request.",
      "properties": {
        "targetLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ISO-639 language code to use for translation of the input document. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "formatConversions": {
          "description": "Optional. The file format conversion map that is applied to all input files. The map key is the original mime_type. The map value is the target mime_type of translated documents. Supported file format conversion includes: - `application/pdf` to `application/vnd.openxmlformats-officedocument.wordprocessingml.document` If nothing specified, output files will be in the same format as the original file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableShadowRemovalNativePdf": {
          "type": "boolean",
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "inputConfigs": {
          "type": "array",
          "items": {
            "$ref": "BatchDocumentInputConfig"
          },
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size to translate should be <= 100M Unicode codepoints. The files must use UTF-8 encoding."
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "BatchDocumentOutputConfig"
        },
        "enableRotationCorrection": {
          "description": "Optional. If true, enable auto rotation correction in DVS.",
          "type": "boolean"
        },
        "pdfNativeOnly": {
          "description": "Optional. If true, only native pdf pages will be translated.",
          "type": "boolean"
        },
        "glossaries": {
          "description": "Optional. Glossaries to be applied. It's keyed by target language code.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          }
        },
        "models": {
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is the model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "BatchTranslateDocumentRequest",
      "type": "object"
    },
    "TransliterationConfig": {
      "id": "TransliterationConfig",
      "type": "object",
      "description": "Configures transliteration feature on top of translation.",
      "properties": {
        "enableTransliteration": {
          "type": "boolean",
          "description": "If true, source text in romanized form can be translated to the target language."
        }
      }
    },
    "RomanizeTextResponse": {
      "id": "RomanizeTextResponse",
      "type": "object",
      "description": "The response message for synchronous romanization.",
      "properties": {
        "romanizations": {
          "type": "array",
          "items": {
            "$ref": "Romanization"
          },
          "description": "Text romanization responses. This field has the same length as `contents`."
        }
      }
    },
    "GcsOutputDestination": {
      "description": "The Google Cloud Storage location for the output content.",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Required. Google Cloud Storage URI to output directory. For example, `gs://bucket/directory`. The requesting user must have write permission to the bucket. The directory will be created if it doesn't exist."
        }
      },
      "id": "GcsOutputDestination",
      "type": "object"
    },
    "ListDatasetsResponse": {
      "id": "ListDatasetsResponse",
      "type": "object",
      "description": "Response message for ListDatasets.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page.",
          "type": "string"
        },
        "datasets": {
          "description": "The datasets read.",
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        }
      }
    },
    "FileInputSource": {
      "id": "FileInputSource",
      "type": "object",
      "description": "An inlined file.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The file's mime type."
        },
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Required. The file's byte contents."
        },
        "displayName": {
          "description": "Required. The file's display name.",
          "type": "string"
        }
      }
    },
    "InputFile": {
      "id": "InputFile",
      "type": "object",
      "description": "An input file.",
      "properties": {
        "usage": {
          "type": "string",
          "description": "Optional. Usage of the file contents. Options are TRAIN|VALIDATION|TEST, or UNASSIGNED (by default) for auto split."
        },
        "gcsSource": {
          "$ref": "GcsInputSource",
          "description": "Google Cloud Storage file source."
        }
      }
    },
    "ExportDataRequest": {
      "id": "ExportDataRequest",
      "type": "object",
      "description": "Request message for ExportData.",
      "properties": {
        "outputConfig": {
          "$ref": "DatasetOutputConfig",
          "description": "Required. The config for the output content."
        }
      }
    },
    "GcsSource": {
      "id": "GcsSource",
      "type": "object",
      "description": "The Google Cloud Storage location for the input content.",
      "properties": {
        "inputUri": {
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`.",
          "type": "string"
        }
      }
    },
    "TranslateTextRequest": {
      "id": "TranslateTextRequest",
      "type": "object",
      "description": "The request message for synchronous translation.",
      "properties": {
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response.",
          "type": "string"
        },
        "contents": {
          "description": "Required. The content of the input in string format. We recommend the total content be less than 30,000 codepoints. The max length of this field is 1024. Use BatchTranslateText for larger text.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\".",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code to use for translation of the input text, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "model": {
          "type": "string",
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, - Translation LLM models: `projects/{project-number-or-id}/locations/{location-id}/models/general/translation-llm`, For global (non-regionalized) requests, use `location-id` `global`. For example, `projects/{project-number-or-id}/locations/global/models/general/nmt`. If not provided, the default Google model (NMT) will be used"
        },
        "transliterationConfig": {
          "description": "Optional. Transliteration to be applied.",
          "$ref": "TransliterationConfig"
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        }
      }
    },
    "SupportedLanguages": {
      "id": "SupportedLanguages",
      "type": "object",
      "description": "The response message for discovering supported languages.",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "SupportedLanguage"
          },
          "description": "A list of supported language responses. This list contains an entry for each language the Translation API supports."
        }
      }
    },
    "ReferenceSentencePairList": {
      "id": "ReferenceSentencePairList",
      "type": "object",
      "description": "A list of reference sentence pairs.",
      "properties": {
        "referenceSentencePairs": {
          "type": "array",
          "items": {
            "$ref": "ReferenceSentencePair"
          },
          "description": "Reference sentence pairs."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "type": "object",
      "description": "The Google Cloud Storage location for the output content.",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Required. The bucket used in 'output_uri_prefix' must exist and there must be no files under 'output_uri_prefix'. 'output_uri_prefix' must end with \"/\" and start with \"gs://\". One 'output_uri_prefix' can only be used by one batch translation job at a time. Otherwise an INVALID_ARGUMENT (400) error is returned."
        }
      }
    },
    "DetectedLanguage": {
      "id": "DetectedLanguage",
      "type": "object",
      "description": "The response message for language detection.",
      "properties": {
        "languageCode": {
          "description": "The ISO-639 language code of the source content in the request, detected automatically.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence of the detection result for this language.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "RefineTextResponse": {
      "id": "RefineTextResponse",
      "type": "object",
      "description": "Response message for RefineText.",
      "properties": {
        "refinedTranslations": {
          "description": "The refined translations obtained from the original translations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ListAdaptiveMtFilesResponse": {
      "id": "ListAdaptiveMtFilesResponse",
      "type": "object",
      "description": "The response for listing all AdaptiveMt files under a given dataset.",
      "properties": {
        "adaptiveMtFiles": {
          "description": "Output only. The Adaptive MT files.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtFile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the ListAdaptiveMtFilesRequest.page_token field in the subsequent call to `ListAdaptiveMtFiles` method to retrieve the next page of results."
        }
      }
    },
    "ImportDataRequest": {
      "description": "Request message for ImportData.",
      "properties": {
        "inputConfig": {
          "description": "Required. The config for the input content.",
          "$ref": "DatasetInputConfig"
        }
      },
      "id": "ImportDataRequest",
      "type": "object"
    },
    "RomanizeTextRequest": {
      "id": "RomanizeTextRequest",
      "type": "object",
      "description": "The request message for synchronous romanization.",
      "properties": {
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response.",
          "type": "string"
        },
        "contents": {
          "description": "Required. The content of the input in string format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImportAdaptiveMtFileRequest": {
      "description": "The request for importing an AdaptiveMt file along with its sentences.",
      "properties": {
        "gcsInputSource": {
          "description": "Google Cloud Storage file source.",
          "$ref": "GcsInputSource"
        },
        "fileInputSource": {
          "description": "Inline file source.",
          "$ref": "FileInputSource"
        }
      },
      "id": "ImportAdaptiveMtFileRequest",
      "type": "object"
    },
    "AdaptiveMtSentence": {
      "id": "AdaptiveMtSentence",
      "type": "object",
      "description": "An AdaptiveMt sentence entry.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this sentence was last updated.",
          "readOnly": true
        },
        "targetSentence": {
          "type": "string",
          "description": "Required. The target sentence."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}/adaptiveMtSentences/{sentence}`"
        },
        "createTime": {
          "description": "Output only. Timestamp when this sentence was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceSentence": {
          "type": "string",
          "description": "Required. The source sentence."
        }
      }
    },
    "DatasetOutputConfig": {
      "id": "DatasetOutputConfig",
      "type": "object",
      "description": "Output configuration for datasets.",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination to write the output.",
          "$ref": "GcsOutputDestination"
        }
      }
    },
    "OutputConfig": {
      "id": "OutputConfig",
      "type": "object",
      "description": "Output configuration for BatchTranslateText request.",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`"
        }
      }
    },
    "ListExamplesResponse": {
      "description": "Response message for ListExamples.",
      "properties": {
        "examples": {
          "description": "The sentence pairs.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListExamplesRequest to obtain the corresponding page.",
          "type": "string"
        }
      },
      "id": "ListExamplesResponse",
      "type": "object"
    },
    "ListAdaptiveMtDatasetsResponse": {
      "id": "ListAdaptiveMtDatasetsResponse",
      "type": "object",
      "description": "A list of AdaptiveMtDatasets.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListAdaptiveMtDatasetsRequest.page_token] field in the subsequent call to `ListAdaptiveMtDatasets` method to retrieve the next page of results.",
          "type": "string"
        },
        "adaptiveMtDatasets": {
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtDataset"
          },
          "description": "Output only. A list of Adaptive MT datasets.",
          "readOnly": true
        }
      }
    },
    "AdaptiveMtDataset": {
      "id": "AdaptiveMtDataset",
      "type": "object",
      "description": "An Adaptive MT Dataset.",
      "properties": {
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true
        },
        "exampleCount": {
          "description": "The number of examples in the dataset.",
          "type": "integer",
          "format": "int32"
        },
        "sourceLanguageCode": {
          "description": "The BCP-47 language code of the source language.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "targetLanguageCode": {
          "description": "The BCP-47 language code of the target language.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "GlossaryConfig": {
      "id": "GlossaryConfig",
      "type": "object",
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "properties": {
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        },
        "contextualTranslationEnabled": {
          "description": "Optional. If set to true, the glossary will be used for contextual translation.",
          "type": "boolean"
        },
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        }
      }
    },
    "DatasetInputConfig": {
      "id": "DatasetInputConfig",
      "type": "object",
      "description": "Input configuration for datasets.",
      "properties": {
        "inputFiles": {
          "description": "Files containing the sentence pairs to be imported to the dataset.",
          "type": "array",
          "items": {
            "$ref": "InputFile"
          }
        }
      }
    },
    "AdaptiveMtTranslateResponse": {
      "id": "AdaptiveMtTranslateResponse",
      "type": "object",
      "description": "An AdaptiveMtTranslate response.",
      "properties": {
        "languageCode": {
          "description": "Output only. The translation's language code.",
          "readOnly": true,
          "type": "string"
        },
        "translations": {
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          },
          "description": "Output only. The translation.",
          "readOnly": true
        },
        "glossaryTranslations": {
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          },
          "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply."
        }
      }
    },
    "Dataset": {
      "description": "A dataset that hosts the examples (sentence pairs) used for translation models.",
      "properties": {
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true
        },
        "exampleCount": {
          "description": "Output only. The number of examples in the dataset.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "validateExampleCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of validation examples (sentence pairs).",
          "readOnly": true
        },
        "testExampleCount": {
          "description": "Output only. Number of test examples (sentence pairs).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "sourceLanguageCode": {
          "description": "The BCP-47 language code of the source language.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the target language."
        },
        "trainExampleCount": {
          "description": "Output only. Number of training examples (sentence pairs).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "TranslateDocumentResponse": {
      "id": "TranslateDocumentResponse",
      "type": "object",
      "description": "A translated document response message.",
      "properties": {
        "model": {
          "description": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`.",
          "type": "string"
        },
        "glossaryDocumentTranslation": {
          "$ref": "DocumentTranslation",
          "description": "The document's translation output if a glossary is provided in the request. This can be the same as [TranslateDocumentResponse.document_translation] if no glossary terms apply."
        },
        "glossaryConfig": {
          "$ref": "TranslateTextGlossaryConfig",
          "description": "The `glossary_config` used for this translation."
        },
        "documentTranslation": {
          "$ref": "DocumentTranslation",
          "description": "Translated document."
        }
      }
    },
    "ListGlossaryEntriesResponse": {
      "id": "ListGlossaryEntriesResponse",
      "type": "object",
      "description": "Response message for ListGlossaryEntries",
      "properties": {
        "glossaryEntries": {
          "description": "Optional. The Glossary Entries",
          "type": "array",
          "items": {
            "$ref": "GlossaryEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListGLossaryEntriesRequest.page_token] field in the subsequent calls."
        }
      }
    },
    "TranslateTextGlossaryConfig": {
      "id": "TranslateTextGlossaryConfig",
      "type": "object",
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "properties": {
        "ignoreCase": {
          "type": "boolean",
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
        },
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        },
        "contextualTranslationEnabled": {
          "description": "Optional. If set to true, the glossary will be used for contextual translation.",
          "type": "boolean"
        }
      }
    },
    "DocumentOutputConfig": {
      "description": "A document translation request output config.",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Optional. Google Cloud Storage destination for the translation output, e.g., `gs://my_bucket/my_directory/`. The destination directory provided does not have to be empty, but the bucket must exist. If a file with the same name as the output file already exists in the destination an error will be returned. For a DocumentInputConfig.contents provided document, the output file will have the name \"output_[trg]_translations.[ext]\", where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. For a DocumentInputConfig.gcs_uri provided document, the output file will have a name according to its URI. For example: an input file with URI: `gs://a/b/c.[extension]` stored in a gcs_destination bucket with name \"my_bucket\" will have an output URI: `gs://my_bucket/a_b_c_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If the document was directly provided through the request, then the output document will have the format: `gs://my_bucket/translated_document_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If a glossary was provided, then the output URI for the glossary translation will be equal to the default output URI but have `glossary_translations` instead of `translations`. For the previous example, its glossary URI would be: `gs://my_bucket/a_b_c_[trg]_glossary_translations.[ext]`. Thus the max number of output files will be 2 (Translated document, Glossary translated document). Callers should expect no partial outputs. If there is any error during document translation, no output will be stored in the Cloud Storage bucket."
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        }
      },
      "id": "DocumentOutputConfig",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "BatchDocumentOutputConfig": {
      "id": "BatchDocumentOutputConfig",
      "type": "object",
      "description": "Output configuration for BatchTranslateDocument request.",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input document (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateDocumentRequest). While the input documents are being processed, we write/update an index file `index.csv` under `gcs_destination.output_uri_prefix` (for example, gs://translation_output/index.csv) The index file is generated/updated as new files are being translated. The format is: input_document,target_language_code,translation_output,error_output, glossary_translation_output,glossary_error_output `input_document` is one file we matched using gcs_source.input_uri. `target_language_code` is provided in the request. `translation_output` contains the translations. (details provided below) `error_output` contains the error message during processing of the file. Both translations_file and errors_file could be empty strings if we have no content to output. `glossary_translation_output` and `glossary_error_output` are the translated output/error when we apply glossaries. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The naming format of translation output files follows (for target language code [trg]): `translation_output`: `gs://translation_output/a_b_c_[trg]_translation.[extension]` `glossary_translation_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.[extension]`. The output document will maintain the same file format as the input document. The naming format of error output files follows (for target language code [trg]): `error_output`: `gs://translation_test/a_b_c_[trg]_errors.txt` `glossary_error_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.txt`. The error output is a txt file containing error details.",
          "$ref": "GcsDestination"
        }
      }
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "type": "object",
      "description": "Response message for ListModels.",
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "Model"
          },
          "description": "The models read."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListModelsRequest to obtain the corresponding page."
        }
      }
    },
    "DetectLanguageResponse": {
      "id": "DetectLanguageResponse",
      "type": "object",
      "description": "The response message for language detection.",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "DetectedLanguage"
          },
          "description": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result."
        }
      }
    },
    "GlossaryEntry": {
      "id": "GlossaryEntry",
      "type": "object",
      "description": "Represents a single entry in a glossary.",
      "properties": {
        "termsSet": {
          "$ref": "GlossaryTermsSet",
          "description": "Used for an equivalent term sets glossary."
        },
        "termsPair": {
          "$ref": "GlossaryTermsPair",
          "description": "Used for an unidirectional glossary."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`"
        },
        "description": {
          "type": "string",
          "description": "Describes the glossary entry."
        }
      }
    },
    "ReferenceSentenceConfig": {
      "id": "ReferenceSentenceConfig",
      "type": "object",
      "description": "Message of caller-provided reference configuration.",
      "properties": {
        "targetLanguageCode": {
          "type": "string",
          "description": "Target language code."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Source language code."
        },
        "referenceSentencePairLists": {
          "type": "array",
          "items": {
            "$ref": "ReferenceSentencePairList"
          },
          "description": "Reference sentences pair lists. Each list will be used as the references to translate the sentence under \"content\" field at the corresponding index. Length of the list is required to be equal to the length of \"content\" field."
        }
      }
    },
    "RefinementEntry": {
      "description": "A single refinement entry for RefineTextRequest.",
      "properties": {
        "sourceText": {
          "description": "Required. The source text to be refined.",
          "type": "string"
        },
        "originalTranslation": {
          "type": "string",
          "description": "Required. The original translation of the source text."
        }
      },
      "id": "RefinementEntry",
      "type": "object"
    },
    "SupportedLanguage": {
      "description": "A single supported language response corresponds to information related to one supported language.",
      "properties": {
        "displayName": {
          "description": "Human-readable name of the language localized in the display language specified in the request.",
          "type": "string"
        },
        "languageCode": {
          "description": "Supported language code, generally consisting of its ISO 639-1 identifier, for example, 'en', 'ja'. In certain cases, ISO-639 codes including language and region identifiers are returned (for example, 'zh-TW' and 'zh-CN').",
          "type": "string"
        },
        "supportSource": {
          "type": "boolean",
          "description": "Can be used as a source language."
        },
        "supportTarget": {
          "description": "Can be used as a target language.",
          "type": "boolean"
        }
      },
      "id": "SupportedLanguage",
      "type": "object"
    },
    "LanguageCodePair": {
      "description": "Used with unidirectional glossaries.",
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        }
      },
      "id": "LanguageCodePair",
      "type": "object"
    },
    "RefineTextRequest": {
      "description": "Request message for RefineText.",
      "properties": {
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\"."
        },
        "refinementEntries": {
          "type": "array",
          "items": {
            "$ref": "RefinementEntry"
          },
          "description": "Required. The source texts and original translations in the source and target languages."
        },
        "sourceLanguageCode": {
          "description": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\".",
          "type": "string"
        }
      },
      "id": "RefineTextRequest",
      "type": "object"
    },
    "TranslateDocumentRequest": {
      "description": "A document translation request.",
      "properties": {
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model.",
          "type": "string"
        },
        "documentInputConfig": {
          "description": "Required. Input configurations.",
          "$ref": "DocumentInputConfig"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation.",
          "type": "string"
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "documentOutputConfig": {
          "description": "Optional. Output configurations. Defines if the output file should be stored within Cloud Storage as well as the desired output format. If not provided the translated file will only be returned through a byte-stream and its output mime type will be the same as the input file's mime type.",
          "$ref": "DocumentOutputConfig"
        },
        "isTranslateNativePdfOnly": {
          "type": "boolean",
          "description": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated."
        },
        "enableRotationCorrection": {
          "description": "Optional. If true, enable auto rotation correction in DVS.",
          "type": "boolean"
        }
      },
      "id": "TranslateDocumentRequest",
      "type": "object"
    }
  },
  "servicePath": "",
  "resources": {
    "projects": {
      "methods": {
        "detectLanguage": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "description": "Detects the language of text within a request.",
          "path": "v3/{+parent}:detectLanguage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "id": "translate.projects.detectLanguage",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned."
            }
          },
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "parameterOrder": [
            "parent"
          ]
        },
        "romanizeText": {
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "parameterOrder": [
            "parent"
          ],
          "id": "translate.projects.romanizeText",
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`."
            }
          },
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "path": "v3/{+parent}:romanizeText",
          "httpMethod": "POST",
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "request": {
            "$ref": "RomanizeTextRequest"
          }
        },
        "translateText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "id": "translate.projects.translateText",
          "parameters": {
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "flatPath": "v3/projects/{projectsId}:translateText",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "description": "Translates input text and returns translated text.",
          "path": "v3/{+parent}:translateText",
          "httpMethod": "POST"
        },
        "getSupportedLanguages": {
          "id": "translate.projects.getSupportedLanguages",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned."
            },
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "location": "query",
              "type": "string"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model."
            }
          },
          "response": {
            "$ref": "SupportedLanguages"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "parameterOrder": [
            "parent"
          ],
          "path": "v3/{+parent}/supportedLanguages",
          "httpMethod": "GET",
          "description": "Returns a list of supported languages for translation."
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "translateDocument": {
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "description": "Translates documents in synchronous mode.",
              "path": "v3/{+parent}:translateDocument",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "id": "translate.projects.locations.translateDocument",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned."
                }
              },
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "flatPath": "v3/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "id": "translate.projects.locations.list",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "path": "v3/{+name}/locations",
              "httpMethod": "GET"
            },
            "batchTranslateDocument": {
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "path": "v3/{+parent}:batchTranslateDocument",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "id": "translate.projects.locations.batchTranslateDocument",
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "refineText": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "id": "translate.projects.locations.refineText",
              "parameters": {
                "parent": {
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "RefineTextResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "RefineTextRequest"
              },
              "description": "Refines the input translated text to improve the quality.",
              "path": "v3/{+parent}:refineText",
              "httpMethod": "POST"
            },
            "adaptiveMtTranslate": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`."
                }
              },
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "httpMethod": "POST",
              "description": "Translate text using Adaptive MT.",
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              }
            },
            "romanizeText": {
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "path": "v3/{+parent}:romanizeText",
              "httpMethod": "POST",
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "id": "translate.projects.locations.romanizeText",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`."
                }
              },
              "response": {
                "$ref": "RomanizeTextResponse"
              }
            },
            "translateText": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "id": "translate.projects.locations.translateText",
              "parameters": {
                "parent": {
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "description": "Translates input text and returns translated text.",
              "path": "v3/{+parent}:translateText",
              "httpMethod": "POST"
            },
            "getSupportedLanguages": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.getSupportedLanguages",
              "parameters": {
                "parent": {
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "displayLanguageCode": {
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
                  "location": "query",
                  "type": "string"
                },
                "model": {
                  "location": "query",
                  "type": "string",
[...]
