{
  "schemas": {
    "DetectLanguageRequest": {
      "type": "object",
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      },
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection."
    },
    "LanguagesResource": {
      "properties": {
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        }
      },
      "id": "LanguagesResource",
      "type": "object"
    },
    "TranslateTextRequest": {
      "type": "object",
      "properties": {
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The main translation request message for the Cloud Translation API.",
      "id": "TranslateTextRequest"
    },
    "GetSupportedLanguagesRequest": {
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages.",
      "type": "object"
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "type": "number",
            "description": "The confidence of the detection result of this language.",
            "format": "float"
          }
        }
      },
      "type": "array"
    },
    "LanguagesListResponse": {
      "type": "object",
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      },
      "id": "LanguagesListResponse"
    },
    "TranslationsListResponse": {
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse",
      "type": "object",
      "properties": {
        "translations": {
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text"
        }
      }
    },
    "TranslationsResource": {
      "properties": {
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        }
      },
      "id": "TranslationsResource",
      "type": "object"
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      },
      "type": "object",
      "id": "DetectionsListResponse"
    }
  },
  "ownerName": "Google",
  "canonicalName": "Translate",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "discoveryVersion": "v1",
  "servicePath": "language/translate/",
  "id": "translate:v2",
  "protocol": "rest",
  "features": [
    "dataWrapper"
  ],
  "basePath": "/language/translate/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "rootUrl": "https://translation.googleapis.com/",
  "name": "translate",
  "revision": "20170525",
  "resources": {
    "translations": {
      "methods": {
        "translate": {
          "description": "Translates input text, returning translated text.",
          "id": "language.translations.translate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameters": {},
          "path": "v2",
          "parameterOrder": []
        },
        "list": {
          "parameters": {
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
            },
            "cid": {
              "repeated": true,
              "location": "query",
              "description": "The customization id for translate",
              "type": "string"
            },
            "format": {
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
            },
            "target": {
              "required": true,
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string"
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "id": "language.translations.list",
          "description": "Translates input text, returning translated text.",
          "httpMethod": "GET",
          "parameterOrder": [
            "q",
            "target"
          ]
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "id": "language.detections.list",
          "parameters": {
            "q": {
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "parameterOrder": [
            "q"
          ],
          "description": "Detects the language of text within a request.",
          "httpMethod": "GET"
        },
        "detect": {
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.detect",
          "parameters": {},
          "description": "Detects the language of text within a request.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v2/detect",
          "request": {
            "$ref": "DetectLanguageRequest"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "id": "language.languages.list",
          "parameters": {
            "model": {
              "type": "string",
              "description": "The model type for which supported languages should be returned.",
              "location": "query"
            },
            "target": {
              "type": "string",
              "location": "query",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            }
          },
          "description": "Returns a list of supported languages for translation.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch/translate",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "pp": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Pretty-print response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version": "v2",
  "title": "Google Cloud Translation API"
}