{
  "basePath": "/language/translate/",
  "features": [
    "dataWrapper"
  ],
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "version": "v2",
  "id": "translate:v2",
  "name": "translate",
  "kind": "discovery#restDescription",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "title": "Google Cloud Translation API",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "parameters": {
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "canonicalName": "Translate",
  "rootUrl": "https://translation.googleapis.com/",
  "servicePath": "language/translate/",
  "resources": {
    "translations": {
      "methods": {
        "list": {
          "id": "language.translations.list",
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [
            "q",
            "target"
          ],
          "description": "Translates input text, returning translated text.",
          "httpMethod": "GET",
          "parameters": {
            "target": {
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true,
              "location": "query"
            },
            "format": {
              "enum": [
                "html",
                "text"
              ],
              "location": "query",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "type": "string"
            },
            "model": {
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string"
            },
            "cid": {
              "location": "query",
              "description": "The customization id for translate",
              "repeated": true,
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "source": {
              "location": "query",
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            }
          }
        },
        "translate": {
          "parameters": {},
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [],
          "id": "language.translations.translate",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "description": "Detects the language of text within a request.",
          "parameterOrder": [
            "q"
          ],
          "id": "language.detections.list",
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          }
        },
        "detect": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "httpMethod": "POST",
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "id": "language.detections.detect",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [],
          "description": "Detects the language of text within a request."
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "target": {
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query"
            },
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "language.languages.list",
          "path": "v2/languages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "description": "Returns a list of supported languages for translation."
        }
      }
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "TranslateTextRequest": {
      "type": "object",
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "model": {
          "type": "string",
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
        },
        "q": {
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          }
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        }
      },
      "id": "TranslateTextRequest"
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      }
    },
    "TranslationsResource": {
      "type": "object",
      "id": "TranslationsResource",
      "properties": {
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        }
      }
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "type": "object",
      "id": "DetectLanguageRequest",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LanguagesListResponse": {
      "type": "object",
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array"
        }
      }
    },
    "TranslationsListResponse": {
      "type": "object",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "id": "TranslationsListResponse"
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "id": "GetSupportedLanguagesRequest"
    },
    "DetectionsResource": {
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "type": "array",
      "id": "DetectionsResource",
      "items": {
        "type": "object",
        "properties": {
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "confidence": {
            "format": "float",
            "description": "The confidence of the detection result of this language.",
            "type": "number"
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          }
        }
      }
    },
    "DetectionsListResponse": {
      "type": "object",
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array",
          "description": "A detections contains detection results of several text"
        }
      },
      "id": "DetectionsListResponse"
    }
  },
  "revision": "20170525",
  "batchPath": "batch/translate"
}