{
  "kind": "discovery#restDescription",
  "features": [
    "dataWrapper"
  ],
  "servicePath": "language/translate/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "pp": {
      "type": "boolean",
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string",
      "location": "query"
    }
  },
  "name": "translate",
  "protocol": "rest",
  "rootUrl": "https://translation.googleapis.com/",
  "version": "v2",
  "id": "translate:v2",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "discoveryVersion": "v1",
  "basePath": "/language/translate/",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "ownerName": "Google",
  "schemas": {
    "DetectionsResource": {
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "The confidence of the detection result of this language."
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        }
      },
      "id": "DetectionsResource",
      "type": "array"
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      },
      "id": "LanguagesListResponse",
      "type": "object"
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        },
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        }
      }
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "id": "TranslateTextRequest",
      "type": "object",
      "properties": {
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        }
      }
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      },
      "id": "DetectLanguageRequest",
      "type": "object"
    },
    "GetSupportedLanguagesRequest": {
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest",
      "type": "object",
      "description": "The request message for discovering supported languages."
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "description": "A detections contains detection results of several text",
          "type": "array"
        }
      },
      "id": "DetectionsListResponse",
      "type": "object"
    },
    "TranslationsListResponse": {
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse",
      "type": "object",
      "properties": {
        "translations": {
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text"
        }
      }
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "type": "object",
      "properties": {
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch/translate",
  "title": "Google Cloud Translation API",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Translate",
  "revision": "20170525",
  "resources": {
    "translations": {
      "methods": {
        "list": {
          "path": "v2",
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [
            "q",
            "target"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.translations.list",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameters": {
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query",
              "type": "string"
            },
            "format": {
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query",
              "type": "string",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
            },
            "target": {
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "q": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "repeated": true
            },
            "cid": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The customization id for translate"
            },
            "source": {
              "location": "query",
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            }
          }
        },
        "translate": {
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameters": {},
          "description": "Translates input text, returning translated text.",
          "httpMethod": "POST",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.translations.translate"
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameters": {
            "q": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true
            }
          },
          "description": "Detects the language of text within a request.",
          "parameterOrder": [
            "q"
          ],
          "path": "v2/detect",
          "id": "language.detections.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "detect": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameters": {},
          "description": "Detects the language of text within a request.",
          "httpMethod": "POST",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [],
          "path": "v2/detect",
          "id": "language.detections.detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "parameters": {
            "target": {
              "location": "query",
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            },
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.languages.list",
          "path": "v2/languages",
          "description": "Returns a list of supported languages for translation."
        }
      }
    }
  },
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  }
}