{
  "protocol": "rest",
  "rootUrl": "https://translation.googleapis.com/",
  "features": [
    "dataWrapper"
  ],
  "discoveryVersion": "v1",
  "basePath": "/language/translate/",
  "parameters": {
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.list",
          "parameters": {
            "q": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "description": "Detects the language of text within a request.",
          "parameterOrder": [
            "q"
          ],
          "path": "v2/detect",
          "httpMethod": "GET"
        },
        "detect": {
          "description": "Detects the language of text within a request.",
          "path": "v2/detect",
          "httpMethod": "POST",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.detect",
          "parameters": {},
          "response": {
            "$ref": "DetectionsListResponse"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "httpMethod": "GET",
          "description": "Returns a list of supported languages for translation.",
          "id": "language.languages.list",
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [
            "q",
            "target"
          ],
          "path": "v2",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.translations.list",
          "parameters": {
            "target": {
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "repeated": true
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
            },
            "cid": {
              "description": "The customization id for translate",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "format": {
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "location": "query"
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          }
        },
        "translate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.translations.translate",
          "parameters": {},
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "description": "Translates input text, returning translated text.",
          "path": "v2",
          "httpMethod": "POST"
        }
      }
    }
  },
  "title": "Google Cloud Translation API",
  "schemas": {
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "type": "object",
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "type": "array",
      "items": {
        "properties": {
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "The confidence of the detection result of this language."
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "description": "An array of languages which we detect for the given text The most likely language list first."
    },
    "GetSupportedLanguagesRequest": {
      "id": "GetSupportedLanguagesRequest",
      "type": "object",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      }
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "type": "object",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      }
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        },
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language."
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        }
      }
    },
    "TranslationsListResponse": {
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "id": "TranslationsListResponse",
      "type": "object"
    },
    "LanguagesResource": {
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      },
      "id": "LanguagesResource",
      "type": "object"
    },
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "type": "object",
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      }
    },
    "TranslateTextRequest": {
      "id": "TranslateTextRequest",
      "type": "object",
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
        },
        "target": {
          "type": "string",
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
        },
        "source": {
          "type": "string",
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
        },
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "version": "v2",
  "servicePath": "language/translate/",
  "ownerDomain": "google.com",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "revision": "20170525",
  "batchPath": "batch/translate",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "name": "translate",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "id": "translate:v2",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "kind": "discovery#restDescription",
  "canonicalName": "Translate"
}