{
  "canonicalName": "Translate",
  "id": "translate:v2",
  "version": "v2",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "/language/translate/",
  "resources": {
    "translations": {
      "methods": {
        "list": {
          "id": "language.translations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "cid": {
              "description": "The customization id for translate",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
            },
            "q": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
            },
            "format": {
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enum": [
                "html",
                "text"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ]
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [
            "q",
            "target"
          ],
          "path": "v2",
          "httpMethod": "GET",
          "description": "Translates input text, returning translated text."
        },
        "translate": {
          "path": "v2",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameters": {},
          "id": "language.translations.translate",
          "httpMethod": "POST",
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "id": "language.languages.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "location": "query",
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "v2/languages",
          "httpMethod": "GET",
          "description": "Returns a list of supported languages for translation."
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "id": "language.detections.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "q": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [
            "q"
          ],
          "httpMethod": "GET",
          "description": "Detects the language of text within a request.",
          "path": "v2/detect"
        },
        "detect": {
          "parameters": {},
          "id": "language.detections.detect",
          "path": "v2/detect",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Detects the language of text within a request.",
          "parameterOrder": []
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth bearer token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "name": "translate",
  "revision": "20170525",
  "batchPath": "batch/translate",
  "schemas": {
    "LanguagesResource": {
      "properties": {
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      },
      "id": "LanguagesResource",
      "type": "object"
    },
    "TranslationsResource": {
      "type": "object",
      "id": "TranslationsResource",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language."
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        }
      }
    },
    "DetectLanguageRequest": {
      "type": "object",
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "type": "array",
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DetectLanguageRequest"
    },
    "TranslationsListResponse": {
      "type": "object",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "id": "TranslationsListResponse"
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest"
    },
    "DetectionsResource": {
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "type": "number",
            "format": "float"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          }
        }
      },
      "id": "DetectionsResource"
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "id": "TranslateTextRequest",
      "properties": {
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          }
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        }
      }
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array"
        }
      },
      "id": "DetectionsListResponse",
      "type": "object"
    }
  },
  "features": [
    "dataWrapper"
  ],
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "servicePath": "language/translate/",
  "title": "Google Cloud Translation API",
  "ownerName": "Google",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html"
}