{
  "ownerName": "Google",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "pp": {
      "default": "true",
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string",
      "location": "query"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "basePath": "/language/translate/",
  "revision": "20170525",
  "title": "Google Cloud Translation API",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "discoveryVersion": "v1",
  "version": "v2",
  "features": [
    "dataWrapper"
  ],
  "canonicalName": "Translate",
  "servicePath": "language/translate/",
  "schemas": {
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
        },
        "q": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        },
        "source": {
          "type": "string",
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TranslateTextRequest"
    },
    "GetSupportedLanguagesRequest": {
      "description": "The request message for discovering supported languages.",
      "id": "GetSupportedLanguagesRequest",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "type": "object"
    },
    "DetectionsResource": {
      "items": {
        "properties": {
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
          }
        },
        "type": "object"
      },
      "id": "DetectionsResource",
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first."
    },
    "TranslationsResource": {
      "properties": {
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        }
      },
      "type": "object",
      "id": "TranslationsResource"
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        },
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        }
      }
    },
    "DetectionsListResponse": {
      "type": "object",
      "id": "DetectionsListResponse",
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array",
          "description": "A detections contains detection results of several text"
        }
      }
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      },
      "type": "object",
      "id": "LanguagesListResponse"
    },
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "type": "object",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text",
          "type": "array"
        }
      }
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "type": "array",
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DetectLanguageRequest",
      "type": "object"
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "name": "translate",
  "ownerDomain": "google.com",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "id": "translate:v2",
  "batchPath": "batch/translate",
  "resources": {
    "detections": {
      "methods": {
        "detect": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameters": {},
          "description": "Detects the language of text within a request.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v2/detect",
          "id": "language.detections.detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          }
        },
        "list": {
          "description": "Detects the language of text within a request.",
          "id": "language.detections.list",
          "path": "v2/detect",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "required": true,
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "q"
          ]
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "description": "Translates input text, returning translated text.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "target": {
              "required": true,
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string"
            },
            "q": {
              "repeated": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "source": {
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string"
            },
            "format": {
              "type": "string",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "location": "query",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ]
            },
            "cid": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The customization id for translate"
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "parameterOrder": [
            "q",
            "target"
          ],
          "id": "language.translations.list"
        },
        "translate": {
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "language.translations.translate",
          "path": "v2",
          "description": "Translates input text, returning translated text.",
          "parameters": {}
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "location": "query",
              "type": "string"
            },
            "target": {
              "location": "query",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string"
            }
          },
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "path": "v2/languages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          }
        }
      }
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription"
}