{
  "ownerName": "Google",
  "rootUrl": "https://translation.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch/translate",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "id": "translate:v2",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "pp": {
      "default": "true",
      "description": "Pretty-print response.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "revision": "20170525",
  "discoveryVersion": "v1",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "kind": "discovery#restDescription",
  "canonicalName": "Translate",
  "basePath": "/language/translate/",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "parameterOrder": [
            "q"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.list",
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "path": "v2/detect",
          "description": "Detects the language of text within a request."
        },
        "detect": {
          "parameterOrder": [],
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "id": "language.detections.detect",
          "httpMethod": "POST",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "path": "v2/detect",
          "description": "Detects the language of text within a request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "target": {
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query"
            },
            "model": {
              "type": "string",
              "description": "The model type for which supported languages should be returned.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "v2/languages",
          "description": "Returns a list of supported languages for translation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.languages.list"
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "model": {
              "type": "string",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query"
            },
            "cid": {
              "type": "string",
              "description": "The customization id for translate",
              "location": "query",
              "repeated": true
            },
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "format": {
              "type": "string",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enum": [
                "html",
                "text"
              ],
              "location": "query"
            },
            "q": {
              "required": true,
              "repeated": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "location": "query",
              "type": "string"
            },
            "target": {
              "required": true,
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [
            "q",
            "target"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.translations.list"
        },
        "translate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "id": "language.translations.translate",
          "path": "v2",
          "description": "Translates input text, returning translated text.",
          "httpMethod": "POST",
          "response": {
            "$ref": "TranslationsListResponse"
          }
        }
      }
    }
  },
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "name": "translate",
  "features": [
    "dataWrapper"
  ],
  "version": "v2",
  "title": "Google Cloud Translation API",
  "protocol": "rest",
  "servicePath": "language/translate/",
  "schemas": {
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      },
      "id": "LanguagesListResponse",
      "type": "object"
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "items": {
        "properties": {
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "format": "float",
            "type": "number",
            "description": "The confidence of the detection result of this language."
          }
        },
        "type": "object"
      },
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first."
    },
    "TranslationsListResponse": {
      "type": "object",
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse",
      "properties": {
        "translations": {
          "items": {
            "$ref": "TranslationsResource"
          },
          "type": "array",
          "description": "Translations contains list of translation results of given text"
        }
      }
    },
    "DetectionsListResponse": {
      "type": "object",
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array",
          "description": "A detections contains detection results of several text"
        }
      },
      "id": "DetectionsListResponse"
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "type": "object",
      "id": "DetectLanguageRequest",
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array"
        }
      }
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        },
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "description": "The request message for discovering supported languages.",
      "type": "object",
      "id": "GetSupportedLanguagesRequest",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      }
    },
    "TranslationsResource": {
      "type": "object",
      "properties": {
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        }
      },
      "id": "TranslationsResource"
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "id": "TranslateTextRequest",
      "properties": {
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        }
      }
    }
  }
}