{
  "id": "translate:v2",
  "title": "Google Cloud Translation API",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "canonicalName": "Translate",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "name": "translate",
  "features": [
    "dataWrapper"
  ],
  "basePath": "/language/translate/",
  "discoveryVersion": "v1",
  "schemas": {
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      }
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GetSupportedLanguagesRequest": {
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TranslateTextRequest": {
      "type": "object",
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DetectionsListResponse": {
      "type": "object",
      "id": "DetectionsListResponse",
      "properties": {
        "detections": {
          "type": "array",
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      }
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "confidence": {
            "format": "float",
            "description": "The confidence of the detection result of this language.",
            "type": "number"
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        }
      },
      "type": "array"
    },
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "type": "object"
    },
    "TranslationsResource": {
      "type": "object",
      "id": "TranslationsResource",
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "batchPath": "batch/translate",
  "ownerName": "Google",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "revision": "20170525",
  "servicePath": "language/translate/",
  "protocol": "rest",
  "version": "v2",
  "rootUrl": "https://translation.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "pp": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Pretty-print response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth bearer token."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "parameters": {
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query",
              "type": "string"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The model type for which supported languages should be returned."
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "httpMethod": "GET",
          "path": "v2/languages"
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "id": "language.detections.list",
          "description": "Detects the language of text within a request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "q"
          ],
          "parameters": {
            "q": {
              "type": "string",
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "required": true,
              "repeated": true
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "path": "v2/detect"
        },
        "detect": {
          "path": "v2/detect",
          "id": "language.detections.detect",
          "description": "Detects the language of text within a request.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "parameters": {
            "target": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
            },
            "format": {
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query",
              "type": "string",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enum": [
                "html",
                "text"
              ]
            },
            "cid": {
              "type": "string",
              "location": "query",
              "description": "The customization id for translate",
              "repeated": true
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "required": true,
              "repeated": true
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "q",
            "target"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.translations.list",
          "description": "Translates input text, returning translated text.",
          "path": "v2"
        },
        "translate": {
          "path": "v2",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "language.translations.translate",
          "description": "Translates input text, returning translated text.",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  }
}