{
  "batchPath": "batch/translate",
  "ownerDomain": "google.com",
  "revision": "20170525",
  "schemas": {
    "TranslateTextRequest": {
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        }
      },
      "description": "The main translation request message for the Cloud Translation API.",
      "id": "TranslateTextRequest",
      "type": "object"
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "type": "object",
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "type": "object"
    },
    "TranslationsResource": {
      "type": "object",
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      },
      "id": "TranslationsResource"
    },
    "TranslationsListResponse": {
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "type": "object",
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse"
    },
    "LanguagesResource": {
      "type": "object",
      "properties": {
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      },
      "id": "LanguagesResource"
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array"
        }
      },
      "id": "DetectionsListResponse",
      "type": "object"
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "LanguagesListResponse"
    },
    "DetectionsResource": {
      "items": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "The confidence of the detection result of this language."
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          }
        }
      },
      "type": "array",
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first."
    }
  },
  "id": "translate:v2",
  "discoveryVersion": "v1",
  "features": [
    "dataWrapper"
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "canonicalName": "Translate",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "resources": {
    "translations": {
      "methods": {
        "translate": {
          "path": "v2",
          "id": "language.translations.translate",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameters": {}
        },
        "list": {
          "parameterOrder": [
            "q",
            "target"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "language.translations.list",
          "description": "Translates input text, returning translated text.",
          "path": "v2",
          "parameters": {
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "cid": {
              "repeated": true,
              "location": "query",
              "description": "The customization id for translate",
              "type": "string"
            },
            "q": {
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "format": {
              "location": "query",
              "enum": [
                "html",
                "text"
              ],
              "type": "string",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ]
            },
            "source": {
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          }
        }
      }
    },
    "detections": {
      "methods": {
        "detect": {
          "id": "language.detections.detect",
          "description": "Detects the language of text within a request.",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": []
        },
        "list": {
          "httpMethod": "GET",
          "id": "language.detections.list",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "q"
          ],
          "path": "v2/detect",
          "parameters": {
            "q": {
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "description": "Detects the language of text within a request."
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "v2/languages",
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "basePath": "/language/translate/",
  "rootUrl": "https://translation.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "servicePath": "language/translate/",
  "title": "Google Cloud Translation API",
  "name": "translate",
  "version": "v2",
  "ownerName": "Google",
  "protocol": "rest",
  "parameters": {
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Pretty-print response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  }
}