{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "canonicalName": "Translate",
  "title": "Cloud Translation API",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "name": "translate",
  "baseUrl": "https://translation.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "TranslateTextGlossaryConfig": {
      "id": "TranslateTextGlossaryConfig",
      "properties": {
        "contextualTranslationEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, the glossary will be used for contextual translation."
        },
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        },
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        }
      },
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "type": "object"
    },
    "RomanizeTextRequest": {
      "type": "object",
      "description": "The request message for synchronous romanization.",
      "id": "RomanizeTextRequest",
      "properties": {
        "contents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The content of the input in string format."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response."
        }
      }
    },
    "RomanizeTextResponse": {
      "type": "object",
      "description": "The response message for synchronous romanization.",
      "id": "RomanizeTextResponse",
      "properties": {
        "romanizations": {
          "items": {
            "$ref": "Romanization"
          },
          "type": "array",
          "description": "Text romanization responses. This field has the same length as `contents`."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "GcsInputSource": {
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "id": "GcsInputSource",
      "properties": {
        "inputUri": {
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`.",
          "type": "string"
        }
      }
    },
    "ReferenceSentencePair": {
      "id": "ReferenceSentencePair",
      "properties": {
        "targetSentence": {
          "type": "string",
          "description": "Target sentence in the sentence pair."
        },
        "sourceSentence": {
          "type": "string",
          "description": "Source sentence in the sentence pair."
        }
      },
      "description": "A pair of sentences used as reference in source and target languages.",
      "type": "object"
    },
    "TranslateDocumentResponse": {
      "description": "A translated document response message.",
      "type": "object",
      "id": "TranslateDocumentResponse",
      "properties": {
        "documentTranslation": {
          "description": "Translated document.",
          "$ref": "DocumentTranslation"
        },
        "model": {
          "description": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`.",
          "type": "string"
        },
        "glossaryDocumentTranslation": {
          "description": "The document's translation output if a glossary is provided in the request. This can be the same as [TranslateDocumentResponse.document_translation] if no glossary terms apply.",
          "$ref": "DocumentTranslation"
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        }
      }
    },
    "AdaptiveMtTranslateResponse": {
      "id": "AdaptiveMtTranslateResponse",
      "properties": {
        "languageCode": {
          "description": "Output only. The translation's language code.",
          "readOnly": true,
          "type": "string"
        },
        "translations": {
          "items": {
            "$ref": "AdaptiveMtTranslation"
          },
          "description": "Output only. The translation.",
          "readOnly": true,
          "type": "array"
        },
        "glossaryTranslations": {
          "type": "array",
          "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply.",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          }
        }
      },
      "description": "An AdaptiveMtTranslate response.",
      "type": "object"
    },
    "AdaptiveMtDataset": {
      "id": "AdaptiveMtDataset",
      "properties": {
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "sourceLanguageCode": {
          "description": "The BCP-47 language code of the source language.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "targetLanguageCode": {
          "description": "The BCP-47 language code of the target language.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`",
          "type": "string"
        },
        "exampleCount": {
          "description": "The number of examples in the dataset.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An Adaptive MT Dataset.",
      "type": "object"
    },
    "DocumentTranslation": {
      "description": "A translated document message.",
      "type": "object",
      "id": "DocumentTranslation",
      "properties": {
        "byteStreamOutputs": {
          "description": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "mimeType": {
          "description": "The translated document's mime type.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        }
      }
    },
    "ListAdaptiveMtDatasetsResponse": {
      "id": "ListAdaptiveMtDatasetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListAdaptiveMtDatasetsRequest.page_token] field in the subsequent call to `ListAdaptiveMtDatasets` method to retrieve the next page of results."
        },
        "adaptiveMtDatasets": {
          "description": "Output only. A list of Adaptive MT datasets.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtDataset"
          }
        }
      },
      "description": "A list of AdaptiveMtDatasets.",
      "type": "object"
    },
    "FileInputSource": {
      "type": "object",
      "description": "An inlined file.",
      "id": "FileInputSource",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Required. The file's byte contents."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The file's mime type."
        },
        "displayName": {
          "description": "Required. The file's display name.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "BatchDocumentInputConfig": {
      "description": "Input configuration for BatchTranslateDocument request.",
      "type": "object",
      "id": "BatchDocumentInputConfig",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.docx`) or a wildcard (for example, `gs://translation-test/*`). File mime type is determined based on extension. Supported mime type includes: - `pdf`, application/pdf - `docx`, application/vnd.openxmlformats-officedocument.wordprocessingml.document - `pptx`, application/vnd.openxmlformats-officedocument.presentationml.presentation - `xlsx`, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet The max file size to support for `.docx`, `.pptx` and `.xlsx` is 100MB. The max file size to support for `.pdf` is 1GB and the max page limit is 1000 pages. The max file size to support for all input documents is 1GB.",
          "$ref": "GcsSource"
        }
      }
    },
    "LanguageCodePair": {
      "id": "LanguageCodePair",
      "properties": {
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code."
        },
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Used with unidirectional glossaries."
    },
    "LanguageCodesSet": {
      "type": "object",
      "description": "Used with equivalent term set glossaries.",
      "id": "LanguageCodesSet",
      "properties": {
        "languageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The ISO-639 language code(s) for terms defined in the glossary. All entries are unique. The list contains at least two entries. Expected to be an exact match for GlossaryTerm.language_code."
        }
      }
    },
    "ReferenceSentenceConfig": {
      "id": "ReferenceSentenceConfig",
      "properties": {
        "sourceLanguageCode": {
          "description": "Source language code.",
          "type": "string"
        },
        "referenceSentencePairLists": {
          "description": "Reference sentences pair lists. Each list will be used as the references to translate the sentence under \"content\" field at the corresponding index. Length of the list is required to be equal to the length of \"content\" field.",
          "type": "array",
          "items": {
            "$ref": "ReferenceSentencePairList"
          }
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Target language code."
        }
      },
      "description": "Message of caller-provided reference configuration.",
      "type": "object"
    },
    "AdaptiveMtTranslateRequest": {
      "type": "object",
      "description": "The request for sending an AdaptiveMt translation query.",
      "id": "AdaptiveMtTranslateRequest",
      "properties": {
        "dataset": {
          "description": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`",
          "type": "string"
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "GlossaryConfig"
        },
        "content": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The content of the input in string format."
        },
        "referenceSentenceConfig": {
          "description": "Configuration for caller provided reference sentences.",
          "$ref": "ReferenceSentenceConfig"
        }
      }
    },
    "GlossaryConfig": {
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "type": "object",
      "id": "GlossaryConfig",
      "properties": {
        "contextualTranslationEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, the glossary will be used for contextual translation."
        },
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        },
        "glossary": {
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "TranslateTextResponse": {
      "id": "TranslateTextResponse",
      "properties": {
        "translations": {
          "items": {
            "$ref": "Translation"
          },
          "type": "array",
          "description": "Text translation responses with no glossary applied. This field has the same length as `contents`."
        },
        "glossaryTranslations": {
          "description": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`.",
          "type": "array",
          "items": {
            "$ref": "Translation"
          }
        }
      },
      "type": "object"
    },
    "BatchTranslateDocumentRequest": {
      "description": "The BatchTranslateDocument request.",
      "type": "object",
      "id": "BatchTranslateDocumentRequest",
      "properties": {
        "sourceLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "enableRotationCorrection": {
          "description": "Optional. If true, enable auto rotation correction in DVS.",
          "type": "boolean"
        },
        "targetLanguageCodes": {
          "description": "Required. The ISO-639 language code to use for translation of the input document. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputConfigs": {
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size to translate should be <= 100M Unicode codepoints. The files must use UTF-8 encoding.",
          "type": "array",
          "items": {
            "$ref": "BatchDocumentInputConfig"
          }
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "BatchDocumentOutputConfig"
        },
        "glossaries": {
          "description": "Optional. Glossaries to be applied. It's keyed by target language code.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          }
        },
        "models": {
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is the model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pdfNativeOnly": {
          "description": "Optional. If true, only native pdf pages will be translated.",
          "type": "boolean"
        },
        "formatConversions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The file format conversion map that is applied to all input files. The map key is the original mime_type. The map value is the target mime_type of translated documents. Supported file format conversion includes: - `application/pdf` to `application/vnd.openxmlformats-officedocument.wordprocessingml.document` If nothing specified, output files will be in the same format as the original file."
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        }
      }
    },
    "GlossaryTerm": {
      "id": "GlossaryTerm",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The language for this glossary term."
        },
        "text": {
          "type": "string",
          "description": "The text for the glossary term."
        }
      },
      "type": "object",
      "description": "Represents a single glossary term"
    },
    "ReferenceSentencePairList": {
      "description": "A list of reference sentence pairs.",
      "type": "object",
      "id": "ReferenceSentencePairList",
      "properties": {
        "referenceSentencePairs": {
          "items": {
            "$ref": "ReferenceSentencePair"
          },
          "description": "Reference sentence pairs.",
          "type": "array"
        }
      }
    },
    "Translation": {
      "id": "Translation",
      "properties": {
        "model": {
          "description": "Only present when `model` is present in the request. `model` here is normalized to have project number. For example: If the `model` requested in TranslationTextRequest is `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        },
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language. If an error occurs during translation, this field might be excluded from the response."
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        }
      },
      "type": "object",
      "description": "A single translation response."
    },
    "InputFile": {
      "id": "InputFile",
      "properties": {
        "usage": {
          "description": "Optional. Usage of the file contents. Options are TRAIN|VALIDATION|TEST, or UNASSIGNED (by default) for auto split.",
          "type": "string"
        },
        "gcsSource": {
          "description": "Google Cloud Storage file source.",
          "$ref": "GcsInputSource"
        }
      },
      "type": "object",
      "description": "An input file."
    },
    "GlossaryTermsPair": {
      "id": "GlossaryTermsPair",
      "properties": {
        "sourceTerm": {
          "description": "The source term is the term that will get match in the text,",
          "$ref": "GlossaryTerm"
        },
        "targetTerm": {
          "description": "The term that will replace the match source term.",
          "$ref": "GlossaryTerm"
        }
      },
      "description": "Represents a single entry for an unidirectional glossary.",
      "type": "object"
    },
    "InputConfig": {
      "description": "Input configuration for BatchTranslateText request.",
      "type": "object",
      "id": "InputConfig",
      "properties": {
        "mimeType": {
          "description": "Optional. Can be \"text/plain\" or \"text/html\". For `.tsv`, \"text/html\" is used if mime_type is missing. For `.html`, this field must be \"text/html\" or empty. For `.txt`, this field must be \"text/plain\" or empty.",
          "type": "string"
        },
        "gcsSource": {
          "description": "Required. Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.tsv`) or a wildcard (for example, `gs://translation-test/*`). If a file extension is `.tsv`, it can contain either one or two columns. The first column (optional) is the id of the text request. If the first column is missing, we use the row number (0-based) from the input file as the ID in the output file. The second column is the actual text to be translated. We recommend each row be <= 10K Unicode codepoints, otherwise an error might be returned. Note that the input tsv must be RFC 4180 compliant. You could use https://github.com/Clever/csvlint to check potential formatting errors in your tsv file. csvlint --delimiter='\\t' your_input_file.tsv The other supported file extensions are `.txt` or `.html`, which is treated as a single large chunk of text.",
          "$ref": "GcsSource"
        }
      }
    },
    "DocumentOutputConfig": {
      "id": "DocumentOutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Optional. Google Cloud Storage destination for the translation output, e.g., `gs://my_bucket/my_directory/`. The destination directory provided does not have to be empty, but the bucket must exist. If a file with the same name as the output file already exists in the destination an error will be returned. For a DocumentInputConfig.contents provided document, the output file will have the name \"output_[trg]_translations.[ext]\", where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. For a DocumentInputConfig.gcs_uri provided document, the output file will have a name according to its URI. For example: an input file with URI: `gs://a/b/c.[extension]` stored in a gcs_destination bucket with name \"my_bucket\" will have an output URI: `gs://my_bucket/a_b_c_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If the document was directly provided through the request, then the output document will have the format: `gs://my_bucket/translated_document_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If a glossary was provided, then the output URI for the glossary translation will be equal to the default output URI but have `glossary_translations` instead of `translations`. For the previous example, its glossary URI would be: `gs://my_bucket/a_b_c_[trg]_glossary_translations.[ext]`. Thus the max number of output files will be 2 (Translated document, Glossary translated document). Callers should expect no partial outputs. If there is any error during document translation, no output will be stored in the Cloud Storage bucket.",
          "$ref": "GcsDestination"
        },
        "mimeType": {
          "description": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A document translation request output config."
    },
    "BatchDocumentOutputConfig": {
      "id": "BatchDocumentOutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input document (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateDocumentRequest). While the input documents are being processed, we write/update an index file `index.csv` under `gcs_destination.output_uri_prefix` (for example, gs://translation_output/index.csv) The index file is generated/updated as new files are being translated. The format is: input_document,target_language_code,translation_output,error_output, glossary_translation_output,glossary_error_output `input_document` is one file we matched using gcs_source.input_uri. `target_language_code` is provided in the request. `translation_output` contains the translations. (details provided below) `error_output` contains the error message during processing of the file. Both translations_file and errors_file could be empty strings if we have no content to output. `glossary_translation_output` and `glossary_error_output` are the translated output/error when we apply glossaries. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The naming format of translation output files follows (for target language code [trg]): `translation_output`: `gs://translation_output/a_b_c_[trg]_translation.[extension]` `glossary_translation_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.[extension]`. The output document will maintain the same file format as the input document. The naming format of error output files follows (for target language code [trg]): `error_output`: `gs://translation_test/a_b_c_[trg]_errors.txt` `glossary_error_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.txt`. The error output is a txt file containing error details.",
          "$ref": "GcsDestination"
        }
      },
      "type": "object",
      "description": "Output configuration for BatchTranslateDocument request."
    },
    "DatasetInputConfig": {
      "type": "object",
      "description": "Input configuration for datasets.",
      "id": "DatasetInputConfig",
      "properties": {
        "inputFiles": {
          "type": "array",
          "description": "Files containing the sentence pairs to be imported to the dataset.",
          "items": {
            "$ref": "InputFile"
          }
        }
      }
    },
    "DocumentInputConfig": {
      "description": "A document translation request input config.",
      "type": "object",
      "id": "DocumentInputConfig",
      "properties": {
        "content": {
          "description": "Document's content represented as a stream of bytes.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "type": "string",
          "description": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location. This must be a single file. For example: gs://example_bucket/example_file.pdf",
          "$ref": "GcsSource"
        }
      }
    },
    "BatchTranslateTextRequest": {
      "description": "The batch translation request.",
      "type": "object",
      "id": "BatchTranslateTextRequest",
      "properties": {
        "glossaries": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          },
          "description": "Optional. Glossaries to be applied for translation. It's keyed by target language code."
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Required. Source language code. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "inputConfigs": {
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size should be <= 100M Unicode codepoints. The files must use UTF-8 encoding.",
          "type": "array",
          "items": {
            "$ref": "InputConfig"
          }
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "OutputConfig"
        },
        "targetLanguageCodes": {
          "items": {
            "type": "string"
          },
          "description": "Required. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "array"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SupportedLanguages": {
      "id": "SupportedLanguages",
      "properties": {
        "languages": {
          "items": {
            "$ref": "SupportedLanguage"
          },
          "description": "A list of supported language responses. This list contains an entry for each language the Translation API supports.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for discovering supported languages."
    },
    "AdaptiveMtTranslation": {
      "type": "object",
      "description": "An AdaptiveMt translation.",
      "id": "AdaptiveMtTranslation",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Output only. The translated text.",
          "readOnly": true
        }
      }
    },
    "DatasetOutputConfig": {
      "id": "DatasetOutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination to write the output.",
          "$ref": "GcsOutputDestination"
        }
      },
      "type": "object",
      "description": "Output configuration for datasets."
    },
    "Example": {
      "type": "object",
      "description": "A sentence pair.",
      "id": "Example",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the example, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}/examples/{example_id}`",
          "readOnly": true,
          "type": "string"
        },
        "sourceText": {
          "description": "Sentence in source language.",
          "type": "string"
        },
        "usage": {
          "type": "string",
          "description": "Output only. Usage of the sentence pair. Options are TRAIN|VALIDATION|TEST.",
          "readOnly": true
        },
        "targetText": {
          "type": "string",
          "description": "Sentence in target language."
        }
      }
    },
    "DetectLanguageResponse": {
      "id": "DetectLanguageResponse",
      "properties": {
        "languages": {
          "type": "array",
          "description": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result.",
          "items": {
            "$ref": "DetectedLanguage"
          }
        }
      },
      "description": "The response message for language detection.",
      "type": "object"
    },
    "ExportDataRequest": {
      "description": "Request message for ExportData.",
      "type": "object",
      "id": "ExportDataRequest",
      "properties": {
        "outputConfig": {
          "description": "Required. The config for the output content.",
          "$ref": "DatasetOutputConfig"
        }
      }
    },
    "RefineTextRequest": {
      "id": "RefineTextRequest",
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\".",
          "type": "string"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\"."
        },
        "refinementEntries": {
          "items": {
            "$ref": "RefinementEntry"
          },
          "description": "Required. The source texts and original translations in the source and target languages.",
          "type": "array"
        }
      },
      "description": "Request message for RefineText.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "WaitOperationRequest": {
      "id": "WaitOperationRequest",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "The request message for Operations.WaitOperation.",
      "type": "object"
    },
    "TranslateDocumentRequest": {
      "description": "A document translation request.",
      "type": "object",
      "id": "TranslateDocumentRequest",
      "properties": {
        "isTranslateNativePdfOnly": {
          "type": "boolean",
          "description": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model."
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation.",
          "type": "string"
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "enableRotationCorrection": {
          "type": "boolean",
          "description": "Optional. If true, enable auto rotation correction in DVS."
        },
        "documentOutputConfig": {
          "description": "Optional. Output configurations. Defines if the output file should be stored within Cloud Storage as well as the desired output format. If not provided the translated file will only be returned through a byte-stream and its output mime type will be the same as the input file's mime type.",
          "$ref": "DocumentOutputConfig"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "documentInputConfig": {
          "description": "Required. Input configurations.",
          "$ref": "DocumentInputConfig"
        },
        "customizedAttribution": {
          "type": "string",
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        }
      }
    },
    "ListExamplesResponse": {
      "id": "ListExamplesResponse",
      "properties": {
        "examples": {
          "type": "array",
          "description": "The sentence pairs.",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListExamplesRequest to obtain the corresponding page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListExamples."
    },
    "GcsSource": {
      "id": "GcsSource",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
        }
      },
      "type": "object",
      "description": "The Google Cloud Storage location for the input content."
    },
    "Dataset": {
      "description": "A dataset that hosts the examples (sentence pairs) used for translation models.",
      "type": "object",
      "id": "Dataset",
      "properties": {
        "name": {
          "description": "The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`",
          "type": "string"
        },
        "validateExampleCount": {
          "description": "Output only. Number of validation examples (sentence pairs).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "trainExampleCount": {
          "description": "Output only. Number of training examples (sentence pairs).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the target language."
        },
        "exampleCount": {
          "description": "Output only. The number of examples in the dataset.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "sourceLanguageCode": {
          "description": "The BCP-47 language code of the source language.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true
        },
        "testExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of test examples (sentence pairs).",
          "readOnly": true
        }
      }
    },
    "AdaptiveMtSentence": {
      "id": "AdaptiveMtSentence",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this sentence was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when this sentence was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceSentence": {
          "type": "string",
          "description": "Required. The source sentence."
        },
        "name": {
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}/adaptiveMtSentences/{sentence}`",
          "type": "string"
        },
        "targetSentence": {
          "type": "string",
          "description": "Required. The target sentence."
        }
      },
      "type": "object",
      "description": "An AdaptiveMt sentence entry."
    },
    "RefinementEntry": {
      "id": "RefinementEntry",
      "properties": {
        "sourceText": {
          "type": "string",
          "description": "Required. The source text to be refined."
        },
        "originalTranslation": {
          "type": "string",
          "description": "Required. The original translation of the source text."
        }
      },
      "type": "object",
      "description": "A single refinement entry for RefineTextRequest."
    },
    "TranslateTextRequest": {
      "id": "TranslateTextRequest",
      "properties": {
        "transliterationConfig": {
          "description": "Optional. Transliteration to be applied.",
          "$ref": "TransliterationConfig"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\"."
        },
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response.",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code to use for translation of the input text, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, - Translation LLM models: `projects/{project-number-or-id}/locations/{location-id}/models/general/translation-llm`, For global (non-regionalized) requests, use `location-id` `global`. For example, `projects/{project-number-or-id}/locations/global/models/general/nmt`. If not provided, the default Google model (NMT) will be used",
          "type": "string"
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "contents": {
          "type": "array",
          "description": "Required. The content of the input in string format. We recommend the total content be less than 30,000 codepoints. The max length of this field is 1024. Use BatchTranslateText for larger text.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request message for synchronous translation.",
      "type": "object"
    },
    "GcsDestination": {
      "type": "object",
      "description": "The Google Cloud Storage location for the output content.",
      "id": "GcsDestination",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. The bucket used in 'output_uri_prefix' must exist and there must be no files under 'output_uri_prefix'. 'output_uri_prefix' must end with \"/\" and start with \"gs://\". One 'output_uri_prefix' can only be used by one batch translation job at a time. Otherwise an INVALID_ARGUMENT (400) error is returned.",
          "type": "string"
        }
      }
    },
    "GlossaryEntry": {
      "id": "GlossaryEntry",
      "properties": {
        "termsPair": {
          "description": "Used for an unidirectional glossary.",
          "$ref": "GlossaryTermsPair"
        },
        "description": {
          "description": "Describes the glossary entry.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`",
          "type": "string"
        },
        "termsSet": {
          "description": "Used for an equivalent term sets glossary.",
          "$ref": "GlossaryTermsSet"
        }
      },
      "description": "Represents a single entry in a glossary.",
      "type": "object"
    },
    "ListGlossariesResponse": {
      "id": "ListGlossariesResponse",
      "properties": {
        "glossaries": {
          "description": "The list of glossaries for a project.",
          "type": "array",
          "items": {
            "$ref": "Glossary"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for ListGlossaries.",
      "type": "object"
    },
    "ImportAdaptiveMtFileResponse": {
      "id": "ImportAdaptiveMtFileResponse",
      "properties": {
        "adaptiveMtFile": {
          "description": "Output only. The Adaptive MT file that was imported.",
          "readOnly": true,
          "$ref": "AdaptiveMtFile"
        }
      },
      "description": "The response for importing an AdaptiveMtFile",
      "type": "object"
    },
    "GlossaryInputConfig": {
      "id": "GlossaryInputConfig",
      "properties": {
        "gcsSource": {
          "description": "Required. Google Cloud Storage location of glossary data. File format is determined based on the filename extension. API returns [google.rpc.Code.INVALID_ARGUMENT] for unsupported URI-s and file formats. Wildcards are not allowed. This must be a single file in one of the following formats: For unidirectional glossaries: - TSV/CSV (`.tsv`/`.csv`): Two column file, tab- or comma-separated. The first column is source text. The second column is target text. No headers in this file. The first row contains data and not column names. - TMX (`.tmx`): TMX file with parallel data defining source/target term pairs. For equivalent term sets glossaries: - CSV (`.csv`): Multi-column CSV file defining equivalent glossary terms in multiple languages. See documentation for more information - [glossaries](https://cloud.google.com/translate/docs/advanced/glossary).",
          "$ref": "GcsSource"
        }
      },
      "description": "Input configuration for glossaries.",
      "type": "object"
    },
    "ListDatasetsResponse": {
      "id": "ListDatasetsResponse",
      "properties": {
        "datasets": {
          "items": {
            "$ref": "Dataset"
          },
          "type": "array",
          "description": "The datasets read."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page.",
          "type": "string"
        }
      },
      "description": "Response message for ListDatasets.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "SupportedLanguage": {
      "id": "SupportedLanguage",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the language localized in the display language specified in the request."
        },
        "supportSource": {
          "description": "Can be used as a source language.",
          "type": "boolean"
        },
        "supportTarget": {
          "type": "boolean",
          "description": "Can be used as a target language."
        },
        "languageCode": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1 identifier, for example, 'en', 'ja'. In certain cases, ISO-639 codes including language and region identifiers are returned (for example, 'zh-TW' and 'zh-CN')."
        }
      },
      "type": "object",
      "description": "A single supported language response corresponds to information related to one supported language."
    },
    "ListAdaptiveMtSentencesResponse": {
      "description": "List AdaptiveMt sentences response.",
      "type": "object",
      "id": "ListAdaptiveMtSentencesResponse",
      "properties": {
        "adaptiveMtSentences": {
          "items": {
            "$ref": "AdaptiveMtSentence"
          },
          "type": "array",
          "description": "Output only. The list of AdaptiveMtSentences.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Optional. ",
          "type": "string"
        }
      }
    },
    "ListModelsResponse": {
      "description": "Response message for ListModels.",
      "type": "object",
      "id": "ListModelsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListModelsRequest to obtain the corresponding page.",
          "type": "string"
        },
        "models": {
          "items": {
            "$ref": "Model"
          },
          "description": "The models read.",
          "type": "array"
        }
      }
    },
    "TransliterationConfig": {
      "id": "TransliterationConfig",
      "properties": {
        "enableTransliteration": {
          "description": "If true, source text in romanized form can be translated to the target language.",
          "type": "boolean"
        }
      },
      "description": "Configures transliteration feature on top of translation.",
      "type": "object"
    },
    "DetectedLanguage": {
      "id": "DetectedLanguage",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The ISO-639 language code of the source content in the request, detected automatically."
        },
        "confidence": {
          "description": "The confidence of the detection result for this language.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "The response message for language detection.",
      "type": "object"
    },
    "AdaptiveMtFile": {
      "description": "An AdaptiveMtFile.",
      "type": "object",
      "id": "AdaptiveMtFile",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
          "type": "string"
        },
        "displayName": {
          "description": "The file's display name.",
          "type": "string"
        },
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of entries that the file contains."
        },
        "createTime": {
          "description": "Output only. Timestamp when this file was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this file was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GcsOutputDestination": {
      "type": "object",
      "description": "The Google Cloud Storage location for the output content.",
      "id": "GcsOutputDestination",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Required. Google Cloud Storage URI to output directory. For example, `gs://bucket/directory`. The requesting user must have write permission to the bucket. The directory will be created if it doesn't exist."
        }
      }
    },
    "ListGlossaryEntriesResponse": {
      "id": "ListGlossaryEntriesResponse",
      "properties": {
        "glossaryEntries": {
          "items": {
            "$ref": "GlossaryEntry"
          },
          "description": "Optional. The Glossary Entries",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListGLossaryEntriesRequest.page_token] field in the subsequent calls."
        }
      },
      "description": "Response message for ListGlossaryEntries",
      "type": "object"
    },
    "ImportDataRequest": {
      "type": "object",
      "description": "Request message for ImportData.",
      "id": "ImportDataRequest",
      "properties": {
        "inputConfig": {
          "description": "Required. The config for the input content.",
          "$ref": "DatasetInputConfig"
        }
      }
    },
    "ImportAdaptiveMtFileRequest": {
      "type": "object",
      "description": "The request for importing an AdaptiveMt file along with its sentences.",
      "id": "ImportAdaptiveMtFileRequest",
      "properties": {
        "gcsInputSource": {
          "description": "Google Cloud Storage file source.",
          "$ref": "GcsInputSource"
        },
        "fileInputSource": {
          "description": "Inline file source.",
          "$ref": "FileInputSource"
        }
      }
    },
    "DetectLanguageRequest": {
      "type": "object",
      "description": "The request message for language detection.",
      "id": "DetectLanguageRequest",
      "properties": {
        "documentInputConfig": {
          "description": "Optional. The document configuration of the input.",
          "$ref": "DocumentInputConfig"
        },
        "mimeType": {
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\".",
          "type": "string"
        },
        "model": {
          "description": "Optional. The language detection model to be used. Format: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/{model-id}` Only one language detection model is currently supported: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/default`. If not specified, the default model is used.",
          "type": "string"
        },
        "content": {
          "description": "The content of the input stored as a string.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListAdaptiveMtFilesResponse": {
      "description": "The response for listing all AdaptiveMt files under a given dataset.",
      "type": "object",
      "id": "ListAdaptiveMtFilesResponse",
      "properties": {
        "adaptiveMtFiles": {
          "items": {
            "$ref": "AdaptiveMtFile"
          },
          "type": "array",
          "description": "Output only. The Adaptive MT files.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the ListAdaptiveMtFilesRequest.page_token field in the subsequent call to `ListAdaptiveMtFiles` method to retrieve the next page of results."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "Model": {
      "id": "Model",
      "properties": {
        "validateExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples (sentence pairs) used to validate the model.",
          "readOnly": true
        },
        "targetLanguageCode": {
          "description": "Output only. The BCP-47 language code of the target language.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
        },
        "trainExampleCount": {
          "description": "Output only. Number of examples (sentence pairs) used to train the model.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this model was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
        },
        "dataset": {
          "description": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`",
          "type": "string"
        },
        "testExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples (sentence pairs) used to test the model.",
          "readOnly": true
        },
        "sourceLanguageCode": {
          "description": "Output only. The BCP-47 language code of the source language.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the model resource was created, which is also when the training started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A trained translation model."
    },
    "RefineTextResponse": {
      "description": "Response message for RefineText.",
      "type": "object",
      "id": "RefineTextResponse",
      "properties": {
        "refinedTranslations": {
          "items": {
            "type": "string"
          },
          "description": "The refined translations obtained from the original translations.",
          "type": "array"
        }
      }
    },
    "Romanization": {
      "description": "A single romanization response.",
      "type": "object",
      "id": "Romanization",
      "properties": {
        "romanizedText": {
          "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        }
      }
    },
    "GlossaryTermsSet": {
      "type": "object",
      "description": "Represents a single entry for an equivalent term set glossary. This is used for equivalent term sets where each term can be replaced by the other terms in the set.",
      "id": "GlossaryTermsSet",
      "properties": {
        "terms": {
          "items": {
            "$ref": "GlossaryTerm"
          },
          "type": "array",
          "description": "Each term in the set represents a term that can be replaced by the other terms."
        }
      }
    },
    "Glossary": {
      "id": "Glossary",
      "properties": {
        "languagePair": {
          "description": "Used with unidirectional glossaries.",
          "$ref": "LanguageCodePair"
        },
        "languageCodesSet": {
          "description": "Used with equivalent term set glossaries.",
          "$ref": "LanguageCodesSet"
        },
        "name": {
          "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Provides examples to build the glossary from. Total glossary must not exceed 10M Unicode codepoints.",
          "$ref": "GlossaryInputConfig"
        },
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of entries defined in the glossary.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The display name of the glossary.",
          "type": "string"
        },
        "submitTime": {
          "description": "Output only. When CreateGlossary was called.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the glossary creation was finished.",
          "readOnly": true
        }
      },
      "description": "Represents a glossary built from user-provided data.",
      "type": "object"
    },
    "OutputConfig": {
      "type": "object",
      "description": "Output configuration for BatchTranslateText request.",
      "id": "OutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`",
          "$ref": "GcsDestination"
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "datasets": {
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples",
                      "description": "Lists sentence pairs in the dataset.",
                      "id": "translate.projects.locations.datasets.examples.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v3/{+parent}/examples",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "importData": {
                  "path": "v3/{+dataset}:importData",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData",
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "dataset": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "id": "translate.projects.locations.datasets.importData",
                  "description": "Import sentence pairs into translation Dataset."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The resource name of the dataset to retrieve.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.datasets.get",
                  "description": "Gets a Dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "response": {
                    "$ref": "Dataset"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "POST",
                  "path": "v3/{+parent}/datasets",
                  "id": "translate.projects.locations.datasets.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project name.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a Dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "request": {
                    "$ref": "Dataset"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "description": "Deletes a dataset and all of its contents.",
                  "id": "translate.projects.locations.datasets.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the dataset to delete.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v3/{+name}"
                },
                "exportData": {
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "description": "Exports dataset's data to the provided output location.",
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "id": "translate.projects.locations.datasets.exportData",
                  "path": "v3/{+dataset}:exportData",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "list": {
                  "path": "v3/{+parent}/datasets",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "description": "Lists datasets.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.datasets.list"
                }
              }
            },
            "adaptiveMtDatasets": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "GET",
                  "path": "v3/{+name}",
                  "description": "Gets the Adaptive MT dataset.",
                  "id": "translate.projects.locations.adaptiveMtDatasets.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}"
                },
                "importAdaptiveMtFile": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}:importAdaptiveMtFile",
                  "request": {
                    "$ref": "ImportAdaptiveMtFileRequest"
                  },
                  "response": {
                    "$ref": "ImportAdaptiveMtFileResponse"
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.importAdaptiveMtFile",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports an AdaptiveMtFile and adds all of its sentences into the AdaptiveMtDataset.",
                  "httpMethod": "POST",
                  "path": "v3/{+parent}:importAdaptiveMtFile",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "response": {
                    "$ref": "ListAdaptiveMtDatasetsResponse"
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Filter is not supported yet.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource name of the project from which to list the Adaptive MT datasets. `projects/{project-number-or-id}/locations/{location-id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server may return fewer results than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtDatasetsResponse.next_page_token returned from the previous call to `ListAdaptiveMtDatasets` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all Adaptive MT datasets for which the caller has read permission."
                },
                "delete": {
                  "description": "Deletes an Adaptive MT dataset, including all its entries and associated metadata.",
                  "id": "translate.projects.locations.adaptiveMtDatasets.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v3/{+name}"
                },
                "create": {
                  "request": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "description": "Creates an Adaptive MT dataset.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.create",
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                }
              },
              "resources": {
                "adaptiveMtFiles": {
                  "resources": {
                    "adaptiveMtSentences": {
                      "methods": {
                        "list": {
                          "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.adaptiveMtSentences.list",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                              "required": true
                            }
                          },
[...]
