{
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "translate",
  "servicePath": "language/translate/",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "batchPath": "batch/translate",
  "revision": "20170525",
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.list",
          "parameterOrder": [
            "q"
          ],
          "path": "v2/detect",
          "httpMethod": "GET",
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameters": {
            "q": {
              "repeated": true,
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "location": "query",
              "type": "string",
              "required": true
            }
          }
        },
        "detect": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.detect",
          "path": "v2/detect",
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.languages.list",
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "location": "query",
              "type": "string"
            },
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v2/languages",
          "httpMethod": "GET",
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          }
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "parameters": {
            "q": {
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
            },
            "cid": {
              "description": "The customization id for translate",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "format": {
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "location": "query",
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ]
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "httpMethod": "GET",
          "id": "language.translations.list",
          "parameterOrder": [
            "q",
            "target"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "translate": {
          "id": "language.translations.translate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Translate",
  "id": "translate:v2",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "basePath": "/language/translate/",
  "schemas": {
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "description": "The main language translation response message.",
      "type": "object",
      "properties": {
        "translations": {
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text"
        }
      }
    },
    "LanguagesListResponse": {
      "type": "object",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      },
      "id": "LanguagesListResponse"
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages."
    },
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "type": "object",
      "properties": {
        "detections": {
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          },
          "description": "A detections contains detection results of several text"
        }
      }
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "type": "object",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      }
    },
    "LanguagesResource": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        },
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        }
      },
      "id": "LanguagesResource"
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "type": "object",
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      }
    },
    "TranslateTextRequest": {
      "type": "object",
      "properties": {
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
        },
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        }
      },
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API."
    },
    "DetectionsResource": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          }
        }
      },
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first."
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "features": [
    "dataWrapper"
  ],
  "version": "v2",
  "title": "Google Cloud Translation API"
}