{
  "revision": "20170525",
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "id": "language.detections.list",
          "parameterOrder": [
            "q"
          ],
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "q": {
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "required": true,
              "repeated": true,
              "location": "query"
            }
          },
          "path": "v2/detect",
          "httpMethod": "GET"
        },
        "detect": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Detects the language of text within a request.",
          "parameters": {},
          "id": "language.detections.detect",
          "parameterOrder": [],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "path": "v2/detect",
          "httpMethod": "POST",
          "request": {
            "$ref": "DetectLanguageRequest"
          }
        }
      }
    },
    "translations": {
      "methods": {
        "translate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Translates input text, returning translated text.",
          "parameters": {},
          "id": "language.translations.translate",
          "parameterOrder": [],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "httpMethod": "POST",
          "request": {
            "$ref": "TranslateTextRequest"
          }
        },
        "list": {
          "id": "language.translations.list",
          "parameterOrder": [
            "q",
            "target"
          ],
          "path": "v2",
          "httpMethod": "GET",
          "parameters": {
            "format": {
              "type": "string",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
            },
            "q": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "required": true
            },
            "source": {
              "location": "query",
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            },
            "model": {
              "type": "string",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query"
            },
            "target": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
            },
            "cid": {
              "type": "string",
              "description": "The customization id for translate",
              "repeated": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "httpMethod": "GET",
          "parameters": {
            "model": {
              "type": "string",
              "description": "The model type for which supported languages should be returned.",
              "location": "query"
            },
            "target": {
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "id": "language.languages.list"
        }
      }
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "id": "translate:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "pp": {
      "default": "true",
      "description": "Pretty-print response.",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    }
  },
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "servicePath": "language/translate/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "batchPath": "batch/translate",
  "name": "translate",
  "basePath": "/language/translate/",
  "schemas": {
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "type": "array",
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      },
      "id": "DetectionsListResponse",
      "type": "object"
    },
    "TranslationsListResponse": {
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "type": "object",
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse"
    },
    "LanguagesResource": {
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      },
      "type": "object",
      "id": "LanguagesResource"
    },
    "DetectLanguageRequest": {
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "type": "object"
    },
    "LanguagesListResponse": {
      "type": "object",
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      }
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "properties": {
          "confidence": {
            "type": "number",
            "description": "The confidence of the detection result of this language.",
            "format": "float"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          }
        },
        "type": "object"
      }
    },
    "TranslationsResource": {
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TranslationsResource"
    },
    "TranslateTextRequest": {
      "properties": {
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        }
      },
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "id": "TranslateTextRequest"
    },
    "GetSupportedLanguagesRequest": {
      "description": "The request message for discovering supported languages.",
      "type": "object",
      "id": "GetSupportedLanguagesRequest",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      }
    }
  },
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "title": "Google Cloud Translation API",
  "features": [
    "dataWrapper"
  ],
  "kind": "discovery#restDescription",
  "version": "v2",
  "canonicalName": "Translate"
}