{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "canonicalName": "Translate",
  "title": "Cloud Translation API",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "name": "translate",
  "baseUrl": "https://translation.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "LanguageCodePair": {
      "id": "LanguageCodePair",
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code."
        }
      },
      "description": "Used with unidirectional glossaries.",
      "type": "object"
    },
    "LanguageCodesSet": {
      "id": "LanguageCodesSet",
      "properties": {
        "languageCodes": {
          "description": "Optional. The ISO-639 language code(s) for terms defined in the glossary. All entries are unique. The list contains at least two entries. Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Used with equivalent term set glossaries.",
      "type": "object"
    },
    "DocumentTranslation": {
      "id": "DocumentTranslation",
      "properties": {
        "mimeType": {
          "description": "The translated document's mime type.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        },
        "byteStreamOutputs": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats.",
          "type": "array"
        }
      },
      "description": "A translated document message.",
      "type": "object"
    },
    "ListAdaptiveMtDatasetsResponse": {
      "type": "object",
      "description": "A list of AdaptiveMtDatasets.",
      "id": "ListAdaptiveMtDatasetsResponse",
      "properties": {
        "adaptiveMtDatasets": {
          "items": {
            "$ref": "AdaptiveMtDataset"
          },
          "type": "array",
          "description": "Output only. A list of Adaptive MT datasets.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListAdaptiveMtDatasetsRequest.page_token] field in the subsequent call to `ListAdaptiveMtDatasets` method to retrieve the next page of results."
        }
      }
    },
    "FileInputSource": {
      "id": "FileInputSource",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The file's mime type."
        },
        "displayName": {
          "description": "Required. The file's display name.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Required. The file's byte contents."
        }
      },
      "type": "object",
      "description": "An inlined file."
    },
    "AdaptiveMtDataset": {
      "id": "AdaptiveMtDataset",
      "properties": {
        "targetLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the target language."
        },
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the source language."
        },
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`",
          "type": "string"
        },
        "exampleCount": {
          "description": "The number of examples in the dataset.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "An Adaptive MT Dataset."
    },
    "AdaptiveMtTranslateResponse": {
      "id": "AdaptiveMtTranslateResponse",
      "properties": {
        "glossaryTranslations": {
          "items": {
            "$ref": "AdaptiveMtTranslation"
          },
          "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply.",
          "type": "array"
        },
        "translations": {
          "description": "Output only. The translation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The translation's language code.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An AdaptiveMtTranslate response."
    },
    "BatchDocumentInputConfig": {
      "id": "BatchDocumentInputConfig",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.docx`) or a wildcard (for example, `gs://translation-test/*`). File mime type is determined based on extension. Supported mime type includes: - `pdf`, application/pdf - `docx`, application/vnd.openxmlformats-officedocument.wordprocessingml.document - `pptx`, application/vnd.openxmlformats-officedocument.presentationml.presentation - `xlsx`, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet The max file size to support for `.docx`, `.pptx` and `.xlsx` is 100MB. The max file size to support for `.pdf` is 1GB and the max page limit is 1000 pages. The max file size to support for all input documents is 1GB.",
          "$ref": "GcsSource"
        }
      },
      "type": "object",
      "description": "Input configuration for BatchTranslateDocument request."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ReferenceSentencePair": {
      "id": "ReferenceSentencePair",
      "properties": {
        "sourceSentence": {
          "type": "string",
          "description": "Source sentence in the sentence pair."
        },
        "targetSentence": {
          "description": "Target sentence in the sentence pair.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A pair of sentences used as reference in source and target languages."
    },
    "GcsInputSource": {
      "id": "GcsInputSource",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
        }
      },
      "type": "object",
      "description": "The Google Cloud Storage location for the input content."
    },
    "TranslateDocumentResponse": {
      "id": "TranslateDocumentResponse",
      "properties": {
        "glossaryDocumentTranslation": {
          "description": "The document's translation output if a glossary is provided in the request. This can be the same as [TranslateDocumentResponse.document_translation] if no glossary terms apply.",
          "$ref": "DocumentTranslation"
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "documentTranslation": {
          "description": "Translated document.",
          "$ref": "DocumentTranslation"
        },
        "model": {
          "description": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A translated document response message."
    },
    "RomanizeTextRequest": {
      "type": "object",
      "description": "The request message for synchronous romanization.",
      "id": "RomanizeTextRequest",
      "properties": {
        "contents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The content of the input in string format."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response."
        }
      }
    },
    "TranslateTextGlossaryConfig": {
      "type": "object",
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "id": "TranslateTextGlossaryConfig",
      "properties": {
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
        },
        "contextualTranslationEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, the glossary will be used for contextual translation."
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "RomanizeTextResponse": {
      "description": "The response message for synchronous romanization.",
      "type": "object",
      "id": "RomanizeTextResponse",
      "properties": {
        "romanizations": {
          "items": {
            "$ref": "Romanization"
          },
          "description": "Text romanization responses. This field has the same length as `contents`.",
          "type": "array"
        }
      }
    },
    "InputConfig": {
      "id": "InputConfig",
      "properties": {
        "mimeType": {
          "description": "Optional. Can be \"text/plain\" or \"text/html\". For `.tsv`, \"text/html\" is used if mime_type is missing. For `.html`, this field must be \"text/html\" or empty. For `.txt`, this field must be \"text/plain\" or empty.",
          "type": "string"
        },
        "gcsSource": {
          "description": "Required. Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.tsv`) or a wildcard (for example, `gs://translation-test/*`). If a file extension is `.tsv`, it can contain either one or two columns. The first column (optional) is the id of the text request. If the first column is missing, we use the row number (0-based) from the input file as the ID in the output file. The second column is the actual text to be translated. We recommend each row be <= 10K Unicode codepoints, otherwise an error might be returned. Note that the input tsv must be RFC 4180 compliant. You could use https://github.com/Clever/csvlint to check potential formatting errors in your tsv file. csvlint --delimiter='\\t' your_input_file.tsv The other supported file extensions are `.txt` or `.html`, which is treated as a single large chunk of text.",
          "$ref": "GcsSource"
        }
      },
      "description": "Input configuration for BatchTranslateText request.",
      "type": "object"
    },
    "DocumentInputConfig": {
      "id": "DocumentInputConfig",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Document's content represented as a stream of bytes."
        },
        "mimeType": {
          "type": "string",
          "description": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location. This must be a single file. For example: gs://example_bucket/example_file.pdf",
          "$ref": "GcsSource"
        }
      },
      "description": "A document translation request input config.",
      "type": "object"
    },
    "BatchTranslateTextRequest": {
      "description": "The batch translation request.",
      "type": "object",
      "id": "BatchTranslateTextRequest",
      "properties": {
        "targetLanguageCodes": {
          "type": "array",
          "description": "Required. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        },
        "sourceLanguageCode": {
          "description": "Required. Source language code. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "inputConfigs": {
          "items": {
            "$ref": "InputConfig"
          },
          "type": "array",
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size should be <= 100M Unicode codepoints. The files must use UTF-8 encoding."
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "OutputConfig"
        },
        "glossaries": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          },
          "description": "Optional. Glossaries to be applied for translation. It's keyed by target language code."
        },
        "models": {
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DocumentOutputConfig": {
      "id": "DocumentOutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Optional. Google Cloud Storage destination for the translation output, e.g., `gs://my_bucket/my_directory/`. The destination directory provided does not have to be empty, but the bucket must exist. If a file with the same name as the output file already exists in the destination an error will be returned. For a DocumentInputConfig.contents provided document, the output file will have the name \"output_[trg]_translations.[ext]\", where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. For a DocumentInputConfig.gcs_uri provided document, the output file will have a name according to its URI. For example: an input file with URI: `gs://a/b/c.[extension]` stored in a gcs_destination bucket with name \"my_bucket\" will have an output URI: `gs://my_bucket/a_b_c_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If the document was directly provided through the request, then the output document will have the format: `gs://my_bucket/translated_document_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If a glossary was provided, then the output URI for the glossary translation will be equal to the default output URI but have `glossary_translations` instead of `translations`. For the previous example, its glossary URI would be: `gs://my_bucket/a_b_c_[trg]_glossary_translations.[ext]`. Thus the max number of output files will be 2 (Translated document, Glossary translated document). Callers should expect no partial outputs. If there is any error during document translation, no output will be stored in the Cloud Storage bucket.",
          "$ref": "GcsDestination"
        },
        "mimeType": {
          "description": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "type": "string"
        }
      },
      "description": "A document translation request output config.",
      "type": "object"
    },
    "BatchDocumentOutputConfig": {
      "id": "BatchDocumentOutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input document (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateDocumentRequest). While the input documents are being processed, we write/update an index file `index.csv` under `gcs_destination.output_uri_prefix` (for example, gs://translation_output/index.csv) The index file is generated/updated as new files are being translated. The format is: input_document,target_language_code,translation_output,error_output, glossary_translation_output,glossary_error_output `input_document` is one file we matched using gcs_source.input_uri. `target_language_code` is provided in the request. `translation_output` contains the translations. (details provided below) `error_output` contains the error message during processing of the file. Both translations_file and errors_file could be empty strings if we have no content to output. `glossary_translation_output` and `glossary_error_output` are the translated output/error when we apply glossaries. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The naming format of translation output files follows (for target language code [trg]): `translation_output`: `gs://translation_output/a_b_c_[trg]_translation.[extension]` `glossary_translation_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.[extension]`. The output document will maintain the same file format as the input document. The naming format of error output files follows (for target language code [trg]): `error_output`: `gs://translation_test/a_b_c_[trg]_errors.txt` `glossary_error_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.txt`. The error output is a txt file containing error details.",
          "$ref": "GcsDestination"
        }
      },
      "type": "object",
      "description": "Output configuration for BatchTranslateDocument request."
    },
    "DatasetInputConfig": {
      "type": "object",
      "description": "Input configuration for datasets.",
      "id": "DatasetInputConfig",
      "properties": {
        "inputFiles": {
          "items": {
            "$ref": "InputFile"
          },
          "description": "Files containing the sentence pairs to be imported to the dataset.",
          "type": "array"
        }
      }
    },
    "InputFile": {
      "description": "An input file.",
      "type": "object",
      "id": "InputFile",
      "properties": {
        "usage": {
          "type": "string",
          "description": "Optional. Usage of the file contents. Options are TRAIN|VALIDATION|TEST, or UNASSIGNED (by default) for auto split."
        },
        "gcsSource": {
          "description": "Google Cloud Storage file source.",
          "$ref": "GcsInputSource"
        }
      }
    },
    "Translation": {
      "id": "Translation",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language. If an error occurs during translation, this field might be excluded from the response."
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        },
        "model": {
          "type": "string",
          "description": "Only present when `model` is present in the request. `model` here is normalized to have project number. For example: If the `model` requested in TranslationTextRequest is `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
        }
      },
      "type": "object",
      "description": "A single translation response."
    },
    "GlossaryTermsPair": {
      "id": "GlossaryTermsPair",
      "properties": {
        "sourceTerm": {
          "description": "The source term is the term that will get match in the text,",
          "$ref": "GlossaryTerm"
        },
        "targetTerm": {
          "description": "The term that will replace the match source term.",
          "$ref": "GlossaryTerm"
        }
      },
      "description": "Represents a single entry for an unidirectional glossary.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GlossaryTerm": {
      "id": "GlossaryTerm",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The language for this glossary term."
        },
        "text": {
          "description": "The text for the glossary term.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a single glossary term"
    },
    "ReferenceSentencePairList": {
      "id": "ReferenceSentencePairList",
      "properties": {
        "referenceSentencePairs": {
          "items": {
            "$ref": "ReferenceSentencePair"
          },
          "description": "Reference sentence pairs.",
          "type": "array"
        }
      },
      "description": "A list of reference sentence pairs.",
      "type": "object"
    },
    "TranslateTextResponse": {
      "type": "object",
      "id": "TranslateTextResponse",
      "properties": {
        "glossaryTranslations": {
          "type": "array",
          "description": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`.",
          "items": {
            "$ref": "Translation"
          }
        },
        "translations": {
          "items": {
            "$ref": "Translation"
          },
          "description": "Text translation responses with no glossary applied. This field has the same length as `contents`.",
          "type": "array"
        }
      }
    },
    "BatchTranslateDocumentRequest": {
      "id": "BatchTranslateDocumentRequest",
      "properties": {
        "formatConversions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The file format conversion map that is applied to all input files. The map key is the original mime_type. The map value is the target mime_type of translated documents. Supported file format conversion includes: - `application/pdf` to `application/vnd.openxmlformats-officedocument.wordprocessingml.document` If nothing specified, output files will be in the same format as the original file."
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "glossaries": {
          "description": "Optional. Glossaries to be applied. It's keyed by target language code.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          }
        },
        "models": {
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is the model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pdfNativeOnly": {
          "description": "Optional. If true, only native pdf pages will be translated.",
          "type": "boolean"
        },
        "inputConfigs": {
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size to translate should be <= 100M Unicode codepoints. The files must use UTF-8 encoding.",
          "type": "array",
          "items": {
            "$ref": "BatchDocumentInputConfig"
          }
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "BatchDocumentOutputConfig"
        },
        "targetLanguageCodes": {
          "items": {
            "type": "string"
          },
          "description": "Required. The ISO-639 language code to use for translation of the input document. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "array"
        },
        "enableRotationCorrection": {
          "description": "Optional. If true, enable auto rotation correction in DVS.",
          "type": "boolean"
        },
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The BatchTranslateDocument request."
    },
    "AdaptiveMtTranslateRequest": {
      "description": "The request for sending an AdaptiveMt translation query.",
      "type": "object",
      "id": "AdaptiveMtTranslateRequest",
      "properties": {
        "dataset": {
          "description": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`",
          "type": "string"
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "GlossaryConfig"
        },
        "content": {
          "items": {
            "type": "string"
          },
          "description": "Required. The content of the input in string format.",
          "type": "array"
        },
        "referenceSentenceConfig": {
          "description": "Configuration for caller provided reference sentences.",
          "$ref": "ReferenceSentenceConfig"
        }
      }
    },
    "GlossaryConfig": {
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "type": "object",
      "id": "GlossaryConfig",
      "properties": {
        "contextualTranslationEnabled": {
          "description": "Optional. If set to true, the glossary will be used for contextual translation.",
          "type": "boolean"
        },
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        },
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        }
      }
    },
    "ReferenceSentenceConfig": {
      "description": "Message of caller-provided reference configuration.",
      "type": "object",
      "id": "ReferenceSentenceConfig",
      "properties": {
        "referenceSentencePairLists": {
          "items": {
            "$ref": "ReferenceSentencePairList"
          },
          "type": "array",
          "description": "Reference sentences pair lists. Each list will be used as the references to translate the sentence under \"content\" field at the corresponding index. Length of the list is required to be equal to the length of \"content\" field."
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Target language code."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Source language code."
        }
      }
    },
    "TranslateTextRequest": {
      "type": "object",
      "description": "The request message for synchronous translation.",
      "id": "TranslateTextRequest",
      "properties": {
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code to use for translation of the input text, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, - Translation LLM models: `projects/{project-number-or-id}/locations/{location-id}/models/general/translation-llm`, For global (non-regionalized) requests, use `location-id` `global`. For example, `projects/{project-number-or-id}/locations/global/models/general/nmt`. If not provided, the default Google model (NMT) will be used",
          "type": "string"
        },
        "mimeType": {
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\".",
          "type": "string"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response."
        },
        "transliterationConfig": {
          "description": "Optional. Transliteration to be applied.",
          "$ref": "TransliterationConfig"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        },
        "contents": {
          "description": "Required. The content of the input in string format. We recommend the total content be less than 30,000 codepoints. The max length of this field is 1024. Use BatchTranslateText for larger text.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        }
      }
    },
    "RefinementEntry": {
      "type": "object",
      "description": "A single refinement entry for RefineTextRequest.",
      "id": "RefinementEntry",
      "properties": {
        "sourceText": {
          "type": "string",
          "description": "Required. The source text to be refined."
        },
        "originalTranslation": {
          "type": "string",
          "description": "Required. The original translation of the source text."
        }
      }
    },
    "ListGlossariesResponse": {
      "id": "ListGlossariesResponse",
      "properties": {
        "glossaries": {
          "description": "The list of glossaries for a project.",
          "type": "array",
          "items": {
            "$ref": "Glossary"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results."
        }
      },
      "description": "Response message for ListGlossaries.",
      "type": "object"
    },
    "GlossaryEntry": {
      "id": "GlossaryEntry",
      "properties": {
        "description": {
          "description": "Describes the glossary entry.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`"
        },
        "termsSet": {
          "description": "Used for an equivalent term sets glossary.",
          "$ref": "GlossaryTermsSet"
        },
        "termsPair": {
          "description": "Used for an unidirectional glossary.",
          "$ref": "GlossaryTermsPair"
        }
      },
      "description": "Represents a single entry in a glossary.",
      "type": "object"
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Required. The bucket used in 'output_uri_prefix' must exist and there must be no files under 'output_uri_prefix'. 'output_uri_prefix' must end with \"/\" and start with \"gs://\". One 'output_uri_prefix' can only be used by one batch translation job at a time. Otherwise an INVALID_ARGUMENT (400) error is returned."
        }
      },
      "description": "The Google Cloud Storage location for the output content.",
      "type": "object"
    },
    "ListExamplesResponse": {
      "type": "object",
      "description": "Response message for ListExamples.",
      "id": "ListExamplesResponse",
      "properties": {
        "examples": {
          "description": "The sentence pairs.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListExamplesRequest to obtain the corresponding page."
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WaitOperationRequest": {
      "id": "WaitOperationRequest",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "The request message for Operations.WaitOperation.",
      "type": "object"
    },
    "TranslateDocumentRequest": {
      "id": "TranslateDocumentRequest",
      "properties": {
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "enableRotationCorrection": {
          "description": "Optional. If true, enable auto rotation correction in DVS.",
          "type": "boolean"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model."
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation.",
          "type": "string"
        },
        "isTranslateNativePdfOnly": {
          "description": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated.",
          "type": "boolean"
        },
        "documentInputConfig": {
          "description": "Required. Input configurations.",
          "$ref": "DocumentInputConfig"
        },
        "customizedAttribution": {
          "type": "string",
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "documentOutputConfig": {
          "description": "Optional. Output configurations. Defines if the output file should be stored within Cloud Storage as well as the desired output format. If not provided the translated file will only be returned through a byte-stream and its output mime type will be the same as the input file's mime type.",
          "$ref": "DocumentOutputConfig"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        }
      },
      "type": "object",
      "description": "A document translation request."
    },
    "RefineTextRequest": {
      "description": "Request message for RefineText.",
      "type": "object",
      "id": "RefineTextRequest",
      "properties": {
        "refinementEntries": {
          "description": "Required. The source texts and original translations in the source and target languages.",
          "type": "array",
          "items": {
            "$ref": "RefinementEntry"
          }
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\"."
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\"."
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "properties": {
        "exampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of examples in the dataset.",
          "readOnly": true
        },
        "testExampleCount": {
          "description": "Output only. Number of test examples (sentence pairs).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the source language."
        },
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`",
          "type": "string"
        },
        "validateExampleCount": {
          "description": "Output only. Number of validation examples (sentence pairs).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "targetLanguageCode": {
          "description": "The BCP-47 language code of the target language.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
        },
        "trainExampleCount": {
          "description": "Output only. Number of training examples (sentence pairs).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A dataset that hosts the examples (sentence pairs) used for translation models."
    },
    "AdaptiveMtSentence": {
      "description": "An AdaptiveMt sentence entry.",
      "type": "object",
      "id": "AdaptiveMtSentence",
      "properties": {
        "targetSentence": {
          "description": "Required. The target sentence.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}/adaptiveMtSentences/{sentence}`"
        },
        "sourceSentence": {
          "description": "Required. The source sentence.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this sentence was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this sentence was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GcsSource": {
      "type": "object",
      "description": "The Google Cloud Storage location for the input content.",
      "id": "GcsSource",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
        }
      }
    },
    "ExportDataRequest": {
      "id": "ExportDataRequest",
      "properties": {
        "outputConfig": {
          "description": "Required. The config for the output content.",
          "$ref": "DatasetOutputConfig"
        }
      },
      "description": "Request message for ExportData.",
      "type": "object"
    },
    "DetectLanguageResponse": {
      "id": "DetectLanguageResponse",
      "properties": {
        "languages": {
          "type": "array",
          "description": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result.",
          "items": {
            "$ref": "DetectedLanguage"
          }
        }
      },
      "description": "The response message for language detection.",
      "type": "object"
    },
    "DatasetOutputConfig": {
      "type": "object",
      "description": "Output configuration for datasets.",
      "id": "DatasetOutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination to write the output.",
          "$ref": "GcsOutputDestination"
        }
      }
    },
    "Example": {
      "id": "Example",
      "properties": {
        "targetText": {
          "description": "Sentence in target language.",
          "type": "string"
        },
        "usage": {
          "description": "Output only. Usage of the sentence pair. Options are TRAIN|VALIDATION|TEST.",
          "readOnly": true,
          "type": "string"
        },
        "sourceText": {
          "description": "Sentence in source language.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the example, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}/examples/{example_id}`",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A sentence pair."
    },
    "SupportedLanguages": {
      "description": "The response message for discovering supported languages.",
      "type": "object",
      "id": "SupportedLanguages",
      "properties": {
        "languages": {
          "items": {
            "$ref": "SupportedLanguage"
          },
          "description": "A list of supported language responses. This list contains an entry for each language the Translation API supports.",
          "type": "array"
        }
      }
    },
    "AdaptiveMtTranslation": {
      "id": "AdaptiveMtTranslation",
      "properties": {
        "translatedText": {
          "description": "Output only. The translated text.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An AdaptiveMt translation.",
      "type": "object"
    },
    "Glossary": {
      "description": "Represents a glossary built from user-provided data.",
      "type": "object",
      "id": "Glossary",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Provides examples to build the glossary from. Total glossary must not exceed 10M Unicode codepoints.",
          "$ref": "GlossaryInputConfig"
        },
        "languagePair": {
          "description": "Used with unidirectional glossaries.",
          "$ref": "LanguageCodePair"
        },
        "languageCodesSet": {
          "description": "Used with equivalent term set glossaries.",
          "$ref": "LanguageCodesSet"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the glossary creation was finished.",
          "readOnly": true
        },
        "entryCount": {
          "description": "Output only. The number of entries defined in the glossary.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "Optional. The display name of the glossary.",
          "type": "string"
        },
        "submitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When CreateGlossary was called.",
          "readOnly": true
        }
      }
    },
    "GlossaryTermsSet": {
      "type": "object",
      "description": "Represents a single entry for an equivalent term set glossary. This is used for equivalent term sets where each term can be replaced by the other terms in the set.",
      "id": "GlossaryTermsSet",
      "properties": {
        "terms": {
          "items": {
            "$ref": "GlossaryTerm"
          },
          "description": "Each term in the set represents a term that can be replaced by the other terms.",
          "type": "array"
        }
      }
    },
    "OutputConfig": {
      "id": "OutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`",
          "$ref": "GcsDestination"
        }
      },
      "description": "Output configuration for BatchTranslateText request.",
      "type": "object"
    },
    "ListAdaptiveMtFilesResponse": {
      "id": "ListAdaptiveMtFilesResponse",
      "properties": {
        "adaptiveMtFiles": {
          "type": "array",
          "description": "Output only. The Adaptive MT files.",
          "readOnly": true,
          "items": {
            "$ref": "AdaptiveMtFile"
          }
        },
        "nextPageToken": {
          "description": "Optional. A token to retrieve a page of results. Pass this value in the ListAdaptiveMtFilesRequest.page_token field in the subsequent call to `ListAdaptiveMtFiles` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "The response for listing all AdaptiveMt files under a given dataset.",
      "type": "object"
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "type": "object",
      "id": "DetectLanguageRequest",
      "properties": {
        "documentInputConfig": {
          "description": "Optional. The document configuration of the input.",
          "$ref": "DocumentInputConfig"
        },
        "content": {
          "type": "string",
          "description": "The content of the input stored as a string."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        },
        "model": {
          "description": "Optional. The language detection model to be used. Format: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/{model-id}` Only one language detection model is currently supported: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/default`. If not specified, the default model is used.",
          "type": "string"
        },
        "mimeType": {
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\".",
          "type": "string"
        }
      }
    },
    "ImportAdaptiveMtFileRequest": {
      "id": "ImportAdaptiveMtFileRequest",
      "properties": {
        "gcsInputSource": {
          "description": "Google Cloud Storage file source.",
          "$ref": "GcsInputSource"
        },
        "fileInputSource": {
          "description": "Inline file source.",
          "$ref": "FileInputSource"
        }
      },
      "type": "object",
      "description": "The request for importing an AdaptiveMt file along with its sentences."
    },
    "Romanization": {
      "id": "Romanization",
      "properties": {
        "romanizedText": {
          "type": "string",
          "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response."
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        }
      },
      "type": "object",
      "description": "A single romanization response."
    },
    "RefineTextResponse": {
      "description": "Response message for RefineText.",
      "type": "object",
      "id": "RefineTextResponse",
      "properties": {
        "refinedTranslations": {
          "description": "The refined translations obtained from the original translations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Model": {
      "id": "Model",
      "properties": {
        "testExampleCount": {
          "description": "Output only. Number of examples (sentence pairs) used to test the model.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Output only. The BCP-47 language code of the source language.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when the model resource was created, which is also when the training started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "dataset": {
          "type": "string",
          "description": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Output only. The BCP-47 language code of the target language.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
        },
        "trainExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples (sentence pairs) used to train the model.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when this model was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "validateExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples (sentence pairs) used to validate the model.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
        }
      },
      "type": "object",
      "description": "A trained translation model."
    },
    "DetectedLanguage": {
      "id": "DetectedLanguage",
      "properties": {
        "languageCode": {
          "description": "The ISO-639 language code of the source content in the request, detected automatically.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The confidence of the detection result for this language."
        }
      },
      "description": "The response message for language detection.",
      "type": "object"
    },
    "TransliterationConfig": {
      "description": "Configures transliteration feature on top of translation.",
      "type": "object",
      "id": "TransliterationConfig",
      "properties": {
        "enableTransliteration": {
          "type": "boolean",
          "description": "If true, source text in romanized form can be translated to the target language."
        }
      }
    },
    "ListModelsResponse": {
      "type": "object",
      "description": "Response message for ListModels.",
      "id": "ListModelsResponse",
      "properties": {
        "models": {
          "description": "The models read.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListModelsRequest to obtain the corresponding page."
        }
      }
    },
    "ImportDataRequest": {
      "description": "Request message for ImportData.",
      "type": "object",
      "id": "ImportDataRequest",
      "properties": {
        "inputConfig": {
          "description": "Required. The config for the input content.",
          "$ref": "DatasetInputConfig"
        }
      }
    },
    "ListGlossaryEntriesResponse": {
      "description": "Response message for ListGlossaryEntries",
      "type": "object",
      "id": "ListGlossaryEntriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListGLossaryEntriesRequest.page_token] field in the subsequent calls.",
          "type": "string"
        },
        "glossaryEntries": {
          "items": {
            "$ref": "GlossaryEntry"
          },
          "type": "array",
          "description": "Optional. The Glossary Entries"
        }
      }
    },
    "AdaptiveMtFile": {
      "id": "AdaptiveMtFile",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
          "type": "string"
        },
        "displayName": {
          "description": "The file's display name.",
          "type": "string"
        },
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of entries that the file contains."
        },
        "createTime": {
          "description": "Output only. Timestamp when this file was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this file was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "An AdaptiveMtFile.",
      "type": "object"
    },
    "GcsOutputDestination": {
      "type": "object",
      "description": "The Google Cloud Storage location for the output content.",
      "id": "GcsOutputDestination",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Required. Google Cloud Storage URI to output directory. For example, `gs://bucket/directory`. The requesting user must have write permission to the bucket. The directory will be created if it doesn't exist."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "GlossaryInputConfig": {
      "description": "Input configuration for glossaries.",
      "type": "object",
      "id": "GlossaryInputConfig",
      "properties": {
        "gcsSource": {
          "description": "Required. Google Cloud Storage location of glossary data. File format is determined based on the filename extension. API returns [google.rpc.Code.INVALID_ARGUMENT] for unsupported URI-s and file formats. Wildcards are not allowed. This must be a single file in one of the following formats: For unidirectional glossaries: - TSV/CSV (`.tsv`/`.csv`): Two column file, tab- or comma-separated. The first column is source text. The second column is target text. No headers in this file. The first row contains data and not column names. - TMX (`.tmx`): TMX file with parallel data defining source/target term pairs. For equivalent term sets glossaries: - CSV (`.csv`): Multi-column CSV file defining equivalent glossary terms in multiple languages. See documentation for more information - [glossaries](https://cloud.google.com/translate/docs/advanced/glossary).",
          "$ref": "GcsSource"
        }
      }
    },
    "ListDatasetsResponse": {
      "description": "Response message for ListDatasets.",
      "type": "object",
      "id": "ListDatasetsResponse",
      "properties": {
        "datasets": {
          "items": {
            "$ref": "Dataset"
          },
          "type": "array",
          "description": "The datasets read."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page.",
          "type": "string"
        }
      }
    },
    "ImportAdaptiveMtFileResponse": {
      "description": "The response for importing an AdaptiveMtFile",
      "type": "object",
      "id": "ImportAdaptiveMtFileResponse",
      "properties": {
        "adaptiveMtFile": {
          "description": "Output only. The Adaptive MT file that was imported.",
          "readOnly": true,
          "$ref": "AdaptiveMtFile"
        }
      }
    },
    "SupportedLanguage": {
      "type": "object",
      "description": "A single supported language response corresponds to information related to one supported language.",
      "id": "SupportedLanguage",
      "properties": {
        "displayName": {
          "description": "Human-readable name of the language localized in the display language specified in the request.",
          "type": "string"
        },
        "supportSource": {
          "description": "Can be used as a source language.",
          "type": "boolean"
        },
        "supportTarget": {
          "type": "boolean",
          "description": "Can be used as a target language."
        },
        "languageCode": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1 identifier, for example, 'en', 'ja'. In certain cases, ISO-639 codes including language and region identifiers are returned (for example, 'zh-TW' and 'zh-CN')."
        }
      }
    },
    "ListAdaptiveMtSentencesResponse": {
      "description": "List AdaptiveMt sentences response.",
      "type": "object",
      "id": "ListAdaptiveMtSentencesResponse",
      "properties": {
        "adaptiveMtSentences": {
          "description": "Output only. The list of AdaptiveMtSentences.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtSentence"
          }
        },
        "nextPageToken": {
          "description": "Optional. ",
          "type": "string"
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "version": "v3",
  "resources": {
    "projects": {
      "methods": {
        "detectLanguage": {
          "httpMethod": "POST",
          "path": "v3/{+parent}:detectLanguage",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "id": "translate.projects.detectLanguage",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Detects the language of text within a request."
        },
        "romanizeText": {
          "id": "translate.projects.romanizeText",
          "parameters": {
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "request": {
            "$ref": "RomanizeTextRequest"
          },
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "httpMethod": "POST",
          "path": "v3/{+parent}:romanizeText"
        },
        "getSupportedLanguages": {
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "response": {
            "$ref": "SupportedLanguages"
          },
          "parameters": {
            "model": {
              "location": "query",
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true,
              "location": "path"
            },
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "translate.projects.getSupportedLanguages",
          "description": "Returns a list of supported languages for translation.",
          "path": "v3/{+parent}/supportedLanguages",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ]
        },
        "translateText": {
          "id": "translate.projects.translateText",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Translates input text and returns translated text.",
          "flatPath": "v3/projects/{projectsId}:translateText",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "httpMethod": "POST",
          "path": "v3/{+parent}:translateText"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "detectLanguage": {
              "description": "Detects the language of text within a request.",
              "parameters": {
                "parent": {
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.detectLanguage",
              "request": {
                "$ref": "DetectLanguageRequest"
              },
              "response": {
                "$ref": "DetectLanguageResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}:detectLanguage",
              "httpMethod": "POST"
            },
            "getSupportedLanguages": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}/supportedLanguages",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true
                },
                "displayLanguageCode": {
                  "type": "string",
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
                  "location": "query"
                },
                "model": {
                  "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.getSupportedLanguages",
              "description": "Returns a list of supported languages for translation.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "response": {
                "$ref": "SupportedLanguages"
              }
            },
            "adaptiveMtTranslate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "httpMethod": "POST",
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "description": "Translate text using Adaptive MT.",
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate"
            },
            "romanizeText": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "response": {
                "$ref": "RomanizeTextResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.romanizeText",
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "path": "v3/{+parent}:romanizeText",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "batchTranslateDocument": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "httpMethod": "POST",
              "path": "v3/{+parent}:batchTranslateDocument",
              "id": "translate.projects.locations.batchTranslateDocument",
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument",
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "get": {
              "path": "v3/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "translate.projects.locations.get"
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "id": "translate.projects.locations.list",
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "httpMethod": "GET",
              "path": "v3/{+name}/locations"
            },
            "translateDocument": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}:translateDocument",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.translateDocument",
              "description": "Translates documents in synchronous mode.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "response": {
                "$ref": "TranslateDocumentResponse"
              }
            },
            "batchTranslateText": {
              "path": "v3/{+parent}:batchTranslateText",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
[...]
